IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'TEN_MAY') UPDATE LANGUAGES SET VIETNAM=N'Tên thiết bị', ENGLISH=N'Equipment name', VIETNAM_OR=N'Tên thiết bị', ENGLISH_OR=N'Equipment name' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'TEN_MAY' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'TEN_MAY',N'Tên thiết bị',N'Equipment name',N'Tên thiết bị',N'Equipment name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'LIFE_TIME') UPDATE LANGUAGES SET VIETNAM=N'Life time', ENGLISH=N'Life time', VIETNAM_OR=N'Life time', ENGLISH_OR=N'Life time' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'LIFE_TIME' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'LIFE_TIME',N'Life time',N'Life time',N'Life time',N'Life time')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'BUYING_NEW') UPDATE LANGUAGES SET VIETNAM=N'Buying new', ENGLISH=N'Buying new', VIETNAM_OR=N'Buying new', ENGLISH_OR=N'Buying new' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'BUYING_NEW' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'BUYING_NEW',N'Buying new',N'Buying new',N'Buying new',N'Buying new')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'REPLACING_FOR') UPDATE LANGUAGES SET VIETNAM=N'Replacing for', ENGLISH=N'Replacing for', VIETNAM_OR=N'Replacing for', ENGLISH_OR=N'Replacing for' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'REPLACING_FOR' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'REPLACING_FOR',N'Replacing for',N'Replacing for',N'Replacing for',N'Replacing for')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'SPARE') UPDATE LANGUAGES SET VIETNAM=N'Spare', ENGLISH=N'Spare', VIETNAM_OR=N'Spare', ENGLISH_OR=N'Spare' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'SPARE' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'SPARE',N'Spare',N'Spare',N'Spare',N'Spare')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'MAINTENANCE') UPDATE LANGUAGES SET VIETNAM=N'Maintenance', ENGLISH=N'Maintenance', VIETNAM_OR=N'Maintenance', ENGLISH_OR=N'Maintenance' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'MAINTENANCE' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'MAINTENANCE',N'Maintenance',N'Maintenance',N'Maintenance',N'Maintenance')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'BY_WHOM') UPDATE LANGUAGES SET VIETNAM=N'By whom', ENGLISH=N'By whom', VIETNAM_OR=N'By whom', ENGLISH_OR=N'By whom' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'BY_WHOM' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'BY_WHOM',N'By whom',N'By whom',N'By whom',N'By whom')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'TRANSFER_TO') UPDATE LANGUAGES SET VIETNAM=N'Transfer to', ENGLISH=N'Transfer to', VIETNAM_OR=N'Transfer to', ENGLISH_OR=N'Transfer to' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'TRANSFER_TO' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'TRANSFER_TO',N'Transfer to',N'Transfer to',N'Transfer to',N'Transfer to')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'TEN_DICH_VU') UPDATE LANGUAGES SET VIETNAM=N'Đề xuất dịch vụ', ENGLISH=N'Services Request', VIETNAM_OR=N'Đề xuất dịch vụ', ENGLISH_OR=N'Services Request' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'TEN_DICH_VU' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'TEN_DICH_VU',N'Đề xuất dịch vụ',N'Services Request',N'Đề xuất dịch vụ',N'Services Request')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'QUALITY') UPDATE LANGUAGES SET VIETNAM=N'Quality', ENGLISH=N'Quality', VIETNAM_OR=N'Quality', ENGLISH_OR=N'Quality' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'QUALITY' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'QUALITY',N'Quality',N'Quality',N'Quality',N'Quality')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'No') UPDATE LANGUAGES SET VIETNAM=N'No', ENGLISH=N'No', VIETNAM_OR=N'No', ENGLISH_OR=N'No' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'No' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'No',N'No',N'No',N'No',N'No')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'lblMauCode') UPDATE LANGUAGES SET VIETNAM=N'Mã số', ENGLISH=N'MauCode', VIETNAM_OR=N'Mã số', ENGLISH_OR=N'MauCode' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'lblMauCode' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'lblMauCode',N'Mã số',N'MauCode',N'Mã số',N'MauCode')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'lblNgayBanHanh') UPDATE LANGUAGES SET VIETNAM=N'Ngày ban hành', ENGLISH=N'Issued date', VIETNAM_OR=N'Ngày ban hành', ENGLISH_OR=N'Issued date' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'lblNgayBanHanh' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'lblNgayBanHanh',N'Ngày ban hành',N'Issued date',N'Ngày ban hành',N'Issued date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'lblPage') UPDATE LANGUAGES SET VIETNAM=N'Trang', ENGLISH=N'Page', VIETNAM_OR=N'Trang', ENGLISH_OR=N'Page' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'lblPage' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'lblPage',N'Trang',N'Page',N'Trang',N'Page')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'MauCode') UPDATE LANGUAGES SET VIETNAM=N'F-QP/16-PU-06', ENGLISH=N'F-QP/16-PU-06', VIETNAM_OR=N'F-QP/16-PU-06', ENGLISH_OR=N'F-QP/16-PU-06' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'MauCode' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'MauCode',N'F-QP/16-PU-06',N'F-QP/16-PU-06',N'F-QP/16-PU-06',N'F-QP/16-PU-06')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'NgayBanHanh') UPDATE LANGUAGES SET VIETNAM=N'12/09/2013', ENGLISH=N'12/09/2013', VIETNAM_OR=N'12/09/2013', ENGLISH_OR=N'12/09/2013' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'NgayBanHanh' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'NgayBanHanh',N'12/09/2013',N'12/09/2013',N'12/09/2013',N'12/09/2013')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'Page') UPDATE LANGUAGES SET VIETNAM=N'01', ENGLISH=N'01', VIETNAM_OR=N'01', ENGLISH_OR=N'01' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'Page' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'Page',N'01',N'01',N'01',N'01')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'lblReQuestPurchase') UPDATE LANGUAGES SET VIETNAM=N'REQUEST OF PURCHASE', ENGLISH=N'REQUEST OF PURCHASE', VIETNAM_OR=N'REQUEST OF PURCHASE', ENGLISH_OR=N'REQUEST OF PURCHASE' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'lblReQuestPurchase' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'lblReQuestPurchase',N'REQUEST OF PURCHASE',N'REQUEST OF PURCHASE',N'REQUEST OF PURCHASE',N'REQUEST OF PURCHASE')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'lblItem') UPDATE LANGUAGES SET VIETNAM=N'Item', ENGLISH=N'Item', VIETNAM_OR=N'Item', ENGLISH_OR=N'Item' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'lblItem' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'lblItem',N'Item',N'Item',N'Item',N'Item')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'lblPurpose') UPDATE LANGUAGES SET VIETNAM=N'Purpose', ENGLISH=N'Purpose', VIETNAM_OR=N'Purpose', ENGLISH_OR=N'Purpose' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'lblPurpose' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'lblPurpose',N'Purpose',N'Purpose',N'Purpose',N'Purpose')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'lblApplication') UPDATE LANGUAGES SET VIETNAM=N'Application', ENGLISH=N'Application', VIETNAM_OR=N'Application', ENGLISH_OR=N'Application' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'lblApplication' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'lblApplication',N'Application',N'Application',N'Application',N'Application')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'lblAllModule') UPDATE LANGUAGES SET VIETNAM=N'All Module', ENGLISH=N'All Module', VIETNAM_OR=N'All Module', ENGLISH_OR=N'All Module' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'lblAllModule' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'lblAllModule',N'All Module',N'All Module',N'All Module',N'All Module')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'lblDepartmentManager') UPDATE LANGUAGES SET VIETNAM=N'Department Manager', ENGLISH=N'Department Manager', VIETNAM_OR=N'Department Manager', ENGLISH_OR=N'Department Manager' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'lblDepartmentManager' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'lblDepartmentManager',N'Department Manager',N'Department Manager',N'Department Manager',N'Department Manager')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'TieuDe') UPDATE LANGUAGES SET VIETNAM=N'VINA ECO BOARD CO., LTD.', ENGLISH=N'VINA ECO BOARD CO., LTD.', VIETNAM_OR=N'VINA ECO BOARD CO., LTD.', ENGLISH_OR=N'VINA ECO BOARD CO., LTD.' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'TieuDe' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'TieuDe',N'VINA ECO BOARD CO., LTD.',N'VINA ECO BOARD CO., LTD.',N'VINA ECO BOARD CO., LTD.',N'VINA ECO BOARD CO., LTD.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'SL_DE_XUAT') UPDATE LANGUAGES SET VIETNAM=N'Số lượng đề xuất', ENGLISH=N'Units 
No.', VIETNAM_OR=N'Số lượng đề xuất', ENGLISH_OR=N'Units 
No.' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'SL_DE_XUAT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'SL_DE_XUAT',N'Số lượng đề xuất',N'Units 
No.',N'Số lượng đề xuất',N'Units 
No.')
