IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_Y_GET_DE_XUAT_MUA_HANG_DICH_VU_VECO')
   exec('CREATE PROCEDURE SP_Y_GET_DE_XUAT_MUA_HANG_DICH_VU_VECO AS BEGIN SET NOCOUNT ON; END')
GO

ALTER procedure [dbo].[SP_Y_GET_DE_XUAT_MUA_HANG_DICH_VU_VECO]
as
begin
      select MS_DE_XUAT,MS_DICH_VU,TEN_DICH_VU,DVT,SL_DE_XUAT,DON_GIA,NGOAI_TE,TY_GIA,
      TY_GIA_USD,THANH_TIEN,THANH_TIEN_VND,THANH_TIEN_USD,GHI_CHU, NGAY_DX, LY_DO, DUONG_DAN_TL, NHA_CUNG_CAP,
	  NGAY_GIAO_HANG, TEN_N_XUONG , TEN_MAY, LIFE_TIME, BUYING_NEW, REPLACING_FOR, SPARE, MAINTENANCE, BY_WHOM, TRANSFER_TO , IMAGES
      from DE_XUAT_MUA_HANG_DICH_VU ORDER BY MS_DE_XUAT,MS_DICH_VU,TEN_DICH_VU
end
