




IF NOT EXISTS (SELECT * FROM TRANG_THAI WHERE MS_TRANG_THAI = 1)
BEGIN
	Set IDENTITY_INSERT TRANG_THAI ON
	INSERT [dbo].[TRANG_THAI] ([MS_TRANG_THAI], [TEN_TRANG_THAI], [TEN_TRANG_THAI_A]) VALUES (1, N'Làm việc', NULL)
	INSERT [dbo].[TRANG_THAI] ([MS_TRANG_THAI], [TEN_TRANG_THAI], [TEN_TRANG_THAI_A]) VALUES (2, N'Ngưng máy', NULL)
	INSERT [dbo].[TRANG_THAI] ([MS_TRANG_THAI], [TEN_TRANG_THAI], [TEN_TRANG_THAI_A]) VALUES (3, N'Bảo trì', NULL)
	Set IDENTITY_INSERT TRANG_THAI OFF	
END
IF NOT EXISTS (SELECT * FROM TRANG_THAI_DX WHERE MS_TT = 0)
BEGIN


	INSERT [dbo].[TRANG_THAI_DX] ([MS_TT], [TEN_TT]) VALUES (0, N'Chưa nhập')
	INSERT [dbo].[TRANG_THAI_DX] ([MS_TT], [TEN_TT]) VALUES (1, N'Nhập chưa đủ')
	INSERT [dbo].[TRANG_THAI_DX] ([MS_TT], [TEN_TT]) VALUES (2, N'Đã nhập đủ')
	
END