
if  exists(select * from sys.columns 
            where Object_ID = Object_ID(N'TRANSFER_TO'))
begin   
	DROP TABLE [dbo].[TRANSFER_TO]
END  

GO

CREATE TABLE [dbo].[TRANSFER_TO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TRANSFER_TO_NAME] [nvarchar](250) NULL,
 CONSTRAINT [PK_TRANSFER_TO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
