
----05/2014----
--exec GetDANH_SACH_KE_HOACH_TONG_THE_CONG_VIECs 'BHCA-04',22,'administrator','WO-201009001'
	   
ALTER PROCEDURE [dbo].[GetDANH_SACH_KE_HOACH_TONG_THE_CONG_VIECs]
@MS_MAY NVARCHAR(30),
@HANG_MUC_ID INTEGER,
@USERNAME NVARCHAR(50),
@MS_PHIEU_BAO_TRI NVARCHAR(20)

 AS
  
 --DECLARE @MS_MAY NVARCHAR(100)
 --SET @MS_MAY = (SELECT TOP 1 MS_MAY FROM PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)

SELECT  DISTINCT   dbo.KE_HOACH_TONG_CONG_VIEC.HANG_MUC_ID, dbo.KE_HOACH_TONG_CONG_VIEC.MS_CV, dbo.CONG_VIEC.MO_TA_CV AS MA_CV, 
                      dbo.KE_HOACH_TONG_CONG_VIEC.MS_BO_PHAN, dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN, dbo.KE_HOACH_TONG_CONG_VIEC.MS_MAY, 
                      dbo.CHUYEN_MON.TEN_CHUYEN_MON, dbo.BAC_THO.TEN_BAC_THO, dbo.BAC_THO.MS_BAC_THO,dbo.CONG_VIEC.THOI_GIAN_DU_KIEN ,
                      dbo.CONG_VIEC.THAO_TAC, dbo.CONG_VIEC.TIEU_CHUAN_KT,dbo.CONG_VIEC.PATH_HD, 
                      dbo.CONG_VIEC.SO_NGUOI,dbo.CONG_VIEC.YEU_CAU_NS,dbo.CONG_VIEC.YEU_CAU_DUNG_CU
FROM         dbo.KE_HOACH_TONG_CONG_VIEC INNER JOIN
                      dbo.CONG_VIEC ON dbo.KE_HOACH_TONG_CONG_VIEC.MS_CV = dbo.CONG_VIEC.MS_CV INNER JOIN
                      dbo.LOAI_CONG_VIEC ON dbo.CONG_VIEC.MS_LOAI_CV = dbo.LOAI_CONG_VIEC.MS_LOAI_CV INNER JOIN
                      dbo.NHOM_LOAI_CONG_VIEC ON dbo.LOAI_CONG_VIEC.MS_LOAI_CV = dbo.NHOM_LOAI_CONG_VIEC.MS_LOAI_CV INNER JOIN
                      dbo.NHOM ON dbo.NHOM_LOAI_CONG_VIEC.GROUP_ID = dbo.NHOM.GROUP_ID INNER JOIN
                      dbo.USERS ON dbo.NHOM.GROUP_ID = dbo.USERS.GROUP_ID LEFT JOIN
                      dbo.CHUYEN_MON ON dbo.CONG_VIEC.MS_CHUYEN_MON = dbo.CHUYEN_MON.MS_CHUYEN_MON LEFT JOIN
                      dbo.BAC_THO ON dbo.CONG_VIEC.MS_BAC_THO = dbo.BAC_THO.MS_BAC_THO INNER JOIN
                      dbo.CAU_TRUC_THIET_BI ON dbo.KE_HOACH_TONG_CONG_VIEC.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN
		AND dbo.KE_HOACH_TONG_CONG_VIEC.MS_MAY = dbo.CAU_TRUC_THIET_BI.MS_MAY
WHERE  KHONG_GQ<>1 AND    (dbo.USERS.USERNAME= @USERNAME) AND (dbo.KE_HOACH_TONG_CONG_VIEC.MS_MAY =@MS_MAY) AND (dbo.KE_HOACH_TONG_CONG_VIEC.HANG_MUC_ID =@HANG_MUC_ID)
and (KE_HOACH_TONG_CONG_VIEC.MS_PHIEU_BAO_TRI is null or KE_HOACH_TONG_CONG_VIEC.MS_PHIEU_BAO_TRI='') AND KE_HOACH_TONG_CONG_VIEC.THUE_NGOAI<>1
 AND dbo.KE_HOACH_TONG_CONG_VIEC.MS_CV NOT IN(SELECT MS_CV FROM PHIEU_BAO_TRI_CONG_VIEC  PBT WHERE( PBT.MS_PHIEU_BAO_TRI =@MS_PHIEU_BAO_TRI)  AND PBT.MS_BO_PHAN= dbo.KE_HOACH_TONG_CONG_VIEC.MS_BO_PHAN)
