
--exec SP_Y_GET_PHU_TUNG_DE_XUAT -1
ALTER procedure [dbo].[SP_Y_GET_PHU_TUNG_DE_XUAT]
	@MS_KHO INT 
AS
BEGIN

SELECT     T1.NGAY_DUYET, T2.MS_DON_DAT_HANG, T2.MS_PT, MAX(ISNULL(T2.DON_GIA,0)) AS DON_GIA INTO #MAX_DG
				FROM         dbo.DON_DAT_HANG AS T1 INNER JOIN
								  dbo.DON_DAT_HANG_CHI_TIET AS T2 ON T1.MS_DON_DAT_HANG = T2.MS_DON_DAT_HANG
				WHERE     (T1.TRANG_THAI = 3) OR (T1.TRANG_THAI = 4)
				GROUP BY T1.NGAY_DUYET, T2.MS_DON_DAT_HANG, T2.MS_PT

SELECT  DISTINCT   A.NGAY_DUYET, B.MS_DON_DAT_HANG, B.MS_PT,  B.DON_GIA, B.NGOAI_TE, A.NHA_CUNG_CAP into #DH
			FROM         dbo.DON_DAT_HANG AS A INNER JOIN
							  dbo.DON_DAT_HANG_CHI_TIET AS B ON A.MS_DON_DAT_HANG = B.MS_DON_DAT_HANG 
			

SELECT  DISTINCT   A.NGAY_DUYET, A.MS_DON_DAT_HANG, A.MS_PT,  A.DON_GIA, A.NGOAI_TE, A.NHA_CUNG_CAP INTO #MAX_NGAY_DG
			FROM        #DH A INNER JOIN #MAX_DG C ON A.NGAY_DUYET = C.NGAY_DUYET AND A.MS_DON_DAT_HANG = A.MS_DON_DAT_HANG AND C.MS_PT = A.MS_PT
			WHERE ISNULL(C.DON_GIA,0) = ISNULL(A.DON_GIA,0)		


	SELECT TMP8.* FROM
	(
	SELECT DISTINCT MS_PT,MAX(DON_GIA_CUOI) AS DON_GIA_CUOI FROM 
	(
	SELECT DISTINCT CONVERT (BIT , 0 ) AS CHON,TMP1.MS_PT,MS_PT_CTY, TMP1.TEN_LOAI_VT_TV,TMP1.MS_PT_NCC AS PART_NO,TMP1.TEN_PT,
		TMP1.QUY_CACH, TEN_HSX,TMP1.TEN_1 AS DVT, TMP1.TON_TOI_THIEU AS TON_MIN,TMP1.TON_KHO_MAX AS TON_MAX,
		CASE WHEN TMP2.TON_KHO IS NULL THEN 0 ELSE TMP2.TON_KHO END AS TON_KHO ,
		CASE WHEN TMP3.SL_DE_XUAT IS NULL THEN 0 ELSE TMP3.SL_DE_XUAT END AS SL_DE_XUAT,
		CASE WHEN TMP4.SL_DAT_HANG IS NULL THEN 0 ELSE TMP4.SL_DAT_HANG END AS SL_DAT_HANG,
		TMP5.NGAY_DUYET AS NGAY_CUOI,TMP5.DON_GIA AS DON_GIA_CUOI , TMP5.NGOAI_TE AS NGOAI_TE_CUOI, 
		TMP5.NHA_CUNG_CAP AS NHA_CUNG_CAP_CUOI, ISNULL(SO_NGAY_DAT_MUA_HANG,0) AS SO_NGAY_DAT_MUA_HANG
	FROM 
		(
			SELECT     T3.MS_PT, T3.MS_PT_CTY, T3.MS_LOAI_VT, T4.TEN_LOAI_VT_TV, T3.MS_PT_NCC, T3.TEN_PT, T3.QUY_CACH, T2.TEN_HSX, T3.DVT, T1.TEN_1, CASE ISNULL(THEO_KHO, 0) 
								  WHEN 0 THEN T3.TON_TOI_THIEU ELSE TTT_THEO_KHO END AS TON_TOI_THIEU, CASE ISNULL(THEO_KHO, 0) 
								  WHEN 0 THEN T3.TON_KHO_MAX ELSE TTD_THEO_KHO END AS TON_KHO_MAX, ISNULL(T3.SO_NGAY_DAT_MUA_HANG, 0) AS SO_NGAY_DAT_MUA_HANG
			FROM         dbo.DON_VI_TINH AS T1 RIGHT OUTER JOIN
								  dbo.HANG_SAN_XUAT AS T2 RIGHT OUTER JOIN
								  dbo.IC_PHU_TUNG AS T3 ON T2.MS_HSX = T3.MS_HSX ON T1.DVT = T3.DVT LEFT OUTER JOIN
								  dbo.LOAI_VT AS T4 ON T3.MS_LOAI_VT = T4.MS_LOAI_VT LEFT OUTER JOIN
									  (SELECT     MS_PT, ISNULL(SUM(TON_TOI_THIEU), 0) AS TTT_THEO_KHO, ISNULL(SUM(TON_KHO_MAX), 0) AS TTD_THEO_KHO
										FROM          dbo.IC_PHU_TUNG_KHO
										WHERE      (MS_KHO = @MS_KHO) OR
															   (@MS_KHO = - 1)
										GROUP BY MS_PT) AS PTK ON T3.MS_PT = PTK.MS_PT
			WHERE     (T3.ACTIVE_PT = 1)
		) TMP1  LEFT OUTER JOIN 

	(SELECT MS_PT ,SUM( SL_VT) AS TON_KHO
	FROM dbo.VI_TRI_KHO_VAT_TU
	WHERE (MS_KHO = @MS_KHO   OR @MS_KHO = -1)
	GROUP BY MS_PT) 

	TMP2 ON TMP1.MS_PT = TMP2.MS_PT LEFT OUTER JOIN 

	(SELECT     dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT, SUM (dbo.DE_XUAT_MUA_HANG_CHI_TIET.SL_DA_DUYET - CASE WHEN dbo.DON_DAT_HANG_CHI_TIET.SL_DAT_HANG IS NULL THEN 0 ELSE dbo.DON_DAT_HANG_CHI_TIET.SL_DAT_HANG END ) AS SL_DE_XUAT                    
	FROM         dbo.DE_XUAT_MUA_HANG_CHI_TIET INNER JOIN
	dbo.DE_XUAT_MUA_HANG ON dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT = dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT LEFT OUTER JOIN
	dbo.DON_DAT_HANG_CHI_TIET ON dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT = dbo.DON_DAT_HANG_CHI_TIET.MS_PT AND 
	dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT = dbo.DON_DAT_HANG_CHI_TIET.MS_DE_XUAT
	WHERE dbo.DE_XUAT_MUA_HANG.TRANG_THAI <> 4
	GROUP BY dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT ) 

	TMP3 ON TMP1.MS_PT = TMP3.MS_PT LEFT OUTER JOIN 

	(SELECT     dbo.DON_DAT_HANG_CHI_TIET.MS_PT,SUM ( dbo.DON_DAT_HANG_CHI_TIET.SL_DAT_HANG - CASE WHEN dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP IS NULL THEN 0 ELSE dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP END ) AS SL_DAT_HANG
	FROM         dbo.DON_DAT_HANG INNER JOIN
	dbo.DON_DAT_HANG_CHI_TIET ON 
	dbo.DON_DAT_HANG.MS_DON_DAT_HANG = dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG LEFT OUTER JOIN
	dbo.IC_DON_HANG_NHAP INNER JOIN
	dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT ON 
	dbo.DON_DAT_HANG_CHI_TIET.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT AND 
	dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG = dbo.IC_DON_HANG_NHAP.MS_DDH
	WHERE dbo.DON_DAT_HANG.TRANG_THAI <> 4 
	GROUP BY dbo.DON_DAT_HANG_CHI_TIET.MS_PT ) 

	TMP4 ON TMP1.MS_PT = TMP4.MS_PT LEFT OUTER JOIN 
	(
	SELECT TMP3.MS_PT,TMP3.NGAY_DUYET,TMP3.DON_GIA,TMP3.NGOAI_TE,TMP3.NHA_CUNG_CAP
	FROM (SELECT MS_PT , MAX (NGAY_DUYET) AS NGAY_DUYET 
	FROM (SELECT  dbo.DON_DAT_HANG.NGAY_DUYET, dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG, dbo.DON_DAT_HANG_CHI_TIET.MS_PT, 
	dbo.DON_DAT_HANG_CHI_TIET.MS_CHI_TIET_DH, dbo.DON_DAT_HANG_CHI_TIET.DON_GIA, dbo.DON_DAT_HANG_CHI_TIET.NGOAI_TE
	FROM         dbo.DON_DAT_HANG INNER JOIN
	dbo.DON_DAT_HANG_CHI_TIET ON dbo.DON_DAT_HANG.MS_DON_DAT_HANG = dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG 
	WHERE dbo.DON_DAT_HANG.TRANG_THAI = 3 OR dbo.DON_DAT_HANG.TRANG_THAI = 4 ) TMP1
	GROUP BY TMP1.MS_PT ) TMP2 INNER JOIN 

	(SELECT  dbo.DON_DAT_HANG.NGAY_DUYET, dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG, dbo.DON_DAT_HANG_CHI_TIET.MS_PT, 
	dbo.DON_DAT_HANG_CHI_TIET.MS_CHI_TIET_DH, dbo.DON_DAT_HANG_CHI_TIET.DON_GIA, dbo.DON_DAT_HANG_CHI_TIET.NGOAI_TE,
	dbo.DON_DAT_HANG.NHA_CUNG_CAP
	FROM         dbo.DON_DAT_HANG INNER JOIN
	dbo.DON_DAT_HANG_CHI_TIET ON dbo.DON_DAT_HANG.MS_DON_DAT_HANG = dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG 
	WHERE dbo.DON_DAT_HANG.TRANG_THAI = 3 OR dbo.DON_DAT_HANG.TRANG_THAI = 4 
	--order by ms_pt
	) TMP3 ON TMP2.MS_PT = TMP3.MS_PT AND TMP2.NGAY_DUYET = TMP3.NGAY_DUYET 
	)TMP5 ON TMP1.MS_PT = TMP5.MS_PT 
	) TMP6
	GROUP BY MS_PT
	) TMP7 LEFT OUTER JOIN 
	(
	SELECT DISTINCT CONVERT (BIT , 0 ) AS CHON,TMP1.MS_PT,MS_PT_CTY, TMP1.TEN_LOAI_VT_TV,TMP1.MS_PT_NCC AS PART_NO,TMP1.TEN_PT,
		TMP1.QUY_CACH, TEN_HSX,TMP1.TEN_1 AS DVT,TMP1.TON_TOI_THIEU AS TON_MIN,TMP1.TON_KHO_MAX AS TON_MAX,
		CASE WHEN TMP2.TON_KHO IS NULL THEN 0 ELSE TMP2.TON_KHO END AS TON_KHO ,
		CASE WHEN TMP3.SL_DE_XUAT IS NULL THEN 0 ELSE TMP3.SL_DE_XUAT END AS SL_DE_XUAT,
		CASE WHEN TMP4.SL_DAT_HANG IS NULL THEN 0 ELSE TMP4.SL_DAT_HANG END AS SL_DAT_HANG,
		TMP5.NGAY_DUYET AS NGAY_CUOI,TMP5.DON_GIA AS DON_GIA_CUOI , TMP5.NGOAI_TE AS NGOAI_TE_CUOI, 
		TMP5.NHA_CUNG_CAP AS NHA_CUNG_CAP_CUOI, ISNULL(SO_NGAY_DAT_MUA_HANG,0) AS SO_NGAY_DAT_MUA_HANG
	FROM 
	(
		SELECT     T3.MS_PT, T3.MS_PT_CTY, T3.MS_LOAI_VT, T4.TEN_LOAI_VT_TV, T3.MS_PT_NCC, T3.TEN_PT, T3.QUY_CACH, T2.TEN_HSX, T3.DVT, T1.TEN_1, CASE ISNULL(THEO_KHO, 0) 
							  WHEN 0 THEN T3.TON_TOI_THIEU ELSE TTT END AS TON_TOI_THIEU, CASE ISNULL(THEO_KHO, 0) 
							  WHEN 0 THEN T3.TON_KHO_MAX ELSE TTD END AS TON_KHO_MAX, ISNULL(T3.SO_NGAY_DAT_MUA_HANG, 0) AS SO_NGAY_DAT_MUA_HANG
		FROM         dbo.DON_VI_TINH AS T1 RIGHT OUTER JOIN
							  dbo.HANG_SAN_XUAT AS T2 RIGHT OUTER JOIN
							  dbo.IC_PHU_TUNG AS T3 ON T2.MS_HSX = T3.MS_HSX ON T1.DVT = T3.DVT LEFT OUTER JOIN
							  dbo.LOAI_VT AS T4 ON T3.MS_LOAI_VT = T4.MS_LOAI_VT LEFT OUTER JOIN
								  (SELECT     MS_PT, ISNULL(SUM(TON_TOI_THIEU), 0) AS TTT, ISNULL(SUM(TON_KHO_MAX), 0) AS TTD
									FROM          dbo.IC_PHU_TUNG_KHO
									WHERE      (MS_KHO = @MS_KHO) OR
														   (@MS_KHO = - 1)
									GROUP BY MS_PT) AS PTK ON T3.MS_PT = PTK.MS_PT
		WHERE     (T3.ACTIVE_PT = 1)
	) TMP1 LEFT OUTER JOIN 

	(SELECT MS_PT ,SUM( SL_VT) AS TON_KHO
	FROM dbo.VI_TRI_KHO_VAT_TU
	WHERE (MS_KHO = @MS_KHO  OR @MS_KHO = -1 )
	GROUP BY MS_PT) 

	TMP2 ON TMP1.MS_PT = TMP2.MS_PT LEFT OUTER JOIN 

	(SELECT     dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT, SUM (dbo.DE_XUAT_MUA_HANG_CHI_TIET.SL_DA_DUYET - CASE WHEN dbo.DON_DAT_HANG_CHI_TIET.SL_DAT_HANG IS NULL THEN 0 ELSE dbo.DON_DAT_HANG_CHI_TIET.SL_DAT_HANG END ) AS SL_DE_XUAT                    
	FROM         dbo.DE_XUAT_MUA_HANG_CHI_TIET INNER JOIN
	dbo.DE_XUAT_MUA_HANG ON dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT = dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT LEFT OUTER JOIN
	dbo.DON_DAT_HANG_CHI_TIET ON dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT = dbo.DON_DAT_HANG_CHI_TIET.MS_PT AND 
	dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT = dbo.DON_DAT_HANG_CHI_TIET.MS_DE_XUAT
	WHERE dbo.DE_XUAT_MUA_HANG.TRANG_THAI <> 4
	GROUP BY dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT ) 

	TMP3 ON TMP1.MS_PT = TMP3.MS_PT LEFT OUTER JOIN 

	(SELECT     dbo.DON_DAT_HANG_CHI_TIET.MS_PT,SUM ( dbo.DON_DAT_HANG_CHI_TIET.SL_DAT_HANG - CASE WHEN dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP IS NULL THEN 0 ELSE dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP END ) AS SL_DAT_HANG
	FROM         dbo.DON_DAT_HANG INNER JOIN
	dbo.DON_DAT_HANG_CHI_TIET ON 
	dbo.DON_DAT_HANG.MS_DON_DAT_HANG = dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG LEFT OUTER JOIN
	dbo.IC_DON_HANG_NHAP INNER JOIN
	dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT ON 
	dbo.DON_DAT_HANG_CHI_TIET.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT AND 
	dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG = dbo.IC_DON_HANG_NHAP.MS_DDH
	WHERE dbo.DON_DAT_HANG.TRANG_THAI <> 4 
	GROUP BY dbo.DON_DAT_HANG_CHI_TIET.MS_PT ) 

	TMP4 ON TMP1.MS_PT = TMP4.MS_PT LEFT OUTER JOIN 
	(
	SELECT TMP3.MS_PT,TMP3.NGAY_DUYET,TMP3.DON_GIA,TMP3.NGOAI_TE,TMP3.NHA_CUNG_CAP
	FROM (SELECT MS_PT , MAX (NGAY_DUYET) AS NGAY_DUYET 
	FROM (SELECT  dbo.DON_DAT_HANG.NGAY_DUYET, dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG, dbo.DON_DAT_HANG_CHI_TIET.MS_PT, 
	dbo.DON_DAT_HANG_CHI_TIET.MS_CHI_TIET_DH, dbo.DON_DAT_HANG_CHI_TIET.DON_GIA, dbo.DON_DAT_HANG_CHI_TIET.NGOAI_TE
	FROM         dbo.DON_DAT_HANG INNER JOIN
	dbo.DON_DAT_HANG_CHI_TIET ON dbo.DON_DAT_HANG.MS_DON_DAT_HANG = dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG 
	WHERE dbo.DON_DAT_HANG.TRANG_THAI = 3 OR dbo.DON_DAT_HANG.TRANG_THAI = 4 ) TMP1
	GROUP BY TMP1.MS_PT ) TMP2 INNER JOIN 

	--(SELECT  DISTINCT   A.NGAY_DUYET, B.MS_DON_DAT_HANG, B.MS_PT,  B.DON_GIA, B.NGOAI_TE, A.NHA_CUNG_CAP
	--	FROM         dbo.DON_DAT_HANG AS A INNER JOIN
	--						  dbo.DON_DAT_HANG_CHI_TIET AS B ON A.MS_DON_DAT_HANG = B.MS_DON_DAT_HANG INNER JOIN 
	--	(
	--		SELECT     T1.NGAY_DUYET, T2.MS_DON_DAT_HANG, T2.MS_PT, MAX(ISNULL(T2.DON_GIA,0)) AS DON_GIA
	--		FROM         dbo.DON_DAT_HANG AS T1 INNER JOIN
	--							  dbo.DON_DAT_HANG_CHI_TIET AS T2 ON T1.MS_DON_DAT_HANG = T2.MS_DON_DAT_HANG
	--		WHERE     (T1.TRANG_THAI = 3) OR
	--							  (T1.TRANG_THAI = 4)
	--		GROUP BY T1.NGAY_DUYET, T2.MS_DON_DAT_HANG, T2.MS_PT
	--	) C ON A.NGAY_DUYET = C.NGAY_DUYET AND A.MS_DON_DAT_HANG = B.MS_DON_DAT_HANG AND C.MS_PT = B.MS_PT
	--	 AND ISNULL(C.DON_GIA,0) = ISNULL(B.DON_GIA,0)
	--) 
	#MAX_NGAY_DG TMP3 ON TMP2.MS_PT = TMP3.MS_PT AND TMP2.NGAY_DUYET = TMP3.NGAY_DUYET 
	)TMP5 ON TMP1.MS_PT = TMP5.MS_PT 
	) TMP8 ON TMP7.MS_PT = TMP8.MS_PT AND (TMP7.DON_GIA_CUOI = TMP8.DON_GIA_CUOI OR TMP8.DON_GIA_CUOI IS NULL)
	ORDER BY TMP8.MS_PT


END
