
ALTER procedure [dbo].[GetHIEU_CHUAN_MAYs_Moi] 

AS
	SELECT     dbo.HIEU_CHUAN_MAY.MS_MAY, dbo.HIEU_CHUAN_MAY.NGAY_HC, dbo.HIEU_CHUAN_MAY.GIAY_CHUNG_NHAN, 
                      dbo.HIEU_CHUAN_MAY.CO_QUAN_HIEU_CHUAN, dbo.HIEU_CHUAN_MAY.DANH_GIA, dbo.LOAI_HIEU_CHUAN_MAY.TEN_LOAI_HIEU_CHUAN, dbo.HIEU_CHUAN_MAY.TAI_LIEU, 
                      dbo.HIEU_CHUAN_MAY.GHI_CHU, dbo.LOAI_HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN
	FROM         dbo.HIEU_CHUAN_MAY LEFT OUTER JOIN
                      dbo.LOAI_HIEU_CHUAN_MAY ON dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = dbo.LOAI_HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN
	ORDER BY NGAY_HC DESC, MS_MAY
