
--EXEC QL_LIST_PHIEU_BAO_TRI_ALL
ALTER proc [dbo].[QL_LIST_PHIEU_BAO_TRI_ALL]
(
	@TrangThai int
)
AS
-- 0 Moi load form load nhung pbt co trong phieu nhap
-- 1 trang thai them sua load all
if @TrangThai = 0 
	SELECT A.MS_PHIEU_BAO_TRI MA ,A.MS_PHIEU_BAO_TRI TEN
	FROM PHIEU_BAO_TRI  A INNER JOIN IC_DON_HANG_XUAT B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI
	ORDER BY A.MS_PHIEU_BAO_TRI DESC
else
	SELECT A.MS_PHIEU_BAO_TRI MA ,A.MS_PHIEU_BAO_TRI TEN
	FROM PHIEU_BAO_TRI  A 
	where TINH_TRANG_PBT=2
	ORDER BY A.MS_PHIEU_BAO_TRI DESC
