-- EXEC GetKE_HOACH_THUC_HIEN_CHUA_HT '-1', '05/01/2016'
ALTER proc [dbo].[GetKE_HOACH_THUC_HIEN_CHUA_HT]
	@MS_CONG_NHAN nvarchar(50),
	@DenNGAY datetime
AS
SELECT STT,TEN_CONG_VIEC,THOI_GIAN_DK,TU_GIO,NGAY,DEN_GIO,THOI_HAN,	SPHUT,
	GHI_CHU,MUC_UU_TIEN.MS_UU_TIEN AS UU_TIEN,DA_XONG,USER_LAST,THOI_GIAN_SUA,PREVIOUS_USER,
	MS_CONG_NHAN AS MSCN_OLD,NGAY AS NGAY_OLD, STT AS STT_OLD
FROM KE_HOACH_THUC_HIEN LEFT JOIN MUC_UU_TIEN ON KE_HOACH_THUC_HIEN.MS_UU_TIEN = MUC_UU_TIEN.MS_UU_TIEN
WHERE (MS_CONG_NHAN = @MS_CONG_NHAN OR @MS_CONG_NHAN = '-1') 
AND (	CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,101)) <= @DenNGAY ) AND (DA_XONG=0)
ORDER BY THOI_GIAN_SUA, STT
