

--EXEC [SP_Y_GET_MAY] 'ADMIN',0,'-1','-1','-1','-1','-1','-1'
ALTER procedure [dbo].[SP_Y_GET_MAY] 
@USERNAME NVARCHAR (64), 
@LANGUAGE INT , 
@MS_LOAI_MAY NVARCHAR (20),
@MS_NHA_XUONG NVARCHAR(50),
@MS_HE_THONG INT,
@MS_TINH NVARCHAR(100),
@MS_QUAN NVARCHAR(100),
@MS_DUONG NVARCHAR(100)  
AS


SELECT MS_N_XUONG , MS_MAY,MS_NHOM_MAY, TEN_MAY into #MAY  FROM NHA_XUONG A
INNER JOIN (SELECT dbo.MGetNXTheoNgay(MS_MAY, GETDATE()) AS MSNX ,MS_NHOM_MAY , MS_HIEN_TRANG ,MS_MAY, TEN_MAY FROM MAY
 WHERE (MAY.MS_HIEN_TRANG = 2) ) B ON A.MS_N_XUONG = B.MSNX
 
SELECT T1.MS_MAY ,T2.MS_HE_THONG, T1.NGAY_NHAP INTO #MAY_HE_THONG_TMP FROM (SELECT T.MS_MAY, MAX (T.NGAY_NHAP) AS NGAY_NHAP 
FROM dbo.MAY_HE_THONG T GROUP BY T.MS_MAY) T1 INNER JOIN  dbo.MAY_HE_THONG T2 ON T1.MS_MAY = T2.MS_MAY AND T1.NGAY_NHAP = T2.NGAY_NHAP 


SELECT T1.MS_MAY , T2.MS_N_XUONG,T1.NGAY_NHAP INTO #MAY_NHA_XUONG_TMP FROM (SELECT T.MS_MAY, MAX (T.NGAY_NHAP) AS NGAY_NHAP
FROM dbo.MAY_NHA_XUONG T GROUP BY T.MS_MAY) T1 INNER JOIN  dbo.MAY_NHA_XUONG T2 ON T1.MS_MAY = T2.MS_MAY AND T1.NGAY_NHAP = T2.NGAY_NHAP 
	
	
SELECT TEMP.MS_MAY,ISNULL(TEMP.TEN_MAY,TEMP.MS_MAY)AS TEN_MAY, TEMP.MS_MAY AS MS_MAY1
FROM
(
	SELECT DISTINCT MAY.MS_MAY,TEN_MAY,MS_TINH=[dbo].[Get_CityCode](NHA_XUONG.MS_QG),MS_QUAN = NHA_XUONG.MS_QG,NHA_XUONG.MS_DUONG
	FROM     #MAY  MAY  
INNER JOIN
dbo.NHOM_MAY ON MAY.MS_NHOM_MAY = dbo.NHOM_MAY.MS_NHOM_MAY INNER JOIN
dbo.LOAI_MAY ON dbo.NHOM_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY INNER JOIN
dbo.NHOM_LOAI_MAY ON dbo.LOAI_MAY.MS_LOAI_MAY = dbo.NHOM_LOAI_MAY.MS_LOAI_MAY INNER JOIN
dbo.NHOM ON dbo.NHOM_LOAI_MAY.GROUP_ID = dbo.NHOM.GROUP_ID INNER JOIN
dbo.USERS ON dbo.NHOM.GROUP_ID = dbo.USERS.GROUP_ID INNER JOIN
	#MAY_HE_THONG_TMP MAY_HE_THONG_TMP ON MAY.MS_MAY = MAY_HE_THONG_TMP.MS_MAY INNER JOIN
dbo.NHOM_HE_THONG ON dbo.NHOM.GROUP_ID = dbo.NHOM_HE_THONG.GROUP_ID AND 
MAY_HE_THONG_TMP.MS_HE_THONG = dbo.NHOM_HE_THONG.MS_HE_THONG INNER JOIN
	#MAY_NHA_XUONG_TMP MAY_NHA_XUONG_TMP ON MAY.MS_MAY = MAY_NHA_XUONG_TMP.MS_MAY INNER JOIN
dbo.NHOM_NHA_XUONG ON dbo.NHOM.GROUP_ID = dbo.NHOM_NHA_XUONG.GROUP_ID AND 
MAY_NHA_XUONG_TMP.MS_N_XUONG = dbo.NHOM_NHA_XUONG.MS_N_XUONG
INNER JOIN NHA_XUONG ON MAY_NHA_XUONG_TMP.MS_N_XUONG = NHA_XUONG.MS_N_XUONG

WHERE  (dbo.USERS.USERNAME =  @USERNAME OR @USERNAME = '-1') 
	AND (dbo.LOAI_MAY.MS_LOAI_MAY = @MS_LOAI_MAY  OR @MS_LOAI_MAY = '-1')
	AND  (MAY_HE_THONG_TMP.MS_HE_THONG = @MS_HE_THONG  OR @MS_HE_THONG = -1)
	AND ( MAY_NHA_XUONG_TMP.MS_N_XUONG IN (SELECT DISTINCT MS_N_XUONG FROM [dbo].[MashjGetMayNhaXuong]('-1','-1',GETDATE()) ))
)TEMP WHERE (TEMP.MS_TINH= @MS_TINH   OR @MS_TINH = '-1')
	AND (TEMP.MS_QUAN = @MS_QUAN    OR @MS_QUAN = '-1')
	AND (TEMP.MS_DUONG = @MS_DUONG    OR @MS_DUONG = '-1')
