
ALTER proc [dbo].[UpdateKE_HOACH_THUC_HIEN]
	@MS_CONG_NHAN nvarchar(9),
	@NGAY datetime,
	@STT int,
	@TEN_CONG_VIEC nvarchar(255),
	@GHI_CHU nvarchar(255),
	@MS_UU_TIEN smallint,
	@USER_LAST nvarchar(50),
	@PREVIOUS_USER nvarchar(50),
	@THOI_GIAN_SUA datetime,
	@THOI_HAN datetime,
	@THOI_GIAN_DK float,
	@DA_XONG bit,
	@NGAY_tmp datetime,
	@TU_GIO datetime,
	@DEN_GIO datetime
AS

IF @MS_UU_TIEN=-1
	SET @MS_UU_TIEN = NULL

IF @THOI_GIAN_DK=-1
	SET @THOI_GIAN_DK = NULL
IF @TU_GIO = '1900-01-01 00:00:00.000'
	SET @TU_GIO = NULL
	
IF @DEN_GIO = '1900-01-01 00:00:00.000'
	SET @DEN_GIO = NULL
	
UPDATE KE_HOACH_THUC_HIEN SET
	NGAY=@NGAY,
	TEN_CONG_VIEC=@TEN_CONG_VIEC,
	GHI_CHU=@GHI_CHU,
	MS_UU_TIEN=@MS_UU_TIEN,
	USER_LAST=@USER_LAST,
	PREVIOUS_USER=@PREVIOUS_USER,
	THOI_GIAN_SUA=@THOI_GIAN_SUA,
	THOI_HAN=@THOI_HAN,
	THOI_GIAN_DK=@THOI_GIAN_DK,
	DA_XONG=@DA_XONG,
	TU_GIO = @TU_GIO,
	DEN_GIO = @DEN_GIO
WHERE
	MS_CONG_NHAN=@MS_CONG_NHAN and NGAY=@NGAY_tmp and STT=@STT
