
--	exec GetDMTBKiemDinh '01/01/2013', '12/31/2015', 'administrator','-1',-1,'-1'

ALTER PROC [dbo].[GetDMTBKiemDinh]
	@NgayBD DATETIME,
	@NgayKT DATETIME,
	@UserName NVARCHAR(255),
	@MsNXuong nvarchar(50),
	@NHeThong int,
	@LoaiMay NVARCHAR (20)
AS 

SELECT ROW_NUMBER() OVER(ORDER BY T3.TEN_PT,T1.MS_PT, T1.MS_VI_TRI, T3.QUY_CACH, T1.NGAY_HC_CUOI, T1.NGAY_KE, T2.CO_QUAN_HIEU_CHUAN, 
	T2.GIAY_CHUNG_NHAN) AS STT ,T3.TEN_PT, T1.MS_PT, T1.MS_VI_TRI, T3.QUY_CACH, T1.NGAY_HC_CUOI, T1.NGAY_KE, 
	T2.CO_QUAN_HIEU_CHUAN, T2.GIAY_CHUNG_NHAN
FROM         (SELECT DISTINCT MS_MAY, MS_PT, MS_VI_TRI, NGAY_HC_CUOI, CHU_KY, MS_DV_TG, SO_NGAY, SO_NGAY_CK, NGAY_KE
                       FROM          dbo.MGetNgayHieuChuanKePhuTung(@NgayBD, @NgayKT, 3,  @UserName, @MsNXuong, @NHeThong, @LoaiMay, '-1', 1) AS A
                       WHERE      (NGAY_KE BETWEEN @NgayBD AND @NgayKT)) AS T1 INNER JOIN
                      dbo.HIEU_CHUAN_DHD AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_PT = T2.MS_PT AND T1.MS_VI_TRI = T2.MS_VI_TRI AND T1.NGAY_HC_CUOI = T2.NGAY INNER JOIN
                      dbo.IC_PHU_TUNG T3 ON T1.MS_PT = T3.MS_PT
WHERE MS_LOAI_HIEU_CHUAN = 3                      
ORDER BY T3.TEN_PT, T1.MS_PT, T1.MS_VI_TRI, T3.QUY_CACH, T1.NGAY_HC_CUOI, T1.NGAY_KE, T2.CO_QUAN_HIEU_CHUAN, T2.GIAY_CHUNG_NHAN


