
-- drop table rptDanhSachDHDDaHC
--	EXEC GetDanhSachDHDDaHC 2015,1, 'admin'
--select * from rptDanhSachDHDDaHC
ALTER procedure [dbo].[GetDanhSachDHDDaHC]
	@NAM INT,
	@NOI INT,
	@USERID nvarchar(20)
AS

SELECT * INTO #MAY_USER FROM [dbo].[MashjGetMayUser](@USERID)

SELECT     dbo.HIEU_CHUAN_DHD.MS_MAY, dbo.HIEU_CHUAN_DHD.MS_PT, dbo.IC_PHU_TUNG.TEN_PT, dbo.HIEU_CHUAN_DHD.MS_VI_TRI, 
			CONVERT(VARCHAR(50),
				CASE WHEN MS_LOAI_HIEU_CHUAN = 1 THEN ISNULL(CHU_KY_HC_NOI, 0) 
							WHEN MS_LOAI_HIEU_CHUAN = 2 THEN ISNULL(CHU_KY_HC_NGOAI, 0) 
							WHEN MS_LOAI_HIEU_CHUAN = 3 THEN ISNULL(CHU_KY_KD, 0) 
			ELSE ISNULL(CHU_KY_KT, 0) END) + ' ' + TEN_DV_TG AS CHU_KY_HC, dbo.HIEU_CHUAN_DHD.NGAY, 
			dbo.LOAI_MAY.TEN_LOAI_MAY
INTO rptDanhSachDHDDaHC
FROM         dbo.NHOM_MAY INNER JOIN
                      #MAY_USER AS MAY ON dbo.NHOM_MAY.MS_NHOM_MAY = MAY.MS_NHOM_MAY INNER JOIN
                      dbo.LOAI_MAY ON dbo.NHOM_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY INNER JOIN
                      dbo.HIEU_CHUAN_DHD INNER JOIN
                      dbo.CHU_KY_HIEU_CHUAN ON dbo.HIEU_CHUAN_DHD.MS_MAY = dbo.CHU_KY_HIEU_CHUAN.MS_MAY AND 
                      dbo.HIEU_CHUAN_DHD.MS_PT = dbo.CHU_KY_HIEU_CHUAN.MS_PT AND 
                      dbo.HIEU_CHUAN_DHD.MS_VI_TRI = dbo.CHU_KY_HIEU_CHUAN.MS_VI_TRI INNER JOIN
                      dbo.IC_PHU_TUNG ON dbo.HIEU_CHUAN_DHD.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN
                      dbo.DON_VI_THOI_GIAN ON dbo.CHU_KY_HIEU_CHUAN.MS_DV_TG = dbo.DON_VI_THOI_GIAN.MS_DV_TG ON 
                      MAY.MS_MAY = dbo.HIEU_CHUAN_DHD.MS_MAY
WHERE YEAR (HIEU_CHUAN_DHD.NGAY) = @NAM AND (MS_LOAI_HIEU_CHUAN = @NOI  )
