
--EXEC MGetNgayKDKe '20100101' , '20101231'
ALTER proc [dbo].[MGetNgayKDKe]
	@NgayHT datetime,
	@NgayKT datetime
	
as	
--set @NgayHT = '09/30/2009'
select *, 
CASE MS_DV_TG 
	WHEN 1 THEN DATEADD(DAY,SO_NGAY_N ,NGAY_MAX)  				
	WHEN 2 THEN DATEADD(WEEK,SO_NGAY_N,NGAY_MAX)   				
	WHEN 3 THEN DATEADD(MONTH,SO_NGAY_N,NGAY_MAX)  				
	WHEN 4 THEN DATEADD(YEAR,SO_NGAY_N,NGAY_MAX) END AS NGAY_KE INTO #BTAM
  from
(
SELECT A.MS_MAY , A.MS_PT , A.MS_VI_TRI ,@NgayHT AS NGAYHT,NGAY_MAX,MS_DV_TG,CHU_KY_KD,  
CASE WHEN NGAY_MAX < @NgayHT THEN
  ROUND(CONVERT(FLOAT,CASE MS_DV_TG 
  WHEN 1 THEN DATEDIFF(DAY,NGAY_MAX,@NgayHT) 
  WHEN 2 THEN DATEDIFF(WEEK,NGAY_MAX,@NgayHT) 
  WHEN 3 THEN DATEDIFF(MONTH,NGAY_MAX,@NgayHT) 
  WHEN 4 THEN DATEDIFF(YEAR,NGAY_MAX,@NgayHT) END )  / CHU_KY_KD + 0.49,0) * CHU_KY_KD  
  ELSE CHU_KY_KD END  AS SO_NGAY_N
  
FROM
( SELECT MS_MAY , MS_PT , MS_VI_TRI,MAX(NGAY) AS NGAY_MAX FROM HIEU_CHUAN_DHD   
WHERE MS_LOAI_HIEU_CHUAN = 3  GROUP BY MS_MAY , MS_PT , MS_VI_TRI
) A
INNER JOIN CHU_KY_HIEU_CHUAN B ON A.MS_MAY = B.MS_MAY AND A.MS_PT = B.MS_PT AND A.MS_VI_TRI = B.MS_VI_TRI 
WHERE ISNULL(CHU_KY_KD,0) <> 0 AND NGAY_MAX <= @NgayKT

) a

SELECT MS_MAY,MS_PT,MS_VI_TRI,NGAYHT,NGAY_MAX   , MS_DV_TG  , CHU_KY_KD  , SO_NGAY_N  , 
CASE DATEPART(weekday, NGAY_KE) WHEN 1 THEN DATEADD (DAY ,1,NGAY_KE) else NGAY_KE end AS NGAY_KE,NGAY_KE AS CN
FROM #BTAM

