IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetLoaiYeuCauBaoTriAll')
   exec('CREATE PROCEDURE [dbo].[GetLoaiYeuCauBaoTriAll] AS BEGIN SET NOCOUNT ON; END')
GO

--EXEC GetLoaiYeuCauBaoTriAll 1
ALTER proc [GetLoaiYeuCauBaoTriAll]
	@CoALL bit
AS

if @CoALL = 0
	SELECT MS_LOAI_YEU_CAU_BT, TEN_LOAI_YEU_CAU_BT FROM LOAI_YEU_CAU_BAO_TRI ORDER BY TEN_LOAI_YEU_CAU_BT 

else
	SELECT MS_LOAI_YEU_CAU_BT, TEN_LOAI_YEU_CAU_BT FROM LOAI_YEU_CAU_BAO_TRI
	UNION
	SELECT -1, ' < ALL > '  	ORDER BY TEN_LOAI_YEU_CAU_BT 


