
--EXEC SP_NHU_Y_GET_VTPT_HUDA '<ROOT><MAY id="002MN-BETA"/></ROOT>','<ROOT><LOAI_BT id1="42"/><LOAI_BT id1="43"/></ROOT>',0
ALTER PROC [dbo].[SP_NHU_Y_GET_VTPT_HUDA]
    @MS_MAY xml,
    @MS_LBT xml,
	@TYPELANG int
AS
DECLARE @idoc int
EXEC sp_xml_preparedocument @idoc OUTPUT, @MS_MAY

DECLARE @idoc1 int
EXEC sp_xml_preparedocument @idoc1 OUTPUT, @MS_LBT

--SELECT   id1  FROM  OpenXML(@idoc1,'/ROOT/LOAI_BT',1) WITH (id1 nvarchar (50))

SELECT A.MS_PT,TEN_PT,A.SL,A.QUI_CACH,CASE WHEN @TYPELANG=0 THEN C.TEN_1 ELSE C.TEN_2 END AS DVT,
	   D.DON_GIA,(D.DON_GIA * A.SL) AS THANH_TIEN
FROM
(
	SELECT  MS_PT,SUM(SO_LUONG) AS SL ,QUI_CACH 
	FROM MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG
	WHERE MS_MAY IN (SELECT   id  FROM  OpenXML(@idoc,'/ROOT/MAY',1) WITH (id nvarchar (50))) AND
	MS_LOAI_BT IN (SELECT   id1  FROM  OpenXML(@idoc1,'/ROOT/LOAI_BT',1) WITH (id1 nvarchar (50)))
	GROUP BY MS_PT,QUI_CACH  
)A INNER JOIN IC_PHU_TUNG B ON A.MS_PT=B.MS_PT
INNER JOIN DON_VI_TINH C ON B.DVT=C.DVT
LEFT JOIN
(
	SELECT A.MS_PT, B.DON_GIA FROM
	(
		SELECT DISTINCT MS_PT,MAX(A.MS_DH_NHAP_PT)AS DH_NHAP_PT
		FROM IC_DON_HANG_NHAP A INNER JOIN IC_DON_HANG_NHAP_VAT_TU B
		ON A.MS_DH_NHAP_PT=B.MS_DH_NHAP_PT 
		WHERE A.LOCK=1
		GROUP BY  MS_PT
	) A 
	INNER JOIN
    (
		SELECT DISTINCT MS_PT,MAX(NGAY) AS NGAY ,CASE WHEN NGOAI_TE='USD' THEN (DON_GIA * TY_GIA)  ELSE DON_GIA END AS DON_GIA,MAX(A.MS_DH_NHAP_PT)AS DH_NHAP_PT
		FROM IC_DON_HANG_NHAP A INNER JOIN IC_DON_HANG_NHAP_VAT_TU B
		ON A.MS_DH_NHAP_PT=B.MS_DH_NHAP_PT 
		WHERE A.LOCK=1
		GROUP BY  MS_PT,DON_GIA,TY_GIA,NGOAI_TE
	)B ON A.MS_PT=B.MS_PT AND A.DH_NHAP_PT=B.DH_NHAP_PT
	  
)D ON A.MS_PT=D.MS_PT
ORDER BY A.MS_PT,TEN_PT


--SELECT * FROM IC_DON_HANG_NHAP_VAT_TU
