


--EXEC getYEU_CAU_NSD_CHI_TIET 43, 'ADMIN'
ALTER procedure [dbo].[getYEU_CAU_NSD_CHI_TIET] 
	@STT as integer,
	@USERNAME NVARCHAR(50)
AS

DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()
SELECT A.* INTO #MAY_TMP FROM dbo.MGetMayUserNgay(@NgayHT,@USERNAME,'-1',-1,-1,-1,'-1','-1',0)  A


SELECT     A.MS_MAY, A.MS_MAY AS TEN_MAY,MS_LOAI_YEU_CAU_BT, A.MO_TA_TINH_TRANG, A.YEU_CAU, A.NGAY_XAY_RA, A.GIO_XAY_RA, 
			MS_UU_TIEN, A.STT, A.STT_VAN_DE, A.MS_MAY AS MS_MAY_OLD, A.STT_VAN_DE AS STT_VAN_DE_OLD,
			CONVERT(BIT,ISNULL(THUC_HIEN_DSX,0)) AS  THUC_HIEN_DSX
FROM         dbo.YEU_CAU_NSD_CHI_TIET AS A  INNER JOIN #MAY_TMP B ON A.MS_MAY = B.MS_MAY 
WHERE STT=@STT
ORDER BY A.MS_MAY

