
ALTER PROC [dbo].[SP_NHU_Y_INSERT_KHTTCV_CHUA_GQ]
(
	@KHONG_GQ BIT,
	@THUE_NGOAI BIT,
	@HANG_MUC_ID INT,
	@MS_BO_PHAN NVARCHAR(50),
	@MS_CV INT,
	@GHI_CHU NVARCHAR(255),
	@MS_UU_TIEN INT,
	@MS_MAY NVARCHAR(50),
	@SNGUOI int ,
	@YCAU_NS nvarchar(1000) ,
	@YCAU_DC nvarchar(1000) 
)
AS
INSERT INTO KE_HOACH_TONG_CONG_VIEC 
(
    KHONG_GQ,
	THUE_NGOAI,
	HANG_MUC_ID,
	MS_BO_PHAN,
	MS_CV,
	GHI_CHU,
	MS_UU_TIEN,
	MS_MAY ,
	SNGUOI ,
	YCAU_NS,
	YCAU_DC
)
VALUES
(
    @KHONG_GQ,
	@THUE_NGOAI,
	@HANG_MUC_ID,
	@MS_BO_PHAN,
	@MS_CV,
	@GHI_CHU,
	@MS_UU_TIEN,
	@MS_MAY ,
	@SNGUOI ,
	@YCAU_NS,
	@YCAU_DC
)
