
ALTER proc [dbo].[SP_NHU_Y_UPDATE_KE_HOACH_TONG_THE]
	@MS_MAY NVARCHAR(30),
	@NGAY DATETIME,
	@NGAY_DK_HT DATETIME,
	@TEN_HANG_MUC NVARCHAR(250),
	@GHI_CHU NVARCHAR(250),		
	@LY_DO_SC INT,
	@USERNAME NVARCHAR(50),
	@HANG_MUC_ID INT,
	@MS_UU_TIEN INT,
	@MS_CN_PT	nvarchar(9)
AS
UPDATE KE_HOACH_TONG_THE SET 
	MS_MAY=@MS_MAY ,
	NGAY=@NGAY ,
	NGAY_DK_HT =@NGAY_DK_HT,
	TEN_HANG_MUC =@TEN_HANG_MUC,
	GHI_CHU=@GHI_CHU ,		
	LY_DO_SC =@LY_DO_SC,
	USERNAME =@USERNAME,
	MS_UU_TIEN= @MS_UU_TIEN,		
	MS_CN_PT =@MS_CN_PT
WHERE HANG_MUC_ID=@HANG_MUC_ID
