
IF NOT EXISTS(SELECT * FROM [CACH_THUC_HIEN] WHERE [MS_CACH_TH] = '01')
BEGIN
	INSERT INTO [CACH_THUC_HIEN]([MS_CACH_TH],[TEN_TIENG_VIET],[TEN_TIENG_ANH])
	VALUES('01', N'Lập kế hoạch bảo trì', N'Lập kế hoạch bảo trì')
END

