
ALTER proc [dbo].[SP_NHU_Y_INSERT_KE_HOACH_TONG_THE]
	@MS_MAY NVARCHAR(30),
	@HANG_MUC_ID INT,
	@NGAY DATETIME,
	@NGAY_DK_HT DATETIME,
	@TEN_HANG_MUC NVARCHAR(250),
	@GHI_CHU NVARCHAR(250),		
	@LY_DO_SC INT,
	@USERNAME NVARCHAR(50),
	@MS_UU_TIEN INT,
	@MS_CN_PT	nvarchar(9)

AS
INSERT INTO KE_HOACH_TONG_THE(
	MS_MAY ,
	HANG_MUC_ID,
	NGAY ,
	NGAY_DK_HT ,
	TEN_HANG_MUC ,
	GHI_CHU ,		
	LY_DO_SC ,
	USERNAME ,
	MS_UU_TIEN,
	MS_CN_PT
)
values (
	@MS_MAY ,
	@HANG_MUC_ID,
	@NGAY ,
	@NGAY_DK_HT ,
	@TEN_HANG_MUC ,
	@GHI_CHU ,	
	@LY_DO_SC,
	@USERNAME ,
	@MS_UU_TIEN,
	@MS_CN_PT
)
