

--GetBCPhieuKiemTraMayHN 
-- DROP TABLE ASE 
-- SELECT DISTINCT MS_MAY, CONVERT(BIT,1) AS CHON INTO ASE FROM MAY where ms_may = '15-205'
--	EXEC GetBCPhieuKiemTraMayHN '05/01/2015','05/31/2015','ADMINISTRATOR','-1',-1,'-1','-1','ASE',0
ALTER PROC [dbo].[GetBCPhieuKiemTraMayHN]
	@TuNgay DATETIME,
	@DenNgay DATETIME,
	@UserName NVARCHAR(50),
	@MsNX NVARCHAR(50),
	@MSHT INT,
	@MsLMay NVARCHAR(20),
	@MsNMay NVARCHAR(20),
	@MSMay NVARCHAR(30),
	@NNgu int
AS	
CREATE TABLE #MAY_TMP ([MS_MAY] [nvarchar](30)  NULL)  


DECLARE @sSql NVARCHAR(4000)
set @sSql = 'INSERT INTO #MAY_TMP SELECT DISTINCT MS_MAY FROM ' + @MSMay + ' WHERE ISNULL(CHON,0) = 1'
EXEC (@sSql)

set @sSql = 'DROP TABLE ' + @MSMay
EXEC (@sSql)

SELECT DISTINCT A.MS_MAY,TEN_MAY,NGAY_DUA_VAO_SD INTO #MAY_USER 	FROM dbo.MGetMayUserNgay(@DenNgay,@UserName,@MsNX,@MSHT,-1,@MsLMay,@MsNMay,'-1',@NNgu) A 
	INNER JOIN #MAY_TMP B ON A.MS_MAY = B.MS_MAY



DECLARE @MAY_NGAY_CUOI TABLE (
	[MS_MAY] [nvarchar](30)  NULL,
	[TEN_MAY] [nvarchar](255)  NULL,
	[TEN_BO_PHAN] [nvarchar](250)  NULL,
	[TEN_TS_GSTT] [nvarchar](255)  NULL,
	[MS_BO_PHAN] [nvarchar](50)  NULL,
	[MS_TS_GSTT] [nvarchar](10)  NULL,
	[NGAY_CUOI] [datetime] NULL,
	[CHU_KY_DO] [float] NULL,
	[MS_DV_TG] [int] NULL,
	[SO_NGAY] [int] NULL,
	[SO_NGAY_CK] [float] NULL,
	[NGAY_KE] [datetime] NULL
)  
INSERT INTO @MAY_NGAY_CUOI
SELECT T1.* FROM [dbo].GetNgayKeGiamSatTinhTrang(@TuNgay,@DenNgay,@UserName,@MsNX,@MSHT,@MsLMay,@MsNMay,'-1',@NNgu,1)  T1 
	INNER JOIN #MAY_USER T2 ON T1.MS_MAY = T2.MS_MAY
	


SELECT ROW_NUMBER() OVER(PARTITION BY TEN_MAY ORDER BY TEN_MAY , TEN_BO_PHAN, TEN_TS_GSTT) AS STT , 
TEN_MAY , TEN_BO_PHAN, TEN_TS_GSTT,[1],[2], [3], [4], [5], [6], [7],[8],[9],[10],[11], [12], [13], [14], [15], 
[16], [17],[18],[19],[20],[21], [22], [23], [24], [25], [26], [27],[28],[29],[30],[31],TEN_DVTG
FROM
(
SELECT DISTINCT TEN_MAY , TEN_BO_PHAN, TEN_TS_GSTT, MS_BO_PHAN,MS_TS_GSTT ,  CONVERT(NVARCHAR(50),CHU_KY_DO) + '-' + TEN_DV_TG AS TEN_DVTG,  
CASE WHEN [1] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[1]) END AS [1],
CASE WHEN [2] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[2]) END AS [2],
CASE WHEN [3] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[3]) END AS [3],
CASE WHEN [4] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[4]) END AS [4],
CASE WHEN [5] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[5]) END AS [5],
CASE WHEN [6] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[6]) END AS [6],
CASE WHEN [7] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[7]) END AS [7],
CASE WHEN [8] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[8]) END AS [8],
CASE WHEN [9] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[9]) END AS [9],
CASE WHEN [10] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[10]) END AS [10],
CASE WHEN [11] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[11] ) END AS [11],
CASE WHEN [12] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[12] ) END AS [12],
CASE WHEN [13] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[13] ) END AS [13],
CASE WHEN [14] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[14] ) END AS [14],
CASE WHEN [15] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[15] ) END AS [15],
CASE WHEN [16] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[16] ) END AS [16],
CASE WHEN [17] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[17] ) END AS [17],
CASE WHEN [18] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[18] ) END AS [18],
CASE WHEN [19] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[19] ) END AS [19],
CASE WHEN [20] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[20] ) END AS [20],
CASE WHEN [21] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[21]) END AS [21],
CASE WHEN [22] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[22]) END AS [22],
CASE WHEN [23] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[23]) END AS [23],
CASE WHEN [24] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[24]) END AS [24],
CASE WHEN [25] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[25]) END AS [25],
CASE WHEN [26] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[26]) END AS [26],
CASE WHEN [27] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[27]) END AS [27],
CASE WHEN [28] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[28]) END AS [28],
CASE WHEN [29] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[29]) END AS [29],
CASE WHEN [30] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[30]) END AS [30],
CASE WHEN [31] IS NULL THEN '' ELSE DBO.GetGiaTriThongSoGSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,[31]) END AS [31]
FROM

(SELECT MS_MAY,TEN_MAY, TEN_BO_PHAN, TEN_TS_GSTT ,NGAY_KE,    TEN_DV_TG, CHU_KY_DO , DAY(NGAY_KE) AS NGAY , MS_BO_PHAN,MS_TS_GSTT FROM 
(
SELECT T1.MS_MAY,T1.TEN_MAY,TEN_BO_PHAN,TEN_TS_GSTT,NGAY_KE,  T2.TEN_DV_TG, CHU_KY_DO, MS_BO_PHAN,MS_TS_GSTT FROM @MAY_NGAY_CUOI T1 INNER JOIN
                      dbo.DON_VI_THOI_GIAN AS T2 ON T1.MS_DV_TG = T2.MS_DV_TG INNER JOIN #MAY_USER T3 ON T1.MS_MAY = T3.MS_MAY

WHERE NGAY_KE BETWEEN @TuNgay AND @DenNgay 
UNION
SELECT     T2.MS_MAY, T2.TEN_MAY, T4.TEN_BO_PHAN, T3.TEN_TS_GSTT, dbo.GIAM_SAT_TINH_TRANG.NGAY_KT, T6.TEN_DV_TG, T5.CHU_KY_DO, T1.MS_BO_PHAN,T1.MS_TS_GSTT
FROM         dbo.GIAM_SAT_TINH_TRANG_TS AS T1 INNER JOIN
                      #MAY_USER AS T2 ON T1.MS_MAY = T2.MS_MAY INNER JOIN
                      dbo.THONG_SO_GSTT AS T3 ON T1.MS_TS_GSTT = T3.MS_TS_GSTT INNER JOIN
                      dbo.CAU_TRUC_THIET_BI AS T4 ON T1.MS_MAY = T4.MS_MAY AND T1.MS_BO_PHAN = T4.MS_BO_PHAN INNER JOIN
                      dbo.GIAM_SAT_TINH_TRANG ON T1.STT = dbo.GIAM_SAT_TINH_TRANG.STT INNER JOIN
                      dbo.CAU_TRUC_THIET_BI_TS_GSTT AS T5 ON T1.MS_MAY = T5.MS_MAY AND T1.MS_BO_PHAN = T5.MS_BO_PHAN AND T1.MS_TS_GSTT = T5.MS_TS_GSTT AND 
                      T1.MS_TT = T5.MS_TT INNER JOIN
                      dbo.DON_VI_THOI_GIAN AS T6 ON T5.MS_DV_TG = T6.MS_DV_TG
WHERE    NGAY_KT BETWEEN @TuNgay AND @DenNgay
)A

) P 
PIVOT 
	(
		max(NGAY_KE)
			FOR NGAY IN ([1],[2], [3], [4], [5], [6], [7],[8],[9],[10],[11], [12], [13], [14], [15], [16], [17],[18],[19],[20],[21], [22], [23], [24], [25], [26], [27],[28],[29],[30],[31])
	) AS PVT
) A
ORDER BY  TEN_MAY, TEN_BO_PHAN, TEN_TS_GSTT,TEN_DVTG