
--EXEC SP_NHU_Y_GET_DSCV_PBT 'BHCA-01','8'
ALTER PROC [dbo].[SP_NHU_Y_GET_DSCV_PBT]
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT
AS
SELECT A.MS_CV,A.MS_BO_PHAN,B.THOI_GIAN_DU_KIEN, B.SO_NGUOI,B.YEU_CAU_NS,B.YEU_CAU_DUNG_CU
FROM
(
	SELECT MS_CV,MS_BO_PHAN
	FROM MAY_LOAI_BTPN_CONG_VIEC
	WHERE MS_MAY=@MS_MAY AND MS_LOAI_BT=@MS_LOAI_BT
)A INNER JOIN CONG_VIEC AS B ON A.MS_CV=B.MS_CV
