
ALTER procedure [dbo].[GetDANH_DACH_KE_HOACH_THONG_THEs]
@MS_MAY NVARCHAR(30),
@TU_NGAY DATETIME,
@DEN_NGAY DATETIME ,
@USERNAME NVARCHAR(50),
@MS_PHIEU_BAO_TRI NVARCHAR(20)
AS
 
SELECT DISTINCT T1.HANG_MUC_ID, T1.TEN_HANG_MUC, T1.GHI_CHU, CASE  ISNULL(T8.HANG_MUC_ID_KE_HOACH,0) WHEN 0 THEN 0 ELSE 1 END AS YCSDCT
FROM         dbo.KE_HOACH_TONG_THE AS T1 INNER JOIN
                      dbo.KE_HOACH_TONG_CONG_VIEC AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.HANG_MUC_ID = T2.HANG_MUC_ID INNER JOIN
                      dbo.CONG_VIEC AS T3 ON T2.MS_CV = T3.MS_CV INNER JOIN
                      dbo.LOAI_CONG_VIEC AS T4 ON T3.MS_LOAI_CV = T4.MS_LOAI_CV INNER JOIN
                      dbo.NHOM_LOAI_CONG_VIEC AS T5 ON T4.MS_LOAI_CV = T5.MS_LOAI_CV INNER JOIN
                      dbo.NHOM AS T6 ON T5.GROUP_ID = T6.GROUP_ID INNER JOIN
                      dbo.USERS AS T7 ON T6.GROUP_ID = T7.GROUP_ID LEFT OUTER JOIN
                      dbo.YEU_CAU_NSD_CHI_TIET AS T8 ON T1.HANG_MUC_ID = T8.HANG_MUC_ID_KE_HOACH
WHERE     (T2.MS_PHIEU_BAO_TRI IS NULL) AND (T2.EOR_ID IS NULL) AND (T2.THUE_NGOAI = 0) AND (T2.KHONG_GQ = 0) AND (T1.MS_MAY = @MS_MAY) AND (T1.NGAY BETWEEN @TU_NGAY AND 
                      DATEADD(day, 1, @DEN_NGAY)) AND (T3.MS_CV NOT IN
                          (SELECT     MS_CV
                            FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC AS PBT
                            WHERE      (MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND (MS_BO_PHAN = T2.MS_BO_PHAN))) AND (T2.KHONG_GQ <> 1)