IF  NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].MGetListCNhanTGianPBT') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
   exec('CREATE FUNCTION  dbo.MGetListCNhanTGianPBT () RETURNS nvarchar(4000) as Begin return null end')
GO

--SELECT DBO.MGetListCNhanTGianPBT  ('WO-201404000386',	106	,'01.01.02')
--SELECT DBO.MGetListCNhanTGianPBT  ('WO-201404000386',	-1	,'-1')
--SELECT DBO.MGetListCNhanTGianPBT  ('WO-201508000006',	364,	'01')

ALTER function [dbo].MGetListCNhanTGianPBT
(
	@MS_PHIEU_BAO_TRI nvarchar(20),	
	@MSCV int,	
	@MSPB	nvarchar(50)	
)
returns nvarchar(4000)
as
begin
declare @sName nvarchar(4000)

if @MSCV = -1 AND @MSPB = '-1'
	BEGIN
		SELECT     @sName = COALESCE(ISNULL(@sName,'') + 
		CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'') + ISNULL(TEN,'') + '(' + CONVERT(NVARCHAR,ISNULL(SUM(ISNULL(SO_GIO,0)) * 60,0)) + ')'
		FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO AS X INNER JOIN
							  dbo.CONG_NHAN AS Y ON X.MS_CONG_NHAN = Y.MS_CONG_NHAN
		WHERE X.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI 
		GROUP BY TEN 
		ORDER BY TEN 
	END 
ELSE
	BEGIN
		SELECT     
			@sName = COALESCE(ISNULL(@sName,'') + CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'') + ISNULL(TEN,'') + N' (' + CONVERT(NVARCHAR,SPHUT) + N')'
		FROM dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU AS X INNER JOIN dbo.CONG_NHAN AS Y ON X.MS_CONG_NHAN = Y.MS_CONG_NHAN LEFT JOIN 
				(SELECT MS_PHIEU_BAO_TRI, T1.MS_CV,T1.MS_BO_PHAN,T1.MS_CONG_NHAN, SUM(ISNULL(SO_GIO,0)) * 60 AS SPHUT FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET T1
					WHERE T1.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI AND T1.MS_CV = @MSCV AND T1.MS_BO_PHAN = @MSPB 
					GROUP BY MS_PHIEU_BAO_TRI, T1.MS_CV,T1.MS_BO_PHAN,T1.MS_CONG_NHAN
				) Z ON X.MS_PHIEU_BAO_TRI = Z.MS_PHIEU_BAO_TRI AND X.MS_CV = Z.MS_CV AND X.MS_BO_PHAN = Z.MS_BO_PHAN AND X.MS_CONG_NHAN = Z.MS_CONG_NHAN
		WHERE X.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI AND X.MS_CV = @MSCV AND X.MS_BO_PHAN = @MSPB 
		ORDER BY TEN 
	END 
return @sName
end

