IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetCNVaiTro')
   exec('CREATE PROCEDURE [dbo].[GetCNVaiTro] AS BEGIN SET NOCOUNT ON; END')
GO

ALTER PROC GetCNVaiTro 
	@MS_VAI_TRO INT
AS	
	SELECT A.MS_CONG_NHAN, ( HO + ' ' +  TEN)  AS HO_TEN FROM CONG_NHAN A INNER JOIN CONG_NHAN_VAI_TRO B ON A.MS_CONG_NHAN = B.MS_CONG_NHAN
	WHERE (ISNULL(BO_VIEC,0) = 0) AND ( B.MS_VAI_TRO  = @MS_VAI_TRO OR @MS_VAI_TRO = -1 )
	ORDER BY HO,TEN


