
ALTER PROC [dbo].[SP_NHU_Y_UPDATE_KHTTCV_CHUA_GQ]
(
	@KHONG_GQ BIT,
	@THUE_NGOAI BIT,
	@HANG_MUC_ID INT,
	@MS_BO_PHAN NVARCHAR(50),
	@MS_CV INT,
	@GHI_CHU NVARCHAR(255),
	@MS_UU_TIEN INT,
	@THOI_GIAN_DU_KIEN float,
	@SNGUOI int ,
	@YCAU_NS nvarchar(1000) ,
	@YCAU_DC nvarchar(1000) 
)
AS
UPDATE KE_HOACH_TONG_CONG_VIEC 
SET KHONG_GQ=@KHONG_GQ,
	THUE_NGOAI=@THUE_NGOAI,
	MS_UU_TIEN=@MS_UU_TIEN,
	GHI_CHU=@GHI_CHU,
	THOI_GIAN_DU_KIEN = @THOI_GIAN_DU_KIEN,
	SNGUOI = @SNGUOI,
	YCAU_NS = @YCAU_NS,
	YCAU_DC = @YCAU_DC 
WHERE HANG_MUC_ID=@HANG_MUC_ID
AND MS_BO_PHAN=@MS_BO_PHAN
AND MS_CV=@MS_CV
