
ALTER procedure [dbo].[GetCONG_NHAN_PBT]
@MS_TO_PB INT,
@MS_TO INT
AS

SELECT  CONVERT(BIT,0) AS CHON,   CONG_NHAN.MS_CONG_NHAN, CONG_NHAN.HO + ' ' + CONG_NHAN.TEN AS HO_TEN, [TO].TEN_TO
FROM         CONG_NHAN INNER JOIN
					  [TO] ON CONG_NHAN.MS_TO = [TO].MS_TO1 INNER JOIN
					  TO_PHONG_BAN ON [TO].MS_TO = TO_PHONG_BAN.MS_TO
WHERE     (ISNULL(CONG_NHAN.BO_VIEC,0) =0)  AND  ([TO].MS_TO1=@MS_TO OR @MS_TO = -1) 
	AND (TO_PHONG_BAN.MS_TO=@MS_TO_PB OR @MS_TO_PB = -1)


