
ALTER procedure [dbo].[AddTHOI_GIAN_CHAY_MAY] 
	@MS_MAY NVARCHAR(30),
	@NGAY DATETIME,
	@SO_DO_DONG_HO NVARCHAR(10),
	@MS_PBT NVARCHAR(15),
	@SO_MOVEMENT   NVARCHAR(10)
AS
	INSERT INTO THOI_GIAN_CHAY_MAY (MS_MAY,NGAY,CHI_SO_DONG_HO,MS_PBT,SO_MOVEMENT)
	VALUES (@MS_MAY,@NGAY,@SO_DO_DONG_HO,@MS_PBT,@SO_MOVEMENT )

