
--EXEC GetKHTT_CONG_VIEC 178 ,2 
ALTER proc [dbo].[GetKHTT_CONG_VIEC]
	@HANG_MUC_ID INT,
	@LOC INT
AS

SELECT T1.MS_PHIEU_BAO_TRI, T3.TEN_TINH_TRANG INTO #KH_PBT FROM KE_HOACH_TONG_CONG_VIEC T1 INNER JOIN PHIEU_BAO_TRI T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI INNER JOIN TINH_TRANG_PBT T3 ON T2.TINH_TRANG_PBT = T3.STT

IF @LOC=0
	SELECT DISTINCT CTTB.TEN_BO_PHAN, KHTCV.MS_CV, KHTCV.HANG_MUC_ID, KHTCV.MS_MAY, KHTCV.MS_UU_TIEN, KHTCV.MS_BO_PHAN, CV.MO_TA_CV, KHTCV.MS_PHIEU_BAO_TRI, KHTCV.EOR_ID, 
						  KHTCV.THUE_NGOAI, KHTCV.KHONG_GQ, KHTCV.GHI_CHU,KHTCV.THOI_GIAN_DU_KIEN , KHTCV.SNGUOI, KHTCV.YCAU_NS, KHTCV.YCAU_DC, CV.THAO_TAC, CV.TIEU_CHUAN_KT, T1.TEN_TINH_TRANG
	FROM         dbo.KE_HOACH_TONG_CONG_VIEC AS KHTCV INNER JOIN
						  dbo.CONG_VIEC AS CV ON KHTCV.MS_CV = CV.MS_CV INNER JOIN
						  dbo.CAU_TRUC_THIET_BI AS CTTB ON KHTCV.MS_MAY = CTTB.MS_MAY AND KHTCV.MS_BO_PHAN = CTTB.MS_BO_PHAN LEFT JOIN #KH_PBT T1 ON KHTCV.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI
	WHERE HANG_MUC_ID=@HANG_MUC_ID AND KHTCV.MS_PHIEU_BAO_TRI IS NULL AND EOR_ID IS NULL AND (KHONG_GQ=0 OR KHONG_GQ IS NULL) AND (THUE_NGOAI =0 OR THUE_NGOAI IS NULL)
ELSE IF @LOC=1
	SELECT DISTINCT CTTB.TEN_BO_PHAN, KHTCV.MS_CV, KHTCV.HANG_MUC_ID, KHTCV.MS_MAY, KHTCV.MS_UU_TIEN, KHTCV.MS_BO_PHAN, CV.MO_TA_CV, KHTCV.MS_PHIEU_BAO_TRI, KHTCV.EOR_ID, 
						  KHTCV.THUE_NGOAI, KHTCV.KHONG_GQ, KHTCV.GHI_CHU ,KHTCV.THOI_GIAN_DU_KIEN, KHTCV.SNGUOI, KHTCV.YCAU_NS, KHTCV.YCAU_DC, CV.THAO_TAC, CV.TIEU_CHUAN_KT, T1.TEN_TINH_TRANG
	FROM         dbo.KE_HOACH_TONG_CONG_VIEC AS KHTCV INNER JOIN
						  dbo.CONG_VIEC AS CV ON KHTCV.MS_CV = CV.MS_CV INNER JOIN
					  dbo.CAU_TRUC_THIET_BI AS CTTB ON KHTCV.MS_MAY = CTTB.MS_MAY AND KHTCV.MS_BO_PHAN = CTTB.MS_BO_PHAN LEFT JOIN #KH_PBT T1 ON KHTCV.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI
	WHERE HANG_MUC_ID=@HANG_MUC_ID AND KHTCV.MS_PHIEU_BAO_TRI IS NULL AND EOR_ID IS NULL AND (KHONG_GQ=1 or THUE_NGOAI = 1)  
ELSE
	SELECT DISTINCT CTTB.TEN_BO_PHAN, KHTCV.MS_CV, KHTCV.HANG_MUC_ID, KHTCV.MS_MAY, KHTCV.MS_UU_TIEN, KHTCV.MS_BO_PHAN, CV.MO_TA_CV, KHTCV.MS_PHIEU_BAO_TRI, KHTCV.EOR_ID, 
						  KHTCV.THUE_NGOAI, KHTCV.KHONG_GQ, KHTCV.GHI_CHU ,KHTCV.THOI_GIAN_DU_KIEN, KHTCV.SNGUOI, KHTCV.YCAU_NS, KHTCV.YCAU_DC, CV.THAO_TAC, CV.TIEU_CHUAN_KT, T1.TEN_TINH_TRANG
	FROM         dbo.KE_HOACH_TONG_CONG_VIEC AS KHTCV INNER JOIN
						  dbo.CONG_VIEC AS CV ON KHTCV.MS_CV = CV.MS_CV INNER JOIN
						  dbo.CAU_TRUC_THIET_BI AS CTTB ON KHTCV.MS_MAY = CTTB.MS_MAY AND KHTCV.MS_BO_PHAN = CTTB.MS_BO_PHAN LEFT JOIN #KH_PBT T1 ON KHTCV.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI
	WHERE HANG_MUC_ID=@HANG_MUC_ID AND KHTCV.MS_PHIEU_BAO_TRI IS NOT NULL OR EOR_ID IS NOT NULL
