



--exec SP_H_GET_BTDK_KHTT_TG 'Administrator','-1',-1,'-1','-1','-1','administrator'    
ALTER procedure [dbo].[SP_H_GET_BTDK_KHTT_TG] 
	@USERNAME NVARCHAR (64),
	@MS_NHA_XUONG NVARCHAR (50),
	@MS_HE_THONG INT ,
	@MS_LOAI_MAY NVARCHAR (20),
	@MS_NHOM_MAY NVARCHAR(20),
	@MS_MAY NVARCHAR (30) ,
	@IDIP NVARCHAR (256)
AS
BEGIN
DECLARE @SQL VARCHAR(8000)
DECLARE @NGAYHT DATETIME
SET @NGAYHT = GETDATE ()
SELECT DISTINCT  MS_MAY, TEN_MAY,MS_NHOM_MAY, TEN_NHOM_MAY INTO #TMPB FROM dbo.MGetMayUserNgay(
	@NGAYHT, @USERNAME, @MS_NHA_XUONG, @MS_HE_THONG, -1, @MS_LOAI_MAY, @MS_NHOM_MAY,@MS_MAY, 0) A 
WHERE (MS_HIEN_TRANG = 2) 


--Lấy dữ liệu và tính ngày kế bảo trì định kỳ 
SELECT     MAY_LOAI_BTPN_TMP.MS_MAY, MAY_LOAI_BTPN_TMP.MS_LOAI_BT, 
	MAX(MAY_LOAI_BTPN_TMP.NGAY_CUOI) AS NGAY_CUOI INTO #TMPA
FROM         (SELECT     MS_MAY, MS_LOAI_BT, MAX(NGAY_CUOI) AS NGAY_CUOI
       FROM          (SELECT     MS_MAY, MS_LOAI_BT, MAX(NGAY_BD_KH) AS NGAY_CUOI
                               FROM          dbo.PHIEU_BAO_TRI
                               GROUP BY MS_MAY, MS_LOAI_BT
                               UNION
                               SELECT     MS_MAY, MS_LOAI_BT, NGAY_CUOI
                               FROM         dbo.MAY_LOAI_BTPN
                               UNION
                               SELECT     MS_MAY, MS_LOAI_BT, MAX(NGAY) AS NGAY_CUOI
                               FROM         dbo.KE_HOACH_TONG_THE
                               GROUP BY MS_MAY, MS_LOAI_BT) AS MAY_LOAI_BTPT_TMP
       GROUP BY MS_MAY, MS_LOAI_BT) AS MAY_LOAI_BTPN_TMP INNER JOIN
          (SELECT     T2.MS_MAY, T2.MS_LOAI_BT
            FROM          (SELECT     MS_MAY, MS_LOAI_BT, MAX(NGAY_AD) AS NGAY_AD
                                    FROM          dbo.MAY_LOAI_BTPN_CHU_KY AS T
                                    GROUP BY MS_MAY, MS_LOAI_BT) AS T1 INNER JOIN
                                   dbo.MAY_LOAI_BTPN_CHU_KY AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_LOAI_BT = T2.MS_LOAI_BT AND 
                                   T1.NGAY_AD = T2.NGAY_AD) AS T_1 ON MAY_LOAI_BTPN_TMP.MS_MAY = T_1.MS_MAY AND 
      MAY_LOAI_BTPN_TMP.MS_LOAI_BT = T_1.MS_LOAI_BT
GROUP BY MAY_LOAI_BTPN_TMP.MS_MAY, MAY_LOAI_BTPN_TMP.MS_LOAI_BT



SELECT A.* INTO #TB_BTDK_TMP FROM #TMPA A INNER JOIN #TMPB B ON A.MS_MAY = B.MS_MAY

--Tính thời gian chạy máy 
-- Nếu ngày kế > Now thì tính thời gian chạy máy từ lần bảo trì trước đến ngày kế
-- Nếu ngày kế là Max so với Now thì tính thời gian chạy mấy từ ngày cuối đến Now 
-- Nếu ngày kế nhỏ hơn Max so với Now thì tính thời gian chạy máy từ ngày cuối đến ngày kế
CREATE TABLE #TB_BTDK_TMP_1 (MS_MAY NVARCHAR (30), MS_LOAI_BT NVARCHAR (30),NGAY_CUOI DATETIME , THOI_GIAN_CHAY_MAY INT )

DECLARE @MS_MAY_TMP NVARCHAR(30) ,@MS_LOAI_BT_TMP NVARCHAR(30),@NGAY_CUOI_TMP DATETIME 

DECLARE BTDK_CURSOR CURSOR FOR
SELECT * FROM #TB_BTDK_TMP

OPEN BTDK_CURSOR

FETCH NEXT FROM BTDK_CURSOR 
INTO @MS_MAY_TMP, @MS_LOAI_BT_TMP,@NGAY_CUOI_TMP
WHILE @@FETCH_STATUS = 0  
BEGIN		
	DECLARE @THOI_GIAN_CHAY_MAY INT 
	SET @THOI_GIAN_CHAY_MAY = (SELECT ISNULL(SUM(CHI_SO_DONG_HO),0) FROM THOI_GIAN_CHAY_MAY WHERE MS_MAY = @MS_MAY_TMP AND NGAY> = @NGAY_CUOI_TMP AND NGAY <= GETDATE () )		
	
	INSERT INTO #TB_BTDK_TMP_1 (MS_MAY,MS_LOAI_BT,NGAY_CUOI,THOI_GIAN_CHAY_MAY) 
	VALUES (@MS_MAY_TMP,@MS_LOAI_BT_TMP,@NGAY_CUOI_TMP,@THOI_GIAN_CHAY_MAY ) 
		
	FETCH NEXT FROM BTDK_CURSOR 
	INTO @MS_MAY_TMP, @MS_LOAI_BT_TMP,@NGAY_CUOI_TMP
END	
CLOSE BTDK_CURSOR 
DEALLOCATE  BTDK_CURSOR 

--Xóa dữ liệu quan hệ
DELETE T FROM #TB_BTDK_TMP_1 T INNER JOIN
dbo.MAY ON T.MS_MAY = dbo.MAY.MS_MAY INNER JOIN
(SELECT T1.MS_MAY,T1.MS_LOAI_BT, T1.RUN_TIME,T1.MS_DVT_RT 
FROM (SELECT T.MS_MAY ,T.MS_LOAI_BT , MAX(T.NGAY_AD) AS NGAY_AD 
FROM dbo.MAY_LOAI_BTPN_CHU_KY T
GROUP BY T.MS_MAY ,T.MS_LOAI_BT ) T INNER JOIN dbo.MAY_LOAI_BTPN_CHU_KY T1 
ON T.MS_MAY = T1.MS_MAY AND T.MS_LOAI_BT = T1.MS_LOAI_BT AND T.NGAY_AD = T1.NGAY_AD) T1
ON T.MS_MAY = T1.MS_MAY AND T.MS_LOAI_BT = T1.MS_LOAI_BT INNER JOIN
dbo.NHOM_MAY ON dbo.MAY.MS_NHOM_MAY = dbo.NHOM_MAY.MS_NHOM_MAY INNER JOIN
dbo.LOAI_BAO_TRI ON T.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT INNER JOIN
dbo.DON_VI_TINH_RUN_TIME ON T1.MS_DVT_RT = dbo.DON_VI_TINH_RUN_TIME.MS_DVT_RT 
WHERE ISNULL(T1.RUN_TIME,0) <=  0 AND T1.RUN_TIME > T.THOI_GIAN_CHAY_MAY 


DELETE TB_BTDK_TMP_1_1
FROM  dbo.LOAI_BAO_TRI_QH INNER JOIN
#TB_BTDK_TMP_1 AS TB_BTDK_TMP_1_1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = TB_BTDK_TMP_1_1.MS_LOAI_BT INNER JOIN
#TB_BTDK_TMP_1 AS TB_BTDK_TMP_1 ON TB_BTDK_TMP_1_1.MS_MAY = TB_BTDK_TMP_1.MS_MAY AND  TB_BTDK_TMP_1_1.MS_LOAI_BT = TB_BTDK_TMP_1.MS_LOAI_BT AND 
dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = TB_BTDK_TMP_1.MS_LOAI_BT

----Xóa bảo trì định kỳ đã lập bên kế hoạch tổng thể và phiếu bảo trì

SELECT DISTINCT CONVERT (BIT , 0) AS CHON, T.MS_MAY, TEN_MAY, T.MS_LOAI_BT, dbo.LOAI_BAO_TRI.TEN_LOAI_BT, 
T.NGAY_CUOI, T1.RUN_TIME ,CONVERT (NVARCHAR (16), T1.RUN_TIME ) + ' ' + 
dbo.DON_VI_TINH_RUN_TIME.TEN_DVT_RT AS TGCM_QD ,T.THOI_GIAN_CHAY_MAY AS RUN_TIME_HT ,
CONVERT (NVARCHAR (16),T.THOI_GIAN_CHAY_MAY) + ' ' + dbo.DON_VI_TINH_RUN_TIME.TEN_DVT_RT AS TGCM_HT, MS_NHOM_MAY, TEN_NHOM_MAY
FROM #TB_BTDK_TMP_1 T INNER JOIN
#TMPB A ON T.MS_MAY = A.MS_MAY INNER JOIN
(SELECT T1.MS_MAY,T1.MS_LOAI_BT, T1.RUN_TIME,T1.MS_DVT_RT 
FROM (SELECT T.MS_MAY ,T.MS_LOAI_BT , MAX(T.NGAY_AD) AS NGAY_AD 
FROM dbo.MAY_LOAI_BTPN_CHU_KY T
GROUP BY T.MS_MAY ,T.MS_LOAI_BT ) T INNER JOIN dbo.MAY_LOAI_BTPN_CHU_KY T1 
ON T.MS_MAY = T1.MS_MAY AND T.MS_LOAI_BT = T1.MS_LOAI_BT AND T.NGAY_AD = T1.NGAY_AD) T1
ON T.MS_MAY = T1.MS_MAY AND T.MS_LOAI_BT = T1.MS_LOAI_BT INNER JOIN
dbo.LOAI_BAO_TRI ON T.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT INNER JOIN
dbo.DON_VI_TINH_RUN_TIME ON T1.MS_DVT_RT = dbo.DON_VI_TINH_RUN_TIME.MS_DVT_RT
WHERE T1.RUN_TIME IS NOT NULL AND T1.RUN_TIME > 0 AND T1.RUN_TIME <= T.THOI_GIAN_CHAY_MAY


END

