--EXEC GetKHTT_CONG_VIEC_PT 5,1,'',0

ALTER proc [dbo].[GetKHTT_CONG_VIEC_PT]
	@HANG_MUC_ID INT,
	@MS_CV INT,
	@MS_BO_PHAN NVARCHAR(50),
	@NGON_NGU INT
AS


SELECT MS_MAY,HANG_MUC_ID,MS_CV,MS_BO_PHAN,KHTCVPT.MS_PT,TEN_PT, PT.QUY_CACH,SO_LUONG,
CASE @NGON_NGU WHEN 0 THEN TEN_1 WHEN 1 THEN TEN_2 ELSE TEN_3 END AS TEN_DVT,KHTCVPT.GHI_CHU 
,DON_GIA_KH,TIEN_TE_KH,TY_GIA_KH,TY_GIA_USD_KH,DON_GIA_CUOI,NGAY_LAY_DG_KH
FROM KE_HOACH_TONG_CONG_VIEC_PHU_TUNG KHTCVPT INNER JOIN IC_PHU_TUNG PT ON KHTCVPT.MS_PT=PT.MS_PT INNER JOIN DON_VI_TINH DV ON PT.DVT=DV.DVT
WHERE HANG_MUC_ID=@HANG_MUC_ID AND MS_CV=@MS_CV AND MS_BO_PHAN=@MS_BO_PHAN


