 -- EXEC dbo.[GET_DATA_LIST_VTPT_ALL_FOR_KHBT] 'ADMIN' , 'VT_admin' , 'PT_admin'
 
ALTER proc [dbo].[GET_DATA_LIST_VTPT_ALL_FOR_KHBT]
	@USERNAME NVARCHAR(100),
	@TB_VT NVARCHAR(250),
	@TB_PT NVARCHAR(250)

AS

DECLARE @SQL NVARCHAR(4000)
SET @SQL = ' SELECT CONVERT(BIT,0) AS chkChon , A.MS_PT, TEN_PT,  CONVERT(FLOAT,1) AS SL_KH,TEN_LOAI_VT_TV , 
				MS_PT_NCC ,''YN'' AS MS_PT_CHA ,QUY_CACH,TEN_PT_VIET,MS_PT_CTY, X.TEN_1 AS TEN_DVT
				FROM IC_PHU_TUNG A INNER JOIN LOAI_VT B ON A.MS_LOAI_VT = B.MS_LOAI_VT 
				LEFT JOIN (SELECT DISTINCT MS_PT FROM ' + @TB_VT +  ' UNION SELECT DISTINCT MS_PT FROM ' +  @TB_PT + ') AS C ON A.MS_PT = C.MS_PT
				INNER JOIN (SELECT DISTINCT T1.MS_PT FROM IC_PHU_TUNG_LOAI_PHU_TUNG AS T1 INNER JOIN NHOM_LOAI_PHU_TUNG AS T2 ON T1.MS_LOAI_PT = T2.MS_LOAI_PT 
				INNER JOIN (SELECT GROUP_ID FROM USERS WHERE USERNAME = ''' + @USERNAME + ''' ) AS T3 ON T2.GROUP_ID = T3.GROUP_ID ) AS D ON A.MS_PT = D.MS_PT 
				INNER JOIN DON_VI_TINH X ON A.DVT = X.DVT
				WHERE 1 = 1 '
EXEC (@SQL)
