
--SELECT * FROM PHIEU_BAO_TRI_CONG_VIEC WHERE MS_PHIEU_BAO_TRI ='WO-201111002'
ALTER PROC [dbo].[SP_NHU_Y_ADD_AUTO_CV]
    @MS_PHIEU_BAO_TRI NVARCHAR(20),
	@MS_CV INT,
	@MS_BO_PHAN NVARCHAR(50),
	@SO_GIO_KH FLOAT,
	@SO_GIO_PB FLOAT,
	@DINH_MUC_PB FLOAT,
	@SO_NGUOI	int	,
	@YEU_CAU_NS	nvarchar(1000),
	@YEU_CAU_DUNG_CU	nvarchar(1000)
AS
INSERT INTO PHIEU_BAO_TRI_CONG_VIEC
(
	MS_PHIEU_BAO_TRI,
	MS_CV,
	MS_BO_PHAN,
	SO_GIO_KH,
	SO_GIO_PB,
	DINH_MUC_PB,
	SO_NGUOI,YEU_CAU_NS,YEU_CAU_DUNG_CU	

)
VALUES
(
    @MS_PHIEU_BAO_TRI,
	@MS_CV,
	@MS_BO_PHAN,
	@SO_GIO_KH,
	@SO_GIO_PB,
	@DINH_MUC_PB,
	@SO_NGUOI,@YEU_CAU_NS,@YEU_CAU_DUNG_CU
)

UPDATE PHIEU_BAO_TRI_CONG_VIEC SET BAC_THO = MS_BAC_THO, THAO_TAC = T2.THAO_TAC, TIEU_CHUAN_KT = T2.TIEU_CHUAN_KT, 
		PATH_HD = T2.PATH_HD, GHI_CHU = T2.GHI_CHU, NGOAI_TE = T2.NGOAI_TE
FROM PHIEU_BAO_TRI_CONG_VIEC  T1 INNER JOIN CONG_VIEC T2 ON T1.MS_CV = T2.MS_CV
WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI AND T1.MS_CV = @MS_CV AND MS_BO_PHAN = @MS_BO_PHAN


