IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetBCPBT')
   exec('CREATE PROCEDURE [dbo].[GetBCPBT] AS BEGIN SET NOCOUNT ON; END')
GO



-- GetBCPBT 0
ALTER PROC [dbo].[GetBCPBT]
(
	@NNgu int
)
as

SELECT * INTO #BT_PBT FROM PBT_IN WHERE CHON = 1
DROP TABLE PBT_IN

SELECT DISTINCT 
                      TOP (100) PERCENT D.HO + ' ' + D.TEN AS HO_TEN, dbo.Gettenchuyenmon(D.MS_CONG_NHAN) AS CHUYEN_MON, ISNULL(B.TEN_GOI, '') AS TRINH_DO_VH, 
                      dbo.Getnhantenbactho(D.MS_CONG_NHAN) AS BAC_THO
FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU AS A INNER JOIN
                      dbo.CONG_NHAN AS D ON A.MS_CONG_NHAN = D.MS_CONG_NHAN LEFT OUTER JOIN
                      dbo.TRINH_DO_VAN_HOA AS B ON D.MS_TRINH_DO = B.MS_TRINH_DO INNER JOIN 
                      #BT_PBT C ON A.MS_PHIEU_BAO_TRI = C.MS_PHIEU_BAO_TRI

	
SELECT  C.MS_PHIEU_BAO_TRI ,   B.TEN_BO_PHAN, D.MO_TA_CV,
dbo.MGetCongNhanPBTCV(C.MS_PHIEU_BAO_TRI,A.MS_CV , A.MS_BO_PHAN , '' ) AS CONG_NHAN,
dbo.GetVTuTheoPBTBPCV(C.MS_PHIEU_BAO_TRI,A.MS_CV , A.MS_BO_PHAN , @NNgu ) AS VAT_TU, 
 A.DANH_GIA,C.MS_MAY , F.TEN_MAY , 
 DBO.GetCongNhanYCSDCT(C.MS_PHIEU_BAO_TRI) AS CN_YCSDCT
FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC AS A INNER JOIN
                      dbo.CAU_TRUC_THIET_BI AS B ON A.MS_BO_PHAN = B.MS_BO_PHAN INNER JOIN
                      dbo.PHIEU_BAO_TRI AS C ON A.MS_PHIEU_BAO_TRI = C.MS_PHIEU_BAO_TRI AND B.MS_MAY = C.MS_MAY INNER JOIN
                      dbo.CONG_VIEC AS D ON A.MS_CV = D.MS_CV INNER JOIN 
                      #BT_PBT E ON A.MS_PHIEU_BAO_TRI = E.MS_PHIEU_BAO_TRI INNER JOIN
                      dbo.MAY AS F ON C.MS_MAY = F.MS_MAY
ORDER BY C.MS_PHIEU_BAO_TRI                      
                      
SELECT  A.MS_PHIEU_BAO_TRI,     B.MS_MAY, E.TEN_BO_PHAN, C.MS_PT, D.TEN_PT, 
CASE ISNULL( SUM(C.SL_KH),0) WHEN 0 THEN  SUM(C.SL_TT) ELSE SUM(C.SL_KH) END AS SO_LUONG
,  CASE @NNgu  WHEN 0 THEN TEN_1 WHEN 1 THEN TEN_2 ELSE TEN_3 END AS TEN_DVT

FROM         dbo.PHIEU_BAO_TRI AS A INNER JOIN
                      dbo.MAY AS B ON A.MS_MAY = B.MS_MAY INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS C INNER JOIN
                      dbo.IC_PHU_TUNG AS D ON C.MS_PT = D.MS_PT ON A.MS_PHIEU_BAO_TRI = C.MS_PHIEU_BAO_TRI INNER JOIN
                      dbo.CAU_TRUC_THIET_BI AS E ON C.MS_BO_PHAN = E.MS_BO_PHAN AND A.MS_MAY = E.MS_MAY INNER JOIN
                      dbo.DON_VI_TINH AS F ON D.DVT = F.DVT INNER JOIN 
                      #BT_PBT G ON G.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
GROUP BY A.MS_PHIEU_BAO_TRI,     B.MS_MAY, E.TEN_BO_PHAN, C.MS_PT, D.TEN_PT,   
CASE @NNgu  WHEN 0 THEN TEN_1 WHEN 1 THEN TEN_2 ELSE TEN_3 END                    
ORDER BY A.MS_PHIEU_BAO_TRI, B.MS_MAY, E.TEN_BO_PHAN, C.MS_PT, D.TEN_PT

