
ALTER proc [dbo].[AddKE_HOACH_THUC_HIEN]
	@MS_CONG_NHAN nvarchar(9),
	@NGAY datetime,
	@TEN_CONG_VIEC nvarchar(255),
	@GHI_CHU nvarchar(255),
	@MS_UU_TIEN smallint,
	@USER_LAST nvarchar(50),
	@THOI_HAN datetime,
	@THOI_GIAN_DK float,
	@DA_XONG bit,
	@TU_GIO datetime,
	@DEN_GIO datetime
AS

IF @MS_UU_TIEN=-1
	SET @MS_UU_TIEN = NULL

IF @THOI_GIAN_DK=-1
	SET @THOI_GIAN_DK = NULL

IF @TU_GIO = '1900-01-01 00:00:00.000'
	SET @TU_GIO = NULL
	
IF @DEN_GIO = '1900-01-01 00:00:00.000'
	SET @DEN_GIO = NULL
	
INSERT INTO KE_HOACH_THUC_HIEN (
	MS_CONG_NHAN ,	NGAY,	TEN_CONG_VIEC,	GHI_CHU,	MS_UU_TIEN,	USER_LAST,
	THOI_HAN,	THOI_GIAN_DK,	DA_XONG, TU_GIO,DEN_GIO
)
values (
	@MS_CONG_NHAN ,	@NGAY,	@TEN_CONG_VIEC,	@GHI_CHU,	@MS_UU_TIEN,	@USER_LAST,
	@THOI_HAN,	@THOI_GIAN_DK,	@DA_XONG,@TU_GIO,@DEN_GIO
)
