
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'FN' AND name = 'GetThongSoYCSD')
   exec('CREATE FUNCTION  dbo.GetThongSoYCSD () RETURNS  nvarchar(4000) as Begin return null end')
GO

--SELECT dbo.GetThongSoYCSD(HANG_MUC_ID,1) AS MSPBT, * FROM KE_HOACH_TONG_THE WHERE HANG_MUC_ID = 68
ALTER function [dbo].[GetThongSoYCSD]
(
	@MsHangMuc INT,
	@iLoaiLay INT
)

RETURNS  nvarchar(4000)
as 

begin
declare @sName nvarchar(4000)
--SELECT T2.USER_COMMENT,T1.MO_TA_TINH_TRANG,T1.YEU_CAU

if @iLoaiLay = 1	--T2.USER_COMMENT
	SELECT @sName = COALESCE(ISNULL(@sName,'') + CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'' )  + 
		ISNULL(T2.USER_COMMENT ,'') 
		FROM YEU_CAU_NSD_CHI_TIET T1 INNER JOIN YEU_CAU_NSD T2 ON T1.STT = T2.STT
		WHERE HANG_MUC_ID_KE_HOACH = @MsHangMuc ORDER BY T2.USER_COMMENT

if @iLoaiLay = 2	--T1.MO_TA_TINH_TRANG
	SELECT @sName = COALESCE(ISNULL(@sName,'') + CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'' )  + 
		ISNULL(T1.MO_TA_TINH_TRANG ,'') 
		FROM YEU_CAU_NSD_CHI_TIET T1 INNER JOIN YEU_CAU_NSD T2 ON T1.STT = T2.STT
		WHERE HANG_MUC_ID_KE_HOACH = @MsHangMuc ORDER BY T1.MO_TA_TINH_TRANG
		
if @iLoaiLay = 3	--T1.YEU_CAU
	SELECT @sName = COALESCE(ISNULL(@sName,'') + CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'' )  + 
		ISNULL(T1.YEU_CAU ,'') 
		FROM YEU_CAU_NSD_CHI_TIET T1 INNER JOIN YEU_CAU_NSD T2 ON T1.STT = T2.STT
		WHERE HANG_MUC_ID_KE_HOACH = @MsHangMuc ORDER BY T1.YEU_CAU		



	
return @sName

end
