IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetDSCauTrucThietBiPhuTung')
   exec('CREATE PROCEDURE [dbo].[GetDSCauTrucThietBiPhuTung] AS BEGIN SET NOCOUNT ON; END')
GO



--WO-201507001049	2	HAM-0005
--WO-201507001049	389	Thay lưới	01.04
-- exec GetDSCauTrucThietBiPhuTung 0, 'admin','HAM-0005','01.04','WO-201507001049',389
ALTER PROCEDURE GetDSCauTrucThietBiPhuTung
	@TYPE INT,
	@USERNAME NVARCHAR(50),
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN NVARCHAR(50),
	@MS_PHIEU_BAO_TRI NVARCHAR(50),
	@MS_CV INT
AS

CREATE TABLE #PTUNG (MS_PT NVARCHAR(255))
DECLARE @sSQL NVARCHAR(4000)
SET @sSQL = 'INSERT INTO #PTUNG (MS_PT) SELECT DISTINCT MS_PT FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_TMP' +  @USERNAME + 
	' WHERE ISNULL(TU_XUAT,0) = 0 AND MS_PHIEU_BAO_TRI = ''' +  @MS_PHIEU_BAO_TRI + ''' AND MS_BO_PHAN = '''+ @MS_BO_PHAN + ''' AND MS_CV = ' + CONVERT(NVARCHAR(250),@MS_CV)
EXEC (@sSQL)


SELECT T1.MS_PT INTO #LPT_USER FROM IC_PHU_TUNG_LOAI_PHU_TUNG T1 INNER JOIN NHOM_LOAI_PHU_TUNG T2 ON T1.MS_LOAI_PT = T2.MS_LOAI_PT 
	INNER JOIN USERS T3 ON T2.GROUP_ID = T3.GROUP_ID WHERE USERNAME = 'ADMIN'
SELECT T1.MS_PT INTO #LM_USER FROM IC_PHU_TUNG_LOAI_MAY T1 INNER JOIN NHOM_LOAI_MAY T2 ON T1.MS_LOAI_MAY = T2.MS_LOAI_MAY 
	INNER JOIN USERS T3 ON T2.GROUP_ID = T3.GROUP_ID WHERE USERNAME = 'ADMIN'
	
SELECT dbo.CAU_TRUC_THIET_BI.MS_PT, dbo.IC_PHU_TUNG.TEN_PT,dbo.IC_PHU_TUNG.TEN_PT_VIET,QUY_CACH, 
			dbo.CAU_TRUC_THIET_BI.SO_LUONG, dbo.LOAI_VT.TEN_LOAI_VT_TV, dbo.IC_PHU_TUNG.MS_PT_NCC, dbo.IC_PHU_TUNG.MS_PT_CTY ,
			CASE @TYPE WHEN 0 THEN dbo.DON_VI_TINH.TEN_1 WHEN 1 THEN dbo.DON_VI_TINH.TEN_2 ELSE dbo.DON_VI_TINH.TEN_3 END AS TEN_1,
		   'YN' AS MS_PT_CHA 
INTO #BT1		   
FROM         dbo.CAU_TRUC_THIET_BI INNER JOIN
                      dbo.IC_PHU_TUNG ON dbo.CAU_TRUC_THIET_BI.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN
                      dbo.DON_VI_TINH ON dbo.IC_PHU_TUNG.DVT = dbo.DON_VI_TINH.DVT INNER JOIN
                      dbo.LOAI_VT ON dbo.IC_PHU_TUNG.MS_LOAI_VT = dbo.LOAI_VT.MS_LOAI_VT INNER JOIN
                      dbo.IC_PHU_TUNG_LOAI_PHU_TUNG ON dbo.IC_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG_LOAI_PHU_TUNG.MS_PT INNER JOIN 
                      #LPT_USER A ON IC_PHU_TUNG.MS_PT = A.MS_PT INNER JOIN 
                      #LM_USER B ON IC_PHU_TUNG.MS_PT = B.MS_PT 
WHERE (dbo.CAU_TRUC_THIET_BI.MS_MAY =@MS_MAY)   
AND (dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN =@MS_BO_PHAN) 
AND (ACTIVE_PT = 1)

SELECT DISTINCT  dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT, dbo.IC_PHU_TUNG.TEN_PT,   dbo.IC_PHU_TUNG.TEN_PT_VIET,QUY_CACH ,
		(SELECT  SUM(SO_LUONG)FROM CAU_TRUC_THIET_BI_PHU_TUNG CTTBPT   WHERE CTTBPT.MS_PT = CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT   
			AND  CTTBPT.MS_BO_PHAN = CAU_TRUC_THIET_BI_PHU_TUNG.MS_BO_PHAN AND CTTBPT.MS_MAY=CAU_TRUC_THIET_BI_PHU_TUNG.MS_MAY) AS SL_KH, 
		dbo.LOAI_VT.TEN_LOAI_VT_TV,   dbo.IC_PHU_TUNG.MS_PT_NCC, dbo.IC_PHU_TUNG.MS_PT_CTY, 
		CASE @TYPE WHEN 0 THEN dbo.DON_VI_TINH.TEN_1 WHEN 1 THEN dbo.DON_VI_TINH.TEN_2 ELSE dbo.DON_VI_TINH.TEN_3 END AS TEN_1,'Y' AS MS_PT_CHA 
INTO #BT2
FROM         dbo.CAU_TRUC_THIET_BI_PHU_TUNG INNER JOIN
                      dbo.IC_PHU_TUNG ON dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN
                      dbo.DON_VI_TINH ON dbo.IC_PHU_TUNG.DVT = dbo.DON_VI_TINH.DVT INNER JOIN
                      dbo.LOAI_VT ON dbo.IC_PHU_TUNG.MS_LOAI_VT = dbo.LOAI_VT.MS_LOAI_VT INNER JOIN 
                      #LPT_USER A ON IC_PHU_TUNG.MS_PT = A.MS_PT INNER JOIN 
                      #LM_USER B ON IC_PHU_TUNG.MS_PT = B.MS_PT                       
WHERE (dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_MAY =@MS_MAY) AND (CAU_TRUC_THIET_BI_PHU_TUNG.ACTIVE=1)
AND (dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_BO_PHAN =@MS_BO_PHAN) 
AND (ACTIVE_PT = 1) AND NOT EXISTS (SELECT DISTINCT MS_PT FROM #BT1 T1 WHERE T1.MS_PT =CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT )


SELECT * INTO #BT3 FROM #BT2 
UNION 
SELECT * FROM #BT1 

	
SELECT DISTINCT
CONVERT(BIT,CASE ISNULL(T2.MS_PT,'') WHEN '' THEN 0 ELSE 1 END) AS chkChon,T1.MS_PT, TEN_PT,
	TEN_PT_VIET,QUY_CACH ,SL_KH, TEN_LOAI_VT_TV,   MS_PT_NCC, MS_PT_CTY, TEN_1,MS_PT_CHA ,
	@MS_BO_PHAN AS MS_BO_PHAN, @MS_CV AS MS_CV,@MS_PHIEU_BAO_TRI AS MS_PHIEU_BAO_TRI 
FROM #BT3  T1 LEFT JOIN #PTUNG T2 ON T1.MS_PT = T2.MS_PT 


