IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetMayYeuCauNSD')
   exec('CREATE PROCEDURE [dbo].[GetMayYeuCauNSD] AS BEGIN SET NOCOUNT ON; END')
GO




--EXEC GetMayYeuCauNSD 'ADMIN','-1',48
ALTER PROC [dbo].[GetMayYeuCauNSD]
(
	@USERNAME NVARCHAR(50),
	@MS_NHA_XUONG NVARCHAR(50),
	@STT_YC INT
)
as

DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()

SELECT @NgayHT = NGAY FROM YEU_CAU_NSD WHERE STT = @STT_YC



SELECT A.MS_MAY, A.TEN_MAY , A.TEN_MAY AS MSMAY FROM dbo.MGetMayUserNgay(@NgayHT,@USERNAME,@MS_NHA_XUONG,-1,-1,-1,'-1','-1',0)  A 
UNION 
SELECT T1.MS_MAY,T2.TEN_MAY,T2.TEN_MAY  FROM YEU_CAU_NSD_CHI_TIET T1 INNER JOIN MAY T2 ON T1.MS_MAY = T2.MS_MAY WHERE STT = @STT_YC
ORDER BY MS_MAY



