
--EXEC GetVatTuPhieuBaoTri 'WO-201104015',1,'01'
ALTER PROC [dbo].[GetVatTuPhieuBaoTri]
	@MsPBT NVARCHAR(20),
	@MsCV	INT,
	@MsBoPhan	nvarchar(50)

AS
	
SELECT CONVERT(BIT,0) AS CHON,T1.MS_PHIEU_BAO_TRI, T3.MS_PT, T4.TEN_PT, T4.MS_PT_NCC, 
T3.SL_VT, T1.MS_DH_XUAT_PT, T3.MS_DH_NHAP_PT, T5.TEN_VI_TRI, @MsBoPhan as MS_BO_PHAN, @MsCV AS MS_CV, 
T4.QUY_CACH
FROM dbo.IC_DON_HANG_XUAT AS T1 INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU AS T2 ON 
T1.MS_DH_XUAT_PT = T2.MS_DH_XUAT_PT INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T3 ON 
T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT AND T2.MS_PT = T3.MS_PT INNER JOIN dbo.IC_PHU_TUNG AS T4 ON 
T3.MS_PT = T4.MS_PT INNER JOIN dbo.VI_TRI_KHO AS T5 ON T1.MS_KHO = T5.MS_KHO AND T3.MS_VI_TRI = T5.MS_VI_TRI
WHERE    T1.MS_PHIEU_BAO_TRI = @MsPBT
ORDER BY T3.MS_PT, T4.TEN_PT, T4.MS_PT_NCC

