--SELECT * FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_TMPADMIN
-- exec GetDANH_SACH_CAU_TRUC_THIET_BI_PHU_TUNGs 0, 'admin','10-01-OFF-013-00','02','WO-201510000008' ,947
ALTER PROCEDURE [dbo].[GetDANH_SACH_CAU_TRUC_THIET_BI_PHU_TUNGs]
	@TYPE INT,
	@USERNAME NVARCHAR(50),
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN NVARCHAR(50),
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@MS_CV INT
AS

CREATE TABLE #PT_CHON (MS_PT NVARCHAR(100))
DECLARE @sSql NVARCHAR(4000)
SET @sSql = 'INSERT INTO #PT_CHON SELECT DISTINCT MS_PT FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_TMP' + @USERNAME + 
				' WHERE MS_CV= ' + CONVERT(NVARCHAR, @MS_CV) + ' AND MS_BO_PHAN = ''' +  @MS_BO_PHAN + ''''
EXEC (@sSql )
--SELECT * FROM #PT_CHON 


SELECT DISTINCT CONVERT(BIT,0) AS chkChon, dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT, dbo.IC_PHU_TUNG.TEN_PT,   dbo.IC_PHU_TUNG.TEN_PT_VIET,
		(SELECT  SUM(SO_LUONG)FROM CAU_TRUC_THIET_BI_PHU_TUNG CTTBPT   WHERE CTTBPT.MS_PT = CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT   
			AND  CTTBPT.MS_BO_PHAN = CAU_TRUC_THIET_BI_PHU_TUNG.MS_BO_PHAN AND CTTBPT.MS_MAY=CAU_TRUC_THIET_BI_PHU_TUNG.MS_MAY) AS SL_KH, 
		dbo.LOAI_VT.TEN_LOAI_VT_TV,   dbo.IC_PHU_TUNG.MS_PT_NCC, dbo.IC_PHU_TUNG.MS_PT_CTY, 
		CASE @TYPE WHEN 0 THEN dbo.DON_VI_TINH.TEN_1 WHEN 1 THEN dbo.DON_VI_TINH.TEN_2 ELSE dbo.DON_VI_TINH.TEN_3 END AS TEN_1,'Y' AS MS_PT_CHA,QUY_CACH INTO #BTPT
FROM dbo.CAU_TRUC_THIET_BI_PHU_TUNG INNER JOIN  dbo.IC_PHU_TUNG 
		ON dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN  dbo.IC_PHU_TUNG_LOAI_MAY 
		ON dbo.IC_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG_LOAI_MAY.MS_PT INNER JOIN  dbo.IC_PHU_TUNG_LOAI_PHU_TUNG 
		ON dbo.IC_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG_LOAI_PHU_TUNG.MS_PT INNER JOIN  dbo.DON_VI_TINH 
		ON dbo.IC_PHU_TUNG.DVT = dbo.DON_VI_TINH.DVT INNER JOIN  dbo.LOAI_VT 
		ON dbo.IC_PHU_TUNG.MS_LOAI_VT = dbo.LOAI_VT.MS_LOAI_VT  INNER JOIN  dbo.LOAI_PHU_TUNG 
		ON dbo.IC_PHU_TUNG_LOAI_PHU_TUNG.MS_LOAI_PT = dbo.LOAI_PHU_TUNG.MS_LOAI_PT   INNER JOIN  dbo.LOAI_MAY 
		ON dbo.IC_PHU_TUNG_LOAI_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY   INNER JOIN  dbo.NHOM_LOAI_MAY 
		ON dbo.LOAI_MAY.MS_LOAI_MAY = dbo.NHOM_LOAI_MAY.MS_LOAI_MAY   INNER JOIN  dbo.NHOM_LOAI_PHU_TUNG 
		ON dbo.LOAI_PHU_TUNG.MS_LOAI_PT = dbo.NHOM_LOAI_PHU_TUNG.MS_LOAI_PT   INNER JOIN  dbo.NHOM 
		ON dbo.NHOM_LOAI_MAY.GROUP_ID = dbo.NHOM.GROUP_ID   AND   dbo.NHOM_LOAI_PHU_TUNG.GROUP_ID = dbo.NHOM.GROUP_ID 
		INNER JOIN  dbo.USERS   ON dbo.NHOM.GROUP_ID = dbo.USERS.GROUP_ID  
WHERE (dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_MAY =@MS_MAY) AND (CAU_TRUC_THIET_BI_PHU_TUNG.ACTIVE=1)
AND (dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_BO_PHAN =@MS_BO_PHAN) AND  (dbo.USERS.USERNAME =@USERNAME)
AND (ACTIVE_PT = 1)

UNION 

SELECT 0,    dbo.CAU_TRUC_THIET_BI.MS_PT, dbo.IC_PHU_TUNG.TEN_PT,dbo.IC_PHU_TUNG.TEN_PT_VIET, dbo.CAU_TRUC_THIET_BI.SO_LUONG, dbo.LOAI_VT.TEN_LOAI_VT_TV, 
           dbo.IC_PHU_TUNG.MS_PT_NCC, dbo.IC_PHU_TUNG.MS_PT_CTY ,CASE @TYPE WHEN 0 THEN dbo.DON_VI_TINH.TEN_1 WHEN 1 THEN dbo.DON_VI_TINH.TEN_2 ELSE dbo.DON_VI_TINH.TEN_3 END AS TEN_1,
		   'YN' AS MS_PT_CHA ,QUY_CACH
FROM         dbo.NHOM_LOAI_PHU_TUNG INNER JOIN
                      dbo.LOAI_PHU_TUNG ON dbo.NHOM_LOAI_PHU_TUNG.MS_LOAI_PT = dbo.LOAI_PHU_TUNG.MS_LOAI_PT INNER JOIN
                      dbo.NHOM ON dbo.NHOM_LOAI_PHU_TUNG.GROUP_ID = dbo.NHOM.GROUP_ID INNER JOIN
                      dbo.USERS ON dbo.NHOM.GROUP_ID = dbo.USERS.GROUP_ID INNER JOIN
                      dbo.IC_PHU_TUNG_LOAI_PHU_TUNG ON dbo.LOAI_PHU_TUNG.MS_LOAI_PT = dbo.IC_PHU_TUNG_LOAI_PHU_TUNG.MS_LOAI_PT INNER JOIN
                      dbo.CAU_TRUC_THIET_BI INNER JOIN
                      dbo.IC_PHU_TUNG ON dbo.CAU_TRUC_THIET_BI.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN
                      dbo.DON_VI_TINH ON dbo.IC_PHU_TUNG.DVT = dbo.DON_VI_TINH.DVT INNER JOIN
                      dbo.LOAI_VT ON dbo.IC_PHU_TUNG.MS_LOAI_VT = dbo.LOAI_VT.MS_LOAI_VT ON 
                      dbo.IC_PHU_TUNG_LOAI_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG.MS_PT
WHERE (dbo.CAU_TRUC_THIET_BI.MS_MAY =@MS_MAY)   
AND (dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN =@MS_BO_PHAN) AND  (dbo.USERS.USERNAME =@USERNAME)
AND (ACTIVE_PT = 1)
ORDER BY MS_PT, TEN_PT


SELECT DISTINCT CASE ISNULL(T2.MS_PT,'') WHEN ''  THEN 0 ELSE 1 END AS chkChon, 
T1.MS_PT, TEN_PT,   TEN_PT_VIET,SL_KH, TEN_LOAI_VT_TV,   MS_PT_NCC, MS_PT_CTY, TEN_1,MS_PT_CHA,QUY_CACH
		
FROM #BTPT T1 LEFT JOIN #PT_CHON  T2 ON T1.MS_PT = T2.MS_PT