IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetDSCauTrucThietBiPhuTungVatTu')
   exec('CREATE PROCEDURE [dbo].[GetDSCauTrucThietBiPhuTungVatTu] AS BEGIN SET NOCOUNT ON; END')
GO




--EXEC [GetDSCauTrucThietBiPhuTungVatTu] 0,N'PES-0016','admin','WO-201404000447',458,'02'
ALTER PROCEDURE GetDSCauTrucThietBiPhuTungVatTu
	@TYPE INT,
	@USERNAME NVARCHAR(50),
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN NVARCHAR(50),
	@MS_PHIEU_BAO_TRI NVARCHAR(50),
	@MS_CV INT
AS

DECLARE @groupid int
set @groupid = [dbo].[Get_GroupID](@USERNAME)
SELECT DISTINCT  CONVERT(BIT,0) AS chkChon,dbo.IC_PHU_TUNG.MS_PT, dbo.IC_PHU_TUNG.TEN_PT,dbo.IC_PHU_TUNG.TEN_PT_VIET ,QUY_CACH, 1 AS SL_KH, dbo.LOAI_VT.TEN_LOAI_VT_TV,
dbo.IC_PHU_TUNG.MS_PT_NCC,dbo.IC_PHU_TUNG.MS_PT_CTY,(CASE @TYPE WHEN 0 THEN DON_VI_TINH.TEN_1 WHEN 1 THEN DON_VI_TINH.TEN_2 ELSE DON_VI_TINH.TEN_3 END)AS TEN_1,
'YN' AS MS_PT_CHA,@MS_BO_PHAN AS MS_BO_PHAN, @MS_CV AS MS_CV,@MS_PHIEU_BAO_TRI AS MS_PHIEU_BAO_TRI 
FROM dbo.IC_PHU_TUNG INNER JOIN dbo.IC_PHU_TUNG_LOAI_MAY ON dbo.IC_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG_LOAI_MAY.MS_PT 
	INNER JOIN  dbo.IC_PHU_TUNG_LOAI_PHU_TUNG ON dbo.IC_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG_LOAI_PHU_TUNG.MS_PT 
	INNER JOIN  dbo.NHOM_LOAI_PHU_TUNG ON dbo.IC_PHU_TUNG_LOAI_PHU_TUNG.MS_LOAI_PT = dbo.NHOM_LOAI_PHU_TUNG.MS_LOAI_PT 
	INNER JOIN  dbo.NHOM_LOAI_MAY ON dbo.IC_PHU_TUNG_LOAI_MAY.MS_LOAI_MAY = dbo.NHOM_LOAI_MAY.MS_LOAI_MAY 
	INNER JOIN  dbo.NHOM ON dbo.NHOM_LOAI_PHU_TUNG.GROUP_ID =@groupid And dbo.NHOM_LOAI_MAY.GROUP_ID = @groupid
	INNER JOIN  dbo.USERS ON dbo.USERS.GROUP_ID =@groupid
	INNER JOIN dbo.LOAI_MAY ON dbo.IC_PHU_TUNG_LOAI_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY AND dbo.NHOM_LOAI_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY 
	INNER JOIN dbo.NHOM_MAY ON dbo.LOAI_MAY.MS_LOAI_MAY = dbo.NHOM_MAY.MS_LOAI_MAY 
	INNER JOIN  dbo.MAY ON dbo.NHOM_MAY.MS_NHOM_MAY = dbo.MAY.MS_NHOM_MAY 
	INNER JOIN dbo.DON_VI_TINH ON dbo.IC_PHU_TUNG.DVT = dbo.DON_VI_TINH.DVT 
	INNER JOIN  dbo.LOAI_VT ON dbo.IC_PHU_TUNG.MS_LOAI_VT = dbo.LOAI_VT.MS_LOAI_VT  
WHERE (dbo.USERS.USERNAME =@USERNAME)   AND (dbo.MAY.MS_MAY =@MS_MAY) AND (LOAI_VT.VAT_TU = 1) AND (ACTIVE_PT = 1)
	AND (IC_PHU_TUNG.MS_PT NOT IN (SELECT DISTINCT MS_PT FROM CAU_TRUC_THIET_BI_PHU_TUNG WHERE MS_MAY=@MS_MAY AND MS_BO_PHAN=@MS_BO_PHAN))
ORDER BY dbo.IC_PHU_TUNG.MS_PT, dbo.IC_PHU_TUNG.TEN_PT
	
