
--EXEC [GetDSCauTrucThietBiPhuTungVatTu] 0,'admin', N'HAM-0005', 'WO-201507001049'

ALTER PROCEDURE GetDSCauTrucThietBiPhuTungVatTu
	@TYPE INT,
	@USERNAME NVARCHAR(50),
	@MS_MAY NVARCHAR(30),
	@MS_PHIEU_BAO_TRI NVARCHAR(50)
AS

CREATE TABLE #PTUNG (
		[MS_PT] NVARCHAR(255),		
		[MS_BO_PHAN] NVARCHAR(50),
		[MS_CV] INT)
DECLARE @sSQL NVARCHAR(4000)
SET @sSQL = 'INSERT INTO #PTUNG (MS_PT,[MS_BO_PHAN],[MS_CV] ) SELECT DISTINCT MS_PT,[MS_BO_PHAN],[MS_CV] FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_TMP' +  @USERNAME  + ' WHERE MS_PHIEU_BAO_TRI = ''' + @MS_PHIEU_BAO_TRI + ''''
EXEC (@sSQL)

CREATE TABLE #BTCVIEC(
	[MS_BO_PHAN] NVARCHAR(50),
	[MS_CV] INT)
SET @sSQL = 'INSERT INTO #BTCVIEC ([MS_BO_PHAN],[MS_CV]) SELECT DISTINCT [MS_BO_PHAN],[MS_CV] FROM PHIEU_BAO_TRI_CONG_VIEC_TMP' +  @USERNAME + ' WHERE MS_PHIEU_BAO_TRI = ''' + @MS_PHIEU_BAO_TRI + ''''
EXEC (@sSQL)


DECLARE @groupid int
set @groupid = [dbo].[Get_GroupID](@USERNAME)

SELECT DISTINCT T1.MS_PT INTO #LPT_USER FROM IC_PHU_TUNG_LOAI_PHU_TUNG T1 INNER JOIN NHOM_LOAI_PHU_TUNG T2 ON T1.MS_LOAI_PT = T2.MS_LOAI_PT 
	INNER JOIN USERS T3 ON T2.GROUP_ID = T3.GROUP_ID WHERE USERNAME = @USERNAME
SELECT DISTINCT T1.MS_PT INTO #LM_USER FROM IC_PHU_TUNG_LOAI_MAY T1 INNER JOIN NHOM_LOAI_MAY T2 ON T1.MS_LOAI_MAY = T2.MS_LOAI_MAY INNER JOIN 
	NHOM_MAY T4 ON T1.MS_LOAI_MAY = T4.MS_LOAI_MAY INNER JOIN MAY T3 ON T4.MS_NHOM_MAY = T3.MS_NHOM_MAY
	INNER JOIN USERS T5 ON T2.GROUP_ID = T5.GROUP_ID WHERE USERNAME = @USERNAME AND MS_MAY = @MS_MAY
	
SELECT DISTINCT MS_PT, T1.MS_BO_PHAN,T2.MS_CV INTO #CTCV FROM dbo.CAU_TRUC_THIET_BI_PHU_TUNG T1 INNER JOIN #BTCVIEC T2 ON T1.MS_BO_PHAN = T2.MS_BO_PHAN WHERE (MS_MAY = @MS_MAY) 
                            
SELECT DISTINCT  T2.MS_PT, T2.TEN_PT,T2.TEN_PT_VIET ,QUY_CACH, 1 AS SL_KH, 
CASE @TYPE WHEN 0 THEN T3.TEN_LOAI_VT_TV WHEN 1 THEN T3.TEN_LOAI_VT_TA ELSE T3.TEN_LOAI_VT_TH END AS TEN_LOAI_VT_TV, 
T2.MS_PT_NCC,T2.MS_PT_CTY,(CASE @TYPE WHEN 0 THEN T1.TEN_1 WHEN 1 THEN T1.TEN_2 ELSE T1.TEN_3 END)AS TEN_1,
'YN' AS MS_PT_CHA,MS_BO_PHAN, MS_CV,@MS_PHIEU_BAO_TRI AS MS_PHIEU_BAO_TRI 
INTO #BT1
FROM         dbo.DON_VI_TINH AS T1 INNER JOIN
                      dbo.IC_PHU_TUNG AS T2 ON T1.DVT = T2.DVT INNER JOIN
                      dbo.LOAI_VT AS T3 ON T2.MS_LOAI_VT = T3.MS_LOAI_VT INNER JOIN #LPT_USER T4 ON 
                      T2.MS_PT = T4.MS_PT INNER JOIN #LM_USER T5 ON T2.MS_PT = T5.MS_PT ,#BTCVIEC
WHERE     (T3.VAT_TU = 1) AND (T2.ACTIVE_PT = 1)
ORDER BY T2.MS_PT, T2.TEN_PT
                    

SELECT CONVERT(BIT,CASE ISNULL(T2.MS_PT,'') WHEN '' THEN 0 ELSE 1 END) AS CHON,
T1.MS_PT, TEN_PT,TEN_PT_VIET ,QUY_CACH, [MS_PT_NCC],[MS_PT_CTY],SL_KH, TEN_LOAI_VT_TV, 
TEN_1,MS_PT_CHA,T1.MS_BO_PHAN, T1.MS_CV,T1.MS_PHIEU_BAO_TRI 
FROM #BT1 T1  LEFT JOIN #PTUNG T2 ON T1.MS_PT = T2.MS_PT AND T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.MS_CV = T2.MS_CV
WHERE NOT EXISTS (SELECT * FROM #CTCV T2 WHERE T1.MS_PT = T2.MS_PT  AND T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.MS_CV = T2.MS_CV)
ORDER BY MS_PHIEU_BAO_TRI, MS_BO_PHAN,MS_CV,MS_PT,TEN_PT

