

ALTER procedure [dbo].[GET_THE_KHO]
 @MS_KHO INT ,
 @TU_NGAY DATETIME ,
 @DEN_NGAY DATETIME , 
 @MS_PT NVARCHAR (30) ,
 @TYPELANGUAGE INT 
  AS
BEGIN
set @TU_NGAY = @TU_NGAY + '00:00:00.000'
set @DEN_NGAY = @DEN_NGAY + '23:59:59.000'


 DECLARE @TON_DAU_KY FLOAT 
set @TON_DAU_KY = 0 
--Lấy tồn hiện tại
SELECT @TON_DAU_KY = CASE WHEN  SUM (case when dbo.VI_TRI_KHO_VAT_TU.SL_VT is null then 0 else dbo.VI_TRI_KHO_VAT_TU.SL_VT end) IS NULL THEN 0 ELSE  SUM (case when dbo.VI_TRI_KHO_VAT_TU.SL_VT is null then 0 else dbo.VI_TRI_KHO_VAT_TU.SL_VT end)  END
FROM dbo.VI_TRI_KHO_VAT_TU
WHERE dbo.VI_TRI_KHO_VAT_TU.MS_KHO = @MS_KHO
AND dbo.VI_TRI_KHO_VAT_TU.MS_PT = @MS_PT

--Lấy số lượng xuất từ đến ngày đến hiện tại
SELECT @TON_DAU_KY = @TON_DAU_KY + CASE WHEN SUM( case when dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT is null then 0 else dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT end ) IS NULL THEN 0 ELSE SUM( case when dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT is null then 0 else dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT end ) END
FROM dbo.IC_DON_HANG_XUAT INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU 
ON dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT 
INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET 
ON dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_XUAT_PT AND 
dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT 
WHERE dbo.IC_DON_HANG_XUAT.NGAY >= @DEN_NGAY AND dbo.IC_DON_HANG_XUAT.MS_KHO = @MS_KHO AND 
dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT = @MS_PT
--Lấy số lượng xuất trong khoảng từ ngày đến ngày
SELECT @TON_DAU_KY = @TON_DAU_KY + CASE WHEN SUM ( case when dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT is null then 0 else  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT end )IS NULL THEN 0 ELSE SUM ( case when dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT is null then 0 else  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT end ) END
FROM dbo.IC_DON_HANG_XUAT INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU 
ON dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT 
INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET 
ON dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_XUAT_PT AND 
dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT 
WHERE dbo.IC_DON_HANG_XUAT.NGAY >= @TU_NGAY AND dbo.IC_DON_HANG_XUAT.NGAY < @DEN_NGAY AND dbo.IC_DON_HANG_XUAT.MS_KHO = @MS_KHO AND 
dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT = @MS_PT
--Lấy số lượng nhập từ đến ngày đến hiện tại
SELECT @TON_DAU_KY = @TON_DAU_KY - CASE WHEN SUM (case when dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT is null then 0 else dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT end  )  IS NULL THEN 0 ELSE SUM (case when dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT is null then 0 else dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT end  )  END
FROM         dbo.IC_DON_HANG_NHAP INNER JOIN
dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT INNER JOIN
dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET ON 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT AND 
dbo.IC_DON_HANG_NHAP_VAT_TU.ID = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID
WHERE dbo.IC_DON_HANG_NHAP.NGAY >= @DEN_NGAY AND dbo.IC_DON_HANG_NHAP.MS_KHO = @MS_KHO AND 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = @MS_PT
--Lấy số lượng nhập từ ngày đến ngày


SELECT @TON_DAU_KY = @TON_DAU_KY - CASE WHEN SUM (case when dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT is null then 0 else dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT end) IS NULL THEN 0 ELSE SUM (case when dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT is null then 0 else dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT end) END 
FROM dbo.IC_DON_HANG_NHAP INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU 
ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT  
INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET ON 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
dbo.IC_DON_HANG_NHAP_VAT_TU.ID = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID AND 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT 
WHERE dbo.IC_DON_HANG_NHAP.NGAY >= @TU_NGAY AND dbo.IC_DON_HANG_NHAP.NGAY < @DEN_NGAY AND dbo.IC_DON_HANG_NHAP.MS_KHO = @MS_KHO AND 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = @MS_PT

--Lấy số lượng di chuyển đi từ đến ngày đến hiện tại

SELECT @TON_DAU_KY = @TON_DAU_KY  + CASE WHEN SUM ( case when dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN is null then 0 else dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN end) IS NULL THEN 0 ELSE SUM ( case when dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN is null then 0 else dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN end) END
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO 
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @DEN_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO = @MS_KHO AND
dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT = @MS_PT

--Lấy số lượng di chuyển đi từ ngày đến ngày

SELECT @TON_DAU_KY = @TON_DAU_KY  + CASE WHEN  SUM (case when dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN is null then 0 else dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN  end ) IS NULL THEN 0 ELSE  SUM (case when dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN is null then 0 else dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN  end ) END
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO 
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @TU_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN < @DEN_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO = @MS_KHO
AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT = @MS_PT

--Lấy số lượng di chuyển đến từ đến ngày đến hiện tại

SELECT @TON_DAU_KY = @TON_DAU_KY  - CASE WHEN  SUM (CASE WHEN  dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN is null then 0 else dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN  end ) IS NULL THEN 0 ELSE  SUM (CASE WHEN  dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN is null then 0 else dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN  end ) END
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO 
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @DEN_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO_1 = @MS_KHO
AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT = @MS_PT

--Lấy số lượng di chuyển đến từ ngày đến ngày

SELECT @TON_DAU_KY = @TON_DAU_KY  - CASE WHEN SUM (CASE WHEN dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN is null then 0 else dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN end) IS NULL THEN 0 ELSE SUM (CASE WHEN dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN is null then 0 else dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN end) END
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO 
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @TU_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN < @DEN_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO_1 = @MS_KHO
AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT = @MS_PT

--Tính chênh lệch kiểm kê từ đến ngày đến hiện tại
SELECT @TON_DAU_KY = @TON_DAU_KY  -  CASE WHEN  SUM (CASE WHEN dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU is null then 0 else dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU end - case when dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT is null then 0 else dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT end ) IS NULL THEN 0 ELSE  SUM (CASE WHEN dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU is null then 0 else dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU end - case when dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT is null then 0 else dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT end ) END
FROM dbo.KIEM_KE_VAT_TU_CHI_TIET 
WHERE dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY >= @DEN_NGAY AND dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_KHO = @MS_KHO
AND dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT = @MS_PT

--Tính chênh lệch kiểm kê từ ngày đến ngày
SELECT @TON_DAU_KY = @TON_DAU_KY  + CASE WHEN  SUM(CASE WHEN  dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU is null then 0 else dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU end - case when dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT is null then 0 else dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT end ) IS NULL THEN 0 ELSE SUM(CASE WHEN  dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU is null then 0 else dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU end - case when dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT is null then 0 else dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT end ) END
FROM dbo.KIEM_KE_VAT_TU_CHI_TIET 
WHERE dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY >= @TU_NGAY AND dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY < @DEN_NGAY AND dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_KHO = @MS_KHO 
AND dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT = @MS_PT
PRINT @TON_DAU_KY
SELECT A.TON_DAU, A.NGAY, A.CHUNG_TU , A.SL_XUAT , A.SL_NHAP , A.SL_CHUYEN_DI , A.SL_CHUYEN_DEN , A.SL_CHENH_LECH  , 0.00 AS TON_CUOI_KY
FROM 
(
SELECT @TON_DAU_KY AS TON_DAU , NULL AS NGAY , NULL AS CHUNG_TU , 0.00 AS SL_XUAT,0.00 AS SL_NHAP,0.00 AS SL_CHUYEN_DI,0.00 AS SL_CHUYEN_DEN,0.00 AS SL_CHENH_LECH
UNION
--Lấy số lượng xuất trong khoảng từ ngày đến ngày
SELECT 0.00 AS TON_DAU, dbo.IC_DON_HANG_XUAT.NGAY,dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT AS CHUNG_TU , dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT AS SL_XUAT , 0.00 AS SL_NHAP , 0.00 AS SL_CHUYEN_DI , 0.00 AS SL_CHUYEN_DEN,  0.00 AS SL_CHENH_LECH 
FROM dbo.IC_DON_HANG_XUAT INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU 
ON dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT 
INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET 
ON dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_XUAT_PT AND 
dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT 
WHERE dbo.IC_DON_HANG_XUAT.NGAY >= @TU_NGAY AND dbo.IC_DON_HANG_XUAT.NGAY < @DEN_NGAY AND dbo.IC_DON_HANG_XUAT.MS_KHO = @MS_KHO
AND dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT = @MS_PT
UNION 
--Lấy số lượng nhập từ ngày đến ngày
SELECT  0.00 AS TON_DAU,dbo.IC_DON_HANG_NHAP.NGAY,dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AS CHUNG_TU , 0.00 AS SL_XUAT , case when dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT is null then 0.00 else dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT end AS SL_NHAP , 0.00 AS SL_CHUYEN_DI , 0.00 AS SL_CHUYEN_DEN, 0.00 AS SL_CHENH_LECH 
FROM dbo.IC_DON_HANG_NHAP INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU 
ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT  
INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET ON 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
dbo.IC_DON_HANG_NHAP_VAT_TU.ID = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID AND 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT 
WHERE dbo.IC_DON_HANG_NHAP.NGAY >= @TU_NGAY AND dbo.IC_DON_HANG_NHAP.NGAY < @DEN_NGAY AND dbo.IC_DON_HANG_NHAP.MS_KHO = @MS_KHO
AND dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT = @MS_PT 
UNION
--Lấy số lượng di chuyển đi từ ngày đến ngày
SELECT  0.00 AS TON_DAU,dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN AS NGAY , CASE @TYPELANGUAGE WHEN 0 THEN N'Di chuyển' ELSE N'Moving' END AS CHUNG_TU ,0.00 AS SL_XUAT , 0.00 AS SL_NHAP  ,dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN  AS SL_CHUYEN_DI , 0.00 AS SL_CHUYEN_DEN,  0.00 AS SL_CHENH_LECH 
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO 
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @TU_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN < @DEN_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO = @MS_KHO
AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT = @MS_PT
UNION
--Lấy số lượng di chuyển đến từ ngày đến ngày

SELECT  0.00 AS TON_DAU,dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN AS NGAY,CASE @TYPELANGUAGE WHEN 0 THEN N'Di chuyển' ELSE N'Moving' END AS CHUNG_TU ,0.00 AS SL_XUAT , 0.00 AS SL_NHAP  ,dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN  AS SL_CHUYEN_DEN , 0.00 AS SL_CHUYEN_DEN,  0.00 AS SL_CHENH_LECH 
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO 
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @TU_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN < @DEN_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO_1 = @MS_KHO
AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT = @MS_PT
UNION
--Tính chênh lệch kiểm kê từ ngày đến ngày
SELECT  0.00 AS TON_DAU,dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY,CASE @TYPELANGUAGE WHEN 0 THEN N'Kiểm kê' ELSE N'Inventory' END AS CHUNG_TU , 0.00 AS SL_XUAT , 0.00 AS SL_NHAP  ,0.00  AS SL_CHUYEN_DI , 0.00 AS SL_CHUYEN_DEN, ( dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU - dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT ) AS SL_CHENH_LECH
FROM dbo.KIEM_KE_VAT_TU_CHI_TIET 
WHERE dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY >= @TU_NGAY AND dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY < @DEN_NGAY AND dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_KHO = @MS_KHO 
AND dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT = @MS_PT ) A 
WHERE  A.SL_XUAT > 0 OR A.SL_NHAP > 0 OR A.SL_CHUYEN_DI > 0 OR A.SL_CHUYEN_DEN > 0 OR A.SL_CHENH_LECH > 0 OR A.TON_DAU > 0
ORDER BY A.NGAY ASC 


END
