
ALTER procedure [dbo].[SP_Y_ADD_DOCUMENT]
	@MS_TL NVARCHAR (50),
	@TEN_TL NVARCHAR (256), 
	@TEN_TL_E NVARCHAR (256), 
	@TEN_TL_CH NVARCHAR (256),
	@MS_TO INT,
	@MS_QT INT,
	@MAC_DINH BIT
AS
BEGIN
	INSERT INTO dbo.DS_TL (MS_TL,TEN_TL,TEN_TL_E,TEN_TL_CH)
	VALUES (@MS_TL,@TEN_TL,@TEN_TL_E,@TEN_TL_CH )
END
