
ALTER procedure [dbo].[SP_Y_ADD_REVIEW]
@MS_TL NVARCHAR (50),
@MS_QT NVARCHAR (50),
@USERNAME NVARCHAR (50),
@MS_CN NVARCHAR (50),
@STT_SX SMALLINT , 
@MS_DV NVARCHAR (6),
@VAI_TRO NVARCHAR (256),
@QUYET_DINH BIT,
@BAT_BUOC BIT  
AS
BEGIN
INSERT INTO dbo.QT_DUYET_TL (MS_TL,MS_QT,USERNAME,STT_SX,MS_DV,VAI_TRO,QUYET_DINH,BAT_BUOC)
VALUES (@MS_TL,@MS_QT,@USERNAME,@STT_SX,@MS_DV,@VAI_TRO,@QUYET_DINH,@BAT_BUOC)
END
