
ALTER procedure [dbo].[SP_Y_EDIT_REVIEW]
@MS_TL NVARCHAR (50),
@MS_QT NVARCHAR (50),
@USERNAME NVARCHAR (50),
@MS_CN NVARCHAR (50),
@STT_SX SMALLINT , 
@MS_DV NVARCHAR (6),
@VAI_TRO NVARCHAR (256),
@QUYET_DINH BIT,
@BAT_BUOC BIT  
AS
BEGIN
UPDATE dbo.QT_DUYET_TL 
SET USERNAME = @USERNAME , STT_SX = @STT_SX,MS_DV = @MS_DV, 
VAI_TRO = @VAI_TRO, QUYET_DINH = @QUYET_DINH ,
BAT_BUOC = @BAT_BUOC 
WHERE MS_TL = @MS_TL AND MS_QT = @MS_QT
END
