
-- EXEC GetBCPhieuThamDo  50,'10-05-HOP-001-00' 
ALTER PROC [dbo].[GetBCPhieuThamDo]
	@STT INT,
	@MS_MAY NVARCHAR(50)
AS
DECLARE @TEN_MAY AS NVARCHAR(255)
SELECT @TEN_MAY = TEN_MAY  FROM MAY WHERE MS_MAY = @MS_MAY
--SET @MS_MAY = '10-05-CRA-005' 
--SET @TEN_MAY = '10-05-CRA-005' 
--SET @STT = 38


SELECT CASE ISNULL(HO,'') WHEN '' THEN '' ELSE HO + ' ' END + TEN AS HO_TEN, A.USERNAME,@MS_MAY AS MS_MAY, @TEN_MAY AS TEN_MAY,	
CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY_KT,101) + ' ' +	CONVERT(NVARCHAR(10),GIO_KT,108)) AS NGAY_GIO, 
CASE WHEN GIO_CHAY_MAY = -1 THEN NULL ELSE GIO_CHAY_MAY END AS GIO_CHAY_MAY
FROM GIAM_SAT_TINH_TRANG A INNER JOIN CONG_NHAN B ON A.MS_CONG_NHAN = B.MS_CONG_NHAN WHERE STT = @STT

SELECT ROW_NUMBER() OVER (ORDER BY TEN_BO_PHAN,LOAI_TS DESC, TEN_TS_GSTT) AS STT_INT,TEN_BO_PHAN,TEN_TS_GSTT,DON_VI_DO,GT_YES,GT_NO,GT_DL, Y.GHI_CHU 
FROM 
-- DINH TINH  WHERE LOAI_TS = 1
(SELECT T1.TEN_BO_PHAN,T1.TEN_TS_GSTT, CONVERT(NVARCHAR(100),NULL) AS DON_VI_DO, 
	CASE WHEN DAT = 1 THEN T2.TEN_GIA_TRI ELSE NULL END AS GT_YES, 
	CASE WHEN DAT = 0 THEN T2.TEN_GIA_TRI ELSE NULL END AS GT_NO, 
	CONVERT(FLOAT,NULL) AS GT_DL,STT,T2.MS_MAY,T1.MS_BO_PHAN, T1.MS_TS_GSTT,LOAI_TS 
	FROM 
	(SELECT DISTINCT TEN_BO_PHAN,TEN_TS_GSTT, A.MS_BO_PHAN, A.MS_TS_GSTT, A.MS_MAY, LOAI_TS
		FROM CAU_TRUC_THIET_BI_TS_GSTT A INNER JOIN CAU_TRUC_THIET_BI B ON A.MS_MAY = B.MS_MAY AND A.MS_BO_PHAN = B.MS_BO_PHAN INNER JOIN 
		THONG_SO_GSTT C ON A.MS_TS_GSTT = C.MS_TS_GSTT 
		WHERE A.MS_MAY = @MS_MAY
	) T1 LEFT JOIN 	
	(SELECT A.*,TEN_GIA_TRI , DAT FROM GIAM_SAT_TINH_TRANG_TS_DT A INNER JOIN GIA_TRI_TS_GSTT B ON A.STT_GT = B.STT
		WHERE A.MS_MAY = @MS_MAY  AND A.STT = @STT
		) T2 
ON T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.MS_TS_GSTT = T2.MS_TS_GSTT AND T1.MS_MAY = T2.MS_MAY 
WHERE LOAI_TS = 1	
UNION

-- DINH LUONG    WHERE LOAI_TS = 0
SELECT T1.TEN_BO_PHAN,T1.TEN_TS_GSTT,TEN_DV_DO,NULL,NULL, GIA_TRI_DO, STT, T2.MS_MAY, T1.MS_BO_PHAN,T1.MS_TS_GSTT,LOAI_TS  FROM 
(
	SELECT DISTINCT TEN_BO_PHAN,TEN_TS_GSTT, A.MS_BO_PHAN, A.MS_TS_GSTT, A.MS_MAY, LOAI_TS, TEN_DV_DO
	FROM CAU_TRUC_THIET_BI_TS_GSTT A INNER JOIN CAU_TRUC_THIET_BI B ON A.MS_MAY = B.MS_MAY AND A.MS_BO_PHAN = B.MS_BO_PHAN INNER JOIN 
	THONG_SO_GSTT C ON A.MS_TS_GSTT = C.MS_TS_GSTT INNER JOIN DON_VI_DO D ON C.MS_DV_DO = D.MS_DV_DO
	WHERE A.MS_MAY = @MS_MAY
) T1 LEFT JOIN 	
(SELECT * FROM GIAM_SAT_TINH_TRANG_TS WHERE MS_MAY = @MS_MAY AND STT = @STT) T2 
ON T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.MS_TS_GSTT = T2.MS_TS_GSTT AND T1.MS_MAY = T2.MS_MAY
WHERE LOAI_TS = 0	
) Z LEFT JOIN GIAM_SAT_TINH_TRANG_TS Y ON Z.STT = Y.STT AND Z.MS_MAY = Y.MS_MAY AND Z.MS_BO_PHAN = Y.MS_BO_PHAN AND Z.MS_TS_GSTT = Y.MS_TS_GSTT
ORDER BY TEN_BO_PHAN,LOAI_TS DESC, TEN_TS_GSTT

--SELECT * FROM GIAM_SAT_TINH_TRANG_TS_DT

