
ALTER procedure [dbo].[MGetGIA_TRI_DINH_LUONGsDN]
	@MS_TS_GSTT INT ,
	@MS_MAY NVARCHAR(30),
	@Ngay Datetime
 AS
	SELECT DISTINCT 
			  dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY,TEN_MAY, dbo.THONG_SO_GSTT.TEN_TS_GSTT, dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT, 
			  dbo.NHOM_MAY.TEN_NHOM_MAY, dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN, dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_BO_PHAN, 
			  dbo.NHOM_MAY.MS_LOAI_MAY, dbo.DON_VI_DO.TEN_DV_DO
	FROM         dbo.THONG_SO_GSTT INNER JOIN
			  dbo.CAU_TRUC_THIET_BI_TS_GSTT ON dbo.THONG_SO_GSTT.MS_TS_GSTT = dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT INNER JOIN
			  dbo.CAU_TRUC_THIET_BI ON dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = dbo.CAU_TRUC_THIET_BI.MS_MAY AND 
			  dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN INNER JOIN
			  dbo.DON_VI_DO ON dbo.THONG_SO_GSTT.MS_DV_DO = dbo.DON_VI_DO.MS_DV_DO INNER JOIN
				  (SELECT     B.MS_MAY, B.MS_TS_GSTT, B.MS_BO_PHAN, B.MS_TT, MAX(A.NGAY_KT) AS NGAY_KT
					FROM          dbo.GIAM_SAT_TINH_TRANG AS A INNER JOIN
										   dbo.GIAM_SAT_TINH_TRANG_TS AS B ON A.STT = B.STT
					GROUP BY B.MS_MAY, B.MS_TS_GSTT, B.MS_BO_PHAN, B.MS_TT) AS NGAY_MAX ON 
			  dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = NGAY_MAX.MS_MAY AND 
			  dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_BO_PHAN = NGAY_MAX.MS_BO_PHAN AND 
			  dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT = NGAY_MAX.MS_TS_GSTT AND 
			  dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TT = NGAY_MAX.MS_TT LEFT OUTER JOIN
			  dbo.NHOM_MAY INNER JOIN
			  dbo.MAY ON dbo.NHOM_MAY.MS_NHOM_MAY = dbo.MAY.MS_NHOM_MAY ON 
			  dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = dbo.MAY.MS_MAY
	WHERE     (dbo.THONG_SO_GSTT.LOAI_TS = 0) AND (CASE MS_DV_TG WHEN 1 THEN DATEADD(DAY, CHU_KY_DO, NGAY_MAX.NGAY_KT) 
			  WHEN 2 THEN DATEADD(WEEK, CHU_KY_DO, NGAY_MAX.NGAY_KT) WHEN 3 THEN DATEADD(MONTH, CHU_KY_DO, NGAY_MAX.NGAY_KT) 
			  ELSE DATEADD(YEAR, CHU_KY_DO, NGAY_MAX.NGAY_KT) END <= @Ngay)
			  AND (CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = @MS_MAY or @MS_MAY = '-1') 
			  AND (CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT=@MS_TS_GSTT OR @MS_TS_GSTT = -1)
