
ALTER PROCEDURE [dbo].[SP_Y_GET_DUYET_DE_XUAT_MUA_HANG]
AS
BEGIN
	  select MS_DE_XUAT,NGUOI_DUYET,ISNULL(NGUOI_DUYET,'') AS MS_CN,NGAY_DUYET,TT_DUYET,DON_VI,VAI_TRO,QUYET_DINH,NOI_DUNG,DUYET,BAT_BUOC
      from dbo.DE_XUAT_MUA_HANG_DUYET 
      ORDER BY MS_DE_XUAT,TT_DUYET
END
