--EXEC GetGIAM_SAT_TINH_TRANG_TSs 111,'ADMIN',0

ALTER procedure [dbo].[GetGIAM_SAT_TINH_TRANG_TSs] 
	@STT int,
	@USERNAME NVARCHAR(50),
	@LOAI_TS INT
AS

SELECT DISTINCT 
          dbo.GIAM_SAT_TINH_TRANG_TS.STT, dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY,MAY.TEN_MAY,dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN, 
          dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT, dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT, 
          dbo.THONG_SO_GSTT.TEN_TS_GSTT, dbo.GIAM_SAT_TINH_TRANG_TS.GIA_TRI_DO, dbo.CAU_TRUC_THIET_BI_TS_GSTT.TEN_GT
FROM         dbo.THONG_SO_GSTT INNER JOIN
          dbo.LOAI_MAY INNER JOIN
          dbo.NHOM_MAY ON dbo.LOAI_MAY.MS_LOAI_MAY = dbo.NHOM_MAY.MS_LOAI_MAY INNER JOIN
          dbo.NHOM_LOAI_MAY ON dbo.LOAI_MAY.MS_LOAI_MAY = dbo.NHOM_LOAI_MAY.MS_LOAI_MAY INNER JOIN
          dbo.USERS ON dbo.NHOM_LOAI_MAY.GROUP_ID = dbo.USERS.GROUP_ID INNER JOIN
          dbo.MAY ON dbo.NHOM_MAY.MS_NHOM_MAY = dbo.MAY.MS_NHOM_MAY INNER JOIN
          dbo.CAU_TRUC_THIET_BI ON dbo.MAY.MS_MAY = dbo.CAU_TRUC_THIET_BI.MS_MAY INNER JOIN
          dbo.GIAM_SAT_TINH_TRANG_TS INNER JOIN
          dbo.CAU_TRUC_THIET_BI_TS_GSTT ON dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY = dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY AND 
          dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_BO_PHAN AND 
          dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT = dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT AND 
          dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT = dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TT ON 
          dbo.CAU_TRUC_THIET_BI.MS_MAY = dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY AND 
          dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_BO_PHAN ON 
          dbo.THONG_SO_GSTT.MS_TS_GSTT = dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT
WHERE     (GIAM_SAT_TINH_TRANG_TS.STT = @STT) AND USERS.USERNAME=@USERNAME and dbo.THONG_SO_GSTT.LOAI_TS = @LOAI_TS
