
ALTER procedure [dbo].[SP_Y_GET_REVIEW]
AS
BEGIN
SELECT MS_TL,MS_QT,USERNAME ,ISNULL(USERNAME,'') AS MS_CN,STT_SX,MS_DV,VAI_TRO,QUYET_DINH, BAT_BUOC
FROM dbo.QT_DUYET_TL  
ORDER BY MS_TL,STT_SX
END
