
ALTER PROCEDURE [dbo].[SP_Y_GET_DUYET_DON_DH]
AS
BEGIN
	SELECT   CONVERT (NVARCHAR (50), NULL) AS MS_DON_DAT_HANG, dbo.USERS.USERNAME AS NGUOI_DUYET, 
	CONVERT (DATETIME , NULL) AS NGAY_DUYET,dbo.QT_DUYET_TL.STT_SX AS TT_DUYET,
	dbo.DON_VI.TEN_DON_VI, dbo.QT_DUYET_TL.VAI_TRO,dbo.QT_DUYET_TL.QUYET_DINH , 
	CONVERT (NVARCHAR (256),NULL) AS NOI_DUNG,CONVERT (BIT , 0) AS DUYET
	FROM         dbo.QT_DUYET_TL LEFT OUTER JOIN
                      dbo.DON_VI ON dbo.QT_DUYET_TL.MS_DV = dbo.DON_VI.MS_DON_VI INNER JOIN
                      dbo.USERS ON dbo.QT_DUYET_TL.USERNAME = dbo.USERS.USERNAME INNER JOIN
                      dbo.DS_TL ON dbo.QT_DUYET_TL.MS_TL = dbo.DS_TL.MS_TL INNER JOIN
                      dbo.DS_QUY_TRINH ON dbo.DS_TL.MS_QT = dbo.DS_QUY_TRINH.MS_QT
	WHERE DS_QUY_TRINH.MS_QT = 2 AND DS_TL.MAC_DINH = 1
END 



