

ALTER PROCEDURE [dbo].[SP_Y_GET_DUYET_DE_XUAT_MH]
	@MS_TO INT
AS
BEGIN

IF EXISTS (SELECT * FROM DS_TL WHERE MS_QT = 1 AND MS_TO = @MS_TO)
BEGIN 
	SELECT     CONVERT(NVARCHAR(50), NULL) AS MS_DE_XUAT, C.USERNAME AS NGUOI_DUYET, C.USERNAME AS MS_CN, CONVERT(DATETIME, NULL) AS NGAY_DUYET, A.STT_SX AS TT_DUYET, 
						  B.TEN_DON_VI, A.VAI_TRO, A.QUYET_DINH, CONVERT(NVARCHAR(256), NULL) AS NOI_DUNG, CONVERT(BIT, 0) AS DUYET, A.BAT_BUOC
	FROM         dbo.QT_DUYET_TL AS A LEFT OUTER JOIN
						  dbo.DON_VI AS B ON A.MS_DV = B.MS_DON_VI INNER JOIN
						  dbo.USERS AS C ON A.USERNAME = C.USERNAME INNER JOIN
						  dbo.DS_TL AS D ON D.MS_TL = A.MS_TL
	WHERE     (D.MS_QT = 1) AND (D.MS_TO = @MS_TO) ORDER BY TT_DUYET
END
ELSE
BEGIN
	SELECT     CONVERT(NVARCHAR(50), NULL) AS MS_DE_XUAT, C.USERNAME AS NGUOI_DUYET, C.USERNAME AS MS_CN, CONVERT(DATETIME, NULL) AS NGAY_DUYET, A.STT_SX AS TT_DUYET, 
						  B.TEN_DON_VI, A.VAI_TRO, A.QUYET_DINH, CONVERT(NVARCHAR(256), NULL) AS NOI_DUNG, CONVERT(BIT, 0) AS DUYET, A.BAT_BUOC
	FROM         dbo.QT_DUYET_TL AS A LEFT OUTER JOIN
						  dbo.DON_VI AS B ON A.MS_DV = B.MS_DON_VI INNER JOIN
						  dbo.USERS AS C ON A.USERNAME = C.USERNAME INNER JOIN
						  dbo.DS_TL AS D ON D.MS_TL = A.MS_TL
	WHERE     (D.MS_QT = 1) AND (D.MAC_DINH = 1) ORDER BY TT_DUYET
END 	

END