--SP_Y_CHECK_NGUOI_DUYET_DE_XUAT 'ADMINISTRATOR'
ALTER PROCEDURE [dbo].[SP_Y_CHECK_NGUOI_DUYET_DE_XUAT]
	@UName NVARCHAR (256),
	@MsDX NVARCHAR (256)
AS
BEGIN
	SELECT  CASE WHEN COUNT (*) IS NULL THEN 0 ELSE COUNT (*) END
	FROM dbo.DE_XUAT_MUA_HANG_DUYET A 
	WHERE  MS_DE_XUAT = @MsDX AND A.NGUOI_DUYET = @UName
END

