IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_Y_DELETE_DOCUMENT')
   exec('CREATE PROCEDURE SP_Y_DELETE_DOCUMENT AS BEGIN SET NOCOUNT ON; END')
GO



ALTER procedure [dbo].[SP_Y_DELETE_DOCUMENT]
	@MS_TL NVARCHAR (50)
AS
BEGIN
	DELETE FROM dbo.DS_TL WHERE MS_TL = @MS_TL
END
