
--	EXEC GetDanhsachDVThueNgoai 'WO-201510000299'
ALTER procedure [dbo].[GetDanhsachDVThueNgoai]
	@MS_PHIEU_BAO_TRI NVARCHAR(20)
AS


IF EXISTS (SELECT * FROM THONG_TIN_CHUNG WHERE PRIVATE = 'BARIA')
BEGIN
	SELECT     T4.STT, T4.NOI_DUNG_SERVICE, T4.MS_KH, T5.TEN_RUT_GON, T4.SO_LUONG, T4.DON_GIA, T4.NGOAI_TE, T4.SO_LUONG * T4.DON_GIA AS THANH_TIEN, 
		T4.TY_GIA, T4.TY_GIA_USD, T4.NGUOI_GIAO_DICH, T4.MnR, T4.EOR_ID, T4.STT_EOR, T3.SER_GROUP_NAME, T1.TEN_GL
	FROM         dbo.GL_ACOUNT AS T1 INNER JOIN
						  dbo.PSDV_NHOM_DV AS T2 ON T1.MS_GL = T2.MS_GL INNER JOIN
						  dbo.LOAI_DICH_VU AS T3 ON T2.SER_GROUP_CODE = T3.SER_GROUP_CODE RIGHT OUTER JOIN
						  dbo.PHIEU_BAO_TRI_SERVICE AS T4 LEFT OUTER JOIN
						  dbo.KHACH_HANG AS T5 ON T4.MS_KH = T5.MS_KH ON T2.SER_GROUP_CODE = T4.SER_GROUP_CODE
	WHERE T4.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
END
ELSE
BEGIN
	SELECT /*MS_PHIEU_BAO_TRI, */STT, NOI_DUNG_SERVICE, PHIEU_BAO_TRI_SERVICE.MS_KH, TEN_RUT_GON, SO_LUONG,
	DON_GIA, NGOAI_TE, SO_LUONG*DON_GIA AS THANH_TIEN, TY_GIA, TY_GIA_USD, NGUOI_GIAO_DICH,MnR,EOR_ID,STT_EOR
	FROM PHIEU_BAO_TRI_SERVICE left JOIN KHACH_HANG ON PHIEU_BAO_TRI_SERVICE.MS_KH = KHACH_HANG.MS_KH 
	WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
END