
ALTER procedure [dbo].[SP_UPDATE_HANG_MUC_FROM_PBT]  
	@HANG_MUC_ID  INT , 
	@MS_PHIEU_BAO_TRI NVARCHAR (24) , 
	@MS_CV INT , 
	@MS_BO_PHAN NVARCHAR (50) 
AS
DECLARE @MSMAY NVARCHAR(50)
SELECT MS_MAY FROM PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI


IF EXISTS(SELECT * FROM KE_HOACH_TONG_CONG_VIEC WHERE MS_MAY = @MSMAY AND HANG_MUC_ID = @HANG_MUC_ID AND MS_CV = @MS_CV 
	AND MS_BO_PHAN = @MS_BO_PHAN AND MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)
BEGIN
	UPDATE KE_HOACH_TONG_CONG_VIEC SET MS_PHIEU_BAO_TRI = NULL, SNGUOI = B.SO_NGUOI, YCAU_NS = B.YEU_CAU_NS, 
		YCAU_DC = B.YEU_CAU_DUNG_CU, THOI_GIAN_DU_KIEN = B.SO_GIO_KH
	FROM KE_HOACH_TONG_CONG_VIEC A INNER JOIN PHIEU_BAO_TRI_CONG_VIEC B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI
			AND A.MS_BO_PHAN = B.MS_BO_PHAN AND A.MS_CV = B.MS_CV AND A.HANG_MUC_ID = B.HANG_MUC_ID
		WHERE MS_MAY = @MSMAY AND A.HANG_MUC_ID = @HANG_MUC_ID AND A.MS_CV = @MS_CV 
			AND A.MS_BO_PHAN = @MS_BO_PHAN AND A.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
END
ELSE
BEGIN
	INSERT INTO KE_HOACH_TONG_CONG_VIEC (MS_MAY, HANG_MUC_ID, MS_CV,MS_BO_PHAN,SNGUOI,YCAU_NS,YCAU_DC,THOI_GIAN_DU_KIEN)
	SELECT     dbo.PHIEU_BAO_TRI.MS_MAY, dbo.KE_HOACH_TONG_THE.HANG_MUC_ID, dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_CV, dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN, 
				dbo.PHIEU_BAO_TRI_CONG_VIEC.SO_NGUOI,dbo.PHIEU_BAO_TRI_CONG_VIEC.YEU_CAU_NS,
				dbo.PHIEU_BAO_TRI_CONG_VIEC.YEU_CAU_DUNG_CU,dbo.PHIEU_BAO_TRI_CONG_VIEC.SO_GIO_KH
	FROM         dbo.PHIEU_BAO_TRI INNER JOIN
						  dbo.PHIEU_BAO_TRI_CONG_VIEC ON dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI INNER JOIN
						  dbo.KE_HOACH_TONG_THE ON dbo.PHIEU_BAO_TRI.MS_MAY = dbo.KE_HOACH_TONG_THE.MS_MAY
	WHERE  dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI AND dbo.KE_HOACH_TONG_THE.HANG_MUC_ID = @HANG_MUC_ID 
	AND  dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_CV = @MS_CV AND   dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN = @MS_BO_PHAN 
END

INSERT INTO KE_HOACH_TONG_CONG_VIEC_PHU_TUNG (MS_MAY, HANG_MUC_ID, MS_CV,MS_BO_PHAN , MS_PT, SO_LUONG )
SELECT     dbo.PHIEU_BAO_TRI.MS_MAY, dbo.KE_HOACH_TONG_THE.HANG_MUC_ID, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.SL_KH
FROM         dbo.PHIEU_BAO_TRI INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG ON 
                      dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI INNER JOIN
                      dbo.KE_HOACH_TONG_THE ON dbo.PHIEU_BAO_TRI.MS_MAY = dbo.KE_HOACH_TONG_THE.MS_MAY
WHERE  dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI AND dbo.KE_HOACH_TONG_THE.HANG_MUC_ID = @HANG_MUC_ID 
AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV = @MS_CV AND   dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = @MS_BO_PHAN 

DELETE dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO 
WHERE  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PHIEU_BAO_TRI  = @MS_PHIEU_BAO_TRI  AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO .MS_CV = @MS_CV 
AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO .MS_BO_PHAN = @MS_BO_PHAN


DELETE dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET 
WHERE  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI  = @MS_PHIEU_BAO_TRI  AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET .MS_CV = @MS_CV 
AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET .MS_BO_PHAN = @MS_BO_PHAN


DELETE dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG
WHERE  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI  = @MS_PHIEU_BAO_TRI  AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG .MS_CV = @MS_CV 
AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG .MS_BO_PHAN = @MS_BO_PHAN


DELETE dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET
WHERE  dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET.MS_PHIEU_BAO_TRI  = @MS_PHIEU_BAO_TRI  AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET .MS_CV = @MS_CV 
AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET .MS_BO_PHAN = @MS_BO_PHAN


DELETE dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU
WHERE  dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU.MS_PHIEU_BAO_TRI  = @MS_PHIEU_BAO_TRI  AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU .MS_CV = @MS_CV 
AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU .MS_BO_PHAN = @MS_BO_PHAN



DELETE dbo.PHIEU_BAO_TRI_CONG_VIEC_KE_HOACH
WHERE  dbo.PHIEU_BAO_TRI_CONG_VIEC_KE_HOACH.MS_PHIEU_BAO_TRI  = @MS_PHIEU_BAO_TRI  AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_KE_HOACH .MS_CV = @MS_CV 
AND  dbo.PHIEU_BAO_TRI_CONG_VIEC_KE_HOACH .MS_BO_PHAN = @MS_BO_PHAN


DELETE dbo.PHIEU_BAO_TRI_CONG_VIEC
WHERE  dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI  = @MS_PHIEU_BAO_TRI  AND  dbo.PHIEU_BAO_TRI_CONG_VIEC .MS_CV = @MS_CV 
AND  dbo.PHIEU_BAO_TRI_CONG_VIEC .MS_BO_PHAN = @MS_BO_PHAN
