
--exec UpdateLockALLPBT
ALTER PROC [dbo].[UpdateLockALLPBT]
AS

SELECT DISTINCT MS_PHIEU_BAO_TRI INTO #PBT FROM PBT_TT_LOCK WHERE (CHON = 1)
SELECT DISTINCT MS_MAY ,MS_LOAI_BT ,MAX(NGAY_BD_KH) AS NGAY_BD_KH INTO #MAY_LBT FROM PBT_TT_LOCK  A WHERE (MS_HT_BT = 1) GROUP BY MS_MAY ,MS_LOAI_BT 
DROP TABLE PBT_TT_LOCK

UPDATE  PHIEU_BAO_TRI SET TINH_TRANG_PBT = 5
WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT)


	
	
INSERT INTO MAY_LOAI_BTPN(MS_MAY ,MS_LOAI_BT ,NGAY_CUOI)
SELECT MS_MAY ,MS_LOAI_BT ,NGAY_BD_KH FROM #MAY_LBT  A 
WHERE (NOT EXISTS ( SELECT * FROM MAY_LOAI_BTPN B WHERE B.MS_MAY = A.MS_MAY AND B.MS_LOAI_BT = A.MS_LOAI_BT ))

UPDATE MAY_LOAI_BTPN SET NGAY_CUOI = NGAY_BD_KH FROM MAY_LOAI_BTPN A INNER JOIN 
(SELECT MS_MAY ,MS_LOAI_BT ,NGAY_BD_KH FROM #MAY_LBT) B ON 
B.MS_MAY = A.MS_MAY AND B.MS_LOAI_BT = A.MS_LOAI_BT
