--exec SP_Y_GET_DUYET_DON_DH 'administrator'
ALTER PROCEDURE [dbo].[SP_Y_GET_DUYET_DON_DH]
	@USERNAME NVARCHAR(50)
AS
BEGIN

DECLARE @MSTO INT
--SELECT   CONVERT (NVARCHAR (50), NULL) AS MS_DON_DAT_HANG, dbo.USERS.USERNAME AS NGUOI_DUYET, 
--CONVERT (DATETIME , NULL) AS NGAY_DUYET,dbo.QT_DUYET_TL.STT_SX AS TT_DUYET,
--dbo.DON_VI.TEN_DON_VI, dbo.QT_DUYET_TL.VAI_TRO,dbo.QT_DUYET_TL.QUYET_DINH , 
--CONVERT (NVARCHAR (256),NULL) AS NOI_DUNG,CONVERT (BIT , 0) AS DUYET
--FROM         dbo.QT_DUYET_TL LEFT OUTER JOIN
--dbo.DON_VI ON dbo.QT_DUYET_TL.MS_DV = dbo.DON_VI.MS_DON_VI INNER JOIN
--dbo.USERS ON dbo.QT_DUYET_TL.USERNAME = dbo.USERS.USERNAME
--WHERE dbo.QT_DUYET_TL.MS_TL = 'TL-0911-0004'


SELECT @MSTO = ISNULL(MS_TO,-1) FROM USERS WHERE USERNAME = @USERNAME 
IF(@MSTO = -1)
BEGIN
	SELECT   CONVERT (NVARCHAR (50), NULL) AS MS_DON_DAT_HANG, dbo.USERS.USERNAME AS NGUOI_DUYET, 
			CONVERT (DATETIME , NULL) AS NGAY_DUYET,dbo.QT_DUYET_TL.STT_SX AS TT_DUYET,
			dbo.DON_VI.TEN_DON_VI, dbo.QT_DUYET_TL.VAI_TRO,dbo.QT_DUYET_TL.QUYET_DINH , 
			CONVERT (NVARCHAR (256),NULL) AS NOI_DUNG,CONVERT (BIT , 0) AS DUYET
	FROM         dbo.QT_DUYET_TL LEFT OUTER JOIN
			dbo.DON_VI ON dbo.QT_DUYET_TL.MS_DV = dbo.DON_VI.MS_DON_VI INNER JOIN
			dbo.USERS ON dbo.QT_DUYET_TL.USERNAME = dbo.USERS.USERNAME
	WHERE dbo.QT_DUYET_TL.MS_TL = (SELECT TOP 1 MS_TL FROM DS_TL WHERE  MS_QT = 2 AND MAC_DINH = 1)	
END
ELSE
BEGIN
	IF EXISTS(SELECT * FROM DS_TL WHERE MS_QT = 2 AND MS_TO = @MSTO)
	BEGIN
		SELECT   CONVERT (NVARCHAR (50), NULL) AS MS_DON_DAT_HANG, dbo.USERS.USERNAME AS NGUOI_DUYET, 
			CONVERT (DATETIME , NULL) AS NGAY_DUYET,dbo.QT_DUYET_TL.STT_SX AS TT_DUYET,
			dbo.DON_VI.TEN_DON_VI, dbo.QT_DUYET_TL.VAI_TRO,dbo.QT_DUYET_TL.QUYET_DINH , 
			CONVERT (NVARCHAR (256),NULL) AS NOI_DUNG,CONVERT (BIT , 0) AS DUYET
		FROM         dbo.QT_DUYET_TL LEFT OUTER JOIN
			dbo.DON_VI ON dbo.QT_DUYET_TL.MS_DV = dbo.DON_VI.MS_DON_VI INNER JOIN
			dbo.USERS ON dbo.QT_DUYET_TL.USERNAME = dbo.USERS.USERNAME
		WHERE dbo.QT_DUYET_TL.MS_TL = (SELECT TOP 1 MS_TL FROM DS_TL WHERE MS_TO = @MSTO AND MS_QT = 2)
	END
	ELSE
	BEGIN
		SELECT   CONVERT (NVARCHAR (50), NULL) AS MS_DON_DAT_HANG, dbo.USERS.USERNAME AS NGUOI_DUYET, 
				CONVERT (DATETIME , NULL) AS NGAY_DUYET,dbo.QT_DUYET_TL.STT_SX AS TT_DUYET,
				dbo.DON_VI.TEN_DON_VI, dbo.QT_DUYET_TL.VAI_TRO,dbo.QT_DUYET_TL.QUYET_DINH , 
				CONVERT (NVARCHAR (256),NULL) AS NOI_DUNG,CONVERT (BIT , 0) AS DUYET
		FROM         dbo.QT_DUYET_TL LEFT OUTER JOIN
				dbo.DON_VI ON dbo.QT_DUYET_TL.MS_DV = dbo.DON_VI.MS_DON_VI INNER JOIN
				dbo.USERS ON dbo.QT_DUYET_TL.USERNAME = dbo.USERS.USERNAME
		WHERE dbo.QT_DUYET_TL.MS_TL = (SELECT TOP 1 MS_TL FROM DS_TL WHERE  MS_QT = 2 AND MAC_DINH = 1)	
	END
END


END


