

ALTER proc [dbo].[GetBO_PHAN_CHIU_PHIs]
AS
SELECT DISTINCT MS_BP_CHIU_PHI,MA_BP_CHIU_PHI, TEN_BP_CHIU_PHI, LOAI_CHI_PHI, MSDV, 
	GHI_CHU, ISIT, ISNULL(ACCOUNT,'') AS ACCOUNT, ISNULL(SUB,'') AS SUB, BPCP_MAIL
FROM dbo.BO_PHAN_CHIU_PHI ORDER BY  MA_BP_CHIU_PHI,TEN_BP_CHIU_PHI
