

ALTER proc [dbo].[sp_DuyetSanXuat]
	 @User nvarchar(50),
	 @Option int,
	 @NNgu int
as
begin
--DECLARE @QUYEN_DUYET BIT 
	
--SELECT CASE COUNT(*) WHEN 0 THEN 0 ELSE 1 END FROM USERS A INNER JOIN (SELECT MS_TO FROM YEU_CAU_NSD T1 INNER JOIN USERS T2 ON T1.USER_LAP = T2.USERNAME
--WHERE STT = 17) B ON A.MS_TO = B.MS_TO
--WHERE USERNAME = 'ADMIN'


	declare @TableMayUser table (MS_MAY nvarchar(50))
	insert into @TableMayUser (MS_MAY)
	SELECT distinct MS_MAY FROM [dbo].[MashjGetMayUser] (@User)

	declare @tableDS table (CHON bit,STT int,MS_MAY nvarchar(300),STT_VAN_DE int,TEN_MAY nvarchar(300),MO_TA_TINH_TRANG nvarchar(300),
				NGAY DATETIME, MS_YEU_CAU NVARCHAR(50),SO_YEU_CAU NVARCHAR(250),Ten_N_XUONG NVARCHAR(100),
				YEU_CAU NVARCHAR(300),MS_UU_TIEN NVARCHAR(300),USERNAME_DSX NVARCHAR(300),
				NGUOI_YEU_CAU NVARCHAR(300),THOI_GIAN_DSX DATETIME,	Y_KIEN_DSX NVARCHAR(300),
				THUC_HIEN_DSX bit,EMAIL_DSX NVARCHAR(300),MS_CACH_TH nvarchar(30),
				TEN_UU_TIEN nvarchar(300),[TEN_LOAI_YEU_CAU_BT] [nvarchar](250),QUYEN_DUYET BIT )

	INSERT INTO @tableDS(CHON,STT,MS_MAY ,STT_VAN_DE,TEN_MAY ,MO_TA_TINH_TRANG ,NGAY,MS_YEU_CAU, SO_YEU_CAU, Ten_N_XUONG,
			NGUOI_YEU_CAU ,YEU_CAU ,MS_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	
			Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX,MS_CACH_TH,TEN_UU_TIEN,TEN_LOAI_YEU_CAU_BT,QUYEN_DUYET)
							
	SELECT 0 , dbo.YEU_CAU_NSD_CHI_TIET.STT, dbo.YEU_CAU_NSD_CHI_TIET.MS_MAY, dbo.YEU_CAU_NSD_CHI_TIET.STT_VAN_DE, dbo.MAY.TEN_MAY, 
		  dbo.YEU_CAU_NSD_CHI_TIET.MO_TA_TINH_TRANG, dbo.YEU_CAU_NSD.NGAY, 		  
		  dbo.YEU_CAU_NSD.MS_YEU_CAU, dbo.YEU_CAU_NSD.SO_YEU_CAU, CASE @NNgu WHEN 0 THEN dbo.NHA_XUONG.Ten_N_XUONG 
		  WHEN 1 THEN NHA_XUONG.TEN_N_XUONG_A ELSE NHA_XUONG.TEN_N_XUONG_H END AS  Ten_N_XUONG, 
		  dbo.YEU_CAU_NSD.NGUOI_YEU_CAU, dbo.YEU_CAU_NSD_CHI_TIET.YEU_CAU, dbo.YEU_CAU_NSD_CHI_TIET.MS_UU_TIEN, dbo.YEU_CAU_NSD_CHI_TIET.USERNAME_DSX, 
		  dbo.YEU_CAU_NSD_CHI_TIET.THOI_GIAN_DSX, dbo.YEU_CAU_NSD_CHI_TIET.Y_KIEN_DSX, dbo.YEU_CAU_NSD_CHI_TIET.THUC_HIEN_DSX, dbo.YEU_CAU_NSD_CHI_TIET.EMAIL_DSX, 
		  dbo.YEU_CAU_NSD_CHI_TIET.MS_CACH_TH, dbo.MUC_UU_TIEN.TEN_UU_TIEN,TEN_LOAI_YEU_CAU_BT,
		  (SELECT CONVERT(BIT,CASE COUNT(*) WHEN 0 THEN 0 ELSE 1 END) FROM USERS A INNER JOIN (SELECT MS_TO FROM YEU_CAU_NSD T1 INNER JOIN USERS T2 ON T1.USER_LAP = T2.USERNAME
			WHERE T1.STT = YEU_CAU_NSD.STT ) B ON A.MS_TO = B.MS_TO
			WHERE USERNAME = @User) AS QUYEN_DUYET

	FROM         dbo.MAY INNER JOIN
		  dbo.YEU_CAU_NSD_CHI_TIET ON dbo.MAY.MS_MAY = dbo.YEU_CAU_NSD_CHI_TIET.MS_MAY INNER JOIN
		  dbo.YEU_CAU_NSD ON dbo.YEU_CAU_NSD_CHI_TIET.STT = dbo.YEU_CAU_NSD.STT LEFT OUTER JOIN
		  dbo.MUC_UU_TIEN ON dbo.YEU_CAU_NSD_CHI_TIET.MS_UU_TIEN = dbo.MUC_UU_TIEN.MS_UU_TIEN INNER JOIN
		  dbo.NHA_XUONG ON dbo.YEU_CAU_NSD.MS_N_XUONG = dbo.NHA_XUONG.MS_N_XUONG INNER JOIN 
			@TableMayUser A ON A.MS_MAY = DBO.MAY.MS_MAY LEFT JOIN LOAI_YEU_CAU_BAO_TRI T1 ON
			dbo.YEU_CAU_NSD_CHI_TIET.MS_LOAI_YEU_CAU_BT = T1.MS_LOAI_YEU_CAU_BT
	
	
	if @Option =0
		  SELECT CHON,STT,MS_MAY ,STT_VAN_DE ,TEN_MAY,TEN_LOAI_YEU_CAU_BT ,MO_TA_TINH_TRANG ,NGAY ,MS_YEU_CAU, SO_YEU_CAU, Ten_N_XUONG ,NGUOI_YEU_CAU ,
  				  YEU_CAU ,TEN_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX ,MS_CACH_TH,MS_UU_TIEN ,QUYEN_DUYET
		   FROM @tableDS
		   WHERE THUC_HIEN_DSX IS NULL  order by MS_UU_TIEN
	if @Option =1
			  SELECT CHON,STT,MS_MAY ,STT_VAN_DE ,TEN_MAY,TEN_LOAI_YEU_CAU_BT ,MO_TA_TINH_TRANG ,NGAY,MS_YEU_CAU, SO_YEU_CAU, Ten_N_XUONG ,NGUOI_YEU_CAU ,
  				  YEU_CAU ,TEN_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX ,MS_CACH_TH,MS_UU_TIEN ,QUYEN_DUYET
			   FROM @tableDS
			   WHERE THUC_HIEN_DSX =1 AND MS_CACH_TH is null  order by MS_UU_TIEN
			   
	if @Option =2
		   SELECT CHON,STT,MS_MAY ,STT_VAN_DE ,TEN_MAY,TEN_LOAI_YEU_CAU_BT ,MO_TA_TINH_TRANG ,NGAY,MS_YEU_CAU, SO_YEU_CAU, Ten_N_XUONG ,NGUOI_YEU_CAU ,
  				  YEU_CAU ,TEN_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX ,MS_CACH_TH,MS_UU_TIEN ,QUYEN_DUYET
		   FROM @tableDS
		   WHERE THUC_HIEN_DSX =0  order by MS_UU_TIEN
		   
	
end	   
