
--	exec MashjGetKHKDThietBi 'ADMIN', '-1','01/01/2015' , '01/01/2017'			--GF-01		GF-03-06
ALTER proc[dbo].[MashjGetKHKDThietBi]
(
	@UserName NVARCHAR(50),
	@MS_NHA_XUONG NVARCHAR(50),
	@TNgay datetime,
	@DNgay datetime
)
AS

--CASE DON_VI_THOI_GIAN WHEN 1 THEN DATEDIFF (DAY, NGAY_HC_CUOI,@NgayBD) 
--											WHEN 2 THEN DATEDIFF (DAY,NGAY_HC_CUOI,@NgayBD)
--											WHEN 3 THEN dbo.MGetSoThang(NGAY_HC_CUOI,@NgayBD)
--											ELSE  dbo.MGetSoThang(NGAY_HC_CUOI,@NgayBD) END 
--					AS SO_NGAY
--					,
--CASE DON_VI_THOI_GIAN WHEN 1 THEN CONVERT(int,SO_NGAY / CHU_KY ) * CHU_KY 
--					WHEN 2 THEN CONVERT(int,(SO_NGAY / 7 ) / CHU_KY ) * CHU_KY
--					WHEN 3 THEN CONVERT(int,dbo.MGetSoThang(NGAY_HC_CUOI,@NgayBD) / CHU_KY ) * CHU_KY 				
--					WHEN 4 THEN CONVERT(int,(SO_NGAY / 12 ) / CHU_KY ) * CHU_KY END AS SO_NGAY_CK
					
--CASE DON_VI_THOI_GIAN WHEN 1 THEN CASE WHEN B.NGAY_HC >= @TNgay THEN DATEADD (DAY,CHU_KY_HC_TB,B.NGAY_HC) 
--					ELSE DATEADD (DAY,SO_NGAY_CK,B.NGAY_HC)	END 
--				WHEN 2 THEN CASE WHEN B.NGAY_HC >= @TNgay THEN DATEADD (WEEK,CHU_KY_HC_TB,B.NGAY_HC)
--					ELSE DATEADD (WEEK,SO_NGAY_CK,B.NGAY_HC) END 							
--				WHEN 3 THEN CASE WHEN B.NGAY_HC >= @TNgay THEN DATEADD (MONTH,CHU_KY_HC_TB,B.NGAY_HC)
--						ELSE DATEADD (MONTH,SO_NGAY_CK,B.NGAY_HC) END 
--				WHEN 4 THEN CASE WHEN B.NGAY_HC >= @TNgay THEN DATEADD (YEAR,CHU_KY_HC_TB,B.NGAY_HC)
--						ELSE DATEADD (YEAR,SO_NGAY_CK,B.NGAY_HC) END END AS NGAY_TT
					

SELECT * INTO #MAY_USER FROM [dbo].[MGetMayUserNgay]( @DNgay,@UserName,@MS_NHA_XUONG,-1,-1,'-1','-1','-1',0) 



                            

SELECT   ROW_NUMBER() OVER (ORDER BY A.MS_MAY ASC) AS STT,
  A.TEN_MAY, N'- Số seri: ' + A.SERIAL_NUMBER + CHAR(13) + CHAR(10) + + N'- Model: ' + A.MO_TA + CHAR(13) + CHAR(10) 
                      + N'- Thông số Thiết bị: ' + A.MODEL AS THONG_SO, B.NGAY_HC, 
--DATEADD(day,A.CHU_KY_HC_TB,B.NGAY_HC)  AS NGAY_TT
A.Ten_N_XUONG,DON_VI_THOI_GIAN,CHU_KY_HC_TB,
CASE DON_VI_THOI_GIAN WHEN 1 THEN DATEDIFF (DAY, NGAY_HC,@TNgay) 
					WHEN 2 THEN DATEDIFF (DAY,NGAY_HC,@TNgay)
					WHEN 3 THEN dbo.MGetSoThang(NGAY_HC,@TNgay)
					ELSE  dbo.MGetSoThang(NGAY_HC,@TNgay) END AS SO_NGAY	, A.MS_MAY	
INTO #TMP								
FROM #MAY_USER AS A INNER JOIN
                          (SELECT     MS_MAY, MAX(NGAY_HC) AS NGAY_HC 
                            FROM          dbo.HIEU_CHUAN_MAY WHERE MS_LOAI_HIEU_CHUAN = 3
                            GROUP BY MS_MAY) AS B ON A.MS_MAY = B.MS_MAY 
WHERE ISNULL(CHU_KY_HC_TB,0) <> 0
ORDER BY A.MS_MAY



SELECT * ,
CASE WHEN CHU_KY_HC_TB > 0 THEN
CASE DON_VI_THOI_GIAN WHEN 1 THEN CONVERT(int,SO_NGAY / CHU_KY_HC_TB ) * CHU_KY_HC_TB 
					WHEN 2 THEN CONVERT(int,(SO_NGAY / 7 ) / CHU_KY_HC_TB ) * CHU_KY_HC_TB
					WHEN 3 THEN CONVERT(int,dbo.MGetSoThang(NGAY_HC,@TNgay) / CHU_KY_HC_TB ) * CHU_KY_HC_TB 				
					WHEN 4 THEN CONVERT(int,(SO_NGAY / 12 ) / CHU_KY_HC_TB ) * CHU_KY_HC_TB END 
					END AS SO_NGAY_CK
INTO #TMP2					
FROM #TMP
WHERE ISNULL(CHU_KY_HC_TB,0) <> 0



SELECT STT,MS_MAY,TEN_MAY, THONG_SO, NGAY_HC, 
CASE DON_VI_THOI_GIAN WHEN 1 THEN CASE WHEN NGAY_HC >= @TNgay THEN DATEADD (DAY,CHU_KY_HC_TB,NGAY_HC) 
					ELSE DATEADD (DAY,SO_NGAY_CK,NGAY_HC)	END 
				WHEN 2 THEN CASE WHEN NGAY_HC >= @TNgay THEN DATEADD (WEEK,CHU_KY_HC_TB,NGAY_HC)
					ELSE DATEADD (WEEK,SO_NGAY_CK,NGAY_HC) END 							
				WHEN 3 THEN CASE WHEN NGAY_HC >= @TNgay THEN DATEADD (MONTH,CHU_KY_HC_TB,NGAY_HC)
						ELSE DATEADD (MONTH,SO_NGAY_CK,NGAY_HC) END 
				WHEN 4 THEN CASE WHEN NGAY_HC >= @TNgay THEN DATEADD (YEAR,CHU_KY_HC_TB,NGAY_HC)
						ELSE DATEADD (YEAR,SO_NGAY_CK,NGAY_HC) END END AS NGAY_TT
 FROM #TMP2
 WHERE (
 CASE DON_VI_THOI_GIAN WHEN 1 THEN CASE WHEN NGAY_HC >= @TNgay THEN DATEADD (DAY,CHU_KY_HC_TB,NGAY_HC) 
					ELSE DATEADD (DAY,SO_NGAY_CK,NGAY_HC)	END 
				WHEN 2 THEN CASE WHEN NGAY_HC >= @TNgay THEN DATEADD (WEEK,CHU_KY_HC_TB,NGAY_HC)
					ELSE DATEADD (WEEK,SO_NGAY_CK,NGAY_HC) END 							
				WHEN 3 THEN CASE WHEN NGAY_HC >= @TNgay THEN DATEADD (MONTH,CHU_KY_HC_TB,NGAY_HC)
						ELSE DATEADD (MONTH,SO_NGAY_CK,NGAY_HC) END 
				WHEN 4 THEN CASE WHEN NGAY_HC >= @TNgay THEN DATEADD (YEAR,CHU_KY_HC_TB,NGAY_HC)
						ELSE DATEADD (YEAR,SO_NGAY_CK,NGAY_HC) END END  
  BETWEEN @TNgay AND @DNgay)
 ORDER BY MS_MAY