ALTER procedure [dbo].[GetNgayKetThucPBT]
	@MS_PHIEU_BAO_TRI NVARCHAR(50),
	@TINH_TRANG_PBT INT
AS
	SELECT MAX(DEN_NGAY) FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET
	WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
	GROUP BY MS_PHIEU_BAO_TRI


