
ALTER PROCEDURE [dbo].[SP_Y_GET_DUYET_DON_DAT_HANG]
as
begin
      select MS_DON_DAT_HANG,NGUOI_DUYET,NGAY_DUYET,TT_DUYET,
      DON_VI,VAI_TRO,QUYET_DINH,NOI_DUNG,
      DUYET,BAT_BUOC
      from dbo.DON_DAT_HANG_DUYET
	  ORDER BY TT_DUYET
end
