--GET_TON_KHO_THEO_VI_TRI 1,'01/01/2016','01/01/2016',0
ALTER procedure [dbo].[GET_TON_KHO_THEO_VI_TRI]
 @MS_KHO INT ,
 @TU_NGAY DATETIME ,
 @DEN_NGAY DATETIME ,
 @TYPE_LANGUAGE INT 
  AS
BEGIN
SELECT     A.MS_PT, CASE WHEN A.QUY_CACH IS NOT NULL AND A.QUY_CACH <>'' THEN  A.TEN_PT + '('+A.QUY_CACH+')' ELSE A.TEN_PT END AS TEN_PT, C.TEN_VI_TRI , CASE @TYPE_LANGUAGE WHEN 0 THEN B.TEN_1 ELSE B.TEN_2 END AS TEN_DVT , SUM (CASE WHEN C.SL_TON_HT IS NULL THEN 0 ELSE  C.SL_TON_HT END ) AS SL_TON_HT ,SUM ( CASE WHEN  D.SL_XUAT_TMP IS NULL THEN 0 ELSE D.SL_XUAT_TMP END ) AS SL_XUAT_TMP ,
SUM (CASE WHEN E.SL_XUAT IS NULL THEN 0 ELSE E.SL_XUAT END ) AS SL_XUAT , SUM ( CASE WHEN F.SL_NHAP_TMP IS NULL THEN 0 ELSE F.SL_NHAP_TMP END ) AS SL_NHAP_TMP ,
SUM (CASE WHEN  G.SL_NHAP IS NULL THEN 0 ELSE G.SL_NHAP END ) AS SL_NHAP , SUM ( CASE WHEN H.SL_CHUYEN_DI_TMP IS NULL THEN 0 ELSE H.SL_CHUYEN_DI_TMP END ) AS SL_CHUYEN_DI_TMP  ,
SUM ( CASE WHEN  I.SL_CHUYEN_DI IS NULL THEN 0 ELSE I.SL_CHUYEN_DI END ) AS SL_CHUYEN_DI , SUM ( CASE WHEN  J.SL_CHUYEN_DEN_TMP IS NULL THEN 0 ELSE  J.SL_CHUYEN_DEN_TMP END ) AS SL_CHUYEN_DEN_TMP ,
SUM ( CASE WHEN  K.SL_CHUYEN_DEN IS NULL THEN 0 ELSE K.SL_CHUYEN_DEN END ) AS SL_CHUYEN_DEN ,SUM(CASE  WHEN L.CHENH_LECH_KIEM_KE_TMP IS NULL THEN 0 ELSE L.CHENH_LECH_KIEM_KE_TMP END ) AS CHENH_LECH_KIEM_KE_TMP  ,
SUM (CASE WHEN M.CHENH_LECH_KIEM_KE IS NULL THEN 0 ELSE M.CHENH_LECH_KIEM_KE END ) AS CHENH_LECH_KIEM_KE , A.MS_PT_NCC AS PART_NO , A.TON_TOI_THIEU AS TON_MIN ,dbo.CLASS_VT.TEN_CLASS,
SUM(CASE WHEN GIA_TRI_HT IS NULL THEN 0 ELSE GIA_TRI_HT END - (CASE WHEN GIA_TRI_NHAP IS NULL THEN 0 ELSE GIA_TRI_NHAP END  + 
CASE WHEN GIA_TRI_CHUYEN_DEN IS NULL THEN 0 ELSE GIA_TRI_CHUYEN_DEN END  ) + (CASE WHEN GIA_TRI_XUAT IS NULL THEN 0 ELSE GIA_TRI_XUAT END   + CASE WHEN GIA_TRI_CHUYEN_DI IS NULL THEN 0 ELSE GIA_TRI_CHUYEN_DI END  + CASE WHEN GIA_TRI_CHENH_LECH IS NULL THEN 0 ELSE GIA_TRI_CHENH_LECH END   )) AS GIA_TRI
INTO #TON_KHO_THEO_VI_TRI_TMP
FROM         
--Lấy tồn hiện tại
(SELECT     VI_TRI_KHO_VAT_TU.MS_PT, VI_TRI_KHO_VAT_TU.MS_VI_TRI, dbo.VI_TRI_KHO.TEN_VI_TRI, SUM(VI_TRI_KHO_VAT_TU.SL_VT) AS SL_TON_HT, 
                      SUM(VI_TRI_KHO_VAT_TU.GIA_TRI_HT) AS GIA_TRI_HT
FROM         (SELECT     VI_TRI_KHO_VAT_TU_1.MS_KHO, VI_TRI_KHO_VAT_TU_1.MS_VI_TRI, VI_TRI_KHO_VAT_TU_1.MS_DH_NHAP_PT, VI_TRI_KHO_VAT_TU_1.MS_PT, 
                                              VI_TRI_KHO_VAT_TU_1.SL_VT, 
                                              VI_TRI_KHO_VAT_TU_1.SL_VT * dbo.IC_DON_HANG_NHAP_VAT_TU.DON_GIA * dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA AS GIA_TRI_HT, 
                                              VI_TRI_KHO_VAT_TU_1.ID
                       FROM          dbo.IC_DON_HANG_NHAP_VAT_TU INNER JOIN
                                              dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET ON 
                                              dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
                                              dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT AND 
                                              dbo.IC_DON_HANG_NHAP_VAT_TU.ID = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID RIGHT OUTER JOIN
                                              dbo.VI_TRI_KHO_VAT_TU AS VI_TRI_KHO_VAT_TU_1 ON dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID = VI_TRI_KHO_VAT_TU_1.ID AND 
                                              dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = VI_TRI_KHO_VAT_TU_1.MS_DH_NHAP_PT AND 
                                              dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT = VI_TRI_KHO_VAT_TU_1.MS_PT AND 
                                              dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI = VI_TRI_KHO_VAT_TU_1.MS_VI_TRI) AS VI_TRI_KHO_VAT_TU INNER JOIN
                      dbo.VI_TRI_KHO ON VI_TRI_KHO_VAT_TU.MS_VI_TRI = dbo.VI_TRI_KHO.MS_VI_TRI AND VI_TRI_KHO_VAT_TU.MS_KHO = dbo.VI_TRI_KHO.MS_KHO
WHERE     (VI_TRI_KHO_VAT_TU.MS_KHO = @MS_KHO)
GROUP BY VI_TRI_KHO_VAT_TU.MS_PT, VI_TRI_KHO_VAT_TU.MS_VI_TRI, dbo.VI_TRI_KHO.TEN_VI_TRI
) C 
LEFT OUTER JOIN 
dbo.IC_PHU_TUNG A 
ON C.MS_PT = A.MS_PT 
LEFT OUTER JOIN dbo.CLASS_VT ON A.MS_CLASS = dbo.CLASS_VT.MS_CLASS 
INNER JOIN                    
 dbo.DON_VI_TINH B ON A.DVT = B.DVT 
LEFT OUTER JOIN (
--Lấy số lượng xuất từ đến ngày đến hiện tại
SELECT     dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT, dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_VI_TRI, 
                      SUM(dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT) AS SL_XUAT_TMP, 
                      SUM(dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT * dbo.IC_DON_HANG_NHAP_VAT_TU.DON_GIA * dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA) 
                      AS GIA_TRI_XUAT
FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID = dbo.IC_DON_HANG_NHAP_VAT_TU.ID INNER JOIN
                      dbo.IC_DON_HANG_XUAT INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU ON dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET ON 
                      dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_XUAT_PT AND 
                      dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT ON 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_VI_TRI AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.ID_XUAT
WHERE     (dbo.IC_DON_HANG_XUAT.NGAY >= @DEN_NGAY) AND (dbo.IC_DON_HANG_XUAT.MS_KHO = @MS_KHO)
GROUP BY dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT, dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_VI_TRI
 ) D
ON C.MS_PT = D.MS_PT AND C.MS_VI_TRI = D.MS_VI_TRI 
LEFT OUTER JOIN (
--Lấy số lượng xuất trong khoảng từ ngày đến ngày
SELECT     dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT, dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_VI_TRI, 
                      SUM(dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT) AS SL_XUAT
FROM         dbo.IC_DON_HANG_XUAT INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU ON dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET ON 
                      dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_XUAT_PT AND 
                      dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT
WHERE     (dbo.IC_DON_HANG_XUAT.NGAY >= @TU_NGAY) AND (dbo.IC_DON_HANG_XUAT.MS_KHO = @MS_KHO) AND (dbo.IC_DON_HANG_XUAT.NGAY < @DEN_NGAY)
GROUP BY dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT, dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_VI_TRI
) E
ON C.MS_PT = E.MS_PT AND C.MS_VI_TRI = E.MS_VI_TRI 
LEFT OUTER JOIN (
--Lấy số lượng nhập từ đến ngày đến hiện tại

SELECT     dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT, dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI, 
                      SUM(dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT) AS SL_NHAP_TMP, 
                      SUM(dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT * dbo.IC_DON_HANG_NHAP_VAT_TU.DON_GIA * dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA) 
                      AS GIA_TRI_NHAP
FROM         dbo.IC_DON_HANG_NHAP INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET ON 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.ID = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID
WHERE     (dbo.IC_DON_HANG_NHAP.NGAY >= @DEN_NGAY) AND (dbo.IC_DON_HANG_NHAP.MS_KHO = @MS_KHO)
GROUP BY dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT, dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI
) F
ON C.MS_PT = F.MS_PT AND C.MS_VI_TRI = F.MS_VI_TRI
LEFT OUTER JOIN (
--Lấy số lượng nhập từ ngày đến ngày
SELECT     dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT, dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI, 
                      SUM(dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT) AS SL_NHAP
FROM         dbo.IC_DON_HANG_NHAP INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET ON 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.ID = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID
WHERE     (dbo.IC_DON_HANG_NHAP.NGAY >= @TU_NGAY) AND (dbo.IC_DON_HANG_NHAP.MS_KHO = @MS_KHO) AND (dbo.IC_DON_HANG_NHAP.NGAY < @DEN_NGAY)
GROUP BY dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT, dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI
 ) G
ON C.MS_PT = G.MS_PT AND C.MS_VI_TRI = G.MS_VI_TRI
LEFT OUTER JOIN (

--Lấy số lượng di chuyển đi từ đến ngày đến hiện tại

SELECT     dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT, dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI, SUM(dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN) 
                      AS SL_CHUYEN_DI_TMP, 
                      SUM(dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN * dbo.IC_DON_HANG_NHAP_VAT_TU.DON_GIA * dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA) 
                      AS GIA_TRI_CHUYEN_DI
FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID = dbo.IC_DON_HANG_NHAP_VAT_TU.ID INNER JOIN
                      dbo.DI_CHUYEN_VI_TRI_TRONG_KHO ON dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT = dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI = dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID = dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.ID_DC
WHERE     (dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @DEN_NGAY) AND (dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO = @MS_KHO)
GROUP BY dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT, dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI                 
) H 
ON C.MS_PT = H.MS_PT AND C.MS_VI_TRI = H.MS_VI_TRI 
LEFT OUTER JOIN (
--Lấy số lượng di chuyển đi từ ngày đến ngày
SELECT dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT ,dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI, 
SUM (dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN ) AS SL_CHUYEN_DI
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO 
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @TU_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN < @DEN_NGAY 
AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO = @MS_KHO
GROUP BY dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT ,dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI
) I
ON C.MS_PT = I.MS_PT AND C.MS_VI_TRI = I.MS_VI_TRI 
LEFT OUTER JOIN (
--Lấy số lượng di chuyển đến từ đến ngày đến hiện tại
SELECT     dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT, dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI, SUM(dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN) 
                      AS SL_CHUYEN_DEN_TMP, 
                      SUM(dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN * dbo.IC_DON_HANG_NHAP_VAT_TU.DON_GIA * dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA) 
                      AS GIA_TRI_CHUYEN_DEN
FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID = dbo.IC_DON_HANG_NHAP_VAT_TU.ID INNER JOIN
                      dbo.DI_CHUYEN_VI_TRI_TRONG_KHO ON dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT = dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI = dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID = dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.ID_DC
WHERE     (dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @DEN_NGAY) AND (dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO_1 = @MS_KHO)
GROUP BY dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT, dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI
) J
ON C.MS_PT = J.MS_PT AND C.MS_VI_TRI = J.MS_VI_TRI 
LEFT OUTER JOIN (

--Lấy số lượng di chuyển đến từ ngày đến ngày

SELECT     MS_PT, MS_VI_TRI, SUM(SL_CHUYEN) AS SL_CHUYEN_DEN
FROM         dbo.DI_CHUYEN_VI_TRI_TRONG_KHO
WHERE     (NGAY_CHUYEN >= @TU_NGAY) AND (MS_KHO_1 = @MS_KHO) AND (NGAY_CHUYEN < @DEN_NGAY)
GROUP BY MS_PT, MS_VI_TRI
) K
ON C.MS_PT = K.MS_PT AND C.MS_VI_TRI = K.MS_VI_TRI
LEFT OUTER JOIN (

--Tính chênh lệch kiểm kê từ đến ngày đến hiện tại
SELECT     dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT, dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_VI_TRI, 
                      SUM(dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU - dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT) AS CHENH_LECH_KIEM_KE_TMP, 
                      SUM((dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU - dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT) 
                      * dbo.IC_DON_HANG_NHAP_VAT_TU.DON_GIA * dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA) AS GIA_TRI_CHENH_LECH
FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID = dbo.IC_DON_HANG_NHAP_VAT_TU.ID INNER JOIN
                      dbo.KIEM_KE_VAT_TU_CHI_TIET ON dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI = dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_VI_TRI AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT = dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.ID = dbo.KIEM_KE_VAT_TU_CHI_TIET.ID_KK
WHERE     (dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY >= @DEN_NGAY) AND (dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_KHO = @MS_KHO)
GROUP BY dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT, dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_VI_TRI
) L 
ON C.MS_PT = L.MS_PT AND C.MS_VI_TRI = L.MS_VI_TRI 
LEFT OUTER JOIN (

--Tính chênh lệch kiểm kê từ ngày đến ngày
SELECT     MS_PT, MS_VI_TRI, SUM(SL_CHUNG_TU - SL_KK_CT) AS CHENH_LECH_KIEM_KE
FROM         dbo.KIEM_KE_VAT_TU_CHI_TIET
WHERE     (NGAY >= @TU_NGAY) AND (MS_KHO = @MS_KHO) AND (NGAY < @DEN_NGAY)
GROUP BY MS_PT, MS_VI_TRI
) M
ON C.MS_PT = M.MS_PT AND C.MS_VI_TRI = M.MS_VI_TRI
GROUP BY A.MS_PT, A.TEN_PT,A.QUY_CACH , C.TEN_VI_TRI, B.TEN_1 , B.TEN_2 , A.MS_PT_NCC , A.TON_TOI_THIEU,dbo.CLASS_VT.TEN_CLASS
END

IF EXISTS(SELECT * FROM THONG_TIN_CHUNG WHERE TEN_NGAN_TIENG_VIET = 'VinhHoan')
BEGIN
	SELECT * FROM #TON_KHO_THEO_VI_TRI_TMP WHERE  
	((SL_TON_HT) + 
	(SL_NHAP_TMP + SL_NHAP) +
	(SL_XUAT_TMP + SL_XUAT) +
	(SL_CHUYEN_DEN - SL_CHUYEN_DI) +
	(CHENH_LECH_KIEM_KE) +
	(SL_TON_HT + SL_XUAT_TMP + SL_CHUYEN_DI_TMP - SL_NHAP_TMP - SL_CHUYEN_DEN_TMP - CHENH_LECH_KIEM_KE_TMP) ) <> 0
END
ELSE
	SELECT * FROM #TON_KHO_THEO_VI_TRI_TMP