


--	EXEC SP_Y_CHECK_NGUOI_DUYET_DON_DAT_HANG 'ADMIN','DH-1512-0045'
ALTER PROCEDURE [dbo].[SP_Y_CHECK_NGUOI_DUYET_DON_DAT_HANG]
	@UName NVARCHAR (256),
	@MsDDH NVARCHAR (256)
AS
BEGIN
--SELECT CASE WHEN COUNT (*) IS NULL THEN 0 ELSE COUNT (*) END
--FROM         dbo.QT_DUYET_TL
--WHERE  dbo.QT_DUYET_TL.MS_TL = 'TL-0911-0004' AND dbo.QT_DUYET_TL.USERNAME = @FULL_NAME 
	SELECT  CASE WHEN COUNT (*) IS NULL THEN 0 ELSE COUNT (*) END
	FROM dbo.DON_DAT_HANG_DUYET A 
	WHERE  MS_DON_DAT_HANG = @MsDDH AND A.NGUOI_DUYET = @UName
END




