
ALTER proc [dbo].[GetMAY]
	@MS_MAY nvarchar(30)
AS

IF EXISTS (SELECT * FROM MAY WHERE ISNULL(NGAY_BD_BAO_HANH,'') = '' AND MS_MAY = @MS_MAY)
	UPDATE MAY SET NGAY_BD_BAO_HANH = ISNULL(NGAY_DUA_VAO_SD,'01/01/1900') WHERE ISNULL(NGAY_BD_BAO_HANH,'') = ''  AND MS_MAY = @MS_MAY

IF EXISTS (SELECT * FROM MAY WHERE ISNULL(NGAY_MUA,'') = '' AND MS_MAY = @MS_MAY)
	UPDATE MAY SET NGAY_MUA = ISNULL(NGAY_DUA_VAO_SD,'01/01/1900') WHERE ISNULL(NGAY_MUA,'') = ''  AND MS_MAY = @MS_MAY

IF EXISTS (SELECT * FROM MAY WHERE ISNULL(NGAY_SX,'') = '' AND MS_MAY = @MS_MAY)
	UPDATE MAY SET NGAY_SX = ISNULL(NGAY_DUA_VAO_SD,'01/01/1900') WHERE ISNULL(NGAY_SX,'') = ''  AND MS_MAY = @MS_MAY

IF EXISTS (SELECT * FROM MAY WHERE ISNULL(NGAY_SX,'') = '' AND MS_MAY = @MS_MAY)
	UPDATE MAY SET NGAY_SX = ISNULL(NGAY_DUA_VAO_SD,'01/01/1900') WHERE ISNULL(NGAY_SX,'') = ''  AND MS_MAY = @MS_MAY

IF EXISTS (SELECT * FROM MAY WHERE ISNULL(SO_NAM_KHAU_HAO,0) = 0 AND MS_MAY = @MS_MAY)
	UPDATE MAY SET SO_NAM_KHAU_HAO = 0 WHERE ISNULL(SO_NAM_KHAU_HAO,0) = 0  AND MS_MAY = @MS_MAY

IF EXISTS (SELECT * FROM MAY WHERE ISNULL(SO_NGAY_LV_TRONG_TUAN,0) = 0 AND MS_MAY = @MS_MAY)
	UPDATE MAY SET SO_NGAY_LV_TRONG_TUAN = 0 WHERE ISNULL(SO_NGAY_LV_TRONG_TUAN,0) = 0  AND MS_MAY = @MS_MAY

IF EXISTS (SELECT * FROM MAY WHERE ISNULL(SO_THANG_BH,0) = 0 AND MS_MAY = @MS_MAY)
	UPDATE MAY SET SO_THANG_BH = 0 WHERE ISNULL(SO_THANG_BH,0) = 0  AND MS_MAY = @MS_MAY

IF EXISTS (SELECT * FROM MAY WHERE ISNULL(SO_GIO_LV_TRONG_NGAY,0) = 0 AND MS_MAY = @MS_MAY)
	UPDATE MAY SET SO_GIO_LV_TRONG_NGAY = 0 WHERE ISNULL(SO_GIO_LV_TRONG_NGAY,0) = 0  AND MS_MAY = @MS_MAY

IF EXISTS (SELECT * FROM MAY WHERE ISNULL(TY_LE_CON_LAI,0) = 0 AND MS_MAY = @MS_MAY)
	UPDATE MAY SET TY_LE_CON_LAI = 0 WHERE ISNULL(TY_LE_CON_LAI,0) = 0  AND MS_MAY = @MS_MAY



SELECT * FROM MAY WHERE MS_MAY=@MS_MAY

