
----exec MTimVatTuDX '08/01/2010','08/01/2016'

ALTER procedure [dbo].[MTimVatTuDX]	
	@TNgay DATETIME,
	@DNgay DATETIME
AS
BEGIN

SELECT     A.MS_DDH AS DX, B.MS_PT, CONVERT(FLOAT,SUM(B.SL_THUC_NHAP)) AS SL_THUC_NHAP INTO #NHAP_TMP
FROM         dbo.IC_DON_HANG_NHAP AS A INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU AS B ON A.MS_DH_NHAP_PT = B.MS_DH_NHAP_PT
GROUP BY A.MS_DDH, B.MS_PT, A.MS_DANG_NHAP
HAVING      (A.MS_DANG_NHAP = 3)

SELECT     T3.TEN_PT, T3.QUY_CACH, T3.MS_PT, T2.MS_DE_XUAT, T7.TEN_TO, 
	CASE ISNULL(T1.TEN_KHO, '') WHEN '' THEN '' ELSE T1.TEN_KHO END AS TEN_KHO, T2.SL_DE_XUAT, T8.SL_THUC_NHAP,
	T4.TEN_1, T2.GHI_CHU, CASE ISNULL(T1.MS_KHO, '') WHEN '' THEN 0 ELSE T1.MS_KHO END AS MS_KHO
FROM         dbo.IC_KHO AS T1 RIGHT OUTER JOIN
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET AS T2 INNER JOIN
                      dbo.IC_PHU_TUNG AS T3 ON T2.MS_PT = T3.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS T4 ON T3.DVT = T4.DVT INNER JOIN
                      dbo.DE_XUAT_MUA_HANG AS T5 ON T2.MS_DE_XUAT = T5.MS_DE_XUAT LEFT OUTER JOIN
                      dbo.DON_VI AS T6 RIGHT OUTER JOIN
                      dbo.TO_PHONG_BAN AS T7 ON T6.MS_DON_VI = T7.MS_DON_VI ON T5.PHONG_BAN = T7.TEN_TO ON T1.MS_KHO = T5.MS_KHO LEFT JOIN
                      #NHAP_TMP T8 ON T2.MS_DE_XUAT = T8.DX AND T2.MS_PT = T8.MS_PT
WHERE     (T5.NGAY_LAP BETWEEN @TNGAY AND @DNGAY )
ORDER BY TEN_KHO,TEN_PT,QUY_CACH,MS_PT
END



