
ALTER procedure [dbo].[SP_Y_GET_DE_XUAT_MUA_HANG_DICH_VU]
as
begin
      select MS_DE_XUAT,MS_DICH_VU,TEN_DICH_VU,DVT,SL_DE_XUAT,DON_GIA,NGOAI_TE,TY_GIA,
      TY_GIA_USD,THANH_TIEN,THANH_TIEN_VND,THANH_TIEN_USD,GHI_CHU,NGAY_DX,LY_DO, DUONG_DAN_TL
      from DE_XUAT_MUA_HANG_DICH_VU ORDER BY MS_DE_XUAT,MS_DICH_VU,TEN_DICH_VU
end
