--SELECT * FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO WHERE MS_PHIEU_BAO_TRI = 'WO-201601000550'
-- EXEC SP_GET_PTSD_PBT_CHI_TIET 'WO-201601000550'
ALTER procedure [dbo].[SP_GET_PTSD_PBT_CHI_TIET]
@MS_PHIEU_BAO_TRI  NVARCHAR (20) 
 AS
SELECT DISTINCT 
                      T3.MS_DH_XUAT_PT, T6.MS_DH_NHAP_PT, T1.MS_PT, T6.MS_PT AS MS_PT1, T6.XUAT_XU, T5.SL_TT, T6.DON_GIA, T6.NGOAI_TE, T6.TY_GIA, T6.TY_GIA_USD, T6.BAO_HANH_DEN_NGAY, 
                      T1.MS_PHIEU_BAO_TRI, T1.MS_CV, T1.MS_BO_PHAN, T1.STT, T5.GHI_CHU, CASE ISNULL(T5.ID, '') 
                      WHEN '' THEN T3.ID_XUAT ELSE T5.ID END AS ID
FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET AS T1 INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU AS T2 INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT AND T2.MS_PT = T3.MS_PT INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU AS T6 ON T3.MS_DH_NHAP_PT = T6.MS_DH_NHAP_PT AND T3.MS_PT = T6.MS_PT INNER JOIN
                      dbo.IC_DON_HANG_XUAT AS T4 ON T2.MS_DH_XUAT_PT = T4.MS_DH_XUAT_PT ON T1.MS_PHIEU_BAO_TRI = T4.MS_PHIEU_BAO_TRI RIGHT OUTER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO AS T5 ON T6.ID = T5.ID AND T2.MS_DH_XUAT_PT = T5.MS_DH_XUAT_PT AND T6.MS_DH_NHAP_PT = T5.MS_DH_NHAP_PT AND 
                      T3.MS_DH_NHAP_PT = T5.MS_DH_NHAP_PT AND T1.MS_PHIEU_BAO_TRI = T5.MS_PHIEU_BAO_TRI AND T1.MS_CV = T5.MS_CV AND T1.MS_BO_PHAN = T5.MS_BO_PHAN AND 
                      T1.MS_PT = T5.MS_PT AND T1.STT = T5.STT
WHERE     (T1.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND (T4.LOCK = 1)