
--exec [SP_NHU_Y_GET_XUAT_NHAP_KHO] -1, '01-01-2016','02-25-2016',0,1
ALTER PROCEDURE [dbo].[SP_NHU_Y_GET_XUAT_NHAP_KHO]
	@MS_KHO INT ,
	@TU_NGAY DATETIME ,
	@DEN_NGAY DATETIME ,
	@TYPE_LANGUAGE INT,
	@VND INT

AS
BEGIN

--Lấy tồn hiện tại
SELECT        D.MS_PT, SUM(D.SL_VT) AS SL_TON_HT, SUM(D.SL_VT * A.DON_GIA * CASE @VND WHEN 1 THEN A.TY_GIA ELSE A.TY_GIA_USD END) AS GIA_TRI_TON_HT
INTO #TON_HT
FROM            dbo.IC_DON_HANG_NHAP_VAT_TU AS A INNER JOIN
						dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS B ON A.MS_DH_NHAP_PT = B.MS_DH_NHAP_PT AND A.MS_PT = B.MS_PT AND A.ID = B.ID INNER JOIN
						dbo.IC_PHU_TUNG AS C ON A.MS_PT = C.MS_PT INNER JOIN
						dbo.VI_TRI_KHO_VAT_TU AS D ON B.MS_DH_NHAP_PT = D.MS_DH_NHAP_PT AND B.MS_PT = D.MS_PT AND B.MS_VI_TRI = D.MS_VI_TRI AND B.ID = D.ID 
WHERE       (D.MS_KHO =  @MS_KHO OR @MS_KHO = -1)
GROUP BY D.MS_PT
	
--Lấy số lượng xuất từ đến ngày đến hiện tại
SELECT        T5.MS_PT, SUM(T5.SL_VT) AS SL_XUAT, SUM(T5.SL_VT * T2.DON_GIA * CASE @VND WHEN 1 THEN T2.TY_GIA ELSE T2.TY_GIA_USD END) AS GIA_TRI_XUAT
INTO #XUAT_HT
FROM            dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT AND T1.MS_PT = T2.MS_PT AND T1.ID = T2.ID INNER JOIN
                         dbo.IC_DON_HANG_XUAT AS T3 INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU AS T4 ON T3.MS_DH_XUAT_PT = T4.MS_DH_XUAT_PT INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T5 ON T4.MS_DH_XUAT_PT = T5.MS_DH_XUAT_PT AND T4.MS_PT = T5.MS_PT ON T1.MS_DH_NHAP_PT = T5.MS_DH_NHAP_PT AND T1.MS_PT = T5.MS_PT AND
                          T1.MS_VI_TRI = T5.MS_VI_TRI AND T1.ID = T5.ID_XUAT
WHERE         (T3.MS_KHO =  @MS_KHO OR @MS_KHO = -1) AND (T3.NGAY >= @DEN_NGAY)
GROUP BY T5.MS_PT, T2.MS_PT

--Lấy số lượng xuất trong khoảng từ ngày đến ngày
SELECT        T3.MS_PT, SUM(T3.SL_VT) AS SL_XUAT, SUM(T4.DON_GIA * T4.TY_GIA * T3.SL_VT) AS GIA_TRI_XUAT
INTO #XUAT_TK
FROM            dbo.IC_DON_HANG_XUAT AS T1 INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU AS T2 ON T1.MS_DH_XUAT_PT = T2.MS_DH_XUAT_PT INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT AND T2.MS_PT = T3.MS_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T4 ON T3.MS_PT = T4.MS_PT AND T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.ID_XUAT = T4.ID
WHERE        (T1.MS_KHO =  @MS_KHO OR @MS_KHO = -1) AND (T1.NGAY >= @TU_NGAY) AND (T1.NGAY < @DEN_NGAY)
GROUP BY T3.MS_PT

--Lấy số lượng nhập từ đến ngày đến hiện tại
SELECT        T3.MS_PT, SUM(T3.SL_VT) AS SL_NHAP_TMP, SUM(T3.SL_VT * T2.DON_GIA * CASE @VND WHEN 1 THEN T2.TY_GIA ELSE T2.TY_GIA_USD END) AS GIA_TRI_NHAP
INTO #NHAP_HT
FROM            dbo.IC_DON_HANG_NHAP AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T3 ON T2.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT AND T2.MS_PT = T3.MS_PT AND T2.ID = T3.ID
WHERE        (T1.MS_KHO =  @MS_KHO OR @MS_KHO = -1)  AND (T1.NGAY >= @DEN_NGAY)
GROUP BY T3.MS_PT

--	Lấy số lượng nhập từ ngày đến ngày
SELECT DISTINCT T3.MS_PT, SUM(T3.SL_VT) AS SL_NHAP, SUM(T2.DON_GIA * CASE @VND WHEN 1 THEN T2.TY_GIA ELSE T2.TY_GIA_USD END * T3.SL_VT) AS GIA_TRI_NHAP
INTO #NHAP_TK
FROM            dbo.IC_DON_HANG_NHAP AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T3 ON T2.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT AND T2.MS_PT = T3.MS_PT AND T2.ID = T3.ID
WHERE       (T1.MS_KHO =  @MS_KHO OR @MS_KHO = -1)  AND (T1.NGAY >= @TU_NGAY) AND (T1.NGAY < @DEN_NGAY)
GROUP BY T3.MS_PT

--Lấy số lượng di chuyển đi từ đến ngày đến hiện tại
SELECT        T3.MS_PT, T3.MS_VI_TRI, SUM(T3.SL_CHUYEN) AS SL_CHUYEN_DI_TMP, 
                         SUM(T3.SL_CHUYEN * T2.DON_GIA * CASE @VND WHEN 1 THEN T2.TY_GIA ELSE T2.TY_GIA_USD END) AS GIA_TRI_CHUYEN_DI
INTO #DC_HT
FROM            dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT AND T1.MS_PT = T2.MS_PT AND T1.ID = T2.ID INNER JOIN
                         dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS T3 ON T1.MS_PT = T3.MS_PT AND T1.MS_VI_TRI = T3.MS_VI_TRI AND T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT AND T1.ID = T3.ID_DC
WHERE        (T3.MS_KHO =  @MS_KHO OR @MS_KHO = -1) AND (T3.NGAY_CHUYEN >= @DEN_NGAY)
GROUP BY T3.MS_PT, T3.MS_VI_TRI

--Lấy số lượng di chuyển đi từ ngày đến ngày
SELECT        T1.MS_PT, SUM(T1.SL_CHUYEN) AS SL_CHUYEN_DI, 
                         SUM(T2.DON_GIA * CASE @VND WHEN 1 THEN T2.TY_GIA ELSE T2.TY_GIA_USD END * T1.SL_CHUYEN) AS GIA_TRI_CHUYEN_DI
INTO #DC_TK
FROM            dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT AND T1.MS_PT = T2.MS_PT AND T1.ID_DC = T2.ID
WHERE        (T1.MS_KHO =  @MS_KHO OR @MS_KHO = -1) AND (T1.NGAY_CHUYEN >= @TU_NGAY) AND 
                         (T1.NGAY_CHUYEN < @DEN_NGAY)
GROUP BY T1.MS_PT

--Lấy số lượng di chuyển đến từ đến ngày đến hiện tại
SELECT        T3.MS_PT, SUM(T3.SL_CHUYEN) AS SL_CHUYEN_DEN_TMP, 
                         SUM(T3.SL_CHUYEN * T2.DON_GIA * CASE @VND WHEN 1 THEN T2.TY_GIA ELSE T2.TY_GIA_USD END) AS GIA_TRI_CHUYEN_DEN
INTO #DC_D_HT
FROM            dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT AND T1.MS_PT = T2.MS_PT INNER JOIN
                         dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS T3 ON T1.MS_PT = T3.MS_PT AND T1.MS_VI_TRI = T3.MS_VI_TRI AND T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT
WHERE      (T3.MS_KHO_1 =  @MS_KHO OR @MS_KHO = -1) AND (T3.NGAY_CHUYEN >= @DEN_NGAY)
GROUP BY T3.MS_PT

--Lấy số lượng di chuyển đến từ ngày đến ngày
SELECT        T1.MS_PT, SUM(T1.SL_CHUYEN) AS SL_CHUYEN_DEN, 
                         SUM(T2.DON_GIA * CASE @VND WHEN 1 THEN T2.TY_GIA ELSE T2.TY_GIA_USD END * T1.SL_CHUYEN) AS GIA_TRI_CHUYEN_DEN
INTO #DC_D_TK
FROM            dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT AND T1.MS_PT = T2.MS_PT AND T1.ID_DC = T2.ID
WHERE        (T1.MS_KHO_1 =  @MS_KHO OR @MS_KHO = -1) AND (T1.NGAY_CHUYEN >= @TU_NGAY) AND 
                         (T1.NGAY_CHUYEN < @DEN_NGAY)
GROUP BY T1.MS_PT


	SELECT  [No] ,
	         MS_PT, TEN_PT,LOAI_VAT_TU, --QUY_CACH,
	         TEN_DVT  , (round(GIA_TRI_TON_DAU,2) - GT_AM + GT_DUONG ) as GIA_TRI_TON_DAU_THANG 
            ,(SL_TON_DAU_THANG + KK_DUONG - KK_AM)AS SL_TON_DAU_THANG,(SL_NHAP + KK_DUONG) AS SL_NHAP, (GIA_TRI_NHAP + GT_DUONG) AS GIA_TRI_NHAP,
            (SL_XUAT - KK_AM) AS SL_XUAT,(GIA_TRI_XUAT - GT_AM + GT_DUONG) AS GIA_TRI_XUAT,
	         SL_TON_HT, round(GIA_TRI_TON_HT,2) as GIA_TRI_TON_HT
	         --,KK_AM,KK_DUONG
	FROM 
	(
	SELECT DISTINCT ROW_NUMBER() OVER (ORDER BY LOAI_VAT_TU) AS [No],MS_CLASS,MS_PT, TEN_PT,LOAI_VAT_TU,MS_LOAI_VT, QUY_CACH, TEN_DVT , 
    GIA_TRI_TON_DAU=(GIA_TRI_TON_HT + GIA_TRI_XUAT + GIA_TRI_CHUYEN_DI - GIA_TRI_NHAP - GIA_TRI_CHUYEN_DEN),
    SL_TON_DAU_THANG=(SL_TON_HT + SL_XUAT + SL_CHUYEN_DI - SL_NHAP - SL_CHUYEN_DEN),
	(SL_NHAP + SL_CHUYEN_DEN) AS SL_NHAP,
	(GIA_TRI_NHAP + GIA_TRI_CHUYEN_DEN) AS GIA_TRI_NHAP,
	(SL_XUAT + SL_CHUYEN_DI) AS SL_XUAT,
	(GIA_TRI_XUAT + GIA_TRI_CHUYEN_DI) AS GIA_TRI_XUAT,
    -- SL_NHAP,GIA_TRI_NHAP,SL_XUAT,GIA_TRI_XUAT,
	(SL_CHUYEN_DEN-SL_CHUYEN_DI) AS MOVED,
	(GIA_TRI_CHUYEN_DEN - GIA_TRI_CHUYEN_DI) as MOVE_AMOUNT,
	SL_TON_HT,GIA_TRI_TON_HT,KK_DUONG,KK_AM,GT_DUONG,GT_AM
	
	
	FROM( 
	SELECT  DISTINCT  A.MS_CLASS, A.MS_PT, A.TEN_PT,A.QUY_CACH,A.MS_LOAI_VT, CASE @TYPE_LANGUAGE WHEN 0 THEN B.TEN_1 ELSE B.TEN_2 END AS TEN_DVT,
	CASE @TYPE_LANGUAGE WHEN 0 THEN LOAI_VT.TEN_LOAI_VT_TV ELSE LOAI_VT.TEN_LOAI_VT_TA END AS LOAI_VAT_TU,
	CASE WHEN  D.SL_XUAT IS NULL THEN 0 ELSE D.SL_XUAT END  AS SL_XUAT_TMP ,
	CASE WHEN  D.GIA_TRI_XUAT IS NULL THEN 0 ELSE D.GIA_TRI_XUAT END  AS GIA_TRI_XUAT_TMP ,
	CASE WHEN E.SL_XUAT IS NULL THEN 0 ELSE E.SL_XUAT END  AS SL_XUAT ,
	CASE WHEN E.GIA_TRI_XUAT IS NULL THEN 0 ELSE E.GIA_TRI_XUAT END  AS GIA_TRI_XUAT ,
	  
	 CASE WHEN F.SL_NHAP_TMP IS NULL THEN 0 ELSE F.SL_NHAP_TMP END  AS SL_NHAP_TMP ,
	CASE WHEN F.GIA_TRI_NHAP IS NULL THEN 0 ELSE F.GIA_TRI_NHAP END  AS GIA_TRI_NHAP_TMP ,
	CASE WHEN  G.SL_NHAP IS NULL THEN 0 ELSE G.SL_NHAP END  AS SL_NHAP , 
	CASE WHEN  G.GIA_TRI_NHAP IS NULL THEN 0 ELSE G.GIA_TRI_NHAP END  AS GIA_TRI_NHAP , 

	CASE WHEN H.SL_CHUYEN_DI_TMP IS NULL THEN 0 ELSE H.SL_CHUYEN_DI_TMP END  AS SL_CHUYEN_DI_TMP  ,
	CASE WHEN H.GIA_TRI_CHUYEN_DI IS NULL THEN 0 ELSE H.GIA_TRI_CHUYEN_DI END  AS GIA_TRI_CHUYEN_DI_TMP  ,
	CASE WHEN  I.SL_CHUYEN_DI IS NULL THEN 0 ELSE I.SL_CHUYEN_DI END  AS SL_CHUYEN_DI , 
	CASE WHEN  I.GIA_TRI_CHUYEN_DI IS NULL THEN 0 ELSE I.GIA_TRI_CHUYEN_DI END  AS GIA_TRI_CHUYEN_DI ,

	CASE WHEN  J.SL_CHUYEN_DEN_TMP IS NULL THEN 0 ELSE  J.SL_CHUYEN_DEN_TMP END  AS SL_CHUYEN_DEN_TMP ,
	CASE WHEN  J.GIA_TRI_CHUYEN_DEN IS NULL THEN 0 ELSE  J.GIA_TRI_CHUYEN_DEN END  AS GIA_TRI_CHUYEN_DEN_TMP,
	CASE WHEN  K.SL_CHUYEN_DEN IS NULL THEN 0 ELSE K.SL_CHUYEN_DEN END  AS SL_CHUYEN_DEN ,
	CASE WHEN  K.GIA_TRI_CHUYEN_DEN IS NULL THEN 0 ELSE K.GIA_TRI_CHUYEN_DEN END  AS GIA_TRI_CHUYEN_DEN ,

	CASE  WHEN L.CHENH_LECH_KIEM_KE_TMP IS NULL THEN 0 ELSE L.CHENH_LECH_KIEM_KE_TMP END  AS CHENH_LECH_KIEM_KE_TMP  ,
	CASE  WHEN L.GIA_TRI_CHENH_LECH IS NULL THEN 0 ELSE L.GIA_TRI_CHENH_LECH END  AS GIA_TRI_CHENH_LECH_TMP  ,
      CASE WHEN M.KK_DUONG IS NULL THEN 0 ELSE M.KK_DUONG END AS KK_DUONG,
      CASE WHEN M.KK_AM IS NULL THEN 0 ELSE M.KK_AM END AS KK_AM ,
      CASE WHEN M.GT_DUONG IS NULL THEN 0 ELSE M.GT_DUONG END AS GT_DUONG,
      CASE WHEN M.GT_AM IS NULL THEN 0 ELSE M.GT_AM END AS GT_AM,
    CASE WHEN C.SL_TON_HT IS NULL THEN 0 ELSE C.SL_TON_HT END - CASE WHEN F.SL_NHAP_TMP IS NULL THEN 0 ELSE F.SL_NHAP_TMP END + 
    CASE WHEN D.SL_XUAT IS NULL THEN 0 ELSE D.SL_XUAT END AS SL_TON_HT, 
CASE WHEN C.GIA_TRI_TON_HT IS NULL THEN 0 ELSE  C.GIA_TRI_TON_HT END  - CASE WHEN F.GIA_TRI_NHAP IS NULL THEN 0 ELSE F.GIA_TRI_NHAP END + 
	CASE WHEN D.GIA_TRI_XUAT IS NULL THEN 0 ELSE D.GIA_TRI_XUAT END  AS GIA_TRI_TON_HT 
	
	FROM         

	--Lấy tồn hiện tại
	#TON_HT C 
	LEFT OUTER JOIN 
	dbo.IC_PHU_TUNG A 
	ON C.MS_PT = A.MS_PT 
	 INNER JOIN                   
	 dbo.DON_VI_TINH B ON A.DVT = B.DVT
	 INNER JOIN LOAI_VT ON A.MS_LOAI_VT=LOAI_VT.MS_LOAI_VT 	 
	LEFT OUTER JOIN 
	--Lấy số lượng xuất từ đến ngày đến hiện tại
	#XUAT_HT D
	ON C.MS_PT = D.MS_PT 
	LEFT OUTER JOIN 
	--Lấy số lượng xuất trong khoảng từ ngày đến ngày
	#XUAT_TK E
	ON C.MS_PT = E.MS_PT
	LEFT OUTER JOIN 
	--Lấy số lượng nhập từ đến ngày đến hiện tại
	#NHAP_HT F
	ON C.MS_PT = F.MS_PT 
	LEFT OUTER JOIN 
--	Lấy số lượng nhập từ ngày đến ngày
	#NHAP_TK G
	ON C.MS_PT = G.MS_PT 
	LEFT OUTER JOIN 
	--Lấy số lượng di chuyển đi từ đến ngày đến hiện tại
	#DC_HT H 
	ON C.MS_PT = H.MS_PT 
	LEFT OUTER JOIN 
	--Lấy số lượng di chuyển đi từ ngày đến ngày
	#DC_TK I
	ON C.MS_PT = I.MS_PT 
	LEFT OUTER JOIN 
	--Lấy số lượng di chuyển đến từ đến ngày đến hiện tại
	#DC_D_HT J
	ON C.MS_PT = J.MS_PT 
	LEFT OUTER JOIN 
	--Lấy số lượng di chuyển đến từ ngày đến ngày
	#DC_D_TK
	K
	ON C.MS_PT = K.MS_PT 
	LEFT OUTER JOIN (

	--Tính chênh lệch kiểm kê từ đến ngày đến hiện tại
	SELECT     dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT, SUM(dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU - dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT) 
				  AS CHENH_LECH_KIEM_KE_TMP, 
				  SUM((dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU - dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT) 
						  * CASE @VND WHEN 1 THEN dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA  ELSE dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA_USD END * dbo.IC_DON_HANG_NHAP_VAT_TU.DON_GIA) 				
					AS GIA_TRI_CHENH_LECH
	FROM         dbo.IC_DON_HANG_NHAP_VAT_TU INNER JOIN
						  dbo.KIEM_KE_VAT_TU_CHI_TIET ON dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
						  dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT
	WHERE     (dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY >= @DEN_NGAY) 
	--AND (dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_KHO = @MS_KHO)
	AND '1' = CASE WHEN @MS_KHO=-1 THEN '1' WHEN @MS_KHO <>'-1' AND KIEM_KE_VAT_TU_CHI_TIET.MS_KHO=@MS_KHO THEN '1' ELSE '0' END
	GROUP BY dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT
	) L 
	ON C.MS_PT = L.MS_PT 
	LEFT OUTER JOIN (

	--Tính chênh lệch kiểm kê từ ngày đến ngày
	
	
	SELECT ISNULL(TEMP.MS_PT,TEMP1.MS_PT) AS MS_PT,ISNULL(TEMP.KK_DUONG,0) AS KK_DUONG,ISNULL(TEMP.GT_DUONG,0) AS GT_DUONG,
           ISNULL(TEMP1.KK_AM,0) AS KK_AM,ISNULL(TEMP1.GT_AM,0) AS GT_AM 

    FROM
     (
		SELECT MS_PT,SUM(CHENH_LECH_KIEM_KE) AS KK_DUONG,SUM(GIA_TRI_CHENH_LECH) AS GT_DUONG
		FROM
		(
		SELECT     dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT, (dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT-dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU) 
								  AS CHENH_LECH_KIEM_KE, 
								  (dbo.IC_DON_HANG_NHAP_VAT_TU.DON_GIA * CASE @VND WHEN 1 THEN dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA  ELSE dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA_USD END * (dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT-dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU)
								  ) AS GIA_TRI_CHENH_LECH
			FROM         dbo.KIEM_KE_VAT_TU_CHI_TIET INNER JOIN
								  dbo.IC_DON_HANG_NHAP_VAT_TU ON 
								  dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AND 
								  dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT
			WHERE     (dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY >= @TU_NGAY) 
			--AND (dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_KHO = @MS_KHO) 
			AND '1' = CASE WHEN @MS_KHO=-1 THEN '1' WHEN @MS_KHO <>'-1' AND KIEM_KE_VAT_TU_CHI_TIET.MS_KHO=@MS_KHO THEN '1' ELSE '0' END
			AND (dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY < @DEN_NGAY)
		)TEMP WHERE CHENH_LECH_KIEM_KE >= 0 GROUP BY MS_PT
     )TEMP FULL JOIN
     (
     SELECT MS_PT,SUM(CHENH_LECH_KIEM_KE) AS KK_AM,SUM(GIA_TRI_CHENH_LECH) AS GT_AM
     FROM
         (
			   SELECT     dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT, (dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT-dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU) 
									  AS CHENH_LECH_KIEM_KE, 
									  (dbo.IC_DON_HANG_NHAP_VAT_TU.DON_GIA * CASE @VND WHEN 1 THEN dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA  ELSE dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA_USD END * (dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT-dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU)
									  ) AS GIA_TRI_CHENH_LECH
				FROM         dbo.KIEM_KE_VAT_TU_CHI_TIET INNER JOIN
									  dbo.IC_DON_HANG_NHAP_VAT_TU ON 
									  dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AND 
									  dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT
				WHERE     (dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY >= @TU_NGAY) 
				--AND (dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_KHO = @MS_KHO) 
				AND '1' = CASE WHEN @MS_KHO=-1 THEN '1' WHEN @MS_KHO <>'-1' AND KIEM_KE_VAT_TU_CHI_TIET.MS_KHO=@MS_KHO THEN '1' ELSE '0' END
				AND (dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY < @DEN_NGAY)
			)TEMP WHERE CHENH_LECH_KIEM_KE < 0 GROUP BY MS_PT
      )TEMP1 ON TEMP.MS_PT=TEMP1.MS_PT
	
	) M
	ON C.MS_PT = M.MS_PT 
	INNER JOIN                    
	 dbo.LOAI_VT N ON A.MS_LOAI_VT = N.MS_LOAI_VT
	--WHERE N.VAT_TU=(@MATERIAL_TYPE)
--	GROUP BY A.MS_PT, A.TEN_PT, A.QUY_CACH , B.TEN_1 , B.TEN_2, A.MS_CLASS

	) THONGKE 
	--WHERE '1'='1'
	--AND '1'=(CASE WHEN @CLASS='-1' THEN '1' WHEN @CLASS<>'-1' AND MS_CLASS =@CLASS THEN '1' ELSE '0' END)

)TEMP --LEFT JOIN CLASS_VT ON TEMP.MS_CLASS = CLASS_VT.MS_CLASS 

END
