
--SELECT * FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO WHERE MS_PHIEU_BAO_TRI = 'WO-201601000550'
-- EXEC SP_GET_PTSD_PBT_CHI_TIET 'WO-201602000038'

ALTER procedure [dbo].[SP_GET_PTSD_PBT_CHI_TIET]
@MS_PHIEU_BAO_TRI  NVARCHAR (20) 
 AS

SELECT DISTINCT 
                      dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_XUAT_PT, dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT, dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT AS MS_PT1, 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.XUAT_XU, dbo.IC_DON_HANG_XUAT_VAT_TU.SO_LUONG_THUC_XUAT , 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.SL_TT, dbo.IC_DON_HANG_NHAP_VAT_TU.DON_GIA, 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.NGOAI_TE, dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA, dbo.IC_DON_HANG_NHAP_VAT_TU.TY_GIA_USD, 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.BAO_HANH_DEN_NGAY, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.STT, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.GHI_CHU,
						CASE ISNULL(dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.ID ,'')
												WHEN '' THEN dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.ID_XUAT 
												ELSE dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.ID END AS ID                       
FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET ON 
                      dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_XUAT_PT AND 
                      dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT INNER JOIN
                      dbo.IC_DON_HANG_XUAT ON dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT ON 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI = dbo.IC_DON_HANG_XUAT.MS_PHIEU_BAO_TRI INNER JOIN
                          (SELECT     PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_2.MS_PT, dbo.IC_PHU_TUNG_THAY_THE.MS_PT1
                            FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET AS PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_2 INNER JOIN
                                                   dbo.IC_PHU_TUNG_THAY_THE ON PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_2.MS_PT = dbo.IC_PHU_TUNG_THAY_THE.MS_PT
                            WHERE      (PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_2.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)
                            UNION
                            SELECT     MS_PT, MS_PT AS MS_PT1
                            FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET AS PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_1
                            WHERE     (MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)) AS T1 ON dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT = T1.MS_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = T1.MS_PT1 LEFT OUTER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO ON 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.ID = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.ID AND 
                      dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_DH_XUAT_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_DH_NHAP_PT AND 
                      T1.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PT AND 
                      T1.MS_PT1 = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PTTT AND 
                      dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_DH_NHAP_PT AND 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PHIEU_BAO_TRI AND
                       dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_CV AND 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_BO_PHAN AND 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PT AND 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.STT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.STT
WHERE     (dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) 

