
-- exec MBieuDoChiPhiBPCPTheoXuong '01/01/2000', '01/01/2015',1,1,1,1,1,18

ALTER procedure [dbo].[MBieuDoChiPhiBPCPTheoXuong]
	@TNgay DATETIME,
	@DNgay DATETIME,
	@PhuTung bit,
	@VatTu bit,
	@NhanCong bit,
	@DichVu bit,
	@Khac bit
as

 

SELECT CONVERT(INT,NULL) AS STT ,* FROM 
(
	SELECT A.TEN_BP_CHIU_PHI ,A.MS_BP_CHIU_PHI, SUM(ROUND(ISNULL(CHI_PHI_BT,0) + ISNULL(CHI_PHI_HN,0),2)) AS CHI_PHI_CO_KH,   
		SUM(ROUND(ISNULL(CHI_PHI,0),2)) AS CHI_PHI_KHO_KH, SUM(ROUND(ISNULL(CHI_PHI_BT,0) + ISNULL(CHI_PHI_HN,0) +  ISNULL(CHI_PHI,0),2)) AS TONG_CP
	FROM BO_PHAN_CHIU_PHI A LEFT JOIN
	(
		SELECT MA_SO , SUM(CHI_PHI_BT) AS CHI_PHI_BT FROM
		(
	
			SELECT     dbo.MGetBPCPhiTheoNgay(dbo.PHIEU_BAO_TRI.MS_MAY, NGAY_BD_KH) AS MA_SO , 
				(CASE @PhuTung WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG), 0) ELSE 0 END + 
				CASE @VatTu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU), 0)  ELSE 0 END + 
				CASE @NhanCong WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG), 0) ELSE 0 END +  
				CASE @DichVu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV), 0) ELSE 0 END + 
				CASE @Khac WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC), 0) ELSE 0 END ) AS CHI_PHI_BT
			FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
								  dbo.PHIEU_BAO_TRI ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI INNER JOIN
								  dbo.LOAI_BAO_TRI ON dbo.PHIEU_BAO_TRI.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT 
			WHERE     (LOAI_BAO_TRI.HU_HONG = 0) AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay)
				AND (TINH_TRANG_PBT > 2)
			GROUP BY dbo.PHIEU_BAO_TRI.MS_MAY,NGAY_BD_KH	
		) XY GROUP BY MA_SO	
	
	) B  ON A.MS_BP_CHIU_PHI = B.MA_SO
	LEFT JOIN 
	(
		SELECT MA_SO, SUM(CHI_PHI_HN) AS CHI_PHI_HN FROM
		(
			SELECT     dbo.MGetBPCPhiTheoNgay(MS_MAY,NGAY_TH) AS MA_SO , 
				(	CASE @NhanCong WHEN 1 THEN ISNULL(SUM(CHI_PHI_NC), 0)  ELSE 0 END +  
					CASE @VatTu WHEN 1 THEN ISNULL(SUM(CHI_PHI_VT), 0)  ELSE 0 END ) 		AS CHI_PHI_HN
				
			FROM         dbo.CONG_VIEC_HANG_NGAY_THIET_BI INNER JOIN
							  dbo.CONG_VIEC_HANG_NGAY ON dbo.CONG_VIEC_HANG_NGAY_THIET_BI.STT_CV = dbo.CONG_VIEC_HANG_NGAY.STT_CV
			WHERE (dbo.CONG_VIEC_HANG_NGAY.NGAY_TH BETWEEN @TNgay AND @DNgay )
			GROUP BY MS_MAY,NGAY_TH
		) XX GROUP BY MA_SO
	
	) C ON A.MS_BP_CHIU_PHI = C.MA_SO
	LEFT JOIN 
	(
		SELECT MA_SO, SUM(CHI_PHI) AS CHI_PHI FROM
		(
			SELECT     dbo.MGetBPCPhiTheoNgay(dbo.PHIEU_BAO_TRI.MS_MAY, NGAY_BD_KH) AS MA_SO, 
				(CASE @PhuTung WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG), 0) ELSE 0 END +  
				CASE @VatTu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU), 0) ELSE 0 END +  
				CASE @NhanCong WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG), 0) ELSE 0 END + 
				CASE @DichVu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV), 0) ELSE 0 END +  
				CASE @Khac WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC), 0) ELSE 0 END )		AS CHI_PHI
				
			FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
								  dbo.PHIEU_BAO_TRI ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI INNER JOIN
								  dbo.LOAI_BAO_TRI ON dbo.PHIEU_BAO_TRI.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT 
			WHERE     (LOAI_BAO_TRI.HU_HONG = 1) AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay)
				AND (TINH_TRANG_PBT > 2)
			GROUP BY dbo.PHIEU_BAO_TRI.MS_MAY,NGAY_BD_KH
		) XV   GROUP BY MA_SO			
	) D ON A.MS_BP_CHIU_PHI = D.MA_SO 
	GROUP BY TEN_BP_CHIU_PHI,A.MS_BP_CHIU_PHI
) G ORDER BY TONG_CP DESC

