
--exec MBieuDoChiPhiNhaXuongTheoXuong  '01/01/2000', '01/01/2015',1,1,1,1,1,'vs'
--exec MBieuDoChiPhiNhaXuongTheoXuong  '01/01/2000', '01/01/2015',1,1,1,1,1,'nx002'
--exec MBieuDoChiPhiNhaXuongTheoXuong  '01/01/2000', '01/01/2015',1,1,1,1,1,'nx008'
ALTER procedure [dbo].[MBieuDoChiPhiNhaXuongTheoXuong]
	@TNgay DATETIME,
	@DNgay DATETIME,
	@PhuTung bit,
	@VatTu bit,
	@NhanCong bit,
	@DichVu bit,
	@Khac bit,
	@MSNX nvarchar(100)


AS

SELECT CONVERT(INT,NULL) AS STT ,* FROM 
(
	SELECT A.TEN_N_XUONG , SUM(ROUND(ISNULL(CHI_PHI_BT,0) + ISNULL(CHI_PHI_HN,0),2)) AS CHI_PHI_CO_KH,   
		SUM(ROUND(ISNULL(CHI_PHI,0),2)) AS CHI_PHI_KHO_KH, SUM(ROUND(ISNULL(CHI_PHI_BT,0) + ISNULL(CHI_PHI_HN,0) +  ISNULL(CHI_PHI,0),2)) AS TONG_CP
	FROM NHA_XUONG A INNER JOIN
	(
		SELECT @MSNX AS MA_SO , SUM(CHI_PHI_BT) AS CHI_PHI_BT FROM
		(
	
			SELECT     dbo.MGetNXTheoNgay(dbo.PHIEU_BAO_TRI.MS_MAY, NGAY_BD_KH) AS MA_SO , 
				(CASE @PhuTung WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG), 0) ELSE 0 END + 
				CASE @VatTu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU), 0)  ELSE 0 END + 
				CASE @NhanCong WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG), 0) ELSE 0 END +  
				CASE @DichVu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV), 0) ELSE 0 END + 
				CASE @Khac WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC), 0) ELSE 0 END ) AS CHI_PHI_BT
			FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
								  dbo.PHIEU_BAO_TRI ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI INNER JOIN
								  dbo.LOAI_BAO_TRI ON dbo.PHIEU_BAO_TRI.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT 
			WHERE     (LOAI_BAO_TRI.HU_HONG = 0) AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay)
				AND (TINH_TRANG_PBT > 2)
			GROUP BY dbo.PHIEU_BAO_TRI.MS_MAY,NGAY_BD_KH
	
		) XY INNER JOIN (SELECT * FROM [dbo].[MashjGetNXUser]('-1',@MSNX)) XYY ON XY.MA_SO = XYY.MS_N_XUONG 
		
	
	) B  ON A.MS_N_XUONG = B.MA_SO
	LEFT JOIN 
	(
		SELECT @MSNX AS MA_SO, SUM(CHI_PHI_HN) AS CHI_PHI_HN FROM
		(
			SELECT     dbo.MGetNXTheoNgay(MS_MAY,NGAY_TH) AS MA_SO , 
				(	CASE @NhanCong WHEN 1 THEN ISNULL(SUM(CHI_PHI_NC), 0)  ELSE 0 END +  
					CASE @VatTu WHEN 1 THEN ISNULL(SUM(CHI_PHI_VT), 0)  ELSE 0 END ) 		AS CHI_PHI_HN
				
			FROM         dbo.CONG_VIEC_HANG_NGAY_THIET_BI INNER JOIN
							  dbo.CONG_VIEC_HANG_NGAY ON dbo.CONG_VIEC_HANG_NGAY_THIET_BI.STT_CV = dbo.CONG_VIEC_HANG_NGAY.STT_CV
			WHERE (dbo.CONG_VIEC_HANG_NGAY.NGAY_TH BETWEEN @TNgay AND @DNgay)	
			GROUP BY MS_MAY,NGAY_TH
		) XX INNER JOIN (SELECT * FROM [dbo].[MashjGetNXUser]('-1',@MSNX)) XYY ON XX.MA_SO = XYY.MS_N_XUONG 
	
	) C ON A.MS_N_XUONG = C.MA_SO
	LEFT JOIN 
	(
		SELECT @MSNX AS MA_SO, SUM(CHI_PHI) AS CHI_PHI FROM
		(
			SELECT     dbo.MGetNXTheoNgay(dbo.PHIEU_BAO_TRI.MS_MAY, NGAY_BD_KH) AS MA_SO, 
				(CASE @PhuTung WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG), 0) ELSE 0 END +  
				CASE @VatTu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU), 0) ELSE 0 END +  
				CASE @NhanCong WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG), 0) ELSE 0 END + 
				CASE @DichVu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV), 0) ELSE 0 END +  
				CASE @Khac WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC), 0) ELSE 0 END )		AS CHI_PHI
			FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
								  dbo.PHIEU_BAO_TRI ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI INNER JOIN
								  dbo.LOAI_BAO_TRI ON dbo.PHIEU_BAO_TRI.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT 
			WHERE     (LOAI_BAO_TRI.HU_HONG = 1) AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay)
				AND (TINH_TRANG_PBT > 2)
			GROUP BY dbo.PHIEU_BAO_TRI.MS_MAY,NGAY_BD_KH
		) XV  INNER JOIN (SELECT * FROM [dbo].[MashjGetNXUser]('-1',@MSNX)) XYY ON XV.MA_SO = XYY.MS_N_XUONG 		
		
	) D ON A.MS_N_XUONG = D.MA_SO
	GROUP BY TEN_N_XUONG
) G ORDER BY TONG_CP DESC

