
ALTER PROC [dbo].[SP_NHU_Y_INSERT_PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET]
(
    @MS_PHIEU_BAO_TRI NVARCHAR(20),
	@MS_CV INT,
	@MS_BO_PHAN NVARCHAR(50),
	@MS_PT NVARCHAR(25),
	@MS_VI_TRI NVARCHAR(30),
	@SL_KH FLOAT,
	@SL_TT FLOAT
)
AS


--0 Mặc định thêm CV va PT - 1 Chi Thêm công việc không thêm phụ tùng - 2 Không thêm gì cả
IF EXISTS(SELECT * FROM THONG_TIN_CHUNG WHERE ISNULL(THEM_CV_PT,0) = 0 ) 
BEGIN
	INSERT INTO PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET
	(
		MS_PHIEU_BAO_TRI,
		MS_CV,
		MS_BO_PHAN,
		MS_PT,
		MS_VI_TRI_PT,
		SL_KH,
		SL_TT

	)
	VALUES
	(
		@MS_PHIEU_BAO_TRI,
		@MS_CV,
		@MS_BO_PHAN,
		@MS_PT,
		@MS_VI_TRI,
		@SL_KH,
		@SL_TT
	)
END