
ALTER PROC [dbo].[SP_NHU_Y_GET_KHTT_DA_GIAI_QUYET]
	@MS_LOAI_MAY NVARCHAR(50),
	@MS_NHOM_MAY NVARCHAR(50),
	@MS_MAY NVARCHAR(50),
	@USERNAME NVARCHAR(50),
	@TU_NGAY DATETIME,
	@DEN_NGAY DATETIME ,
	@MS_NHA_XUONG NVARCHAR(50),
	@MS_HE_THONG INT
AS


SELECT DISTINCT TEN_MAY, MS_MAY INTO #TMP2 FROM dbo.MGetMayUserNgay(@DEN_NGAY, @USERNAME, @MS_NHA_XUONG, @MS_HE_THONG, -1, @MS_LOAI_MAY, @MS_NHOM_MAY,@MS_MAY, 0) A 

       
SELECT DISTINCT  CONVERT(bit,0) as Choose, TEMP.MS_MAY, TEN_MAY, TEMP.TEN_HANG_MUC, TEMP.HANG_MUC_ID, TEMP.NGAY, TEMP.NGAY_DK_HT, TEMP.GHI_CHU, 
TEMP.MS_LOAI_BT, TEMP.NGAY_BTPN, TEMP.LY_DO_SC, TEMP.MS_CACH_TH, TEMP.USERNAME,TEMP.MS_UU_TIEN,  CONVERT(NVARCHAR(50),MS_CN_PT) AS MS_CONG_NHAN
	,dbo.GetThongSoYCSD(TEMP.HANG_MUC_ID,1) AS YC_CHUNG,
	dbo.GetThongSoYCSD(TEMP.HANG_MUC_ID,2) AS	YC_MO_TA,
	dbo.GetThongSoYCSD(TEMP.HANG_MUC_ID,3) AS	YC
	
FROM          dbo.KE_HOACH_TONG_THE TEMP INNER JOIN
      dbo.KE_HOACH_TONG_CONG_VIEC AS KHTCV ON TEMP.MS_MAY = KHTCV.MS_MAY AND 
      TEMP.HANG_MUC_ID = KHTCV.HANG_MUC_ID INNER JOIN #TMP2 T1 ON TEMP.MS_MAY = T1.MS_MAY
WHERE      ((KHTCV.MS_PHIEU_BAO_TRI IS NOT NULL) AND (CONVERT(DATETIME, CONVERT(NVARCHAR(10), TEMP.NGAY, 103), 103) BETWEEN @TU_NGAY AND @DEN_NGAY)) 
OR ( (CONVERT(DATETIME, CONVERT(NVARCHAR(10), TEMP.NGAY, 103), 103) BETWEEN @TU_NGAY AND @DEN_NGAY) AND (KHTCV.EOR_ID IS NOT NULL))
ORDER BY HANG_MUC_ID DESC