
--EXEC SP_NHU_Y_GET_KHTT_BO_QUA '-1','-1','-1','ADMINISTRATOR','-1',-1, '01/01/2010', '01/01/2016'

ALTER PROC [dbo].[SP_NHU_Y_GET_KHTT_BO_QUA]
	@MS_LOAI_MAY NVARCHAR(50),
	@MS_NHOM_MAY NVARCHAR(50),
	@MS_MAY NVARCHAR(50),
	@USERNAME NVARCHAR(50),
	@MS_NHA_XUONG NVARCHAR(50),
	@MS_HE_THONG INT,
	@TU_NGAY DATETIME,
	@DEN_NGAY DATETIME

AS


SELECT DISTINCT TEN_MAY, MS_MAY 
INTO #TMP2 FROM dbo.MGetMayUserNgay(@DEN_NGAY, @USERNAME, @MS_NHA_XUONG, @MS_HE_THONG, -1, @MS_LOAI_MAY, @MS_NHOM_MAY,@MS_MAY, 0) A 

SELECT * INTO #KHTT FROM KE_HOACH_TONG_THE
WHERE (CONVERT(DATETIME, CONVERT(NVARCHAR(10), NGAY, 103), 103) BETWEEN @TU_NGAY AND @DEN_NGAY)

SELECT DISTINCT  CONVERT(bit,0) as Choose, CONVERT(int,0) as RecordAction, KHTT.MS_MAY, TEN_MAY, KHTT.TEN_HANG_MUC, KHTT.HANG_MUC_ID, KHTT.NGAY, KHTT.NGAY_DK_HT, KHTT.GHI_CHU, 
	KHTT.MS_LOAI_BT, KHTT.NGAY_BTPN, KHTT.LY_DO_SC, KHTT.MS_CACH_TH, KHTT.USERNAME,KHTT.MS_UU_TIEN,  CONVERT(NVARCHAR(50),MS_CN_PT) AS MS_CONG_NHAN
	,dbo.GetThongSoYCSD(KHTT.HANG_MUC_ID,1) AS YC_CHUNG,
	dbo.GetThongSoYCSD(KHTT.HANG_MUC_ID,2) AS	YC_MO_TA,
	dbo.GetThongSoYCSD(KHTT.HANG_MUC_ID,3) AS	YC
  
	FROM          #KHTT AS KHTT INNER JOIN
				  dbo.KE_HOACH_TONG_CONG_VIEC AS KHTCV ON KHTT.MS_MAY = KHTCV.MS_MAY AND 
				  KHTT.HANG_MUC_ID = KHTCV.HANG_MUC_ID INNER JOIN
	#TMP2 T1 ON KHTT.MS_MAY = T1.MS_MAY 

	WHERE      (KHTCV.THUE_NGOAI = 1) AND (KHTCV.MS_PHIEU_BAO_TRI IS NULL) AND (KHTCV.EOR_ID IS NULL) OR
				  (KHTCV.MS_PHIEU_BAO_TRI IS NULL) AND (KHTCV.EOR_ID IS NULL) AND (KHTCV.KHONG_GQ = 1)
                                                                      
ORDER BY HANG_MUC_ID DESC


