IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'H_IC_PHU_TUNG_GET_DATA_BREAK_PAGE')
   exec('CREATE PROCEDURE H_IC_PHU_TUNG_GET_DATA_BREAK_PAGE AS BEGIN SET NOCOUNT ON; END')
GO


--exec H_IC_PHU_TUNG_GET_DATA
--exec H_GetIC_PHU_TUNG_FILTER_CS 'administrator', '-1' , '-1',-1,-1
--exec H_IC_PHU_TUNG_GET_DATA_BREAK_PAGE 'RO',2,20

ALTER PROCEDURE [dbo].[H_IC_PHU_TUNG_GET_DATA_BREAK_PAGE] 
	@TEXT_SEARCH NVARCHAR(250),
	@PageIndex INT = 1,
	@PageSize INT = 10
AS    
--DECLARE @TEXT_SEARCH NVARCHAR(250)
--DECLARE @PageIndex int
--DECLARE @PageSize int
--DECLARE @RecordCount int 
--set @PageIndex = 1
--set @PageSize = 25
--set @RecordCount = 100
--SET @TEXT_SEARCH = N''

declare @RecordCount int
DECLARE @TB_PT TABLE ( RowNumber int , MS_PT NVARCHAR(255))

INSERT INTO @TB_PT 
SELECT ROW_NUMBER() OVER 
      ( ORDER BY PT.MS_PT ASC
      )AS RowNumber, PT.MS_PT
FROM IC_PHU_TUNG AS PT
WHERE  @TEXT_SEARCH = '' OR MS_PT LIKE  '%' +@TEXT_SEARCH +'%'   OR MS_PT_NCC LIKE '%' +@TEXT_SEARCH +'%'  OR TEN_PT LIKE '%' +@TEXT_SEARCH +'%' 
OR MS_PT_CTY LIKE  '%' +@TEXT_SEARCH +'%' OR QUY_CACH LIKE  '%' +@TEXT_SEARCH +'%'

SELECT @RecordCount = COUNT(*) from @TB_PT

SELECT PT.MS_PT, PT.MS_PT_NCC, PT.MS_PT_CTY, PT.TEN_PT, PT.QUY_CACH, PT.ANH_PT, PT.MS_LOAI_VT, PT.MS_CACH_DAT_HANG, PT.SO_NGAY_DAT_MUA_HANG, 
                      PT.TON_TOI_THIEU, PT.DVT, PT.DUNG_CU_DO, PT.MS_KH, PT.MS_HSX, PT.MS_VI_TRI, PT.MS_CLASS, PT.TON_KHO_MAX, 
                      dbo.VI_TRI_KHO.MS_KHO,HANG_NGOAI,TEN_PT_VIET,PT.SERVICE_ID , THEO_KHO,TEN_HSX,
                      ACTIVE_PT, USER_INSERT_PT,NGAY_INSERT_PT, USER_UPDATE_PT, NGAY_UPDATE_PT, KY_PB , @RecordCount as RecordCount
FROM  dbo.IC_PHU_TUNG PT LEFT JOIN
                      --dbo.IC_PHU_TUNG_LOAI_MAY ON PT.MS_PT = dbo.IC_PHU_TUNG_LOAI_MAY.MS_PT INNER JOIN
                      --dbo.IC_PHU_TUNG_LOAI_PHU_TUNG ON PT.MS_PT = dbo.IC_PHU_TUNG_LOAI_PHU_TUNG.MS_PT LEFT OUTER JOIN
                      dbo.VI_TRI_KHO ON PT.MS_VI_TRI = dbo.VI_TRI_KHO.MS_VI_TRI
					LEFT JOIN HANG_SAN_XUAT HSX ON PT.MS_HSX = HSX.MS_HSX 
INNER JOIN  (SELECT MS_PT FROM @TB_PT WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1)
AS T2 ON PT.MS_PT = T2.MS_PT
ORDER BY PT.MS_PT, PT.MS_PT_NCC, PT.MS_PT_CTY, PT.TEN_PT
