IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'FN' AND name = 'VS_GET_TOTAL_TIME_OF_TASK_IN_KHTT_DGQ')
   exec('CREATE FUNCTION  dbo.VS_GET_TOTAL_TIME_OF_TASK_IN_KHTT_DGQ () RETURNS  FLOAT as Begin return null end')
GO


--SELECT [dbo].[VS_GET_TOTAL_TIME_OF_TASK_IN_KHTT_DGQ](2103)

ALTER function [dbo].[VS_GET_TOTAL_TIME_OF_TASK_IN_KHTT_DGQ]
(
 @HANG_MUC_ID INT
)
returns FLOAT
as 
begin
DECLARE @TOTAL_TIME FLOAT

SELECT @TOTAL_TIME= ( SELECT SUM(ISNULL(THOI_GIAN_DU_KIEN,0)) 
					  FROM KE_HOACH_TONG_CONG_VIEC WHERE HANG_MUC_ID = @HANG_MUC_ID
					  AND  KE_HOACH_TONG_CONG_VIEC.MS_PHIEU_BAO_TRI IS NOT NULL   )

return ISNULL(@TOTAL_TIME,0)
end
