
----19/06----
-- EXEC MGetMayPQ 'ADMIN', 0,3
ALTER procedure [dbo].[MGetMayPQ]
	@USERNAME NVARCHAR(50),
	@NNgu int,
	@Loai INT
AS

--iLoai = 2 Chon tung may khong co NX
--iLoai = 3 HIEU CHUAN KIEM DINH (isnull(CHU_KY_HC_TB,0) > 0)or(isnull( CHU_KY_HIEU_CHUAN_TB_NGOAI,0)>0) or (isnull(CHU_KY_KD_TB,0)>0)
--iLoai = 4 Hiệu chuẩn đồng hồ  inner join với CHU_KY_HIEU_CHUAN

DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()
SELECT * into #MAY FROM [dbo].[MGetMayUserNgay]( @NgayHT,@USERNAME,'-1',-1,-1,'-1','-1','-1',@NNgu)

if @Loai = 2 
		SELECT DISTINCT A.MS_MAY, A.TEN_MAY, A.MODEL, TEN_NHOM_MAY, TEN_LOAI_MAY, TEN_HE_THONG, Ten_N_XUONG
		FROM #MAY A 
		WHERE     (A.MS_HIEN_TRANG = 2)		
		ORDER BY A.MS_MAY, A.TEN_MAY, A.MODEL
		
IF @LOAI = 3
		SELECT DISTINCT A.MS_MAY, A.TEN_MAY, A.MODEL, A.TEN_NHOM_MAY, A.TEN_LOAI_MAY, A.TEN_HE_THONG, Ten_N_XUONG 
		FROM #MAY A
		WHERE     (A.MS_HIEN_TRANG = 2)		AND 
			((isnull(CHU_KY_HC_TB,0) > 0)or(isnull( CHU_KY_HIEU_CHUAN_TB_NGOAI,0)>0) or (isnull(CHU_KY_KD_TB,0)>0))
		ORDER BY A.MS_MAY, A.TEN_MAY, A.MODEL
			
IF @LOAI = 4
		SELECT DISTINCT A.MS_MAY, A.TEN_MAY, A.MODEL, A.TEN_NHOM_MAY, A.TEN_LOAI_MAY, A.TEN_HE_THONG, Ten_N_XUONG
		FROM #MAY A INNER JOIN CHU_KY_HIEU_CHUAN G ON A.MS_MAY = G.MS_MAY
		WHERE     (A.MS_HIEN_TRANG = 2)		
		ORDER BY A.MS_MAY, A.TEN_MAY, A.MODEL
