
ALTER procedure [dbo].[GetGIAM_SAT_TINH_TRANG_TS_MS_MAYs] 
	@STT	NVARCHAR(30)
AS
SELECT DISTINCT GIAM_SAT_TINH_TRANG_TS.MS_MAY,  GIAM_SAT_TINH_TRANG_TS.MS_MAY as TEN_MAY
FROM         GIAM_SAT_TINH_TRANG_TS 
WHERE STT=@STT
ORDER BY GIAM_SAT_TINH_TRANG_TS.MS_MAY
