
ALTER procedure [dbo].[GetMS_MAYs_MS_N_XUONG_MS_LOAI_MAY_MS_NHOM_MAY] 
	@MS_NHOM_MAY NVARCHAR(15)
AS

	SELECT DISTINCT GIAM_SAT_TINH_TRANG_TS.MS_MAY, GIAM_SAT_TINH_TRANG_TS.MS_MAY AS TEN_MAY
FROM         GIAM_SAT_TINH_TRANG_TS INNER JOIN
                      MAY ON GIAM_SAT_TINH_TRANG_TS.MS_MAY = MAY.MS_MAY INNER JOIN
                      NHOM_MAY ON MAY.MS_NHOM_MAY = NHOM_MAY.MS_NHOM_MAY INNER JOIN
                      LOAI_MAY ON NHOM_MAY.MS_LOAI_MAY = LOAI_MAY.MS_LOAI_MAY
	WHERE     NHOM_MAY.MS_NHOM_MAY=@MS_NHOM_MAY
	ORDER BY GIAM_SAT_TINH_TRANG_TS.MS_MAY
