
ALTER procedure [dbo].[GetMS_TS_GSTT_MAY_TS_GSTT] 
	@MS_MAY NVARCHAR(30)
AS

SELECT DISTINCT 
                      dbo.THONG_SO_GSTT.MS_TS_GSTT, dbo.THONG_SO_GSTT.TEN_TS_GSTT
FROM         dbo.CAU_TRUC_THIET_BI_TS_GSTT INNER JOIN
                      dbo.THONG_SO_GSTT ON dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT = dbo.THONG_SO_GSTT.MS_TS_GSTT
WHERE      (CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = @MS_MAY or  '-1' = @MS_MAY ) AND LOAI_TS=0
ORDER BY dbo.THONG_SO_GSTT.TEN_TS_GSTT
