
-- EXEC GetGIA_TRI_DINH_LUONGs -1 ,-1

ALTER procedure [dbo].[GetGIA_TRI_DINH_LUONGs]
	@MS_TS_GSTT INT ,
	@MS_MAY NVARCHAR(30)
 AS
SELECT DISTINCT 
                  dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY,MAY.TEN_MAY, dbo.THONG_SO_GSTT.TEN_TS_GSTT, dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT, 
                  dbo.NHOM_MAY.TEN_NHOM_MAY, dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN, dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_BO_PHAN, 
                  dbo.NHOM_MAY.MS_LOAI_MAY,dbo.DON_VI_DO.TEN_DV_DO
FROM         dbo.THONG_SO_GSTT INNER JOIN
                  dbo.CAU_TRUC_THIET_BI_TS_GSTT ON dbo.THONG_SO_GSTT.MS_TS_GSTT = dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT INNER JOIN
                  dbo.CAU_TRUC_THIET_BI ON dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = dbo.CAU_TRUC_THIET_BI.MS_MAY AND 
                  dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN INNER JOIN
                  dbo.DON_VI_DO ON dbo.THONG_SO_GSTT.MS_DV_DO = dbo.DON_VI_DO.MS_DV_DO LEFT OUTER JOIN
                  dbo.NHOM_MAY INNER JOIN
                  dbo.MAY ON dbo.NHOM_MAY.MS_NHOM_MAY = dbo.MAY.MS_NHOM_MAY ON dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = dbo.MAY.MS_MAY
WHERE     (CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = @MS_MAY or @MS_MAY = '-1') 
		  AND (CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT=@MS_TS_GSTT OR @MS_TS_GSTT = -1)
ORDER BY dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY,MAY.TEN_MAY		  
