
--exec GET_NHA_XUONG 'admin'

ALTER PROCEDURE [dbo].[GET_NHA_XUONG]
@USERNAME NVARCHAR(50)
 AS

SELECT DISTINCT NHA_XUONG.MS_N_XUONG, NHA_XUONG.TEN_N_XUONG + CASE WHEN NHA_XUONG.GHI_CHU IS NULL OR NHA_XUONG.GHI_CHU = '' THEN '' ELSE '('+NHA_XUONG.GHI_CHU + ')' END AS TEN_N_XUONG
FROM NHOM_NHA_XUONG 
	INNER JOIN NHOM ON NHOM_NHA_XUONG.GROUP_ID=NHOM.GROUP_ID 
	INNER JOIN 
	(
		SELECT *
		FROM dbo.NHA_XUONG 
		WHERE MS_N_XUONG NOT IN 
		(
		SELECT MS_CHA 
		FROM dbo.NHA_XUONG 
		WHERE MS_CHA IS NOT NULL
		)
	) NHA_XUONG ON NHA_XUONG.MS_N_XUONG=NHOM_NHA_XUONG.MS_N_XUONG 
	INNER JOIN USERS ON USERS.GROUP_ID=NHOM.GROUP_ID
WHERE USERS.USERNAME=@USERNAME
ORDER BY TEN_N_XUONG
