
--exec SP_Y_GET_DCDDHHC 'administrator',0,'01/01/2011','12/31/2017','-1','-1','-1','-1','administrator','-1','-1','-1',-1
--exec SP_Y_GET_DCDDHHC 'admin',0,'01/01/2016','04/19/2016','-1','-1','-1','-1','admin','-1','-1','-1',-1

ALTER procedure [dbo].[SP_Y_GET_DCDDHHC]
	@USERNAME NVARCHAR (64), 
	@LANGUAGE INT,
	@TU_NGAY DATETIME,
	@DEN_NGAY DATETIME,
	@MS_N_XUONG NVARCHAR (50), 
	@MS_HE_THONG INT ,
	@MS_LOAI_MAY NVARCHAR(30),
	@MS_MAY NVARCHAR (30), 
	@IDIP NVARCHAR (64),
	@MS_TINH NVARCHAR(50),
	@MS_QUAN NVARCHAR(50),
	@MS_DUONG NVARCHAR(50), 
	@LHC INT	
AS
BEGIN 


SELECT MS_N_XUONG , MS_MAY,MS_NHOM_MAY, TEN_MAY into #MAY_USER
	FROM [dbo].[MGetMayUserNgay](@DEN_NGAY,@USERNAME,@MS_N_XUONG,@MS_HE_THONG,-1,@MS_LOAI_MAY,'-1',@MS_MAY,@LANGUAGE)



SELECT TEMP.MS_MAY,TEMP.TEN_MAY,TEMP.MS_PT,TEMP.TEN_PT,TEMP.MS_VI_TRI,CONVERT(NVARCHAR(10),TEMP.NGAY,103)NGAY,TEMP.CHU_KY_HC,
	CONVERT(NVARCHAR(10),TEMP.NGAY_HC_KE,103)NGAY_HC_KE,TEMP.NOI,TEMP.LOAI_HC  FROM
(
		SELECT MS_TINH=[dbo].[Get_CityCode](NHA_XUONG.MS_QG),MS_QUAN = NHA_XUONG.MS_QG,NHA_XUONG.MS_DUONG, TEMP.* FROM
		(
				SELECT A.MS_N_XUONG,A.MS_MAY, CASE @LANGUAGE WHEN 1 THEN A.TEN_MAY WHEN 2 THEN A.TEN_MAY ELSE A.TEN_MAY END AS TEN_MAY, 
						B.MS_PT, CASE @LANGUAGE WHEN 1 THEN C.TEN_PT WHEN 2 THEN C.TEN_PT ELSE C.TEN_PT END AS TEN_PT,
						B.MS_VI_TRI, B.NGAY, 
						CONVERT(VARCHAR(8),
							CASE 
								WHEN B.MS_LOAI_HIEU_CHUAN = 1 THEN ISNULL(D.CHU_KY_HC_NOI, 0) 								
								WHEN B.MS_LOAI_HIEU_CHUAN = 2 THEN ISNULL(D.CHU_KY_HC_NGOAI, 0) 
								WHEN B.MS_LOAI_HIEU_CHUAN = 3 THEN ISNULL(D.CHU_KY_KD, 0) 								
								WHEN B.MS_LOAI_HIEU_CHUAN = 4 THEN ISNULL(D.CHU_KY_KT, 0) END
								) + ' ' + E.TEN_DV_TG AS CHU_KY_HC, 

							
					  CONVERT(DATETIME, dbo.MashjGetNgayDHHC(A.MS_MAY, B.MS_PT, B.MS_VI_TRI, B.MS_LOAI_HIEU_CHUAN)) AS NGAY_HC_KE, 					  
					  B.MS_LOAI_HIEU_CHUAN AS NOI,
					  
					  
						TEN_LOAI_HIEU_CHUAN AS LOAI_HC
						
				FROM         #MAY_USER AS A INNER JOIN
										  (SELECT     MS_MAY, MS_PT, MS_VI_TRI, MAX(NGAY) AS NGAY, MS_LOAI_HIEU_CHUAN, NOI
											FROM          dbo.HIEU_CHUAN_DHD AS T
											GROUP BY MS_MAY, MS_PT, MS_VI_TRI, MS_LOAI_HIEU_CHUAN, NOI
											) AS B ON A.MS_MAY = B.MS_MAY INNER JOIN
									  dbo.IC_PHU_TUNG AS C ON B.MS_PT = C.MS_PT INNER JOIN
									  dbo.CHU_KY_HIEU_CHUAN AS D ON B.MS_MAY = D.MS_MAY AND B.MS_PT = D.MS_PT AND B.MS_VI_TRI = D.MS_VI_TRI INNER JOIN
									  dbo.DON_VI_THOI_GIAN AS E ON D.MS_DV_TG = E.MS_DV_TG  INNER JOIN
									  dbo.NHA_XUONG AS Y ON Y.MS_N_XUONG = A.MS_N_XUONG INNER JOIN LOAI_HIEU_CHUAN ON B.MS_LOAI_HIEU_CHUAN = LOAI_HIEU_CHUAN.MS_LOAI_HIEU_CHUAN 
				WHERE    (CONVERT(DATETIME, dbo.MashjGetNgayDHHC(A.MS_MAY, B.MS_PT, B.MS_VI_TRI, B.MS_LOAI_HIEU_CHUAN)) BETWEEN @TU_NGAY AND @DEN_NGAY)
							AND ((B.MS_LOAI_HIEU_CHUAN = @LHC OR @LHC = -1))
		
		)TEMP INNER JOIN NHA_XUONG ON TEMP.MS_N_XUONG=NHA_XUONG.MS_N_XUONG

)TEMP 
WHERE NGAY_HC_KE BETWEEN @TU_NGAY AND @DEN_NGAY
ORDER BY TEMP.MS_MAY,TEMP.TEN_MAY,TEMP.MS_PT								
END
