

--	EXEC SP_Y_GET_VTPT_SLNH_SLTTT 0,-1,'KHONG THEO KHO',-1,'ADMIN'

ALTER procedure [dbo].[SP_Y_GET_VTPT_SLNH_SLTTT] 
	@LANGUAGE INT ,
	@VAT_TU INT, 
	@KTKho NVARCHAR(4000),
	@MsKho int,
	@UName NVARCHAR(100)
AS
BEGIN

--DECLARE @LANGUAGE INT 
--DECLARE @VAT_TU INT

--SET @LANGUAGE = 0
--SET @VAT_TU = -1 
	
SELECT D.* INTO #PT_USER FROM NHOM_LOAI_PHU_TUNG A INNER JOIN USERS B ON A.GROUP_ID = B.GROUP_ID 
	INNER JOIN IC_PHU_TUNG_LOAI_PHU_TUNG C ON C.MS_LOAI_PT = A.MS_LOAI_PT INNER JOIN IC_PHU_TUNG D ON 
	C.MS_PT = D.MS_PT 
WHERE B.USERNAME = @UName


SELECT     T1.MS_PT, SUM(ISNULL(T1.SL_VT, 0)) AS SL_VTPT, 0 AS MS_KHO, @KTKho AS TEN_KHO, T2.TON_TOI_THIEU INTO #TON_MIN
FROM         dbo.VI_TRI_KHO_VAT_TU AS T1 INNER JOIN
                      #PT_USER AS T2 ON T1.MS_PT = T2.MS_PT
WHERE     (ISNULL(T2.THEO_KHO, 0) = 0)
GROUP BY T1.MS_PT, T2.TON_TOI_THIEU
UNION
SELECT     T1.MS_PT, SUM(ISNULL(T1.SL_VT, 0)) AS SL_VTPT, T1.MS_KHO, T3.TEN_KHO, T4.TON_TOI_THIEU
FROM         dbo.VI_TRI_KHO_VAT_TU AS T1 INNER JOIN
                      #PT_USER AS T2 ON T1.MS_PT = T2.MS_PT INNER JOIN
                      dbo.IC_KHO AS T3 ON T1.MS_KHO = T3.MS_KHO INNER JOIN
                      dbo.IC_PHU_TUNG_KHO AS T4 ON T1.MS_KHO = T4.MS_KHO AND T1.MS_PT = T4.MS_PT
WHERE     (ISNULL(T2.THEO_KHO, 0) = 1)
GROUP BY T1.MS_PT, T1.MS_KHO, T3.TEN_KHO, T4.TON_TOI_THIEU


SELECT DISTINCT T1.MS_PT,
	CASE @LANGUAGE WHEN 1 THEN T1.TEN_PT WHEN 2 THEN T1.TEN_PT ELSE T1.TEN_PT END AS TEN_PT,  
	MS_PT_NCC,QUY_CACH,CASE @LANGUAGE WHEN 1 THEN dbo.LOAI_VT.TEN_LOAI_VT_TA WHEN 2 THEN dbo.LOAI_VT.TEN_LOAI_VT_TH ELSE dbo.LOAI_VT.TEN_LOAI_VT_TV END AS TEN_LOAI_VT, 
	TEN_KHO,T2.TON_TOI_THIEU, T2.SL_VTPT AS TON_TT , dbo.LOAI_VT.VAT_TU , MS_KHO
FROM #PT_USER T1 INNER JOIN #TON_MIN AS T2 ON T1.MS_PT = T2.MS_PT INNER JOIN
	dbo.LOAI_VT ON T1.MS_LOAI_VT = dbo.LOAI_VT.MS_LOAI_VT
WHERE 
(T2.TON_TOI_THIEU > T2.SL_VTPT) 
AND (dbo.LOAI_VT.VAT_TU = @VAT_TU OR @VAT_TU = -1)
AND (T2.MS_KHO = @MsKho OR @MsKho = -1)

END


