
--SELECT * INTO LTBW  FROM LTB WHERE CHON =1

--	EXEC GetDanhSachVTPTTieuHao '01/01/2000','01/01/2015', '-1',-1, '-1','-1', 'ADMIN' ,0


ALTER PROC [dbo].[GetDanhSachVTPTTieuHao] 
	@NgayBD DATETIME,
	@NgayKT DATETIME,
	@MsNXuong nvarchar(50),
	@NHeThong int,
	@LoaiMay NVARCHAR (20),	
	@May NVARCHAR (20),	
	@UserName NVARCHAR(255),	
	@NNgu int
AS 

DECLARE @PBT_KHO BIT
SELECT @PBT_KHO = PBT_KHO FROM THONG_TIN_CHUNG 

--Lay may theo nha xuong, he thong, loai may, may
SELECT     dbo.MAY.MS_MAY, CASE @NNgu WHEN 0 THEN TEN_N_XUONG WHEN 1 THEN TEN_N_XUONG_A ELSE TEN_N_XUONG_H END AS  TEN_N_XUONG , TEN_HE_THONG 
INTO #MAY_USER
FROM         dbo.MAY_HE_THONG_NGAY_MAX AS MAY_HE_THONG_TMP INNER JOIN
                          (SELECT     MS_HE_THONG
                            FROM          dbo.MashjGetNhomHeThong(@UserName) AS MashjGetNhomHeThong_1) AS NHOM_HE_THONG ON 
                      MAY_HE_THONG_TMP.MS_HE_THONG = NHOM_HE_THONG.MS_HE_THONG INNER JOIN
                      dbo.MAY_NHA_XUONG_NGAY_MAX AS MAY_NHA_XUONG_TMP INNER JOIN
                      dbo.NHOM_MAY INNER JOIN
                      dbo.MAY ON dbo.NHOM_MAY.MS_NHOM_MAY = dbo.MAY.MS_NHOM_MAY ON MAY_NHA_XUONG_TMP.MS_MAY = dbo.MAY.MS_MAY ON 
                      MAY_HE_THONG_TMP.MS_MAY = dbo.MAY.MS_MAY INNER JOIN
                          (SELECT     MS_N_XUONG
                            FROM          dbo.MashjGetNXUser(@UserName, @MsNXuong) AS MashjGetNXUser_1) AS NNX ON 
                      MAY_NHA_XUONG_TMP.MS_N_XUONG = NNX.MS_N_XUONG INNER JOIN
                          (SELECT     MS_LOAI_MAY
                            FROM          dbo.MashjGetNhomLoaiMay(@UserName) AS MashjGetNhomLoaiMay_1) AS NHOM_LOAI_MAY ON 
                      dbo.NHOM_MAY.MS_LOAI_MAY = NHOM_LOAI_MAY.MS_LOAI_MAY 
                      WHERE (@LoaiMay = '-1' OR dbo.NHOM_MAY.MS_LOAI_MAY = @LoaiMay) 
                      AND (@NHeThong = -1 OR NHOM_HE_THONG.MS_HE_THONG = @NHeThong)
                      AND (@May = '-1' OR dbo.MAY.MS_MAY = @May) 



SELECT  T4.MS_PT,SUM(ISNULL(T2.SL_VT, 0)) AS SL,  SUM(ISNULL(T1.DON_GIA,0) * ISNULL(T2.SL_VT, 0)) as TONG_TIEN INTO #SL_VT
FROM         dbo.IC_DON_HANG_NHAP_VAT_TU AS T1 INNER JOIN
				  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT AND T1.MS_PT = T2.MS_PT INNER JOIN
				  dbo.IC_DON_HANG_XUAT AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT INNER JOIN
				  dbo.IC_PHU_TUNG AS T4 ON T2.MS_PT = T4.MS_PT INNER JOIN
				  dbo.LOAI_VT AS T5 ON T4.MS_LOAI_VT = T5.MS_LOAI_VT
WHERE     0 = 1
GROUP BY T4.MS_PT,T3.MS_PHIEU_BAO_TRI	

IF @PBT_KHO = 1
BEGIN
	INSERT INTO #SL_VT
	SELECT     T4.MS_PT, SUM(ISNULL(T2.SL_VT, 0)) AS SL, SUM(ISNULL(T1.DON_GIA,0) * ISNULL(T2.SL_VT, 0)) as TONG_TIEN
	FROM         dbo.IC_DON_HANG_NHAP_VAT_TU AS T1 INNER JOIN
						  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT AND T1.MS_PT = T2.MS_PT INNER JOIN
						  dbo.IC_DON_HANG_XUAT AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT INNER JOIN
						  dbo.IC_PHU_TUNG AS T4 ON T2.MS_PT = T4.MS_PT INNER JOIN
						  dbo.LOAI_VT AS T5 ON T4.MS_LOAI_VT = T5.MS_LOAI_VT INNER JOIN
						  dbo.PHIEU_BAO_TRI AS T6 ON T3.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
						  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY 
	WHERE     (T5.VAT_TU = 1) AND (ISNULL(T3.MS_PHIEU_BAO_TRI, N'') <> '') 
			AND (T6.NGAY_LAP BETWEEN @NgayBD AND @NgayKT)   AND (T6.TINH_TRANG_PBT > 3)  
	GROUP BY T4.MS_PT
	UNION 
	SELECT MS_PT,SUM(ISNULL(SL_TT, 0)) AS SL , SUM(ISNULL(DON_GIA,0) * ISNULL(SL_TT, 0)) as TONG_TIEN		
	FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO T3 INNER JOIN
						  dbo.PHIEU_BAO_TRI AS T6 ON T3.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
						  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY 
	WHERE (SL_TT IS NOT NULL AND SL_TT > 0 ) AND (T6.NGAY_LAP BETWEEN @NgayBD AND @NgayKT) AND (T6.TINH_TRANG_PBT > 3)
	GROUP BY MS_PT
	UNION
	SELECT B.MS_PT,SUM(ISNULL(A.SL_KH, 0)) AS SL, SUM(ISNULL(DON_GIA,0) * ISNULL(SL_TT, 0)) as TONG_TIEN		
	FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A INNER JOIN
						  dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT  INNER JOIN
						  dbo.PHIEU_BAO_TRI AS T6 ON A.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
						  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY 
	WHERE (T6.NGAY_LAP BETWEEN @NgayBD AND @NgayKT) AND (T6.TINH_TRANG_PBT < 4)				  
	GROUP BY B.MS_PT	

END 	
ELSE
BEGIN
	INSERT INTO #SL_VT
	SELECT B.MS_PT,SUM(ISNULL(A.SL_TT, 0)) AS SL, SUM(ISNULL(DON_GIA,0) * ISNULL(SL_TT, 0)) as TONG_TIEN		
	FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A INNER JOIN
						  dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT  INNER JOIN
						  dbo.PHIEU_BAO_TRI AS T6 ON A.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
						  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY 
	WHERE (T6.NGAY_LAP BETWEEN @NgayBD AND @NgayKT) AND (T6.TINH_TRANG_PBT > 3)				  
	GROUP BY B.MS_PT
	UNION 
	SELECT B.MS_PT,SUM(ISNULL(A.SL_KH, 0)) AS SL, SUM(ISNULL(DON_GIA,0) * ISNULL(SL_TT, 0)) as TONG_TIEN		
	FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A INNER JOIN
						  dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT  INNER JOIN
						  dbo.PHIEU_BAO_TRI AS T6 ON A.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
						  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY 
	WHERE (T6.NGAY_LAP BETWEEN @NgayBD AND @NgayKT) AND (T6.TINH_TRANG_PBT < 4)				  
	GROUP BY B.MS_PT	
END	

SELECT ROW_NUMBER() OVER(ORDER BY T1.MS_PT, MS_PT_CTY, TEN_PT , QUY_CACH)  AS STT , 
T1.MS_PT, MS_PT_CTY, TEN_PT , QUY_CACH ,CASE @NNgu WHEN 0 THEN T3.TEN_1 WHEN 1 THEN T3.TEN_2 ELSE T3.TEN_3 END AS TEN_DVT, SL, TONG_TIEN
FROM (SELECT MS_PT , SUM(SL) AS SL, SUM(TONG_TIEN) AS TONG_TIEN FROM #SL_VT GROUP BY MS_PT ) T1 INNER JOIN 
IC_PHU_TUNG T2 ON T1.MS_PT = T2.MS_PT INNER JOIN 
DON_VI_TINH T3 ON T2.DVT = T3.DVT  ORDER BY T1.MS_PT, MS_PT_CTY, TEN_PT , QUY_CACH 
