
alter proc [dbo].[QL_LOAD_DON_HANG_XUAT]
	@MS_DH_XUAT_PT NVARCHAR(14)
AS

SELECT PX.*, PBT.MS_MAY AS PBT_MS_MAY   FROM IC_DON_HANG_XUAT PX
LEFT JOIN  dbo.PHIEU_BAO_TRI PBT ON  PX.MS_PHIEU_BAO_TRI = PBT.MS_PHIEU_BAO_TRI  
WHERE MS_DH_XUAT_PT= @MS_DH_XUAT_PT 





