
ALTER proc [dbo].[AddTHONG_SO_GSTT]
	@MS_TS_GSTT nvarchar(10),
	@TEN_TS_GSTT nvarchar(50),
	@MS_DV_DO SMALLINT,
	@LOAI_TS BIT,
	@GHI_CHU NVARCHAR(225),
	@MS_BP_GSTT INT,
	@DUONG_DAN NVARCHAR(255)

AS
if @LOAI_TS=0 
INSERT INTO THONG_SO_GSTT (
	MS_TS_GSTT,
	TEN_TS_GSTT,
	LOAI_TS,
	GHI_CHU,
	MS_BP_GSTT,
	MS_DV_DO,
	DUONG_DAN
)
values (
	@MS_TS_GSTT,
	@TEN_TS_GSTT,
	@LOAI_TS,
	@GHI_CHU,
	@MS_BP_GSTT,
	@MS_DV_DO,
	@DUONG_DAN
)
else
INSERT INTO THONG_SO_GSTT (
	MS_TS_GSTT,
	TEN_TS_GSTT,
	LOAI_TS,
	GHI_CHU,
	MS_BP_GSTT,
	DUONG_DAN
)
values (
	@MS_TS_GSTT,
	@TEN_TS_GSTT,
	@LOAI_TS,
	@GHI_CHU,
	@MS_BP_GSTT,
	@DUONG_DAN
)
