
ALTER procedure [dbo].[AddPHIEU_BAO_TRI_CV_PHU_TRO]

@MS_PHIEU_BAO_TRI NVARCHAR(20),
@TEN_CONG_VIEC NVARCHAR(255),
@SO_GIO_KH FLOAT,
@NGAY_BDCV DATETIME=NULL,
@NGAY_KTCV DATETIME=NULL
 AS

 INSERT INTO PHIEU_BAO_TRI_CV_PHU_TRO(MS_PHIEU_BAO_TRI,TEN_CONG_VIEC,SO_GIO_KH,NGAY_BDCV,NGAY_KTCV)
VALUES(@MS_PHIEU_BAO_TRI,@TEN_CONG_VIEC,@SO_GIO_KH,@NGAY_BDCV,@NGAY_KTCV)
select SCOPE_IDENTITY()
