
ALTER procedure [dbo].[UpdatePHIEU_BAO_TRI_CV_PHU_TRO]

@MS_PHIEU_BAO_TRI NVARCHAR(20),
@STT int,
@TEN_CONG_VIEC NVARCHAR(255),
@SO_GIO_KH FLOAT,
@NGAY_BDCV DATETIME=NULL,
@NGAY_KTCV DATETIME=NULL
 AS
UPDATE PHIEU_BAO_TRI_CV_PHU_TRO SET 
TEN_CONG_VIEC=@TEN_CONG_VIEC,
SO_GIO_KH=@SO_GIO_KH,
NGAY_BDCV=@NGAY_BDCV,
NGAY_KTCV=@NGAY_KTCV
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND STT=@STT
