
--exec GetMAY_PQ 'admin'
ALTER PROC [dbo].[GetMAY_PQ]
	@USERLOGED  NVARCHAR(50)
AS

DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()

SELECT DISTINCT A.MS_MAY, A.MS_MAY AS MSMAY, A.MUC_UU_TIEN  FROM dbo.MGetMayUserNgay(@NgayHT,@USERLOGED,'-1',-1,-1,'-1','-1','-1',0) A 
WHERE A.MS_HIEN_TRANG = 2 ORDER BY A.MS_MAY
