
ALTER proc [dbo].[Get_Danhsachbaocao]
	@USERLOG NVARCHAR(50),
	@GROUP_ID INT,
	@LOAI_REPORT INT,
	@NGON_NGU INT
AS
IF @NGON_NGU=0
	BEGIN
		IF @LOAI_REPORT=0 
			SELECT RP.REPORT_NAME, RP.TEN_REPORT_VIET AS TEN_REPORT , QUYEN
			FROM DS_REPORT RP LEFT JOIN NHOM_REPORT ON RP.REPORT_NAME=NHOM_REPORT.REPORT_NAME AND NHOM_REPORT.GROUP_ID=@GROUP_ID
			WHERE STT <100
		ELSE
			SELECT RP.REPORT_NAME, RP.TEN_REPORT_VIET AS TEN_REPORT , QUYEN
			FROM DS_REPORT RP LEFT JOIN NHOM_REPORT ON RP.REPORT_NAME=NHOM_REPORT.REPORT_NAME AND NHOM_REPORT.GROUP_ID=@GROUP_ID
			WHERE LOAI_REPORT=@LOAI_REPORT AND STT <100
	END 	
ELSE IF	 @NGON_NGU=1
	BEGIN
		IF @LOAI_REPORT=0
			SELECT RP.REPORT_NAME, RP.TEN_REPORT_ANH AS TEN_REPORT ,QUYEN
			FROM DS_REPORT RP LEFT JOIN NHOM_REPORT ON RP.REPORT_NAME=NHOM_REPORT.REPORT_NAME AND NHOM_REPORT.GROUP_ID=@GROUP_ID
			WHERE  STT < 100
		ELSE
			SELECT RP.REPORT_NAME, RP.TEN_REPORT_ANH AS TEN_REPORT ,QUYEN
			FROM DS_REPORT RP LEFT JOIN NHOM_REPORT ON RP.REPORT_NAME=NHOM_REPORT.REPORT_NAME AND NHOM_REPORT.GROUP_ID=@GROUP_ID
			WHERE LOAI_REPORT=@LOAI_REPORT AND STT < 100
	END
ELSE 
	BEGIN
		IF @LOAI_REPORT=0
			SELECT RP.REPORT_NAME, RP.TEN_REPORT_HOA AS TEN_REPORT ,QUYEN
			FROM DS_REPORT RP LEFT JOIN NHOM_REPORT ON RP.REPORT_NAME=NHOM_REPORT.REPORT_NAME AND NHOM_REPORT.GROUP_ID=@GROUP_ID
			WHERE STT < 100
		ELSE
			SELECT RP.REPORT_NAME, RP.TEN_REPORT_HOA AS TEN_REPORT ,QUYEN
			FROM DS_REPORT RP LEFT JOIN NHOM_REPORT ON RP.REPORT_NAME=NHOM_REPORT.REPORT_NAME AND NHOM_REPORT.GROUP_ID=@GROUP_ID
			WHERE LOAI_REPORT=@LOAI_REPORT AND STT < 100
	END
