
--DROP TABLE KHBT_YEAR_TDadministrator

--EXEC [SP_NHU_Y_GET_KE_HOACH_BAO_TRI_NAM_TD] '01-01-2016','12-31-2016','-1','ADMIN',1,0

-----------------------------------
ALTER PROCEDURE [dbo].[SP_NHU_Y_GET_KE_HOACH_BAO_TRI_NAM_TD] 
	@NGAY_BAT_DAU Nvarchar(10),
	@NGAY_KET_THUC Nvarchar(10),
	@MS_NHA_XUONG Nvarchar(50),
	@USERNAME NVARCHAR(50),
	@MS_LOAI_CV SMALLINT,
	@TYPELANG INT

AS
begin

DECLARE @SQL VARCHAR(8000)

SET @SQL = 'IF EXISTS (SELECT * FROM SYSOBJECTS WHERE [NAME] = ''KH_BTDK_NAM_TD'+ @USERNAME +''' AND XTYPE = ''U'' )
BEGIN DROP TABLE KH_BTDK_NAM_TD' +  @USERNAME + ' END ;
WITH RET AS (
 SELECT  MS_N_XUONG
        FROM    NHA_XUONG
		
        WHERE 1=CASE WHEN ''' + @MS_NHA_XUONG + ''' = ''-1'' THEN 1 ELSE CASE WHEN  MS_N_XUONG = '''+@MS_NHA_XUONG+''' THEN 1 ELSE 0 END END
        UNION ALL
        SELECT  NHA_XUONG.MS_N_XUONG
        FROM    NHA_XUONG  INNER JOIN
                        RET r ON NHA_XUONG.MS_CHA = r.MS_N_XUONG
)

SELECT    dbo.MAY_LOAI_BTPN.MS_MAY, dbo.MAY_LOAI_BTPN.MS_LOAI_BT, T.MS_DV_TG, T.CHU_KY ,
MAX(dbo.MAY_LOAI_BTPN.NGAY_CUOI) AS NGAY_CUOI , CONVERT (DATETIME , NULL) AS NGAY_KE INTO KH_BTDK_NAM_TD'+ @USERNAME + '
FROM  dbo.LOAI_MAY INNER JOIN
dbo.NHOM_MAY ON dbo.LOAI_MAY.MS_LOAI_MAY = dbo.NHOM_MAY.MS_LOAI_MAY INNER JOIN
dbo.MAY ON dbo.NHOM_MAY.MS_NHOM_MAY = dbo.MAY.MS_NHOM_MAY INNER JOIN
dbo.MAY_LOAI_BTPN INNER JOIN
(SELECT T2.MS_MAY , T2.MS_LOAI_BT, T2.CHU_KY , T2.MS_DV_TG 
FROM (SELECT T.MS_MAY ,T.MS_LOAI_BT , MAX(T.NGAY_AD) AS NGAY_AD
FROM dbo.MAY_LOAI_BTPN_CHU_KY T
GROUP BY T.MS_MAY ,T.MS_LOAI_BT ) T1 INNER JOIN 
dbo.MAY_LOAI_BTPN_CHU_KY T2 ON T1.MS_MAY = T2.MS_MAY AND 
T1.MS_LOAI_BT = T2.MS_LOAI_BT AND T1.NGAY_AD = T2.NGAY_AD) T
ON dbo.MAY_LOAI_BTPN.MS_MAY = T.MS_MAY AND dbo.MAY_LOAI_BTPN.MS_LOAI_BT = T.MS_LOAI_BT INNER JOIN 
dbo.V_MAY_NHA_XUONG_MAX ON dbo.MAY_LOAI_BTPN.MS_MAY = dbo.V_MAY_NHA_XUONG_MAX.MS_MAY LEFT JOIN
dbo.V_MAY_HE_THONG_MAX ON dbo.MAY_LOAI_BTPN.MS_MAY = dbo.V_MAY_HE_THONG_MAX.MS_MAY ON 
dbo.MAY.MS_MAY = dbo.MAY_LOAI_BTPN.MS_MAY INNER JOIN
dbo.NHOM_LOAI_MAY ON dbo.LOAI_MAY.MS_LOAI_MAY = dbo.NHOM_LOAI_MAY.MS_LOAI_MAY INNER JOIN
dbo.USERS ON dbo.NHOM_LOAI_MAY.GROUP_ID = dbo.USERS.GROUP_ID INNER JOIN
dbo.NHOM_NHA_XUONG ON dbo.V_MAY_NHA_XUONG_MAX.MS_N_XUONG = dbo.NHOM_NHA_XUONG.MS_N_XUONG AND 
dbo.USERS.GROUP_ID = dbo.NHOM_NHA_XUONG.GROUP_ID LEFT JOIN
dbo.NHOM_HE_THONG ON dbo.V_MAY_HE_THONG_MAX.MS_HE_THONG = dbo.NHOM_HE_THONG.MS_HE_THONG AND 
dbo.USERS.GROUP_ID = dbo.NHOM_HE_THONG.GROUP_ID INNER JOIN RET ON V_MAY_NHA_XUONG_MAX.MS_N_XUONG = RET.MS_N_XUONG
WHERE T.CHU_KY IS NOT NULL AND dbo.USERS.[USERNAME] = '''+@USERNAME+''''

SET @SQL = @SQL + ' GROUP BY dbo.MAY_LOAI_BTPN.MS_MAY, dbo.MAY_LOAI_BTPN.MS_LOAI_BT,T.MS_DV_TG, T.CHU_KY '
EXEC (@SQL)

SET @SQL = 'IF EXISTS (SELECT * FROM SYSOBJECTS WHERE [NAME] = ''KH_BTDK_NAM_TD_1'+ @USERNAME +''' AND XTYPE = ''U'' )
BEGIN DROP TABLE KH_BTDK_NAM_TD_1' +  @USERNAME + ' END 


CREATE TABLE KH_BTDK_NAM_TD_1' +  @USERNAME + '
(MS_MAY NVARCHAR (30), MS_LOAI_BT NVARCHAR (30), MS_DV_TG INT , CHU_KY INT ,NGAY_CUOI DATETIME , NGAY_KE DATETIME ,THOI_GIAN_CHAY_MAY INT )
DECLARE @MS_MAY_TMP NVARCHAR(30) ,@MS_LOAI_BT_TMP NVARCHAR(30),@NGAY_CUOI_TMP DATETIME ,@NGAY_KE_TMP DATETIME, @CHU_KY_TMP INT, @MS_DV_TG_TMP INT, @NGAY_BAT_DAU DATETIME ,@NGAY_KET_THUC DATETIME 
SET @NGAY_BAT_DAU = ''' + @NGAY_BAT_DAU + '''
SET @NGAY_KET_THUC = '''+ @NGAY_KET_THUC + ''' 
DECLARE BTDK_CURSOR CURSOR FOR
SELECT * FROM KH_BTDK_NAM_TD' +  @USERNAME + '
WHERE MS_DV_TG IN (1,2,3,4) AND CHU_KY IS NOT NULL AND CHU_KY > 0
OPEN BTDK_CURSOR
FETCH NEXT FROM BTDK_CURSOR 
INTO @MS_MAY_TMP, @MS_LOAI_BT_TMP ,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_KE_TMP
WHILE @@FETCH_STATUS = 0  
BEGIN	
	DECLARE @NGAY_NEXT DATETIME
	DECLARE @NGAY_NEXT_FIST DATETIME 
	DECLARE @NGAY_NEXT_LAST DATETIME 	
	SET @NGAY_NEXT =  @NGAY_CUOI_TMP		
	SET @NGAY_NEXT_FIST =  @NGAY_CUOI_TMP
	SET @NGAY_NEXT_LAST =  @NGAY_CUOI_TMP
	WHILE @NGAY_NEXT <= @NGAY_KET_THUC	
		BEGIN	
		SET @NGAY_NEXT = (SELECT CASE @MS_DV_TG_TMP
			WHEN 1 THEN  DATEADD(DAY,@CHU_KY_TMP,@NGAY_NEXT)
			WHEN 2 THEN DATEADD(DAY,7 * @CHU_KY_TMP ,@NGAY_NEXT)
			WHEN 3 THEN DATEADD(MONTH,@CHU_KY_TMP,@NGAY_NEXT) 
			WHEN 4 THEN DATEADD(YEAR,@CHU_KY_TMP,@NGAY_NEXT)												
			ELSE 
				DATEADD(YEAR,1,@NGAY_KET_THUC)												
			END )
			SET @NGAY_NEXT_LAST = (SELECT CASE @MS_DV_TG_TMP
			WHEN 1 THEN  DATEADD(DAY,@CHU_KY_TMP,@NGAY_NEXT)
			WHEN 2 THEN DATEADD(DAY,7 * @CHU_KY_TMP ,@NGAY_NEXT)
			WHEN 3 THEN DATEADD(MONTH,@CHU_KY_TMP,@NGAY_NEXT) 
			WHEN 4 THEN DATEADD(YEAR,@CHU_KY_TMP,@NGAY_NEXT)																									
			END )
			SET @NGAY_NEXT_FIST = (SELECT CASE @MS_DV_TG_TMP
			WHEN 1 THEN  DATEADD(DAY,-@CHU_KY_TMP,@NGAY_NEXT)
			WHEN 2 THEN DATEADD(DAY,-(7 * @CHU_KY_TMP) ,@NGAY_NEXT)
			WHEN 3 THEN DATEADD(MONTH,-@CHU_KY_TMP,@NGAY_NEXT) 
			WHEN 4 THEN DATEADD(YEAR,-@CHU_KY_TMP,@NGAY_NEXT)																									
			END )					
			IF @NGAY_NEXT >= @NGAY_BAT_DAU  AND @NGAY_NEXT <= @NGAY_KET_THUC				
			BEGIN
				IF  (@NGAY_NEXT > GETDATE ())
					BEGIN 	
						DECLARE @THOI_GIAN_CHAY_MAY INT 
						SET @THOI_GIAN_CHAY_MAY = (SELECT ISNULL(SUM(CHI_SO_DONG_HO),0) FROM THOI_GIAN_CHAY_MAY WHERE MS_MAY = @MS_MAY_TMP AND NGAY> = @NGAY_NEXT_FIST AND NGAY <= @NGAY_NEXT_LAST )		
						INSERT INTO KH_BTDK_NAM_TD_1' +  @USERNAME + ' (MS_MAY,MS_LOAI_BT,MS_DV_TG,CHU_KY,NGAY_CUOI,NGAY_KE,THOI_GIAN_CHAY_MAY) 
						VALUES (@MS_MAY_TMP,@MS_LOAI_BT_TMP,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_NEXT ,@THOI_GIAN_CHAY_MAY ) 
					END 
				ELSE 
					BEGIN 						
						IF (@NGAY_NEXT_LAST > GETDATE () )
							BEGIN 								
							SET @THOI_GIAN_CHAY_MAY = (SELECT ISNULL(SUM(CHI_SO_DONG_HO),0) FROM THOI_GIAN_CHAY_MAY WHERE MS_MAY = @MS_MAY_TMP AND NGAY> = @NGAY_CUOI_TMP AND NGAY <= GETDATE () )		
							INSERT INTO KH_BTDK_NAM_TD_1' +  @USERNAME + ' (MS_MAY,MS_LOAI_BT,MS_DV_TG,CHU_KY,NGAY_CUOI,NGAY_KE,THOI_GIAN_CHAY_MAY) 
							VALUES (@MS_MAY_TMP,@MS_LOAI_BT_TMP,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_NEXT ,@THOI_GIAN_CHAY_MAY ) 
							END
						ELSE 
							BEGIN 																
							SET @THOI_GIAN_CHAY_MAY = (SELECT ISNULL(SUM(CHI_SO_DONG_HO),0) FROM THOI_GIAN_CHAY_MAY WHERE MS_MAY = @MS_MAY_TMP AND NGAY> = @NGAY_CUOI_TMP AND NGAY <= @NGAY_NEXT )		
							INSERT INTO KH_BTDK_NAM_TD_1' +  @USERNAME + ' (MS_MAY,MS_LOAI_BT,MS_DV_TG,CHU_KY,NGAY_CUOI,NGAY_KE,THOI_GIAN_CHAY_MAY) 
							VALUES (@MS_MAY_TMP,@MS_LOAI_BT_TMP,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_NEXT ,@THOI_GIAN_CHAY_MAY ) 
							END 
					END 
			END
		 END	
	FETCH NEXT FROM BTDK_CURSOR 
	INTO @MS_MAY_TMP, @MS_LOAI_BT_TMP ,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_KE_TMP
END	
CLOSE BTDK_CURSOR 
DEALLOCATE  BTDK_CURSOR '

EXEC(@SQL)
--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con
SET @SQL = 'DROP TABLE KH_BTDK_NAM_TD' +  @USERNAME + '
DELETE KH_BTDK_NAM_TD_TMP_1_1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      KH_BTDK_NAM_TD_1' +  @USERNAME + ' AS KH_BTDK_NAM_TD_TMP_1_1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = KH_BTDK_NAM_TD_TMP_1_1.MS_LOAI_BT INNER JOIN
                      KH_BTDK_NAM_TD_1' +  @USERNAME + ' AS KH_BTDK_NAM_TD_TMP_1 ON KH_BTDK_NAM_TD_TMP_1_1.MS_MAY = KH_BTDK_NAM_TD_TMP_1.MS_MAY AND 
                      dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = KH_BTDK_NAM_TD_TMP_1.MS_LOAI_BT AND DATEADD(DAY, 
                      CASE KH_BTDK_NAM_TD_TMP_1_1.MS_DV_TG WHEN 2 THEN KH_BTDK_NAM_TD_TMP_1_1.CHU_KY * 7 WHEN 3 THEN KH_BTDK_NAM_TD_TMP_1_1.CHU_KY * 30 WHEN 4 THEN
                       KH_BTDK_NAM_TD_TMP_1_1.CHU_KY * 365 ELSE KH_BTDK_NAM_TD_TMP_1_1.CHU_KY END / 4, KH_BTDK_NAM_TD_TMP_1_1.NGAY_KE) 
                      >= KH_BTDK_NAM_TD_TMP_1.NGAY_KE AND DATEADD(DAY, 
                      - (CASE KH_BTDK_NAM_TD_TMP_1_1.MS_DV_TG WHEN 2 THEN KH_BTDK_NAM_TD_TMP_1_1.CHU_KY * 7 WHEN 3 THEN KH_BTDK_NAM_TD_TMP_1_1.CHU_KY * 30 WHEN 4 THEN
                       KH_BTDK_NAM_TD_TMP_1_1.CHU_KY * 365 ELSE KH_BTDK_NAM_TD_TMP_1_1.CHU_KY END / 4), KH_BTDK_NAM_TD_TMP_1_1.NGAY_KE) <= KH_BTDK_NAM_TD_TMP_1.NGAY_KE '
exec (@SQL)
--Xóa bảo trì định kỳ đã lập bên kế hoạch tổng thể và phiếu bảo trì

SET @SQL = 'DELETE T
FROM KH_BTDK_NAM_TD_1' +  @USERNAME + ' T INNER JOIN
dbo.KE_HOACH_TONG_THE T1 ON T.MS_MAY = T1.MS_MAY AND 
T.MS_LOAI_BT = T1.MS_LOAI_BT AND DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_KE) >= T1.NGAY AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_KE) <= T1.NGAY 
'
exec (@SQL)


SET @SQL = 'IF EXISTS (SELECT * FROM SYSOBJECTS WHERE [NAME] = ''KHBT_YEAR_TD'+ @USERNAME +''' AND XTYPE = ''U'' )
BEGIN DROP TABLE KHBT_YEAR_TD' +  @USERNAME + ' END '
exec (@SQL)

SET @SQL = 'DELETE T
FROM KH_BTDK_NAM_TD_1' +  @USERNAME + ' T INNER JOIN
dbo.PHIEU_BAO_TRI T1 ON T.MS_MAY = T1.MS_MAY AND 
T.MS_LOAI_BT = T1.MS_LOAI_BT AND DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_KE) >= T1.NGAY_BD_KH AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_KE) <= T1.NGAY_BD_KH ;

WITH RET AS (
 SELECT  MS_N_XUONG
        FROM    NHA_XUONG
         WHERE 1=CASE WHEN ''' + @MS_NHA_XUONG + ''' = ''-1'' THEN 1 ELSE CASE WHEN  MS_N_XUONG = '''+@MS_NHA_XUONG+''' THEN 1 ELSE 0 END END
        UNION ALL
        SELECT  NHA_XUONG.MS_N_XUONG
        FROM    NHA_XUONG  INNER JOIN
                        RET r ON NHA_XUONG.MS_CHA = r.MS_N_XUONG
)

	SELECT DISTINCT  T.MS_MAY, dbo.MAY.TEN_MAY,T.MS_LOAI_BT, dbo.LOAI_BAO_TRI.TEN_LOAI_BT, 
	T.NGAY_CUOI,( CONVERT (NVARCHAR (8),T.CHU_KY) + '' '' + dbo.DON_VI_THOI_GIAN.TEN_DV_TG )AS CHU_KY , 
	T.NGAY_KE,CONG_VIEC.MS_CV,
	CONG_VIEC.MO_TA_CV,dbo.MAY.NGAY_DUA_VAO_SD,
	CONG_VIEC.THOI_GIAN_DU_KIEN,CAU_TRUC_THIET_BI.MS_BO_PHAN, CAU_TRUC_THIET_BI.TEN_BO_PHAN INTO KHBT_YEAR_TD' + @USERNAME + '
	FROM KH_BTDK_NAM_TD_1' +  @USERNAME + ' T INNER JOIN
	dbo.MAY ON T.MS_MAY = dbo.MAY.MS_MAY INNER JOIN
	(SELECT T1.MS_MAY,T1.MS_LOAI_BT, T1.RUN_TIME,T1.MS_DVT_RT 
	FROM (SELECT T.MS_MAY ,T.MS_LOAI_BT , MAX(T.NGAY_AD) AS NGAY_AD 
	FROM dbo.MAY_LOAI_BTPN_CHU_KY T
	GROUP BY T.MS_MAY ,T.MS_LOAI_BT ) T INNER JOIN dbo.MAY_LOAI_BTPN_CHU_KY T1 
	ON T.MS_MAY = T1.MS_MAY AND T.MS_LOAI_BT = T1.MS_LOAI_BT AND T.NGAY_AD = T1.NGAY_AD) T1
	ON T.MS_MAY = T1.MS_MAY INNER JOIN
	dbo.LOAI_BAO_TRI ON T.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT INNER JOIN
	dbo.DON_VI_TINH_RUN_TIME ON T1.MS_DVT_RT = dbo.DON_VI_TINH_RUN_TIME.MS_DVT_RT INNER JOIN
	dbo.DON_VI_THOI_GIAN ON T.MS_DV_TG = dbo.DON_VI_THOI_GIAN.MS_DV_TG INNER JOIN 
	(SELECT T2.MS_MAY,T2.MS_N_XUONG, T1.TEN_N_XUONG 
	FROM dbo.NHA_XUONG T1 INNER JOIN 
	(SELECT T.MS_MAY,T.MS_N_XUONG , MAX (T.NGAY_MAX) AS NGAY_NHAP
	FROM dbo.MAY_NHA_XUONG_NGAY_MAX T
	GROUP BY T.MS_MAY,T.MS_N_XUONG) T2 ON T1.MS_N_XUONG = T2.MS_N_XUONG) T3 ON T1.MS_MAY = T3.MS_MAY 
	INNER JOIN MAY_LOAI_BTPN_CONG_VIEC ON T.MS_MAY = MAY_LOAI_BTPN_CONG_VIEC.MS_MAY AND 
		T.MS_LOAI_BT = MAY_LOAI_BTPN_CONG_VIEC.MS_LOAI_BT
	INNER JOIN CONG_VIEC ON MAY_LOAI_BTPN_CONG_VIEC.MS_CV = CONG_VIEC.MS_CV
	INNER JOIN CAU_TRUC_THIET_BI ON MAY_LOAI_BTPN_CONG_VIEC.MS_MAY = CAU_TRUC_THIET_BI.MS_MAY AND MAY_LOAI_BTPN_CONG_VIEC.MS_BO_PHAN = CAU_TRUC_THIET_BI.MS_BO_PHAN
	
	WHERE MS_N_XUONG IN (SELECT MS_N_XUONG FROM RET)'
	IF @MS_LOAI_CV<>-1
		SET @SQL=@SQL + ' AND CONG_VIEC.MS_LOAI_CV=' + CONVERT(NVARCHAR(10),@MS_LOAI_CV )
EXEC (@SQL)

DECLARE @TEMP NVARCHAR(4000)
SET @TEMP=' 
	SELECT DISTINCT ISNULL(TEMP.TEN_MAY,TEMP.MS_MAY) AS TEN_MAY,TEMP.MS_MAY,TEMP.MS_CV,TEMP.MS_BO_PHAN,TEMP.MO_TA_CV,
		TEMP.TEN_BO_PHAN,TEMP.NGAY_DUA_VAO_SD,TEMP.CHU_KY,TEMP.NGAY_KE,D.GHI_CHU
        --,''T1''= CASE WHEN MONTH(TEMP.NGAY_KE)=1 THEN ''X'' ELSE '''' END ,
        --''T2''= CASE WHEN MONTH(TEMP.NGAY_KE)=2 THEN ''X'' ELSE '''' END ,
        --''T3''= CASE WHEN MONTH(TEMP.NGAY_KE)=3 THEN ''X'' ELSE '''' END ,
        --''T4''= CASE WHEN MONTH(TEMP.NGAY_KE)=4 THEN ''X'' ELSE '''' END ,
        --''T5''= CASE WHEN MONTH(TEMP.NGAY_KE)=5 THEN ''X'' ELSE '''' END ,
        --''T6''= CASE WHEN MONTH(TEMP.NGAY_KE)=6 THEN ''X'' ELSE '''' END ,
        --''T7''= CASE WHEN MONTH(TEMP.NGAY_KE)=7 THEN ''X'' ELSE '''' END ,
        --''T8''= CASE WHEN MONTH(TEMP.NGAY_KE)=8 THEN ''X'' ELSE '''' END ,
        --''T9''= CASE WHEN MONTH(TEMP.NGAY_KE)=9 THEN ''X'' ELSE '''' END ,
        --''T10''= CASE WHEN MONTH(TEMP.NGAY_KE)=10 THEN ''X'' ELSE '''' END ,
        --''T11''= CASE WHEN MONTH(TEMP.NGAY_KE)=11 THEN ''X'' ELSE '''' END ,
        --''T12''= CASE WHEN MONTH(TEMP.NGAY_KE)=12 THEN ''X'' ELSE '''' END 
    
  FROM KHBT_YEAR_TD' + @USERNAME + '
 as TEMP LEFT JOIN MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG C ON TEMP.MS_MAY =C.MS_MAY
AND TEMP.MS_LOAI_BT=C.MS_LOAI_BT AND TEMP.MS_CV=C.MS_CV AND TEMP.MS_BO_PHAN=C.MS_BO_PHAN
INNER JOIN CAU_TRUC_THIET_BI_CONG_VIEC D ON TEMP.MS_MAY = D.MS_MAY
AND TEMP.MS_BO_PHAN=D.MS_BO_PHAN AND TEMP.MS_CV=D.MS_CV
ORDER BY MS_MAY,MS_BO_PHAN
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE [NAME] = ''KH_BTDK_NAM_TD_1'+ @USERNAME +''' AND XTYPE = ''U'' )
BEGIN DROP TABLE KH_BTDK_NAM_TD_1' +  @USERNAME + ' END

IF EXISTS (SELECT * FROM SYSOBJECTS WHERE [NAME] = ''KHBT_YEAR_TD'+ @USERNAME +''' AND XTYPE = ''U'' )
BEGIN DROP TABLE KHBT_YEAR_TD' +  @USERNAME + ' END'
EXEC (@TEMP)


end
