
--select dbo.GetCongNhanPBTCV ('WO-201406000032')

ALTER function [dbo].[GetCongNhanPBTCV]
(
	@MS_PHIEU_BAO_TRI nvarchar(20)
)
returns nvarchar(4000)
as
begin
declare @sName nvarchar(4000)
	SELECT    @sName = COALESCE(ISNULL(@sName,'') + 
	CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'') + 
	ISNULL(HO,'')  + ' ' + ISNULL(TEN,'') 
	FROM 	(
		SELECT DISTINCT MS_CONG_NHAN,MS_PHIEU_BAO_TRI FROM  
			dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI 
		UNION
		SELECT DISTINCT MS_CONG_NHAN,MS_PHIEU_BAO_TRI FROM  
			dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI 
		)AS A 
		INNER JOIN dbo.CONG_NHAN AS B ON A.MS_CONG_NHAN = B.MS_CONG_NHAN
	WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
	ORDER BY HO, TEN 


return @sName
end
