
ALTER procedure [dbo].[GetUSER_CHUC_NANG]
	@USERNAME nvarchar(50)
 AS
	SELECT  dbo.USER_CHUC_NANG.STT,    dbo.CHUC_NANG.TEN_CHUC_NANG,DBO.CHUC_NANG.MT_CN
	FROM         dbo.USER_CHUC_NANG INNER JOIN
                      dbo.CHUC_NANG ON dbo.USER_CHUC_NANG.STT = dbo.CHUC_NANG.STT
	WHERE USERNAME=@USERNAME
	ORDER BY CHUC_NANG.STT