
ALTER procedure [dbo].[GetCHUC_NANG_QUYEN]
	@USERNAME NVARCHAR(50)
 AS

	SELECT     dbo.CHUC_NANG.STT, dbo.CHUC_NANG.TEN_CHUC_NANG, dbo.USER_CHUC_NANG.USERNAME, MT_CN
	FROM         dbo.CHUC_NANG LEFT OUTER JOIN
                      dbo.USER_CHUC_NANG ON dbo.CHUC_NANG.STT = dbo.USER_CHUC_NANG.STT and  dbo.USER_CHUC_NANG.USERNAME =@USERNAME
	ORDER BY dbo.CHUC_NANG.STT
