

--EXEC SP_THONG_KE_XUAT_VAT_TU '08/16/2013','09/16/2017',-1, 'ADMIN'
ALTER PROCEDURE [dbo].[SP_THONG_KE_XUAT_VAT_TU]
	@TU_NGAY DATETIME, 
	@DEN_NGAY DATETIME,
	@MS_KHO INT,
	@UserName NVARCHAR(50)
AS
BEGIN


SELECT     dbo.IC_KHO.MS_KHO, dbo.IC_KHO.TEN_KHO INTO #KHO_USER
FROM         dbo.IC_KHO INNER JOIN
                      dbo.NHOM_KHO ON dbo.IC_KHO.MS_KHO = dbo.NHOM_KHO.MS_KHO INNER JOIN
                      dbo.USERS ON dbo.NHOM_KHO.GROUP_ID = dbo.USERS.GROUP_ID
WHERE     (dbo.USERS.USERNAME = @UserName)


SELECT T1.* INTO #XUAT_KHO FROM dbo.IC_DON_HANG_XUAT T1 INNER JOIN #KHO_USER T2 ON T1.MS_KHO = T2.MS_KHO
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,103),103) 
	BETWEEN CONVERT(DATETIME,CONVERT(VARCHAR(10),@TU_NGAY,103),103) AND CONVERT(DATETIME,CONVERT(VARCHAR(10),@DEN_NGAY,103),103))
AND (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1)
						
						
						
DECLARE @TEN_BP_CHIU_PHI NVARCHAR(4000)
SET @TEN_BP_CHIU_PHI = ' '
SELECT DISTINCT  @TEN_BP_CHIU_PHI = @TEN_BP_CHIU_PHI +'[' + dbo.BO_PHAN_CHIU_PHI.TEN_BP_CHIU_PHI + '],' from BO_PHAN_CHIU_PHI 
INNER JOIN IC_DON_HANG_XUAT ON dbo.BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI = IC_DON_HANG_XUAT.MS_BP_CHIU_PHI
--PRINT @TEN_BP_CHIU_PHI

IF LEN(@TEN_BP_CHIU_PHI) = 0 
	SET @TEN_BP_CHIU_PHI =  NULL
ELSE	
	SET @TEN_BP_CHIU_PHI=  LEFT (@TEN_BP_CHIU_PHI,LEN(@TEN_BP_CHIU_PHI)-1)
	
DECLARE @TOTAL NVARCHAR(4000) 
SET @TOTAL = ''
SELECT DISTINCT  @TOTAL = @TOTAL +'CASE WHEN [' + dbo.BO_PHAN_CHIU_PHI.TEN_BP_CHIU_PHI + '] IS NULL THEN 0 ELSE [' + dbo.BO_PHAN_CHIU_PHI.TEN_BP_CHIU_PHI + '] END + ' from BO_PHAN_CHIU_PHI 
INNER JOIN IC_DON_HANG_XUAT ON dbo.BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI = IC_DON_HANG_XUAT.MS_BP_CHIU_PHI
--ORDER BY dbo.BO_PHAN_CHIU_PHI.TEN_BP_CHIU_PHI
PRINT @TOTAL
IF LEN(@TOTAL) = 0 
	SET @TOTAL =  NULL
ELSE	
	SET @TOTAL=  LEFT (@TOTAL,LEN(@TOTAL) -1) + ' AS [AMOUNT (VND)] '
	

DECLARE @SQL NVARCHAR(4000)


CREATE TABLE #sBTam([TEN_BP_CHIU_PHI] [nvarchar](100) NOT NULL,[NGAY] [varchar](10) NULL,[TEN_PT] [nvarchar](100) NOT NULL,[THANH_TIEN] [float] NULL) ON [PRIMARY]


INSERT INTO #sBTam 
SELECT        T1.TEN_BP_CHIU_PHI, CONVERT(VARCHAR(10), T2.NGAY, 103) AS NGAY, T4.TEN_PT, SUM(T3.SO_LUONG_THUC_XUAT * T6.DON_GIA * T6.TY_GIA) AS THANH_TIEN
FROM            dbo.BO_PHAN_CHIU_PHI AS T1 INNER JOIN
                         #XUAT_KHO AS T2 ON T1.MS_BP_CHIU_PHI = T2.MS_BP_CHIU_PHI INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT INNER JOIN
                         dbo.IC_PHU_TUNG AS T4 ON T3.MS_PT = T4.MS_PT INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T5 ON T3.MS_DH_XUAT_PT = T5.MS_DH_XUAT_PT AND T3.MS_PT = T5.MS_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T6 ON T5.MS_DH_NHAP_PT = T6.MS_DH_NHAP_PT AND T5.MS_PT = T6.MS_PT AND T5.ID_XUAT = T6.ID
GROUP BY T1.TEN_BP_CHIU_PHI, CONVERT(VARCHAR(10), T2.NGAY, 103), T4.TEN_PT


SET @SQL = 'SELECT ROW_NUMBER() OVER (ORDER BY (CONVERT(DATETIME,NGAY,103))) AS NO, NGAY AS DATE , TEN_PT AS DESCRIPTION,'+@TOTAL+',' +@TEN_BP_CHIU_PHI +'  FROM 
(
SELECT   * from #sBTam
) TMP1 pivot
(
SUM(THANH_TIEN)
FOR TEN_BP_CHIU_PHI IN ('+ @TEN_BP_CHIU_PHI + ')
)TMP2 
ORDER BY CONVERT(DATETIME,NGAY,103)'

EXECUTE(@SQL)
PRINT @SQL
END
