
-- DROP TABLE MAY_KHCVBT_TMPADMIN
-- SELECT CONVERT(BIT,1) AS CHON, * INTO MAY_KHCVBT_TMPtrungnv FROM MAY GO 

--EXEC spKeHoachCongViecBaoTri 'MAY_KHCVBT_TMPtrungnv', -1, N'Bảo trì chung', '06/01/2016', '06/30/2016',0,'-1',-1,0, 'trungnv'

ALTER PROC [dbo].[spKeHoachCongViecBaoTri]
	@MayTmp NVARCHAR(50),
	@MsLBTri INT,
	@TenLBTri NVARCHAR(50),
	@TNgay DATETIME,
	@DNgay DATETIME,
	@NNgu INT,
	@MSDV NVARCHAR(50),
	@MSTO INT,
	@iLoaiBC INT,
	@Username nvarchar(255)
AS

-- @iLoaiBC 0 In ALL
-- @iLoaiBC 1 In KHTT
-- @iLoaiBC 2 In PBT
-- @iLoaiBC 3 In Cong Viec VP


DECLARE @sSql NVARCHAR(4000)


CREATE TABLE #MAY_TMP (MS_MAY NVARCHAR(250) NULL, TEN_MAY NVARCHAR(500) NULL)  

SET @sSql = ' INSERT INTO #MAY_TMP SELECT MS_MAY, TEN_MAY FROM ' + @MayTmp + ' WHERE ISNULL(CHON,0) = 1'
EXEC (@sSql)

SET @sSql = ' DROP TABLE ' + @MayTmp
EXEC (@sSql)


SELECT DISTINCT T1.GROUP_ID, T2.MS_DON_VI, T1.MS_TO, T4.MS_TO1 INTO #PB_USER
FROM            dbo.NHOM_TO_PHONG_BAN AS T1 INNER JOIN
                         dbo.TO_PHONG_BAN AS T2 ON T1.MS_TO = T2.MS_TO INNER JOIN
                         dbo.USERS AS T3 ON T1.GROUP_ID = T3.GROUP_ID INNER JOIN
                         dbo.[TO] AS T4 ON T2.MS_TO = T4.MS_TO
WHERE        (T3.USERNAME = @Username)  and (T2.MS_DON_VI = @MSDV or @MSDV = '-1')



SELECT NGAY, MS_MAY, TEN_MAY, TEN_LOAI_BT, TEN_BO_PHAN, TEN_CV, 
CONVERT(FLOAT,CASE ISNULL(THOI_GIAN_DU_KIEN,0) WHEN 0 THEN NULL ELSE THOI_GIAN_DU_KIEN END) AS THOI_GIAN_DU_KIEN  , 
GHI_CHU
 FROM
(

SELECT  NGAY,A.MS_MAY, TEN_MAY, D.TEN_LOAI_BT,X.TEN_BO_PHAN,
	  CASE @NNgu WHEN 0 THEN E.MO_TA_CV WHEN 1 THEN E.MO_TA_CV_ANH ELSE E.MO_TA_CV_HOA END AS TEN_CV, A.THOI_GIAN_DU_KIEN, A.GHI_CHU
	FROM KE_HOACH_TONG_CONG_VIEC A INNER JOIN #MAY_TMP B ON A.MS_MAY = B.MS_MAY INNER JOIN KE_HOACH_TONG_THE C ON A.HANG_MUC_ID = C.HANG_MUC_ID 
	INNER JOIN LOAI_BAO_TRI D ON C.MS_LOAI_BT = D.MS_LOAI_BT 
	INNER JOIN CONG_VIEC E ON A.MS_CV = E.MS_CV 
	INNER JOIN CAU_TRUC_THIET_BI X ON A.MS_MAY = X.MS_MAY AND A.MS_BO_PHAN = X.MS_BO_PHAN
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),C.NGAY,101)) BETWEEN @TNgay AND @DNgay) AND (ISNULL(A.MS_PHIEU_BAO_TRI,'') = '')
AND (C.MS_LOAI_BT = @MsLBTri  OR @MsLBTri = -1)
AND (@iLoaiBC = 0 OR @iLoaiBC = 1  ) 

UNION
SELECT  A.NGAY_BD_KH AS NGAY, A.MS_MAY, TEN_MAY,D.TEN_LOAI_BT, X.TEN_BO_PHAN,
		CASE @NNgu WHEN 0 THEN E.MO_TA_CV WHEN 1 THEN E.MO_TA_CV_ANH ELSE E.MO_TA_CV_HOA END AS TEN_CV,B.SO_GIO_KH, B.GHI_CHU
	FROM PHIEU_BAO_TRI A INNER JOIN PHIEU_BAO_TRI_CONG_VIEC B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI 
	INNER JOIN #MAY_TMP C ON A.MS_MAY = C.MS_MAY INNER JOIN LOAI_BAO_TRI D ON A.MS_LOAI_BT = D.MS_LOAI_BT
	INNER JOIN CONG_VIEC E ON B.MS_CV = E.MS_CV
	INNER JOIN CAU_TRUC_THIET_BI X ON A.MS_MAY = X.MS_MAY AND B.MS_BO_PHAN = X.MS_BO_PHAN
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),A.NGAY_BD_KH,101)) BETWEEN @TNgay AND @DNgay) AND (ISNULL(TINH_TRANG_PBT,0) < 3)
	AND (A.MS_LOAI_BT = @MsLBTri  OR @MsLBTri = -1)	AND (@iLoaiBC = 0 OR @iLoaiBC = 2  ) 

UNION
SELECT  A.NGAY, NULL AS MS_MAY, NULL AS TEN_MAY,@TenLBTri AS TEN_LOAI_BT,NULL AS TEN_BO_PHAN,
		A.TEN_CONG_VIEC,  ISNULL(THOI_GIAN_DK,0) * 60  AS THOI_GIAN_DU_KIEN, A.GHI_CHU
FROM            dbo.CONG_NHAN AS B INNER JOIN
                         dbo.KE_HOACH_THUC_HIEN AS A ON B.MS_CONG_NHAN = A.MS_CONG_NHAN 
						 INNER JOIN	 #PB_USER C ON C.MS_TO1 = B.MS_TO 
                         --dbo.[TO] AS C ON B.MS_TO = C.MS_TO1 INNER JOIN
                         --#PB_USER AS D ON C.MS_TO = D.MS_TO
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),A.NGAY,101))  BETWEEN @TNgay AND @DNgay) AND (ISNULL(A.DA_XONG,0) = 0)
	AND (@iLoaiBC = 0 OR @iLoaiBC = 3) 
--	AND (D.MS_DON_VI = @MSDV OR @MSDV = '-1') 
--	AND (D.MS_TO = @MSTO OR @MSTO = -1)
) T1
ORDER BY NGAY, MS_MAY, TEN_MAY, TEN_LOAI_BT,TEN_BO_PHAN,TEN_CV

