UPDATE DS_REPORT SET NOTE = N'Phần mềm ghi nhận các công việc trong PBT (Đang soạn + Đang thực hiện). Có các cột để trống để nhân viên bảo trì ghi nhận bằng tay khi thực hiện. Có thể dùng như biểu mẫu. Dữ liệu đã điền có thể giao cho nhân viên văn phòng nhập vào phần mềm.  In theo từng tuần. Báo cáo Excel. '
WHERE REPORT_NAME = 'ucKeHoachTuan'
