
ALTER proc [dbo].[getrptLICH_SU_VAT_TU_SD_CHO_TB]
	@MS_MAY NVARCHAR(30)
AS
SELECT     dbo.IC_PHU_TUNG.MS_PT, dbo.IC_PHU_TUNG.TEN_PT, dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI, dbo.MAY.MS_MAY, dbo.MAY.TEN_MAY, 
                      dbo.NHOM_MAY.TEN_NHOM_MAY, dbo.LOAI_MAY.TEN_LOAI_MAY, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.SL_KH, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.SL_TT, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.GHI_CHU
FROM         dbo.PHIEU_BAO_TRI INNER JOIN
                      dbo.MAY ON dbo.PHIEU_BAO_TRI.MS_MAY = dbo.MAY.MS_MAY INNER JOIN
                      dbo.NHOM_MAY ON dbo.MAY.MS_NHOM_MAY = dbo.NHOM_MAY.MS_NHOM_MAY INNER JOIN
                      dbo.LOAI_MAY ON dbo.NHOM_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG ON 
                      dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI INNER JOIN
                      dbo.LOAI_VT INNER JOIN
                      dbo.IC_PHU_TUNG ON dbo.LOAI_VT.MS_LOAI_VT = dbo.IC_PHU_TUNG.MS_LOAI_VT ON 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG.MS_PT
WHERE    (dbo.PHIEU_BAO_TRI.MS_MAY = @MS_MAY)
ORDER BY dbo.IC_PHU_TUNG.MS_PT, dbo.IC_PHU_TUNG.TEN_PT
