
ALTER procedure [dbo].[SP_GET_MENU]
@MENU_ID NVARCHAR (128)
AS
BEGIN
SELECT MENU_ID , MENU_TEXT,MENU_ENGLISH,MENU_CHINESE,MENU_PARENT,
MENU_LINE,MENU_INDEX,SHORT_KEY,DLL_NAME,PROJECT_NAME,CLASS_NAME,
FUNCTION_NAME,MENU_NOTE 
FROM dbo.MENU
WHERE MENU_ID = @MENU_ID AND ISNULL(AN_HIEN, 0) = 1
END
