UPDATE DS_REPORT SET 
TEN_REPORT_VIET = N'Danh sách VTPT đã sử dụng để bảo trì thiết bị',
NOTE = N'Danh sách VTPT đã sử dụng để bảo trì thiết bị' ,
TEN_REPORT_ANH = N'List of Items Used for maintenance'
WHERE REPORT_NAME = N'rptLICH_SU_VAT_TU_SD_CHO_TB'

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmNXHTBPCP' AND KEYWORD =N'MsgLoiChuaNhapNhaXuong') UPDATE LANGUAGES SET VIETNAM=N'Vui lòng nhập địa điểm', ENGLISH=N'Please enter location', VIETNAM_OR=N'Vui lòng nhập địa điểm', ENGLISH_OR=N'Please enter location' WHERE FORM=N'FrmNXHTBPCP' AND KEYWORD=N'MsgLoiChuaNhapNhaXuong' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmNXHTBPCP',N'MsgLoiChuaNhapNhaXuong',N'Vui lòng nhập địa điểm',N'Please enter location',N'Vui lòng nhập địa điểm',N'Please enter location')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmChonKho' AND KEYWORD =N'msgCoKhoChuaChonViTri') UPDATE LANGUAGES SET VIETNAM=N'Chọn kho nhưng chưa chọn vị trí!', ENGLISH=N'Please enter item location in warehouse', VIETNAM_OR=N'Chọn kho nhưng chưa chọn vị trí!', ENGLISH_OR=N'Please enter item location in warehouse' WHERE FORM=N'frmChonKho' AND KEYWORD=N'msgCoKhoChuaChonViTri' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmChonKho',N'msgCoKhoChuaChonViTri',N'Chọn kho nhưng chưa chọn vị trí!',N'Please enter item location in warehouse',N'Chọn kho nhưng chưa chọn vị trí!',N'Please enter item location in warehouse')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD =N'msgTonKhoMaxNhoHonTonKhoMin') UPDATE LANGUAGES SET VIETNAM=N'Tồn tối đa nhỏ hơn tồn tối thiểu', ENGLISH=N'Max. inventory cannot be lower than min. inventory', VIETNAM_OR=N'Tồn tối đa nhỏ hơn tồn tối thiểu', ENGLISH_OR=N'Max. inventory cannot be lower than min. inventory' WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD=N'msgTonKhoMaxNhoHonTonKhoMin' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDanhmucphutung_CS',N'msgTonKhoMaxNhoHonTonKhoMin',N'Tồn tối đa nhỏ hơn tồn tối thiểu',N'Max. inventory cannot be lower than min. inventory',N'Tồn tối đa nhỏ hơn tồn tối thiểu',N'Max. inventory cannot be lower than min. inventory')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKehoachtongthe_odd' AND KEYWORD =N'msgThongBaoLapPBT') UPDATE LANGUAGES SET VIETNAM=N'Những thiết bị trong danh sách chọn chưa có công việc hoặc loại bảo trì, sẽ không Lập Phiếu Bảo Trì', ENGLISH=N'Cannot create Work Order because chosen equipments do not have Work or maint. type', VIETNAM_OR=N'Những thiết bị trong danh sách chọn chưa có công việc hoặc loại bảo trì, sẽ không Lập Phiếu Bảo Trì', ENGLISH_OR=N'Cannot create Work Order because chosen equipments do not have Work or maint. type' WHERE FORM=N'frmKehoachtongthe_odd' AND KEYWORD=N'msgThongBaoLapPBT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKehoachtongthe_odd',N'msgThongBaoLapPBT',N'Những thiết bị trong danh sách chọn chưa có công việc hoặc loại bảo trì, sẽ không Lập Phiếu Bảo Trì',N'Cannot create Work Order because chosen equipments do not have Work or maint. type',N'Những thiết bị trong danh sách chọn chưa có công việc hoặc loại bảo trì, sẽ không Lập Phiếu Bảo Trì',N'Cannot create Work Order because chosen equipments do not have Work or maint. type')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'getrptLICH_SU_VAT_TU_SD_CHO_TB' AND KEYWORD =N'NGAY_SD') UPDATE LANGUAGES SET VIETNAM=N'Ngày sử dụng', ENGLISH=N'Use date', VIETNAM_OR=N'Ngày sử dụng', ENGLISH_OR=N'Use date' WHERE FORM=N'getrptLICH_SU_VAT_TU_SD_CHO_TB' AND KEYWORD=N'NGAY_SD' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'getrptLICH_SU_VAT_TU_SD_CHO_TB',N'NGAY_SD',N'Ngày sử dụng',N'Use date',N'Ngày sử dụng',N'Use date')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'getrptLICH_SU_VAT_TU_SD_CHO_TB' AND KEYWORD =N'TIEU_DE') UPDATE LANGUAGES SET VIETNAM=N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ', ENGLISH=N'List of Items Used for Maintenance', VIETNAM_OR=N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ', ENGLISH_OR=N'List of Items Used for Maintenance' WHERE FORM=N'getrptLICH_SU_VAT_TU_SD_CHO_TB' AND KEYWORD=N'TIEU_DE' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'getrptLICH_SU_VAT_TU_SD_CHO_TB',N'TIEU_DE',N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ',N'List of Items Used for Maintenance',N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ',N'List of Items Used for Maintenance')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptLICH_HIEU_CHUAN_THIET_BI' AND KEYWORD =N'CHU_KI_HC_NGOAI ') UPDATE LANGUAGES SET VIETNAM=N'Chu kì hiệu chuẩn ngoại', ENGLISH=N'External Periodic Calibration', VIETNAM_OR=N'Chu kì hiệu chuẩn ngoại', ENGLISH_OR=N'External Periodic Calibration' WHERE FORM=N'rptLICH_HIEU_CHUAN_THIET_BI' AND KEYWORD=N'CHU_KI_HC_NGOAI ' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptLICH_HIEU_CHUAN_THIET_BI',N'CHU_KI_HC_NGOAI ',N'Chu kì hiệu chuẩn ngoại',N'External Periodic Calibration',N'Chu kì hiệu chuẩn ngoại',N'External Periodic Calibration')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptLICH_HIEU_CHUAN_THIET_BI' AND KEYWORD =N'CHU_KI_HC_NOI') UPDATE LANGUAGES SET VIETNAM=N'Chu kì hiệu chuẩn nội', ENGLISH=N'Internal Periodic Calibration', VIETNAM_OR=N'Chu kì hiệu chuẩn nội', ENGLISH_OR=N'Internal Periodic Calibration' WHERE FORM=N'rptLICH_HIEU_CHUAN_THIET_BI' AND KEYWORD=N'CHU_KI_HC_NOI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptLICH_HIEU_CHUAN_THIET_BI',N'CHU_KI_HC_NOI',N'Chu kì hiệu chuẩn nội',N'Internal Periodic Calibration',N'Chu kì hiệu chuẩn nội',N'Internal Periodic Calibration')
