UPDATE MENU set AN_HIEN = 0 WHERE MENU_ID in (N'mnuAddonreport', N'mnuDistribution', N'mnuBoPhanChiuPhiRule', N'mnuNgaynghile', N'mnuDanhmuctinhquan', N'mnuDanhmucduong')
UPDATE MENU set MENU_TEXT = N'2.11. Bộ phận chịu phí' WHERE MENU_ID = N'mnuCostCenter'

