IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmNXHTBPCP' AND KEYWORD =N'MsgLoiChuaNhapNhaXuong') UPDATE LANGUAGES SET VIETNAM=N'Vui lòng nhập địa điểm', ENGLISH=N'Vui lòng nhập địa điểm', VIETNAM_OR=N'Vui lòng nhập địa điểm', ENGLISH_OR=N'Vui lòng nhập địa điểm' WHERE FORM=N'FrmNXHTBPCP' AND KEYWORD=N'MsgLoiChuaNhapNhaXuong' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmNXHTBPCP',N'MsgLoiChuaNhapNhaXuong',N'Vui lòng nhập địa điểm',N'Vui lòng nhập địa điểm',N'Vui lòng nhập địa điểm',N'Vui lòng nhập địa điểm')
