IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spLoaiBT_CT_CopyCV_PT_LoaiBT_CD')
   exec('CREATE PROCEDURE spLoaiBT_CT_CopyCV_PT_LoaiBT_CD AS BEGIN SET NOCOUNT ON; END')
GO

ALTER proc spLoaiBT_CT_CopyCV_PT_LoaiBT_CD
	
	@MS_MAY NVARCHAR(20),
	@MS_LOAI_BT_CT INT,
	@MS_LOAI_BT_CD NVARCHAR(20)

AS
BEGIN

			INSERT INTO MAY_LOAI_BTPN_CONG_VIEC (MS_MAY, MS_LOAI_BT , MS_CV , MS_BO_PHAN)
			SELECT @MS_MAY AS MS_MAY, @MS_LOAI_BT_CT AS MS_LOAI_BT, MS_CV, MS_BO_PHAN  
			FROM MAY_LOAI_BTPN_CONG_VIEC WHERE MS_MAY = @MS_MAY AND MS_LOAI_BT = @MS_LOAI_BT_CD
			AND (CONVERT(NVARCHAR,MS_CV) + '-' + RTRIM(MS_BO_PHAN)) NOT IN 
			(SELECT CONVERT(NVARCHAR,MS_CV) + '-' + RTRIM(MS_BO_PHAN) FROM MAY_LOAI_BTPN_CONG_VIEC WHERE MS_MAY = @MS_MAY AND  MS_LOAI_BT = @MS_LOAI_BT_CT)

			INSERT INTO MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG (MS_MAY, MS_LOAI_BT , MS_CV , MS_BO_PHAN,MS_PT , SO_LUONG , QUI_CACH, GHI_CHU_BTPN)
			SELECT @MS_MAY AS MS_MAY, @MS_LOAI_BT_CT AS MS_LOAI_BT, MS_CV, MS_BO_PHAN,MS_PT , SO_LUONG , QUI_CACH, GHI_CHU_BTPN 
			FROM MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG WHERE MS_MAY = @MS_MAY AND MS_LOAI_BT = @MS_LOAI_BT_CD
			AND (CONVERT(NVARCHAR,MS_CV) + '-' + RTRIM(MS_BO_PHAN) + '-' + MS_PT) NOT IN 
			(SELECT CONVERT(NVARCHAR,MS_CV) + '-' + RTRIM(MS_BO_PHAN) + '-' + MS_PT 
			FROM MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG WHERE MS_MAY = @MS_MAY AND  MS_LOAI_BT = @MS_LOAI_BT_CT)

RETURN
END
