IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'getrptLICH_SU_VAT_TU_SD_CHO_TB' AND KEYWORD =N'NGAY_SD') UPDATE LANGUAGES SET VIETNAM=N'Ngày sử dụng', ENGLISH=N'Ngày sử dụng', VIETNAM_OR=N'Ngày sử dụng', ENGLISH_OR=N'Ngày sử dụng' WHERE FORM=N'getrptLICH_SU_VAT_TU_SD_CHO_TB' AND KEYWORD=N'NGAY_SD' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'getrptLICH_SU_VAT_TU_SD_CHO_TB',N'NGAY_SD',N'Ngày sử dụng',N'Ngày sử dụng',N'Ngày sử dụng',N'Ngày sử dụng')


GO

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'getrptLICH_SU_VAT_TU_SD_CHO_TB' AND KEYWORD =N'TIEU_DE') UPDATE LANGUAGES SET VIETNAM=N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ', ENGLISH=N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ', VIETNAM_OR=N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ', ENGLISH_OR=N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ' WHERE FORM=N'getrptLICH_SU_VAT_TU_SD_CHO_TB' AND KEYWORD=N'TIEU_DE' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'getrptLICH_SU_VAT_TU_SD_CHO_TB',N'TIEU_DE',N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ',N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ',N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ',N'DANH SÁCH VTPT ĐÃ SỬ DỤNG ĐỂ BẢO TRÌ THIẾT BỊ ')


GO

UPDATE DS_REPORT SET TEN_REPORT_VIET = N'Danh sách VTPT đã sử dụng để bảo trì thiết bị', NOTE = N'Danh sách VTPT đã sử dụng để bảo trì thiết bị' WHERE REPORT_NAME = N'rptLICH_SU_VAT_TU_SD_CHO_TB'

GO
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptLICH_HIEU_CHUAN_THIET_BI' AND KEYWORD =N'CHU_KI_HC_NGOAI ') UPDATE LANGUAGES SET VIETNAM=N'Chu kì hiệu chuẩn ngoại', ENGLISH=N'Chu kì hiệu chuẩn ngoại', VIETNAM_OR=N'Chu kì hiệu chuẩn ngoại', ENGLISH_OR=N'Chu kì hiệu chuẩn ngoại' WHERE FORM=N'rptLICH_HIEU_CHUAN_THIET_BI' AND KEYWORD=N'CHU_KI_HC_NGOAI ' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptLICH_HIEU_CHUAN_THIET_BI',N'CHU_KI_HC_NGOAI ',N'Chu kì hiệu chuẩn ngoại',N'Chu kì hiệu chuẩn ngoại',N'Chu kì hiệu chuẩn ngoại',N'Chu kì hiệu chuẩn ngoại')


GO
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptLICH_HIEU_CHUAN_THIET_BI' AND KEYWORD =N'CHU_KI_HC_NOI') UPDATE LANGUAGES SET VIETNAM=N'Chu kì hiệu chuẩn nội', ENGLISH=N'Chu kì hiệu chuẩn nội', VIETNAM_OR=N'Chu kì hiệu chuẩn nội', ENGLISH_OR=N'Chu kì hiệu chuẩn nội' WHERE FORM=N'rptLICH_HIEU_CHUAN_THIET_BI' AND KEYWORD=N'CHU_KI_HC_NOI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptLICH_HIEU_CHUAN_THIET_BI',N'CHU_KI_HC_NOI',N'Chu kì hiệu chuẩn nội',N'Chu kì hiệu chuẩn nội',N'Chu kì hiệu chuẩn nội',N'Chu kì hiệu chuẩn nội')
