IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spCheckMayLoaiBaoTriDuoi')
   exec('CREATE PROCEDURE spCheckMayLoaiBaoTriDuoi AS BEGIN SET NOCOUNT ON; END')
GO

ALTER proc spCheckMayLoaiBaoTriDuoi
	
	@MS_MAY nvarchar(20),
	@MS_LOAI_BT nvarchar(20)

AS
BEGIN
		SELECT * FROM LOAI_BAO_TRI_QH WHERE MS_LOAI_BT_CT = @MS_LOAI_BT AND 
		MS_LOAI_BT_CD IN (SELECT MS_LOAI_BT  FROM MAY_LOAI_BTPN WHERE MS_MAY = @MS_MAY AND MS_LOAI_BT <> @MS_LOAI_BT)
END
