
ALTER proc [dbo].[DeleteBO_PHAN_CHIU_PHI]
	@MS_BP_CHIU_PHI int
AS

DELETE FROM NHOM_BO_PHAN_CHIU_PHI 
WHERE MS_BP_CHIU_PHI=@MS_BP_CHIU_PHI

DELETE FROM BO_PHAN_CHIU_PHI_RULE
WHERE MS_BP_CHIU_PHI=@MS_BP_CHIU_PHI

DELETE FROM BO_PHAN_CHIU_PHI
WHERE MS_BP_CHIU_PHI=@MS_BP_CHIU_PHI

DBCC CHECKIDENT (BO_PHAN_CHIU_PHI,RESEED,0)
DBCC CHECKIDENT (BO_PHAN_CHIU_PHI,RESEED)
