


IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGET_TINH_TRANG_PBT')
   exec('CREATE PROCEDURE spGET_TINH_TRANG_PBT AS BEGIN SET NOCOUNT ON; END')
GO
ALTER proc [dbo].[spGET_TINH_TRANG_PBT]
	@TYPE INT
AS
	
SELECT     STT, (CASE @TYPE WHEN 0 THEN TEN_TINH_TRANG WHEN 1 THEN TEN_TINH_TRANG_ANH ELSE TEN_TINH_TRANG_HOA END) AS TEN_TINH_TRANG
FROM         dbo.TINH_TRANG_PBT
