
--exec [PermisionALL] 'admin',0,1
ALTER PROC [dbo].[PermisionALL]
	@USERNAME NVARCHAR(50),
	@ATTACHMENT BIT,
	@ORDER INT		--0: MS_MAY	1: TEN_MAY
AS

DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()
SELECT * INTO #MAY FROM dbo.MGetMayUserNgay(@NgayHT,@USERNAME,'-1',-1,-1,-1,'-1','-1',0) 


SELECT MS_HE_THONG AS MS_HT, MS_MAY, TEN_MAY, A.MS_HIEN_TRANG, TEN_HIEN_TRANG,TEN_HSX,TEN_CONG_TY, TEN_NHOM_MAY,
	TEN_LOAI_MAY, SO_NAM_KHAU_HAO,MO_TA, NHIEM_VU_THIET_BI, MODEL, SERIAL_NUMBER, NGAY_SX, NUOC_SX, NGAY_MUA, NGAY_BD_BAO_HANH, 
	NGAY_DUA_VAO_SD, SO_THE, SO_NGAY_LV_TRONG_TUAN, SO_GIO_LV_TRONG_NGAY, T6.TEN_DVT_RT, TY_LE_CON_LAI, MUC_UU_TIEN, SO_THANG_BH, GIA_MUA, 
	A.NGOAI_TE, T4.TEN_NGOAI_TE, Anh_TB, T5.TEN_UU_TIEN, CHU_KY_HC_TB, LUU_Y_SU_DUNG, SO_CT, TI_GIA_VND, TI_GIA_USD, DON_VI_THOI_GIAN, 
	CHU_KY_HIEU_CHUAN_TB_NGOAI, CHU_KY_KD_TB, USER_INSERT, USER_UPDATE, NGAY_INSERT, NGAY_UPDATE, DINH_MUC_SL, DVT_SL
FROM #MAY A LEFT OUTER JOIN
	dbo.HIEN_TRANG_SU_DUNG_MAY AS B ON A.MS_HIEN_TRANG = B.MS_HIEN_TRANG  LEFT OUTER JOIN
	dbo.HANG_SAN_XUAT AS C ON A.MS_HSX = C.MS_HSX  LEFT OUTER JOIN
	dbo.KHACH_HANG AS D ON A.MS_KH = D.MS_KH LEFT OUTER JOIN
	dbo.NGOAI_TE AS T4 ON A.NGOAI_TE = T4.NGOAI_TE INNER JOIN
	dbo.MUC_UU_TIEN AS T5 ON A.MUC_UU_TIEN = T5.MS_UU_TIEN LEFT OUTER JOIN
	dbo.DON_VI_TINH_RUN_TIME AS T6 ON A.MS_DVT_RT = T6.MS_DVT_RT 
ORDER BY A.MS_MAY, A.TEN_MAY  	