


IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGET_ALL_TINH_TRANG_PBT_CT')
   exec('CREATE PROCEDURE spGET_ALL_TINH_TRANG_PBT_CT AS BEGIN SET NOCOUNT ON; END')
GO
ALTER proc [dbo].[spGET_ALL_TINH_TRANG_PBT_CT]
	@TYPE INT
AS
BEGIN
		SELECT MS_TT_CT, T.STT, MA_SO , 
		TEN_TIENG_VIET, TEN_TIENG_ANH, TEN_TIENG_HOA, TEN_TINH_TRANG, GHI_CHU , MAC_DINH
		 FROM TINH_TRANG_PBT_CT T
		INNER JOIN TINH_TRANG_PBT T1 ON T1.STT = T.STT 
		RETURN;
END	


--(CASE @TYPE WHEN 0 THEN TEN_TIENG_VIET WHEN 1 THEN TEN_TIENG_ANH ELSE TEN_TIENG_HOA END) AS TEN_TINH_TRANG_CT,
--		(CASE @TYPE WHEN 0 THEN TEN_TINH_TRANG  WHEN 1 THEN TEN_TINH_TRANG_ANH ELSE TEN_TINH_TRANG_HOA END) AS TEN_TINH_TRANG