
ALTER proc [dbo].[UpdateDuyetALLPBT]
AS

SELECT MS_PHIEU_BAO_TRI INTO #PBT_TT FROM PBT_TT WHERE CHON = 1 
DROP TABLE PBT_TT

DECLARE @MS_TT_CT INT
SET @MS_TT_CT = NULL
SELECT TOP 1 @MS_TT_CT = MS_TT_CT FROM TINH_TRANG_PBT_CT WHERE STT = 2 AND MAC_DINH = 1

UPDATE  PHIEU_BAO_TRI SET TINH_TRANG_PBT = 2 ,MS_TT_CT = @MS_TT_CT 
WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT)

INSERT INTO PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET (MS_PHIEU_BAO_TRI,STT,MS_TT_CT,THOI_GIAN,USERNAME)
SELECT A.MS_PHIEU_BAO_TRI,
CONVERT(INT,(SELECT ISNULL(MAX(STT),0)+ 1 FROM PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET C WHERE C.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI)) AS STT,
B.MS_TT_CT,GETDATE(), USERNAME_NGUOI_LAP
FROM PHIEU_BAO_TRI A INNER JOIN 
(SELECT * FROM TINH_TRANG_PBT_CT WHERE STT = 2 AND MAC_DINH = 1) B ON A.TINH_TRANG_PBT = B.STT
WHERE A.MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT)



