
ALTER procedure [dbo].[GetMS_MAY_HIEU_CHUAN_MAY] 
	@USERLOGED NVARCHAR(50)
AS

DECLARE @NgayHT DATETIME
	SET @NgayHT = GETDATE()

	SELECT A.* INTO #MAY FROM dbo.MGetMayUserNgay(@NgayHT,@USERLOGED,'-1',-1,-1,'-1','-1','-1',0) A 


SELECT  DISTINCT  HIEU_CHUAN_MAY.MS_MAY 
FROM HIEU_CHUAN_MAY INNER JOIN #MAY AS A ON A.MS_MAY=HIEU_CHUAN_MAY.MS_MAY 
UNION
SELECT  DISTINCT  HIEU_CHUAN_MAY.MS_MAY FROM HIEU_CHUAN_MAY INNER JOIN  #MAY AS A ON A.MS_MAY=HIEU_CHUAN_MAY.MS_MAY