IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'msgPBTDaNghiemThuVuiLongBoNghiemThu') UPDATE LANGUAGES SET VIETNAM=N'PBT đã nghiệm thu. Vui lòng bỏ nghiệm thu!', ENGLISH=N'Maintenance order has already been accepted. Please cancel acceptance!', VIETNAM_OR=N'PBT đã nghiệm thu. Vui lòng bỏ nghiệm thu!', ENGLISH_OR=N'Maintenance order has already been accepted. Please cancel acceptance!' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'msgPBTDaNghiemThuVuiLongBoNghiemThu' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuBaoTri_New',N'msgPBTDaNghiemThuVuiLongBoNghiemThu',N'PBT đã nghiệm thu. Vui lòng bỏ nghiệm thu!',N'Maintenance order has already been accepted. Please cancel acceptance!',N'PBT đã nghiệm thu. Vui lòng bỏ nghiệm thu!',N'Maintenance order has already been accepted. Please cancel acceptance!')
