

-- exec SP_NHU_Y_GET_MAY_KHTT 'TRUNGNV',0, '-1','-1'

ALTER PROC [dbo].[SP_NHU_Y_GET_MAY_KHTT]
	@USERNAME NVARCHAR(50),
	@NNgu int,
	@MS_LOAI_MAY NVARCHAR(50),
	@MS_NHOM_MAY NVARCHAR(50)	
AS

DECLARE @NgayHT DATETIME
	SET @NgayHT = GETDATE()

	SELECT A.* INTO #MAY FROM dbo.MGetMayUserNgay(@NgayHT,@USERNAME,'-1',-1,-1,@MS_LOAI_MAY,@MS_NHOM_MAY,'-1',@NNgu) A 


	SELECT DISTINCT CONVERT(BIT,0) AS CHON, A.MS_MAY, A.TEN_MAY, A.MODEL, A.TEN_NHOM_MAY, A.TEN_LOAI_MAY, A.TEN_HE_THONG, 
	Ten_N_XUONG, A.MUC_UU_TIEN 
	FROM  #MAY AS A 
	--INNER JOIN
	--					  dbo.NHOM_MAY AS B ON A.MS_NHOM_MAY = B.MS_NHOM_MAY INNER JOIN
	--					  dbo.LOAI_MAY AS C ON B.MS_LOAI_MAY = C.MS_LOAI_MAY INNER JOIN
	--					  dbo.NHOM_LOAI_MAY AS D ON C.MS_LOAI_MAY = D.MS_LOAI_MAY INNER JOIN
	--					  dbo.NHOM AS E ON D.GROUP_ID = E.GROUP_ID INNER JOIN
	--					  dbo.USERS AS F ON E.GROUP_ID = F.GROUP_ID INNER JOIN
	--					  dbo.MAY_HE_THONG_NGAY_MAX AS G ON A.MS_MAY = G.MS_MAY INNER JOIN
	--					  dbo.MAY_NHA_XUONG_NGAY_MAX AS H ON A.MS_MAY = H.MS_MAY INNER JOIN
	--					  dbo.NHA_XUONG AS I ON H.MS_N_XUONG = I.MS_N_XUONG INNER JOIN
	--					  dbo.HE_THONG AS K ON G.MS_HE_THONG = K.MS_HE_THONG
	--WHERE     (USERNAME = @USERNAME) AND (A.MS_HIEN_TRANG = 2) AND (A.MS_NHOM_MAY = @MS_NHOM_MAY OR @MS_NHOM_MAY = '-1' )
		ORDER BY A.MS_MAY, A.TEN_MAY, A.MODEL

