IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_GET_LICH_SU_PT_EX')
   exec('CREATE PROCEDURE SP_GET_LICH_SU_PT_EX AS BEGIN SET NOCOUNT ON; END')
GO

ALTER procedure [dbo].[SP_GET_LICH_SU_PT_EX]  
@SD_KHO BIT , 
@MS_MAY NVARCHAR (25) , 
@MS_BO_PHAN NVARCHAR (50) , 
@MS_PT NVARCHAR (25)
AS
IF (@SD_KHO = 1)
BEGIN 
SELECT DISTINCT 
         dbo.PHIEU_BAO_TRI_CONG_VIEC.NGAY_HOAN_THANH AS NGAY_THAY_THE, dbo.IC_PHU_TUNG.MS_PT + ' - ' + dbo.IC_PHU_TUNG.TEN_PT AS PHU_TUNG, CASE WHEN dbo.PHIEU_BAO_TRI_CONG_VIEC.STT_SERVICE IS NULL 
         THEN dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.SL_TT ELSE dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.SL_TT END AS SL_TT, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT, dbo.CONG_NHAN.MS_CONG_NHAN + ' - ' + dbo.CONG_NHAN.TEN AS NGUOI_THAY, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI, CONVERT(BIT, 0) AS PT_CHA, dbo.IC_DON_HANG_NHAP_VAT_TU.XUAT_XU, 
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.GHI_CHU, 0.00 AS THOI_GIAN_SU_DUNG
FROM  dbo.IC_DON_HANG_NHAP_VAT_TU INNER JOIN
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO ON dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_DH_NHAP_PT AND dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PTTT INNER JOIN
         dbo.IC_PHU_TUNG AS IC_PHU_TUNG_1 ON dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PTTT = IC_PHU_TUNG_1.MS_PT RIGHT OUTER JOIN
         dbo.IC_PHU_TUNG INNER JOIN
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET ON dbo.IC_PHU_TUNG.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT INNER JOIN
         dbo.CAU_TRUC_THIET_BI ON dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN INNER JOIN
         dbo.MAY INNER JOIN
         dbo.PHIEU_BAO_TRI ON dbo.MAY.MS_MAY = dbo.PHIEU_BAO_TRI.MS_MAY ON dbo.CAU_TRUC_THIET_BI.MS_MAY = dbo.PHIEU_BAO_TRI.MS_MAY INNER JOIN
         dbo.PHIEU_BAO_TRI_CONG_VIEC ON dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI AND dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI AND dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_CV ON 
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI AND dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_CV = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV AND 
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_BO_PHAN = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN AND dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT AND 
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.STT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.STT LEFT OUTER JOIN
         dbo.CONG_NHAN ON dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.NGUOI_THAY_THE = dbo.CONG_NHAN.MS_CONG_NHAN
		 WHERE dbo.PHIEU_BAO_TRI.MS_MAY =  @MS_MAY  AND dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN = @MS_BO_PHAN AND dbo.IC_PHU_TUNG.MS_PT = @MS_PT AND  (dbo.PHIEU_BAO_TRI.TINH_TRANG_PBT = 3 OR dbo.PHIEU_BAO_TRI.TINH_TRANG_PBT = 4 )
END 
ELSE 
BEGIN 
SELECT DISTINCT 
         dbo.PHIEU_BAO_TRI_CONG_VIEC.NGAY_HOAN_THANH AS NGAY_THAY_THE, dbo.IC_PHU_TUNG.MS_PT + ' - ' + dbo.IC_PHU_TUNG.TEN_PT AS PHU_TUNG, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.SL_TT, dbo.CONG_NHAN.MS_CONG_NHAN + ' - ' + dbo.CONG_NHAN.TEN AS NGUOI_THAY, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI, CONVERT(BIT, 0) AS PT_CHA, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT,
         dbo.IC_DON_HANG_NHAP_VAT_TU.XUAT_XU, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.GHI_CHU, 0.00 AS THOI_GIAN_SU_DUNG
FROM  dbo.IC_DON_HANG_NHAP_VAT_TU INNER JOIN
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO ON dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_DH_NHAP_PT AND dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PTTT INNER JOIN
         dbo.IC_PHU_TUNG AS IC_PHU_TUNG_1 ON dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PTTT = IC_PHU_TUNG_1.MS_PT RIGHT OUTER JOIN
         dbo.IC_PHU_TUNG INNER JOIN
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET ON dbo.IC_PHU_TUNG.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT INNER JOIN
         dbo.CAU_TRUC_THIET_BI ON dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN INNER JOIN
         dbo.MAY INNER JOIN
         dbo.PHIEU_BAO_TRI ON dbo.MAY.MS_MAY = dbo.PHIEU_BAO_TRI.MS_MAY ON dbo.CAU_TRUC_THIET_BI.MS_MAY = dbo.PHIEU_BAO_TRI.MS_MAY INNER JOIN
         dbo.PHIEU_BAO_TRI_CONG_VIEC ON dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI AND dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI AND dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_CV ON 
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI AND dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_CV = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV AND 
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_BO_PHAN = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN AND dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT AND 
         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.STT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.STT LEFT OUTER JOIN
         dbo.CONG_NHAN ON dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.NGUOI_THAY_THE = dbo.CONG_NHAN.MS_CONG_NHAN
WHERE dbo.PHIEU_BAO_TRI.MS_MAY =  @MS_MAY  AND dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN = @MS_BO_PHAN AND dbo.IC_PHU_TUNG.MS_PT = @MS_PT AND  (dbo.PHIEU_BAO_TRI.TINH_TRANG_PBT = 3 OR dbo.PHIEU_BAO_TRI.TINH_TRANG_PBT = 4 )

END
