

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spBaoCaoHieuChuanKiemDinh')
   exec('CREATE PROCEDURE spBaoCaoHieuChuanKiemDinh AS BEGIN SET NOCOUNT ON; END')
 Go
 --EXEC spBaoCaoHieuChuanKiemDinh
ALTER PROC spBaoCaoHieuChuanKiemDinh
	@NAM NVARCHAR(5),
	@USERNAME NVARCHAR(50),
	@MsNXuong nvarchar(50),
	@NHeThong int,
	@LoaiMay NVARCHAR(20),
	@LoaiBC INT 

AS
--LOAIBT 0: TẤT CẢ
--LOAIBT 1: HIỆU CHUẨN MÁY
--LOAIBT 2: HIỆU CHUẨN DHD
BEGIN

	DECLARE @tNgay AS NVARCHAR(15) = '01/01/' + @NAM
	DECLARE @dNgay AS NVARCHAR(15) = '12/31/' + @NAM

	IF(@LoaiBC = 0)
	BEGIN
		SELECT IDENTITY(int, 1,1) as STT, pvt.* into #TMP FROM (
			SELECT  T.MS_MAY, T2.TEN_MAY, '' AS DUNG_CU_DO, '' AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 1) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 1 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKeMay](@tNgay,@dNgay,1,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay) 

			UNION
			SELECT  T.MS_MAY, T2.TEN_MAY, '' AS DUNG_CU_DO, '' AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 2) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 2 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKeMay](@tNgay,@dNgay,2,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)

			UNION
			SELECT  T.MS_MAY, T2.TEN_MAY, '' AS DUNG_CU_DO, '' AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 3) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 3 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKeMay](@tNgay,@dNgay,3,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)

			UNION

			SELECT  T.MS_MAY, T2.TEN_MAY, T.MS_PT AS DUNG_CU_DO, T.MS_VI_TRI AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 1) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 1 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,1,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)

			UNION

			SELECT  T.MS_MAY, T2.TEN_MAY, T.MS_PT AS DUNG_CU_DO, T.MS_VI_TRI AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 2) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 2 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,2,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)

			UNION

			SELECT  T.MS_MAY, T2.TEN_MAY, T.MS_PT AS DUNG_CU_DO, T.MS_VI_TRI AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 3) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 3 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,3,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)

			UNION

			SELECT  T.MS_MAY, T2.TEN_MAY, T.MS_PT AS DUNG_CU_DO, T.MS_VI_TRI AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 4) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 4 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,4,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)		
		) A 
		PIVOT
		(
			COUNT(A.NGAY_KE) 
			FOR A.THANG IN ([1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12])
		)AS pvt		
		SELECT * FROM #TMP 
	END
	ELSE IF(@LoaiBC = 1)	
	BEGIN
		SELECT IDENTITY(int, 1,1) as STT, pvt.* into #TMP1 FROM (
			SELECT  T.MS_MAY, T2.TEN_MAY, '' AS DUNG_CU_DO, '' AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 1) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 1 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKeMay](@tNgay,@dNgay,1,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay) 

			UNION
			SELECT  T.MS_MAY, T2.TEN_MAY, '' AS DUNG_CU_DO, '' AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 2) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 2 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKeMay](@tNgay,@dNgay,2,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)

			UNION
			SELECT  T.MS_MAY, T2.TEN_MAY, '' AS DUNG_CU_DO, '' AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 3) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 3 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKeMay](@tNgay,@dNgay,3,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)
		) A 
		PIVOT
		(
			COUNT(A.NGAY_KE) 
			FOR A.THANG IN ([1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12])
		)AS pvt	
		SELECT * FROM #TMP1 	
		DROP TABLE #TMP1 
	END
	ELSE IF(@LoaiBC = 2)	
	BEGIN
		SELECT IDENTITY(int, 1,1) as STT, pvt.* into #TMP2 FROM (
			SELECT  T.MS_MAY, T2.TEN_MAY, T.MS_PT AS DUNG_CU_DO, T.MS_VI_TRI AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN 
			FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 1) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, 
			T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 1 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,1,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)

			UNION

			SELECT  T.MS_MAY, T2.TEN_MAY, T.MS_PT AS DUNG_CU_DO, T.MS_VI_TRI AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 2) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 2 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,2,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)

			UNION

			SELECT  T.MS_MAY, T2.TEN_MAY, T.MS_PT AS DUNG_CU_DO, T.MS_VI_TRI AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 3) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 3 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,3,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)

			UNION

			SELECT  T.MS_MAY, T2.TEN_MAY, T.MS_PT AS DUNG_CU_DO, T.MS_VI_TRI AS VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 4) AS TEN_LOAI_HIEU_CHUAN, T.CHU_KY, T.NGAY_HC_CUOI, T.NGAY_KE, convert(NVARCHAR(5), month(T.NGAY_KE)) AS THANG, T.MS_DV_TG, 4 as MS_LOAI_HIEU_CHUAN  FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,4,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN MAY_HIEU_CHUAN_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			WHERE YEAR(T.NGAY_KE) = YEAR(@dNgay)		
		) A 
		PIVOT
		(
			COUNT(A.NGAY_KE) 
			FOR A.THANG IN ([1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12])
		)AS pvt		
		
		SELECT * FROM #TMP2 
	    DROP TABLE #TMP2

	END

END

























