
ALTER proc [dbo].[DeletePHIEU_BAO_TRI]
	@MS_PHIEU_BAO_TRI NVARCHAR(20)
	
AS

DELETE  FROM  PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET 
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI

DELETE  FROM  PHIEU_BAO_TRI_CHI_PHI	
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI


DELETE  FROM  PHIEU_BAO_TRI	
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
