IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spTinhTrangPBTCT_GET')
   exec('CREATE PROCEDURE spTinhTrangPBTCT_GET AS BEGIN SET NOCOUNT ON; END')
 Go
--exec [spTinhTrangPBTCT_GET] 1
ALTER PROC [dbo].[spTinhTrangPBTCT_GET]

	@NNgu int	
AS

select MS_TT_CT , CASE @NNgu WHEN 0 THEN TEN_TIENG_VIET WHEN 1 THEN TEN_TIENG_ANH ELSE TEN_TIENG_HOA END AS TEN_TRANG_THAI from TINH_TRANG_PBT_CT 
