IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spPhieuBaoTri_GET_ALL')
   exec('CREATE PROCEDURE spPhieuBaoTri_GET_ALL AS BEGIN SET NOCOUNT ON; END')
 Go
ALTER PROC [dbo].[spPhieuBaoTri_GET_ALL]
	@USERNAME NVARCHAR(50),
	@TUNGAY NVARCHAR(10),
	@DENNGAY NVARCHAR(10),
	@LOAY_MAY NVARCHAR(200),
    @NHOM_MAY NVARCHAR(100),	
	@MS_MAY NVARCHAR(100),
	@MS_NHA_XUONG NVARCHAR(50),
	@MsHThong as int,
	@NNgu as int
AS

SELECT * INTO #MAY FROM dbo.MGetMayUserNgay(@DENNGAY, @USERNAME, @MS_NHA_XUONG, @MsHThong, -1, @LOAY_MAY, @NHOM_MAY,@MS_MAY, @NNgu )
		
SELECT A.* INTO #PBT FROM dbo.PHIEU_BAO_TRI A INNER JOIN #MAY B ON A.MS_MAY = B.MS_MAY
WHERE  CONVERT(DATETIME, CONVERT(NVARCHAR(10),NGAY_BD_KH,101)) BETWEEN CONVERT(DATETIME,CONVERT(NVARCHAR(10),@TUNGAY ,101)) AND CONVERT(DATETIME,@DENNGAY ,101)
			

				
SELECT CONVERT(BIT, 0) AS CHON, 
	T1.MS_HE_THONG AS MS_HT, T1.MS_LOAI_MAY, T1.MS_NHOM_MAY, T2.MS_PHIEU_BAO_TRI, T2.SO_PHIEU_BAO_TRI, T1.MS_MAY,	
	TEN_MAY, TINH_TRANG_PBT, TEN_TINH_TRANG,
	CONVERT(NVARCHAR(500),CASE @NNgu WHEN 0 THEN T8.TEN_TIENG_VIET WHEN 1 THEN T8.TEN_TIENG_ANH ELSE TEN_TIENG_HOA END) AS TEN_TIENG_VIET	
	, T2.MS_LOAI_BT, TEN_LOAI_BT, LY_DO_BT, NGAY_LAP, T1.Ten_N_XUONG AS TEN_N_XUONG , 
	T1.MS_N_XUONG, GIO_LAP, T2.MS_UU_TIEN, TEN_UU_TIEN, NGUOI_LAP, USERNAME_NGUOI_LAP, HO + ' ' + TEN AS HO_TEN, 
	NGUOI_GIAM_SAT, NGAY_BD_KH, NGAY_KT_KH, GIO_HONG, NGAY_HONG, MS_NGUYEN_NHAN, DEN_GIO_HONG, DEN_NGAY_HONG,DHX 
FROM #MAY AS T1 INNER JOIN
	#PBT AS T2 ON T1.MS_MAY = T2.MS_MAY INNER JOIN
	TINH_TRANG_PBT T4 ON T2.TINH_TRANG_PBT = T4.STT LEFT JOIN      
	MUC_UU_TIEN T5 ON T2.MS_UU_TIEN = T5.MS_UU_TIEN INNER JOIN  
	LOAI_BAO_TRI T6 ON T2.MS_LOAI_BT = T6.MS_LOAI_BT INNER JOIN  
	CONG_NHAN T7 ON T2.NGUOI_LAP =  T7.MS_CONG_NHAN LEFT JOIN 
	TINH_TRANG_PBT_CT T8 ON T8.MS_TT_CT = T2.MS_TT_CT 
ORDER BY T2.MS_PHIEU_BAO_TRI DESC
