
ALTER proc [dbo].[GetLOAI_BAO_TRIs]
AS
SELECT * FROM LOAI_BAO_TRI INNER JOIN HINH_THUC_BAO_TRI ON LOAI_BAO_TRI.MS_HT_BT=HINH_THUC_BAO_TRI.MS_HT_BT
WHERE PHONG_NGUA=1  ORDER BY --MS_LOAI_BT,TEN_LOAI_BT,
 THU_TU  ASC
