
ALTER proc [dbo].[GetLOC_LOAI_BAO_TRI]
	@MS_MAY NVARCHAR(30)
AS
SELECT MAY_LOAI_BTPN.MS_LOAI_BT,TEN_LOAI_BT FROM MAY_LOAI_BTPN INNER JOIN LOAI_BAO_TRI ON MAY_LOAI_BTPN.MS_LOAI_BT=LOAI_BAO_TRI.MS_LOAI_BT
WHERE MS_MAY=@MS_MAY
ORDER BY THU_TU 