
ALTER procedure [dbo].[SP_Y_GET_KHO_DON_HANG_NHAP]
	@USERNAME NVARCHAR (50)
AS
BEGIN
SELECT     dbo.IC_KHO.MS_KHO, dbo.IC_KHO.TEN_KHO
FROM         dbo.NHOM_KHO INNER JOIN
dbo.USERS ON dbo.NHOM_KHO.GROUP_ID = dbo.USERS.GROUP_ID INNER JOIN
dbo.IC_KHO ON dbo.NHOM_KHO.MS_KHO = dbo.IC_KHO.MS_KHO
WHERE dbo.USERS.USERNAME = @USERNAME
ORDER BY dbo.IC_KHO.TEN_KHO
END
