



ALTER procedure [dbo].[get_Congviecphu]
	@Phieu_BT NVARCHAR(20)
AS
IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES  WHERE TABLE_NAME = 'tCongViecPhu')
	begin
   	DROP TABLE tCongViecPhu
	end
SELECT STT,TEN_CONG_VIEC,SO_GIO_KH,CONVERT(NVARCHAR(10),NGAY_HOAN_THANH,103)AS NGAY_HOAN_THANH
into DBO.tCongViecPhu
FROM PHIEU_BAO_TRI_CV_PHU_TRO INNER JOIN PHIEU_BAO_TRI ON PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI=PHIEU_BAO_TRI_CV_PHU_TRO.MS_PHIEU_BAO_TRI		
WHERE PHIEU_BAO_TRI_CV_PHU_TRO.MS_PHIEU_BAO_TRI = @Phieu_BT

SELECT * FROM tCongViecPhu
DROP TABLE tCongViecPhu


