IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetCongNhanUser')
   exec('CREATE PROCEDURE spGetCongNhanUser AS BEGIN SET NOCOUNT ON; END')
GO


--EXEC spGetCongNhanUser 'TRUNGNV'
ALTER proc [dbo].[spGetCongNhanUser]
	@UName NVARCHAR(50)
AS	
	SELECT DISTINCT MS_TO INTO #TO_USER FROM [dbo].[MGetDonViPhongBanUser](@UName)
	
	SELECT MS_CONG_NHAN, (HO + ' ' +  TEN)  AS HO_TEN_CONG_NHAN 
	FROM CONG_NHAN T1 INNER JOIN #TO_USER T2 ON T1.MS_TO = T2.MS_TO
	WHERE ISNULL(BO_VIEC,0) =0
	ORDER BY HO_TEN_CONG_NHAN
