
--EXEC SP_NHU_Y_GET_DSCV_PBT 'EXT-02','35'
ALTER PROC [dbo].[SP_NHU_Y_GET_DSCV_PBT]
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT
AS
SELECT A.MS_CV,A.MS_BO_PHAN,CASE ISNULL(CAU_TRUC_THIET_BI_CONG_VIEC.TG_KH,0) WHEN 0 THEN  ISNULL(B.THOI_GIAN_DU_KIEN,0) ELSE ISNULL(CAU_TRUC_THIET_BI_CONG_VIEC.TG_KH,0) END AS THOI_GIAN_DU_KIEN , B.SO_NGUOI,B.YEU_CAU_NS,B.YEU_CAU_DUNG_CU
FROM
(
	SELECT MS_CV,MS_BO_PHAN
	FROM MAY_LOAI_BTPN_CONG_VIEC
	WHERE MS_MAY=@MS_MAY AND MS_LOAI_BT=@MS_LOAI_BT
)A INNER JOIN CONG_VIEC AS B ON A.MS_CV=B.MS_CV
INNER JOIN CAU_TRUC_THIET_BI_CONG_VIEC ON CAU_TRUC_THIET_BI_CONG_VIEC.MS_MAY = @MS_MAY AND CAU_TRUC_THIET_BI_CONG_VIEC.MS_BO_PHAN = A.MS_BO_PHAN 
AND A.MS_CV = CAU_TRUC_THIET_BI_CONG_VIEC.MS_CV 

