
ALTER procedure [dbo].[GetPHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIETs]
@MS_PHIEU_BAO_TRI NVARCHAR(20),
@MS_CV INT,
@MS_BO_PHAN NVARCHAR(50),
@MS_PT NVARCHAR(30)
 AS
/*
SELECT DISTINCT  PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV, 
PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT, 
PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.STT, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT, 
PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.SL_KH, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.SL_TT, THAY_SUA   
FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG inner JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET 
ON  PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI 
AND   PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV 
AND   PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT 
AND   PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN  
WHERE PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT =@MS_PT
AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV =@MS_CV  AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = @MS_BO_PHAN  
AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI =@MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT IS NOT NULL 
*/

SELECT DISTINCT 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV, 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT, 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.STT, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT, 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.SL_KH, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.SL_TT,
		      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.THAY_SUA,PHIEU_BAO_TRI_CONG_VIEC.NGAY_HOAN_THANH
FROM         PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG INNER JOIN
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET ON 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI AND
                       PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV AND 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT AND 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN INNER JOIN
                      PHIEU_BAO_TRI_CONG_VIEC ON 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI AND 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV = PHIEU_BAO_TRI_CONG_VIEC.MS_CV AND 
                      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN
WHERE PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT =@MS_PT
AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV =@MS_CV  AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = @MS_BO_PHAN  
AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI =@MS_PHIEU_BAO_TRI
-- AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT IS NOT NULL
ORDER BY PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT