
--EXEC SP_NHU_Y_GET_DSCV_PBT 'AIC-0001',39
ALTER PROC [dbo].[SP_NHU_Y_GET_DSCV_PBT]
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT
AS
SELECT A.MS_CV,A.MS_BO_PHAN,
CASE ISNULL(A.TG_KH,0) WHEN 0 THEN  ISNULL(B.THOI_GIAN_DU_KIEN,0) ELSE ISNULL(A.TG_KH,0) END AS THOI_GIAN_DU_KIEN,
B.SO_NGUOI,B.YEU_CAU_NS,B.YEU_CAU_DUNG_CU
FROM
(
	SELECT     T1.MS_CV, T1.MS_BO_PHAN, T2.TG_KH
	FROM         dbo.MAY_LOAI_BTPN_CONG_VIEC AS T1 INNER JOIN
		  dbo.CAU_TRUC_THIET_BI_CONG_VIEC AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_CV = T2.MS_CV AND T1.MS_BO_PHAN = T2.MS_BO_PHAN
	INNER JOIN CONG_VIEC AS B ON T1.MS_CV=B.MS_CV 
	WHERE T1.MS_MAY=@MS_MAY AND MS_LOAI_BT=@MS_LOAI_BT AND T2.ACTIVE = 1
)A INNER JOIN CONG_VIEC AS B ON A.MS_CV=B.MS_CV 

