

--EXEC [GetPTThayThe] 'WO-201511000043'
ALTER PROCEDURE [dbo].[GetPTThayThe]
	@MS_PHIEU_BAO_TRI NVARCHAR(50)
AS
	


	SELECT DISTINCT A.MS_BO_PHAN,A.TEN_BO_PHAN, A.MS_PT,
	CASE ISNULL(QUY_CACH,'') WHEN '' THEN TEN_PT ELSE TEN_PT + ' - ' + QUY_CACH END AS TEN_PT	
	,A.MS_VI_TRI_PT,A.SL_KH , A.MS_CV, A.VICT_NHA_THAU, A.MS_PT1, A.XUAT_XU,A.SL_TT,A.NGUOI_THAY_THE, 
	                      A.NGAY_THAY_THE, A.DON_GIA, A.NGOAI_TE, A.TY_GIA, A.TY_GIA_USD, 
	                      A.STT, A.MS_DH_NHAP_PT, A.BAO_HANH_DEN_NGAY ,A.GHI_CHU 
	FROM 
	(
		SELECT     PBTCV.MS_BO_PHAN, CTTB.TEN_BO_PHAN, PBTCV.MS_PT, PBTCV.MS_VI_TRI_PT, PBTCV.SL_TT, PBTCV.VICT_NHA_THAU, 
                      PBTCV.NGUOI_THAY_THE, CONVERT(nvarchar(10), PBTCV.NGAY_THAY_THE, 103) AS NGAY_THAY_THE, PBTCV.MS_PT1, PBTCV.DON_GIA, 
                      PBTCV.TY_GIA, PBTCV.TY_GIA_USD, PBTCV.STT, PBTCV.MS_DH_NHAP_PT, PBTCV.NGOAI_TE, 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.BAO_HANH_DEN_NGAY, dbo.IC_DON_HANG_NHAP_VAT_TU.XUAT_XU, PBTCV.SL_KH, PBTCV.MS_CV, 
                      PBTCV.GHI_CHU

		FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET AS PBTCV LEFT OUTER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU ON PBTCV.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AND 
                      PBTCV.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC ON PBTCV.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI AND 
                      PBTCV.MS_CV = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_CV AND PBTCV.MS_BO_PHAN = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN INNER JOIN
                      dbo.CONG_VIEC ON dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_CV = dbo.CONG_VIEC.MS_CV INNER JOIN
                      dbo.PHIEU_BAO_TRI ON dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI INNER JOIN
                      dbo.CAU_TRUC_THIET_BI AS CTTB ON dbo.PHIEU_BAO_TRI.MS_MAY = CTTB.MS_MAY AND 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN = CTTB.MS_BO_PHAN
		WHERE     (PBTCV.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND (dbo.PHIEU_BAO_TRI_CONG_VIEC.STT_SERVICE IS NULL)
	)A INNER JOIN IC_PHU_TUNG B ON A.MS_PT=B.MS_PT INNER JOIN LOAI_VT ON B.MS_LOAI_VT=LOAI_VT.MS_LOAI_VT AND LOAI_VT.VAT_TU=0
	ORDER BY A.MS_PT