
ALTER procedure [dbo].[GetPHIEU_BAO_TRI_CONG_VIEC_PHU_TUNGs]
@MS_PHIEU_BAO_TRI NVARCHAR(20),
@MS_CV INT,
@MS_BO_PHAN NVARCHAR(50)

 AS

SELECT DISTINCT  PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV,  
PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT, 
IC_PHU_TUNG.TEN_PT,PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.SL_KH, PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.SL_TT  ,
PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.GHI_CHU,IC_PHU_TUNG.MS_PT_NCC, IC_PHU_TUNG.MS_PT_CTY
FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG INNER JOIN IC_PHU_TUNG 
ON PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT = IC_PHU_TUNG.MS_PT  
WHERE MS_CV=@MS_CV  and MS_BO_PHAN=@MS_BO_PHAN  and MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
ORDER BY PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT
