


ALTER PROCEDURE [dbo].[GetDANH_SACH_KE_HOACH_TONG_THE_CONG_VIECs_KHBT]
	@MS_MAY NVARCHAR(30),
	@HANG_MUC_ID INTEGER,
	@USERNAME NVARCHAR(50),
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@KH_NAM INT ,
	@KH_THANG INT
AS

SELECT  DISTINCT KHCVCT.ID , @KH_NAM as KH_NAM ,@KH_THANG AS KH_THANG , dbo.KE_HOACH_TONG_CONG_VIEC.HANG_MUC_ID, dbo.KE_HOACH_TONG_CONG_VIEC.MS_CV, 
						dbo.CONG_VIEC.MO_TA_CV AS MA_CV, 
                      dbo.KE_HOACH_TONG_CONG_VIEC.MS_BO_PHAN, dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN, dbo.KE_HOACH_TONG_CONG_VIEC.MS_MAY, 
                      dbo.CHUYEN_MON.TEN_CHUYEN_MON, dbo.BAC_THO.TEN_BAC_THO, dbo.BAC_THO.MS_BAC_THO,dbo.CONG_VIEC.THOI_GIAN_DU_KIEN ,
                      dbo.CONG_VIEC.THAO_TAC, dbo.CONG_VIEC.TIEU_CHUAN_KT,dbo.CONG_VIEC.PATH_HD, 
                      dbo.CONG_VIEC.SO_NGUOI,dbo.CONG_VIEC.YEU_CAU_NS,dbo.CONG_VIEC.YEU_CAU_DUNG_CU
FROM dbo.KE_HOACH_TONG_CONG_VIEC INNER JOIN 
                      dbo.CONG_VIEC ON dbo.KE_HOACH_TONG_CONG_VIEC.MS_CV = dbo.CONG_VIEC.MS_CV 
                      INNER JOIN (SELECT DISTINCT T1.ID , T1.MS_MAY , T1.MA_HANG_MUC , T1.MA_CV, T1.MA_BO_PHAN FROM KE_HOACH_TONG_CONG_VIEC_CHI_TIET AS T1 LEFT JOIN
(SELECT ID_TRUOC FROM KE_HOACH_TONG_CONG_VIEC_CHI_TIET WHERE MS_MAY = @MS_MAY AND  ISNULL(ID_TRUOC,-1) <> -1 ) AS T3 ON 
T1.ID = T3.ID_TRUOC WHERE  T1.KH_NAM = @KH_NAM AND T1.KH_THANG = @KH_THANG AND  T1.MS_MAY = @MS_MAY AND T1.KH_TYPE = 2  AND T3.ID_TRUOC IS NULL ) AS KHCVCT
                      ON dbo.KE_HOACH_TONG_CONG_VIEC.HANG_MUC_ID = KHCVCT.MA_HANG_MUC AND dbo.KE_HOACH_TONG_CONG_VIEC.MS_MAY = KHCVCT.MS_MAY AND 
                      dbo.KE_HOACH_TONG_CONG_VIEC.MS_BO_PHAN = KHCVCT.MA_BO_PHAN AND dbo.KE_HOACH_TONG_CONG_VIEC.MS_CV = KHCVCT.MA_CV
                      INNER JOIN dbo.LOAI_CONG_VIEC ON dbo.CONG_VIEC.MS_LOAI_CV = dbo.LOAI_CONG_VIEC.MS_LOAI_CV INNER JOIN
                      dbo.NHOM_LOAI_CONG_VIEC ON dbo.LOAI_CONG_VIEC.MS_LOAI_CV = dbo.NHOM_LOAI_CONG_VIEC.MS_LOAI_CV INNER JOIN
                      dbo.NHOM ON dbo.NHOM_LOAI_CONG_VIEC.GROUP_ID = dbo.NHOM.GROUP_ID INNER JOIN
                      dbo.USERS ON dbo.NHOM.GROUP_ID = dbo.USERS.GROUP_ID LEFT JOIN
                      dbo.CHUYEN_MON ON dbo.CONG_VIEC.MS_CHUYEN_MON = dbo.CHUYEN_MON.MS_CHUYEN_MON LEFT JOIN
                      dbo.BAC_THO ON dbo.CONG_VIEC.MS_BAC_THO = dbo.BAC_THO.MS_BAC_THO INNER JOIN
                      dbo.CAU_TRUC_THIET_BI ON dbo.KE_HOACH_TONG_CONG_VIEC.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN
	AND dbo.KE_HOACH_TONG_CONG_VIEC.MS_MAY = dbo.CAU_TRUC_THIET_BI.MS_MAY INNER JOIN
                      dbo.CAU_TRUC_THIET_BI_CONG_VIEC AS T10 ON CAU_TRUC_THIET_BI.MS_MAY = T10.MS_MAY AND CAU_TRUC_THIET_BI.MS_BO_PHAN = T10.MS_BO_PHAN 
                      AND KE_HOACH_TONG_CONG_VIEC.MS_CV = T10.MS_CV
WHERE  KHONG_GQ<>1 AND    (dbo.USERS.USERNAME= @USERNAME) AND (dbo.KE_HOACH_TONG_CONG_VIEC.MS_MAY =@MS_MAY) AND (dbo.KE_HOACH_TONG_CONG_VIEC.HANG_MUC_ID =@HANG_MUC_ID)
and (KE_HOACH_TONG_CONG_VIEC.MS_PHIEU_BAO_TRI is null or KE_HOACH_TONG_CONG_VIEC.MS_PHIEU_BAO_TRI='') AND KE_HOACH_TONG_CONG_VIEC.THUE_NGOAI<>1
 AND dbo.KE_HOACH_TONG_CONG_VIEC.MS_CV NOT IN(SELECT MS_CV FROM PHIEU_BAO_TRI_CONG_VIEC  PBT WHERE( PBT.MS_PHIEU_BAO_TRI =@MS_PHIEU_BAO_TRI)  
 AND PBT.MS_BO_PHAN= dbo.KE_HOACH_TONG_CONG_VIEC.MS_BO_PHAN)
 AND T10.ACTIVE = 1

                   