
ALTER proc [dbo].[GetMAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG]
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT,
	@MS_CV INT,
	@NGON_NGU INT,
	@MS_BO_PHAN NVARCHAR(50)
AS

SELECT   dbo.LOAI_VT.TEN_LOAI_VT_TV AS TEN_LOAI_VT, dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_PT, dbo.IC_PHU_TUNG.TEN_PT, 
                      dbo.IC_PHU_TUNG.TEN_PT_VIET, A.SL_MAX, dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.SO_LUONG, 
CASE @NGON_NGU WHEN 0 THEN dbo.DON_VI_TINH.TEN_1 
				WHEN 1 THEN dbo.DON_VI_TINH.TEN_2 ELSE dbo.DON_VI_TINH.TEN_3 END AS DVT, 
                      dbo.IC_PHU_TUNG.QUY_CACH, dbo.IC_PHU_TUNG.MS_VI_TRI, GHI_CHU_BTPN
FROM         dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG INNER JOIN
                      dbo.IC_PHU_TUNG ON dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN
                      dbo.LOAI_VT ON dbo.IC_PHU_TUNG.MS_LOAI_VT = dbo.LOAI_VT.MS_LOAI_VT INNER JOIN
                      dbo.DON_VI_TINH ON dbo.IC_PHU_TUNG.DVT = dbo.DON_VI_TINH.DVT LEFT OUTER JOIN
                          (SELECT     MS_MAY, MS_BO_PHAN, SUM(ISNULL(SO_LUONG,0)) AS SL_MAX ,MS_PT
                            FROM          dbo.CAU_TRUC_THIET_BI_PHU_TUNG
							WHERE ACTIVE = 1
                            GROUP BY MS_MAY, MS_BO_PHAN, MS_PT
                            HAVING      (MS_MAY = @MS_MAY) AND (MS_BO_PHAN = @MS_BO_PHAN)
							) AS A ON A.MS_MAY = dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_MAY AND A.MS_PT = dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_PT AND 
                      dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = A.MS_BO_PHAN
WHERE     (dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_MAY = @MS_MAY) AND (dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_LOAI_BT = @MS_LOAI_BT) AND 
                      (dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_CV = @MS_CV) AND (dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = @MS_BO_PHAN)
ORDER BY TEN_LOAI_VT, dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_PT

