

--EXEC SP_Y_GET_NGUOI_NHAP_KHO 
ALTER PROCEDURE [dbo].[SP_Y_GET_NGUOI_NHAP_KHO]
	@User nvarchar(50) = 'trungnv'
AS
BEGIN

	SELECT Distinct MS_TO INTO #TO_USER FROM [dbo].[MGetDonViPhongBanUser](@User)

	SELECT *, -1 AS VTRO FROM 
	(SELECT A.MS_CONG_NHAN AS MS_NGUOI_NHAP , HO +' '+TEN AS TEN_NGUOI_NHAP,convert(bit,0) as KHACH_HANG
		FROM dbo.CONG_NHAN A INNER JOIN #TO_USER T ON T.MS_TO = A.MS_TO
	UNION
	SELECT MS_KH AS NGUOI_NHAP ,TEN_CONG_TY AS TEN_NGUOI_NHAP,convert(bit,1) as KHACH_HANG
	FROM dbo.KHACH_HANG
	) A 
UNION
	SELECT *, 4 AS VTRO FROM 
	(SELECT A.MS_CONG_NHAN AS NGUOI_NHAP , HO +' '+TEN AS TEN_NGUOI_NHAP,convert(bit,0) as KHACH_HANG
		FROM dbo.CONG_NHAN A INNER JOIN CONG_NHAN_VAI_TRO B ON A.MS_CONG_NHAN = B.MS_CONG_NHAN 
		INNER JOIN #TO_USER T ON T.MS_TO = A.MS_TO 
		WHERE B.MS_VAI_TRO = 4
	UNION
	SELECT MS_KH AS MS_NGUOI_NHAP ,TEN_CONG_TY AS TEN_NGUOI_NHAP,convert(bit,1) as KHACH_HANG
	FROM dbo.KHACH_HANG
	) A 
	ORDER BY TEN_NGUOI_NHAP
END

