

ALTER PROC [dbo].[XoaAllCVPBT]
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@MS_CV INT,
	@MS_BO_PHAN NVARCHAR(50),
	@STT int
as
BEGIN TRY
	BEGIN TRANSACTION DeleteStaff;  
		IF @STT = -1 -- xoa cong viec chinh
		BEGIN
			DELETE FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET WHERE (MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI) 
				AND (MS_CV = @MS_CV OR @MS_CV = -1) AND (MS_BO_PHAN = @MS_BO_PHAN OR @MS_BO_PHAN = '-1')
				
			DELETE FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU WHERE (MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI) 
				AND (MS_CV = @MS_CV OR @MS_CV = -1) AND (MS_BO_PHAN = @MS_BO_PHAN OR @MS_BO_PHAN = '-1')
				
			DELETE FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO WHERE (MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI) 
				AND (MS_CV = @MS_CV OR @MS_CV = -1) AND (MS_BO_PHAN = @MS_BO_PHAN OR @MS_BO_PHAN = '-1')
				
			DELETE FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET WHERE (MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI) 
				AND (MS_CV = @MS_CV OR @MS_CV = -1) AND (MS_BO_PHAN = @MS_BO_PHAN OR @MS_BO_PHAN = '-1')
				
			DELETE FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG WHERE (MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI) 
				AND (MS_CV = @MS_CV OR @MS_CV = -1) AND (MS_BO_PHAN = @MS_BO_PHAN OR @MS_BO_PHAN = '-1')
				
			DELETE FROM PHIEU_BAO_TRI_CONG_VIEC WHERE (MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI) 
				AND (MS_CV = @MS_CV OR @MS_CV = -1) AND (MS_BO_PHAN = @MS_BO_PHAN OR @MS_BO_PHAN = '-1')
		END 
		ELSE -- xoa cong viec phu
		BEGIN
			-- STT = 0 XOA ALL
			DELETE FROM  PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE (MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND ( STT = @STT OR @STT = 0)
			
			DELETE FROM  PHIEU_BAO_TRI_CV_PHU_TRO WHERE (MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND ( STT = @STT OR @STT = 0)
		END 
	COMMIT TRANSACTION DeleteStaff;
END TRY  
	BEGIN CATCH  
		PRINT 'rollback ne';  
		ROLLBACK TRAN DeleteStaff;   
	END CATCH  
