--exec UPDATE_CONG_VIEC_LOG 1378,'frmDanhmuccongviec','trungnv',2
ALTER  proc [dbo].[UPDATE_CONG_VIEC_LOG]
	@ID INT,
	@FORM_NAME NVARCHAR(255), 
	@USER_SIGN NVARCHAR(255)	,
	@THAO_TAC INT 
AS
	declare @Count int
	set @count=ISNULL(( select count(FORM_NAME) FROM W_LOG WHERE TABLE_NAME='CONG_VIEC' AND FORM_NAME=@FORM_NAME AND USER_SIGN=@USER_SIGN AND CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,20))=CONVERT(DATETIME,CONVERT(NVARCHAR(10),GETDATE(),20))),0)
	IF @COUNT =0
		INSERT INTO W_LOG(FORM_NAME,USER_SIGN,NGAY,TABLE_NAME)
		SELECT @FORM_NAME,@USER_SIGN,GETDATE(),'CONG_VIEC'
	
	INSERT INTO W_CONG_VIEC( MS_CV,MA_CV,KY_HIEU_CV,MS_LOAI_CV,MO_TA_CV,MO_TA_CV_ANH,MO_TA_CV_HOA
      ,PATH_HD,MS_LOAI_MAY,THOI_GIAN_DU_KIEN,THAO_TAC,TIEU_CHUAN_KT,GHI_CHU
      ,MS_CHUYEN_MON,MS_BAC_THO,AN_TOAN,DINH_MUC,NGOAI_TE,FORM_NAME,USER_SIGN,ID,STT_LOG,CREATEDATE,THAOTAC)
	SELECT  MS_CV,MA_CV,KY_HIEU_CV,MS_LOAI_CV,MO_TA_CV,MO_TA_CV_ANH,MO_TA_CV_HOA
      ,PATH_HD,MS_LOAI_MAY,THOI_GIAN_DU_KIEN,THAO_TAC,TIEU_CHUAN_KT,GHI_CHU
      ,MS_CHUYEN_MON,MS_BAC_THO,AN_TOAN,DINH_MUC,NGOAI_TE,@FORM_NAME,@USER_SIGN,NULL ,( SELECT COUNT(*)+1 FROM W_CONG_VIEC WHERE  MS_CV=@ID),GETDATE(),@THAO_TAC
	FROM CONG_VIEC WHERE  MS_CV=@ID
