
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spDemSoNgayHC')
   exec('CREATE PROCEDURE spDemSoNgayHC AS BEGIN SET NOCOUNT ON; END')
 Go
 --EXEC spDemSoNgayHC '2016', 'PAC-1501', 'SCA-SC-011', N'Thiết bị đo lường-hiệu chuẩn-kiểm định', '1', 1, 0

ALTER PROC spDemSoNgayHC
	@NAM NVARCHAR(5),	
	@MS_MAY NVARCHAR(100),
	@MS_PT NVARCHAR(15),
	@MS_VI_TRI NVARCHAR(255),
	@THANG int,
	@MS_LOAI_HIEU_CHUAN INT,
	@LHieuChuan BIT
AS

BEGIN	
				IF(@LHieuChuan = 0)
				BEGIN
					SELECT MONTH(NGAY_HC) AS THANG,  COUNT(MONTH(NGAY_HC)) AS SO_LUONG FROM HIEU_CHUAN_MAY 
					WHERE MS_MAY = @MS_MAY AND YEAR(NGAY_HC) = @NAM AND Month(NGAY_HC) = @THANG AND MS_LOAI_HIEU_CHUAN = @MS_LOAI_HIEU_CHUAN
					GROUP BY MONTH(NGAY_HC)
					ORDER BY Thang DESC
				END
				ELSE
				BEGIN
					SELECT MONTH(NGAY) AS THANG,  COUNT(MONTH(NGAY)) AS SO_LUONG FROM HIEU_CHUAN_DHD
					WHERE MS_MAY = @MS_MAY AND YEAR(NGAY) = @NAM AND Month(NGAY) = @THANG AND MS_LOAI_HIEU_CHUAN = @MS_LOAI_HIEU_CHUAN
					AND MS_PT = @MS_PT AND MS_VI_TRI = @MS_VI_TRI
					GROUP BY MONTH(NGAY)
					ORDER BY Thang DESC
				END

END


















