
--EXEC QL_LIST_CONG_NHAN -1
ALTER proc [dbo].[QL_LIST_CONG_NHAN]
	@MSVaiTro int
AS

if @MSVaiTro <> -1
	SELECT A.MS_CONG_NHAN AS MA,HO+' '+TEN AS TEN FROM CONG_NHAN A INNER JOIN CONG_NHAN_VAI_TRO B ON A.MS_CONG_NHAN = B.MS_CONG_NHAN
	WHERE	(NGAY_NGHI_VIEC IS NULL) AND (B.MS_VAI_TRO = @MSVaiTro OR -1 = @MSVaiTro)
	ORDER BY TEN
else
	SELECT A.MS_CONG_NHAN AS MA,HO+' '+TEN AS TEN FROM CONG_NHAN A 
	ORDER BY TEN
