



--exec GetDAY_CHUYEN_BY_MAY '12.000', '08/01/2016'
ALTER proc [dbo].[GetDAY_CHUYEN_BY_MAY]
	@MS_MAY NVARCHAR(30),
	@NGAY DATETIME
AS
SELECT     TOP 1 dbo.MAY_HE_THONG.MS_HE_THONG
FROM         dbo.MAY_HE_THONG
WHERE     (MS_MAY = @MS_MAY) AND (NGAY_NHAP <= @NGAY)
ORDER BY NGAY_NHAP DESC



