
ALTER procedure [dbo].[get_Congviecchinh]
	@Phieu_BT NVARCHAR(20),
	@User NVARCHAR(50)
AS

SELECT PHIEU_BAO_TRI.MS_MAY,PHIEU_BAO_TRI_CONG_VIEC.MS_CV,MS_BO_PHAN,MO_TA_CV,SO_GIO_KH,
CONVERT(NVARCHAR(10),Convert(date,NGAY_HOAN_THANH,101))AS NGAY_HOAN_THANH,TEN_LOAI_CV, H_THANH , DANH_GIA ,PT_HOAN_THANH
into #tbTmp
FROM PHIEU_BAO_TRI_CONG_VIEC INNER JOIN PHIEU_BAO_TRI ON PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI=PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI
					INNER JOIN CONG_VIEC ON PHIEU_BAO_TRI_CONG_VIEC.MS_CV=CONG_VIEC.MS_CV
					INNER JOIN LOAI_CONG_VIEC ON CONG_VIEC.MS_LOAI_CV = LOAI_CONG_VIEC.MS_LOAI_CV
					INNER JOIN NHOM_LOAI_CONG_VIEC ON NHOM_LOAI_CONG_VIEC.MS_LOAI_CV=LOAI_CONG_VIEC.MS_LOAI_CV
					INNER JOIN NHOM ON NHOM.GROUP_ID=NHOM_LOAI_CONG_VIEC.GROUP_ID
					INNER JOIN USERS ON USERS.GROUP_ID=NHOM.GROUP_ID
WHERE USERNAME=@User AND PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = @Phieu_BT AND STT_SERVICE IS NULL

SELECT     #tbTmp.MS_MAY, #tbTmp.MS_CV, #tbTmp.MS_BO_PHAN, #tbTmp.MS_BO_PHAN + ' - ' + CAU_TRUC_THIET_BI.TEN_BO_PHAN as TEN_BO_PHAN, 
                   #tbTmp.MO_TA_CV, #tbTmp.SO_GIO_KH, #tbTmp.NGAY_HOAN_THANH, 
                   #tbTmp.TEN_LOAI_CV, H_THANH , DANH_GIA ,PT_HOAN_THANH
FROM         #tbTmp INNER JOIN
                      CAU_TRUC_THIET_BI ON #tbTmp.MS_MAY = CAU_TRUC_THIET_BI.MS_MAY AND 
                      #tbTmp.MS_BO_PHAN = CAU_TRUC_THIET_BI.MS_BO_PHAN INNER JOIN
                      CAU_TRUC_THIET_BI_CONG_VIEC ON CAU_TRUC_THIET_BI.MS_MAY = CAU_TRUC_THIET_BI_CONG_VIEC.MS_MAY AND 
                      CAU_TRUC_THIET_BI.MS_BO_PHAN = CAU_TRUC_THIET_BI_CONG_VIEC.MS_BO_PHAN AND 
                      #tbTmp.MS_CV = CAU_TRUC_THIET_BI_CONG_VIEC.MS_CV
ORDER BY CAU_TRUC_THIET_BI.TEN_BO_PHAN, #tbTmp.MO_TA_CV



