

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetCONG_NHAN_UserAll')
   exec('CREATE PROCEDURE GetCONG_NHAN_UserAll AS BEGIN SET NOCOUNT ON; END')
GO
-- EXEC GetCONG_NHAN_UserAll '-1',-1,1,'admin'

ALTER proc [dbo].[GetCONG_NHAN_UserAll]
	
	@MS_DV NVARCHAR(50) = '-1',
	@MS_TO NVARCHAR(50) = '-1',
	@TINH_TRANG INT,
	@USERNAME NVARCHAR(50)

AS
--@TINH_TRANG
--0: all
--1: Còn làm việc
--2: đã nghỉ

	SELECT Distinct MS_DON_VI, MS_TO INTO #TO_USER FROM [dbo].[MGetDonViPhongBanUser](@Username) 
	WHERE (MS_TO = @MS_TO OR @MS_TO = '-1') AND (MS_DON_VI = @MS_DV OR	@MS_DV = '-1')

	
	SELECT CN.MS_CONG_NHAN, (HO + ' ' +  TEN)  AS HO_TEN, CN.MS_CONG_NHAN,CN.HO,CN.TEN,CN.NGAY_SINH,CN.NOI_SINH,CN.PHAI,CN.DIA_CHI_THUONG_TRU, 
	CN.SO_CMND,CN.NGAY_CAP,CN.NOI_CAP,T.MS_DON_VI,T.MS_TO AS MS_PHONG_BAN, CN.MS_TO ,CN.NGAY_VAO_LAM, 
	CN.BO_VIEC,CN.NGAY_NGHI_VIEC,CN.LY_DO_NGHI,TRINH_DO_VAN_HOA.TEN_GOI,CN.NGOAI_NGU, 
	CN.HINH_CN,CN.GHI_CHU,CN.MS_THE_CC,CN.SO_DT_NHA_RIENG,CN.SO_DTDD,CN.TEN_NGUOI_THAN,CN.QUAN_HE,CN.BANG_CAP,USER_MAIL FROM CONG_NHAN CN
	LEFT JOIN TRINH_DO_VAN_HOA ON CN.MS_TRINH_DO = TRINH_DO_VAN_HOA.MS_TRINH_DO 
	INNER JOIN [TO] T1 ON T1.MS_TO1 = CN.MS_TO
	INNER JOIN #TO_USER T ON T1.MS_TO = T.MS_TO
	WHERE BO_VIEC = CASE @TINH_TRANG WHEN 0 THEN 0 WHEN 1 THEN 0 WHEN 2 THEN 1 END 
	OR BO_VIEC =  CASE @TINH_TRANG WHEN 0 THEN 1 WHEN 1 THEN 0 WHEN 2 THEN 1 END
	ORDER BY HO  , TEN 
	

