
--EXEC GetMAY_BPCP 'LLLL','ADMIN'

ALTER proc [dbo].[GetMAY_BPCP]
	@MS_MAY NVARCHAR(30),
	@UserName nvarchar(100)	
AS
SELECT     A.NGAY_NHAP, B.TEN_BP_CHIU_PHI, A.MS_MAY, A.NGAY_NHAP AS NGAY_NHAP_CU, A.MS_BP_CHIU_PHI
FROM         dbo.MAY_BO_PHAN_CHIU_PHI AS A INNER JOIN
                      dbo.BO_PHAN_CHIU_PHI AS B ON A.MS_BP_CHIU_PHI = B.MS_BP_CHIU_PHI INNER JOIN
                      dbo.NHOM_BO_PHAN_CHIU_PHI AS C ON B.MS_BP_CHIU_PHI = C.MS_BP_CHIU_PHI INNER JOIN
                      dbo.USERS AS D ON C.GROUP_ID = D.GROUP_ID
WHERE     (D.USERNAME = @UserName)
AND (MS_MAY=@MS_MAY)
ORDER BY NGAY_NHAP desc



