

ALTER proc [dbo].[GetMAY_HE_THONG]
	@MS_MAY NVARCHAR(30),
	@UserName nvarchar(100)	
AS
SELECT     A.NGAY_NHAP, B.TEN_HE_THONG, A.MS_MAY, A.NGAY_NHAP AS NGAY_NHAP_CU, A.MS_HE_THONG
FROM         dbo.MAY_HE_THONG AS A INNER JOIN
                      dbo.HE_THONG AS B ON A.MS_HE_THONG = B.MS_HE_THONG INNER JOIN
                      dbo.NHOM_HE_THONG AS C ON B.MS_HE_THONG = C.MS_HE_THONG INNER JOIN
                      dbo.USERS AS D ON C.GROUP_ID = D.GROUP_ID
WHERE     (D.USERNAME = @UserName) AND (MS_MAY=@MS_MAY)
ORDER BY NGAY_NHAP desc

