
ALTER proc [dbo].[QL_LOAD_VI_TRI_KHO_VAT_TU]
	@MS_KHO int,
	@MS_PT nvarchar(25),
	@MS_VI_TRI int,
	@MS_DH_NHAP_PT nvarchar(14),
	@ID FLOAT
AS

SELECT *
FROM VI_TRI_KHO_VAT_TU
WHERE MS_KHO=@MS_KHO
AND MS_PT=@MS_PT
AND MS_VI_TRI=@MS_VI_TRI
AND MS_DH_NHAP_PT=@MS_DH_NHAP_PT
AND ID=@ID

ORDER BY MS_PT
