
--exec AddVatTuChiTiet 'PN-1307-0030','PHIEU_NHAP_ADDadminISTRATOR'

ALTER PROC [dbo].[AddVatTuChiTiet]
	@MsDHN NVARCHAR(14),
	@sBTam NVARCHAR(200)
AS
BEGIN	

CREATE TABLE #PHIEU_NHAP_ADD (
	[MS_DH_NHAP_PT] [nvarchar](14) NULL,
	[MS_PT] [nvarchar](25) NULL,
	[MS_VI_TRI] [int] NULL,
	[SL_VT] [float] NULL,
	[ID] [float] NULL
) 

DECLARE @sSql nvarchar(4000)
set @sSql = 'INSERT INTO #PHIEU_NHAP_ADD SELECT MS_DH_NHAP_PT,MS_PT,MS_VI_TRI,SL_VT,ID FROM ' + @sBTam + ' WHERE SL_VT IS NOT NULL '
EXEC (@sSql)

set @sSql = 'DROP TABLE ' + @sBTam
EXEC (@sSql)


INSERT INTO IC_DON_HANG_NHAP_VAT_TU_CHI_TIET(MS_DH_NHAP_PT,MS_PT,MS_VI_TRI,SL_VT,ID)
SELECT MS_DH_NHAP_PT,MS_PT,MS_VI_TRI,SL_VT,ID FROM #PHIEU_NHAP_ADD A
WHERE NOT EXISTS 
( SELECT * FROM IC_DON_HANG_NHAP_VAT_TU_CHI_TIET B WHERE A.MS_DH_NHAP_PT = B.MS_DH_NHAP_PT AND
A.MS_PT = B.MS_PT AND A.MS_VI_TRI = B.MS_VI_TRI AND A.ID = B.ID AND B.MS_DH_NHAP_PT = @MsDHN
)


UPDATE IC_DON_HANG_NHAP_VAT_TU_CHI_TIET SET SL_VT = A.SL_VT
FROM #PHIEU_NHAP_ADD A INNER JOIN IC_DON_HANG_NHAP_VAT_TU_CHI_TIET B ON 
A.MS_DH_NHAP_PT = B.MS_DH_NHAP_PT AND A.MS_PT = B.MS_PT AND A.MS_VI_TRI = B.MS_VI_TRI 
AND A.ID = B.ID WHERE  B.MS_DH_NHAP_PT = @MsDHN




END 

