IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'QL_LOAD_VAT_TU_KHO_VI_TRI_NEW')
   exec('CREATE PROCEDURE QL_LOAD_VAT_TU_KHO_VI_TRI_NEW AS BEGIN SET NOCOUNT ON; END')
GO

ALTER proc [dbo].[QL_LOAD_VAT_TU_KHO_VI_TRI_NEW]
	@MS_KHO INT,
	@MS_VI_TRI INT
AS
SELECT DISTINCT PT.MS_PT,  PT.TEN_PT,  VTKVT.SL_VT, VTKVT.MS_DH_NHAP_PT,PT.QUY_CACH,
	PT.MS_PT_NCC, PT.MS_PT_CTY, Convert(float, 0) as SL_DC ,  VTKVT.ID AS ID_DC
FROM dbo.IC_PHU_TUNG AS PT INNER JOIN
	dbo.VI_TRI_KHO_VAT_TU AS VTKVT ON PT.MS_PT = VTKVT.MS_PT
WHERE VTKVT.MS_KHO=@MS_KHO
AND VTKVT.MS_VI_TRI=@MS_VI_TRI
AND VTKVT.SL_VT>0
order by MS_PT 