
ALTER proc [dbo].[GetMAY_NHA_XUONG1]
	@MS_MAY NVARCHAR(30),
	@USERNAME NVARCHAR(50)
AS
SELECT DISTINCT TOP (100) PERCENT A.NGAY_NHAP, B.Ten_N_XUONG + CASE WHEN B.GHI_CHU IS NULL OR
                      B.GHI_CHU = '' THEN '' ELSE '(' + B.GHI_CHU + ')' END AS TEN_N_XUONG, A.MS_MAY, A.NGAY_NHAP AS NGAY_NHAP_CU, A.MS_N_XUONG
FROM         dbo.MAY_NHA_XUONG AS A INNER JOIN
                      dbo.NHA_XUONG AS B ON A.MS_N_XUONG = B.MS_N_XUONG INNER JOIN
                      dbo.NHOM_NHA_XUONG AS C ON A.MS_N_XUONG = C.MS_N_XUONG INNER JOIN
                      dbo.USERS AS D ON C.GROUP_ID = D.GROUP_ID
WHERE     (A.MS_MAY = @MS_MAY) AND (D.USERNAME = @USERNAME)
ORDER BY A.NGAY_NHAP desc
