DELETE FROM LANGUAGES  WHERE FORM ='rptPHIEU_BAO_TRI_NT'
GO
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'MAU_SO') UPDATE LANGUAGES SET VIETNAM=N'Mẫu số', ENGLISH=N'Doc. No.', VIETNAM_OR=N'Mẫu số', ENGLISH_OR=N'Doc. No.' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'MAU_SO' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'MAU_SO',N'Mẫu số',N'Doc. No.',N'Mẫu số',N'Doc. No.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'LAN_BH') UPDATE LANGUAGES SET VIETNAM=N'Lần ban hành', ENGLISH=N'Rev. No.', VIETNAM_OR=N'Lần ban hành', ENGLISH_OR=N'Rev. No.' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'LAN_BH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'LAN_BH',N'Lần ban hành',N'Rev. No.',N'Lần ban hành',N'Rev. No.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGAY_BH') UPDATE LANGUAGES SET VIETNAM=N'Ngày ban hành', ENGLISH=N'Issue Date', VIETNAM_OR=N'Ngày ban hành', ENGLISH_OR=N'Issue Date' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGAY_BH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGAY_BH',N'Ngày ban hành',N'Issue Date',N'Ngày ban hành',N'Issue Date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGAY_LAP') UPDATE LANGUAGES SET VIETNAM=N'Ngày lập', ENGLISH=N'Create Date', VIETNAM_OR=N'Ngày lập', ENGLISH_OR=N'Create Date' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGAY_LAP' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGAY_LAP',N'Ngày lập',N'Create Date',N'Ngày lập',N'Create Date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'LOAI_BT') UPDATE LANGUAGES SET VIETNAM=N'Loại bảo trì', ENGLISH=N'Maint. type', VIETNAM_OR=N'Loại bảo trì', ENGLISH_OR=N'Maint. type' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'LOAI_BT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'LOAI_BT',N'Loại bảo trì',N'Maint. type',N'Loại bảo trì',N'Maint. type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'MS_TB') UPDATE LANGUAGES SET VIETNAM=N'Mã số thiết bị', ENGLISH=N'Equipment ID', VIETNAM_OR=N'Mã số thiết bị', ENGLISH_OR=N'Equipment ID' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'MS_TB' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'MS_TB',N'Mã số thiết bị',N'Equipment ID',N'Mã số thiết bị',N'Equipment ID')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'TEN_TB') UPDATE LANGUAGES SET VIETNAM=N'Tên thiết bị', ENGLISH=N'Equipment Name', VIETNAM_OR=N'Tên thiết bị', ENGLISH_OR=N'Equipment Name' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'TEN_TB' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'TEN_TB',N'Tên thiết bị',N'Equipment Name',N'Tên thiết bị',N'Equipment Name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGUOI_LAP') UPDATE LANGUAGES SET VIETNAM=N'Người lập', ENGLISH=N'Scheduler', VIETNAM_OR=N'Người lập', ENGLISH_OR=N'Scheduler' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGUOI_LAP' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGUOI_LAP',N'Người lập',N'Scheduler',N'Người lập',N'Scheduler')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'STT') UPDATE LANGUAGES SET VIETNAM=N'STT', ENGLISH=N'No.', VIETNAM_OR=N'STT', ENGLISH_OR=N'No.' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'STT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'STT',N'STT',N'No.',N'STT',N'No.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'GIO') UPDATE LANGUAGES SET VIETNAM=N'Số phút KH ', ENGLISH=N'Plan minutes', VIETNAM_OR=N'Số phút KH ', ENGLISH_OR=N'Plan minutes' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'GIO' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'GIO',N'Số phút KH ',N'Plan minutes',N'Số phút KH ',N'Plan minutes')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'BAT_DAU') UPDATE LANGUAGES SET VIETNAM=N'Ngày BĐ', ENGLISH=N'Start date', VIETNAM_OR=N'Ngày BĐ', ENGLISH_OR=N'Start date' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'BAT_DAU' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'BAT_DAU',N'Ngày BĐ',N'Start date',N'Ngày BĐ',N'Start date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'KET_THUC') UPDATE LANGUAGES SET VIETNAM=N'Ngày KT', ENGLISH=N'Complete date ', VIETNAM_OR=N'Ngày KT', ENGLISH_OR=N'Complete date ' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'KET_THUC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'KET_THUC',N'Ngày KT',N'Complete date ',N'Ngày KT',N'Complete date ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'TEN_VT') UPDATE LANGUAGES SET VIETNAM=N'Tên vật tư', ENGLISH=N'Item Name ', VIETNAM_OR=N'Tên vật tư', ENGLISH_OR=N'Item Name ' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'TEN_VT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'TEN_VT',N'Tên vật tư',N'Item Name ',N'Tên vật tư',N'Item Name ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'PART_NO') UPDATE LANGUAGES SET VIETNAM=N'Part No', ENGLISH=N'Part No', VIETNAM_OR=N'Part No', ENGLISH_OR=N'Part No' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'PART_NO' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'PART_NO',N'Part No',N'Part No',N'Part No',N'Part No')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'QUI_CACH') UPDATE LANGUAGES SET VIETNAM=N'Quy cách', ENGLISH=N'Specification', VIETNAM_OR=N'Quy cách', ENGLISH_OR=N'Specification' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'QUI_CACH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'QUI_CACH',N'Quy cách',N'Specification',N'Quy cách',N'Specification')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'DVT') UPDATE LANGUAGES SET VIETNAM=N'ĐVT', ENGLISH=N'MoU', VIETNAM_OR=N'ĐVT', ENGLISH_OR=N'MoU' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'DVT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'DVT',N'ĐVT',N'MoU',N'ĐVT',N'MoU')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'SL_KH') UPDATE LANGUAGES SET VIETNAM=N'SL KH', ENGLISH=N'Plan Qty', VIETNAM_OR=N'SL KH', ENGLISH_OR=N'Plan Qty' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'SL_KH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'SL_KH',N'SL KH',N'Plan Qty',N'SL KH',N'Plan Qty')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'SL_TT') UPDATE LANGUAGES SET VIETNAM=N'SL TT', ENGLISH=N'Actual Qty', VIETNAM_OR=N'SL TT', ENGLISH_OR=N'Actual Qty' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'SL_TT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'SL_TT',N'SL TT',N'Actual Qty',N'SL TT',N'Actual Qty')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'LOAI_DV') UPDATE LANGUAGES SET VIETNAM=N'Loại dịch vụ', ENGLISH=N'Service type', VIETNAM_OR=N'Loại dịch vụ', ENGLISH_OR=N'Service type' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'LOAI_DV' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'LOAI_DV',N'Loại dịch vụ',N'Service type',N'Loại dịch vụ',N'Service type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NCC') UPDATE LANGUAGES SET VIETNAM=N'Nhà cung cấp', ENGLISH=N'Vendor', VIETNAM_OR=N'Nhà cung cấp', ENGLISH_OR=N'Vendor' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NCC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NCC',N'Nhà cung cấp',N'Vendor',N'Nhà cung cấp',N'Vendor')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'SLUONG') UPDATE LANGUAGES SET VIETNAM=N'SL', ENGLISH=N'Qty.', VIETNAM_OR=N'SL', ENGLISH_OR=N'Qty.' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'SLUONG' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'SLUONG',N'SL',N'Qty.',N'SL',N'Qty.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'DON_GIA') UPDATE LANGUAGES SET VIETNAM=N'Đơn giá', ENGLISH=N'Unit price', VIETNAM_OR=N'Đơn giá', ENGLISH_OR=N'Unit price' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'DON_GIA' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'DON_GIA',N'Đơn giá',N'Unit price',N'Đơn giá',N'Unit price')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'THANH_TIEN') UPDATE LANGUAGES SET VIETNAM=N'Thành tiền', ENGLISH=N'Amount', VIETNAM_OR=N'Thành tiền', ENGLISH_OR=N'Amount' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'THANH_TIEN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'THANH_TIEN',N'Thành tiền',N'Amount',N'Thành tiền',N'Amount')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGUOI_TH') UPDATE LANGUAGES SET VIETNAM=N'Người thực hiện', ENGLISH=N'Done by', VIETNAM_OR=N'Người thực hiện', ENGLISH_OR=N'Done by' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGUOI_TH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGUOI_TH',N'Người thực hiện',N'Done by',N'Người thực hiện',N'Done by')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'TMP1') UPDATE LANGUAGES SET VIETNAM=N'Người giám sát', ENGLISH=N'Supervisor', VIETNAM_OR=N'Người giám sát', ENGLISH_OR=N'Supervisor' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'TMP1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'TMP1',N'Người giám sát',N'Supervisor',N'Người giám sát',N'Supervisor')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'TMP2') UPDATE LANGUAGES SET VIETNAM=N'Ngày BĐKH', ENGLISH=N'Start date', VIETNAM_OR=N'Ngày BĐKH', ENGLISH_OR=N'Start date' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'TMP2' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'TMP2',N'Ngày BĐKH',N'Start date',N'Ngày BĐKH',N'Start date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'TMP3') UPDATE LANGUAGES SET VIETNAM=N'Ngày KTKH', ENGLISH=N'End date', VIETNAM_OR=N'Ngày KTKH', ENGLISH_OR=N'End date' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'TMP3' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'TMP3',N'Ngày KTKH',N'End date',N'Ngày KTKH',N'End date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'TMP4') UPDATE LANGUAGES SET VIETNAM=N'Thời gian cấp vật tư', ENGLISH=N'Delivery date', VIETNAM_OR=N'Thời gian cấp vật tư', ENGLISH_OR=N'Delivery date' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'TMP4' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'TMP4',N'Thời gian cấp vật tư',N'Delivery date',N'Thời gian cấp vật tư',N'Delivery date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'TMP5') UPDATE LANGUAGES SET VIETNAM=N'Số:...../.....GDN', ENGLISH=N'No:...../.....GDN', VIETNAM_OR=N'Số:...../.....GDN', ENGLISH_OR=N'No:...../.....GDN' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'TMP5' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'TMP5',N'Số:...../.....GDN',N'No:...../.....GDN',N'Số:...../.....GDN',N'No:...../.....GDN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'PRINT_DATE') UPDATE LANGUAGES SET VIETNAM=N'Ngày in:', ENGLISH=N'Print date:', VIETNAM_OR=N'Ngày in:', ENGLISH_OR=N'Print date:' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'PRINT_DATE' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'PRINT_DATE',N'Ngày in:',N'Print date:',N'Ngày in:',N'Print date:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'PAGE') UPDATE LANGUAGES SET VIETNAM=N'Trang: ', ENGLISH=N'Page: ', VIETNAM_OR=N'Trang: ', ENGLISH_OR=N'Page: ' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'PAGE' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'PAGE',N'Trang: ',N'Page: ',N'Trang: ',N'Page: ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'OF') UPDATE LANGUAGES SET VIETNAM=N'/', ENGLISH=N'/', VIETNAM_OR=N'/', ENGLISH_OR=N'/' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'OF' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'OF',N'/',N'/',N'/',N'/')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'USER_LOG') UPDATE LANGUAGES SET VIETNAM=N'User ', ENGLISH=N'User', VIETNAM_OR=N'User ', ENGLISH_OR=N'User' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'USER_LOG' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'USER_LOG',N'User ',N'User',N'User ',N'User')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGAY_HT') UPDATE LANGUAGES SET VIETNAM=N'Ngày', ENGLISH=N'Date', VIETNAM_OR=N'Ngày', ENGLISH_OR=N'Date' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGAY_HT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGAY_HT',N'Ngày',N'Date',N'Ngày',N'Date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'PHIEU_CONG_TAC') UPDATE LANGUAGES SET VIETNAM=N'PHIẾU BẢO TRÌ ', ENGLISH=N'WORK ORDER', VIETNAM_OR=N'PHIẾU BẢO TRÌ ', ENGLISH_OR=N'WORK ORDER' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'PHIEU_CONG_TAC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'PHIEU_CONG_TAC',N'PHIẾU BẢO TRÌ ',N'WORK ORDER',N'PHIẾU BẢO TRÌ ',N'WORK ORDER')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'PHIEU_CT') UPDATE LANGUAGES SET VIETNAM=N'Phiếu bảo trì ', ENGLISH=N'Work order', VIETNAM_OR=N'Phiếu bảo trì ', ENGLISH_OR=N'Work order' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'PHIEU_CT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'PHIEU_CT',N'Phiếu bảo trì ',N'Work order',N'Phiếu bảo trì ',N'Work order')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'PHIEU_YC') UPDATE LANGUAGES SET VIETNAM=N'Phiếu yêu cầu', ENGLISH=N'Work request', VIETNAM_OR=N'Phiếu yêu cầu', ENGLISH_OR=N'Work request' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'PHIEU_YC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'PHIEU_YC',N'Phiếu yêu cầu',N'Work request',N'Phiếu yêu cầu',N'Work request')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'MUC_UT') UPDATE LANGUAGES SET VIETNAM=N'Mức ưu tiên ', ENGLISH=N'Priority', VIETNAM_OR=N'Mức ưu tiên ', ENGLISH_OR=N'Priority' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'MUC_UT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'MUC_UT',N'Mức ưu tiên ',N'Priority',N'Mức ưu tiên ',N'Priority')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NDYC') UPDATE LANGUAGES SET VIETNAM=N'Nội dung yêu cầu', ENGLISH=N'Request detail', VIETNAM_OR=N'Nội dung yêu cầu', ENGLISH_OR=N'Request detail' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NDYC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NDYC',N'Nội dung yêu cầu',N'Request detail',N'Nội dung yêu cầu',N'Request detail')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'DDIEM') UPDATE LANGUAGES SET VIETNAM=N'Địa điểm', ENGLISH=N'Work site', VIETNAM_OR=N'Địa điểm', ENGLISH_OR=N'Work site' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'DDIEM' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'DDIEM',N'Địa điểm',N'Work site',N'Địa điểm',N'Work site')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'BPCPHI') UPDATE LANGUAGES SET VIETNAM=N'BP. chịu phí', ENGLISH=N'Cost center', VIETNAM_OR=N'BP. chịu phí', ENGLISH_OR=N'Cost center' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'BPCPHI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'BPCPHI',N'BP. chịu phí',N'Cost center',N'BP. chịu phí',N'Cost center')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'KE_HOACH_TH') UPDATE LANGUAGES SET VIETNAM=N'CÔNG ViỆC KẾ HOẠCH ', ENGLISH=N'PLAN WORKS', VIETNAM_OR=N'CÔNG ViỆC KẾ HOẠCH ', ENGLISH_OR=N'PLAN WORKS' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'KE_HOACH_TH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'KE_HOACH_TH',N'CÔNG ViỆC KẾ HOẠCH ',N'PLAN WORKS',N'CÔNG ViỆC KẾ HOẠCH ',N'PLAN WORKS')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'BPHAN') UPDATE LANGUAGES SET VIETNAM=N'Bộ phận', ENGLISH=N'Component', VIETNAM_OR=N'Bộ phận', ENGLISH_OR=N'Component' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'BPHAN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'BPHAN',N'Bộ phận',N'Component',N'Bộ phận',N'Component')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NDTHIEN') UPDATE LANGUAGES SET VIETNAM=N'Nội dung thực hiện', ENGLISH=N'Work details ', VIETNAM_OR=N'Nội dung thực hiện', ENGLISH_OR=N'Work details ' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NDTHIEN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NDTHIEN',N'Nội dung thực hiện',N'Work details ',N'Nội dung thực hiện',N'Work details ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NHAN_SU') UPDATE LANGUAGES SET VIETNAM=N'Người thực hiện', ENGLISH=N'Employees', VIETNAM_OR=N'Người thực hiện', ENGLISH_OR=N'Employees' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NHAN_SU' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NHAN_SU',N'Người thực hiện',N'Employees',N'Người thực hiện',N'Employees')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'DUNG_CU') UPDATE LANGUAGES SET VIETNAM=N'Dụng cụ', ENGLISH=N'Tool', VIETNAM_OR=N'Dụng cụ', ENGLISH_OR=N'Tool' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'DUNG_CU' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'DUNG_CU',N'Dụng cụ',N'Tool',N'Dụng cụ',N'Tool')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'THUC_TE_TH') UPDATE LANGUAGES SET VIETNAM=N'CÔNG ViỆC PHÁT SINH ', ENGLISH=N'UNPLANNED WORKS ', VIETNAM_OR=N'CÔNG ViỆC PHÁT SINH ', ENGLISH_OR=N'UNPLANNED WORKS ' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'THUC_TE_TH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'THUC_TE_TH',N'CÔNG ViỆC PHÁT SINH ',N'UNPLANNED WORKS ',N'CÔNG ViỆC PHÁT SINH ',N'UNPLANNED WORKS ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'VT_CAN_THIET') UPDATE LANGUAGES SET VIETNAM=N'VẬT TƯ CẦN THIẾT', ENGLISH=N'REQUIRED ITEMS', VIETNAM_OR=N'VẬT TƯ CẦN THIẾT', ENGLISH_OR=N'REQUIRED ITEMS' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'VT_CAN_THIET' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'VT_CAN_THIET',N'VẬT TƯ CẦN THIẾT',N'REQUIRED ITEMS',N'VẬT TƯ CẦN THIẾT',N'REQUIRED ITEMS')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'MA_VT') UPDATE LANGUAGES SET VIETNAM=N'Mã VT PT ', ENGLISH=N'Item ID', VIETNAM_OR=N'Mã VT PT ', ENGLISH_OR=N'Item ID' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'MA_VT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'MA_VT',N'Mã VT PT ',N'Item ID',N'Mã VT PT ',N'Item ID')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'DV_THUE_NGOAI') UPDATE LANGUAGES SET VIETNAM=N'DỊCH VỤ THUÊ NGOÀI', ENGLISH=N'OUTSIDE SERVICE ', VIETNAM_OR=N'DỊCH VỤ THUÊ NGOÀI', ENGLISH_OR=N'OUTSIDE SERVICE ' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'DV_THUE_NGOAI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'DV_THUE_NGOAI',N'DỊCH VỤ THUÊ NGOÀI',N'OUTSIDE SERVICE ',N'DỊCH VỤ THUÊ NGOÀI',N'OUTSIDE SERVICE ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NOI_DUNG_DV') UPDATE LANGUAGES SET VIETNAM=N'Nội dung dịch vụ', ENGLISH=N'Service content', VIETNAM_OR=N'Nội dung dịch vụ', ENGLISH_OR=N'Service content' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NOI_DUNG_DV' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NOI_DUNG_DV',N'Nội dung dịch vụ',N'Service content',N'Nội dung dịch vụ',N'Service content')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'DE_XUAT_KHAC') UPDATE LANGUAGES SET VIETNAM=N'ĐỀ XUẤT CỦA BẢO TRÌ ', ENGLISH=N'SUGGESTIONS OF MAITENANCE STAFF', VIETNAM_OR=N'ĐỀ XUẤT CỦA BẢO TRÌ ', ENGLISH_OR=N'SUGGESTIONS OF MAITENANCE STAFF' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'DE_XUAT_KHAC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'DE_XUAT_KHAC',N'ĐỀ XUẤT CỦA BẢO TRÌ ',N'SUGGESTIONS OF MAITENANCE STAFF',N'ĐỀ XUẤT CỦA BẢO TRÌ ',N'SUGGESTIONS OF MAITENANCE STAFF')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'KET_THUC1') UPDATE LANGUAGES SET VIETNAM=N'TÌNH TRẠNG THIẾT BỊ KHI NGHIỆM THU ', ENGLISH=N'EQUIPMENT CONDITION IN ACCEPTANCE ', VIETNAM_OR=N'TÌNH TRẠNG THIẾT BỊ KHI NGHIỆM THU ', ENGLISH_OR=N'EQUIPMENT CONDITION IN ACCEPTANCE ' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'KET_THUC1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'KET_THUC1',N'TÌNH TRẠNG THIẾT BỊ KHI NGHIỆM THU ',N'EQUIPMENT CONDITION IN ACCEPTANCE ',N'TÌNH TRẠNG THIẾT BỊ KHI NGHIỆM THU ',N'EQUIPMENT CONDITION IN ACCEPTANCE ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'QL_THUC_THI') UPDATE LANGUAGES SET VIETNAM=N'Q.lý thực thi', ENGLISH=N'Check by', VIETNAM_OR=N'Q.lý thực thi', ENGLISH_OR=N'Check by' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'QL_THUC_THI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'QL_THUC_THI',N'Q.lý thực thi',N'Check by',N'Q.lý thực thi',N'Check by')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'BEN_YC') UPDATE LANGUAGES SET VIETNAM=N'Bên yêu cầu sửa chữa', ENGLISH=N'Requestor', VIETNAM_OR=N'Bên yêu cầu sửa chữa', ENGLISH_OR=N'Requestor' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'BEN_YC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'BEN_YC',N'Bên yêu cầu sửa chữa',N'Requestor',N'Bên yêu cầu sửa chữa',N'Requestor')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'BEN_KH') UPDATE LANGUAGES SET VIETNAM=N'Phụ trách xưởng SX ', ENGLISH=N'Production Representative', VIETNAM_OR=N'Phụ trách xưởng SX ', ENGLISH_OR=N'Production Representative' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'BEN_KH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'BEN_KH',N'Phụ trách xưởng SX ',N'Production Representative',N'Phụ trách xưởng SX ',N'Production Representative')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'MAU_SO1') UPDATE LANGUAGES SET VIETNAM=N'', ENGLISH=N'', VIETNAM_OR=N'', ENGLISH_OR=N'' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'MAU_SO1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'MAU_SO1',N'',N'',N'',N'')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'LAN_BH1') UPDATE LANGUAGES SET VIETNAM=N'', ENGLISH=N'', VIETNAM_OR=N'', ENGLISH_OR=N'' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'LAN_BH1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'LAN_BH1',N'',N'',N'',N'')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGAY_BH1') UPDATE LANGUAGES SET VIETNAM=N'', ENGLISH=N'', VIETNAM_OR=N'', ENGLISH_OR=N'' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGAY_BH1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGAY_BH1',N'',N'',N'',N'')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGAY_BD_KH') UPDATE LANGUAGES SET VIETNAM=N'Ngày BĐKH', ENGLISH=N'Start date', VIETNAM_OR=N'Ngày BĐKH', ENGLISH_OR=N'Start date' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGAY_BD_KH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGAY_BD_KH',N'Ngày BĐKH',N'Start date',N'Ngày BĐKH',N'Start date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGAY_KT_KH') UPDATE LANGUAGES SET VIETNAM=N'Ngày KT KH', ENGLISH=N'Plan end', VIETNAM_OR=N'Ngày KT KH', ENGLISH_OR=N'Plan end' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGAY_KT_KH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGAY_KT_KH',N'Ngày KT KH',N'Plan end',N'Ngày KT KH',N'Plan end')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGSAT') UPDATE LANGUAGES SET VIETNAM=N'Giám sát', ENGLISH=N'Supervisor', VIETNAM_OR=N'Giám sát', ENGLISH_OR=N'Supervisor' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGSAT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGSAT',N'Giám sát',N'Supervisor',N'Giám sát',N'Supervisor')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGAY_BD_TT ') UPDATE LANGUAGES SET VIETNAM=N'Ngày BĐ TT ', ENGLISH=N'Act.Start date ', VIETNAM_OR=N'Ngày BĐ TT ', ENGLISH_OR=N'Act.Start date ' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGAY_BD_TT ' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGAY_BD_TT ',N'Ngày BĐ TT ',N'Act.Start date ',N'Ngày BĐ TT ',N'Act.Start date ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'NGAY_KT_TT') UPDATE LANGUAGES SET VIETNAM=N'Ngày KT TT', ENGLISH=N'Act. End Date', VIETNAM_OR=N'Ngày KT TT', ENGLISH_OR=N'Act. End Date' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'NGAY_KT_TT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'NGAY_KT_TT',N'Ngày KT TT',N'Act. End Date',N'Ngày KT TT',N'Act. End Date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD =N'So_Phut_TT') UPDATE LANGUAGES SET VIETNAM=N'Số phút TT', ENGLISH=N'Actual minutes', VIETNAM_OR=N'Số phút TT', ENGLISH_OR=N'Actual minutes' WHERE FORM=N'rptPHIEU_BAO_TRI_NT' AND KEYWORD=N'So_Phut_TT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptPHIEU_BAO_TRI_NT',N'So_Phut_TT',N'Số phút TT',N'Actual minutes',N'Số phút TT',N'Actual minutes')