IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetDON_VI_USER')
   exec('CREATE PROCEDURE GetDON_VI_USER AS BEGIN SET NOCOUNT ON; END')
GO


--EXEC GetDON_VI_USER 'TRUNGNV'
ALTER proc [dbo].[GetDON_VI_USER]
	@Username nvarchar(50) = 'Admin'
AS

SELECT DISTINCT T2.MS_DON_VI INTO #PB_USER
FROM            dbo.NHOM_TO_PHONG_BAN AS T1 INNER JOIN
                         dbo.TO_PHONG_BAN AS T2 ON T1.MS_TO = T2.MS_TO INNER JOIN
                         dbo.USERS AS T3 ON T1.GROUP_ID = T3.GROUP_ID
WHERE        (T3.USERNAME = @Username)

SELECT T.* FROM DON_VI T Inner  JOIN #PB_USER T1 ON T.MS_DON_VI = T1.MS_DON_VI
UNION
select T.* from DON_VI T WHERE NOT EXISTS (
SELECT DISTINCT dbo.TO_PHONG_BAN.MS_DON_VI
FROM            dbo.NHOM_TO_PHONG_BAN INNER JOIN
                         dbo.TO_PHONG_BAN ON dbo.NHOM_TO_PHONG_BAN.MS_TO = dbo.TO_PHONG_BAN.MS_TO
WHERE T.MS_DON_VI = TO_PHONG_BAN.MS_DON_VI) 

