
--exec MGetLoaiVT 1, 1

ALTER procedure [dbo].[MGetLoaiVT]
	@NNgu INT,
	@COALL BIT
	
 AS
 IF @COALL = 0
	IF @NNgu = 0
		SELECT MS_LOAI_VT,TEN_LOAI_VT_TV AS TEN_LVT FROM LOAI_VT ORDER BY TEN_LVT
	ELSE
		BEGIN
			IF @NNgu = 1
				SELECT MS_LOAI_VT,TEN_LOAI_VT_TA AS TEN_LVT FROM LOAI_VT ORDER BY TEN_LVT
			ELSE
				SELECT MS_LOAI_VT,TEN_LOAI_VT_TH AS TEN_LVT FROM LOAI_VT ORDER BY TEN_LVT
		END
else
	IF @NNgu = 0
		SELECT MS_LOAI_VT,TEN_LOAI_VT_TV AS TEN_LVT FROM LOAI_VT 
		UNION SELECT -1 , N' < ALL > '	ORDER BY TEN_LVT
	ELSE
		BEGIN
			IF @NNgu = 1
				SELECT MS_LOAI_VT,TEN_LOAI_VT_TA AS TEN_LVT FROM LOAI_VT
				UNION SELECT -1 , N' < ALL > '	ORDER BY TEN_LVT
			ELSE
				SELECT MS_LOAI_VT,TEN_LOAI_VT_TH AS TEN_LVT FROM LOAI_VT
				UNION SELECT -1 , N' < ALL > '	ORDER BY MS_LOAI_VT
		END


