IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetCAU_TRUC_THIET_BI_NEW')
   exec('CREATE PROCEDURE GetCAU_TRUC_THIET_BI_NEW AS BEGIN SET NOCOUNT ON; END')
GO
-------------------------
ALTER PROC [dbo].[GetCAU_TRUC_THIET_BI_NEW]
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN NVARCHAR(30)
AS
SELECT MS_MAY,MS_BO_PHAN,TEN_BO_PHAN,SO_LUONG,MS_BO_PHAN_CHA,GHI_CHU,RUN_TIME,MS_DVT_RT,HINH,CAU_TRUC_THIET_BI.MS_PT + ' - ' + TEN_PT AS MS_PT,CLASS_ID , STT
FROM CAU_TRUC_THIET_BI LEFT JOIN IC_PHU_TUNG ON CAU_TRUC_THIET_BI.MS_PT=IC_PHU_TUNG.MS_PT
WHERE MS_MAY=@MS_MAY AND MS_BO_PHAN=@MS_BO_PHAN
ORDER BY ISNULL(STT, 999)
