
--EXEC [SP_Y_GET_PBQHKT] 'ADMIN',0,'-1','-1','-1','-1','-1','-1','-1'
ALTER procedure [dbo].[SP_Y_GET_PBQHKT]
	@USERNAME NVARCHAR (64), 
	@LANGUAGE INT,
	@MS_NHA_XUONG NVARCHAR (50), 
	@MS_HE_THONG INT ,
	@MS_LOAI_MAY NVARCHAR(30),
	@MS_MAY NVARCHAR (30),
	@MS_TINH NVARCHAR(100),
	@MS_QUAN NVARCHAR(100),
	@MS_DUONG NVARCHAR(100)
AS
DECLARE @DENNGAY DATETIME
SET @DENNGAY = CONVERT(DATE,GETDATE())

SELECT * INTO #MAY FROM dbo.MGetMayUserNgay(@DENNGAY, @USERNAME, @MS_NHA_XUONG, @MS_HE_THONG, -1, @MS_LOAI_MAY, '-1',@MS_MAY, @LANGUAGE)



SELECT T2.MS_PHIEU_BAO_TRI,T1.MS_MAY,T1.TEN_MAY,T3.TEN_LOAI_BT,
       CONVERT(DATE,NGAY_BD_KH) AS NGAY_BD_KH , CONVERT(DATE,NGAY_KT_KH) AS NGAY_KT_KH  ,T1.TEN_N_XUONG,
	CASE @LANGUAGE WHEN 0 THEN TEN_TINH_TRANG WHEN 1 THEN TEN_TINH_TRANG_ANH ELSE TEN_TINH_TRANG_HOA END AS TEN_TINH_TRANG
	
		
FROM         #MAY AS T1 INNER JOIN
                      dbo.PHIEU_BAO_TRI AS T2 ON T1.MS_MAY = T2.MS_MAY INNER JOIN
                      dbo.LOAI_BAO_TRI AS T3 ON T2.MS_LOAI_BT = T3.MS_LOAI_BT INNER JOIN 
						 TINH_TRANG_PBT T5 ON T2.TINH_TRANG_PBT = T5.STT
WHERE (T2.NGAY_KT_KH < CONVERT(NVARCHAR (10),@DENNGAY,102) ) AND T5.STT = 2



