
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetYEU_CAU_NSD_CHI_TIET_BO_PHAN')
   exec('CREATE PROCEDURE GetYEU_CAU_NSD_CHI_TIET_BO_PHAN AS BEGIN SET NOCOUNT ON; END')
GO
--EXEC GetYEU_CAU_NSD_CHI_TIET_BO_PHAN 72 , 'BEC-2501',135

ALTER procedure [dbo].[GetYEU_CAU_NSD_CHI_TIET_BO_PHAN] 
	@STT INT,
	@MS_MAY	NVARCHAR(30),
	@STT_VAN_DE 	INT
AS
	SELECT T.STT, T.MS_MAY,T.STT_VAN_DE,T.STT_BO_PHAN , T.MS_BO_PHAN, T1.TEN_BO_PHAN , T.MS_PT, CONVERT(INT, 0) AS DEL  FROM YEU_CAU_NSD_CHI_TIET_BO_PHAN T
	INNER JOIN CAU_TRUC_THIET_BI T1 ON T1.MS_BO_PHAN = T.MS_BO_PHAN AND T.MS_MAY = T1.MS_MAY 
	WHERE	(T.STT=@STT)
	AND (T.MS_MAY = @MS_MAY OR @MS_MAY = '-1' )
	AND (T.STT_VAN_DE = @STT_VAN_DE OR @STT_VAN_DE = -1 )
	ORDER BY ISNULL(T1.STT, 999)
