
ALTER procedure [dbo].[DeleteYEU_CAU_NSD]
@STT INTEGER
AS
DELETE  FROM YEU_CAU_NSD_CHI_TIET_HINH WHERE STT=@STT 
DELETE FROM YEU_CAU_NSD_CHI_TIET_BO_PHAN WHERE STT=@STT 

DELETE  FROM YEU_CAU_NSD_CHI_TIET WHERE STT=@STT

DELETE FROM YEU_CAU_NSD WHERE STT=@STT

DBCC CHECKIDENT (YEU_CAU_NSD_CHI_TIET_HINH,RESEED,0)
DBCC CHECKIDENT (YEU_CAU_NSD_CHI_TIET_HINH,RESEED)

DBCC CHECKIDENT (YEU_CAU_NSD_CHI_TIET,RESEED,0)
DBCC CHECKIDENT (YEU_CAU_NSD_CHI_TIET,RESEED)

DBCC CHECKIDENT (YEU_CAU_NSD,RESEED,0)
DBCC CHECKIDENT (YEU_CAU_NSD,RESEED)
