

--exec MGetCNVaiTroUsers 2, 'admin'
ALTER proc [dbo].[MGetCNVaiTroUsers]
	@iVaiTro int,
	@User NVARCHAR(255)
AS	

SELECT DISTINCT MS_CONG_NHAN INTO #CNVT FROM CONG_NHAN_VAI_TRO WHERE (MS_VAI_TRO  = @iVaiTro) or (@iVaiTro = -1)

	SELECT Distinct MS_TO INTO #TO_USER FROM [dbo].[MGetDonViPhongBanUser](@User)

	SELECT A.MS_CONG_NHAN, (HO + ' ' +  TEN)  AS HO_TEN_CONG_NHAN 
	FROM CONG_NHAN A INNER JOIN #CNVT B ON	A.MS_CONG_NHAN  = B.MS_CONG_NHAN
	INNER JOIN [TO] T1 ON T1.MS_TO1 = A.MS_TO 
	INNER JOIN #TO_USER T ON T.MS_TO = T1.MS_TO 
	
	ORDER BY HO  , TEN 




	
	


