IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetPTTheoBoPhan')
   exec('CREATE PROCEDURE spGetPTTheoBoPhan AS BEGIN SET NOCOUNT ON; END')
GO
-----------------exec spGetPTTheoBoPhan 'BEC-2501', '02.03', 'ChonPhuTungChoMayadmin'
ALTER PROCEDURE [dbo].[spGetPTTheoBoPhan]
	@MS_MAY Nvarchar(30),
	@MS_BO_PHAN nvarchar(30),
	@sBTT nvarchar(30)
AS
	
	--DECLARE @sSql NVARCHAR (4000)
	--SET @sSql = 'SELECT DISTINCT * INTO PTTheoMayTMP FROM ' + @sBTT
	--EXEC (@sSQL)

SELECT CONVERT(BIT, 0) AS CHON, dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN,dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN, dbo.IC_PHU_TUNG.MS_PT, dbo.IC_PHU_TUNG.TEN_PT, dbo.IC_PHU_TUNG.MS_PT_CTY,
			dbo.IC_PHU_TUNG.QUY_CACH, CONVERT(INT, 0) AS DEL
FROM         dbo.CAU_TRUC_THIET_BI INNER JOIN
                      dbo.CAU_TRUC_THIET_BI_PHU_TUNG ON dbo.CAU_TRUC_THIET_BI.MS_MAY = dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_MAY AND 
                      dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_BO_PHAN INNER JOIN
                      dbo.IC_PHU_TUNG ON dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN 
                      DON_VI_TINH ON IC_PHU_TUNG.DVT=DON_VI_TINH.DVT LEFT JOIN 
                      (SELECT MS_PT,SUM(SL_VT) AS SL_TON FROM VI_TRI_KHO_VAT_TU GROUP BY MS_PT) SLT ON 
                      dbo.IC_PHU_TUNG.MS_PT = SLT.MS_PT 					
WHERE dbo.CAU_TRUC_THIET_BI.MS_MAY = @MS_MAY 
	AND dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN=@MS_BO_PHAN
	AND ACTIVE_PT = 1 --AND NOT EXISTS (SELECT * FROM   PTTheoMayTMP T1 WHERE T1.MS_BO_PHAN = CAU_TRUC_THIET_BI_PHU_TUNG.MS_BO_PHAN AND T1.MS_MAY = CAU_TRUC_THIET_BI_PHU_TUNG.MS_MAY AND T1.MS_PT = CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT)
GROUP BY   dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN, dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN,  dbo.IC_PHU_TUNG.TEN_PT, dbo.IC_PHU_TUNG.MS_PT,dbo.IC_PHU_TUNG.MS_PT_CTY,	dbo.IC_PHU_TUNG.QUY_CACH
ORDER BY MS_PT

--DROP TABLE PTTheoMayTMP
	

