
ALTER procedure [dbo].[GetGIA_TRI_DINH_TINHs] 
	@MS_TS_GSTT nvarchar(10),
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN NVARCHAR(50),
	@STT INT
AS
/*	if @MS_TS_GSTT=-1 AND @MS_MAY=''
	SELECT DISTINCT 
                      MAY_THONG_SO_GSTT.MS_MAY, THONG_SO_GSTT.TEN_TS_GSTT, MAY_THONG_SO_GSTT.MS_TS_GSTT, NHOM_MAY.TEN_NHOM_MAY, 
                      GIA_TRI_TS_GSTT.TEN_GIA_TRI, GIA_TRI_TS_GSTT.DAT,GIA_TRI_TS_GSTT.STT
	FROM         MAY_THONG_SO_GSTT INNER JOIN
	                      MAY ON MAY_THONG_SO_GSTT.MS_MAY = MAY.MS_MAY INNER JOIN
	                      NHOM_MAY ON MAY.MS_NHOM_MAY = NHOM_MAY.MS_NHOM_MAY INNER JOIN
	                      THONG_SO_GSTT ON MAY_THONG_SO_GSTT.MS_TS_GSTT = THONG_SO_GSTT.MS_TS_GSTT INNER JOIN
	                      GIA_TRI_TS_GSTT ON THONG_SO_GSTT.MS_TS_GSTT = GIA_TRI_TS_GSTT.MS_TS_GSTT
	WHERE     (THONG_SO_GSTT.LOAI_TS = 1) 
	IF  @MS_TS_GSTT!=-1 AND @MS_MAY !=''
	SELECT DISTINCT 
                      MAY_THONG_SO_GSTT.MS_MAY, THONG_SO_GSTT.TEN_TS_GSTT, MAY_THONG_SO_GSTT.MS_TS_GSTT, NHOM_MAY.TEN_NHOM_MAY, 
                      GIA_TRI_TS_GSTT.TEN_GIA_TRI, GIA_TRI_TS_GSTT.DAT,GIA_TRI_TS_GSTT.STT
	FROM         MAY_THONG_SO_GSTT INNER JOIN
	                      MAY ON MAY_THONG_SO_GSTT.MS_MAY = MAY.MS_MAY INNER JOIN
	                      NHOM_MAY ON MAY.MS_NHOM_MAY = NHOM_MAY.MS_NHOM_MAY INNER JOIN
	                      THONG_SO_GSTT ON MAY_THONG_SO_GSTT.MS_TS_GSTT = THONG_SO_GSTT.MS_TS_GSTT INNER JOIN
	                      GIA_TRI_TS_GSTT ON THONG_SO_GSTT.MS_TS_GSTT = GIA_TRI_TS_GSTT.MS_TS_GSTT
	WHERE     (THONG_SO_GSTT.LOAI_TS = 1) AND (MAY_THONG_SO_GSTT.MS_TS_GSTT = @MS_TS_GSTT) AND (MAY_THONG_SO_GSTT.MS_MAY = @MS_MAY)
	IF  @MS_TS_GSTT=-1 AND @MS_MAY !=''
	SELECT DISTINCT 
                      MAY_THONG_SO_GSTT.MS_MAY, THONG_SO_GSTT.TEN_TS_GSTT, MAY_THONG_SO_GSTT.MS_TS_GSTT, NHOM_MAY.TEN_NHOM_MAY, 
                      GIA_TRI_TS_GSTT.TEN_GIA_TRI, GIA_TRI_TS_GSTT.DAT,GIA_TRI_TS_GSTT.STT
	FROM         MAY_THONG_SO_GSTT INNER JOIN
	                      MAY ON MAY_THONG_SO_GSTT.MS_MAY = MAY.MS_MAY INNER JOIN
	                      NHOM_MAY ON MAY.MS_NHOM_MAY = NHOM_MAY.MS_NHOM_MAY INNER JOIN
	                      THONG_SO_GSTT ON MAY_THONG_SO_GSTT.MS_TS_GSTT = THONG_SO_GSTT.MS_TS_GSTT INNER JOIN
	                      GIA_TRI_TS_GSTT ON THONG_SO_GSTT.MS_TS_GSTT = GIA_TRI_TS_GSTT.MS_TS_GSTT
	WHERE     (THONG_SO_GSTT.LOAI_TS = 1) AND (MAY_THONG_SO_GSTT.MS_MAY = @MS_MAY)
*/
/*if @MS_TS_GSTT='-1' AND @MS_MAY=''
	SELECT DISTINCT 
                      CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY, THONG_SO_GSTT.TEN_TS_GSTT, CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT, MS_BO_PHAN,
                      NHOM_MAY.TEN_NHOM_MAY, GIA_TRI_TS_GSTT.TEN_GIA_TRI, GIA_TRI_TS_GSTT.GHI_CHU AS DAT, GIA_TRI_TS_GSTT.STT
	FROM         CAU_TRUC_THIET_BI_TS_GSTT INNER JOIN
                      THONG_SO_GSTT ON CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT = THONG_SO_GSTT.MS_TS_GSTT INNER JOIN
                      GIA_TRI_TS_GSTT ON THONG_SO_GSTT.MS_TS_GSTT = GIA_TRI_TS_GSTT.MS_TS_GSTT INNER JOIN
                      MAY ON CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = MAY.MS_MAY INNER JOIN
                      NHOM_MAY ON MAY.MS_NHOM_MAY = NHOM_MAY.MS_NHOM_MAY
	WHERE     (THONG_SO_GSTT.LOAI_TS = 1) AND MS_BO_PHAN=@MS_BO_PHAN
	IF  @MS_TS_GSTT!='-1' AND @MS_MAY !=''
	SELECT DISTINCT 
                      CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY, THONG_SO_GSTT.TEN_TS_GSTT, CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT,MS_BO_PHAN, NHOM_MAY.TEN_NHOM_MAY, 
                      GIA_TRI_TS_GSTT.TEN_GIA_TRI, GIA_TRI_TS_GSTT.GHI_CHU AS DAT,GIA_TRI_TS_GSTT.STT
	FROM         CAU_TRUC_THIET_BI_TS_GSTT INNER JOIN
	                      MAY ON CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = MAY.MS_MAY INNER JOIN
	                      NHOM_MAY ON MAY.MS_NHOM_MAY = NHOM_MAY.MS_NHOM_MAY INNER JOIN
	                      THONG_SO_GSTT ON CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT = THONG_SO_GSTT.MS_TS_GSTT INNER JOIN
	                      GIA_TRI_TS_GSTT ON THONG_SO_GSTT.MS_TS_GSTT = GIA_TRI_TS_GSTT.MS_TS_GSTT
	WHERE     (THONG_SO_GSTT.LOAI_TS = 1) AND (CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT = @MS_TS_GSTT) AND (CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = @MS_MAY) AND MS_BO_PHAN=@MS_BO_PHAN
	IF  @MS_TS_GSTT='-1' AND @MS_MAY !=''*/
	SELECT DISTINCT 
                      CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY, THONG_SO_GSTT.TEN_TS_GSTT, CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT,MS_BO_PHAN,CAU_TRUC_THIET_BI_TS_GSTT.MS_TT, NHOM_MAY.TEN_NHOM_MAY, 
                      GIA_TRI_TS_GSTT.TEN_GIA_TRI,  GIA_TRI_TS_GSTT.GHI_CHU AS DAT,GIA_TRI_TS_GSTT.STT,GIA_TRI_TS_GSTT.DAT AS KQ
	FROM         CAU_TRUC_THIET_BI_TS_GSTT INNER JOIN
	                      MAY ON CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = MAY.MS_MAY INNER JOIN
	                      NHOM_MAY ON MAY.MS_NHOM_MAY = NHOM_MAY.MS_NHOM_MAY INNER JOIN
	                      THONG_SO_GSTT ON CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT = THONG_SO_GSTT.MS_TS_GSTT INNER JOIN
	                      GIA_TRI_TS_GSTT ON THONG_SO_GSTT.MS_TS_GSTT = GIA_TRI_TS_GSTT.MS_TS_GSTT
	WHERE     (THONG_SO_GSTT.LOAI_TS = 1) 
AND (CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = @MS_MAY) 
AND MS_BO_PHAN=@MS_BO_PHAN 
AND  GIA_TRI_TS_GSTT.MS_TS_GSTT=@MS_TS_GSTT
--AND GIA_TRI_TS_GSTT.STT -- NOT IN (SELECT DISTINCT STT_GT  FROM GIAM_SAT_TINH_TRANG_TS_DT GSTTDT WHERE GSTTDT.STT=@STT and MS_MAY = @MS_MAY AND MS_BO_PHAN=@MS_BO_PHAN AND  MS_TS_GSTT=@MS_TS_GSTT)
