
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetPhutungTheoMay')
   exec('CREATE PROCEDURE GetPhutungTheoMay AS BEGIN SET NOCOUNT ON; END')
GO
--exec GetPhutungTheoMay 'EXT-2501', '2016/09/15','10:00','2016/09/15','12:00'
ALTER procedure [dbo].[GetPhutungTheoMay] 	
	@MS_MAY	NVARCHAR(30),
	@NGAY DATETIME,
	@TU_GIO DATETIME,
	@DEN_NGAY DATETIME,
	@DEN_GIO DATETIME 
AS

	--SELECT T1.*, T2.TEN_BO_PHAN, CONVERT(INT, 0) AS DEL FROM THOI_GIAN_NGUNG_MAY_PHU_TUNG T1
	--INNER JOIN CAU_TRUC_THIET_BI T2 ON T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.MS_MAY = T2.MS_MAY  WHERE T1.MS_MAY = @MS_MAY AND NGAY = @NGAY AND TU_GIO = @TU_GIO
	--AND DEN_NGAY = @DEN_NGAY AND DEN_GIO = @DEN_GIO