
ALTER procedure [dbo].[GetDANH_SACH_CAU_TRUC_THIET_BI_CONG_VIECs]
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN NVARCHAR(50),
	@USERNAME NVARCHAR(50),
	@MS_PHIEU_BAO_TRI NVARCHAR(50)
 AS
SELECT DISTINCT 
                      A.MS_MAY, A.MS_BO_PHAN, A.MS_CV, B.MO_TA_CV AS MA_CV, F.TEN_CHUYEN_MON, G.TEN_BAC_THO, G.MS_BAC_THO, 
					  --B.THOI_GIAN_DU_KIEN
					  CASE ISNULL(A.TG_KH,0) WHEN 0 THEN  ISNULL(B.THOI_GIAN_DU_KIEN,0) ELSE ISNULL(A.TG_KH,0) END AS THOI_GIAN_DU_KIEN, B.DINH_MUC, 
                      B.NGOAI_TE, B.THAO_TAC, B.TIEU_CHUAN_KT,B.PATH_HD, B.SO_NGUOI,B.YEU_CAU_NS,B.YEU_CAU_DUNG_CU
FROM         dbo.CAU_TRUC_THIET_BI_CONG_VIEC AS A INNER JOIN
                      dbo.CONG_VIEC AS B ON A.MS_CV = B.MS_CV INNER JOIN
                      dbo.LOAI_CONG_VIEC AS C ON B.MS_LOAI_CV = C.MS_LOAI_CV INNER JOIN
                      dbo.NHOM_LOAI_CONG_VIEC AS D ON C.MS_LOAI_CV = D.MS_LOAI_CV INNER JOIN
                      dbo.NHOM AS E ON D.GROUP_ID = E.GROUP_ID INNER JOIN
                      dbo.USERS AS H ON E.GROUP_ID = H.GROUP_ID LEFT OUTER JOIN
                      dbo.CHUYEN_MON AS F ON B.MS_CHUYEN_MON = F.MS_CHUYEN_MON LEFT OUTER JOIN
                      dbo.BAC_THO AS G ON B.MS_BAC_THO = G.MS_BAC_THO
WHERE     (H.USERNAME = @USERNAME) AND (A.MS_MAY = @MS_MAY) AND (A.MS_BO_PHAN = @MS_BO_PHAN) AND (A.ACTIVE = 1) AND (A.MS_CV NOT IN
                          (SELECT     MS_CV
                            FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC
                            WHERE      (MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) 
                            AND (MS_BO_PHAN = A.MS_BO_PHAN)))
