

-- exec SP_NHU_Y_GET_CHON_CV_KHTT 'BL1001' ,'01.13','-1','admin'
ALTER PROC [dbo].[SP_NHU_Y_GET_CHON_CV_KHTT]
	@MS_MAY NVARCHAR(50),
	@MS_BO_PHAN NVARCHAR(50),
	@MS_LOAI_CV NVARCHAR(50),
	@UserName NVARCHAR(100)
AS

CREATE TABLE #CVBP([MS_CV] INT ,
	MS_BO_PHAN NVARCHAR(250) COLLATE SQL_Latin1_General_CP1_CI_AS ,
	MS_MAY NVARCHAR(250) COLLATE SQL_Latin1_General_CP1_CI_AS )
	
DECLARE @sSql nvarchar(4000)
set @sSql = 'INSERT INTO #CVBP SELECT MS_CV,MS_BO_PHAN,MS_MAY FROM CV_TMP' + @UserName  + ' WHERE MS_MAY = ''' +  @MS_MAY + ''' AND MS_BO_PHAN = ''' +  @MS_BO_PHAN + ''' '

EXEC (@sSql)

-- 

SELECT CAU_TRUC_THIET_BI_CONG_VIEC.MS_MAY, CAU_TRUC_THIET_BI_CONG_VIEC.MS_CV, CAU_TRUC_THIET_BI_CONG_VIEC.MS_BO_PHAN, CAU_TRUC_THIET_BI_CONG_VIEC.GHI_CHU, CAU_TRUC_THIET_BI_CONG_VIEC.ACTIVE, MO_TA_CV,CASE ISNULL(CAU_TRUC_THIET_BI_CONG_VIEC.TG_KH,0) WHEN 0 THEN  ISNULL(CONG_VIEC.THOI_GIAN_DU_KIEN,0) ELSE ISNULL(CAU_TRUC_THIET_BI_CONG_VIEC.TG_KH,0) END AS TG_KH ,TEN_BO_PHAN
 FROM CAU_TRUC_THIET_BI_CONG_VIEC INNER JOIN CAU_TRUC_THIET_BI ON CAU_TRUC_THIET_BI_CONG_VIEC.MS_MAY=CAU_TRUC_THIET_BI.MS_MAY
 AND CAU_TRUC_THIET_BI_CONG_VIEC.MS_BO_PHAN=CAU_TRUC_THIET_BI.MS_BO_PHAN INNER JOIN CONG_VIEC ON CAU_TRUC_THIET_BI_CONG_VIEC.MS_CV=CONG_VIEC.MS_CV 
WHERE (CAU_TRUC_THIET_BI_CONG_VIEC.MS_MAY=@MS_MAY) AND (CAU_TRUC_THIET_BI_CONG_VIEC.MS_BO_PHAN=@MS_BO_PHAN) 
AND (MS_LOAI_CV=@MS_LOAI_CV or @MS_LOAI_CV = '-1') AND (CAU_TRUC_THIET_BI_CONG_VIEC.ACTIVE=1 )
AND NOT EXISTS( SELECT * FROM #CVBP B WHERE  CAU_TRUC_THIET_BI_CONG_VIEC.MS_CV = B.MS_CV AND CAU_TRUC_THIET_BI_CONG_VIEC.MS_BO_PHAN = B.MS_BO_PHAN
AND CAU_TRUC_THIET_BI_CONG_VIEC.MS_MAY = B.MS_MAY)


