
----------------------
--EXEC GET_BTCVBP
ALTER procedure [dbo].[GET_BTCVBP]
as
SELECT  DISTINCT dbo.MAY_LOAI_BTPN_CONG_VIEC.MS_MAY, dbo.MAY_LOAI_BTPN_CONG_VIEC.MS_LOAI_BT, dbo.MAY_LOAI_BTPN_CONG_VIEC.MS_CV, 
                 dbo.MAY_LOAI_BTPN_CONG_VIEC.MS_BO_PHAN
FROM dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG RIGHT OUTER JOIN
                 dbo.MAY_LOAI_BTPN_CONG_VIEC ON dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_MAY = dbo.MAY_LOAI_BTPN_CONG_VIEC.MS_MAY AND 
                 dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_LOAI_BT = dbo.MAY_LOAI_BTPN_CONG_VIEC.MS_LOAI_BT AND 
                 dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_CV = dbo.MAY_LOAI_BTPN_CONG_VIEC.MS_CV AND 
                 dbo.MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = dbo.MAY_LOAI_BTPN_CONG_VIEC.MS_BO_PHAN
				 INNER JOIN BTDK_TMP ON MAY_LOAI_BTPN_CONG_VIEC.MS_MAY = BTDK_TMP.MS_MAY

