
ALTER proc [dbo].[GetMAY_LOAI_BTPN_CONG_VIEC]
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT
AS
SELECT MAY_LOAI_BTPN_CONG_VIEC.*,(MAY_LOAI_BTPN_CONG_VIEC.MS_BO_PHAN  + ' - ' + TEN_BO_PHAN) AS TEN_BO_PHAN,MO_TA_CV,KY_HIEU_CV FROM MAY_LOAI_BTPN_CONG_VIEC INNER JOIN CONG_VIEC ON MAY_LOAI_BTPN_CONG_VIEC.MS_CV=CONG_VIEC.MS_CV 
INNER JOIN CAU_TRUC_THIET_BI ON MAY_LOAI_BTPN_CONG_VIEC.MS_MAY=CAU_TRUC_THIET_BI.MS_MAY AND MAY_LOAI_BTPN_CONG_VIEC.MS_BO_PHAN=CAU_TRUC_THIET_BI.MS_BO_PHAN 
WHERE MAY_LOAI_BTPN_CONG_VIEC.MS_MAY=@MS_MAY AND MS_LOAI_BT=@MS_LOAI_BT ORDER BY ISNULL(STT, 999),MO_TA_CV
