
----05/2014----
--exec GetDANH_SACH_KE_HOACH_TONG_THE_CONG_VIECs 'BHCA-04',22,'administrator','WO-201009001'
	   
ALTER PROCEDURE [dbo].[GetDANH_SACH_KE_HOACH_TONG_THE_CONG_VIECs]
@MS_MAY NVARCHAR(30),
@HANG_MUC_ID INTEGER,
@USERNAME NVARCHAR(50),
@MS_PHIEU_BAO_TRI NVARCHAR(20)

 AS
  
 --DECLARE @MS_MAY NVARCHAR(100)
 --SET @MS_MAY = (SELECT TOP 1 MS_MAY FROM PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)


SELECT DISTINCT 
                      T1.HANG_MUC_ID, T1.MS_CV, T2.MO_TA_CV AS MA_CV, T1.MS_BO_PHAN, (T1.MS_BO_PHAN + ' - ' + T9.TEN_BO_PHAN) AS TEN_BO_PHAN, T1.MS_MAY, T7.TEN_CHUYEN_MON, T8.TEN_BAC_THO, T8.MS_BAC_THO, 
CASE ISNULL(T10.TG_KH,0) WHEN 0 THEN  ISNULL(T2.THOI_GIAN_DU_KIEN,0) ELSE ISNULL(T10.TG_KH,0) END AS THOI_GIAN_DU_KIEN,
                      T2.THAO_TAC, T2.TIEU_CHUAN_KT, T2.PATH_HD, T2.SO_NGUOI, T2.YEU_CAU_NS, T2.YEU_CAU_DUNG_CU
FROM         dbo.KE_HOACH_TONG_CONG_VIEC AS T1 INNER JOIN
                      dbo.CONG_VIEC AS T2 ON T1.MS_CV = T2.MS_CV INNER JOIN
                      dbo.LOAI_CONG_VIEC AS T3 ON T2.MS_LOAI_CV = T3.MS_LOAI_CV INNER JOIN
                      dbo.NHOM_LOAI_CONG_VIEC AS T4 ON T3.MS_LOAI_CV = T4.MS_LOAI_CV INNER JOIN
                      dbo.NHOM AS T5 ON T4.GROUP_ID = T5.GROUP_ID INNER JOIN
                      dbo.USERS AS T6 ON T5.GROUP_ID = T6.GROUP_ID LEFT OUTER JOIN
                      dbo.CHUYEN_MON AS T7 ON T2.MS_CHUYEN_MON = T7.MS_CHUYEN_MON LEFT OUTER JOIN
                      dbo.BAC_THO AS T8 ON T2.MS_BAC_THO = T8.MS_BAC_THO INNER JOIN
                      dbo.CAU_TRUC_THIET_BI AS T9 ON T1.MS_BO_PHAN = T9.MS_BO_PHAN AND T1.MS_MAY = T9.MS_MAY INNER JOIN
                      dbo.CAU_TRUC_THIET_BI_CONG_VIEC AS T10 ON T9.MS_MAY = T10.MS_MAY 
                      AND T9.MS_BO_PHAN = T10.MS_BO_PHAN AND T1.MS_CV = T10.MS_CV
WHERE     (T1.KHONG_GQ <> 1) AND (T6.USERNAME = @USERNAME) AND (T1.MS_MAY = @MS_MAY) AND (T1.HANG_MUC_ID = @HANG_MUC_ID) 
AND (ISNULL(T1.MS_PHIEU_BAO_TRI,'') = '') AND (T1.THUE_NGOAI <> 1) 
AND (T1.MS_CV NOT IN (SELECT     MS_CV FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC AS PBT
                            WHERE      (MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND (MS_BO_PHAN = T1.MS_BO_PHAN)))
AND T10.ACTIVE = 1