
ALTER procedure [dbo].[GetNGUYEN_NHAN_DUNG_MAYs]

 AS
SELECT     MS_NGUYEN_NHAN, TEN_NGUYEN_NHAN,ISNULL(hu_hong,0) AS hu_hong, ISNULL(BTDK,0) AS BTDK , ISNULL(MAC_DINH,0) AS MAC_DINH
FROM         NGUYEN_NHAN_DUNG_MAY 
ORDER BY MS_NGUYEN_NHAN DESC
