
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GET_rptDANH_SACH_DC_THIET_BI_DUOC_LAP_DAT')
   exec('CREATE PROCEDURE GET_rptDANH_SACH_DC_THIET_BI_DUOC_LAP_DAT AS BEGIN SET NOCOUNT ON; END')
GO
alter procedure [dbo].[GET_rptDANH_SACH_DC_THIET_BI_DUOC_LAP_DAT] 
	@MS_MAY NVARCHAR(30)
AS
SELECT     ROW_NUMBER() OVER(ORDER BY MAY_HE_THONG.ms_may DESC) AS STT,dbo.MAY_HE_THONG.NGAY_NHAP,dbo.HE_THONG.TEN_HE_THONG                    
FROM         dbo.MAY_HE_THONG INNER JOIN
                      dbo.HE_THONG ON dbo.MAY_HE_THONG.MS_HE_THONG = dbo.HE_THONG.MS_HE_THONG INNER JOIN
                      dbo.MAY INNER JOIN
                      dbo.NHOM_MAY ON dbo.MAY.MS_NHOM_MAY = dbo.NHOM_MAY.MS_NHOM_MAY INNER JOIN
                      dbo.LOAI_MAY ON dbo.NHOM_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY ON dbo.MAY_HE_THONG.MS_MAY = dbo.MAY.MS_MAY
WHERE     dbo.MAY.MS_MAY = @MS_MAY
