

--DROP TABLE KHBT_YEAR_TDadministrator
--select * from KHBT_YEAR_TDadministrator
--EXEC [SP_NHU_Y_GET_KE_HOACH_BAO_TRI_NAM_TD] '01-01-2015','12-31-2015','-1','administrator',1,0

-----------------------------------
ALTER PROCEDURE [dbo].[SP_NHU_Y_GET_KE_HOACH_BAO_TRI_NAM_TD] 
	@NGAY_BAT_DAU Nvarchar(10),
	@NGAY_KET_THUC Nvarchar(10),
	@MS_NHA_XUONG Nvarchar(50),
	@USERNAME NVARCHAR(50),
	@MS_LOAI_CV SMALLINT,
	@TYPELANG INT
AS
begin

DECLARE @SQL VARCHAR(8000)



SELECT * INTO #MAY_USER FROM [dbo].[MGetMayUserNgay](@NGAY_KET_THUC,@USERNAME,@MS_NHA_XUONG,-1,-1,'-1','-1','-1',@TYPELANG)

SELECT        T2.MS_MAY, T2.MS_LOAI_BT, T2.CHU_KY, T2.MS_DV_TG INTO #MAY_LBT_TMP
FROM            (SELECT        T.MS_MAY, MS_LOAI_BT, MAX(NGAY_AD) AS NGAY_AD
                          FROM            dbo.MAY_LOAI_BTPN_CHU_KY AS T INNER JOIN #MAY_USER T2 ON T.MS_MAY = T2.MS_MAY
                          GROUP BY T.MS_MAY, MS_LOAI_BT) AS T1 INNER JOIN
                         dbo.MAY_LOAI_BTPN_CHU_KY AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_LOAI_BT = T2.MS_LOAI_BT AND T1.NGAY_AD = T2.NGAY_AD



SELECT        B.MS_MAY, B.MS_LOAI_BT, C.MS_DV_TG, C.CHU_KY, MAX(B.NGAY_CUOI) AS NGAY_CUOI, CONVERT(DATETIME, NULL) AS NGAY_KE
INTO #KH_BTDK_NAM_TD_TMP
FROM            dbo.MAY AS A INNER JOIN dbo.MAY_LOAI_BTPN AS B ON A.MS_MAY = B.MS_MAY 
	INNER JOIN #MAY_LBT_TMP AS C ON B.MS_MAY = C.MS_MAY AND B.MS_LOAI_BT = C.MS_LOAI_BT
WHERE        (C.CHU_KY IS NOT NULL)
GROUP BY B.MS_MAY, B.MS_LOAI_BT, C.MS_DV_TG, C.CHU_KY





CREATE TABLE #KH_BTDK_NAM_TD_TMP_1
(MS_MAY NVARCHAR (30), MS_LOAI_BT NVARCHAR (30), MS_DV_TG INT , CHU_KY INT ,NGAY_CUOI DATETIME , NGAY_KE DATETIME ,THOI_GIAN_CHAY_MAY INT )
DECLARE @MS_MAY_TMP NVARCHAR(30) ,@MS_LOAI_BT_TMP NVARCHAR(30),@NGAY_CUOI_TMP DATETIME ,@NGAY_KE_TMP DATETIME, @CHU_KY_TMP INT, @MS_DV_TG_TMP INT, @NGAY_BD DATETIME ,@NGAY_KT DATETIME 
SET @NGAY_BD =  @NGAY_BAT_DAU 
SET @NGAY_KT =  @NGAY_KET_THUC 
DECLARE BTDK_CURSOR CURSOR FOR
SELECT * FROM #KH_BTDK_NAM_TD_TMP
WHERE MS_DV_TG IN (1,2,3,4) AND ISNULL(CHU_KY,'') <> '' AND CHU_KY > 0
OPEN BTDK_CURSOR
FETCH NEXT FROM BTDK_CURSOR 
INTO @MS_MAY_TMP, @MS_LOAI_BT_TMP ,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_KE_TMP
WHILE @@FETCH_STATUS = 0  
BEGIN	
	DECLARE @NGAY_NEXT DATETIME
	DECLARE @NGAY_NEXT_FIST DATETIME 
	DECLARE @NGAY_NEXT_LAST DATETIME 	
	SET @NGAY_NEXT =  @NGAY_CUOI_TMP		
	SET @NGAY_NEXT_FIST =  @NGAY_CUOI_TMP
	SET @NGAY_NEXT_LAST =  @NGAY_CUOI_TMP
	WHILE @NGAY_NEXT <= @NGAY_KT	
		BEGIN	
		SET @NGAY_NEXT = (SELECT CASE @MS_DV_TG_TMP
			WHEN 1 THEN  DATEADD(DAY,@CHU_KY_TMP,@NGAY_NEXT)
			WHEN 2 THEN DATEADD(DAY,7 * @CHU_KY_TMP ,@NGAY_NEXT)
			WHEN 3 THEN DATEADD(MONTH,@CHU_KY_TMP,@NGAY_NEXT) 
			WHEN 4 THEN DATEADD(YEAR,@CHU_KY_TMP,@NGAY_NEXT)												
			ELSE 
				DATEADD(YEAR,1,@NGAY_KT)												
			END )
			SET @NGAY_NEXT_LAST = (SELECT CASE @MS_DV_TG_TMP
			WHEN 1 THEN  DATEADD(DAY,@CHU_KY_TMP,@NGAY_NEXT)
			WHEN 2 THEN DATEADD(DAY,7 * @CHU_KY_TMP ,@NGAY_NEXT)
			WHEN 3 THEN DATEADD(MONTH,@CHU_KY_TMP,@NGAY_NEXT) 
			WHEN 4 THEN DATEADD(YEAR,@CHU_KY_TMP,@NGAY_NEXT)																									
			END )
			SET @NGAY_NEXT_FIST = (SELECT CASE @MS_DV_TG_TMP
			WHEN 1 THEN  DATEADD(DAY,-@CHU_KY_TMP,@NGAY_NEXT)
			WHEN 2 THEN DATEADD(DAY,-(7 * @CHU_KY_TMP) ,@NGAY_NEXT)
			WHEN 3 THEN DATEADD(MONTH,-@CHU_KY_TMP,@NGAY_NEXT) 
			WHEN 4 THEN DATEADD(YEAR,-@CHU_KY_TMP,@NGAY_NEXT)																									
			END )					
			IF @NGAY_NEXT >= @NGAY_BD  AND @NGAY_NEXT <= @NGAY_KT				
			BEGIN
				IF  (@NGAY_NEXT > GETDATE ())
					BEGIN 	
						DECLARE @THOI_GIAN_CHAY_MAY INT 
						SET @THOI_GIAN_CHAY_MAY = (SELECT ISNULL(SUM(CHI_SO_DONG_HO),0) FROM THOI_GIAN_CHAY_MAY WHERE MS_MAY = @MS_MAY_TMP AND NGAY> = @NGAY_NEXT_FIST AND NGAY <= @NGAY_NEXT_LAST )		
						INSERT INTO #KH_BTDK_NAM_TD_TMP_1 (MS_MAY,MS_LOAI_BT,MS_DV_TG,CHU_KY,NGAY_CUOI,NGAY_KE,THOI_GIAN_CHAY_MAY) 
						VALUES (@MS_MAY_TMP,@MS_LOAI_BT_TMP,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_NEXT ,@THOI_GIAN_CHAY_MAY ) 
					END 
				ELSE 
					BEGIN 						
						IF (@NGAY_NEXT_LAST > GETDATE () )
							BEGIN 								
							SET @THOI_GIAN_CHAY_MAY = (SELECT ISNULL(SUM(CHI_SO_DONG_HO),0) FROM THOI_GIAN_CHAY_MAY WHERE MS_MAY = @MS_MAY_TMP AND NGAY> = @NGAY_CUOI_TMP AND NGAY <= GETDATE () )		
							INSERT INTO #KH_BTDK_NAM_TD_TMP_1 (MS_MAY,MS_LOAI_BT,MS_DV_TG,CHU_KY,NGAY_CUOI,NGAY_KE,THOI_GIAN_CHAY_MAY) 
							VALUES (@MS_MAY_TMP,@MS_LOAI_BT_TMP,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_NEXT ,@THOI_GIAN_CHAY_MAY ) 
							END
						ELSE 
							BEGIN 																
							SET @THOI_GIAN_CHAY_MAY = (SELECT ISNULL(SUM(CHI_SO_DONG_HO),0) FROM THOI_GIAN_CHAY_MAY WHERE MS_MAY = @MS_MAY_TMP AND NGAY> = @NGAY_CUOI_TMP AND NGAY <= @NGAY_NEXT )		
							INSERT INTO #KH_BTDK_NAM_TD_TMP_1 (MS_MAY,MS_LOAI_BT,MS_DV_TG,CHU_KY,NGAY_CUOI,NGAY_KE,THOI_GIAN_CHAY_MAY) 
							VALUES (@MS_MAY_TMP,@MS_LOAI_BT_TMP,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_NEXT ,@THOI_GIAN_CHAY_MAY ) 
							END 
					END 
			END
		 END	
	FETCH NEXT FROM BTDK_CURSOR 
	INTO @MS_MAY_TMP, @MS_LOAI_BT_TMP ,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_KE_TMP
END	
CLOSE BTDK_CURSOR 
DEALLOCATE  BTDK_CURSOR 


--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con

DELETE KH_BTDK_NAM_TD_TMP_TMP_1_1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #KH_BTDK_NAM_TD_TMP_1 AS KH_BTDK_NAM_TD_TMP_TMP_1_1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = KH_BTDK_NAM_TD_TMP_TMP_1_1.MS_LOAI_BT INNER JOIN
                      #KH_BTDK_NAM_TD_TMP_1 AS KH_BTDK_NAM_TD_TMP_TMP_1 ON KH_BTDK_NAM_TD_TMP_TMP_1_1.MS_MAY = KH_BTDK_NAM_TD_TMP_TMP_1.MS_MAY AND 
                      dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = KH_BTDK_NAM_TD_TMP_TMP_1.MS_LOAI_BT AND DATEADD(DAY, 
                      CASE KH_BTDK_NAM_TD_TMP_TMP_1_1.MS_DV_TG WHEN 2 THEN KH_BTDK_NAM_TD_TMP_TMP_1_1.CHU_KY * 7 WHEN 3 THEN KH_BTDK_NAM_TD_TMP_TMP_1_1.CHU_KY * 30 WHEN 4 THEN
                       KH_BTDK_NAM_TD_TMP_TMP_1_1.CHU_KY * 365 ELSE KH_BTDK_NAM_TD_TMP_TMP_1_1.CHU_KY END / 4, KH_BTDK_NAM_TD_TMP_TMP_1_1.NGAY_KE) 
                      >= KH_BTDK_NAM_TD_TMP_TMP_1.NGAY_KE AND DATEADD(DAY, 
                      - (CASE KH_BTDK_NAM_TD_TMP_TMP_1_1.MS_DV_TG WHEN 2 THEN KH_BTDK_NAM_TD_TMP_TMP_1_1.CHU_KY * 7 WHEN 3 THEN KH_BTDK_NAM_TD_TMP_TMP_1_1.CHU_KY * 30 WHEN 4 THEN
                       KH_BTDK_NAM_TD_TMP_TMP_1_1.CHU_KY * 365 ELSE KH_BTDK_NAM_TD_TMP_TMP_1_1.CHU_KY END / 4), KH_BTDK_NAM_TD_TMP_TMP_1_1.NGAY_KE) <= KH_BTDK_NAM_TD_TMP_TMP_1.NGAY_KE 

--Xóa bảo trì định kỳ đã lập bên kế hoạch tổng thể và phiếu bảo trì

DELETE T
FROM #KH_BTDK_NAM_TD_TMP_1 T INNER JOIN
dbo.KE_HOACH_TONG_THE T1 ON T.MS_MAY = T1.MS_MAY AND 
T.MS_LOAI_BT = T1.MS_LOAI_BT AND DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_KE) >= T1.NGAY AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_KE) <= T1.NGAY 


DELETE T
FROM #KH_BTDK_NAM_TD_TMP_1 T INNER JOIN
dbo.PHIEU_BAO_TRI T1 ON T.MS_MAY = T1.MS_MAY AND 
T.MS_LOAI_BT = T1.MS_LOAI_BT AND DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_KE) >= T1.NGAY_BD_KH AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_KE) <= T1.NGAY_BD_KH 

SELECT        T1.MS_MAY, T1.MS_LOAI_BT, T1.RUN_TIME, T1.MS_DVT_RT INTO #MAY_LBT1
FROM            (SELECT        T.MS_MAY, MS_LOAI_BT, MAX(NGAY_AD) AS NGAY_AD
                          FROM            dbo.MAY_LOAI_BTPN_CHU_KY AS T INNER JOIN #MAY_USER T1 ON T.MS_MAY = T1.MS_MAY
                          GROUP BY T.MS_MAY, MS_LOAI_BT) AS T_1 INNER JOIN
                         dbo.MAY_LOAI_BTPN_CHU_KY AS T1 ON T_1.MS_MAY = T1.MS_MAY AND T_1.MS_LOAI_BT = T1.MS_LOAI_BT AND T_1.NGAY_AD = T1.NGAY_AD


	SELECT DISTINCT  T.MS_MAY, MAY.TEN_MAY,T.MS_LOAI_BT, LOAI_BAO_TRI.TEN_LOAI_BT, 
	T.NGAY_CUOI,( CONVERT (NVARCHAR (8),T.CHU_KY) + ' '  + DON_VI_THOI_GIAN.TEN_DV_TG )AS CHU_KY , 
	T.NGAY_KE,CONG_VIEC.MS_CV,
	CONG_VIEC.MO_TA_CV,MAY.NGAY_DUA_VAO_SD,
	CONG_VIEC.THOI_GIAN_DU_KIEN,CAU_TRUC_THIET_BI.MS_BO_PHAN,(CAU_TRUC_THIET_BI.MS_BO_PHAN + ' - ' + CAU_TRUC_THIET_BI.TEN_BO_PHAN) AS TEN_BO_PHAN INTO #KHBT_YEAR_TD
	FROM #KH_BTDK_NAM_TD_TMP_1 T INNER JOIN	#MAY_USER MAY ON T.MS_MAY = MAY.MS_MAY INNER JOIN
	#MAY_LBT1 T1 ON T.MS_MAY = T1.MS_MAY INNER JOIN	LOAI_BAO_TRI ON T.MS_LOAI_BT = LOAI_BAO_TRI.MS_LOAI_BT INNER JOIN
	DON_VI_TINH_RUN_TIME ON T1.MS_DVT_RT = DON_VI_TINH_RUN_TIME.MS_DVT_RT INNER JOIN
	DON_VI_THOI_GIAN ON T.MS_DV_TG = DON_VI_THOI_GIAN.MS_DV_TG INNER JOIN MAY_LOAI_BTPN_CONG_VIEC ON 
	T.MS_MAY = MAY_LOAI_BTPN_CONG_VIEC.MS_MAY AND T.MS_LOAI_BT = MAY_LOAI_BTPN_CONG_VIEC.MS_LOAI_BT
	INNER JOIN CONG_VIEC ON MAY_LOAI_BTPN_CONG_VIEC.MS_CV = CONG_VIEC.MS_CV
	INNER JOIN CAU_TRUC_THIET_BI ON MAY_LOAI_BTPN_CONG_VIEC.MS_MAY = CAU_TRUC_THIET_BI.MS_MAY AND MAY_LOAI_BTPN_CONG_VIEC.MS_BO_PHAN = CAU_TRUC_THIET_BI.MS_BO_PHAN	
	WHERE  (CONG_VIEC.MS_LOAI_CV=@MS_LOAI_CV OR @MS_LOAI_CV = -1)



	SELECT DISTINCT ISNULL(TEMP.TEN_MAY,TEMP.MS_MAY) AS TEN_MAY,TEMP.MS_MAY,TEMP.MS_CV,TEMP.MS_BO_PHAN,TEMP.MO_TA_CV,
		TEMP.TEN_BO_PHAN,TEMP.NGAY_DUA_VAO_SD,TEMP.CHU_KY,TEMP.NGAY_KE,D.GHI_CHU
        --,''T1''= CASE WHEN MONTH(TEMP.NGAY_KE)=1 THEN ''X'' ELSE '''' END ,
        --''T2''= CASE WHEN MONTH(TEMP.NGAY_KE)=2 THEN ''X'' ELSE '''' END ,
        --''T3''= CASE WHEN MONTH(TEMP.NGAY_KE)=3 THEN ''X'' ELSE '''' END ,
        --''T4''= CASE WHEN MONTH(TEMP.NGAY_KE)=4 THEN ''X'' ELSE '''' END ,
        --''T5''= CASE WHEN MONTH(TEMP.NGAY_KE)=5 THEN ''X'' ELSE '''' END ,
        --''T6''= CASE WHEN MONTH(TEMP.NGAY_KE)=6 THEN ''X'' ELSE '''' END ,
        --''T7''= CASE WHEN MONTH(TEMP.NGAY_KE)=7 THEN ''X'' ELSE '''' END ,
        --''T8''= CASE WHEN MONTH(TEMP.NGAY_KE)=8 THEN ''X'' ELSE '''' END ,
        --''T9''= CASE WHEN MONTH(TEMP.NGAY_KE)=9 THEN ''X'' ELSE '''' END ,
        --''T10''= CASE WHEN MONTH(TEMP.NGAY_KE)=10 THEN ''X'' ELSE '''' END ,
        --''T11''= CASE WHEN MONTH(TEMP.NGAY_KE)=11 THEN ''X'' ELSE '''' END ,
        --''T12''= CASE WHEN MONTH(TEMP.NGAY_KE)=12 THEN ''X'' ELSE '''' END 
    
  FROM #KHBT_YEAR_TD
 as TEMP LEFT JOIN MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG C ON TEMP.MS_MAY =C.MS_MAY
AND TEMP.MS_LOAI_BT=C.MS_LOAI_BT AND TEMP.MS_CV=C.MS_CV AND TEMP.MS_BO_PHAN=C.MS_BO_PHAN
INNER JOIN CAU_TRUC_THIET_BI_CONG_VIEC D ON TEMP.MS_MAY = D.MS_MAY
AND TEMP.MS_BO_PHAN=D.MS_BO_PHAN AND TEMP.MS_CV=D.MS_CV
ORDER BY MS_MAY,MS_BO_PHAN


end
