IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GET_rptDANH_SACH_NOI_LAP_DAT_THIET_BI')
   exec('CREATE PROCEDURE GET_rptDANH_SACH_NOI_LAP_DAT_THIET_BI AS BEGIN SET NOCOUNT ON; END')
GO

alter procedure [dbo].[GET_rptDANH_SACH_NOI_LAP_DAT_THIET_BI] 
	@MS_MAY NVARCHAR(30)
AS
SELECT     ROW_NUMBER() OVER(ORDER BY MAY_NHA_XUONG.ms_may DESC) AS STT, dbo.MAY_NHA_XUONG.NGAY_NHAP, 
                      dbo.NHA_XUONG.Ten_N_XUONG, dbo.NHA_XUONG.DIA_CHI
FROM         dbo.MAY_NHA_XUONG INNER JOIN
                      dbo.NHA_XUONG ON dbo.MAY_NHA_XUONG.MS_N_XUONG = dbo.NHA_XUONG.MS_N_XUONG INNER JOIN
                      dbo.MAY ON dbo.MAY_NHA_XUONG.MS_MAY = dbo.MAY.MS_MAY INNER JOIN
                      dbo.NHOM_MAY ON dbo.MAY.MS_NHOM_MAY = dbo.NHOM_MAY.MS_NHOM_MAY INNER JOIN
                      dbo.LOAI_MAY ON dbo.NHOM_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY
WHERE    dbo.MAY.MS_MAY = @MS_MAY
