

ALTER procedure [dbo].[AddTHOI_GIAN_NGUNG_MAY_THEO_LAN]
	@MS_MAY NVARCHAR(30),
	@MS_LAN NVARCHAR(19),
	@TU_NGAY NVARCHAR(10),
	@TU_GIO NVARCHAR(8),
	@DEN_NGAY NVARCHAR(10),
	@DEN_GIO NVARCHAR(8),
	@MS_NGUYEN_NHAN INT,
	@GHI_CHU NVARCHAR(150),
	--@NGUOI_THUC_HIEN NVARCHAR(250),
	@MS_HE_THONG  int, 
	@THOI_GIAN_NGUNG_MAY FLOAT,
	@MS_N_XUONG NVARCHAR(50),
	@THOI_GIAN_SUA_CHUA FLOAT,

	@NGUYEN_NHAN NVARCHAR(250),
	@HTUONG NVARCHAR(250),
	@NNCU_THE NVARCHAR(250)
 AS

 INSERT INTO THOI_GIAN_NGUNG_MAY
(MS_MAY,NGAY,TU_GIO,DEN_NGAY,DEN_GIO,MS_NGUYEN_NHAN,GHI_CHU,MS_HE_THONG, THOI_GIAN_SUA_CHUA,MS_N_XUONG,MS_LAN, 
THOI_GIAN_SUA,NGUYEN_NHAN, HIEN_TUONG, NGUYEN_NHAN_CU_THE)
 VALUES (@MS_MAY,CONVERT(DATETIME, @TU_NGAY,103),
CONVERT(DATETIME,@TU_GIO,114),
CONVERT(DATETIME, @DEN_NGAY,103),
CASE @DEN_GIO WHEN '' THEN  NULL ELSE CONVERT(DATETIME,@DEN_GIO,114) END,
CASE @MS_NGUYEN_NHAN WHEN 0 THEN NULL ELSE @MS_NGUYEN_NHAN END  ,
@GHI_CHU,
CASE @MS_HE_THONG WHEN 0 THEN  NULL ELSE @MS_HE_THONG END, @THOI_GIAN_NGUNG_MAY,@MS_N_XUONG,
@MS_LAN,@THOI_GIAN_SUA_CHUA,
@NGUYEN_NHAN,@HTUONG , @NNCU_THE)

