
ALTER proc [dbo].[GetLOAI_MAY1]
	@NNGU int
AS
SELECT MS_LOAI_MAY,CASE 0 WHEN 0 then LOAI_MAY.TEN_LOAI_MAY when 1 then ISNULL(LOAI_MAY.TEN_LOAI_MAY_ANH,LOAI_MAY.TEN_LOAI_MAY) WHEN 2 THEN ISNULL(LOAI_MAY.TEN_LOAI_MAY_HOA,LOAI_MAY.TEN_LOAI_MAY) END AS TEN_LOAI_MAY, STT_MAY, ATTACHMENT,GHI_CHU FROM LOAI_MAY 
ORDER BY STT_MAY
