

--DROP TABLE A_CN
--	SELECT * INTO A_CN FROM CONG_NHAN 
--	EXEC getBCTyLeBaoTriTrucTiep '01/01/2013','01/01/2016','-1','-1','A_CN',0
ALTER PROC [dbo].[getBCTyLeBaoTriTrucTiep]
	@TNgay DATETIME,
	@DNgay DATETIME,
	@MsDonVi nvarchar(50),
	@MsPBan NVARCHAR (20),
	@sCongNhan nvarchar(50),
	@NNgu int
AS

DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()	


DECLARE @sSql NVARCHAR(4000)
CREATE TABLE #CN (MS_CONG_NHAN NVARCHAR(9) )

SET @sSql = 'INSERT INTO #CN SELECT DISTINCT MS_CONG_NHAN FROM ' + @sCongNhan
EXEC (@sSql)

SET @sSql = 'DROP TABLE ' + @sCongNhan
EXEC (@sSql)

DECLARE @iSNgay INT                    
SELECT @iSNgay =  DATEDIFF(day, @TNgay, @DNgay )
                    -( DATEDIFF( week, @TNgay, @DNgay ) )
SELECT  @iSNgay = (ISNULL(@iSNgay,0) - COUNT(*)) * 8 FROM NGAY_NGHI WHERE NGAY BETWEEN @TNgay AND @DNgay 

-- 
SELECT DISTINCT D.MS_CONG_NHAN, D.HO + ' ' + D.TEN AS HO_TEN, D.MS_THE_CC, C.TEN_TO, A.TEN_TO AS TO_PB, D.HO, D.TEN INTO #CNHAN
FROM         dbo.TO_PHONG_BAN AS A INNER JOIN
                      dbo.[TO] AS C ON A.MS_TO = C.MS_TO INNER JOIN
                      dbo.CONG_NHAN AS D ON C.MS_TO1 = D.MS_TO INNER JOIN #CN E ON D.MS_CONG_NHAN = E.MS_CONG_NHAN
WHERE (A.MS_TO = @MsPBan OR @MsPBan  = '-1') AND (A.MS_DON_VI = @MsDonVi OR @MsDonVi  = '-1')

SELECT
ROW_NUMBER() OVER (ORDER BY  A.MS_CONG_NHAN, A.HO_TEN, A.MS_THE_CC, A.TEN_TO, A.TO_PB) AS STT,
A.MS_CONG_NHAN, A.HO_TEN, A.MS_THE_CC, A.TEN_TO, A.TO_PB, ISNULL(B.SO_GIO_TT,0) AS SO_GIO_TT, 
ISNULL(D.SG_KHTH,0) + ISNULL(C.SG_CVHN,0) AS SG_GT,ISNULL(@iSNgay,0) AS QUY_TG, 
CASE ISNULL(@iSNgay,0) WHEN 0 THEN NULL ELSE ROUND((ISNULL(B.SO_GIO_TT,0)  / @iSNgay ) * 100,2) END AS TY_LE_TT,
CASE ISNULL(@iSNgay,0) WHEN 0 THEN NULL ELSE ROUND(((ISNULL(B.SO_GIO_TT,0) + ISNULL(D.SG_KHTH,0) + ISNULL(C.SG_CVHN,0)) / @iSNgay ) * 100,2) END AS TY_LE_GT
FROM #CNHAN A LEFT JOIN
(
	SELECT T.MS_CONG_NHAN , SUM(T.SO_GIO_TT)  AS SO_GIO_TT  FROM (	
	SELECT T2.MS_CONG_NHAN,SUM(T2.SO_GIO) AS SO_GIO_TT
	FROM dbo.PHIEU_BAO_TRI AS T1 INNER JOIN
	dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET AS T2 ON T2.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI
	INNER JOIN #CNHAN E ON T2.MS_CONG_NHAN = E.MS_CONG_NHAN
	WHERE  CONVERT(DATETIME,CONVERT(NVARCHAR(10),T1.NGAY_BD_KH,101)) BETWEEN @TNgay AND @DNgay
	GROUP BY T2.MS_CONG_NHAN
	UNION
	SELECT T2.MS_CONG_NHAN,SUM(T2.SO_GIO) AS SO_GIO_TT
	FROM dbo.PHIEU_BAO_TRI AS T1 INNER JOIN
	dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO AS T2 ON T2.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI
	INNER JOIN #CNHAN E ON T2.MS_CONG_NHAN = E.MS_CONG_NHAN
	WHERE  CONVERT(DATETIME,CONVERT(NVARCHAR(10),T1.NGAY_BD_KH,101)) BETWEEN @TNgay AND @DNgay
	GROUP BY T2.MS_CONG_NHAN
	) AS T
GROUP BY T.MS_CONG_NHAN
)  B ON A.MS_CONG_NHAN = B.MS_CONG_NHAN 
--SG_GT
LEFT JOIN
(
SELECT     T2.MS_CONG_NHAN, SUM(T2.SO_GIO) AS SG_CVHN
FROM    dbo.CONG_VIEC_HANG_NGAY AS T1 INNER JOIN
		dbo.CONG_VIEC_HANG_NGAY_NV AS T2 ON T1.STT_CV = T2.STT_CV
		INNER JOIN #CNHAN E ON T2.MS_CONG_NHAN = E.MS_CONG_NHAN                      
WHERE  CONVERT(DATETIME,CONVERT(NVARCHAR(10),T1.NGAY_TH,101)) BETWEEN @TNgay AND @DNgay
GROUP BY T2.MS_CONG_NHAN
)  C ON A.MS_CONG_NHAN = C.MS_CONG_NHAN
LEFT JOIN 
(
SELECT     T2.MS_CONG_NHAN, SUM(THOI_GIAN_DK) AS SG_KHTH
FROM dbo.KE_HOACH_THUC_HIEN T2
	INNER JOIN #CNHAN E ON T2.MS_CONG_NHAN = E.MS_CONG_NHAN                      
WHERE  CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,101)) BETWEEN @TNgay AND @DNgay
GROUP BY T2.MS_CONG_NHAN
) D ON A.MS_CONG_NHAN = D.MS_CONG_NHAN
ORDER BY A.MS_CONG_NHAN, A.HO_TEN, A.MS_THE_CC, A.TEN_TO, A.TO_PB