


--EXEC sp_ThongTinPT 'AIC-0001','01.01.03',0
ALTER procedure [dbo].[sp_ThongTinPT]
	@MS_MAY Nvarchar(30),
	@MS_BO_PHAN nvarchar(30),
	@NNGU int
AS

SELECT     dbo.IC_PHU_TUNG.MS_PT,MS_VI_TRI_PT,dbo.IC_PHU_TUNG.MS_PT_CTY,
			case @NNGU when 0 then dbo.IC_PHU_TUNG.TEN_PT when 1 then isnull(IC_PHU_TUNG.TEN_PT_ANH,IC_PHU_TUNG.TEN_PT) when 2 then isnull(IC_PHU_TUNG.TEN_PT_HOA,IC_PHU_TUNG.TEN_PT) end as TEN_PT,dbo.IC_PHU_TUNG.MS_PT_NCC,CAU_TRUC_THIET_BI_PHU_TUNG.SO_LUONG, 
			SL_TON,
           CASE @NNGU WHEN 0 THEN TEN_1
                     WHEN 1 THEN TEN_2 
                     WHEN 2 THEN TEN_3 
           END
           AS DVT,dbo.IC_PHU_TUNG.QUY_CACH,CAU_TRUC_THIET_BI_PHU_TUNG.CHUC_NANG,
			dbo.IC_PHU_TUNG.TEN_PT_VIET,CAU_TRUC_THIET_BI_PHU_TUNG.ACTIVE,
			dbo.IC_PHU_TUNG.MS_PT + MS_VI_TRI_PT AS PTVT
FROM         dbo.CAU_TRUC_THIET_BI INNER JOIN
                      dbo.CAU_TRUC_THIET_BI_PHU_TUNG ON dbo.CAU_TRUC_THIET_BI.MS_MAY = dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_MAY AND 
                      dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_BO_PHAN INNER JOIN
                      dbo.IC_PHU_TUNG ON dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN 
                      DON_VI_TINH ON IC_PHU_TUNG.DVT=DON_VI_TINH.DVT LEFT JOIN 
                      (SELECT MS_PT,SUM(SL_VT) AS SL_TON FROM VI_TRI_KHO_VAT_TU GROUP BY MS_PT) SLT ON 
                      dbo.IC_PHU_TUNG.MS_PT = SLT.MS_PT 
WHERE dbo.CAU_TRUC_THIET_BI.MS_MAY = @MS_MAY 
	AND dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN=@MS_BO_PHAN
	

