
/****** Object:  StoredProcedure [dbo].[GetNHOM_MAY]    Script Date: 31/10/2016 16:18:43 ******/
-- EXEC [dbo].[GetNHOM_MAY] 'AIC' ,0

ALTER proc [dbo].[GetNHOM_MAY]
	@MS_LOAI_MAY NVARCHAR(20),
	@NNGU int
AS
SELECT NHOM_MAY.MS_NHOM_MAY, CASE @NNGU WHEN 0 then NHOM_MAY.TEN_NHOM_MAY when 1 then ISNULL(NHOM_MAY.TEN_NHOM_MAY_ANH,NHOM_MAY.TEN_NHOM_MAY) WHEN 2 THEN ISNULL(NHOM_MAY.TEN_NHOM_MAY_HOA,NHOM_MAY.TEN_NHOM_MAY) END AS TEN_NHOM_MAY,NHOM_MAY.MS_LOAI_MAY,NHOM_MAY.GHI_CHU, TEN_LOAI_MAY FROM NHOM_MAY INNER JOIN LOAI_MAY ON NHOM_MAY.MS_LOAI_MAY=LOAI_MAY.MS_LOAI_MAY
WHERE NHOM_MAY.MS_LOAI_MAY=@MS_LOAI_MAY
