
-- exec [GetMAY_LOAI_BTPN_CONG_VIEC] 'AIC-0001', 49, 0
ALTER proc [dbo].[GetMAY_LOAI_BTPN_CONG_VIEC]
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT,
	@NNGU nvarchar(5)
AS
SELECT MAY_LOAI_BTPN_CONG_VIEC.*,(MAY_LOAI_BTPN_CONG_VIEC.MS_BO_PHAN  + ' - ' + case @NNGU when 0 then TEN_BO_PHAN when 1 then isnull(TEN_BO_PHAN_ANH,TEN_BO_PHAN) when 2 then isnull(TEN_BO_PHAN_HOA,TEN_BO_PHAN) end) AS TEN_BO_PHAN,case @NNGU when 0 then MO_TA_CV when 1 then isnull(MO_TA_CV_ANH,MO_TA_CV) when 2 then isnull(MO_TA_CV_HOA,MO_TA_CV) end as MO_TA_CV,KY_HIEU_CV FROM MAY_LOAI_BTPN_CONG_VIEC INNER JOIN CONG_VIEC ON MAY_LOAI_BTPN_CONG_VIEC.MS_CV=CONG_VIEC.MS_CV 
INNER JOIN CAU_TRUC_THIET_BI ON MAY_LOAI_BTPN_CONG_VIEC.MS_MAY=CAU_TRUC_THIET_BI.MS_MAY AND MAY_LOAI_BTPN_CONG_VIEC.MS_BO_PHAN=CAU_TRUC_THIET_BI.MS_BO_PHAN 
WHERE MAY_LOAI_BTPN_CONG_VIEC.MS_MAY=@MS_MAY AND MS_LOAI_BT=@MS_LOAI_BT ORDER BY ISNULL(STT, 999),MO_TA_CV
