
--	exec sp_DuyetSanXuat 'admin' ,1,0,NULL,'01/01/2010','10/01/2016','-1',-1
ALTER proc [dbo].[sp_DuyetSanXuat]
	@User nvarchar(50),
	@Option int,
	@NNgu int,
	@image Image,
	@TNgay DATETIME,
	@DNgay DATETIME,
	@MsNXuong nvarchar(50),
	@LMay nvarchar(50)
as
begin
--DECLARE @QUYEN_DUYET BIT 
	
--SELECT CASE COUNT(*) WHEN 0 THEN 0 ELSE 1 END FROM USERS A INNER JOIN (SELECT MS_TO FROM YEU_CAU_NSD T1 INNER JOIN USERS T2 ON T1.USER_LAP = T2.USERNAME
--WHERE STT = 17) B ON A.MS_TO = B.MS_TO
--WHERE USERNAME = 'ADMIN'

--@MsNXuong nvarchar(50),
--	@NHeThong int,

SELECT A.* INTO #MAY FROM dbo.MGetMayUserNgay(@TNgay,@User,@MsNXuong,-1,-1,@LMay,'-1','-1', @NNgu) A 	


declare @tableDS table (CHON bit,TAI_LIEU Image,STT int,MS_MAY nvarchar(300),STT_VAN_DE int,TEN_MAY nvarchar(300),MO_TA_TINH_TRANG nvarchar(300),
			NGAY DATETIME, MS_YEU_CAU NVARCHAR(50),SO_YEU_CAU NVARCHAR(250),Ten_N_XUONG NVARCHAR(100),
			YEU_CAU NVARCHAR(300),MS_UU_TIEN NVARCHAR(300),USERNAME_DSX NVARCHAR(300),
			NGUOI_YEU_CAU NVARCHAR(300),THOI_GIAN_DSX DATETIME,	Y_KIEN_DSX NVARCHAR(300),
			THUC_HIEN_DSX bit,EMAIL_DSX NVARCHAR(300),MS_CACH_TH nvarchar(30),
			TEN_UU_TIEN nvarchar(300),[TEN_LOAI_YEU_CAU_BT] [nvarchar](250),QUYEN_DUYET BIT )

INSERT INTO @tableDS(CHON,TAI_LIEU,STT,MS_MAY ,STT_VAN_DE,TEN_MAY ,MO_TA_TINH_TRANG ,NGAY,MS_YEU_CAU, SO_YEU_CAU, Ten_N_XUONG,
		NGUOI_YEU_CAU ,YEU_CAU ,MS_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	
		Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX,MS_CACH_TH,TEN_UU_TIEN,TEN_LOAI_YEU_CAU_BT,QUYEN_DUYET)
						
SELECT 0 ,
	CONVERT(Image,CASE (SELECT COUNT(*) FROM YEU_CAU_NSD_CHI_TIET_HINH WHERE STT =B.STT AND STT_VAN_DE =B.STT_VAN_DE) WHEN 0 THEN NULL ELSE @image END)AS TAI_LIEU, 
	B.STT, B.MS_MAY, B.STT_VAN_DE, A.TEN_MAY, B.MO_TA_TINH_TRANG, C.NGAY,C.MS_YEU_CAU, C.SO_YEU_CAU,   A.Ten_N_XUONG, 
	C.NGUOI_YEU_CAU, B.YEU_CAU, B.MS_UU_TIEN, B.USERNAME_DSX,B.THOI_GIAN_DSX, B.Y_KIEN_DSX, B.THUC_HIEN_DSX, B.EMAIL_DSX, 
	B.MS_CACH_TH, dbo.MUC_UU_TIEN.TEN_UU_TIEN,TEN_LOAI_YEU_CAU_BT, (SELECT CONVERT(BIT,CASE COUNT(*) WHEN 0 THEN 0 ELSE 1 END) 
	FROM USERS A INNER JOIN (SELECT MS_TO FROM YEU_CAU_NSD T1 INNER JOIN USERS T2 ON T1.USER_LAP = T2.USERNAME WHERE T1.STT = C.STT ) B ON A.MS_TO = B.MS_TO 
	WHERE USERNAME = @User) AS QUYEN_DUYET
FROM #MAY A INNER JOIN dbo.YEU_CAU_NSD_CHI_TIET B ON A.MS_MAY = B.MS_MAY INNER JOIN
	dbo.YEU_CAU_NSD C ON B.STT = C.STT LEFT OUTER JOIN
	dbo.MUC_UU_TIEN ON B.MS_UU_TIEN = dbo.MUC_UU_TIEN.MS_UU_TIEN INNER JOIN 
	LOAI_YEU_CAU_BAO_TRI T1 ON B.MS_LOAI_YEU_CAU_BT = T1.MS_LOAI_YEU_CAU_BT
WHERE C.NGAY BETWEEN @TNgay AND @DNgay

if @Option =0
	  SELECT CHON,TAI_LIEU,STT,MS_MAY ,STT_VAN_DE ,TEN_MAY,TEN_LOAI_YEU_CAU_BT ,MO_TA_TINH_TRANG ,NGAY ,MS_YEU_CAU, SO_YEU_CAU, Ten_N_XUONG ,NGUOI_YEU_CAU ,
			  YEU_CAU ,TEN_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX ,MS_CACH_TH,MS_UU_TIEN ,QUYEN_DUYET
	   FROM @tableDS
	   WHERE THUC_HIEN_DSX IS NULL  order by MS_UU_TIEN
if @Option =1
		  SELECT CHON,TAI_LIEU,STT,MS_MAY ,STT_VAN_DE ,TEN_MAY,TEN_LOAI_YEU_CAU_BT ,MO_TA_TINH_TRANG ,NGAY,MS_YEU_CAU, SO_YEU_CAU, Ten_N_XUONG ,NGUOI_YEU_CAU ,
			  YEU_CAU ,TEN_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX ,MS_CACH_TH,MS_UU_TIEN ,QUYEN_DUYET
		   FROM @tableDS
		   WHERE THUC_HIEN_DSX =1 AND MS_CACH_TH is null  order by MS_UU_TIEN
		   
if @Option =2
	   SELECT CHON,TAI_LIEU,STT,MS_MAY ,STT_VAN_DE ,TEN_MAY,TEN_LOAI_YEU_CAU_BT ,MO_TA_TINH_TRANG ,NGAY,MS_YEU_CAU, SO_YEU_CAU, Ten_N_XUONG ,NGUOI_YEU_CAU ,
			  YEU_CAU ,TEN_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX ,MS_CACH_TH,MS_UU_TIEN ,QUYEN_DUYET
	   FROM @tableDS
	   WHERE THUC_HIEN_DSX =0  order by MS_UU_TIEN
	   

end	   
