IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spBaoCaoBaoTri')
   exec('CREATE PROCEDURE spBaoCaoBaoTri AS BEGIN SET NOCOUNT ON; END')
GO





--SELECT * FROM MAY WHERE MS_NHOM_MAY ='SCC-1512'
--SELECT * FROM NHOM_MAY WHERE MS_LOAI_MAY IN(SELECT MS_LOAI_MAY  FROM LOAI_MAY WHERE MS_LOAI_MAY = 'EXT')

-- DROP TABLE MAY_CVBT_TMPIN
-- SELECT CONVERT(BIT,1) AS CHON, * INTO MAY_CVBT_TMPIN FROM MAY WHERE MS_MAY ='COM-3002' 
-- EXEC spBaoCaoBaoTri 'MAY_CVBT_TMPIN', -1, N'LBTRI', '01/01/2016', '10/30/2016',0,'-1',-1,0,'khtt','pbt','cV','ADMIN'
ALTER PROC [dbo].[spBaoCaoBaoTri]
	@MayTmp NVARCHAR(50),
	@MsLBTri INT,
	@TenLBTri NVARCHAR(50),
	@TNgay DATETIME,
	@DNgay DATETIME,
	@NNgu INT,
	@MSDV NVARCHAR(50),
	@MSTO INT,
	@iLoaiBC INT,
	@KHTT NVARCHAR(250),
	@PBT NVARCHAR(250),
	@CVC NVARCHAR(250),
	@UserName NVARCHAR(50)
AS


-- @iLoaiBC 0 In ALL
-- @iLoaiBC 1 In KHTT
-- @iLoaiBC 2 In PBT
-- @iLoaiBC 3 In Cong Viec VP

DECLARE @sSql NVARCHAR(4000)


CREATE TABLE #MAY_TMP (MS_MAY NVARCHAR(250) NULL, TEN_MAY NVARCHAR(500) NULL)  

SET @sSql = ' INSERT INTO #MAY_TMP SELECT MS_MAY, TEN_MAY FROM ' + @MayTmp + ' WHERE ISNULL(CHON,0) = 1'
EXEC (@sSql)

SET @sSql = ' DROP TABLE ' + @MayTmp
EXEC (@sSql)

SELECT     T3.MS_TO, T3.MS_DON_VI INTO #USER_DV
FROM         dbo.NHOM_TO_PHONG_BAN AS T1 INNER JOIN
                      dbo.USERS AS T2 ON T1.GROUP_ID = T2.GROUP_ID INNER JOIN
                      dbo.TO_PHONG_BAN AS T3 ON T1.MS_TO = T3.MS_TO
WHERE (T2.USERNAME = @UserName) AND (T3.MS_DON_VI = @MSDV OR @MSDV = '-1') 
	 AND (T3.MS_TO = @MSTO OR @MSTO = -1) 


SELECT COUNT(A.MS_PHIEU_BAO_TRI) AS COT_MER ,A.MS_PHIEU_BAO_TRI INTO #COT_PBT
FROM 
                         dbo.PHIEU_BAO_TRI AS A INNER JOIN
                         (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM dbo.PHIEU_BAO_TRI_CONG_VIEC)
						 AS B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI INNER JOIN
                         #MAY_TMP AS C ON A.MS_MAY = C.MS_MAY INNER JOIN
                         dbo.LOAI_BAO_TRI AS D ON A.MS_LOAI_BT = D.MS_LOAI_BT 
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),A.NGAY_BD_KH,101)) BETWEEN @TNgay AND @DNgay )
	AND (A.MS_LOAI_BT = @MsLBTri  OR @MsLBTri = -1)  AND  (@iLoaiBC = 0 OR @iLoaiBC = 2) 
GROUP BY A.MS_PHIEU_BAO_TRI




SELECT  
* INTO #TMP_TMP FROM
(
-- Lấy bên KHTT cho các Hang mục chưa chuyển PBT
SELECT CONVERT(nvarchar(250),@KHTT) AS LOAI_BC, D.TEN_LOAI_BT,A.MS_MAY, B.TEN_MAY,  
	CASE D.HU_HONG WHEN 0 THEN 
		CASE ISNULL(A.THOI_GIAN_DU_KIEN,0) WHEN 0 THEN NULL ELSE A.THOI_GIAN_DU_KIEN END ELSE NULL END AS TG_KH_CO_KH, 
	CASE D.HU_HONG WHEN 1 THEN 
		CASE ISNULL(A.THOI_GIAN_DU_KIEN,0) WHEN 0 THEN NULL ELSE A.THOI_GIAN_DU_KIEN END ELSE NULL END  AS TG_KH_KG_KH,
	C.NGAY AS NGAY_BD_KH, C.NGAY_DK_HT AS NGAY_KT_KH, 
	CONVERT(nvarchar(10),NULL) AS HOAN_THANH,
		CONVERT(FLOAT, NULL) AS TG_TT_CO_KH, 
		CONVERT(FLOAT, NULL) AS TG_TT_KG_KH, 
	CONVERT(NVARCHAR(150), NULL) AS MS_PBT, CONVERT(NVARCHAR(4000), NULL) AS NGUOI_TH_PBT,
	CONVERT(DATETIME, NULL) AS TU_NGAY_TT, CONVERT(DATETIME, NULL) AS DEN_NGAY_TT, 
	CONVERT(NVARCHAR(500), NULL) AS TT_SAU_BT,CONVERT(FLOAT, NULL) AS TG_NM, 
	CONVERT(FLOAT, NULL) AS SO_GIO_KH,
	CONVERT(FLOAT, NULL) AS SO_GIO_TT,	
	CONVERT(INT,1) AS COT_MER,
	CONVERT(FLOAT, NULL) AS CO_KH_COUNT, 
	CONVERT(FLOAT, NULL) AS KG_KH_COUNT,
	CASE D.HU_HONG WHEN 0 THEN 
		CASE ISNULL(A.THOI_GIAN_DU_KIEN,0) WHEN 0 THEN NULL ELSE A.THOI_GIAN_DU_KIEN END ELSE NULL END AS TG_TT_CO_KH_SUM, 
	CASE D.HU_HONG WHEN 1 THEN 
		CASE ISNULL(A.THOI_GIAN_DU_KIEN,0) WHEN 0 THEN NULL ELSE A.THOI_GIAN_DU_KIEN END ELSE NULL END  AS TG_TT_KG_KH_SUM
FROM            KE_HOACH_TONG_CONG_VIEC AS A INNER JOIN
                         #MAY_TMP AS B ON A.MS_MAY = B.MS_MAY INNER JOIN
                         dbo.KE_HOACH_TONG_THE AS C ON A.HANG_MUC_ID = C.HANG_MUC_ID INNER JOIN
                         dbo.LOAI_BAO_TRI AS D ON C.MS_LOAI_BT = D.MS_LOAI_BT  
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),C.NGAY,101)) BETWEEN @TNgay AND @DNgay) AND (ISNULL(A.MS_PHIEU_BAO_TRI,'') = '') 
	AND (C.MS_LOAI_BT = @MsLBTri  OR @MsLBTri = -1) AND  (@iLoaiBC = 0 OR @iLoaiBC = 1  ) 

UNION
--Lấy all cac PBT
SELECT CONVERT(nvarchar(250),@PBT) AS LOAI_BC,D.TEN_LOAI_BT, A.MS_MAY, TEN_MAY, 
CONVERT(FLOAT,CASE D.HU_HONG WHEN 0 THEN 
	CASE ISNULL(B.SO_GIO_KH,0) WHEN 0 THEN NULL ELSE B.SO_GIO_KH END END ) AS TG_KH_CO_KH, 
CONVERT(FLOAT,CASE D.HU_HONG WHEN 1 THEN 
	CASE ISNULL(B.SO_GIO_KH,0) WHEN 0 THEN NULL ELSE B.SO_GIO_KH END END ) AS TG_KH_KG_KH, 
A.NGAY_BD_KH , A.NGAY_KT_KH ,

CONVERT(NVARCHAR(10),CASE WHEN A.TINH_TRANG_PBT>2 THEN 'X' ELSE NULL END) AS HOAN_THANH,

CONVERT(FLOAT,CASE D.HU_HONG WHEN 0 THEN 
	CASE ISNULL(T3.SO_GIO_TT,0) WHEN 0 THEN NULL ELSE T3.SO_GIO_TT END ELSE NULL END) AS TG_TT_CO_KH, 
CONVERT(FLOAT,CASE D.HU_HONG WHEN 1 THEN 
	CASE ISNULL(T3.SO_GIO_TT,0) WHEN 0 THEN NULL ELSE T3.SO_GIO_TT END ELSE NULL END) AS TG_TT_KG_KH,
A.MS_PHIEU_BAO_TRI,
CONVERT(NVARCHAR(4000), CASE WHEN TINH_TRANG_PBT >=3 THEN dbo.GetNhanSuPBT(A.MS_PHIEU_BAO_TRI,'-1',-1,0)  ELSE NULL END) AS NGUOI_TH_PBT,
T3.TU_NGAY_TT , T3.DEN_NGAY_TT , A.TT_SAU_BT ,
CASE ISNULL(T4.TG_NM,0) WHEN 0 THEN NULL ELSE T4.TG_NM END AS TG_NM,  
ISNULL(T5.SO_GIO_KH,0) AS SO_GIO_KH,
ISNULL(T3.SO_GIO_TT,0) AS SO_GIO_TT,
--B.GHI_CHU    , 
CONVERT(INT,COT_MER) AS COT_MER,
CONVERT(FLOAT,CASE D.HU_HONG WHEN 0 THEN 
	CASE ISNULL(T3.SO_GIO_TT,0) WHEN 0 THEN NULL ELSE T3.SO_GIO_TT END ELSE NULL END) AS CO_KH_COUNT, 

CONVERT(FLOAT,CASE D.HU_HONG WHEN 1 THEN 
	CASE ISNULL(T3.SO_GIO_TT,0) WHEN 0 THEN NULL ELSE T3.SO_GIO_TT END ELSE NULL END) AS KG_KH_COUNT,		
CONVERT(FLOAT,CASE D.HU_HONG WHEN 0 THEN 
	CASE ISNULL(T7.SO_GIO_TT_CHUA_HT,0) WHEN 0 THEN NULL ELSE T7.SO_GIO_TT_CHUA_HT END ELSE NULL END) AS TG_TT_CO_KH_SUM, 
CONVERT(FLOAT,CASE D.HU_HONG WHEN 1 THEN 
	CASE ISNULL(T7.SO_GIO_TT_CHUA_HT,0) WHEN 0 THEN NULL ELSE T7.SO_GIO_TT_CHUA_HT END ELSE NULL END) AS TG_TT_KG_KH_SUM
FROM            (SELECT        Y.MS_PHIEU_BAO_TRI, SUM(SO_GIO) AS SO_GIO_TT, MIN(NGAY) AS TU_NGAY_TT,MAX(DEN_NGAY) AS DEN_NGAY_TT
                          FROM            dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET X INNER JOIN PHIEU_BAO_TRI Y ON X.MS_PHIEU_BAO_TRI = Y.MS_PHIEU_BAO_TRI
						  WHERE Y.TINH_TRANG_PBT >=3
                          GROUP BY Y.MS_PHIEU_BAO_TRI) AS T3 RIGHT OUTER JOIN
                         dbo.PHIEU_BAO_TRI AS A INNER JOIN 						 
						 ( SELECT MS_PHIEU_BAO_TRI, SUM(SO_GIO_KH) AS SO_GIO_KH   FROM 
						 dbo.PHIEU_BAO_TRI_CONG_VIEC GROUP BY MS_PHIEU_BAO_TRI
						 ) AS B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI INNER JOIN
                         #MAY_TMP AS C ON A.MS_MAY = C.MS_MAY INNER JOIN
                         dbo.LOAI_BAO_TRI AS D ON A.MS_LOAI_BT = D.MS_LOAI_BT  ON T3.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI LEFT JOIN 
(SELECT        MS_PHIEU_BAO_TRI, SUM(THOI_GIAN_SUA_CHUA) AS TG_NM FROM dbo.THOI_GIAN_NGUNG_MAY WHERE ISNULL(MS_PHIEU_BAO_TRI,'') <> '' 
	GROUP BY THOI_GIAN_SUA, MS_PHIEU_BAO_TRI ) T4 ON A.MS_PHIEU_BAO_TRI = T4.MS_PHIEU_BAO_TRI   LEFT JOIN 
(SELECT        MS_PHIEU_BAO_TRI, SUM(SO_GIO_KH) AS SO_GIO_KH
                  FROM            dbo.PHIEU_BAO_TRI_CONG_VIEC
                  GROUP BY MS_PHIEU_BAO_TRI) AS T5 ON A.MS_PHIEU_BAO_TRI = T5.MS_PHIEU_BAO_TRI LEFT JOIN #COT_PBT T6 ON A.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI
LEFT JOIN 
(SELECT        Y.MS_PHIEU_BAO_TRI, SUM(X.SO_GIO_KH) AS SO_GIO_TT_CHUA_HT
                          FROM            dbo.PHIEU_BAO_TRI_CONG_VIEC X INNER JOIN PHIEU_BAO_TRI Y ON X.MS_PHIEU_BAO_TRI = Y.MS_PHIEU_BAO_TRI
						  WHERE Y.TINH_TRANG_PBT < 3
                          GROUP BY Y.MS_PHIEU_BAO_TRI) AS T7 ON A.MS_PHIEU_BAO_TRI = T7.MS_PHIEU_BAO_TRI 
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),A.NGAY_BD_KH,101)) BETWEEN @TNgay AND @DNgay )
	AND (A.MS_LOAI_BT = @MsLBTri  OR @MsLBTri = -1)  AND  (@iLoaiBC = 0 OR @iLoaiBC = 2) 


)
T1

SELECT        DISTINCT
ROW_NUMBER() OVER(ORDER BY NGAY_BD_KH, MS_PBT, MS_MAY, TEN_MAY, TEN_LOAI_BT) AS STT ,
  LOAI_BC, TEN_LOAI_BT, MS_MAY, NULL AS TEN_BO_PHAN, 
  
  TEN_MAY,  NULL TEN_CV, SUM(TG_KH_CO_KH) AS TG_KH_CO_KH, SUM(TG_KH_KG_KH) AS TG_KH_KG_KH, NGAY_BD_KH, 
                         NGAY_KT_KH, HOAN_THANH, SUM(TG_TT_CO_KH) AS TG_TT_CO_KH, SUM(TG_TT_KG_KH) AS TG_TT_KG_KH, MS_PBT, NGUOI_TH_PBT, TU_NGAY_TT, DEN_NGAY_TT, TT_SAU_BT, SUM(TG_NM) AS TG_NM, 
                         CONVERT(FLOAT, CASE ISNULL(SUM(SO_GIO_KH), 0) WHEN 0 THEN NULL ELSE SUM(SO_GIO_TT) / SUM(SO_GIO_KH) END) AS PTTG_TT_KH, NULL AS GHI_CHU, COT_MER, CO_KH_COUNT, KG_KH_COUNT, 
NULL AS  MS_BO_PHAN, 
                         SUM(TG_TT_CO_KH_SUM) AS TG_TT_CO_KH_SUM, SUM(TG_TT_KG_KH_SUM) AS TG_TT_KG_KH_SUM
FROM            #TMP_TMP
GROUP BY LOAI_BC, TEN_LOAI_BT, MS_MAY, TEN_MAY,  NGAY_BD_KH, NGAY_KT_KH, HOAN_THANH, MS_PBT, NGUOI_TH_PBT, TU_NGAY_TT, DEN_NGAY_TT, TT_SAU_BT,  
                         COT_MER, CO_KH_COUNT, KG_KH_COUNT
ORDER BY NGAY_BD_KH, MS_PBT, MS_MAY, TEN_MAY, TEN_LOAI_BT
