

--EXEC GetMS_MAY_DINH_LUONG '-1','admin'
ALTER proc [dbo].[GetMS_MAY_DINH_LUONG]
	@MS_LOAI_MAY nvarchar(20),
	@Username nvarchar(20)
as

SELECT DISTINCT CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY, CASE WHEN dbo.MAY.TEN_MAY IS NULL OR  dbo.MAY.TEN_MAY = '' THEN dbo.MAY.MS_MAY ELSE dbo.MAY.MS_MAY + ' ('  + dbo.MAY.TEN_MAY + ')'  END AS TEN_MAY
FROM         CAU_TRUC_THIET_BI_TS_GSTT INNER JOIN
                      MAY ON CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = MAY.MS_MAY INNER JOIN
                      MAY_NHA_XUONG ON MAY.MS_MAY = MAY_NHA_XUONG.MS_MAY INNER JOIN
                      NHOM_MAY ON MAY.MS_NHOM_MAY = NHOM_MAY.MS_NHOM_MAY INNER JOIN
                      THONG_SO_GSTT ON CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT = THONG_SO_GSTT.MS_TS_GSTT INNER JOIN                    
                      LOAI_MAY ON NHOM_MAY.MS_LOAI_MAY = LOAI_MAY.MS_LOAI_MAY INNER JOIN
                      NHOM_NHA_XUONG ON MAY_NHA_XUONG.MS_N_XUONG = NHOM_NHA_XUONG.MS_N_XUONG INNER JOIN
                      USERS ON NHOM_NHA_XUONG.GROUP_ID = USERS.GROUP_ID
WHERE     (NHOM_MAY.MS_LOAI_MAY = @MS_LOAI_MAY OR @MS_LOAI_MAY = '-1') AND USERS.USERNAME=@USERNAME AND THONG_SO_GSTT.LOAI_TS = 0
	


