

--GetNHOM_FORM_QUYEN 'Admin', 'frmCa'

ALTER procedure [dbo].[GetNHOM_FORM_QUYEN]
	@USERNAME NVARCHAR(50),
	@FORM_NAME 	NVARCHAR(255)
 AS
	
	SELECT     ISNULL(dbo.NHOM_FORM.QUYEN, 'Read only') AS QUYEN
	FROM         dbo.NHOM_FORM INNER JOIN NHOM ON NHOM_FORM.GROUP_ID =NHOM.GROUP_ID INNER JOIN
	                      dbo.USERS ON dbo.NHOM.GROUP_ID = dbo.USERS.GROUP_ID
	WHERE     (dbo.USERS.USERNAME = @USERNAME) AND (dbo.NHOM_FORM.FORM_NAME = @FORM_NAME)
