--select * from DI_CHUYEN_VI_TRI_TRONG_KHO
-- EXEC spGetDSDiChuyenKho '11/17/2016','11/17/2016', 20,18

ALTER proc [dbo].[spGetDSDiChuyenKho]
	@TNGAY DATETIME,
	@DNGAY DATETIME,
	@MS_KHO INT, 
	@MS_KHO_1 INT
AS
BEGIN
		SELECT IDENTITY(int, 1,1) as STT, T.MS_PT, T5.TEN_PT, T.MS_DH_NHAP_PT,T1.TEN_KHO AS TEN_KHO , T3.TEN_VI_TRI AS TEN_VI_TRI , T2.TEN_KHO AS TEN_KHO_1 , T4.TEN_VI_TRI AS TEN_VI_TRI_1, T.SL_CHUYEN into #TMP 
		FROM DI_CHUYEN_VI_TRI_TRONG_KHO T
		INNER JOIN IC_KHO T1 ON T.MS_KHO = T1.MS_KHO 
		INNER JOIN IC_KHO T2 ON T.MS_KHO_1 = T2.MS_KHO 
		INNER JOIN VI_TRI_KHO T3 ON T.MS_VI_TRI = T3.MS_VI_TRI AND T.MS_KHO = T3.MS_KHO 
		INNER JOIN VI_TRI_KHO T4 ON T.MS_VI_TRI_1 = T4.MS_VI_TRI AND T.MS_KHO_1 = T4.MS_KHO 
		INNER JOIN IC_PHU_TUNG T5 ON T5.MS_PT = T.MS_PT 
		WHERE (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1) AND (T2.MS_KHO = @MS_KHO_1 OR @MS_KHO_1 = -1) and CONVERT(DATE,NGAY_CHUYEN) BETWEEN @TNGAY AND @DNGAY
		ORDER BY MS_PT
		SELECT * FROM #TMP
END

