
--DROP TABLE KHBT_YEAR_TDadministrator
--select * from KHBT_YEAR_TDadministrator
--EXEC [SP_NHU_Y_GET_KE_HOACH_BAO_TRI_NAM_TD] '11-01-2016','11-30-2016','-1','administrator',1,0,0

-----------------------------------
ALTER PROCEDURE [dbo].[SP_NHU_Y_GET_KE_HOACH_BAO_TRI_NAM_TD] 
	@NGAY_BAT_DAU Nvarchar(10),
	@NGAY_KET_THUC Nvarchar(10),
	@MS_NHA_XUONG Nvarchar(50),
	@USERNAME NVARCHAR(50),
	@MS_LOAI_CV SMALLINT,
	@TYPELANG INT,
	@LoaiBC INT
AS
begin
--@LoaiBC = 0 Co xoa KHTT va PBT 
--@LoaiBC = 1 Khong xoa KHTT va PBT 

SELECT * INTO #MAY_USER FROM [dbo].[MGetMayUserNgay](@NGAY_KET_THUC,@USERNAME,@MS_NHA_XUONG,-1,-1,'-1','-1','-1',@TYPELANG)

SELECT     TOP (100) PERCENT A.MS_MAY, A.MS_LOAI_BT, A.NGAY_HC_CUOI AS NGAY_CUOI , A.CHU_KY, A.MS_DV_TG, A.NGAY_KE AS NGAY_BTKT INTO #HIEU_CHUAN_KE
FROM         dbo.MGetNgayHieuChuanKeBaoTri(@NGAY_BAT_DAU, @NGAY_KET_THUC, @UserName, @MS_NHA_XUONG, -1, '-1', '-1', 1) AS A 
ORDER BY A.MS_MAY, A.MS_LOAI_BT, A.NGAY_HC_CUOI, A.CHU_KY, A.MS_DV_TG, A.NGAY_KE

--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con
DELETE T1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      #HIEU_CHUAN_KE AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_BTKT) >= T2.NGAY_BTKT 
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_BTKT) <= T2.NGAY_BTKT 
 
--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con trong PBT
DELETE T1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      PHIEU_BAO_TRI AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_BTKT) >= T2.NGAY_BD_KH 
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_BTKT) <= T2.NGAY_BD_KH

--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con trong KHTT 
DELETE T1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      KE_HOACH_TONG_THE AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_BTKT) >= T2.NGAY
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_BTKT) <= T2.NGAY

--@LoaiBC = 0 Co xoa trong KHTT va PBT da lap
--@LoaiBC = 1 Khong xoa trong KHTT va PBT da lap
 IF @LoaiBC = 0 
BEGIN
	--Xóa bảo trì định kỳ đã lập bên kế hoạch tổng thể và phiếu bảo trì TRONG 1/4 CHU KY
	DELETE T
	FROM #HIEU_CHUAN_KE T INNER JOIN
	dbo.KE_HOACH_TONG_THE T1 ON T.MS_MAY = T1.MS_MAY AND 
	T.MS_LOAI_BT = T1.MS_LOAI_BT 
	WHERE DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_BTKT) >= T1.NGAY 
		AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_BTKT) <= T1.NGAY 

	DELETE T
	FROM #HIEU_CHUAN_KE T INNER JOIN dbo.PHIEU_BAO_TRI T1 ON T.MS_MAY = T1.MS_MAY AND T.MS_LOAI_BT = T1.MS_LOAI_BT 
	WHERE DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_BTKT) >= T1.NGAY_BD_KH 
	AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_BTKT) <= T1.NGAY_BD_KH 
END	



SELECT DISTINCT  T.MS_MAY, MAY.TEN_MAY,T.MS_LOAI_BT, A.TEN_LOAI_BT, T.NGAY_CUOI, T.CHU_KY , 
	T.NGAY_BTKT AS NGAY_KE,CONG_VIEC.MS_CV,CONG_VIEC.MO_TA_CV,MAY.NGAY_DUA_VAO_SD,CONG_VIEC.THOI_GIAN_DU_KIEN,
	CAU_TRUC_THIET_BI.MS_BO_PHAN, CAU_TRUC_THIET_BI.TEN_BO_PHAN,A.THU_TU INTO #KHBT_YEAR_TD
FROM #HIEU_CHUAN_KE T INNER JOIN	#MAY_USER MAY ON T.MS_MAY = MAY.MS_MAY 
INNER JOIN	LOAI_BAO_TRI A ON T.MS_LOAI_BT = A.MS_LOAI_BT INNER JOIN MAY_LOAI_BTPN_CONG_VIEC ON 
T.MS_MAY = MAY_LOAI_BTPN_CONG_VIEC.MS_MAY AND T.MS_LOAI_BT = MAY_LOAI_BTPN_CONG_VIEC.MS_LOAI_BT
INNER JOIN CONG_VIEC ON MAY_LOAI_BTPN_CONG_VIEC.MS_CV = CONG_VIEC.MS_CV
INNER JOIN CAU_TRUC_THIET_BI ON MAY_LOAI_BTPN_CONG_VIEC.MS_MAY = CAU_TRUC_THIET_BI.MS_MAY AND MAY_LOAI_BTPN_CONG_VIEC.MS_BO_PHAN = CAU_TRUC_THIET_BI.MS_BO_PHAN	
WHERE  (CONG_VIEC.MS_LOAI_CV=@MS_LOAI_CV OR @MS_LOAI_CV = -1)



SELECT DISTINCT TEMP.MS_MAY + ' - ' + ISNULL(TEMP.TEN_MAY,TEMP.MS_MAY) AS TEN_MAY,TEMP.MS_MAY,TEMP.MS_CV,TEMP.MS_BO_PHAN,
	TEMP.MO_TA_CV,TEMP.MS_BO_PHAN + ' - ' + TEMP.TEN_BO_PHAN AS TEN_BO_PHAN,TEMP.NGAY_DUA_VAO_SD,
	CONVERT(NVARCHAR(10), TEMP.CHU_KY) + ' ' + 
	CASE @TYPELANG WHEN 0 THEN T2.TEN_DV_TG WHEN 1 THEN T2.TEN_DV_TG_ANH ELSE T2.TEN_DV_TG_HOA END AS CHU_KY,	
	TEMP.NGAY_KE,D.GHI_CHU, CONVERT(INT,ISNULL(X.STT,9999)) AS STT_BP,CONVERT(INT,ISNULL(TEMP.THU_TU,9999)) AS THU_TU
FROM #KHBT_YEAR_TD
as TEMP LEFT JOIN MAY_LOAI_BTPN_CONG_VIEC_PHU_TUNG C ON TEMP.MS_MAY =C.MS_MAY
AND TEMP.MS_LOAI_BT=C.MS_LOAI_BT AND TEMP.MS_CV=C.MS_CV AND TEMP.MS_BO_PHAN=C.MS_BO_PHAN
INNER JOIN CAU_TRUC_THIET_BI_CONG_VIEC D ON TEMP.MS_MAY = D.MS_MAY
AND TEMP.MS_BO_PHAN=D.MS_BO_PHAN AND TEMP.MS_CV=D.MS_CV INNER JOIN V_MAY_LOAI_BTPN_CHU_KY_MAX T1 ON 
TEMP.MS_MAY = T1.MS_MAY AND T1.MS_LOAI_BT = TEMP.MS_LOAI_BT INNER JOIN  
dbo.DON_VI_THOI_GIAN AS T2 ON T1.MS_DV_TG = T2.MS_DV_TG  INNER JOIN
dbo.CAU_TRUC_THIET_BI AS X ON D.MS_MAY = X.MS_MAY AND D.MS_BO_PHAN = X.MS_BO_PHAN

ORDER BY MS_MAY,CONVERT(INT,ISNULL(X.STT,9999)),MS_BO_PHAN,CONVERT(INT,ISNULL(TEMP.THU_TU,9999)),CONVERT(NVARCHAR(10), TEMP.CHU_KY) + ' ' + 
	CASE @TYPELANG WHEN 0 THEN T2.TEN_DV_TG WHEN 1 THEN T2.TEN_DV_TG_ANH ELSE T2.TEN_DV_TG_HOA END 


end
