
ALTER proc [dbo].[GetLOAI_BAO_TRI_PBT_THEO_BTPN]
@MS_MAY NVARCHAR(30)
AS

	SELECT     LOAI_BAO_TRI.MS_LOAI_BT, LOAI_BAO_TRI.TEN_LOAI_BT, 0 AS HU_HONG
	FROM         LOAI_BAO_TRI INNER JOIN
	                      MAY_LOAI_BTPN ON LOAI_BAO_TRI.MS_LOAI_BT = MAY_LOAI_BTPN.MS_LOAI_BT
	WHERE     (MAY_LOAI_BTPN.MS_MAY = @MS_MAY)

UNION

	SELECT     MS_LOAI_BT, TEN_LOAI_BT,HU_HONG
	FROM         LOAI_BAO_TRI
	WHERE     MS_HT_BT IN
	                          (SELECT     MS_HT_BT
	                            FROM          HINH_THUC_BAO_TRI
	                            WHERE      PHONG_NGUA = 0)

ORDER BY TEN_LOAI_BT
