
ALTER PROCEDURE [dbo].[CheckPHIEU_BAO_TRI]

@MS_PHIEU_BAO_TRI NVARCHAR(20)
 AS

DECLARE @TMP NVARCHAR(20)
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM EOR_CONG_VIEC WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_CONG_VIEC WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
--SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_CHI_PHI WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_CONG_VIEC WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_DI_CHUYEN_BP WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_CV_PHU_TRO WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_HINH WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_SERVICE WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM EOR_CONG_VIEC_PHU_TRO WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM MAY_PHAN_BO_ATT WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM IC_DON_HANG_XUAT WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM THOI_GIAN_NGUNG_MAY_SO_LAN WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CLASS WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI

SELECT @TMP= MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_TINH_TRANG WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP AS MS_PHIEU_BAO_TRI
