IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetLOAI_MAY1')
   exec('CREATE PROCEDURE GetLOAI_MAY1 AS BEGIN SET NOCOUNT ON; END')
GO

ALTER proc [dbo].[GetLOAI_MAY1]
	@NNGU int
AS
SELECT MS_LOAI_MAY, TEN_LOAI_MAY, STT_MAY, ATTACHMENT,GHI_CHU FROM LOAI_MAY 
ORDER BY STT_MAY
