IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetNHOM_MAY')
   exec('CREATE PROCEDURE GetNHOM_MAY AS BEGIN SET NOCOUNT ON; END')
GO


/****** Object:  StoredProcedure [dbo].[GetNHOM_MAY]    Script Date: 31/10/2016 16:18:43 ******/
-- EXEC [dbo].[GetNHOM_MAY] 'AIC' ,0

ALTER proc [dbo].[GetNHOM_MAY]
	@MS_LOAI_MAY NVARCHAR(20),
	@NNGU int
AS
SELECT NHOM_MAY.MS_NHOM_MAY, TEN_NHOM_MAY,NHOM_MAY.MS_LOAI_MAY,NHOM_MAY.GHI_CHU, TEN_LOAI_MAY FROM NHOM_MAY INNER JOIN LOAI_MAY ON NHOM_MAY.MS_LOAI_MAY=LOAI_MAY.MS_LOAI_MAY
WHERE LOAI_MAY.MS_LOAI_MAY =@MS_LOAI_MAY
