IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetBO_PHAN_GSTT_NGON_NGUs')
   exec('CREATE PROCEDURE GetBO_PHAN_GSTT_NGON_NGUs AS BEGIN SET NOCOUNT ON; END')
GO

ALTER proc [dbo].[GetBO_PHAN_GSTT_NGON_NGUs]
	@NGON_NGU AS INT
AS

	SELECT MS_BP_GSTT,TEN_BP_GSTT_TV AS TEN_BP_GSTT FROM BO_PHAN_GSTT ORDER BY TEN_BP_GSTT
