IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetPHU_TUNG')
   exec('CREATE PROCEDURE GetPHU_TUNG AS BEGIN SET NOCOUNT ON; END')
GO

ALTER proc [dbo].[GetPHU_TUNG]
	@NNGU nvarchar(5)
AS
SELECT *,MS_PT + ' - ' + TEN_PT as TENPT
FROM IC_PHU_TUNG WHERE DUNG_CU_DO=1
