IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetTHONG_SO_GSTT_MS_BP_GSTT_NGON_NGUs')
   exec('CREATE PROCEDURE GetTHONG_SO_GSTT_MS_BP_GSTT_NGON_NGUs AS BEGIN SET NOCOUNT ON; END')
GO
ALTER proc [dbo].[GetTHONG_SO_GSTT_MS_BP_GSTT_NGON_NGUs]
	---@MS_MAY NVARCHAR(30),
	@NGON_NGU AS INT
AS
	SELECT DISTINCT THONG_SO_GSTT.MS_BP_GSTT, BO_PHAN_GSTT.TEN_BP_GSTT_TV AS TEN_BP_GSTT
	FROM  THONG_SO_GSTT INNER JOIN BO_PHAN_GSTT ON THONG_SO_GSTT.MS_BP_GSTT = BO_PHAN_GSTT.MS_BP_GSTT

