


--SELECT * FROM NHOM_FORM WHERE GROUP_ID = 2

ALTER proc [dbo].[UpdateNHOM_FORM]
	@GROUP_ID INT,
	@FORM_NAME  nvarchar(255),
	@QUYEN nvarchar(20)
AS
IF EXISTS(
SELECT * FROM NHOM_FORM WHERE GROUP_ID = @GROUP_ID AND FORM_NAME = @FORM_NAME)
	UPDATE NHOM_FORM SET QUYEN=@QUYEN
	WHERE GROUP_ID=@GROUP_ID AND FORM_NAME=@FORM_NAME
ELSE
	INSERT INTO NHOM_FORM (FORM_NAME ,GROUP_ID,QUYEN) VALUES (@FORM_NAME,@GROUP_ID,@QUYEN )
