
--exec Check_Exist_NV '102186'
ALTER Proc [dbo].[Check_Exist_NV]
(
	@MS_CN nvarchar(9)
)
AS
DECLARE @COUNT INT
SELECT @COUNT = (SELECT SL=COUNT(*) from PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
 RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM PHIEU_BAO_TRI_CV_PHU_TRO_NHAN_SU where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM IC_DON_HANG_NHAP where NGUOI_NHAP = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM IC_DON_HANG_XUAT where NGUOI_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM PHIEU_BAO_TRI where NGUOI_LAP = @MS_CN OR NGUOI_GIAM_SAT = @MS_CN OR NGUOI_NGHIEM_THU = @MS_CN )
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
--SELECT @COUNT =(SELECT SL=COUNT(*) FROM THOI_GIAN_NGUNG_MAY where MS_CONG_NHAN = @MS_CN)
--SELECT   @COUNT AS COU
--IF @COUNT > 0 
--  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM KE_HOACH_THUC_HIEN where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM CONG_NHAN_BO_PHAN_CHIU_PHI where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM CONG_NHAN_CHUYEN_MON where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM GIAM_SAT_TINH_TRANG where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM GIAM_SAT_TINH_TRANG_TS where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM GIAM_SAT_TINH_TRANG_TS_DT where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM TAI_NAN_LD where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM YEU_CAU_NSD_CHI_TIET where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM CONG_NHAN_CHUYEN_MON_BAC_THO where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM CONG_VIEC_HANG_NGAY_NV where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM CHUC_VU where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM LUONG_CO_BAN where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN
SELECT @COUNT =(SELECT SL=COUNT(*) FROM EDIT_TRUC_CA_CONG_NHAN_LAST where MS_CONG_NHAN = @MS_CN)
SELECT   @COUNT AS COU
IF @COUNT > 0 
  RETURN

--select * from PHIEU_BAO_TRI
