
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetDSPBTTheoNgayCuoi')
   exec('CREATE PROCEDURE GetDSPBTTheoNgayCuoi AS BEGIN SET NOCOUNT ON; END')
GO

--EXEC GetDSPBTTheoNgayCuoi 'admin' , N'-1'
ALTER procedure [dbo].[GetDSPBTTheoNgayCuoi]
	 @UserName NVARCHAR(50) ,
	 @MsNX NVARCHAR(50)  , 
	 @NNgu int = 0
 AS

 declare @DenNgay datetime
 set @DenNgay = getdate()

SELECT DISTINCT MS_MAY,TEN_MAY, TEN_LOAI_MAY,TEN_NHOM_MAY,Ten_N_XUONG,MS_N_XUONG,MS_NHOM_MAY INTO #MAY_USER FROM 
dbo.MGetMayUserNgay(@DenNgay,@UserName,@MsNX,-1,-1,'-1','-1','-1',@NNgu) 


SELECT MS_MAY, MAX(NGAY_NGHIEM_THU) AS NGAY_BT_CUOI INTO #PBT
FROM dbo.PHIEU_BAO_TRI 
GROUP BY MS_MAY 
HAVING      (MAX(NGAY_NGHIEM_THU) IS NOT NULL)


SELECT        ROW_NUMBER() OVER(ORDER BY T2.TEN_N_XUONG,T2.TEN_LOAI_MAY, T2.MS_MAY, T2.TEN_MAY,  T1.NGAY_NGHIEM_THU DESC) AS STT,
	T2.TEN_N_XUONG,T2.TEN_LOAI_MAY, T2.MS_MAY, T2.TEN_MAY,  T1.NGAY_NGHIEM_THU, T1.MS_PHIEU_BAO_TRI, 
	CONVERT(NVARCHAR(4000),CASE T3.HU_HONG WHEN 1 THEN T3.TEN_LOAI_BT + ' - ' + T1.LY_DO_BT WHEN 0 THEN T1.LY_DO_BT END) AS NOI_DUNG
FROM dbo.PHIEU_BAO_TRI AS T1 INNER JOIN #MAY_USER AS T2 ON T1.MS_MAY = T2.MS_MAY 
INNER JOIN #PBT AS NGAY_BAO_TRI_CUOI ON T1.MS_MAY =NGAY_BAO_TRI_CUOI.MS_MAY AND T1.NGAY_NGHIEM_THU = NGAY_BAO_TRI_CUOI.NGAY_BT_CUOI 
INNER JOIN LOAI_BAO_TRI T3  ON T3.MS_LOAI_BT = T1.MS_LOAI_BT
ORDER BY T2.TEN_N_XUONG,T2.TEN_LOAI_MAY, T2.MS_MAY, T2.TEN_MAY,  T1.NGAY_NGHIEM_THU DESC
