
ALTER procedure [dbo].[GetThongTinNghiemThuPBT]
	@MS_PHIEU_BAO_TRI NVARCHAR(50)
AS
	SELECT  MS_PHIEU_BAO_TRI, TINH_TRANG_PBT, MS_MAY, MS_LOAI_BT, NGAY_LAP, GIO_LAP, LY_DO_BT, MS_UU_TIEN, NGAY_BD_KH, NGAY_KT_KH, NGUOI_LAP, USERNAME_NGUOI_LAP, 
                      NGUOI_GIAM_SAT, GIO_HONG, NGAY_HONG, TT_SAU_BT, CONVERT(NVARCHAR(10), NGAY_NGHIEM_THU, 103) AS NGAY_NGHIEM_THU, NGUOI_NGHIEM_THU, NGAY_BTPN, USERNAME_NGUOI_NT, SO_PHIEU_BAO_TRI, MS_NGUYEN_NHAN, 
                      DEN_GIO_HONG, DEN_NGAY_HONG, DHX, SO_GIO_LUY_KE, MS_TT_CT, UPDATE_NGAY_CUOI
 FROM PHIEU_BAO_TRI  
	WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
