

--exec GET_THE_KHO 18, '01/01/2016', '12/30/2016', 'BAF-BF-002', 0
ALTER procedure [dbo].[GET_THE_KHO]
 @MS_KHO INT ,
 @TU_NGAY DATETIME ,
 @DEN_NGAY DATETIME , 
 @MS_PT NVARCHAR (30) ,
 @TYPELANGUAGE INT 
  AS
BEGIN
set @TU_NGAY = @TU_NGAY + '00:00:00.000'
set @DEN_NGAY = @DEN_NGAY + '23:59:59.000'


DECLARE @TON_DAU_KY FLOAT 


DECLARE @TonKho AS TypeInventory; 
INSERT INTO @TonKho  exec MTinhTonKhoTheoViTri @TU_NGAY, @DEN_NGAY,'-1',@MS_PT,@MS_KHO,'ADMIN',0 

SELECT @TON_DAU_KY = SUM(ISNULL(TON_DAU_KY,0)) FROM @TonKho A


SELECT A.TON_DAU, A.NGAY, A.CHUNG_TU , A.SL_XUAT , A.SL_NHAP , A.SL_CHUYEN_DI , A.SL_CHUYEN_DEN , A.SL_CHENH_LECH  , 0.00 AS TON_CUOI_KY
FROM 
(
SELECT @TON_DAU_KY AS TON_DAU , NULL AS NGAY , NULL AS CHUNG_TU , 0.00 AS SL_XUAT,0.00 AS SL_NHAP,0.00 AS SL_CHUYEN_DI,0.00 AS SL_CHUYEN_DEN,0.00 AS SL_CHENH_LECH
UNION
--Lấy số lượng xuất trong khoảng từ ngày đến ngày
 SELECT        0.00 AS TON_DAU, T1.NGAY, T2.MS_DH_XUAT_PT AS CHUNG_TU, ISNULL(SUM(T3.SL_VT),0) AS SL_XUAT, 0.00 AS SL_NHAP, 0.00 AS SL_CHUYEN_DI, 0.00 AS SL_CHUYEN_DEN, 0.00 AS SL_CHENH_LECH
 FROM            dbo.IC_DON_HANG_XUAT AS T1 INNER JOIN
        dbo.IC_DON_HANG_XUAT_VAT_TU AS T2 ON T1.MS_DH_XUAT_PT = T2.MS_DH_XUAT_PT INNER JOIN
        dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT AND T2.MS_PT = T3.MS_PT
 WHERE        (T1.MS_KHO = @MS_KHO) AND (T3.MS_PT = @MS_PT)
 GROUP BY T1.NGAY, T2.MS_DH_XUAT_PT
 HAVING        (T1.NGAY >= @TU_NGAY) AND (T1.NGAY <= @DEN_NGAY)
UNION 
--Lấy số lượng nhập từ ngày đến ngày
SELECT        0.00 AS TON_DAU, T1.NGAY, T2.MS_DH_NHAP_PT AS CHUNG_TU, 0.00 AS SL_XUAT, ISNULL(SUM(T3.SL_VT),0) AS SL_NHAP, 0.00 AS SL_CHUYEN_DI, 0.00 AS SL_CHUYEN_DEN, 0.00 AS SL_CHENH_LECH
FROM            dbo.IC_DON_HANG_NHAP AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T3 ON T2.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT AND T2.ID = T3.ID AND T2.MS_PT = T3.MS_PT
WHERE        (T1.MS_KHO = @MS_KHO) AND (T3.MS_PT = @MS_PT)
GROUP BY T1.NGAY, T2.MS_DH_NHAP_PT
HAVING        (T1.NGAY >= @TU_NGAY) AND (T1.NGAY <= @DEN_NGAY)

UNION
--Lấy số lượng di chuyển đi từ ngày đến ngày
SELECT        0.00 AS TON_DAU, NGAY_CHUYEN, CASE @TYPELANGUAGE WHEN 0 THEN N'Di chuyển' ELSE N'Moving' END AS CHUNG_TU, 0.00 AS SL_XUAT, 0.00 AS SL_NHAP, SUM(SL_CHUYEN) AS SL_CHUYEN_DI, 
                         0.00 AS SL_CHUYEN_DEN, 0.00 AS SL_CHENH_LECH
FROM            dbo.DI_CHUYEN_VI_TRI_TRONG_KHO
WHERE        (MS_KHO = @MS_KHO) AND (MS_PT = @MS_PT)
GROUP BY NGAY_CHUYEN
HAVING        (NGAY_CHUYEN >= @TU_NGAY) AND (NGAY_CHUYEN <= @DEN_NGAY)
UNION
--Lấy số lượng di chuyển đến từ ngày đến ngày
SELECT        0.00 AS TON_DAU, NGAY_CHUYEN AS NGAY, CASE @TYPELANGUAGE WHEN 0 THEN N'Di chuyển' ELSE N'Moving' END AS CHUNG_TU, 0.00 AS SL_XUAT, 0.00 AS SL_NHAP, 0.00 AS SL_CHUYEN_DI, 
                         SUM(SL_CHUYEN) AS SL_CHUYEN_DEN, 0.00 AS SL_CHENH_LECH
FROM            dbo.DI_CHUYEN_VI_TRI_TRONG_KHO
WHERE        (MS_PT = @MS_PT) AND (MS_KHO_1 = @MS_KHO)
GROUP BY NGAY_CHUYEN
HAVING        (NGAY_CHUYEN >= @TU_NGAY) AND (NGAY_CHUYEN <= @DEN_NGAY)
UNION
--Tính chênh lệch kiểm kê từ ngày đến ngày
SELECT        0.00 AS TON_DAU, NGAY,CASE @TYPELANGUAGE WHEN 0 THEN N'Kiểm kê lúc ' + 
CONVERT(NVARCHAR(5), dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY, 108) ELSE N'Inventory at  ' + 
CONVERT(NVARCHAR(5), dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY, 108) END AS CHUNG_TU, 0.00 AS SL_XUAT, 0.00 AS SL_NHAP, 0.00 AS SL_CHUYEN_DI, 0.00 AS SL_CHUYEN_DEN, --SL_KK_CT kiểm kê thực tế - tồn hiện tại (chung_tu)
                         SUM(ISNULL(SL_KK_CT, 0) - ISNULL(SL_CHUNG_TU, 0)) AS SL_CHENH_LECH
FROM            dbo.KIEM_KE_VAT_TU_CHI_TIET
WHERE        (MS_KHO = @MS_KHO) AND (MS_PT = @MS_PT)
GROUP BY NGAY
HAVING        (NGAY >= @TU_NGAY) AND (NGAY <= @DEN_NGAY)

) A 
--WHERE  A.SL_XUAT > 0 OR A.SL_NHAP > 0 OR A.SL_CHUYEN_DI > 0 OR A.SL_CHUYEN_DEN > 0 OR A.SL_CHENH_LECH > 0 OR A.TON_DAU > 0
ORDER BY A.NGAY ASC 


END

--select * from KIEM_KE_VAT_TU_CHI_TIET where MS_PT = 'BAF-BF-002'