
-- SELECT * FROM KIEM_KE WHERE MS_KHO = 18
--exec QL_LOAD_PHIEU_KIEM_KE  18, '12/21/2016 11:49:00'
ALTER  proc [dbo].[QL_LOAD_PHIEU_KIEM_KE]
	@MS_KHO INT,
	@NGAY DATETIME
AS
SELECT *
FROM KIEM_KE
WHERE MS_KHO=@MS_KHO
AND  NGAY = @NGAY


--AND CAST(DAY(NGAY) AS NVARCHAR(2))+CAST('/' AS NVARCHAR(1))+
--CAST(MONTH(NGAY) AS NVARCHAR(2))+CAST('/' AS NVARCHAR(1))+
--CAST(YEAR(NGAY) AS NVARCHAR(4))=CAST(DAY(@NGAY) AS NVARCHAR(2))+CAST('/' AS NVARCHAR(1))+
--CAST(MONTH(@NGAY) AS NVARCHAR(2))+CAST('/' AS NVARCHAR(1))+
--CAST(YEAR(@NGAY) AS NVARCHAR(4))
