
--2016-12-21 00:00:00.000	21	1900-01-01 11:06:58.000

--QL_CHECK_PHIEU_KIEM_KE_EXISTS 21, '2016-12-21 11:06'
ALTER proc [dbo].[QL_CHECK_PHIEU_KIEM_KE_EXISTS]
	@MS_KHO INT,
	@NGAY DATETIME
AS
SELECT * 
FROM KIEM_KE
WHERE MS_KHO=@MS_KHO AND CONVERT(DATETIME, CONVERT(NVARCHAR(10), NGAY, 101) + ' ' + CONVERT(NVARCHAR(5), NGAY, 108))
>= @NGAY

--AND CAST(DAY(NGAY) AS NVARCHAR(2))+CAST('/' AS NVARCHAR(1))+
--CAST(MONTH(NGAY) AS NVARCHAR(2))+CAST('/' AS NVARCHAR(1))+
--CAST(YEAR(NGAY) AS NVARCHAR(4))=CAST(DAY(@NGAY) AS NVARCHAR(2))+CAST('/' AS NVARCHAR(1))+
--CAST(MONTH(@NGAY) AS NVARCHAR(2))+CAST('/' AS NVARCHAR(1))+
--CAST(YEAR(@NGAY) AS NVARCHAR(4))
--CONVERT(DATETIME, CONVERT(NVARCHAR(10), NGAY_KT, 101) + '' ''+ CONVERT(NVARCHAR(8), GIO_KT, 108)