ALTER proc [dbo].[QL_UPDATE_KIEM_KE_VAT_TU_CHI_TIET]
	@NGAY datetime,
	@MS_KHO int,
	@MS_PT nvarchar(25),
	@MS_VI_TRI int,
	@MS_DH_NHAP_PT nvarchar(14),
	@SL_KK_CT float, 
	@GHI_CHU NVARCHAR (256),
	@ID_KK float
AS
UPDATE [KIEM_KE_VAT_TU_CHI_TIET]
SET
[SL_KK_CT]=@SL_KK_CT, [GHI_CHU]=@GHI_CHU
WHERE [MS_KHO]=@MS_KHO
AND [MS_PT]=@MS_PT
AND [MS_VI_TRI]=@MS_VI_TRI
AND [MS_DH_NHAP_PT]=@MS_DH_NHAP_PT
AND ID_KK = @ID_KK
AND NGAY = @NGAY