--QL_LOAD_PHIEU_KIEM_KE_VAT_TU_CHI_TIET 18, '12/21/2016 11:49:00', -1
ALTER proc [dbo].[QL_LOAD_PHIEU_KIEM_KE_VAT_TU_CHI_TIET]
	@MS_KHO INT,
	@NGAY DATETIME,
	@MS_CLASS INT
AS
IF @MS_CLASS=-1
		SELECT KK.MS_VI_TRI, KK.MS_PT, KK.MS_DH_NHAP_PT, VTK.TEN_VI_TRI, PT.MS_PT_NCC, PT.MS_PT_CTY, PT.TEN_PT, 
			  DV.TEN_1 AS DVT, KK.SL_CHUNG_TU AS SL_TON_CTU, KK.SL_KK_CT AS SL_TON_TT, KK.GHI_CHU, KK.ID_KK
		FROM         dbo.KIEM_KE_VAT_TU_CHI_TIET AS KK INNER JOIN
			  dbo.VI_TRI_KHO AS VTK ON VTK.MS_VI_TRI = KK.MS_VI_TRI INNER JOIN
			  dbo.IC_PHU_TUNG AS PT INNER JOIN
			  dbo.DON_VI_TINH AS DV ON PT.DVT = DV.DVT ON KK.MS_PT = PT.MS_PT
		WHERE     (KK.MS_KHO = @MS_KHO) AND KK.NGAY = @NGAY 
		--(CAST(DAY(KK.NGAY) AS NVARCHAR(2)) + CAST('/' AS NVARCHAR(1)) + CAST(MONTH(KK.NGAY) AS NVARCHAR(2)) 
		--	  + CAST('/' AS NVARCHAR(1)) + CAST(YEAR(KK.NGAY) AS NVARCHAR(4)) = CAST(DAY(@NGAY) AS NVARCHAR(2)) + CAST('/' AS NVARCHAR(1)) 
		--	  + CAST(MONTH(@NGAY) AS NVARCHAR(2)) + CAST('/' AS NVARCHAR(1)) + CAST(YEAR(@NGAY) AS NVARCHAR(4)))
		ORDER BY KK.MS_PT, KK.MS_DH_NHAP_PT, VTK.TEN_VI_TRI

ELSE IF @MS_CLASS=-2
		SELECT KK.MS_VI_TRI, KK.MS_PT, KK.MS_DH_NHAP_PT, VTK.TEN_VI_TRI, PT.MS_PT_NCC, PT.MS_PT_CTY, PT.TEN_PT, 
			  DV.TEN_1 AS DVT, KK.SL_CHUNG_TU AS SL_TON_CTU, KK.SL_KK_CT AS SL_TON_TT, KK.GHI_CHU, KK.ID_KK
		FROM         dbo.KIEM_KE_VAT_TU_CHI_TIET AS KK INNER JOIN
			  dbo.VI_TRI_KHO AS VTK ON VTK.MS_VI_TRI = KK.MS_VI_TRI INNER JOIN
			  dbo.IC_PHU_TUNG AS PT INNER JOIN
			  dbo.DON_VI_TINH AS DV ON PT.DVT = DV.DVT ON KK.MS_PT = PT.MS_PT
		WHERE     (KK.MS_KHO = @MS_KHO)  AND KK.NGAY = @NGAY 
		--(CAST(DAY(KK.NGAY) AS NVARCHAR(2)) + CAST('/' AS NVARCHAR(1)) + CAST(MONTH(KK.NGAY) AS NVARCHAR(2)) 
		--	  + CAST('/' AS NVARCHAR(1)) + CAST(YEAR(KK.NGAY) AS NVARCHAR(4)) = CAST(DAY(@NGAY) AS NVARCHAR(2)) + CAST('/' AS NVARCHAR(1)) 
		--	  + CAST(MONTH(@NGAY) AS NVARCHAR(2)) + CAST('/' AS NVARCHAR(1)) + CAST(YEAR(@NGAY) AS NVARCHAR(4)))
		 AND (PT.MS_CLASS IS NULL)
		ORDER BY KK.MS_PT, KK.MS_DH_NHAP_PT, VTK.TEN_VI_TRI
ELSE
		SELECT KK.MS_VI_TRI, KK.MS_PT, KK.MS_DH_NHAP_PT, VTK.TEN_VI_TRI, PT.MS_PT_NCC, PT.MS_PT_CTY, PT.TEN_PT, 
			  DV.TEN_1 AS DVT, KK.SL_CHUNG_TU AS SL_TON_CTU, KK.SL_KK_CT AS SL_TON_TT, KK.GHI_CHU, KK.ID_KK
		FROM         dbo.KIEM_KE_VAT_TU_CHI_TIET AS KK INNER JOIN
			  dbo.VI_TRI_KHO AS VTK ON VTK.MS_VI_TRI = KK.MS_VI_TRI INNER JOIN
			  dbo.IC_PHU_TUNG AS PT INNER JOIN
			  dbo.DON_VI_TINH AS DV ON PT.DVT = DV.DVT ON KK.MS_PT = PT.MS_PT
		WHERE     (KK.MS_KHO = @MS_KHO)  AND KK.NGAY = @NGAY 
		--AND (CAST(DAY(KK.NGAY) AS NVARCHAR(2)) + CAST('/' AS NVARCHAR(1)) + CAST(MONTH(KK.NGAY) AS NVARCHAR(2)) 
		--	  + CAST('/' AS NVARCHAR(1)) + CAST(YEAR(KK.NGAY) AS NVARCHAR(4)) = CAST(DAY(@NGAY) AS NVARCHAR(2)) + CAST('/' AS NVARCHAR(1)) 
		--	  + CAST(MONTH(@NGAY) AS NVARCHAR(2)) + CAST('/' AS NVARCHAR(1)) + CAST(YEAR(@NGAY) AS NVARCHAR(4))) 
		AND (PT.MS_CLASS = @MS_CLASS)
		ORDER BY KK.MS_PT, KK.MS_DH_NHAP_PT, VTK.TEN_VI_TRI
