
--2016-12-21 00:00:00.000	21	1900-01-01 11:06:58.000	0
--CheckKIEM_KE_VAT_TU_CHI_TIET_LON_HON_NGAY_KIEM_KE '11:05:58.000', '2016-12-21', 21
ALTER procedure [dbo].[CheckKIEM_KE_VAT_TU_CHI_TIET_LON_HON_NGAY_KIEM_KE]
@GIO NVARCHAR(8),
@NGAY NVARCHAR(10),
@MS_KHO INT
AS

SELECT  NGAY
FROM         KIEM_KE 
WHERE CONVERT(DATETIME, CONVERT(NVARCHAR(10), @NGAY, 101) + ' ' + CONVERT(NVARCHAR(5), @GIO, 108)) < CONVERT(DATETIME, CONVERT(NVARCHAR(10), NGAY, 101) + ' ' + CONVERT(NVARCHAR(5), NGAY, 108))
AND KIEM_KE.MS_KHO=@MS_KHO
