
ALTER procedure [dbo].[UpdateYEU_CAU_NSD_CHI_TIET]
@STT INTEGER,
@MS_MAY_MOI NVARCHAR(30),
@MS_MAY NVARCHAR(30),
@STT_VAN_DE INTEGER,
@MO_TA_TINH_TRANG NVARCHAR(MAX),
@YEU_CAU NVARCHAR(MAX),
@NGUOI_XAC_NHAN NVARCHAR(255),
@NOI_DUNG_XAC_NHAN NVARCHAR(255),
@UU_TIEN INT
 AS
UPDATE YEU_CAU_NSD_CHI_TIET SET
MS_MAY=@MS_MAY_MOI,
MO_TA_TINH_TRANG=@MO_TA_TINH_TRANG,
YEU_CAU=@YEU_CAU,
NGUOI_XAC_NHAN=@NGUOI_XAC_NHAN,
NOI_DUNG_XAC_NHAN=@NOI_DUNG_XAC_NHAN, MS_UU_TIEN = @UU_TIEN
WHERE STT=@STT AND MS_MAY=@MS_MAY AND STT_VAN_DE=@STT_VAN_DE
