
ALTER procedure [dbo].[AddYEU_CAU_NSD_CHI_TIET]
	@STT INTEGER,
	@MS_MAY NVARCHAR(30),
	@MO_TA_TINH_TRANG NVARCHAR(MAX),
	@YEU_CAU NVARCHAR(MAX),
	@NGUOI_XAC_NHAN NVARCHAR(50),
	@NOI_DUNG_XAC_NHAN NVARCHAR(255),
	@UU_TIEN INT
 AS
	INSERT INTO YEU_CAU_NSD_CHI_TIET(STT,MS_MAY,MO_TA_TINH_TRANG,YEU_CAU,NGUOI_XAC_NHAN,NOI_DUNG_XAC_NHAN, MS_UU_TIEN)
VALUES(
	@STT ,
	@MS_MAY ,
	@MO_TA_TINH_TRANG ,
	@YEU_CAU ,
	@NGUOI_XAC_NHAN,
	@NOI_DUNG_XAC_NHAN ,@UU_TIEN
)
