
ALTER procedure [dbo].[AddYEU_CAU_NSD] 
			@MS_YEU_CAU nvarchar(50),
			@SO_YEU_CAU nvarchar(250),
			@NGAY datetime,
			@GIO_YEU_CAU datetime,
			@NGAY_HOAN_THANH datetime,
			@NGUOI_YEU_CAU nvarchar(50),
			@MS_N_XUONG nvarchar(50),
			@USER_COMMENT nvarchar(MAX),
			@EMAIL_NSD nvarchar(100),
			@STT INT,
			@USER_LAP NVARCHAR(30)
AS
IF @STT = -1
BEGIN
	INSERT INTO [YEU_CAU_NSD] (MS_YEU_CAU ,SO_YEU_CAU ,NGAY ,GIO_YEU_CAU ,NGAY_HOAN_THANH ,
		NGUOI_YEU_CAU ,MS_N_XUONG ,USER_COMMENT,EMAIL_NSD, USER_LAP )
	VALUES(
	@MS_YEU_CAU ,@SO_YEU_CAU ,CONVERT(DATETIME,@NGAY,103) ,CONVERT(DATETIME,@GIO_YEU_CAU,114) ,
	CONVERT(DATETIME,@NGAY_HOAN_THANH,103) ,@NGUOI_YEU_CAU ,@MS_N_XUONG ,@USER_COMMENT,@EMAIL_NSD,@USER_LAP )
	SELECT SCOPE_IDENTITY()
END
ELSE
BEGIN
UPDATE [YEU_CAU_NSD] SET  MS_YEU_CAU = @MS_YEU_CAU,SO_YEU_CAU = @SO_YEU_CAU, NGAY = @NGAY, GIO_YEU_CAU = @GIO_YEU_CAU,
			NGAY_HOAN_THANH = @NGAY_HOAN_THANH, NGUOI_YEU_CAU = @NGUOI_YEU_CAU, MS_N_XUONG = @MS_N_XUONG,
			USER_COMMENT = @USER_COMMENT, EMAIL_NSD = @EMAIL_NSD , USER_LAP = @USER_LAP 
WHERE STT = @STT		
	SELECT @STT 
END 	

