IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spBCDanhSachPBTTheoNgayCuoi')
   exec('CREATE PROCEDURE spBCDanhSachPBTTheoNgayCuoi AS BEGIN SET NOCOUNT ON; END')
GO



--EXEC spBCDanhSachPBTTheoNgayCuoi '01/01/2015','01/01/2016', 'TRUNGNV','-1',-1,'-1',5,0
ALTER procedure [dbo].spBCDanhSachPBTTheoNgayCuoi
	@TuNgay DATETIME,
	@DenNgay DATETIME,
	@UserName NVARCHAR(50),
	@MsNXuong nvarchar(50),
	@MsHeThong int,
	@MsLoaiMay NVARCHAR (20),
	@MsLoaiBT INT,
	@NNgu int = 0
 AS

SELECT DISTINCT MS_MAY,TEN_MAY, TEN_LOAI_MAY,TEN_NHOM_MAY,Ten_N_XUONG,MS_N_XUONG,MS_NHOM_MAY INTO #MAY_USER FROM 
	dbo.MGetMayUserNgay(@DenNgay,@UserName,@MsNXuong,@MsHeThong,-1,@MsLoaiMay,'-1','-1',@NNgu) 

SELECT DISTINCT MS_MAY, MAX(NGAY_NGHIEM_THU) AS NGAY_BT_CUOI INTO #NGAYNT
FROM         dbo.PHIEU_BAO_TRI
WHERE CONVERT(DATE,NGAY_BD_KH) BETWEEN @TuNgay AND @DenNgay
AND ISNULL(NGAY_NGHIEM_THU,'') <> ''
GROUP BY MS_MAY


SELECT DISTINCT T2.TEN_N_XUONG,T2.TEN_LOAI_MAY, T2.MS_MAY, T2.TEN_MAY,  T1.NGAY_NGHIEM_THU, 
	T1.MS_PHIEU_BAO_TRI, T3.TEN_LOAI_BT,
	T1.LY_DO_BT , MS_N_XUONG
FROM dbo.PHIEU_BAO_TRI AS T1 INNER JOIN #MAY_USER AS T2 ON T1.MS_MAY = T2.MS_MAY 
INNER JOIN #NGAYNT T4 ON T1.MS_MAY =T4.MS_MAY AND T1.NGAY_NGHIEM_THU = T4.NGAY_BT_CUOI INNER JOIN LOAI_BAO_TRI T3
ON T3.MS_LOAI_BT = T1.MS_LOAI_BT
WHERE (T1.MS_LOAI_BT = @MsLoaiBT OR @MsLoaiBT = -1)
AND CONVERT(DATE,NGAY_BD_KH) BETWEEN @TuNgay AND @DenNgay
ORDER BY T2.TEN_N_XUONG, T2.TEN_LOAI_MAY, T1.MS_PHIEU_BAO_TRI DESC