
--select * from IC_DON_HANG_NHAP_VAT_TU 
--select * from IC_DON_HANG_NHAP WHERE MS_DH_NHAP_PT = 'PN-1312-0025'
--EXEC QL_LOAD_SO_LUONG_TON_KHO_VAT_TU 'BAF-BF-009',18,'12/31/2016 3:48:47 PM',0,NULL

ALTER PROC [dbo].[QL_LOAD_SO_LUONG_TON_KHO_VAT_TU]
	@MS_PT NVARCHAR(25),
	@MS_KHO INT,
	@NGAY_XUAT DATETIME ,
	@DHN bit, 
	@MS_DON_DAT_HANG NVARCHAR (50)
AS
BEGIN 

IF (@MS_DON_DAT_HANG IS NOT NULL )
	BEGIN 
		IF(@DHN = 1 ) 
		BEGIN 
			SELECT DISTINCT DHN.MS_DH_NHAP_PT, DHN.NGAY, VTK.TEN_VI_TRI, VTKVT.MS_PT, VTKVT.SL_VT, DHNVT.BAO_HANH_DEN_NGAY, 
				VTK.MS_VI_TRI, DHNVT.MS_VT_NCC, DHNVT.XUAT_XU, VTKVT.ID AS ID_XUAT , DHNVT.DON_GIA, NT.TEN_NGOAI_TE, KY_PB
			FROM         dbo.IC_DON_HANG_NHAP AS DHN INNER JOIN
				  dbo.IC_DON_HANG_NHAP_VAT_TU AS DHNVT ON DHN.MS_DH_NHAP_PT = DHNVT.MS_DH_NHAP_PT INNER JOIN
				  dbo.NGOAI_TE AS NT ON DHNVT.NGOAI_TE = NT.NGOAI_TE INNER JOIN
				  dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS DHNVTCT ON DHNVT.MS_DH_NHAP_PT = DHNVTCT.MS_DH_NHAP_PT AND 
				  DHNVT.MS_PT = DHNVTCT.MS_PT AND DHNVT.ID = DHNVTCT.ID INNER JOIN
				  dbo.VI_TRI_KHO_VAT_TU AS VTKVT INNER JOIN
				  dbo.VI_TRI_KHO AS VTK ON   VTK.MS_KHO = VTKVT.MS_KHO and VTK.MS_VI_TRI = VTKVT.MS_VI_TRI  ON DHNVTCT.MS_DH_NHAP_PT = VTKVT.MS_DH_NHAP_PT AND 
				  DHNVTCT.MS_PT = VTKVT.MS_PT AND DHNVTCT.MS_VI_TRI = VTKVT.MS_VI_TRI AND DHNVTCT.ID = VTKVT.ID 
				  INNER JOIN IC_PHU_TUNG PT ON VTKVT.MS_PT = PT.MS_PT
			WHERE     (DATEDIFF(DAY, DHN.NGAY, @NGAY_XUAT) >= 0) AND (VTKVT.SL_VT > 0) 
				  AND (DHN.LOCK = 1) AND (DHN.MS_DH_NHAP_PT = @MS_DON_DAT_HANG)
				  AND (VTKVT.MS_PT = @MS_PT) AND (VTKVT.MS_KHO = @MS_KHO) AND   VTKVT.MS_KHO = DHN.MS_KHO
			ORDER BY DHN.NGAY
		END 
		ELSE 
		BEGIN 
			SELECT DISTINCT DHN.MS_DH_NHAP_PT, DHN.NGAY, VTK.TEN_VI_TRI, VTKVT.MS_PT, VTKVT.SL_VT, DHNVT.BAO_HANH_DEN_NGAY, 
				VTK.MS_VI_TRI, DHNVT.MS_VT_NCC, DHNVT.XUAT_XU, VTKVT.ID AS ID_XUAT, DHNVT.DON_GIA, NT.TEN_NGOAI_TE, KY_PB
			FROM         dbo.IC_DON_HANG_NHAP AS DHN INNER JOIN
				dbo.IC_DON_HANG_NHAP_VAT_TU AS DHNVT ON DHN.MS_DH_NHAP_PT = DHNVT.MS_DH_NHAP_PT INNER JOIN
				dbo.NGOAI_TE AS NT ON DHNVT.NGOAI_TE = NT.NGOAI_TE INNER JOIN
				dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS DHNVTCT ON DHNVT.MS_DH_NHAP_PT = DHNVTCT.MS_DH_NHAP_PT AND 
				DHNVT.MS_PT = DHNVTCT.MS_PT AND DHNVT.ID = DHNVTCT.ID INNER JOIN
				dbo.VI_TRI_KHO AS VTK INNER JOIN
				dbo.VI_TRI_KHO_VAT_TU AS VTKVT ON   VTK.MS_KHO = VTKVT.MS_KHO and VTK.MS_VI_TRI = VTKVT.MS_VI_TRI  ON DHNVTCT.MS_DH_NHAP_PT = VTKVT.MS_DH_NHAP_PT AND 
				DHNVTCT.MS_PT = VTKVT.MS_PT AND DHNVTCT.MS_VI_TRI = VTKVT.MS_VI_TRI AND DHNVTCT.ID = VTKVT.ID
				INNER JOIN IC_PHU_TUNG PT ON VTKVT.MS_PT = PT.MS_PT
			WHERE     (DATEDIFF(DAY, DHN.NGAY, @NGAY_XUAT) >= 0) AND (VTKVT.SL_VT > 0) AND (DHN.LOCK = 1) 
				AND (DHN.MS_DDH = @MS_DON_DAT_HANG) AND (VTKVT.MS_PT = @MS_PT) AND (VTKVT.MS_KHO = @MS_KHO) AND   VTKVT.MS_KHO = DHN.MS_KHO 
			ORDER BY DHN.NGAY
		END 
	END 
ELSE 
	BEGIN 
		SELECT DISTINCT 
							  DHN.MS_DH_NHAP_PT, DHN.NGAY, VTK.TEN_VI_TRI, VTKVT.MS_PT, SUM(VTKVT.SL_VT) AS SL_VT, DHNVT.BAO_HANH_DEN_NGAY, 
				VTK.MS_VI_TRI, DHNVT.MS_VT_NCC, DHNVT.XUAT_XU, VTKVT.ID AS ID_XUAT, DHNVT.DON_GIA, NT.TEN_NGOAI_TE, KY_PB
		FROM         dbo.IC_DON_HANG_NHAP AS DHN INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS DHNVT ON DHN.MS_DH_NHAP_PT = DHNVT.MS_DH_NHAP_PT INNER JOIN
							  dbo.NGOAI_TE AS NT ON DHNVT.NGOAI_TE = NT.NGOAI_TE INNER JOIN
							  dbo.VI_TRI_KHO AS VTK INNER JOIN
							  dbo.VI_TRI_KHO_VAT_TU AS VTKVT ON  VTK.MS_KHO = VTKVT.MS_KHO and VTK.MS_VI_TRI = VTKVT.MS_VI_TRI  ON 
							  DHNVT.MS_DH_NHAP_PT = VTKVT.MS_DH_NHAP_PT AND DHNVT.MS_PT = VTKVT.MS_PT
							  AND DHNVT.ID = VTKVT.ID
							  INNER JOIN IC_PHU_TUNG PT ON VTKVT.MS_PT = PT.MS_PT
		WHERE     (DATEDIFF(DAY, DHN.NGAY, @NGAY_XUAT) >= 0) AND (VTKVT.SL_VT > 0) AND (DHN.LOCK = 1)
							AND (VTKVT.MS_PT = @MS_PT) AND (VTKVT.MS_KHO = @MS_KHO)	AND   VTKVT.MS_KHO = DHN.MS_KHO 	
		GROUP BY DHN.MS_DH_NHAP_PT, DHN.NGAY, VTK.TEN_VI_TRI, VTKVT.MS_PT, DHNVT.BAO_HANH_DEN_NGAY, VTK.MS_VI_TRI, DHNVT.MS_VT_NCC, DHNVT.XUAT_XU, VTKVT.ID, DHNVT.DON_GIA, 
							  NT.TEN_NGOAI_TE,KY_PB
	END 
END 


