
ALTER proc [dbo].[DeleteTAI_NAN_LD]
	@MS_CONG_NHAN nvarchar(9),
	@NGAY_TAI_NAN DATETIME
AS
DELETE FROM TAI_NAN_LD
WHERE MS_CONG_NHAN=@MS_CONG_NHAN AND CONVERT(nvarchar(10), NGAY_TAI_NAN, 103)=CONVERT(nvarchar(10), @NGAY_TAI_NAN, 103)
