
ALTER proc [dbo].[GetVAI_TROs]
	@MS_CONG_NHAN nvarchar(20)
AS
--SELECT dbo.CONG_NHAN_VAI_TRO.MS_VAI_TRO, dbo.VAI_TRO.TEN_VAI_TRO_V , convert(bit,1) as chon
--FROM   dbo.VAI_TRO INNER JOIN
--       dbo.CONG_NHAN_VAI_TRO ON dbo.VAI_TRO.MS_VAI_TRO = dbo.CONG_NHAN_VAI_TRO.MS_VAI_TRO
--WHERE dbo.CONG_NHAN_VAI_TRO.MS_CONG_NHAN=@MS_CONG_NHAN
--union 
--SELECT dbo.VAI_TRO.MS_VAI_TRO, dbo.VAI_TRO.TEN_VAI_TRO_V , convert(bit,0) as chon
--FROM   dbo.VAI_TRO  where  MS_VAI_TRO not in (SELECT dbo.CONG_NHAN_VAI_TRO.MS_VAI_TRO
--FROM   dbo.VAI_TRO INNER JOIN
--       dbo.CONG_NHAN_VAI_TRO ON dbo.VAI_TRO.MS_VAI_TRO = dbo.CONG_NHAN_VAI_TRO.MS_VAI_TRO
--WHERE dbo.CONG_NHAN_VAI_TRO.MS_CONG_NHAN=@MS_CONG_NHAN)





SELECT T.MS_VAI_TRO, T.TEN_VAI_TRO_V , CONVERT(BIT, CASE ISNULL((SELECT MS_VAI_TRO FROM CONG_NHAN_VAI_TRO WHERE MS_CONG_NHAN = @MS_CONG_NHAN AND MS_VAI_TRO = T.MS_VAI_TRO), 0) WHEN 0 THEN 0 ELSE 1 END)  AS CHON
FROM   VAI_TRO T


