
--select * from IC_DON_HANG_NHAP order by NGAY
--SELECT * FROM IC_KHO
--EXEC GetBCTongHopNXT  'ADMIN',18,0,'12/01/2016','12/30/2016'
ALTER PROC [dbo].[GetBCTongHopNXT]
(
	@UName NVARCHAR(50),
	@MS_KHO INT,
	@NNgu INT,
	@TU_NGAY  DATETIME,
	@DEN_NGAY  DATETIME
)

as 




-- Lay Kho theo user
SELECT A.MS_KHO INTO #KHO_TMP FROM IC_KHO A INNER JOIN NHOM_KHO B ON A.MS_KHO = B.MS_KHO INNER JOIN USERS C ON B.GROUP_ID = C.GROUP_ID
		WHERE (USERNAME = @UName) AND (A.MS_KHO = @MS_KHO OR @MS_KHO = -1)


SELECT     C.MS_PT, SUM (CASE WHEN C.SL_TON_HT IS NULL THEN 0 ELSE  C.SL_TON_HT END ) AS SL_TON_HT ,
SUM ( CASE WHEN  D.SL_XUAT_TMP IS NULL THEN 0 ELSE D.SL_XUAT_TMP END ) AS SL_XUAT_TMP ,
SUM (CASE WHEN E.SL_XUAT IS NULL THEN 0 ELSE E.SL_XUAT END ) AS SL_XUAT , 
SUM ( CASE WHEN F.SL_NHAP_TMP IS NULL THEN 0 ELSE F.SL_NHAP_TMP END ) AS SL_NHAP_TMP ,
SUM (CASE WHEN  G.SL_NHAP IS NULL THEN 0 ELSE G.SL_NHAP END ) AS SL_NHAP , 
SUM ( CASE WHEN H.SL_CHUYEN_DI_TMP IS NULL THEN 0 ELSE H.SL_CHUYEN_DI_TMP END ) AS SL_CHUYEN_DI_TMP  ,
SUM ( CASE WHEN  I.SL_CHUYEN_DI IS NULL THEN 0 ELSE I.SL_CHUYEN_DI END ) AS SL_CHUYEN_DI , 
SUM ( CASE WHEN  J.SL_CHUYEN_DEN_TMP IS NULL THEN 0 ELSE  J.SL_CHUYEN_DEN_TMP END ) AS SL_CHUYEN_DEN_TMP ,
SUM ( CASE WHEN  K.SL_CHUYEN_DEN IS NULL THEN 0 ELSE K.SL_CHUYEN_DEN END ) AS SL_CHUYEN_DEN ,
SUM(CASE  WHEN L.CHENH_LECH_KIEM_KE_TMP IS NULL THEN 0 ELSE L.CHENH_LECH_KIEM_KE_TMP END ) AS CHENH_LECH_KIEM_KE_TMP  ,
SUM (CASE WHEN M.CHENH_LECH_KIEM_KE IS NULL THEN 0 ELSE M.CHENH_LECH_KIEM_KE END ) AS CHENH_LECH_KIEM_KE 
INTO #TON_KHO_KHONG_THEO_VI_TRI_TMP
FROM         
--Lấy tồn hiện tại
(SELECT dbo.VI_TRI_KHO_VAT_TU.MS_PT, SUM (dbo.VI_TRI_KHO_VAT_TU.SL_VT) AS SL_TON_HT
FROM dbo.VI_TRI_KHO_VAT_TU  INNER JOIN #KHO_TMP T2 ON dbo.VI_TRI_KHO_VAT_TU.MS_KHO = T2.MS_KHO
GROUP BY dbo.VI_TRI_KHO_VAT_TU.MS_PT) C 
LEFT OUTER JOIN (
--Lấy số lượng xuất từ đến ngày đến hiện tại

SELECT dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT-- ,dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_VI_TRI
 ,
SUM (dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT ) AS SL_XUAT_TMP
FROM dbo.IC_DON_HANG_XUAT INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU 
ON dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT 
INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET 
ON dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_XUAT_PT AND 
dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT 
 INNER JOIN #KHO_TMP T2 ON dbo.IC_DON_HANG_XUAT.MS_KHO = T2.MS_KHO
WHERE dbo.IC_DON_HANG_XUAT.NGAY >= @DEN_NGAY  

GROUP BY dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT-- ,dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_VI_TRI 
) D
ON C.MS_PT = D.MS_PT --AND C.MS_VI_TRI = D.MS_VI_TRI 
LEFT OUTER JOIN (
--Lấy số lượng xuất trong khoảng từ ngày đến ngày
SELECT dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT ,--dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_VI_TRI ,
SUM (dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT ) AS SL_XUAT
FROM dbo.IC_DON_HANG_XUAT INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU 
ON dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT 
INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET 
ON dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_XUAT_PT AND 
dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT = dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT 
INNER JOIN #KHO_TMP T2 ON dbo.IC_DON_HANG_XUAT.MS_KHO = T2.MS_KHO
WHERE dbo.IC_DON_HANG_XUAT.NGAY >= @TU_NGAY AND dbo.IC_DON_HANG_XUAT.NGAY < @DEN_NGAY  
GROUP BY dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT --,dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_VI_TRI 
) E

ON C.MS_PT = E.MS_PT --AND C.MS_VI_TRI = E.MS_VI_TRI 
LEFT OUTER JOIN (
--Lấy số lượng nhập từ đến ngày đến hiện tại

SELECT dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT , --dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI ,
SUM (dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT ) AS SL_NHAP_TMP
FROM dbo.IC_DON_HANG_NHAP INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU 
ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT  
INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET ON 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT 
INNER JOIN #KHO_TMP T2 ON dbo.IC_DON_HANG_NHAP.MS_KHO = T2.MS_KHO
WHERE dbo.IC_DON_HANG_NHAP.NGAY >= @DEN_NGAY  
GROUP BY dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT-- , dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI 
) F
ON C.MS_PT = F.MS_PT --AND C.MS_VI_TRI = F.MS_VI_TRI 
LEFT OUTER JOIN (
--Lấy số lượng nhập từ ngày đến ngày


SELECT dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT ,-- dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI ,
SUM ( dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.SL_VT ) AS SL_NHAP
FROM dbo.IC_DON_HANG_NHAP INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU 
ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT  
INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET ON 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_DH_NHAP_PT AND 
dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT 
INNER JOIN #KHO_TMP T2 ON dbo.IC_DON_HANG_NHAP.MS_KHO = T2.MS_KHO
WHERE dbo.IC_DON_HANG_NHAP.NGAY >= @TU_NGAY AND dbo.IC_DON_HANG_NHAP.NGAY < @DEN_NGAY
GROUP BY dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_PT --, dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET.MS_VI_TRI 
) G
ON C.MS_PT = G.MS_PT --AND C.MS_VI_TRI = G.MS_VI_TRI 
LEFT OUTER JOIN (

--Lấy số lượng di chuyển đi từ đến ngày đến hiện tại

SELECT dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT --, dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI
,SUM ( dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN  ) AS SL_CHUYEN_DI_TMP
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO INNER JOIN #KHO_TMP T2 ON dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO = T2.MS_KHO
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @DEN_NGAY  
GROUP BY dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT --, dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI 
) H 
ON C.MS_PT = H.MS_PT-- AND C.MS_VI_TRI = H.MS_VI_TRI 
LEFT OUTER JOIN (
--Lấy số lượng di chuyển đi từ ngày đến ngày

SELECT dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT ,--dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI,
 SUM (dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN  ) AS SL_CHUYEN_DI
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO INNER JOIN #KHO_TMP T2 ON dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO = T2.MS_KHO
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @TU_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN < @DEN_NGAY 
GROUP BY dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT-- ,dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI
) I
ON C.MS_PT = I.MS_PT-- AND C.MS_VI_TRI = I.MS_VI_TRI 
LEFT OUTER JOIN (

--Lấy số lượng di chuyển đến từ đến ngày đến hiện tại

SELECT dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT ,--dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI_1 ,
 SUM (dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN ) AS SL_CHUYEN_DEN_TMP
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO INNER JOIN #KHO_TMP T2 ON dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO_1 = T2.MS_KHO
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @DEN_NGAY  
GROUP BY dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT --,dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI_1
) J
ON C.MS_PT = J.MS_PT-- AND C.MS_VI_TRI = J.MS_VI_TRI_1 
LEFT OUTER JOIN (

--Lấy số lượng di chuyển đến từ ngày đến ngày

SELECT dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT --,dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI_1
,SUM ( dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.SL_CHUYEN) AS SL_CHUYEN_DEN
FROM dbo.DI_CHUYEN_VI_TRI_TRONG_KHO  INNER JOIN #KHO_TMP T2 ON dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_KHO_1 = T2.MS_KHO
WHERE dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN >= @TU_NGAY AND dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.NGAY_CHUYEN < @DEN_NGAY 
GROUP BY dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_PT-- ,dbo.DI_CHUYEN_VI_TRI_TRONG_KHO.MS_VI_TRI_1
) K
ON C.MS_PT = K.MS_PT-- AND C.MS_VI_TRI = K.MS_VI_TRI_1
LEFT OUTER JOIN (

--Tính chênh lệch kiểm kê từ đến ngày đến hiện tại
SELECT dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT-- , dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_VI_TRI
, SUM (dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT - dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU) AS CHENH_LECH_KIEM_KE_TMP
FROM dbo.KIEM_KE_VAT_TU_CHI_TIET  INNER JOIN #KHO_TMP T2 ON dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_KHO = T2.MS_KHO
WHERE dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY >= @DEN_NGAY 
GROUP BY dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT --, dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_VI_TRI
) L 
ON C.MS_PT = L.MS_PT-- AND C.MS_VI_TRI = L.MS_VI_TRI 
LEFT OUTER JOIN (

--Tính chênh lệch kiểm kê từ ngày đến ngày
SELECT dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT , --dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_VI_TRI,
 SUM(dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_KK_CT - dbo.KIEM_KE_VAT_TU_CHI_TIET.SL_CHUNG_TU) AS CHENH_LECH_KIEM_KE
FROM dbo.KIEM_KE_VAT_TU_CHI_TIET  INNER JOIN #KHO_TMP T2 ON dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_KHO = T2.MS_KHO
WHERE dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY >= @TU_NGAY AND dbo.KIEM_KE_VAT_TU_CHI_TIET.NGAY < @DEN_NGAY
GROUP BY dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_PT --, dbo.KIEM_KE_VAT_TU_CHI_TIET.MS_VI_TRI
) M
ON C.MS_PT = M.MS_PT-- AND C.MS_VI_TRI = M.MS_VI_TRI
GROUP BY C.MS_PT


SELECT ROW_NUMBER() OVER (ORDER BY T2.TEN_PT, T1.MS_PT) AS STT,
T2.TEN_PT, T1.MS_PT, CASE @NNgu WHEN 0 THEN T3.TEN_1 WHEN 1 THEN TEN_2 ELSE TEN_3 END AS TEN_DVT,
ISNULL(SL_TON_HT,0) - 
 ISNULL(SL_NHAP_TMP,0) - ISNULL(SL_NHAP,0) +
ISNULL(SL_XUAT_TMP,0)+ ISNULL(SL_XUAT,0) +
ISNULL(SL_CHUYEN_DI_TMP,0) + ISNULL(SL_CHUYEN_DI,0) -
 ISNULL(SL_CHUYEN_DEN_TMP,0) - ISNULL(SL_CHUYEN_DEN,0) -
 ISNULL(CHENH_LECH_KIEM_KE_TMP,0)- ISNULL(CHENH_LECH_KIEM_KE,0)
  AS SL_DK,
 
( ISNULL(SL_NHAP,0)) + ISNULL(CHENH_LECH_KIEM_KE,0)  AS SL_NHAP,
( ISNULL(SL_XUAT,0)) - ( ISNULL(SL_CHUYEN_DEN,0) - ISNULL(SL_CHUYEN_DI,0)) AS SL_XUAT , 

ISNULL(SL_TON_HT,0) - 
(
ISNULL(SL_NHAP_TMP,0) -
ISNULL(SL_XUAT_TMP,0) + ISNULL(SL_CHUYEN_DEN_TMP,0)- ISNULL(SL_XUAT_TMP,0) - 
ISNULL(SL_CHUYEN_DEN_TMP,0) - ISNULL(CHENH_LECH_KIEM_KE_TMP,0)
) AS SL_CK

,(ISNULL(SL_CHUYEN_DI_TMP,0) + ISNULL(SL_CHUYEN_DI,0)) AS SL_CHUYEN_DI,
(ISNULL(SL_CHUYEN_DEN_TMP,0) + ISNULL(SL_CHUYEN_DEN,0))  SL_CHUYEN_DEN

, '' AS GHI_CHU
from #TON_KHO_KHONG_THEO_VI_TRI_TMP T1 INNER JOIN IC_PHU_TUNG T2 ON T1.MS_PT = T2.MS_PT
INNER JOIN dbo.DON_VI_TINH T3 ON T2.DVT = T3.DVT
ORDER BY  T1.MS_PT

--select * from #TON_KHO_KHONG_THEO_VI_TRI_TMP where MS_PT = 'T190061-0027'
--EXEC GetBCTongHopNXT  'ADMIN',-1,0,'11/01/2013','11/02/2013'