


--EXEC MGetTonDauKy  '18','12/01/2016','12/30/2016'
ALTER PROC [dbo].[MGetTonDauKy]
(
	@MS_KHO NVARCHAR(4000),
	@TU_NGAY  DATETIME,
	@DEN_NGAY  DATETIME
)

as 

DECLARE @TonKho AS TypeInventory; 
INSERT INTO @TonKho  exec MTinhTonKhoTheoViTri @TU_NGAY, @DEN_NGAY,'-1','-1',@MS_KHO,'ADMIN',0
SELECT   THT.MS_PT,  SUM(ISNULL(TON_DAU_KY,0)) as SL_TON_DK , SUM(ISNULL(GT_DAU_KY, 0)) as GT_DK FROM @TonKho THT
GROUP BY MS_PT 