
--exec sProcLuanChuyenVatTu '20130101','20131226','<ROOT><MSKHO id="5"></MSKHO><MSKHO id="6"></MSKHO><MSKHO id="7"></MSKHO></ROOT>' 
ALTER proc [dbo].[sProcLuanChuyenVatTu]
	@TuNgay datetime,
	@DenNgay datetime,
	@strWhsCode XML
as
	begin
		DECLARE @sDSKHO int
		EXEC sp_xml_preparedocument @sDSKHO OUTPUT, @strWhsCode
			
		declare @TableCT Table (NGAY datetime, MS_DH_XUAT_PT nvarchar(100),MS_PT nvarchar(100),TEN_LOAI_VT_TV nvarchar(1000),TEN_PT nvarchar(1000),
								SL_VT numeric(19,6),DON_GIA numeric(19,6),THANH_TIEN numeric(19,6),KHO_DI nvarchar(20),KHO_DEN nvarchar(20),GHI_CHU nvarchar(1000))

		declare @Table Table (NGAY datetime, MS_DH_XUAT_PT nvarchar(100),MS_PT nvarchar(100),TEN_LOAI_VT_TV nvarchar(1000),TEN_PT nvarchar(1000),
								SL_VT numeric(19,6),DON_GIA numeric(19,6),THANH_TIEN numeric(19,6),KHO_DI nvarchar(20),KHO_DEN nvarchar(20), TEN_KHO_DI NVARCHAR(1000), TEN_KHO_DEN NVARCHAR(1000),GHI_CHU NVARCHAR(1000),DA_NHAP_KHO numeric(19,6), DANG_DI_TREN_DUONG numeric(19,6))
														
		insert into @TableCT (NGAY , MS_DH_XUAT_PT ,MS_PT ,TEN_LOAI_VT_TV ,TEN_PT ,	SL_VT ,DON_GIA ,KHO_DI,KHO_DEN ,GHI_CHU)
		SELECT     IC_DON_HANG_XUAT.NGAY, IC_DON_HANG_XUAT.MS_DH_XUAT_PT, IC_DON_HANG_XUAT_VAT_TU.MS_PT, LOAI_VT.TEN_LOAI_VT_TV, 
				   IC_PHU_TUNG.TEN_PT, IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.SL_VT, isnull(IC_DON_HANG_NHAP_VAT_TU.DON_GIA ,0) * ISNULL(IC_DON_HANG_NHAP_VAT_TU.TY_GIA,0),IC_DON_HANG_XUAT.MS_KHO,
				   case when isnull(IC_KHO.KHO_DD,0) =0 then IC_DON_HANG_XUAT.MS_KHO_DEN else IC_KHO.MS_KHO_CHINH end as KHO_DEN,IC_DON_HANG_XUAT_VAT_TU.GHI_CHU
		FROM  LOAI_VT INNER JOIN
			  IC_PHU_TUNG ON LOAI_VT.MS_LOAI_VT = IC_PHU_TUNG.MS_LOAI_VT INNER JOIN
			  IC_DON_HANG_XUAT_VAT_TU ON IC_PHU_TUNG.MS_PT = IC_DON_HANG_XUAT_VAT_TU.MS_PT INNER JOIN
			  IC_DON_HANG_XUAT ON IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = IC_DON_HANG_XUAT.MS_DH_XUAT_PT INNER JOIN
			  IC_DON_HANG_XUAT_VAT_TU_CHI_TIET ON 
			  IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_XUAT_PT AND 
			  IC_DON_HANG_XUAT_VAT_TU.MS_PT = IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT INNER JOIN
			  IC_DON_HANG_NHAP_VAT_TU ON IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_DH_NHAP_PT = IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AND 
			  IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.MS_PT = IC_DON_HANG_NHAP_VAT_TU.MS_PT AND
			  IC_DON_HANG_XUAT_VAT_TU_CHI_TIET.ID_XUAT = IC_DON_HANG_NHAP_VAT_TU.ID INNER JOIN
			  IC_KHO ON IC_DON_HANG_XUAT.MS_KHO_DEN = IC_KHO.MS_KHO
		WHERE CONVERT(DATE,IC_DON_HANG_XUAT.NGAY) BETWEEN @TuNgay and @DenNgay  and  IC_DON_HANG_XUAT.MS_KHO  in (SELECT   id  FROM  OpenXML(@sDSKHO,'/ROOT/MSKHO',1) WITH (id nvarchar (50)))
		    
		update @TableCT set THANH_TIEN =ISNULL(SL_VT,0) * ISNULL(DON_GIA,0)

		INSERT INTO @Table (NGAY , MS_DH_XUAT_PT ,MS_PT ,TEN_LOAI_VT_TV ,TEN_PT ,	SL_VT ,THANH_TIEN ,KHO_DI,KHO_DEN,GHI_CHU  )
		SELECT NGAY , MS_DH_XUAT_PT ,MS_PT ,TEN_LOAI_VT_TV ,TEN_PT ,	SUM(SL_VT) AS  SL_VT ,SUM(THANH_TIEN) ,KHO_DI,KHO_DEN , GHI_CHU
		FROM @TableCT 
		GROUP BY  NGAY , MS_DH_XUAT_PT ,MS_PT ,TEN_LOAI_VT_TV ,TEN_PT ,KHO_DI,KHO_DEN ,GHI_CHU

		UPDATE @Table SET DON_GIA = ISNULL(THANH_TIEN,0) / ISNULL(SL_VT,0) WHERE ISNULL(SL_VT,0) <>0
		UPDATE @Table SET TEN_KHO_DI =A.TEN_KHO FROM @Table B inner join ( select MS_KHO, TEN_KHO FROM IC_KHO) A ON A.MS_KHO =B.KHO_DI 
		UPDATE @Table SET TEN_KHO_DEN =A.TEN_KHO FROM @Table B inner join ( select MS_KHO, TEN_KHO FROM IC_KHO) A ON A.MS_KHO =B.KHO_DEN

        update @Table set DANG_DI_TREN_DUONG =a.SL from @Table B inner join (
        SELECT     dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT, dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT, sum(dbo.VI_TRI_KHO_VAT_TU.SL_VT) as SL, 
                      dbo.IC_KHO.KHO_DD, dbo.IC_DON_HANG_NHAP.MS_DANG_NHAP
		FROM         dbo.VI_TRI_KHO_VAT_TU INNER JOIN
							  dbo.IC_DON_HANG_NHAP ON dbo.VI_TRI_KHO_VAT_TU.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT INNER JOIN
							  dbo.IC_DON_HANG_XUAT_VAT_TU INNER JOIN
							  dbo.IC_DON_HANG_XUAT ON dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT ON 
							  dbo.IC_DON_HANG_NHAP.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT INNER JOIN
							  dbo.IC_KHO ON dbo.IC_DON_HANG_NHAP.MS_KHO = dbo.IC_KHO.MS_KHO
		WHERE CONVERT(DATE,IC_DON_HANG_XUAT.NGAY) BETWEEN @TuNgay and @DenNgay  and  IC_DON_HANG_XUAT.MS_KHO  in (SELECT   id  FROM  OpenXML(@sDSKHO,'/ROOT/MSKHO',1) WITH (id nvarchar (50)))
		GROUP BY dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT, dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT, dbo.VI_TRI_KHO_VAT_TU.SL_VT, 
							  dbo.IC_DON_HANG_NHAP.MS_DANG_NHAP, dbo.IC_KHO.KHO_DD
		HAVING      (dbo.IC_DON_HANG_NHAP.MS_DANG_NHAP = 9) AND (dbo.IC_KHO.KHO_DD = 1)) a on a.MS_DH_XUAT_PT =b.MS_DH_XUAT_PT and a.MS_PT =b.MS_PT 
		
        update @Table set     DA_NHAP_KHO =ISNULL(sl_vt,0) - ISNULL(  DANG_DI_TREN_DUONG,0)
        
		select ROW_NUMBER() OVER( ORDER BY NGAY,MS_DH_XUAT_PT ,MS_PT asc) as STT ,
		NGAY, MS_DH_XUAT_PT,MS_PT,TEN_LOAI_VT_TV,TEN_PT,SL_VT,DON_GIA,THANH_TIEN,TEN_KHO_DI,TEN_KHO_DEN,DA_NHAP_KHO,DANG_DI_TREN_DUONG ,GHI_CHU 
		from @Table
		order by NGAY,MS_DH_XUAT_PT ,MS_PT
								
end