
ALTER proc [dbo].[MashjGetMAY]
	@MS_LOAI_MAY nvarchar(20),
	@MS_NHOM_MAY nvarchar(20)
AS

SELECT DISTINCT CONVERT(BIT,0) AS CHON,B.MS_MAY, B.TEN_MAY
FROM         dbo.CHU_KY_HIEU_CHUAN AS A INNER JOIN
dbo.MAY AS B ON A.MS_MAY = B.MS_MAY INNER JOIN
dbo.NHOM_MAY AS C ON B.MS_NHOM_MAY = C.MS_NHOM_MAY
WHERE    (C.MS_LOAI_MAY = @MS_LOAI_MAY OR @MS_LOAI_MAY = '-1')  AND (B.MS_NHOM_MAY = @MS_NHOM_MAY OR @MS_NHOM_MAY = '-1')
ORDER BY  B.MS_MAY,B.TEN_MAY
