

--EXEC [SP_GET_LOAI_MAY_BY_NHA_XUONG] 'ADMIN','-1','-1','-1','-1'
ALTER PROC SP_GET_LOAI_MAY_BY_NHA_XUONG
	@USERNAME NVARCHAR(100),
	@MS_NHA_XUONG nvarchar(50),
	 @MS_TINH NVARCHAR(100),
	 @MS_QUAN NVARCHAR(100),
	 @MS_DUONG NVARCHAR(100)
AS

DECLARE @DenNgay DATE
SET @DenNgay = GETDATE()

SELECT DISTINCT  A.MS_N_XUONG,MS_MAY,A.MS_NHOM_MAY,A.MS_LOAI_MAY,A.TEN_LOAI_MAY
	FROM dbo.MGetMayUserNgay(@DenNgay,@USERNAME,@MS_NHA_XUONG,-1,-1,'-1','-1','-1',0) A INNER JOIN NHA_XUONG B ON A.MS_N_XUONG = B.MS_N_XUONG
ORDER BY  A.MS_N_XUONG,MS_MAY,A.MS_NHOM_MAY,A.MS_LOAI_MAY,A.TEN_LOAI_MAY	


