
ALTER proc [dbo].[QL_UPDATE_DON_HANG_NHAP]
	@MS_DH_NHAP_PT nvarchar(14),
	@SO_PHIEU_XN nvarchar(20),
	@GIO datetime,
	@NGAY datetime,
	@MS_KHO int,
	@MS_DANG_NHAP int,
	@NGUOI_NHAP nvarchar(255),
	@NGAY_CHUNG_TU datetime,
	@SO_CHUNG_TU nvarchar(20),
	@DIEM int,
	@DANH_GIA nvarchar(50),
	@GHI_CHU nvarchar(255),
	@LOCK bit,
	@THU_KHO NVARCHAR(50),
	@MS_DDH NVARCHAR(30),
	@DIEM1 INT,
	@DIEM2 INT
AS
IF @DIEM=-1
	BEGIN
		SET @DIEM=NULL
	END 

IF @DIEM1=-1
	BEGIN
		SET @DIEM1=NULL
	END 
IF @DIEM2=-1
	BEGIN
		SET @DIEM2=NULL
	END 

UPDATE [dbo].[IC_DON_HANG_NHAP]
   SET [SO_PHIEU_XN] = @SO_PHIEU_XN
      ,[GIO] = @GIO
      ,[NGAY] = @NGAY
      ,[MS_KHO] = @MS_KHO
      ,[MS_DANG_NHAP] = @MS_DANG_NHAP
      ,[NGUOI_NHAP] = @NGUOI_NHAP
      ,[NGAY_CHUNG_TU] = @NGAY_CHUNG_TU
      ,[SO_CHUNG_TU] = @SO_CHUNG_TU
      ,[DIEM] = @DIEM
      ,[DANH_GIA] = @DANH_GIA
      ,[GHI_CHU] = @GHI_CHU
      ,[LOCK] = @LOCK
	,[THU_KHO]=@THU_KHO
	,MS_DDH=@MS_DDH
	,DIEM1=@DIEM1
	,DIEM2=@DIEM2
 WHERE [MS_DH_NHAP_PT] = @MS_DH_NHAP_PT
DELETE FROM [dbo].[IC_DON_HANG_NHAP_VAT_TU_CHI_TIET]
WHERE MS_DH_NHAP_PT=@MS_DH_NHAP_PT

DELETE FROM [dbo].[VI_TRI_KHO_VAT_TU]
WHERE MS_DH_NHAP_PT=@MS_DH_NHAP_PT

DELETE FROM [dbo].[IC_DON_HANG_NHAP_VAT_TU]
WHERE MS_DH_NHAP_PT=@MS_DH_NHAP_PT
