

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spBaoCaoKHHieuChuanTheoLoaiHC')
   exec('CREATE PROCEDURE spBaoCaoKHHieuChuanTheoLoaiHC AS BEGIN SET NOCOUNT ON; END')
 Go
 --EXEC spBaoCaoKHHieuChuanTheoLoaiHC '2018', 'admin', '-1', -1, '-1', 0, '1,2,3,4', 0, 'tmpHCKDMayAdmin'
ALTER PROC spBaoCaoKHHieuChuanTheoLoaiHC
	@dNgay Datetime,
	@USERNAME NVARCHAR(50),
	@MsNXuong nvarchar(50),
	@NHeThong int,
	@LoaiMay NVARCHAR(20),
	@LoaiBC INT,
	@LoaiHC nvarchar(50),
	@NNgu INT,
	@MayTMP NVARCHAR(20)
AS
--LOAIBT 0: HIỆU CHUẨN MÁY
--LOAIBT 1: HIỆU CHUẨN DHD
BEGIN

	DECLARE @tNgay AS NVARCHAR(15) = '01/01/' + convert(nvarchar(4), year(@dNgay))
	
	CREATE TABLE #MAY_TMP(MS_MAY  NVARCHAR(50), TEN_MAY  NVARCHAR(50), MO_TA  NVARCHAR(500))
	
	DECLARE @sSql NVARCHAR(4000)
	SET @sSql = 'INSERT #MAY_TMP (MS_MAY, TEN_MAY, MO_TA) SELECT DISTINCT MS_MAY, TEN_MAY, MO_TA  FROM ' + @MayTMP + ' '
	EXEC (@sSql)


	IF(@LoaiBC = 0)	
	BEGIN
		
			SELECT  CONVERT(NVARCHAR(30),T.MS_MAY) AS MS_MAY ,T2.TEN_MAY, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 1) AS						TEN_LOAI_HIEU_CHUAN, T.CHU_KY, 	CASE @NNgu when 0 then T3.TEN_DV_TG else T3.TEN_DV_TG_ANH end AS TEN_DV_TG,T.NGAY_HC_CUOI AS NGAY_DH_HC ,  CONVERT(NVARCHAR(250), N'') AS TG_TH,  CONVERT(NVARCHAR(250), N'') AS NGUOI_TH			,  CONVERT(NVARCHAR(250), N'') AS KET_QUA   FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKeMay](@tNgay,@dNgay,
			CASE CHARINDEX('1', @LoaiHC) when 0 then 0 else 1 end
			,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN #MAY_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			INNER JOIN DON_VI_THOI_GIAN T3 ON T3.MS_DV_TG = T.MS_DV_TG  
			UNION
			SELECT  CONVERT(NVARCHAR(30),T.MS_MAY) AS MS_MAY ,T2.TEN_MAY, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 2) AS						TEN_LOAI_HIEU_CHUAN, T.CHU_KY, 	CASE @NNgu when 0 then T3.TEN_DV_TG else T3.TEN_DV_TG_ANH end AS TEN_DV_TG,T.NGAY_HC_CUOI AS NGAY_DH_HC ,  CONVERT(NVARCHAR(250), N'') AS TG_TH,  CONVERT(NVARCHAR(250), N'') AS NGUOI_TH			,  CONVERT(NVARCHAR(250), N'') AS KET_QUA   FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKeMay](@tNgay,@dNgay,
			CASE CHARINDEX('2', @LoaiHC) when 0 then 0 else 2 end
			,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN #MAY_TMP T2 ON T.MS_MAY = T2.MS_MAY
			INNER JOIN DON_VI_THOI_GIAN T3 ON T3.MS_DV_TG = T.MS_DV_TG  
			UNION
			SELECT  CONVERT(NVARCHAR(30),T.MS_MAY) AS MS_MAY ,T2.TEN_MAY, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 3) AS						TEN_LOAI_HIEU_CHUAN, T.CHU_KY, 	CASE @NNgu when 0 then T3.TEN_DV_TG else T3.TEN_DV_TG_ANH end AS TEN_DV_TG,T.NGAY_HC_CUOI AS NGAY_DH_HC ,  CONVERT(NVARCHAR(250), N'') AS TG_TH,  CONVERT(NVARCHAR(250), N'') AS NGUOI_TH			,  CONVERT(NVARCHAR(250), N'') AS KET_QUA   FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKeMay](@tNgay,@dNgay,
			CASE CHARINDEX('3', @LoaiHC) when 0 then 0 else 3 end
			,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN #MAY_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			INNER JOIN DON_VI_THOI_GIAN T3 ON T3.MS_DV_TG = T.MS_DV_TG  

	END
	ELSE IF(@LoaiBC = 1)	
	BEGIN
		
	SELECT  CONVERT(NVARCHAR(30),T.MS_MAY) + ' - ' + T2.TEN_MAY + ' - ' + CONVERT(NVARCHAR(255),T2.MO_TA) 
	AS MS_MAY, T4.TEN_PT			, T4.QUY_CACH, T.MS_PT, T.MS_VI_TRI MS_VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 1) AS						TEN_LOAI_HIEU_CHUAN, T.CHU_KY, 	CASE @NNgu when 0 then T3.TEN_DV_TG else T3.TEN_DV_TG_ANH end AS TEN_DV_TG,T.NGAY_HC_CUOI AS NGAY_DH_HC ,  CONVERT(NVARCHAR(250), N'') AS TG_TH,  CONVERT(NVARCHAR(250), N'') AS NGUOI_TH			,  CONVERT(NVARCHAR(250), N'') AS KET_QUA    FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,
			CASE CHARINDEX('1', @LoaiHC) when 0 then 0 else 1 end
			,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN #MAY_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			INNER JOIN DON_VI_THOI_GIAN T3 ON T3.MS_DV_TG = T.MS_DV_TG  
			INNER JOIN IC_PHU_TUNG T4 ON T4.MS_PT = T.MS_PT 
			UNION

			SELECT  CONVERT(NVARCHAR(30),T.MS_MAY) + ' ' + T2.TEN_MAY + ' - ' + CONVERT(NVARCHAR(255),T2.MO_TA) 
			AS MS_MAY, T4.TEN_PT			, T4.QUY_CACH, T.MS_PT, T.MS_VI_TRI MS_VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 2) AS						TEN_LOAI_HIEU_CHUAN, T.CHU_KY, 	CASE @NNgu when 0 then T3.TEN_DV_TG else T3.TEN_DV_TG_ANH end AS TEN_DV_TG,T.NGAY_HC_CUOI AS NGAY_DH_HC ,  CONVERT(NVARCHAR(250), N'') AS TG_TH,  CONVERT(NVARCHAR(250), N'') AS NGUOI_TH			,  CONVERT(NVARCHAR(250), N'') AS KET_QUA    FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,
			CASE CHARINDEX('2', @LoaiHC) when 0 then 0 else 2 end
			,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN #MAY_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			INNER JOIN DON_VI_THOI_GIAN T3 ON T3.MS_DV_TG = T.MS_DV_TG  
			INNER JOIN IC_PHU_TUNG T4 ON T4.MS_PT = T.MS_PT 

			UNION

			SELECT  CONVERT(NVARCHAR(30),T.MS_MAY) + ' ' + T2.TEN_MAY + ' - ' + CONVERT(NVARCHAR(255),T2.MO_TA) 
			AS MS_MAY, T4.TEN_PT			, T4.QUY_CACH, T.MS_PT, T.MS_VI_TRI MS_VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 3) AS						TEN_LOAI_HIEU_CHUAN, T.CHU_KY, 	CASE @NNgu when 0 then T3.TEN_DV_TG else T3.TEN_DV_TG_ANH end AS TEN_DV_TG,T.NGAY_HC_CUOI AS NGAY_DH_HC ,  CONVERT(NVARCHAR(250), N'') AS TG_TH,  CONVERT(NVARCHAR(250), N'') AS NGUOI_TH			,  CONVERT(NVARCHAR(250), N'') AS KET_QUA    FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,
			CASE CHARINDEX('3', @LoaiHC) when 0 then 0 else 3 end
			,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN #MAY_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			INNER JOIN DON_VI_THOI_GIAN T3 ON T3.MS_DV_TG = T.MS_DV_TG  
			INNER JOIN IC_PHU_TUNG T4 ON T4.MS_PT = T.MS_PT 
			UNION

			SELECT  CONVERT(NVARCHAR(30),T.MS_MAY) + ' ' + T2.TEN_MAY + ' - ' + CONVERT(NVARCHAR(255),T2.MO_TA) 
			AS MS_MAY, T4.TEN_PT			, T4.QUY_CACH, T.MS_PT, T.MS_VI_TRI MS_VI_TRI, (SELECT TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN WHERE MS_LOAI_HIEU_CHUAN = 4) AS						TEN_LOAI_HIEU_CHUAN, T.CHU_KY, 	CASE @NNgu when 0 then T3.TEN_DV_TG else T3.TEN_DV_TG_ANH end AS TEN_DV_TG,T.NGAY_HC_CUOI AS NGAY_DH_HC ,  CONVERT(NVARCHAR(250), N'') AS TG_TH,  CONVERT(NVARCHAR(250), N'') AS NGUOI_TH			,  CONVERT(NVARCHAR(250), N'') AS KET_QUA    FROM (
			SELECT * FROM [dbo].[MGetNgayHieuChuanKePhuTung](@tNgay,@dNgay,
			CASE CHARINDEX('4', @LoaiHC) when 0 then 0 else 4 end
			,@USERNAME,@MsNXuong,@NHeThong,@LoaiMay,'-1',1) 
			) T
			INNER JOIN #MAY_TMP T2 ON T.MS_MAY = T2.MS_MAY 
			INNER JOIN DON_VI_THOI_GIAN T3 ON T3.MS_DV_TG = T.MS_DV_TG  
			INNER JOIN IC_PHU_TUNG T4 ON T4.MS_PT = T.MS_PT 
		
	END

	DROP TABLE #MAY_TMP
END