
-- exec MGetKeHoachTuanPBT '01/29/2017','02/05/2017','-1',-1,'-1',0,'administrator',1,1,1,1,1
ALTER PROC		[dbo].[MGetKeHoachTuanPBT]
	@TNgay datetime,
	@DNgay datetime,
	@NXuong NVARCHAR(50),
	@HThong int,
	@LMay NVARCHAR(20),
	@NNgu int,
	@USERNAME NVARCHAR(50),
	@DangSoan bit,
	@DangTHien bit,
	@HoanThanh bit,
	@NghiemThu bit,
	@Khoa bit
as
--SET	@TNgay = '10/01/2009'
--SET	@DNgay = '11/01/2010'
--SET	@NXuong = '-1'
--SET	@HThong = -1
--SET	@LMay = '-1'
SET	@NNgu = 0
--SET	@USERNAME = 'ADMINISTRATOR'


declare @tbTinhTrangBT TABLE (STT INT)
IF	@DangSoan  = 1 
	INSERT INTO @tbTinhTrangBT VALUES (1)
IF	@DangTHien = 1
	INSERT INTO @tbTinhTrangBT VALUES (2)
IF	@HoanThanh = 1
	INSERT INTO @tbTinhTrangBT VALUES (3)
IF	@NghiemThu = 1
	INSERT INTO @tbTinhTrangBT VALUES (4)
IF	@Khoa = 1
	INSERT INTO @tbTinhTrangBT VALUES (5)


SELECT DISTINCT MS_MAY,TEN_MAY, TEN_LOAI_MAY,MS_LOAI_MAY,TEN_NHOM_MAY,Ten_N_XUONG,MS_N_XUONG,MS_NHOM_MAY, MS_HE_THONG,TEN_HE_THONG INTO #MAY_USER 
	FROM dbo.MGetMayUserNgay(@DNgay,@USERNAME,'-1',-1,-1,@LMay,'-1','-1',@NNgu) A
		
SELECT T1.* INTO #PHIEU_BAO_TRI_TT FROM PHIEU_BAO_TRI T1 INNER JOIN #MAY_USER T2 ON T1.MS_MAY = T2.MS_MAY
	WHERE (TINH_TRANG_PBT IN ( SELECT DISTINCT STT FROM @tbTinhTrangBT) ) AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay)

		
SELECT  DISTINCT
                      CONVERT(INT, NULL) AS STT, A.MS_MAY, B.TEN_MAY, A.MS_PHIEU_BAO_TRI, X.TEN_LOAI_BT,( C.MS_BO_PHAN + ' - ' + C.TEN_BO_PHAN) AS TEN_BO_PHAN, 
                      CASE @NNgu WHEN 0 THEN E.MO_TA_CV WHEN 1 THEN E.MO_TA_CV_ANH ELSE E.MO_TA_CV_HOA END AS CONG_VIEC, F.TEN_CN, 
                      CONVERT(nvarchar, dbo.MGetNgayPBTCVCT(A.MS_PHIEU_BAO_TRI, D.MS_CV, D.MS_BO_PHAN),103) AS NGAY_HT,  D.SO_GIO_KH AS THOI_GIAN_DU_KIEN, 
                      A.TINH_TRANG_PBT 
FROM         #PHIEU_BAO_TRI_TT AS A INNER JOIN
                      #MAY_USER AS B ON A.MS_MAY = B.MS_MAY INNER JOIN
                      dbo.CAU_TRUC_THIET_BI AS C ON B.MS_MAY = C.MS_MAY INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC AS D ON A.MS_PHIEU_BAO_TRI = D.MS_PHIEU_BAO_TRI AND C.MS_BO_PHAN = D.MS_BO_PHAN INNER JOIN
                      dbo.CONG_VIEC AS E ON E.MS_CV = D.MS_CV LEFT JOIN
                          (SELECT DISTINCT MS_PHIEU_BAO_TRI, MS_CV, MS_BO_PHAN, CONVERT(NVARCHAR(4000), dbo.MGetListCongNhanPBT(MS_PHIEU_BAO_TRI, MS_CV, MS_BO_PHAN)) AS TEN_CN
                            FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU) AS F ON D.MS_PHIEU_BAO_TRI = F.MS_PHIEU_BAO_TRI AND D.MS_CV = F.MS_CV AND D.MS_BO_PHAN = F.MS_BO_PHAN INNER JOIN
                      dbo.LOAI_BAO_TRI AS X ON A.MS_LOAI_BT = X.MS_LOAI_BT INNER JOIN
(SELECT A.MS_PHIEU_BAO_TRI, dbo.MGetNgayPBTCVCT(A.MS_PHIEU_BAO_TRI, MS_CV, MS_BO_PHAN) AS NGAY_HT
FROM #PHIEU_BAO_TRI_TT A INNER JOIN PHIEU_BAO_TRI_CONG_VIEC B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI) AS Y ON A.MS_PHIEU_BAO_TRI = Y.MS_PHIEU_BAO_TRI 
WHERE (NGAY_HT BETWEEN @TNgay AND @DNgay )
AND (@LMay = '-1' OR B.MS_LOAI_MAY = @LMay)
AND (@HThong = '-1' OR B.MS_HE_THONG = @HThong)  

UNION

SELECT  DISTINCT
                      CONVERT(INT, NULL) AS STT, A.MS_MAY, B.TEN_MAY, A.MS_PHIEU_BAO_TRI, X.TEN_LOAI_BT, '' AS TEN_BO_PHAN, 
                      D.TEN_CONG_VIEC AS CONG_VIEC, F.TEN_CN, 
                      CONVERT(nvarchar, dbo.MGetNgayPBTCVCT(A.MS_PHIEU_BAO_TRI, -1, '-1'),103) AS NGAY_HT, D.SO_GIO_KH AS THOI_GIAN_DU_KIEN,
					  
                      A.TINH_TRANG_PBT 
FROM         #PHIEU_BAO_TRI_TT AS A INNER JOIN
                      #MAY_USER AS B ON A.MS_MAY = B.MS_MAY INNER JOIN
                      dbo.PHIEU_BAO_TRI_CV_PHU_TRO AS D ON A.MS_PHIEU_BAO_TRI = D.MS_PHIEU_BAO_TRI LEFT JOIN
(SELECT DISTINCT MS_PHIEU_BAO_TRI, CONVERT(NVARCHAR(4000), dbo.MGetListCongNhanPBT(MS_PHIEU_BAO_TRI, -1, '-1')) AS TEN_CN
	FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO) AS F ON D.MS_PHIEU_BAO_TRI = F.MS_PHIEU_BAO_TRI INNER JOIN
                      dbo.LOAI_BAO_TRI AS X ON A.MS_LOAI_BT = X.MS_LOAI_BT INNER JOIN
(SELECT A.MS_PHIEU_BAO_TRI, dbo.MGetNgayPBTCVCT(A.MS_PHIEU_BAO_TRI, -1, '-1') AS NGAY_HT
FROM #PHIEU_BAO_TRI_TT A INNER JOIN PHIEU_BAO_TRI_CV_PHU_TRO B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI) AS Y ON A.MS_PHIEU_BAO_TRI = Y.MS_PHIEU_BAO_TRI 
WHERE NGAY_HT BETWEEN @TNgay AND @DNgay 
AND (@LMay = '-1' OR B.MS_LOAI_MAY = @LMay)
AND (@HThong = '-1' OR B.MS_HE_THONG = @HThong) 
ORDER BY NGAY_HT, A.MS_MAY, B.TEN_MAY, A.MS_PHIEU_BAO_TRI




