
ALTER proc [dbo].[GetCONG_VIEC_LOAI_CV_BP]
	@MS_LOAI_CV SMALLINT,
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN AS NVARCHAR(50),
	@MS_LOAI_MAY NVARCHAR(20),
	@USERNAME NVARCHAR(50)
AS

IF @MS_LOAI_CV=-1 
	SELECT     CONG_VIEC.MS_CV, CONG_VIEC.MS_LOAI_CV, CONG_VIEC.MO_TA_CV, CONG_VIEC.KY_HIEU_CV, CONG_VIEC.THOI_GIAN_DU_KIEN , CONVERT(BIT,0) AS CHON,
	CONVERT(NVARCHAR(10),CONG_VIEC.MS_CV) AS MS_CV_TIM , CONVERT(NVARCHAR(10),CONG_VIEC.MA_CV)  AS MA_CV
	FROM         CONG_VIEC INNER JOIN
	                      NHOM_LOAI_CONG_VIEC ON CONG_VIEC.MS_LOAI_CV = NHOM_LOAI_CONG_VIEC.MS_LOAI_CV INNER JOIN
	                      USERS ON NHOM_LOAI_CONG_VIEC.GROUP_ID = USERS.GROUP_ID
	WHERE     (CONG_VIEC.MS_LOAI_MAY = @MS_LOAI_MAY OR
	                      @MS_LOAI_MAY = '-1' OR (CONG_VIEC.MS_LOAI_MAY IS NULL AND @MS_LOAI_MAY IS NULL)) AND (CONG_VIEC.MS_CV NOT IN
	                          (SELECT     MS_CV
	                            FROM          CAU_TRUC_THIET_BI_CONG_VIEC
	                            WHERE      MS_MAY = @MS_MAY AND MS_BO_PHAN = @MS_BO_PHAN))  
								 AND (USERS.USERNAME = @USERNAME)
	ORDER BY CONG_VIEC.MO_TA_CV

ELSE
	SELECT     CONG_VIEC.MS_CV, CONG_VIEC.MS_LOAI_CV, CONG_VIEC.MO_TA_CV, CONG_VIEC.KY_HIEU_CV, CONG_VIEC.THOI_GIAN_DU_KIEN,CONVERT(BIT,0) AS CHON,
	CONVERT(NVARCHAR(10),CONG_VIEC.MS_CV) AS MS_CV_TIM , CONVERT(NVARCHAR(10),CONG_VIEC.MA_CV)  AS MA_CV
	FROM         CONG_VIEC INNER JOIN
	                      NHOM_LOAI_CONG_VIEC ON CONG_VIEC.MS_LOAI_CV = NHOM_LOAI_CONG_VIEC.MS_LOAI_CV INNER JOIN
	                      USERS ON NHOM_LOAI_CONG_VIEC.GROUP_ID = USERS.GROUP_ID
	WHERE     (CONG_VIEC.MS_LOAI_MAY = @MS_LOAI_MAY OR
	                      @MS_LOAI_MAY = '-1' OR (CONG_VIEC.MS_LOAI_MAY IS NULL AND @MS_LOAI_MAY IS NULL)) AND (CONG_VIEC.MS_CV NOT IN
	                          (SELECT     MS_CV
	                            FROM          CAU_TRUC_THIET_BI_CONG_VIEC
	                            WHERE      MS_MAY = @MS_MAY AND MS_BO_PHAN = @MS_BO_PHAN)) AND (CONG_VIEC.MS_LOAI_CV = @MS_LOAI_CV)  AND (USERS.USERNAME = @USERNAME)
	ORDER BY CONG_VIEC.MO_TA_CV

