
--EXEC [dbo].[GetCONG_VIEC_LOAI_MAY] '-99', '-1','ADMIN' ,0

ALTER proc [dbo].[GetCONG_VIEC_LOAI_MAY]
	@MS_LOAI_MAY NVARCHAR(20),
	@MS_LOAI_CV NVARCHAR(20) ,
	@USERLOGED NVARCHAR(50),
	@NNgu int
AS

UPDATE CONG_VIEC SET MS_LOAI_MAY = NULL WHERE MS_LOAI_MAY = ''
SELECT DISTINCT  T1.MS_CV, T1.MA_CV, T1.MO_TA_CV, T1.MS_LOAI_CV, T1.KY_HIEU_CV, T1.PATH_HD, T1.MS_LOAI_MAY AS MS_LOAI_MAY, T1.THOI_GIAN_DU_KIEN, T1.THAO_TAC, T1.TIEU_CHUAN_KT, T1.GHI_CHU, 
                         T1.MS_CHUYEN_MON, T1.MS_BAC_THO, T2.TEN_LOAI_MAY, T1.AN_TOAN, T1.DINH_MUC, T1.NGOAI_TE, T1.SO_NGUOI, T1.YEU_CAU_NS, T1.YEU_CAU_DUNG_CU
FROM            dbo.CONG_VIEC AS T1 LEFT OUTER JOIN
                         dbo.LOAI_MAY AS T2 ON T1.MS_LOAI_MAY = T2.MS_LOAI_MAY INNER JOIN
                         dbo.NHOM_LOAI_CONG_VIEC AS T3 ON T1.MS_LOAI_CV = T3.MS_LOAI_CV INNER JOIN
                         dbo.NHOM AS T4 ON T4.GROUP_ID = T3.GROUP_ID INNER JOIN
                         dbo.USERS AS T5 ON T5.GROUP_ID = T4.GROUP_ID
WHERE        (ISNULL(T1.MS_LOAI_MAY,'-99') = @MS_LOAI_MAY OR @MS_LOAI_MAY = '-1') 
	AND (T5.USERNAME = @USERLOGED) AND (T1.MS_LOAI_CV = @MS_LOAI_CV OR @MS_LOAI_CV = -1)
ORDER BY T1.MO_TA_CV