
ALTER procedure [dbo].[GetLANGUAGEs] 
@TYPE INT,
@FORM BIT
AS
SELECT DISTINCT FORM,
--ISNULL(HANG_MUC,' ')+(CASE @TYPE WHEN 0 THEN VIETNAM WHEN 1 THEN ENGLISH ELSE CHINESE END)AS VIETNAM,
(CASE @TYPE WHEN 0 THEN N'Chi tiết' WHEN 1 THEN 'details' end) VIETNAM,
HANG_MUC
FROM         dbo.LANGUAGES
WHERE     --FORM = KEYWORD --AND 
FORM_HAY_REPORT=@FORM
ORDER BY HANG_MUC
