
--EXEC GetVAI_TROs 'VC0021'

ALTER proc [dbo].[GetVAI_TROs]
	@MS_CONG_NHAN nvarchar(20)
AS
SELECT dbo.CONG_NHAN_VAI_TRO.MS_VAI_TRO, dbo.VAI_TRO.TEN_VAI_TRO_V , convert(bit,1) as CHON
FROM   dbo.VAI_TRO INNER JOIN
       dbo.CONG_NHAN_VAI_TRO ON dbo.VAI_TRO.MS_VAI_TRO = dbo.CONG_NHAN_VAI_TRO.MS_VAI_TRO
WHERE dbo.CONG_NHAN_VAI_TRO.MS_CONG_NHAN=@MS_CONG_NHAN

UNION

SELECT dbo.VAI_TRO.MS_VAI_TRO, dbo.VAI_TRO.TEN_VAI_TRO_V , convert(bit,0) as CHON
FROM   dbo.VAI_TRO  where  MS_VAI_TRO not in (SELECT dbo.CONG_NHAN_VAI_TRO.MS_VAI_TRO
FROM   dbo.VAI_TRO INNER JOIN
       dbo.CONG_NHAN_VAI_TRO ON dbo.VAI_TRO.MS_VAI_TRO = dbo.CONG_NHAN_VAI_TRO.MS_VAI_TRO
WHERE dbo.CONG_NHAN_VAI_TRO.MS_CONG_NHAN=@MS_CONG_NHAN)

ORDER BY MS_VAI_TRO 