
-- exec MBieuDoChiPhiTheoThietBi '06/01/2012' , '12/01/2017' ,'-1','-1','-1','-1',-1,'-1','-1',1,1,1,1,1
-- exec MBieuDoChiPhiTheoThietBi '06/01/2012' , '12/01/2012' ,'-1','-1','-1','-1',-1,'-1','-1',0,0,0,0,0
ALTER PROCEDURE [dbo].[MBieuDoChiPhiTheoThietBi]
	@TNgay DATETIME,
	@DNgay DATETIME,
	@MS_TINH NVARCHAR(50),
	@MS_QUAN NVARCHAR(50),
	@MS_DUONG NVARCHAR(50),
	@MSNX NVARCHAR(150),
	@MSHT INT,
	@MSLMAY NVARCHAR(50),
	@MSNHOMMAY NVARCHAR(50),	
	@PhuTung bit,
	@VatTu bit,	
	@NhanCong bit,
	@DichVu bit,
	@Khac bit
as

--SET @TNgay = '01/01/2010'
--SET @DNgay = '01/01/2013'
--SET @MS_TINH = '-1'
--SET @MS_QUAN = '-1'
--SET @MS_DUONG = '-1'
--SET @MSNX = 'VS'
--SET @MSHT = -1
--SET @MSLMAY = '1'
--SET @MSNHOMMAY = '-1'
--SET @USERNAME = '-1'

SELECT DISTINCT  * INTO #MAY_TB FROM
(
SELECT DISTINCT A.MS_N_XUONG AS MSNX, DBO.MGetHTTheoNgay (M.MS_MAY,GETDATE()) AS  MS_HT, 
DBO.MGetBPCPhiTheoNgay(M.MS_MAY,GETDATE()) AS MSBP, M.* 
	FROM MAY M INNER JOIN PHIEU_BAO_TRI N ON M.MS_MAY = N.MS_MAY INNER JOIN dbo.NHOM_MAY AS X ON 
	M.MS_NHOM_MAY = X.MS_NHOM_MAY INNER JOIN dbo.LOAI_MAY AS Y ON X.MS_LOAI_MAY = Y.MS_LOAI_MAY
	INNER JOIN (SELECT * FROM [dbo].[MGetNXMayUserDiaDiem]('-1',@MSNX,GETDATE(),'-1',@MS_TINH,@MS_QUAN,@MS_DUONG) ) A
	ON A.MS_MAY = M.MS_MAY INNER JOIN dbo.PHIEU_BAO_TRI_CHI_PHI AS C ON N.MS_PHIEU_BAO_TRI = C.MS_PHIEU_BAO_TRI	
WHERE TINH_TRANG_PBT > 2 AND NGAY_BD_KH BETWEEN @TNgay AND DATEADD(DAY,1,@DNgay) AND 
	(@MSLMAY = '-1' OR X.MS_LOAI_MAY = @MSLMAY)   AND  (@MSNHOMMAY = '-1' OR M.MS_NHOM_MAY = @MSNHOMMAY) 
	
) A INNER JOIN (SELECT MS_N_XUONG FROM [dbo].[MGetNhaXuongDiaDiem](@MS_TINH,@MS_QUAN,@MS_DUONG ,'-1') ) B 
ON A.MSNX = B.MS_N_XUONG 
WHERE (@MSHT = -1 OR MS_HT = @MSHT)   


SELECT CONVERT(INT,NULL) AS STT ,* INTO #CHIPHITMP FROM 
(
	SELECT A.MS_MAY ,A.TEN_MAY,MODEL,MO_TA, ROUND(ISNULL(CHI_PHI_BT,0) + ISNULL(CHI_PHI_HN,0),2) AS CHI_PHI_CO_KH,   
		ROUND(ISNULL(CHI_PHI,0),2) AS CHI_PHI_KHO_KH, ROUND(ISNULL(CHI_PHI_BT,0) + ISNULL(CHI_PHI_HN,0) +  ISNULL(CHI_PHI,0),2) AS TONG_CP
	FROM #MAY_TB A LEFT JOIN 
	(
	SELECT     dbo.PHIEU_BAO_TRI.MS_MAY, 
		(CASE @PhuTung WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG), 0) ELSE 0 END + 
		CASE @VatTu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU), 0)  ELSE 0 END + 
		CASE @NhanCong WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG), 0) ELSE 0 END +  
		CASE @DichVu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV), 0) ELSE 0 END + 
		CASE @Khac WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC), 0) ELSE 0 END ) AS CHI_PHI_BT
	FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
						  dbo.PHIEU_BAO_TRI ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI INNER JOIN
						  dbo.LOAI_BAO_TRI ON dbo.PHIEU_BAO_TRI.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT INNER JOIN
						  dbo.HINH_THUC_BAO_TRI ON dbo.LOAI_BAO_TRI.MS_HT_BT = dbo.HINH_THUC_BAO_TRI.MS_HT_BT
	WHERE     (dbo.HINH_THUC_BAO_TRI.PHONG_NGUA = 1) AND NGAY_BD_KH BETWEEN @TNgay AND DATEADD(DAY,1,@DNgay)
		AND (TINH_TRANG_PBT > 2)
	GROUP BY dbo.PHIEU_BAO_TRI.MS_MAY
	) B ON A.MS_MAY = B.MS_MAY
	LEFT JOIN 
	(SELECT     MS_MAY, 
		(	CASE @NhanCong WHEN 1 THEN ISNULL(SUM(CHI_PHI_NC), 0)  ELSE 0 END +  
			CASE @VatTu WHEN 1 THEN ISNULL(SUM(CHI_PHI_VT), 0)  ELSE 0 END ) 		AS CHI_PHI_HN
		
	FROM         dbo.CONG_VIEC_HANG_NGAY_THIET_BI INNER JOIN
                      dbo.CONG_VIEC_HANG_NGAY ON dbo.CONG_VIEC_HANG_NGAY_THIET_BI.STT_CV = dbo.CONG_VIEC_HANG_NGAY.STT_CV
	WHERE dbo.CONG_VIEC_HANG_NGAY.NGAY_TH BETWEEN @TNgay AND DATEADD(DAY,1,@DNgay)	
	GROUP BY MS_MAY) C ON A.MS_MAY = C.MS_MAY
	LEFT JOIN 
	(
	SELECT     dbo.PHIEU_BAO_TRI.MS_MAY, 
		(CASE @PhuTung WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG), 0) ELSE 0 END +  
		CASE @VatTu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU), 0) ELSE 0 END +  
		CASE @NhanCong WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG), 0) ELSE 0 END + 
		CASE @DichVu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV), 0) ELSE 0 END +  
		CASE @Khac WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC), 0) ELSE 0 END )		AS CHI_PHI
		
	FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
						  dbo.PHIEU_BAO_TRI ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI INNER JOIN
						  dbo.LOAI_BAO_TRI ON dbo.PHIEU_BAO_TRI.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT INNER JOIN
						  dbo.HINH_THUC_BAO_TRI ON dbo.LOAI_BAO_TRI.MS_HT_BT = dbo.HINH_THUC_BAO_TRI.MS_HT_BT
	WHERE     (dbo.HINH_THUC_BAO_TRI.PHONG_NGUA = 0) AND NGAY_BD_KH BETWEEN @TNgay AND DATEADD(DAY,1,@DNgay)
		AND (TINH_TRANG_PBT > 2)
	GROUP BY dbo.PHIEU_BAO_TRI.MS_MAY
	) D ON A.MS_MAY = D.MS_MAY

) G

ORDER BY TONG_CP DESC



SELECT * FROM #CHIPHITMP WHERE TONG_CP <> 0 or (CHI_PHI_CO_KH <>0 OR CHI_PHI_KHO_KH <> 0)
