
ALTER procedure [dbo].[GetGIAM_SAT_TINH_TRANG_TS_DT]
@STT INT ,
@MS_MAY NVARCHAR(30),
@MS_TS_GSTT NVARCHAR(30),
@MS_BO_PHAN NVARCHAR(50),
@LOAI INT
AS
IF @LOAI=0 
SELECT DISTINCT 
                      GIAM_SAT_TINH_TRANG_TS_DT.STT, MS_MAY, GIAM_SAT_TINH_TRANG_TS_DT.MS_TS_GSTT, 
                      GIAM_SAT_TINH_TRANG_TS_DT.MS_BO_PHAN, GIAM_SAT_TINH_TRANG_TS_DT.STT_GT, GIA_TRI_TS_GSTT.TEN_GIA_TRI 
                      ,GIAM_SAT_TINH_TRANG_TS_DT.GHI_CHU
FROM         GIAM_SAT_TINH_TRANG_TS_DT INNER JOIN
                      GIA_TRI_TS_GSTT ON GIAM_SAT_TINH_TRANG_TS_DT.MS_TS_GSTT = GIA_TRI_TS_GSTT.MS_TS_GSTT 
		      AND GIAM_SAT_TINH_TRANG_TS_DT.STT_GT=GIA_TRI_TS_GSTT.STT
WHERE     GIAM_SAT_TINH_TRANG_TS_DT.STT = @STT AND GIAM_SAT_TINH_TRANG_TS_DT.MS_MAY=@MS_MAY AND
GIAM_SAT_TINH_TRANG_TS_DT.MS_TS_GSTT=@MS_TS_GSTT AND GIAM_SAT_TINH_TRANG_TS_DT.MS_BO_PHAN=@MS_BO_PHAN
ELSE
BEGIN
	IF @LOAI=1 
		SELECT DISTINCT 
	                      GIAM_SAT_TINH_TRANG_TS_DT.STT, MS_MAY, GIAM_SAT_TINH_TRANG_TS_DT.MS_TS_GSTT, 
	                      GIAM_SAT_TINH_TRANG_TS_DT.MS_BO_PHAN, GIAM_SAT_TINH_TRANG_TS_DT.STT_GT, GIA_TRI_TS_GSTT.TEN_GIA_TRI 
			                      ,GIAM_SAT_TINH_TRANG_TS_DT.GHI_CHU
		FROM         GIAM_SAT_TINH_TRANG_TS_DT INNER JOIN
			                      GIA_TRI_TS_GSTT ON GIAM_SAT_TINH_TRANG_TS_DT.MS_TS_GSTT = GIA_TRI_TS_GSTT.MS_TS_GSTT 
					      AND GIAM_SAT_TINH_TRANG_TS_DT.STT_GT=GIA_TRI_TS_GSTT.STT
		WHERE     GIAM_SAT_TINH_TRANG_TS_DT.STT = @STT AND GIAM_SAT_TINH_TRANG_TS_DT.MS_MAY=@MS_MAY AND
			GIAM_SAT_TINH_TRANG_TS_DT.MS_TS_GSTT=@MS_TS_GSTT AND GIAM_SAT_TINH_TRANG_TS_DT.MS_BO_PHAN=@MS_BO_PHAN AND DAT=1
	ELSE
		SELECT DISTINCT 
	                      GIAM_SAT_TINH_TRANG_TS_DT.STT, MS_MAY, GIAM_SAT_TINH_TRANG_TS_DT.MS_TS_GSTT, 
	                      GIAM_SAT_TINH_TRANG_TS_DT.MS_BO_PHAN, GIAM_SAT_TINH_TRANG_TS_DT.STT_GT, GIA_TRI_TS_GSTT.TEN_GIA_TRI 
			                      ,GIAM_SAT_TINH_TRANG_TS_DT.GHI_CHU
		FROM         GIAM_SAT_TINH_TRANG_TS_DT INNER JOIN
			                      GIA_TRI_TS_GSTT ON GIAM_SAT_TINH_TRANG_TS_DT.MS_TS_GSTT = GIA_TRI_TS_GSTT.MS_TS_GSTT 
					      AND GIAM_SAT_TINH_TRANG_TS_DT.STT_GT=GIA_TRI_TS_GSTT.STT
		WHERE     GIAM_SAT_TINH_TRANG_TS_DT.STT = @STT AND GIAM_SAT_TINH_TRANG_TS_DT.MS_MAY=@MS_MAY AND
			GIAM_SAT_TINH_TRANG_TS_DT.MS_TS_GSTT=@MS_TS_GSTT AND GIAM_SAT_TINH_TRANG_TS_DT.MS_BO_PHAN=@MS_BO_PHAN AND DAT=0
END
