
ALTER procedure [dbo].[H_GET_CHI_PHI_THEO_BO_PHAN_CHIU_PHI] 
	@TN DATETIME,
	@DN DATETIME,
	@USERID nvarchar(20)
AS

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE [NAME] = 'LIST_BP_CP_TMP')
	DROP TABLE dbo.LIST_BP_CP_TMP

CREATE TABLE dbo.LIST_BP_CP_TMP
(
	MS_PHIEU_BAO_TRI  NVARCHAR(30),
	MS_MAY  NVARCHAR(30),
	NGAY_BD_KH DATETIME,
	MS_BP_CHIU_PHI  INT
	
)
SELECT * INTO #MAY_USER FROM [dbo].[MashjGetMayUser](@USERID)


DECLARE @MS_PHIEU_BAO_TRI NVARCHAR(30)
DECLARE @NGAY_BD_KH DATETIME
DECLARE @MS_MAY NVARCHAR(30)

DECLARE DSPBT CURSOR FOR
SELECT     MS_PHIEU_BAO_TRI,MS_MAY,NGAY_BD_KH
FROM         dbo.PHIEU_BAO_TRI
WHERE @TN <= NGAY_BD_KH AND NGAY_BD_KH < @DN
OPEN DSPBT 
FETCH NEXT FROM DSPBT 
INTO @MS_PHIEU_BAO_TRI,@MS_MAY,@NGAY_BD_KH
WHILE @@FETCH_STATUS = 0 
BEGIN 
	DECLARE @MS_BP_CHIU_PHI INT
	
	SET @MS_BP_CHIU_PHI = ( SELECT DISTINCT dbo.BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI
			FROM         dbo.MAY_BO_PHAN_CHIU_PHI INNER JOIN
                        #MAY_USER  ON dbo.MAY_BO_PHAN_CHIU_PHI.MS_MAY = #MAY_USER.MS_MAY INNER JOIN
                        dbo.BO_PHAN_CHIU_PHI ON dbo.MAY_BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI = dbo.BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI
			WHERE dbo.MAY_BO_PHAN_CHIU_PHI.NGAY_NHAP = (SELECT MAX(NGAY_NHAP)AS NGAY_NHAP 
			FROM dbo.MAY_BO_PHAN_CHIU_PHI WHERE MS_MAY = #MAY_USER.MS_MAY AND dbo.MAY_BO_PHAN_CHIU_PHI.NGAY_NHAP <= @NGAY_BD_KH )
			AND #MAY_USER.MS_MAY = @MS_MAY 
			)
	INSERT INTO dbo.LIST_BP_CP_TMP 
	(MS_PHIEU_BAO_TRI,MS_MAY,NGAY_BD_KH,MS_BP_CHIU_PHI)
	VALUES (@MS_PHIEU_BAO_TRI,@MS_MAY,@NGAY_BD_KH,@MS_BP_CHIU_PHI)
	FETCH NEXT FROM DSPBT 
	INTO @MS_PHIEU_BAO_TRI,@MS_MAY,@NGAY_BD_KH

END 
CLOSE DSPBT 
DEALLOCATE DSPBT


SELECT     TMP.MS_MAY, TMP.MS_BP_CHIU_PHI, CASE WHEN SUM(CHI_PHI_PHU_TUNG) IS NULL THEN 0 ELSE SUM(CHI_PHI_PHU_TUNG) 
                      END AS CHI_PHI_PHU_TUNG, CASE WHEN SUM(CHI_PHI_VAT_TU) IS NULL THEN 0 ELSE SUM(CHI_PHI_VAT_TU) END AS CHI_PHI_VAT_TU, 
                      CASE WHEN SUM(CHI_PHI_NHAN_CONG) IS NULL THEN 0 ELSE SUM(CHI_PHI_NHAN_CONG) END AS CHI_PHI_NHAN_CONG, 
                      CASE WHEN SUM(CHI_PHI_DV) IS NULL THEN 0 ELSE SUM(CHI_PHI_DV) END AS CHI_PHI_DV, CASE WHEN SUM(CHI_PHI_KHAC) IS NULL 
                      THEN 0 ELSE SUM(CHI_PHI_KHAC) END AS CHI_PHI_KHAC, CASE WHEN SUM(CHI_PHI_HANG_NGAY) IS NULL 
                      THEN 0 ELSE SUM(CHI_PHI_HANG_NGAY) END AS CHI_PHI_HANG_NGAY, #MAY_USER.TEN_MAY, dbo.BO_PHAN_CHIU_PHI.TEN_BP_CHIU_PHI, 
                      dbo.DON_VI.TEN_DON_VI INTO #TMP
FROM         (SELECT  dbo.PHIEU_BAO_TRI.MS_MAY, SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG) AS CHI_PHI_PHU_TUNG, 
                                              SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU) AS CHI_PHI_VAT_TU, SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG) 
                                              AS CHI_PHI_NHAN_CONG, SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV) AS CHI_PHI_DV, 
                                              SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC) AS CHI_PHI_KHAC, 0 AS CHI_PHI_HANG_NGAY, 
                                              dbo.LIST_BP_CP_TMP.MS_BP_CHIU_PHI
                       FROM  dbo.PHIEU_BAO_TRI INNER JOIN
                                              dbo.PHIEU_BAO_TRI_CHI_PHI ON 
                                              dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI INNER JOIN
                                              dbo.LIST_BP_CP_TMP  ON 
                                              dbo.PHIEU_BAO_TRI.MS_MAY = dbo.LIST_BP_CP_TMP.MS_MAY AND dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = dbo.LIST_BP_CP_TMP.MS_PHIEU_BAO_TRI 
					      AND dbo.PHIEU_BAO_TRI.NGAY_BD_KH = dbo.LIST_BP_CP_TMP.NGAY_BD_KH
			WHERE (@TN < dbo.PHIEU_BAO_TRI.NGAY_BD_KH AND dbo.PHIEU_BAO_TRI.NGAY_BD_KH < @DN) AND  dbo.PHIEU_BAO_TRI.TINH_TRANG_PBT >=3
                       GROUP BY dbo.PHIEU_BAO_TRI.NGAY_BD_KH, dbo.PHIEU_BAO_TRI.MS_MAY, dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV, 
                                              dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC, dbo.LIST_BP_CP_TMP.MS_BP_CHIU_PHI
                       UNION
                       SELECT     dbo.CONG_VIEC_HANG_NGAY_THIET_BI.MS_MAY, 0 AS CHI_PHI_PHU_TUNG, 0 AS CHI_PHI_VT, 0 AS CHI_PHI_NC, 0 AS CHI_PHI_DV, 
                                             0 AS CHI_PHI_KHAC, SUM(CASE WHEN dbo.CONG_VIEC_HANG_NGAY_THIET_BI.CHI_PHI_VT IS NULL 
                                             THEN 0 ELSE dbo.CONG_VIEC_HANG_NGAY_THIET_BI.CHI_PHI_VT END + CASE WHEN dbo.CONG_VIEC_HANG_NGAY_THIET_BI.CHI_PHI_NC
                                              IS NULL THEN 0 ELSE dbo.CONG_VIEC_HANG_NGAY_THIET_BI.CHI_PHI_NC END) AS CHI_PHI_HANG_NGAY, 
                                             MAY_BPCP_TMP.MS_BP_CHIU_PHI
                       FROM         dbo.CONG_VIEC_HANG_NGAY INNER JOIN
                                             dbo.CONG_VIEC_HANG_NGAY_THIET_BI ON 
                                             dbo.CONG_VIEC_HANG_NGAY.STT_CV = dbo.CONG_VIEC_HANG_NGAY_THIET_BI.STT_CV INNER JOIN
                                                 (SELECT DISTINCT dbo.MAY_BO_PHAN_CHIU_PHI.MS_MAY, MAY_BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI
                                                   FROM          dbo.MAY_BO_PHAN_CHIU_PHI INNER JOIN
                                                                              (SELECT     MS_MAY, MAX(NGAY_NHAP) AS NGAY_MAX
                                                                                FROM          dbo.MAY_BO_PHAN_CHIU_PHI
                                                                                GROUP BY MS_MAY) MAY_MAX ON dbo.MAY_BO_PHAN_CHIU_PHI.MS_MAY = MAY_MAX.MS_MAY AND 
                                                                          dbo.MAY_BO_PHAN_CHIU_PHI.NGAY_NHAP = MAY_MAX.NGAY_MAX) MAY_BPCP_TMP ON 
                                             dbo.CONG_VIEC_HANG_NGAY_THIET_BI.MS_MAY = MAY_BPCP_TMP.MS_MAY
			WHERE @TN < dbo.CONG_VIEC_HANG_NGAY.NGAY_TH  AND  dbo.CONG_VIEC_HANG_NGAY.NGAY_TH <@DN
                       GROUP BY dbo.CONG_VIEC_HANG_NGAY_THIET_BI.MS_MAY, MAY_BPCP_TMP.MS_BP_CHIU_PHI) TMP INNER JOIN
                      #MAY_USER  ON TMP.MS_MAY COLLATE SQL_Latin1_General_CP1_CI_AS = #MAY_USER.MS_MAY INNER JOIN
                      dbo.BO_PHAN_CHIU_PHI ON TMP.MS_BP_CHIU_PHI = dbo.BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI INNER JOIN
                      dbo.DON_VI ON dbo.BO_PHAN_CHIU_PHI.MSDV = dbo.DON_VI.MS_DON_VI
GROUP BY TMP.MS_MAY, TMP.MS_BP_CHIU_PHI, #MAY_USER.TEN_MAY, dbo.BO_PHAN_CHIU_PHI.TEN_BP_CHIU_PHI, dbo.DON_VI.TEN_DON_VI




SELECT * FROM #TMP WHERE CHI_PHI_PHU_TUNG <> 0 OR CHI_PHI_VAT_TU <> 0 OR CHI_PHI_NHAN_CONG <> 0 OR CHI_PHI_DV <> 0 OR CHI_PHI_KHAC <> 0 OR CHI_PHI_HANG_NGAY <> 0 