
--	SELECT DISTINCT * INTO TTBT FROM TINH_TRANG_PBT WHERE STT = 4 

--	EXEC MGetDSBaoTri '10/01/2016','10/30/2016','-1','-1','-1','-1','-1','-1',-1,'ADMINISTRATOR',1
ALTER proc [dbo].[MGetDSBaoTri]
		@TNGAY DATETIME,
		@DNGAY DATETIME,
		@MS_TINH NVARCHAR(50),
		@MS_QUAN NVARCHAR(50),
		@MS_DUONG NVARCHAR(50),
		@MSNX NVARCHAR(150),
		@MSHT NVARCHAR(150),
		@MSLMAY NVARCHAR(50),
		@MSLBT INT,
		@USERNAME NVARCHAR(50),@NGON_NGU INT
		
		
AS	
SELECT * INTO #PBT FROM PHIEU_BAO_TRI WHERE TINH_TRANG_PBT IN (SELECT DISTINCT STT FROM TTBT) AND ((NGAY_LAP >= @TNGAY) AND (NGAY_LAP < DATEADD(d, 1, @DNGAY)))

DROP TABLE TTBT

SELECT * INTO #MAY_USER
	FROM [dbo].[MGetMayUserNgay](@DNGAY,@USERNAME,@MSNX,@MSHT,-1,@MSLMAY,'-1','-1',@NGON_NGU)



--CV PHỤ TRỢ
----------------------
SELECT     MS_PHIEU_BAO_TRI, MAX(CONVERT(DATETIME, NGAY + TU_GIO)) AS NGAY_KT INTO #PT_MIN_NGAY
FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO T1 
--WHERE  (T1.NGAY >= @TNGAY) AND (T1.NGAY < DATEADD(d, 1, @DNGAY)) 
GROUP BY MS_PHIEU_BAO_TRI


SELECT     MS_PHIEU_BAO_TRI, MIN(CONVERT(DATETIME, NGAY + TU_GIO)) AS NGAY_BD INTO #PT_MAX_NGAY
FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO
--WHERE  (NGAY >= @TNGAY) AND (NGAY < DATEADD(d, 1, @DNGAY)) 

GROUP BY MS_PHIEU_BAO_TRI


Select X.MS_PHIEU_BAO_TRI, Left(X.MO_TA_CV,Len(X.MO_TA_CV)-1) As NOI_DUNG_CV  INTO #PT_NOI_DUNG_CV
		From ( Select distinct ST2.MS_PHIEU_BAO_TRI, 
			   ( SELECT ISNULL(ST1.TEN_CONG_VIEC,'') + '; ' AS [text()]
					FROM         dbo.PHIEU_BAO_TRI_CV_PHU_TRO AS ST1 
							INNER JOIN #PBT AS A ON ST1.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
					WHERE     (ST1.MS_PHIEU_BAO_TRI = ST2.MS_PHIEU_BAO_TRI) 
						AND ((A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY)))					
					ORDER BY ST1.MS_PHIEU_BAO_TRI   
				For XML PATH ('')
				
				) MO_TA_CV
		 From dbo.PHIEU_BAO_TRI_CONG_VIEC ST2) X 
		 

Select X.MS_PHIEU_BAO_TRI,Left(X.HO_TEN,Len(X.HO_TEN)-1) As NGUOI_THUC_HIEN  INTO #PT_NGUOI_THUC_HIEN
		From(Select distinct ST2.MS_PHIEU_BAO_TRI, 
           ( SELECT ISNULL(HO_TEN,'') + '; ' AS [text()] FROM (
				SELECT DISTINCT A.MS_PHIEU_BAO_TRI, ISNULL(C.HO,'') + ' ' + ISNULL(C.TEN,'') AS HO_TEN
				FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO AS B INNER JOIN dbo.CONG_NHAN AS C ON B.MS_CONG_NHAN = C.MS_CONG_NHAN 
					RIGHT OUTER JOIN #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
				WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY)) 
				) ST1
				WHERE     (ST1.MS_PHIEU_BAO_TRI = ST2.MS_PHIEU_BAO_TRI)
				
            For XML PATH ('')) HO_TEN
     From 
     ( SELECT DISTINCT A.MS_PHIEU_BAO_TRI, ISNULL(C.HO,'') + ' ' + ISNULL(C.TEN,'') AS HO_TEN
		FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU AS B INNER JOIN
							  dbo.CONG_NHAN AS C ON B.MS_CONG_NHAN = C.MS_CONG_NHAN RIGHT OUTER JOIN
							  #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
		WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY))     
     ) ST2) X 


Select X.MS_PHIEU_BAO_TRI,Left(X.VTPT,Len(X.VTPT)-1) As VTPT INTO #PBT_CV_PT
		From(Select distinct ST2.MS_PHIEU_BAO_TRI, 
           ( 
           
           SELECT ISNULL(VTPT,'') + '; ' AS [text()] FROM (
				SELECT MS_PHIEU_BAO_TRI, ISNULL(TEN_PT ,'') + ' ' + 
					CONVERT(NVARCHAR, ISNULL(SL_TT,0)) + ' ' + ISNULL(DVT,'') AS VTPT
				FROM 		
				(SELECT DISTINCT A.MS_PHIEU_BAO_TRI, C.TEN_PT, SUM(B.SL_TT) AS SL_TT, 
					CASE @NGON_NGU WHEN 0 THEN D.TEN_1 WHEN 1 THEN D.TEN_2 ELSE D.TEN_3 END AS DVT				
				FROM         dbo.PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG AS B INNER JOIN
					  #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI INNER JOIN
					  dbo.IC_PHU_TUNG AS C ON B.MS_PT = C.MS_PT INNER JOIN
					  dbo.DON_VI_TINH AS D ON C.DVT = D.DVT
				WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY))
				GROUP BY A.MS_PHIEU_BAO_TRI, C.TEN_PT, CASE @NGON_NGU WHEN 0 THEN D.TEN_1 WHEN 1 THEN D.TEN_2 ELSE D.TEN_3 END) A	
				) ST1
				WHERE     (ST1.MS_PHIEU_BAO_TRI = ST2.MS_PHIEU_BAO_TRI)
				
            For XML PATH ('')) VTPT
     From 
     ( SELECT MS_PHIEU_BAO_TRI, TEN_PT + ' ' + CONVERT(NVARCHAR, ISNULL(SL_TT,0)) + ' ' + DVT AS VTPT1
		FROM 		
		(SELECT DISTINCT A.MS_PHIEU_BAO_TRI, C.TEN_PT, SUM(B.SL_TT) AS SL_TT, D.TEN_1 AS DVT
				FROM         dbo.PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG AS B INNER JOIN
                      #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI INNER JOIN
                      dbo.IC_PHU_TUNG AS C ON B.MS_PT = C.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS D ON C.DVT = D.DVT
				WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY))
				GROUP BY A.MS_PHIEU_BAO_TRI, C.TEN_PT, D.TEN_1) A		
     ) ST2) X


-----------------------


--CV CHÍNH
----------------------

SELECT     MS_PHIEU_BAO_TRI, MAX(CONVERT(DATETIME, NGAY + TU_GIO)) AS NGAY_KT  INTO #PT_MIN_NGAY1
			FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET AS PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET_1
			--WHERE  (NGAY >= @TNGAY) AND (NGAY < DATEADD(d, 1, @DNGAY)) 

			GROUP BY MS_PHIEU_BAO_TRI

SELECT     MS_PHIEU_BAO_TRI, MIN(CONVERT(DATETIME, NGAY + TU_GIO)) AS NGAY_BD INTO #PT_MAX_NGAY1
			FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET
				--		WHERE  (NGAY >= @TNGAY) AND (NGAY < DATEADD(d, 1, @DNGAY)) 

			GROUP BY MS_PHIEU_BAO_TRI


Select X.MS_PHIEU_BAO_TRI, Left(X.MO_TA_CV,Len(X.MO_TA_CV)-1) As NOI_DUNG_CV   INTO #PT_NOI_DUNG_CV1
		From (Select distinct ST2.MS_PHIEU_BAO_TRI, 
			   ( SELECT B.MO_TA_CV + '; ' AS [text()]
					FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC AS ST1 INNER JOIN dbo.CONG_VIEC AS B ON ST1.MS_CV = B.MS_CV 
							INNER JOIN #PBT AS A ON ST1.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
					WHERE     (ST1.MS_PHIEU_BAO_TRI = ST2.MS_PHIEU_BAO_TRI) AND 
							((A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY)))					
					ORDER BY ST1.MS_PHIEU_BAO_TRI   
				For XML PATH ('')
				) MO_TA_CV
			From dbo.PHIEU_BAO_TRI_CONG_VIEC ST2
		 ) X

Select X.MS_PHIEU_BAO_TRI,Left(X.HO_TEN,Len(X.HO_TEN)-1) As NGUOI_THUC_HIEN  INTO #PT_NGUOI_THUC_HIEN1
		From(Select distinct ST2.MS_PHIEU_BAO_TRI, 
           ( SELECT ISNULL(HO_TEN,'') + '; ' AS [text()] FROM (
				SELECT DISTINCT A.MS_PHIEU_BAO_TRI, ISNULL(C.HO,'') + ' ' + ISNULL(C.TEN,'') AS HO_TEN
				FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU AS B INNER JOIN dbo.CONG_NHAN AS C ON B.MS_CONG_NHAN = C.MS_CONG_NHAN 
					RIGHT OUTER JOIN #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
				WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY)) ) ST1
				WHERE     (ST1.MS_PHIEU_BAO_TRI = ST2.MS_PHIEU_BAO_TRI)
				
            For XML PATH ('')) HO_TEN
     From 
     ( SELECT DISTINCT A.MS_PHIEU_BAO_TRI, ISNULL(C.HO,'') + ' ' + ISNULL(C.TEN,'') AS HO_TEN
		FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU AS B INNER JOIN
							  dbo.CONG_NHAN AS C ON B.MS_CONG_NHAN = C.MS_CONG_NHAN RIGHT OUTER JOIN
							  #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
		WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY))     
     ) ST2) X

Select X.MS_PHIEU_BAO_TRI,Left(X.VTPT,Len(X.VTPT)-1) As VTPT INTO #PBT_CV_PT1
		From(Select distinct ST2.MS_PHIEU_BAO_TRI, 
           ( 
           
           SELECT ISNULL(VTPT,'') + '; ' AS [text()] FROM (
				SELECT MS_PHIEU_BAO_TRI, ISNULL(TEN_PT ,'') + ' ' + 
					CONVERT(NVARCHAR, ISNULL(SL_TT,0)) + ' ' + ISNULL(DVT,'') AS VTPT
				FROM 		
				(SELECT DISTINCT A.MS_PHIEU_BAO_TRI, C.TEN_PT, SUM(B.SL_TT) AS SL_TT, 
					CASE @NGON_NGU WHEN 0 THEN D.TEN_1 WHEN 1 THEN D.TEN_2 ELSE D.TEN_3 END AS DVT				
				FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS B INNER JOIN
					  #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI INNER JOIN
					  dbo.IC_PHU_TUNG AS C ON B.MS_PT = C.MS_PT INNER JOIN
					  dbo.DON_VI_TINH AS D ON C.DVT = D.DVT
				WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY))
				GROUP BY A.MS_PHIEU_BAO_TRI, C.TEN_PT, CASE @NGON_NGU WHEN 0 THEN D.TEN_1 WHEN 1 THEN D.TEN_2 ELSE D.TEN_3 END) A	
				) ST1
				WHERE     (ST1.MS_PHIEU_BAO_TRI = ST2.MS_PHIEU_BAO_TRI)
				
            For XML PATH ('')) VTPT
     From 
     ( SELECT MS_PHIEU_BAO_TRI, TEN_PT + ' ' + CONVERT(NVARCHAR, ISNULL(SL_TT,0)) + ' ' + DVT AS VTPT1
		FROM 		
		(SELECT DISTINCT A.MS_PHIEU_BAO_TRI, C.TEN_PT, SUM(B.SL_TT) AS SL_TT, D.TEN_1 AS DVT
				FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS B INNER JOIN
                      #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI INNER JOIN
                      dbo.IC_PHU_TUNG AS C ON B.MS_PT = C.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS D ON C.DVT = D.DVT
				WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY))
				GROUP BY A.MS_PHIEU_BAO_TRI, C.TEN_PT, D.TEN_1) A		
     ) ST2) X

----------------------------------------




SELECT DISTINCT  A.MS_MAY,M.TEN_MAY, A.MS_PHIEU_BAO_TRI, A.LY_DO_BT, A.NGAY_BD_KH, A.NGAY_KT_KH, B.NGAY_BD,C.NGAY_KT,
NOI_DUNG_CV,NGUOI_THUC_HIEN,VTPT, NGAY_NGHIEM_THU,  ISNULL(CN.HO,'') + ' ' + ISNULL(CN.TEN,'') AS NGUOI_NT
FROM         #PBT AS A LEFT OUTER JOIN
                      dbo.CONG_NHAN AS CN ON A.NGUOI_NGHIEM_THU = CN.MS_CONG_NHAN  INNER JOIN
                      #MAY_USER M ON A.MS_MAY = M.MS_MAY 
LEFT OUTER JOIN #PT_MIN_NGAY1 AS C ON A.MS_PHIEU_BAO_TRI = C.MS_PHIEU_BAO_TRI 
LEFT OUTER JOIN #PT_MAX_NGAY1 AS B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI
--NOI_DUNG_CV
LEFT JOIN #PT_NOI_DUNG_CV1 D ON D.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI 
LEFT JOIN #PT_NGUOI_THUC_HIEN1 E ON E.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI 
LEFT JOIN #PBT_CV_PT1 F ON  F.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI 



UNION 

SELECT DISTINCT A.MS_MAY,M.TEN_MAY, A.MS_PHIEU_BAO_TRI, A.LY_DO_BT, A.NGAY_BD_KH, A.NGAY_KT_KH, T1.NGAY_BD,T2.NGAY_KT,
NOI_DUNG_CV,NGUOI_THUC_HIEN,'' AS VTPT, NGAY_NGHIEM_THU,  ISNULL(CN.HO,'') + ' ' + ISNULL(CN.TEN,'') AS NGUOI_NT
 FROM #PBT A LEFT OUTER JOIN
                      dbo.CONG_NHAN AS CN ON A.NGUOI_NGHIEM_THU = CN.MS_CONG_NHAN  INNER JOIN
                      #MAY_USER M ON A.MS_MAY = M.MS_MAY 



LEFT OUTER JOIN #PT_MAX_NGAY AS T1 ON A.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI 
LEFT OUTER JOIN #PT_MIN_NGAY AS T2 ON A.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
--NOI_DUNG_CV
LEFT JOIN #PT_NOI_DUNG_CV T3 ON A.MS_PHIEU_BAO_TRI = T3.MS_PHIEU_BAO_TRI 
LEFT JOIN #PT_NGUOI_THUC_HIEN T4 ON A.MS_PHIEU_BAO_TRI = T4.MS_PHIEU_BAO_TRI 
LEFT JOIN #PBT_CV_PT F ON  F.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI 

ORDER BY A.MS_MAY 

