
--EXEC CapNhapNgayHThanhPBT 'WO-201307000005'
ALTER PROC [dbo].[CapNhapNgayHThanhPBT]
	@MS_PHIEU_BAO_TRI nvarchar(20)

AS 

UPDATE PHIEU_BAO_TRI_CONG_VIEC  SET H_THANH = 1,PT_HOAN_THANH = 100 WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI 

UPDATE PHIEU_BAO_TRI_CONG_VIEC SET NGAY_HOAN_THANH = NGAY_GIO FROM PHIEU_BAO_TRI_CONG_VIEC A INNER JOIN
(SELECT MS_PHIEU_BAO_TRI,MS_CV,MS_BO_PHAN,MAX(CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108))) AS NGAY_GIO
 FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI 
GROUP BY MS_PHIEU_BAO_TRI,MS_CV,MS_BO_PHAN) B ON 
A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI AND A.MS_CV = B.MS_CV AND A.MS_BO_PHAN = B.MS_BO_PHAN 
WHERE A.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI AND NGAY_HOAN_THANH IS NULL

-- CAP NHAP PHU TRO
UPDATE PHIEU_BAO_TRI_CV_PHU_TRO SET NGAY_HOAN_THANH = NGAY_GIO FROM PHIEU_BAO_TRI_CV_PHU_TRO A INNER JOIN
(SELECT MS_PHIEU_BAO_TRI,STT,MAX(CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108))) AS NGAY_GIO
 FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI 
GROUP BY MS_PHIEU_BAO_TRI,STT) B ON 
A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI AND A.STT = B.STT
WHERE A.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI AND NGAY_HOAN_THANH IS NULL



UPDATE PHIEU_BAO_TRI SET UPDATE_NGAY_CUOI = NHT 
FROM PHIEU_BAO_TRI A INNER JOIN (
SELECT MS_PHIEU_BAO_TRI, MAX(NGAY_HOAN_THANH)  NHT
FROM (
SELECT MS_PHIEU_BAO_TRI,MAX(NGAY_HOAN_THANH) AS NGAY_HOAN_THANH, 1 AS CVC FROM PHIEU_BAO_TRI_CONG_VIEC WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI GROUP BY MS_PHIEU_BAO_TRI
UNION SELECT MS_PHIEU_BAO_TRI,MAX(NGAY_HOAN_THANH) AS NGAY_HOAN_THANH, 2  FROM PHIEU_BAO_TRI_CV_PHU_TRO WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI GROUP BY MS_PHIEU_BAO_TRI
) T1 GROUP BY MS_PHIEU_BAO_TRI) B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI
WHERE A.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI


DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()

UPDATE PHIEU_BAO_TRI_CONG_VIEC SET NGAY_HOAN_THANH = @NgayHT FROM PHIEU_BAO_TRI_CONG_VIEC A 
WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI AND NGAY_HOAN_THANH IS NULL
AND NOT EXISTS 
(SELECT MS_PHIEU_BAO_TRI,MS_CV,MS_BO_PHAN,MAX(CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108))) AS NGAY_GIO
 FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET B WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI  AND 
 A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI AND A.MS_CV = B.MS_CV AND A.MS_BO_PHAN = B.MS_BO_PHAN 
GROUP BY MS_PHIEU_BAO_TRI,MS_CV,MS_BO_PHAN
)
-- CAP NHAP PHU TRO
UPDATE PHIEU_BAO_TRI_CV_PHU_TRO SET NGAY_HOAN_THANH = @NgayHT FROM PHIEU_BAO_TRI_CV_PHU_TRO A 
WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI AND NGAY_HOAN_THANH IS NULL
AND NOT EXISTS 
(SELECT MS_PHIEU_BAO_TRI,STT,MAX(CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108))) AS NGAY_GIO
 FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO B WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI  AND 
 A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI AND A.STT = B.STT GROUP BY MS_PHIEU_BAO_TRI,STT
)
