
ALTER  proc [dbo].[UpdateMAY_LOG]
	@ID NVARCHAR(50),
	@FORM_NAME NVARCHAR(50),
	@USER_SIGN NVARCHAR(50)	,
	@THAO_TAC INT 
AS
	declare @Count int
	set @count=ISNULL(( select count(FORM_NAME) FROM W_LOG WHERE TABLE_NAME='MAY' AND FORM_NAME=@FORM_NAME AND USER_SIGN=@USER_SIGN AND CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,20))=CONVERT(DATETIME,CONVERT(NVARCHAR(10),GETDATE(),20))),0)
	IF @COUNT =0
		INSERT INTO W_LOG(FORM_NAME,USER_SIGN,NGAY,TABLE_NAME)
		SELECT @FORM_NAME,@USER_SIGN,GETDATE(),'MAY'
	
	INSERT INTO W_MAY(MS_MAY,MS_NHOM_MAY,MS_HSX,MS_HIEN_TRANG,MS_KH,SO_NAM_KHAU_HAO,MO_TA,NHIEM_VU_THIET_BI,MODEL
      ,SERIAL_NUMBER,NGAY_SX,NUOC_SX,NGAY_MUA,NGAY_BD_BAO_HANH,NGAY_DUA_VAO_SD,SO_THE,SO_NGAY_LV_TRONG_TUAN
      ,SO_GIO_LV_TRONG_NGAY,MS_DVT_RT,TY_LE_CON_LAI,MUC_UU_TIEN,SO_THANG_BH,GIA_MUA,NGOAI_TE,LUU_Y_SU_DUNG
      ,Anh_TB,CHU_KY_HC_TB,TEN_MAY,AN_TOAN,MS_HO_SO,TEN_HO_SO,NGAY_HIEU_LUC_HO_SO,SO_CT,TI_GIA_VND
      ,TI_GIA_USD,CHU_KY_HIEU_CHUAN_TB_NGOAI,CHU_KY_KD_TB,DON_VI_THOI_GIAN,FORM_NAME,USER_SIGN,ID,STT_LOG,CREATEDATE,THAO_TAC)
	SELECT MS_MAY,MS_NHOM_MAY,MS_HSX,MS_HIEN_TRANG,MS_KH,SO_NAM_KHAU_HAO,MO_TA,NHIEM_VU_THIET_BI,MODEL
      ,SERIAL_NUMBER,NGAY_SX,NUOC_SX,NGAY_MUA,NGAY_BD_BAO_HANH,NGAY_DUA_VAO_SD,SO_THE,SO_NGAY_LV_TRONG_TUAN
      ,SO_GIO_LV_TRONG_NGAY,MS_DVT_RT,TY_LE_CON_LAI,MUC_UU_TIEN,SO_THANG_BH,GIA_MUA,NGOAI_TE,LUU_Y_SU_DUNG
      ,Anh_TB,CHU_KY_HC_TB,TEN_MAY,AN_TOAN,MS_HO_SO,TEN_HO_SO,NGAY_HIEU_LUC_HO_SO,SO_CT,TI_GIA_VND
      ,TI_GIA_USD,CHU_KY_HIEU_CHUAN_TB_NGOAI,CHU_KY_KD_TB,DON_VI_THOI_GIAN,@FORM_NAME,@USER_SIGN,NULL ,( SELECT COUNT(*)+1 FROM W_MAY WHERE MS_MAY=@ID ),GETDATE(),@THAO_TAC
	FROM MAY WHERE MS_MAY=@ID
