

ALTER PROCEDURE [dbo].[MAddDSMail]
	@ID int,
	@ID_SCHEDULES int,
	@ID_MAIL nvarchar(50),
	@MAIL_NAME nvarchar(250),
	@NGAY_TAO datetime,
	@HIEU_LUC bit,
	@USERNAME nvarchar(50),
	@NGON_NGU int,
	@MAIL_TO nvarchar(1000),
	@MAIL_CC nvarchar(1000),
	@DK_BAOCAO nvarchar(4000),
	@TEN_BC nvarchar(250),
	@MAIL_BCC	nvarchar(1000),
	@ND_BC	nvarchar(4000)
as
DECLARE @MSo int


 	
if @ID = -1
BEGIN
	SELECT @MSo = ISNULL(MAX(ID),0) + 1 FROM [DS_MAIL]

	INSERT INTO [DS_MAIL]([ID],[ID_SCHEDULES],[ID_MAIL],[MAIL_NAME],[NGAY_TAO],[HIEU_LUC],
		[USERNAME],[NGON_NGU],[MAIL_TO],[MAIL_CC],[DK_BAOCAO],[TEN_BC],MAIL_BCC,ND_BC)
     VALUES	(@MSo,@ID_SCHEDULES,@ID_MAIL,@MAIL_NAME,@NGAY_TAO,@HIEU_LUC,
		@USERNAME,@NGON_NGU,@MAIL_TO,@MAIL_CC,@DK_BAOCAO,@TEN_BC,@MAIL_BCC,@ND_BC)
END 		
else
BEGIN
	SET @MSo = @ID	
	UPDATE [DS_MAIL] SET [ID_SCHEDULES] = @ID_SCHEDULES , [ID_MAIL] = @ID_MAIL,
		[MAIL_NAME] = @MAIL_NAME, [NGAY_TAO] = @NGAY_TAO,
		[HIEU_LUC] = @HIEU_LUC, [USERNAME] = @USERNAME,
		[NGON_NGU] = @NGON_NGU, [MAIL_TO] = @MAIL_TO,
		[MAIL_CC] = @MAIL_CC, [DK_BAOCAO] = @DK_BAOCAO,
		[TEN_BC] = @TEN_BC, MAIL_BCC = @MAIL_BCC,ND_BC = @ND_BC
	WHERE [ID] = @ID AND ID_MAIL = @ID_MAIL
END

SELECT @MSo
