
-- EXEC spBCGiamSatTinhTrang 
ALTER PROC [dbo].[spBCGiamSatTinhTrang]
	@TU_NGAY DATETIME = '04/01/2010',
	@DEN_NGAY DATETIME = '04/28/2018',
	@USERNAME NVARCHAR(64) = 'ADMIN',
	@NNGU INT = 0,
	@MS_LOAI_CV INT = -1,
	@MS_NHA_XUONG NVARCHAR(250) = '-1',
	@MS_HE_THONG INT = -1,
	@MS_LOAI_MAY VARCHAR(100) = '-1',
	@MS_MAY NVARCHAR (250) = '-1',
	@MS_BO_PHAN NVARCHAR (250) = '-1',
	@MS_TS_GSTT NVARCHAR (250) = '-1',
	@DAT INT = -1
AS


SELECT DISTINCT MS_MAY,TEN_MAY INTO #MAY_USER
	FROM [dbo].[MGetMayUserNgay](@DEN_NGAY,@USERNAME,@MS_NHA_XUONG,@MS_HE_THONG,-1,@MS_LOAI_MAY,'-1',@MS_MAY,@NNGU)

SELECT 
T2.MS_MAY, T4.HO + ' ' + T4.TEN AS HO_TEN,
CONVERT(DATETIME,CONVERT(NVARCHAR(10),T1.NGAY_KT,101) + ' ' + CONVERT(NVARCHAR(10),T1.GIO_KT,108)) AS NGAY_KT, T3.GHI_CHU, T2.MS_TS_GSTT, T2.MS_BO_PHAN, T2.MS_TT, T3.STT_GT INTO #GSTT_TMP
FROM            dbo.GIAM_SAT_TINH_TRANG AS T1 INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS AS T2 ON T1.STT = T2.STT INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS_DT AS T3 ON T2.STT = T3.STT AND T2.MS_MAY = T3.MS_MAY AND T2.MS_TS_GSTT = T3.MS_TS_GSTT AND T2.MS_BO_PHAN = T3.MS_BO_PHAN AND T2.MS_TT = T3.MS_TT
						 INNER JOIN CONG_NHAN T4 ON T1.MS_CONG_NHAN = T4.MS_CONG_NHAN
WHERE (NGAY_KT BETWEEN @TU_NGAY AND @DEN_NGAY) AND (T2.MS_BO_PHAN = @MS_BO_PHAN OR @MS_BO_PHAN = '-1')

SELECT ISNULL(T1.MS_LOAI_CV,-99) AS MS_LOAI_CV, T1.TEN_LOAI_CV INTO #LOAI_CV
FROM            dbo.LOAI_CONG_VIEC AS T1 INNER JOIN
                         dbo.NHOM_LOAI_CONG_VIEC AS T2 ON T1.MS_LOAI_CV = T2.MS_LOAI_CV INNER JOIN
                         dbo.USERS AS T3 ON T2.GROUP_ID = T3.GROUP_ID
WHERE (T3.USERNAME = @USERNAME) AND (ISNULL(T1.MS_LOAI_CV,-99) = @MS_LOAI_CV OR @MS_LOAI_CV = -1) 

-- @DAT = 0 ALL   -- = 1 LA DAT = 1    --- = 2 LA DAT = 0
if @DAT = 0 
	set @DAT = -1
if @DAT = 1
	set @DAT = 1
if @DAT = 2
	set @DAT = 0



SELECT  ROW_NUMBER() OVER (ORDER BY NGAY_KT DESC, HO_TEN,T1.MS_MAY,  ISNULL(T7.STT, 9999) ) AS STT,
T1.NGAY_KT,HO_TEN, T1.MS_MAY, T5.TEN_MAY , T1.MS_BO_PHAN, T7.TEN_BO_PHAN , 
CASE @NNGU WHEN 0 THEN T4.TEN_TS_GSTT WHEN 1 THEN T4.TEN_TS_GSTT_ANH ELSE T4.TEN_TS_GSTT_HOA END AS TEN_TS_GSTT
, T8.TEN_LOAI_CV, T6.TEN_GIA_TRI,  T1.GHI_CHU, ISNULL(T7.STT, 9999) AS STT1,T6.DAT
FROM            #GSTT_TMP T1 INNER JOIN
                         dbo.THONG_SO_GSTT AS T4 ON T1.MS_TS_GSTT = T4.MS_TS_GSTT INNER JOIN
                         #MAY_USER AS T5 ON T1.MS_MAY = T5.MS_MAY INNER JOIN
                         dbo.GIA_TRI_TS_GSTT AS T6 ON T4.MS_TS_GSTT = T6.MS_TS_GSTT AND T1.MS_TS_GSTT = T6.MS_TS_GSTT AND T1.STT_GT = T6.STT INNER JOIN
                         dbo.CAU_TRUC_THIET_BI AS T7 ON T5.MS_MAY = T7.MS_MAY AND T1.MS_BO_PHAN = T7.MS_BO_PHAN LEFT JOIN
                         #LOAI_CV AS T8 ON ISNULL(T4.MS_LOAI_CV,-99) = ISNULL(T8.MS_LOAI_CV,-99)
WHERE  (ISNULL(T6.DAT,0) = @DAT OR @DAT = -1) AND (ISNULL(T4.MS_LOAI_CV,-99) = @MS_LOAI_CV OR @MS_LOAI_CV = -1) 
ORDER BY NGAY_KT DESC, HO_TEN,T1.MS_MAY,  ISNULL(T7.STT, 9999) 
