
ALTER PROC [dbo].[UpdateHoanThanhALLPBT]
	@NgayHT DATETIME,
	@NgayCuoi int
AS 

SELECT MS_PHIEU_BAO_TRI INTO #PBT_TT_HT FROM PBT_TT_HT WHERE CHON = 1 
DROP TABLE PBT_TT_HT

DECLARE @MS_TT_CT INT
SET @MS_TT_CT = NULL
SELECT TOP 1 @MS_TT_CT = MS_TT_CT FROM TINH_TRANG_PBT_CT WHERE STT = 3 AND MAC_DINH = 1

IF @NgayCuoi = 0
	UPDATE  PHIEU_BAO_TRI SET TINH_TRANG_PBT = 3, MS_TT_CT = @MS_TT_CT
	WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT)
ELSE
	UPDATE  PHIEU_BAO_TRI SET TINH_TRANG_PBT = 3, MS_TT_CT = @MS_TT_CT, UPDATE_NGAY_CUOI = @NgayHT
	WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT)


UPDATE PHIEU_BAO_TRI_CONG_VIEC  SET H_THANH = 1 WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT)

UPDATE PHIEU_BAO_TRI_CONG_VIEC SET NGAY_HOAN_THANH = NGAY_GIO FROM PHIEU_BAO_TRI_CONG_VIEC A INNER JOIN
(SELECT MS_PHIEU_BAO_TRI,MS_CV,MS_BO_PHAN,MAX(CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108))) AS NGAY_GIO
 FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT)
GROUP BY MS_PHIEU_BAO_TRI,MS_CV,MS_BO_PHAN) B ON 
A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI AND A.MS_CV = B.MS_CV AND A.MS_BO_PHAN = B.MS_BO_PHAN 
WHERE A.MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT) AND ISNULL(NGAY_HOAN_THANH,'') = ''

-- CAP NHAP PHU TRO
UPDATE PHIEU_BAO_TRI_CV_PHU_TRO SET NGAY_HOAN_THANH = NGAY_GIO FROM PHIEU_BAO_TRI_CV_PHU_TRO A INNER JOIN
(SELECT MS_PHIEU_BAO_TRI,STT,MAX(CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108))) AS NGAY_GIO
 FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT)
GROUP BY MS_PHIEU_BAO_TRI,STT) B ON 
A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI AND A.STT = B.STT
WHERE A.MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT) AND ISNULL(NGAY_HOAN_THANH,'') = ''




UPDATE PHIEU_BAO_TRI_CONG_VIEC SET NGAY_HOAN_THANH = @NgayHT FROM PHIEU_BAO_TRI_CONG_VIEC A 
WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT) AND ISNULL(NGAY_HOAN_THANH,'') = ''
AND NOT EXISTS 
(SELECT MS_PHIEU_BAO_TRI,MS_CV,MS_BO_PHAN,MAX(CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108))) AS NGAY_GIO
 FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET B WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT) AND 
 A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI AND A.MS_CV = B.MS_CV AND A.MS_BO_PHAN = B.MS_BO_PHAN 
GROUP BY MS_PHIEU_BAO_TRI,MS_CV,MS_BO_PHAN
)
-- CAP NHAP PHU TRO
UPDATE PHIEU_BAO_TRI_CV_PHU_TRO SET NGAY_HOAN_THANH = @NgayHT FROM PHIEU_BAO_TRI_CV_PHU_TRO A 
WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT) AND  ISNULL(NGAY_HOAN_THANH,'') = ''
AND NOT EXISTS 
(SELECT MS_PHIEU_BAO_TRI,STT,MAX(CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108))) AS NGAY_GIO
 FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO B WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT) AND 
 A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI AND A.STT = B.STT GROUP BY MS_PHIEU_BAO_TRI,STT
)


UPDATE PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO SET HOAN_THANH = 1 WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT)

UPDATE [PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET] SET HOAN_THANH = 1 WHERE MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT)

INSERT INTO PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET (MS_PHIEU_BAO_TRI,STT,MS_TT_CT,THOI_GIAN,USERNAME)
SELECT A.MS_PHIEU_BAO_TRI,
CONVERT(INT,(SELECT ISNULL(MAX(STT),0)+ 1 FROM PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET C WHERE C.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI)) AS STT,
B.MS_TT_CT,@NgayHT, USERNAME_NGUOI_LAP
FROM PHIEU_BAO_TRI A INNER JOIN 
(SELECT * FROM TINH_TRANG_PBT_CT WHERE STT = 3 AND MAC_DINH = 1) B ON A.TINH_TRANG_PBT = B.STT
WHERE A.MS_PHIEU_BAO_TRI IN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM  #PBT_TT_HT)



