ALTER proc [dbo].[MGetBCTongHopPBTTheoTuan]
		@TNGAY DATETIME,
		@DNGAY DATETIME,		
		@MSNX NVARCHAR(150),
		@MSHT NVARCHAR(150),
		@MSLMAY NVARCHAR(50),
		@MSLBT INT,
		@USERNAME NVARCHAR(50),
		@NN INT
AS	
DECLARE @NgayHT DATETIME = GETDATE()
SELECT * INTO #MAY_TMP FROM dbo.MGetMayUserNgay(@NgayHT,@USERNAME,@MSNX,@MSHT, -1,@MSLMAY,-1,'-1', @NN)


SELECT * INTO #PBT FROM PHIEU_BAO_TRI WHERE TINH_TRANG_PBT IN (SELECT DISTINCT STT FROM TTBT) AND ((NGAY_BD_KH >= @TNGAY) AND (NGAY_BD_KH < @DNGAY)) AND (MS_LOAI_BT = @MSLBT OR @MSLBT = -1)

DROP TABLE TTBT


SELECT DISTINCT 0 [No], T.MS_PHIEU_BAO_TRI [Work Order], T.MS_MAY [Unit No], T1.TEN_N_XUONG  [Area],
T1.TEN_MAY [Plant Discription Dyteline],T7.TEN_LOAI_BT,
T3.MS_BO_PHAN + ' - ' + CASE @NN WHEN 0 THEN T4.MO_TA_CV WHEN 1 THEN T4.MO_TA_CV_ANH ELSE T4.MO_TA_CV_HOA END [Description of Works]
,T5.TEN_LOAI_CV [Man Power], 
T2.TEN [Sup.],CASE @NN WHEN 0 THEN T6.TEN_TINH_TRANG WHEN 1 THEN T6.TEN_TINH_TRANG_ANH ELSE T6.TEN_TINH_TRANG_HOA END  [Status], 
dbo.GetCV_PTPBT(T.MS_PHIEU_BAO_TRI, T3.MS_CV,T3.MS_BO_PHAN, 0, 0, 0) [Work Type],CONVERT(NVARCHAR(12), T.NGAY_NGHIEM_THU, 103) [Complete Date], 
dbo.GetCV_PTPBT(T.MS_PHIEU_BAO_TRI, T3.MS_CV,T3.MS_BO_PHAN, 0, 2, 0) [Time taken hrs], 
dbo.GetCV_PTPBT(T.MS_PHIEU_BAO_TRI, T3.MS_CV,T3.MS_BO_PHAN, 0, 3, 0)[Men No], '' [Total hrs],  
dbo.GetCV_PTPBT(T.MS_PHIEU_BAO_TRI, T3.MS_CV,T3.MS_BO_PHAN, 0, 1, 0)[Spare parts], T3.GHI_CHU [Remark],
CASE WHEN CONVERT(INT, RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) < 10 THEN + '0' +
CONVERT(NVARCHAR(5), RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) ELSE
CONVERT(NVARCHAR(5), RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) END + ' - ' + CONVERT(NVARCHAR(5), YEAR(T.NGAY_BD_KH))
[Week],CONVERT(INT, CONVERT(NVARCHAR(50), YEAR(T.NGAY_BD_KH)) +  CONVERT(NVARCHAR(50), CASE WHEN CONVERT(INT, RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) < 10 THEN + '0' +
CONVERT(NVARCHAR(5), RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) ELSE
CONVERT(NVARCHAR(5), RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) END)) Sort
FROM #PBT T 
INNER JOIN #MAY_TMP T1 ON T.MS_MAY = T1.MS_MAY
INNER JOIN CONG_NHAN T2 ON T.NGUOI_GIAM_SAT = T2.MS_CONG_NHAN
INNER JOIN PHIEU_BAO_TRI_CONG_VIEC T3 ON T.MS_PHIEU_BAO_TRI = T3.MS_PHIEU_BAO_TRI
INNER JOIN CONG_VIEC T4 ON T4.MS_CV= T3.MS_CV
INNER JOIN LOAI_CONG_VIEC T5 ON T5.MS_LOAI_CV = T4.MS_LOAI_CV
INNER JOIN TINH_TRANG_PBT T6 ON T6.STT = T.TINH_TRANG_PBT
INNER JOIN LOAI_BAO_TRI T7 ON T.MS_LOAI_BT = T7.MS_LOAI_BT
WHERE ((T.NGAY_BD_KH >= @TNGAY) AND (T.NGAY_BD_KH < @DNGAY))

UNION 

SELECT DISTINCT 0 [No], T.MS_PHIEU_BAO_TRI [Work Order], T.MS_MAY [Unit No], T1.TEN_N_XUONG  [Area], 
T1.TEN_MAY [Plant Discription Dyteline], T7.TEN_LOAI_BT,
T3.TEN_CONG_VIEC [Description of Works], NULL [Man Power], T2.TEN [Sup.],
CASE @NN WHEN 0 THEN T6.TEN_TINH_TRANG WHEN 1 THEN T6.TEN_TINH_TRANG_ANH ELSE T6.TEN_TINH_TRANG_HOA END  [Status], 
dbo.GetCV_PTPBT(T.MS_PHIEU_BAO_TRI, 0, NULL, T3.STT, 0, 0) [Work Type],
CONVERT(NVARCHAR(12), T.NGAY_NGHIEM_THU, 103) [Complete Date], 
dbo.GetCV_PTPBT(T.MS_PHIEU_BAO_TRI, 0,NULL, T3.STT, 2, 0) [Time taken hrs], 
dbo.GetCV_PTPBT(T.MS_PHIEU_BAO_TRI, 0,NULL, T3.STT, 3, 0)[Men No], '' [Total hrs],  
dbo.GetCV_PTPBT(T.MS_PHIEU_BAO_TRI, 0,NULL, T3.STT, 1, 0)[Spare parts], 
NULL [Remark], 
CASE WHEN CONVERT(INT, RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) < 10 THEN + '0' +
CONVERT(NVARCHAR(5), RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) ELSE
CONVERT(NVARCHAR(5), RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) END + ' - ' + CONVERT(NVARCHAR(5), YEAR(T.NGAY_BD_KH))
[Week],CONVERT(INT, CONVERT(NVARCHAR(50), YEAR(T.NGAY_BD_KH)) +  CONVERT(NVARCHAR(50), CASE WHEN CONVERT(INT, RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) < 10 THEN + '0' +
CONVERT(NVARCHAR(5), RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) ELSE
CONVERT(NVARCHAR(5), RIGHT(DATENAME(wk,T.NGAY_BD_KH),2)) END)) Sort
FROM #PBT T 
INNER JOIN #MAY_TMP T1 ON T.MS_MAY = T1.MS_MAY
INNER JOIN CONG_NHAN T2 ON T.NGUOI_GIAM_SAT = T2.MS_CONG_NHAN
INNER JOIN PHIEU_BAO_TRI_CV_PHU_TRO T3 ON T.MS_PHIEU_BAO_TRI = T3.MS_PHIEU_BAO_TRI
INNER JOIN TINH_TRANG_PBT T6 ON T6.STT = T.TINH_TRANG_PBT
INNER JOIN LOAI_BAO_TRI T7 ON T.MS_LOAI_BT = T7.MS_LOAI_BT
