
--EXEC GetSLXuatBangKe   1,1,'02/01/2017' , '02/28/2017',2, '-1'

ALTER proc [dbo].[GetSLXuatBangKe]
(
	@KHO_COI INT,
	@KHO_WHERE INT,
	@TU_NGAY DATETIME ,
	@DEN_NGAY DATETIME,
	@Loai int,
	@MS_LOAI_VT nvarchar(4000)
)
AS

CREATE TABLE #LVT_TMP([MS_LOAI_VT] NVARCHAR(50))
DECLARE @sSql nvarchar(4000)
IF @MS_LOAI_VT = '-1'
	set @sSql = 'INSERT INTO #LVT_TMP SELECT MS_LOAI_VT FROM LOAI_VT '
ELSE
	set @sSql = 'INSERT INTO #LVT_TMP SELECT MS_LOAI_VT FROM LOAI_VT WHERE MS_LOAI_VT IN (' + REPLACE(@MS_LOAI_VT,'*','''')  + ') '
EXEC (@sSql)
--PRINT @sSql
--@Loai = 1 la xuat
if @Loai = 1
begin 
	SELECT MS_PT, SUM(SL) AS SL , SUM(GT) AS GT
	FROM(
		SELECT     XVT.MS_PT, SUM(XCT.SL_VT) AS SL, SUM(XCT.SL_VT * NVT.DON_GIA * NVT.TY_GIA) AS GT
		FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON NCT.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND NCT.MS_PT = NVT.MS_PT AND NCT.ID = NVT.ID INNER JOIN
							  dbo.IC_DON_HANG_XUAT AS DHX INNER JOIN
							  dbo.IC_DON_HANG_XUAT_VAT_TU AS XVT ON DHX.MS_DH_XUAT_PT = XVT.MS_DH_XUAT_PT INNER JOIN
							  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS XCT ON XVT.MS_DH_XUAT_PT = XCT.MS_DH_XUAT_PT 
							  AND XVT.MS_PT = XCT.MS_PT ON NCT.MS_DH_NHAP_PT = XCT.MS_DH_NHAP_PT AND 
							  NCT.MS_VI_TRI = XCT.MS_VI_TRI AND NCT.ID = XCT.ID_XUAT AND NCT.MS_PT = XCT.MS_PT
							  INNER JOIN IC_PHU_TUNG PT ON PT.MS_PT = XVT.MS_PT 
							  INNER JOIN #LVT_TMP LVT ON LVT.MS_LOAI_VT = PT.MS_LOAI_VT
		WHERE     (MS_KHO = @KHO_COI) AND (MS_KHO_DEN = @KHO_WHERE  OR 
			MS_KHO_DEN IN (SELECT MS_KHO FROM IC_KHO WHERE MS_KHO_CHINH = @KHO_WHERE ))
			AND ( CONVERT(DATETIME,CONVERT(NVARCHAR(10),DHX.NGAY,101)) BETWEEN @TU_NGAY AND @DEN_NGAY )
		GROUP BY XVT.MS_PT	
		UNION ALL
		SELECT     DC.MS_PT, SUM(DC.SL_CHUYEN) AS SL3, SUM(DC.SL_CHUYEN * NVT.DON_GIA * NVT.TY_GIA) AS GT3
		FROM         dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS DC INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON 
					DC.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND DC.MS_PT = NVT.MS_PT AND DC.ID_DC = NVT.ID
					INNER JOIN IC_PHU_TUNG PT ON PT.MS_PT = DC.MS_PT 
					INNER JOIN #LVT_TMP LVT ON LVT.MS_LOAI_VT = PT.MS_LOAI_VT
		WHERE     (DC.MS_KHO_1 = @KHO_WHERE) AND (DC.MS_KHO = @KHO_COI) 
			AND ( CONVERT(DATETIME,CONVERT(NVARCHAR(10),DC.NGAY_CHUYEN,101)) BETWEEN @TU_NGAY AND @DEN_NGAY )
		GROUP BY DC.MS_PT
	) A	GROUP BY MS_PT

end 

--@Loai = 2 la xuat theo bo phan chiu phi luc do @KHO_WHERE la  bo phan chiu phi DANG XUAT = 1,4
if @Loai = 2
begin

--DẠNG XUẤT 1
	--Xuất nhập trả từ bảo trì 
			SELECT   NCT.MS_PT, SUM(NCT.SL_VT ) AS SL, SUM((NCT.SL_VT) * NVT.DON_GIA * NVT.TY_GIA) AS GT INTO #XUATNHAPTRA
			FROM dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT 
			INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT ON NVT.MS_DH_NHAP_PT = NCT.MS_DH_NHAP_PT AND NVT.ID = NCT.ID 
			INNER JOIN dbo.IC_DON_HANG_NHAP AS DHN ON NVT.MS_DH_NHAP_PT = DHN.MS_DH_NHAP_PT 
			INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU AS XVT 
			INNER JOIN dbo.IC_DON_HANG_XUAT AS DHX ON XVT.MS_DH_XUAT_PT = DHX.MS_DH_XUAT_PT 
			INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS XCT ON XVT.MS_DH_XUAT_PT = XCT.MS_DH_XUAT_PT 
						AND XVT.MS_PT = XCT.MS_PT ON DHN.MS_DHX = DHX.MS_DH_XUAT_PT
			WHERE  (DHX.MS_KHO = @KHO_COI) AND (DHX.MS_DANG_XUAT = 1) AND (DHX.MS_BP_CHIU_PHI = @KHO_WHERE) AND 
			(CONVERT(DATETIME, CONVERT(NVARCHAR(10), DHX.NGAY, 101)) BETWEEN @TU_NGAY AND @DEN_NGAY) 
			AND (DHN.MS_DANG_NHAP = 6)
			GROUP BY NCT.MS_PT
	
	--Xuát cho bảo trì
			SELECT  XVT.MS_PT, SUM(XCT.SL_VT ) AS SL, SUM((XCT.SL_VT) * NVT.DON_GIA * NVT.TY_GIA) AS GT INTO #XUATCHOBT
			FROM dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT 
			INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT ON 
				NVT.MS_DH_NHAP_PT = NCT.MS_DH_NHAP_PT AND NVT.MS_PT = NCT.MS_PT AND NVT.ID = NCT.ID 
			INNER JOIN dbo.IC_DON_HANG_XUAT AS DHX 
			INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU AS XVT ON DHX.MS_DH_XUAT_PT = XVT.MS_DH_XUAT_PT 
			INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS XCT ON XVT.MS_DH_XUAT_PT = XCT.MS_DH_XUAT_PT 
				AND XVT.MS_PT = XCT.MS_PT ON NCT.MS_DH_NHAP_PT = XCT.MS_DH_NHAP_PT 
				AND NCT.MS_PT = XCT.MS_PT AND NCT.MS_VI_TRI = XCT.MS_VI_TRI AND NCT.ID = XCT.ID_XUAT
			INNER JOIN IC_PHU_TUNG PT ON PT.MS_PT = XVT.MS_PT 
			INNER JOIN LOAI_VT  LVT ON LVT.MS_LOAI_VT = PT.MS_LOAI_VT
			WHERE  (DHX.MS_KHO = @KHO_COI) AND (DHX.MS_DANG_XUAT =1) AND (DHX.MS_BP_CHIU_PHI = @KHO_WHERE)
			AND ( CONVERT(DATETIME,CONVERT(NVARCHAR(10),DHX.NGAY,101)) BETWEEN @TU_NGAY AND @DEN_NGAY )
			GROUP BY XVT.MS_PT
	
	--Tính toán


	SELECT T4.MS_PT, SUM(ISNULL(T1.SL,0) - ISNULL(T.SL,0)) AS SL, SUM(ISNULL(T1.GT,0) - ISNULL(T.GT,0)) AS GT INTO #DANGXUAT1 
	FROM IC_PHU_TUNG T4 
		LEFT JOIN	#XUATNHAPTRA T ON T4.MS_PT = T.MS_PT 
		LEFT JOIN #XUATCHOBT T1 ON T4.MS_PT = T1.MS_PT 
	GROUP BY T4.MS_PT

	
--DẠNG XUẤT 4
	SELECT     XVT.MS_PT, SUM(ISNULL(XCT.SL_VT,0)) AS SL, SUM(ISNULL(XCT.SL_VT,0) * ISNULL(NVT.DON_GIA,0) * ISNULL(NVT.TY_GIA,0)) AS GT  INTO #DANGXUAT4
	FROM         dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT INNER JOIN
						  dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT ON NVT.MS_DH_NHAP_PT = NCT.MS_DH_NHAP_PT AND NVT.MS_PT = NCT.MS_PT AND NVT.ID = NCT.ID INNER JOIN
						  dbo.IC_DON_HANG_XUAT AS DHX INNER JOIN
						  dbo.IC_DON_HANG_XUAT_VAT_TU AS XVT ON DHX.MS_DH_XUAT_PT = XVT.MS_DH_XUAT_PT INNER JOIN
						  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS XCT ON XVT.MS_DH_XUAT_PT = XCT.MS_DH_XUAT_PT AND XVT.MS_PT = XCT.MS_PT ON NCT.MS_DH_NHAP_PT = XCT.MS_DH_NHAP_PT AND 
						  NCT.MS_PT = XCT.MS_PT AND NCT.MS_VI_TRI = XCT.MS_VI_TRI AND NCT.ID = XCT.ID_XUAT
						  INNER JOIN IC_PHU_TUNG PT ON PT.MS_PT = XVT.MS_PT 
						  INNER JOIN LOAI_VT  LVT ON LVT.MS_LOAI_VT = PT.MS_LOAI_VT
	WHERE     (DHX.MS_KHO = @KHO_COI) AND (DHX.MS_DANG_XUAT = 4) AND (DHX.MS_BP_CHIU_PHI = @KHO_WHERE)
		AND ( CONVERT(DATETIME,CONVERT(NVARCHAR(10),DHX.NGAY,101)) BETWEEN @TU_NGAY AND @DEN_NGAY )
	GROUP BY XVT.MS_PT
		
	
	SELECT T.MS_PT, SUM(ISNULL(T.SL,0) + ISNULL(T1.SL,0)) AS SL, SUM(ISNULL(T.GT,0) + ISNULL(T1.GT,0)) AS GT INTO #XUATBPCP FROM 
		#DANGXUAT1 T	LEFT JOIN #DANGXUAT4 T1 ON T.MS_PT = T1.MS_PT 
	GROUP BY T.MS_PT

	SELECT MS_PT,SL,GT FROM #XUATBPCP
	WHERE ISNULL(SL,0) + ISNULL(GT,0) <> 0
	ORDER BY MS_PT
	
end	

if @Loai = 3
begin
--@Loai = 3 la sum so luong của dạng xuất khac 1, 4, 9
	SELECT     XVT.MS_PT, SUM(XCT.SL_VT) AS SL, SUM(XCT.SL_VT * NVT.DON_GIA * NVT.TY_GIA) AS GT
	FROM         dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT INNER JOIN
						  dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT ON NVT.MS_DH_NHAP_PT = NCT.MS_DH_NHAP_PT AND NVT.MS_PT = NCT.MS_PT AND NVT.ID = NCT.ID INNER JOIN
						  dbo.IC_DON_HANG_XUAT AS DHX INNER JOIN
						  dbo.IC_DON_HANG_XUAT_VAT_TU AS XVT ON DHX.MS_DH_XUAT_PT = XVT.MS_DH_XUAT_PT INNER JOIN
						  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS XCT ON XVT.MS_DH_XUAT_PT = XCT.MS_DH_XUAT_PT AND XVT.MS_PT = XCT.MS_PT ON NCT.MS_DH_NHAP_PT = XCT.MS_DH_NHAP_PT AND 
						  NCT.MS_PT = XCT.MS_PT AND NCT.MS_VI_TRI = XCT.MS_VI_TRI AND NCT.ID = XCT.ID_XUAT
						  INNER JOIN IC_PHU_TUNG PT ON PT.MS_PT = XVT.MS_PT 
						  INNER JOIN #LVT_TMP LVT ON LVT.MS_LOAI_VT = PT.MS_LOAI_VT
	WHERE     (DHX.MS_KHO = @KHO_COI) AND (DHX.MS_DANG_XUAT NOT IN (1 ,4 ,9)) 
		AND ( CONVERT(DATETIME,CONVERT(NVARCHAR(10),DHX.NGAY,101)) BETWEEN @TU_NGAY AND @DEN_NGAY )
	GROUP BY XVT.MS_PT
end	
