

--exec GetCAU_TRUC_THIET_BI_TS_GSTT_GS 'F1-OHU-1', '06', 0, 'Admin'
ALTER procedure [dbo].[GetCAU_TRUC_THIET_BI_TS_GSTT_GS]
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN	NVARCHAR(30),
	@LOAI_TS INT,
	@USERNAME NVARCHAR(50)
 AS



SELECT DISTINCT MS_LOAI_CV INTO #LOAI_CV_TMP FROM NHOM_LOAI_CONG_VIEC A 
	INNER JOIN USERS B ON A.GROUP_ID = B.GROUP_ID WHERE USERNAME = @USERNAME

SELECT        T4.MS_TS_GSTT, T4.TEN_TS_GSTT, T4.MS_DV_DO, T4.LOAI_TS, T4.GHI_CHU, T4.MS_BP_GSTT, T4.DUONG_DAN, T4.MS_LOAI_CV
INTO #THONG_SO_GSTT
FROM            dbo.NHOM_LOAI_CONG_VIEC AS T2 INNER JOIN
                         dbo.USERS AS T3 ON T2.GROUP_ID = T3.GROUP_ID INNER JOIN
                         dbo.THONG_SO_GSTT AS T4 ON T2.MS_LOAI_CV = T4.MS_LOAI_CV
WHERE (USERNAME = @USERNAME)  AND (ISNULL(T4.MS_LOAI_CV,'') <> '')
AND T4.LOAI_TS = 1
UNION 
SELECT * FROM
(
SELECT        T4.MS_TS_GSTT, T4.TEN_TS_GSTT, T4.MS_DV_DO, T4.LOAI_TS, T4.GHI_CHU, T4.MS_BP_GSTT, T4.DUONG_DAN, ISNULL(T4.MS_LOAI_CV,-99) AS MS_LOAI_CV
FROM            dbo.THONG_SO_GSTT AS T4 
WHERE  (ISNULL(MS_LOAI_CV,'') = '') AND T4.LOAI_TS = 1
) A


SELECT DISTINCT dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT, THONG_SO_GSTT.TEN_TS_GSTT
FROM         dbo.CAU_TRUC_THIET_BI_TS_GSTT INNER JOIN
                      #THONG_SO_GSTT AS THONG_SO_GSTT ON dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT = THONG_SO_GSTT.MS_TS_GSTT
WHERE     (dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = @MS_MAY) AND (dbo.CAU_TRUC_THIET_BI_TS_GSTT.MS_BO_PHAN =@MS_BO_PHAN )
			
