UPDATE DS_FORM_VISIBILE 
SET
COL_LUOI = N'QUY_CACH, PART_NO, DON_GIA_GOC, TAX, TT_TAX, THANH_TIEN_VND,NGOAI_TE, TY_GIA,DON_GIA, TONG_CP, THANH_TIEN, XUAT_XU, BAO_HANH_DEN_NGAY,MS_DH_NHAP_GOC, TY_GIA_USD,DON_GIA_USD, THANH_TIEN_USD,  GHI_CHU'
WHERE ID_FORM = 'frmPhieuNhapKho_New'