
ALTER procedure [dbo].[GETGIA_TRI_DINH_LUONG]
	@MS_TS_GSTT INT ,
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN NVARCHAR(30),
	@GIA_TRI FLOAT
AS
BEGIN
	select MS_TT from dbo.CAU_TRUC_THIET_BI_TS_GSTT 
	where  MS_MAY=@MS_MAY AND MS_BO_PHAN=@MS_BO_PHAN AND MS_TS_GSTT=@MS_TS_GSTT
	AND GIA_TRI_DUOI <= @GIA_TRI and @GIA_TRI <= GIA_TRI_TREN 
END
