
-- EXEC spGetBoPhanGSTT '04/01/2017','04/30/2017','ADMIN',0,-1,'-1',-1,'-1','f1-ac-1',0
ALTER PROC [dbo].[spGetBoPhanGSTT]
	@TU_NGAY DATETIME = '03/06/2016',
	@DEN_NGAY DATETIME = '03/30/2017',
	@USERNAME NVARCHAR(64) = 'ADMIN',
	@NNGU INT = 0,
	@MS_LOAI_CV INT = -1,
	@MS_NHA_XUONG NVARCHAR(250) = '-1',
	@MS_HE_THONG INT = -1,
	@MS_LOAI_MAY VARCHAR(100) = '-1',
	@MS_MAY NVARCHAR (250) = '-1',
	@DAT INT = 1
AS

SELECT DISTINCT MS_MAY,TEN_MAY INTO #MAY_USER
	FROM [dbo].[MGetMayUserNgay](@DEN_NGAY,@USERNAME,@MS_NHA_XUONG,@MS_HE_THONG,-1,@MS_LOAI_MAY,'-1',@MS_MAY,@NNGU)

SELECT         T2.MS_MAY, T1.NGAY_KT, T3.GHI_CHU, T2.MS_TS_GSTT, T2.MS_BO_PHAN, T2.MS_TT, T3.STT_GT INTO #GSTT_TMP
FROM            dbo.GIAM_SAT_TINH_TRANG AS T1 INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS AS T2 ON T1.STT = T2.STT INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS_DT AS T3 ON T2.STT = T3.STT AND T2.MS_MAY = T3.MS_MAY AND T2.MS_TS_GSTT = T3.MS_TS_GSTT 
						 AND T2.MS_BO_PHAN = T3.MS_BO_PHAN AND T2.MS_TT = T3.MS_TT
WHERE (NGAY_KT BETWEEN @TU_NGAY AND @DEN_NGAY) 

SELECT T1.MS_LOAI_CV, T1.TEN_LOAI_CV INTO #LOAI_CV
FROM            dbo.LOAI_CONG_VIEC AS T1 INNER JOIN
                         dbo.NHOM_LOAI_CONG_VIEC AS T2 ON T1.MS_LOAI_CV = T2.MS_LOAI_CV INNER JOIN
                         dbo.USERS AS T3 ON T2.GROUP_ID = T3.GROUP_ID
WHERE (T3.USERNAME = @USERNAME)

if @DAT = 0 
	set @DAT = -1
if @DAT = 1
	set @DAT = 1
if @DAT = 2
	set @DAT = 0
 --DISTINCT T4.MS_BO_PHAN, T5.TEN_BO_PHAN, ISNULL(T5.STT, 9999) AS STT, T4.MS_MAY
SELECT   DISTINCT T1.MS_BO_PHAN , T1.MS_BO_PHAN  + ' - ' + T7.TEN_BO_PHAN AS TEN_BO_PHAN, T1.MS_MAY, ISNULL(T7.STT, 9999) AS STT
FROM            #GSTT_TMP T1 INNER JOIN
                         dbo.THONG_SO_GSTT AS T4 ON T1.MS_TS_GSTT = T4.MS_TS_GSTT INNER JOIN
                         #MAY_USER AS T5 ON T1.MS_MAY = T5.MS_MAY INNER JOIN
                         dbo.GIA_TRI_TS_GSTT AS T6 ON T4.MS_TS_GSTT = T6.MS_TS_GSTT AND T1.MS_TS_GSTT = T6.MS_TS_GSTT AND T1.STT_GT = T6.STT INNER JOIN
                         dbo.CAU_TRUC_THIET_BI AS T7 ON T5.MS_MAY = T7.MS_MAY AND T1.MS_BO_PHAN = T7.MS_BO_PHAN LEFT JOIN
                         #LOAI_CV AS T8 ON T4.MS_LOAI_CV = T8.MS_LOAI_CV
WHERE  (ISNULL(T4.MS_LOAI_CV,-99) = @MS_LOAI_CV OR @MS_LOAI_CV = -1) AND (T6.DAT = @DAT OR @DAT = -1)
UNION SELECT '-1',' < ALL > ','-1',1
ORDER BY T1.MS_MAY, STT
