
ALTER PROCEDURE [dbo].[CheckPHIEU_BAO_TRI]

@MS_PHIEU_BAO_TRI NVARCHAR(20)
 AS

DECLARE @TMP NVARCHAR(20)
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM EOR_CONG_VIEC WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_CONG_VIEC WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_CHI_PHI WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_CONG_VIEC WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_DI_CHUYEN_BP WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_CV_PHU_TRO WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_HINH WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP=MS_PHIEU_BAO_TRI  FROM PHIEU_BAO_TRI_SERVICE WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM EOR_CONG_VIEC_PHU_TRO WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM MAY_PHAN_BO_ATT WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM IC_DON_HANG_XUAT WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM THOI_GIAN_NGUNG_MAY_SO_LAN WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CLASS WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
SELECT @TMP= MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_TINH_TRANG WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI




SELECT @TMP=MS_PBT FROM GIAM_SAT_TINH_TRANG_TS WHERE  MS_PBT =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PBT FROM GIAM_SAT_TINH_TRANG_TS_DT WHERE  MS_PBT =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM IC_DON_HANG_XUAT WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM IC_DON_HANG_XUAT_X WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM KE_HOACH_TONG_CONG_VIEC WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 



SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CHI_PHI WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CLASS WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CONG_VIEC WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CONG_VIEC_KE_HOACH WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CV_KH_PHU_TRO WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CV_PHU_TRO WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CV_PHU_TRO_NHAN_SU WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PBT FROM PHIEU_BAO_TRI_DANH_GIA_SERVICE WHERE  MS_PBT =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_DI_CHUYEN_BP WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_GIAM_SAT_NGHIEM_THU WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_HINH WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_PHAN_HOI_THONG_TIN WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_SERVICE WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_TINH_TRANG WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 



SELECT @TMP=MS_PHIEU_BAO_TRI FROM TB_PHU_TUNG_BAO_TRI WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM TB_VAT_TU_BAO_TRI WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PBT FROM THOI_GIAN_CHAY_MAY WHERE  MS_PBT =  @MS_PHIEU_BAO_TRI 
SELECT @TMP=MS_PHIEU_BAO_TRI FROM THOI_GIAN_NGUNG_MAY_SO_LAN WHERE  MS_PHIEU_BAO_TRI =  @MS_PHIEU_BAO_TRI 

SELECT @TMP=MS_PBT FROM YEU_CAU_NSD_CHI_TIET WHERE  MS_PBT =  @MS_PHIEU_BAO_TRI 




SELECT @TMP AS MS_PHIEU_BAO_TRI
