

--EXEC [H_GetDanhSachVatTuXuatBaoTri] 'WO-201704000002'
ALTER procedure [dbo].[H_GetDanhSachVatTuXuatBaoTri] 
	@MS_PHIEU_BAO_TRI nvarchar(30)
AS

SELECT MS_PHIEU_BAO_TRI,MS_PT, SUM(SL_KH) AS SL_KH, SUM(SL_TT) AS SL_TT ,'' SL_TRA,  DON_GIA, NGOAI_TE, TY_GIA, TY_GIA_USD INTO #BT
FROM
(
	SELECT MS_PHIEU_BAO_TRI,MS_PT, SL_KH, SL_TT , DON_GIA, NGOAI_TE, TY_GIA, TY_GIA_USD FROM dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
	UNION
	SELECT MS_PHIEU_BAO_TRI,MS_PT, SL_KH, SL_TT , NULL AS DON_GIA, NULL AS NGOAI_TE, NULL AS TY_GIA, NULL AS TY_GIA_USD  FROM dbo.PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
) A
GROUP BY MS_PHIEU_BAO_TRI,MS_PT,DON_GIA, NGOAI_TE, TY_GIA, TY_GIA_USD


SELECT        T3.MS_PHIEU_BAO_TRI,  T3.MS_DH_XUAT_PT, T2.ID_GOC, T2.MS_DH_NHAP_PT_GOC, T4.MS_PT AS MS_PT_GOC, SUM(T4.SL_VT) AS SL_TRA  INTO #TMP_TRA
FROM            dbo.IC_DON_HANG_NHAP AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT INNER JOIN
                         dbo.IC_DON_HANG_XUAT AS T3 ON T1.MS_DHX = T3.MS_DH_XUAT_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T4 ON T2.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T2.MS_PT = T4.MS_PT AND T2.ID = T4.ID 
WHERE        (T1.MS_DANG_NHAP = 6) AND (T3.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)
GROUP BY T3.MS_PHIEU_BAO_TRI, T3.MS_DH_XUAT_PT,T2.ID_GOC, T2.MS_DH_NHAP_PT_GOC,T4.MS_PT 





SELECT        T2.MS_DH_XUAT_PT, T4.MS_DH_NHAP_PT, '' MS_DH_NHAP_TRA,
T3.MS_PT, CASE ISNULL(QUY_CACH, '') WHEN '' THEN TEN_PT ELSE TEN_PT + ' - ' + QUY_CACH END AS TEN_PT, T7.SL_KH, T4.SL_VT AS SO_LUONG_THUC_XUAT, '' SL_TRA, 
	ISNULL(T5.DON_GIA, T7.DON_GIA) AS DON_GIA, ISNULL(T5.NGOAI_TE, T7.NGOAI_TE) AS NGOAI_TE, ISNULL(T5.TY_GIA, T7.TY_GIA) AS TY_GIA, ISNULL(T5.TY_GIA_USD, T7.TY_GIA_USD) AS TY_GIA_USD, T5.ID, T2.MS_PHIEU_BAO_TRI INTO #TMP
FROM            dbo.IC_PHU_TUNG AS T1 INNER JOIN
                         dbo.IC_DON_HANG_XUAT AS T2 INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T4 ON T3.MS_DH_XUAT_PT = T4.MS_DH_XUAT_PT AND T3.MS_PT = T4.MS_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T5 ON T4.MS_DH_NHAP_PT = T5.MS_DH_NHAP_PT AND T4.MS_PT = T5.MS_PT ON T1.MS_PT = T3.MS_PT INNER JOIN
                         dbo.LOAI_VT AS T6 ON T1.MS_LOAI_VT = T6.MS_LOAI_VT LEFT OUTER JOIN
                         #BT AS T7 ON T3.MS_PT = T7.MS_PT AND T2.MS_PHIEU_BAO_TRI = T7.MS_PHIEU_BAO_TRI
WHERE        (T6.VAT_TU = 1) AND (T2.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)

UNION 

SELECT        NULL AS MS_DH_XUAT_PT,'' MS_DH_NHAP_PT, '' MS_DH_NHAP_TRA,
T2.MS_PT, T1.TEN_PT, T2.SL_KH, T2.SL_TT AS SO_LUONG_THUC_XUAT, '' SL_TRA, T2.DON_GIA, T2.NGOAI_TE, T2.TY_GIA, T2.TY_GIA_USD
, '' ID, T2.MS_PHIEU_BAO_TRI
FROM            dbo.IC_PHU_TUNG AS T1 INNER JOIN
#BT AS T2 ON T1.MS_PT = T2.MS_PT INNER JOIN
                         dbo.LOAI_VT AS T3 ON T3.MS_LOAI_VT = T1.MS_LOAI_VT
WHERE        (T2.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND (T3.VAT_TU = 1) AND (T2.MS_PT NOT IN
                             (SELECT        dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT
                               FROM            dbo.IC_DON_HANG_XUAT INNER JOIN
                                                         dbo.IC_DON_HANG_XUAT_VAT_TU ON dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT
                               WHERE        (dbo.IC_DON_HANG_XUAT.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)))
                               
SELECT T.MS_DH_XUAT_PT, T.MS_DH_NHAP_PT, dbo.GetPhieuNhapTra( T.MS_DH_XUAT_PT, T.MS_DH_NHAP_PT) AS MS_DH_NHAP_TRA,
MS_PT,  TEN_PT, SL_KH, SO_LUONG_THUC_XUAT, T1.SL_TRA, 
DON_GIA,  NGOAI_TE, TY_GIA, TY_GIA_USD FROM #TMP T
LEFT JOIN #TMP_TRA T1 ON T1.MS_PHIEU_BAO_TRI = T.MS_PHIEU_BAO_TRI AND T1.MS_DH_XUAT_PT = T.MS_DH_XUAT_PT AND T1.MS_PT_GOC = T.MS_PT 
AND T.ID = T1.ID_GOC AND T.MS_DH_NHAP_PT = T1.MS_DH_NHAP_PT_GOC 
                               

