--	EXEC GetNgayBatDauPBT 'WO-201703000167'
ALTER procedure [dbo].[GetNgayBatDauPBT]
	@MS_PHIEU_BAO_TRI NVARCHAR(50)
AS
SELECT MIN(NGAY) AS NGAY FROM 
(
SELECT NGAY FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
UNION
SELECT NGAY FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI) A

