-- GetNgayKetThucPBT 'WO-201704000166',1
ALTER procedure [dbo].[GetNgayKetThucPBT]
	@MS_PHIEU_BAO_TRI NVARCHAR(50),
	@TINH_TRANG_PBT INT
AS

SELECT MAX(DEN_NGAY) AS NGAY FROM 
(
SELECT DEN_NGAY FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
UNION
SELECT DEN_NGAY FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI) A

