
ALTER procedure [dbo].[get_Kehoachnhanvienphu]
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@STT INT,
	@THEM BIT
AS
IF @THEM=0
BEGIN 

	SELECT PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.MS_CONG_NHAN, PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.MS_CONG_NHAN AS MS_CN,HO + ' ' + TEN AS TEN_CONG_NHAN,NGAY,
	 TU_GIO,DEN_NGAY,DEN_GIO, 
	convert(bit,case THUE_NGOAI when 0 then 1 else 0 end) as THUE_NGOAI,HOAN_THANH,
	--TU_GIO AS TU_GIO_TMP,DEN_GIO AS DEN_GIO_TMP	,NGAY AS NGAY_TMP
	 ID_STT, SO_GIO
	FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO 
	INNER JOIN PHIEU_BAO_TRI_CV_PHU_TRO ON (PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.MS_PHIEU_BAO_TRI  = PHIEU_BAO_TRI_CV_PHU_TRO.MS_PHIEU_BAO_TRI  AND 
	PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.STT = PHIEU_BAO_TRI_CV_PHU_TRO.STT )
	INNER JOIN CONG_NHAN ON PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.MS_CONG_NHAN = CONG_NHAN.MS_CONG_NHAN
	INNER JOIN [TO] ON CONG_NHAN.MS_TO = [TO].MS_TO1 INNER JOIN
	TO_PHONG_BAN ON [TO].MS_TO = TO_PHONG_BAN.MS_TO INNER JOIN DON_VI ON TO_PHONG_BAN.MS_DON_VI = DON_VI.MS_DON_VI
	WHERE PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.STT = @STT

END 
ELSE
	BEGIN
	IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES  WHERE TABLE_NAME = 'tTam1')
	begin
   	DROP TABLE tTam1
	end
	SELECT PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.MS_CONG_NHAN, PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.MS_CONG_NHAN AS MS_CN,HO + ' ' + TEN AS TEN_CONG_NHAN,
	NGAY, TU_GIO,DEN_NGAY,DEN_GIO,
	convert( bit,case THUE_NGOAI when 0 then 1 else 0 end) as THUE_NGOAI,HOAN_THANH,
	--CONVERT(NVARCHAR(5),TU_GIO,114) AS TU_GIO_TMP,CONVERT(NVARCHAR(5),DEN_GIO,114) AS DEN_GIO_TMP,
	--convert(nvarchar(10),NGAY,103) AS NGAY_TMP, 
	ID_STT,SO_GIO
	 INTO DBO.tTam1
	FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO 
	INNER JOIN PHIEU_BAO_TRI_CV_PHU_TRO ON (PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.MS_PHIEU_BAO_TRI  = PHIEU_BAO_TRI_CV_PHU_TRO.MS_PHIEU_BAO_TRI  AND 
	PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.STT = PHIEU_BAO_TRI_CV_PHU_TRO.STT )
	INNER JOIN CONG_NHAN ON PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.MS_CONG_NHAN = CONG_NHAN.MS_CONG_NHAN
	INNER JOIN [TO] ON CONG_NHAN.MS_TO = [TO].MS_TO1 INNER JOIN
	TO_PHONG_BAN ON [TO].MS_TO = TO_PHONG_BAN.MS_TO INNER JOIN DON_VI ON TO_PHONG_BAN.MS_DON_VI = DON_VI.MS_DON_VI
	WHERE PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO.STT = @STT


	SELECT * FROM tTam1
	DROP TABLE tTam1
END


