

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'AddPBTCVNhanSuPhuTro_NEW')
   exec('CREATE PROCEDURE AddPBTCVNhanSuPhuTro_NEW AS BEGIN SET NOCOUNT ON; END')
 Go
--EXEC AddPBTCVNhanSuPhuTro_NEW 'WO-201704000006'

ALTER PROC [dbo].[AddPBTCVNhanSuPhuTro_NEW]
	@MS_PHIEU_BAO_TRI nvarchar(20)
AS

UPDATE	PBTCVNPT SET NGAY = NULL WHERE LEN(NGAY) < 10
UPDATE	PBTCVNPT SET TU_GIO = NULL WHERE LEN(TU_GIO) < 4
UPDATE	PBTCVNPT SET DEN_NGAY = NULL WHERE LEN(DEN_NGAY) < 10
UPDATE	PBTCVNPT SET DEN_GIO = NULL WHERE LEN(DEN_GIO) < 4


INSERT INTO [PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO]	
	([MS_PHIEU_BAO_TRI],[STT],[MS_CONG_NHAN],[NGAY],[TU_GIO],[DEN_NGAY],[DEN_GIO],[HOAN_THANH],[ID_STT],SO_GIO)
SELECT [MS_PHIEU_BAO_TRI],[STT],[MS_CONG_NHAN],[NGAY],[TU_GIO],[DEN_NGAY],[DEN_GIO],ISNULL([HOAN_THANH],0) AS HOAN_THANH, ID_STT,SO_GIO
FROM  (SELECT @MS_PHIEU_BAO_TRI  AS MS_PHIEU_BAO_TRI, MS_CV AS STT ,[MS_CONG_NHAN],
CONVERT(DATETIME,[NGAY],103) AS NGAY ,CONVERT(DATETIME,[TU_GIO],114) AS TU_GIO ,
CONVERT(DATETIME,[DEN_NGAY],103) AS DEN_NGAY,CONVERT(DATETIME,[DEN_GIO],114) AS DEN_GIO,
ISNULL([HOAN_THANH],0) AS [HOAN_THANH] , ID_STT,SO_GIO   FROM PBTCVNPT WHERE ISNULL(ID_STT ,0) <> 0 ) A WHERE NOT EXISTS 
( SELECT * FROM [PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO] B 
WHERE A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI AND A.STT = B.STT
AND A.MS_CONG_NHAN = B.MS_CONG_NHAN AND A.ID_STT = B.ID_STT  --AND A.STT = B.STT  
)


UPDATE [PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO]  
   SET [MS_CONG_NHAN] = A.MS_CONG_NHAN
      ,[NGAY] = CONVERT(DATETIME,A.NGAY,103)
      ,[TU_GIO] = CONVERT(DATETIME,A.TU_GIO,114)
      ,[DEN_NGAY] = CONVERT(DATETIME,A.DEN_NGAY,103)
      ,[DEN_GIO] = CONVERT(DATETIME,A.DEN_GIO,114)
      ,[HOAN_THANH] = ISNULL(A.HOAN_THANH,0)
      ,[SO_GIO] = ISNULL(A.SO_GIO,NULL)
FROM 
(SELECT @MS_PHIEU_BAO_TRI  AS MS_PHIEU_BAO_TRI, MS_CV AS STT,[MS_CONG_NHAN],
CONVERT(DATETIME,[NGAY],103) AS NGAY ,CONVERT(DATETIME,[TU_GIO],114) AS TU_GIO ,
CONVERT(DATETIME,[DEN_NGAY],103) AS DEN_NGAY,CONVERT(DATETIME,[DEN_GIO],114) AS DEN_GIO,
[HOAN_THANH],[ID_STT] , MS_CN,[SO_GIO] FROM PBTCVNPT ) A 
INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI 
AND A.MS_CN = B.MS_CONG_NHAN AND A.ID_STT = B.ID_STT --AND A.STT = B.STT 


UPDATE PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO SET [SO_GIO] = NULL WHERE [SO_GIO] = 0 AND MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI

IF EXISTS (SELECT * FROM SYSOBJECTS WHERE ID=OBJECT_ID(N'[PBTCVNPT]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1) 
	DROP TABLE [PBTCVNPT]

