
--EXEC [GetLOAI_MAY_QUYEN] 1
ALTER procedure [dbo].[GetLOAI_MAY_QUYEN]
	@GROUP_ID INT
 AS

SELECT     dbo.LOAI_MAY.MS_LOAI_MAY, dbo.LOAI_MAY.TEN_LOAI_MAY, 
			CASE dbo.NHOM_LOAI_MAY.GROUP_ID 
			WHEN ISNULL( dbo.NHOM_LOAI_MAY.GROUP_ID,0) THEN CONVERT(BIT,1)
			ELSE CONVERT(BIT,0) END AS CHON, CONVERT(BIT,'False') IS_UPDATE, @GROUP_ID GROUP_ID
FROM         dbo.LOAI_MAY LEFT OUTER JOIN
  dbo.NHOM_LOAI_MAY ON dbo.LOAI_MAY.MS_LOAI_MAY = dbo.NHOM_LOAI_MAY.MS_LOAI_MAY AND dbo.NHOM_LOAI_MAY.GROUP_ID =@GROUP_ID
