
--EXEC GetNHOM_BO_PHAN_CHIU_PHI_QUYEN 1
ALTER procedure [dbo].[GetNHOM_BO_PHAN_CHIU_PHI_QUYEN]
	@GROUP_ID INT
 AS

SELECT     B.MS_BP_CHIU_PHI, B.TEN_BP_CHIU_PHI, TEN_DON_VI, CASE A.GROUP_ID 
			WHEN ISNULL( A.GROUP_ID,0) THEN CONVERT(BIT,1)
			ELSE CONVERT(BIT,0) END AS CHON, CONVERT(BIT,'False') IS_UPDATE, @GROUP_ID GROUP_ID
FROM         dbo.NHOM_BO_PHAN_CHIU_PHI AS A RIGHT OUTER JOIN
                      dbo.BO_PHAN_CHIU_PHI AS B ON A.MS_BP_CHIU_PHI = B.MS_BP_CHIU_PHI
AND A.GROUP_ID=@GROUP_ID 
INNER JOIN DON_VI C ON B.MSDV = C.MS_DON_VI
ORDER BY  TEN_DON_VI,TEN_BP_CHIU_PHI

