--EXEC DBO.GetLOAI_PHU_TUNG_QUYEN 1
ALTER procedure [dbo].[GetLOAI_PHU_TUNG_QUYEN]
	@GROUP_ID INT
 AS

	SELECT     dbo.LOAI_PHU_TUNG.MS_LOAI_PT, dbo.LOAI_PHU_TUNG.TEN_LOAI_PT, CASE dbo.NHOM_LOAI_PHU_TUNG.GROUP_ID 
			WHEN ISNULL(dbo.NHOM_LOAI_PHU_TUNG.GROUP_ID,0) THEN CONVERT(BIT,1)
			ELSE CONVERT(BIT,0) END AS CHON, CONVERT(BIT,'False') IS_UPDATE, @GROUP_ID GROUP_ID
FROM         dbo.LOAI_PHU_TUNG LEFT OUTER JOIN
                      dbo.NHOM_LOAI_PHU_TUNG ON dbo.LOAI_PHU_TUNG.MS_LOAI_PT = dbo.NHOM_LOAI_PHU_TUNG.MS_LOAI_PT
		AND dbo.NHOM_LOAI_PHU_TUNG.GROUP_ID=@GROUP_ID
