
ALTER procedure [dbo].[GetMENU_QUYEN]
@GROUP_ID INT,	
@TYPE INT
 AS
	/*IF @TYPE=0 
	BEGIN 
		SELECT     dbo.MENU.MENU_ID, dbo.MENU.MENU_NAME_VIET AS MENU_NAME,
	                      dbo.NHOM_MENU.GROUP_ID
		FROM         dbo.MENU LEFT OUTER JOIN
	                      dbo.NHOM_MENU ON dbo.MENU.MENU_ID = dbo.NHOM_MENU.MENU_ID
		ORDER BY MENU_NAME
	END
	ELSE
	BEGIN
		IF @TYPE=1 
			BEGIN 
				SELECT     dbo.MENU.MENU_ID, dbo.MENU.MENU_NAME_ANH AS MENU_NAME, 
			                      dbo.NHOM_MENU.GROUP_ID
				FROM         dbo.MENU LEFT OUTER JOIN
			                      dbo.NHOM_MENU ON dbo.MENU.MENU_ID = dbo.NHOM_MENU.MENU_ID
				ORDER BY MENU_NAME
			END
	ELSE
		BEGIN 
			SELECT     dbo.MENU.MENU_ID, dbo.MENU.MENU_NAME_HOA AS MENU_NAME, 
		                      dbo.NHOM_MENU.GROUP_ID
			FROM         dbo.MENU LEFT OUTER JOIN
		                      dbo.NHOM_MENU ON dbo.MENU.MENU_ID = dbo.NHOM_MENU.MENU_ID
			ORDER BY MENU_NAME
		END
 
	END*/
	SELECT     MENU.MENU_ID, (CASE @TYPE WHEN 0 THEN  MENU.MENU_TEXT WHEN 1 THEN MENU.MENU_ENGLISH ELSE MENU.MENU_CHINESE END) AS MENU_NAME,
	                   @GROUP_ID GROUP_ID ,
	                   CONVERT(BIT, CASE WHEN NHOM_MENU.GROUP_ID IS NOT NULL THEN 1 ELSE 0 END )[CHON],CONVERT(BIT,0)IS_UPDATE
	FROM         MENU LEFT OUTER JOIN
	                      NHOM_MENU ON MENU.MENU_ID = NHOM_MENU.MENU_ID AND NHOM_MENU.GROUP_ID=@GROUP_ID
	WHERE  (CASE @TYPE WHEN 0 THEN  MENU.MENU_TEXT WHEN 1 THEN MENU.MENU_ENGLISH ELSE MENU.MENU_CHINESE END) IS NOT NULL
	ORDER BY MENU_NAME
