--exec [GetNHOM_HE_THONG] 1
ALTER procedure [dbo].[GetNHOM_HE_THONG]
	@GROUP_ID INT
 AS
SELECT     dbo.HE_THONG.MS_HE_THONG, dbo.HE_THONG.TEN_HE_THONG, 
CASE dbo.NHOM_HE_THONG.GROUP_ID 
			WHEN ISNULL( dbo.NHOM_HE_THONG.GROUP_ID,0) THEN CONVERT(BIT,1)
			ELSE CONVERT(BIT,0) END AS CHON, CONVERT(BIT,'False') IS_UPDATE, @GROUP_ID GROUP_ID
FROM         dbo.HE_THONG LEFT OUTER JOIN
  dbo.NHOM_HE_THONG ON dbo.HE_THONG.MS_HE_THONG = dbo.NHOM_HE_THONG.MS_HE_THONG AND dbo.NHOM_HE_THONG.GROUP_ID =@GROUP_ID
