
--EXEC GetNHOM_TO_PHONG_BAN_QUYEN 1
ALTER procedure [dbo].[GetNHOM_TO_PHONG_BAN_QUYEN]
	@GROUP_ID INT
 AS

SELECT     B.MS_TO, C.TEN_DON_VI, B.TEN_TO,CASE A.GROUP_ID
			WHEN ISNULL( A.GROUP_ID,0) THEN CONVERT(BIT,1)
			ELSE CONVERT(BIT,0) END AS CHON, CONVERT(BIT,'False') IS_UPDATE, @GROUP_ID GROUP_ID
FROM         dbo.DON_VI AS C INNER JOIN
                      dbo.TO_PHONG_BAN AS B ON C.MS_DON_VI = B.MS_DON_VI LEFT OUTER JOIN
                      dbo.NHOM_TO_PHONG_BAN AS A ON B.MS_TO = A.MS_TO AND A.GROUP_ID = @GROUP_ID
ORDER BY C.TEN_DON_VI, B.TEN_TO
