
ALTER procedure [dbo].[GetNHOM_MENU]
	@GROUP_ID INT,
	@TYPE INT
 AS
	IF @TYPE=0 
	BEGIN
		SELECT     NHOM_MENU.MENU_ID,MENU_TEXT AS MENU_NAME,dbo.NHOM_MENU.GROUP_ID,CONVERT(bit, 'True') [CHON],CONVERT(bit, 'False')IS_UPDATE
		FROM         dbo.NHOM_MENU INNER JOIN
		                      dbo.MENU ON dbo.NHOM_MENU.MENU_ID = dbo.MENU.MENU_ID
		WHERE     (dbo.NHOM_MENU.GROUP_ID =@GROUP_ID)
		ORDER BY MENU_NAME
	END 
	ELSE
	BEGIN
		IF @TYPE=1 
		BEGIN
			SELECT     NHOM_MENU.MENU_ID,MENU_ENGLISH AS MENU_NAME,dbo.NHOM_MENU.GROUP_ID,CONVERT(bit, 'True') [CHON],CONVERT(bit, 'False')IS_UPDATE
			FROM         dbo.NHOM_MENU INNER JOIN
			                      dbo.MENU ON dbo.NHOM_MENU.MENU_ID = dbo.MENU.MENU_ID
			WHERE     (dbo.NHOM_MENU.GROUP_ID =@GROUP_ID)
			ORDER BY MENU_NAME
		END 
		ELSE
		BEGIN
			SELECT     NHOM_MENU.MENU_ID,MENU_CHINESE AS MENU_NAME,dbo.NHOM_MENU.GROUP_ID,CONVERT(bit, 'True') [CHON],CONVERT(bit, 'False')IS_UPDATE
			FROM         dbo.NHOM_MENU INNER JOIN
			                      dbo.MENU ON dbo.NHOM_MENU.MENU_ID = dbo.MENU.MENU_ID
			WHERE     (dbo.NHOM_MENU.GROUP_ID =@GROUP_ID)
			ORDER BY MENU_NAME
		END 
	END
