

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetNHOM_NHA_XUONG')
   exec('CREATE PROCEDURE GetNHOM_NHA_XUONG AS BEGIN SET NOCOUNT ON; END')
 Go
--EXEC GetNHOM_NHA_XUONG 1
ALTER procedure [dbo].[GetNHOM_NHA_XUONG]
@GROUP_ID INT
 AS

 SELECT     NX.MS_N_XUONG, NX.Ten_N_XUONG,
  DIA_CHI=ISNULL(NX.DIA_CHI,'') + ' ' + ISNULL([dbo].[Get_Street](NX.MS_DUONG),''),
                      QUAN =[dbo].[Get_Distrct](NX.MS_QG),TINH=[dbo].[Get_City](NX.MS_QG),
                      
			CASE dbo.NHOM_NHA_XUONG.GROUP_ID 
			WHEN ISNULL( dbo.NHOM_NHA_XUONG.GROUP_ID,0) THEN CONVERT(BIT,1)
			ELSE CONVERT(BIT,0) END AS CHON, CONVERT(BIT,'False') IS_UPDATE, @GROUP_ID GROUP_ID
FROM         dbo.NHOM_NHA_XUONG RIGHT JOIN
	 NHA_XUONG AS NX ON
            dbo.NHOM_NHA_XUONG.MS_N_XUONG=NX.MS_N_XUONG
            AND NHOM_NHA_XUONG.GROUP_ID=@GROUP_ID
