
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_USER_CHUCNANG')
   exec('CREATE PROCEDURE SP_USER_CHUCNANG AS BEGIN SET NOCOUNT ON; END')
 Go
ALTER PROC [dbo].[SP_USER_CHUCNANG]
(
	@ACTION VARCHAR(200)=NULL,
	@USERNAME NVARCHAR(50)=NULL,
	@GROUP_ID INT=NULL,
	@FULL_NAME NVARCHAR(50)=NULL,
	@PASS NVARCHAR(50)=NULL,
	@DESCRIPTION NVARCHAR(100)=NULL,
	@MS_TO INT =NULL,
	@USER_MAIL NVARCHAR(150)=NULL,
	@MS_CONG_NHAN NVARCHAR(9)=NULL,
	@ACTIVE BIT =NULL,
	@TBUCN TVT_USER_CHUC_NANG READONLY
)
AS 
BEGIN
	IF @ACTION='ADD'
	BEGIN
		INSERT INTO [USERS]
           ([USERNAME]
           ,[GROUP_ID]
           ,[FULL_NAME]
           ,[PASS]
           ,[DESCRIPTION]
           ,[MS_TO]
           ,[USER_MAIL]
           ,[MS_CONG_NHAN]
           ,[ACTIVE])
		VALUES
           (@USERNAME
           ,@GROUP_ID
           ,@FULL_NAME
           ,@PASS
           ,@DESCRIPTION
           ,@MS_TO
           ,@USER_MAIL
           ,@MS_CONG_NHAN
           ,@ACTIVE)
           
        DELETE T1 FROM USER_CHUC_NANG T1 INNER JOIN @TBUCN T2 ON T1.USERNAME=T2.USERNAME AND T1.STT=T2.STT  WHERE T2.CHON='False' 
        
        INSERT INTO [dbo].[USER_CHUC_NANG] ([USERNAME],[STT])
        SELECT @USERNAME,[STT] FROM @TBUCN T100 WHERE CHON='True' 
        AND T100.STT NOT IN (SELECT T20.STT FROM [dbo].[USER_CHUC_NANG] T20 WHERE T20.USERNAME =T100.USERNAME)
	END
	IF @ACTION='UPDATE'
	BEGIN
		UPDATE [dbo].[USERS]
	    SET [GROUP_ID] = @GROUP_ID
		  ,[FULL_NAME] = @FULL_NAME
		  ,[PASS] = @PASS
		  ,[DESCRIPTION] = @DESCRIPTION
		  ,[MS_TO] = @MS_TO
		  ,[USER_MAIL] = @USER_MAIL
		  ,[MS_CONG_NHAN] = @MS_CONG_NHAN
		  ,[ACTIVE] = @ACTIVE
	    WHERE [USERNAME]=@USERNAME
	    
	    DELETE T1 FROM USER_CHUC_NANG T1 INNER JOIN @TBUCN T2 ON T1.USERNAME=T2.USERNAME AND T1.STT=T2.STT WHERE T2.CHON='False' 
        INSERT INTO [dbo].[USER_CHUC_NANG] ([USERNAME],[STT])
        SELECT @USERNAME,[STT] FROM @TBUCN T100 WHERE CHON='True' 
        AND T100.STT NOT IN (SELECT T20.STT FROM [dbo].[USER_CHUC_NANG] T20 WHERE T20.USERNAME =T100.USERNAME)
	END
	IF @ACTION='DELETE'
	BEGIN
		DELETE USER_CHUC_NANG WHERE USERNAME =@USERNAME
		DELETE FROM [dbo].[USERS] WHERE [USERNAME]=@USERNAME 
		
	END
END