IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GET_PHAN_QUYEN_FORM')
   exec('CREATE PROCEDURE GET_PHAN_QUYEN_FORM AS BEGIN SET NOCOUNT ON; END')
 Go
--EXEC GET_PHAN_QUYEN_FORM 'Admin','frmNhomquyen'
ALTER PROC GET_PHAN_QUYEN_FORM
(
	@USER_NAME NVARCHAR(200)=NULL,
	@FORM_NAME NVARCHAR(500)=NULL
)
AS
BEGIN
	DECLARE @GROUP_ID INT
	SET @GROUP_ID=(SELECT TOP 1 T1.GROUP_ID  FROM DBO.NHOM T1 INNER JOIN dbo.USERS T2 ON T1.GROUP_ID=T2.GROUP_ID WHERE T2.USERNAME=@USER_NAME)
	SELECT QUYEN
	FROM [dbo].[NHOM_FORM] T1 
	WHERE T1.GROUP_ID=@GROUP_ID AND FORM_NAME = @FORM_NAME
		AND QUYEN IN ('Read only','No access')
	 
END