
ALTER procedure [dbo].[GetDANH_SACH_CAU_TRUC_THIET_BI_PHU_TUNGs_ThueNgoai]
@TYPE INT,
@USERNAME NVARCHAR(50),
@MS_MAY NVARCHAR(30),
@MS_BO_PHAN NVARCHAR(50),
@MS_PHIEU_BAO_TRI NVARCHAR(20),
@MS_CV INT
 AS

 SELECT DISTINCT convert(bit, 0) CHON, dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT, dbo.IC_PHU_TUNG.TEN_PT,   MS_VI_TRI_PT,
SO_LUONG AS SL_KH, dbo.LOAI_VT.TEN_LOAI_VT_TV,   dbo.IC_PHU_TUNG.MS_PT_NCC, 
dbo.IC_PHU_TUNG.MS_PT_CTY,CASE @TYPE WHEN 0 THEN dbo.DON_VI_TINH.TEN_1 WHEN 1 THEN dbo.DON_VI_TINH.TEN_2 ELSE dbo.DON_VI_TINH.TEN_3 END AS TEN_1,
'Y' AS MS_PT_CHA  
FROM dbo.CAU_TRUC_THIET_BI_PHU_TUNG INNER JOIN  dbo.IC_PHU_TUNG 
ON   dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN  dbo.IC_PHU_TUNG_LOAI_MAY 
ON   dbo.IC_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG_LOAI_MAY.MS_PT INNER JOIN  dbo.IC_PHU_TUNG_LOAI_PHU_TUNG 
ON   dbo.IC_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG_LOAI_PHU_TUNG.MS_PT INNER JOIN  dbo.DON_VI_TINH 
ON   dbo.IC_PHU_TUNG.DVT = dbo.DON_VI_TINH.DVT INNER JOIN  dbo.LOAI_VT 
ON dbo.IC_PHU_TUNG.MS_LOAI_VT = dbo.LOAI_VT.MS_LOAI_VT  INNER JOIN  dbo.LOAI_PHU_TUNG 
ON dbo.IC_PHU_TUNG_LOAI_PHU_TUNG.MS_LOAI_PT = dbo.LOAI_PHU_TUNG.MS_LOAI_PT   INNER JOIN  dbo.LOAI_MAY 
ON dbo.IC_PHU_TUNG_LOAI_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY   INNER JOIN  dbo.NHOM_LOAI_MAY 
ON dbo.LOAI_MAY.MS_LOAI_MAY = dbo.NHOM_LOAI_MAY.MS_LOAI_MAY   INNER JOIN  dbo.NHOM_LOAI_PHU_TUNG 
ON dbo.LOAI_PHU_TUNG.MS_LOAI_PT = dbo.NHOM_LOAI_PHU_TUNG.MS_LOAI_PT   INNER JOIN  dbo.NHOM 
ON dbo.NHOM_LOAI_MAY.GROUP_ID = dbo.NHOM.GROUP_ID   AND   dbo.NHOM_LOAI_PHU_TUNG.GROUP_ID = dbo.NHOM.GROUP_ID 
INNER JOIN  dbo.USERS   ON dbo.NHOM.GROUP_ID = dbo.USERS.GROUP_ID  
WHERE (dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_MAY =@MS_MAY)   
AND (dbo.CAU_TRUC_THIET_BI_PHU_TUNG.MS_BO_PHAN =@MS_BO_PHAN) AND  (dbo.USERS.USERNAME =@USERNAME)
/*AND CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT NOT IN (SELECT MS_PT FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET TMP 
					WHERE TMP.MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI  AND TMP.MS_CV=@MS_CV  AND MS_BO_PHAN= @MS_BO_PHAN AND TMP.MS_VI_TRI_PT=CAU_TRUC_THIET_BI_PHU_TUNG.MS_VI_TRI_PT )
AND CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT NOT IN (SELECT MS_PT FROM CAU_TRUC_THIET_BI_PHU_TUNG CTTB WHERE CTTB.MS_MAY=@MS_MAY  AND MS_BO_PHAN=@MS_BO_PHAN)*/
