
ALTER procedure [dbo].[GetDANH_SACH_KE_HOACH_TONG_CONG_VIEC_PHU_TUNGs]
@MS_MAY NVARCHAR(30),
@HANG_MUC_ID INT,
@MS_CV  NVARCHAR(30),
@MS_BO_PHAN NVARCHAR(50),
@USERNAME NVARCHAR(50),
@MS_PHIEU_BAO_TRI NVARCHAR(20)
 AS


SELECT distinct  CONVERT(BIT, 0) CHON, KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_MAY, KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.HANG_MUC_ID, 
                      KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_CV, KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_BO_PHAN, 
                      KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_PT, IC_PHU_TUNG.TEN_PT, KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.SO_LUONG AS SL_KH, MS_PT_NCC,MS_PT_CTY,
                      DON_VI_TINH.TEN_1,(CASE WHEN MS_VI_TRI_PT<>'' THEN 'Y' ELSE 'N' END ) AS MS_PT_CHA
FROM         KE_HOACH_TONG_CONG_VIEC_PHU_TUNG INNER JOIN
                      IC_PHU_TUNG ON KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_PT = IC_PHU_TUNG.MS_PT INNER JOIN
                      IC_PHU_TUNG_LOAI_PHU_TUNG ON IC_PHU_TUNG.MS_PT = IC_PHU_TUNG_LOAI_PHU_TUNG.MS_PT INNER JOIN
                      LOAI_PHU_TUNG ON IC_PHU_TUNG_LOAI_PHU_TUNG.MS_LOAI_PT = LOAI_PHU_TUNG.MS_LOAI_PT INNER JOIN
                      NHOM_LOAI_PHU_TUNG ON LOAI_PHU_TUNG.MS_LOAI_PT = NHOM_LOAI_PHU_TUNG.MS_LOAI_PT INNER JOIN
                      NHOM ON NHOM_LOAI_PHU_TUNG.GROUP_ID = NHOM.GROUP_ID INNER JOIN
                      USERS ON NHOM.GROUP_ID = USERS.GROUP_ID INNER JOIN
                      DON_VI_TINH ON IC_PHU_TUNG.DVT = DON_VI_TINH.DVT LEFT JOIN
                      CAU_TRUC_THIET_BI_PHU_TUNG ON KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_MAY = CAU_TRUC_THIET_BI_PHU_TUNG.MS_MAY AND 
                      KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = CAU_TRUC_THIET_BI_PHU_TUNG.MS_BO_PHAN AND 
                      KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_PT = CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT

WHERE     (dbo.USERS.USERNAME=@USERNAME) AND (dbo.KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_MAY=@MS_MAY) AND (dbo.KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.HANG_MUC_ID =@HANG_MUC_ID)
	AND KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_CV=@MS_CV AND KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_BO_PHAN=@MS_BO_PHAN
AND KE_HOACH_TONG_CONG_VIEC_PHU_TUNG.MS_PT NOT IN (SELECT MS_PT FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG PBT WHERE PBT.MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND PBT.MS_CV=@MS_CV AND PBT.MS_BO_PHAN=@MS_BO_PHAN)
