-- UPDATE_LUONG_CO_BAN_LOG 1486,'111','frmQuanlynhanvien','admin',1
ALTER proc [dbo].[UPDATE_LUONG_CO_BAN_LOG]
	@MS_CONG_NHAN NVARCHAR(50),
	@SO_QUYET_DINH NVARCHAR(50),
	@FORM_NAME NVARCHAR(50),
	@USER_SIGN NVARCHAR(50)	,
	@THAO_TAC INT 
AS
	declare @Count int
	set @count=ISNULL(( select count(FORM_NAME) FROM W_LOG WHERE TABLE_NAME='LUONG_CO_BAN' AND FORM_NAME=@FORM_NAME AND USER_SIGN=@USER_SIGN AND CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,20))=CONVERT(DATETIME,CONVERT(NVARCHAR(10),GETDATE(),20))),0)
	IF @COUNT =0
		INSERT INTO W_LOG(FORM_NAME,USER_SIGN,NGAY,TABLE_NAME)
		SELECT @FORM_NAME,@USER_SIGN,GETDATE(),'LUONG_CO_BAN'
	
	INSERT INTO W_LUONG_CO_BAN(MS_CONG_NHAN,SO_QUYET_DINH,NGAY_KY,NGUOI_KY,NGAY_HIEU_LUC,LUONG_CO_BAN,NGOAI_TE,HIEU_SUAT,FORM_NAME,USER_SIGN,ID,STT_LOG,CREATEDATE,THAO_TAC)
	SELECT MS_CONG_NHAN,SO_QUYET_DINH,NGAY_KY,NGUOI_KY,NGAY_HIEU_LUC,LUONG_CO_BAN,NGOAI_TE,HIEU_SUAT,@FORM_NAME,@USER_SIGN,NULL ,
	( SELECT COUNT(*)+1 FROM W_LUONG_CO_BAN WHERE MS_CONG_NHAN=@MS_CONG_NHAN AND SO_QUYET_DINH=@SO_QUYET_DINH ),GETDATE(),@THAO_TAC
	FROM LUONG_CO_BAN WHERE MS_CONG_NHAN=@MS_CONG_NHAN AND SO_QUYET_DINH=@SO_QUYET_DINH
