
-- GetCHI_TIET_FORM_QUYEN 5, 0
ALTER proc [dbo].[GetCHI_TIET_FORM_QUYEN]
 @GROUP_ID INT,
 @TYPELANGUAGE INT
AS
IF @TYPELANGUAGE =0 
 BEGIN
 SELECT     dbo.CHI_TIET_FORMS.FORM_NAME, dbo.CHI_TIET_FORMS.TEN_FORMS_VIET AS TEN_FORM, isnull(dbo.NHOM_FORM.QUYEN, N'') as QUYEN, CONVERT(BIT,'False') IS_UPDATE,@GROUP_ID GROUP_ID
 FROM         dbo.CHI_TIET_FORMS LEFT OUTER JOIN
                       dbo.NHOM_FORM ON dbo.CHI_TIET_FORMS.FORM_NAME = dbo.NHOM_FORM.FORM_NAME AND NHOM_FORM.GROUP_ID=@GROUP_ID
 ORDER BY TEN_FORM
 END 
ELSE
 IF @TYPELANGUAGE=1 
  BEGIN
  SELECT     dbo.CHI_TIET_FORMS.FORM_NAME,  dbo.CHI_TIET_FORMS.TEN_FORMS_ANH AS TEN_FORM, 
                     isnull(dbo.NHOM_FORM.QUYEN, N'') as QUYEN, CONVERT(BIT,'False') IS_UPDATE,@GROUP_ID GROUP_ID
 
  FROM         dbo.CHI_TIET_FORMS LEFT OUTER JOIN
                        dbo.NHOM_FORM ON dbo.CHI_TIET_FORMS.FORM_NAME = dbo.NHOM_FORM.FORM_NAME AND NHOM_FORM.GROUP_ID=@GROUP_ID
  ORDER BY TEN_FORM
  END 
 ELSE
  BEGIN
  SELECT     dbo.CHI_TIET_FORMS.FORM_NAME, 
                        dbo.CHI_TIET_FORMS.TEN_FORMS_HOA AS TEN_FORM, isnull(dbo.NHOM_FORM.QUYEN, N'') as QUYEN, CONVERT(BIT,'False') IS_UPDATE,@GROUP_ID GROUP_ID
 
  FROM         dbo.CHI_TIET_FORMS LEFT OUTER JOIN
                        dbo.NHOM_FORM ON dbo.CHI_TIET_FORMS.FORM_NAME = dbo.NHOM_FORM.FORM_NAME AND NHOM_FORM.GROUP_ID=@GROUP_ID
  ORDER BY TEN_FORM
  END