
ALTER proc [dbo].[GetHE_THONGs]
AS
SELECT [MS_HE_THONG],[MA_HE_THONG],[TEN_HE_THONG], ISNULL(TEN_HE_THONG_ANH,'') AS TEN_HE_THONG_ANH,
ISNULL(TEN_HE_THONG_HOA,'') AS TEN_HE_THONG_HOA,[GHI_CHU],isnull([NO_LINE], 0) as NO_LINE
FROM HE_THONG ORDER BY [MA_HE_THONG],TEN_HE_THONG 
