
--QL_LOAD_LIST_TON_KHO_VAT_TU 17, 1, -1

ALTER proc [dbo].[QL_LOAD_LIST_TON_KHO_VAT_TU]
	@MS_KHO INT,
	@GIA_TRI BIT,
	@MS_CLASS INT
AS
IF @GIA_TRI=1
	IF @MS_CLASS=-1
		SELECT  VTKVT.MS_PT, PT.TEN_PT, VTKVT.MS_VI_TRI,MS_DH_NHAP_PT,VTK.TEN_VI_TRI,PT.MS_PT_NCC
		,PT.MS_PT_CTY,DV.TEN_1 DVT,VTKVT.SL_VT SL_TON_CTU, VTKVT.ID AS ID_KK, CONVERT(FLOAT, 0.0) AS SL_TON_TT, CONVERT(NVARCHAR(4000), '') GHI_CHU
		FROM (VI_TRI_KHO_VAT_TU VTKVT INNER JOIN VI_TRI_KHO VTK 
		ON VTK.MS_VI_TRI=VTKVT.MS_VI_TRI)
		INNER JOIN (IC_PHU_TUNG PT JOIN DON_VI_TINH DV ON PT.DVT=DV.DVT) ON VTKVT.MS_PT=PT.MS_PT
		WHERE VTKVT.MS_KHO=@MS_KHO and VTKVT.SL_VT > 0
		ORDER BY VTKVT.MS_PT,VTK.MS_VI_TRI
	ELSE IF @MS_CLASS=-2
		SELECT  VTKVT.MS_PT, PT.TEN_PT, VTKVT.MS_VI_TRI,MS_DH_NHAP_PT,VTK.TEN_VI_TRI,PT.MS_PT_NCC
		,PT.MS_PT_CTY,DV.TEN_1 DVT,VTKVT.SL_VT SL_TON_CTU, VTKVT.ID  AS ID_KK, CONVERT(FLOAT, 0.0) AS SL_TON_TT, CONVERT(NVARCHAR(4000), '') GHI_CHU
		FROM (VI_TRI_KHO_VAT_TU VTKVT INNER JOIN VI_TRI_KHO VTK 
		ON VTK.MS_VI_TRI=VTKVT.MS_VI_TRI) 
		INNER JOIN (IC_PHU_TUNG PT JOIN DON_VI_TINH DV ON PT.DVT=DV.DVT) ON VTKVT.MS_PT=PT.MS_PT
		WHERE VTKVT.MS_KHO=@MS_KHO AND PT.MS_CLASS IS NULL and VTKVT.SL_VT > 0
		ORDER BY VTKVT.MS_PT,VTK.MS_VI_TRI
	ELSE
		SELECT  VTKVT.MS_PT, PT.TEN_PT, VTKVT.MS_VI_TRI,MS_DH_NHAP_PT,VTK.TEN_VI_TRI,PT.MS_PT_NCC
		,PT.MS_PT_CTY,DV.TEN_1 DVT,VTKVT.SL_VT SL_TON_CTU, VTKVT.ID  AS ID_KK, CONVERT(FLOAT, 0.0) AS SL_TON_TT, CONVERT(NVARCHAR(4000), '') GHI_CHU
		FROM (VI_TRI_KHO_VAT_TU VTKVT INNER JOIN VI_TRI_KHO VTK 
		ON VTK.MS_VI_TRI=VTKVT.MS_VI_TRI) 
		INNER JOIN (IC_PHU_TUNG PT JOIN DON_VI_TINH DV ON PT.DVT=DV.DVT) ON VTKVT.MS_PT=PT.MS_PT
		WHERE VTKVT.MS_KHO=@MS_KHO AND MS_CLASS=@MS_CLASS and VTKVT.SL_VT > 0
		ORDER BY VTKVT.MS_PT,VTK.MS_VI_TRI
ELSE
	IF @MS_CLASS=-1
		SELECT  VTKVT.MS_PT, PT.TEN_PT, VTKVT.MS_VI_TRI,MS_DH_NHAP_PT,VTK.TEN_VI_TRI,PT.MS_PT_NCC
		,PT.MS_PT_CTY,DV.TEN_1 DVT,VTKVT.SL_VT SL_TON_CTU, VTKVT.ID  AS ID_KK, CONVERT(FLOAT, 0.0) AS SL_TON_TT, CONVERT(NVARCHAR(4000), '') GHI_CHU
		FROM (VI_TRI_KHO_VAT_TU VTKVT INNER JOIN VI_TRI_KHO VTK 
		ON VTK.MS_VI_TRI=VTKVT.MS_VI_TRI) 
		INNER JOIN (IC_PHU_TUNG PT JOIN DON_VI_TINH DV ON PT.DVT=DV.DVT) ON VTKVT.MS_PT=PT.MS_PT
		WHERE VTKVT.MS_KHO=@MS_KHO and VTKVT.SL_VT > 0
		ORDER BY VTKVT.MS_PT,VTK.MS_VI_TRI
	ELSE IF @MS_CLASS=-2
		SELECT  VTKVT.MS_PT, PT.TEN_PT, VTKVT.MS_VI_TRI,MS_DH_NHAP_PT,VTK.TEN_VI_TRI,PT.MS_PT_NCC
		,PT.MS_PT_CTY,DV.TEN_1 DVT,VTKVT.SL_VT SL_TON_CTU, VTKVT.ID  AS ID_KK, CONVERT(FLOAT, 0.0) AS SL_TON_TT, CONVERT(NVARCHAR(4000), '') GHI_CHU
		FROM (VI_TRI_KHO_VAT_TU VTKVT INNER JOIN VI_TRI_KHO VTK 
		ON VTK.MS_VI_TRI=VTKVT.MS_VI_TRI) 
		INNER JOIN (IC_PHU_TUNG PT JOIN DON_VI_TINH DV ON PT.DVT=DV.DVT) ON VTKVT.MS_PT=PT.MS_PT
		WHERE VTKVT.MS_KHO=@MS_KHO AND PT.MS_CLASS IS NULL and VTKVT.SL_VT > 0
		ORDER BY VTKVT.MS_PT,VTK.MS_VI_TRI
	ELSE
		SELECT  VTKVT.MS_PT, PT.TEN_PT, VTKVT.MS_VI_TRI,MS_DH_NHAP_PT,VTK.TEN_VI_TRI,PT.MS_PT_NCC
		,PT.MS_PT_CTY,DV.TEN_1 DVT,VTKVT.SL_VT SL_TON_CTU, VTKVT.ID  AS ID_KK, CONVERT(FLOAT, 0.0) AS SL_TON_TT, CONVERT(NVARCHAR(4000), '') GHI_CHU
		FROM (VI_TRI_KHO_VAT_TU VTKVT INNER JOIN VI_TRI_KHO VTK 
		ON VTK.MS_VI_TRI=VTKVT.MS_VI_TRI) 
		INNER JOIN (IC_PHU_TUNG PT JOIN DON_VI_TINH DV ON PT.DVT=DV.DVT) ON VTKVT.MS_PT=PT.MS_PT
		WHERE VTKVT.MS_KHO=@MS_KHO AND PT.MS_CLASS=@MS_CLASS and VTKVT.SL_VT > 0
		ORDER BY VTKVT.MS_PT,VTK.MS_VI_TRI
