
--EXEC [SP_NHU_Y_GetLOAI_BAO_TRI] -1
ALTER proc [dbo].[SP_NHU_Y_GetLOAI_BAO_TRI]
	@MS_HT_BT int
AS
SELECT  
TEN_LOAI_BT, THU_TU, HU_HONG, ISNULL(MS_LOAI_CV,-99) AS MS_LOAI_CV, GHI_CHU, MS_LOAI_BT, MS_HT_BT,
NULL AS MAU,
isnull(R,null) as R ,
ISNULL(G,null) AS G,
ISNULL(B,null) AS B  FROM LOAI_BAO_TRI
LEFT JOIN LOAI_BAO_TRI_MAU ON LOAI_BAO_TRI.MS_LOAI_BT = LOAI_BAO_TRI_MAU.LOAI_BT
WHERE (MS_HT_BT=@MS_HT_BT OR @MS_HT_BT = -1)
ORDER BY THU_TU ASC

