IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetBoPhanChiuPhiAll')
   exec('CREATE PROCEDURE GetBoPhanChiuPhiAll AS BEGIN SET NOCOUNT ON; END')
GO


--exec GetBoPhanChiuPhiAll 0,'admin'
ALTER proc GetBoPhanChiuPhiAll
	@CoAll int,
	@UserName NVARCHAR(50)
AS
SELECT T1.MS_BP_CHIU_PHI INTO #BPCP FROM NHOM_BO_PHAN_CHIU_PHI T1 INNER JOIN USERS T2 ON T1.GROUP_ID = T2.GROUP_ID
WHERE USERNAME = @UserName

if @CoAll = 1
	SELECT T1.MS_BP_CHIU_PHI , TEN_BP_CHIU_PHI FROM BO_PHAN_CHIU_PHI T1 INNER JOIN #BPCP T2 ON T1.MS_BP_CHIU_PHI = T2.MS_BP_CHIU_PHI
	UNION SELECT '-1', ' < ALL > ' 
	ORDER BY TEN_BP_CHIU_PHI 
else 	
	SELECT T1.MS_BP_CHIU_PHI , TEN_BP_CHIU_PHI FROM BO_PHAN_CHIU_PHI  T1 INNER JOIN #BPCP T2 ON T1.MS_BP_CHIU_PHI = T2.MS_BP_CHIU_PHI
	ORDER BY TEN_BP_CHIU_PHI 
