
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'CheckLoaiBaoTri')
   exec('CREATE PROCEDURE CheckLoaiBaoTri AS BEGIN SET NOCOUNT ON; END')
GO


--CheckLoaiBaoTri 59

ALTER proc CheckLoaiBaoTri
	@MS_LOAI_BT INT
AS



SELECT TOP 1 ISNULL(TEN,0) FROM (
SELECT TOP 1 1 AS TEN, MS_LOAI_BT FROM CACH_THUC_HIEN WHERE MS_LOAI_BT = @MS_LOAI_BT UNION
SELECT TOP 1 2 AS TEN, MS_LOAI_BT FROM MAY_LOAI_BTPN   WHERE MS_LOAI_BT = @MS_LOAI_BT UNION
SELECT TOP 1 3 AS TEN, MS_LOAI_BT FROM KE_HOACH_TONG_THE   WHERE MS_LOAI_BT = @MS_LOAI_BT UNION
SELECT TOP 1 4 AS TEN, MS_LOAI_BT_CT FROM LOAI_BAO_TRI_QH   WHERE MS_LOAI_BT_CT = @MS_LOAI_BT OR MS_LOAI_BT_CD = @MS_LOAI_BT UNION
SELECT TOP 1 5 AS TEN, MS_LOAI_BT FROM PHIEU_BAO_TRI   WHERE MS_LOAI_BT = @MS_LOAI_BT 
) A ORDER BY TEN
