
ALTER PROC [dbo].[GetCongViec]
	@MS_CV INT,
	@MS_LOAI_MAY NVARCHAR(20)

AS

if @MS_LOAI_MAY = null or @MS_LOAI_MAY = ''
	set @MS_LOAI_MAY = '-1'


SELECT   A.MS_CV, A.MO_TA_CV, A.THOI_GIAN_DU_KIEN, A.THAO_TAC, A.TIEU_CHUAN_KT, A.GHI_CHU, C.TEN_CHUYEN_MON, 
	B.TEN_BAC_THO, A.MA_CV, CONVERT(NVARCHAR(20),A.MS_CV) AS MSCV_TK
FROM         dbo.CONG_VIEC AS A LEFT OUTER JOIN
                      dbo.BAC_THO AS B ON A.MS_BAC_THO = B.MS_BAC_THO LEFT OUTER JOIN
                      dbo.CHUYEN_MON AS C ON A.MS_CHUYEN_MON = C.MS_CHUYEN_MON
WHERE     (A.MS_LOAI_MAY = @MS_LOAI_MAY OR @MS_LOAI_MAY = '-1') AND (A.MS_CV <> @MS_CV)
ORDER BY A.MO_TA_CV, A.MS_CV

