--SELECT * FROM GIAM_SAT_TINH_TRANG WHERE NGAY_KT = '04/18/2017'
--SELECT * ,DBO.[GetTenGT_TSGSTT](MS_MAY,STT,MS_TS_GSTT,MS_BO_PHAN,MS_TT) FROM GIAM_SAT_TINH_TRANG_TS WHERE STT = 217 AND MS_MAY = '10.100'

ALTER function [dbo].[GetTenGT_TSGSTT]
(
	@MS_MAY NVARCHAR(20), 
	@STT INT,
	@MS_TS_GSTT NVARCHAR(20), 
	@MS_BO_PHAN NVARCHAR(50),
	@MS_TT INT

)
returns nvarchar(4000)
as
begin

declare @sName nvarchar(4000)

SELECT    @sName = COALESCE(ISNULL(@sName,'') + 
		CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE ', ' END  ,'') + 
		ISNULL(TEN_GIA_TRI,'')
		FROM 	 GIAM_SAT_TINH_TRANG T INNER JOIN 
			GIAM_SAT_TINH_TRANG_TS_DT T1
				ON T.STT = T1.STT INNER JOIN THONG_SO_GSTT T2 ON T2.MS_TS_GSTT = T1.MS_TS_GSTT
				INNER JOIN GIA_TRI_TS_GSTT T3 ON T2.MS_TS_GSTT = T3.MS_TS_GSTT AND T1.STT_GT = T3.STT
				WHERE T1.MS_MAY = @MS_MAY AND LOAI_TS = 1 and T.STT = @STT
				AND MS_BO_PHAN = @MS_BO_PHAN AND MS_TT = @MS_TT AND T3.MS_TS_GSTT = @MS_TS_GSTT
		
return @sName
end
