
--spBCDanhSachVatTuSuDungBaoTri '01/03/2015', '03/31/2017', 'ADMIN', '-1', 0
ALTER procedure spBCDanhSachVatTuSuDungBaoTri
	@TN DATETIME,
	@DN DATETIME, 
	@UserName NVARCHAR(50),
	@MsNX NVARCHAR(500), 
	@NNgu int = 0
 AS



DECLARE @DS_VAT_TU_BAO_TRI_TMP TABLE
(
	MS_PHIEU_BAO_TRI  NVARCHAR(30),
	MS_MAY  NVARCHAR(30),
	NGAY_BD_KH DATETIME,
	MS_N_XUONG  NVARCHAR(255),
	TEN_N_XUONG  NVARCHAR(255)
)

SELECT DISTINCT MS_MAY,TEN_MAY, TEN_LOAI_MAY,MS_LOAI_MAY,TEN_NHOM_MAY,Ten_N_XUONG,MS_N_XUONG,MS_NHOM_MAY INTO #MAY_USER FROM dbo.MGetMayUserNgay(@DN,@UserName,@MsNX,-1,-1,'-1','-1','-1',@NNgu) A


DECLARE @MS_PHIEU_BAO_TRI NVARCHAR(30)
DECLARE @NGAY_BD_KH DATETIME
DECLARE @MS_MAY NVARCHAR(30)
DECLARE @MS_N_XUONG NVARCHAR(500)
DECLARE @Ten_N_XUONG NVARCHAR(500)


DECLARE DSPBT CURSOR FOR
SELECT     MS_PHIEU_BAO_TRI,T1.MS_MAY,NGAY_BD_KH, MS_N_XUONG,Ten_N_XUONG 
	FROM dbo.PHIEU_BAO_TRI T1 INNER JOIN #MAY_USER T2 ON T1.MS_MAY = T2.MS_MAY 
	WHERE @TN <= NGAY_BD_KH AND NGAY_BD_KH < @DN
OPEN DSPBT 

FETCH NEXT FROM DSPBT 
INTO @MS_PHIEU_BAO_TRI,@MS_MAY,@NGAY_BD_KH,@MS_N_XUONG,@Ten_N_XUONG
WHILE @@FETCH_STATUS = 0 
BEGIN 
	

	INSERT INTO @DS_VAT_TU_BAO_TRI_TMP 
	(MS_PHIEU_BAO_TRI,MS_MAY,NGAY_BD_KH,MS_N_XUONG,TEN_N_XUONG)
	VALUES (@MS_PHIEU_BAO_TRI,@MS_MAY,@NGAY_BD_KH,@MS_N_XUONG,@TEN_N_XUONG)

	FETCH NEXT FROM DSPBT 
	INTO @MS_PHIEU_BAO_TRI,@MS_MAY,@NGAY_BD_KH,@MS_N_XUONG,@Ten_N_XUONG
END 
CLOSE DSPBT 
DEALLOCATE DSPBT




SELECT DISTINCT 
                         ROW_NUMBER() OVER(ORDER BY A.MS_MAY DESC) AS STT, A.* FROM (
                     SELECT   DISTINCT

                         
                         T3.MS_PT, T5.TEN_PT, T3.SO_LUONG_THUC_XUAT,       T10.TEN_LOAI_VT_TV,  T11.TEN_N_XUONG, T1.MS_LOAI_MAY, T1.TEN_LOAI_MAY, T1.MS_MAY, 
						 T1.TEN_MAY, T3.SO_LUONG_THUC_XUAT*T9.DON_GIA as THANH_TIEN,                         T1.MS_NHOM_MAY, T2.NGAY AS NGAY_XUAT, 
                         T7.MS_PHIEU_BAO_TRI, 
                         T6.NGAY_BD_KH, T3.MS_DH_XUAT_PT,
                     T9.DON_GIA,
                     T9.NGOAI_TE, T9.TY_GIA, 
                    T10.MS_LOAI_VT,T11.MS_N_XUONG
FROM            dbo.IC_DON_HANG_XUAT AS T2 INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT INNER JOIN
                         dbo.IC_KHO AS T4 ON T2.MS_KHO = T4.MS_KHO INNER JOIN
                         dbo.IC_PHU_TUNG AS T5 ON T3.MS_PT = T5.MS_PT INNER JOIN
                         dbo.PHIEU_BAO_TRI AS T6 ON T2.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
                         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS T7 ON T6.MS_PHIEU_BAO_TRI = T7.MS_PHIEU_BAO_TRI INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T8 ON T3.MS_DH_XUAT_PT = T8.MS_DH_XUAT_PT AND T3.MS_PT = T8.MS_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T9 ON T8.MS_DH_NHAP_PT = T9.MS_DH_NHAP_PT AND T8.MS_PT = T9.MS_PT AND T8.ID_XUAT = T9.ID INNER JOIN
                         dbo.LOAI_VT AS T10 ON T5.MS_LOAI_VT = T10.MS_LOAI_VT INNER JOIN
                         @DS_VAT_TU_BAO_TRI_TMP AS T11 ON T6.MS_PHIEU_BAO_TRI = T11.MS_PHIEU_BAO_TRI AND T6.MS_MAY = T11.MS_MAY AND T6.NGAY_BD_KH = T11.NGAY_BD_KH INNER JOIN
                         dbo.[#MAY_USER] AS T1 ON T6.MS_MAY = T1.MS_MAY
 
) AS A
