

ALTER PROC [dbo].[SP_NHOM]
(
	@ACTION NVARCHAR(200)=NULL,
	@NNgu int=NULL,
	@GROUP_ID int=NULL,
	@USERNAME NVARCHAR(100)=NULL,
	@TBN TVT_NHOM READONLY,
	@TBU TVT_USERS READONLY ,
	@TBNM TVT_NHOMMENU READONLY ,
	@TBNF TVT_NHOM_FORM  READONLY,
	@TBNX TVT_NHOM_NHA_XUONG READONLY ,
	@TBDC TVT_NHOM_HE_THONG  READONLY,
	@TBLTB TVT_NHOM_LOAI_MAY READONLY,
	@TBBPCP TVT_NHOM_BO_PHAN_CHIU_PHI READONLY,
	@TBLCV TVT_NHOM_LOAI_CONG_VIEC READONLY,
	@TBVTPT TVT_NHOM_LOAI_PHU_TUNG READONLY,
	@TBNK TVT_NHOM_KHO READONLY,
	@TBPB TVT_NHOM_TO_PHONG_BAN READONLY,
	@TBNRP TVT_NHOM_REPORT READONLY

)
AS
BEGIN
	IF @ACTION ='CHECK_EXISTS_USERS'
	BEGIN
		SELECT USERNAME
		FROM [USERS]
		WHERE USERNAME=@USERNAME AND GROUP_ID <> @GROUP_ID
		
	END
	IF @ACTION ='LOAD_USERS'
	BEGIN
		SELECT USERNAME USERNAME_OLD,USERNAME,[GROUP_ID],FULL_NAME,PASS,[DESCRIPTION],MS_TO,USER_MAIL,MS_CONG_NHAN,ACTIVE , CONVERT(BIT,'False') [IS_UPDATE]
		FROM [USERS]
		WHERE GROUP_ID=@GROUP_ID 
	END
	IF @ACTION='LOAD_TO'
	BEGIN
		SELECT MS_TO,TEN_TO FROM [TO] WHERE MS_TO <> 0 ORDER BY MS_TO
	END
	IF @ACTION='LOAD_CONG_NHAN'
	BEGIN
		SELECT MS_CONG_NHAN,HO + ' ' + TEN FULL_NAME  FROM [CONG_NHAN] 
		UNION SELECT '' MS_CONG_NHAN, '' FULL_NAME
		ORDER BY MS_CONG_NHAN
	END
	IF @ACTION='LOAD'
	BEGIN
		SELECT     dbo.NHOM.GROUP_ID, dbo.NHOM.GROUP_NAME, dbo.NHOM.DESCRIPTION,  
			CASE @NNgu WHEN 0 THEN dbo.LIC_TYPE.TYPE_NAME_VN
			WHEN 1 THEN dbo.LIC_TYPE.TYPE_NAME_ENG
			ELSE dbo.LIC_TYPE.TYPE_NAME_CHINA END AS TEN_LIC, dbo.NHOM.TYPE_LIC
			, CONVERT(BIT,'False') [IS_UPDATE]
		FROM         dbo.NHOM LEFT JOIN
							  dbo.LIC_TYPE ON dbo.NHOM.TYPE_LIC = dbo.LIC_TYPE.TYPE_LIC
		ORDER BY GROUP_ID DESC
	END
	IF @ACTION ='DELETE_USER'
	BEGIN
		DELETE USERS WHERE USERNAME =@USERNAME AND GROUP_ID =@GROUP_ID 
	END
	IF @ACTION='SAVE'
	BEGIN
		--Insert/Update table Nhom
		UPDATE T1 SET  T1.GROUP_NAME = T2.GROUP_NAME,T1.[DESCRIPTION]=T2.[DESCRIPTION], TYPE_LIC = 1
		FROM  DBO.NHOM T1 INNER JOIN @TBN T2 ON T1.GROUP_ID=T2.GROUP_ID

		INSERT INTO DBO.NHOM([GROUP_NAME],[DESCRIPTION],TYPE_LIC )
		SELECT [GROUP_NAME],[DESCRIPTION],1 FROM @TBN WHERE GROUP_ID NOT IN (SELECT GROUP_ID FROM DBO.NHOM)
		
		
		----------------------------------------------------------------------------------------------------
		--Insert/Update table User
		
		DECLARE @GROUPID INT
		SELECT TOP 1 @GROUPID=GROUP_ID FROM @TBU
		IF @GROUPID < 0
		BEGIN
			 SET @GROUPID=SCOPE_IDENTITY()
		END
		
		
		
		UPDATE T1 SET T1.FULL_NAME=T2.FULL_NAME, T1.MS_CONG_NHAN=T2.MS_CONG_NHAN,T1.MS_TO=T2.MS_TO,T1.[DESCRIPTION]=T2.[DESCRIPTION],T1.ACTIVE=T2.ACTIVE
		FROM [USERS] T1 INNER JOIN @TBU T2 ON T1.USERNAME=T2.USERNAME AND T1.GROUP_ID=T2.GROUP_ID
		WHERE T1.GROUP_ID =@GROUPID
		
		
		INSERT INTO [USERS]
           ([USERNAME]
           ,[GROUP_ID]
           ,[FULL_NAME]
           ,[PASS]
           ,[DESCRIPTION]
           ,[MS_TO]
           ,[USER_MAIL]
           ,[MS_CONG_NHAN]
           ,[ACTIVE])
        SELECT [USERNAME],@GROUPID,[FULL_NAME],[PASS],[DESCRIPTION],[MS_TO],[USER_MAIL],[MS_CONG_NHAN],[ACTIVE] FROM @TBU WHERE USERNAME NOT IN (SELECT DISTINCT USERNAME FROM USERS WHERE GROUP_ID = @GROUPID)
	END

	IF @ACTION='DELETE'
	BEGIN
		DELETE DBO.USERS WHERE GROUP_ID =@GROUP_ID
		DELETE DBO.NHOM WHERE GROUP_ID =@GROUP_ID
	END
	IF @ACTION='SAVE_MENU'
	BEGIN
		DELETE T1 FROM NHOM_MENU T1 INNER JOIN @TBNM T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.MENU_ID =T2.MENU_ID 
		WHERE T2.CHON ='False'
		
		INSERT INTO NHOM_MENU(MENU_ID,GROUP_ID)
		SELECT MENU_ID,GROUP_ID FROM @TBNM T9
		WHERE T9.CHON ='True'		AND T9.MENU_ID NOT IN (SELECT DISTINCT MENU_ID FROM NHOM_MENU T10 WHERE T10.GROUP_ID =T9.GROUP_ID)

	END
	IF @ACTION='DELETE_MENU'
	BEGIN
		DELETE NHOM_MENU WHERE GROUP_ID =@GROUP_ID
	END
	IF @ACTION='COPY_MENU_TO'
	BEGIN
		PRINT 3333
	END
	IF @ACTION='SAVE_REPORT'
	BEGIN
		
		DELETE T1 FROM NHOM_REPORT T1 INNER JOIN @TBNRP T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.REPORT_NAME =T2.REPORT_NAME
		INSERT INTO [dbo].[NHOM_REPORT]([GROUP_ID],[REPORT_NAME],[QUYEN])
		SELECT [GROUP_ID],[REPORT_NAME],[QUYEN] FROM @TBNRP

	END
	
	IF @ACTION='SAVE_FORM'
	BEGIN
		DELETE T1 FROM NHOM_FORM T1 INNER JOIN @TBNF T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.FORM_NAME =T2.FORM_NAME
		INSERT INTO [dbo].[NHOM_FORM]([GROUP_ID],[FORM_NAME],[QUYEN])
		SELECT [GROUP_ID],[FORM_NAME],[QUYEN] FROM @TBNF

	END
	IF @ACTION='SAVE_NXDC'
	BEGIN
		DELETE T1 FROM NHOM_NHA_XUONG T1 INNER JOIN @TBNX T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.MS_N_XUONG =T2.MS_N_XUONG
		WHERE T2.CHON ='False'
		INSERT INTO NHOM_NHA_XUONG([GROUP_ID],[MS_N_XUONG])
		SELECT [GROUP_ID],[MS_N_XUONG] FROM @TBNX T9
		WHERE T9.CHON ='True'		AND T9.MS_N_XUONG NOT IN (SELECT DISTINCT MS_N_XUONG FROM NHOM_NHA_XUONG T10 WHERE T10.GROUP_ID =T9.GROUP_ID)


		DELETE T1 FROM NHOM_HE_THONG T1 INNER JOIN @TBDC T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.MS_HE_THONG =T2.MS_HE_THONG
		WHERE T2.CHON ='False'
		INSERT INTO NHOM_HE_THONG([GROUP_ID],[MS_HE_THONG])
		SELECT [GROUP_ID],[MS_HE_THONG] FROM @TBDC T9
		WHERE T9.CHON ='True'		AND T9.MS_HE_THONG NOT IN (SELECT DISTINCT MS_HE_THONG FROM NHOM_HE_THONG T10 WHERE T10.GROUP_ID =T9.GROUP_ID)
	END
	
	IF @ACTION='SAVE_LTB_BPCP'
	BEGIN
		DELETE T1 FROM NHOM_LOAI_MAY T1 INNER JOIN @TBLTB T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.MS_LOAI_MAY =T2.MS_LOAI_MAY
		WHERE T2.CHON ='False'
		
		INSERT INTO NHOM_LOAI_MAY([GROUP_ID],[MS_LOAI_MAY])
		SELECT [GROUP_ID],[MS_LOAI_MAY] FROM @TBLTB T9
		WHERE T9.CHON ='True'		AND T9.MS_LOAI_MAY NOT IN (SELECT DISTINCT MS_LOAI_MAY FROM NHOM_LOAI_MAY T10 WHERE T10.GROUP_ID =T9.GROUP_ID)


		DELETE T1 FROM NHOM_BO_PHAN_CHIU_PHI T1 INNER JOIN @TBBPCP T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.MS_BP_CHIU_PHI =T2.MS_BP_CHIU_PHI
		WHERE T2.CHON ='False'
		INSERT INTO NHOM_BO_PHAN_CHIU_PHI([GROUP_ID],[MS_BP_CHIU_PHI])
		SELECT [GROUP_ID],[MS_BP_CHIU_PHI] FROM @TBBPCP T9
		WHERE T9.CHON ='True'		AND T9.MS_BP_CHIU_PHI NOT IN (SELECT DISTINCT MS_BP_CHIU_PHI FROM NHOM_BO_PHAN_CHIU_PHI T10 WHERE T10.GROUP_ID =T9.GROUP_ID)
	END
	
	IF @ACTION='SAVE_LCV_VTPT'
	BEGIN
		DELETE T1 FROM NHOM_LOAI_CONG_VIEC T1 INNER JOIN @TBLCV T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.MS_LOAI_CV =T2.MS_LOAI_CV
		WHERE T2.CHON ='False'
		
		INSERT INTO NHOM_LOAI_CONG_VIEC([GROUP_ID],[MS_LOAI_CV])
		SELECT [GROUP_ID],[MS_LOAI_CV] FROM @TBLCV T9
		WHERE T9.CHON ='True'		AND T9.MS_LOAI_CV NOT IN (SELECT DISTINCT MS_LOAI_CV FROM NHOM_LOAI_CONG_VIEC T10 WHERE T10.GROUP_ID =T9.GROUP_ID)


		DELETE T1 FROM NHOM_LOAI_PHU_TUNG T1 INNER JOIN @TBVTPT T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.MS_LOAI_PT =T2.MS_LOAI_PT
		WHERE T2.CHON ='False'
		INSERT INTO NHOM_LOAI_PHU_TUNG([GROUP_ID],[MS_LOAI_PT])
		SELECT [GROUP_ID],[MS_LOAI_PT] FROM @TBVTPT T9
		WHERE T9.CHON ='True'		AND T9.MS_LOAI_PT NOT IN (SELECT DISTINCT MS_LOAI_PT FROM NHOM_LOAI_PHU_TUNG T10 WHERE T10.GROUP_ID =T9.GROUP_ID)
	END
	
	IF @ACTION='SAVE_KHO_PB'
	BEGIN
		DELETE T1 FROM NHOM_KHO T1 INNER JOIN @TBNK T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.MS_KHO =T2.MS_KHO
		WHERE T2.CHON ='False'
		
		INSERT INTO NHOM_KHO([GROUP_ID],[MS_KHO])
		SELECT [GROUP_ID],[MS_KHO] FROM @TBNK T9
		WHERE T9.CHON ='True'		AND T9.MS_KHO NOT IN (SELECT DISTINCT MS_KHO FROM NHOM_KHO T10 WHERE T10.GROUP_ID =T9.GROUP_ID)


		DELETE T1 FROM NHOM_TO_PHONG_BAN T1 INNER JOIN @TBPB T2 ON T1.GROUP_ID =T2.GROUP_ID AND T1.MS_TO =T2.MS_TO
		WHERE T2.CHON ='False'
		INSERT INTO NHOM_TO_PHONG_BAN([GROUP_ID],[MS_TO])
		SELECT [GROUP_ID],[MS_TO] FROM @TBPB T9
		WHERE T9.CHON ='True'		AND T9.MS_TO NOT IN (SELECT DISTINCT MS_TO FROM NHOM_TO_PHONG_BAN T10 WHERE T10.GROUP_ID =T9.GROUP_ID)
	END
END