--	EXEC SP_Y_GET_DON_DAT_HANG_NHAP_KHO 'admin'
ALTER procedure [dbo].[SP_Y_GET_DON_DAT_HANG_NHAP_KHO]
	@USERNAME NVARCHAR(50)
AS
BEGIN
DECLARE @NgayHT AS DATE
SET @NgayHT = GETDATE()

SELECT * INTO #MAY FROM dbo.MGetMayUserNgay( @NgayHT,@UserName,'-1',-1,-1,'-1','-1','-1',0) 


DECLARE @DE_XUAT BIT 
SELECT TOP 1 @DE_XUAT = DDH_DXMH
FROM dbo.THONG_TIN_CHUNG

IF (@DE_XUAT = 1 ) 
BEGIN

SELECT     dbo.DON_DAT_HANG.MS_DON_DAT_HANG, dbo.DON_DAT_HANG_CHI_TIET.MS_PT, SUM(dbo.DON_DAT_HANG_CHI_TIET.SL_DAT_HANG)  AS SO_LUONG_DAT_HANG INTO #SL_DDH
FROM         dbo.DON_DAT_HANG INNER JOIN
                      dbo.DON_DAT_HANG_CHI_TIET ON dbo.DON_DAT_HANG.MS_DON_DAT_HANG = dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG
WHERE     (dbo.DON_DAT_HANG.TRANG_THAI = 3)
GROUP BY dbo.DON_DAT_HANG.MS_DON_DAT_HANG, dbo.DON_DAT_HANG_CHI_TIET.MS_PT

SELECT     dbo.IC_DON_HANG_NHAP.MS_DDH AS MS_DON_DAT_HANG, dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT, 
                      SUM(dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP) AS SO_LUONG_NHAP INTO #SL_DHN
FROM         dbo.IC_DON_HANG_NHAP INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT
GROUP BY dbo.IC_DON_HANG_NHAP.MS_DDH, dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT

SELECT     MS_DH_XUAT_PT, MS_PT, SUM(SO_LUONG_CTU) AS SLX	INTO #SL_XUAT FROM         dbo.IC_DON_HANG_XUAT_VAT_TU		GROUP BY MS_DH_XUAT_PT, MS_PT

SELECT MS_DH_XUAT_PT , MS_PT, ISNULL(SUM(SL_TT),0) SLBT INTO #SL_PBTCVPT_KHO FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO 		GROUP BY MS_DH_XUAT_PT , MS_PT

SELECT     dbo.IC_DON_HANG_NHAP.MS_DHX, dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT, SUM(SL_THUC_NHAP) AS SLN INTO #SL_TNHAP
		FROM         dbo.IC_DON_HANG_NHAP INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT
		WHERE     (ISNULL(dbo.IC_DON_HANG_NHAP.MS_DHX, N'') <> '') 
		GROUP BY dbo.IC_DON_HANG_NHAP.MS_DHX, dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT
		
SELECT DISTINCT  A.MS_DH_XUAT_PT INTO #DHX
FROM 	
	#SL_XUAT A LEFT JOIN
	#SL_PBTCVPT_KHO B ON A.MS_DH_XUAT_PT = B.MS_DH_XUAT_PT AND A.MS_PT = B.MS_PT LEFT JOIN 
	#SL_TNHAP C ON A.MS_DH_XUAT_PT = C.MS_DHX AND A.MS_PT = C.MS_PT 
WHERE (ISNULL(SLX,0) - (ISNULL(SLBT,0) + ISNULL(SLN,0) ) ) > 0 



		
SELECT DISTINCT TMP_1.MS_DON_DAT_HANG, TMP_1.MS_DON_DAT_HANG AS TEN_DON_DAT_HANG,CONVERT(BIT,1) AS DON_HANG 
FROM  #SL_DDH AS TMP_1 LEFT JOIN #SL_DHN AS TMP_2 ON TMP_1.MS_DON_DAT_HANG = TMP_2.MS_DON_DAT_HANG AND TMP_1.MS_PT = TMP_2.MS_PT
WHERE TMP_1.SO_LUONG_DAT_HANG >CASE WHEN TMP_2.SO_LUONG_NHAP IS NULL THEN 0 ELSE TMP_2.SO_LUONG_NHAP END
UNION


SELECT     A.MS_DH_XUAT_PT, CASE ISNULL(SO_PHIEU_XN,'')  WHEN '' THEN IC_DON_HANG_XUAT.MS_DH_XUAT_PT ELSE SO_PHIEU_XN END , CONVERT(BIT,0) AS DON_HANG
FROM #DHX AS A INNER JOIN dbo.IC_DON_HANG_XUAT ON A.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT
WHERE     (dbo.IC_DON_HANG_XUAT.MS_DANG_XUAT = 1)



ORDER BY TMP_1.MS_DON_DAT_HANG DESC

END

-------
ELSE 
BEGIN

	SELECT     dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT AS MS_DON_DAT_HANG, dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT, SUM(dbo.DE_XUAT_MUA_HANG_CHI_TIET.SL_DA_DUYET) 
					  AS SO_LUONG_DAT_HANG INTO #TMP_1
	FROM         dbo.DE_XUAT_MUA_HANG INNER JOIN
					  dbo.DE_XUAT_MUA_HANG_CHI_TIET ON dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT = dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT INNER JOIN
					  dbo.NHOM_TO_PHONG_BAN ON dbo.DE_XUAT_MUA_HANG.MS_TO = dbo.NHOM_TO_PHONG_BAN.MS_TO INNER JOIN
					  dbo.USERS ON dbo.NHOM_TO_PHONG_BAN.GROUP_ID = dbo.USERS.GROUP_ID
	WHERE     (dbo.DE_XUAT_MUA_HANG.TRANG_THAI = 3)
	GROUP BY dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT, dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT, dbo.USERS.USERNAME
	HAVING      (dbo.USERS.USERNAME = @USERNAME)


	SELECT     dbo.IC_DON_HANG_NHAP.MS_DDH AS MS_DON_DAT_HANG, dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT, SUM(dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP) AS SO_LUONG_NHAP INTO #TMP_2
	FROM         dbo.IC_DON_HANG_NHAP INNER JOIN
						  dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT INNER JOIN
						  dbo.NHOM_KHO ON dbo.IC_DON_HANG_NHAP.MS_KHO = dbo.NHOM_KHO.MS_KHO INNER JOIN
						  dbo.USERS ON dbo.NHOM_KHO.GROUP_ID = dbo.USERS.GROUP_ID
	WHERE     (dbo.USERS.USERNAME = @USERNAME)
	GROUP BY dbo.IC_DON_HANG_NHAP.MS_DDH, dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT



	SELECT     dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT, dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT, SUM(dbo.IC_DON_HANG_XUAT_VAT_TU.SO_LUONG_CTU) AS SLX INTO #A
	FROM         dbo.IC_DON_HANG_XUAT_VAT_TU INNER JOIN
						  dbo.IC_DON_HANG_XUAT ON dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT INNER JOIN
						  dbo.NHOM_KHO ON dbo.IC_DON_HANG_XUAT.MS_KHO = dbo.NHOM_KHO.MS_KHO INNER JOIN
						  dbo.USERS ON dbo.NHOM_KHO.GROUP_ID = dbo.USERS.GROUP_ID
	WHERE     (dbo.USERS.USERNAME = @USERNAME)
	GROUP BY dbo.IC_DON_HANG_XUAT_VAT_TU.MS_DH_XUAT_PT, dbo.IC_DON_HANG_XUAT_VAT_TU.MS_PT	


	SELECT     dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_DH_XUAT_PT, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PT, 
						  ISNULL(SUM(dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.SL_TT), 0) AS SLBT INTO #B
	FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO INNER JOIN
						  dbo.PHIEU_BAO_TRI ON dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI
	INNER JOIN #MAY AS MAY_USER ON 
	PHIEU_BAO_TRI.MS_MAY = MAY_USER.MS_MAY                      
	GROUP BY dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_DH_XUAT_PT, dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PT	


	SELECT     dbo.IC_DON_HANG_NHAP.MS_DHX, dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT, SUM(dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP) AS SLN INTO #C
	FROM         dbo.IC_DON_HANG_NHAP INNER JOIN
						  dbo.IC_DON_HANG_NHAP_VAT_TU ON dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT INNER JOIN
						  dbo.NHOM_KHO ON dbo.IC_DON_HANG_NHAP.MS_KHO = dbo.NHOM_KHO.MS_KHO INNER JOIN
						  dbo.USERS ON dbo.NHOM_KHO.GROUP_ID = dbo.USERS.GROUP_ID
	WHERE    (ISNULL(dbo.IC_DON_HANG_NHAP.MS_DHX, N'') <> '') AND
	 (dbo.USERS.USERNAME = @USERNAME)
	GROUP BY dbo.IC_DON_HANG_NHAP.MS_DHX, dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT

		SELECT DISTINCT  A.MS_DH_XUAT_PT INTO #D
		FROM 
			#A AS A LEFT JOIN 
			#B B ON A.MS_DH_XUAT_PT = B.MS_DH_XUAT_PT AND A.MS_PT = B.MS_PT LEFT JOIN 
			#C C ON A.MS_DH_XUAT_PT = C.MS_DHX AND A.MS_PT = C.MS_PT 
			WHERE (ISNULL(SLX,0) - (ISNULL(SLBT,0) + ISNULL(SLN,0) ) ) > 0 
		order by A.MS_DH_XUAT_PT

	SELECT DISTINCT TMP_1.MS_DON_DAT_HANG, TMP_1.MS_DON_DAT_HANG AS TEN_DON_DAT_HANG,CONVERT(BIT,1) AS DON_HANG 
	INTO #BT FROM #TMP_1 AS TMP_1 LEFT JOIN #TMP_2 AS TMP_2
		ON TMP_1.MS_DON_DAT_HANG = TMP_2.MS_DON_DAT_HANG AND TMP_1.MS_PT = TMP_2.MS_PT 
		WHERE TMP_1.SO_LUONG_DAT_HANG > CASE WHEN TMP_2.SO_LUONG_NHAP IS NULL THEN 0 ELSE TMP_2.SO_LUONG_NHAP END


	INSERT INTO #BT
	SELECT     A.MS_DH_XUAT_PT, CASE ISNULL(SO_PHIEU_XN,'')  WHEN '' THEN IC_DON_HANG_XUAT.MS_DH_XUAT_PT ELSE SO_PHIEU_XN END , CONVERT(BIT,0) AS DON_HANG
	FROM #D AS A INNER JOIN
		dbo.IC_DON_HANG_XUAT ON A.MS_DH_XUAT_PT = dbo.IC_DON_HANG_XUAT.MS_DH_XUAT_PT INNER JOIN dbo.NHOM_KHO ON 
		dbo.IC_DON_HANG_XUAT.MS_KHO = dbo.NHOM_KHO.MS_KHO INNER JOIN dbo.USERS ON dbo.NHOM_KHO.GROUP_ID = dbo.USERS.GROUP_ID
	WHERE     (dbo.IC_DON_HANG_XUAT.MS_DANG_XUAT in (1, 4)) AND (dbo.USERS.USERNAME = @USERNAME)

	SELECT MS_DON_DAT_HANG, TEN_DON_DAT_HANG, DON_HANG FROM #BT
	ORDER BY DON_HANG,MS_DON_DAT_HANG DESC
END

END

