
ALTER proc [dbo].[AddPHIEU_BAO_TRI]
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT,
	@NGAY_LAP DATETIME,
	@GIO_LAP DATETIME,
	@LY_DO_BT NVARCHAR(max),
	@TINH_TRANG_PBT INT,
	@NGAY_BTPN DATETIME,
	@NGUOI_LAP NVARCHAR(50),
	@USERNAME_NGUOI_LAP NVARCHAR(50),
	@NGAY_BD_KH DATETIME,
	@NGAY_KT_KH DATETIME,
	@NGUOI_GS NVARCHAR(50),
	@MS_UU_TIEN INT
AS

IF @NGUOI_GS = '-1' 
BEGIN
	SET @NGUOI_GS = NULL
END

IF @MS_UU_TIEN = -1
BEGIN
SELECT @MS_UU_TIEN = MAX(MS_UU_TIEN) FROM MUC_UU_TIEN 
END

DECLARE @MS_TT_CT INT
SET @MS_TT_CT = NULL
SELECT TOP 1 @MS_TT_CT = MS_TT_CT FROM TINH_TRANG_PBT_CT WHERE STT = @TINH_TRANG_PBT AND MAC_DINH = 1

INSERT INTO PHIEU_BAO_TRI(
	MS_PHIEU_BAO_TRI,	
	MS_MAY ,
	MS_LOAI_BT ,	
	NGAY_LAP ,
	GIO_LAP,
	LY_DO_BT,
	TINH_TRANG_PBT,
	NGAY_BTPN,
	NGUOI_LAP,
	USERNAME_NGUOI_LAP ,
	NGAY_BD_KH, 
	NGAY_KT_KH,
	MS_UU_TIEN,
	NGUOI_GIAM_SAT, MS_TT_CT
)
values (
	@MS_PHIEU_BAO_TRI,	
	@MS_MAY ,
	@MS_LOAI_BT ,	
	@NGAY_LAP ,
	@GIO_LAP,
	@LY_DO_BT,
	@TINH_TRANG_PBT,
	@NGAY_BTPN,
	@NGUOI_LAP,
	@USERNAME_NGUOI_LAP,
	@NGAY_BD_KH,
	@NGAY_BD_KH,
	ISNULL(@MS_UU_TIEN,3),
	@NGUOI_GS,@MS_TT_CT
)

INSERT INTO PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET (MS_PHIEU_BAO_TRI,STT,MS_TT_CT,THOI_GIAN,USERNAME)
SELECT TOP 1 @MS_PHIEU_BAO_TRI, 1, @MS_TT_CT, CONVERT(DATETIME,@NGAY_LAP,103) , @USERNAME_NGUOI_LAP

select SCOPE_IDENTITY()



