
ALTER PROC [dbo].[UpdateMAY]
	@MS_MAY nvarchar(30),
	@TEN_MAY NVARCHAR(255),
	@MS_NHOM_MAY nvarchar(20),
	@MS_HSX nvarchar(10),
	@MS_HIEN_TRANG nvarchar(2),
	@MS_KH VARCHAR(20),
	@SO_NAM_KHAU_HAO INT,
	@MO_TA nvarchar(255),
	@NHIEM_VU_THIET_BI NVARCHAR(150),
	@MODEL NVARCHAR(50),
	@SERIAL_NUMBER NVARCHAR(50),
	@NGAY_SX DATETIME,
	@NUOC_SX NVARCHAR(30),
	@NGAY_MUA DATETIME,
	@NGAY_BD_BAO_HANH DATETIME,
	@NGAY_DUA_VAO_SD DATETIME,
	@SO_THE NVARCHAR(50),
	@SO_NGAY_LV_TRONG_TUAN SMALLINT,
	@SO_GIO_LV_TRONG_NGAY SMALLINT,
	@MS_DVT_RT int,
	@TY_LE_CON_LAI NVARCHAR(4),
	@MUC_UU_TIEN SMALLINT,
	@SO_THANG_BH SMALLINT,
	@GIA_MUA FLOAT,
	@NGOAI_TE NVARCHAR(6),
	@MS_MAY_TMP nvarchar(30),
	@CHU_KY_HC_TB INT,
	@SO_CT NVARCHAR (30),
	@TI_GIA_VND FLOAT,
	@TI_GIA_USD FLOAT,
	@CHU_KY_HC_TB_NGOAI INT,
	@CHU_KY_KD_TB INT,
	@DON_VI_TG INT
AS

DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()
IF @MS_KH = '-1'
	SET @MS_KH = NULL	
IF @MS_DVT_RT = -1 
	SET @MS_DVT_RT = NULL	
	
if @MS_HSX = '-99' 
	set @MS_HSX = NULL
	
if @MS_KH = '-99' 
	set @MS_KH = NULL
	
UPDATE MAY SET	
	MS_MAY=@MS_MAY ,
	TEN_MAY=@TEN_MAY,
	MS_NHOM_MAY=@MS_NHOM_MAY ,
	MS_HSX=@MS_HSX ,
	MS_HIEN_TRANG=@MS_HIEN_TRANG ,
	MS_KH=@MS_KH ,
	SO_NAM_KHAU_HAO=@SO_NAM_KHAU_HAO ,
	MO_TA=@MO_TA ,
	NHIEM_VU_THIET_BI=@NHIEM_VU_THIET_BI ,
	MODEL=@MODEL ,
	SERIAL_NUMBER=@SERIAL_NUMBER ,
	NGAY_SX=@NGAY_SX ,
	NUOC_SX=@NUOC_SX ,
	NGAY_MUA=@NGAY_MUA ,
	NGAY_BD_BAO_HANH=@NGAY_BD_BAO_HANH ,
	NGAY_DUA_VAO_SD=@NGAY_DUA_VAO_SD ,
	SO_THE=@SO_THE ,
	SO_NGAY_LV_TRONG_TUAN=@SO_NGAY_LV_TRONG_TUAN ,
	SO_GIO_LV_TRONG_NGAY=@SO_GIO_LV_TRONG_NGAY ,
	MS_DVT_RT=@MS_DVT_RT ,
	TY_LE_CON_LAI=@TY_LE_CON_LAI ,
	MUC_UU_TIEN=@MUC_UU_TIEN ,
	SO_THANG_BH=@SO_THANG_BH ,
	GIA_MUA=@GIA_MUA ,
	NGOAI_TE=@NGOAI_TE ,
	CHU_KY_HC_TB=@CHU_KY_HC_TB,
	SO_CT = @SO_CT,
	TI_GIA_VND = @TI_GIA_VND,
	TI_GIA_USD = @TI_GIA_USD,
	CHU_KY_HIEU_CHUAN_TB_NGOAI=@CHU_KY_HC_TB_NGOAI,
	CHU_KY_KD_TB=@CHU_KY_KD_TB,
	DON_VI_THOI_GIAN=@DON_VI_TG,
	NGAY_UPDATE = @NgayHT
WHERE
	MS_MAY=@MS_MAY_TMP
