
ALTER procedure [dbo].[CheckDoiMaPT]
	@MS_PT NVARCHAR(30)
AS
SELECT  MS_PT FROM  dbo.IC_DON_HANG_NHAP_VAT_TU
WHERE MS_PT = @MS_PT
UNION 
SELECT  MS_PT FROM  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG
WHERE MS_PT = @MS_PT
UNION 
SELECT  MS_PT FROM  dbo.KE_HOACH_TONG_CONG_VIEC_PHU_TUNG
WHERE MS_PT = @MS_PT
UNION 
SELECT  MS_PT FROM  dbo.PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG
WHERE MS_PT = @MS_PT
