
ALTER proc [dbo].[SP_Y_INSERT_PBT_BTDK]
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT,		
	@LY_DO_BT NVARCHAR(max),
	@NGUOI_LAP NVARCHAR(50),
	@USERNAME NVARCHAR(50),
	@NGAY_BD_KH DATETIME,
	@NGAY_KT_KH DATETIME

AS
INSERT INTO PHIEU_BAO_TRI(
	MS_PHIEU_BAO_TRI,	
	MS_MAY ,
	MS_LOAI_BT ,	
	NGAY_LAP ,
	GIO_LAP,
	LY_DO_BT,
	TINH_TRANG_PBT,
	NGUOI_LAP,
	USERNAME_NGUOI_LAP ,
	NGAY_BD_KH, 
	NGAY_KT_KH,
	MS_UU_TIEN
)
values (
	@MS_PHIEU_BAO_TRI,	
	@MS_MAY ,
	@MS_LOAI_BT ,	
	GETDATE (),
	CONVERT (DATETIME , '01/01/1900 ' + CONVERT (NVARCHAR (8),GETDATE() , 108)),
	@LY_DO_BT,1,
	@NGUOI_LAP,
	@USERNAME,
	@NGAY_BD_KH,
	@NGAY_BD_KH,
	3
)
