

ALTER function [dbo].[MashjGetNgayDHHC]
(
	@MS_MAY nvarchar(30),
	@MS_PT nvarchar(30),
	@MS_VI_TRI nvarchar(30),
	@MS_LOAI_HIEU_CHUAN int
)
returns nvarchar(100)
as
begin
declare @ngay datetime
declare @SNgay int

set @SNgay = (SELECT CASE WHEN @MS_LOAI_HIEU_CHUAN = 1 THEN SUM(ISNULL(CHU_KY_HC_NOI,0))
							WHEN @MS_LOAI_HIEU_CHUAN = 2 THEN SUM(ISNULL(CHU_KY_HC_NGOAI,0)) 
							WHEN @MS_LOAI_HIEU_CHUAN = 3 THEN SUM(ISNULL(CHU_KY_KD,0))
							ELSE SUM(ISNULL(CHU_KY_KT,0)) END  AS SNGAY
			FROM          dbo.CHU_KY_HIEU_CHUAN AS A
			WHERE      (MS_MAY = @MS_MAY) AND (MS_PT = @MS_PT) AND (MS_VI_TRI = @MS_VI_TRI))
    
select @ngay = (
-- ngay hc : noi : @MS_LOAI_HIEU_CHUAN 1 
-- ngay hc : NGOAI : @MS_LOAI_HIEU_CHUAN 2 
-- ngay hc : KDINH : @MS_LOAI_HIEU_CHUAN 3
-- ngay hc : KDINH : @MS_LOAI_HIEU_CHUAN 4
SELECT  
    CASE MS_DV_TG 
		WHEN 1 THEN CONVERT(DATETIME, DATEADD(DAY, @SNgay, NGAY))
		WHEN 2 THEN CONVERT(DATETIME, DATEADD(DAY, @SNgay * 7.25, NGAY)) 
		WHEN 3 THEN CONVERT(DATETIME, DATEADD(MONTH, @SNgay, NGAY))
		ELSE CONVERT(DATETIME, DATEADD(YEAR, @SNgay, NGAY)) END 

 AS NGAY
FROM          (SELECT     MS_MAY, MS_PT, MS_VI_TRI, MAX(NGAY) AS NGAY, MS_LOAI_HIEU_CHUAN
                            FROM          dbo.HIEU_CHUAN_DHD AS T
                            GROUP BY MS_MAY, MS_PT, MS_VI_TRI, MS_LOAI_HIEU_CHUAN)  AS B INNER JOIN
                      dbo.CHU_KY_HIEU_CHUAN AS A ON 
                      B.MS_MAY = A.MS_MAY AND B.MS_PT = A.MS_PT AND B.MS_VI_TRI = A.MS_VI_TRI
WHERE     (B.MS_MAY = @MS_MAY) AND (B.MS_PT = @MS_PT) AND (B.MS_VI_TRI = @MS_VI_TRI) 
	AND (B.MS_LOAI_HIEU_CHUAN = @MS_LOAI_HIEU_CHUAN) 

)
SET @NGAY = CONVERT(DATETIME,@ngay)
return @NGAY
end

--SELECT * FROM CHU_KY_HIEU_CHUAN
--WHEN 1 THEN DATEADD(DAY,dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NOI,HIEU_CHUAN_DHD_TMP.NGAY)
--WHEN 2 THEN DATEADD(DAY,dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NOI * 7.25,HIEU_CHUAN_DHD_TMP.NGAY)
--WHEN 3 THEN DATEADD(MONTH,dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NOI ,HIEU_CHUAN_DHD_TMP.NGAY)
--WHEN 4 THEN DATEADD(YEAR,dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NOI ,HIEU_CHUAN_DHD_TMP.NGAY)
