IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetIcPhuTungLoaiMay')
   exec('CREATE PROCEDURE spGetIcPhuTungLoaiMay AS BEGIN SET NOCOUNT ON; END')
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'H_IC_PHU_TUNG_GET_LOAI_MAY') DROP procedure H_IC_PHU_TUNG_GET_LOAI_MAY
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'H_IC_PHU_TUNG_GET_LOAI_MAY_ADD') DROP procedure H_IC_PHU_TUNG_GET_LOAI_MAY_ADD
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'H_IC_PHU_TUNG_GET_LOAI_MAY_EDIT') DROP procedure H_IC_PHU_TUNG_GET_LOAI_MAY_EDIT

   
   
   
GO

--spGetIcPhuTungLoaiMay '1234','ADMIN',2,1
ALTER procedure spGetIcPhuTungLoaiMay
	@MsPTung NVARCHAR(30),
	@USName NVARCHAR(30),
	@Loai INT,
	@NNgu INT
AS
-- @Loai = 0 get, 1 add, 2 edit
--get
IF @Loai = 0
BEGIN
	SELECT DISTINCT CONVERT(BIT, 0) AS CHONLM, CASE @NNgu WHEN 0 THEN T3.TEN_LOAI_MAY WHEN 1 THEN T3.TEN_LOAI_MAY_ANH ELSE T3.TEN_LOAI_MAY_HOA END AS TEN_LOAI_MAY, T2.MS_LOAI_MAY
	FROM            dbo.IC_PHU_TUNG AS T1 INNER JOIN
							 dbo.IC_PHU_TUNG_LOAI_MAY AS T2 ON T1.MS_PT = T2.MS_PT INNER JOIN
							 dbo.LOAI_MAY AS T3 ON T2.MS_LOAI_MAY = T3.MS_LOAI_MAY INNER JOIN
							 dbo.NHOM_LOAI_MAY AS T4 ON T3.MS_LOAI_MAY = T4.MS_LOAI_MAY INNER JOIN
							 dbo.USERS AS T5 ON T4.GROUP_ID = T5.GROUP_ID
	WHERE USERNAME = @USName AND T1.MS_PT = @MsPTung
	ORDER BY  TEN_LOAI_MAY
END

--add
IF @Loai = 1
BEGIN
	SELECT DISTINCT CONVERT(BIT, 0) AS CHONLM, CASE @NNgu WHEN 0 THEN T3.TEN_LOAI_MAY WHEN 1 THEN T3.TEN_LOAI_MAY_ANH ELSE T3.TEN_LOAI_MAY_HOA END AS TEN_LOAI_MAY, T3.MS_LOAI_MAY
	FROM            dbo.LOAI_MAY AS T3 INNER JOIN
							 dbo.NHOM_LOAI_MAY AS T4 ON T3.MS_LOAI_MAY = T4.MS_LOAI_MAY INNER JOIN
							 dbo.USERS AS T5 ON T4.GROUP_ID = T5.GROUP_ID
	WHERE        (T5.USERNAME = @USName)
	ORDER BY TEN_LOAI_MAY
END

--edit
IF @Loai = 2
BEGIN
	SELECT DISTINCT CONVERT(BIT, 1) AS CHONLM, CASE @NNgu WHEN 0 THEN T3.TEN_LOAI_MAY WHEN 1 THEN T3.TEN_LOAI_MAY_ANH ELSE T3.TEN_LOAI_MAY_HOA END AS TEN_LOAI_MAY, T2.MS_LOAI_MAY
	FROM            dbo.IC_PHU_TUNG AS T1 INNER JOIN
							 dbo.IC_PHU_TUNG_LOAI_MAY AS T2 ON T1.MS_PT = T2.MS_PT INNER JOIN
							 dbo.LOAI_MAY AS T3 ON T2.MS_LOAI_MAY = T3.MS_LOAI_MAY INNER JOIN
							 dbo.NHOM_LOAI_MAY AS T4 ON T3.MS_LOAI_MAY = T4.MS_LOAI_MAY INNER JOIN
							 dbo.USERS AS T5 ON T4.GROUP_ID = T5.GROUP_ID
	WHERE USERNAME = @USName AND T1.MS_PT = @MsPTung
	UNION

	SELECT DISTINCT CONVERT(BIT, 0) AS CHONLM, CASE @NNgu WHEN 0 THEN T3.TEN_LOAI_MAY WHEN 1 THEN T3.TEN_LOAI_MAY_ANH ELSE T3.TEN_LOAI_MAY_HOA END AS TEN_LOAI_MAY, T3.MS_LOAI_MAY
	FROM            dbo.LOAI_MAY AS T3 INNER JOIN
							 dbo.NHOM_LOAI_MAY AS T4 ON T3.MS_LOAI_MAY = T4.MS_LOAI_MAY INNER JOIN
							 dbo.USERS AS T5 ON T4.GROUP_ID = T5.GROUP_ID
	WHERE        (T5.USERNAME = @USName)
	AND NOT EXISTS (SELECT * FROM  dbo.IC_PHU_TUNG_LOAI_MAY AS B WHERE B.MS_PT = @MsPTung AND T3.MS_LOAI_MAY = B.MS_LOAI_MAY)
	ORDER BY TEN_LOAI_MAY
END
