
ALTER procedure [dbo].[H_IC_PHU_TUNG_GET_PTTT]

@MS_PT NVARCHAR(30)

 AS

SELECT     dbo.IC_PHU_TUNG_THAY_THE.MS_PT1 AS MS_PT, dbo.IC_PHU_TUNG.TEN_PT
FROM         dbo.IC_PHU_TUNG INNER JOIN
                      dbo.IC_PHU_TUNG_THAY_THE ON dbo.IC_PHU_TUNG.MS_PT = dbo.IC_PHU_TUNG_THAY_THE.MS_PT1
WHERE  dbo.IC_PHU_TUNG_THAY_THE.MS_PT = @MS_PT
