
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'CHECK_PHAT_SINH_VTPT')
   exec('DROP PROCEDURE CHECK_PHAT_SINH_VTPT')
GO


ALTER procedure [dbo].[CheckDoiMaPT]
	@MS_PT NVARCHAR(30)
AS

SELECT  MS_PT FROM  dbo.IC_DON_HANG_NHAP_VAT_TU
WHERE MS_PT = @MS_PT
UNION 
SELECT MS_PT
FROM  dbo.CAU_TRUC_THIET_BI_PHU_TUNG 
WHERE MS_PT = @MS_PT
UNION 
SELECT MS_PT
FROM  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG
WHERE MS_PT = @MS_PT
UNION 
SELECT MS_PT
FROM   dbo.DON_DAT_HANG_CHI_TIET
WHERE MS_PT = @MS_PT
UNION 
SELECT MS_PT
FROM   dbo.DE_XUAT_MUA_HANG_CHI_TIET
WHERE MS_PT = @MS_PT
UNION
SELECT MS_PT
FROM   dbo.KE_HOACH_TONG_CONG_VIEC_PHU_TUNG
WHERE MS_PT = @MS_PT
