IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetIcPhuTungLoaiPhuTung')
   exec('CREATE PROCEDURE spGetIcPhuTungLoaiPhuTung AS BEGIN SET NOCOUNT ON; END')
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'H_IC_PHU_TUNG_GET_LOAI_PT') DROP procedure H_IC_PHU_TUNG_GET_LOAI_PT
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'H_IC_PHU_TUNG_GET_LOAI_PT_ADD') DROP procedure H_IC_PHU_TUNG_GET_LOAI_PT_ADD
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'H_IC_PHU_TUNG_GET_LOAI_PT_EDIT') DROP procedure H_IC_PHU_TUNG_GET_LOAI_PT_EDIT

go
--spGetIcPhuTungLoaiPhuTung '1234','ADMIN',2,0
ALTER procedure spGetIcPhuTungLoaiPhuTung
	@MsPTung NVARCHAR(30),
	@USName NVARCHAR(30),
	@Loai INT,
	@NNgu INT
AS
--get
IF @Loai = 0
BEGIN
	SELECT DISTINCT CONVERT(BIT, 1) AS CHONPT, T2.TEN_LOAI_PT, T2.MS_LOAI_PT
	FROM            dbo.NHOM_LOAI_PHU_TUNG AS T1 INNER JOIN
							 dbo.LOAI_PHU_TUNG AS T2 ON T1.MS_LOAI_PT = T2.MS_LOAI_PT INNER JOIN
							 dbo.IC_PHU_TUNG_LOAI_PHU_TUNG AS T3 INNER JOIN
							 dbo.IC_PHU_TUNG AS T4 ON T3.MS_PT = T4.MS_PT ON T2.MS_LOAI_PT = T3.MS_LOAI_PT INNER JOIN
							 dbo.USERS AS T5 ON T1.GROUP_ID = T5.GROUP_ID
	WHERE        (T5.USERNAME = @USName) AND (T4.MS_PT = @MsPTung)
	ORDER BY T2.TEN_LOAI_PT
END

--add
IF @Loai = 1
BEGIN
	SELECT DISTINCT CONVERT(BIT, 0) AS CHONPT, B.TEN_LOAI_PT, B.MS_LOAI_PT
	FROM            dbo.NHOM_LOAI_PHU_TUNG AS A INNER JOIN
							 dbo.LOAI_PHU_TUNG AS B ON A.MS_LOAI_PT = B.MS_LOAI_PT INNER JOIN
							 dbo.USERS AS C ON A.GROUP_ID = C.GROUP_ID
	WHERE        (C.USERNAME = @USName) 
	ORDER BY TEN_LOAI_PT
END

--edit
IF @Loai = 2
BEGIN
	SELECT DISTINCT CONVERT(BIT, 1) AS CHONPT, T2.TEN_LOAI_PT, T2.MS_LOAI_PT
	FROM            dbo.NHOM_LOAI_PHU_TUNG AS T1 INNER JOIN
							 dbo.LOAI_PHU_TUNG AS T2 ON T1.MS_LOAI_PT = T2.MS_LOAI_PT INNER JOIN
							 dbo.IC_PHU_TUNG_LOAI_PHU_TUNG AS T3 INNER JOIN
							 dbo.IC_PHU_TUNG AS T4 ON T3.MS_PT = T4.MS_PT ON T2.MS_LOAI_PT = T3.MS_LOAI_PT INNER JOIN
							 dbo.USERS AS T5 ON T1.GROUP_ID = T5.GROUP_ID
	WHERE        (T5.USERNAME = @USName) AND (T4.MS_PT = @MsPTung)

	UNION

	SELECT DISTINCT CONVERT(BIT, 0) AS CHONPT, B.TEN_LOAI_PT, B.MS_LOAI_PT
	FROM            dbo.NHOM_LOAI_PHU_TUNG AS A INNER JOIN
							 dbo.LOAI_PHU_TUNG AS B ON A.MS_LOAI_PT = B.MS_LOAI_PT INNER JOIN
							 dbo.USERS AS C ON A.GROUP_ID = C.GROUP_ID
	WHERE        (C.USERNAME = @USName) AND NOT EXISTS
	(
		SELECT *
		FROM            dbo.NHOM_LOAI_PHU_TUNG AS T1 INNER JOIN
								 dbo.LOAI_PHU_TUNG AS T2 ON T1.MS_LOAI_PT = T2.MS_LOAI_PT INNER JOIN
								 dbo.IC_PHU_TUNG_LOAI_PHU_TUNG AS T3 INNER JOIN
								 dbo.IC_PHU_TUNG AS T4 ON T3.MS_PT = T4.MS_PT ON T2.MS_LOAI_PT = T3.MS_LOAI_PT INNER JOIN
								 dbo.USERS AS T5 ON T1.GROUP_ID = T5.GROUP_ID
		WHERE        (T5.USERNAME = @USName) AND (T4.MS_PT = @MsPTung) AND (T1.MS_LOAI_PT = A.MS_LOAI_PT)
	)
	ORDER BY T2.TEN_LOAI_PT
END