
ALTER PROCEDURE [dbo].[H_IC_PHU_TUNG_INSERT_DATA]
	(@MS_PT_1 	[nvarchar](25),
	@MS_PT_NCC_2 	[nvarchar](25),
	@MS_PT_CTY_3 	[nvarchar](25),
	@TEN_PT_4 	[nvarchar](100),
	@TEN_PT_VIET_19 	[nvarchar](250),
	@QUY_CACH_5 	[nvarchar](255),
	@ANH_PT_6 	[nvarchar](255),
	@MS_LOAI_VT_7 	[nvarchar](10),
	@DVT_8 	[nvarchar](10),
	@DUNG_CU_DO_9 	[bit],
	@HANG_NGOAI 	[bit],
	@MS_CACH_DAT_HANG_10 	[int],
	@SO_NGAY_DAT_MUA_HANG_11 	[int],
	@TON_TOI_THIEU_12 	[float],
	@MS_KH_13 	[varchar](20),
	@SL_DA_DAT_CHUA_MUA_14 	[float],
	@MS_HSX_15 	[int],
	@MS_VI_TRI_16 	[int],
	@MS_CLASS_17 	[int],
	@TON_KHO_MAX_18 	[float], 
	@SERVICE_ID_19 [INT], 
	@THEO_KHO_20 [BIT],
	@USER_INSERT_PT_21 [NVARCHAR](50),
	@KY_PB_22	[int],
	@VAT_TU_PT	BIT
)
AS 
DECLARE @NgayIns Datetime
set @NgayIns = GETDATE()

if @MS_CLASS_17 = -1 set @MS_CLASS_17 = NULL
if @SERVICE_ID_19 = -1 set @SERVICE_ID_19 = NULL
if @MS_HSX_15 = -1 set @MS_HSX_15 = NULL
if @MS_KH_13 = '-1' set @MS_KH_13 = NULL
if @MS_CLASS_17 = -1 set @MS_CLASS_17 = NULL
if @MS_VI_TRI_16 = -1 set @MS_VI_TRI_16 = NULL    

if NOT EXISTS (SELECT * FROM VI_TRI_KHO WHERE MS_VI_TRI = @MS_VI_TRI_16) SET @MS_VI_TRI_16 = NULL

INSERT INTO [dbo].[IC_PHU_TUNG] ([MS_PT],[MS_PT_NCC],[MS_PT_CTY],[TEN_PT],[TEN_PT_VIET],[QUY_CACH],[ANH_PT],
		[MS_LOAI_VT],[DVT],[DUNG_CU_DO],[HANG_NGOAI],[MS_CACH_DAT_HANG],[SO_NGAY_DAT_MUA_HANG],[TON_TOI_THIEU],
		[MS_KH],[SL_DA_DAT_CHUA_MUA],[MS_HSX],[MS_VI_TRI],[MS_CLASS],[TON_KHO_MAX], [SERVICE_ID] ,
		[THEO_KHO],USER_INSERT_PT,NGAY_INSERT_PT,KY_PB,ACTIVE_PT,TEN_PT_ANH,TEN_PT_HOA,VAT_TU_PT) 
VALUES 
	(@MS_PT_1,@MS_PT_NCC_2,@MS_PT_CTY_3,@TEN_PT_4,@TEN_PT_VIET_19,@QUY_CACH_5,@ANH_PT_6,
		@MS_LOAI_VT_7,@DVT_8,@DUNG_CU_DO_9,@HANG_NGOAI,@MS_CACH_DAT_HANG_10,@SO_NGAY_DAT_MUA_HANG_11,@TON_TOI_THIEU_12,
		@MS_KH_13,@SL_DA_DAT_CHUA_MUA_14,@MS_HSX_15,@MS_VI_TRI_16,@MS_CLASS_17,@TON_KHO_MAX_18,@SERVICE_ID_19,
		@THEO_KHO_20 ,@USER_INSERT_PT_21,@NgayIns,@KY_PB_22,1,@TEN_PT_4,@TEN_PT_4,@VAT_TU_PT)

