



ALTER procedure [dbo].[GetPHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIETs]
@MS_PHIEU_BAO_TRI NVARCHAR(20),
@MS_CV INT,
@MS_BO_PHAN NVARCHAR(50),
@MS_PT NVARCHAR(30)
 AS

SELECT DISTINCT T.MS_PHIEU_BAO_TRI, T.MS_CV, T.MS_BO_PHAN, T.MS_PT, T1.STT, T1.MS_VI_TRI_PT, T1.SL_KH, T1.SL_TT, T1.THAY_SUA, T2.NGAY_HOAN_THANH 
, CASE ISNULL(T2.NGAY_HOAN_THANH, '1900/01/01')  WHEN '1900/01/01' THEN 
(
SELECT MAX(PHIEU_BAO_TRI_CONG_VIEC.NGAY_HOAN_THANH) AS NGAY_HOAN_THANH FROM PHIEU_BAO_TRI_CONG_VIEC INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG ON PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC.MS_CV = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET ON PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN INNER JOIN PHIEU_BAO_TRI ON PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI WHERE PHIEU_BAO_TRI.MS_MAY= T3.MS_MAY AND PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN=T.MS_BO_PHAN AND PHIEU_BAO_TRI_CONG_VIEC.MS_CV=T.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT=T.MS_PT AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT=T1.MS_VI_TRI_PT
)
ELSE
(
ISNULL((SELECT MAX(PHIEU_BAO_TRI_CONG_VIEC.NGAY_HOAN_THANH) AS NGAY_HOAN_THANH FROM PHIEU_BAO_TRI_CONG_VIEC INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG ON PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC.MS_CV = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET ON PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN INNER JOIN PHIEU_BAO_TRI ON PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI WHERE PHIEU_BAO_TRI.MS_MAY= T3.MS_MAY AND PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN=T.MS_BO_PHAN AND PHIEU_BAO_TRI_CONG_VIEC.MS_CV=T.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT=T.MS_PT AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT=T1.MS_VI_TRI_PT HAVING MAX(PHIEU_BAO_TRI_CONG_VIEC.NGAY_HOAN_THANH) > T2.NGAY_HOAN_THANH)
, T2.NGAY_HOAN_THANH)) END NGAY_TRUOC, dbo.GetNgayHetHanBH(T.MS_PT, T.MS_PHIEU_BAO_TRI, T3.MS_MAY, T.MS_BO_PHAN, T1.MS_VI_TRI_PT) NGAY_HH


FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS T 
INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET AS T1 ON T.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI AND T.MS_CV = T1.MS_CV AND T.MS_PT = T1.MS_PT AND T.MS_BO_PHAN = T1.MS_BO_PHAN 
INNER JOIN  PHIEU_BAO_TRI_CONG_VIEC AS T2 ON T.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI AND T.MS_CV = T2.MS_CV AND T.MS_BO_PHAN = T2.MS_BO_PHAN
INNER JOIN PHIEU_BAO_TRI T3 ON T3.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
WHERE     (T.MS_PT = @MS_PT) AND (T.MS_CV = @MS_CV) AND (T.MS_BO_PHAN = @MS_BO_PHAN) AND (T.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)
ORDER BY T1.MS_VI_TRI_PT