


ALTER procedure [dbo].[get_Congviecphu]
	@Phieu_BT NVARCHAR(20)
AS

SELECT STT,TEN_CONG_VIEC,SO_GIO_KH,NGAY_HOAN_THANH
FROM PHIEU_BAO_TRI_CV_PHU_TRO INNER JOIN PHIEU_BAO_TRI ON PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI=PHIEU_BAO_TRI_CV_PHU_TRO.MS_PHIEU_BAO_TRI		
WHERE PHIEU_BAO_TRI_CV_PHU_TRO.MS_PHIEU_BAO_TRI = @Phieu_BT

