
--select * from PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_TMPadmin
--EXEC SP_NHU_Y_GET_PHIEU_BT_CV_PT_CT_TEMP  'WO-201705000007',368,'01.01.01','COS-BO-105','PHIEU_BAO_TRI_CONG_VIEC_TMPadmin','PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_TMPadmin','PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_TMPadmin'
ALTER PROC [dbo].[SP_NHU_Y_GET_PHIEU_BT_CV_PT_CT_TEMP]
(
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@MS_CV INT,
	@MS_BO_PHAN NVARCHAR(50),
	@MS_PT NVARCHAR(30),
	@TABLE_NAME_TEMP NVARCHAR(100),
	@TABLE_NAME NVARCHAR(100),
	@TABLE_NAME_CHI_TIET NVARCHAR(100)
)
AS
DECLARE @SQL NVARCHAR (4000)
SET @SQL='
SELECT DISTINCT T1.MS_PHIEU_BAO_TRI,T1.MS_CV, T1.MS_BO_PHAN, T1.MS_PT,T1.STT, T1.MS_VI_TRI_PT, T1.SL_KH, T1.SL_TT,T3.NGAY_HOAN_THANH,

CASE ISNULL(T3.NGAY_HOAN_THANH,' + CHAR(39) + '1900/01/01'+  CHAR(39) + ')  WHEN ' + CHAR(39) + '1900/01/01'+  CHAR(39) + ' THEN 
(
SELECT MAX(PHIEU_BAO_TRI_CONG_VIEC.NGAY_HOAN_THANH) AS NGAY_HOAN_THANH FROM PHIEU_BAO_TRI_CONG_VIEC INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG ON PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC.MS_CV = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET ON PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN INNER JOIN PHIEU_BAO_TRI ON PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI WHERE PHIEU_BAO_TRI.MS_MAY= T4.MS_MAY AND PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN=T1.MS_BO_PHAN AND PHIEU_BAO_TRI_CONG_VIEC.MS_CV=T1.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT=T1.MS_PT AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT=T1.MS_VI_TRI_PT
)
ELSE
(
ISNULL((SELECT MAX(PHIEU_BAO_TRI_CONG_VIEC.NGAY_HOAN_THANH) AS NGAY_HOAN_THANH FROM PHIEU_BAO_TRI_CONG_VIEC INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG ON PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC.MS_CV = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET ON PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_CV = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_PT = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG.MS_BO_PHAN = PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN INNER JOIN PHIEU_BAO_TRI ON PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI WHERE PHIEU_BAO_TRI.MS_MAY= T4.MS_MAY AND PHIEU_BAO_TRI_CONG_VIEC.MS_BO_PHAN=T1.MS_BO_PHAN AND PHIEU_BAO_TRI_CONG_VIEC.MS_CV=T1.MS_CV AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT=T1.MS_PT AND PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT=T1.MS_VI_TRI_PT HAVING MAX(PHIEU_BAO_TRI_CONG_VIEC.NGAY_HOAN_THANH) > T3.NGAY_HOAN_THANH)
, T3.NGAY_HOAN_THANH)) END NGAY_TRUOC, dbo.GetNgayHetHanBH(T1.MS_PT, T1.MS_PHIEU_BAO_TRI, T4.MS_MAY, T1.MS_BO_PHAN, T1.MS_VI_TRI_PT) NGAY_HH, THAY_SUA

FROM ' + @TABLE_NAME_CHI_TIET  + ' AS T1 
INNER JOIN ' + @TABLE_NAME +  ' AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI AND T1.MS_CV = T2.MS_CV AND T1.MS_BO_PHAN =T2.MS_BO_PHAN AND T1.MS_PT = T2.MS_PT 
INNER JOIN ' + @TABLE_NAME_TEMP + ' AS T3 ON T1.MS_PHIEU_BAO_TRI = T3.MS_PHIEU_BAO_TRI AND T1.MS_CV = T3.MS_CV AND T1.MS_BO_PHAN = T3.MS_BO_PHAN 
INNER JOIN PHIEU_BAO_TRI T4 ON T4.MS_PHIEU_BAO_TRI = T3.MS_PHIEU_BAO_TRI
WHERE (T1.MS_PHIEU_BAO_TRI =' + CHAR(39) + @MS_PHIEU_BAO_TRI + CHAR(39) + ') 
AND T1.MS_PT =' + CHAR(39) + @MS_PT + CHAR(39) + ' AND T1.MS_CV =' + CHAR(39) + CONVERT(NVARCHAR(8),@MS_CV) + CHAR(39) + ' 
AND T1.MS_BO_PHAN =' + CHAR(39) + @MS_BO_PHAN  + CHAR(39) + ' AND T1.MS_PHIEU_BAO_TRI =' + CHAR(39) + @MS_PHIEU_BAO_TRI + CHAR(39) + ' ORDER BY T1.MS_VI_TRI_PT '

EXEC(@SQL)
