IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'MGetNhaXuongTreeList')
   exec('CREATE PROCEDURE MGetNhaXuongTreeList AS BEGIN SET NOCOUNT ON; END')
GO
--exec [MGetNhaXuongTreeList] 'administrator',0
alter proc [dbo].[MGetNhaXuongTreeList]
	@USERNAME nvarchar(50),
	@NNGU BIT
AS
SELECT MS_N_XUONG,TEN_N_XUONG, temp.MS_CHA
FROM
(
SELECT DISTINCT NHA_XUONG.MS_N_XUONG, CASE @NNGU WHEN 0 THEN NHA_XUONG.TEN_N_XUONG ELSE NHA_XUONG.TEN_N_XUONG_A END TEN_N_XUONG, MS_QG, MS_CHA
FROM NHA_XUONG INNER JOIN  NHOM_NHA_XUONG ON
NHA_XUONG.MS_N_XUONG = NHOM_NHA_XUONG.MS_N_XUONG  INNER JOIN USERS ON NHOM_NHA_XUONG.GROUP_ID=USERS.GROUP_ID 
WHERE USERS.USERNAME=@USERNAME
)temp
left join IC_QUOC_GIA
ON TEMP.MS_QG = IC_QUOC_GIA.MA_QG

ORDER BY Ten_N_XUONG ,MS_N_XUONG 
