--DEXUAT_DDH 'DH-1707-0005'

ALTER procedure [dbo].[DEXUAT_DDH]
	@MS_DE_XUAT nvarchar(50)
AS
BEGIN

IF SUBSTRING(@MS_DE_XUAT,1,2) = 'DH'
	SELECT   DISTINCT  T1.MS_DH_NHAP_PT,T1.SO_PHIEU_XN, T2.TEN, HO + ' ' + T3.TEN AS NGUOI_NHAP, NGAY, T1.GHI_CHU
	FROM            dbo.IC_DON_HANG_NHAP T1 LEFT JOIN
	(
	SELECT DISTINCT MS_KH AS MA,TEN_CONG_TY AS TEN FROM KHACH_HANG
	UNION
	SELECT DISTINCT MS_CONG_NHAN, HO + ' ' + TEN AS HO_TEN FROM CONG_NHAN
	) T2 ON T1.NGUOI_NHAP = T2.MA LEFT JOIN CONG_NHAN T3 ON T1.NGUOI_LAP = T3.MS_CONG_NHAN
	WHERE MS_DDH = @MS_DE_XUAT
ELSE
BEGIN

DECLARE @DDH INT 
SELECT @DDH = ISNULL(DDH_DXMH,0) FROM THONG_TIN_CHUNG 
IF @DDH = 1
	SELECT   DISTINCT  dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG, dbo.DON_DAT_HANG.SO_DON_DAT_HANG, dbo.DON_DAT_HANG.NHA_CUNG_CAP, 
                      dbo.DON_DAT_HANG.NGUOI_LAP, dbo.DON_DAT_HANG.NGAY_LAP,dbo.DON_DAT_HANG.GHI_CHU
	FROM         dbo.DON_DAT_HANG INNER JOIN
						  dbo.DON_DAT_HANG_CHI_TIET ON dbo.DON_DAT_HANG.MS_DON_DAT_HANG = dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG
	WHERE     (dbo.DON_DAT_HANG_CHI_TIET.MS_DE_XUAT = @MS_DE_XUAT)
ELSE
	SELECT   DISTINCT  T1.MS_DH_NHAP_PT,T1.SO_PHIEU_XN, T2.TEN, HO + ' ' + T3.TEN AS NGUOI_NHAP, NGAY, T1.GHI_CHU
	FROM            dbo.IC_DON_HANG_NHAP T1 LEFT JOIN
	(
	SELECT DISTINCT MS_KH AS MA,TEN_CONG_TY AS TEN FROM KHACH_HANG
	UNION
	SELECT DISTINCT MS_CONG_NHAN, HO + ' ' + TEN AS HO_TEN FROM CONG_NHAN
	) T2 ON T1.NGUOI_NHAP = T2.MA LEFT JOIN CONG_NHAN T3 ON T1.NGUOI_LAP = T3.MS_CONG_NHAN
	WHERE MS_DDH = @MS_DE_XUAT
END

END
