
ALTER PROC [dbo].[GetTHONG_SO_MAYs]
AS
SELECT 
	THONG_SO_MAY.MS_THONG_SO_MAY,
	THONG_SO_MAY.TEN_THONG_SO_MAY + ' (' + DON_VI_DO.TEN_DV_DO + ')' AS TEN_THONG_SO_MAY ,
	THONG_SO_MAY.GHI_CHU,
	DON_VI_DO.MS_DV_DO
FROM 
	THONG_SO_MAY INNER JOIN DON_VI_DO ON THONG_SO_MAY.MS_DV_DO = DON_VI_DO.MS_DV_DO
	ORDER BY THONG_SO_MAY.TEN_THONG_SO_MAY
