
--exec [GET_CAU_TRUC_THIET_BI_TS_GSTT] 'BHCA-01',1,0,1


ALTER procedure [dbo].[GET_CAU_TRUC_THIET_BI_TS_GSTT]
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN NVARCHAR(50),
	@NGON_NGU INT,
	@LOAI_TS BIT
AS
declare @sql nvarchar(4000)
set @sql ='
SELECT     TSGSTT.TEN_TS_GSTT, CTTBTSGSTT.MS_MAY, CTTBTSGSTT.MS_BO_PHAN, CTTBTSGSTT.MS_TS_GSTT, CTTBTSGSTT.MS_TT, 
                      CTTBTSGSTT.TEN_GT, CTTBTSGSTT.GIA_TRI_TREN, CTTBTSGSTT.GIA_TRI_DUOI, CTTBTSGSTT.CHU_KY_DO, CTTBTSGSTT.MS_DV_TG, 
                      CTTBTSGSTT.DAT, CTTBTSGSTT.GHI_CHU , ISNULL(CTTBTSGSTT.THOI_GIAN, 0) THOI_GIAN, ISNULL(CTTBTSGSTT.CACH_THUC_HIEN, '''') CACH_THUC_HIEN  '
if  @LOAI_TS=0
	set @sql=@sql+', dbo.DON_VI_DO.TEN_DV_DO '
set @sql=@sql+', CTTBTSGSTT.ACTIVE FROM dbo.CAU_TRUC_THIET_BI_TS_GSTT AS CTTBTSGSTT INNER JOIN
                      dbo.THONG_SO_GSTT AS TSGSTT ON CTTBTSGSTT.MS_TS_GSTT = TSGSTT.MS_TS_GSTT '
        
if  @LOAI_TS=0
	set @sql=@sql+' INNER JOIN dbo.DON_VI_DO ON TSGSTT.MS_DV_DO = dbo.DON_VI_DO.MS_DV_DO'

set @sql=@sql+' WHERE MS_MAY=N'''+@MS_MAY+'''  AND MS_BO_PHAN='''+@MS_BO_PHAN+''' AND LOAI_TS='+cast(@LOAI_TS as varchar(1))
exec (@sql)
