--	SP_GET_LICH_SU_PT 1,'10-01-OCO-001-00','07','02062300000001'
ALTER procedure [dbo].[SP_GET_LICH_SU_PT]  
@SD_KHO BIT , 
@MS_MAY NVARCHAR (25) , 
@MS_BO_PHAN NVARCHAR (50) , 
@MS_PT NVARCHAR (25)
AS
IF (@SD_KHO = 1)
BEGIN 
SELECT DISTINCT 
                         T4.MS_MAY + ' - ' + CONVERT(NVARCHAR(128), T4.TEN_MAY) AS MAY, dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN + ' - ' + dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN AS TEN_BO_PHAN, 
                         dbo.IC_PHU_TUNG.MS_PT + ' - ' + dbo.IC_PHU_TUNG.TEN_PT AS PHU_TUNG, T3.MS_VI_TRI_PT, T6.NGAY_HOAN_THANH AS NGAY_THAY_THE, T7.MS_CONG_NHAN + ' - ' + T7.TEN AS NGUOI_THAY, T3.MS_PHIEU_BAO_TRI, 
                         CONVERT(BIT, 0) AS PT_CHA, T2.MS_PTTT, IC_PHU_TUNG_1.TEN_PT, CASE WHEN T6.STT_SERVICE IS NULL 
                         THEN T2.SL_TT ELSE T3.SL_TT END AS SL_TT, T1.XUAT_XU, T3.GHI_CHU, 
                         0.00 AS THOI_GIAN_SU_DUNG
FROM            dbo.IC_DON_HANG_NHAP_VAT_TU AS T1 INNER JOIN
                         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT AND T1.MS_PT = T2.MS_PTTT INNER JOIN
                         dbo.IC_PHU_TUNG AS IC_PHU_TUNG_1 ON T2.MS_PTTT = IC_PHU_TUNG_1.MS_PT RIGHT OUTER JOIN
                         dbo.IC_PHU_TUNG INNER JOIN
                         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET AS T3 ON dbo.IC_PHU_TUNG.MS_PT = T3.MS_PT INNER JOIN
                         dbo.CAU_TRUC_THIET_BI ON T3.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN INNER JOIN
                         dbo.MAY AS T4 INNER JOIN
                         dbo.PHIEU_BAO_TRI AS T5 ON T4.MS_MAY = T5.MS_MAY ON dbo.CAU_TRUC_THIET_BI.MS_MAY = T5.MS_MAY INNER JOIN
                         dbo.PHIEU_BAO_TRI_CONG_VIEC AS T6 ON T5.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI AND T3.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI AND T3.MS_CV = T6.MS_CV ON 
                         T2.MS_PHIEU_BAO_TRI = T3.MS_PHIEU_BAO_TRI AND T2.MS_CV = T3.MS_CV AND T2.MS_BO_PHAN = T3.MS_BO_PHAN AND T2.MS_PT = T3.MS_PT AND T2.STT = T3.STT LEFT OUTER JOIN
                         dbo.CONG_NHAN AS T7 ON T3.NGUOI_THAY_THE = T7.MS_CONG_NHAN
WHERE        (T5.MS_MAY = @MS_MAY) AND (dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN = @MS_BO_PHAN) AND (dbo.IC_PHU_TUNG.MS_PT = @MS_PT) AND (T5.TINH_TRANG_PBT = 3 OR
                         T5.TINH_TRANG_PBT = 4)

END 
ELSE 
BEGIN 
SELECT DISTINCT dbo.MAY.MS_MAY + ' - ' + CONVERT (NVARCHAR (128) ,dbo.MAY.TEN_MAY ) AS MAY, dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN + ' - ' + dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN, dbo.IC_PHU_TUNG.MS_PT + ' - ' + dbo.IC_PHU_TUNG.TEN_PT AS PHU_TUNG, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_VI_TRI_PT, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC.NGAY_HOAN_THANH AS NGAY_THAY_THE, 
                      dbo.CONG_NHAN.MS_CONG_NHAN + ' - ' + dbo.CONG_NHAN.TEN AS NGUOI_THAY, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI, CONVERT (BIT , 0 ) AS PT_CHA, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PTTT, IC_PHU_TUNG_1.TEN_PT, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.SL_TT, dbo.IC_DON_HANG_NHAP_VAT_TU.XUAT_XU, 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.GHI_CHU , 0.00 AS THOI_GIAN_SU_DUNG
FROM         dbo.IC_DON_HANG_NHAP_VAT_TU INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO ON 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_DH_NHAP_PT AND 
                      dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PTTT INNER JOIN
                      dbo.IC_PHU_TUNG IC_PHU_TUNG_1 ON 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PTTT = IC_PHU_TUNG_1.MS_PT RIGHT OUTER JOIN
                      dbo.IC_PHU_TUNG INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET ON 
                      dbo.IC_PHU_TUNG.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT INNER JOIN
                      dbo.CAU_TRUC_THIET_BI ON 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN INNER JOIN
                      dbo.MAY INNER JOIN
                      dbo.PHIEU_BAO_TRI ON dbo.MAY.MS_MAY = dbo.PHIEU_BAO_TRI.MS_MAY ON 
                      dbo.CAU_TRUC_THIET_BI.MS_MAY = dbo.PHIEU_BAO_TRI.MS_MAY INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC ON dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI AND 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI AND 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV = dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_CV ON 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PHIEU_BAO_TRI
                       AND dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_CV = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_CV AND 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_BO_PHAN = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_BO_PHAN
                       AND dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.MS_PT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.MS_PT AND 
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO.STT = dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.STT LEFT OUTER JOIN
                      dbo.CONG_NHAN ON dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET.NGUOI_THAY_THE = dbo.CONG_NHAN.MS_CONG_NHAN
WHERE dbo.PHIEU_BAO_TRI.MS_MAY =  @MS_MAY  AND dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN = @MS_BO_PHAN AND dbo.IC_PHU_TUNG.MS_PT = @MS_PT AND  (dbo.PHIEU_BAO_TRI.TINH_TRANG_PBT = 3 OR dbo.PHIEU_BAO_TRI.TINH_TRANG_PBT = 4 )

END
