
CREATE TABLE [dbo].[DS_REPORT_TMP](
	[REPORT_NAME] [nvarchar](255) NOT NULL,
	[TEN_REPORT_VIET] [nvarchar](100) NULL,
	[TEN_REPORT_ANH] [nvarchar](100) NULL,
	[TEN_REPORT_HOA] [nvarchar](100) NULL,
	[LOAI_REPORT] [int] NULL,
	[STT] [int] NULL,
	[CUSTUMER] [nvarchar](512) NULL,
	[NOTE] [nvarchar](512) NULL,
	[SCRIPT] [nvarchar](512) NULL,
	[TAB] [nvarchar](512) NULL,
	[NAMES] [nvarchar](512) NULL,
	[TYPE] [int] NULL,
	[REPORT_MAIL] [int] NULL,
 CONSTRAINT [PK_DS_REPORT_TMP] PRIMARY KEY CLUSTERED 
(
	[REPORT_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[DS_REPORT_TMP] ([REPORT_NAME], [TEN_REPORT_VIET], [TEN_REPORT_ANH], [TEN_REPORT_HOA], [LOAI_REPORT], [STT], [CUSTUMER], [NOTE], [SCRIPT], [TAB], [NAMES], [TYPE], [REPORT_MAIL]) VALUES (N'frmBCLSTB_Antoan', N'Báo cáo lịch sử thiết bị cần đảm bảo an toàn', N'Maintenance history for safety-related equipment', NULL, 3, 12, NULL, NULL, NULL, NULL, N'frmBCLSTB_Antoan', 1, 1)
INSERT [dbo].[DS_REPORT_TMP] ([REPORT_NAME], [TEN_REPORT_VIET], [TEN_REPORT_ANH], [TEN_REPORT_HOA], [LOAI_REPORT], [STT], [CUSTUMER], [NOTE], [SCRIPT], [TAB], [NAMES], [TYPE], [REPORT_MAIL]) VALUES (N'frmChonKhoInDMTB', N'Tồn kho phụ tùng theo thiết bị', N'Stock of sparepart by equipment', NULL, 6, 1, NULL, N'Tồn kho phụ tùng theo thiết bị', NULL, NULL, N'frmChonKhoInDMTB', 1, 1)
INSERT [dbo].[DS_REPORT_TMP] ([REPORT_NAME], [TEN_REPORT_VIET], [TEN_REPORT_ANH], [TEN_REPORT_HOA], [LOAI_REPORT], [STT], [CUSTUMER], [NOTE], [SCRIPT], [TAB], [NAMES], [TYPE], [REPORT_MAIL]) VALUES (N'frmDeXuatMuaHang_New', N'Đề xuất mua hàng', N'Purchase request', NULL, 107, 2, NULL, N'Đề xuất mua hàng', NULL, NULL, N'ucVisibleColGrid', 1, 3)
GO
print 'Processed 100 total records'


GO

update DS_REPORT
set NOTE = T1.note
FROM DS_REPORT
INNER JOIN DS_REPORT_TMP T1 ON T1.REPORT_NAME = DS_REPORT.REPORT_NAME

GO
DROP TABLE DS_REPORT_TMP