

--exec [GET_CAU_TRUC_THIET_BI_TS_GSTT_1] 'AIC-0001','01.01.03',0
ALTER procedure [dbo].[GET_CAU_TRUC_THIET_BI_TS_GSTT_1]
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN NVARCHAR(50),
	@NGON_NGU INT
AS



SELECT      TEN_TS_GSTT, CTTBTSGSTT.MS_MAY, CTTBTSGSTT.MS_BO_PHAN, CTTBTSGSTT.MS_TS_GSTT,
 CTTBTSGSTT.MS_TT,  ISNULL(CTTBTSGSTT.THOI_GIAN, 0) THOI_GIAN , ISNULL(CTTBTSGSTT.CACH_THUC_HIEN, '') CACH_THUC_HIEN,
                      CTTBTSGSTT.TEN_GT, CTTBTSGSTT.GIA_TRI_TREN, CTTBTSGSTT.GIA_TRI_DUOI, CTTBTSGSTT.CHU_KY_DO, CTTBTSGSTT.MS_DV_TG, 
                      CTTBTSGSTT.DAT, CTTBTSGSTT.GHI_CHU, CTTBTSGSTT.ACTIVE 
					  FROM dbo.CAU_TRUC_THIET_BI_TS_GSTT AS CTTBTSGSTT INNER JOIN
                      dbo.THONG_SO_GSTT AS TSGSTT ON CTTBTSGSTT.MS_TS_GSTT = TSGSTT.MS_TS_GSTT
	  WHERE MS_MAY= @MS_MAY  AND MS_BO_PHAN = @MS_BO_PHAN AND LOAI_TS= 1