

-- EXEC GetCONG_VIEC_BO_PHAN 'AIC-0001','01', 0
--exec GET_CAU_TRUC_THIET_BI_TS_GSTT_DL 'AIC-0001','01', 0
ALTER proc [dbo].[GetCONG_VIEC_BO_PHAN]
	@MS_MAY NVARCHAR(30),
	@MS_BO_PHAN NVARCHAR(20),
	@NNgu int
AS

SELECT        T1.MS_MAY, T1.MS_BO_PHAN, T1.MS_CV, T3.MO_TA_CV, T1.TG_KH,T1.GHI_CHU, T1.ACTIVE,  T1.THAO_TAC, T1.TIEU_CHUAN_KT, T1.YEU_CAU_NS, T1.YEU_CAU_DUNG_CU, T1.PATH_HD, NULL AS CT_CVIEC
FROM            dbo.CAU_TRUC_THIET_BI_CONG_VIEC AS T1 INNER JOIN
                         dbo.CONG_VIEC AS T3 ON T1.MS_CV = T3.MS_CV
WHERE        (T1.MS_MAY = @MS_MAY) AND (T1.MS_BO_PHAN = @MS_BO_PHAN)