

ALTER procedure [dbo].[UpdateCAU_TRUC_THIET_BI_TS_GSTT]
	@MS_MAY NVARCHAR(50),
	@MS_BO_PHAN NVARCHAR(50),
	@MS_TS_GSTT NVARCHAR(50),
	@MS_TT INT,
	@TEN_GT NVARCHAR(150),
	@GIA_TRI_TREN FLOAT,
	@GIA_TRI_DUOI FLOAT,
	@CHU_KY_DO INT,
	@MS_DV_TG INT,
	@DAT BIT,
	@GHI_CHU NVARCHAR(250),
	@ACTIVE BIT,
	@THOI_GIAN FLOAT = 0,
	@CACH_THUC_HIEN NVARCHAR(2000) = '',
	@TIEU_CHUAN_KT NVARCHAR(2000) = '',
	@YEU_CAU_NS NVARCHAR(2000) = '',
	@YEU_CAU_DUNG_CU NVARCHAR(2000) = '',
	@PATH_HD NVARCHAR(2000) = ''
AS
UPDATE  CAU_TRUC_THIET_BI_TS_GSTT
SET 
	GIA_TRI_TREN=@GIA_TRI_TREN,
	GIA_TRI_DUOI=@GIA_TRI_DUOI,
	CHU_KY_DO=@CHU_KY_DO,
	MS_DV_TG=@MS_DV_TG,
	TEN_GT=@TEN_GT,
	ACTIVE=@ACTIVE,
	DAT = @DAT,
	THOI_GIAN=@THOI_GIAN ,
	CACH_THUC_HIEN = @CACH_THUC_HIEN, 
	TIEU_CHUAN_KT = @TIEU_CHUAN_KT,
	YEU_CAU_NS = @YEU_CAU_NS,
	YEU_CAU_DUNG_CU = @YEU_CAU_DUNG_CU,
	PATH_HD = @PATH_HD
WHERE 
	MS_MAY=@MS_MAY AND MS_BO_PHAN=@MS_BO_PHAN AND  MS_TS_GSTT=@MS_TS_GSTT AND MS_TT = @MS_TT
