--SP_Y_GET_SLDHDX_HT 'PN-1706-0199','PX-1706-0011','DIE-PM-005', 'DX-1706-0050'

ALTER procedure [dbo].[SP_Y_GET_SLDHDX_HT]
@MS_DH_NHAP_PT NVARCHAR (14),
@MS_DDH NVARCHAR (50),
@MS_PT NVARCHAR (25),
@MS_CHI_TIET_DH NVARCHAR (50)
AS
BEGIN
	DECLARE @SL_NHAP NUMERIC (18,2)
	SET @SL_NHAP = 0 
	DECLARE @DE_XUAT BIT 
	SELECT TOP 1 @DE_XUAT = DDH_DXMH
	FROM dbo.THONG_TIN_CHUNG
	IF (@DE_XUAT = 1 ) 
	BEGIN		
		SELECT @SL_NHAP = CASE WHEN SUM(SL_THUC_NHAP) IS NULL THEN 0 ELSE SUM(SL_THUC_NHAP) END 
		FROM dbo.IC_DON_HANG_NHAP_VAT_TU WHERE MS_DH_NHAP_PT = @MS_DH_NHAP_PT AND MS_PT = @MS_PT
		AND MS_CHI_TIET_DH = @MS_CHI_TIET_DH
		
		SELECT ISNULL(SUM(DON_DAT_HANG_CHI_TIET.SL_DAT_HANG) - CASE 
			WHEN SUM(dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP) IS NULL THEN 0 
			ELSE SUM(dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP) END, 0)   + @SL_NHAP
		FROM dbo.IC_DON_HANG_NHAP INNER JOIN
		dbo.IC_DON_HANG_NHAP_VAT_TU ON 
		dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT RIGHT OUTER JOIN
		(
			SELECT MS_DON_DAT_HANG,MS_PT,SUM (SL_DAT_HANG) AS SL_DAT_HANG,MS_CHI_TIET_DH
			FROM dbo.DON_DAT_HANG_CHI_TIET	
			GROUP BY MS_DON_DAT_HANG,MS_PT,MS_CHI_TIET_DH
		)DON_DAT_HANG_CHI_TIET ON dbo.IC_DON_HANG_NHAP.MS_DDH = DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG AND 
		dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = DON_DAT_HANG_CHI_TIET.MS_PT AND 
		dbo.IC_DON_HANG_NHAP_VAT_TU.MS_CHI_TIET_DH = DON_DAT_HANG_CHI_TIET.MS_CHI_TIET_DH
		WHERE DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG = @MS_DDH AND DON_DAT_HANG_CHI_TIET .MS_PT = @MS_PT
		AND DON_DAT_HANG_CHI_TIET.MS_CHI_TIET_DH = @MS_CHI_TIET_DH
	END 
	ELSE 
	BEGIN		
		SELECT @SL_NHAP = CASE WHEN SUM(SL_THUC_NHAP) IS NULL THEN 0 ELSE SUM(SL_THUC_NHAP) END 
		FROM dbo.IC_DON_HANG_NHAP_VAT_TU WHERE MS_DH_NHAP_PT = @MS_DH_NHAP_PT AND MS_PT = @MS_PT

		SELECT ISNULL(SUM(dbo.DE_XUAT_MUA_HANG_CHI_TIET.SL_DA_DUYET) - CASE 
			WHEN SUM(dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP) IS NULL THEN 0 
			ELSE SUM(dbo.IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP) END , 0) + @SL_NHAP
		FROM dbo.IC_DON_HANG_NHAP INNER JOIN
		dbo.IC_DON_HANG_NHAP_VAT_TU ON 
		dbo.IC_DON_HANG_NHAP.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT RIGHT OUTER JOIN
		dbo.DE_XUAT_MUA_HANG_CHI_TIET ON dbo.IC_DON_HANG_NHAP_VAT_TU.MS_PT = dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT AND 
		dbo.IC_DON_HANG_NHAP.MS_DDH = dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT
		WHERE dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT = @MS_DDH AND dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT = @MS_PT
	END
END
