
ALTER proc [dbo].[GetNHOM_MAY]
	@MS_LOAI_MAY NVARCHAR(20),
	@NNGU int
AS
SELECT NHOM_MAY.MS_NHOM_MAY, TEN_NHOM_MAY,TEN_NHOM_MAY_ANH,NHOM_MAY.MS_LOAI_MAY,NHOM_MAY.GHI_CHU, TEN_LOAI_MAY FROM NHOM_MAY INNER JOIN LOAI_MAY ON NHOM_MAY.MS_LOAI_MAY=LOAI_MAY.MS_LOAI_MAY
WHERE LOAI_MAY.MS_LOAI_MAY =@MS_LOAI_MAY OR @MS_LOAI_MAY = '-1'
