
ALTER procedure [dbo].[GetYEU_CAU_NSD] 
	@NGUOI_YEU_CAU NVARCHAR(50),
	@TU_NGAY_TMP NVARCHAR(10),
	@DEN_NGAY_TMP  NVARCHAR(10),
	@USERNAME NVARCHAR(50), 
	@NNgu int
AS
DECLARE @TU_NGAY DATETIME
DECLARE @DEN_NGAY DATETIME
IF  @TU_NGAY_TMP='  /  /' 
	SET @TU_NGAY=NULL
ELSE
	SET @TU_NGAY=CONVERT(DATETIME, @TU_NGAY_TMP)
IF  @DEN_NGAY_TMP='  /  /' 
	SET @DEN_NGAY=NULL
ELSE
	SET @DEN_NGAY=CONVERT(DATETIME, @DEN_NGAY_TMP)
	
IF @NGUOI_YEU_CAU = ''
	SET @NGUOI_YEU_CAU = '-1'
IF @USERNAME = ''
	SET @USERNAME = '-1'
	
SELECT DISTINCT MS_N_XUONG INTO  #NX_TMP FROM dbo.MashjGetNXUser(@USERNAME, '-1')
	
SELECT DISTINCT A.STT, A.MS_YEU_CAU, A.SO_YEU_CAU, A.NGAY, A.GIO_YEU_CAU, A.NGUOI_YEU_CAU, A.USER_COMMENT, A.NGAY_HOAN_THANH, A.DA_KIEM_TRA,
A.USERNAME, A.REVIEWER_COMMENT, A.USER_LAP, A.EMAIL_NSD, A.MS_N_XUONG, CASE @NNgu WHEN 0 THEN B.Ten_N_XUONG 
WHEN 1 THEN TEN_N_XUONG_A ELSE TEN_N_XUONG_H END AS Ten_N_XUONG ,CONVERT( BIT, ISNULL((SELECT TOP 1 ISNULL(THUC_HIEN_DSX,0) 
FROM YEU_CAU_NSD_CHI_TIET X WHERE THUC_HIEN_DSX = 1 AND A.STT = X.STT),0)) AS THUC_HIEN_DSX
FROM         dbo.YEU_CAU_NSD AS A INNER JOIN
                      dbo.NHA_XUONG AS B ON A.MS_N_XUONG = B.MS_N_XUONG INNER JOIN 
                      #NX_TMP AS NX ON A.MS_N_XUONG = NX.MS_N_XUONG
WHERE     (A.NGAY BETWEEN ISNULL(@TU_NGAY, '20000101') AND ISNULL(@DEN_NGAY, '20990101')) AND (A.NGUOI_YEU_CAU = @NGUOI_YEU_CAU) OR
                      (A.NGAY BETWEEN ISNULL(@TU_NGAY, '20000101') AND ISNULL(@DEN_NGAY, '20990101')) AND (@NGUOI_YEU_CAU = '-1')
ORDER BY A.STT DESC
