
ALTER proc [dbo].[AddNGUOI_DAI_DIEN]
	@MS_KH VARCHAR(20),
	@TEN_NDD NVARCHAR(100),
	@CHUC_VU NVARCHAR(50),
	@DI_DONG CHAR(10),
	@TEL CHAR(10),
	@HOME_TEL CHAR(10),
	@EMAIL NVARCHAR(50),
	@GHI_CHU NVARCHAR(100),
	@HOME_ADD NVARCHAR(120)
AS
INSERT INTO NGUOI_DAI_DIEN (
	MS_KH,
	TEN_NDD,
	CHUC_VU,
	DI_DONG,
	TEL,
	HOME_TEL,
	EMAIL,
	GHI_CHU,
	HOME_ADD
)
values (
	@MS_KH,
	@TEN_NDD,
	@CHUC_VU,
	@DI_DONG,
	@TEL,
	@HOME_TEL,
	@EMAIL,
	@GHI_CHU,
	@HOME_ADD
)
SELECT SCOPE_IDENTITY()