
--EXEC GetDanhSachVTPTTieuHao '01/01/2017','01/01/2018', '-1',-1, '-1','-1', 'ADMIN' ,0,1, '-1'


ALTER PROC [dbo].[GetDanhSachVTPTTieuHao] 
	@NgayBD DATETIME,
	@NgayKT DATETIME,
	@MsNXuong nvarchar(50),
	@NHeThong int,
	@LoaiMay NVARCHAR (20),	
	@May NVARCHAR (20),	
	@UserName NVARCHAR(255),	
	@NNgu int,
	@TuyChon int,
	@MS_LOAI_BT NVARCHAR(MAX)
AS 

DECLARE @PBT_KHO BIT
SELECT @PBT_KHO = PBT_KHO FROM THONG_TIN_CHUNG 

--Lay may theo nha xuong, he thong, loai may, may

CREATE TABLE #LBT_TMP([MS_LOAI_BT] NVARCHAR(50), TEN_LOAI_BT NVARCHAR(250))
DECLARE @sSql nvarchar(4000)
IF @MS_LOAI_BT = '-1'
	set @sSql = 'INSERT INTO #LBT_TMP SELECT [MS_LOAI_BT], TEN_LOAI_BT FROM LOAI_BAO_TRI '
ELSE
	set @sSql = 'INSERT INTO #LBT_TMP SELECT [MS_LOAI_BT], TEN_LOAI_BT FROM LOAI_BAO_TRI WHERE [MS_LOAI_BT] IN (' + REPLACE(@MS_LOAI_BT,'*','''')  + ') '
EXEC (@sSql)



declare @DNGAY DATETIME = GETDATE()
SELECT * INTO #MAY_USER
	FROM [dbo].[MGetMayUserNgay](@DNGAY,@USERNAME,@MsNXuong,@NHeThong,-1,@LoaiMay,'-1',@May,@NNgu)


SELECT  T4.MS_PT,SUM(ISNULL(T2.SL_VT, 0)) AS SL,  SUM(ISNULL(T1.DON_GIA,0) * ISNULL(T2.SL_VT, 0)) as TONG_TIEN, T7.TEN_LOAI_BT INTO #SL_VT
FROM         dbo.IC_DON_HANG_NHAP_VAT_TU AS T1 INNER JOIN
				  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT AND T1.MS_PT = T2.MS_PT INNER JOIN
				  dbo.IC_DON_HANG_XUAT AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT INNER JOIN
				  PHIEU_BAO_TRI T6 ON T3.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI
				  INNER JOIN #LBT_TMP T7 ON T6.MS_LOAI_BT = T7.MS_LOAI_BT INNER JOIN
				  dbo.IC_PHU_TUNG AS T4 ON T2.MS_PT = T4.MS_PT INNER JOIN
				  dbo.LOAI_VT AS T5 ON T4.MS_LOAI_VT = T5.MS_LOAI_VT
WHERE     0 = 1
GROUP BY T4.MS_PT,T3.MS_PHIEU_BAO_TRI	,T7.TEN_LOAI_BT

IF @PBT_KHO = 1
BEGIN
	
			SELECT T1.MS_PHIEU_BAO_TRI, MS_PT,SUM(SO_LUONG_THUC_XUAT) AS SL_XUAT, T4.TEN_LOAI_BT INTO #SLXUAT
			FROM IC_DON_HANG_XUAT T1 INNER JOIN IC_DON_HANG_XUAT_VAT_TU T2 ON T1.MS_DH_XUAT_PT = T2.MS_DH_XUAT_PT INNER JOIN PHIEU_BAO_TRI T3 ON T1.MS_PHIEU_BAO_TRI = T3.MS_PHIEU_BAO_TRI 
			INNER JOIN #LBT_TMP T4 ON T3.MS_LOAI_BT = T4.MS_LOAI_BT
			WHERE (ISNULL(T1.MS_PHIEU_BAO_TRI,'') <> '') AND (TINH_TRANG_PBT < 4) AND (CONVERT(DATE,T3.NGAY_LAP) BETWEEN @NgayBD AND @NgayKT)
			GROUP BY T1.MS_PHIEU_BAO_TRI, MS_PT, T4.TEN_LOAI_BT
	
	
	IF @TuyChon = 0
	BEGIN	
	
			INSERT INTO #SL_VT
			SELECT     T4.MS_PT, SUM(ISNULL(T2.SL_VT, 0)) AS SL, SUM(ISNULL(T1.DON_GIA,0) * ISNULL(T2.SL_VT, 0)) as TONG_TIEN, T8.TEN_LOAI_BT	
			FROM         dbo.IC_DON_HANG_NHAP_VAT_TU AS T1 INNER JOIN
								  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT AND T1.MS_PT = T2.		MS_PT INNER JOIN
								  dbo.IC_DON_HANG_XUAT AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT INNER JOIN
								  dbo.IC_PHU_TUNG AS T4 ON T2.MS_PT = T4.MS_PT INNER JOIN
								  dbo.LOAI_VT AS T5 ON T4.MS_LOAI_VT = T5.MS_LOAI_VT INNER JOIN
								  dbo.PHIEU_BAO_TRI AS T6 ON T3.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
								  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY INNER JOIN #LBT_TMP T8 ON T6.MS_LOAI_BT = T8.MS_LOAI_BT

			WHERE     (T5.VAT_TU = 1) AND (ISNULL(T3.MS_PHIEU_BAO_TRI, N'') <> '') 
					AND (CONVERT(DATE,T6.NGAY_LAP) BETWEEN @NgayBD AND @NgayKT)   AND (T6.TINH_TRANG_PBT > 3)  
			GROUP BY T4.MS_PT, T8.TEN_LOAI_BT	
			UNION 
			SELECT MS_PT,SUM(ISNULL(SL_TT, 0)) AS SL , SUM(ISNULL(DON_GIA,0) * ISNULL(SL_TT, 0)) as TONG_TIEN	, T8.TEN_LOAI_BT		
			FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO T3 INNER JOIN
								  dbo.PHIEU_BAO_TRI AS T6 ON T3.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
								  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY 
								  INNER JOIN #LBT_TMP T8 ON T6.MS_LOAI_BT = T8.MS_LOAI_BT
			WHERE (SL_TT IS NOT NULL AND SL_TT > 0 ) AND (CONVERT(DATE,T6.NGAY_LAP) BETWEEN @NgayBD AND @NgayKT) AND (T6.TINH_TRANG_PBT > 3)
			GROUP BY MS_PT, T8.TEN_LOAI_BT	
			
	END
	ELSE IF @TuyChon = 1
	BEGIN
		
		INSERT INTO #SL_VT
		SELECT B.MS_PT,SUM(ISNULL(A.SL_KH, 0)) - SUM(ISNULL(T2.SL_XUAT, 0)) AS SL,CASE (SUM(ISNULL(DON_GIA,0) * ISNULL(SL_TT, 0))) WHEN 0 THEN NULL ELSE (SUM(ISNULL(DON_GIA,0) * ISNULL(SL_TT, 0))) END  as TONG_TIEN, T8.TEN_LOAI_BT			
		FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A INNER JOIN
							  dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT  INNER JOIN
							  dbo.PHIEU_BAO_TRI AS T6 ON A.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
							  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY
							  INNER JOIN #LBT_TMP T8 ON T6.MS_LOAI_BT = T8.MS_LOAI_BT
							  LEFT JOIN  #SLXUAT T2 ON T2.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI AND A.MS_PT = T2.MS_PT
		WHERE (CONVERT(DATE,T6.NGAY_LAP) BETWEEN @NgayBD AND @NgayKT) AND (T6.TINH_TRANG_PBT < 4)				  
		GROUP BY B.MS_PT ,A.MS_PHIEU_BAO_TRI , T8.TEN_LOAI_BT	
		UNION
		SELECT B.MS_PT,SUM(ISNULL(A.SL_KH, 0)) - SUM(ISNULL(T2.SL_XUAT, 0)) AS SL, NULL as TONG_TIEN, T8.TEN_LOAI_BT		
		FROM         dbo.PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG AS A INNER JOIN
								dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT  INNER JOIN
								dbo.PHIEU_BAO_TRI AS T6 ON A.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
								#MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY
								INNER JOIN #LBT_TMP T8 ON T6.MS_LOAI_BT = T8.MS_LOAI_BT
								LEFT JOIN #SLXUAT T2 ON T2.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI AND A.MS_PT = T2.MS_PT
		WHERE (CONVERT(DATE,T6.NGAY_LAP) BETWEEN @NgayBD AND @NgayKT) AND (T6.TINH_TRANG_PBT < 4)	
		GROUP BY B.MS_PT		, T8.TEN_LOAI_BT	
				
	END			
END 	
ELSE
BEGIN

	IF @TuyChon = 0
	BEGIN	
		INSERT INTO #SL_VT
		SELECT B.MS_PT,SUM(ISNULL(A.SL_TT, 0)) AS SL, SUM(ISNULL(DON_GIA,0) * ISNULL(SL_TT, 0)) as TONG_TIEN, T8.TEN_LOAI_BT			
		FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A INNER JOIN
							  dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT  INNER JOIN
							  dbo.PHIEU_BAO_TRI AS T6 ON A.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
							  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY 
							  INNER JOIN #LBT_TMP T8 ON T6.MS_LOAI_BT = T8.MS_LOAI_BT
		WHERE (CONVERT(DATE,T6.NGAY_LAP) BETWEEN @NgayBD AND @NgayKT) AND (T6.TINH_TRANG_PBT > 3)				  
		GROUP BY B.MS_PT, T8.TEN_LOAI_BT	
	END
	ELSE
	BEGIN
		INSERT INTO #SL_VT	
		SELECT B.MS_PT,SUM(ISNULL(A.SL_KH, 0)) AS SL, CASE (SUM(ISNULL(DON_GIA,0) * ISNULL(SL_TT, 0))) WHEN 0 THEN NULL ELSE (SUM(ISNULL(DON_GIA,0) * ISNULL(SL_TT, 0))) END as TONG_TIEN	, T8.TEN_LOAI_BT		
		FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A INNER JOIN
							  dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT  INNER JOIN
							  dbo.PHIEU_BAO_TRI AS T6 ON A.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
							  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY 
							  INNER JOIN #LBT_TMP T8 ON T6.MS_LOAI_BT = T8.MS_LOAI_BT
		WHERE (CONVERT(DATE,T6.NGAY_LAP) BETWEEN @NgayBD AND @NgayKT) AND (T6.TINH_TRANG_PBT < 4)				  
		GROUP BY B.MS_PT	, T8.TEN_LOAI_BT	
		UNION 
		SELECT B.MS_PT,SUM(ISNULL(A.SL_KH, 0)) AS SL, NULL as TONG_TIEN	, T8.TEN_LOAI_BT	
		FROM         dbo.PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG AS A INNER JOIN
							  dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT  INNER JOIN
							  dbo.PHIEU_BAO_TRI AS T6 ON A.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI INNER JOIN
							  #MAY_USER T7 ON T6.MS_MAY = T7.MS_MAY 
							 INNER JOIN #LBT_TMP T8 ON T6.MS_LOAI_BT = T8.MS_LOAI_BT
		WHERE (CONVERT(DATE,T6.NGAY_LAP) BETWEEN @NgayBD AND @NgayKT) AND (T6.TINH_TRANG_PBT < 4)				  
		GROUP BY B.MS_PT, T8.TEN_LOAI_BT	
	END	
	
END	

SELECT ROW_NUMBER() OVER(ORDER BY T1.MS_PT, MS_PT_CTY, TEN_PT , QUY_CACH)  AS STT , 
T1.MS_PT, MS_PT_CTY, TEN_PT , QUY_CACH, CASE @NNgu WHEN 0 THEN T3.TEN_1 WHEN 1 THEN T3.TEN_2 ELSE T3.TEN_3 END AS TEN_DVT, SL, TONG_TIEN
FROM (SELECT MS_PT , SUM(SL) AS SL, SUM(TONG_TIEN) AS TONG_TIEN FROM #SL_VT GROUP BY MS_PT ) T1 INNER JOIN 
IC_PHU_TUNG T2 ON T1.MS_PT = T2.MS_PT INNER JOIN 
DON_VI_TINH T3 ON T2.DVT = T3.DVT  ORDER BY T1.MS_PT, MS_PT_CTY, TEN_PT , QUY_CACH 
