--EXEC AddPBTCVNhanSuChiTiet_NEW 'WO-201704000006'

ALTER PROC [dbo].[AddPBTCVNhanSuChiTiet_NEW]
	@MS_PHIEU_BAO_TRI nvarchar(20)
AS

UPDATE	PBTCVNSCT SET NGAY = NULL WHERE LEN(NGAY) < 10
UPDATE	PBTCVNSCT SET TU_GIO = NULL WHERE LEN(TU_GIO) < 4
UPDATE	PBTCVNSCT SET DEN_NGAY = NULL WHERE LEN(DEN_NGAY) < 10
UPDATE	PBTCVNSCT SET DEN_GIO = NULL WHERE LEN(DEN_GIO) < 4
UPDATE	PBTCVNSCT SET NGAY_KH = NULL WHERE LEN(NGAY_KH) < 10
UPDATE	PBTCVNSCT SET TU_GIO_KH = NULL WHERE LEN(TU_GIO_KH) < 4
UPDATE	PBTCVNSCT SET DEN_NGAY_KH = NULL WHERE LEN(DEN_NGAY_KH) < 10
UPDATE	PBTCVNSCT SET DEN_GIO_KH = NULL WHERE LEN(DEN_GIO_KH) < 4

INSERT INTO PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU ([MS_PHIEU_BAO_TRI],[MS_CV],[MS_BO_PHAN],[MS_CONG_NHAN])
SELECT [MS_PHIEU_BAO_TRI],[MS_CV],[MS_BO_PHAN],[MS_CONG_NHAN] 
FROM  (SELECT DISTINCT @MS_PHIEU_BAO_TRI  AS MS_PHIEU_BAO_TRI,  MS_CV, MS_BO_PHAN, 
[MS_CONG_NHAN] FROM PBTCVNSCT ) A  WHERE [MS_CONG_NHAN] NOT IN ( SELECT DISTINCT [MS_CONG_NHAN] 
FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU B WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI AND B.MS_CV = A.MS_CV AND B.MS_BO_PHAN = A.MS_BO_PHAN
)



UPDATE PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU SET MS_CONG_NHAN = B.MS_CONG_NHAN FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU A INNER JOIN 
(SELECT DISTINCT @MS_PHIEU_BAO_TRI  AS MS_PHIEU_BAO_TRI, MS_CV, MS_BO_PHAN, 
[MS_CONG_NHAN], MS_CN FROM PBTCVNSCT ) B ON
A.[MS_PHIEU_BAO_TRI] = B.[MS_PHIEU_BAO_TRI] AND A.[MS_CV] = B.[MS_CV] AND A.MS_BO_PHAN = B.MS_BO_PHAN AND 
A.[MS_CONG_NHAN] = B.MS_CN 


INSERT INTO [PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET] ([MS_PHIEU_BAO_TRI],[MS_CV],[MS_BO_PHAN],[MS_CONG_NHAN],[NGAY],
	[TU_GIO],[DEN_NGAY],[DEN_GIO],[HOAN_THANH],[STT], SO_GIO, [NGAY_KH],[TU_GIO_KH],[DEN_NGAY_KH],[DEN_GIO_KH],TONG_GIO_KH)
SELECT [MS_PHIEU_BAO_TRI],[MS_CV],[MS_BO_PHAN],[MS_CONG_NHAN],[NGAY],[TU_GIO],[DEN_NGAY],[DEN_GIO],[HOAN_THANH], STT, SO_GIO,  [NGAY_KH],[TU_GIO_KH],[DEN_NGAY_KH],[DEN_GIO_KH],TONG_GIO_KH
FROM  (
SELECT @MS_PHIEU_BAO_TRI  AS MS_PHIEU_BAO_TRI, MS_CV, MS_BO_PHAN,
[MS_CONG_NHAN],CONVERT(DATETIME,[NGAY],103) AS NGAY ,CONVERT(DATETIME,[TU_GIO],114) AS TU_GIO ,
CONVERT(DATETIME,[DEN_NGAY],103) AS DEN_NGAY,CONVERT(DATETIME,[DEN_GIO],114) AS DEN_GIO,
ISNULL([HOAN_THANH],0) AS [HOAN_THANH] ,[STT] , SO_GIO, CONVERT(DATETIME,[NGAY_KH],103) AS [NGAY_KH] ,CONVERT(DATETIME,[TU_GIO_KH],114) AS TU_GIO_KH ,
CONVERT(DATETIME,[DEN_NGAY_KH],103) AS DEN_NGAY_KH,CONVERT(DATETIME,[DEN_GIO_KH],114) AS DEN_GIO_KH,TONG_GIO_KH
FROM PBTCVNSCT WHERE ISNULL(STT ,0) <> 0) A 
WHERE NOT EXISTS (SELECT * FROM [PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET] B WHERE A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI and
 A.MS_CONG_NHAN = B.MS_CONG_NHAN AND A.STT = B.STT)
 	



SELECT DISTINCT A.MS_PHIEU_BAO_TRI, A.MS_CV, A.MS_BO_PHAN, A.MS_CONG_NHAN, A.NGAY ,A.TU_GIO,A.DEN_NGAY,A.DEN_GIO,A.HOAN_THANH,A.STT, A.MS_CN, A.SO_GIO , A.NGAY_KH ,A.TU_GIO_KH,A.DEN_NGAY_KH,A.DEN_GIO_KH,A.TONG_GIO_KH  INTO #TMP FROM 
(SELECT  @MS_PHIEU_BAO_TRI  AS MS_PHIEU_BAO_TRI, MS_CV, MS_BO_PHAN,[MS_CONG_NHAN],
CONVERT(DATETIME,[NGAY],103) AS NGAY ,CONVERT(DATETIME,[TU_GIO],114) AS TU_GIO ,
CONVERT(DATETIME,[DEN_NGAY],103) AS DEN_NGAY,CONVERT(DATETIME,[DEN_GIO],114) AS DEN_GIO,[HOAN_THANH],[STT], MS_CN, SO_GIO, 

CONVERT(DATETIME,[NGAY_KH],103) AS NGAY_KH ,CONVERT(DATETIME,[TU_GIO_KH],114) AS TU_GIO_KH ,
CONVERT(DATETIME,[DEN_NGAY_KH],103) AS DEN_NGAY_KH,CONVERT(DATETIME,[DEN_GIO_KH],114) AS DEN_GIO_KH, TONG_GIO_KH
FROM PBTCVNSCT WHERE [STT] <> -1 ) A 


UPDATE [PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET]  
   SET 
	   MS_CONG_NHAN = A.MS_CONG_NHAN
      ,[NGAY] = CONVERT(DATETIME,A.NGAY,103)
      ,[TU_GIO] = CONVERT(DATETIME,A.TU_GIO,114)
      ,[DEN_NGAY] = CONVERT(DATETIME,A.DEN_NGAY,103)
      ,[DEN_GIO] = CONVERT(DATETIME,A.DEN_GIO,114)
      ,[HOAN_THANH] = ISNULL(A.HOAN_THANH,0)
      ,[STT] = A.STT
      ,[SO_GIO] = A.SO_GIO
	  ,[NGAY_KH] = CONVERT(DATETIME,A.NGAY_KH,103)
      ,[TU_GIO_KH] = CONVERT(DATETIME,A.TU_GIO_KH,114)
      ,[DEN_NGAY_KH] = CONVERT(DATETIME,A.DEN_NGAY_KH,103)
      ,[DEN_GIO_KH] = CONVERT(DATETIME,A.DEN_GIO_KH,114)
	  ,[TONG_GIO_KH] = A.TONG_GIO_KH
FROM #TMP A 
INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI AND A.MS_CONG_NHAN = B.MS_CONG_NHAN 
AND A.MS_CV = B.MS_CV AND A.MS_BO_PHAN = B.MS_BO_PHAN AND A.STT = B.STT


UPDATE [PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET] SET [SO_GIO] = NULL WHERE [SO_GIO] = 0 AND MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
UPDATE [PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET] SET [TONG_GIO_KH] = NULL WHERE [TONG_GIO_KH] = 0 AND MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE ID=OBJECT_ID(N'[PBTCVNSCT]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1) 
	DROP TABLE [PBTCVNSCT]

