--[Get_cuasobaotri] 'HAM-0006', '2016/31/07', '2016/31/07'
ALTER procedure [dbo].[Get_cuasobaotri]
	@MS_MAY NVARCHAR(30),
	@DATE_BT nvarchar(10),
	@DEN_NGAY nvarchar(10)
AS

DECLARE @DATE NVARCHAR(10), @DATE_tmp NVARCHAR(10), @TO_DATE NVARCHAR(10), @TO_DATE_tmp NVARCHAR(10),@THU NVARCHAR(10), @THU_tmp NVARCHAR(10),@FROM_HOUR NVARCHAR(5), @TO_HOUR NVARCHAR(5), @I INT, @TO_HOUR_tmp NVARCHAR(5)
DECLARE @CURSOR_THOI_GIAN_TRONG AS CURSOR
--T?o b?ng t?m
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[THOI_GIAN_TRONG]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[THOI_GIAN_TRONG]
--GO

CREATE TABLE [dbo].[THOI_GIAN_TRONG] (
	[NGAY] [NVARCHAR](10) NULL ,
	[THU] [NVARCHAR](10) NULL ,
	[FROM_HOUR] [NVARCHAR](5) NULL ,
	[TO_HOUR] [NVARCHAR](5) NULL 
) 
--GO
if NOT exists(SELECT MS_MAY FROM LICH_TAU_THIET_BI WHERE MS_MAY = @MS_MAY AND CONVERT(DATETIME,TU_NGAY,103) >=CONVERT(DATETIME,@DATE_BT,103) AND CONVERT(DATETIME,TU_NGAY,103)<=CONVERT(DATETIME,@DEN_NGAY,103)) 
BEGIN
SET @TO_DATE_tmp=@DATE_BT
	while convert(datetime,@TO_DATE_tmp,103) <= convert(datetime,@DEN_NGAY,103)
	BEGIN
		INSERT INTO THOI_GIAN_TRONG(NGAY,THU,FROM_HOUR,TO_HOUR) VALUES (convert(nvarchar(10) ,convert(datetime, @TO_DATE_tmp,103), 103) ,DATENAME(WEEKDAY,CONVERT(DATETIME,@TO_DATE_tmp,103)) ,'00:00','23:59')
		SET @TO_DATE_tmp =convert(nvarchar(10),DATEADD(DAY,1, CONVERT(DATETIME,@TO_DATE_tmp,103)),103)
	END	
END
ELSE
BEGIN
SET @CURSOR_THOI_GIAN_TRONG = CURSOR SCROLL  FOR 
	SELECT CONVERT(NVARCHAR(10),TU_NGAY,103), CONVERT(NVARCHAR(10),DEN_NGAY,103), DATENAME(WEEKDAY,TU_NGAY) AS THU, CONVERT(NVARCHAR(5),TU_GIO,114), CONVERT(NVARCHAR(5),DEN_GIO,114)
	FROM LICH_TAU_THIET_BI
	WHERE MS_MAY = @MS_MAY AND CONVERT(DATETIME,TU_NGAY,103) >=CONVERT(DATETIME,@DATE_BT,103) AND CONVERT(DATETIME,TU_NGAY,103)<=CONVERT(DATETIME,@DEN_NGAY,103)
	-- >=CASE WHEN CONVERT(DATETIME,@DATE_BT,103) >= convert(datetime,convert(nvarchar(10),getdate(),103),103) THEN CONVERT(DATETIME,@DATE_BT,103)
	--ELSE convert(datetime,convert(nvarchar(10),getdate(),103),103) END
	ORDER BY TU_NGAY,TU_GIO

SET @I = 1 
-- M? cursor
OPEN @CURSOR_THOI_GIAN_TRONG

FETCH NEXT FROM @CURSOR_THOI_GIAN_TRONG
INTO @DATE,@TO_DATE,@THU,@FROM_HOUR,@TO_HOUR

WHILE @@FETCH_STATUS = 0
BEGIN
IF @I = 1 
BEGIN --FOR I=1
	SET @TO_DATE_tmp=@DATE_BT
	while convert(datetime,@TO_DATE_tmp,103) < convert(datetime,@DATE,103)
	BEGIN
		INSERT INTO THOI_GIAN_TRONG(NGAY,THU,FROM_HOUR,TO_HOUR) VALUES (convert(nvarchar(10) ,convert(datetime, @TO_DATE_tmp,103), 103),DATENAME(WEEKDAY,CONVERT(DATETIME,@TO_DATE_tmp,103)) ,'00:00','23:59')
		SET @TO_DATE_tmp =convert(nvarchar(10),DATEADD(DAY,1, CONVERT(DATETIME,@TO_DATE_tmp,103)),103)
	END
--
	IF CONVERT(DATETIME,@FROM_HOUR,114) >CONVERT(DATETIME, '00:00',114)
	BEGIN
		INSERT INTO THOI_GIAN_TRONG(NGAY,THU,FROM_HOUR,TO_HOUR) VALUES (convert(nvarchar(10) ,convert(datetime, @DATE,103), 103),@THU,'00:00',@FROM_HOUR)
	END
END
ELSE --FOR I>1
BEGIN
	if convert(datetime,@TO_DATE_tmp,103) = CONVERT(DATETIME,@DATE,103) 
	BEGIN
		IF CONVERT(DATETIME,@FROM_HOUR,114)>CONVERT(DATETIME,@TO_HOUR_tmp,114)
		BEGIN
			INSERT INTO THOI_GIAN_TRONG(NGAY,THU,FROM_HOUR,TO_HOUR) VALUES (convert(nvarchar(10) ,convert(datetime, @TO_DATE_tmp,103), 103),DATENAME(WEEKDAY,CONVERT(DATETIME,@TO_HOUR_tmp,103)) ,@TO_HOUR_tmp,@FROM_HOUR)
		END
	END
	ELSE --NEu tu ngay lon hon den ngay
	begin
		if convert(datetime,@TO_DATE_tmp,103) < CONVERT(DATETIME,@TO_DATE,103) 
		BEGIN
			IF CONVERT(DATETIME,@TO_HOUR_tmp,114)<CONVERT(DATETIME,'23:59',114)
			BEGIN
				INSERT INTO THOI_GIAN_TRONG(NGAY,THU,FROM_HOUR,TO_HOUR) VALUES (convert(nvarchar(10) ,convert(datetime, @TO_DATE_tmp,103), 103),DATENAME(WEEKDAY,CONVERT(DATETIME,@TO_DATE_tmp,103)) ,@TO_HOUR_tmp,'23:59')
			END 
			SET @TO_DATE_tmp =convert(nvarchar(10),DATEADD(DAY,1, CONVERT(DATETIME,@TO_DATE_tmp,103)),103)
			while convert(datetime,@TO_DATE_tmp,103) < convert(datetime,@DATE,103)
			BEGIN
				INSERT INTO THOI_GIAN_TRONG(NGAY,THU,FROM_HOUR,TO_HOUR) VALUES (convert(nvarchar(10) ,convert(datetime, @TO_DATE_tmp,103), 103),DATENAME(WEEKDAY,CONVERT(DATETIME,@TO_DATE_tmp,103)) ,'00:00','23:59')
				SET @TO_DATE_tmp =convert(nvarchar(10),DATEADD(DAY,1, CONVERT(DATETIME,@TO_DATE_tmp,103)),103)
			END
			IF CONVERT(DATETIME,@FROM_HOUR,114)>CONVERT(DATETIME,'00:00',114) --AND CONVERT(DATETIME,@FROM_HOUR,114)<CONVERT(DATETIME,'23:59',114)
			BEGIN	
				INSERT INTO THOI_GIAN_TRONG(NGAY,THU,FROM_HOUR,TO_HOUR) VALUES (convert(nvarchar(10) ,convert(datetime, @TO_DATE_tmp,103), 103),DATENAME(WEEKDAY,CONVERT(DATETIME,@TO_DATE_tmp,103)) ,'00:00',@FROM_HOUR)
			END
		END
	end 
END
SET @DATE_tmp=@DATE
SET @THU_tmp=@THU
SET @TO_DATE_tmp = @TO_DATE
SET @TO_HOUR_tmp=@TO_HOUR
SET @I=@I+1
FETCH NEXT FROM @CURSOR_THOI_GIAN_TRONG
INTO @DATE,@TO_DATE,@THU,@FROM_HOUR,@TO_HOUR
END
PRINT @TO_HOUR_tmp +' ' + @TO_DATE_tmp
IF CONVERT(DATETIME,@TO_HOUR_tmp,114) < CONVERT(DATETIME,'23:59',114)
BEGIN
	INSERT INTO THOI_GIAN_TRONG(NGAY,THU,FROM_HOUR,TO_HOUR) VALUES (convert(nvarchar(10) ,convert(datetime, @TO_DATE,103), 103),DATENAME(WEEKDAY,CONVERT(DATETIME,@TO_DATE,103)) ,@TO_HOUR_tmp,'23:59')
END
SET @TO_DATE =convert(nvarchar(10),DATEADD(DAY,1, CONVERT(DATETIME,@TO_DATE,103)),103)
while convert(datetime,@TO_DATE,103) <= convert(datetime,@DEN_NGAY,103)
BEGIN
	INSERT INTO THOI_GIAN_TRONG(NGAY,THU,FROM_HOUR,TO_HOUR) VALUES (convert(nvarchar(10) ,convert(datetime, @TO_DATE,103), 103),DATENAME(WEEKDAY,CONVERT(DATETIME,@TO_DATE,103)) ,'00:00','23:59')
	SET @TO_DATE =convert(nvarchar(10),DATEADD(DAY,1, CONVERT(DATETIME,@TO_DATE,103)),103)
END
-- Ðóng cursor 
CLOSE @CURSOR_THOI_GIAN_TRONG
DEALLOCATE @CURSOR_THOI_GIAN_TRONG
END
SELECT NGAY, THU, FROM_HOUR,TO_HOUR FROM THOI_GIAN_TRONG
-- Xóa b?ng t?m
drop table [dbo].[THOI_GIAN_TRONG]
