
ALTER proc [dbo].[UpdateUSERNAME]
	@USERNAME NVARCHAR(50),
	@GROUP_ID INT,
	@FULL_NAME NVARCHAR(50),
	@PASS NVARCHAR(16),
	@DESCRIPTION NVARCHAR(100)
	
AS

UPDATE USERS  SET
	USERNAME = @USERNAME,
	GROUP_ID = @GROUP_ID,
	FULL_NAME = @FULL_NAME,
	PASS = @PASS,
	DESCRIPTION = @DESCRIPTION
WHERE
	USERNAME = @USERNAME


DELETE AspNetUserRoles  WHERE UserId = (SELECT ID FROM AspNetUsers  WHERE USERNAME=@USERNAME)
DELETE AspNetUserLogins WHERE UserId = (SELECT ID FROM AspNetUsers  WHERE USERNAME=@USERNAME)
DELETE AspNetUserClaims WHERE UserId = (SELECT ID FROM AspNetUsers  WHERE USERNAME=@USERNAME)
DELETE AspNetUsers  WHERE USERNAME=@USERNAME