
ALTER proc [dbo].[DeleteUSER]
	@USERNAME NVARCHAR(50)
AS

DELETE FROM USERS WHERE USERNAME=@USERNAME
DELETE AspNetUserRoles  WHERE UserId = (SELECT ID FROM AspNetUsers  WHERE USERNAME=@USERNAME)
DELETE AspNetUserLogins WHERE UserId = (SELECT ID FROM AspNetUsers  WHERE USERNAME=@USERNAME)
DELETE AspNetUserClaims WHERE UserId = (SELECT ID FROM AspNetUsers  WHERE USERNAME=@USERNAME)
DELETE AspNetUsers  WHERE USERNAME=@USERNAME
