--exec MGetKhoDSPT 'AIC-PU-001'
ALTER PROC [dbo].[MGetKhoDSPT]
	@MS_PT NVARCHAR(50)
as	
SELECT  CONVERT(BIT,0) AS  CHON , A.MS_KHO, TEN_KHO, (SELECT TOP 1 MS_VI_TRI FROM IC_PHU_TUNG_KHO WHERE MS_PT = @MS_PT AND MS_KHO = A.MS_KHO ) MS_VI_TRI , CONVERT(FLOAT, 0) AS TON_TOI_THIEU, 
CONVERT(FLOAT,0) AS TON_KHO_MAX , CONVERT(INT,0) AS SO_NGAY_DAT_MUA_HANG ,CONVERT(NVARCHAR(100), '')  AS GHI_CHU FROM dbo.IC_KHO A 
ORDER BY TEN_KHO


