
ALTER procedure [dbo].[H_MAY_BPCPs] 
	@MS_BP_CHIU_PHI INT,
	@UserName NVARCHAR(50)

AS

DECLARE @NgayMax DATETIME

SELECT @NgayMax = DATEADD(DAY,1, MAX(ISNULL(NGAY_NHAP,GETDATE())))  FROM
(
	SELECT MAX(NGAY_NHAP) AS NGAY_NHAP FROM MAY_NHA_XUONG UNION 
	SELECT MAX(NGAY_NHAP) AS NGAY_NHAP FROM MAY_HE_THONG UNION 
	SELECT MAX(NGAY_NHAP) AS NGAY_NHAP FROM MAY_BO_PHAN_CHIU_PHI 
) A


SELECT DISTINCT MS_MAY,TEN_MAY INTO #MAY FROM dbo.MGetMayUserNgay(@NgayMax, @UserName, '-1', - 1, @MS_BP_CHIU_PHI, '-1', '-1', '-1', 1) 

SELECT        TMP.MS_MAY, T1.TEN_MAY, TMP.MS_BP_CHIU_PHI, TMP.NGAY_NHAP
FROM            (SELECT        dbo.MAY_BO_PHAN_CHIU_PHI.MS_MAY, dbo.MAY_BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI, MAX(dbo.MAY_BO_PHAN_CHIU_PHI.NGAY_NHAP) AS NGAY_NHAP
                          FROM            dbo.MAY_BO_PHAN_CHIU_PHI INNER JOIN
                                                    dbo.MAY_BPCP_NGAY_MAX ON dbo.MAY_BO_PHAN_CHIU_PHI.MS_MAY = dbo.MAY_BPCP_NGAY_MAX.MS_MAY AND 
                                                    dbo.MAY_BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI = dbo.MAY_BPCP_NGAY_MAX.MS_BP_CHIU_PHI
                          GROUP BY dbo.MAY_BO_PHAN_CHIU_PHI.MS_MAY, dbo.MAY_BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI) AS TMP INNER JOIN
                         #MAY AS T1 ON TMP.MS_MAY = T1.MS_MAY
WHERE        (TMP.MS_BP_CHIU_PHI = @MS_BP_CHIU_PHI)