IF  EXISTS (SELECT * FROM sys.objects WHERE type in (N'FN', N'IF', N'TF', N'FS', N'FT') AND name = 'MashjGetDCUser')
   exec('DROP FUNCTION  dbo.MashjGetDCUser ')
GO


--SELECT * FROM [dbo].[MashjGetDCUser]('ADMIN',16)

CREATE FUNCTION [dbo].[MashjGetDCUser]
(
	@USERNAME NVARCHAR(50),
	@MS_HE_THONG INT
)
returns  @HTTMP TABLE (MS_HE_THONG NVARCHAR(50))
as
begin
DECLARE @HT TABLE (MS_HE_THONG NVARCHAR(50))
IF  @MS_HE_THONG = '-1'
	INSERT INTO @HT (MS_HE_THONG)
	SELECT MS_HE_THONG FROM HE_THONG 
ELSE
BEGIN
	
	DECLARE @NewInsertCount int;
	
	INSERT INTO @HT(MS_HE_THONG)
	SELECT MS_HE_THONG FROM HE_THONG  WHERE MS_HE_THONG = @MS_HE_THONG ;
	SET @NewInsertCount = @@ROWCOUNT;
	WHILE @NewInsertCount > 0
	BEGIN
		INSERT INTO @HT(MS_HE_THONG) 
			SELECT MS_HE_THONG FROM HE_THONG  WHERE EXISTS
				   (SELECT MS_HE_THONG  FROM @HT A
					WHERE HE_THONG.MS_CHA = A.MS_HE_THONG)
			 AND  NOT EXISTS
				  (SELECT MS_HE_THONG FROM @HT B
				   WHERE HE_THONG.MS_HE_THONG  = B.MS_HE_THONG);
			 SET @NewInsertCount = @@ROWCOUNT;
	END
END	

IF @USERNAME = '-1'
	INSERT INTO @HTTMP(MS_HE_THONG)
	SELECT MS_HE_THONG FROM @HT 
ELSE	
	INSERT INTO @HTTMP(MS_HE_THONG)
	SELECT MS_HE_THONG FROM @HT A WHERE MS_HE_THONG IN ( SELECT MS_HE_THONG
	FROM dbo.NHOM INNER JOIN dbo.NHOM_HE_THONG ON dbo.NHOM.GROUP_ID = dbo.NHOM_HE_THONG.GROUP_ID 
	INNER JOIN dbo.USERS ON dbo.NHOM.GROUP_ID = dbo.USERS.GROUP_ID 
	WHERE dbo.USERS.USERNAME =@USERNAME )

return 
end

