IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetDieuDoGSTT')
   exec('CREATE PROCEDURE spGetDieuDoGSTT AS BEGIN SET NOCOUNT ON; END')
GO

-- spGetDieuDoGSTT

ALTER PROC [dbo].spGetDieuDoGSTT
	@IdDD bigint = 14,  
	@UName NVARCHAR(50) = 'admin',
	@TNgay DATE = '01/01/2015',
	@DNgay DATE = '01/01/2020',
	@NNgu INT = 0,
	@MsNXuong NVARCHAR(50) = '-1',
	@MsHeThong INT = -1,
	@Action INT = 0
AS
BEGIN 

set fmtonly off 
SELECT DISTINCT MS_MAY,MS_N_XUONG,MS_HE_THONG,MS_LOAI_MAY,MS_NHOM_MAY, MUC_UU_TIEN INTO #MAY_USER FROM dbo.MGetMayUserNgay(@DNgay, @UName, @MsNXuong, @MsHeThong,-1, '-1', '-1', '-1', @NNgu)

IF @Action = 0
BEGIN 
SELECT   CONVERT(BIT,1) AS CHON,     T1.MS_MAY, T2.TEN_BO_PHAN, T3.TEN_TS_GSTT,T1.NGAY_KT_KE, T1.SO_GIO_KH, T1.SO_NGUOI_DD, T5.TEN_UU_TIEN,  T1.NGAY_DD, T1.MS_BO_PHAN, T1.MS_TS_GSTT,MS_N_XUONG,MS_HE_THONG, MS_LOAI_MAY, MS_NHOM_MAY, T1.STT, T1.MS_TT,T4.MUC_UU_TIEN,@IdDD AS K1,@UName AS K2, @TNgay AS K3, @DNgay AS K4, @MsNXuong AS K5, @MsHeThong AS K6
FROM            dbo.DIEU_DO_GSTT AS T1 INNER JOIN
                         dbo.CAU_TRUC_THIET_BI AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_BO_PHAN = T2.MS_BO_PHAN INNER JOIN
                         dbo.THONG_SO_GSTT AS T3 ON T1.MS_TS_GSTT = T3.MS_TS_GSTT INNER JOIN
                         #MAY_USER AS T4 ON T2.MS_MAY = T4.MS_MAY LEFT JOIN
                         dbo.MUC_UU_TIEN AS T5 ON T4.MUC_UU_TIEN = T5.MS_UU_TIEN
WHERE T1.ID_DD = @IdDD
ORDER BY T1.NGAY_KT_KE,T1.MS_MAY, T2.TEN_BO_PHAN
END

IF @Action = 1
BEGIN
SELECT        T4.MS_TS_GSTT, CASE @NNgu WHEN 0 THEN T4.TEN_TS_GSTT WHEN 1 THEN T4.TEN_TS_GSTT_ANH ELSE T4.TEN_TS_GSTT_HOA END AS TEN_TS_GSTT
, T4.MS_DV_DO, T4.LOAI_TS, T4.GHI_CHU, T4.MS_BP_GSTT, T4.DUONG_DAN, T4.MS_LOAI_CV, T4.CACH_THUC_HIEN, T4.THOI_GIAN
INTO #THONG_SO_GSTT
FROM            dbo.NHOM_LOAI_CONG_VIEC AS T2 INNER JOIN
                         dbo.USERS AS T3 ON T2.GROUP_ID = T3.GROUP_ID INNER JOIN
                         dbo.THONG_SO_GSTT AS T4 ON T2.MS_LOAI_CV = T4.MS_LOAI_CV
WHERE (USERNAME = @UName) 
UNION 
SELECT * FROM
(
SELECT        T4.MS_TS_GSTT, case @NNgu when 0 then T4.TEN_TS_GSTT when 1 then T4.TEN_TS_GSTT_ANH else T4.TEN_TS_GSTT_HOA END AS TEN_TS_GSTT

, T4.MS_DV_DO, T4.LOAI_TS, T4.GHI_CHU, T4.MS_BP_GSTT, T4.DUONG_DAN, ISNULL(T4.MS_LOAI_CV,-99) AS MS_LOAI_CV,  T4.CACH_THUC_HIEN, T4.THOI_GIAN
FROM            dbo.THONG_SO_GSTT AS T4 
WHERE  (ISNULL(MS_LOAI_CV,'') = '')
) A


SELECT T2.STT , T1.MS_MAY , T1.MS_TS_GSTT , T1.MS_BO_PHAN,T1.MS_TT , T1.NGAY_KT_CUOI 
into #GIAM_SAT_TINH_TRANG_TS_TMP
FROM (
	SELECT     dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT,dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT, dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN, 
	MAX(GIAM_SAT_TINH_TRANG_TMP.NGAY_KT) AS NGAY_KT_CUOI
	FROM         dbo.GIAM_SAT_TINH_TRANG_TS INNER JOIN
	(
		SELECT     STT, CONVERT(DATETIME, CONVERT(NVARCHAR(10), NGAY_KT, 101) + ' '+ CONVERT(NVARCHAR(8), GIO_KT, 108)) AS NGAY_KT
		FROM          dbo.GIAM_SAT_TINH_TRANG AS T
	) AS GIAM_SAT_TINH_TRANG_TMP ON 
		dbo.GIAM_SAT_TINH_TRANG_TS.STT = GIAM_SAT_TINH_TRANG_TMP.STT
		GROUP BY dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT, dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN,dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT 
) T1 INNER JOIN 
	(
SELECT     dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT, dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT, 
	MAX(GIAM_SAT_TINH_TRANG_TMP.NGAY_KT) AS NGAY_KT_CUOI, dbo.GIAM_SAT_TINH_TRANG_TS.STT
	FROM         dbo.GIAM_SAT_TINH_TRANG_TS INNER JOIN
	(SELECT     STT, CONVERT(DATETIME, CONVERT(NVARCHAR(10), NGAY_KT, 101) + ' '+ CONVERT(NVARCHAR(8), GIO_KT, 108)) AS NGAY_KT
	FROM          dbo.GIAM_SAT_TINH_TRANG AS T) AS GIAM_SAT_TINH_TRANG_TMP ON 
	dbo.GIAM_SAT_TINH_TRANG_TS.STT = GIAM_SAT_TINH_TRANG_TMP.STT
	GROUP BY dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT, dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN, 
	dbo.GIAM_SAT_TINH_TRANG_TS.STT,dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT
) T2 ON T1.MS_MAY  = T2.MS_MAY AND T1.MS_TS_GSTT = T2.MS_TS_GSTT AND 
T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.NGAY_KT_CUOI = T2.NGAY_KT_CUOI and T1.MS_TT = T2.MS_TT

--DINH TINH dbo.MGetListGSTTThongSo(GSTT_TMP.STT,GSTT_TMP.MS_MAY,GSTT_TMP.MS_TS_GSTT,GSTT_TMP.MS_BO_PHAN,GSTT_TMP.MS_TT) AS TEN_GIA_TRI,

SELECT DISTINCT CTTB.MS_MAY,
CASE @NNgu WHEN 0 THEN CTTB.TEN_BO_PHAN WHEN 1 THEN CTTB.TEN_BO_PHAN_ANH ELSE CTTB.TEN_BO_PHAN_HOA END 
AS TEN_BO_PHAN ,GSTT.TEN_TS_GSTT, 
CONVERT(VARCHAR(8), CTTB_GSTT.CHU_KY_DO) + ' ' + CASE @NNgu WHEN 1 THEN dbo.DON_VI_THOI_GIAN.TEN_DV_TG_ANH 
WHEN 2 THEN dbo.DON_VI_THOI_GIAN.TEN_DV_TG_HOA ELSE dbo.DON_VI_THOI_GIAN.TEN_DV_TG END AS CHU_KY_DO, GSTT_TMP.NGAY_KT_CUOI, 
 
CASE CTTB_GSTT.MS_DV_TG WHEN 1 THEN DATEADD(DAY, CTTB_GSTT.CHU_KY_DO, 
GSTT_TMP.NGAY_KT_CUOI) WHEN 2 THEN DATEADD(DAY, 
CTTB_GSTT.CHU_KY_DO * 7.25, GSTT_TMP.NGAY_KT_CUOI) 
WHEN 3 THEN DATEADD(MONTH, CTTB_GSTT.CHU_KY_DO, 
GSTT_TMP.NGAY_KT_CUOI) WHEN 4 THEN DATEADD(YEAR, CTTB_GSTT.CHU_KY_DO, 
GSTT_TMP.NGAY_KT_CUOI) END AS NGAY_KT_KE,
GSTT_TMP.MS_TS_GSTT,CTTB.MS_BO_PHAN,CTTB.STT AS STT_BP, GSTT.CACH_THUC_HIEN, GSTT.THOI_GIAN, T8.TEN_UU_TIEN, T1.MUC_UU_TIEN, MS_N_XUONG,MS_HE_THONG, MS_LOAI_MAY, MS_NHOM_MAY,GSTT_TMP.STT,GSTT_TMP.MS_TT
INTO #TEMP_DINH_TINH
FROM         dbo.CAU_TRUC_THIET_BI_TS_GSTT AS CTTB_GSTT INNER JOIN
                      #GIAM_SAT_TINH_TRANG_TS_TMP AS GSTT_TMP ON CTTB_GSTT.MS_MAY = GSTT_TMP.MS_MAY AND CTTB_GSTT.MS_BO_PHAN = GSTT_TMP.MS_BO_PHAN AND 
                      CTTB_GSTT.MS_TS_GSTT = GSTT_TMP.MS_TS_GSTT INNER JOIN
                      #THONG_SO_GSTT GSTT ON CTTB_GSTT.MS_TS_GSTT = GSTT.MS_TS_GSTT INNER JOIN
                      dbo.CAU_TRUC_THIET_BI AS CTTB ON CTTB_GSTT.MS_MAY = CTTB.MS_MAY AND CTTB_GSTT.MS_BO_PHAN = CTTB.MS_BO_PHAN INNER JOIN
                      dbo.DON_VI_THOI_GIAN ON CTTB_GSTT.MS_DV_TG = dbo.DON_VI_THOI_GIAN.MS_DV_TG INNER JOIN
                      #MAY_USER AS T1 ON CTTB.MS_MAY = T1.MS_MAY       LEFT JOIN MUC_UU_TIEN T8 ON T1.MUC_UU_TIEN = T8.MS_UU_TIEN
WHERE GSTT.LOAI_TS = 1 AND CTTB_GSTT.ACTIVE=1
AND CASE CTTB_GSTT.MS_DV_TG 
	WHEN 1 THEN  DATEADD(DAY,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 2 THEN  DATEADD(WEEK,CTTB_GSTT.CHU_KY_DO ,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 3 THEN  DATEADD(MONTH,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 4 THEN  DATEADD(YEAR,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI) END >=  DATEADD(DAY,-1,  @TNgay )
AND CASE CTTB_GSTT.MS_DV_TG 
	WHEN 1 THEN  DATEADD(DAY,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 2 THEN  DATEADD(WEEK,CTTB_GSTT.CHU_KY_DO ,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 3 THEN  DATEADD(MONTH,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 4 THEN  DATEADD(YEAR,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI) END <= @DNgay 


--DINH LUONG

SELECT DISTINCT CONVERT(BIT,0) AS CHON,  
TEMP.MS_MAY,TEMP.TEN_BO_PHAN ,TEMP.TEN_TS_GSTT,TEMP.NGAY_KT_CUOI, TEMP.NGAY_KT_KE,THOI_GIAN, CONVERT(INT, NULL) AS SO_NGUOI_DD, TEN_UU_TIEN,
CONVERT(DATE,NULL) AS NGAY_DD, MS_BO_PHAN, MS_TS_GSTT,MS_N_XUONG,MS_HE_THONG, MS_LOAI_MAY, MS_NHOM_MAY,STT,MS_TT,MUC_UU_TIEN, @IdDD AS K1,@UName AS K2, @TNgay AS K3, @DNgay AS K4, @MsNXuong AS K5, @MsHeThong AS K6
--,T2.MS_BO_PHAN,T2.MS_CV,MS_N_XUONG,MS_HE_THONG,T6.MS_LOAI_MAY,MS_NHOM_MAY, T1.HANG_MUC_ID
--TEMP.CHU_KY_DO,TEMP.NGAY_KT_CUOI,
--	   TEMP.TEN_GIA_TRI,ISNULL(TEMP.DAT,0) DAT,STT_BP, CACH_THUC_HIEN



FROM

(
SELECT *  FROM #TEMP_DINH_TINH
UNION ALL
SELECT  DISTINCT
          CTTB.MS_MAY, 
            
             CASE @NNgu WHEN 0 THEN CTTB.TEN_BO_PHAN WHEN 1 THEN CTTB.TEN_BO_PHAN_ANH ELSE CTTB.TEN_BO_PHAN_HOA END 
AS TEN_BO_PHAN ,
           GSTT.TEN_TS_GSTT, CONVERT(VARCHAR(8), CTTB_GSTT.CHU_KY_DO) 
           + ' '+ CASE @NNgu WHEN 1 THEN dbo.DON_VI_THOI_GIAN.TEN_DV_TG_ANH WHEN 2 THEN dbo.DON_VI_THOI_GIAN.TEN_DV_TG_HOA
           ELSE dbo.DON_VI_THOI_GIAN.TEN_DV_TG END AS CHU_KY_DO, GSTT_TMP.NGAY_KT_CUOI, 
          
          
          CASE CTTB_GSTT.MS_DV_TG WHEN 1 THEN DATEADD(DAY, CTTB_GSTT.CHU_KY_DO, 
          GSTT_TMP.NGAY_KT_CUOI) WHEN 2 THEN DATEADD(DAY, 
          CTTB_GSTT.CHU_KY_DO * 7.25, GSTT_TMP.NGAY_KT_CUOI) 
          WHEN 3 THEN DATEADD(MONTH, CTTB_GSTT.CHU_KY_DO, 
          GSTT_TMP.NGAY_KT_CUOI) WHEN 4 THEN DATEADD(YEAR, CTTB_GSTT.CHU_KY_DO, 
          GSTT_TMP.NGAY_KT_CUOI) END AS NGAY_KT_KE, CTTB_GSTT.MS_TS_GSTT,CTTB.MS_BO_PHAN, CTTB.STT AS STT_BP, GSTT.CACH_THUC_HIEN, GSTT.THOI_GIAN, T8.TEN_UU_TIEN, T1.MUC_UU_TIEN, T1.MS_N_XUONG,MS_HE_THONG, MS_LOAI_MAY, MS_NHOM_MAY,GSTT_TMP.STT,GSTT_TMP.MS_TT
          
FROM         dbo.CAU_TRUC_THIET_BI_TS_GSTT CTTB_GSTT INNER JOIN
      #THONG_SO_GSTT GSTT ON CTTB_GSTT.MS_TS_GSTT = GSTT.MS_TS_GSTT INNER JOIN
      dbo.CAU_TRUC_THIET_BI CTTB ON CTTB_GSTT.MS_MAY = CTTB.MS_MAY AND 
      CTTB_GSTT.MS_BO_PHAN = CTTB.MS_BO_PHAN INNER JOIN
      dbo.DON_VI_THOI_GIAN ON CTTB_GSTT.MS_DV_TG = dbo.DON_VI_THOI_GIAN.MS_DV_TG INNER JOIN
      #MAY_USER T1 ON CTTB.MS_MAY = T1.MS_MAY INNER JOIN
    
      #GIAM_SAT_TINH_TRANG_TS_TMP GSTT_TMP ON CTTB_GSTT.MS_MAY = GSTT_TMP.MS_MAY AND 
      CTTB_GSTT.MS_BO_PHAN = GSTT_TMP.MS_BO_PHAN AND 
      CTTB_GSTT.MS_TS_GSTT = GSTT_TMP.MS_TS_GSTT INNER JOIN
      dbo.GIAM_SAT_TINH_TRANG_TS ON CTTB_GSTT.MS_MAY = dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY AND 
      CTTB_GSTT.MS_BO_PHAN = dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN AND 
      CTTB_GSTT.MS_TS_GSTT = dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT AND 
      CTTB_GSTT.MS_TT = dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT  LEFT JOIN MUC_UU_TIEN T8 ON T1.MUC_UU_TIEN = T8.MS_UU_TIEN
WHERE GSTT.LOAI_TS =0  AND CTTB_GSTT.ACTIVE=1
AND CASE CTTB_GSTT.MS_DV_TG 
	WHEN 1 THEN  DATEADD(DAY,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 2 THEN  DATEADD(DAY,CTTB_GSTT.CHU_KY_DO * 7.25,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 3 THEN  DATEADD(MONTH,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 4 THEN  DATEADD(YEAR,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI) END >= DATEADD(DAY,-1,  @TNgay ) 
AND CASE CTTB_GSTT.MS_DV_TG 
	WHEN 1 THEN  DATEADD(DAY,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 2 THEN  DATEADD(DAY,CTTB_GSTT.CHU_KY_DO * 7.25,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 3 THEN  DATEADD(MONTH,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 4 THEN  DATEADD(YEAR,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI) END <= @DNgay 

)TEMP 
ORDER BY TEMP.NGAY_KT_KE,TEMP.MS_MAY,TEMP.TEN_BO_PHAN 


END

END
