
ALTER proc [dbo].[UpdatePHIEU_BAO_TRI]
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@SO_PHIEU_BAO_TRI NVARCHAR (128),
	@TINH_TRANG_PBT INT,
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT,
	@NGAY_LAP nvarchar(12),
	@GIO_LAP nvarchar(10),
	@LY_DO_BT NVARCHAR(max),
	@MS_UU_TIEN INT,
	@NGAY_BD_KH NVARCHAR(12),
	@NGAY_KT_KH NVARCHAR(12),
	@NGUOI_LAP NVARCHAR(9),
	@USERNAME_NGUOI_LAP NVARCHAR(50),
	@NGUOI_GIAM_SAT NVARCHAR(9),
	@GIO_HONG NVARCHAR(8),
	@NGAY_HONG NVARCHAR(12),
	@MS_NGUYEN_NHAN INT,
	@DEN_GIO_HONG NVARCHAR(8),
	@DEN_NGAY_HONG NVARCHAR(12)
	
AS
UPDATE  PHIEU_BAO_TRI SET
	SO_PHIEU_BAO_TRI = @SO_PHIEU_BAO_TRI,
	TINH_TRANG_PBT=@TINH_TRANG_PBT,
	MS_MAY=@MS_MAY ,
	MS_LOAI_BT=@MS_LOAI_BT,
	NGAY_LAP=CONVERT (DATETIME, @NGAY_LAP,103) ,
	GIO_LAP=CONVERT(DATETIME,@GIO_LAP,114),
	LY_DO_BT=@LY_DO_BT,
	MS_UU_TIEN=@MS_UU_TIEN ,
	NGAY_BD_KH=CONVERT (DATETIME,@NGAY_BD_KH,103) ,
	NGAY_KT_KH=CASE @NGAY_KT_KH  WHEN '' THEN NULL ELSE CONVERT (DATETIME,@NGAY_KT_KH,103)  END ,
	NGUOI_LAP=@NGUOI_LAP ,
	USERNAME_NGUOI_LAP=@USERNAME_NGUOI_LAP ,
	NGUOI_GIAM_SAT=@NGUOI_GIAM_SAT ,
	GIO_HONG=CASE @GIO_HONG WHEN '  :' THEN NULL ELSE CONVERT(DATETIME,@GIO_HONG,114) END ,
	NGAY_HONG=CASE @NGAY_HONG  WHEN '  /  /' THEN NULL ELSE CONVERT (DATETIME,@NGAY_HONG,103)  END,
	DEN_GIO_HONG=CASE @DEN_GIO_HONG WHEN '  :' THEN NULL ELSE CONVERT(DATETIME,@DEN_GIO_HONG,114) END ,
	DEN_NGAY_HONG=CASE @DEN_NGAY_HONG  WHEN '  /  /' THEN NULL ELSE CONVERT (DATETIME,@DEN_NGAY_HONG,103)  END,
	MS_NGUYEN_NHAN=@MS_NGUYEN_NHAN,
	NGAY_BD_KH_GOC=CONVERT (DATETIME,@NGAY_BD_KH,103) 
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI

