
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetStaffByWorkOrder')
   exec('CREATE PROCEDURE GetStaffByWorkOrder AS BEGIN SET NOCOUNT ON; END')
GO
ALTER procedure GetStaffByWorkOrder
	@ID NVARCHAR(20)
AS
	
SELECT A.MS_CONG_NHAN, A.MS_CONG_NHAN AS MS_CN, C.HO + ' ' + C.TEN AS TEN_CONG_NHAN, CONVERT(DATE,A.NGAY_KH) AS NGAY_KH, A.TU_GIO_KH , CONVERT(DATE,A.DEN_NGAY_KH) AS DEN_NGAY_KH, A.DEN_GIO_KH, A.TONG_GIO_KH, CONVERT(DATE,A.NGAY) AS NGAY, A.TU_GIO AS TU_GIO, CONVERT(DATE,A.DEN_NGAY) AS DEN_NGAY, A.DEN_GIO AS DEN_GIO, 0 THUE_NGOAI, A.HOAN_THANH, A.STT, A.SO_GIO FROM  PHIEU_BAO_TRI_NHAN_SU AS A LEFT JOIN PHIEU_BAO_TRI AS B ON A.MS_PHIEU_BAO_TRI = b.MS_PHIEU_BAO_TRI INNER JOIN CONG_NHAN AS C ON  A.MS_CONG_NHAN = C.MS_CONG_NHAN WHERE (B.MS_PHIEU_BAO_TRI = @ID)