
ALTER PROC AddGIAM_SAT_TINH_TRANG_TS
    @STT INT
   ,@MS_MAY	NVARCHAR(30)
   ,@MS_TS_GSTT	NVARCHAR(10)
   ,@MS_BO_PHAN NVARCHAR(50)
   ,@GIA_TRI_DO NVARCHAR(10)
   ,@MS_TT INT
   ,@MS_CACH_TH NVARCHAR(15)
   ,@MS_CONG_NHAN NVARCHAR(9)
   ,@TG_XU_LY DATETIME
   ,@MS_PBT NVARCHAR(50)
   ,@HANG_MUC_ID_KE_HOACH INT
   ,@USERNAME NVARCHAR(50)
   ,@STT_VAN_DE INT
   ,@GHI_CHU NVARCHAR(max)
   ,@TG_TT FLOAT
   ,@THOI_GIAN FLOAT
   ,@CACH_THUC_HIEN NVARCHAR(2000)
   ,@TIEU_CHUAN_KT NVARCHAR(2000)
   ,@YEU_CAU_NS NVARCHAR(1000)
   ,@YEU_CAU_DUNG_CU NVARCHAR(1000)
   ,@PATH_HD NVARCHAR(500)
   ,@ID_DD BIGINT
   ,@DD_SN FLOAT
   ,@DD_NGAY DATE
AS
	INSERT INTO GIAM_SAT_TINH_TRANG_TS(STT,MS_MAY,MS_TS_GSTT,MS_BO_PHAN,MS_TT,GIA_TRI_DO, MS_CACH_TH, MS_CONG_NHAN, TG_XU_LY, MS_PBT, HANG_MUC_ID_KE_HOACH, USERNAME, STT_VAN_DE, GHI_CHU, TG_TT, THOI_GIAN, CACH_THUC_HIEN, TIEU_CHUAN_KT, YEU_CAU_NS, YEU_CAU_DUNG_CU, PATH_HD, ID_DD, DD_SN, DD_NGAY)
	VALUES (@STT,@MS_MAY,@MS_TS_GSTT,@MS_BO_PHAN,@MS_TT,CONVERT(FLOAT, @GIA_TRI_DO), @MS_CACH_TH, @MS_CONG_NHAN, @TG_XU_LY, @MS_PBT, @HANG_MUC_ID_KE_HOACH, @USERNAME, @STT_VAN_DE, @GHI_CHU, @TG_TT, @THOI_GIAN, @CACH_THUC_HIEN, @TIEU_CHUAN_KT, @YEU_CAU_NS, @YEU_CAU_DUNG_CU, @PATH_HD, @ID_DD, @DD_SN, @DD_NGAY)
