
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetPHIEU_BAO_TRI_CPNC_NEW')
   exec('CREATE PROCEDURE GetPHIEU_BAO_TRI_CPNC_NEW AS BEGIN SET NOCOUNT ON; END')
GO


ALTER proc [dbo].[GetPHIEU_BAO_TRI_CPNC_NEW]
	(@MSPBT AS NVARCHAR(20),
	@NGAYNT AS DATETIME)
AS

SELECT      SUM(dbo.PHIEU_BAO_TRI_CONG_VIEC.SO_GIO_PB*dbo.PHIEU_BAO_TRI_CONG_VIEC.DINH_MUC_PB*dbo.TI_GIA_NT.TI_GIA/60) AS TI_GIA, SUM(dbo.PHIEU_BAO_TRI_CONG_VIEC.SO_GIO_PB*dbo.PHIEU_BAO_TRI_CONG_VIEC.DINH_MUC_PB*dbo.TI_GIA_NT.TI_GIA_USD/60) AS TI_GIA_USD
FROM         dbo.NGOAI_TE INNER JOIN
                      dbo.TI_GIA_NT ON dbo.NGOAI_TE.NGOAI_TE = dbo.TI_GIA_NT.NGOAI_TE INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC ON dbo.NGOAI_TE.NGOAI_TE = dbo.PHIEU_BAO_TRI_CONG_VIEC.NGOAI_TE
WHERE     (dbo.TI_GIA_NT.NGAY_NHAP IN
                          (SELECT     TOP (1) NGAY_NHAP
                            FROM          dbo.TI_GIA_NT AS TI_GIA_NT_1
                            WHERE      (NGAY_NHAP <= @NGAYNT)
                            ORDER BY NGAY_NHAP DESC))
	AND dbo.PHIEU_BAO_TRI_CONG_VIEC.MS_PHIEU_BAO_TRI = @MSPBT
