

--exec SP_Y_GET_PHU_TUNG_DE_XUAT -1
ALTER procedure [dbo].[SP_Y_GET_PHU_TUNG_DE_XUAT]
	@MS_KHO INT = -1
AS
BEGIN

SELECT     T1.NGAY_DUYET, T2.MS_DON_DAT_HANG, T2.MS_PT, MAX(ISNULL(T2.DON_GIA,0)) AS DON_GIA INTO #MAX_DG
				FROM         DON_DAT_HANG AS T1 INNER JOIN
								  DON_DAT_HANG_CHI_TIET AS T2 ON T1.MS_DON_DAT_HANG = T2.MS_DON_DAT_HANG
				WHERE     (T1.TRANG_THAI = 3) OR (T1.TRANG_THAI = 4)
				GROUP BY T1.NGAY_DUYET, T2.MS_DON_DAT_HANG, T2.MS_PT

SELECT  DISTINCT   A.NGAY_DUYET, B.MS_DON_DAT_HANG, B.MS_PT,  B.DON_GIA, B.NGOAI_TE, A.NHA_CUNG_CAP into #DH
			FROM         DON_DAT_HANG AS A INNER JOIN
							  DON_DAT_HANG_CHI_TIET AS B ON A.MS_DON_DAT_HANG = B.MS_DON_DAT_HANG 
			

SELECT  DISTINCT   A.NGAY_DUYET, A.MS_DON_DAT_HANG, A.MS_PT,  A.DON_GIA, A.NGOAI_TE, A.NHA_CUNG_CAP INTO #MAX_NGAY_DG
			FROM        #DH A INNER JOIN #MAX_DG C ON A.NGAY_DUYET = C.NGAY_DUYET AND A.MS_DON_DAT_HANG = A.MS_DON_DAT_HANG AND C.MS_PT = A.MS_PT
			WHERE ISNULL(C.DON_GIA,0) = ISNULL(A.DON_GIA,0)		


	SELECT TMP8.* FROM
	(
	SELECT DISTINCT MS_PT,MAX(DON_GIA_CUOI) AS DON_GIA_CUOI FROM 
	(
		SELECT DISTINCT CONVERT (BIT , 0 ) AS CHON,TMP1.MS_PT,MS_PT_CTY, TMP1.TEN_LOAI_VT_TV,TMP1.MS_PT_NCC AS PART_NO,TMP1.TEN_PT,
			TMP1.QUY_CACH, TEN_HSX,TMP1.TEN_1 AS DVT, TMP1.TON_TOI_THIEU AS TON_MIN,TMP1.TON_KHO_MAX AS TON_MAX,
			ISNULL(TMP2.TON_KHO,0) AS TON_KHO ,
			ISNULL(TMP3.SL_DE_XUAT,0) AS SL_DE_XUAT,
			ISNULL(TMP4.SL_DAT_HANG,0) AS SL_DAT_HANG,
			TMP5.NGAY_DUYET AS NGAY_CUOI,TMP5.DON_GIA AS DON_GIA_CUOI , TMP5.NGOAI_TE AS NGOAI_TE_CUOI, 
			TMP5.NHA_CUNG_CAP AS NHA_CUNG_CAP_CUOI, ISNULL(SO_NGAY_DAT_MUA_HANG,0) AS SO_NGAY_DAT_MUA_HANG, ISNULL(TMP3.SL_NHAP,0) AS SL_NHAP
		FROM 
			(
				SELECT     T3.MS_PT, T3.MS_PT_CTY, T3.MS_LOAI_VT, T4.TEN_LOAI_VT_TV, T3.MS_PT_NCC, T3.TEN_PT, T3.QUY_CACH, T2.TEN_HSX, T3.DVT, T1.TEN_1, CASE ISNULL(THEO_KHO, 0) 
									  WHEN 0 THEN T3.TON_TOI_THIEU ELSE TTT_THEO_KHO END AS TON_TOI_THIEU, CASE ISNULL(THEO_KHO, 0) 
									  WHEN 0 THEN T3.TON_KHO_MAX ELSE TTD_THEO_KHO END AS TON_KHO_MAX, ISNULL(T3.SO_NGAY_DAT_MUA_HANG, 0) AS SO_NGAY_DAT_MUA_HANG
				FROM         DON_VI_TINH AS T1 RIGHT OUTER JOIN
									  HANG_SAN_XUAT AS T2 RIGHT OUTER JOIN
									  IC_PHU_TUNG AS T3 ON T2.MS_HSX = T3.MS_HSX ON T1.DVT = T3.DVT LEFT OUTER JOIN
									  LOAI_VT AS T4 ON T3.MS_LOAI_VT = T4.MS_LOAI_VT LEFT OUTER JOIN
										  (SELECT     MS_PT, ISNULL(SUM(TON_TOI_THIEU), 0) AS TTT_THEO_KHO, ISNULL(SUM(TON_KHO_MAX), 0) AS TTD_THEO_KHO
											FROM          IC_PHU_TUNG_KHO
											WHERE      ((MS_KHO = @MS_KHO) OR (@MS_KHO = - 1))
											GROUP BY MS_PT) AS PTK ON T3.MS_PT = PTK.MS_PT
				WHERE     (T3.ACTIVE_PT = 1)
			) TMP1  LEFT OUTER JOIN 

		(SELECT MS_PT ,SUM( SL_VT) AS TON_KHO
		FROM VI_TRI_KHO_VAT_TU
		WHERE (MS_KHO = @MS_KHO   OR @MS_KHO = -1)
		GROUP BY MS_PT) 

		TMP2 ON TMP1.MS_PT = TMP2.MS_PT LEFT OUTER JOIN 

		(
			SELECT        A.MS_PT, SUM(A.SL_DA_DUYET - ISNULL(C.SL_DAT_HANG, 0)) AS SL_DE_XUAT , SUM(D.SL_THUC_NHAP) AS SL_NHAP
			FROM            IC_DON_HANG_NHAP_VAT_TU AS D INNER JOIN
									 IC_DON_HANG_NHAP AS E ON D.MS_DH_NHAP_PT = E.MS_DH_NHAP_PT RIGHT OUTER JOIN
									 DE_XUAT_MUA_HANG_CHI_TIET AS A INNER JOIN
									 DE_XUAT_MUA_HANG AS B ON A.MS_DE_XUAT = B.MS_DE_XUAT ON D.MS_PT = A.MS_PT AND E.MS_DDH = A.MS_DE_XUAT LEFT OUTER JOIN
									 DON_DAT_HANG_CHI_TIET AS C ON A.MS_PT = C.MS_PT AND A.MS_DE_XUAT = C.MS_DE_XUAT
			WHERE        (B.TRANG_THAI <> 4)
			GROUP BY A.MS_PT
	
		) TMP3 ON TMP1.MS_PT = TMP3.MS_PT LEFT OUTER JOIN 

		(SELECT     DON_DAT_HANG_CHI_TIET.MS_PT,SUM ( ISNULL(DON_DAT_HANG_CHI_TIET.SL_DAT_HANG,0) - ISNULL(IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP,0)) AS SL_DAT_HANG
		FROM         DON_DAT_HANG INNER JOIN
		DON_DAT_HANG_CHI_TIET ON 
		DON_DAT_HANG.MS_DON_DAT_HANG = DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG LEFT OUTER JOIN
		IC_DON_HANG_NHAP INNER JOIN
		IC_DON_HANG_NHAP_VAT_TU ON IC_DON_HANG_NHAP.MS_DH_NHAP_PT = IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT ON 
		DON_DAT_HANG_CHI_TIET.MS_PT = IC_DON_HANG_NHAP_VAT_TU.MS_PT AND 
		DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG = IC_DON_HANG_NHAP.MS_DDH
		WHERE DON_DAT_HANG.TRANG_THAI <> 4 
		GROUP BY DON_DAT_HANG_CHI_TIET.MS_PT ) 

		TMP4 ON TMP1.MS_PT = TMP4.MS_PT LEFT OUTER JOIN 
		(
			SELECT TMP3.MS_PT,TMP3.NGAY_DUYET,TMP3.DON_GIA,TMP3.NGOAI_TE,TMP3.NHA_CUNG_CAP
			FROM 
				(SELECT MS_PT , MAX (NGAY_DUYET) AS NGAY_DUYET 
					FROM 
						(
							SELECT  DON_DAT_HANG.NGAY_DUYET, DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG, DON_DAT_HANG_CHI_TIET.MS_PT, 
							DON_DAT_HANG_CHI_TIET.MS_CHI_TIET_DH, DON_DAT_HANG_CHI_TIET.DON_GIA, DON_DAT_HANG_CHI_TIET.NGOAI_TE
							FROM         DON_DAT_HANG INNER JOIN
							DON_DAT_HANG_CHI_TIET ON DON_DAT_HANG.MS_DON_DAT_HANG = DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG 
							WHERE DON_DAT_HANG.TRANG_THAI = 3 OR DON_DAT_HANG.TRANG_THAI = 4 
						) TMP1
					GROUP BY TMP1.MS_PT 
				) TMP2 INNER JOIN 

			(
				SELECT  DON_DAT_HANG.NGAY_DUYET, DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG, DON_DAT_HANG_CHI_TIET.MS_PT, 
				DON_DAT_HANG_CHI_TIET.MS_CHI_TIET_DH, DON_DAT_HANG_CHI_TIET.DON_GIA, DON_DAT_HANG_CHI_TIET.NGOAI_TE,
				DON_DAT_HANG.NHA_CUNG_CAP
				FROM         DON_DAT_HANG INNER JOIN
				DON_DAT_HANG_CHI_TIET ON DON_DAT_HANG.MS_DON_DAT_HANG = DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG 
				WHERE DON_DAT_HANG.TRANG_THAI = 3 OR DON_DAT_HANG.TRANG_THAI = 4 
			) TMP3 ON TMP2.MS_PT = TMP3.MS_PT AND TMP2.NGAY_DUYET = TMP3.NGAY_DUYET 
		)TMP5 ON TMP1.MS_PT = TMP5.MS_PT 

	) TMP6
	GROUP BY MS_PT
	) TMP7 LEFT OUTER JOIN 
	(
	SELECT DISTINCT CONVERT (BIT , 0 ) AS CHON,TMP1.MS_PT,MS_PT_CTY, TMP1.TEN_LOAI_VT_TV,TMP1.MS_PT_NCC AS PART_NO,TMP1.TEN_PT,
		TMP1.QUY_CACH, TEN_HSX,TMP1.TEN_1 AS DVT,TMP1.TON_TOI_THIEU AS TON_MIN,TMP1.TON_KHO_MAX AS TON_MAX,
		ISNULL(TMP2.TON_KHO,0) AS TON_KHO, ISNULL(TMP3.SL_DE_XUAT,0) AS SL_DE_XUAT, ISNULL(TMP4.SL_DAT_HANG,0) AS SL_DAT_HANG,
		TMP5.NGAY_DUYET AS NGAY_CUOI,TMP5.DON_GIA AS DON_GIA_CUOI , TMP5.NGOAI_TE AS NGOAI_TE_CUOI, 
		TMP5.NHA_CUNG_CAP AS NHA_CUNG_CAP_CUOI, ISNULL(SO_NGAY_DAT_MUA_HANG,0) AS SO_NGAY_DAT_MUA_HANG, ISNULL(TMP3.SL_NHAP,0) AS SL_NHAP
	FROM 
	(
		SELECT     T3.MS_PT, T3.MS_PT_CTY, T3.MS_LOAI_VT, T4.TEN_LOAI_VT_TV, T3.MS_PT_NCC, T3.TEN_PT, T3.QUY_CACH, T2.TEN_HSX, T3.DVT, T1.TEN_1, CASE ISNULL(THEO_KHO, 0) 
							  WHEN 0 THEN T3.TON_TOI_THIEU ELSE TTT END AS TON_TOI_THIEU, CASE ISNULL(THEO_KHO, 0) 
							  WHEN 0 THEN T3.TON_KHO_MAX ELSE TTD END AS TON_KHO_MAX, ISNULL(T3.SO_NGAY_DAT_MUA_HANG, 0) AS SO_NGAY_DAT_MUA_HANG
		FROM         DON_VI_TINH AS T1 RIGHT OUTER JOIN
							  HANG_SAN_XUAT AS T2 RIGHT OUTER JOIN
							  IC_PHU_TUNG AS T3 ON T2.MS_HSX = T3.MS_HSX ON T1.DVT = T3.DVT LEFT OUTER JOIN
							  LOAI_VT AS T4 ON T3.MS_LOAI_VT = T4.MS_LOAI_VT LEFT OUTER JOIN
								  (SELECT     MS_PT, ISNULL(SUM(TON_TOI_THIEU), 0) AS TTT, ISNULL(SUM(TON_KHO_MAX), 0) AS TTD
									FROM          IC_PHU_TUNG_KHO
									WHERE      (MS_KHO = @MS_KHO) OR
														   (@MS_KHO = - 1)
									GROUP BY MS_PT) AS PTK ON T3.MS_PT = PTK.MS_PT
		WHERE     (T3.ACTIVE_PT = 1)
	) TMP1 LEFT OUTER JOIN 

	(SELECT MS_PT ,SUM( SL_VT) AS TON_KHO
	FROM VI_TRI_KHO_VAT_TU
	WHERE (MS_KHO = @MS_KHO  OR @MS_KHO = -1 )
	GROUP BY MS_PT) 

	TMP2 ON TMP1.MS_PT = TMP2.MS_PT LEFT OUTER JOIN 

	(
		SELECT        C.MS_PT, SUM(C.SL_DA_DUYET - ISNULL(E.SL_DAT_HANG, 0)) AS SL_DE_XUAT, SUM(A.SL_THUC_NHAP) AS SL_NHAP
		FROM            DON_DAT_HANG_CHI_TIET AS E RIGHT OUTER JOIN
								 DE_XUAT_MUA_HANG_CHI_TIET AS C INNER JOIN
								 DE_XUAT_MUA_HANG AS D ON C.MS_DE_XUAT = D.MS_DE_XUAT LEFT OUTER JOIN
								 IC_DON_HANG_NHAP_VAT_TU AS A INNER JOIN
								 IC_DON_HANG_NHAP AS B ON A.MS_DH_NHAP_PT = B.MS_DH_NHAP_PT ON D.MS_DE_XUAT = B.MS_DDH AND C.MS_PT = A.MS_PT ON E.MS_PT = C.MS_PT AND E.MS_DE_XUAT = C.MS_DE_XUAT
		WHERE        (D.TRANG_THAI <> 4)
		GROUP BY C.MS_PT
	) 

	TMP3 ON TMP1.MS_PT = TMP3.MS_PT LEFT OUTER JOIN 

	(SELECT     DON_DAT_HANG_CHI_TIET.MS_PT,SUM ( DON_DAT_HANG_CHI_TIET.SL_DAT_HANG - ISNULL(IC_DON_HANG_NHAP_VAT_TU.SL_THUC_NHAP,0)) AS SL_DAT_HANG
	FROM         DON_DAT_HANG INNER JOIN
	DON_DAT_HANG_CHI_TIET ON 
	DON_DAT_HANG.MS_DON_DAT_HANG = DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG LEFT OUTER JOIN
	IC_DON_HANG_NHAP INNER JOIN
	IC_DON_HANG_NHAP_VAT_TU ON IC_DON_HANG_NHAP.MS_DH_NHAP_PT = IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT ON 
	DON_DAT_HANG_CHI_TIET.MS_PT = IC_DON_HANG_NHAP_VAT_TU.MS_PT AND 
	DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG = IC_DON_HANG_NHAP.MS_DDH
	WHERE DON_DAT_HANG.TRANG_THAI <> 4 
	GROUP BY DON_DAT_HANG_CHI_TIET.MS_PT ) 

	TMP4 ON TMP1.MS_PT = TMP4.MS_PT LEFT OUTER JOIN 
	(
	SELECT TMP3.MS_PT,TMP3.NGAY_DUYET,TMP3.DON_GIA,TMP3.NGOAI_TE,TMP3.NHA_CUNG_CAP
	FROM (SELECT MS_PT , MAX (NGAY_DUYET) AS NGAY_DUYET 
	FROM (SELECT  DON_DAT_HANG.NGAY_DUYET, DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG, DON_DAT_HANG_CHI_TIET.MS_PT, 
	DON_DAT_HANG_CHI_TIET.MS_CHI_TIET_DH, DON_DAT_HANG_CHI_TIET.DON_GIA, DON_DAT_HANG_CHI_TIET.NGOAI_TE
	FROM         DON_DAT_HANG INNER JOIN
	DON_DAT_HANG_CHI_TIET ON DON_DAT_HANG.MS_DON_DAT_HANG = DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG 
	WHERE DON_DAT_HANG.TRANG_THAI = 3 OR DON_DAT_HANG.TRANG_THAI = 4 ) TMP1
	GROUP BY TMP1.MS_PT ) TMP2 INNER JOIN 

	#MAX_NGAY_DG TMP3 ON TMP2.MS_PT = TMP3.MS_PT AND TMP2.NGAY_DUYET = TMP3.NGAY_DUYET 
	)TMP5 ON TMP1.MS_PT = TMP5.MS_PT 
	) TMP8 ON TMP7.MS_PT = TMP8.MS_PT AND (TMP7.DON_GIA_CUOI = TMP8.DON_GIA_CUOI OR TMP8.DON_GIA_CUOI IS NULL)
	ORDER BY TMP8.MS_PT


END
