
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type in (N'FN', N'IF', N'TF', N'FS', N'FT') AND name = 'GetNgayBaoTri')
   exec('CREATE FUNCTION  dbo.GetNgayBaoTri () RETURNS  nvarchar(50) as Begin return null end')
GO

-- select dbo.GetNgayBaoTri(MS_PHIEU_BAO_TRI,1,0,1) AS NGAY_BD_KH,dbo.GetNgayBaoTri(MS_PHIEU_BAO_TRI,1,1,1) AS NGAY_KT_KH from phieu_bao_tri
ALTER function GetNgayBaoTri
(
	@MsPBT NVARCHAR(100),
	@Loai INT,   --Lay ngay tren PBT(0) hay tren Nhan Su (1) , hay lay tren ca 2 (2), Lay ngay ngiem thu (4)
	@KHTT BIT,   --Lay ngay ke hoach(0) hay ngay thuc te (1),
	@TuDenNgay BIT = 0 --Lay tu ngay(0) hay den ngay (1)
)
returns DATETIME
as 
begin
DECLARE @Ngay DATETIME
IF @Loai = 0
BEGIN
	SELECT @Ngay = MAX(NGAY_NGHIEM_THU) FROM PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = @MsPBT
END
IF @Loai = 0
BEGIN
	SELECT @Ngay =  
		CASE @KHTT WHEN 0 THEN 
			CASE @TuDenNgay WHEN 0 THEN MIN(NGAY_BD_KH) ELSE MAX(NGAY_KT_KH) END
		ELSE 
			CASE @TuDenNgay WHEN 0 THEN CONVERT(DATETIME,NULL) ELSE CONVERT(DATETIME,NULL) END
		END	
	FROM PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = @MsPBT
END
IF @Loai = 1
BEGIN
	SELECT @Ngay = CASE @TuDenNgay WHEN 0 THEN MIN(NGAY) ELSE MAX(NGAY) END 
	FROM
	(
		SELECT 
			CASE @KHTT WHEN 0 THEN 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY_KH) ELSE MAX(DEN_NGAY_KH) END
			ELSE 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY) ELSE MAX(DEN_NGAY) END 
			END	AS NGAY
		FROM 
		(
			SELECT MS_PHIEU_BAO_TRI,MS_CV,MS_BO_PHAN,MS_CONG_NHAN,STT,
				CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO,108)) AS NGAY,
				CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108)) AS DEN_NGAY,
				CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO_KH,108)) AS NGAY_KH,
				CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO_KH,108)) AS DEN_NGAY_KH
			FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET WHERE MS_PHIEU_BAO_TRI = @MsPBT		
		)  T1 
		UNION
		SELECT 
			CASE @KHTT WHEN 0 THEN 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY_KH) ELSE MAX(DEN_NGAY_KH) END
			ELSE 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY) ELSE MAX(DEN_NGAY) END 
			END	AS NGAY
		FROM 
		(
			SELECT MS_PHIEU_BAO_TRI,STT,MS_CONG_NHAN,ID_STT,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO,108)) AS NGAY,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108)) AS DEN_NGAY,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO_KH,108)) AS NGAY_KH,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO_KH,108)) AS DEN_NGAY_KH
			FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI = @MsPBT
		) T2
		UNION
		SELECT 
			CASE @KHTT WHEN 0 THEN 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY_KH) ELSE MAX(DEN_NGAY_KH) END
			ELSE 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY) ELSE MAX(DEN_NGAY) END 
			END	AS NGAY
		FROM 
		(
			SELECT STT,MS_PHIEU_BAO_TRI,MS_CONG_NHAN,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO,108)) AS NGAY,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108)) AS DEN_NGAY,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO_KH,108)) AS NGAY_KH,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO_KH,108)) AS DEN_NGAY_KH
			FROM PHIEU_BAO_TRI_NHAN_SU WHERE MS_PHIEU_BAO_TRI = @MsPBT
		) T3
	) A

	
END
IF @Loai = 2
BEGIN
	SELECT @Ngay = CASE @TuDenNgay WHEN 0 THEN MIN(NGAY) ELSE MAX(NGAY) END 
	FROM
	(
		SELECT 
			CASE @KHTT WHEN 0 THEN 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY_KH) ELSE MAX(DEN_NGAY_KH) END
			ELSE 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY) ELSE MAX(DEN_NGAY) END 
			END	AS NGAY
		FROM 
			(
				SELECT MS_PHIEU_BAO_TRI,MS_CV,MS_BO_PHAN,MS_CONG_NHAN,STT,
					CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO,108)) AS NGAY,
					CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108)) AS DEN_NGAY,
					CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO_KH,108)) AS NGAY_KH,
					CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO_KH,108)) AS DEN_NGAY_KH
				FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET WHERE MS_PHIEU_BAO_TRI = @MsPBT		
			)  T1 
		UNION
		SELECT 
			CASE @KHTT WHEN 0 THEN 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY_KH) ELSE MAX(DEN_NGAY_KH) END
			ELSE 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY) ELSE MAX(DEN_NGAY) END 
			END	AS NGAY
		FROM 
		(
			SELECT MS_PHIEU_BAO_TRI,STT,MS_CONG_NHAN,ID_STT,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO,108)) AS NGAY,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108)) AS DEN_NGAY,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO_KH,108)) AS NGAY_KH,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO_KH,108)) AS DEN_NGAY_KH
			FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI = @MsPBT
		) T2
		UNION
		SELECT 
			CASE @KHTT WHEN 0 THEN 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY_KH) ELSE MAX(DEN_NGAY_KH) END
			ELSE 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY) ELSE MAX(DEN_NGAY) END 
			END	AS NGAY
		FROM 
		(
			SELECT STT,MS_PHIEU_BAO_TRI,MS_CONG_NHAN,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO,108)) AS NGAY,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO,108)) AS DEN_NGAY,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),TU_GIO_KH,108)) AS NGAY_KH,
			CONVERT(DATETIME,CONVERT(NVARCHAR(10),DEN_NGAY_KH,101) + ' ' + CONVERT(NVARCHAR(8),DEN_GIO_KH,108)) AS DEN_NGAY_KH
			FROM PHIEU_BAO_TRI_NHAN_SU WHERE MS_PHIEU_BAO_TRI = @MsPBT
		) T3
		UNION
		SELECT
			CASE @KHTT WHEN 0 THEN 
				CASE @TuDenNgay WHEN 0 THEN MIN(NGAY_BD_KH) ELSE MAX(NGAY_KT_KH) END
			ELSE 
				CASE @TuDenNgay WHEN 0 THEN CONVERT(DATETIME,NULL) ELSE CONVERT(DATETIME,NULL) END
			END	
		FROM PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = @MsPBT
	) A
END


return @Ngay
end
