
--SELECT [dbo].[MGetListCongNhanPBT]('WO-201610001127',-1,'-1')
ALTER function [dbo].[MGetListCongNhanPBT]
(
	@PBT nvarchar(20) = '-1', 	
	@MSCV int = -1,	
	@MSPB	nvarchar(50) = '-1'
)
returns nvarchar(4000)
as
begin
declare @sName nvarchar(4000)

if @MSCV = -1 AND @MSPB = '-1'
BEGIN
	SELECT     @sName = COALESCE(ISNULL(@sName,'') + 
	CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'') + ISNULL(TEN,'')
	FROM 	
	(
		
		SELECT DISTINCT MS_CONG_NHAN,MS_PHIEU_BAO_TRI FROM  
			dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO T1
		WHERE (MS_PHIEU_BAO_TRI = @PBT OR @PBT = '-1') 
		UNION
		SELECT DISTINCT MS_CONG_NHAN,MS_PHIEU_BAO_TRI FROM  
			dbo.PHIEU_BAO_TRI_NHAN_SU WHERE MS_PHIEU_BAO_TRI = @PBT 
		) AS A 
		INNER JOIN dbo.CONG_NHAN AS B ON A.MS_CONG_NHAN = B.MS_CONG_NHAN
	WHERE MS_PHIEU_BAO_TRI = @PBT
	ORDER BY HO, TEN 
END
ELSE
BEGIN
	SELECT     @sName = COALESCE(ISNULL(@sName,'') + 
	CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'') + ISNULL(TEN,'')
	FROM 	
	(
		SELECT DISTINCT MS_CONG_NHAN,MS_PHIEU_BAO_TRI FROM  
			dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU 
		WHERE (MS_PHIEU_BAO_TRI = @PBT OR @PBT = '-1') AND (MS_BO_PHAN = @MSPB OR @MSPB = '-1') AND (MS_CV = @MSCV OR @MSCV = -1)
		UNION		
		SELECT DISTINCT MS_CONG_NHAN,MS_PHIEU_BAO_TRI FROM  
			dbo.PHIEU_BAO_TRI_NHAN_SU WHERE MS_PHIEU_BAO_TRI = @PBT 
		) AS A 
		INNER JOIN dbo.CONG_NHAN AS B ON A.MS_CONG_NHAN = B.MS_CONG_NHAN
	WHERE MS_PHIEU_BAO_TRI = @PBT
	ORDER BY HO, TEN 
END

return @sName
end

