
--SELECT DBO.GetPBTVTu (MS_PHIEU_BAO_TRI , 0)  FROM PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = 'WO-201610001127'
ALTER function [dbo].[GetPBTVTu]
(
	@MS_PHIEU_BAO_TRI nvarchar(50),
	@NNgu int
)
returns nvarchar(4000)
as
begin
declare @sName nvarchar(4000)

SELECT @sName =COALESCE(ISNULL(@sName,'') + CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'' )  
+ B.MS_PT + '-' 
+ CASE @NNgu WHEN 0 THEN ISNULL(B.TEN_PT ,'') WHEN 1 THEN ISNULL(NULLIF(B.TEN_PT_ANH,B.TEN_PT) ,'') ELSE ISNULL(B.TEN_PT_HOA ,'') END
+' (' + CONVERT(NVARCHAR,SO_LUONG) + ' ' + CASE @NNgu  WHEN 0 THEN TEN_1 WHEN 1 THEN TEN_2 ELSE TEN_3 END + ')'
FROM 
(
	SELECT MS_PHIEU_BAO_TRI, MS_PT, SUM(SO_LUONG) AS SO_LUONG,CV FROM
	(
		SELECT     DISTINCT X.MS_PHIEU_BAO_TRI, Y.MS_PT, SUM(Y.SL_TT) AS SO_LUONG, 1 AS NT,0 AS CV
		FROM         dbo.PHIEU_BAO_TRI AS X INNER JOIN
							  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS Y ON X.MS_PHIEU_BAO_TRI = Y.MS_PHIEU_BAO_TRI
		WHERE     (X.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)
		GROUP BY X.MS_PHIEU_BAO_TRI, Y.MS_PT
		UNION
		SELECT     DISTINCT X.MS_PHIEU_BAO_TRI, Y.MS_PT, SUM(Y.SL_KH) AS SO_LUONG, 0 AS Expr1,0 AS CV
		FROM         dbo.PHIEU_BAO_TRI AS X INNER JOIN
							  dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS Y ON X.MS_PHIEU_BAO_TRI = Y.MS_PHIEU_BAO_TRI
		WHERE     (X.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)
		GROUP BY X.MS_PHIEU_BAO_TRI, Y.MS_PT
		UNION
		SELECT     DISTINCT X.MS_PHIEU_BAO_TRI, Y.MS_PT, SUM(Y.SL_TT) AS SO_LUONG, 1 AS NT,1 AS CV
		FROM         dbo.PHIEU_BAO_TRI AS X INNER JOIN
							  dbo.PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG AS Y ON X.MS_PHIEU_BAO_TRI = Y.MS_PHIEU_BAO_TRI
		WHERE     (X.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)
		GROUP BY X.MS_PHIEU_BAO_TRI, Y.MS_PT
		UNION
		SELECT     DISTINCT X.MS_PHIEU_BAO_TRI, Y.MS_PT, SUM(Y.SL_KH) AS SO_LUONG, 0 AS Expr1,1 AS CV
		FROM         dbo.PHIEU_BAO_TRI AS X INNER JOIN
							  dbo.PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG AS Y ON X.MS_PHIEU_BAO_TRI = Y.MS_PHIEU_BAO_TRI
		WHERE     (X.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI)
		GROUP BY X.MS_PHIEU_BAO_TRI, Y.MS_PT
	) T1 GROUP BY MS_PHIEU_BAO_TRI, MS_PT,CV
) A INNER JOIN IC_PHU_TUNG B ON A.MS_PT = B.MS_PT  LEFT JOIN DON_VI_TINH C ON B.DVT = C.DVT
WHERE A.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI 

return @sName
end

