
--SELECT DBO.MGetListAllCNhanPBT (MS_PHIEU_BAO_TRI) FROM PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = 'WO-201610001127'


ALTER function [dbo].[MGetListAllCNhanPBT]
(
	@MsPBT nvarchar(50)
	
)
returns nvarchar(4000)
as
begin
declare @sName nvarchar(4000)
	SELECT    @sName = COALESCE(ISNULL(@sName,'') + 
	CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'') + 
	ISNULL(HO,'')  + ' ' + ISNULL(TEN,'') 
	FROM 	(
		SELECT DISTINCT MS_CONG_NHAN,MS_PHIEU_BAO_TRI FROM  
			dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU WHERE MS_PHIEU_BAO_TRI = @MsPBT 
		UNION
		SELECT DISTINCT MS_CONG_NHAN,MS_PHIEU_BAO_TRI FROM  
			dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI = @MsPBT 
		UNION
		SELECT DISTINCT MS_CONG_NHAN,MS_PHIEU_BAO_TRI FROM  
			dbo.PHIEU_BAO_TRI_NHAN_SU WHERE MS_PHIEU_BAO_TRI = @MsPBT 
		)AS A 
		INNER JOIN dbo.CONG_NHAN AS B ON A.MS_CONG_NHAN = B.MS_CONG_NHAN
	WHERE MS_PHIEU_BAO_TRI = @MsPBT
	ORDER BY HO, TEN 


return @sName
END
