
--SELECT MS_PHIEU_BAO_TRI , dbo.MGetPBTMoTaCongViec(MS_PHIEU_BAO_TRI,1) as asdasas FROM PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI  = 'WO-201610001127'

ALTER function [dbo].[MGetPBTMoTaCongViec]
(
	@MS_PHIEU_BAO_TRI nvarchar(20),
	@NNgu int
)
returns nvarchar(4000)
as
begin
declare @sName nvarchar(4000)

	SELECT @sName =COALESCE(ISNULL(@sName,'') + CASE LEN(ISNULL(@sName,'')) WHEN 0 THEN '' ELSE '; ' END  ,'' )  + TEN_CV
	FROM
	(
		SELECT MS_PHIEU_BAO_TRI,A.MS_CV,
		CASE @NNgu WHEN 0 THEN 	ISNULL(B.MO_TA_CV ,'') 
				WHEN 1 THEN ISNULL(NULLIF(B.MO_TA_CV_ANH,'') ,B.MO_TA_CV) 
				ELSE ISNULL(NULLIF(B.MO_TA_CV_HOA,'') ,B.MO_TA_CV) END AS TEN_CV ,1 AS LOAI
		FROM PHIEU_BAO_TRI_CONG_VIEC A INNER JOIN CONG_VIEC B ON A.MS_CV = B.MS_CV WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
		UNION
		SELECT MS_PHIEU_BAO_TRI,STT,TEN_CONG_VIEC,2 AS LOAI FROM PHIEU_BAO_TRI_CV_PHU_TRO WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
	) T1
              
return @sName
end

