IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetTSGS')
   exec('CREATE PROCEDURE GetTSGS AS BEGIN SET NOCOUNT ON; END')
GO
--GetMonitoringDueDate 'admin', 0, '2011/01/01', '2020/01/01', '-1', -1, -1, '-1'
ALTER procedure [dbo].[GetTSGS]
	@username NVARCHAR (64), 
	@lang INT,
	@tuNgay DATETIME,
	@denNgay DATETIME,
	@diaDiemID NVARCHAR (50), 
	@dayChuyenID INT ,	
	@loaiMayID INT, 
	@nhomMayID NVARCHAR(50),
	@mayID NVARCHAR (30) = -1,
	@loaiCongViecID INT = -1
AS
BEGIN 
SET FMTONLY OFF
SELECT * INTO #MAY_USER
	FROM [dbo].[MGetMayUserNgay](@denNgay,@USERNAME,@diaDiemID,@dayChuyenID,-1,@loaiMayID,'-1',@mayID, @lang)
SELECT T4.MS_TS_GSTT, case @lang when 0 then T4.TEN_TS_GSTT when 1 then T4.TEN_TS_GSTT_ANH else T4.TEN_TS_GSTT_HOA END AS TEN_TS_GSTT
, T4.MS_DV_DO, T4.LOAI_TS, T4.GHI_CHU, T4.MS_BP_GSTT, T4.DUONG_DAN, T4.MS_LOAI_CV, T4.CACH_THUC_HIEN, T4.THOI_GIAN
INTO #THONG_SO_GSTT
FROM            dbo.NHOM_LOAI_CONG_VIEC AS T2 INNER JOIN
                         dbo.USERS AS T3 ON T2.GROUP_ID = T3.GROUP_ID INNER JOIN
                         dbo.THONG_SO_GSTT AS T4 ON T2.MS_LOAI_CV = T4.MS_LOAI_CV
WHERE (USERNAME = @USERNAME) AND 
 (T4.MS_LOAI_CV = @loaiCongViecID OR @loaiCongViecID = -1) 

AND (ISNULL(T4.MS_LOAI_CV,'') <> '')
UNION 
SELECT * FROM
(
SELECT T4.MS_TS_GSTT, case @lang when 0 then T4.TEN_TS_GSTT when 1 then T4.TEN_TS_GSTT_ANH else T4.TEN_TS_GSTT_HOA END AS TEN_TS_GSTT, T4.MS_DV_DO, T4.LOAI_TS, T4.GHI_CHU, T4.MS_BP_GSTT, T4.DUONG_DAN, ISNULL(T4.MS_LOAI_CV,-99) AS MS_LOAI_CV,  T4.CACH_THUC_HIEN, T4.THOI_GIAN
FROM            dbo.THONG_SO_GSTT AS T4 
WHERE  (ISNULL(MS_LOAI_CV,'') = '')
) A WHERE (MS_LOAI_CV = @loaiCongViecID OR @loaiCongViecID = -1)

SELECT T2.STT , T1.MS_MAY , T1.MS_TS_GSTT , T1.MS_BO_PHAN,T1.MS_TT , T1.NGAY_KT_CUOI 
into #GIAM_SAT_TINH_TRANG_TS_TMP
FROM (
	SELECT     dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT,dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT, dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN, 
	MAX(GIAM_SAT_TINH_TRANG_TMP.NGAY_KT) AS NGAY_KT_CUOI
	FROM dbo.GIAM_SAT_TINH_TRANG_TS INNER JOIN
	(
		SELECT STT, CONVERT(DATETIME, CONVERT(NVARCHAR(10), NGAY_KT, 101) + ' '+ CONVERT(NVARCHAR(8), GIO_KT, 108)) AS NGAY_KT
		FROM dbo.GIAM_SAT_TINH_TRANG AS T
	) AS GIAM_SAT_TINH_TRANG_TMP ON 
		dbo.GIAM_SAT_TINH_TRANG_TS.STT = GIAM_SAT_TINH_TRANG_TMP.STT
		GROUP BY dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT, dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN,dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT 
) T1 INNER JOIN 
	(	
		SELECT dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT, dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT, 
			MAX(GIAM_SAT_TINH_TRANG_TMP.NGAY_KT) AS NGAY_KT_CUOI, dbo.GIAM_SAT_TINH_TRANG_TS.STT
			FROM dbo.GIAM_SAT_TINH_TRANG_TS INNER JOIN
			(SELECT STT, CONVERT(DATETIME, CONVERT(NVARCHAR(10), NGAY_KT, 101) + ' ' + CONVERT(NVARCHAR(8), GIO_KT, 108)) AS NGAY_KT
			FROM dbo.GIAM_SAT_TINH_TRANG AS T) AS GIAM_SAT_TINH_TRANG_TMP ON 
			dbo.GIAM_SAT_TINH_TRANG_TS.STT = GIAM_SAT_TINH_TRANG_TMP.STT
			GROUP BY dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY, dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT, dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN, 
			dbo.GIAM_SAT_TINH_TRANG_TS.STT,dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT
		) T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_TS_GSTT = T2.MS_TS_GSTT AND 
		T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.NGAY_KT_CUOI = T2.NGAY_KT_CUOI and T1.MS_TT = T2.MS_TT

SELECT DISTINCT CONVERT(BIT,0) AS CHON, CTTB.MS_MAY, T1.TEN_MAY, 
CTTB.MS_BO_PHAN + ' - ' + 
CASE @lang WHEN 0 THEN CTTB.TEN_BO_PHAN WHEN 1 THEN CTTB.TEN_BO_PHAN_ANH ELSE CTTB.TEN_BO_PHAN_HOA END 
AS TEN_BO_PHAN ,GSTT.TEN_TS_GSTT, 
CONVERT(VARCHAR(8), CTTB_GSTT.CHU_KY_DO) + ' ' + CASE @lang WHEN 1 THEN dbo.DON_VI_THOI_GIAN.TEN_DV_TG_ANH 
WHEN 2 THEN dbo.DON_VI_THOI_GIAN.TEN_DV_TG_HOA ELSE dbo.DON_VI_THOI_GIAN.TEN_DV_TG END AS CHU_KY_DO, GSTT_TMP.NGAY_KT_CUOI, 
CASE CTTB_GSTT.MS_DV_TG WHEN 1 THEN DATEADD(DAY, CTTB_GSTT.CHU_KY_DO, 
GSTT_TMP.NGAY_KT_CUOI) WHEN 2 THEN DATEADD(DAY, 
CTTB_GSTT.CHU_KY_DO * 7.25, GSTT_TMP.NGAY_KT_CUOI) 
WHEN 3 THEN DATEADD(MONTH, CTTB_GSTT.CHU_KY_DO, 
GSTT_TMP.NGAY_KT_CUOI) WHEN 4 THEN DATEADD(YEAR, CTTB_GSTT.CHU_KY_DO, 
GSTT_TMP.NGAY_KT_CUOI) END AS NGAY_KT_KE,T1.MS_N_XUONG ,
GSTT_TMP.MS_TS_GSTT,CTTB.MS_BO_PHAN,CTTB.STT AS STT_BP, T1.TEN_LOAI_MAY, GSTT.CACH_THUC_HIEN, GSTT.THOI_GIAN, CTTB_GSTT.MS_TT 
FROM         dbo.CAU_TRUC_THIET_BI_TS_GSTT AS CTTB_GSTT INNER JOIN
                      #GIAM_SAT_TINH_TRANG_TS_TMP AS GSTT_TMP ON CTTB_GSTT.MS_MAY = GSTT_TMP.MS_MAY AND CTTB_GSTT.MS_BO_PHAN = GSTT_TMP.MS_BO_PHAN AND 
                      CTTB_GSTT.MS_TS_GSTT = GSTT_TMP.MS_TS_GSTT INNER JOIN
                      #THONG_SO_GSTT GSTT ON CTTB_GSTT.MS_TS_GSTT = GSTT.MS_TS_GSTT INNER JOIN
                      dbo.CAU_TRUC_THIET_BI AS CTTB ON CTTB_GSTT.MS_MAY = CTTB.MS_MAY AND CTTB_GSTT.MS_BO_PHAN = CTTB.MS_BO_PHAN INNER JOIN
                      dbo.DON_VI_THOI_GIAN ON CTTB_GSTT.MS_DV_TG = dbo.DON_VI_THOI_GIAN.MS_DV_TG INNER JOIN
                      #MAY_USER AS T1 ON CTTB.MS_MAY = T1.MS_MAY                      
WHERE  CTTB_GSTT.ACTIVE = 1 AND GSTT.LOAI_TS = 1
AND CASE CTTB_GSTT.MS_DV_TG 
	WHEN 1 THEN  DATEADD(DAY,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 2 THEN  DATEADD(WEEK,CTTB_GSTT.CHU_KY_DO ,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 3 THEN  DATEADD(MONTH,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 4 THEN  DATEADD(YEAR,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI) END >=  DATEADD(DAY,-1,  @tuNgay )
AND CASE CTTB_GSTT.MS_DV_TG 
	WHEN 1 THEN  DATEADD(DAY,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 2 THEN  DATEADD(WEEK,CTTB_GSTT.CHU_KY_DO ,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 3 THEN  DATEADD(MONTH,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI)
	WHEN 4 THEN  DATEADD(YEAR,CTTB_GSTT.CHU_KY_DO,GSTT_TMP.NGAY_KT_CUOI) END <= @denNgay 
END