
-- spGetDieuDoKHTT

ALTER PROC [dbo].[spGetDieuDoKHTT]
	@IdDD bigint = 2,  
	@UName NVARCHAR(50) = 'admin',
	@TNgay DATE = '02/01/2010',
	@DNgay DATE = '03/31/2018',
	@NNgu INT = 0,
	@MsNXuong NVARCHAR(50) = '-1',
	@MsHeThong INT = -1,
	@Action INT = 1
AS
--@Action = 0 View; 1 Dieu Do
SELECT DISTINCT MS_MAY,MS_N_XUONG,MS_HE_THONG,MS_LOAI_MAY,MS_NHOM_MAY,Ten_N_XUONG,TEN_HE_THONG,TEN_BP_CHIU_PHI,MUC_UU_TIEN INTO #MAY_USER FROM dbo.MGetMayUserNgay(@DNgay, @UName, @MsNXuong, @MsHeThong,-1, '-1', '-1', '-1', @NNgu)
IF @Action = 0
BEGIN
SELECT        CHON, TEN_HANG_MUC, TEN_UU_TIEN, MS_MAY, TEN_BO_PHAN, MO_TA_CV, SO_GIO_KH, NGAY, NGAY_DK_HT, SO_NGUOI_DD, NGAY_DD, MS_BO_PHAN, MS_CV, MS_N_XUONG, MS_HE_THONG, MS_LOAI_MAY, 
                         MS_NHOM_MAY, HANG_MUC_ID, MS_UU_TIEN, K1, K2, K3, K4, K5, K6,
						 CONVERT(INT,ROW_NUMBER() OVER (ORDER BY NGAY,HANG_MUC_ID,TEN_HANG_MUC, TEN_UU_TIEN, MS_MAY, TEN_BO_PHAN, MO_TA_CV )) AS TK,Ten_N_XUONG,TEN_HE_THONG,TEN_BP_CHIU_PHI
FROM
(SELECT     CONVERT(BIT,1) AS CHON,T4.TEN_HANG_MUC,CASE @NNgu WHEN 0 THEN T5.TEN_UU_TIEN ELSE T5.TEN_TA END AS TEN_UU_TIEN,T1.MS_MAY,  
CASE @NNgu WHEN 0 THEN T2.TEN_BO_PHAN WHEN 1 THEN  ISNULL(NULLIF(T2.TEN_BO_PHAN_ANH, ''), T2.TEN_BO_PHAN)   ELSE ISNULL(NULLIF(T2.TEN_BO_PHAN_HOA, ''), T2.TEN_BO_PHAN) END AS TEN_BO_PHAN, 
CASE @NNgu WHEN 0 THEN T3.MO_TA_CV WHEN 1 THEN  ISNULL(NULLIF(T3.MO_TA_CV_ANH, ''), T3.MO_TA_CV)   ELSE ISNULL(NULLIF(T3.MO_TA_CV_HOA, ''), T3.MO_TA_CV) END AS MO_TA_CV, 
T1.SO_GIO_KH,  T4.NGAY, T4.NGAY_DK_HT,T1.SO_NGUOI_DD, T1.NGAY_DD,
	T1.MS_BO_PHAN,T1.MS_CV,MS_N_XUONG,MS_HE_THONG,T6.MS_LOAI_MAY,MS_NHOM_MAY, T1.HANG_MUC_ID,T4.MS_UU_TIEN, 
	@IdDD AS K1,@UName AS K2, @TNgay AS K3, @DNgay AS K4, @MsNXuong AS K5, @MsHeThong AS K6 ,Ten_N_XUONG,TEN_HE_THONG,TEN_BP_CHIU_PHI
FROM            dbo.DIEU_DO_KHTT AS T1 INNER JOIN
                         dbo.CAU_TRUC_THIET_BI AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_BO_PHAN = T2.MS_BO_PHAN INNER JOIN
                         dbo.CONG_VIEC AS T3 ON T1.MS_CV = T3.MS_CV INNER JOIN
                         dbo.KE_HOACH_TONG_THE AS T4 ON T1.HANG_MUC_ID = T4.HANG_MUC_ID LEFT JOIN
                         dbo.MUC_UU_TIEN AS T5 ON T4.MS_UU_TIEN = T5.MS_UU_TIEN INNER JOIN 
						 #MAY_USER T6 ON T1.MS_MAY = T6.MS_MAY
WHERE T1.ID_DD = @IdDD) A
ORDER BY NGAY,HANG_MUC_ID,TEN_HANG_MUC, TEN_UU_TIEN, MS_MAY, TEN_BO_PHAN, MO_TA_CV
END

IF @Action = 1
BEGIN

SELECT T1.TEN_HANG_MUC, T1.NGAY, T1.NGAY_DK_HT, T2.MS_MAY, T2.HANG_MUC_ID, T2.MS_CV, T2.MS_BO_PHAN, ISNULL(T1.MS_UU_TIEN,T3.MUC_UU_TIEN) AS MS_UU_TIEN , T2.GHI_CHU, T2.MS_PHIEU_BAO_TRI, T2.EOR_ID, T2.KHONG_GQ, T2.THUE_NGOAI, 
T2.PT_HTHANH, T2.SNGUOI, T2.YCAU_NS, T2.YCAU_DC, T2.THOI_GIAN_DU_KIEN, T2.ID_DD, T2.DD_SN, T2.DD_NGAY INTO #KHTT_CV 
FROM KE_HOACH_TONG_THE T1 INNER JOIN KE_HOACH_TONG_CONG_VIEC T2 ON T1.HANG_MUC_ID = T2.HANG_MUC_ID INNER JOIN #MAY_USER T3 ON T1.MS_MAY = T3.MS_MAY
WHERE (T1.NGAY BETWEEN @TNgay AND @DNgay) AND (ISNULL(MS_PHIEU_BAO_TRI,'') = '')

SELECT         CHON, TEN_HANG_MUC, TEN_UU_TIEN, MS_MAY, TEN_BO_PHAN, MO_TA_CV, THOI_GIAN_DU_KIEN, NGAY_BD_KH, NGAY_KT_KH, SO_NGUOI_DD, NGAY_DD, MS_BO_PHAN, MS_CV, MS_N_XUONG, MS_HE_THONG, MS_LOAI_MAY, 
                         MS_NHOM_MAY, HANG_MUC_ID, MS_UU_TIEN, K1, K2, K3, K4, K5, K6,
						 CONVERT(INT,ROW_NUMBER() OVER (ORDER BY NGAY_BD_KH,HANG_MUC_ID,TEN_HANG_MUC, TEN_UU_TIEN, MS_MAY, TEN_BO_PHAN, MO_TA_CV )) AS TK,Ten_N_XUONG,TEN_HE_THONG,TEN_BP_CHIU_PHI
FROM
(
	SELECT CONVERT(BIT,0) AS CHON,T2.TEN_HANG_MUC,
	CASE @NNgu WHEN 0 THEN T5.TEN_UU_TIEN ELSE T5.TEN_TA END AS TEN_UU_TIEN,T4.MS_MAY,  
	CASE @NNgu WHEN 0 THEN T4.TEN_BO_PHAN WHEN 1 THEN  ISNULL(NULLIF(T4.TEN_BO_PHAN_ANH, ''), T4.TEN_BO_PHAN)   ELSE ISNULL(NULLIF(T4.TEN_BO_PHAN_HOA, ''), T4.TEN_BO_PHAN) END AS TEN_BO_PHAN, 
	CASE @NNgu WHEN 0 THEN T3.MO_TA_CV WHEN 1 THEN  ISNULL(NULLIF(T3.MO_TA_CV_ANH, ''), T3.MO_TA_CV)   ELSE ISNULL(NULLIF(T3.MO_TA_CV_HOA, ''), T3.MO_TA_CV) END AS MO_TA_CV, 
	T2.THOI_GIAN_DU_KIEN,  T2.NGAY AS NGAY_BD_KH, T2.NGAY_DK_HT AS NGAY_KT_KH,
	CONVERT(INT, NULL) AS SO_NGUOI_DD,CONVERT(DATE,NULL) AS NGAY_DD,
	T2.MS_BO_PHAN,T2.MS_CV,MS_N_XUONG,MS_HE_THONG,T6.MS_LOAI_MAY,MS_NHOM_MAY, T2.HANG_MUC_ID,T2.MS_UU_TIEN,
	@IdDD AS K1,@UName AS K2, @TNgay AS K3, @DNgay AS K4, @MsNXuong AS K5, @MsHeThong AS K6,Ten_N_XUONG,TEN_HE_THONG,TEN_BP_CHIU_PHI
	FROM            #KHTT_CV AS T2 INNER JOIN
							 dbo.CONG_VIEC AS T3 ON T2.MS_CV = T3.MS_CV INNER JOIN
							 dbo.CAU_TRUC_THIET_BI AS T4 ON T2.MS_MAY = T4.MS_MAY AND T2.MS_BO_PHAN = T4.MS_BO_PHAN LEFT JOIN
							 dbo.MUC_UU_TIEN AS T5 ON T2.MS_UU_TIEN = T5.MS_UU_TIEN INNER JOIN 
							 #MAY_USER T6 ON T2.MS_MAY = T6.MS_MAY
	WHERE (ISNULL(MS_PHIEU_BAO_TRI,'') = '')
) A
ORDER BY NGAY_BD_KH,HANG_MUC_ID,TEN_HANG_MUC, TEN_UU_TIEN, MS_MAY, TEN_BO_PHAN, MO_TA_CV
END

