
-- spGetNgayLV


ALTER PROC [dbo].[spGetNgayLV]
	@ID_DD BIGINT = -1,
	@TNgay DATE = '01/01/2018',
	@DNgay DATE = '02/02/2018',
	@MsNhomDD bigint = -1,
	@HSuat FLOAT = 100,
	@GioLV FLOAT = 8,
	@SNV FLOAT = 1
AS

IF @ID_DD = -1
BEGIN
	SELECT *, @SNV AS NHANSU,NV * GIO_LV * 60 * (HIEU_SUAT/100) AS SO_PHUT_NGAY,
	(
	SELECT TOP 1 SUM(SO_PHUT) AS SP_DA_DD
	FROM (SELECT ISNULL(SUM(SO_GIO_KH),0) AS SO_PHUT FROM PHIEU_BAO_TRI_CONG_VIEC WHERE DD_NGAY = NGAY UNION
	SELECT ISNULL(SUM(THOI_GIAN_DU_KIEN),0) AS SO_PHUT FROM KE_HOACH_TONG_CONG_VIEC WHERE DD_NGAY = NGAY UNION
	SELECT ISNULL(SUM(THOI_GIAN),0) AS SO_PHUT FROM GIAM_SAT_TINH_TRANG_TS WHERE DD_NGAY = NGAY UNION
	SELECT ISNULL(SUM(THOI_GIAN_DK),0) AS SO_PHUT FROM KE_HOACH_THUC_HIEN WHERE DD_NGAY = NGAY 
	) A

	) AS SP_DA_DD
	INTO #DD
	 FROM
	(
	SELECT NGAY ,  DATENAME(DW, NGAY) NGAY_THU , 
	CASE WHEN NGAY_TUAN = 1 THEN 0 ELSE @SNV END AS NV,
	CASE WHEN NGAY_TUAN = 1 THEN 0 ELSE @GioLV END AS GIO_LV, 
	CASE WHEN NGAY_TUAN = 1 THEN 0 ELSE @HSuat END AS HIEU_SUAT,
	CASE WHEN NGAY_TUAN = 1 THEN 1 ELSE 0 END AS NGAY_NGHI,NGAY_TUAN 
	FROM 
	(
	SELECT DATEADD(DAY, NUMBER, @TNgay) AS NGAY , DATEPART(DW, DATEADD(DAY, NUMBER, @TNgay)) AS NGAY_TUAN
	FROM 
		(SELECT DISTINCT NUMBER FROM MASTER.DBO.SPT_VALUES
		 WHERE NAME IS NULL
		) N
	WHERE DATEADD(DAY, NUMBER, @TNgay) <= @DNgay
	) A
	) T1
	ORDER BY NGAY

	UPDATE #DD SET NV = 0,GIO_LV = 0, HIEU_SUAT = 0,NGAY_NGHI=1,SO_PHUT_NGAY = 0
	FROM NGAY_NGHI T1 INNER JOIN #DD T2 ON T1.NGAY = T2.NGAY

	SELECT NGAY,NGAY_THU,NV,GIO_LV,HIEU_SUAT,NGAY_NGHI,NGAY_TUAN,NHANSU,SO_PHUT_NGAY AS SP_NGAY ,SP_DA_DD,SO_PHUT_NGAY - SP_DA_DD AS SO_PHUT_NGAY
	 FROM #DD ORDER BY NGAY
END
ELSE
BEGIN
	SELECT        NGAY,DATENAME(DW, NGAY) NGAY_THU , NV, GIO_LV, HIEU_SUAT, CONVERT(FLOAT,NULL) AS NGAY_NGHI,CONVERT(FLOAT,NULL) AS NGAY_TUAN, CONVERT(FLOAT,NULL) AS NHANSU,
	SP_NGAY, SP_DA_DD, SO_PHUT_NGAY
	FROM           DIEU_DO_NGAY
	WHERE ID_DD = @ID_DD
	ORDER BY NGAY
END
