
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spDieuDoPBTAddEdit')
   exec('CREATE PROCEDURE spDieuDoPBTAddEdit AS BEGIN SET NOCOUNT ON; END')
GO



ALTER PROC spDieuDoPBTAddEdit
	@MS_DIEU_DO nvarchar(50),
	@NGAY_DD date,
	@USER_DD nvarchar(50),
	@DD_TN date,
	@DD_DN date,
	@CV_TN date,
	@CV_DN date,
	@ID_NHOM_DD bigint,
	@SO_NV_DD	float,
	@SO_GIO_DD	float,
	@HIEU_SUAT_DD	float,
	@SO_PHUT_KHONG_DD	float,
	@GHI_CHU nvarchar(500),
	@BT nvarchar(100),
	@BTNS nvarchar(100),
	@BTBD nvarchar(100)
AS

DECLARE @ID_DD BIGINT
--Them vao dieu do
IF NOT EXISTS (SELECT * FROM DIEU_DO WHERE MS_DIEU_DO = @MS_DIEU_DO)
BEGIN
	INSERT INTO [dbo].[DIEU_DO]
		([MS_DIEU_DO],[NGAY_DD],[USER_DD],[DD_TN],[DD_DN],[CV_TN],[CV_DN],ID_NHOM_DD,SO_NV_DD,SO_GIO_DD,HIEU_SUAT_DD,SO_PHUT_KHONG_DD,[GHI_CHU])
	VALUES
		(@MS_DIEU_DO,@NGAY_DD,@USER_DD,@DD_TN,@DD_DN,@CV_TN,@CV_DN,@ID_NHOM_DD,@SO_NV_DD,@SO_GIO_DD,@HIEU_SUAT_DD,@SO_PHUT_KHONG_DD,@GHI_CHU)
	
	SET @ID_DD = SCOPE_IDENTITY()
END
ELSE
BEGIN
	UPDATE [dbo].[DIEU_DO]
	SET [MS_DIEU_DO] = @MS_DIEU_DO
		,[NGAY_DD] = @NGAY_DD
		,[USER_DD] = @USER_DD
		,[DD_TN] = @DD_TN
		,[DD_DN] = @DD_DN
		,[CV_TN] = @CV_TN
		,[CV_DN] = @CV_DN
		,ID_NHOM_DD = @ID_NHOM_DD
		,[GHI_CHU] = @GHI_CHU
	WHERE MS_DIEU_DO = @MS_DIEU_DO 

	SELECT TOP 1 @ID_DD = ID_DD FROM DIEU_DO WHERE MS_DIEU_DO = @MS_DIEU_DO
END


--Them vao dieu do PBT
DECLARE @sSql NVARCHAR(500)
SET @sSql = 'INSERT INTO DIEU_DO_PBT ([ID_DD],[MS_PHIEU_BAO_TRI],[MS_MAY],[MS_CV],[MS_BO_PHAN],[SO_GIO_KH],[SO_NGUOI_DD],[NGAY_DD]) SELECT ' +  CONVERT(NVARCHAR(20),@ID_DD) + ',[MS_PHIEU_BAO_TRI],[MS_MAY],[MS_CV],[MS_BO_PHAN],[SO_GIO_KH],[SO_NGUOI_DD],[NGAY_DD] FROM ' + @BT + ' WHERE CHON = 1'
EXEC (@sSql)

SET @sSql = 'INSERT INTO [DIEU_DO_NGAY]([ID_DD],[NGAY],[NV],[GIO_LV],[HIEU_SUAT],[SP_NGAY],[SP_DA_DD],[SO_PHUT_NGAY]) SELECT ' +  CONVERT(NVARCHAR(20),@ID_DD) + ',[NGAY],[NV],[GIO_LV],[HIEU_SUAT],[SP_NGAY],[SP_DA_DD],[SO_PHUT_NGAY] FROM ' + @BTNS + '  ORDER BY NGAY'
EXEC (@sSql)

SET @sSql = 'INSERT INTO [DIEU_DO_BD]([ID_DD],[MA_SO],[NGAY_KH],[TG_KH],[NGAY_DD]) SELECT ' +  CONVERT(NVARCHAR(20),@ID_DD) + ',[MA_SO],[NGAY_KH],[TG_KH],[NGAY_DD] FROM ' + @BTBD + '  ORDER BY MA_SO'
EXEC (@sSql)

SET @sSql = 'UPDATE PHIEU_BAO_TRI_CONG_VIEC SET DD_NGAY = T2.NGAY_DD, DD_SN = T2.SO_NGUOI_DD, ID_DD = ' + CONVERT(NVARCHAR(20),@ID_DD)  + '
FROM            dbo.PHIEU_BAO_TRI_CONG_VIEC AS T1 INNER JOIN
                         ' + @BT + ' AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI AND T1.MS_CV = T2.MS_CV AND T1.MS_BO_PHAN = T2.MS_BO_PHAN'
EXEC (@sSql)

SELECT MS_PHIEU_BAO_TRI, MIN(DD_NGAY) NGAY_MIN,MAX(DD_NGAY) AS NGAY_MAX INTO #PBTCV FROM PHIEU_BAO_TRI_CONG_VIEC WHERE ID_DD = @ID_DD GROUP BY MS_PHIEU_BAO_TRI

UPDATE PHIEU_BAO_TRI SET NGAY_BD_KH_GOC = NGAY_BD_KH, NGAY_KT_KH_GOC = NGAY_KT_KH
FROM PHIEU_BAO_TRI T1 INNER JOIN #PBTCV T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI

UPDATE PHIEU_BAO_TRI SET NGAY_BD_KH = NGAY_MIN, NGAY_KT_KH = NGAY_MAX
FROM PHIEU_BAO_TRI T1 INNER JOIN #PBTCV T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI

SELECT @ID_DD

