

--EXEC [SP_NHU_Y_GET_DS_MAY_EXPORT] 0, 'admin'
ALTER PROC [dbo].[SP_NHU_Y_GET_DS_MAY_EXPORT]
	@TYPELANG INT,
	@USERNAME NVARCHAR(50)
AS

DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()
SELECT DISTINCT MS_MAY INTO #MAY_USER FROM dbo.MGetMayUserNgay(@NgayHT,@USERNAME,'-1',-1,-1,-1,'-1','-1',0)  A

SELECT     MAY.MS_MAY,TEN_MAY,LOAI_MAY.TEN_LOAI_MAY,NHOM_MAY.TEN_NHOM_MAY, NGAY_DUA_VAO_SD,
		   CASE WHEN @TYPELANG=0 THEN TEN_HIEN_TRANG ELSE TEN_HIEN_TRANG_ANH END AS HIEN_TRANG_SD,
		   MUC_UU_TIEN.TEN_UU_TIEN, CASE WHEN @TYPELANG=0 THEN NHA_XUONG.Ten_N_XUONG ELSE NHA_XUONG.TEN_N_XUONG_A END AS NOI_LAP_DAT,
		   MAY_NHA_XUONG_NGAY_MAX.NGAY_MAX AS NGAY_LAP_DAT,BO_PHAN_CHIU_PHI.TEN_BP_CHIU_PHI AS BP_CHIU_PHI,MAY_BPCP_NGAY_MAX.NGAY_MAX AS NGAY_CHIU_PHI,
		   HE_THONG.TEN_HE_THONG AS THUOC_DAY_CHUYEN, MAY_HE_THONG_NGAY_MAX.NGAY_MAX AS NGAY_LD_DAY_CHUYEN,
           SERIAL_NUMBER, MO_TA AS TS_THIET_BI, MODEL AS KIEU,HANG_SAN_XUAT.TEN_HSX, NGAY_SX, NUOC_SX, NHIEM_VU_THIET_BI,
           KHACH_HANG.TEN_RUT_GON AS NHA_CUNG_CAP, NGAY_MUA, SO_THE, GIA_MUA, NGOAI_TE AS TIEN_TE, SO_NAM_KHAU_HAO, 
           TY_LE_CON_LAI, NGAY_BD_BAO_HANH, SO_THANG_BH, DON_VI_TINH_RUN_TIME.TEN_DVT_RT AS DON_VI_TG, CHU_KY_HC_TB, LUU_Y_SU_DUNG,CONVERT(INT,AN_TOAN) AS AN_TOAN,
           SO_NGAY_LV_TRONG_TUAN, SO_GIO_LV_TRONG_NGAY,MAY.SO_CT,MAY.TI_GIA_VND,MAY.TI_GIA_USD  
FROM         dbo.MAY 
INNER JOIN NHOM_MAY ON MAY.MS_NHOM_MAY = NHOM_MAY.MS_NHOM_MAY
INNER JOIN LOAI_MAY ON NHOM_MAY.MS_LOAI_MAY=LOAI_MAY.MS_LOAI_MAY
INNER JOIN HIEN_TRANG_SU_DUNG_MAY ON MAY.MS_HIEN_TRANG=HIEN_TRANG_SU_DUNG_MAY.MS_HIEN_TRANG
INNER JOIN MUC_UU_TIEN ON MAY.MUC_UU_TIEN = MUC_UU_TIEN.MS_UU_TIEN
LEFT JOIN MAY_NHA_XUONG_NGAY_MAX ON MAY.MS_MAY = MAY_NHA_XUONG_NGAY_MAX.MS_MAY
LEFT JOIN NHA_XUONG ON MAY_NHA_XUONG_NGAY_MAX.MS_N_XUONG = NHA_XUONG.MS_N_XUONG 
LEFT JOIN MAY_BPCP_NGAY_MAX ON MAY.MS_MAY = MAY_BPCP_NGAY_MAX.MS_MAY
LEFT JOIN BO_PHAN_CHIU_PHI ON MAY_BPCP_NGAY_MAX.MS_BP_CHIU_PHI=BO_PHAN_CHIU_PHI.MS_BP_CHIU_PHI
LEFT JOIN MAY_HE_THONG_NGAY_MAX ON MAY.MS_MAY=MAY_HE_THONG_NGAY_MAX.MS_MAY
LEFT JOIN HE_THONG ON MAY_HE_THONG_NGAY_MAX.MS_HE_THONG=HE_THONG.MS_HE_THONG
LEFT JOIN HANG_SAN_XUAT ON MAY.MS_HSX = HANG_SAN_XUAT.MS_HSX
LEFT JOIN KHACH_HANG ON MAY.MS_KH = KHACH_HANG.MS_KH
LEFT JOIN DON_VI_TINH_RUN_TIME ON MAY.MS_DVT_RT=DON_VI_TINH_RUN_TIME.MS_DVT_RT
INNER JOIN #MAY_USER T1 ON T1.MS_MAY = dbo.MAY.MS_MAY
ORDER BY MAY.MS_MAY,TEN_MAY,LOAI_MAY.TEN_LOAI_MAY,NHOM_MAY.TEN_NHOM_MAY
