IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetDieuDo')
   exec('CREATE PROCEDURE spGetDieuDo AS BEGIN SET NOCOUNT ON; END')
GO
--spGetDieuDo
ALTER PROC spGetDieuDo
	@UserName Nvarchar(50) = 'admin',
	@TNgay Date = '01/01/2017',
	@DNgay Date = '01/01/2019'
As


--, '-1' AS MS_N_XUONG, -1 AS MS_HE_THONG, '-1' AS MS_LOAI_MAY, '-1' AS MS_NHOM_MAY,  -1 AS MS_LOAI_BT,  -1 AS TINH_TRANG_PBT
SELECT USERNAME INTO #USERS FROM USERS T1 WHERE EXISTS (SELECT * FROM USERS T2 WHERE T1.GROUP_ID = T2.GROUP_ID AND USERNAME = @UserName )

SELECT        MS_DIEU_DO, NGAY_DD, USER_DD, DD_TN, DD_DN, CV_TN, CV_DN, T3.ID_NHOM_DD, T1.GHI_CHU, ID_DD, SO_NV_DD,SO_GIO_DD,HIEU_SUAT_DD,SO_PHUT_KHONG_DD
FROM            dbo.DIEU_DO T1 INNER JOIN #USERS T2 ON T1.USER_DD = T2.USERNAME INNER JOIN DIEU_DO_NHOM T3 ON T3.ID_NHOM_DD = T1.ID_NHOM_DD
WHERE NGAY_DD BETWEEN @TNgay AND @DNgay
ORDER BY NGAY_DD DESC,MS_DIEU_DO DESC