
--exec GET_THIET_BI_COPY 'BEC-01-01',1, 'ADMIN'
ALTER procedure [dbo].[GET_THIET_BI_COPY]
	@MS_MAY NVARCHAR (50), 
	@LOAI INT,
	@USERNAME NVARCHAR(50)
 AS
BEGIN

SELECT DISTINCT MS_MAY INTO #MAY_USER FROM [dbo].[MashjGetMayUser](@USERNAME)

IF @LOAI = 0
BEGIN
	SELECT     CONVERT (BIT , 0) AS CHON, dbo.MAY.MS_MAY, dbo.MAY.TEN_MAY, dbo.NHOM_MAY.TEN_NHOM_MAY, dbo.LOAI_MAY.TEN_LOAI_MAY, dbo.MAY.MO_TA ,
		NHA_XUONG.Ten_N_XUONG, MAY_HE_THONG_NGAY_MAX.TEN_HE_THONG,TEN_QG,TEN_TINH,TEN_QUAN
	FROM         dbo.MAY INNER JOIN
						  dbo.NHOM_MAY ON dbo.MAY.MS_NHOM_MAY = dbo.NHOM_MAY.MS_NHOM_MAY INNER JOIN
						  dbo.LOAI_MAY ON dbo.NHOM_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY
						  INNER JOIN dbo.MAY_NHA_XUONG_NGAY_MAX on dbo.MAY.MS_MAY = dbo.MAY_NHA_XUONG_NGAY_MAX.MS_MAY 						  
						  INNER JOIN dbo.NHA_XUONG on dbo.MAY_NHA_XUONG_NGAY_MAX.MS_N_XUONG = dbo.NHA_XUONG.MS_N_XUONG
						  INNER JOIN MAY_HE_THONG_NGAY_MAX ON dbo.MAY.MS_MAY = dbo.MAY_HE_THONG_NGAY_MAX.MS_MAY 
						  LEFT JOIN dbo.V_IC_QUAN_HUYEN on dbo.NHA_XUONG.MS_QG = dbo.V_IC_QUAN_HUYEN.MA_QUAN 
						  LEFT JOIN dbo.V_IC_TINH_THANH ON dbo.V_IC_QUAN_HUYEN.MA_TINH = dbo.V_IC_TINH_THANH.MA_TINH 
						  LEFT JOIN dbo.V_IC_QUOC_GIA ON dbo.V_IC_TINH_THANH.MA_QG = dbo.V_IC_QUOC_GIA.MA_QG
						  INNER JOIN #MAY_USER T1 ON dbo.MAY.MS_MAY = T1.MS_MAY
	WHERE dbo.LOAI_MAY.MS_LOAI_MAY IN (SELECT dbo.NHOM_MAY.MS_LOAI_MAY
	FROM         dbo.MAY INNER JOIN dbo.NHOM_MAY ON dbo.MAY.MS_NHOM_MAY = dbo.NHOM_MAY.MS_NHOM_MAY 
	WHERE MAY.MS_MAY = @MS_MAY) 
	--AND dbo.MAY.MS_MAY NOT IN (SELECT dbo.CAU_TRUC_THIET_BI.MS_MAY FROM  dbo.CAU_TRUC_THIET_BI ) 
	AND dbo.MAY.MS_MAY <> @MS_MAY
END
ELSE
BEGIN
	SELECT     CONVERT (BIT , 0) AS CHON,dbo.MAY.MS_MAY, dbo.MAY.TEN_MAY, dbo.NHOM_MAY.TEN_NHOM_MAY, dbo.LOAI_MAY.TEN_LOAI_MAY, dbo.MAY.MO_TA ,
		NHA_XUONG.Ten_N_XUONG, MAY_HE_THONG_NGAY_MAX.TEN_HE_THONG,TEN_QG,TEN_TINH,TEN_QUAN
	FROM         dbo.MAY INNER JOIN
						  dbo.NHOM_MAY ON dbo.MAY.MS_NHOM_MAY = dbo.NHOM_MAY.MS_NHOM_MAY INNER JOIN
						  dbo.LOAI_MAY ON dbo.NHOM_MAY.MS_LOAI_MAY = dbo.LOAI_MAY.MS_LOAI_MAY
						  INNER JOIN dbo.MAY_NHA_XUONG_NGAY_MAX on dbo.MAY.MS_MAY = dbo.MAY_NHA_XUONG_NGAY_MAX.MS_MAY 
						  INNER JOIN dbo.NHA_XUONG on dbo.MAY_NHA_XUONG_NGAY_MAX.MS_N_XUONG = dbo.NHA_XUONG.MS_N_XUONG
						  INNER JOIN MAY_HE_THONG_NGAY_MAX ON dbo.MAY.MS_MAY = dbo.MAY_HE_THONG_NGAY_MAX.MS_MAY 
						  LEFT JOIN dbo.V_IC_QUAN_HUYEN on dbo.NHA_XUONG.MS_QG = dbo.V_IC_QUAN_HUYEN.MA_QUAN 
						  LEFT JOIN dbo.V_IC_TINH_THANH ON dbo.V_IC_QUAN_HUYEN.MA_TINH = dbo.V_IC_TINH_THANH.MA_TINH 
						  LEFT JOIN dbo.V_IC_QUOC_GIA ON dbo.V_IC_TINH_THANH.MA_QG = dbo.V_IC_QUOC_GIA.MA_QG
						  INNER JOIN #MAY_USER T1 ON dbo.MAY.MS_MAY = T1.MS_MAY
						  --INNER JOIN CAU_TRUC_THIET_BI CT ON CT.MS_MAY = T1.MS_MAY 
	WHERE dbo.LOAI_MAY.MS_LOAI_MAY IN (SELECT dbo.NHOM_MAY.MS_LOAI_MAY
	FROM         dbo.MAY INNER JOIN dbo.NHOM_MAY ON dbo.MAY.MS_NHOM_MAY = dbo.NHOM_MAY.MS_NHOM_MAY 
	WHERE MAY.MS_MAY = @MS_MAY)
	AND dbo.MAY.MS_MAY IN (SELECT dbo.CAU_TRUC_THIET_BI.MS_MAY FROM  dbo.CAU_TRUC_THIET_BI ) 
	AND dbo.MAY.MS_MAY <> @MS_MAY
END

END
