
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spDieuDoGSTTAddEdit')
   exec('CREATE PROCEDURE spDieuDoGSTTAddEdit AS BEGIN SET NOCOUNT ON; END')
GO


ALTER PROC spDieuDoGSTTAddEdit
	@ID_DD BIGINT = 14 ,
	@BT nvarchar(100) = 'DD_GSTT_TMPadmin'
AS


--Them vao dieu do GSTT
DECLARE @sSql NVARCHAR(500)
DELETE FROM DIEU_DO_GSTT WHERE ID_DD = @ID_DD

DECLARE @last_value INT = CONVERT(INT, (SELECT last_value FROM sys.identity_columns WHERE OBJECT_NAME(OBJECT_ID) = 'DIEU_DO_GSTT'));
IF @last_value IS NULL
    BEGIN
        DBCC CHECKIDENT ('DIEU_DO_GSTT', RESEED, 1);
    END
ELSE
    BEGIN
        DECLARE @lastValUsed INT = (SELECT ISNULL(MAX(ID_DD_GSTT),0) FROM DIEU_DO_GSTT);
        DBCC CHECKIDENT ('DIEU_DO_GSTT', RESEED, @lastValUsed);
    END


SET @sSql = 'INSERT INTO [DIEU_DO_GSTT]([ID_DD],[STT],[MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[SO_GIO_KH],[SO_NGUOI_DD],[NGAY_DD]) 
	SELECT ' +  CONVERT(NVARCHAR(20),@ID_DD) + ',[STT],[MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[SO_NGUOI_DD],[NGAY_DD] FROM ' + @BT 
EXEC (@sSql)

SET @sSql = 'UPDATE GIAM_SAT_TINH_TRANG_TS SET DD_NGAY = T2.NGAY_DD, DD_SN = T2.SO_NGUOI_DD, ID_DD = ' + CONVERT(NVARCHAR(20),@ID_DD)  + '
FROM            dbo.GIAM_SAT_TINH_TRANG_TS AS T1 INNER JOIN
                         ' + @BT + ' AS T2 ON T1.STT = T2.STT AND T1.MS_MAY = T2.MS_MAY AND T1.MS_TS_GSTT = T2.MS_TS_GSTT AND T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.MS_TT = T2.MS_TT'
EXEC (@sSql)


SELECT STT, MIN(DD_NGAY) AS NGAY_MIN INTO #GSTT FROM GIAM_SAT_TINH_TRANG_TS  WHERE ID_DD = @ID_DD GROUP BY STT

UPDATE GIAM_SAT_TINH_TRANG SET NGAY_KT_GOC = NGAY_KT FROM GIAM_SAT_TINH_TRANG T1 INNER JOIN #GSTT T2 ON T1.STT = T2.STT

UPDATE GIAM_SAT_TINH_TRANG SET NGAY_KT = NGAY_MIN FROM GIAM_SAT_TINH_TRANG T1 INNER JOIN #GSTT T2 ON T1.STT = T2.STT

