
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spDieuDoCVVPAddEdit')
   exec('CREATE PROCEDURE spDieuDoCVVPAddEdit AS BEGIN SET NOCOUNT ON; END')
GO



ALTER PROC spDieuDoCVVPAddEdit
	@ID_DD BIGINT = 14,
	@BT nvarchar(100) = 'DD_CVVP_TMPadmin'
AS


--Them vao dieu do GSTT
DECLARE @sSql NVARCHAR(500)
DELETE FROM [DIEU_DO_CVVP] WHERE ID_DD = @ID_DD

DECLARE @last_value INT = CONVERT(INT, (SELECT last_value FROM sys.identity_columns WHERE OBJECT_NAME(OBJECT_ID) = 'DIEU_DO_CVVP'));
IF @last_value IS NULL
    BEGIN
        DBCC CHECKIDENT ('DIEU_DO_CVVP', RESEED, 1);
    END
ELSE
    BEGIN
        DECLARE @lastValUsed INT = (SELECT ISNULL(MAX(ID_DD_KHTT),0) FROM DIEU_DO_KHTT);
        DBCC CHECKIDENT ('DIEU_DO_CVVP', RESEED, @lastValUsed);
    END

SET @sSql = 'INSERT INTO [dbo].[DIEU_DO_CVVP]([ID_DD],[MS_CONG_NHAN],[NGAY],[STT],[SO_NGUOI_DD],[NGAY_DD])      
			SELECT ' +  CONVERT(NVARCHAR(20),@ID_DD) + ',[MS_CONG_NHAN],[NGAY],[STT],[SO_NGUOI_DD],[NGAY_DD] FROM ' + @BT 
EXEC (@sSql)


SET @sSql = 'UPDATE KE_HOACH_THUC_HIEN SET DD_NGAY = T2.NGAY_DD, DD_SN = T2.SO_NGUOI_DD, ID_DD = ' + CONVERT(NVARCHAR(20),@ID_DD)  + '
FROM            dbo.KE_HOACH_THUC_HIEN AS T1 INNER JOIN
                         ' + @BT + ' AS T2 ON T1.MS_CONG_NHAN = T2.MS_CONG_NHAN AND T1.NGAY = T2.NGAY AND T1.STT = T2.STT'
EXEC (@sSql)

SELECT A.MS_CONG_NHAN,A.NGAY,A.STT,NGAY_MIN , DATEADD(DAY,DATEDIFF(DAY,A.NGAY,THOI_HAN),NGAY_MIN) AS NGAY_MAX INTO #CVVP
FROM (SELECT MS_CONG_NHAN,NGAY,STT,  MIN(DD_NGAY) AS NGAY_MIN FROM KE_HOACH_THUC_HIEN WHERE ID_DD = @ID_DD  GROUP BY MS_CONG_NHAN,NGAY,STT
) A INNER JOIN KE_HOACH_THUC_HIEN B ON A.MS_CONG_NHAN = B.MS_CONG_NHAN AND A.STT = B.STT AND A.NGAY = B.NGAY

UPDATE KE_HOACH_THUC_HIEN SET NGAY_GOC = T1.NGAY, THOI_HAN_GOC = THOI_HAN
FROM KE_HOACH_THUC_HIEN T1 INNER JOIN #CVVP T2 ON T1.MS_CONG_NHAN = T2.MS_CONG_NHAN AND T1.STT = T2.STT AND T1.NGAY = T2.NGAY


UPDATE KE_HOACH_THUC_HIEN SET NGAY = NGAY_MIN , THOI_HAN = NGAY_MAX
FROM KE_HOACH_THUC_HIEN T1 INNER JOIN #CVVP T2 ON T1.MS_CONG_NHAN = T2.MS_CONG_NHAN AND T1.STT = T2.STT AND T1.NGAY = T2.NGAY
