

--DROP TABLE MAY_TMP ; SELECT CONVERT(BIT,1) AS CHON,MS_MAY, TEN_MAY, TEN_LOAI_MAY, TEN_NHOM_MAY, TEN_N_XUONG, TEN_HE_THONG into MAY_TMP FROM [dbo].[MGetMayUserNgay]( '01/01/2016','admin','-1',-1,-1,'-1','-1','-1',0) A
--DROP TABLE TTBT_TMP ; SELECT * INTO TTBT_TMP  FROM TINH_TRANG_PBT
--GetBCDanhSachPBT '01/01/2010','05/01/2019','-1',-1,'ADMIN',0,'MAY_TMP','TTBT_TMP'
ALTER PROC [dbo].[GetBCDanhSachPBT]
	@TNgay DATETIME,
	@DNgay DATETIME,
	@MSNVien NVARCHAR(150),
	@MSLBT INT,
	@UserName NVARCHAR(50),
	@NNgu NVARCHAR(50),
	@MayTmp NVARCHAR(50),
	@TTBTTmp NVARCHAR(50)
AS 

DECLARE @sSql NVARCHAR(4000)
CREATE TABLE #MAY_TMP (MS_MAY NVARCHAR(250) NULL, TEN_MAY NVARCHAR(500) NULL, TEN_LOAI_MAY NVARCHAR(500) NULL, TEN_NHOM_MAY NVARCHAR(500) NULL, TEN_N_XUONG NVARCHAR(500) NULL, TEN_HE_THONG NVARCHAR(500) NULL)  
SET @sSql = ' INSERT INTO #MAY_TMP SELECT MS_MAY, TEN_MAY, TEN_LOAI_MAY, TEN_NHOM_MAY, TEN_N_XUONG, TEN_HE_THONG FROM ' + @MayTmp + ' WHERE ISNULL(CHON,0) = 1'
EXEC (@sSql)

SET @sSql = ' DROP TABLE ' + @MayTmp
EXEC (@sSql)

CREATE TABLE #TTBT_TMP (STT [int] NOT NULL,TEN_TINH_TRANH [nvarchar](25) NULL)  
SET @sSql = ' INSERT INTO #TTBT_TMP SELECT STT, CASE ' + @NNgu + ' WHEN 0 THEN TEN_TINH_TRANG WHEN 1 THEN TEN_TINH_TRANG_ANH ELSE TEN_TINH_TRANG_HOA END AS TEN_TINH_TRANH FROM TINH_TRANG_PBT 
					WHERE STT IN (SELECT DISTINCT STT FROM ' +  @TTBTTmp + ' A)'
EXEC (@sSql)

SET @sSql = ' DROP TABLE ' + @TTBTTmp
EXEC (@sSql)


SELECT DISTINCT T1.MS_PHIEU_BAO_TRI INTO #PBT_NS FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU T1 INNER JOIN PHIEU_BAO_TRI T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
WHERE (MS_CONG_NHAN = @MSNVien OR @MSNVien = '-1') AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay ) AND (@MSLBT = -1 OR T2.MS_LOAI_BT = @MSLBT) 
UNION
SELECT DISTINCT T1.MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO T1 INNER JOIN PHIEU_BAO_TRI T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
WHERE (MS_CONG_NHAN = @MSNVien OR @MSNVien = '-1') AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay ) AND (@MSLBT = -1 OR T2.MS_LOAI_BT = @MSLBT) 


SELECT MS_PHIEU_BAO_TRI, SUM(ISNULL(SO_GIO_TT,0)) AS SO_GIO_TT ,SUM(ISNULL(SO_GIO_KH,0)) AS SO_GIO_KH INTO #PBT_SG
FROM
(SELECT T1.MS_PHIEU_BAO_TRI, SUM(ISNULL(SO_GIO,0)) AS SO_GIO_TT ,SUM(ISNULL(TONG_GIO_KH,0)) AS SO_GIO_KH FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET T1 INNER JOIN #PBT_NS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI 
	WHERE (MS_CONG_NHAN = @MSNVien OR @MSNVien = '-1') 
	GROUP BY T1.MS_PHIEU_BAO_TRI
UNION
SELECT T1.MS_PHIEU_BAO_TRI, SUM(ISNULL(SO_GIO,0)) AS SO_GIO_TT ,SUM(ISNULL(TONG_GIO_KH,0)) AS SO_GIO_KH FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO T1 INNER JOIN #PBT_NS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI 
	WHERE (MS_CONG_NHAN = @MSNVien OR @MSNVien = '-1') 
	GROUP BY T1.MS_PHIEU_BAO_TRI
) T1 GROUP BY MS_PHIEU_BAO_TRI


SELECT T1.MS_PHIEU_BAO_TRI, T1.MS_MAY, T3.TEN_MAY, T3.TEN_LOAI_MAY, TEN_NHOM_MAY, 
	TEN_N_XUONG, TEN_HE_THONG,  T4.TEN_LOAI_BT,T1.LY_DO_BT,T2.TEN_TINH_TRANH, 
	ISNULL(dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,0,0),T1.NGAY_BD_KH) AS NGAY_BD_KH, ISNULL(dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,0,1),T1.NGAY_KT_KH) AS NGAY_KT_KH,
	ISNULL(T6.SO_GIO_KH,0) AS SO_GIO_KH, dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,1,0) AS NGAY_BD_TT,dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,1,1) AS NGAY_KT_TT,ISNULL(T6.SO_GIO_TT ,0) AS SO_GIO_TT,
	T1.NGAY_NGHIEM_THU,T1.TT_SAU_BT,
CONVERT(NVARCHAR(2000),dbo.GetCongNhanPBTCV(T1.MS_PHIEU_BAO_TRI)) AS CONG_NHAN INTO #BPT
FROM PHIEU_BAO_TRI T1  INNER JOIN #TTBT_TMP T2 ON T1.TINH_TRANG_PBT = T2.STT INNER JOIN 
	#MAY_TMP T3 ON T1.MS_MAY = T3.MS_MAY INNER JOIN 
	LOAI_BAO_TRI T4 ON T1.MS_LOAI_BT = T4.MS_LOAI_BT LEFT JOIN 
	#PBT_NS T5 ON T1.MS_PHIEU_BAO_TRI = T5.MS_PHIEU_BAO_TRI LEFT JOIN 
	#PBT_SG T6 ON T1.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI 
WHERE (NGAY_BD_KH BETWEEN @TNgay AND @DNgay ) AND (@MSLBT = -1 OR T1.MS_LOAI_BT = @MSLBT) 


SELECT ROW_NUMBER() OVER (ORDER BY T1.MS_PHIEU_BAO_TRI, MS_MAY, TEN_MAY, TEN_LOAI_MAY, TEN_NHOM_MAY, TEN_N_XUONG, TEN_HE_THONG ) AS [STT],
T1.MS_PHIEU_BAO_TRI, MS_MAY, TEN_MAY, TEN_LOAI_MAY, TEN_NHOM_MAY, TEN_N_XUONG, TEN_HE_THONG, TEN_LOAI_BT, LY_DO_BT, 
	TEN_TINH_TRANH, NGAY_BD_KH, NGAY_KT_KH, 
	CONVERT(NVARCHAR(20),ROUND(CAST (SO_GIO_KH AS NUMERIC (18,2)),2)) AS SO_GIO_KH ,
	CONVERT(NVARCHAR(10),NGAY_BD_TT,103) AS NGAY_BD_TT, 
	CONVERT(NVARCHAR(10),NGAY_KT_TT,103) AS NGAY_KT_TT, 
	CONVERT(NVARCHAR(20),ROUND(CAST (SO_GIO_TT AS NUMERIC (18,2)),2)) AS SO_GIO_TT,
	CONVERT(NVARCHAR(10), NGAY_NGHIEM_THU,103) AS NGAY_NGHIEM_THU, TT_SAU_BT,CONG_NHAN 
FROM #BPT T1 
ORDER BY T1.MS_PHIEU_BAO_TRI, MS_MAY, TEN_MAY, TEN_LOAI_MAY, TEN_NHOM_MAY, TEN_N_XUONG, TEN_HE_THONG 
