
--GetLANGUAGEs 0,-1
ALTER procedure [dbo].[GetLANGUAGEs] 
	@TYPE INT,
	@FORM INT
AS


SELECT DISTINCT FORM,ISNULL(ISNULL(T2.TEN_REPORT_VIET, T3.DESCRIPTION),(CASE @TYPE WHEN 0 THEN N'Chi tiết' WHEN 1 THEN 'details' end)) AS VIETNAM
FROM         dbo.LANGUAGES T1 
LEFT JOIN DS_REPORT T2 ON T1.FORM = T2.REPORT_NAME
LEFT JOIN DS_FORM T3 ON T1.FORM = T3.FORM_NAME
WHERE (FORM_HAY_REPORT=@FORM OR '-1' = @FORM) AND ISNULL(FORM ,'')  <> ''
UNION SELECT '-1','ALL' 
ORDER BY FORM
