--GetLANGUAGE_FORMs '-1'
ALTER procedure [dbo].[GetLANGUAGE_FORMs]
@FORM AS NVARCHAR(50)
 AS
SELECT FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,STT,MS_MODULE
FROM LANGUAGES
WHERE (FORM=@FORM OR @FORM = '-1' ) 
ORDER BY VIETNAM,ENGLISH