


--	EXEC MGetNhaXuongTheoNXCha '-1',3,1

ALTER PROC [dbo].[MGetNhaXuongTheoNXCha]
	@MSCha NVARCHAR(50), 
	@LoaiBC int	,
	@NNgu int
	
AS
--Nha Xuong
if @LoaiBC = 0 
begin
	SELECT CONVERT(BIT,1) AS CHON, MS_N_XUONG,
	CASE @NNgu WHEN 0 THEN TEN_N_XUONG WHEN 1 THEN ISNULL(TEN_N_XUONG_A,Ten_N_XUONG) ELSE ISNULL(TEN_N_XUONG_H,Ten_N_XUONG)  END AS TEN_N_XUONG FROM NHA_XUONG
	WHERE ISNULL(MS_CHA,'-1') = @MSCha
	ORDER BY TEN_N_XUONG
end 

--He Thong
if @LoaiBC = 1
begin
	SELECT CONVERT(BIT,1) AS CHON, 	MS_HE_THONG,  CASE @NNgu WHEN 0 THEN TEN_HE_THONG WHEN 1 THEN ISNULL(TEN_HE_THONG_ANH, TEN_HE_THONG) ELSE ISNULL(TEN_HE_THONG_HOA, TEN_HE_THONG) END AS TEN_HE_THONG FROM HE_THONG 
	ORDER BY TEN_HE_THONG
end 

--Bo Phan Chiu Phi
if @LoaiBC = 2
begin
	SELECT  CONVERT(BIT,1) AS CHON,MS_BP_CHIU_PHI, CASE @NNgu WHEN 0 THEN TEN_BP_CHIU_PHI WHEN 1 THEN ISNULL( TEN_BPCP_ANH,TEN_BP_CHIU_PHI) ELSE ISNULL( TEN_BPCP_HOA,TEN_BP_CHIU_PHI)  END AS TEN_BP_CHIU_PHI FROM BO_PHAN_CHIU_PHI 
	ORDER BY TEN_BP_CHIU_PHI
end 

--Loai May
if @LoaiBC = 3
begin
	SELECT  CONVERT(BIT,1) AS CHON,MS_LOAI_MAY, CASE @NNgu WHEN 0 THEN TEN_LOAI_MAY WHEN 1 THEN  ISNULL(TEN_LOAI_MAY_ANH,TEN_LOAI_MAY) ELSE ISNULL(TEN_LOAI_MAY_HOA,TEN_LOAI_MAY) END AS TEN_LOAI_MAY FROM LOAI_MAY
	ORDER BY TEN_LOAI_MAY 
end 
