--GetLoaiMayAll 1,'ADMIN',1

ALTER proc [dbo].[GetLoaiMayAll]
	@CoALL bit,
	@UserName nvarchar(50),
	@NNgu int	
AS
--CASE @NNgu WHEN 0 THEN T5.TEN_NHOM_MAY WHEN 1 THEN ISNULL(NULLIF(TEN_NHOM_MAY_ANH, ''),T5.TEN_NHOM_MAY) ELSE ISNULL(NULLIF(TEN_NHOM_MAY_HOA, ''),T5.TEN_NHOM_MAY) END 
if @CoALL = 0
	SELECT DISTINCT T1.MS_LOAI_MAY, 
	CASE @NNgu WHEN 0 THEN T1.TEN_LOAI_MAY WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LOAI_MAY_ANH,''),T1.TEN_LOAI_MAY) ELSE ISNULL(NULLIF(T1.TEN_LOAI_MAY_HOA,''),T1.TEN_LOAI_MAY) END AS TEN_LOAI_MAY
	FROM         dbo.LOAI_MAY AS T1 INNER JOIN
                      dbo.NHOM_LOAI_MAY AS T2 ON T1.MS_LOAI_MAY = T2.MS_LOAI_MAY INNER JOIN
                      dbo.NHOM AS T3 ON T2.GROUP_ID = T3.GROUP_ID INNER JOIN
                      dbo.USERS AS T4 ON T3.GROUP_ID = T4.GROUP_ID
	WHERE     (T4.USERNAME = @UserName OR @UserName = '-1') 
	ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_LOAI_MAY WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LOAI_MAY_ANH,''),T1.TEN_LOAI_MAY) ELSE ISNULL(NULLIF(T1.TEN_LOAI_MAY_HOA,''),T1.TEN_LOAI_MAY) END	
else
	SELECT DISTINCT T1.MS_LOAI_MAY, CASE @NNgu WHEN 0 THEN T1.TEN_LOAI_MAY WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LOAI_MAY_ANH,''),T1.TEN_LOAI_MAY) ELSE ISNULL(NULLIF(T1.TEN_LOAI_MAY_HOA,''),T1.TEN_LOAI_MAY) END AS TEN_LOAI_MAY
	FROM         dbo.LOAI_MAY AS T1 INNER JOIN
                      dbo.NHOM_LOAI_MAY AS T2 ON T1.MS_LOAI_MAY = T2.MS_LOAI_MAY INNER JOIN
                      dbo.NHOM AS T3 ON T2.GROUP_ID = T3.GROUP_ID INNER JOIN
                      dbo.USERS AS T4 ON T3.GROUP_ID = T4.GROUP_ID
	WHERE     (T4.USERNAME = @UserName OR @UserName = '-1')
	UNION
	SELECT '-1', ' < ALL > ' 	ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_LOAI_MAY WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LOAI_MAY_ANH,''),T1.TEN_LOAI_MAY) ELSE ISNULL(NULLIF(T1.TEN_LOAI_MAY_HOA,''),T1.TEN_LOAI_MAY) END		
