

-- exec MGetMayBieuDoChiPhi '06/01/2000' , '12/01/2019' ,'ADMIN','1','-1','-1',-1,'-1','-1'

ALTER PROCEDURE [dbo].[MGetMayBieuDoChiPhi]
	@TNgay DATETIME,
	@DNgay DATETIME,
	@MS_TINH NVARCHAR(50),
	@MS_QUAN NVARCHAR(50),
	@MS_DUONG NVARCHAR(50),
	@MSNX NVARCHAR(150),
	@MSHT INT,
	@MSLMAY NVARCHAR(50),
	@MSNHOMMAY NVARCHAR(50)
as
--@MS_TINH  thay the user
-- @MS_QUAN they the ngon ngu
IF @MS_TINH = '-1' SET @MS_TINH = 'ADMIN'
IF @MS_QUAN = '-1' SET @MS_QUAN = '0'

SELECT CONVERT(BIT,1) AS CHON, MS_MAY,TEN_MAY,MODEL  INTO #MAY FROM dbo.MGetMayUserNgay(@DNgay,@MS_TINH,@MSNX,@MSHT,-1,@MSLMAY,'-1','-1',CONVERT(INT,@MS_QUAN)) 	


select DISTINCT A.* from #MAY A
inner JOIN 
	(
	SELECT  PHIEU_BAO_TRI.*
	FROM dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
		dbo.PHIEU_BAO_TRI ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI INNER JOIN
		dbo.LOAI_BAO_TRI ON dbo.PHIEU_BAO_TRI.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT 
	WHERE (LOAI_BAO_TRI.HU_HONG = 0) AND NGAY_BD_KH BETWEEN @TNgay AND @DNgay
		AND (TINH_TRANG_PBT > 2)  AND (CHI_PHI_PHU_TUNG + CHI_PHI_PHU_TUNG_USD+ CHI_PHI_VAT_TU+ CHI_PHI_VAT_TU_USD+ CHI_PHI_NHAN_CONG+ CHI_PHI_NHAN_CONG_USD+ CHI_PHI_DV+ 
    CHI_PHI_DV_USD+ CHI_PHI_KHAC+ CHI_PHI_KHAC_USD ) <> 0
	) AS B ON A.MS_MAY = B.MS_MAY
union
select DISTINCT A.* from #MAY A
inner JOIN 
	(SELECT    CONG_VIEC_HANG_NGAY_THIET_BI.*
		
	FROM         dbo.CONG_VIEC_HANG_NGAY_THIET_BI INNER JOIN
                      dbo.CONG_VIEC_HANG_NGAY ON dbo.CONG_VIEC_HANG_NGAY_THIET_BI.STT_CV = dbo.CONG_VIEC_HANG_NGAY.STT_CV
	WHERE dbo.CONG_VIEC_HANG_NGAY.NGAY_TH BETWEEN @TNgay AND @DNgay AND (CHI_PHI_NC + CHI_PHI_VT) <> 0
	) C ON A.MS_MAY = C.MS_MAY
	union
select DISTINCT A.* from #MAY A
inner JOIN 
	(
	SELECT     PHIEU_BAO_TRI.*		
	FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
						  dbo.PHIEU_BAO_TRI ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI INNER JOIN
						  dbo.LOAI_BAO_TRI ON dbo.PHIEU_BAO_TRI.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT 
	WHERE     (LOAI_BAO_TRI.HU_HONG = 1) AND NGAY_BD_KH BETWEEN @TNgay AND @DNgay
		AND (TINH_TRANG_PBT > 2) 		
		AND (CHI_PHI_PHU_TUNG + CHI_PHI_PHU_TUNG_USD+ CHI_PHI_VAT_TU+ CHI_PHI_VAT_TU_USD+ CHI_PHI_NHAN_CONG+ CHI_PHI_NHAN_CONG_USD+ CHI_PHI_DV + CHI_PHI_DV_USD+ CHI_PHI_KHAC+ CHI_PHI_KHAC_USD ) <> 0				
	) D ON A.MS_MAY = D.MS_MAY

