
-- exec GetNhomMayAll 1, '-1', 'admin',1
ALTER proc [dbo].[GetNhomMayAll]
	@CoALL bit,
	@MSLoaiMay nvarchar(20),
	@UserName nvarchar(50)	,
	@NNgu int	
AS
if @CoALL = 0
	SELECT DISTINCT T5.MS_NHOM_MAY, 
	CASE @NNgu WHEN 0 THEN T5.TEN_NHOM_MAY WHEN 1 THEN ISNULL(NULLIF(TEN_NHOM_MAY_ANH, ''),T5.TEN_NHOM_MAY) ELSE ISNULL(NULLIF(TEN_NHOM_MAY_HOA, ''),T5.TEN_NHOM_MAY) END AS TEN_NHOM_MAY
	FROM         dbo.NHOM_LOAI_MAY AS T2 INNER JOIN
						  dbo.NHOM AS T3 ON T2.GROUP_ID = T3.GROUP_ID INNER JOIN
						  dbo.USERS AS T4 ON T3.GROUP_ID = T4.GROUP_ID INNER JOIN
						  dbo.NHOM_MAY AS T5 ON T2.MS_LOAI_MAY = T5.MS_LOAI_MAY
	WHERE     (T4.USERNAME = @UserName OR @UserName = '-1')  AND (T5.MS_LOAI_MAY = @MSLoaiMay OR @MSLoaiMay = '-1')
	ORDER BY 
	CASE @NNgu WHEN 0 THEN T5.TEN_NHOM_MAY WHEN 1 THEN ISNULL(NULLIF(TEN_NHOM_MAY_ANH, ''),T5.TEN_NHOM_MAY) ELSE ISNULL(NULLIF(TEN_NHOM_MAY_HOA, ''),T5.TEN_NHOM_MAY) END 
else
	SELECT DISTINCT T5.MS_NHOM_MAY, 
	CASE @NNgu WHEN 0 THEN T5.TEN_NHOM_MAY WHEN 1 THEN ISNULL(NULLIF(TEN_NHOM_MAY_ANH, ''),T5.TEN_NHOM_MAY) ELSE ISNULL(NULLIF(TEN_NHOM_MAY_HOA, ''),T5.TEN_NHOM_MAY) END AS TEN_NHOM_MAY
	FROM         dbo.NHOM_LOAI_MAY AS T2 INNER JOIN
						  dbo.NHOM AS T3 ON T2.GROUP_ID = T3.GROUP_ID INNER JOIN
						  dbo.USERS AS T4 ON T3.GROUP_ID = T4.GROUP_ID INNER JOIN
						  dbo.NHOM_MAY AS T5 ON T2.MS_LOAI_MAY = T5.MS_LOAI_MAY
	WHERE     (T4.USERNAME = @UserName OR @UserName = '-1')  AND (T5.MS_LOAI_MAY = @MSLoaiMay OR @MSLoaiMay = '-1')
	UNION
	SELECT '-1', ' < ALL > ' 	
	ORDER BY 
	CASE @NNgu WHEN 0 THEN T5.TEN_NHOM_MAY WHEN 1 THEN ISNULL(NULLIF(TEN_NHOM_MAY_ANH, ''),T5.TEN_NHOM_MAY) ELSE ISNULL(NULLIF(TEN_NHOM_MAY_HOA, ''),T5.TEN_NHOM_MAY) END 
