
-- exec MBieuDoChiPhiHeThongTheoXuong '01/01/2018', '08/01/2018',1,1,1,1,1,1
ALTER procedure [dbo].[MBieuDoChiPhiHeThongTheoXuong]
	@TNgay DATETIME,
	@DNgay DATETIME,
	@PhuTung bit,
	@VatTu bit,
	@NhanCong bit,
	@DichVu bit,
	@Khac bit,
	@NNgu int
as


DECLARE @PBT TABLE (
	[MS_PHIEU_BAO_TRI] [nvarchar](20) NOT NULL,
	[MS_LOAI_BT] [int] NULL,
	[MS_MAY] [nvarchar](30) NULL,
	NGAY_BD_KH DATETIME
)

--Chu Y, Doi voi Cang Baria thi lay ngay tinh Chi Phi la ngay Nghiem Thu
DECLARE @CTY NVARCHAR(50)
SELECT @CTY = [PRIVATE] FROM THONG_TIN_CHUNG
IF @CTY = 'BARIA'
	INSERT INTO @PBT
	SELECT DISTINCT MS_PHIEU_BAO_TRI,MS_LOAI_BT,T1.MS_MAY,NGAY_NGHIEM_THU AS NGAY_BD_KH   FROM PHIEU_BAO_TRI T1 
	WHERE (CONVERT(DATE,NGAY_NGHIEM_THU) BETWEEN @TNgay AND @DNgay) AND (TINH_TRANG_PBT > 2)
ELSE
	INSERT INTO @PBT
	SELECT DISTINCT MS_PHIEU_BAO_TRI,MS_LOAI_BT, T1.MS_MAY,NGAY_BD_KH  FROM PHIEU_BAO_TRI T1 
	WHERE (CONVERT(DATE,NGAY_BD_KH) BETWEEN @TNgay AND @DNgay) AND (TINH_TRANG_PBT > 2)


SELECT CONVERT(INT,NULL) AS STT ,* FROM 
(
	SELECT 
	CASE @NNgu WHEN 0 THEN A.TEN_HE_THONG WHEN 1 THEN ISNULL(A.TEN_HE_THONG_ANH, A.TEN_HE_THONG) ELSE ISNULL(A.TEN_HE_THONG_HOA, A.TEN_HE_THONG) END AS TEN_HE_THONG
	
	,A.MS_HE_THONG, SUM(ROUND(ISNULL(CHI_PHI_BT,0) + ISNULL(CHI_PHI_HN,0),2)) AS CHI_PHI_CO_KH,   
		SUM(ROUND(ISNULL(CHI_PHI,0),2)) AS CHI_PHI_KHO_KH, SUM(ROUND(ISNULL(CHI_PHI_BT,0) + ISNULL(CHI_PHI_HN,0) +  ISNULL(CHI_PHI,0),2)) AS TONG_CP
	FROM HE_THONG A LEFT JOIN
	(
		SELECT MA_SO , SUM(CHI_PHI_BT) AS CHI_PHI_BT FROM
		(
	
			SELECT     dbo.MGetHTTheoNgay(T1.MS_MAY, NGAY_BD_KH) AS MA_SO , 
				(CASE @PhuTung WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG), 0) ELSE 0 END + 
				CASE @VatTu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU), 0)  ELSE 0 END + 
				CASE @NhanCong WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG), 0) ELSE 0 END +  
				CASE @DichVu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV), 0) ELSE 0 END + 
				CASE @Khac WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC), 0) ELSE 0 END ) AS CHI_PHI_BT
			FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
								  @PBT T1 ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI INNER JOIN
								  dbo.LOAI_BAO_TRI ON T1.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT 
			WHERE     (LOAI_BAO_TRI.HU_HONG = 0) 
				--AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay) AND (TINH_TRANG_PBT > 2)
			GROUP BY T1.MS_MAY,NGAY_BD_KH
	
		) XY  GROUP BY MA_SO	
	
	) B  ON A.MS_HE_THONG = B.MA_SO
	LEFT JOIN 
	(
		SELECT MA_SO, SUM(CHI_PHI_HN) AS CHI_PHI_HN FROM
		(
			SELECT     dbo.MGetHTTheoNgay(MS_MAY,NGAY_TH) AS MA_SO , 
				(	CASE @NhanCong WHEN 1 THEN ISNULL(SUM(CHI_PHI_NC), 0)  ELSE 0 END +  
					CASE @VatTu WHEN 1 THEN ISNULL(SUM(CHI_PHI_VT), 0)  ELSE 0 END ) 		AS CHI_PHI_HN
				
			FROM         dbo.CONG_VIEC_HANG_NGAY_THIET_BI INNER JOIN
							  dbo.CONG_VIEC_HANG_NGAY ON dbo.CONG_VIEC_HANG_NGAY_THIET_BI.STT_CV = dbo.CONG_VIEC_HANG_NGAY.STT_CV
			WHERE (dbo.CONG_VIEC_HANG_NGAY.NGAY_TH BETWEEN @TNgay AND @DNgay)	
			GROUP BY MS_MAY,NGAY_TH
		) XX GROUP BY MA_SO
	
	) C ON A.MS_HE_THONG = C.MA_SO
	LEFT JOIN 
	(
		SELECT MA_SO, SUM(CHI_PHI) AS CHI_PHI FROM
		(
			SELECT     dbo.MGetHTTheoNgay(T1.MS_MAY, NGAY_BD_KH) AS MA_SO, 
				(CASE @PhuTung WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG), 0) ELSE 0 END +  
				CASE @VatTu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU), 0) ELSE 0 END +  
				CASE @NhanCong WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG), 0) ELSE 0 END + 
				CASE @DichVu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV), 0) ELSE 0 END +  
				CASE @Khac WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC), 0) ELSE 0 END )		AS CHI_PHI
				
			FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
								  @PBT T1 ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI INNER JOIN
								  dbo.LOAI_BAO_TRI ON T1.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT 
			WHERE     (LOAI_BAO_TRI.HU_HONG = 1) 
				--AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay) AND (TINH_TRANG_PBT > 2)
			GROUP BY T1.MS_MAY,NGAY_BD_KH
		) XV  GROUP BY MA_SO			
	) D ON A.MS_HE_THONG = D.MA_SO
	GROUP BY CASE @NNgu WHEN 0 THEN A.TEN_HE_THONG WHEN 1 THEN ISNULL(A.TEN_HE_THONG_ANH, A.TEN_HE_THONG) ELSE ISNULL(A.TEN_HE_THONG_HOA, A.TEN_HE_THONG) END ,A.MS_HE_THONG
) G WHERE TONG_CP <> 0 ORDER BY TONG_CP DESC

