

--	exec MBDTGNgungMayTheoMay '08/01/2015','08/01/2019','ADMIN','-1','-1','-1',-1,'-1','-1'

ALTER procedure [dbo].[MBDTGNgungMayTheoMay]
	@TNgay datetime,
	@DNgay datetime,
	@MS_TINH NVARCHAR(100),
	@MS_QUAN NVARCHAR(100),
	@MS_DUONG NVARCHAR(100),
	@MSNX NVARCHAR(150),
	@MSHT INT,
	@MSLMAY NVARCHAR(50),
	@MSNHOMMAY NVARCHAR(50)
as
-- @MS_TINH THAY THE USER
--@MS_QUAN THAY THE NGON NGU

SELECT A.MS_MAY, TEN_MAY AS TMAY , A.MS_N_XUONG INTO #MAY_TB FROM dbo.MGetMayUserNgay(@DNgay,@MS_TINH,@MSNX,@MSHT,-1,@MSLMAY,@MSNHOMMAY,'-1',@MS_QUAN) A

SELECT A.MS_MAY,TMAY, MS_NGUYEN_NHAN,SUM(THOI_GIAN_SUA_CHUA) AS THOI_GIAN_SUA_CHUA, 
		SUM(THOI_GIAN_SUA) AS THOI_GIAN_SUA -- , COUNT(DISTINCT MS_LAN) AS SO_LAN
FROM dbo.THOI_GIAN_NGUNG_MAY A  INNER JOIN #MAY_TB B ON A.MS_MAY = B.MS_MAY 
WHERE NGAY BETWEEN @TNgay AND @DNgay GROUP BY A.MS_MAY,TMAY,MS_NGUYEN_NHAN






