
--SELECT * FROM PHIEU_BAO_TRI_NHAN_SU WHERE MS_PHIEU_BAO_TRI = 'WO-201808000932'
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'AddPBTNhanSu')
   exec('CREATE PROCEDURE AddPBTNhanSu AS BEGIN SET NOCOUNT ON; END')
GO

ALTER PROC AddPBTNhanSu
	@MS_PHIEU_BAO_TRI nvarchar(50), 
	@BT NVARCHAR (50)
AS

DECLARE @sSql NVARCHAR(500)

SET @sSql = 'UPDATE	' + @BT + ' SET NGAY = NULL WHERE LEN(NGAY) < 10'
EXEC (@sSql)
SET @sSql = 'UPDATE	' + @BT + ' SET TU_GIO = NULL WHERE LEN(TU_GIO) < 4'
EXEC (@sSql)
SET @sSql = 'UPDATE	' + @BT + ' SET DEN_NGAY = NULL WHERE LEN(DEN_NGAY) < 10'
EXEC (@sSql)
SET @sSql = 'UPDATE	' + @BT + ' SET DEN_GIO = NULL WHERE LEN(DEN_GIO) < 4'
EXEC (@sSql)
SET @sSql = 'UPDATE	' + @BT + ' SET NGAY_KH = NULL WHERE LEN(NGAY_KH) < 10'
EXEC (@sSql)
SET @sSql = 'UPDATE	' + @BT + ' SET TU_GIO_KH = NULL WHERE LEN(TU_GIO_KH) < 4'
EXEC (@sSql)
SET @sSql = 'UPDATE	' + @BT + ' SET DEN_NGAY_KH = NULL WHERE LEN(DEN_NGAY_KH) < 10'
EXEC (@sSql)
SET @sSql = 'UPDATE	' + @BT + ' SET DEN_GIO_KH = NULL WHERE LEN(DEN_GIO_KH) < 4'

DELETE PHIEU_BAO_TRI_NHAN_SU WHERE MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI

SET @sSql = ' INSERT INTO PHIEU_BAO_TRI_NHAN_SU (MS_PHIEU_BAO_TRI, MS_CONG_NHAN, NGAY, TU_GIO,DEN_NGAY, DEN_GIO, HOAN_THANH,  SO_GIO, NGAY_KH, TU_GIO_KH, DEN_NGAY_KH, DEN_GIO_KH, TONG_GIO_KH)
SELECT ''' +  @MS_PHIEU_BAO_TRI + ''', MS_CONG_NHAN, NGAY, TU_GIO,DEN_NGAY, DEN_GIO, HOAN_THANH,  SO_GIO, NGAY_KH, TU_GIO_KH, DEN_NGAY_KH, DEN_GIO_KH, TONG_GIO_KH FROM ' + @BT 
EXEC (@sSql)

UPDATE PHIEU_BAO_TRI_NHAN_SU SET [SO_GIO] = NULL WHERE [SO_GIO] = 0 AND MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
UPDATE PHIEU_BAO_TRI_NHAN_SU SET [TONG_GIO_KH] = NULL WHERE [TONG_GIO_KH] = 0 AND MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI



SET @sSql = ' DROP TABLE ' + @BT+ ''
EXEC (@sSql)