--SELECT MS_BP_CHIU_PHI,TEN_BP_CHIU_PHI,* FROM BO_PHAN_CHIU_PHI

-- exec GetrptVTPT_XUATKHO '04/12/2011','04/12/2019',-1,'1,2,3,4,9',1, 'Admin',3
ALTER procedure [dbo].[GetrptVTPT_XUATKHO]
	@TU_NGAY DATETIME,
	@DEN_NGAY DATETIME,
	@KHO int,
	@DANGXUAT NVARCHAR(50),
	@NNgu int,
	@USERNAME nvarchar(255),
	@BPCP INT
AS
BEGIN

CREATE TABLE #DX_TMP (MS_DANG_XUAT INT  NULL)  
DECLARE @sSql NVARCHAR(4000)
if(@DANGXUAT = '-1')
begin 
	SET @sSql = 'INSERT INTO #DX_TMP SELECT MS_DANG_XUAT FROM DANG_XUAT'
end
else
begin
	SET @sSql = 'INSERT INTO #DX_TMP SELECT MS_DANG_XUAT FROM DANG_XUAT WHERE MS_DANG_XUAT IN ('+@DANGXUAT+')'
end
EXEC (@sSql)


		SELECT  distinct  IC_KHO.MS_KHO,
		 IC_KHO.TEN_KHO 
		 INTO #KHO
		FROM         IC_KHO LEFT JOIN
							  IC_DON_HANG_NHAP ON IC_KHO.MS_KHO = IC_DON_HANG_NHAP.MS_KHO INNER JOIN
							  NHOM_KHO ON IC_KHO.MS_KHO = NHOM_KHO.MS_KHO INNER JOIN
							  NHOM ON NHOM_KHO.GROUP_ID = NHOM.GROUP_ID INNER JOIN
							  USERS ON NHOM.GROUP_ID = USERS.GROUP_ID
		WHERE     (USERS.USERNAME = @USERNAME) AND (IC_KHO.MS_KHO = @KHO OR @KHO = -1)

SELECT T1.* INTO #DX FROM DANG_XUAT T1 INNER JOIN #DX_TMP T2 ON T1.MS_DANG_XUAT = T2.MS_DANG_XUAT

SELECT IDENTITY(INT, 1,1) AS STT, T1.MS_DH_XUAT_PT, T1.SO_CHUNG_TU, T1.NGAY, T1.LY_DO_XUAT, 
CASE @NNgu WHEN 0 THEN T6.DANG_XUAT_VIET WHEN 1 THEN ISNULL(NULLIF(T6.DANG_XUAT_ANH,''),T6.DANG_XUAT_VIET) ELSE ISNULL(NULLIF(T6.DANG_XUAT_HOA,''),T6.DANG_XUAT_VIET) END AS DANG_XUAT,
CASE @NNgu WHEN 0 THEN T10.TEN_BP_CHIU_PHI WHEN 1 THEN ISNULL(NULLIF(T10.TEN_BPCP_ANH  ,''),T10.TEN_BP_CHIU_PHI) ELSE ISNULL(NULLIF(T10.TEN_BPCP_HOA,''),T10.TEN_BP_CHIU_PHI) END AS TEN_BP_CHIU_PHI,
T2.MS_PT, 
CASE @NNgu WHEN 0 THEN T5.TEN_PT WHEN 1 THEN ISNULL(NULLIF(T5.TEN_PT_ANH,''),T5.TEN_PT) ELSE ISNULL(NULLIF(T5.TEN_PT_HOA,''),T5.TEN_PT) END  TEN_PT, 
T3.MS_DH_NHAP_PT, T3.SL_VT, T1.MS_KHO, T4.TEN_KHO, 
CASE @NNgu WHEN 0 THEN T7.TEN_1 WHEN 1 THEN ISNULL(NULLIF(T7.TEN_2,''),T7.TEN_1) ELSE ISNULL(NULLIF(T7.TEN_3,''),T7.TEN_1) END AS DVT,
ISNULL(T8.DON_GIA,0) AS DON_GIA, ISNULL(T3.SL_VT,0) * ISNULL(T8.DON_GIA,0) AS THANH_TIEN, T2.GHI_CHU
into #tmp
FROM            dbo.IC_DON_HANG_XUAT AS T1 INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU AS T2 ON T1.MS_DH_XUAT_PT = T2.MS_DH_XUAT_PT INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT AND T2.MS_PT = T3.MS_PT INNER JOIN
                         #KHO AS T4 ON T1.MS_KHO = T4.MS_KHO INNER JOIN
                         dbo.IC_PHU_TUNG AS T5 ON T2.MS_PT = T5.MS_PT INNER JOIN
                         #DX AS T6 ON T1.MS_DANG_XUAT = T6.MS_DANG_XUAT INNER JOIN
                         dbo.DON_VI_TINH AS T7 ON T5.DVT = T7.DVT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T8 ON T3.MS_DH_NHAP_PT = T8.MS_DH_NHAP_PT AND T3.MS_PT = T8.MS_PT AND T3.ID_XUAT = T8.ID LEFT OUTER JOIN
                         dbo.PHIEU_BAO_TRI AS T9 ON T1.MS_PHIEU_BAO_TRI = T9.MS_PHIEU_BAO_TRI LEFT OUTER JOIN
                         dbo.BO_PHAN_CHIU_PHI AS T10 ON T1.MS_BP_CHIU_PHI = T10.MS_BP_CHIU_PHI
WHERE     (CONVERT(DATETIME,CONVERT(NVARCHAR(10),T1.NGAY,101)) BETWEEN @TU_NGAY  AND @DEN_NGAY)
AND (T1.MS_BP_CHIU_PHI = @BPCP OR @BPCP = -1)
ORDER BY T1.NGAY, T1.MS_DH_XUAT_PT, T2.MS_PT


select * from #tmp
drop table #tmp
DROP TABLE #KHO
END
