

-- EXEC GetLoaiVatTuAll 1,0, 'ADMIN'

ALTER proc [dbo].[GetLoaiVatTuAll]
	@CoALL bit,
	@NGON_NGU INT,
	@USERNAME NVARCHAR(50)
AS
if @CoALL = 0
	SELECT DISTINCT  T4.MS_LOAI_VT, 
	CASE @NGON_NGU WHEN 0 THEN T4.TEN_LOAI_VT_TV WHEN 1 THEN ISNULL(NULLIF (T4.TEN_LOAI_VT_TA, ''), T4.TEN_LOAI_VT_TV) 
							 ELSE ISNULL(NULLIF (T4.TEN_LOAI_VT_TH, ''), T4.TEN_LOAI_VT_TV) END AS TEN_LOAI_VT
	FROM            dbo.USERS AS T1 INNER JOIN
							 dbo.NHOM_LOAI_PHU_TUNG AS T2 ON T1.GROUP_ID = T2.GROUP_ID INNER JOIN
							 dbo.LOAI_PHU_TUNG AS T3 ON T2.MS_LOAI_PT = T3.MS_LOAI_PT INNER JOIN
							 dbo.LOAI_VT AS T4 INNER JOIN
							 dbo.IC_PHU_TUNG AS T5 ON T4.MS_LOAI_VT = T5.MS_LOAI_VT INNER JOIN
							 dbo.IC_PHU_TUNG_LOAI_PHU_TUNG AS T6 ON T5.MS_PT = T6.MS_PT ON T3.MS_LOAI_PT = T6.MS_LOAI_PT
	WHERE        (T1.USERNAME = @USERNAME)
	ORDER BY TEN_LOAI_VT
else
	SELECT DISTINCT  T4.MS_LOAI_VT, CASE @NGON_NGU WHEN 0 THEN T4.TEN_LOAI_VT_TV WHEN 1 THEN ISNULL(NULLIF (T4.TEN_LOAI_VT_TA, ''), T4.TEN_LOAI_VT_TV) 
							 ELSE ISNULL(NULLIF (T4.TEN_LOAI_VT_TH, ''), T4.TEN_LOAI_VT_TV) END AS TEN_LOAI_VT
	FROM            dbo.USERS AS T1 INNER JOIN
							 dbo.NHOM_LOAI_PHU_TUNG AS T2 ON T1.GROUP_ID = T2.GROUP_ID INNER JOIN
							 dbo.LOAI_PHU_TUNG AS T3 ON T2.MS_LOAI_PT = T3.MS_LOAI_PT INNER JOIN
							 dbo.LOAI_VT AS T4 INNER JOIN
							 dbo.IC_PHU_TUNG AS T5 ON T4.MS_LOAI_VT = T5.MS_LOAI_VT INNER JOIN
							 dbo.IC_PHU_TUNG_LOAI_PHU_TUNG AS T6 ON T5.MS_PT = T6.MS_PT ON T3.MS_LOAI_PT = T6.MS_LOAI_PT
	WHERE        (T1.USERNAME = @USERNAME)
	UNION
	SELECT '-1', ' < ALL > ' ORDER BY TEN_LOAI_VT
	