

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type in (N'FN', N'IF', N'TF', N'FS', N'FT') AND name = 'GetNNNMPBT')
   exec('CREATE FUNCTION  dbo.GetNNNMPBT () RETURNS  nvarchar(4000) as Begin return null end')
GO

--SELECT MS_PHIEU_BAO_TRI,[dbo].[GetNNNMPBT](MS_PHIEU_BAO_TRI,'-1','-1',-1,0)  A FROM  PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = 'WO-201808000131'
	 
ALTER function [dbo].[GetNNNMPBT]
(
	@PBT nvarchar(50),
	@MSMay nvarchar(50),
	@NXuong nvarchar(50),
	@HThong int,	
	@NNgu int
)
returns nvarchar(4000)
as 
begin

declare @NNNM nvarchar(4000)

SELECT @NNNM =COALESCE(@NNNM + ' - ', '') +
	CAST(TEN_NGUYEN_NHAN AS Nvarchar(4000))

	FROM 
		(
SELECT        
CASE @NNgu WHEN 0 THEN Z.TEN_NGUYEN_NHAN WHEN 1 THEN ISNULL(NULLIF(Z.TEN_NGUYEN_NHAN_ANH,''),Z.TEN_NGUYEN_NHAN) ELSE ISNULL(NULLIF(Z.TEN_NGUYEN_NHAN_ANH,''),Z.TEN_NGUYEN_NHAN) END AS TEN_NGUYEN_NHAN
FROM            dbo.THOI_GIAN_NGUNG_MAY AS X INNER JOIN
                         dbo.THOI_GIAN_NGUNG_MAY_SO_LAN AS Y ON X.MS_LAN = Y.MS_LAN INNER JOIN
                         dbo.NGUYEN_NHAN_DUNG_MAY AS Z ON X.MS_NGUYEN_NHAN = Z.MS_NGUYEN_NHAN
WHERE        (ISNULL(Y.MS_PHIEU_BAO_TRI, N'') <> '') 
AND (Y.MS_PHIEU_BAO_TRI = @PBT  OR @PBT = '-1') AND (X.MS_N_XUONG = @NXuong OR @NXuong = '-1')
AND (X.MS_HE_THONG = @HThong  OR @HThong = -1) AND (X.MS_MAY = @MSMay OR @MSMay = '-1')
GROUP BY Y.MS_PHIEU_BAO_TRI, CASE @NNgu WHEN 0 THEN Z.TEN_NGUYEN_NHAN WHEN 1 THEN ISNULL(NULLIF(Z.TEN_NGUYEN_NHAN_ANH,''),Z.TEN_NGUYEN_NHAN) ELSE ISNULL(NULLIF(Z.TEN_NGUYEN_NHAN_ANH,''),Z.TEN_NGUYEN_NHAN) END ) T1


return @NNNM
end




