

--exec GetBoPhanChiuPhiAll 0,'ADMIN',2
ALTER proc [dbo].[GetBoPhanChiuPhiAll]
	@CoAll int,
	@UserName NVARCHAR(50),
	@NNgu INT
AS
SELECT T1.MS_BP_CHIU_PHI INTO #BPCP FROM NHOM_BO_PHAN_CHIU_PHI T1 INNER JOIN USERS T2 ON T1.GROUP_ID = T2.GROUP_ID
WHERE USERNAME = @UserName

if @CoAll = 1
	SELECT T1.MS_BP_CHIU_PHI , 
	CASE @NNgu WHEN 0 THEN TEN_BP_CHIU_PHI WHEN 1 THEN ISNULL(NULLIF (TEN_BPCP_ANH, ''), TEN_BP_CHIU_PHI) 
							 ELSE ISNULL(NULLIF (TEN_BPCP_HOA, ''), TEN_BP_CHIU_PHI) END AS TEN_BP_CHIU_PHI
	FROM BO_PHAN_CHIU_PHI T1 INNER JOIN #BPCP T2 ON T1.MS_BP_CHIU_PHI = T2.MS_BP_CHIU_PHI
	UNION SELECT '-1', ' < ALL > ' 
	ORDER BY TEN_BP_CHIU_PHI 
else 	
	SELECT T1.MS_BP_CHIU_PHI , 
	CASE @NNgu WHEN 0 THEN TEN_BP_CHIU_PHI WHEN 1 THEN ISNULL(NULLIF (TEN_BPCP_ANH, ''), TEN_BP_CHIU_PHI) 
							 ELSE ISNULL(NULLIF (TEN_BPCP_HOA, ''), TEN_BP_CHIU_PHI) END AS TEN_BP_CHIU_PHI
	FROM BO_PHAN_CHIU_PHI  T1 INNER JOIN #BPCP T2 ON T1.MS_BP_CHIU_PHI = T2.MS_BP_CHIU_PHI
	ORDER BY TEN_BP_CHIU_PHI 
