
ALTER proc [dbo].[GetCAU_TRUC_THIET_BIs]
	@MS_MAY NVARCHAR(30)
AS
SELECT        MS_MAY, MS_BO_PHAN, TEN_BO_PHAN, MS_PT, SO_LUONG, MS_BO_PHAN_CHA, GHI_CHU, RUN_TIME, MS_DVT_RT, HINH, CLASS_ID, ISNULL(STT,999) AS STT, 
ISNULL(NULLIF(TEN_BO_PHAN_ANH,''),TEN_BO_PHAN) AS TEN_BO_PHAN_ANH, ISNULL(NULLIF(TEN_BO_PHAN_HOA,''),TEN_BO_PHAN) AS TEN_BO_PHAN_HOA
FROM            dbo.CAU_TRUC_THIET_BI
WHERE MS_MAY=@MS_MAY
