
ALTER proc [dbo].[UpdateMAY_LOAI_BTPN_CHU_KY]
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT,
	@NGAY_AD DATETIME,
	@CHU_KY INT,
	@MS_DV_TG INT,
	@RUN_TIME INT,
	@MS_DVT_RT INT,
	@MOVEMENT NVARCHAR(20),
	@NGAY_CU DATETIME
AS

UPDATE MAY_LOAI_BTPN_CHU_KY SET
	CHU_KY=@CHU_KY,
	MS_DV_TG=@MS_DV_TG,
	RUN_TIME=@RUN_TIME ,
	MS_DVT_RT=@MS_DVT_RT ,
	MOVEMENT=@MOVEMENT,
	NGAY_AD = @NGAY_AD
WHERE
	MS_MAY=@MS_MAY AND MS_LOAI_BT=@MS_LOAI_BT AND NGAY_AD=@NGAY_CU
