--SELECT * FROM LANGUAGES WHERE FORM = 'ucBangKePBT'
--SELECT MS_MAY,TEN_MAY,	MS_N_XUONG,Ten_N_XUONG,MS_HE_THONG,TEN_HE_THONG,MS_BP_CHIU_PHI,TEN_BP_CHIU_PHI,MS_LOAI_MAY,TEN_LOAI_MAY, CONVERT(BIT,1) AS CHON INTO BTMAY FROM          dbo.MGetMayUserNgay('12/01/2019', 'ADMIN', '-1', - 1, - 1, '-1', '-1', '-1', 2)

--EXEC spBangKeCongViecBaoTri 'BTMAY',-1,'11/01/2018','11/30/2018',0

ALTER PROC [dbo].[spBangKeCongViecBaoTri]
	@MayTmp NVARCHAR(50) = 'BTMAY',
	@MsLBTri INT = -1,
	@TNgay DATETIME = '01/01/2017',
	@DNgay DATETIME = '01/01/2018',
	@NNgu INT = 0
AS

DECLARE @sSql NVARCHAR(4000)
DECLARE @CVC NVARCHAR(500)
DECLARE @CVP NVARCHAR(500)

SELECT TOP 1 @CVC = CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM)  ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM LANGUAGES WHERE FORM = 'frmPhieuBaoTri_New' AND KEYWORD = 'tabCongViecChinh'
SELECT TOP 1 @CVP = CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM)  ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM LANGUAGES WHERE FORM = 'frmPhieuBaoTri_New' AND KEYWORD = 'tabCongViecPhu'


CREATE TABLE #MAY_TMP (MS_MAY NVARCHAR(250) NULL, TEN_MAY NVARCHAR(500) NULL, MS_N_XUONG NVARCHAR(250) NULL, Ten_N_XUONG NVARCHAR(500) NULL, MS_HE_THONG INT NULL, TEN_HE_THONG NVARCHAR(500) NULL, MS_BP_CHIU_PHI INT, TEN_BP_CHIU_PHI NVARCHAR(500) NULL, MS_LOAI_MAY NVARCHAR(250) NULL, TEN_LOAI_MAY NVARCHAR(500) NULL)  

SET @sSql = ' INSERT INTO #MAY_TMP(MS_MAY,TEN_MAY, MS_N_XUONG,Ten_N_XUONG,MS_HE_THONG,TEN_HE_THONG,MS_BP_CHIU_PHI,TEN_BP_CHIU_PHI,MS_LOAI_MAY,TEN_LOAI_MAY) SELECT MS_MAY,TEN_MAY,	MS_N_XUONG,Ten_N_XUONG,MS_HE_THONG,TEN_HE_THONG,MS_BP_CHIU_PHI,TEN_BP_CHIU_PHI,MS_LOAI_MAY,TEN_LOAI_MAY FROM ' + @MayTmp + ' WHERE ISNULL(CHON,0) = 1'
EXEC (@sSql)

--SET @sSql = ' DROP TABLE ' + @MayTmp
--EXEC (@sSql)


-- Lay PBT trong thoi gian chon va thoi gian ngung may thoi gian sua may
SELECT T1.MS_PHIEU_BAO_TRI,NGAY_BD_KH,T1.MS_LOAI_BT,STT_CA,NGUOI_GIAM_SAT,T1.NGUOI_NGHIEM_THU, 
	T1.LY_DO_BT,TINH_TRANG_PBT,NGAY_NGHIEM_THU,TT_SAU_BT,
	T4.MS_N_XUONG, T4.Ten_N_XUONG, T4.MS_HE_THONG, T4.TEN_HE_THONG, T4.MS_BP_CHIU_PHI, T4.TEN_BP_CHIU_PHI, T1.MS_MAY, T4.TEN_MAY, 
	T4.MS_LOAI_MAY, T4.TEN_LOAI_MAY
	--,	[dbo].[GetNNNMPBT](T1.MS_PHIEU_BAO_TRI,T1.MS_MAY,T4.MS_N_XUONG,T4.MS_HE_THONG,@NNgu) AS TEN_NNNM, T11.TG_NM  , T11.TG_S
INTO #PBT_TMP 
FROM PHIEU_BAO_TRI T1 INNER JOIN #MAY_TMP AS T4 ON T1.MS_MAY = T4.MS_MAY  
--LEFT JOIN (SELECT        Y.MS_PHIEU_BAO_TRI,X.MS_MAY,X.MS_N_XUONG,X.MS_HE_THONG,SUM(X.THOI_GIAN_SUA_CHUA) AS TG_NM,SUM(X.THOI_GIAN_SUA) AS TG_S
--FROM            dbo.THOI_GIAN_NGUNG_MAY AS X INNER JOIN
--                         dbo.THOI_GIAN_NGUNG_MAY_SO_LAN AS Y ON X.MS_LAN = Y.MS_LAN 
--WHERE        (ISNULL(Y.MS_PHIEU_BAO_TRI, N'') <> '')
--GROUP BY Y.MS_PHIEU_BAO_TRI,X.MS_MAY,X.MS_N_XUONG,X.MS_HE_THONG) T11 ON T1.MS_PHIEU_BAO_TRI = T11.MS_PHIEU_BAO_TRI AND T1.MS_MAY = T11.MS_MAY AND T4.MS_N_XUONG = T11.MS_N_XUONG AND T4.MS_HE_THONG = T11.MS_HE_THONG
WHERE (T1.NGAY_BD_KH BETWEEN @TNgay AND @DNgay) AND (T1.MS_LOAI_BT = @MsLBTri OR @MsLBTri = -1)




SELECT        Y.MS_PHIEU_BAO_TRI,X.MS_MAY,X.MS_N_XUONG,X.MS_HE_THONG,SUM(X.THOI_GIAN_SUA_CHUA) AS TG_NM,SUM(X.THOI_GIAN_SUA) AS TG_S INTO #TGNM
FROM            dbo.THOI_GIAN_NGUNG_MAY AS X INNER JOIN dbo.THOI_GIAN_NGUNG_MAY_SO_LAN AS Y ON X.MS_LAN = Y.MS_LAN  INNER JOIN #PBT_TMP Z ON Y.MS_PHIEU_BAO_TRI = Z.MS_PHIEU_BAO_TRI
WHERE        (ISNULL(Y.MS_PHIEU_BAO_TRI, N'') <> '') AND X.MS_NGUYEN_NHAN IN (438,439,440,441,442)
GROUP BY Y.MS_PHIEU_BAO_TRI,X.MS_MAY,X.MS_N_XUONG,X.MS_HE_THONG

SELECT T1.*, TG_S INTO #TGNM_pivot FROM
(
SELECT MS_PHIEU_BAO_TRI,MS_MAY,MS_N_XUONG,MS_HE_THONG, ISNULL([438],0) + ISNULL([439],0)+ ISNULL([440],0)+ ISNULL([441],0)+ ISNULL([442],0) AS TONG_TG_NM,ISNULL([442],0) AS TG_KT, ISNULL([438],0) AS TG_CK, ISNULL([439],0) TG_LVT, ISNULL([440],0) AS TG_SC, ISNULL([441],0) AS TG_CCL
FROM
(SELECT        Y.MS_PHIEU_BAO_TRI,X.MS_MAY,X.MS_N_XUONG,X.MS_HE_THONG,SUM(X.THOI_GIAN_SUA_CHUA) AS TG_NM,X.MS_NGUYEN_NHAN
FROM            dbo.THOI_GIAN_NGUNG_MAY AS X INNER JOIN
                         dbo.THOI_GIAN_NGUNG_MAY_SO_LAN AS Y ON X.MS_LAN = Y.MS_LAN INNER JOIN #PBT_TMP  Z ON Y.MS_PHIEU_BAO_TRI = Z.MS_PHIEU_BAO_TRI
WHERE        (ISNULL(Y.MS_PHIEU_BAO_TRI, N'') <> '') 
AND X.MS_NGUYEN_NHAN IN (438,439,440,441,442)
GROUP BY Y.MS_PHIEU_BAO_TRI,X.MS_MAY,X.MS_N_XUONG,X.MS_HE_THONG,X.MS_NGUYEN_NHAN
) p
PIVOT 
(SUM (TG_NM) FOR MS_NGUYEN_NHAN IN ([442],[438],[439],[440],[441])) AS pvt 
) T1 LEFT JOIN #TGNM T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI AND T1.MS_MAY = T2.MS_MAY AND T1.MS_N_XUONG = T2.MS_N_XUONG AND T1.MS_HE_THONG = T2.MS_HE_THONG
ORDER BY T1.MS_PHIEU_BAO_TRI



SELECT T1.MS_PHIEU_BAO_TRI,NGAY_BD_KH,T1.MS_LOAI_BT,STT_CA,NGUOI_GIAM_SAT,T1.NGUOI_NGHIEM_THU, 
	T1.LY_DO_BT,TINH_TRANG_PBT,NGAY_NGHIEM_THU,TT_SAU_BT,
	T1.MS_N_XUONG, T1.Ten_N_XUONG, T1.MS_HE_THONG, T1.TEN_HE_THONG, T1.MS_BP_CHIU_PHI, T1.TEN_BP_CHIU_PHI, T1.MS_MAY, T1.TEN_MAY, 
	T1.MS_LOAI_MAY, T1.TEN_LOAI_MAY,TONG_TG_NM, TG_KT,TG_CK, TG_LVT,  TG_SC, TG_CCL,TG_S
	--,	[dbo].[GetNNNMPBT](T1.MS_PHIEU_BAO_TRI,T1.MS_MAY,T4.MS_N_XUONG,T4.MS_HE_THONG,@NNgu) AS TEN_NNNM, T11.TG_NM  , T11.TG_S
INTO #PBT
FROM #PBT_TMP T1 LEFT JOIN #TGNM_pivot T11 ON T1.MS_PHIEU_BAO_TRI = T11.MS_PHIEU_BAO_TRI AND T1.MS_MAY = T11.MS_MAY AND T1.MS_N_XUONG = T11.MS_N_XUONG AND T1.MS_HE_THONG = T11.MS_HE_THONG
 
-- Lay chi phi trong PBT
SELECT        T1.MS_PHIEU_BAO_TRI, SUM(CHI_PHI_PHU_TUNG) AS CHI_PHI_PHU_TUNG, SUM(CHI_PHI_VAT_TU) AS CHI_PHI_VAT_TU, SUM(CHI_PHI_NHAN_CONG) AS CHI_PHI_NHAN_CONG, SUM(CHI_PHI_DV) AS CHI_PHI_DV, SUM(CHI_PHI_KHAC) AS CHI_PHI_KHAC INTO #PBTCP
FROM            dbo.PHIEU_BAO_TRI_CHI_PHI T1 INNER JOIN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM #PBT) T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
GROUP BY T1.MS_PHIEU_BAO_TRI

-- Lấy số người làm trong PBT
SELECT MS_PHIEU_BAO_TRI,MS_BO_PHAN,MS_CV, SUM(SO_NGUOI) AS S_NGUOI INTO #PBTNS FROM 
(SELECT T1.MS_PHIEU_BAO_TRI,T1.MS_BO_PHAN,T1.MS_CV, COUNT(MS_CONG_NHAN) AS SO_NGUOI FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU T1 INNER JOIN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM #PBT) T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI GROUP BY T1.MS_PHIEU_BAO_TRI ,T1.MS_BO_PHAN,T1.MS_CV
UNION SELECT T1.MS_PHIEU_BAO_TRI,NULL AS MS_BO_PHAN, T1.STT AS MS_CV, COUNT(MS_CONG_NHAN) AS SO_NGUOI FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO T1 INNER JOIN (SELECT DISTINCT MS_PHIEU_BAO_TRI FROM #PBT) T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI GROUP BY T1.MS_PHIEU_BAO_TRI , T1.STT
) A GROUP BY MS_PHIEU_BAO_TRI ,MS_BO_PHAN,MS_CV


SELECT ROW_NUMBER() OVER (ORDER BY NGAY_LAP_PHIEU, A.MS_PHIEU_BAO_TRI,MS_MAY,NGUON_DL, TEN_LOAI_BT, Ten_N_XUONG, TEN_HE_THONG,TEN_BP_CHIU_PHI,LOAI_CV,TEN_CV) AS STT,  
NGAY_LAP_PHIEU AS NGAY_LAP, 
A.MS_PHIEU_BAO_TRI, TEN_TINH_TRANG, NGUON_DL, TEN_LOAI_BT, MS_N_XUONG, Ten_N_XUONG, MS_HE_THONG, TEN_HE_THONG, MS_BP_CHIU_PHI, TEN_BP_CHIU_PHI, MS_MAY, TEN_MAY, 
MS_LOAI_MAY, TEN_LOAI_MAY, A.MS_BO_PHAN, TEN_BO_PHAN, LOAI_CV, TEN_CV, LY_DO_BT, SO_GIO_KH, TG_KH_CO_KH, TG_KH_KG_KH, NGAY_BD AS NGAY_BD_KH , NGAY_KT AS NGAY_KT_KH,
 TG_TT_CO_KH, TG_TT_KG_KH, S_NGUOI, NGUOI_TH_PBT, TEN_CA,TRUONG_CA, 
 NGAY_BD_TT, NGAY_KT_TT,  TONG_TG_NM, TG_KT,TG_CK, TG_LVT,  TG_SC, TG_CCL,TG_S,
 MS_NGS, HO_TEN_GS_VIEN, NGAY_NGHIEM_THU, MS_NNT, HO_TEN_NNT, TT_SAU_BT, VAT_TU ,  TY_LE,C.CHI_PHI_PHU_TUNG,C.CHI_PHI_VAT_TU, C.CHI_PHI_NHAN_CONG,C.CHI_PHI_DV,C.CHI_PHI_KHAC,ISNULL(C.CHI_PHI_PHU_TUNG,0) + ISNULL(C.CHI_PHI_VAT_TU,0) + ISNULL(C.CHI_PHI_NHAN_CONG,0) + ISNULL(C.CHI_PHI_DV,0) + ISNULL(C.CHI_PHI_KHAC,0) AS TONG

 into #TCV
  FROM 
(
SELECT       CONVERT(VARCHAR(11), T1.NGAY_BD_KH, 106) AS NGAY_LAP_PHIEU, T1.MS_PHIEU_BAO_TRI,CASE @NNgu WHEN 0 THEN T12.TEN_TINH_TRANG WHEN 1 THEN ISNULL(NULLIF(T12.TEN_TINH_TRANG_ANH ,''),T12.TEN_TINH_TRANG) ELSE ISNULL(NULLIF(T12.TEN_TINH_TRANG_HOA,''),T12.TEN_TINH_TRANG) END AS TEN_TINH_TRANG, @CVC AS NGUON_DL, T3.TEN_LOAI_BT, T1.MS_N_XUONG, T1.Ten_N_XUONG, T1.MS_HE_THONG, T1.TEN_HE_THONG, T1.MS_BP_CHIU_PHI, T1.TEN_BP_CHIU_PHI, T1.MS_MAY, T1.TEN_MAY,T1.MS_LOAI_MAY, T1.TEN_LOAI_MAY, T2.MS_BO_PHAN,
CASE @NNgu WHEN 0 THEN T5.TEN_BO_PHAN WHEN 1 THEN ISNULL(NULLIF(T5.TEN_BO_PHAN_ANH,''),T5.TEN_BO_PHAN) ELSE ISNULL(NULLIF(T5.TEN_BO_PHAN_HOA,''),T5.TEN_BO_PHAN) END AS TEN_BO_PHAN,			 
CASE @NNgu WHEN 0 THEN T7.TEN_LOAI_CV WHEN 1 THEN ISNULL(NULLIF(T7.TEN_LOAI_CV_ANH,''),T7.TEN_LOAI_CV) ELSE ISNULL(NULLIF(T7.TEN_LOAI_CV_HOA,''),T7.TEN_LOAI_CV) END AS LOAI_CV,
CASE @NNgu WHEN 0 THEN T6.MO_TA_CV WHEN 1 THEN ISNULL(NULLIF(T6.MO_TA_CV_ANH,''),T6.MO_TA_CV) ELSE ISNULL(NULLIF(T6.MO_TA_CV_HOA,''),T6.MO_TA_CV) END AS TEN_CV,
						  T1.LY_DO_BT, NULLIF(T2.SO_GIO_KH,0) AS SO_GIO_KH, 
						 CONVERT(FLOAT, CASE T3.HU_HONG WHEN 0 THEN NULLIF(T8.TONG_GIO_KH, 0) END) AS TG_KH_CO_KH, 
						 CONVERT(FLOAT, CASE T3.HU_HONG WHEN 1 THEN NULLIF(T8.TONG_GIO_KH, 0) END) AS TG_KH_KG_KH, 
						 CONVERT(VARCHAR(20), T8.NGAY_BD, 113) AS NGAY_BD, 
						 CONVERT(VARCHAR(20), NGAY_KT, 113) AS  NGAY_KT,
						 CONVERT(FLOAT, CASE T3.HU_HONG WHEN 0 THEN NULLIF(T9.TONG_GIO_TT, 0) END) AS TG_TT_CO_KH, 
						 CONVERT(FLOAT, CASE T3.HU_HONG WHEN 1 THEN NULLIF(T9.TONG_GIO_TT, 0) END) AS TG_TT_KG_KH,
CONVERT(NVARCHAR(4000), dbo.GetNhanSuPBT(T1.MS_PHIEU_BAO_TRI,T2.MS_BO_PHAN,T2.MS_CV,0)) AS NGUOI_TH_PBT,
CASE @NNgu WHEN 0 THEN T10.CA WHEN 1 THEN ISNULL(NULLIF(T10.CA_ANH ,''),T10.CA) ELSE ISNULL(NULLIF(T10.CA_HOA,''),T10.CA) END AS TEN_CA,
NULL AS TRUONG_CA , 
	CONVERT(VARCHAR(20), NGAY_BD_TT, 113) AS NGAY_BD_TT,
	CONVERT(VARCHAR(20), NGAY_KT_TT, 113) AS NGAY_KT_TT,
T1.NGUOI_GIAM_SAT AS MS_NGS , GS.HO + ' ' + GS.TEN AS HO_TEN_GS_VIEN , 
	CONVERT(VARCHAR(11), T1.NGAY_NGHIEM_THU, 106) AS NGAY_NGHIEM_THU, 
	T1.NGUOI_NGHIEM_THU AS MS_NNT, NNT.HO + '' + NNT.TEN AS HO_TEN_NNT, T1.TT_SAU_BT,
CONVERT(NVARCHAR(4000),dbo.GetVTuTheoPBTBPCV(T1.MS_PHIEU_BAO_TRI,T2.MS_CV , T2.MS_BO_PHAN , @NNgu )) AS VAT_TU , 
ROUND((CONVERT(FLOAT,CASE ISNULL(T9.TONG_GIO_TT,0) WHEN 0 THEN NULL ELSE ISNULL(T8.TONG_GIO_KH,0)/T9.TONG_GIO_TT END)),2)  AS TY_LE,TONG_TG_NM, TG_KT,TG_CK, TG_LVT,  TG_SC, TG_CCL,TG_S,T2.MS_CV
FROM            #PBT AS T1 INNER JOIN TINH_TRANG_PBT T12 ON T1.TINH_TRANG_PBT = T12.STT INNER JOIN
                         dbo.PHIEU_BAO_TRI_CONG_VIEC AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI INNER JOIN
                         dbo.LOAI_BAO_TRI AS T3 ON T1.MS_LOAI_BT = T3.MS_LOAI_BT INNER JOIN
                         dbo.CAU_TRUC_THIET_BI AS T5 ON T1.MS_MAY = T5.MS_MAY AND T2.MS_BO_PHAN = T5.MS_BO_PHAN INNER JOIN
                         dbo.CONG_VIEC AS T6 ON T2.MS_CV = T6.MS_CV  INNER JOIN 
                         dbo.LOAI_CONG_VIEC AS T7 ON T6.MS_LOAI_CV = T7.MS_LOAI_CV  LEFT JOIN 
						 CA T10 ON T1.STT_CA = T10.STT LEFT JOIN 
						 CONG_NHAN GS ON T1.NGUOI_GIAM_SAT = GS.MS_CONG_NHAN LEFT JOIN 
(SELECT MS_PHIEU_BAO_TRI,MS_BO_PHAN,MS_CV, MIN(NGAY_KH + CONVERT(TIME,TU_GIO_KH)) AS NGAY_BD, MAX(DEN_NGAY_KH + CONVERT(TIME,DEN_GIO_KH)) AS NGAY_KT , SUM(TONG_GIO_KH) AS TONG_GIO_KH FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET GROUP BY MS_PHIEU_BAO_TRI,MS_BO_PHAN,MS_CV) T8 ON T1.MS_PHIEU_BAO_TRI = T8.MS_PHIEU_BAO_TRI AND T2.MS_BO_PHAN = T8.MS_BO_PHAN AND T2.MS_CV = T8.MS_CV LEFT JOIN 
(
SELECT MS_PHIEU_BAO_TRI,MS_BO_PHAN,MS_CV, MIN(NGAY + CONVERT(TIME,TU_GIO)) AS NGAY_BD_TT, MAX(DEN_NGAY + CONVERT(TIME,DEN_GIO)) AS NGAY_KT_TT , SUM(SO_GIO) AS TONG_GIO_TT FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET GROUP BY MS_PHIEU_BAO_TRI,MS_BO_PHAN,MS_CV) T9 ON T1.MS_PHIEU_BAO_TRI = T9.MS_PHIEU_BAO_TRI AND T2.MS_BO_PHAN = T9.MS_BO_PHAN AND T2.MS_CV = T9.MS_CV LEFT JOIN CONG_NHAN NNT ON T1.NGUOI_NGHIEM_THU = NNT.MS_CONG_NHAN  

UNION 

SELECT     CONVERT(VARCHAR(11), T1.NGAY_BD_KH, 106) AS NGAY_LAP_PHIEU, T1.MS_PHIEU_BAO_TRI,
CASE @NNgu WHEN 0 THEN T12.TEN_TINH_TRANG WHEN 1 THEN ISNULL(NULLIF(T12.TEN_TINH_TRANG_ANH ,''),T12.TEN_TINH_TRANG) ELSE ISNULL(NULLIF(T12.TEN_TINH_TRANG_HOA,''),T12.TEN_TINH_TRANG) END AS TEN_TINH_TRANG,
 @CVP AS NGUON_DL, T3.TEN_LOAI_BT, T1.MS_N_XUONG, T1.Ten_N_XUONG, T1.MS_HE_THONG, T1.TEN_HE_THONG, T1.MS_BP_CHIU_PHI, T1.TEN_BP_CHIU_PHI, T1.MS_MAY, T1.TEN_MAY, T1.MS_LOAI_MAY, T1.TEN_LOAI_MAY, NULL AS MS_BO_PHAN,
NULL AS TEN_BO_PHAN,NULL AS LOAI_CV,T2.TEN_CONG_VIEC AS TEN_CV,T1.LY_DO_BT, NULLIF(T2.SO_GIO_KH,0) AS SO_GIO_KH, 
						 CONVERT(FLOAT, CASE T3.HU_HONG WHEN 0 THEN NULLIF(T8.TONG_GIO_KH, 0) END) AS TG_KH_CO_KH, 
						 CONVERT(FLOAT, CASE T3.HU_HONG WHEN 1 THEN NULLIF(T8.TONG_GIO_KH, 0) END) AS TG_KH_KG_KH , 
						 CONVERT(VARCHAR(20), T8.NGAY_BD, 113) AS NGAY_BD, 
						 CONVERT(VARCHAR(20), NGAY_KT, 113) AS NGAY_KT,
						 CONVERT(FLOAT, CASE T3.HU_HONG WHEN 0 THEN NULLIF(T9.TONG_GIO_TT, 0) END) AS TG_TT_CO_KH, 
						 CONVERT(FLOAT, CASE T3.HU_HONG WHEN 1 THEN NULLIF(T9.TONG_GIO_TT, 0) END) AS TG_TT_KG_KH,
CONVERT(NVARCHAR(4000), dbo.GetNhanSuPBT(T1.MS_PHIEU_BAO_TRI,NULL,T2.STT,1) ) AS NGUOI_TH_PBT,
CASE @NNgu WHEN 0 THEN T10.CA WHEN 1 THEN ISNULL(NULLIF(T10.CA_ANH ,''),T10.CA) ELSE ISNULL(NULLIF(T10.CA_HOA,''),T10.CA) END AS TEN_CA,
NULL AS TRUONG_CA , 
	CONVERT(VARCHAR(20), NGAY_BD_TT, 113) AS NGAY_BD_TT,
	CONVERT(VARCHAR(20), NGAY_KT_TT, 113) AS NGAY_KT_TT,
T1.NGUOI_GIAM_SAT AS MS_NGS , GS.HO + ' ' + GS.TEN AS HO_TEN_GS_VIEN , 
	CONVERT(VARCHAR(11), T1.NGAY_NGHIEM_THU, 106) AS NGAY_NGHIEM_THU, T1.NGUOI_NGHIEM_THU AS MS_NNT, NNT.HO + '' + NNT.TEN AS HO_TEN_NNT, T1.TT_SAU_BT,
CONVERT(NVARCHAR(4000),dbo.GetVTuTheoPBTBPCV(T1.MS_PHIEU_BAO_TRI,T2.STT , NULL , @NNgu )) AS VAT_TU,
ROUND((CONVERT(float,CASE ISNULL(T9.TONG_GIO_TT,0) WHEN 0 THEN NULL ELSE ISNULL(T8.TONG_GIO_KH,0)/T9.TONG_GIO_TT END)),2)  AS TY_LE,TONG_TG_NM, TG_KT,TG_CK, TG_LVT,  TG_SC, TG_CCL,TG_S, T2.STT AS MS_CV
FROM            #PBT AS T1  INNER JOIN TINH_TRANG_PBT T12 ON T1.TINH_TRANG_PBT = T12.STT INNER JOIN 
                         dbo.PHIEU_BAO_TRI_CV_PHU_TRO AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI INNER JOIN
                         dbo.LOAI_BAO_TRI AS T3 ON T1.MS_LOAI_BT = T3.MS_LOAI_BT  LEFT JOIN 
						 CA T10 ON T1.STT_CA = T10.STT LEFT JOIN 
						 CONG_NHAN GS ON T1.NGUOI_GIAM_SAT = GS.MS_CONG_NHAN LEFT JOIN 
(SELECT MS_PHIEU_BAO_TRI,STT, MIN(NGAY_KH + CONVERT(TIME,TU_GIO_KH)) AS NGAY_BD, MAX(DEN_NGAY_KH + CONVERT(TIME,DEN_GIO_KH)) AS NGAY_KT , SUM(TONG_GIO_KH) AS TONG_GIO_KH FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO GROUP BY MS_PHIEU_BAO_TRI,STT

) T8 ON T1.MS_PHIEU_BAO_TRI = T8.MS_PHIEU_BAO_TRI AND T2.STT = T8.STT  LEFT JOIN 
(SELECT MS_PHIEU_BAO_TRI,STT, MIN(NGAY + CONVERT(TIME,TU_GIO)) AS NGAY_BD_TT, MAX(DEN_NGAY + CONVERT(TIME,DEN_GIO)) AS NGAY_KT_TT , SUM(SO_GIO) AS TONG_GIO_TT FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO GROUP BY MS_PHIEU_BAO_TRI,STT
) T9 ON T1.MS_PHIEU_BAO_TRI = T9.MS_PHIEU_BAO_TRI AND T2.STT = T9.STT  LEFT JOIN CONG_NHAN NNT ON T1.NGUOI_NGHIEM_THU = NNT.MS_CONG_NHAN  
) A 
LEFT JOIN #PBTCP C ON A.MS_PHIEU_BAO_TRI = C.MS_PHIEU_BAO_TRI 
LEFT JOIN #PBTNS D ON A.MS_PHIEU_BAO_TRI = D.MS_PHIEU_BAO_TRI AND A.MS_BO_PHAN = D.MS_BO_PHAN AND A.MS_CV = D.MS_CV
ORDER BY  NGAY_LAP_PHIEU, A.MS_PHIEU_BAO_TRI,MS_MAY,NGUON_DL, TEN_LOAI_BT, Ten_N_XUONG, TEN_HE_THONG,TEN_BP_CHIU_PHI,   LOAI_CV,TEN_CV



SELECT        T1.STT, T1.NGAY_LAP, T1.MS_PHIEU_BAO_TRI, T1.TEN_TINH_TRANG, T1.NGUON_DL, T1.TEN_LOAI_BT, T1.MS_N_XUONG, T1.Ten_N_XUONG,CONVERT(NVARCHAR,T1.MS_HE_THONG) AS MS_HE_THONG, T1.TEN_HE_THONG, CONVERT(NVARCHAR,T1.MS_BP_CHIU_PHI) AS MS_BP_CHIU_PHI, 
                         T1.TEN_BP_CHIU_PHI, T1.MS_MAY, T1.TEN_MAY, T1.MS_LOAI_MAY, T1.TEN_LOAI_MAY,CONVERT(NVARCHAR,T1.MS_BO_PHAN) AS MS_BO_PHAN , T1.TEN_BO_PHAN, T1.LOAI_CV, T1.TEN_CV, T1.LY_DO_BT, T1.SO_GIO_KH, T1.TG_KH_CO_KH, T1.TG_KH_KG_KH, 
                         T1.NGAY_BD_KH, T1.NGAY_KT_KH, T1.TG_TT_CO_KH, T1.TG_TT_KG_KH, T1.S_NGUOI, T1.NGUOI_TH_PBT, T1.TEN_CA, T1.TRUONG_CA, T1.NGAY_BD_TT, T1.NGAY_KT_TT, 
						 T2.TONG_TG_NM, T2.TG_KT, T2.TG_CK, T2.TG_LVT, T2.TG_SC, T2.TG_CCL, T2.TG_S, T1.MS_NGS, T1.HO_TEN_GS_VIEN, T1.NGAY_NGHIEM_THU, T1.MS_NNT, T1.HO_TEN_NNT, T1.TT_SAU_BT, T1.VAT_TU, T1.TY_LE, 
						 T2.CHI_PHI_PHU_TUNG, T2.CHI_PHI_VAT_TU, T2.CHI_PHI_NHAN_CONG, T2.CHI_PHI_DV, T2.CHI_PHI_KHAC, T2.TONG
FROM            #TCV AS T1 LEFT OUTER JOIN
                             (SELECT        MS_PHIEU_BAO_TRI, MIN(STT) AS STT, 

MIN(CHI_PHI_PHU_TUNG) AS CHI_PHI_PHU_TUNG, 
MIN(CHI_PHI_VAT_TU) AS CHI_PHI_VAT_TU, 
MIN(CHI_PHI_NHAN_CONG) AS CHI_PHI_NHAN_CONG, 
MIN(CHI_PHI_DV) AS CHI_PHI_DV,  
MIN(CHI_PHI_KHAC) AS CHI_PHI_KHAC, 
MIN(TONG) AS TONG,
MIN(TONG_TG_NM) AS TONG_TG_NM, 
MIN(TG_KT) AS TG_KT, 
MIN(TG_CK) AS TG_CK, 
MIN(TG_LVT) AS TG_LVT, 
MIN(TG_SC) AS TG_SC, 
MIN(TG_CCL) AS TG_CCL, 
MIN(TG_S) AS TG_S

                               FROM            #TCV
                               GROUP BY MS_PHIEU_BAO_TRI) AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI AND T1.STT = T2.STT
--WHERE        (T1.MS_PHIEU_BAO_TRI = 'WO-201810000042')
ORDER BY  NGAY_LAP, MS_PHIEU_BAO_TRI,MS_MAY,NGUON_DL, TEN_LOAI_BT, Ten_N_XUONG, TEN_HE_THONG,TEN_BP_CHIU_PHI,   LOAI_CV,TEN_CV