	--@MS_DH_XUAT_PT NVARCHAR(14) = 'PX-1811-0004',
	--@MS_PT NVARCHAR(25) = '100000000283679'
--EXEC QL_LOAD_LIST_DH_XUAT_VAT_TU_CHI_TIET  'PX-1811-0006', '100000000283706'
ALTER proc [dbo].[QL_LOAD_LIST_DH_XUAT_VAT_TU_CHI_TIET]
	@MS_DH_XUAT_PT NVARCHAR(14) = 'PX-1811-0006',
	@MS_PT NVARCHAR(25)= '100000000283706'
AS

SELECT DISTINCT DHNVT.MS_DH_NHAP_PT,
DHXVTCT.MS_DH_XUAT_PT, DHXVTCT.MS_PT, DHXVTCT.ID_XUAT, CONVERT(FLOAT,ISNULL(DHNVT.DON_GIA,0)) AS DON_GIA, DHN.NGAY, NT.TEN_NGOAI_TE INTO #NGOAI_TE
FROM dbo.NGOAI_TE AS NT INNER JOIN
     dbo.IC_DON_HANG_NHAP_VAT_TU AS DHNVT INNER JOIN
     dbo.IC_DON_HANG_NHAP AS DHN ON DHNVT.MS_DH_NHAP_PT = DHN.MS_DH_NHAP_PT ON NT.NGOAI_TE = DHNVT.NGOAI_TE INNER JOIN
     dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS DHXVTCT ON DHNVT.MS_PT = DHXVTCT.MS_PT AND DHNVT.MS_DH_NHAP_PT = DHXVTCT.MS_DH_NHAP_PT AND DHNVT.ID = DHXVTCT.ID_XUAT WHERE (DHXVTCT.MS_DH_XUAT_PT = @MS_DH_XUAT_PT) AND (DHXVTCT.MS_PT = @MS_PT)

SELECT DISTINCT DHXVTCT.MS_DH_XUAT_PT, DHNVT_1.NGAY, DHXVTCT.MS_PT, DHXVTCT.MS_DH_NHAP_PT, DHXVTCT.MS_VI_TRI, VTK.TEN_VI_TRI, 
      DHXVTCT.SL_VT AS SL_XUAT, DHXVTCT.SL_VT, DHXVTCT.ID_XUAT, CONVERT(FLOAT,ISNULL(DHNVT_1.DON_GIA,0)) AS DON_GIA, DHNVT_1.TEN_NGOAI_TE
FROM #NGOAI_TE  AS DHNVT_1 INNER JOIN
     dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS DHXVTCT INNER JOIN
     dbo.VI_TRI_KHO AS VTK ON DHXVTCT.MS_VI_TRI = VTK.MS_VI_TRI ON DHNVT_1.MS_DH_XUAT_PT = DHXVTCT.MS_DH_XUAT_PT 
     AND DHNVT_1.MS_PT = DHXVTCT.MS_PT AND DHNVT_1.ID_XUAT = DHXVTCT.ID_XUAT
     and DHNVT_1.MS_DH_NHAP_PT = DHXVTCT.MS_DH_NHAP_PT 
WHERE     (DHXVTCT.MS_DH_XUAT_PT = @MS_DH_XUAT_PT) AND (DHXVTCT.MS_PT = @MS_PT)