

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spChiPhiNhanCong')
   exec('CREATE PROCEDURE spChiPhiNhanCong AS BEGIN SET NOCOUNT ON; END')
GO

ALTER PROCEDURE spChiPhiNhanCong
    @MsPBT NVARCHAR(100) = 'WO-201811000425',
	@NgayBD DATETIME = '05/01/2018'
AS

SELECT T1.MS_CONG_NHAN, SUM(TONG_GIO) AS TONG_GIO 
INTO #CNSG
FROM 
(
SELECT MS_CONG_NHAN,SUM(SO_GIO) AS TONG_GIO FROM dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET WHERE MS_PHIEU_BAO_TRI = @MsPBT GROUP BY MS_CONG_NHAN
UNION
SELECT MS_CONG_NHAN,SUM(SO_GIO) AS TONG_GIO FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI = @MsPBT GROUP BY MS_CONG_NHAN
UNION
SELECT MS_CONG_NHAN,SUM(SO_GIO) AS TONG_GIO FROM dbo.PHIEU_BAO_TRI_NHAN_SU WHERE MS_PHIEU_BAO_TRI = @MsPBT GROUP BY MS_CONG_NHAN) T1
GROUP BY T1.MS_CONG_NHAN

SELECT SUM((ISNULL(TONG_GIO,0) * ISNULL(T2.LUONG_CO_BAN,0))/ (26*8*60)) AS LUONG FROM 
(
SELECT T1.MS_CONG_NHAN, MAX(T1.NGAY_HIEU_LUC) AS NGAY_HIEU_LUC
FROM dbo.LUONG_CO_BAN T1 INNER JOIN #CNSG T2 ON T1.MS_CONG_NHAN = T2.MS_CONG_NHAN 
GROUP BY T1.MS_CONG_NHAN
HAVING MAX(T1.NGAY_HIEU_LUC) <= @NgayBD
) T1 INNER JOIN dbo.LUONG_CO_BAN T2 ON T2.MS_CONG_NHAN = T1.MS_CONG_NHAN AND T2.NGAY_HIEU_LUC = T1.NGAY_HIEU_LUC
INNER JOIN #CNSG T3 ON T1.MS_CONG_NHAN = T3.MS_CONG_NHAN


