
--SELECT DISTINCT * INTO TTBT FROM TINH_TRANG_PBT WHERE STT = 2  ;EXEC MGetDSBaoTri '01/01/2017','12/31/2019','-1',-1,'-1','-1','ADMINISTRATOR',1
-- EXEC MGetDSBaoTri '01/01/2017','12/31/2019','-1',-1,'-1','-1','ADMINISTRATOR',1
ALTER proc [dbo].[MGetDSBaoTri]
		@TNGAY DATETIME,
		@DNGAY DATETIME,		
		@MSNX NVARCHAR(150),
		@MSHT NVARCHAR(150),
		@MSLMAY NVARCHAR(50),
		@MSLBT INT,
		@USERNAME NVARCHAR(50),
		@NGON_NGU INT
AS	
SELECT * INTO #MAY_USER	FROM [dbo].[MGetMayUserNgay](@DNGAY,@USERNAME,@MSNX,@MSHT,-1,@MSLMAY,'-1','-1',@NGON_NGU)

IF EXISTS(SELECT TOP 1 * FROM THONG_TIN_CHUNG WHERE [PRIVATE] = 'VIFON')
BEGIN
	SELECT T1.MS_MAY,TEN_MAY,T1.MS_PHIEU_BAO_TRI,
	LY_DO_BT, 
	ISNULL(dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,0,0),T1.NGAY_BD_KH) AS NGAY_BD_KH,ISNULL(dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,0,1),T1.NGAY_KT_KH) AS NGAY_KT_KH,
	dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,1,0) AS NGAY_BD,dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,1,1) AS NGAY_KT, 
	dbo.MGetPBTMoTaCongViec(T1.MS_PHIEU_BAO_TRI,@NGON_NGU) AS NOI_DUNG_CV, 
	dbo.GetCongNhanPBTCV (T1.MS_PHIEU_BAO_TRI) AS NGUOI_THUC_HIEN, dbo.GetPBTVTu(T1.MS_PHIEU_BAO_TRI,@NGON_NGU) AS VTPT,
	T1.NGAY_NGHIEM_THU, CONVERT(NVARCHAR(500),T4.HO + ' ' + T4.TEN) AS NGUOI_NT
,
	CASE @NGON_NGU WHEN 0 THEN T5.CA WHEN 1 THEN ISNULL(T5.CA_ANH,T5.CA) ELSE ISNULL(T5.CA_HOA,T5.CA) END AS TEN_CA
	,	(T7.HO + ' ' +  T7.TEN) AS NGUOI_GIAM_SAT
		, 	
	CASE @NGON_NGU WHEN 0 THEN T6.TEN_TINH_TRANG WHEN 1 THEN T6.TEN_TINH_TRANG_ANH ELSE T6.TEN_TINH_TRANG_HOA END AS TEN_TINH_TRANG
	FROM PHIEU_BAO_TRI T1 INNER JOIN TTBT T2 ON T1.TINH_TRANG_PBT = T2.STT 
	INNER JOIN #MAY_USER T3 ON T1.MS_MAY = T3.MS_MAY 
	LEFT JOIN CONG_NHAN T4 ON T1.NGUOI_NGHIEM_THU = T4.MS_CONG_NHAN 
	LEFT JOIN CA T5 ON T1.STT_CA = T5.STT
	LEFT JOIN dbo.TINH_TRANG_PBT T6 ON T6.STT = T1.TINH_TRANG_PBT
	LEFT JOIN dbo.CONG_NHAN T7 ON T7.MS_CONG_NHAN = T1.NGUOI_GIAM_SAT
	WHERE CONVERT(DATE,NGAY_BD_KH) BETWEEN @TNGAY AND @DNGAY 
	ORDER BY T1.MS_MAY,T1.MS_PHIEU_BAO_TRI
END 
ELSE
BEGIN
	SELECT T1.MS_MAY,TEN_MAY,T1.MS_PHIEU_BAO_TRI,LY_DO_BT,
	ISNULL(dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,0,0),T1.NGAY_BD_KH) AS NGAY_BD_KH,ISNULL(dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,0,1),T1.NGAY_KT_KH) AS NGAY_KT_KH,
	dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,1,0) AS NGAY_BD,dbo.GetNgayBaoTri(T1.MS_PHIEU_BAO_TRI,1,1,1) AS NGAY_KT, 
	dbo.MGetPBTMoTaCongViec(T1.MS_PHIEU_BAO_TRI,@NGON_NGU) AS NOI_DUNG_CV, 
	dbo.GetCongNhanPBTCV (T1.MS_PHIEU_BAO_TRI) AS NGUOI_THUC_HIEN, dbo.GetPBTVTu(T1.MS_PHIEU_BAO_TRI,@NGON_NGU) AS VTPT,
	T1.NGAY_NGHIEM_THU, CONVERT(NVARCHAR(500),T4.HO + ' ' + T4.TEN) AS NGUOI_NT
	FROM PHIEU_BAO_TRI T1 INNER JOIN TTBT T2 ON T1.TINH_TRANG_PBT = T2.STT INNER JOIN #MAY_USER T3 ON T1.MS_MAY = T3.MS_MAY LEFT JOIN CONG_NHAN T4 ON T1.NGUOI_NGHIEM_THU = T4.MS_CONG_NHAN
	WHERE CONVERT(DATE,NGAY_BD_KH) BETWEEN @TNGAY AND @DNGAY 
	ORDER BY T1.MS_MAY,T1.MS_PHIEU_BAO_TRI
END 

DROP TABLE TTBT



