IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetDSCauTrucThietBiPhuTung')
   exec('CREATE PROCEDURE [dbo].[GetDSCauTrucThietBiPhuTung] AS BEGIN SET NOCOUNT ON; END')
GO
-- exec GetDSCauTrucThietBiPhuTung 0, 'admin','10-01-OFF-009-00','WO-201510000299'
ALTER PROCEDURE [dbo].[GetDSCauTrucThietBiPhuTung]
	@TYPE INT,
	@USERNAME NVARCHAR(50),
	@BTCVPT NVARCHAR(50),
	@BTCV NVARCHAR(50),
	@MS_MAY NVARCHAR(30),
	@MS_PHIEU_BAO_TRI NVARCHAR(50)

AS

UPDATE CAU_TRUC_THIET_BI_PHU_TUNG SET SO_LUONG = 1 WHERE ISNULL(SO_LUONG,0) = 0 AND MS_MAY = @MS_MAY AND ISNULL(CAU_TRUC_THIET_BI_PHU_TUNG.ACTIVE,0) = 1

CREATE TABLE #PTUNG (
		[MS_PT] NVARCHAR(255),		
		[MS_BO_PHAN] NVARCHAR(50),
		[MS_CV] INT, SL_KH FLOAT )
DECLARE @sSQL NVARCHAR(4000)
SET @sSQL = 'INSERT INTO #PTUNG (MS_PT,[MS_BO_PHAN],[MS_CV], SL_KH ) SELECT DISTINCT MS_PT,[MS_BO_PHAN],[MS_CV],SL_KH FROM ' +  @BTCVPT  + ' WHERE MS_PHIEU_BAO_TRI = ''' + @MS_PHIEU_BAO_TRI + ''''
EXEC (@sSQL)

CREATE TABLE #BTCVIEC(
	[MS_BO_PHAN] NVARCHAR(50),
	[MS_CV] INT)
SET @sSQL = 'INSERT INTO #BTCVIEC ([MS_BO_PHAN],[MS_CV]) SELECT DISTINCT [MS_BO_PHAN],[MS_CV] FROM ' +  @BTCV + ' WHERE MS_PHIEU_BAO_TRI = ''' + @MS_PHIEU_BAO_TRI + ''''
EXEC (@sSQL)


SELECT DISTINCT T1.MS_PT INTO #LPT_USER FROM IC_PHU_TUNG_LOAI_PHU_TUNG T1 INNER JOIN NHOM_LOAI_PHU_TUNG T2 ON T1.MS_LOAI_PT = T2.MS_LOAI_PT 
	INNER JOIN USERS T3 ON T2.GROUP_ID = T3.GROUP_ID WHERE USERNAME = @USERNAME
SELECT DISTINCT T1.MS_PT INTO #LM_USER FROM IC_PHU_TUNG_LOAI_MAY T1 INNER JOIN NHOM_LOAI_MAY T2 ON T1.MS_LOAI_MAY = T2.MS_LOAI_MAY 
	INNER JOIN USERS T3 ON T2.GROUP_ID = T3.GROUP_ID WHERE USERNAME = @USERNAME
	
SELECT     T1.MS_PT, T2.TEN_PT, T2.TEN_PT_VIET, T2.QUY_CACH, T1.SO_LUONG, 
		CASE @TYPE WHEN 0 THEN T4.TEN_LOAI_VT_TV WHEN 1 THEN T4.TEN_LOAI_VT_TA ELSE T4.TEN_LOAI_VT_TH END AS TEN_LOAI_VT_TV, 
		T2.MS_PT_NCC, T2.MS_PT_CTY, 
		CASE @TYPE WHEN 0 THEN T3.TEN_1 WHEN 1 THEN T3.TEN_2 ELSE T3.TEN_3 END AS TEN_1, 'YN' AS MS_PT_CHA, T1.MS_BO_PHAN,C.MS_CV
INTO #BT1               
FROM         dbo.CAU_TRUC_THIET_BI AS T1 INNER JOIN
                      dbo.IC_PHU_TUNG AS T2 ON T1.MS_PT = T2.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS T3 ON T2.DVT = T3.DVT INNER JOIN
                      dbo.LOAI_VT AS T4 ON T2.MS_LOAI_VT = T4.MS_LOAI_VT  INNER JOIN
                      dbo.#LPT_USER AS A ON T2.MS_PT = A.MS_PT INNER JOIN
                      dbo.#LM_USER AS B ON T2.MS_PT = B.MS_PT INNER JOIN
                      dbo.#BTCVIEC AS C ON T1.MS_BO_PHAN = C.MS_BO_PHAN
WHERE     (T1.MS_MAY = @MS_MAY) AND (T2.ACTIVE_PT = 1)



SELECT DISTINCT T1.MS_PT, T2.TEN_PT, T2.TEN_PT_VIET, T2.QUY_CACH,(SELECT SUM(SO_LUONG) AS SL FROM dbo.CAU_TRUC_THIET_BI_PHU_TUNG AS CTTBPT 
			WHERE (MS_PT = T1.MS_PT) AND (MS_BO_PHAN = T1.MS_BO_PHAN) AND (MS_MAY = T1.MS_MAY)) AS SL_KH, 
		CASE @TYPE WHEN 0 THEN T4.TEN_LOAI_VT_TV WHEN 1 THEN T4.TEN_LOAI_VT_TA ELSE T4.TEN_LOAI_VT_TH END AS TEN_LOAI_VT_TV, 						
		T2.MS_PT_NCC, T2.MS_PT_CTY, 
		CASE @TYPE WHEN 0 THEN T3.TEN_1 WHEN 1 THEN T3.TEN_2 ELSE T3.TEN_3 END AS TEN_1, 'Y' AS MS_PT_CHA, T1.MS_BO_PHAN, C.MS_CV
INTO #BT2
FROM         dbo.CAU_TRUC_THIET_BI_PHU_TUNG AS T1 INNER JOIN
                      dbo.IC_PHU_TUNG AS T2 ON T1.MS_PT = T2.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS T3 ON T2.DVT = T3.DVT INNER JOIN
                      dbo.LOAI_VT AS T4 ON T2.MS_LOAI_VT = T4.MS_LOAI_VT INNER JOIN
                      dbo.[#LPT_USER] AS A ON T2.MS_PT = A.MS_PT INNER JOIN
                      dbo.[#LM_USER] AS B ON T2.MS_PT = B.MS_PT INNER JOIN
                      dbo.[#BTCVIEC] AS C ON T1.MS_BO_PHAN = C.MS_BO_PHAN
WHERE (T1.MS_MAY = @MS_MAY) AND (T1.ACTIVE = 1) AND (T2.ACTIVE_PT = 1) AND (NOT EXISTS
	(SELECT DISTINCT T10.* FROM dbo.#BT1 AS T10 WHERE (T1.MS_PT = T10.MS_PT) AND (T1.MS_BO_PHAN = T10.MS_BO_PHAN) AND T10.MS_CV = C.MS_CV))

SELECT * INTO #BT3 FROM #BT2 
UNION 
SELECT * FROM #BT1 


UPDATE #BT3 SET #BT3.SL_KH = B.SL_KH 
FROM            #BT3 AS A INNER JOIN
#PTUNG AS B ON  A.MS_CV = B.MS_CV AND A.MS_BO_PHAN = B.MS_BO_PHAN AND A.MS_PT = B.MS_PT


SELECT DISTINCT
	CONVERT(BIT,CASE ISNULL(T2.MS_PT,'') WHEN '' THEN 0 ELSE 1 END) AS CHON,T1.MS_PT, TEN_PT,
	TEN_PT_VIET,QUY_CACH ,MS_PT_NCC, MS_PT_CTY,	T1.SL_KH 
	, TEN_LOAI_VT_TV,TEN_1,MS_PT_CHA ,
	T1.MS_BO_PHAN, T1.MS_CV,@MS_PHIEU_BAO_TRI AS MS_PHIEU_BAO_TRI 
FROM #BT3  T1 
LEFT JOIN #PTUNG T2 ON T1.MS_PT = T2.MS_PT AND T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.MS_CV = T2.MS_CV
--WHERE NOT EXISTS (SELECT * FROM #PTUNG B WHERE T1.MS_CV = B.MS_CV AND T1.MS_BO_PHAN = B.MS_BO_PHAN AND T1.MS_PT = B.MS_PT)


ORDER BY MS_PHIEU_BAO_TRI, MS_BO_PHAN,MS_CV,MS_PT,TEN_PT

