
ALTER procedure [dbo].[GetHIEU_CHUAN_MAY_Theo_NGAY_HC] 
@TU_NGAY_TMP  NVARCHAR(10),
@DEN_NGAY_TMP NVARCHAR(10),
@USERNAME NVARCHAR(50)
AS
		
	DECLARE @NgayHT DATETIME
	SET @NgayHT = GETDATE()
	SELECT A.* INTO #MAY FROM dbo.MGetMayUserNgay(@NgayHT,@USERNAME,'-1',-1,-1,'-1','-1','-1',0) A 


DECLARE @TU_NGAY DATETIME
DECLARE @DEN_NGAY DATETIME
IF @TU_NGAY_TMP='  /  /'
	SET @TU_NGAY=NULL
ELSE
	SET @TU_NGAY=CONVERT(DATETIME,@TU_NGAY_TMP,103)

IF @DEN_NGAY_TMP='  /  /'
	SET @DEN_NGAY=NULL
ELSE
	SET @DEN_NGAY=CONVERT(DATETIME,@DEN_NGAY_TMP,103)


SELECT dbo.HIEU_CHUAN_MAY.MS_MAY,MAY.TEN_MAY,dbo.HIEU_CHUAN_MAY.NGAY_KH, dbo.HIEU_CHUAN_MAY.NGAY_HC,
         	
         	(case when  MAY.DON_VI_THOI_GIAN =1 then 
	MAX(dbo.HIEU_CHUAN_MAY.NGAY_HC) + CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 1 THEN MAY.CHU_KY_HC_TB ELSE 
				CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 2 THEN MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE    MAY.CHU_KY_KD_TB	END	 END
else 
	case when  MAY.DON_VI_THOI_GIAN =2 THEN 
		MAX(dbo.HIEU_CHUAN_MAY.NGAY_HC) + 7*(CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 1 THEN MAY.CHU_KY_HC_TB ELSE 
				CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 2 THEN MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE    MAY.CHU_KY_KD_TB	END	 END)
	ELSE 
		case when  MAY.DON_VI_THOI_GIAN =3 THEN 
			DATEADD(MONTH,(CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 1 THEN MAY.CHU_KY_HC_TB ELSE 
				CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 2 THEN MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE    MAY.CHU_KY_KD_TB	END	 END),MAX(dbo.HIEU_CHUAN_MAY.NGAY_HC))
		else
			DATEADD(year,(CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 1 THEN MAY.CHU_KY_HC_TB ELSE 
				CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 2 THEN MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE    MAY.CHU_KY_KD_TB	END	 END),MAX(dbo.HIEU_CHUAN_MAY.NGAY_HC))
	    end
	END
END) as NGAY_KT
         	
         	,dbo.HIEU_CHUAN_MAY.GIAY_CHUNG_NHAN, 
                dbo.HIEU_CHUAN_MAY.CO_QUAN_HIEU_CHUAN, dbo.HIEU_CHUAN_MAY.DANH_GIA, dbo.LOAI_HIEU_CHUAN_MAY.TEN_LOAI_HIEU_CHUAN, dbo.HIEU_CHUAN_MAY.TAI_LIEU, 
                dbo.HIEU_CHUAN_MAY.GHI_CHU, dbo.LOAI_HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN
	FROM dbo.HIEU_CHUAN_MAY 
	LEFT OUTER JOIN dbo.LOAI_HIEU_CHUAN_MAY ON dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = dbo.LOAI_HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN
	INNER JOIN #MAY AS MAY on dbo.HIEU_CHUAN_MAY.MS_MAY=MAY.MS_MAY
	WHERE NGAY_HC>=@TU_NGAY AND NGAY_HC<=@DEN_NGAY
	GROUP BY dbo.HIEU_CHUAN_MAY.MS_MAY,MAY.TEN_MAY,dbo.HIEU_CHUAN_MAY.NGAY_KH,dbo.HIEU_CHUAN_MAY.NGAY_HC,dbo.HIEU_CHUAN_MAY.DANH_GIA,dbo.LOAI_HIEU_CHUAN_MAY.TEN_LOAI_HIEU_CHUAN,dbo.HIEU_CHUAN_MAY.TAI_LIEU,dbo.HIEU_CHUAN_MAY.GHI_CHU,dbo.LOAI_HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN
	, MAY.CHU_KY_HC_TB, MAY.SO_THE, dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN,MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI,MAY.CHU_KY_KD_TB
	,dbo.HIEU_CHUAN_MAY.CO_QUAN_HIEU_CHUAN, dbo.HIEU_CHUAN_MAY.GIAY_CHUNG_NHAN,MAY.DON_VI_THOI_GIAN
	ORDER BY NGAY_HC DESC, dbo.HIEU_CHUAN_MAY.MS_MAY

--IF @TU_NGAY=NULL AND @DEN_NGAY=NULL 
--	SELECT *INTO #HIEU_CHUAN_NGAY_KT FROM HIEU_CHUAN_MAY
--	ORDER BY NGAY_HC DESC, dbo.HIEU_CHUAN_MAY.MS_MAY

--IF @TU_NGAY!=NULL AND @DEN_NGAY=NULL 
--	SELECT * INTO #HIEU_CHUAN_NGAY_KT FROM HIEU_CHUAN_MAY
--	WHERE  NGAY_HC>=@TU_NGAY
--	ORDER BY NGAY_HC DESC, dbo.HIEU_CHUAN_MAY.MS_MAY

--IF @TU_NGAY=NULL AND @DEN_NGAY!=NULL
--	SELECT * INTO #HIEU_CHUAN_NGAY_KT FROM HIEU_CHUAN_MAY 
--	WHERE NGAY_HC<=@DEN_NGAY
--	ORDER BY NGAY_HC DESC, dbo.HIEU_CHUAN_MAY.MS_MAY

--IF @TU_NGAY!=NULL AND @DEN_NGAY!=NULL 
--	SELECT * INTO #HIEU_CHUAN_NGAY_KT FROM HIEU_CHUAN_MAY 
--	WHERE NGAY_HC BETWEEN @TU_NGAY AND DateAdd(day,1, CONVERT(DATETIME,@DEN_NGAY,103) )
--	ORDER BY NGAY_HC DESC, dbo.HIEU_CHUAN_MAY.MS_MAY
