IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetHIEU_CHUAN_DHDs') 
exec('CREATE PROCEDURE GetHIEU_CHUAN_DHDs AS BEGIN SET NOCOUNT ON; END')
GO

ALTER procedure [dbo].[GetHIEU_CHUAN_DHDs]
	@USERNAME NVARCHAR(50) ='admin'
 AS
 
 	DECLARE @NgayHT AS DATETIME
	SET @NgayHT = GETDATE()

	SELECT A.* INTO #MAY FROM dbo.MGetMayUserNgay(@NgayHT,@USERNAME,'-1',-1,-1,'-1','-1','-1',0) A 

 SELECT dbo.HIEU_CHUAN_DHD.MS_MAY,MAY.TEN_MAY,dbo.HIEU_CHUAN_DHD.MS_PT, dbo.IC_PHU_TUNG.TEN_PT, 
        dbo.HIEU_CHUAN_DHD.MS_VI_TRI, dbo.HIEU_CHUAN_DHD.NGAY_KH, dbo.HIEU_CHUAN_DHD.NGAY, 
        dbo.LOAI_HIEU_CHUAN.TEN_LOAI_HIEU_CHUAN, dbo.HIEU_CHUAN_DHD.GIAY_CHUNG_NHAN, dbo.HIEU_CHUAN_DHD.CO_QUAN_HIEU_CHUAN, 
        dbo.HIEU_CHUAN_DHD.DANH_GIA, dbo.HIEU_CHUAN_DHD.NOI, dbo.HIEU_CHUAN_DHD.DUONG_DAN, dbo.HIEU_CHUAN_DHD.GHI_CHU, 
        dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN, dbo.HIEU_CHUAN_DHD.DD_GOC,
        dbo.CHU_KY_HIEU_CHUAN.MS_DV_TG,
        (case when  dbo.CHU_KY_HIEU_CHUAN.MS_DV_TG =1 then DATEADD(DAY,(CASE WHEN dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 1 THEN dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NOI
                           ELSE 
                           CASE WHEN dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 2 THEN dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NGOAI
                            ELSE
                             CASE WHEN  dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 3 THEN  dbo.CHU_KY_HIEU_CHUAN.CHU_KY_KD
                              ELSE  dbo.CHU_KY_HIEU_CHUAN.CHU_KY_KT END END END),dbo.HIEU_CHUAN_DHD.NGAY)
else 
 case when  dbo.CHU_KY_HIEU_CHUAN.MS_DV_TG =2 THEN 
  DATEADD(WEEK,(CASE WHEN dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 1 THEN dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NOI
                           ELSE 
                           CASE WHEN dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 2 THEN dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NGOAI
                            ELSE
                             CASE WHEN  dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 3 THEN  dbo.CHU_KY_HIEU_CHUAN.CHU_KY_KD
                              ELSE  dbo.CHU_KY_HIEU_CHUAN.CHU_KY_KT END END END),dbo.HIEU_CHUAN_DHD.NGAY)
 ELSE 
  case when  CHU_KY_HIEU_CHUAN.MS_DV_TG =3 THEN 
   DATEADD(MONTH,(CASE WHEN dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 1 THEN dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NOI
                           ELSE 
                           CASE WHEN dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 2 THEN dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NGOAI
                            ELSE
                             CASE WHEN  dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 3 THEN  dbo.CHU_KY_HIEU_CHUAN.CHU_KY_KD
                              ELSE  dbo.CHU_KY_HIEU_CHUAN.CHU_KY_KT END END END),dbo.HIEU_CHUAN_DHD.NGAY)
  else
   DATEADD(year,(CASE WHEN dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 1 THEN dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NOI
                           ELSE 
                           CASE WHEN dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 2 THEN dbo.CHU_KY_HIEU_CHUAN.CHU_KY_HC_NGOAI
                            ELSE
                             CASE WHEN  dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = 3 THEN  dbo.CHU_KY_HIEU_CHUAN.CHU_KY_KD
                              ELSE  dbo.CHU_KY_HIEU_CHUAN.CHU_KY_KT END END END),dbo.HIEU_CHUAN_DHD.NGAY)
     end
 END
END) AS NGAYHCKE
        
 FROM         dbo.HIEU_CHUAN_DHD INNER JOIN
        dbo.CHU_KY_HIEU_CHUAN ON dbo.HIEU_CHUAN_DHD.MS_MAY = dbo.CHU_KY_HIEU_CHUAN.MS_MAY AND 
        dbo.HIEU_CHUAN_DHD.MS_PT = dbo.CHU_KY_HIEU_CHUAN.MS_PT AND 
        dbo.HIEU_CHUAN_DHD.MS_VI_TRI = dbo.CHU_KY_HIEU_CHUAN.MS_VI_TRI INNER JOIN
        dbo.IC_PHU_TUNG ON dbo.HIEU_CHUAN_DHD.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN
        dbo.LOAI_HIEU_CHUAN ON dbo.HIEU_CHUAN_DHD.MS_LOAI_HIEU_CHUAN = dbo.LOAI_HIEU_CHUAN.MS_LOAI_HIEU_CHUAN
       INNER JOIN #MAY MAY ON MAY.MS_MAY = HIEU_CHUAN_DHD.MS_MAY
 ORDER BY NGAY DESC, HIEU_CHUAN_DHD.MS_MAY,IC_PHU_TUNG.TEN_PT
