

--	exec [spGetGSTT] 'administrator',2,'02/01/2019','05/28/2019',-1, -1,-1,'-1',-1

ALTER PROCEDURE [dbo].[spGetGSTT]
	@USERNAME VARCHAR(64),
	@LANGUAGE INT,
	@TU_NGAY DATETIME,
	@DEN_NGAY DATETIME,
	@MS_NHA_XUONG VARCHAR(50),
	@MS_HE_THONG INT,
	@MS_LOAI_MAY VARCHAR(30),
	@MS_MAY VARCHAR(30),
	@MS_LOAI_CV INT
AS
BEGIN
SET FMTONLY OFF;

SELECT	MS_MAY, TEN_MAY, MS_N_XUONG, TEN_LOAI_MAY
INTO	#MAY_USER
FROM	[dbo].[MGetMayUserNgay](@DEN_NGAY, @USERNAME, @MS_NHA_XUONG, @MS_HE_THONG, -1, @MS_LOAI_MAY, '-1', @MS_MAY, @LANGUAGE);

SELECT	T4.MS_TS_GSTT, CASE @LANGUAGE WHEN 0 THEN T4.TEN_TS_GSTT
											WHEN 1 THEN ISNULL(NULLIF(T4.TEN_TS_GSTT_ANH, ''), T4.TEN_TS_GSTT)ELSE ISNULL(NULLIF(T4.TEN_TS_GSTT_HOA, ''), T4.TEN_TS_GSTT)END AS TEN_TS_GSTT, T4.MS_DV_DO, T4.LOAI_TS, T4.GHI_CHU, T4.MS_BP_GSTT, T4.DUONG_DAN, T4.MS_LOAI_CV, T4.CACH_THUC_HIEN, T4.THOI_GIAN
INTO	#THONG_SO_GSTT
FROM	dbo.NHOM_LOAI_CONG_VIEC AS T2
			INNER JOIN dbo.USERS AS T3 ON T2.GROUP_ID=T3.GROUP_ID
			INNER JOIN dbo.THONG_SO_GSTT AS T4 ON T2.MS_LOAI_CV=T4.MS_LOAI_CV
WHERE(USERNAME=@USERNAME)AND(T4.MS_LOAI_CV=@MS_LOAI_CV OR @MS_LOAI_CV=-1)AND(ISNULL(T4.MS_LOAI_CV, '')<>'')
UNION
SELECT	*
FROM
(
	SELECT		T4.MS_TS_GSTT, CASE @LANGUAGE WHEN 0 THEN T4.TEN_TS_GSTT
												WHEN 1 THEN ISNULL(NULLIF(T4.TEN_TS_GSTT_ANH, ''), T4.TEN_TS_GSTT)ELSE ISNULL(NULLIF(T4.TEN_TS_GSTT_HOA, ''), T4.TEN_TS_GSTT)END AS TEN_TS_GSTT, T4.MS_DV_DO, T4.LOAI_TS, T4.GHI_CHU, T4.MS_BP_GSTT, T4.DUONG_DAN, ISNULL(T4.MS_LOAI_CV, -99) AS MS_LOAI_CV, T4.CACH_THUC_HIEN, T4.THOI_GIAN
	FROM	dbo.THONG_SO_GSTT AS T4
	WHERE(ISNULL(MS_LOAI_CV, '')='')
) A
WHERE(MS_LOAI_CV=@MS_LOAI_CV OR @MS_LOAI_CV=-1);

SELECT	T1.*
INTO	#HCK
FROM	dbo.MGetHieuChuanKeGSTT(@TU_NGAY, @DEN_NGAY, @USERNAME, @MS_NHA_XUONG, @MS_HE_THONG, -1, @MS_LOAI_MAY, '-1',-1, 1, @LANGUAGE) T1
			INNER JOIN #THONG_SO_GSTT T2 ON T1.MS_TS_GSTT=T2.MS_TS_GSTT;

SELECT DISTINCT ROW_NUMBER() OVER (ORDER BY TEMP.MS_MAY, TEMP.TEN_MAY, TEMP.MS_BO_PHAN, TEMP.TEN_TS_GSTT) AS STT, TEMP.MS_MAY, TEMP.TEN_MAY, TEMP.MS_BO_PHAN,
	(
		SELECT	TOP 1		ISNULL(TEN_BO_PHAN, '')
		FROM	CAU_TRUC_THIET_BI
		WHERE MS_BO_PHAN=
		(
		SELECT	TOP 1		CASE WHEN ISNULL(MS_BO_PHAN_CHA, '')=MS_MAY THEN MS_BO_PHAN ELSE MS_BO_PHAN_CHA END
			FROM	CAU_TRUC_THIET_BI
			WHERE MS_BO_PHAN=TEMP.MS_BO_PHAN AND MS_MAY=TEMP.MS_MAY
		)			AND MS_MAY=TEMP.MS_MAY
	)+' - '+TEMP.TEN_BO_PHAN AS TEN_BO_PHAN, TEMP.TEN_TS_GSTT, TEMP.CHU_KY_DO, TEMP.NGAY_KT_CUOI, TEMP.TEN_GIA_TRI, ISNULL(TEMP.DAT, 0) DAT, MIN(TEMP.NGAY_KT_KE) AS NGAY_KT_KE, dbo.MGetGiaTriThongSoGSTT(TEMP.MS_TS_GSTT) AS TEN_GT_GSTT, STT_BP, TEN_LOAI_MAY, CACH_THUC_HIEN, THOI_GIAN
FROM
(
SELECT	DISTINCT	T1.MS_MAY, T4.TEN_MAY, T1.MS_BO_PHAN+' - '+T2.TEN_BO_PHAN AS TEN_BO_PHAN, T2.TEN_TS_GSTT, T2.CHU_KY_DO, T2.NGAY_CUOI AS NGAY_KT_CUOI, ISNULL((T1.TEN_GT+' ('+CAST(T7.GIA_TRI_DO AS VARCHAR(10))+')'), dbo.MGetLisTGSTTThongSo(T2.STT_CUOI, T2.MS_MAY, T2.MS_TS_GSTT, T2.MS_BO_PHAN, T2.MS_TT)) AS TEN_GIA_TRI, T1.DAT, T2.NGAY_KE AS NGAY_KT_KE, T4.MS_N_XUONG, T1.MS_TS_GSTT, T1.MS_BO_PHAN, T3.STT AS STT_BP, T4.TEN_LOAI_MAY, T1.CACH_THUC_HIEN, T1.THOI_GIAN
	FROM	dbo.CAU_TRUC_THIET_BI_TS_GSTT T1
				INNER JOIN #HCK T2 ON T2.MS_MAY=T1.MS_MAY AND T2.MS_BO_PHAN=T1.MS_BO_PHAN AND T2.MS_TS_GSTT=T1.MS_TS_GSTT AND T2.MS_TT=T1.MS_TT
				INNER JOIN dbo.CAU_TRUC_THIET_BI T3 ON T3.MS_MAY=T1.MS_MAY AND T3.MS_BO_PHAN=T1.MS_BO_PHAN
				INNER JOIN #MAY_USER T4 ON T4.MS_MAY=T1.MS_MAY
				INNER JOIN dbo.GIAM_SAT_TINH_TRANG_TS T7 ON T7.MS_MAY=T1.MS_MAY AND T7.MS_BO_PHAN=T1.MS_BO_PHAN AND T7.MS_TS_GSTT=T1.MS_TS_GSTT AND T7.MS_TT=T1.MS_TT
	WHERE T1.ACTIVE=1 AND CONVERT(DATE, T2.NGAY_KE) BETWEEN CONVERT(DATE, @TU_NGAY)AND CONVERT(DATE, @DEN_NGAY)
) TEMP
GROUP BY TEMP.MS_MAY, TEMP.TEN_MAY, TEMP.TEN_BO_PHAN, TEMP.TEN_TS_GSTT, TEMP.MS_BO_PHAN, TEMP.CHU_KY_DO, TEMP.NGAY_KT_CUOI, TEMP.TEN_GIA_TRI, TEMP.DAT, TEMP.MS_TS_GSTT, TEMP.STT_BP, TEMP.TEN_LOAI_MAY, TEMP.CACH_THUC_HIEN, TEMP.THOI_GIAN
ORDER BY TEMP.MS_MAY, TEMP.TEN_MAY, TEMP.MS_BO_PHAN, TEMP.TEN_TS_GSTT;

END;
