

--	EXEC GetDanhMucMayMocThietBi 'ADMINISTRATOR',0 , '-1', -1,'-1'
ALTER PROC [dbo].[GetDanhMucMayMocThietBi]
	@UserName NVARCHAR(50),
	@NNgu INT,
	@NXuong NVARCHAR(50),
	@HThong INT,
	@LMay NVARCHAR(50)
AS
DECLARE @NgayKT DATETIME
SET @NgayKT = GETDATE()

SELECT ROW_NUMBER() OVER (ORDER BY  T1.MS_MAY, T1.TEN_MAY, T1.MS_LOAI_MAY, T1.TEN_LOAI_MAY, T1.MS_NHOM_MAY, T1.TEN_NHOM_MAY, T1.NGAY_DUA_VAO_SD, T1.NHIEM_VU_THIET_BI) AS STT,
T1.MS_MAY, T1.TEN_MAY, T1.MS_LOAI_MAY, T1.TEN_LOAI_MAY, T1.MS_NHOM_MAY, 
	T1.TEN_NHOM_MAY, CONVERT(NVARCHAR(10), T1.NGAY_DUA_VAO_SD,103) AS NGAY_SD , T1.NHIEM_VU_THIET_BI, 
	CASE @NNgu WHEN 0 THEN T2.TEN_HIEN_TRANG ELSE ISNULL(NULLIF(TEN_HIEN_TRANG_ANH,''),T2.TEN_HIEN_TRANG) END  AS TEN_HIEN_TRANG,
	CASE @NNgu WHEN 0 THEN T3.TEN_UU_TIEN ELSE ISNULL(NULLIF(TEN_TA,''),T3.TEN_UU_TIEN) END  AS TEN_UU_TIEN,
	T1.MS_N_XUONG,T1.Ten_N_XUONG, T1.MS_HE_THONG, T1.TEN_HE_THONG, T1.MS_BP_CHIU_PHI, T1.TEN_BP_CHIU_PHI,dbo.GetLoaiBaoTriTheoMay(MS_MAY,@NNgu) AS TEN_LOAI_BT,dbo.GetLoaiBaoTriGSTTTheoMay(MS_MAY,@NNgu) AS LOAI_BT_GSTT
FROM            dbo.MGetMayUserNgay(@NgayKT,@UserName,@NXuong,@HThong,-1,@LMay,'-1', '-1',@NNGU) AS T1 INNER JOIN
                         dbo.HIEN_TRANG_SU_DUNG_MAY AS T2 ON T1.MS_HIEN_TRANG = T2.MS_HIEN_TRANG INNER JOIN
                         dbo.MUC_UU_TIEN AS T3 ON T1.MUC_UU_TIEN = T3.MS_UU_TIEN
ORDER BY  T1.MS_MAY, T1.TEN_MAY, T1.MS_LOAI_MAY, T1.TEN_LOAI_MAY, T1.MS_NHOM_MAY, T1.TEN_NHOM_MAY, T1.NGAY_DUA_VAO_SD, T1.NHIEM_VU_THIET_BI