

ALTER procedure [dbo].[AddTHOI_GIAN_NGUNG_MAY_LAN]
@LANNM VARCHAR(30),
	@MS_MAY NVARCHAR(30),
	@TU_NGAY NVARCHAR(10),
	@TU_GIO NVARCHAR(8),
	@NGUOI_GIAI_QUYET NVARCHAR(250),
	@NGUYEN_NHAN NVARCHAR(250),
	@HTUONG NVARCHAR(250),
	@NNCU_THE NVARCHAR(250),
	@NGAY_KT NVARCHAR(10),
	@GIO_KT NVARCHAR(8),
	@NGAY_SX NVARCHAR(10),
	@TRUONG_CA NVARCHAR(250),
	@CA_ID INT,
	@MS_NGUYEN_NHAN INT, 
	@MS_PHIEU_BAO_TRI NVARCHAR(50),
	@KHONG_DC BIT
 AS

 INSERT INTO [THOI_GIAN_NGUNG_MAY_SO_LAN]([MS_LAN],[MS_MAY],[NGAY],[TU_GIO],[NGUOI_GIAI_QUYET],
		[NGUYEN_NHAN],HIEN_TUONG,NGUYEN_NHAN_CU_THE,[NGAY_KT],[GIO_KT],NGAY_SX, TRUONG_CA, CaID, MS_NGUYEN_NHAN, MS_PHIEU_BAO_TRI,
	KHONG_DC )
     VALUES
           (@LANNM,@MS_MAY,CONVERT(DATETIME, @TU_NGAY,103),CONVERT(DATETIME,@TU_GIO,114),@NGUOI_GIAI_QUYET,
        @NGUYEN_NHAN,@HTUONG,@NNCU_THE,CONVERT(DATETIME, @NGAY_KT,103),
        CONVERT(DATETIME,@GIO_KT,114),CONVERT(DATETIME, @NGAY_SX,103), @TRUONG_CA, @CA_ID, @MS_NGUYEN_NHAN, @MS_PHIEU_BAO_TRI,
	@KHONG_DC)
           
           
