

-- EXEC GetNNNMTheoNN 'ADMIN','-1',-1,'-1','-1','01/01/2019','05/01/2019',0,1
ALTER PROC [dbo].[GetNNNMTheoNN]
	@UserName NVARCHAR(50),
	@MsNX NVARCHAR(5),
	@MSHT INT,
	@MsLoaiMay NVARCHAR(20),	
	@MSMay NVARCHAR(100),
	@TuNgay DATETIME,
	@DenNgay DATETIME,
	@NNgu int,
	@LoaiBC int
AS

SELECT DISTINCT MS_MAY,TEN_MAY, A.MS_N_XUONG,A.Ten_N_XUONG,  A.MS_HE_THONG,A.TEN_HE_THONG,A.MS_LOAI_MAY, A.TEN_LOAI_MAY INTO #MAY_USER 
	FROM dbo.MGetMayUserNgay(@DenNgay,@UserName,@MsNX,@MSHT,-1,@MsLoaiMay,'-1',@MSMay,0) A


		SELECT A.MS_MAY,A.NGAY,A.THOI_GIAN_SUA,A.THOI_GIAN_SUA_CHUA,A.MS_NGUYEN_NHAN, TEN_MAY, A.MS_N_XUONG,B.Ten_N_XUONG,  B.MS_HE_THONG,B.TEN_HE_THONG,B.MS_LOAI_MAY, B.TEN_LOAI_MAY,ISNULL(KHONG_DC,0) AS KHONG_DC  INTO #TGNM 
		FROM THOI_GIAN_NGUNG_MAY A INNER JOIN #MAY_USER B ON A.MS_MAY = B.MS_MAY INNER JOIN dbo.THOI_GIAN_NGUNG_MAY_SO_LAN T1 ON T1.MS_LAN = A.MS_LAN WHERE A.NGAY BETWEEN @TuNgay AND @DenNgay 


--theo nguyen nhan
if @LoaiBC = 0
begin

	SELECT     A.TEN_NGUYEN_NHAN, A.HU_HONG, SUM(B.THOI_GIAN_SUA_CHUA) AS TG_NGUNG, SUM(B.THOI_GIAN_SUA) AS TG_SUA
	FROM         dbo.NGUYEN_NHAN_DUNG_MAY AS A INNER JOIN
						  #TGNM AS B ON A.MS_NGUYEN_NHAN = B.MS_NGUYEN_NHAN
	GROUP BY A.TEN_NGUYEN_NHAN, A.HU_HONG
end

--theo dia diem
if @LoaiBC = 1
begin
	SELECT     MS_N_XUONG AS MS,Ten_N_XUONG AS TEN, SUM(THOI_GIAN_SUA_CHUA) AS TG_NGUNG, SUM(THOI_GIAN_SUA) AS TG_SUA
	FROM         #TGNM 
	WHERE KHONG_DC = 0
	GROUP BY MS_N_XUONG, Ten_N_XUONG
end

--theo day chuyen
if @LoaiBC = 2
begin
	SELECT     MS_HE_THONG AS MS,TEN_HE_THONG AS TEN, SUM(THOI_GIAN_SUA_CHUA) AS TG_NGUNG, SUM(THOI_GIAN_SUA) AS TG_SUA
	FROM         #TGNM 
	WHERE KHONG_DC = 0
	GROUP BY MS_HE_THONG,TEN_HE_THONG
end

--theo loai may
if @LoaiBC = 3
begin
	SELECT     MS_LOAI_MAY AS MS,TEN_LOAI_MAY AS TEN, SUM(THOI_GIAN_SUA_CHUA) AS TG_NGUNG, SUM(THOI_GIAN_SUA) AS TG_SUA
	FROM         #TGNM 
	WHERE KHONG_DC = 0
	GROUP BY MS_LOAI_MAY,TEN_LOAI_MAY
end

--theo may
if @LoaiBC = 4
begin
	SELECT     MS_MAY AS MS,TEN_MAY AS TEN, SUM(THOI_GIAN_SUA_CHUA) AS TG_NGUNG, SUM(THOI_GIAN_SUA) AS TG_SUA
	FROM         #TGNM 
	GROUP BY MS_MAY,TEN_MAY
end