

--spGetThoiGianChayMayTheoRange 'BOL-0104', '02/22/2019', '02/19/2019', N'5|9|10', '-1'
--spGetThoiGianChayMayTheoRange 'BDL-01-04', '05/22/2019', '05/31/2019', N'-1', '-1'
ALTER PROCEDURE [dbo].[spGetThoiGianChayMayTheoRange]
	@MS_MAY NVARCHAR(50),
	@TNGAY DATETIME,
	@DNGAY DATETIME, 
	@VALUE NVARCHAR(20) = '-1',
	@LISTMAY NVARCHAR(MAX) = '-1'
AS
BEGIN

DECLARE @NUMBER INT = 0

IF 	@VALUE = '-1'
BEGIN
	SELECT DISTINCT @MS_MAY  AS MS_MAY, DATEADD(DAY,NUMBER,@TNGAY) AS NGAY, T1.MS_PBT, ISNULL(T1.CHI_SO_DONG_HO,0) CHI_SO_DONG_HO,
	ISNULL(T1.SO_GIO_LUY_KE,0) SO_GIO_LUY_KE, T1.SO_MOVEMENT,CONVERT(BIT, CASE ISNULL(T1.CHI_SO_DONG_HO,0) WHEN 0 THEN 0 ELSE 1 END) IS_UPDATE FROM MASTER..spt_values T 
	LEFT JOIN THOI_GIAN_CHAY_MAY T1 ON T1.NGAY = DATEADD(DAY,number,@TNGAY) AND T1.MS_MAY = @MS_MAY
	WHERE NUMBER BETWEEN 0 AND DATEDIFF(DAY, @TNGAY, @DNGAY)
	

	--SELECT NGAY, MS_MAY, CONVERT(FLOAT,CHI_SO_DONG_HO) AS CHI_SO_DONG_HO,MS_PBT,SO_MOVEMENT, IS_UPDATE  INTO #BTAM FROM #BT
	--UNION
	--SELECT @TNGAY AS NGAY , MS_MAY, SUM(CONVERT(FLOAT,CHI_SO_DONG_HO)),NULL,NULL,NULL FROM dbo.THOI_GIAN_CHAY_MAY WHERE NGAY < @TNGAY AND MS_MAY = @MS_MAY GROUP BY MS_MAY
	

	--SELECT MS_MAY,NGAY,MS_PBT,CHI_SO_DONG_HO, (SELECT SUM(CONVERT(FLOAT,CHI_SO_DONG_HO)) FROM #BTAM T2 WHERE T2.NGAY <= T1.NGAY AND T1.MS_MAY = T2.MS_MAY ) SO_GIO_LUY_KE, SO_MOVEMENT, IS_UPDATE FROM #BTAM T1 ORDER BY T1.MS_MAY, T1.NGAY

END
ELSE
BEGIN
	IF @LISTMAY = '-1'
	BEGIN
		SELECT DISTINCT @MS_MAY AS MS_MAY, DATEADD(DAY,NUMBER,@TNGAY) AS NGAY, T1.MS_PBT,  	
		CASE DATEPART(DW, DATEADD(DAY,number,@TNGAY))
		WHEN 7 THEN (SELECT Item FROM UDF_ConvertListItem2Table(@VALUE, N'|') WHERE Id = 2) 
		WHEN 1 THEN (SELECT Item FROM UDF_ConvertListItem2Table(@VALUE, N'|') WHERE Id = 3) 
		ELSE (SELECT Item FROM UDF_ConvertListItem2Table(@VALUE, N'|') WHERE Id = 1) END	
		CHI_SO_DONG_HO , ISNULL(T1.SO_GIO_LUY_KE,0) SO_GIO_LUY_KE, T1.SO_MOVEMENT
		,CONVERT(BIT, CASE ISNULL(T1.CHI_SO_DONG_HO,0) WHEN 0 THEN 0 ELSE 1 END) IS_UPDATE 
		  FROM MASTER..spt_values T 
		LEFT JOIN THOI_GIAN_CHAY_MAY T1 ON T1.NGAY = DATEADD(DAY,number,@TNGAY) AND T1.MS_MAY = @MS_MAY
		WHERE NUMBER BETWEEN 0 AND DATEDIFF(DAY, @TNGAY, @DNGAY)

		--SELECT NGAY, MS_MAY, CONVERT(FLOAT,CHI_SO_DONG_HO) AS CHI_SO_DONG_HO,MS_PBT,SO_MOVEMENT, IS_UPDATE  INTO #BTAM1 FROM #BT1
		--UNION
		--SELECT @TNGAY AS NGAY , MS_MAY, SUM(CONVERT(FLOAT,CHI_SO_DONG_HO)),NULL,NULL,NULL FROM dbo.THOI_GIAN_CHAY_MAY WHERE NGAY < @TNGAY AND MS_MAY = @MS_MAY GROUP BY MS_MAY
	


		--SELECT MS_MAY,NGAY,MS_PBT,CHI_SO_DONG_HO, (SELECT SUM(CONVERT(FLOAT,CHI_SO_DONG_HO)) FROM #BTAM1 T2 WHERE T2.NGAY <= T1.NGAY AND T1.MS_MAY = T2.MS_MAY ) SO_GIO_LUY_KE, SO_MOVEMENT, IS_UPDATE FROM #BTAM1 T1 ORDER BY T1.MS_MAY, T1.NGAY
	END
	ELSE
	BEGIN
		SELECT DISTINCT T.MS_MAY, DATEADD(DAY,NUMBER,@TNGAY) AS NGAY, T2.MS_PBT,  	
		CASE DATEPART(DW, DATEADD(DAY,number,@TNGAY))
		WHEN 7 THEN (SELECT Item FROM UDF_ConvertListItem2Table(@VALUE, N'|') WHERE Id = 2) 
		WHEN 1 THEN (SELECT Item FROM UDF_ConvertListItem2Table(@VALUE, N'|') WHERE Id = 3) 
		ELSE (SELECT Item FROM UDF_ConvertListItem2Table(@VALUE, N'|') WHERE Id = 1) END	
		CHI_SO_DONG_HO , ISNULL(T2.SO_GIO_LUY_KE,0) SO_GIO_LUY_KE, T2.SO_MOVEMENT,
		CONVERT(BIT, CASE ISNULL(T2.CHI_SO_DONG_HO,0) WHEN 0 THEN 0 ELSE 1 END) IS_UPDATE 
		  FROM 
		(SELECT Item AS MS_MAY FROM UDF_ConvertListItem2Table(@LISTMAY, N'|')) T, MASTER..spt_values T1 
		LEFT JOIN THOI_GIAN_CHAY_MAY T2 ON T2.NGAY = DATEADD(DAY,number,@TNGAY) AND T2.MS_MAY = @MS_MAY
		WHERE T1.NUMBER BETWEEN 0 AND DATEDIFF(DAY, @TNGAY, @DNGAY)

		--SELECT NGAY, MS_MAY, CONVERT(FLOAT,CHI_SO_DONG_HO) AS CHI_SO_DONG_HO,MS_PBT,SO_MOVEMENT, IS_UPDATE  INTO #BTAM2 FROM #BT2
		--UNION
		--SELECT @TNGAY AS NGAY , T1.MS_MAY, SUM(CONVERT(FLOAT,CHI_SO_DONG_HO)),NULL,NULL,NULL FROM dbo.THOI_GIAN_CHAY_MAY T1 INNER JOIN (SELECT Item AS MS_MAY FROM UDF_ConvertListItem2Table(@LISTMAY, N'|')) T2 ON T1.MS_MAY = T2.MS_MAY WHERE NGAY < @TNGAY GROUP BY T1.MS_MAY
	

		--SELECT MS_MAY,NGAY,MS_PBT,CHI_SO_DONG_HO, (SELECT SUM(CONVERT(FLOAT,CHI_SO_DONG_HO)) FROM #BTAM2 T2 WHERE T2.NGAY <= T1.NGAY AND T1.MS_MAY = T2.MS_MAY ) SO_GIO_LUY_KE, SO_MOVEMENT, IS_UPDATE FROM #BTAM2 T1 ORDER BY T1.MS_MAY, T1.NGAY	
		
	END
	
		
	
END
END

