
 --EXEC spDemSoNgayHC '2019', 'CCH-01-01', N'DO-AP-007 Đồng hồ đo áp khí, hơi dạng cơ GTVC: 0.5kgf/cm2, PVĐ: 0-15 kgf/cm2 - phi 100, ren 17mm, không dầu', N'Hơi nguồn cấp cho chảo chiên DCM 1 / HM1-4', '1', 3, 1

ALTER PROC [dbo].[spDemSoNgayHC]
	@NAM NVARCHAR(5),	
	@MS_MAY NVARCHAR(100),
	@MS_PT NVARCHAR(MAX),
	@MS_VI_TRI NVARCHAR(255),
	@THANG int,
	@MS_LOAI_HIEU_CHUAN INT,
	@LHieuChuan BIT
AS


SELECT  @MS_PT =MS_PT FROM dbo.IC_PHU_TUNG WHERE (CONVERT( NVARCHAR(MAX ),MS_PT +' '+TEN_PT)) = @MS_PT


BEGIN	
				IF(@LHieuChuan = 0)
				BEGIN
					SELECT MONTH(NGAY_HC) AS THANG,  COUNT(MONTH(NGAY_HC)) AS SO_LUONG FROM HIEU_CHUAN_MAY 
					WHERE MS_MAY = @MS_MAY AND YEAR(NGAY_HC) = @NAM AND Month(NGAY_HC) = @THANG AND MS_LOAI_HIEU_CHUAN = @MS_LOAI_HIEU_CHUAN
					GROUP BY MONTH(NGAY_HC)
					ORDER BY Thang DESC
				END
				ELSE
				BEGIN
					SELECT MONTH(NGAY) AS THANG,  COUNT(MONTH(NGAY)) AS SO_LUONG FROM HIEU_CHUAN_DHD
					WHERE MS_MAY = @MS_MAY AND YEAR(NGAY) = @NAM AND Month(NGAY) = @THANG AND MS_LOAI_HIEU_CHUAN = @MS_LOAI_HIEU_CHUAN
					AND MS_PT = @MS_PT AND MS_VI_TRI = @MS_VI_TRI
					GROUP BY MONTH(NGAY)
					ORDER BY Thang DESC
				END
				--SELECT @MS_PT
END