
--exec spTongHopTinhHinhbaoTri
ALTER PROCEDURE [dbo].[spTongHopTinhHinhBaoTri]
	@TNgay DATE = '01/01/2019',
	@DNgay DATE = '01/30/2019',
	@USERNAME NVARCHAR(64) = 'ADMIN',
	@NNGU INT = 0,
	@MS_NHA_XUONG NVARCHAR(250) = '-1',
	@MS_HE_THONG INT = -1,
	@MS_LOAI_MAY VARCHAR(100) = '-1',
	@MS_NHOM_MAY VARCHAR(100) = '-1',	
	@iTre INT =	0,--2000000,		--0, -- 200000
	@iDungHan INT = 0,--5000000,	
	@iTruocHan INT = 0,	--	-200000
	@iChuaLam INT = -123456789, ---123456789
	@iLoai INT = 0
as

----Nếu chọn Trễ hạn, xuất những dòng có giá trị  trong cột ± > 0, Đúng hạn = 0 và Trước hạn <0
--SET @iTre =	0-- 200000
--SET @iDungHan = 5000000 --WHERE DUNG = 0 
--SET @iTruocHan = 0 ---200000



--DECLARE @TNgay DATE = '01/01/2016'
--DECLARE @DNgay DATE = '01/01/2018'
--DECLARE @USERNAME NVARCHAR(64) = 'ADMIN'
--DECLARE @NNGU INT = 0
--DECLARE @MS_NHA_XUONG NVARCHAR(250) = '-1'
--DECLARE @MS_HE_THONG INT = -1
--DECLARE @MS_LOAI_MAY VARCHAR(100) = '-1'
--DECLARE @MS_LOAI_BT INT


----@iLoai = 0  TRONG KHOANG THOI GIAN
----@iLoai = 1  NHO HON DEN NGAY

--DECLARE @iLoai INT = 0
--DECLARE @iBC INT = 0

SELECT MS_MAY,TEN_MAY,Ten_N_XUONG,TEN_LOAI_MAY,TEN_HE_THONG,CHU_KY_HC_TB,CHU_KY_HIEU_CHUAN_TB_NGOAI ,CHU_KY_KD_TB,DON_VI_THOI_GIAN INTO #MAY_USER
	FROM [dbo].[MGetMayUserNgay](@DNgay,@USERNAME,@MS_NHA_XUONG,@MS_HE_THONG,-1,@MS_LOAI_MAY,@MS_NHOM_MAY,'-1',@NNGU)

SELECT DISTINCT MS_MAY,A.MS_BO_PHAN, A.MS_TS_GSTT,A.CHU_KY_DO,A.MS_DV_TG,ISNULL(A.TEN_GT,'') AS TEN_GT,A.MS_TT INTO #CTTB_GSTT FROM  dbo.CAU_TRUC_THIET_BI_TS_GSTT A

DECLARE @PBT TABLE (MS_PHIEU_BAO_TRI NVARCHAR(100),MS_LOAI_BT INT,TEN_LOAI_BT NVARCHAR(500),NGAY_BTDK_GOC DATE,MS_MAY NVARCHAR(500))
DECLARE @GSTT TABLE (MS_MAY NVARCHAR(100),MS_BO_PHAN NVARCHAR(50),TEN_BO_PHAN NVARCHAR(250),MS_TS_GSTT NVARCHAR(10),TEN_TS_GSTT NVARCHAR(255),NGAY_GIO_KT DATETIME,CHU_KY_DO float,MS_DV_TG INT,STT INT, TEN_GT NVARCHAR(255),MS_TT INT	)
DECLARE @HCHUAN TABLE(MS_MAY nvarchar(30),MS_PT nvarchar(250),MS_VI_TRI nvarchar(250),TEN_LOAI_HIEU_CHUAN nvarchar(250),CHU_KY int,TEN_DV_TG nvarchar(20),NGAY_HC datetime,MS_LOAI_HIEU_CHUAN INT,MS_DV_TG INT)

DECLARE @GSTT_TS TABLE (STT INT,NGAY_KT DATETIME,GIO_KT DATETIME, MS_MAY NVARCHAR(100),MS_TS_GSTT NVARCHAR(10),MS_BO_PHAN NVARCHAR(100),GIA_TRI_DO FLOAT)

-- LAY CAC GIA TRI GSTT TRONG KHOANG
	INSERT INTO @GSTT_TS
	SELECT DISTINCT T2.STT ,NGAY_KT,GIO_KT, MS_MAY ,MS_TS_GSTT,MS_BO_PHAN,T1.GIA_TRI_DO FROM GIAM_SAT_TINH_TRANG_TS T1 INNER JOIN GIAM_SAT_TINH_TRANG T2 ON T1.STT = T2.STT
	WHERE 
	CASE 
		WHEN @iLoai = 0 AND CONVERT(DATE,NGAY_KT) BETWEEN @TNgay AND @DNgay THEN 1
		WHEN @iLoai = 1 AND  CONVERT(DATE,NGAY_KT) <= @DNgay THEN 1    
    ELSE 0
	END = 1

-- Lay cac PBT trong gia doan va chi lay cac May co dinh nghia trong BTDK
	INSERT INTO @PBT 
	SELECT DISTINCT T1.MS_PHIEU_BAO_TRI, T1.MS_LOAI_BT,T2.TEN_LOAI_BT, CONVERT(DATE,ISNULL(T1.NGAY_BTDK_GOC,T1.NGAY_BD_KH)) AS NGAY_BTDK_GOC,T1.MS_MAY
	FROM            dbo.PHIEU_BAO_TRI AS T1 INNER JOIN
							 dbo.LOAI_BAO_TRI AS T2 ON T1.MS_LOAI_BT = T2.MS_LOAI_BT INNER JOIN
							 dbo.HINH_THUC_BAO_TRI AS T3 ON T2.MS_HT_BT = T3.MS_HT_BT INNER JOIN 
							 #MAY_USER T4 ON T1.MS_MAY = T4.MS_MAY
	WHERE        (T3.PHONG_NGUA = 1) AND 
	(CASE 
		WHEN @iLoai = 0 AND CONVERT(DATE,ISNULL(T1.NGAY_BTDK_GOC,T1.NGAY_BD_KH)) BETWEEN @TNgay AND @DNgay THEN 1
		WHEN @iLoai = 1 AND  CONVERT(DATE,ISNULL(T1.NGAY_BTDK_GOC,T1.NGAY_BD_KH)) <= @DNgay THEN 1    
    ELSE 0
	END = 1)
	
-- Lay GSTT trong gia doan co dinh nghia trong CTTB thong so GSTT
	INSERT INTO @GSTT 
	SELECT DISTINCT T2.MS_MAY, T2.MS_BO_PHAN, T6.TEN_BO_PHAN, T2.MS_TS_GSTT, T4.TEN_TS_GSTT,
			CONVERT(DATETIME, CONVERT(NVARCHAR(10), T2.NGAY_KT, 101) + ' ' + CONVERT(NVARCHAR(8), T2.GIO_KT, 108)) AS NGAY_GIO_KT, T7.CHU_KY_DO, T7.MS_DV_TG,T2.STT,T7.TEN_GT,T7.MS_TT
	FROM            @GSTT_TS T2 INNER JOIN
								dbo.CAU_TRUC_THIET_BI AS T6 ON T2.MS_MAY = T6.MS_MAY AND T2.MS_BO_PHAN = T6.MS_BO_PHAN INNER JOIN
								dbo.THONG_SO_GSTT AS T4 ON T2.MS_TS_GSTT = T4.MS_TS_GSTT INNER JOIN
								#MAY_USER AS T5 ON T2.MS_MAY = T5.MS_MAY INNER JOIN
								#CTTB_GSTT AS T7 ON T2.MS_MAY = T7.MS_MAY AND T2.MS_BO_PHAN = T7.MS_BO_PHAN AND T2.MS_TS_GSTT = T7.MS_TS_GSTT 
	WHERE 
	CASE 
		WHEN @iLoai = 0 AND CONVERT(DATE,NGAY_KT) BETWEEN @TNgay AND @DNgay THEN 1
		WHEN @iLoai = 1 AND  CONVERT(DATE,NGAY_KT) <= @DNgay THEN 1    
    ELSE 0
	END = 1

-- Lay Hieu chuan may va hieu chung dung cu do 
	INSERT INTO @HCHUAN	
	SELECT * FROM 
	(
		SELECT T1.MS_MAY,NULL AS MS_PT, NULL AS MS_VI_TRI,T2.TEN_LOAI_HIEU_CHUAN,
			CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_TB WHEN 2 THEN CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE CHU_KY_KD_TB END AS CHU_KY, 
			CASE @NNGU WHEN 0 THEN T4.TEN_DV_TG WHEN 1 THEN T4.TEN_DV_TG_ANH ELSE T4.TEN_DV_TG_HOA END AS TEN_DV_TG,
			T1.NGAY_HC AS NGAY_HC,T1.MS_LOAI_HIEU_CHUAN,T3.DON_VI_THOI_GIAN
		FROM HIEU_CHUAN_MAY T1 INNER JOIN LOAI_HIEU_CHUAN_MAY T2 ON T1.MS_LOAI_HIEU_CHUAN = T2.MS_LOAI_HIEU_CHUAN INNER JOIN 
			#MAY_USER T3 ON T1.MS_MAY = T3.MS_MAY INNER JOIN 
			DON_VI_THOI_GIAN T4 ON T3.DON_VI_THOI_GIAN = T4.MS_DV_TG
		WHERE 
		CASE 
			WHEN @iLoai = 0 AND CONVERT(DATE,NGAY_HC) BETWEEN @TNgay AND @DNgay THEN 1
			WHEN @iLoai = 1 AND  CONVERT(DATE,NGAY_HC) <= @DNgay THEN 1    
		ELSE 0
		END = 1
	UNION 
		SELECT T1.MS_MAY,T1.MS_PT,T1.MS_VI_TRI ,T2.TEN_LOAI_HIEU_CHUAN, 
			CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_NOI WHEN 2 THEN CHU_KY_HC_NGOAI WHEN 3 THEN CHU_KY_KD ELSE CHU_KY_KT END AS CHU_KY,
			CASE @NNGU WHEN 0 THEN T5.TEN_DV_TG WHEN 1 THEN T5.TEN_DV_TG_ANH ELSE T5.TEN_DV_TG_HOA END AS TEN_DV_TG,
			T1.NGAY AS NGAY_HC,T1.MS_LOAI_HIEU_CHUAN,T4.MS_DV_TG 
		FROM HIEU_CHUAN_DHD T1 INNER JOIN LOAI_HIEU_CHUAN T2 ON T1.MS_LOAI_HIEU_CHUAN = T2.MS_LOAI_HIEU_CHUAN INNER JOIN 
		#MAY_USER T3 ON T1.MS_MAY = T3.MS_MAY INNER JOIN CHU_KY_HIEU_CHUAN T4 ON T1.MS_MAY = T4.MS_MAY AND T1.MS_PT = T4.MS_PT AND T1.MS_VI_TRI = T4.MS_VI_TRI INNER JOIN 
		DON_VI_THOI_GIAN T5 ON T5.MS_DV_TG = T4.MS_DV_TG
		WHERE 
		CASE 
			WHEN @iLoai = 0 AND CONVERT(DATE,NGAY) BETWEEN @TNgay AND @DNgay THEN 1
			WHEN @iLoai = 1 AND  CONVERT(DATE,NGAY) <= @DNgay THEN 1    
		ELSE 0
		END = 1

	) T WHERE ISNULL(CHU_KY,0) <> 0


IF @iLoai = 1 
BEGIN
	SELECT T2.MS_MAY, T2.MS_LOAI_BT, CASE MS_DV_TG 
			WHEN 1 THEN DATEADD(DAY,CHU_KY, T3.NGAY_CUOI) 
			WHEN 2 THEN DATEADD(WEEK,CHU_KY,T3.NGAY_CUOI) 
			WHEN 3 THEN DATEADD(MONTH,CHU_KY,T3.NGAY_CUOI) 
			WHEN 4 THEN DATEADD(YEAR,CHU_KY, T3.NGAY_CUOI) END AS NGAY_KE INTO #MAY_LBTPN
	FROM (SELECT T1.MS_MAY, MS_LOAI_BT, MAX(NGAY_AD) AS NGAY FROM MAY_LOAI_BTPN_CHU_KY T1 INNER JOIN #MAY_USER T2 ON T1.MS_MAY = T2.MS_MAY
		WHERE     (CHU_KY IS NOT NULL) AND ISNULL(MS_DV_TG, 0 ) <> 0	
		GROUP BY T1.MS_MAY, MS_LOAI_BT) T1 INNER JOIN 
		MAY_LOAI_BTPN_CHU_KY T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_LOAI_BT = T2.MS_LOAI_BT AND T1.NGAY = T2.NGAY_AD  INNER JOIN 
		MAY_LOAI_BTPN T3 ON T1.MS_LOAI_BT = T3.MS_LOAI_BT AND T1.MS_MAY = T3.MS_MAY

--Them cac may chua lam BT bao gio trong May Loai bao tri
	INSERT INTO @PBT(MS_MAY,MS_LOAI_BT,TEN_LOAI_BT,NGAY_BTDK_GOC)
	SELECT DISTINCT T1.MS_MAY,T3.MS_LOAI_BT,TEN_LOAI_BT, NGAY_KE
	FROM #MAY_USER T1 INNER JOIN MAY_LOAI_BTPN T3 ON T1.MS_MAY = T3.MS_MAY INNER JOIN LOAI_BAO_TRI T4 ON T3.MS_LOAI_BT = T4.MS_LOAI_BT INNER JOIN	
		#MAY_LBTPN T5 ON T3.MS_MAY = T5.MS_MAY AND T3.MS_LOAI_BT = T5.MS_LOAI_BT
	WHERE NOT EXISTS (SELECT * FROM PHIEU_BAO_TRI T2 WHERE T3.MS_MAY = T2.MS_MAY AND T3.MS_LOAI_BT = T2.MS_LOAI_BT)

--Them cac may co dinh nghia trong Cau truc GSTT nhung chua lam
	INSERT INTO @GSTT(MS_MAY,MS_BO_PHAN,MS_TS_GSTT,TEN_BO_PHAN,TEN_TS_GSTT,CHU_KY_DO,MS_DV_TG)
	SELECT DISTINCT T2.MS_MAY,T2.MS_BO_PHAN,T2.MS_TS_GSTT,TEN_BO_PHAN,TEN_TS_GSTT,CHU_KY_DO,T2.MS_DV_TG
	FROM #MAY_USER T1 INNER JOIN #CTTB_GSTT T2 ON T1.MS_MAY = T2.MS_MAY INNER JOIN
								dbo.CAU_TRUC_THIET_BI AS T6 ON T2.MS_MAY = T6.MS_MAY AND T2.MS_BO_PHAN = T6.MS_BO_PHAN INNER JOIN
								dbo.THONG_SO_GSTT AS T4 ON T2.MS_TS_GSTT = T4.MS_TS_GSTT 
	WHERE NOT EXISTS (SELECT DISTINCT MS_MAY,MS_BO_PHAN,MS_TS_GSTT FROM GIAM_SAT_TINH_TRANG_TS T7 
		WHERE T2.MS_MAY = T7.MS_MAY AND T2.MS_BO_PHAN = T7.MS_BO_PHAN AND T2.MS_TS_GSTT = T7.MS_TS_GSTT)

--Them cac may co trong dinh nghia hieu Chuan nhung chua lam
	INSERT INTO @HCHUAN(MS_MAY,MS_PT,MS_VI_TRI,TEN_LOAI_HIEU_CHUAN,CHU_KY,TEN_DV_TG,MS_LOAI_HIEU_CHUAN)
	SELECT * FROM (
		SELECT MS_MAY,NULL AS MS_PT, NULL AS MS_VI_TRI,(SELECT TOP 1 TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN_MAY WHERE MS_LOAI_HIEU_CHUAN = 1) AS TEN_LOAI_HIEU_CHUAN,
				CHU_KY_HC_TB AS CHU_KY ,CASE @NNGU WHEN 0 THEN TEN_DV_TG WHEN 1 THEN TEN_DV_TG_ANH ELSE TEN_DV_TG_HOA END AS TEN_DV_TG,1 AS MS_LOAI_HIEU_CHUAN
		FROM MAY T3 INNER JOIN  DON_VI_THOI_GIAN T2 ON T3.DON_VI_THOI_GIAN = T2.MS_DV_TG
		WHERE ISNULL(CHU_KY_HC_TB,0) <> 0 
		UNION
		SELECT MS_MAY,NULL AS MS_PT, NULL AS MS_VI_TRI,(SELECT TOP 1 TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN_MAY WHERE MS_LOAI_HIEU_CHUAN = 2) AS TEN_LOAI_HIEU_CHUAN,
				CHU_KY_HIEU_CHUAN_TB_NGOAI AS CHU_KY ,CASE @NNGU WHEN 0 THEN TEN_DV_TG WHEN 1 THEN TEN_DV_TG_ANH ELSE TEN_DV_TG_HOA END AS TEN_DV_TG,1 AS MS_LOAI_HIEU_CHUAN
		FROM MAY T3 INNER JOIN  DON_VI_THOI_GIAN T2 ON T3.DON_VI_THOI_GIAN = T2.MS_DV_TG
		WHERE ISNULL(CHU_KY_HIEU_CHUAN_TB_NGOAI,0) <> 0 
		UNION
		SELECT MS_MAY,NULL AS MS_PT, NULL AS MS_VI_TRI,(SELECT TOP 1 TEN_LOAI_HIEU_CHUAN FROM LOAI_HIEU_CHUAN_MAY WHERE MS_LOAI_HIEU_CHUAN = 3) AS TEN_LOAI_HIEU_CHUAN,
				CHU_KY_KD_TB AS CHU_KY ,CASE @NNGU WHEN 0 THEN TEN_DV_TG WHEN 1 THEN TEN_DV_TG_ANH ELSE TEN_DV_TG_HOA END AS TEN_DV_TG,1 AS MS_LOAI_HIEU_CHUAN
		FROM MAY T3 INNER JOIN  DON_VI_THOI_GIAN T2 ON T3.DON_VI_THOI_GIAN = T2.MS_DV_TG
		WHERE ISNULL(CHU_KY_KD_TB,0) <> 0 
	) T1 
	WHERE NOT EXISTS ( SELECT * FROM @HCHUAN T2 WHERE (ISNULL(T2.MS_PT,'') = '') AND (ISNULL(T2.MS_VI_TRI,'') = '') AND (T1.MS_MAY = T2.MS_MAY AND T1.MS_PT = T2.MS_PT AND T1.MS_VI_TRI = T2.MS_VI_TRI))

	

		
END

--Lay min ngay HOAN THANH
SELECT T1.MS_PHIEU_BAO_TRI, MIN(T1.NGAY_HT) AS NGAY_HT  INTO #NGAY_HT
FROM(
	SELECT T1.MS_PHIEU_BAO_TRI, MIN(T2.NGAY_HOAN_THANH) AS NGAY_HT 
	FROM @PBT T1 INNER JOIN PHIEU_BAO_TRI_CONG_VIEC T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
	GROUP BY T1.MS_PHIEU_BAO_TRI
	UNION
	SELECT T1.MS_PHIEU_BAO_TRI, MIN(T2.NGAY_HOAN_THANH) AS NGAY_HT 
	FROM @PBT T1 INNER JOIN PHIEU_BAO_TRI_CV_PHU_TRO T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
	GROUP BY T1.MS_PHIEU_BAO_TRI
) T1 GROUP BY T1.MS_PHIEU_BAO_TRI

SELECT        T1.MS_PHIEU_BAO_TRI, T1.MS_MAY , T2.TEN_MAY,T2.Ten_N_XUONG,TEN_HE_THONG,TEN_LOAI_MAY,TEN_LOAI_BT,
CONVERT(DATETIME,T1.NGAY_BTDK_GOC) AS NGAY_BD_BT, 
CONVERT(DATETIME,ISNULL(T3.NGAY_HT,NULL)) AS NGAY_BD_TT, 
CASE ISNULL(T1.MS_PHIEU_BAO_TRI,'') WHEN '' THEN NULL ELSE DATEDIFF (DAY,T1.NGAY_BTDK_GOC, CONVERT(DATE,ISNULL(T3.NGAY_HT,GETDATE()))) END AS SNGAY
FROM @PBT AS T1 INNER JOIN #MAY_USER T2 ON T1.MS_MAY = T2.MS_MAY LEFT JOIN #NGAY_HT T3 ON T1.MS_PHIEU_BAO_TRI = T3.MS_PHIEU_BAO_TRI
WHERE (DATEDIFF (DAY,T1.NGAY_BTDK_GOC, CONVERT(DATE,ISNULL(T3.NGAY_HT,GETDATE()))) > @iTre OR @iTre = -1)
OR (DATEDIFF (DAY,T1.NGAY_BTDK_GOC, CONVERT(DATE,ISNULL(T3.NGAY_HT,GETDATE())))  = @iDungHan OR @iDungHan = -1)
OR (DATEDIFF (DAY,T1.NGAY_BTDK_GOC, CONVERT(DATE,ISNULL(T3.NGAY_HT,GETDATE())))  < @iTruocHan OR @iTruocHan = -1)
OR (ISNULL(DATEDIFF (DAY,T1.NGAY_BTDK_GOC, CONVERT(DATE,ISNULL(T3.NGAY_HT,GETDATE()))),-123456789)  = @iChuaLam OR @iChuaLam = -1)
ORDER BY T1.MS_PHIEU_BAO_TRI, MS_MAY,Ten_N_XUONG,TEN_LOAI_MAY,TEN_LOAI_BT,
	CONVERT(DATETIME,ISNULL(T3.NGAY_HT,CASE ISNULL(T1.MS_PHIEU_BAO_TRI,'') WHEN '' THEN NULL ELSE GETDATE() END)) 


--Lay ngay trong giam sat tinh trang de tim ngay gan nhat voi ngay giam sat trong table @gstt de tinh ngay KH
SELECT   DISTINCT   CONVERT(DATETIME, CONVERT(NVARCHAR(10), T2.NGAY_KT, 101) + ' ' + CONVERT(NVARCHAR(8), T2.GIO_KT, 108)) AS NGAY_MAX,
	T2.MS_MAY,T2.MS_TS_GSTT, T2.MS_BO_PHAN, T2.STT ,ROW_NUMBER() OVER (ORDER BY T2.MS_MAY,T2.MS_TS_GSTT, T2.MS_BO_PHAN, CONVERT(DATETIME, CONVERT(NVARCHAR(10), NGAY_KT, 101) + ' ' + CONVERT(NVARCHAR(8), GIO_KT, 108))) AS ID,T7.TEN_GT
INTO #NGAY_MAX
FROM            @GSTT_TS T2 INNER JOIN
						 #CTTB_GSTT AS T7 ON T2.MS_MAY = T7.MS_MAY AND T2.MS_BO_PHAN = T7.MS_BO_PHAN AND T2.MS_TS_GSTT = T7.MS_TS_GSTT
ORDER BY T2.MS_MAY,T2.MS_TS_GSTT, T2.MS_BO_PHAN, CONVERT(DATETIME, CONVERT(NVARCHAR(10), T2.NGAY_KT, 101) + ' ' + CONVERT(NVARCHAR(8), T2.GIO_KT, 108))


SELECT DISTINCT T3.MS_MAY, T3.MS_BO_PHAN,T3.MS_TS_GSTT, T3.NGAY_MAX AS NGAY_GS, T3.STT
,( SELECT TOP 1 NGAY_MAX FROM #NGAY_MAX T1 WHERE T1.MS_MAY = T3.MS_MAY AND T1.MS_BO_PHAN = T3.MS_BO_PHAN AND T1.MS_TS_GSTT = T3.MS_TS_GSTT AND T1.ID = T3.ID -1 ) AS NGAY_KE_GS,T3.TEN_GT
INTO #NGAY_GSTT
FROM #NGAY_MAX T3 



SELECT MS_MAY,T1.TEN_MAY, Ten_N_XUONG,TEN_HE_THONG,TEN_LOAI_MAY,TEN_BO_PHAN,TEN_TS_GSTT, CHU_KY_DO,NGAY_KH AS NGAY_GS_KH ,
TEN_GIA_TRI, NGAY_GIO_KT AS NGAY_GS_TT, 
	CASE SNGAY WHEN NULL THEN SNGAY ELSE 
	DATEDIFF (DAY,T1.NGAY_KH, CONVERT(DATE,ISNULL(NGAY_GIO_KT,GETDATE()))) END AS SNGAY
FROM 
(
	SELECT DISTINCT T3.MS_MAY , T4.TEN_MAY ,Ten_N_XUONG,TEN_HE_THONG,TEN_LOAI_MAY,T3.MS_BO_PHAN + '-'+ TEN_BO_PHAN AS TEN_BO_PHAN,TEN_TS_GSTT, CONVERT(NVARCHAR(10),T3.CHU_KY_DO) + ' ' +
		CASE @NNGU WHEN 0 THEN TEN_DV_TG WHEN 1 THEN TEN_DV_TG_ANH ELSE TEN_DV_TG_HOA END AS CHU_KY_DO,
		CASE T3.MS_DV_TG 
			WHEN 1 THEN DATEADD(DAY,CHU_KY_DO, NGAY_KE_GS) 
			WHEN 2 THEN DATEADD(WEEK,CHU_KY_DO,NGAY_KE_GS) 
			WHEN 3 THEN DATEADD(MONTH,CHU_KY_DO,NGAY_KE_GS) 
			WHEN 4 THEN DATEADD(YEAR,CHU_KY_DO, NGAY_KE_GS) END  AS NGAY_KH,
			T3.NGAY_GIO_KT, NULL AS SNGAY,

	 dbo.MGetLisTGSTTThongSo(T3.STT, T3.MS_MAY, T3.MS_TS_GSTT, T3.MS_BO_PHAN, T3.MS_TT) AS TEN_GIA_TRI
	  

	FROM @GSTT T3 INNER JOIN #MAY_USER T4 ON T3.MS_MAY = T4.MS_MAY INNER JOIN DON_VI_THOI_GIAN T5 ON T3.MS_DV_TG = T5.MS_DV_TG LEFT JOIN #NGAY_GSTT T6 ON T3.STT = T6.STT
		AND T3.MS_MAY = T6.MS_MAY AND T3.MS_BO_PHAN = T6.MS_BO_PHAN AND T3.MS_TS_GSTT = T6.MS_TS_GSTT 

UNION

	SELECT T1.MS_MAY,T1.TEN_MAY,Ten_N_XUONG,TEN_HE_THONG,TEN_LOAI_MAY,T1.MS_BO_PHAN + ' ' + TEN_BO_PHAN,TEN_TS_GSTT, CHU_KY_DO,NGAY_KE AS NGAY_GS_KH , NULL AS NGAY_GS_TT, 
		DATEDIFF (DAY,NGAY_KE, GETDATE()) AS SNGAY,
		dbo.MGetLisTGSTTThongSo(T3.STT, T3.MS_MAY, T1.MS_TS_GSTT, T3.MS_BO_PHAN, MS_TT) AS TEN_GIA_TRI
	FROM
	(
		SELECT       T1.MS_MAY ,T4.TEN_MAY, T1.MS_TS_GSTT, T1.MS_BO_PHAN, CONVERT(NVARCHAR(10),CHU_KY_DO) + ' ' +
				CASE @NNGU WHEN 0 THEN TEN_DV_TG WHEN 1 THEN TEN_DV_TG_ANH ELSE TEN_DV_TG_HOA END AS CHU_KY_DO,
		CASE T3.MS_DV_TG 
					WHEN 1 THEN DATEADD(DAY,T3.CHU_KY_DO, MAX(CONVERT(DATETIME, CONVERT(NVARCHAR(10), T1.NGAY_KT, 101) + ' ' + CONVERT(NVARCHAR(8), T1.GIO_KT, 108)))) 
					WHEN 2 THEN DATEADD(WEEK,T3.CHU_KY_DO,MAX(CONVERT(DATETIME, CONVERT(NVARCHAR(10), T1.NGAY_KT, 101) + ' ' + CONVERT(NVARCHAR(8), T1.GIO_KT, 108)))) 
					WHEN 3 THEN DATEADD(MONTH,T3.CHU_KY_DO,MAX(CONVERT(DATETIME, CONVERT(NVARCHAR(10), T1.NGAY_KT, 101) + ' ' + CONVERT(NVARCHAR(8), T1.GIO_KT, 108)))) 
					WHEN 4 THEN DATEADD(YEAR,T3.CHU_KY_DO, MAX(CONVERT(DATETIME, CONVERT(NVARCHAR(10), T1.NGAY_KT, 101) + ' ' + CONVERT(NVARCHAR(8), T1.GIO_KT, 108)))) END AS NGAY_KE,T3.MS_TT
		FROM            
		
			(SELECT DISTINCT T1.STT,T1.NGAY_KT,T1.GIO_KT, T2.MS_MAY,T2.MS_TS_GSTT,T2.MS_BO_PHAN
				FROM GIAM_SAT_TINH_TRANG T1 INNER JOIN GIAM_SAT_TINH_TRANG_TS T2 ON T1.STT = T2.STT) T1 INNER JOIN
								 #CTTB_GSTT AS T3 ON T1.MS_MAY = T3.MS_MAY AND T1.MS_BO_PHAN = T3.MS_BO_PHAN AND T1.MS_TS_GSTT = T3.MS_TS_GSTT 
								 INNER JOIN #MAY_USER T4 ON T4.MS_MAY = T1.MS_MAY INNER JOIN
								 dbo.DON_VI_THOI_GIAN AS T5 ON T3.MS_DV_TG = T5.MS_DV_TG
		GROUP BY T1.MS_MAY,T4.TEN_MAY, T1.MS_TS_GSTT, T1.MS_BO_PHAN, T3.CHU_KY_DO, T3.MS_DV_TG, CHU_KY_DO, T3.MS_DV_TG,
		TEN_DV_TG,TEN_DV_TG_ANH,TEN_DV_TG_HOA,T3.MS_TT
	) T1 INNER JOIN #MAY_USER T2 ON T1.MS_MAY = T2.MS_MAY INNER JOIN CAU_TRUC_THIET_BI T3 ON T1.MS_MAY = T3.MS_MAY AND T1.MS_BO_PHAN = T3.MS_BO_PHAN INNER JOIN THONG_SO_GSTT T4 ON T1.MS_TS_GSTT = T4.MS_TS_GSTT 
	WHERE 
	CASE 
		WHEN @iLoai = 0 AND CONVERT(DATE,NGAY_KE) BETWEEN @TNgay AND @DNgay THEN 1
		WHEN @iLoai = 1 AND  CONVERT(DATE,NGAY_KE) <= @DNgay THEN 1    
    ELSE 0
	END = 1
	
) T1
WHERE (DATEDIFF (DAY,T1.NGAY_KH, CONVERT(DATE,ISNULL(NGAY_GIO_KT,GETDATE()))) > @iTre OR @iTre = -1)
OR (DATEDIFF (DAY,T1.NGAY_KH, CONVERT(DATE,ISNULL(NGAY_GIO_KT,GETDATE())))  = @iDungHan OR @iDungHan = -1)
OR (DATEDIFF (DAY,T1.NGAY_KH, CONVERT(DATE,ISNULL(NGAY_GIO_KT,GETDATE())))  < @iTruocHan OR @iTruocHan = -1)
OR (ISNULL(DATEDIFF (DAY,T1.NGAY_KH, CONVERT(DATE,ISNULL(NGAY_GIO_KT,GETDATE()))),-123456789)  = @iChuaLam OR @iChuaLam = -1)


ORDER BY  MS_MAY,Ten_N_XUONG,TEN_HE_THONG,TEN_LOAI_MAY,TEN_BO_PHAN,TEN_TS_GSTT, CHU_KY_DO,NGAY_GIO_KT 

--Lay ngay trong hieu chuan va hieu chuan may de tim ngay gan nhat voi ngay hieu chuan trong table @HCHUAN de tinh ngay KH
SELECT DISTINCT MS_MAY,MS_PT, MS_VI_TRI,MS_LOAI_HIEU_CHUAN, NGAY AS NGAY_MAX  
INTO #MAX_HCHUAN
FROM HIEU_CHUAN_DHD 
UNION
SELECT DISTINCT MS_MAY,NULL AS MS_PT, NULL AS MS_VI_TRI,MS_LOAI_HIEU_CHUAN,NGAY_HC AS NGAY_MAX  
FROM HIEU_CHUAN_MAY 


----exec spTongHopTinhHinhbaoTri
SELECT  MS_MAY,T1.TEN_MAY, Ten_N_XUONG,TEN_HE_THONG,TEN_LOAI_MAY,T1.MS_PT , T3.TEN_PT ,T1.MS_VI_TRI,TEN_LOAI_HIEU_CHUAN,CHU_KY_DO,NGAY_KH AS NGAY_HC_KH,NGAY_HC AS NGAY_HC_TT,
CASE SNGAY WHEN NULL THEN SNGAY ELSE
DATEDIFF (DAY,T1.NGAY_KH, CONVERT(DATE,ISNULL(NGAY_HC,GETDATE())) ) END AS SNGAY
FROM
(	SELECT T1.MS_MAY , T2.TEN_MAY,T2.Ten_N_XUONG,T2.TEN_HE_THONG,T2.TEN_LOAI_MAY,T1.MS_PT,T1.MS_VI_TRI,T1.TEN_LOAI_HIEU_CHUAN, CONVERT(NVARCHAR(10),CHU_KY) + ' ' + TEN_DV_TG AS CHU_KY_DO,
		CASE T1.MS_DV_TG 
		WHEN 1 THEN DATEADD(DAY,CHU_KY, ( SELECT TOP 1 MAX(NGAY_MAX) FROM #MAX_HCHUAN T3 WHERE ISNULL(T1.MS_MAY,'') = ISNULL(T3.MS_MAY,'') AND ISNULL(T1.MS_PT,'') = ISNULL(T3.MS_PT,'') AND ISNULL(T1.MS_VI_TRI,'') = ISNULL(T3.MS_VI_TRI,'') AND ISNULL(T1.MS_LOAI_HIEU_CHUAN,'') = ISNULL(T3.MS_LOAI_HIEU_CHUAN,'') AND NGAY_MAX < NGAY_HC  )) 
		WHEN 2 THEN DATEADD(WEEK,CHU_KY, ( SELECT TOP 1 MAX(NGAY_MAX) FROM #MAX_HCHUAN T3 WHERE ISNULL(T1.MS_MAY,'') = ISNULL(T3.MS_MAY,'') AND ISNULL(T1.MS_PT,'') = ISNULL(T3.MS_PT,'') AND ISNULL(T1.MS_VI_TRI,'') = ISNULL(T3.MS_VI_TRI,'') AND ISNULL(T1.MS_LOAI_HIEU_CHUAN,'') = ISNULL(T3.MS_LOAI_HIEU_CHUAN,'') AND NGAY_MAX < NGAY_HC )) 
		WHEN 3 THEN DATEADD(MONTH,CHU_KY, ( SELECT TOP 1 MAX(NGAY_MAX) FROM #MAX_HCHUAN T3 WHERE ISNULL(T1.MS_MAY,'') = ISNULL(T3.MS_MAY,'') AND ISNULL(T1.MS_PT,'') = ISNULL(T3.MS_PT,'') AND ISNULL(T1.MS_VI_TRI,'') = ISNULL(T3.MS_VI_TRI,'') AND ISNULL(T1.MS_LOAI_HIEU_CHUAN,'') = ISNULL(T3.MS_LOAI_HIEU_CHUAN,'') AND NGAY_MAX < NGAY_HC )) 
		WHEN 4 THEN DATEADD(YEAR,CHU_KY, ( SELECT TOP 1 MAX(NGAY_MAX) FROM #MAX_HCHUAN T3 WHERE ISNULL(T1.MS_MAY,'') = ISNULL(T3.MS_MAY,'') AND ISNULL(T1.MS_PT,'') = ISNULL(T3.MS_PT,'') AND ISNULL(T1.MS_VI_TRI,'') = ISNULL(T3.MS_VI_TRI,'') AND ISNULL(T1.MS_LOAI_HIEU_CHUAN,'') = ISNULL(T3.MS_LOAI_HIEU_CHUAN,'') AND NGAY_MAX < NGAY_HC ))  END AS  NGAY_KH
	,NGAY_HC, NULL AS SNGAY
	FROM @HCHUAN T1 INNER JOIN #MAY_USER T2 ON T1.MS_MAY = T2.MS_MAY

UNION 
-- them cac may co trong hieu chuan may va dhd = max ngay cuoi + them 1 chu ky trong gia doan de bik ngay sap lam
	SELECT T1.MS_MAY ,T2.TEN_MAY,T2.Ten_N_XUONG,T2.TEN_HE_THONG,T2.TEN_LOAI_MAY,T1.MS_PT, T1.MS_VI_TRI,T1.TEN_LOAI_HIEU_CHUAN, CHU_KY_DO,
		 NGAY_KE , NULL AS  NGAY_HC,DATEDIFF (DAY,NGAY_KE, GETDATE()) AS SNGAY
	FROM
	(
		SELECT T1.MS_MAY, T1.MS_PT, T1.MS_VI_TRI, T1.MS_LOAI_HIEU_CHUAN, T2.TEN_LOAI_HIEU_CHUAN, 
		CONVERT(NVARCHAR(10) , CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_NOI WHEN 2 THEN CHU_KY_HC_NGOAI WHEN 3 THEN CHU_KY_KD ELSE CHU_KY_KT END )  + ' ' +
		CASE 0 WHEN 0 THEN T4.TEN_DV_TG WHEN 1 THEN T4.TEN_DV_TG_ANH ELSE T4.TEN_DV_TG_HOA END AS CHU_KY_DO,
		CASE T3.MS_DV_TG 
					WHEN 1 THEN DATEADD(DAY,CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_NOI WHEN 2 THEN CHU_KY_HC_NGOAI WHEN 3 THEN CHU_KY_KD ELSE CHU_KY_KT END , MAX(T1.NGAY)) 
					WHEN 2 THEN DATEADD(WEEK,CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_NOI WHEN 2 THEN CHU_KY_HC_NGOAI WHEN 3 THEN CHU_KY_KD ELSE CHU_KY_KT END ,MAX(T1.NGAY)) 
					WHEN 3 THEN DATEADD(MONTH,CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_NOI WHEN 2 THEN CHU_KY_HC_NGOAI WHEN 3 THEN CHU_KY_KD ELSE CHU_KY_KT END ,MAX(T1.NGAY)) 
					WHEN 4 THEN DATEADD(YEAR,CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_NOI WHEN 2 THEN CHU_KY_HC_NGOAI WHEN 3 THEN CHU_KY_KD ELSE CHU_KY_KT END , MAX(T1.NGAY)) END AS NGAY_KE 
		FROM            dbo.HIEU_CHUAN_DHD AS T1 INNER JOIN
								 dbo.LOAI_HIEU_CHUAN AS T2 ON T1.MS_LOAI_HIEU_CHUAN = T2.MS_LOAI_HIEU_CHUAN INNER JOIN
								 dbo.CHU_KY_HIEU_CHUAN AS T3 ON T1.MS_MAY = T3.MS_MAY AND T1.MS_PT = T3.MS_PT AND T1.MS_VI_TRI = T3.MS_VI_TRI INNER JOIN 
								 DON_VI_THOI_GIAN T4 ON T3.MS_DV_TG = T4.MS_DV_TG
		GROUP BY T1.MS_MAY, T1.MS_PT, T1.MS_VI_TRI, T1.MS_LOAI_HIEU_CHUAN, T2.TEN_LOAI_HIEU_CHUAN,
		CHU_KY_HC_NOI,CHU_KY_HC_NGOAI,CHU_KY_KD,CHU_KY_KT,T3.MS_DV_TG,
		T4.TEN_DV_TG,T4.TEN_DV_TG_ANH, T4.TEN_DV_TG_HOA
		UNION
		SELECT T1.MS_MAY,NULL AS MS_PT, NULL AS MS_VI_TRI, T1.MS_LOAI_HIEU_CHUAN,T2.TEN_LOAI_HIEU_CHUAN,
		CONVERT(NVARCHAR(10) ,CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_TB WHEN 2 THEN CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE CHU_KY_KD_TB END) + ' ' +
		CASE 0 WHEN 0 THEN T4.TEN_DV_TG WHEN 1 THEN T4.TEN_DV_TG_ANH ELSE T4.TEN_DV_TG_HOA END AS CHU_KY_DO,
		CASE T3.DON_VI_THOI_GIAN 
					WHEN 1 THEN DATEADD(DAY,CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_TB WHEN 2 THEN CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE CHU_KY_KD_TB END , MAX(T1.NGAY_HC)) 
					WHEN 2 THEN DATEADD(WEEK,CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_TB WHEN 2 THEN CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE CHU_KY_KD_TB END ,MAX(T1.NGAY_HC)) 
					WHEN 3 THEN DATEADD(MONTH,CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_TB WHEN 2 THEN CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE CHU_KY_KD_TB END,MAX(T1.NGAY_HC)) 
					WHEN 4 THEN DATEADD(YEAR,CASE T1.MS_LOAI_HIEU_CHUAN WHEN 1 THEN CHU_KY_HC_TB WHEN 2 THEN CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE CHU_KY_KD_TB END , MAX(T1.NGAY_HC)) END AS NGAY_KE 
		FROM HIEU_CHUAN_MAY T1 INNER JOIN LOAI_HIEU_CHUAN_MAY T2 ON T1.MS_LOAI_HIEU_CHUAN = T2.MS_LOAI_HIEU_CHUAN INNER JOIN
		MAY T3 ON T1.MS_MAY = T3.MS_MAY INNER JOIN DON_VI_THOI_GIAN T4 ON T3.DON_VI_THOI_GIAN = T4.MS_DV_TG
		GROUP BY T1.MS_MAY, T1.MS_LOAI_HIEU_CHUAN,
		T1.MS_LOAI_HIEU_CHUAN, CHU_KY_HC_TB, CHU_KY_HIEU_CHUAN_TB_NGOAI,CHU_KY_KD_TB,
		T4.TEN_DV_TG, T4.TEN_DV_TG_ANH, T4.TEN_DV_TG_HOA, T2.TEN_LOAI_HIEU_CHUAN,T3.DON_VI_THOI_GIAN 
	) T1 INNER JOIN #MAY_USER T2 ON T1.MS_MAY = T2.MS_MAY 
	WHERE 
	CASE 
		WHEN @iLoai = 0 AND CONVERT(DATE,NGAY_KE) BETWEEN @TNgay AND @DNgay THEN 1
		WHEN @iLoai = 1 AND  CONVERT(DATE,NGAY_KE) <= @DNgay THEN 1    
    ELSE 0
	END = 1
) T1 INNER JOIN dbo.IC_PHU_TUNG T3 ON T1.MS_PT = T3.MS_PT
WHERE (DATEDIFF (DAY,T1.NGAY_KH, CONVERT(DATE,ISNULL(NGAY_HC,GETDATE()))) > @iTre OR @iTre = -1)
OR (DATEDIFF (DAY,T1.NGAY_KH, CONVERT(DATE,ISNULL(NGAY_HC,GETDATE())) )  = @iDungHan OR @iDungHan = -1)
OR (DATEDIFF (DAY,T1.NGAY_KH, CONVERT(DATE,ISNULL(NGAY_HC,GETDATE())) )  < @iTruocHan OR @iTruocHan = -1)
OR (ISNULL(DATEDIFF (DAY,T1.NGAY_KH, CONVERT(DATE,ISNULL(NGAY_HC,GETDATE())) ),-123456789)  = @iChuaLam OR @iChuaLam = -1)





ORDER BY MS_MAY,T1.TEN_MAY,Ten_N_XUONG,TEN_HE_THONG,TEN_LOAI_MAY,MS_PT,T1.MS_VI_TRI,TEN_LOAI_HIEU_CHUAN,CHU_KY_DO,NGAY_HC
