
--exec SP_UPDATE_LOGIN 'admin'


ALTER procedure [dbo].[SP_UPDATE_LOGIN]
	@USER_LOGIN NVARCHAR (64),
	@ID INT
AS
BEGIN
	DECLARE @iSL int
	
	SELECT @iSL = COUNT(*) FROM [LOGIN] WHERE USER_LOGIN = @USER_LOGIN AND ID = @ID
	
	if @iSL = 0 
	begin
		UPDATE dbo.[LOGIN] SET TIME_LOGIN = 'GETDATE()'	WHERE USER_LOGIN = @USER_LOGIN  AND ID = @ID
	end 
	else
	begin
		UPDATE dbo.[LOGIN] SET TIME_LOGIN = GETDATE()	WHERE USER_LOGIN = @USER_LOGIN  AND ID = @ID
	end 
END
