
ALTER PROCEDURE [dbo].[GetGiamSatTinhTrangCongViec]
	@LoaiTS INT = -1, 
	@NNgu INT =0,
	@Kieu INT =0,
	@USERNAME NVARCHAR	(100) = 'admin'
--loaiTS = -1 load all
--loaiTS = 0 dinh luong
--loaiTS = 1 dinh tinh

--kieu = 0 load form
--kieu =1 chinh sua
AS
BEGIN

SELECT       T4.*
INTO #THONG_SO_GSTT
FROM            dbo.NHOM_LOAI_CONG_VIEC AS T2 INNER JOIN
                         dbo.USERS AS T3 ON T2.GROUP_ID = T3.GROUP_ID INNER JOIN
                         dbo.THONG_SO_GSTT AS T4 ON T2.MS_LOAI_CV = T4.MS_LOAI_CV
WHERE (USERNAME = @USERNAME) AND (ISNULL(T4.MS_LOAI_CV,'') <> '')


IF(@Kieu = 0)
	BEGIN
	SELECT DISTINCT T1.MS_TS_GSTT,
CASE @NNgu WHEN 0 THEN T2.TEN_TS_GSTT WHEN 1 THEN ISNULL(NULLIF(T2.TEN_TS_GSTT_ANH,''),T2.TEN_TS_GSTT) ELSE ISNULL(NULLIF(T2.TEN_TS_GSTT_HOA,''),T2.TEN_TS_GSTT) END AS TEN_TS_GSTT
FROM GSTT_CV T1 
INNER JOIN #THONG_SO_GSTT T2 ON T2.MS_TS_GSTT = T1.MS_TS_GSTT
WHERE	T2.LOAI_TS = @LoaiTS OR -1 = @LoaiTS
	END
ELSE
	BEGIN
	SELECT DISTINCT T2.MS_TS_GSTT,
	CASE @NNgu WHEN 0 THEN T2.TEN_TS_GSTT WHEN 1 THEN ISNULL(NULLIF(T2.TEN_TS_GSTT_ANH,''),T2.TEN_TS_GSTT) ELSE ISNULL(NULLIF(T2.TEN_TS_GSTT_HOA,''),T2.TEN_TS_GSTT) END AS TEN_TS_GSTT
	FROM GSTT_CV T1 
	RIGHT JOIN #THONG_SO_GSTT T2 ON T2.MS_TS_GSTT = T1.MS_TS_GSTT
	WHERE	T2.LOAI_TS = @LoaiTS OR -1 = @LoaiTS
	END
END	
