IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spUpDateDanhSachDinhLuong')
   exec('CREATE PROCEDURE spUpDateDanhSachDinhLuong AS BEGIN SET NOCOUNT ON; END')
GO
ALTER PROC [dbo].[spUpDateDanhSachDinhLuong] (
	@STT INT = 6155,
	@BTam NVARCHAR(100) = 'GIA_TRI_TMPDLAdmin'
	 )
AS 
BEGIN
 DECLARE @sSql	NVARCHAR(MAX)
 SET @sSql ='SELECT DISTINCT T2.MS_MAY,T1.MS_TS_GSTT,T2.MS_BO_PHAN,0 AS MS_TT,T1.THOI_GIAN,T1.THOI_GIAN AS TG_TT, null AS GIA_TRI_DO 
INTO '+@BTam+'
FROM dbo.THONG_SO_GSTT AS 
T1 INNER JOIN dbo.CAU_TRUC_THIET_BI_TS_GSTT AS T2 ON T1.MS_TS_GSTT = T2.MS_TS_GSTT 
INNER JOIN dbo.CAU_TRUC_THIET_BI AS T3 ON T2.MS_MAY = T3.MS_MAY AND T2.MS_BO_PHAN = T3.MS_BO_PHAN 
INNER JOIN dbo.DON_VI_DO AS T4 ON T1.MS_DV_DO = T4.MS_DV_DO
WHERE T1.LOAI_TS =0 AND ISNULL(T2.ACTIVE,0)=1

ALTER TABLE '+@BTam+'
ALTER COLUMN GIA_TRI_DO FLOAT

SELECT T1.MS_MAY,T1.MS_TS_GSTT,T1.MS_BO_PHAN,T1.MS_TT,T1.THOI_GIAN,T1.TG_TT,T1.GIA_TRI_DO,T5.TEN_GT,T5.GIA_TRI_TREN,T5.GIA_TRI_DUOI
INTO #t2
 FROM    dbo.GIAM_SAT_TINH_TRANG_TS AS T1
            INNER JOIN dbo.THONG_SO_GSTT AS T2 ON T1.MS_TS_GSTT = T2.MS_TS_GSTT
            INNER JOIN dbo.CAU_TRUC_THIET_BI AS T3 ON T1.MS_MAY = T3.MS_MAY
                                                      AND T1.MS_BO_PHAN = T3.MS_BO_PHAN
            INNER JOIN dbo.MAY AS T4 ON T3.MS_MAY = T4.MS_MAY
            INNER JOIN CAU_TRUC_THIET_BI_TS_GSTT T5 ON T5.MS_MAY = T1.MS_MAY
                                                       AND T5.MS_BO_PHAN = T1.MS_BO_PHAN
                                                       AND T5.MS_TS_GSTT = T1.MS_TS_GSTT
                                                       AND T5.MS_TT = T1.MS_TT
            INNER JOIN dbo.DON_VI_DO T6 ON T6.MS_DV_DO = T2.MS_DV_DO
    WHERE   T1.STT = '+ CONVERT(NVARCHAR(50), @STT )+'
            AND T2.LOAI_TS = 0
UPDATE a
 SET a.GIA_TRI_DO = b.GIA_TRI_DO,a.TG_TT = b.TG_TT ,a.MS_TT = b.MS_TT
 FROM #t2 b
 JOIN '+@BTam+' a ON a.MS_MAY = b.MS_MAY AND a.MS_TS_GSTT = b.MS_TS_GSTT AND a.MS_BO_PHAN = b.MS_BO_PHAN'
EXEC(@sSql)
END
