IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spUpDateDanhSachDinhTinh')
   exec('CREATE PROCEDURE spUpDateDanhSachDinhTinh AS BEGIN SET NOCOUNT ON; END')
GO
--KHI CLICK VÀO NÚT SỮA LẤY DỮ LIỆU ĐƯA VÀO BẢNG TẠM
ALTER PROC [dbo].[spUpDateDanhSachDinhTinh] (
	@STT INT = 6103,
	@BTam NVARCHAR(100) = 'GIA_TRI_TMPADMIN'
	 )
AS 
BEGIN
DECLARE @sSql	NVARCHAR(MAX)
--LẤY DANH SÁCH ĐÃ CHỌN VÀ CHƯA CHỌN UNION LẠI VS NHAU
SET @sSql	 = 'SELECT CONVERT(BIT,1) AS CHON,
T4.TEN_GIA_TRI,T4.DAT,T3.GHI_CHU,T3.STT_GT AS STT,T2.MS_MAY,T2.MS_TS_GSTT,T2.MS_BO_PHAN,T2.MS_TT,T2.THOI_GIAN,T2.TG_TT INTO ' +  @BTam + '
FROM dbo.GIAM_SAT_TINH_TRANG T1
JOIN dbo.GIAM_SAT_TINH_TRANG_TS T2 ON T2.STT = T1.STT
JOIN dbo.GIAM_SAT_TINH_TRANG_TS_DT T3 ON T3.STT = T2.STT AND T3.MS_MAY = T2.MS_MAY AND T3.MS_TS_GSTT = T2.MS_TS_GSTT AND T3.MS_BO_PHAN = T2.MS_BO_PHAN AND T3.MS_TT = T2.MS_TT
JOIN dbo.GIA_TRI_TS_GSTT T4 ON T3.STT_GT = T4.STT AND T2.MS_TS_GSTT = T4.MS_TS_GSTT
WHERE T1.STT= ' + CONVERT(NVARCHAR(50), @STT )  + 
'UNION
SELECT CHON, TEN_GIA_TRI, DAT, GHI_CHU, STT_GT, MS_MAY, MS_TS_GSTT, MS_BO_PHAN, MS_TT, THOI_GIAN, TG_TT FROM 
(SELECT CONVERT(BIT,0) AS CHON,T2.TEN_GIA_TRI,T2.DAT,NULL AS GHI_CHU,T2.STT AS STT_GT,
T1.MS_MAY,T1.MS_TS_GSTT,T1.MS_BO_PHAN,T1.MS_TT, NULL AS THOI_GIAN, NULL AS TG_TT
FROM dbo.GIAM_SAT_TINH_TRANG_TS T1 RIGHT JOIN dbo.GIA_TRI_TS_GSTT T2 ON T2.MS_TS_GSTT = T1.MS_TS_GSTT
WHERE T1.STT=  ' + CONVERT(NVARCHAR(50), @STT ) + ') T1 WHERE NOT EXISTS (SELECT * FROM dbo.GIAM_SAT_TINH_TRANG_TS_DT T3 WHERE T1.MS_MAY = T3.MS_MAY AND T1.MS_TS_GSTT = T3.MS_TS_GSTT AND T1.MS_BO_PHAN = T3.MS_BO_PHAN AND T1.MS_TT = T3.MS_TT AND STT = ' + CONVERT(NVARCHAR(50), @STT ) + ' AND T1.STT_GT = T3.STT_GT)'
EXEC (@sSql)
END