IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'sp_GetLOAIDSGSTT')
   exec('CREATE PROCEDURE sp_GetLOAIDSGSTT AS BEGIN SET NOCOUNT ON; END')
GO
--LẤY DANH SÁCH GIÁM SÁT THEO NGÀY BẮC ĐẦU VÀ NGÀY KẾT THÚC
ALTER proc [dbo].[sp_GetLOAIDSGSTT]
	@NgayBD DATETIME= '12/01/2018',
	@NgayKT DATETIME ='12/30/2018',
	@UserName NVARCHAR(100)='ADMIN',
	--@HoanThanh INT =-1,
	@NNgu INT = NULL
AS
SELECT SO_PHIEU,
	gs.NGAY_KT,
	gs.GIO_KT,
	CONVERT(VARCHAR,(gs.NGAY_KT +' '+ gs.GIO_KT),105) + ' '+CONVERT(VARCHAR,(gs.NGAY_KT +' '+ gs.GIO_KT),108) NGAY_GIO,
	(cn.HO+' '+cn.TEN) AS TEN_CN,	
	dbo.GetMSMayGSTT(STT) AS MS_MAY,
	dbo.GettenMayGSTT(STT) AS Ten_May,
	gs.HOAN_THANH,
	gs.USERNAME,
	gs.MS_CONG_NHAN,
	gs.NHAN_XET AS GHI_CHU,
	(SELECT SUM(TG_TT) FROM GIAM_SAT_TINH_TRANG_TS WHERE STT = gs.STT) AS TONG_TG,
	gs.STT
FROM  GIAM_SAT_TINH_TRANG gs 
JOIN dbo.CONG_NHAN cn ON gs.MS_CONG_NHAN = cn.MS_CONG_NHAN 
--LEFT JOIN dbo.GIAM_SAT_TINH_TRANG_TS ct ON ct.MS_TS_GSTT = gs.STT 
--JOIN #MAY T4 ON CT.MS_MAY = T4.MS_MAY
WHERE 
--(-1 = @HoanThanh OR ISNULL(gs.HOAN_THANH,0) = @HoanThanh)AND 
(gs.NGAY_KT BETWEEN CONVERT(DATETIME,@NgayBD) AND CONVERT(DATETIME,@NgayKT))
--EXEC [GetLOAI_DS_GSTT] @HoanThanh =1