
/****** Object:  UserDefinedFunction [dbo].[AUTO_CREATE_SO_PHIEU_GSTT]    Script Date: 19/09/2019 10:29:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUTO_CREATE_SO_PHIEU_GSTT]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[AUTO_CREATE_SO_PHIEU_GSTT]
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUTO_CREATE_SO_PHIEU_GSTT]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'-- HÀM TỰ DỘNG TẠO SỐ PHIẾU
CREATE FUNCTION [dbo].[AUTO_CREATE_SO_PHIEU_GSTT] (
	@DATE DATETIME = ''24/11/1992'')
	RETURNS NVARCHAR(15)
AS 
BEGIN
--DECLARE @DATE DATETIME 
--SET @DATE  = CONVERT(DATETIME,''20140102'',112)
DECLARE @CHUOI NVARCHAR(15)
DECLARE @PBT NVARCHAR(6)
SET  @PBT = ( SELECT ISNULL(MAX(CONVERT(INT, RIGHT(SO_PHIEU,6))),0) + 1
FROM dbo.GIAM_SAT_TINH_TRANG)
SET @CHUOI = ''CM-'' +  CONVERT(VARCHAR(6),@DATE,112) +RIGHT(''000000'' + CONVERT(NVARCHAR(6), @PBT),6)
RETURN @CHUOI
END' 
END


