IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spXoaGiamSatTinhTrang')
   exec('CREATE PROCEDURE spXoaGiamSatTinhTrang AS BEGIN SET NOCOUNT ON; END')
GO

ALTER PROCEDURE [dbo].[spXoaGiamSatTinhTrang]
	@STT INT = 35,
	@MS_MAY NVARCHAR(30) = '-1',
	@MS_TS_GSTT NVARCHAR(10)  = '-1',
	@MS_BO_PHAN NVARCHAR(50)  = '-1',
	@MS_TT INT  = -1,
	@STT_HINH INT  = -1,
	@XoaGSTT bit
AS 

BEGIN


DELETE dbo.GIAM_SAT_TINH_TRANG_HINH WHERE (STT = @STT) AND (MS_MAY = @MS_MAY OR @MS_MAY = '-1') AND (MS_TS_GSTT = @MS_TS_GSTT OR @MS_TS_GSTT = -1) AND (MS_BO_PHAN = @MS_BO_PHAN OR @MS_BO_PHAN = '-1') AND (MS_TT = @MS_TT OR @MS_TT = -1) AND (STT_HINH = @STT_HINH OR @STT_HINH = -1)

DELETE dbo.GIAM_SAT_TINH_TRANG_TS_DT WHERE (STT = @STT) AND (MS_MAY = @MS_MAY OR @MS_MAY = '-1') AND (MS_TS_GSTT = @MS_TS_GSTT OR @MS_TS_GSTT = -1) AND (MS_BO_PHAN = @MS_BO_PHAN OR @MS_BO_PHAN = '-1') AND (MS_TT = @MS_TT OR @MS_TT = -1)

DELETE dbo.GIAM_SAT_TINH_TRANG_TS WHERE (STT = @STT) AND (MS_MAY = @MS_MAY OR @MS_MAY = '-1') AND (MS_TS_GSTT = @MS_TS_GSTT OR @MS_TS_GSTT = -1) AND (MS_BO_PHAN = @MS_BO_PHAN OR @MS_BO_PHAN = '-1') AND (MS_TT = @MS_TT OR @MS_TT = -1)
IF @XoaGSTT = 1	
BEGIN	
	IF NOT EXISTS(SELECT STT,MS_MAY FROM dbo.GIAM_SAT_TINH_TRANG_TS WHERE (STT = @STT) UNION SELECT STT,MS_MAY FROM dbo.GIAM_SAT_TINH_TRANG_HINH WHERE (STT = @STT)) DELETE dbo.GIAM_SAT_TINH_TRANG WHERE (STT = @STT) 
END
END
