IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'DeleteGIAM_SAT_TINH_TRANG_HINH')
   exec('CREATE PROCEDURE DeleteGIAM_SAT_TINH_TRANG_HINH AS BEGIN SET NOCOUNT ON; END')
GO
ALTER proc [dbo].[DeleteGIAM_SAT_TINH_TRANG_HINH]
	@STT		 INT,
	@MS_MAY	NVARCHAR(30),
	@MS_TS_GSTT	NVARCHAR(10),
	@MS_BO_PHAN NVARCHAR(50),
	@STT_HINH	INT,
	@MS_TT	INT
	
AS
	DELETE FROM GIAM_SAT_TINH_TRANG_HINH 
	WHERE STT=@STT AND MS_MAY=@MS_MAY AND MS_TS_GSTT=@MS_TS_GSTT AND STT_HINH=@STT_HINH AND MS_BO_PHAN=@MS_BO_PHAN AND MS_TT = @MS_TT

DBCC CHECKIDENT (GIAM_SAT_TINH_TRANG_HINH,RESEED,0)
DBCC CHECKIDENT (GIAM_SAT_TINH_TRANG_HINH,RESEED)
