IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'AddGIAM_SAT_TINH_TRANG_HINH')
   exec('CREATE PROCEDURE AddGIAM_SAT_TINH_TRANG_HINH AS BEGIN SET NOCOUNT ON; END')
GO
ALTER proc [dbo].[AddGIAM_SAT_TINH_TRANG_HINH]
	@STT		 INT,
	@MS_MAY	NVARCHAR(30),
	@MS_TS_GSTT	NVARCHAR(10),
	@MS_BO_PHAN NVARCHAR(50),
	@MS_TT	int,
	@DUONG_DAN NVARCHAR(255),
	@GHI_CHU	NVARCHAR(50)
AS
	INSERT INTO GIAM_SAT_TINH_TRANG_HINH(STT,MS_MAY,MS_TS_GSTT,MS_BO_PHAN,MS_TT,DUONG_DAN,GHI_CHU)
	VALUES (@STT,@MS_MAY,@MS_TS_GSTT,@MS_BO_PHAN,@MS_TT,@DUONG_DAN,@GHI_CHU)
