IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spBCGiamSatTinhTrangCT')
   exec('CREATE PROCEDURE spBCGiamSatTinhTrangCT AS BEGIN SET NOCOUNT ON; END')
GO
--LOAD DANH SÁCH CHI TIẾT GIÁM SÁT THEO THỜI GIAN
ALTER PROC [dbo].[spBCGiamSatTinhTrangCT]
	@TU_NGAY DATETIME = '12/01/2018',
	@DEN_NGAY DATETIME = '12/28/2018',
	@USERNAME NVARCHAR(64) = 'ADMIN',
	@NNGU INT = 0,
	@MS_LOAI_CV INT = -1,
	@MS_NHA_XUONG NVARCHAR(250) = '-1',
	@MS_HE_THONG INT = -1,
	@MS_LOAI_MAY VARCHAR(100) = '-1'
AS
BEGIN
SELECT DISTINCT MS_MAY,TEN_MAY INTO #MAY_USER
	FROM [dbo].[MGetMayUserNgay](@DEN_NGAY,@USERNAME,@MS_NHA_XUONG,@MS_HE_THONG,-1,@MS_LOAI_MAY,'-1','-1',@NNGU)

SELECT 
T2.MS_MAY, T4.HO + ' ' + T4.TEN AS HO_TEN,
CONVERT(DATETIME,CONVERT(NVARCHAR(10),T1.NGAY_KT,101) + ' ' + CONVERT(NVARCHAR(10),T1.GIO_KT,108)) AS NGAY_KT, T3.GHI_CHU, T2.MS_TS_GSTT, T2.MS_BO_PHAN, T2.MS_TT, T3.STT_GT,T2.THOI_GIAN,T2.TG_TT INTO #GSTT_TMP
FROM            dbo.GIAM_SAT_TINH_TRANG AS T1 INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS AS T2 ON T1.STT = T2.STT INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS_DT AS T3 ON T2.STT = T3.STT AND T2.MS_MAY = T3.MS_MAY AND T2.MS_TS_GSTT = T3.MS_TS_GSTT AND T2.MS_BO_PHAN = T3.MS_BO_PHAN AND T2.MS_TT = T3.MS_TT
						 INNER JOIN CONG_NHAN T4 ON T1.MS_CONG_NHAN = T4.MS_CONG_NHAN
WHERE (NGAY_KT BETWEEN @TU_NGAY AND @DEN_NGAY)
SELECT ISNULL(T1.MS_LOAI_CV,-99) AS MS_LOAI_CV, T1.TEN_LOAI_CV INTO #LOAI_CV
FROM            dbo.LOAI_CONG_VIEC AS T1 INNER JOIN
                         dbo.NHOM_LOAI_CONG_VIEC AS T2 ON T1.MS_LOAI_CV = T2.MS_LOAI_CV INNER JOIN
                         dbo.USERS AS T3 ON T2.GROUP_ID = T3.GROUP_ID
WHERE (T3.USERNAME = @USERNAME) AND (ISNULL(T1.MS_LOAI_CV,-99) = @MS_LOAI_CV OR @MS_LOAI_CV = -1) 

-- @DAT = 0 ALL   -- = 1 LA DAT = 1    --- = 2 LA DAT = 0
--DINH TINH


SELECT ROW_NUMBER() OVER (ORDER BY BT.NGAY_KT DESC) AS STT,* FROM 
(SELECT  DISTINCT
T1.NGAY_KT,
HO_TEN,
T1.MS_MAY,
T5.TEN_MAY ,
T1.MS_BO_PHAN,
T7.TEN_BO_PHAN ,
T1.MS_TS_GSTT,
CASE @NNGU WHEN 0 THEN T4.TEN_TS_GSTT WHEN 1 THEN T4.TEN_TS_GSTT_ANH ELSE T4.TEN_TS_GSTT_HOA END AS TEN_TS_GSTT,
T8.TEN_LOAI_CV,
T6.TEN_GIA_TRI AS GIA_TRI, 
NULL AS TEN_DV_DO,
T1.GHI_CHU,
T1.THOI_GIAN,
T1.TG_TT, 
T6.DAT
FROM #GSTT_TMP T1 INNER JOIN
                         dbo.THONG_SO_GSTT AS T4 ON T1.MS_TS_GSTT = T4.MS_TS_GSTT INNER JOIN
                         #MAY_USER AS T5 ON T1.MS_MAY = T5.MS_MAY INNER JOIN
                         dbo.GIA_TRI_TS_GSTT AS T6 ON T4.MS_TS_GSTT = T6.MS_TS_GSTT AND T1.MS_TS_GSTT = T6.MS_TS_GSTT AND T1.STT_GT = T6.STT INNER JOIN
                         dbo.CAU_TRUC_THIET_BI AS T7 ON T5.MS_MAY = T7.MS_MAY AND T1.MS_BO_PHAN = T7.MS_BO_PHAN LEFT JOIN
                         #LOAI_CV AS T8 ON ISNULL(T4.MS_LOAI_CV,-99) = ISNULL(T8.MS_LOAI_CV,-99)
WHERE  (ISNULL(T4.MS_LOAI_CV,-99) = @MS_LOAI_CV OR @MS_LOAI_CV = -1) 

UNION
--DỊNH LƯỢNG
 SELECT DISTINCT
 --ROW_NUMBER() OVER (ORDER BY T1.NGAY_KT DESC,ISNULL(T7.STT, 9999) ) AS STT,
T1.NGAY_KT,
 T9.HO + ' ' + T9.TEN AS HO_TEN,
T2.MS_MAY,
--CASE @NNGU WHEN 0 THEN  T6.TEN_MAY WHEN 1 THEN T6.TEN_MAY_ANH ELSE T6.TEN_MAY_HOA END AS TEN_MAY,
T6.TEN_MAY,
T2.MS_BO_PHAN,
CASE @NNGU WHEN 0 THEN  T7.TEN_BO_PHAN WHEN 1 THEN T7.TEN_BO_PHAN_ANH ELSE T7.TEN_BO_PHAN_HOA END AS TEN_BO_PHAN,
T2.MS_TS_GSTT,
CASE @NNGU WHEN 0 THEN  T4.TEN_TS_GSTT WHEN 1 THEN T4.TEN_TS_GSTT_ANH ELSE T4.TEN_TS_GSTT_HOA END AS TEN_TS_GSTT,
CASE @NNGU WHEN 0 THEN  T5.TEN_LOAI_CV WHEN 1 THEN T5.TEN_LOAI_CV_ANH ELSE T5.TEN_LOAI_CV_HOA END AS TEN_LOAI_CV,
CONVERT(VARCHAR,T2.GIA_TRI_DO)AS GIA_TRI,
T8.TEN_DV_DO,
T4.GHI_CHU,
T2.THOI_GIAN,
T2.TG_TT,
CONVERT(BIT,NULL) AS DAT
FROM dbo.GIAM_SAT_TINH_TRANG T1
INNER JOIN dbo.GIAM_SAT_TINH_TRANG_TS T2 ON T2.STT = T1.STT
INNER JOIN dbo.CAU_TRUC_THIET_BI_TS_GSTT T3 ON T3.MS_MAY = T2.MS_MAY AND T3.MS_BO_PHAN = T2.MS_BO_PHAN AND T3.MS_TS_GSTT = T2.MS_TS_GSTT AND T3.MS_TT = T2.MS_TT
INNER JOIN dbo.THONG_SO_GSTT T4 ON T4.MS_TS_GSTT = T2.MS_TS_GSTT  
LEFT JOIN dbo.LOAI_CONG_VIEC T5 ON T5.MS_LOAI_CV = T4.MS_LOAI_CV
LEFT JOIN #MAY_USER T6 ON T6.MS_MAY = T2.MS_MAY
JOIN dbo.CAU_TRUC_THIET_BI T7 ON T7.MS_MAY = T6.MS_MAY AND T7.MS_BO_PHAN = T2.MS_BO_PHAN
LEFT JOIN dbo.DON_VI_DO T8 ON T8.MS_DV_DO = T4.MS_DV_DO
LEFT JOIN dbo.CONG_NHAN T9 ON T9.MS_CONG_NHAN = T1.MS_CONG_NHAN
WHERE (NGAY_KT BETWEEN @TU_NGAY AND @DEN_NGAY) AND T4.LOAI_TS = 0 AND (ISNULL(T4.MS_LOAI_CV,-99) = T4.MS_LOAI_CV OR @MS_LOAI_CV = -1)) BT
END