IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetGiaTriThongSo')
   exec('CREATE PROCEDURE spGetGiaTriThongSo AS BEGIN SET NOCOUNT ON; END')
GO


ALTER PROCEDURE [dbo].[spGetGiaTriThongSo]
	@MsMay NVARCHAR(100) = '10-01-WEB-004-00',
	@MsBP NVARCHAR(100) = '01',
	@MsTSo NVARCHAR(100) = '71',
	@BT NVARCHAR(100) = 'GIA_TRI_TMPADMIN'
AS 
BEGIN

CREATE TABLE #BTGT 
(
	[CHON] [BIT] NULL,
	[TEN_GIA_TRI] [NVARCHAR](255) NOT NULL,
	[DAT] [BIT] NULL,
	[GHI_CHU] [NVARCHAR](255) NULL,
	[STT] [INT] NOT NULL,
	[MS_MAY] [NVARCHAR](30) NOT NULL,
	[MS_TS_GSTT] [NVARCHAR](10) NOT NULL,
	[MS_BO_PHAN] [NVARCHAR](50) NOT NULL,
	[MS_TT] [INT] NOT NULL,
	THOI_GIAN FLOAT,
	TG_TT FLOAT
)
	DECLARE @sSql	NVARCHAR(MAX)
	SET @sSql	= 'INSERT INTO #BTGT ([CHON],[TEN_GIA_TRI],[DAT],[GHI_CHU],[STT],[MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[TG_TT]) SELECT [CHON],[TEN_GIA_TRI],[DAT],[GHI_CHU],[STT],	[MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT] ,[THOI_GIAN],[TG_TT] FROM ' + @BT
	EXEC (@sSql)
	IF NOT EXISTS	(SELECT * FROM #BTGT WHERE MS_BO_PHAN = @MsBP AND MS_MAY = @MsMay AND MS_TS_GSTT = @MsTSo)
	BEGIN
		SET @sSql	= 'INSERT INTO ' +  @BT + ' ([CHON],[TEN_GIA_TRI],[DAT],[GHI_CHU],[STT],[MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[TG_TT]) SELECT CONVERT(BIT,0) AS CHON,[TEN_GIA_TRI],[DAT],[GHI_CHU],[STT], '''  +  @MsMay  + ''' AS [MS_MAY],[MS_TS_GSTT], '''  + @MsBP + ''' AS [MS_BO_PHAN], 1 AS [MS_TT] ,CONVERT(FLOAT,0) AS [THOI_GIAN] ,CONVERT(FLOAT,0) AS [TG_TT] FROM dbo.GIA_TRI_TS_GSTT WHERE MS_TS_GSTT = ''' + @MsTSo + ''' ORDER BY DAT DESC ,TEN_GIA_TRI	'
		EXEC (@sSql)		
	END
	SET @sSql	= 'SELECT DISTINCT * FROM ' +  @BT + ' WHERE MS_BO_PHAN = N''' + @MsBP + ''' AND MS_MAY = N''' + @MsMay + ''' AND MS_TS_GSTT = N''' + @MsTSo + ''' ORDER BY DAT DESC '
	EXEC (@sSql)
END



