IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'getDSThongSoGSDinhLuongByNgay')
   exec('CREATE PROCEDURE getDSThongSoGSDinhLuongByNgay AS BEGIN SET NOCOUNT ON; END')
GO
--LOAD GRID DINH LUONG THEO NGAY
ALTER PROC [dbo].[getDSThongSoGSDinhLuongByNgay]
	@MsMay NVARCHAR(100) = '-1',
	@MsThongSo NVARCHAR(10) ='-1',
	@Ngay DATETIME = '11/12/2016',
	@BT NVARCHAR(100) = 'GIA_TRI_TMPDLAdmin',
	@UserName NVARCHAR(50) = 'admin' ,
    @NNgu INT = 0
AS
    BEGIN
CREATE TABLE #BTGT 
(
	[MS_MAY] [NVARCHAR](30) NOT NULL,
	[MS_TS_GSTT] [NVARCHAR](10) NOT NULL,
	[MS_BO_PHAN] [NVARCHAR](50) NOT NULL,
	[MS_TT] [INT] NOT NULL,
	[THOI_GIAN] FLOAT,
	[TG_TT] FLOAT,
	[GIA_TRI_DO] FLOAT,
	--[TEN_GT] NVARCHAR(150),
	--[GIA_TRI_TREN] FLOAT,
	--[GIA_TRI_DUOI] FLOAT,
	--[TEN_DV_DO] NVARCHAR(50)
)
DECLARE @sSql	NVARCHAR(MAX)

SET @sSql	= 'INSERT INTO #BTGT ([MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[TG_TT],[GIA_TRI_DO]) SELECT [MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[TG_TT],[GIA_TRI_DO] FROM ' + @BT
EXEC (@sSql)
SELECT   DISTINCT T1.MS_MAY,
            CASE @NNgu WHEN 1 THEN T4.TEN_MAY WHEN 2 THEN ISNULL(NULLIF(T4.TEN_MAY_ANH, ''), T4.TEN_MAY) ELSE ISNULL(NULLIF(T4.TEN_MAY_HOA, ''), T4.TEN_MAY)
            END AS TEN_MAY ,
            T1.MS_BO_PHAN ,
            CASE @NNgu WHEN 1 THEN TEN_BO_PHAN WHEN 2 THEN ISNULL(NULLIF(T3.TEN_BO_PHAN_ANH, ''), TEN_BO_PHAN) ELSE ISNULL(NULLIF(T3.TEN_BO_PHAN_HOA, ''), TEN_BO_PHAN) END AS TEN_BO_PHAN ,
			T1.MS_TS_GSTT,	
            T2.TEN_TS_GSTT ,
            T1.GIA_TRI_DO,
			T5.TEN_DV_DO
FROM #BTGT T1
INNER JOIN dbo.THONG_SO_GSTT AS T2 ON T1.MS_TS_GSTT = T2.MS_TS_GSTT
            INNER JOIN dbo.CAU_TRUC_THIET_BI AS T3 ON T1.MS_MAY = T3.MS_MAY
                                                      AND T1.MS_BO_PHAN = T3.MS_BO_PHAN
            INNER JOIN dbo.MAY AS T4 ON T3.MS_MAY = T4.MS_MAY
			INNER JOIN dbo.DON_VI_DO T5 ON T5.MS_DV_DO = T2.MS_DV_DO
			INNER JOIN dbo.CAU_TRUC_THIET_BI_TS_GSTT T6 ON T6.MS_TS_GSTT = T2.MS_TS_GSTT
			INNER JOIN       (SELECT        B.MS_MAY, B.MS_TS_GSTT, B.MS_BO_PHAN, B.MS_TT, MAX(A.NGAY_KT) AS NGAY_KT
                               FROM            dbo.GIAM_SAT_TINH_TRANG AS A INNER JOIN
                                                         dbo.GIAM_SAT_TINH_TRANG_TS AS B ON A.STT = B.STT
                               GROUP BY B.MS_MAY, B.MS_TS_GSTT, B.MS_BO_PHAN, B.MS_TT) AS NGAY_MAX ON NGAY_MAX.MS_BO_PHAN = T6.MS_BO_PHAN AND NGAY_MAX.MS_MAY = T6.MS_MAY AND NGAY_MAX.MS_TS_GSTT = T6.MS_TS_GSTT AND NGAY_MAX.MS_TT = T6.MS_TT
WHERE (T1.MS_MAY = @MsMay or  '-1' = @MsMay) AND (T1.MS_TS_GSTT = @MsThongSo or  '-1' = @MsThongSo) --AND T1.GIA_TRI_DO <> 0 OR T1.GIA_TRI_DO IS NULL
AND (CASE T6.MS_DV_TG WHEN 1 THEN DATEADD(DAY, CHU_KY_DO, NGAY_MAX.NGAY_KT) 
			WHEN 2 THEN DATEADD(WEEK, T6.CHU_KY_DO, NGAY_MAX.NGAY_KT) WHEN 3 THEN DATEADD(MONTH, CHU_KY_DO,NGAY_MAX.NGAY_KT) 
			ELSE DATEADD(YEAR, T6.CHU_KY_DO, NGAY_MAX.NGAY_KT) END <=@Ngay)
ORDER BY T1.MS_MAY,T1.MS_BO_PHAN,T1.MS_TS_GSTT
DROP TABLE #BTGT
END