
ALTER procedure [dbo].[GetNhaXuongDiChuyen] 
	@MS_N_XUONG NVARCHAR(50) = 'VF01.02.03',
	@UserName NVARCHAR(50) = 'admin',
	@NNgu INT = 0
AS
SELECT DISTINCT MS_MAY,TEN_MAY, Ten_N_XUONG INTO #MAY FROM dbo.MGetMayUserNgay(GETDATE(), @UserName, @MS_N_XUONG, - 1, - 1, '-1', '-1', '-1', @NNgu) T1

SELECT        TMP.MS_MAY, T1.TEN_MAY,T1.Ten_N_XUONG,  TMP.NGAY_NHAP, TMP.MS_N_XUONG,TMP.GC_NX
FROM            (SELECT        T1.MS_MAY, MAX(T1.NGAY_NHAP) AS NGAY_NHAP, T1.MS_N_XUONG,T1.GC_NX
FROM            dbo.MAY_NHA_XUONG AS T1 INNER JOIN
                         dbo.MAY_NHA_XUONG_NGAY_MAX AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_N_XUONG = T2.MS_N_XUONG
GROUP BY T1.MS_MAY, T1.MS_N_XUONG,T1.GC_NX) AS TMP INNER JOIN
                         #MAY AS T1 ON TMP.MS_MAY = T1.MS_MAY
