
ALTER procedure [dbo].[H_INSERT_MAY_HE_THONGs] 
	@MS_MAY NVARCHAR(30),
	@NGAY_NHAP DATETIME,
	@MS_HE_THONG INT,
	@GHI_CHU NVARCHAR(max)
AS
INSERT INTO  dbo.MAY_HE_THONG
(MS_MAY, NGAY_NHAP, MS_HE_THONG,GC_HT)
VALUES
(@MS_MAY, @NGAY_NHAP, @MS_HE_THONG,@GHI_CHU)
