
ALTER procedure [dbo].[H_INSERT_MAY_BO_PHAN_CHIU_PHI] 
	@MS_MAY NVARCHAR(30),
	@NGAY_NHAP  DATETIME,	
	@MS_BP_CHIU_PHI INT,
	@GHI_CHU NVARCHAR(max)
AS
INSERT INTO dbo.MAY_BO_PHAN_CHIU_PHI
( MS_MAY, NGAY_NHAP, MS_BP_CHIU_PHI,GC_BPCP)
VALUES( @MS_MAY, @NGAY_NHAP, @MS_BP_CHIU_PHI,@GHI_CHU)
