
ALTER PROC [dbo].[getDSThongSoGSDenHan]
	@MsNX NVARCHAR(100) = '-1',
	@MSHThong INT = 61,
	@MsLoaiMay NVARCHAR(100) = '-1',
	@MsMay NVARCHAR(100) = '-1',
	@MsLoaiCV INT = -1,
	@UserName NVARCHAR(50) = 'ADMIN',
    @Dat BIT = 0,
	@DenNgay DATETIME = '12/30/2020',
	@BT NVARCHAR(100) = 'GIA_TRI_TMPADMIN'
AS
    BEGIN

CREATE TABLE #BTGT 
(
	[CHON] [BIT] NULL,
	[TEN_GIA_TRI] [NVARCHAR](255) NOT NULL,
	[DAT] [BIT] NULL,
	[GHI_CHU] [NVARCHAR](255) NULL,
	[STT] [INT] NOT NULL,
	[MS_MAY] [NVARCHAR](30) NOT NULL,
	[MS_TS_GSTT] [NVARCHAR](10) NOT NULL,
	[MS_BO_PHAN] [NVARCHAR](50) NOT NULL,
	[MS_TT] [INT] NOT NULL,
	THOI_GIAN FLOAT,
	TG_TT FLOAT
)
DECLARE @sSql	NVARCHAR(MAX)
SELECT DISTINCT MS_MAY,TEN_MAY,MS_N_XUONG,MS_HE_THONG,MS_LOAI_MAY,Ten_N_XUONG INTO #MAY FROM dbo.MGetMayUserNgay(@DenNgay,@UserName,@MsNX,@MSHThong,-1,@MsLoaiMay,'-1', @MsMay,0)
----
SELECT DISTINCT 
T2.MS_MAY, T6.MS_N_XUONG, T6.MS_LOAI_MAY, T5.MS_BO_PHAN, T2.MS_TS_GSTT, 
                          T12.DAT, T4.MS_DV_TG, T4.CHU_KY_DO, T1.NGAY_KT,T2.STT AS STT_GT
INTO  #MAY_TSGSTT_TMP
FROM            dbo.GIAM_SAT_TINH_TRANG AS T1 INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS AS T2 ON T1.STT = T2.STT INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS_DT AS T3 ON T2.STT = T3.STT AND T2.MS_MAY = T3.MS_MAY AND T2.MS_TS_GSTT = T3.MS_TS_GSTT AND T2.MS_BO_PHAN = T3.MS_BO_PHAN INNER JOIN
                         dbo.CAU_TRUC_THIET_BI_TS_GSTT AS T4 ON T2.MS_MAY = T4.MS_MAY AND T2.MS_BO_PHAN = T4.MS_BO_PHAN AND T2.MS_TS_GSTT = T4.MS_TS_GSTT INNER JOIN
                         dbo.CAU_TRUC_THIET_BI AS T5 ON T4.MS_MAY = T5.MS_MAY AND T4.MS_BO_PHAN = T5.MS_BO_PHAN INNER JOIN
                         #MAY AS T6 ON T5.MS_MAY = T6.MS_MAY INNER JOIN 	
                         dbo.THONG_SO_GSTT AS T11 ON T4.MS_TS_GSTT = T11.MS_TS_GSTT INNER JOIN
                         dbo.GIA_TRI_TS_GSTT AS T12 ON T11.MS_TS_GSTT = T12.MS_TS_GSTT AND T3.STT_GT = T12.STT 
-------
SELECT    DISTINCT    TMP1.MS_MAY, TMP1.MS_N_XUONG, TMP1.MS_LOAI_MAY, TMP1.MS_BO_PHAN, 
                          TMP1.MS_TS_GSTT,  TMP1.NGAY_KT, GIA_TRI_TS_GSTT_1.TEN_GIA_TRI, GIA_TRI_TS_GSTT_1.DAT, CASE MS_DV_TG WHEN 1 THEN DATEADD(DAY,
                          CHU_KY_DO, TMP1.NGAY_KT) WHEN 2 THEN DATEADD(WEEK, CHU_KY_DO, TMP1.NGAY_KT) WHEN 3 THEN DATEADD(MONTH, CHU_KY_DO, TMP1.NGAY_KT) ELSE DATEADD(YEAR, CHU_KY_DO, 
                         TMP1.NGAY_KT) END AS NGAY,STT_GT
INTO #DU_LIEU_HANG_MUC_DEN_HAN_GSTT 
FROM            (SELECT  DISTINCT      MS_MAY,  MS_N_XUONG,  MS_LOAI_MAY, MS_BO_PHAN, MS_TS_GSTT, 
                                                    MAX(NGAY_KT) AS NGAY_KT
                          FROM           #MAY_TSGSTT_TMP AS TMP
                          GROUP BY MS_MAY,  MS_N_XUONG, MS_LOAI_MAY, MS_BO_PHAN, MS_TS_GSTT) 
                         AS TMP1 INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS AS GIAM_SAT_TINH_TRANG_TS_1 ON TMP1.MS_MAY = GIAM_SAT_TINH_TRANG_TS_1.MS_MAY AND TMP1.MS_BO_PHAN = GIAM_SAT_TINH_TRANG_TS_1.MS_BO_PHAN AND 
                         TMP1.MS_TS_GSTT = GIAM_SAT_TINH_TRANG_TS_1.MS_TS_GSTT INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG AS GIAM_SAT_TINH_TRANG_1 ON GIAM_SAT_TINH_TRANG_TS_1.STT = GIAM_SAT_TINH_TRANG_1.STT AND TMP1.NGAY_KT = GIAM_SAT_TINH_TRANG_1.NGAY_KT INNER JOIN
                         dbo.CAU_TRUC_THIET_BI_TS_GSTT AS CAU_TRUC_THIET_BI_TS_GSTT_1 ON TMP1.MS_MAY = CAU_TRUC_THIET_BI_TS_GSTT_1.MS_MAY AND 
                         TMP1.MS_BO_PHAN = CAU_TRUC_THIET_BI_TS_GSTT_1.MS_BO_PHAN AND TMP1.MS_TS_GSTT = CAU_TRUC_THIET_BI_TS_GSTT_1.MS_TS_GSTT INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS_DT AS GIAM_SAT_TINH_TRANG_TS_DT_1 ON GIAM_SAT_TINH_TRANG_TS_1.STT = GIAM_SAT_TINH_TRANG_TS_DT_1.STT AND 
                         GIAM_SAT_TINH_TRANG_TS_1.MS_MAY = GIAM_SAT_TINH_TRANG_TS_DT_1.MS_MAY AND GIAM_SAT_TINH_TRANG_TS_1.MS_TS_GSTT = GIAM_SAT_TINH_TRANG_TS_DT_1.MS_TS_GSTT AND
                         GIAM_SAT_TINH_TRANG_TS_1.MS_BO_PHAN = GIAM_SAT_TINH_TRANG_TS_DT_1.MS_BO_PHAN INNER JOIN
                         dbo.GIA_TRI_TS_GSTT AS GIA_TRI_TS_GSTT_1 ON GIAM_SAT_TINH_TRANG_TS_DT_1.MS_TS_GSTT = GIA_TRI_TS_GSTT_1.MS_TS_GSTT AND 
                         GIAM_SAT_TINH_TRANG_TS_DT_1.STT_GT = GIA_TRI_TS_GSTT_1.STT
WHERE        (CASE MS_DV_TG WHEN 1 THEN DATEADD(DAY, CHU_KY_DO, TMP1.NGAY_KT) WHEN 2 THEN DATEADD(WEEK, CHU_KY_DO, TMP1.NGAY_KT) WHEN 3 THEN DATEADD(MONTH, CHU_KY_DO, 
                         TMP1.NGAY_KT) ELSE DATEADD(YEAR, CHU_KY_DO, TMP1.NGAY_KT) END <= @DenNgay)
-- SELECT * INTO aab FROM #DU_LIEU_HANG_MUC_DEN_HAN_GSTT
 --DANH SACH GIA TRI THAM SO DEN HAN GIAM SAT
SELECT   DISTINCT     TOP (100) PERCENT T1.MS_MAY, T1.MS_N_XUONG, T1.MS_LOAI_MAY, T1.MS_BO_PHAN, T1.MS_TS_GSTT, T1.NGAY_KT, T2.TEN_TS_GSTT, T3.TEN_GIA_TRI, T3.STT,T3.DAT,T2.THOI_GIAN
INTO #T1
FROM            #DU_LIEU_HANG_MUC_DEN_HAN_GSTT AS T1 INNER JOIN
                         dbo.THONG_SO_GSTT AS T2 ON T1.MS_TS_GSTT = T2.MS_TS_GSTT INNER JOIN
                         dbo.GIA_TRI_TS_GSTT AS T3 ON T3.MS_TS_GSTT = T2.MS_TS_GSTT

-- INSERT VÀO BẢNG TẠM VS DANH SÁCH LẦN GIÁM SÁT KHÔNG TỒN TẠI TRONG BẢNG TẠM
SET @sSql =
'INSERT INTO '+@BT+'(CHON,TEN_GIA_TRI,DAT, GHI_CHU,STT,MS_MAY,MS_TS_GSTT,MS_BO_PHAN,MS_TT , THOI_GIAN,TG_TT)
SELECT DISTINCT 0 AS CHON ,T1.TEN_GIA_TRI,T1.DAT,NULL AS GHI_CHU,T1.STT,T1.MS_MAY,T1.MS_TS_GSTT,T1.MS_BO_PHAN,1 AS MS_TT , T1.THOI_GIAN, NULL AS TG_TT  
FROM  #T1 T1
WHERE NOT EXISTS(SELECT DISTINCT * FROM '+@BT+' T2 WHERE T1.MS_TS_GSTT = T2.MS_TS_GSTT AND T1.STT = T2.STT AND T1.MS_MAY = T2.MS_MAY AND T1.MS_BO_PHAN = T2.MS_BO_PHAN)'
EXEC (@sSql)
--UPDATE BẢNG TẠM VỚI NHỮNG DÒNG MẤY CHƯA CHỌN THÔNG SỐ GIÁM SÁT
SET @sSql ='UPDATE '+@BT+'  SET CHON = 1
FROM  '+@BT+' T1 
INNER JOIN #DU_LIEU_HANG_MUC_DEN_HAN_GSTT T3 ON T1.MS_TS_GSTT = T3.MS_TS_GSTT AND T1.MS_MAY = T3.MS_MAY AND T1.MS_BO_PHAN = T3.MS_BO_PHAN
WHERE NOT EXISTS(SELECT DISTINCT MS_MAY,MS_BO_PHAN,MS_TS_GSTT FROM '+@BT+' T2 WHERE CHON =1 AND T1.MS_TS_GSTT = T2.MS_TS_GSTT AND T1.MS_MAY = T2.MS_MAY AND T1.MS_BO_PHAN = T2.MS_BO_PHAN)
AND ISNULL(T1.DAT,0) = '+CONVERT(VARCHAR,@Dat)+''
EXEC (@sSql)
END

