IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'sp_ADDGIAMSATTRANG')
   exec('CREATE PROCEDURE sp_ADDGIAMSATTRANG AS BEGIN SET NOCOUNT ON; END')
GO


ALTER PROC [dbo].[sp_ADDGIAMSATTRANG] (
	@STT INT ='6103',
	@SO_PHIEU NVARCHAR(255) = 'CM-201811006091',
	@GIO_KT	DATETIME = '11/15/2018 12:00',
	@NGAY_KT DATETIME = '11/15/2018 12:00',
	@MS_CONG_NHAN NVARCHAR(9) = '170', 
    @NHAN_XET NVARCHAR(255) = '',
    @USERNAME NVARCHAR(255) = 'Admin',
    @HOAN_THANH INT = 0,
	@BT NVARCHAR(100) = 'GIA_TRI_TMPADMIN',
	@BTDL NVARCHAR(100) = 'GIA_TRI_TMPADMIN'
	 )
AS 
BEGIN
--TẠO THÙNG CHỨA BẢNG TẠM ĐỊNH TÍNH
CREATE TABLE #BTGT 
(
	[CHON] [BIT] NULL,
	[TEN_GIA_TRI] [NVARCHAR](255) NOT NULL,
	[DAT] [BIT] NULL,
	[GHI_CHU] [NVARCHAR](255) NULL,
	[STT] [INT] NOT NULL,
	[MS_MAY] [NVARCHAR](30) NOT NULL,
	[MS_TS_GSTT] [NVARCHAR](10) NOT NULL,
	[MS_BO_PHAN] [NVARCHAR](50) NOT NULL,
	[MS_TT] [INT] NOT NULL,
	[THOI_GIAN] FLOAT,
	[TG_TT] FLOAT
)
DECLARE @sSql	NVARCHAR(MAX)
SET @sSql	= 'INSERT INTO #BTGT ([CHON],[TEN_GIA_TRI],[DAT],[GHI_CHU],[STT],[MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[TG_TT]) SELECT [CHON],[TEN_GIA_TRI],[DAT],[GHI_CHU],[STT],[MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[TG_TT] FROM ' + @BT 
EXEC (@sSql)
SET @sSql	= 'DROP TABLE ' + @BT
EXEC (@sSql)

CREATE TABLE #BTGDL
(
	[MS_MAY] [NVARCHAR](30) NOT NULL,
	[MS_TS_GSTT] [NVARCHAR](10) NOT NULL,
	[MS_BO_PHAN] [NVARCHAR](50) NOT NULL,
	[MS_TT] [INT] NOT NULL,
	[THOI_GIAN] FLOAT,
	[TG_TT] FLOAT,
	[GIA_TRI_DO] FLOAT,
	--[TEN_GT] NVARCHAR(150),
	--[GIA_TRI_TREN] FLOAT,
	--[GIA_TRI_DUOI] FLOAT,
)
--TẠO THÙNG CHỨA BẢNG TẠM ĐỊNH LƯỢNG RỒI XÓA BẢNG TẠM ĐỊNH LƯỢNG CỦA HỆ THỐNG ĐI
SET @sSql	= 'INSERT INTO #BTGDL ([MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[TG_TT],[GIA_TRI_DO]) SELECT [MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[TG_TT],[GIA_TRI_DO] FROM ' + @BTDL
EXEC (@sSql)
SET @sSql	= 'DROP TABLE ' + @BTDL
EXEC (@sSql)

IF EXISTS(SELECT *FROM dbo.GIAM_SAT_TINH_TRANG WHERE SO_PHIEU = @SO_PHIEU)
BEGIN
	SELECT @SO_PHIEU = dbo.AUTO_CREATE_SO_PHIEU_GSTT(@NGAY_KT)
END
IF	@STT = -1
BEGIN
INSERT INTO dbo.GIAM_SAT_TINH_TRANG
        ( SO_PHIEU ,NGAY_KH ,NGAY_KT,GIO_KT ,DEN_GIO ,MS_CONG_NHAN ,NHAN_XET ,USERNAME ,HOAN_THANH ,NGAY_KT_GOC
        )
VALUES  ( @SO_PHIEU, 
          CONVERT(DATETIME,	 CONVERT(NVARCHAR(10),@NGAY_KT,101)) , -- NGAY_KH - datetime
          CONVERT(DATETIME,CONVERT(NVARCHAR(10),@NGAY_KT,101)) , -- NGAY_KT - datetime
          CONVERT(DATETIME,CONVERT(NVARCHAR(8),@GIO_KT,108)), -- GIO_KT - datetime
          CONVERT(DATETIME,CONVERT(NVARCHAR(8),@GIO_KT,108)), -- DEN_GIO - datetime
          @MS_CONG_NHAN , @NHAN_XET , @USERNAME , @HOAN_THANH, 
		  CONVERT(DATETIME,	 CONVERT(NVARCHAR(10),@NGAY_KT,101))   -- NGAY_KT_GOC - date
        )
	SELECT @STT= SCOPE_IDENTITY()
	END
	ELSE
	BEGIN
		UPDATE dbo.GIAM_SAT_TINH_TRANG
			SET GIO_KT =CONVERT(NVARCHAR(46),@GIO_KT,108) ,
			NGAY_KT =CONVERT(NVARCHAR(46),@NGAY_KT,101),
			MS_CONG_NHAN=@MS_CONG_NHAN,
			NHAN_XET=@NHAN_XET,
			HOAN_THANH = @HOAN_THANH
			WHERE STT =@STT
	END

	SELECT * INTO #GSTTHINH FROM dbo.GIAM_SAT_TINH_TRANG_HINH WHERE	STT =@STT

	DELETE dbo.GIAM_SAT_TINH_TRANG_HINH WHERE STT =@STT
	DELETE GIAM_SAT_TINH_TRANG_TS_DT WHERE STT = @STT		
	DELETE GIAM_SAT_TINH_TRANG_TS WHERE STT = @STT

	--INSERT VÀO GIÁM SÁT TÌNH TRẠNG TS TỪ BẢNG TẠM ĐỊNH TÍNH
	INSERT INTO dbo.GIAM_SAT_TINH_TRANG_TS( STT ,MS_MAY ,MS_TS_GSTT ,MS_BO_PHAN ,MS_TT,GHI_CHU ,THOI_GIAN ,TG_TT)
		SELECT DISTINCT @STT, MS_MAY ,MS_TS_GSTT ,MS_BO_PHAN ,MS_TT ,NULL ,THOI_GIAN ,TG_TT  FROM #BTGT WHERE CHON =1

		--ISERT VÀO GIÁM SÁT TÌNH TRẠNG BẢNG TẠM TỪ ĐỊNH LƯỢNG
			INSERT INTO dbo.GIAM_SAT_TINH_TRANG_TS( STT ,MS_MAY ,MS_TS_GSTT ,MS_BO_PHAN ,MS_TT,GHI_CHU ,THOI_GIAN ,TG_TT,GIA_TRI_DO)
		SELECT DISTINCT @STT, MS_MAY ,MS_TS_GSTT ,MS_BO_PHAN ,MS_TT ,NULL ,THOI_GIAN ,TG_TT,GIA_TRI_DO  FROM #BTGDL WHERE GIA_TRI_DO IS NOT NULL


	
	INSERT INTO dbo.GIAM_SAT_TINH_TRANG_TS_DT( STT ,MS_MAY ,MS_TS_GSTT ,MS_BO_PHAN ,MS_TT ,STT_GT,GHI_CHU)
		        SELECT DISTINCT  @STT, MS_MAY ,MS_TS_GSTT ,MS_BO_PHAN ,MS_TT ,STT ,GHI_CHU  FROM #BTGT WHERE CHON =1

	INSERT INTO dbo.GIAM_SAT_TINH_TRANG_HINH
	        (STT ,MS_MAY ,MS_TS_GSTT ,MS_BO_PHAN ,MS_TT ,DUONG_DAN ,GHI_CHU)
	SELECT STT ,MS_MAY ,MS_TS_GSTT ,MS_BO_PHAN ,MS_TT ,DUONG_DAN ,GHI_CHU FROM #GSTTHINH

	SELECT @STT AS STT

END


--SELECT * FROM GIAM_SAT_TINH_TRANG_TS_DT WHERE STT = 6109
--SELECT * FROM GIA_TRI_TMPADMIN WHERE CHON =1