
--EXEC GetMayTheoLMNXHT 'ADMINISTRATOR','-1','-1','-1',-1,0, 1
ALTER proc [dbo].[GetMayTheoLMNXHT]
	@UserName nvarchar(50),
	@MS_LOAI_MAY nvarchar(20),
	@MS_NHOM_MAY nvarchar(20),
	@MS_N_XUONG NVARCHAR(50),
	@MS_HE_THONG AS INT,
	@AllCot bit,
	@CoAll bit
AS
DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()

SELECT * INTO #MAY_USER FROM [dbo].[MGetMayUserNgay](@NgayHT,@UserName,@MS_N_XUONG,@MS_HE_THONG,-1,@MS_LOAI_MAY,@MS_NHOM_MAY,'-1',0)

if @AllCot = 0 
	if @CoAll = 1
		SELECT DISTINCT  T1.MS_MAY, T1.TEN_MAY 
		FROM  #MAY_USER AS T1 LEFT JOIN
				dbo.HANG_SAN_XUAT AS T9 ON T1.MS_HSX = T9.MS_HSX 
		UNION SELECT '-1', ' < ALL > ' 
		ORDER BY T1.TEN_MAY	
	else	
		SELECT DISTINCT  T1.MS_MAY, T1.TEN_MAY 
		FROM  #MAY_USER AS T1 LEFT JOIN
				dbo.HANG_SAN_XUAT AS T9 ON T1.MS_HSX = T9.MS_HSX 
		ORDER BY T1.MS_MAY	
ELSE
	SELECT DISTINCT T1.MS_MAY, T1.TEN_MAY, T1.MODEL, T1.TEN_NHOM_MAY, T1.TEN_LOAI_MAY
	FROM  #MAY_USER AS T1 LEFT JOIN
			dbo.HANG_SAN_XUAT AS T9 ON T1.MS_HSX = T9.MS_HSX 
	ORDER BY T1.TEN_MAY	




