
--SELECT * FROM dbo.CAU_TRUC_THIET_BI_TS_GSTT WHERE MS_MAY = '163'
 --  SELECT *  FROM [dbo].[MGetHieuChuanKeGSTT]('01/01/2020','01/31/2020','admin','-1',-1,-1,'-1','-1',-1,0,0) ORDER BY MS_MAY,MS_BO_PHAN,MS_TS_GSTT,MS_TT,MS_DV_TG,NGAY_KE

 --Chú ý loại = 0 cung như loai = 1 không lấy 1 ngày dc phài lam câu xóa, lấy MIN ngay rùi xóa không làm câu select min ngay
ALTER FUNCTION [dbo].[MGetHieuChuanKeGSTT]
(
	 @NgayBD DATETIME,
	 @NgayKT DATETIME,
	 @UserName NVARCHAR(255),
	 @MsNXuong nvarchar(50),
	 @MsHeThong int,
	 @MsBPCP int,
	 @LoaiMay NVARCHAR (20),
	 @NhomMay NVARCHAR (20), 
	 @MsLCViec INT, 
	 @MLoai BIT,
	 @NNgu INT
)
--@MLoai = 1 Lấy all ngày kế trong giai đoạn
--@MLoai = 0 Lấy 1 ngày kế trong giai đoạn
returns  @MAY_NGAY_CUOI TABLE (
	 [MS_MAY] [nvarchar](30) NOT NULL,
	 [MS_BO_PHAN] NVARCHAR(50) NOT NULL, 
	 [MS_TS_GSTT] NVARCHAR(10) NOT NULL,
	 [MS_TT] INT NULL,
	 [NGAY_CUOI] [datetime] NULL,
	 [CHU_KY_DO] [int] NULL,
	 [MS_DV_TG] [int] NULL, 
	 [NGAY_KE] [datetime] NULL,
	 [TEN_MAY] NVARCHAR(1000)  NULL,
	 [TEN_BO_PHAN] NVARCHAR(1000)  NULL,
	 TEN_TS_GSTT NVARCHAR(1000)  NULL,
	 TEN_DV_TG NVARCHAR(1000)  NULL,
	 STT_CUOI INT,
	 [M_CHA] NVARCHAR(50) NOT NULL
 )
as
begin 

--Lấy dữ liệu theo nha xuong, he thong và tính ngày bảo trì định kỳ cuoi
DECLARE @MAY_USER TABLE (MS_MAY NVARCHAR(30),TEN_MAY NVARCHAR(1000))
INSERT INTO @MAY_USER
SELECT DISTINCT MS_MAY,TEN_MAY FROM [dbo].[MGetMayUserNgay](@NgayKT,@UserName,@MsNXuong,@MsHeThong,@MsBPCP,@LoaiMay,@NhomMay,'-1',0)


DECLARE @HC_USER TABLE (MS_TS_GSTT INT,TEN_TS_GSTT NVARCHAR(1000))
INSERT INTO @HC_USER(MS_TS_GSTT, TEN_TS_GSTT)
SELECT DISTINCT T1.MS_TS_GSTT,CASE 0 WHEN 0 THEN T1.TEN_TS_GSTT  WHEN 1 THEN ISNULL(NULLIF(T1.TEN_TS_GSTT_ANH,''),T1.TEN_TS_GSTT ) ELSE ISNULL(NULLIF(T1.TEN_TS_GSTT_HOA,''),T1.TEN_TS_GSTT ) END  AS TEN_TS_GSTT  FROM dbo.THONG_SO_GSTT T1 INNER JOIN dbo.NHOM_LOAI_CONG_VIEC T2 ON T1.MS_LOAI_CV = T2.MS_LOAI_CV INNER JOIN dbo.USERS T3 ON T3.GROUP_ID = T2.GROUP_ID
WHERE (ISNULL(T1.MS_LOAI_CV,-99) = @MsLCViec OR @MsLCViec = -1 ) AND T3.USERNAME = @UserName
UNION
SELECT DISTINCT T1.MS_TS_GSTT,CASE 0 WHEN 0 THEN T1.TEN_TS_GSTT  WHEN 1 THEN ISNULL(NULLIF(T1.TEN_TS_GSTT_ANH,''),T1.TEN_TS_GSTT ) ELSE ISNULL(NULLIF(T1.TEN_TS_GSTT_HOA,''),T1.TEN_TS_GSTT ) END  AS TEN_TS_GSTT  FROM dbo.THONG_SO_GSTT T1 WHERE ISNULL(T1.MS_LOAI_CV,-99) = -99


INSERT INTO @MAY_NGAY_CUOI
SELECT DISTINCT X.MS_MAY ,X.MS_BO_PHAN,X.MS_TS_GSTT,MS_TT,NGAY_CUOI, CHU_KY_DO, X.MS_DV_TG, 
CONVERT(DATE,
 CASE X.MS_DV_TG WHEN 1 THEN CASE WHEN NGAY_CUOI >= @NgayBD THEN DATEADD (DAY,CHU_KY_DO,NGAY_CUOI) 
      ELSE DATEADD (DAY,CASE ISNULL(SO_NGAY_CK,0) WHEN 0 THEN CHU_KY_DO ELSE ISNULL(SO_NGAY_CK,0) END,NGAY_CUOI) END 
     WHEN 2 THEN CASE WHEN NGAY_CUOI >= @NgayBD THEN DATEADD (WEEK,CHU_KY_DO,NGAY_CUOI)
      ELSE DATEADD (WEEK,CASE ISNULL(SO_NGAY_CK,0) WHEN 0 THEN CHU_KY_DO ELSE ISNULL(SO_NGAY_CK,0) END,NGAY_CUOI) END        
     WHEN 3 THEN CASE WHEN NGAY_CUOI >= @NgayBD THEN DATEADD (MONTH,CHU_KY_DO,NGAY_CUOI)
       ELSE DATEADD (MONTH,  CASE ISNULL(SO_NGAY_CK,0) WHEN 0 THEN CHU_KY_DO ELSE ISNULL(SO_NGAY_CK,0) END  ,NGAY_CUOI) END 
     WHEN 4 THEN CASE WHEN NGAY_CUOI >= @NgayBD THEN DATEADD (YEAR,CHU_KY_DO,NGAY_CUOI)
       ELSE DATEADD (YEAR,CASE ISNULL(SO_NGAY_CK,0) WHEN 0 THEN CHU_KY_DO ELSE ISNULL(SO_NGAY_CK,0) END,NGAY_CUOI) END END) AS 
       
       NGAY_KE,
	   --NULL,
	   X.TEN_MAY,  
		CASE @NNgu WHEN 0 THEN T4.TEN_BO_PHAN WHEN 1 THEN ISNULL(NULLIF(T4.TEN_BO_PHAN_ANH,''),T4.TEN_BO_PHAN) ELSE ISNULL(NULLIF(T4.TEN_BO_PHAN_HOA,''),T4.TEN_BO_PHAN) END  AS       TEN_BO_PHAN, TEN_TS_GSTT ,
		CASE @NNgu WHEN 0 THEN T5.TEN_DV_TG WHEN 1 THEN ISNULL(NULLIF(T5.TEN_DV_TG_ANH,''),T5.TEN_DV_TG) ELSE ISNULL(NULLIF(T5.TEN_DV_TG_HOA,''),T5.TEN_DV_TG) END  AS TEN_DV_TG,
		X.STT_CUOI,T4.MS_BO_PHAN_CHA AS	M_CHA
FROM 
(
 SELECT MS_MAY,TEN_MAY ,MS_BO_PHAN,SO_NGAY.MS_TS_GSTT,SO_NGAY.MS_TT,SO_NGAY.NGAY_CUOI , SO_NGAY.CHU_KY_DO, MS_DV_TG, SO_NGAY, 
 ISNULL( CASE MS_DV_TG WHEN 1 THEN CONVERT(int,SO_NGAY / CHU_KY_DO ) * CHU_KY_DO 
      WHEN 2 THEN CONVERT(int,(SO_NGAY / 7 ) / CHU_KY_DO ) * CHU_KY_DO
      WHEN 3 THEN CONVERT(int,dbo.MGetSoThang(NGAY_CUOI,@NgayBD) / CHU_KY_DO ) * CHU_KY_DO     
      WHEN 4 THEN CONVERT(int,(SO_NGAY / 12 ) / CHU_KY_DO ) * CHU_KY_DO END,0) AS SO_NGAY_CK,SO_NGAY.STT_CUOI
 FROM 
  (
   SELECT     T1.MS_MAY,AA.TEN_MAY, T1.MS_BO_PHAN, T1.MS_TS_GSTT,T1.MS_TT,T1.MS_DV_TG, T1.NGAY_CUOI , 
     T1.CHU_KY_DO,
     CASE MS_DV_TG WHEN 1 THEN DATEDIFF (DAY, T1.NGAY_CUOI,@NgayBD) 
           WHEN 2 THEN DATEDIFF (DAY,T1.NGAY_CUOI,@NgayBD)
           WHEN 3 THEN dbo.MGetSoThang(T1.NGAY_CUOI,@NgayBD)
           ELSE  dbo.MGetSoThang(T1.NGAY_CUOI,@NgayBD) END 

     AS SO_NGAY   ,T1.STT_CUOI
    FROM        (
    SELECT T2.MS_MAY, T2.MS_BO_PHAN, T2.MS_TS_GSTT, T2.MS_TT, MAX(CONVERT(DATETIME, CONVERT(NVARCHAR(10), T1.NGAY_KT, 101) + ' '+ CONVERT(NVARCHAR(8), T1.GIO_KT, 108)) ) AS NGAY_CUOI, T3.MS_DV_TG, T3.CHU_KY_DO,MAX(T1.STT) AS STT_CUOI
FROM            dbo.GIAM_SAT_TINH_TRANG AS T1 INNER JOIN
                         dbo.GIAM_SAT_TINH_TRANG_TS AS T2 ON T1.STT = T2.STT INNER JOIN
                         dbo.CAU_TRUC_THIET_BI_TS_GSTT AS T3 ON T2.MS_MAY = T3.MS_MAY AND T2.MS_BO_PHAN = T3.MS_BO_PHAN AND T2.MS_TS_GSTT = T3.MS_TS_GSTT AND T2.MS_TT = T3.MS_TT INNER JOIN @MAY_USER AA ON T3.MS_MAY = AA.MS_MAY
WHERE        (T3.ACTIVE = 1)  
GROUP BY T2.MS_MAY, T2.MS_TS_GSTT, T2.MS_BO_PHAN, T2.MS_TT, T3.MS_DV_TG, T3.CHU_KY_DO

UNION	
  SELECT  
  A.MS_MAY, MS_BO_PHAN, MS_TS_GSTT, MS_TT, ISNULL(A.NGAY_GS_CUOI,'01/01/2000') AS NGAY_CUOI, MS_DV_TG, CHU_KY_DO,1 AS STT_CUOI
  
  
  FROM dbo.CAU_TRUC_THIET_BI_TS_GSTT A   INNER JOIN @MAY_USER AA ON A.MS_MAY = AA.MS_MAY WHERE NOT EXISTS	(

     SELECT * FROM dbo.GIAM_SAT_TINH_TRANG_TS T2 WHERE
T2.MS_MAY = A.MS_MAY AND T2.MS_BO_PHAN = A.MS_BO_PHAN AND  T2.MS_TS_GSTT = A.MS_TS_GSTT AND  T2.MS_TT = A.MS_TT)
  



       ) AS T1  INNER JOIN @MAY_USER AA ON T1.MS_MAY = AA.MS_MAY
  ) AS SO_NGAY WHERE CHU_KY_DO <> 0
) X 

INNER JOIN @MAY_USER T1 ON X.MS_MAY = T1.MS_MAY  
INNER JOIN @HC_USER T2 ON T2.MS_TS_GSTT = X.MS_TS_GSTT 
INNER JOIN dbo.CAU_TRUC_THIET_BI T4 ON T4.MS_BO_PHAN = X.MS_BO_PHAN AND T4.MS_MAY = X.MS_MAY
INNER JOIN dbo.DON_VI_THOI_GIAN T5 ON X.MS_DV_TG = T5.MS_DV_TG


  DECLARE @MS_MAY NVARCHAR(30),@TEN_MAY NVARCHAR(1000),@TEN_BO_PHAN  NVARCHAR(1000), @TEN_TS_GSTT NVARCHAR(1000), @MS_BO_PHAN NVARCHAR(50), @MS_TS_GSTT NVARCHAR(10),@MS_TT int,@NGAY_CUOI DATETIME,@CHU_KY_DO INT ,@MS_DV_TG INT,@NGAY_KE DATETIME,@TEN_DV_TG NVARCHAR(1000),@STT_CUOI int, @M_CHA NVARCHAR(50)

  DECLARE BTDK_CURSOR CURSOR FOR
   SELECT DISTINCT MS_MAY,TEN_MAY, TEN_BO_PHAN,TEN_TS_GSTT,MS_BO_PHAN,MS_TS_GSTT,MS_TT,NGAY_CUOI,CHU_KY_DO ,MS_DV_TG,NGAY_KE,TEN_DV_TG,STT_CUOI,M_CHA FROM @MAY_NGAY_CUOI  
    WHERE MS_DV_TG IN (1,2,3,4) AND CHU_KY_DO IS NOT NULL AND CHU_KY_DO > 0
  OPEN BTDK_CURSOR
  FETCH NEXT FROM BTDK_CURSOR 
  INTO @MS_MAY,@TEN_MAY,@TEN_BO_PHAN,@TEN_TS_GSTT,@MS_BO_PHAN,@MS_TS_GSTT,@MS_TT,@NGAY_CUOI,@CHU_KY_DO ,@MS_DV_TG,@NGAY_KE,@TEN_DV_TG,@STT_CUOI,@M_CHA
  WHILE @@FETCH_STATUS = 0  
  BEGIN 
   SET @NGAY_KE = (SELECT CASE @MS_DV_TG
      WHEN 1 THEN  DATEADD(DAY,@CHU_KY_DO,@NGAY_KE)
      WHEN 2 THEN DATEADD(DAY,7 * @CHU_KY_DO ,@NGAY_KE)
      WHEN 3 THEN DATEADD(MONTH,@CHU_KY_DO,@NGAY_KE) 
      WHEN 4 THEN DATEADD(YEAR,@CHU_KY_DO,@NGAY_KE)         
      ELSE 
       DATEADD(YEAR,1,@NgayKT)            
      END )
   
   WHILE @NGAY_KE <= @NgayKT 
    BEGIN 
     INSERT INTO @MAY_NGAY_CUOI (MS_MAY,TEN_MAY,TEN_BO_PHAN,TEN_TS_GSTT,MS_BO_PHAN,MS_TS_GSTT,MS_TT,NGAY_CUOI,CHU_KY_DO ,MS_DV_TG,NGAY_KE,TEN_DV_TG,STT_CUOI,M_CHA) 
     VALUES (@MS_MAY,@TEN_MAY,@TEN_BO_PHAN,@TEN_TS_GSTT,@MS_BO_PHAN,@MS_TS_GSTT,@MS_TT,@NGAY_CUOI,@CHU_KY_DO ,@MS_DV_TG,@NGAY_KE,@TEN_DV_TG,@STT_CUOI,@M_CHA) 

     SET @NGAY_KE = (SELECT CASE @MS_DV_TG
      WHEN 1 THEN  DATEADD(DAY,@CHU_KY_DO,@NGAY_KE)
      WHEN 2 THEN DATEADD(DAY,7 * @CHU_KY_DO ,@NGAY_KE)
      WHEN 3 THEN DATEADD(MONTH,@CHU_KY_DO,@NGAY_KE) 
      WHEN 4 THEN DATEADD(YEAR,@CHU_KY_DO,@NGAY_KE)            
      ELSE 
       DATEADD(YEAR,1,@NgayKT)            
      END )
       
     END 
   FETCH NEXT FROM BTDK_CURSOR 
   INTO @MS_MAY,@TEN_MAY,@TEN_BO_PHAN,@TEN_TS_GSTT,@MS_BO_PHAN,@MS_TS_GSTT,@MS_TT,@NGAY_CUOI,@CHU_KY_DO ,@MS_DV_TG,@NGAY_KE,@TEN_DV_TG,@STT_CUOI,@M_CHA
  END 
  CLOSE BTDK_CURSOR 
  DEALLOCATE  BTDK_CURSOR 

 
 DELETE @MAY_NGAY_CUOI WHERE CONVERT(DATE,NGAY_KE) NOT BETWEEN @NgayBD AND @NgayKT
 return 
END
