

ALTER PROC [dbo].[S_PHIEU_BAO_TRI_NEW]
	@USERNAME NVARCHAR(50) = 'admin',
	@TUNGAY NVARCHAR(10) = '07/01/2019',
	@DENNGAY NVARCHAR(10) = '07/30/2019',
	@NGHIEMTHU INT = 2,
	@LOAY_MAY NVARCHAR(200) = '-1',
    @NHOM_MAY NVARCHAR(100) = '-1',
	@MS_MAY NVARCHAR(100) = '-1',
	@MS_NHA_XUONG NVARCHAR(50) = '-1',
	@MsHThong as int = -1,
	@LoaiBT as int = '-1',
	@NGUOI_LAP NVARCHAR(100)  = '-1',
	@NGUOI_GS NVARCHAR(100) = '-1',
	@NNHAN as int = '-1',
	@image IMAGE = null,
	@NNgu as INT = 1
AS
--@NGHIEMTHU = 0 chua ngiem thu TINH_TRANG_PBT  <3
--@NGHIEMTHU = 1 hoan thanh TINH_TRANG_PBT = 3
--@NGHIEMTHU = 2 ngiem thu TINH_TRANG_PBT > 3 34


SELECT * INTO #MAY FROM dbo.MGetMayUserNgay(@DENNGAY, @USERNAME, @MS_NHA_XUONG, @MsHThong, -1, @LOAY_MAY, @NHOM_MAY,@MS_MAY, @NNgu )


			
SELECT A.*,B.MS_HE_THONG,B.MS_LOAI_MAY,B.MS_NHOM_MAY,B.Ten_N_XUONG,B.MS_N_XUONG,B.TEN_MAY INTO #PBT FROM dbo.PHIEU_BAO_TRI A INNER JOIN #MAY B ON A.MS_MAY = B.MS_MAY
WHERE  CONVERT(DATETIME, CONVERT(NVARCHAR(10),NGAY_BD_KH,101)) BETWEEN CONVERT(DATETIME,CONVERT(NVARCHAR(10),@TUNGAY ,101)) AND CONVERT(DATETIME,@DENNGAY ,101)
				AND  ( ((@NGHIEMTHU = 0) AND TINH_TRANG_PBT < 3)  OR  ( (@NGHIEMTHU = 1) AND TINH_TRANG_PBT = 3 ) 
				OR  ( (@NGHIEMTHU = 2) AND TINH_TRANG_PBT > 3 ) )
				AND (@LoaiBT = '-1' OR MS_LOAI_BT = @LoaiBT)
				AND (NGUOI_LAP = @NGUOI_LAP OR @NGUOI_LAP = '-1')
				AND (NGUOI_GIAM_SAT = @NGUOI_GS OR @NGUOI_GS = '-1')
				AND (MS_NGUYEN_NHAN = @NNHAN OR @NNHAN = -1)	
								

SELECT MS_PHIEU_BAO_TRI,CONVERT(Image,@image) AS TAI_LIEU INTO #PHIEU_BAO_TRI_HINH FROM 
(SELECT DISTINCT MS_PHIEU_BAO_TRI FROM PHIEU_BAO_TRI_HINH T1) T2
				
SELECT T9.TAI_LIEU,
	MS_HE_THONG AS MS_HT, MS_LOAI_MAY, MS_NHOM_MAY, T2.MS_PHIEU_BAO_TRI, T2.SO_PHIEU_BAO_TRI, T2.MS_MAY,
	TEN_MAY, TINH_TRANG_PBT,
	CONVERT(NVARCHAR(500),CASE @NNgu WHEN 0 THEN T4.TEN_TINH_TRANG WHEN 1 THEN T4.TEN_TINH_TRANG_ANH ELSE T4.TEN_TINH_TRANG_HOA END) AS TEN_TINH_TRANG,
	CONVERT(NVARCHAR(500),CASE @NNgu WHEN 0 THEN T8.TEN_TIENG_VIET WHEN 1 THEN T8.TEN_TIENG_ANH ELSE TEN_TIENG_HOA END) AS TEN_TIENG_VIET,
	T2.MS_LOAI_BT, TEN_LOAI_BT, LY_DO_BT, NGAY_LAP, Ten_N_XUONG AS TEN_N_XUONG , 
	MS_N_XUONG, Convert(nvarchar(4000),dbo.GetMS_YEU_CAU(T2.MS_PHIEU_BAO_TRI)) AS MS_YEU_CAU , GIO_LAP, T2.MS_UU_TIEN, TEN_UU_TIEN, NGUOI_LAP, USERNAME_NGUOI_LAP, HO + ' ' + TEN AS HO_TEN, 
	NGUOI_GIAM_SAT, NGAY_BD_KH, NGAY_KT_KH, GIO_HONG, NGAY_HONG, T2.MS_NGUYEN_NHAN, DEN_GIO_HONG, DEN_NGAY_HONG,DHX ,		
(SELECT TOP 1 GHI_CHU  FROM PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET 
WHERE MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
ORDER BY THOI_GIAN DESC) AS LY_DO_TT_PBT_CT,UPDATE_NGAY_CUOI, STT_CA,
CONVERT(BIT,CASE WHEN ISNULL(T10.MS_PHIEU_BAO_TRI,'0') = '0' THEN 0 ELSE 1 END) AS TGNM
FROM 
	#PBT AS T2 INNER JOIN
	TINH_TRANG_PBT T4 ON T2.TINH_TRANG_PBT = T4.STT LEFT JOIN      
	MUC_UU_TIEN T5 ON T2.MS_UU_TIEN = T5.MS_UU_TIEN INNER JOIN  
	LOAI_BAO_TRI T6 ON T2.MS_LOAI_BT = T6.MS_LOAI_BT INNER JOIN  
	CONG_NHAN T7 ON T2.NGUOI_LAP =  T7.MS_CONG_NHAN LEFT JOIN 
	TINH_TRANG_PBT_CT T8 ON T8.MS_TT_CT = T2.MS_TT_CT LEFT JOIN	
	#PHIEU_BAO_TRI_HINH T9 ON T9.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI LEFT JOIN 
	dbo.THOI_GIAN_NGUNG_MAY_SO_LAN T10 ON T2.MS_PHIEU_BAO_TRI = T10.MS_PHIEU_BAO_TRI

ORDER BY T2.MS_PHIEU_BAO_TRI DESC

