
ALTER proc [dbo].[QL_LOAD_LIST_DH_XUAT_VAT_TU]
	@MS_DH_XUAT_PT NVARCHAR(14)='PX-2007-0055'
AS

--SELECT DHXVT.* , DV.TEN_1 AS DVT, PT.TEN_PT
SELECT     DHXVT.MS_DH_XUAT_PT, DHXVT.MS_PT, DHXVT.SO_LUONG_CTU, DHXVT.SO_LUONG_THUC_XUAT, 
		DV.TEN_1 AS DVT, DHXVT.GHI_CHU, PT.TEN_PT, TG_PB ,ISNULL(DHXVT.CHI_PHI,0) AS CHI_PHI
FROM         dbo.IC_DON_HANG_XUAT_VAT_TU AS DHXVT INNER JOIN
                      dbo.IC_PHU_TUNG AS PT ON DHXVT.MS_PT = PT.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS DV ON PT.DVT = DV.DVT
WHERE DHXVT.MS_DH_XUAT_PT=@MS_DH_XUAT_PT

