
-- GetCHI_TIET_FORM_QUYEN 1, 2
ALTER proc [dbo].[GetCHI_TIET_FORM_QUYEN]
 @GROUP_ID INT,
 @TYPELANGUAGE INT
AS
SELECT        TOP (100) PERCENT T1.FORM_NAME, CASE @TYPELANGUAGE WHEN 0 THEN T1.TEN_FORMS_VIET WHEN 1 THEN ISNULL(NULLIF (T1.TEN_FORMS_ANH, ''), 
                         T1.TEN_FORMS_VIET) ELSE ISNULL(NULLIF (T1.TEN_FORMS_ANH, ''), T1.TEN_FORMS_HOA) END AS TEN_FORM, ISNULL(T2.QUYEN, N'') AS QUYEN, CONVERT(BIT, 'False') AS IS_UPDATE,
                          @GROUP_ID AS GROUP_ID
FROM            dbo.CHI_TIET_FORMS AS T1 LEFT OUTER JOIN
                         dbo.NHOM_FORM AS T2 ON T1.FORM_NAME = T2.FORM_NAME
WHERE        (T2.GROUP_ID = @GROUP_ID)
ORDER BY TEN_FORM
