

ALTER PROC [dbo].[spBCDanhMucVTPT]
	@LBaoCao INT = 0,
	@UName NVARCHAR(50) = 'admin',
	@NNgu INT = 1,
	@LMay NVARCHAR(50) = '-1',
	@LVTu NVARCHAR(50) = '-1',
	@LPTung INT = -1
as
-- @LBaoCao = 0 BC report
-- @LBaoCao = 1 BC report group theo loai may
-- @LBaoCao = 2 xuat excel
DECLARE @USERLPT AS TABLE (MS_PT NVARCHAR(50),MS_LOAI_PT INT,TEN_LOAI_PT NVARCHAR(250))
IF @LBaoCao = 0 
BEGIN	
	INSERT INTO @USERLPT(MS_PT,MS_LOAI_PT,TEN_LOAI_PT)
	SELECT DISTINCT T3.MS_PT, NULL AS MS_LOAI_PT,NULL TEN_LOAI_PT FROM NHOM_LOAI_PHU_TUNG T1 INNER JOIN USERS T2 ON T1.GROUP_ID = T2.GROUP_ID INNER JOIN dbo.IC_PHU_TUNG_LOAI_PHU_TUNG T3 ON T3.MS_LOAI_PT = T1.MS_LOAI_PT 
	WHERE USERNAME = @UName
	AND        (T3.MS_LOAI_PT = @LPTung OR @LPTung = -1) 
END	
ELSE
BEGIN	
	INSERT INTO @USERLPT(MS_PT,MS_LOAI_PT,TEN_LOAI_PT)
	SELECT DISTINCT T3.MS_PT, T1.MS_LOAI_PT,T4.TEN_LOAI_PT FROM NHOM_LOAI_PHU_TUNG T1 INNER JOIN USERS T2 ON T1.GROUP_ID = T2.GROUP_ID INNER JOIN dbo.IC_PHU_TUNG_LOAI_PHU_TUNG T3 ON T3.MS_LOAI_PT = T1.MS_LOAI_PT INNER JOIN dbo.LOAI_PHU_TUNG T4 ON T3.MS_LOAI_PT = T4.MS_LOAI_PT
	WHERE USERNAME = @UName
	AND        (T3.MS_LOAI_PT = @LPTung OR @LPTung = -1) 
END	

DECLARE @USERLMAY AS TABLE (MS_PT NVARCHAR(50),MS_LOAI_MAY NVARCHAR(20),TEN_LOAI_MAY NVARCHAR(250))
IF @LBaoCao = 0 
BEGIN	
	INSERT INTO @USERLMAY (MS_PT,MS_LOAI_MAY,TEN_LOAI_MAY)
	SELECT DISTINCT T3.MS_PT,NULL AS MS_LOAI_MAY,NULL AS TEN_LOAI_MAY
	FROM NHOM_LOAI_MAY T1 INNER JOIN USERS T2 ON T1.GROUP_ID = T2.GROUP_ID INNER JOIN dbo.IC_PHU_TUNG_LOAI_MAY T3 ON T3.MS_LOAI_MAY = T1.MS_LOAI_MAY 
	WHERE (USERNAME = @UName) AND (T3.MS_LOAI_MAY = @LMay OR @LMay = '-1') 
END	
ELSE
BEGIN	
	INSERT INTO @USERLMAY (MS_PT,MS_LOAI_MAY,TEN_LOAI_MAY)
	SELECT DISTINCT T3.MS_PT,T1.MS_LOAI_MAY,
	CASE @NNgu  WHEN 0 THEN T4.TEN_LOAI_MAY WHEN 1 THEN ISNULL(NULLIF (T4.TEN_LOAI_MAY_ANH, ''), T4.TEN_LOAI_MAY) ELSE ISNULL(NULLIF (T4.TEN_LOAI_MAY_HOA, ''), T4.TEN_LOAI_MAY) END AS TEN_LOAI_MAY
	FROM NHOM_LOAI_MAY T1 INNER JOIN USERS T2 ON T1.GROUP_ID = T2.GROUP_ID INNER JOIN dbo.IC_PHU_TUNG_LOAI_MAY T3 ON T3.MS_LOAI_MAY = T1.MS_LOAI_MAY INNER JOIN dbo.LOAI_MAY T4 ON T3.MS_LOAI_MAY = T4.MS_LOAI_MAY
	WHERE (USERNAME = @UName) AND (T3.MS_LOAI_MAY = @LMay OR @LMay = '-1') 
END	

SELECT MS_PT, SUM(SL_VT) AS SL_VT INTO #TONPT FROM dbo.VI_TRI_KHO_VAT_TU WHERE ISNULL(SL_VT,0) > 0 GROUP BY MS_PT

SELECT T1.MS_PT,T1.MS_PT_NCC, T1.MS_PT_CTY, T1.TEN_PT, T1.QUY_CACH,T1.TEN_PT_VIET,T1.ANH_PT,T1.DVT,T1.MS_LOAI_VT,T1.MS_KH,T1.MS_HSX,T1.SERVICE_ID, T1.MS_CACH_DAT_HANG,T1.MS_CLASS,T1.HANG_NGOAI,T1.DUNG_CU_DO,T1.VAT_TU_PT, T1.ACTIVE_PT, T1.TON_TOI_THIEU,T1.TON_KHO_MAX, T1.SO_NGAY_DAT_MUA_HANG, 
T2.SL_VT,T3.MS_LOAI_PT,T3.TEN_LOAI_PT,T4.MS_LOAI_MAY,T4.TEN_LOAI_MAY INTO #IC_PT FROM dbo.IC_PHU_TUNG T1 LEFT JOIN #TONPT T2 ON T1.MS_PT = T2.MS_PT INNER JOIN @USERLPT T3 ON T1.MS_PT = T3.MS_PT INNER JOIN @USERLMAY T4 ON T4.MS_PT = T1.MS_PT WHERE (T1.MS_LOAI_VT = @LVTu OR @LVTu = '-1')

IF @LBaoCao = 0
BEGIN
SELECT        ROW_NUMBER() OVER (ORDER BY  T1.MS_PT, T1.MS_PT_NCC, T1.MS_PT_CTY, T1.TEN_PT, T1.QUY_CACH, T6.TEN_1, T6.TEN_2, T9.MS_LOAI_VT) AS STT,
T1.MS_PT, T1.MS_PT_CTY, T1.MS_PT_NCC, T10.TEN_CLASS, T1.TEN_PT, T1.TEN_PT_VIET, T1.QUY_CACH, T1.ANH_PT,T9.MS_LOAI_VT, 
						CASE @NNgu  WHEN 0 THEN T9.TEN_LOAI_VT_TV WHEN 1 THEN ISNULL(NULLIF (T9.TEN_LOAI_VT_TA, ''), 
                         T9.TEN_LOAI_VT_TV) ELSE ISNULL(NULLIF (T9.TEN_LOAI_VT_TH, ''), T9.TEN_LOAI_VT_TV) END AS TEN_LOAI_VT, CASE @NNgu  WHEN 0 THEN T6.TEN_1 ELSE ISNULL(NULLIF (T6.TEN_2, ''), T6.TEN_1) END AS TEN_DVT, T6.TEN_1, 
                         T6.TEN_2, T14.CACH_DAT_HANG, T11.SERVICE_LEVEL, T12.TEN_HSX, T13.TEN_CONG_TY, 
						 CASE ISNULL(T1.HANG_NGOAI,0) WHEN 0 THEN NULL ELSE 'x' END AS HANG_NGOAI, 
						 CASE ISNULL(T1.DUNG_CU_DO,0) WHEN 0 THEN NULL ELSE 'x' END AS DUNG_CU_DO,  
						 CASE ISNULL(T1.VAT_TU_PT,0) WHEN 0 THEN NULL ELSE 'x' END AS VAT_TU_PT,
						 CASE ISNULL(T1.ACTIVE_PT,0) WHEN 0 THEN NULL ELSE 'x' END AS ACTIVE_PT,
						 NULL AS MS_LOAI_MAY,NULL AS TEN_LOAI_MAY,T1.MS_LOAI_PT, T1.TEN_LOAI_PT, T1.TON_TOI_THIEU, T1.TON_KHO_MAX,
						 T1.SL_VT AS TON_HT,
						 T1.SO_NGAY_DAT_MUA_HANG
FROM            #IC_PT AS T1 INNER JOIN
                         dbo.DON_VI_TINH AS T6 ON T1.DVT = T6.DVT INNER JOIN
                         dbo.LOAI_VT AS T9 ON T1.MS_LOAI_VT = T9.MS_LOAI_VT LEFT JOIN
                         dbo.KHACH_HANG AS T13 ON T1.MS_KH = T13.MS_KH LEFT OUTER JOIN
                         dbo.HANG_SAN_XUAT AS T12 ON T1.MS_HSX = T12.MS_HSX LEFT OUTER JOIN
                         dbo.SERVICE_LEVEL AS T11 ON T1.SERVICE_ID = T11.SERVICE_ID LEFT OUTER JOIN
                         dbo.CACH_DAT_HANG T14 ON T1.MS_CACH_DAT_HANG = T14.MS_CACH_DAT_HANG LEFT OUTER JOIN
                         dbo.CLASS_VT AS T10 ON T1.MS_CLASS = T10.MS_CLASS 
ORDER BY  T1.MS_PT, T1.MS_PT_NCC, T1.MS_PT_CTY, T1.TEN_PT, T1.QUY_CACH, T6.TEN_1, T6.TEN_2, T9.MS_LOAI_VT    
END
ELSE
BEGIN
    

SELECT        ROW_NUMBER() OVER (ORDER BY  T1.MS_PT, T1.MS_PT_NCC, T1.MS_PT_CTY, T1.TEN_PT, T1.QUY_CACH, T6.TEN_1, T6.TEN_2, T9.MS_LOAI_VT) AS STT,
T1.MS_PT, T1.MS_PT_CTY, T1.MS_PT_NCC, T10.TEN_CLASS, T1.TEN_PT, T1.TEN_PT_VIET, T1.QUY_CACH, T1.ANH_PT,T9.MS_LOAI_VT, 
						CASE @NNgu  WHEN 0 THEN T9.TEN_LOAI_VT_TV WHEN 1 THEN ISNULL(NULLIF (T9.TEN_LOAI_VT_TA, ''), 
                         T9.TEN_LOAI_VT_TV) ELSE ISNULL(NULLIF (T9.TEN_LOAI_VT_TH, ''), T9.TEN_LOAI_VT_TV) END AS TEN_LOAI_VT, CASE @NNgu  WHEN 0 THEN T6.TEN_1 ELSE ISNULL(NULLIF (T6.TEN_2, ''), T6.TEN_1) END AS TEN_DVT, T6.TEN_1, 
                         T6.TEN_2, T14.CACH_DAT_HANG, T11.SERVICE_LEVEL, T12.TEN_HSX, T13.TEN_CONG_TY, 
						 CASE ISNULL(T1.HANG_NGOAI,0) WHEN 0 THEN NULL ELSE 'x' END AS HANG_NGOAI, 
						 CASE ISNULL(T1.DUNG_CU_DO,0) WHEN 0 THEN NULL ELSE 'x' END AS DUNG_CU_DO,  
						 CASE ISNULL(T1.VAT_TU_PT,0) WHEN 0 THEN NULL ELSE 'x' END AS VAT_TU_PT,
						 CASE ISNULL(T1.ACTIVE_PT,0) WHEN 0 THEN NULL ELSE 'x' END AS ACTIVE_PT,
						 T1.MS_LOAI_MAY,T1.TEN_LOAI_MAY,T1.MS_LOAI_PT, T1.TEN_LOAI_PT, T1.TON_TOI_THIEU, T1.TON_KHO_MAX,
						 T1.SL_VT AS TON_HT,
						 T1.SO_NGAY_DAT_MUA_HANG
FROM            #IC_PT AS T1 INNER JOIN
                         dbo.DON_VI_TINH AS T6 ON T1.DVT = T6.DVT INNER JOIN
                         dbo.LOAI_VT AS T9 ON T1.MS_LOAI_VT = T9.MS_LOAI_VT LEFT JOIN
                         dbo.KHACH_HANG AS T13 ON T1.MS_KH = T13.MS_KH LEFT OUTER JOIN
                         dbo.HANG_SAN_XUAT AS T12 ON T1.MS_HSX = T12.MS_HSX LEFT OUTER JOIN
                         dbo.SERVICE_LEVEL AS T11 ON T1.SERVICE_ID = T11.SERVICE_ID LEFT OUTER JOIN
                         dbo.CACH_DAT_HANG T14 ON T1.MS_CACH_DAT_HANG = T14.MS_CACH_DAT_HANG LEFT OUTER JOIN
                         dbo.CLASS_VT AS T10 ON T1.MS_CLASS = T10.MS_CLASS 
ORDER BY  T1.MS_PT, T1.MS_PT_NCC, T1.MS_PT_CTY, T1.TEN_PT, T1.QUY_CACH, T6.TEN_1, T6.TEN_2, T9.MS_LOAI_VT
END