
--	exec sp_DuyetSanXuat 'admin' ,1,0,NULL,'01/01/2021','12/30/2021','-1','-1'
ALTER proc [dbo].[sp_DuyetSanXuat]
	@User nvarchar(50),
	@Option int,
	@NNgu int,
	@image Image,
	@TNgay DATETIME,
	@DNgay DATETIME,
	@MsNXuong nvarchar(50),
	@LMay nvarchar(50)
as
begin
--@Option = 0 ALL duyet -- 1 duyet -- 2 khong duyet
SELECT A.* INTO #MAY FROM dbo.MGetMayUserNgay(@DNgay,@User,@MsNXuong,-1,-1,@LMay,'-1','-1', @NNgu) A 	
-- kiem theo to phong ban
	--(SELECT CONVERT(BIT,CASE COUNT(*) WHEN 0 THEN 0 ELSE 1 END) 
	--FROM USERS A INNER JOIN (SELECT MS_TO FROM YEU_CAU_NSD T1 INNER JOIN USERS T2 ON T1.USER_LAP = T2.USERNAME WHERE T1.STT = C.STT ) B ON A.MS_TO = B.MS_TO 
	--WHERE USERNAME = @User) AS QUYEN_DUYET 

	
SELECT CONVERT(BIT, 0) AS CHON ,
	CONVERT(Image,CASE (SELECT COUNT(*) FROM YEU_CAU_NSD_CHI_TIET_HINH WHERE STT =B.STT AND STT_VAN_DE =B.STT_VAN_DE) 
	WHEN 0 THEN NULL ELSE @image END) AS TAI_LIEU, 
	B.STT, B.MS_MAY, B.STT_VAN_DE, A.TEN_MAY, B.MO_TA_TINH_TRANG,B.NGAY_XAY_RA,B.GIO_XAY_RA,C.MS_YEU_CAU,C.NGAY,C.SO_YEU_CAU,   A.Ten_N_XUONG, 
	C.NGUOI_YEU_CAU, B.YEU_CAU, B.MS_UU_TIEN, B.USERNAME_DSX,B.THOI_GIAN_DSX, B.Y_KIEN_DSX, B.THUC_HIEN_DSX, B.EMAIL_DSX, 
	B.MS_CACH_TH, dbo.MUC_UU_TIEN.TEN_UU_TIEN,TEN_LOAI_YEU_CAU_BT,	1 AS QUYEN_DUYET,	C.DUYET INTO #tableDS
FROM #MAY A INNER JOIN dbo.YEU_CAU_NSD_CHI_TIET B ON A.MS_MAY = B.MS_MAY INNER JOIN
	dbo.YEU_CAU_NSD C ON B.STT = C.STT LEFT OUTER JOIN
	dbo.MUC_UU_TIEN ON B.MS_UU_TIEN = dbo.MUC_UU_TIEN.MS_UU_TIEN LEFT JOIN 
	LOAI_YEU_CAU_BAO_TRI T1 ON B.MS_LOAI_YEU_CAU_BT = T1.MS_LOAI_YEU_CAU_BT
WHERE C.NGAY BETWEEN @TNgay AND @DNgay

if @Option =0
-- co duyet phieu yeu cau DUYET_TAO_YC= 1
		IF (SELECT TOP 1 ISNULL(DUYET_TAO_YC,0) FROM dbo.THONG_TIN_CHUNG) = 0
		BEGIN
		  SELECT CHON,TAI_LIEU,STT,MS_MAY ,STT_VAN_DE ,TEN_MAY,MO_TA_TINH_TRANG,NGAY_XAY_RA,GIO_XAY_RA,
				  YEU_CAU ,TEN_LOAI_YEU_CAU_BT ,MS_YEU_CAU,NGAY ,MS_UU_TIEN , SO_YEU_CAU, Ten_N_XUONG ,NGUOI_YEU_CAU ,TEN_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX ,MS_CACH_TH ,QUYEN_DUYET
		   FROM #tableDS
		   WHERE THUC_HIEN_DSX IS NULL  order by MS_UU_TIEN 
	   END
       ELSE
       BEGIN
			-- khong duyet tao phieu DUYET_TAO_YC = 0
	   	  SELECT CHON,TAI_LIEU,STT,MS_MAY ,STT_VAN_DE ,TEN_MAY,MO_TA_TINH_TRANG,NGAY_XAY_RA,GIO_XAY_RA,
			  YEU_CAU ,TEN_LOAI_YEU_CAU_BT ,MS_YEU_CAU,NGAY ,MS_UU_TIEN , SO_YEU_CAU, Ten_N_XUONG ,NGUOI_YEU_CAU ,TEN_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX ,MS_CACH_TH ,QUYEN_DUYET
	   FROM #tableDS
	   WHERE THUC_HIEN_DSX IS NULL AND DUYET = 1   order by MS_UU_TIEN 
	   END
if @Option =1
		  SELECT CHON,TAI_LIEU,STT,MS_MAY ,STT_VAN_DE ,TEN_MAY,MO_TA_TINH_TRANG ,NGAY_XAY_RA,GIO_XAY_RA,
			  YEU_CAU,TEN_LOAI_YEU_CAU_BT ,MS_YEU_CAU,NGAY,MS_UU_TIEN , SO_YEU_CAU, Ten_N_XUONG ,NGUOI_YEU_CAU  ,TEN_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX ,MS_CACH_TH ,QUYEN_DUYET
		   FROM #tableDS
		   WHERE THUC_HIEN_DSX =1 AND MS_CACH_TH is null  order by MS_UU_TIEN		   
if @Option =2
	   SELECT CHON,TAI_LIEU,STT,MS_MAY ,STT_VAN_DE ,TEN_MAY, MO_TA_TINH_TRANG,NGAY_XAY_RA,GIO_XAY_RA,
			  YEU_CAU ,TEN_LOAI_YEU_CAU_BT ,MS_YEU_CAU,NGAY,MS_UU_TIEN , SO_YEU_CAU, Ten_N_XUONG ,NGUOI_YEU_CAU ,TEN_UU_TIEN ,USERNAME_DSX ,THOI_GIAN_DSX ,	Y_KIEN_DSX ,THUC_HIEN_DSX ,EMAIL_DSX ,MS_CACH_TH,QUYEN_DUYET
	   FROM #tableDS
	   WHERE THUC_HIEN_DSX =0  order by MS_UU_TIEN	   
end	   

