IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'sp_getGSTTTheoMay')
exec('CREATE PROCEDURE sp_getGSTTTheoMay AS BEGIN SET NOCOUNT ON; END')
GO
ALTER PROCEDURE [dbo].[sp_getGSTTTheoMay] 
	@USERNAME VARCHAR(64)= 'admin', 
	@LANGUAGE INT = 0, 
	@TU_NGAY DATETIME ='01/01/2019', 
	@DEN_NGAY DATETIME ='02/28/2019', 
	@MS_NHA_XUONG VARCHAR(50)='-1', 
	@MS_HE_THONG INT=-1, 
	@MS_LOAI_MAY VARCHAR(30) ='-1', 
	@MS_MAY VARCHAR(30) ='HOH-A-001'
AS BEGIN
	SET FMTONLY OFF;
	SELECT	MS_MAY,TEN_MAY,MS_N_XUONG	INTO	#MAY_USER
	FROM	[dbo].[MGetMayUserNgay](@DEN_NGAY, @USERNAME, @MS_NHA_XUONG, @MS_HE_THONG, -1, @MS_LOAI_MAY, '-1', @MS_MAY, @LANGUAGE);
	SELECT DISTINCT T1.MS_MAY,T2.MS_BO_PHAN,T2.MS_TS_GSTT,T2.CHU_KY_DO,T2.TEN_DV_TG,T2.TEN_TS_GSTT,T3.LOAI_TS INTO #TSDH  FROM dbo.MGetHieuChuanKeGSTT(@TU_NGAY, @DEN_NGAY, @USERNAME, @MS_NHA_XUONG, @MS_HE_THONG, -1, @MS_LOAI_MAY, '-1', -1,1, @LANGUAGE) T2 INNER JOIN #MAY_USER T1 ON T1.MS_MAY = T2.MS_MAY INNER JOIN dbo.THONG_SO_GSTT T3 ON T3.MS_TS_GSTT = T2.MS_TS_GSTT
	WHERE (CONVERT(DATE, T2.NGAY_KE) BETWEEN CONVERT(DATE, @TU_NGAY) AND CONVERT(DATE, @DEN_NGAY)) 

	SELECT     DISTINCT A.MS_MAY, A.MS_LOAI_BT, A.CHU_KY, A.MS_DV_TG
INTO #BAOTRI
FROM         dbo.MGetNgayHieuChuanKeBaoTri(@TU_NGAY,@DEN_NGAY, @UserName, @MS_NHA_XUONG, @MS_HE_THONG, @MS_LOAI_MAY, '-1', 1) AS A
WHERE     (A.MS_MAY = @MS_MAY OR @MS_MAY = '-1') AND A.NGAY_KE BETWEEN @TU_NGAY AND @DEN_NGAY
END;


	SELECT DISTINCT
        ISNULL(( SELECT ISNULL(TEN_BO_PHAN, '')
                 FROM   dbo.CAU_TRUC_THIET_BI
                 WHERE  MS_MAY = @MS_MAY
                        AND MS_BO_PHAN = a.MS_BO_PHAN_CHA
               ), A.TEN_BO_PHAN) AS 'DON_VI' ,
        A.TEN_BO_PHAN AS 'VT_KT',
        C.TEN_TS_GSTT AS 'HM_KT',
    CASE C.LOAI_TS WHEN 0 THEN B.GIA_TRI_DUOI ELSE NULL END AS 'CAN_DUOI',CASE C.LOAI_TS WHEN 0 THEN B.GIA_TRI_TREN ELSE NULL END AS 'CAN_TREN',
		RTRIM(CONVERT(CHAR(5),B.CHU_KY_DO)) +' '+ C.TEN_DV_TG AS 'CHU_KY','' AS 'KET_QUA',A.STT,0 AS 'CV'
FROM    dbo.CAU_TRUC_THIET_BI A
        LEFT JOIN dbo.CAU_TRUC_THIET_BI_TS_GSTT B ON B.MS_MAY = A.MS_MAY
                                                     AND B.MS_BO_PHAN = A.MS_BO_PHAN
        RIGHT JOIN #TSDH C ON C.MS_TS_GSTT = B.MS_TS_GSTT
WHERE   A.MS_MAY = @MS_MAY AND (C.LOAI_TS = 1 OR B.DAT = 1)
	UNION
	SELECT DISTINCT
        ISNULL(( SELECT ISNULL(TEN_BO_PHAN, '')
                 FROM   dbo.CAU_TRUC_THIET_BI
                 WHERE  MS_MAY = @MS_MAY
                        AND MS_BO_PHAN = A.MS_BO_PHAN_CHA
               ), A.TEN_BO_PHAN) AS 'DON_VI' ,
        A.TEN_BO_PHAN AS 'VT_KT',
      CASE @LANGUAGE WHEN 0 THEN D.MO_TA_CV WHEN 1 THEN ISNULL(NULLIF(D.MO_TA_CV_ANH,''),D.MO_TA_CV) ELSE ISNULL(NULLIF(D.MO_TA_CV_HOA,''),D.MO_TA_CV) END AS 'HM_KT',
    NULL AS 'CAN_DUOI',NULL AS 'CAN_TREN',
RTRIM(CONVERT(CHAR(5),B.CHU_KY)) +' '+ CASE @LANGUAGE WHEN 0 THEN E.TEN_DV_TG WHEN 1 THEN ISNULL(NULLIF(E.TEN_DV_TG_ANH,''),E.TEN_DV_TG) ELSE ISNULL(NULLIF(E.TEN_DV_TG_HOA,''),E.TEN_DV_TG) END AS 'CHU_KY','' AS 'KET_QUA',A.STT,1 AS 'CV'
FROM    dbo.CAU_TRUC_THIET_BI A
        LEFT JOIN #BAOTRI B ON B.MS_MAY = A.MS_MAY
        INNER JOIN dbo.MAY_LOAI_BTPN_CONG_VIEC C ON C.MS_BO_PHAN = A.MS_BO_PHAN AND C.MS_MAY = A.MS_MAY 
		INNER JOIN dbo.CONG_VIEC D ON D.MS_CV = C.MS_CV
		INNER JOIN dbo.DON_VI_THOI_GIAN E ON E.MS_DV_TG = B.MS_DV_TG
WHERE   A.MS_MAY = @MS_MAY
ORDER BY A.STT



