-------------------
ALTER procedure [dbo].[sp_Insert_Cautructhietbi_phutung] 
	@MS_MAY Nvarchar(30),
	@MS_BP Nvarchar(50),
	@MS_PT Nvarchar(30),
	@MS_VI_TRI_PT NVARCHAR(30),
	@SO_LUONG FLOAT,
	@TUOI_THO INT,
	@CHUC_NANG NVARCHAR(MAX),
	@ACTIVE BIT
AS
BEGIN	
	--SET NOCOUNT ON;
	INSERT INTO CAU_TRUC_THIET_BI_PHU_TUNG(MS_MAY,MS_BO_PHAN,MS_PT,MS_VI_TRI_PT,SO_LUONG,TUOI_THO,CHUC_NANG,ACTIVE)
	VALUES(@MS_MAY,@MS_BP,@MS_PT,@MS_VI_TRI_PT,@SO_LUONG,CASE @TUOI_THO WHEN 0 THEN NULL ELSE @TUOI_THO END	,@CHUC_NANG,@ACTIVE)
END

