
--SELECT * FROM GIA_TRI_TMPCHA11
ALTER PROC [dbo].[getDSThongSoGSDenHan]
	@MsNX NVARCHAR(100) = '-1',
	@MSHThong INT = 1,
	@MsLoaiMay NVARCHAR(100) = '-1',
	@MsMay NVARCHAR(100) = 'MCLT5G',
	@MsLoaiCV INT = 1,
	@UserName NVARCHAR(50) = 'ADMIN',
    @Dat BIT = 0,
	@DenNgay DATETIME = '12/30/2020',
	@BT NVARCHAR(100) = 'GIA_TRI_TMPCHA11'
AS
    BEGIN

CREATE TABLE #BTGT 
(
	[CHON] [BIT] NULL,
	[TEN_GIA_TRI] [NVARCHAR](255) NOT NULL,
	[DAT] [BIT] NULL,
	[GHI_CHU] [NVARCHAR](255) NULL,
	[STT] [INT] NOT NULL,
	[MS_MAY] [NVARCHAR](30) NOT NULL,
	[MS_TS_GSTT] [NVARCHAR](10) NOT NULL,
	[MS_BO_PHAN] [NVARCHAR](50) NOT NULL,
	[MS_TT] [INT] NOT NULL,
	THOI_GIAN FLOAT,
	TG_TT FLOAT
)
DECLARE @sSql	NVARCHAR(MAX)
SELECT DISTINCT MS_MAY,TEN_MAY,MS_N_XUONG,MS_HE_THONG,MS_LOAI_MAY,Ten_N_XUONG INTO #MAY FROM dbo.MGetMayUserNgay(@DenNgay,@UserName,@MsNX,@MSHThong,-1,@MsLoaiMay,'-1', @MsMay,0)

SELECT MS_MAY,MS_BO_PHAN,T1.MS_TS_GSTT,MS_TT, MAX(NGAY_KE) AS NGAY_KT,T1.TEN_TS_GSTT,MAX(T2.THOI_GIAN) AS THOI_GIAN INTO #BTHC FROM [dbo].[MGetHieuChuanKeGSTT] ('01/01/2020',@DenNgay,@UserName,@MsNX,@MSHThong,-1,@MsLoaiMay,'-1',@MsLoaiCV,0,0) T1 INNER JOIN dbo.THONG_SO_GSTT T2 ON T2.MS_TS_GSTT = T1.MS_TS_GSTT WHERE T2.LOAI_TS = 1 
GROUP BY MS_MAY,MS_BO_PHAN,T1.MS_TS_GSTT,MS_TT,T1.TEN_TS_GSTT
HAVING MAX(T1.NGAY_KE) < = @DenNgay

SELECT DISTINCT T1.MS_MAY, T2.MS_N_XUONG,T2.MS_LOAI_MAY,T1.MS_BO_PHAN,T1.MS_TS_GSTT,T1.NGAY_KT, T1.TEN_TS_GSTT,T3.TEN_GIA_TRI,T3.STT,T3.DAT,T1.THOI_GIAN
INTO #HCDENHAN
FROM #BTHC T1 INNER JOIN #MAY T2 ON T2.MS_MAY = T1.MS_MAY INNER JOIN dbo.GIA_TRI_TS_GSTT T3 ON T3.MS_TS_GSTT = T1.MS_TS_GSTT

-- INSERT VÀO BẢNG TẠM VS DANH SÁCH LẦN GIÁM SÁT KHÔNG TỒN TẠI TRONG BẢNG TẠM
SET @sSql =
'INSERT INTO '+@BT+'(CHON,TEN_GIA_TRI,DAT, GHI_CHU,STT,MS_MAY,MS_TS_GSTT,MS_BO_PHAN,MS_TT , THOI_GIAN,TG_TT)
SELECT DISTINCT 0 AS CHON ,T1.TEN_GIA_TRI,T1.DAT,NULL AS GHI_CHU,T1.STT,T1.MS_MAY,T1.MS_TS_GSTT,T1.MS_BO_PHAN,1 AS MS_TT , T1.THOI_GIAN, NULL AS TG_TT  
FROM  #HCDENHAN T1
WHERE NOT EXISTS(SELECT DISTINCT * FROM '+@BT+' T2 WHERE T1.MS_TS_GSTT = T2.MS_TS_GSTT AND T1.STT = T2.STT AND T1.MS_MAY = T2.MS_MAY AND T1.MS_BO_PHAN = T2.MS_BO_PHAN)'
EXEC (@sSql)
--UPDATE BẢNG TẠM VỚI NHỮNG DÒNG MẤY CHƯA CHỌN THÔNG SỐ GIÁM SÁT
SET @sSql ='UPDATE '+@BT+'  SET CHON = 1
FROM  '+@BT+' T1 
INNER JOIN #HCDENHAN T3 ON T1.MS_TS_GSTT = T3.MS_TS_GSTT AND T1.MS_MAY = T3.MS_MAY AND T1.MS_BO_PHAN = T3.MS_BO_PHAN
WHERE NOT EXISTS(SELECT DISTINCT MS_MAY,MS_BO_PHAN,MS_TS_GSTT FROM '+@BT+' T2 WHERE CHON =1 AND T1.MS_TS_GSTT = T2.MS_TS_GSTT AND T1.MS_MAY = T2.MS_MAY AND T1.MS_BO_PHAN = T2.MS_BO_PHAN)
AND ISNULL(T1.DAT,0) = '+CONVERT(VARCHAR,@Dat)
EXEC (@sSql)



END