ALTER procedure [dbo].[SP_Y_GET_VTPT_SLNH_SLTTT] 
	@LANGUAGE INT =0,
	@VAT_TU INT =-1, 
	@KTKho NVARCHAR(4000) =N'Không theo kho',
	@MsKho INT =-1,
	@UName NVARCHAR(100) ='admin'
AS
BEGIN

SELECT DISTINCT D.* INTO #PT_USER FROM NHOM_LOAI_PHU_TUNG A INNER JOIN USERS B ON A.GROUP_ID = B.GROUP_ID 
	INNER JOIN IC_PHU_TUNG_LOAI_PHU_TUNG C ON C.MS_LOAI_PT = A.MS_LOAI_PT INNER JOIN IC_PHU_TUNG D ON 
	C.MS_PT = D.MS_PT 
WHERE B.USERNAME = @UName 


SELECT DISTINCT T2.MS_PT,
	CASE @LANGUAGE WHEN 1 THEN T2.TEN_PT WHEN 2 THEN T2.TEN_PT ELSE T2.TEN_PT END AS TEN_PT,  
	MS_PT_NCC,QUY_CACH,
	CASE @LANGUAGE WHEN 0 THEN T4.TEN_1 WHEN 1 THEN ISNULL(NULLIF(T4.TEN_2,''),T4.TEN_1) ELSE ISNULL(NULLIF(T4.TEN_3,''),T4.TEN_1) END AS TEN_DVT,
	CASE @LANGUAGE WHEN 1 THEN dbo.LOAI_VT.TEN_LOAI_VT_TA WHEN 2 THEN dbo.LOAI_VT.TEN_LOAI_VT_TH ELSE dbo.LOAI_VT.TEN_LOAI_VT_TV END AS TEN_LOAI_VT, 
	T2.TEN_KHO,T2.TON_TOI_THIEU,T2.TON_KHO_MAX, T2.SL_VTPT AS TON_TT , dbo.LOAI_VT.VAT_TU , T2.MS_KHO
FROM
(
SELECT     T2.MS_PT, SUM(ISNULL(T1.SL_VT, 0)) AS SL_VTPT, 0 AS MS_KHO, @KTKho AS TEN_KHO, T2.TON_TOI_THIEU,T2.TON_KHO_MAX,T2.MS_LOAI_VT,T2.dvt,T2.TEN_PT,MS_PT_NCC,QUY_CACH 

FROM         dbo.VI_TRI_KHO_VAT_TU AS T1 right JOIN
                      dbo.IC_PHU_TUNG AS T2 ON T1.MS_PT = T2.MS_PT
WHERE     (ISNULL(T2.THEO_KHO, 0) = 0)
GROUP BY T2.MS_PT, T2.TON_TOI_THIEU,T2.TON_KHO_MAX,T2.MS_LOAI_VT,T2.dvt,T2.TEN_PT,MS_PT_NCC,QUY_CACH

UNION

SELECT T1.MS_PT,  ISNULL(SUM(T3.SL_VT),0) AS SL_VTPT, T2.MS_KHO, T4.TEN_KHO, T2.TON_TOI_THIEU,T2.TON_KHO_MAX,T1.MS_LOAI_VT,T1.DVT,T1.TEN_PT,MS_PT_NCC,QUY_CACH
FROM #PT_USER T1 
INNER JOIN IC_PHU_TUNG_KHO T2 ON T1.MS_PT = T2.MS_PT 
INNER JOIN IC_KHO AS T4 ON T2.MS_KHO = T4.MS_KHO 
LEFT JOIN VI_TRI_KHO_VAT_TU T3 ON T1.MS_PT = T3.MS_PT
AND T2.MS_KHO = T3.MS_KHO AND T2.MS_VI_TRI = T3.MS_VI_TRI
WHERE  T2.TON_TOI_THIEU > 0
GROUP BY T1.MS_PT, T2.MS_KHO,T4.TEN_KHO, T2.TON_TOI_THIEU,T2.TON_KHO_MAX,T1.MS_LOAI_VT,T1.DVT,T1.TEN_PT,MS_PT_NCC,QUY_CACH
HAVING ISNULL(SUM(T3.SL_VT),0) < T2.TON_TOI_THIEU

) T2 INNER JOIN
	dbo.LOAI_VT ON T2.MS_LOAI_VT = dbo.LOAI_VT.MS_LOAI_VT INNER JOIN dbo.DON_VI_TINH T4 ON T2.DVT = T4.DVT
WHERE 
(T2.TON_TOI_THIEU > T2.SL_VTPT) 
AND (dbo.LOAI_VT.VAT_TU = @VAT_TU OR @VAT_TU = -1)
AND (T2.MS_KHO = @MsKho OR @MsKho = -1)
END
