--SELECT * FROM dbo.LUONG_CO_BAN
ALTER PROCEDURE [dbo].[spChiPhiNhanCong]
    @MsPBT NVARCHAR(100) = 'WO-202006000116',
	@NgayBD DATETIME = '05/25/2020'
AS

SELECT T1.MS_CONG_NHAN, ISNULL(SUM(TONG_GIO),0) AS TONG_GIO 
INTO #CNSG
FROM 
(
SELECT MS_CONG_NHAN,SUM(SO_GIO) AS TONG_GIO FROM dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET WHERE MS_PHIEU_BAO_TRI = @MsPBT GROUP BY MS_CONG_NHAN
UNION
SELECT MS_CONG_NHAN,SUM(SO_GIO) AS TONG_GIO FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI = @MsPBT GROUP BY MS_CONG_NHAN
UNION
SELECT MS_CONG_NHAN,SUM(SO_GIO) AS TONG_GIO FROM dbo.PHIEU_BAO_TRI_NHAN_SU WHERE MS_PHIEU_BAO_TRI = @MsPBT GROUP BY MS_CONG_NHAN) T1
GROUP BY T1.MS_CONG_NHAN
SELECT * FROM #CNSG
-- @PHUT_GIO_PBT =1 là tính theo phút
-- @PHUT_GIO_PBT =0 là tính theo giờ

DECLARE @PHUT_GIO_PBT INT = 1
SELECT TOP 1 @PHUT_GIO_PBT = PHUT_GIO_PBT FROM dbo.THONG_TIN_CHUNG
--SELECT A.MS_CONG_NHAN,(SO_PHUT*LUONG_CO_BAN)/ (CASE @PHUT_GIO_PBT WHEN 1 THEN (26*8*60) ELSE (26*8) END)
--AS LUONG ,SO_PHUT,B.LUONG_CO_BAN
--,(LUONG_CO_BAN)/(26*8) AS SASSA

SELECT ISNULL(SUM((ISNULL(TONG_GIO,0) * ISNULL(T2.LUONG_CO_BAN,0))/ 
(CASE @PHUT_GIO_PBT WHEN 1 THEN (26*8*60) ELSE (26*8) END)),0)
AS LUONG FROM 
(
SELECT T1.MS_CONG_NHAN, MAX(T1.NGAY_HIEU_LUC) AS NGAY_HIEU_LUC
FROM dbo.LUONG_CO_BAN T1 INNER JOIN #CNSG T2 ON T1.MS_CONG_NHAN = T2.MS_CONG_NHAN 
GROUP BY T1.MS_CONG_NHAN
HAVING MAX(T1.NGAY_HIEU_LUC) <= @NgayBD
) T1 INNER JOIN dbo.LUONG_CO_BAN T2 ON T2.MS_CONG_NHAN = T1.MS_CONG_NHAN AND T2.NGAY_HIEU_LUC = T1.NGAY_HIEU_LUC
INNER JOIN #CNSG T3 ON T1.MS_CONG_NHAN = T3.MS_CONG_NHAN




