
ALTER PROCEDURE [dbo].[spGetGiamSatKhongDat]    
	@MsNXuong NVARCHAR(50) = '-1',
	@MsHThong INT = -1,
	@MsLMay NVARCHAR(50) = '-1',
	@MsNMay NVARCHAR (50) = '-1',
	@MsMay NVARCHAR(50) = '-1',
	@DKien INT = 1,
	@TNgay DATETIME = '01/01/2010',
	@DNgay DATETIME = '01/01/2019',
	@UName NVARCHAR(50) = 'Admin',
	@NNgu INT = 1
AS	
BEGIN
    

SELECT DISTINCT MS_MAY,TEN_MAY INTO #MAY_USER FROM [dbo].[MGetMayUserNgay](@DNgay,@UName,@MsNXuong,@MsHThong,-1,@MsLMay,@MsNMay,@MsMay,@NNgu)


SELECT T1.STT,T1.NGAY_GIO,T1.MS_MAY,T1.MS_BO_PHAN,T1.MS_TS_GSTT,T1.MS_TT, T3.TEN_MAY 
INTO #NGAY_GSTT FROM 
(
SELECT T1.STT, CONVERT(DATETIME, CONVERT(NVARCHAR(10), T1.NGAY_KT, 101) + ' '+ CONVERT(NVARCHAR(8), T1.GIO_KT, 108)) AS NGAY_GIO,T2.MS_MAY, T2.MS_BO_PHAN, T2.MS_TS_GSTT, T2.MS_TT  FROM dbo.GIAM_SAT_TINH_TRANG T1 INNER JOIN dbo.GIAM_SAT_TINH_TRANG_TS T2 ON T1.STT = T2.STT 
) T1  INNER JOIN #MAY_USER T3 ON T1.MS_MAY = T3.MS_MAY 


SELECT CONVERT(BIT,0) AS CHON, T1.STT,T1.MS_TS_GSTT,T1.MS_TT,T1.NGAY_GIO AS NGAY_GIO_KT_MAX,T1.MS_MAY,T1.TEN_MAY,
CASE @NNgu WHEN 0 THEN T5.TEN_BO_PHAN WHEN 1 THEN ISNULL(NULLIF(T5.TEN_BO_PHAN_ANH,''),T5.TEN_BO_PHAN) ELSE ISNULL(NULLIF(T5.TEN_BO_PHAN_HOA,''),T5.TEN_BO_PHAN) END  AS TEN_BO_PHAN,
CASE @NNgu WHEN 0 THEN T4.TEN_TS_GSTT WHEN 1 THEN ISNULL(NULLIF(T4.TEN_TS_GSTT_ANH,''),T4.TEN_TS_GSTT) ELSE ISNULL(NULLIF(T4.TEN_TS_GSTT_HOA,''),T4.TEN_TS_GSTT) END  AS TEN_TS_GSTT,
NULL AS GT_DL, T3.TEN_GIA_TRI AS GT_DT, 
CASE @NNgu WHEN 0 THEN T6.TEN_TIENG_VIET  WHEN 1 THEN ISNULL(NULLIF(T6.TEN_TIENG_ANH ,''),T6.TEN_TIENG_VIET) ELSE ISNULL(NULLIF(T6.TEN_TIENG_HOA,''),T6.TEN_TIENG_VIET) END  AS TEN_CACH_TH, 
T2.MS_CACH_TH, T2.MS_PBT, T2.MS_CONG_NHAN, T2.TG_XU_LY, T2.STT_GT, T1.MS_BO_PHAN
FROM #NGAY_GSTT T1 INNER JOIN dbo.GIAM_SAT_TINH_TRANG_TS_DT T2 ON T2.STT = T1.STT AND T1.MS_MAY = T2.MS_MAY AND T1.MS_TS_GSTT = T2.MS_TS_GSTT AND T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.MS_TT = T2.MS_TT 
	INNER JOIN dbo.GIA_TRI_TS_GSTT T3 ON T2.MS_TS_GSTT = T3.MS_TS_GSTT AND T2.STT_GT = T3.STT INNER JOIN dbo.THONG_SO_GSTT T4 ON T2.MS_TS_GSTT = T4.MS_TS_GSTT INNER JOIN dbo.CAU_TRUC_THIET_BI T5 ON T2.MS_MAY = T5.MS_MAY AND T5.MS_BO_PHAN = T2.MS_BO_PHAN LEFT JOIN dbo.CACH_THUC_HIEN T6 ON T6.MS_CACH_TH = T2.MS_CACH_TH
WHERE (ISNULL(T3.DAT,0) = 0) AND (T4.LOAI_TS = 1)
AND	(
CASE
WHEN @DKien = 1 AND (T2.TG_XU_LY IS NULL) AND (T2.MS_CACH_TH <> '03' OR T2.MS_CACH_TH IS NULL) THEN 1
WHEN @DKien = 2 AND (T2.MS_CACH_TH = '03') THEN 1 
WHEN @DKien = 3 AND (T2.MS_CACH_TH <> '03') AND (CONVERT(DATE,T2.TG_XU_LY) BETWEEN CONVERT(DATE,@TNgay)  AND CONVERT(DATE,@DNgay))  THEN 1
ELSE 0
END  = 1)
UNION	


SELECT CONVERT(BIT,0) AS CHON, T1.STT,T1.MS_TS_GSTT,T1.MS_TT,T1.NGAY_GIO AS NGAY_GIO_KT_MAX,T1.MS_MAY,T1.TEN_MAY,
CASE @NNgu WHEN 0 THEN T5.TEN_BO_PHAN WHEN 1 THEN ISNULL(NULLIF(T5.TEN_BO_PHAN_ANH,''),T5.TEN_BO_PHAN) ELSE ISNULL(NULLIF(T5.TEN_BO_PHAN_HOA,''),T5.TEN_BO_PHAN) END  AS TEN_BO_PHAN,
CASE @NNgu WHEN 0 THEN T4.TEN_TS_GSTT WHEN 1 THEN ISNULL(NULLIF(T4.TEN_TS_GSTT_ANH,''),T4.TEN_TS_GSTT) ELSE ISNULL(NULLIF(T4.TEN_TS_GSTT_HOA,''),T4.TEN_TS_GSTT) END  AS TEN_TS_GSTT,
CAST(T2.GIA_TRI_DO AS NVARCHAR(100))+ ' ' + T7.TEN_DV_DO AS GT_DL, NULL AS GT_DT, 
CASE @NNgu WHEN 0 THEN T6.TEN_TIENG_VIET  WHEN 1 THEN ISNULL(NULLIF(T6.TEN_TIENG_ANH ,''),T6.TEN_TIENG_VIET) ELSE ISNULL(NULLIF(T6.TEN_TIENG_HOA,''),T6.TEN_TIENG_VIET) END  AS TEN_CACH_TH, T2.MS_CACH_TH, T2.MS_PBT, T2.MS_CONG_NHAN, T2.TG_XU_LY, NULL AS STT_GT, T1.MS_BO_PHAN
FROM #NGAY_GSTT T1 INNER JOIN dbo.GIAM_SAT_TINH_TRANG_TS T2 ON T2.STT = T1.STT AND T1.MS_MAY = T2.MS_MAY AND T1.MS_TS_GSTT = T2.MS_TS_GSTT AND T1.MS_BO_PHAN = T2.MS_BO_PHAN AND T1.MS_TT = T2.MS_TT INNER JOIN 
dbo.CAU_TRUC_THIET_BI_TS_GSTT T3 ON T3.MS_MAY = T1.MS_MAY AND T3.MS_BO_PHAN = T1.MS_BO_PHAN AND T3.MS_TS_GSTT = T1.MS_TS_GSTT AND T3.MS_TT = T1.MS_TT INNER JOIN dbo.THONG_SO_GSTT T4 ON T4.MS_TS_GSTT = T1.MS_TS_GSTT INNER JOIN dbo.CAU_TRUC_THIET_BI T5 ON T2.MS_MAY = T5.MS_MAY AND T5.MS_BO_PHAN = T2.MS_BO_PHAN LEFT JOIN dbo.CACH_THUC_HIEN T6 ON T6.MS_CACH_TH = T2.MS_CACH_TH INNER JOIN
                      dbo.DON_VI_DO AS T7 ON T7.MS_DV_DO = T4.MS_DV_DO
WHERE (ISNULL(T3.DAT,0) = 0) AND (T4.LOAI_TS = 0) AND
(CASE
WHEN @DKien = 1 AND (T2.TG_XU_LY) IS NULL AND (T2.MS_CACH_TH<>'03' OR T2.MS_CACH_TH IS NULL) THEN 1
WHEN @DKien = 2 AND (T2.MS_CACH_TH ='03') THEN 1 
WHEN @DKien = 3 AND (T2.MS_CACH_TH <>'03') AND (CONVERT(DATE,T2.TG_XU_LY) BETWEEN CONVERT(DATE,@TNgay)  AND CONVERT(DATE,@DNgay))  THEN 1
ELSE 0
END  = 1)


END