--SELECT * FROM dbo.BDCP_CHONadmin

--exec MBieuDoChiPhiNhaXuongTheoXuong  '02/01/2018', '02/28/2022',1,1,1,1,1,'VF01.03.01.04',0,'admin'
ALTER procedure [dbo].[MBieuDoChiPhiNhaXuongTheoXuong]
	@TNgay DATETIME,
	@DNgay DATETIME,
	@PhuTung bit,
	@VatTu bit,
	@NhanCong bit,
	@DichVu bit,
	@Khac bit,
	@MSNX nvarchar(100),
	@NNgu int,
	@UserName nvarchar(100)
	
AS

SELECT * INTO #MAY FROM dbo.MGetMayUserNgay(@DNgay,@UserName,@MSNX,-1,-1,'-1','-1','-1',0) 	


SELECT MS_N_XUONG INTO #NX FROM [dbo].[MGetNhaXuongDiaDiemUser](@UserName,@MSNX,'-1','-1','-1') 
DECLARE @PBT TABLE (
	[MS_PHIEU_BAO_TRI] [nvarchar](20) NOT NULL,
	[MS_LOAI_BT] [int] NULL,
	[MS_MAY] [nvarchar](30) NULL
)

--Chu Y, Doi voi Cang Baria thi lay ngay tinh Chi Phi la ngay Nghiem Thu
DECLARE @CTY NVARCHAR(50)
SELECT @CTY = [PRIVATE] FROM THONG_TIN_CHUNG
IF @CTY = 'BARIA'
	INSERT INTO @PBT
	SELECT DISTINCT MS_PHIEU_BAO_TRI,MS_LOAI_BT,T1.MS_MAY   FROM PHIEU_BAO_TRI T1 INNER JOIN #MAY T2 ON T1.MS_MAY = T2.MS_MAY
	WHERE (CONVERT(DATE,NGAY_NGHIEM_THU) BETWEEN @TNgay AND @DNgay) AND (TINH_TRANG_PBT > 2)
ELSE
	INSERT INTO @PBT
	SELECT DISTINCT MS_PHIEU_BAO_TRI,MS_LOAI_BT, T1.MS_MAY  FROM PHIEU_BAO_TRI T1 INNER JOIN #MAY T2 ON T1.MS_MAY = T2.MS_MAY
	WHERE (CONVERT(DATE,NGAY_BD_KH) BETWEEN @TNgay AND @DNgay) AND (TINH_TRANG_PBT > 2)


SELECT     X.MS_N_XUONG,
	(CASE @PhuTung WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG), 0) ELSE 0 END + 
	CASE @VatTu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU), 0)  ELSE 0 END + 
	CASE @NhanCong WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG), 0) ELSE 0 END +  
	CASE @DichVu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV), 0) ELSE 0 END + 
	CASE @Khac WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC), 0) ELSE 0 END ) AS CHI_PHI_BT
INTO #CP_BT
FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
					  @PBT T1 ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI INNER JOIN
					  dbo.LOAI_BAO_TRI ON T1.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT 
					  INNER JOIN #MAY X ON T1.MS_MAY = X.MS_MAY  
WHERE     (LOAI_BAO_TRI.HU_HONG = 0) 
--AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay)
--AND (TINH_TRANG_PBT > 2) 
GROUP BY X.MS_N_XUONG
			


SELECT  X.MS_N_XUONG , 
	(CASE @NhanCong WHEN 1 THEN ISNULL(SUM(CHI_PHI_NC), 0)  ELSE 0 END +  CASE @VatTu WHEN 1 THEN ISNULL(SUM(CHI_PHI_VT), 0)  ELSE 0 END) AS CHI_PHI_HN
INTO #CP_HN				
FROM    dbo.CONG_VIEC_HANG_NGAY_THIET_BI INNER JOIN
		dbo.CONG_VIEC_HANG_NGAY ON dbo.CONG_VIEC_HANG_NGAY_THIET_BI.STT_CV = dbo.CONG_VIEC_HANG_NGAY.STT_CV
		INNER JOIN #MAY X ON CONG_VIEC_HANG_NGAY_THIET_BI.MS_MAY = X.MS_MAY
WHERE (dbo.CONG_VIEC_HANG_NGAY.NGAY_TH BETWEEN @TNgay AND @DNgay)	
GROUP BY X.MS_N_XUONG

SELECT  X.MS_N_XUONG, 
	(CASE @PhuTung WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_PHU_TUNG), 0) ELSE 0 END +  
	CASE @VatTu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_VAT_TU), 0) ELSE 0 END +  
	CASE @NhanCong WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_NHAN_CONG), 0) ELSE 0 END + 
	CASE @DichVu WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_DV), 0) ELSE 0 END +  
	CASE @Khac WHEN 1 THEN ISNULL(SUM(dbo.PHIEU_BAO_TRI_CHI_PHI.CHI_PHI_KHAC), 0) ELSE 0 END )		AS CHI_PHI
INTO #CHI_PHI
FROM         dbo.PHIEU_BAO_TRI_CHI_PHI INNER JOIN
						@PBT T1 ON dbo.PHIEU_BAO_TRI_CHI_PHI.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI INNER JOIN
						dbo.LOAI_BAO_TRI ON T1.MS_LOAI_BT = dbo.LOAI_BAO_TRI.MS_LOAI_BT 
		INNER JOIN #MAY X ON T1.MS_MAY = X.MS_MAY
WHERE     (LOAI_BAO_TRI.HU_HONG = 1) 
--AND (NGAY_BD_KH BETWEEN @TNgay AND @DNgay)	
--AND (TINH_TRANG_PBT > 2)
GROUP BY X.MS_N_XUONG




SELECT CONVERT(INT,NULL) AS STT ,Ten_N_XUONG,CHI_PHI_CO_KH,CHI_PHI_KHO_KH,TONG_CP FROM 
(
	SELECT  TEN_N_XUONG
	 , SUM(ROUND(ISNULL(CHI_PHI_BT,0) + ISNULL(CHI_PHI_HN,0),2)) AS CHI_PHI_CO_KH,   
		SUM(ROUND(ISNULL(CHI_PHI,0),2)) AS CHI_PHI_KHO_KH, SUM(ROUND(ISNULL(CHI_PHI_BT,0) + ISNULL(CHI_PHI_HN,0) +  ISNULL(CHI_PHI,0),2)) AS TONG_CP
	FROM 
	
	(SELECT T1.MS_N_XUONG,CASE @NNgu WHEN 0 THEN TEN_N_XUONG WHEN 1 THEN ISNULL(TEN_N_XUONG_A,Ten_N_XUONG) ELSE ISNULL(TEN_N_XUONG_H,Ten_N_XUONG)  END AS TEN_N_XUONG FROM NHA_XUONG T1 INNER JOIN #NX T2 ON T1.MS_N_XUONG = T2.MS_N_XUONG)
	
	A LEFT JOIN  #CP_BT B ON A.MS_N_XUONG = B.MS_N_XUONG
	LEFT JOIN #CP_HN C ON A.MS_N_XUONG = C.MS_N_XUONG
	LEFT JOIN #CHI_PHI D ON A.MS_N_XUONG = D.MS_N_XUONG
	GROUP BY A.MS_N_XUONG,A.TEN_N_XUONG
) G 

ORDER BY TONG_CP DESC


