ALTER PROC [dbo].[getDSThongSoGSDinhLuong]
	@MsNX NVARCHAR(100) = '-1',
	@MSHThong INT = 1,
	@MsLoaiMay NVARCHAR(100) = '-1',
	@MsMay NVARCHAR(100) = 'MCLT5G',
	@MsThongSo NVARCHAR(10) ='-1',
	@BT NVARCHAR(100) = 'GIA_TRI_TMPDLcha11',
	@UserName NVARCHAR(50) = 'cha11' ,
    @NNgu INT = 0
AS
    BEGIN
CREATE TABLE #BTGT 
(
	[MS_MAY] [NVARCHAR](30) NOT NULL,
	[MS_TS_GSTT] [NVARCHAR](10) NOT NULL,
	[MS_BO_PHAN] [NVARCHAR](50) NOT NULL,
	[MS_TT] [INT] NOT NULL,
	[THOI_GIAN] FLOAT,
	[TG_TT] FLOAT,
	[GIA_TRI_DO] FLOAT,
)
DECLARE @sSql	NVARCHAR(MAX)

SET @sSql	= 'INSERT INTO #BTGT ([MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[TG_TT],[GIA_TRI_DO]) SELECT [MS_MAY],[MS_TS_GSTT],[MS_BO_PHAN],[MS_TT],[THOI_GIAN],[TG_TT],[GIA_TRI_DO] FROM ' + @BT
EXEC (@sSql)

SELECT DISTINCT MS_MAY,TEN_MAY,MS_N_XUONG,MS_HE_THONG,MS_LOAI_MAY,Ten_N_XUONG INTO #MAY FROM dbo.MGetMayUserNgay(GETDATE(),@UserName,@MsNX,@MSHThong,-1,@MsLoaiMay,'-1', @MsMay,@NNgu)

SELECT   DISTINCT T1.MS_MAY,
            CASE @NNgu WHEN 1 THEN T4.TEN_MAY WHEN 2 THEN ISNULL(NULLIF(T4.TEN_MAY_ANH, ''), T4.TEN_MAY) ELSE ISNULL(NULLIF(T4.TEN_MAY_HOA, ''), T4.TEN_MAY)
            END AS TEN_MAY ,
            T1.MS_BO_PHAN ,
            CASE @NNgu WHEN 1 THEN TEN_BO_PHAN WHEN 2 THEN ISNULL(NULLIF(T3.TEN_BO_PHAN_ANH, ''), TEN_BO_PHAN) ELSE ISNULL(NULLIF(T3.TEN_BO_PHAN_HOA, ''), TEN_BO_PHAN) END AS TEN_BO_PHAN ,
			T1.MS_TS_GSTT,	
            T2.TEN_TS_GSTT ,
            T1.GIA_TRI_DO,
			T5.TEN_DV_DO
FROM #BTGT T1
INNER JOIN dbo.THONG_SO_GSTT AS T2 ON T1.MS_TS_GSTT = T2.MS_TS_GSTT
            INNER JOIN dbo.CAU_TRUC_THIET_BI AS T3 ON T1.MS_MAY = T3.MS_MAY
                                                      AND T1.MS_BO_PHAN = T3.MS_BO_PHAN
            INNER JOIN dbo.MAY AS T4 ON T3.MS_MAY = T4.MS_MAY
			INNER JOIN dbo.DON_VI_DO T5 ON T5.MS_DV_DO = T2.MS_DV_DO
			INNER JOIN #MAY T6 ON T6.MS_MAY = T1.MS_MAY
WHERE (T1.MS_TS_GSTT = @MsThongSo or  '-1' = @MsThongSo)
ORDER BY MS_MAY,T1.MS_BO_PHAN,T1.MS_TS_GSTT
DROP TABLE #BTGT
END


