IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'AddDonhangNhapTuDonHangXuat')
exec('CREATE PROCEDURE AddDonhangNhapTuDonHangXuat AS BEGIN SET NOCOUNT ON; END')
GO
ALTER PROC [dbo].[AddDonhangNhapTuDonHangXuat]
		@MS_DH_XUAT_PT nvarchar(14),
		@MS_DH_NHAP_PT nvarchar(14),
		@MS_VI_TRI INTEGER
as
	begin
			-- INSERT IC_DON_HANG_NHAP
			INSERT into IC_DON_HANG_NHAP(MS_DH_NHAP_PT,SO_PHIEU_XN,GIO,NGAY,
											MS_KHO,MS_DANG_NHAP,NGUOI_NHAP,NGAY_CHUNG_TU,
											SO_CHUNG_TU,GHI_CHU,
											LOCK,THU_KHO,
CAN_CU,THU_KHO_KY,NGUOI_LAP, MS_DHX,NGAY_TD,MS_DH_XUAT_PT,MS_VI_TRI)
											
			SELECT DISTINCT @MS_DH_NHAP_PT,@MS_DH_NHAP_PT,GIO,NGAY,
						MS_KHO_DEN, 9 ,NGUOI_NHAN,NGAY_CHUNG_TU,
						SO_CHUNG_TU,GHI_CHU,
						1,THU_KHO,
						CAN_CU,THU_KHO_KY,NGUOI_LAP, MS_DH_XUAT_PT,GETDATE(),MS_DH_XUAT_PT,@MS_VI_TRI from IC_DON_HANG_XUAT 
			WHERE MS_DH_XUAT_PT = 	@MS_DH_XUAT_PT	
			
			DECLARE @DATATMP TABLE 
			(
			MS_DH_NHAP_PT NVARCHAR(30),
			MS_PT NVARCHAR(30),
			SO_LUONG_CTU FLOAT,
			SL_THUC_NHAP FLOAT,
			DON_GIA FLOAT,
			NGOAI_TE NVARCHAR(30),
			TY_GIA FLOAT,
			TY_GIA_USD FLOAT,
			MS_VT_NCC NVARCHAR(50),
			BAO_HANH_DEN_NGAY DATETIME,
			XUAT_XU NVARCHAR(50),
			THANH_TIEN FLOAT,
			GHI_CHU NVARCHAR(255),
			MS_PT_CT NVARCHAR(50),
			TEN_PT_CT NVARCHAR(255),
			Tax FLOAT,
			ID FLOAT,
			MS_CHI_TIET_DH NVARCHAR(50),
			MS_DH_NHAP_PT_GOC NVARCHAR(14), 
			ID_GOC FLOAT,
			DON_GIA_GOC FLOAT
			)
			
				
			-- INSERT IC_DON_HANG_NHAP_VAT_TU
			 insert into @DATATMP(MS_DH_NHAP_PT,MS_PT,SO_LUONG_CTU,SL_THUC_NHAP,
				DON_GIA,NGOAI_TE,TY_GIA,TY_GIA_USD,MS_VT_NCC,BAO_HANH_DEN_NGAY,XUAT_XU,
				THANH_TIEN,GHI_CHU,MS_PT_CT,TEN_PT_CT,Tax,ID,MS_CHI_TIET_DH,MS_DH_NHAP_PT_GOC,ID_GOC,
				DON_GIA_GOC)
												
			SELECT DISTINCT @MS_DH_NHAP_PT , XVT.MS_PT, SUM(XCT.SL_VT) AS SO_LUONG_CTU , SUM(XCT.SL_VT) AS SL_THUC_NHAP, 
			AVG(NVT.DON_GIA) AS DON_GIA, NVT.NGOAI_TE, AVG(NVT.TY_GIA) AS TY_GIA, AVG(NVT.TY_GIA_USD) AS TY_GIA_USD, 
				NVT.MS_VT_NCC, NVT.BAO_HANH_DEN_NGAY,NVT.XUAT_XU, 
			SUM(XCT.SL_VT) * AVG(NVT.DON_GIA) AS THANH_TIEN, NVT.GHI_CHU, NVT.MS_PT_CT, NVT.TEN_PT_CT, AVG(NVT.TAX), 
			ROW_NUMBER()OVER( ORDER BY @MS_DH_NHAP_PT )AS ID , 
			  NVT.MS_CHI_TIET_DH, NVT.MS_DH_NHAP_PT_GOC, NVT.ID_GOC, 
			  AVG(NVT.DON_GIA) AS DON_GIA_GOC
			FROM         dbo.IC_DON_HANG_XUAT_VAT_TU AS XVT INNER JOIN
								  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS XCT ON XVT.MS_DH_XUAT_PT = XCT.MS_DH_XUAT_PT AND XVT.MS_PT = XCT.MS_PT INNER JOIN
								  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON XCT.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND XCT.MS_PT = NVT.MS_PT AND XCT.ID_XUAT = NVT.ID
			WHERE     (XVT.MS_DH_XUAT_PT = @MS_DH_XUAT_PT)
			GROUP BY XVT.MS_PT, NVT.NGOAI_TE, NVT.MS_VT_NCC, NVT.BAO_HANH_DEN_NGAY, NVT.XUAT_XU, NVT.GHI_CHU, NVT.MS_PT_CT, NVT.TEN_PT_CT, NVT.ID, 
								  NVT.MS_CHI_TIET_DH, NVT.MS_DH_NHAP_PT_GOC, NVT.ID_GOC

			
			insert into IC_DON_HANG_NHAP_VAT_TU(MS_DH_NHAP_PT,MS_PT,SO_LUONG_CTU,SL_THUC_NHAP,
												DON_GIA,NGOAI_TE,TY_GIA,TY_GIA_USD,MS_VT_NCC,BAO_HANH_DEN_NGAY,XUAT_XU,
												THANH_TIEN,GHI_CHU,MS_PT_CT,TEN_PT_CT,Tax,ID,MS_CHI_TIET_DH,
												MS_DH_NHAP_PT_GOC,ID_GOC,DON_GIA_GOC)
			SELECT MS_DH_NHAP_PT,MS_PT,SO_LUONG_CTU,SL_THUC_NHAP,
												DON_GIA,NGOAI_TE,TY_GIA,TY_GIA_USD,MS_VT_NCC,BAO_HANH_DEN_NGAY,XUAT_XU,
												THANH_TIEN,GHI_CHU,MS_PT_CT,TEN_PT_CT,Tax,ID,MS_CHI_TIET_DH,
												MS_DH_NHAP_PT_GOC,ID_GOC,DON_GIA_GOC
							FROM @DATATMP

			--DECLARE @ViTri int
			--SET @ViTri = (SELECT TOP 1 MS_VI_TRI FROM VI_TRI_KHO WHERE MS_KHO = (SELECT MS_KHO_DEN FROM IC_DON_HANG_XUAT WHERE MS_DH_XUAT_PT = @MS_DH_XUAT_PT))
			
			INSERT INTO IC_DON_HANG_NHAP_VAT_TU_CHI_TIET(MS_DH_NHAP_PT,MS_PT,MS_VI_TRI,SL_VT,ID)
			SELECT MS_DH_NHAP_PT,MS_PT,@MS_VI_TRI AS MS_VI_TRI, SL_THUC_NHAP AS SL_VT,ID FROM @DATATMP
			
			
			--INSERT INTO IC_DON_HANG_NHAP_VAT_TU_CHI_TIET(MS_DH_NHAP_PT,MS_PT,MS_VI_TRI,SL_VT,ID)
			--SELECT DISTINCT @MS_DH_NHAP_PT, MS_PT, @ViTri, SUM(SL_VT),ID_XUAT  
			--	FROM IC_DON_HANG_XUAT_VAT_TU_CHI_TIET WHERE MS_DH_XUAT_PT =@MS_DH_XUAT_PT
			--GROUP BY MS_PT,ID_XUAT  
		
	end			

