
--exec SP_NHU_Y_LOC_PHU_TUNG_XUAT_X 0,0,'07-07-2020'
ALTER PROC [dbo].[SP_NHU_Y_LOC_PHU_TUNG_XUAT_X]
	@TYPELANG INT,
	@MS_KHO INT,
	@NGAY DATETIME
AS

		SELECT DISTINCT CONVERT(BIT,0) AS CHON,TEMP.MS_PT,A.MS_PT_NCC,A.TEN_PT,
		 CASE WHEN @TYPELANG=0 THEN C.TEN_LOAI_VT_TV ELSE C.TEN_LOAI_VT_TA END AS LOAI_VAT_TU,
		  CASE WHEN @TYPELANG=0 THEN B.TEN_1 ELSE B.TEN_2 END AS TEN_DV,A.QUY_CACH,A.MS_VI_TRI
		 FROM
			(
				SELECT MS_PT,MS_DH_NHAP_PT
				FROM dbo.VI_TRI_KHO_VAT_TU_X 
				WHERE MS_KHO=@MS_KHO
			
				AND SL_VT>0
				
			)TEMP INNER JOIN IC_DON_HANG_NHAP_X AS X
			ON TEMP.MS_DH_NHAP_PT=X.MS_DH_NHAP_PT AND X.LOCK=1
			AND X.NGAY<=@NGAY 
			INNER JOIN IC_PHU_TUNG AS A
			ON TEMP.MS_PT=A.MS_PT 
			LEFT JOIN DON_VI_TINH B ON A.DVT=B.DVT 
	LEFT JOIN LOAI_VT C ON A.MS_LOAI_VT=C.MS_LOAI_VT
