--SELECT * FROM IC_DON_HANG_XUAT_X
ALTER procedure [dbo].[SP_NHU_Y_GET_DON_HANG_XUAT_X]
	@USERNAME NVARCHAR (50) = 'admin',
	@TUNGAY DATETIME = '01/01/2010',
	@DENNGAY DATETIME = '01/01/2021',
	@KHO INT = -1,
	@ISLOCK BIT = 0
AS  
begin
       SELECT DISTINCT PX.MS_DH_XUAT_PT,PX.SO_PHIEU_XN,PX.NGAY,PX.GIO,PX.MS_KHO,PX.MS_DANG_XUAT,PX.NGUOI_NHAN,
       PX.NGAY_CHUNG_TU,SO_CHUNG_TU,MS_PHIEU_BAO_TRI,GHI_CHU,LOCK,LY_DO_XUAT,THU_KHO,MS_BP_CHIU_PHI,PX.USERNAME
       ,KHCN.TEN_NGUOI_NHAP,DANG_XUAT_VIET AS DANG_XUAT, ISNULL(PX.MS_KHO_DEN,-99) AS MS_KHO_DEN,ISNULL(PX.MS_VI_TRI_DEN,-99) AS MS_VI_TRI_DEN
        FROM IC_DON_HANG_XUAT_X PX INNER JOIN DANG_XUAT_X  DX ON DX.MS_DANG_XUAT = PX.MS_DANG_XUAT
         INNER JOIN KHACH_HANG_CONG_NHAN_XUAT KHCN ON PX.MS_DANG_XUAT = KHCN.MS_DANG_XUAT AND 
        PX.NGUOI_NHAN = KHCN.NGUOI_NHAP INNER JOIN NHOM_KHO ON PX.MS_KHO = NHOM_KHO.MS_KHO 
        INNER JOIN USERS ON NHOM_KHO.GROUP_ID = USERS.GROUP_ID 
      WHERE dbo.USERS.USERNAME = @USERNAME
      AND (CONVERT(DATE,NGAY) BETWEEN	@TUNGAY AND @DENNGAY )
	  AND (PX.MS_KHO= @KHO OR @KHO = -1 )
      AND (LOCK=@ISLOCK)
      ORDER BY PX.NGAY DESC	, PX.MS_DH_XUAT_PT DESC
end
