IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'AddNhapTuXuatThanhLy')   
exec('CREATE PROCEDURE AddNhapTuXuatThanhLy AS BEGIN SET NOCOUNT ON; END')
GO



ALTER PROCEDURE AddNhapTuXuatThanhLy
    @MsDHXTL NVARCHAR(50) = 'XTL-2007-003'
AS 


DECLARE @MsDHN NVARCHAR(50) = ''
DECLARE @NgayXuat DATETIME

--DECLARE @MS_DH_XUAT_PT nvarchar(14)
--DECLARE @MsDHN nvarchar(14) 
--SET @MS_DH_XUAT_PT = 'XTL-2007-001'
--SET @MsDHN = 'PN-1401-0004' 

UPDATE dbo.IC_DON_HANG_XUAT_X SET LOCK = 1 WHERE MS_DH_XUAT_PT = @MsDHXTL	

SELECT @NgayXuat = NGAY FROM dbo.IC_DON_HANG_XUAT_X WHERE MS_DH_XUAT_PT = @MsDHXTL
SELECT @MsDHN = [dbo].[AUTO_CREATE_SO_PHIEU_NHAP](@NgayXuat) 

	BEGIN

			INSERT into IC_DON_HANG_NHAP(MS_DH_NHAP_PT,SO_PHIEU_XN,GIO,NGAY,
											MS_KHO,MS_VI_TRI,MS_DANG_NHAP,NGUOI_NHAP,NGAY_CHUNG_TU,
											SO_CHUNG_TU,GHI_CHU, LOCK,THU_KHO,NGUOI_LAP,
											MS_DHX,NGAY_TD,MS_DH_XUAT_PT )
			SELECT @MsDHN AS MS_DH_NHAP_PT,@MsDHN SO_PHIEU_XN,CONVERT(DATETIME,GIO,101) AS GIO,NGAY,
				MS_KHO_DEN AS MS_KHO, MS_VI_TRI_DEN AS MS_VI_TRI, 9 AS MS_DANG_XUAT,NGUOI_NHAN,NGAY_CHUNG_TU, 
				SO_CHUNG_TU,GHI_CHU,1 AS LOCK,USERNAME AS THU_KHO,USERNAME,
				MS_DH_XUAT_PT,NGAY AS NGAY_TD,MS_DH_XUAT_PT
			FROM dbo.IC_DON_HANG_XUAT_X WHERE MS_DH_XUAT_PT = @MsDHXTL		
			


			
			DECLARE @DATATMP TABLE 
			(
			MS_DH_NHAP_PT NVARCHAR(30),
			MS_PT NVARCHAR(30),
			SO_LUONG_CTU FLOAT,
			SL_THUC_NHAP FLOAT,
			DON_GIA FLOAT,
			NGOAI_TE NVARCHAR(30),
			TY_GIA FLOAT,
			TY_GIA_USD FLOAT,
			MS_VT_NCC NVARCHAR(50),
			BAO_HANH_DEN_NGAY DATETIME,
			XUAT_XU NVARCHAR(50),
			THANH_TIEN FLOAT,
			GHI_CHU NVARCHAR(255),
			MS_PT_CT NVARCHAR(50),
			TEN_PT_CT NVARCHAR(255),
			Tax FLOAT,
			ID FLOAT,
			MS_CHI_TIET_DH NVARCHAR(50),
			MS_DH_NHAP_PT_GOC NVARCHAR(14), 
			ID_GOC FLOAT,
			DON_GIA_GOC FLOAT
			)
			
				
			-- INSERT IC_DON_HANG_NHAP_VAT_TU
			 insert into @DATATMP(MS_DH_NHAP_PT,MS_PT,SO_LUONG_CTU,SL_THUC_NHAP,
				DON_GIA,NGOAI_TE,TY_GIA,TY_GIA_USD,MS_VT_NCC,BAO_HANH_DEN_NGAY,XUAT_XU,
				THANH_TIEN,GHI_CHU,ID,MS_DH_NHAP_PT_GOC,DON_GIA_GOC)												
			SELECT DISTINCT @MsDHN AS MS_DH_NHAP_PT , XVT.MS_PT, SUM(XCT.SL_VT) AS SO_LUONG_CTU , SUM(XCT.SL_VT) AS SL_THUC_NHAP, 
			AVG(NVT.DON_GIA) AS DON_GIA, NVT.NGOAI_TE, AVG(NVT.TY_GIA) AS TY_GIA, AVG(NVT.TY_GIA_USD) AS TY_GIA_USD, 
				NVT.MS_VT_NCC, NVT.BAO_HANH_DEN_NGAY,NVT.XUAT_XU, 
			SUM(XCT.SL_VT) * AVG(NVT.DON_GIA) AS THANH_TIEN, NVT.GHI_CHU, 
			ROW_NUMBER()OVER( ORDER BY @MsDHN )AS ID , NVT.MS_DH_NHAP_PT AS MS_DH_NHAP_PT_GOC,AVG(NVT.DON_GIA)  AS DON_GIA_GOC
			  
			FROM         dbo.IC_DON_HANG_XUAT_X_VAT_TU AS XVT INNER JOIN
								  dbo.IC_DON_HANG_XUAT_X_VAT_TU_CHI_TIET AS XCT ON XVT.MS_DH_XUAT_PT = XCT.MS_DH_XUAT_PT AND XVT.MS_PT = XCT.MS_PT INNER JOIN
								  dbo.IC_DON_HANG_NHAP_X_VAT_TU AS NVT ON XCT.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND XCT.MS_PT = NVT.MS_PT 
			WHERE     (XVT.MS_DH_XUAT_PT = @MsDHXTL)
			GROUP BY XVT.MS_PT, NVT.NGOAI_TE, NVT.MS_VT_NCC, NVT.BAO_HANH_DEN_NGAY, NVT.XUAT_XU, NVT.GHI_CHU, NVT.MS_DH_NHAP_PT
								
								SELECT * FROM IC_DON_HANG_NHAP
			
			insert into IC_DON_HANG_NHAP_VAT_TU(MS_DH_NHAP_PT,MS_PT,SO_LUONG_CTU,SL_THUC_NHAP,
												DON_GIA,NGOAI_TE,TY_GIA,TY_GIA_USD,MS_VT_NCC,BAO_HANH_DEN_NGAY,XUAT_XU,
												THANH_TIEN,GHI_CHU,MS_PT_CT,TEN_PT_CT,Tax,ID,MS_CHI_TIET_DH,
												MS_DH_NHAP_PT_GOC,ID_GOC,DON_GIA_GOC)
			SELECT MS_DH_NHAP_PT,MS_PT,SO_LUONG_CTU,SL_THUC_NHAP,
												DON_GIA,NGOAI_TE,TY_GIA,TY_GIA_USD,MS_VT_NCC,BAO_HANH_DEN_NGAY,XUAT_XU,
												THANH_TIEN,GHI_CHU,MS_PT_CT,TEN_PT_CT,Tax,ID,MS_CHI_TIET_DH,
												MS_DH_NHAP_PT_GOC,ID_GOC,DON_GIA_GOC
							FROM @DATATMP

			DECLARE @ViTri int
			SET @ViTri = (SELECT TOP 1 MS_VI_TRI_DEN FROM IC_DON_HANG_XUAT_X WHERE MS_DH_XUAT_PT = @MsDHXTL)

			INSERT INTO IC_DON_HANG_NHAP_VAT_TU_CHI_TIET(MS_DH_NHAP_PT,MS_PT,MS_VI_TRI,SL_VT,ID)
			SELECT MS_DH_NHAP_PT,MS_PT,@ViTri AS MS_VI_TRI, SL_THUC_NHAP AS SL_VT,ID FROM @DATATMP
	
	

			
		
	end			

