
--exec SP_NHU_Y_GET_DON_HANG_NHAP_RPT 'NTL-2007-001',1
ALTER procedure [dbo].[SP_NHU_Y_GET_DON_HANG_NHAP_RPT]
@MS_DH_NHAP_PT NVARCHAR (14),
@LANGUAGE INT   
AS
BEGIN
	SELECT        T1.MS_DH_NHAP_PT, T1.SO_PHIEU_XN, T1.GIO, T1.NGAY, T1.MS_KHO, T1.MS_DANG_NHAP, T1.NGUOI_NHAP, T1.NGAY_CHUNG_TU, T1.SO_CHUNG_TU, T1.DIEM, T1.DANH_GIA, T1.GHI_CHU, T1.LOCK, T1.STT, T1.DA_HET, 
                         T1.THU_KHO, T1.MS_DDH, T1.SO_DE_XUAT, T1.NGUOI_GIAO, T1.BSXE, T1.DIEM1, T1.DIEM2, T2.MS_PT, T3.TEN_PT, T3.MS_PT_NCC, T3.QUY_CACH, 
                         CASE @LANGUAGE WHEN 1 THEN T4.TEN_2 WHEN 2 THEN T4.TEN_3 ELSE T4.TEN_1 END AS DVT, T2.SO_LUONG_CTU, T2.SL_THUC_NHAP, T2.DON_GIA, T2.NGOAI_TE, 
                         T5.TEN_NGOAI_TE, T2.TY_GIA, T2.TY_GIA_USD, T2.MS_VT_NCC, T2.BAO_HANH_DEN_NGAY, T2.SL_DA_SD, T2.XUAT_XU, T2.GHI_CHU AS GHI_CHU_CT, T2.SL_THUC_NHAP * T2.DON_GIA * T2.TY_GIA AS THANH_TIEN, 
                         T2.SL_THUC_NHAP * T2.DON_GIA * T2.TY_GIA_USD AS THANH_TIEN_USD, T6.TEN_KHO, 
                         CASE @LANGUAGE WHEN 1 THEN T7.DANG_NHAP_ANH WHEN 2 THEN T7.DANG_NHAP_HOA ELSE T7.DANG_NHAP_VIET END AS TEN_DANG_NHAP, 
                         TMP.TEN_NGUOI_NHAP
FROM            dbo.IC_DON_HANG_NHAP_X AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_X_VAT_TU AS T2 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT INNER JOIN
                         dbo.IC_PHU_TUNG AS T3 ON T2.MS_PT = T3.MS_PT INNER JOIN
                         dbo.DON_VI_TINH AS T4 ON T3.DVT = T4.DVT INNER JOIN
                         dbo.NGOAI_TE AS T5 ON T2.NGOAI_TE = T5.NGOAI_TE INNER JOIN
                         dbo.IC_KHO AS T6 ON T1.MS_KHO = T6.MS_KHO INNER JOIN
                         dbo.DANG_NHAP_X AS T7 ON T1.MS_DANG_NHAP = T7.MS_DANG_NHAP INNER JOIN
                             (SELECT        MS_CONG_NHAN AS MS_NGUOI_NHAP, HO + TEN AS TEN_NGUOI_NHAP
                               FROM            dbo.CONG_NHAN
                               UNION
                               SELECT        MS_KH AS MS_NGUOI_NHAP, TEN_CONG_TY AS TEN_NGUOI_NHAP
                               FROM            dbo.KHACH_HANG) AS TMP ON T1.NGUOI_GIAO = TMP.MS_NGUOI_NHAP
WHERE        (T1.MS_DH_NHAP_PT = @MS_DH_NHAP_PT)
END
