IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetNNgu')
   
exec('CREATE PROCEDURE spGetNNgu AS BEGIN SET NOCOUNT ON; END')

GO



ALTER PROCEDURE spGetNNgu

	@TYPE INT = 0,
	@FORM INT = -1
AS


SELECT DISTINCT T1.FORM,
ISNULL(ISNULL(T2.TEN_REPORT_VIET, T3.DESCRIPTION),(CASE @TYPE WHEN 0 THEN N'Chi tiết' WHEN 1 THEN 'details' end)) AS VIETNAM,
ISNULL(T4.VIETNAM,'') AS MENU
FROM         dbo.LANGUAGES T1 
LEFT JOIN DS_REPORT T2 ON T1.FORM = T2.REPORT_NAME
LEFT JOIN DS_FORM T3 ON T1.FORM = T3.FORM_NAME
LEFT JOIN dbo.LANGUAGES T4 ON T1.FORM = T4.FORM AND T4.KEYWORD = T1.FORM
WHERE (T1.FORM_HAY_REPORT=@FORM OR '-1' = @FORM) AND ISNULL(T1.FORM ,'')  <> ''
UNION SELECT '-1','ALL' ,'ALL'
ORDER BY T1.FORM


