
ALTER proc [dbo].[AddPHIEU_BAO_TRI1]
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@SO_PHIEU_BAO_TRI NVARCHAR (128),
	@TINH_TRANG_PBT INT,
	@MS_MAY NVARCHAR(30),
	@MS_LOAI_BT INT,
	@NGAY_LAP nvarchar(12),
	@GIO_LAP NVARCHAR(10),
	@LY_DO_BT NVARCHAR(max),
	@MS_UU_TIEN INT,
	@NGAY_BD_KH NVARCHAR(12),
	@NGAY_KT_KH NVARCHAR(12),
	@NGUOI_LAP NVARCHAR(9),
	@USERNAME_NGUOI_LAP NVARCHAR(50),
	@NGUOI_GIAM_SAT NVARCHAR(9),
	@GIO_HONG NVARCHAR(8),
	@NGAY_HONG NVARCHAR(12),
	@MS_NGUYEN_NHAN INT,
	@DEN_GIO_HONG NVARCHAR(8),
	@DEN_NGAY_HONG NVARCHAR(12)	
AS
IF LTRIM(RTRIM(@DEN_NGAY_HONG)) = '' OR  LTRIM(RTRIM(@DEN_NGAY_HONG)) = '01/01/1900'
BEGIN
SET @DEN_NGAY_HONG = null
END
IF LTRIM(RTRIM(@DEN_GIO_HONG)) = '' OR LTRIM(RTRIM(@DEN_GIO_HONG)) = '00:00:00'
BEGIN
SET @DEN_GIO_HONG = null
END

IF LTRIM(RTRIM(@NGAY_HONG)) = '' OR  LTRIM(RTRIM(@NGAY_HONG)) = '01/01/1900'
BEGIN
SET @NGAY_HONG = null
END
IF LTRIM(RTRIM(@GIO_HONG)) = '' OR LTRIM(RTRIM(@GIO_HONG)) = '00:00:00'
BEGIN
SET @GIO_HONG = null
END
declare @GIO_TMP AS DATETIME
IF @GIO_LAP='  :' 
	SET @GIO_TMP=NULL
ELSE
	SET @GIO_TMP=CONVERT(DATETIME,@GIO_LAP,114)


IF NOT EXISTS(SELECT * FROM NGUYEN_NHAN_DUNG_MAY WHERE MS_NGUYEN_NHAN = @MS_NGUYEN_NHAN)
	SET @MS_NGUYEN_NHAN = NULL
ELSE
BEGIN
	IF @MS_NGUYEN_NHAN = 10000 SET @MS_NGUYEN_NHAN = NULL
	IF @MS_NGUYEN_NHAN = -1 SET @MS_NGUYEN_NHAN = NULL		
END

DECLARE @MS_TT_CT INT
SET @MS_TT_CT = NULL
SELECT TOP 1 @MS_TT_CT = MS_TT_CT FROM TINH_TRANG_PBT_CT WHERE STT = @TINH_TRANG_PBT AND MAC_DINH = 1
		

INSERT INTO PHIEU_BAO_TRI
 (
	MS_PHIEU_BAO_TRI,SO_PHIEU_BAO_TRI,TINH_TRANG_PBT,MS_MAY,MS_LOAI_BT,NGAY_LAP,GIO_LAP,LY_DO_BT,MS_UU_TIEN,NGAY_BD_KH,NGAY_KT_KH,
	NGUOI_LAP,USERNAME_NGUOI_LAP,	NGUOI_GIAM_SAT,GIO_HONG,NGAY_HONG,MS_NGUYEN_NHAN,DEN_GIO_HONG ,DEN_NGAY_HONG,MS_TT_CT
)
values (
	@MS_PHIEU_BAO_TRI,
	@SO_PHIEU_BAO_TRI,
	@TINH_TRANG_PBT,
	@MS_MAY ,
	@MS_LOAI_BT,
	CONVERT(DATETIME,@NGAY_LAP,103) ,
	@GIO_TMP,
	@LY_DO_BT,
	@MS_UU_TIEN ,
	CONVERT (DATETIME,@NGAY_BD_KH,103) ,
	CASE @NGAY_KT_KH  WHEN '' THEN NULL ELSE CONVERT (DATETIME,@NGAY_KT_KH,103)  END ,
	@NGUOI_LAP ,
	@USERNAME_NGUOI_LAP ,
	@NGUOI_GIAM_SAT ,
	CASE @GIO_HONG WHEN '  :' THEN NULL ELSE CONVERT(DATETIME,@GIO_HONG,114) END ,
	CASE @NGAY_HONG WHEN '  /  /' THEN NULL ELSE CONVERT (DATETIME,@NGAY_HONG,103)  END,
	@MS_NGUYEN_NHAN,
	CASE @DEN_GIO_HONG WHEN '  :' THEN NULL ELSE CONVERT(DATETIME,@DEN_GIO_HONG,114) END ,
	CASE @DEN_NGAY_HONG WHEN '  /  /' THEN NULL ELSE CONVERT (DATETIME,@DEN_NGAY_HONG,103)  END,@MS_TT_CT
)

INSERT INTO PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET (MS_PHIEU_BAO_TRI,STT,MS_TT_CT,THOI_GIAN,USERNAME)
SELECT TOP 1 @MS_PHIEU_BAO_TRI, 1, @MS_TT_CT, CONVERT(DATETIME,@NGAY_LAP,103) , @USERNAME_NGUOI_LAP

select SCOPE_IDENTITY()

