ALTER procedure [dbo].[DeletePHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET]
@MS_PHIEU_BAO_TRI NVARCHAR(20),
@MS_CV INT,
@MS_BO_PHAN NVARCHAR(50),
@MS_PT NVARCHAR(30),
@STT INT
 AS
DECLARE @TMP FLOAT
DECLARE @TMP1 FLOAT
SELECT @TMP =SL_KH FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND MS_CV=@MS_CV AND MS_BO_PHAN =@MS_BO_PHAN AND MS_PT=@MS_PT

SELECT @TMP1 =SL_KH FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND MS_CV=@MS_CV AND MS_BO_PHAN =@MS_BO_PHAN AND MS_PT=@MS_PT AND STT=@STT

DELETE FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND MS_CV=@MS_CV AND MS_BO_PHAN =@MS_BO_PHAN AND MS_PT=@MS_PT AND STT=@STT

DELETE FROM dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND MS_CV=@MS_CV AND MS_BO_PHAN =@MS_BO_PHAN AND MS_PT=@MS_PT AND STT=@STT

IF @TMP>@TMP1 
	UPDATE PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG SET SL_KH=@TMP-@TMP1
	WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND MS_CV=@MS_CV AND MS_BO_PHAN =@MS_BO_PHAN AND MS_PT=@MS_PT
ELSE
BEGIN 
	IF @TMP=@TMP1
		DELETE PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND MS_CV=@MS_CV AND MS_BO_PHAN =@MS_BO_PHAN AND MS_PT=@MS_PT
	


END
