--SELECT DISTINCT CONVERT(BIT,1) AS CHON,A.MS_MAY,A.TEN_MAY, A.MS_N_XUONG, A.Ten_N_XUONG INTO BTMAY FROM dbo.MGetMayUserNgay('20220101','ADMIN','-1',-1,-1,-1,'-1','-1',0)   A

--DROP TABLE BTMAY
--ssf	
ALTER PROC [dbo].[MGetBCNguoiSuDung]
	@TNGAY DATETIME = '09/01/2020',
	@DNGAY DATETIME = '10/01/2020',
	@MS_TTRANG INT = -1 ,
	@USERNAME NVARCHAR(50) = 'admin', 	
	@NNgu INT= 0 ,
	@MayTmp NVARCHAR(100) = 'BTMAY'
AS
--A.MS_MAY, A.MS_N_XUONG, A.Ten_N_XUONG
DECLARE @sSql NVARCHAR(4000)
CREATE TABLE #MAY_TMP (MS_MAY NVARCHAR(250) NULL,TEN_MAY NVARCHAR(500) NULL, MS_N_XUONG NVARCHAR(500) NULL, TEN_N_XUONG NVARCHAR(500) NULL)  
SET @sSql = ' INSERT INTO #MAY_TMP SELECT MS_MAY,TEN_MAY,MS_N_XUONG, TEN_N_XUONG FROM ' + @MayTmp + ' WHERE ISNULL(CHON,0) = 1'
EXEC (@sSql)


SET @sSql = ' DROP TABLE ' + @MayTmp
EXEC (@sSql)

--Table tinh trang
SELECT MS_TTRANG, CASE @NNgu WHEN 0 THEN TEN_TTRANG WHEN 1 THEN TEN_TTRANG_ANH ELSE TEN_TTRANG_HOA END AS TEN_TINH_TRANG INTO #TT FROM TINH_TRANG_YCSD 
WHERE MS_TTRANG = @MS_TTRANG OR @MS_TTRANG = '-1' 
ORDER BY MS_TTRANG

--SELECT DISTINCT A.MS_MAY,A.TEN_MAY, A.MS_N_XUONG, A.Ten_N_XUONG INTO #MAY_TMP FROM dbo.MGetMayUserNgay(@DNGAY,@USERNAME,@MSNX,@MSHT,-1,-1,'-1','-1',@NNgu)   A


SELECT B.TEN_TINH_TRANG, A.* INTO #YCNSDCT FROM 
(
SELECT CASE WHEN ISNULL(USERNAME_DSX,'') = '' THEN 0
	WHEN ISNULL(USERNAME_DSX,'') <> '' AND ISNULL(THUC_HIEN_DSX,0) = 0 THEN 1
	WHEN THUC_HIEN_DSX=1 and MS_CACH_TH is null  THEN 2
	WHEN MS_CACH_TH ='06' THEN 3
	WHEN MS_CACH_TH ='01'  AND ISNULL(MS_PBT,'') = '' THEN 4
	WHEN (MS_CACH_TH ='04' OR MS_CACH_TH ='01') AND (TINH_TRANG_PBT <3) AND (ISNULL(MS_PBT,'') <> '') THEN 5
	WHEN (MS_CACH_TH = '04' OR MS_CACH_TH ='01') AND (TINH_TRANG_PBT >=3) AND (ISNULL(MS_PBT,'') <> '')  THEN 6
	WHEN MS_CACH_TH ='03' THEN 7 END AS MS_TTRANG, T1.* 
FROM YEU_CAU_NSD_CHI_TIET T1 LEFT JOIN PHIEU_BAO_TRI T2 ON T1.MS_PBT = T2.MS_PHIEU_BAO_TRI 
) A LEFT JOIN #TT B ON A.MS_TTRANG = B.MS_TTRANG




SELECT NGAY, GIO_YEU_CAU, NGUOI_YEU_CAU, A.MS_MAY,TEN_MAY, Ten_N_XUONG ,MO_TA_TINH_TRANG,A.NGAY_XAY_RA,A.GIO_XAY_RA, YEU_CAU,NGAY_HOAN_THANH, 
NOI_DUNG_XAC_NHAN, NGUOI_XAC_NHAN, MS_CACH_TH, MS_PBT, NGAY_XU_LY, GIO_XU_LY, TEN_TINH_TRANG, NOI_DUNG_CV, 
TT_SAU_BT,MS_NGUYEN_NHAN,MS_UU_TIEN,HANG_MUC_ID_KE_HOACH,THOI_GIAN_DSX,Y_KIEN_DSX,USERNAME_DBT,NGAY_DBT
 INTO #TMP
FROM 
(
	SELECT NGAY, GIO_YEU_CAU, NGUOI_YEU_CAU, A.MS_MAY,B.TEN_MAY, B.Ten_N_XUONG ,MO_TA_TINH_TRANG,A.NGAY_XAY_RA,A.GIO_XAY_RA, YEU_CAU, NGAY_HOAN_THANH,
	NOI_DUNG_XAC_NHAN,  NGUOI_XAC_NHAN, 
	TRTH AS MS_CACH_TH
	, MS_PBT, NGAY_XU_LY, GIO_XU_LY, TEN_TINH_TRANG, NOI_DUNG_CV, 
	TT_SAU_BT ,dbo.MGetTinhNX(B.MS_N_XUONG) AS TINH,dbo.MGetQuanNX(B.MS_N_XUONG) AS QUAN,
	MS_NGUYEN_NHAN,MS_UU_TIEN,HANG_MUC_ID_KE_HOACH,THOI_GIAN_DSX,Y_KIEN_DSX,USERNAME_DBT,NGAY_DBT
	 FROM
	(
		SELECT     dbo.YEU_CAU_NSD.NGAY,  CONVERT(NVARCHAR(10), GIO_YEU_CAU,108) AS GIO_YEU_CAU, dbo.YEU_CAU_NSD.NGUOI_YEU_CAU, 
			#YCNSDCT.MS_MAY, dbo.YEU_CAU_NSD.NGAY_HOAN_THANH , 
			  #YCNSDCT.MO_TA_TINH_TRANG,NGAY_XAY_RA,CONVERT(NVARCHAR(10), GIO_XAY_RA,108)AS GIO_XAY_RA, #YCNSDCT.YEU_CAU, #YCNSDCT.Y_KIEN_DBT AS NOI_DUNG_XAC_NHAN, 
			  #YCNSDCT.USERNAME_DBT AS NGUOI_XAC_NHAN, ISNULL(#YCNSDCT.MS_CACH_TH,'00') AS MS_CACH_TH , #YCNSDCT.MS_PBT, 
			  #YCNSDCT.NGAY_XU_LY, CONVERT(NVARCHAR(10),GIO_XU_LY,108) AS GIO_XU_LY , TINH_TRANG_PBT.TEN_TINH_TRANG , NOI_DUNG_CV, 
			  dbo.PHIEU_BAO_TRI.TT_SAU_BT ,
		dbo.YEU_CAU_NSD.STT,#YCNSDCT.TEN_TINH_TRANG AS TRTH,#YCNSDCT.MS_NGUYEN_NHAN,#YCNSDCT.MS_UU_TIEN,#YCNSDCT.HANG_MUC_ID_KE_HOACH,THOI_GIAN_DSX,Y_KIEN_DSX,USERNAME_DBT,NGAY_DBT
		FROM         dbo.YEU_CAU_NSD INNER JOIN
							  #YCNSDCT ON dbo.YEU_CAU_NSD.STT = #YCNSDCT.STT LEFT OUTER JOIN
							  dbo.PHIEU_BAO_TRI ON #YCNSDCT.MS_PBT = dbo.PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI
		LEFT JOIN 
		(
			Select X.MS_PHIEU_BAO_TRI, Left(X.MO_TA_CV,Len(X.MO_TA_CV)-1) As NOI_DUNG_CV
				From(Select distinct ST2.MS_PHIEU_BAO_TRI, 
					   ( SELECT B.MO_TA_CV + '; ' AS [text()]
							FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC AS ST1 INNER JOIN dbo.CONG_VIEC AS B ON ST1.MS_CV = B.MS_CV 
									INNER JOIN dbo.PHIEU_BAO_TRI AS A ON ST1.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
							WHERE     (ST1.MS_PHIEU_BAO_TRI = ST2.MS_PHIEU_BAO_TRI) AND 
									((A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY)))					
							ORDER BY ST1.MS_PHIEU_BAO_TRI   
						For XML PATH ('')) MO_TA_CV
				 From dbo.PHIEU_BAO_TRI_CONG_VIEC ST2) X	
		) D ON D.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI                      
		LEFT JOIN TINH_TRANG_PBT ON dbo.PHIEU_BAO_TRI.TINH_TRANG_PBT = TINH_TRANG_PBT.STT 
		WHERE     ((dbo.YEU_CAU_NSD.NGAY >= @TNGAY) AND (dbo.YEU_CAU_NSD.NGAY < DATEADD(d, 1, @DNGAY)))
			AND ( #YCNSDCT.MS_TTRANG = @MS_TTRANG OR @MS_TTRANG = '-1' )
			
	) A INNER JOIN #MAY_TMP B ON A.MS_MAY = B.MS_MAY
 ) A





SELECT T1.NGAY, GIO_YEU_CAU, NGUOI_YEU_CAU, T1.MS_MAY,TEN_MAY, Ten_N_XUONG ,MO_TA_TINH_TRANG,T1.NGAY_XAY_RA,T1.GIO_XAY_RA, YEU_CAU,
T2.TEN_NGUYEN_NHAN,T3.TEN_UU_TIEN,NGAY_HOAN_THANH, NOI_DUNG_XAC_NHAN, NGUOI_XAC_NHAN, 
THOI_GIAN_DSX,Y_KIEN_DSX,USERNAME_DBT,NGAY_DBT,T1.MS_CACH_TH, TEN_HANG_MUC,MS_PBT, 
NGAY_XU_LY, GIO_XU_LY, TEN_TINH_TRANG, NOI_DUNG_CV, T1.TT_SAU_BT,
T5.NGAY_NGHIEM_THU
FROM #TMP T1 LEFT JOIN NGUYEN_NHAN_DUNG_MAY T2 ON T1.MS_NGUYEN_NHAN = T2.MS_NGUYEN_NHAN
LEFT JOIN MUC_UU_TIEN T3 ON T1.MS_UU_TIEN = T3.MS_UU_TIEN
LEFT JOIN KE_HOACH_TONG_THE T4 ON T1.HANG_MUC_ID_KE_HOACH = T4.HANG_MUC_ID
LEFT JOIN PHIEU_BAO_TRI T5 ON T1.MS_PBT = T5.MS_PHIEU_BAO_TRI
ORDER BY T1.NGAY, GIO_YEU_CAU, NGUOI_YEU_CAU, T1.MS_MAY, Ten_N_XUONG