
ALTER procedure [dbo].[GetHIEU_CHUAN_MAY_Theo_MS_MAY] 
@MS_MAY NVARCHAR (30) ='CANK-ISH-004',
@USERNAME NVARCHAR(50) ='admin'
AS		
	DECLARE @NgayHT DATETIME
	SET @NgayHT = GETDATE()
	SELECT A.* INTO #MAY FROM dbo.MGetMayUserNgay(@NgayHT,@USERNAME,'-1',-1,-1,'-1','-1',@MS_MAY,0) A 

	SELECT ROW_NUMBER()OVER( ORDER BY NGAY_HC DESC)AS STT, dbo.HIEU_CHUAN_MAY.MS_MAY,MAY.TEN_MAY, CAST( CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 1 THEN MAY.CHU_KY_HC_TB ELSE 
				CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 2 THEN MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE    MAY.CHU_KY_KD_TB	END	 END AS NVARCHAR(10)) +' '+  A.TEN_DV_TG AS CHU_KY, dbo.HIEU_CHUAN_MAY.NGAY_KH, dbo.HIEU_CHUAN_MAY.NGAY_HC,
         	
         	(case when  MAY.DON_VI_THOI_GIAN =1 then 
	MAX(dbo.HIEU_CHUAN_MAY.NGAY_HC) + CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 1 THEN MAY.CHU_KY_HC_TB ELSE 
				CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 2 THEN MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE    MAY.CHU_KY_KD_TB	END	 END
else 
	case when  MAY.DON_VI_THOI_GIAN =2 THEN 
		MAX(dbo.HIEU_CHUAN_MAY.NGAY_HC) + 7*(CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 1 THEN MAY.CHU_KY_HC_TB ELSE 
				CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 2 THEN MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE    MAY.CHU_KY_KD_TB	END	 END)
	ELSE 
		case when  MAY.DON_VI_THOI_GIAN =3 THEN 
			DATEADD(MONTH,(CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 1 THEN MAY.CHU_KY_HC_TB ELSE 
				CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 2 THEN MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE    MAY.CHU_KY_KD_TB	END	 END),MAX(dbo.HIEU_CHUAN_MAY.NGAY_HC))
		else
			DATEADD(year,(CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 1 THEN MAY.CHU_KY_HC_TB ELSE 
				CASE WHEN dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = 2 THEN MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI ELSE    MAY.CHU_KY_KD_TB	END	 END),MAX(dbo.HIEU_CHUAN_MAY.NGAY_HC))
	    end
	END
END) as NGAY_KT
         	
         	,dbo.HIEU_CHUAN_MAY.GIAY_CHUNG_NHAN, 
                dbo.HIEU_CHUAN_MAY.CO_QUAN_HIEU_CHUAN, dbo.HIEU_CHUAN_MAY.DANH_GIA, dbo.LOAI_HIEU_CHUAN_MAY.TEN_LOAI_HIEU_CHUAN, dbo.HIEU_CHUAN_MAY.TAI_LIEU, 
                dbo.HIEU_CHUAN_MAY.GHI_CHU, dbo.LOAI_HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN
	FROM dbo.HIEU_CHUAN_MAY 
	LEFT OUTER JOIN dbo.LOAI_HIEU_CHUAN_MAY ON dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN = dbo.LOAI_HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN
	INNER JOIN #MAY AS MAY on dbo.HIEU_CHUAN_MAY.MS_MAY=MAY.MS_MAY
		INNER JOIN  dbo.DON_VI_THOI_GIAN A ON A.MS_DV_TG = MAY.DON_VI_THOI_GIAN
	WHERE dbo.HIEU_CHUAN_MAY.MS_MAY=@MS_MAY
	GROUP BY dbo.HIEU_CHUAN_MAY.MS_MAY,MAY.TEN_MAY,dbo.HIEU_CHUAN_MAY.NGAY_KH,dbo.HIEU_CHUAN_MAY.NGAY_HC,dbo.HIEU_CHUAN_MAY.DANH_GIA,dbo.LOAI_HIEU_CHUAN_MAY.TEN_LOAI_HIEU_CHUAN,dbo.HIEU_CHUAN_MAY.TAI_LIEU,dbo.HIEU_CHUAN_MAY.GHI_CHU,dbo.LOAI_HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN
	, MAY.CHU_KY_HC_TB, MAY.SO_THE, dbo.HIEU_CHUAN_MAY.MS_LOAI_HIEU_CHUAN,MAY.CHU_KY_HIEU_CHUAN_TB_NGOAI,MAY.CHU_KY_KD_TB
	,dbo.HIEU_CHUAN_MAY.CO_QUAN_HIEU_CHUAN, dbo.HIEU_CHUAN_MAY.GIAY_CHUNG_NHAN,MAY.DON_VI_THOI_GIAN,A.TEN_DV_TG
	ORDER BY NGAY_HC DESC, MS_MAY
