

--EXEC UpdateTHOI_GIAN_NGUNG_MAY_LAN  '1111','AN-1209-0040','19/09/2012','2:40 PM','','5D','4','4444'
ALTER procedure [dbo].[UpdateTHOI_GIAN_NGUNG_MAY_LAN]
	@MS_MAY NVARCHAR(30),
	@MS_LAN NVARCHAR(30),
	@NGAY NVARCHAR(10),
	@TU_GIO NVARCHAR(8),
	@NGUOI_GIAI_QUYET NVARCHAR(30),
	@NGUYEN_NHAN NVARCHAR(250),
	@HTUONG NVARCHAR(250),
	@NNCU_THE NVARCHAR(250),
	@NGAY_KT NVARCHAR(10),
	@GIO_KT NVARCHAR(8),
	@NGAY_SX NVARCHAR(10), 
	@TRUONG_CA NVARCHAR(250),
	@CA_ID INT,
	@MS_PHIEU_BAO_TRI NVARCHAR(50),
	@MS_NGUYEN_NHAN INT,
	@KHONG_DC BIT,
	@MS_TO INT
	
AS
UPDATE [THOI_GIAN_NGUNG_MAY_SO_LAN]
   SET [MS_MAY] = @MS_MAY
      ,[NGAY] = CONVERT(DATETIME, @NGAY,103)
      ,[TU_GIO] = CONVERT(DATETIME,@TU_GIO,114)
      ,[NGUOI_GIAI_QUYET] = @NGUOI_GIAI_QUYET
      ,[NGUYEN_NHAN] = @NGUYEN_NHAN
      ,[HIEN_TUONG] = @HTUONG
      ,[NGUYEN_NHAN_CU_THE] = @NNCU_THE
      ,[NGAY_KT] = CONVERT(DATETIME, @NGAY_KT,103)
      ,[GIO_KT] = CONVERT(DATETIME,@GIO_KT,114)
      ,NGAY_SX = CONVERT(DATETIME, @NGAY_SX,103)
      ,TRUONG_CA = @TRUONG_CA
      ,CaID = @CA_ID
      ,MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI
      ,MS_NGUYEN_NHAN = @MS_NGUYEN_NHAN
	  ,KHONG_DC = @KHONG_DC
      ,MS_TO = @MS_TO
 WHERE MS_LAN= @MS_LAN



