--exec SP_Y_GET_DON_HANG_NHAP_VAT_TU 'PN-1704-0007'
ALTER procedure [dbo].[SP_Y_GET_DON_HANG_NHAP_VAT_TU]
	@MsDHN NVARCHAR(14) ='PN-2011-0009'
as

IF @MsDHN = ''	
	SET @MsDHN = '-1'
	
begin
	SELECT     NVT.MS_DH_NHAP_PT,CASE ISNULL(NVT.MS_VT_NCC,'') WHEN '' THEN  NVT.MS_PT ELSE NVT.MS_VT_NCC END AS MS_PT, NVT.SO_LUONG_CTU, NVT.SL_THUC_NHAP, NVT.DON_GIA, NVT.NGOAI_TE, 
			NVT.TY_GIA, NVT.TY_GIA_USD, NVT.MS_VT_NCC, NVT.BAO_HANH_DEN_NGAY, NVT.SL_DA_SD, NVT.XUAT_XU, 
			ISNULL(NVT.THANH_TIEN,0) AS THANH_TIEN, 
			NVT.GHI_CHU,
		CONVERT (FLOAT, ISNULL(NVT.SL_THUC_NHAP,0) * ISNULL(NVT.DON_GIA_GOC,0) * ISNULL(NVT.TY_GIA,0))  AS THANH_TIEN_VND, 
			
		CONVERT (FLOAT, ISNULL(NVT.SL_THUC_NHAP,0) * ISNULL(NVT.DON_GIA_GOC,0) * ISNULL(NVT.TY_GIA,0)) + CONVERT (FLOAT,DON_GIA_GOC) * ISNULL(NVT.TY_GIA,0) * (NVT.TAX / 100 ) * ISNULL(NVT.SL_THUC_NHAP,0)  AS THANH_TIEN_ST,	
			(ISNULL(NVT.THANH_TIEN,0)/ ISNULL(NVT.TY_GIA,0)) * ISNULL(NVT.TY_GIA_USD,0) AS THANH_TIEN_USD, PT.MS_PT_NCC AS PART_NO, 
			CASE ISNULL(NVT.TEN_PT_CT,'') WHEN '' THEN  PT.TEN_PT ELSE NVT.TEN_PT_CT END AS TEN_PT, PT.QUY_CACH, DVT.TEN_1 AS DVT, PT.MS_VI_TRI AS VI_TRI, NVT.MS_PT_CT, NVT.TEN_PT_CT, 
			
			NVT.TAX , 
			
			NVT.ID, NVT.MS_CHI_TIET_DH, NVT.MS_DH_NHAP_PT_GOC , NVT.ID_GOC, CONVERT (FLOAT,0) AS SL_MAX,
			
			CONVERT (FLOAT,DON_GIA_GOC) * ISNULL(NVT.TY_GIA,0) * (NVT.TAX / 100 )* ISNULL(NVT.SL_THUC_NHAP,0) AS TT_TAX ,
			
			NVT.DON_GIA_GOC,
			ISNULL(NVT.DON_GIA,0) * ISNULL(NVT.TY_GIA,0) AS DON_GIA_VND , 
			
			ISNULL(NVT.DON_GIA,0) * ISNULL(NVT.TY_GIA_USD,0) / ISNULL(NVT.TY_GIA,0) AS DON_GIA_USD, 			
			
			TONG_CP_NHAP_KHAU_VT ,TONG_THUE_NK ,TONG_PHI_VAN_CHUYEN,TONG_PHI_BAO_HIEM,
			TONG_THUE_NHA_THAU,TONG_PHI6,TONG_PHI7,TONG_PHI8,TONG_PHI9,TONG_CP_KHAC_VT,
			
			ISNULL(TONG_CP_NHAP_KHAU_VT,0) +  ISNULL(TONG_THUE_NK, 0) + ISNULL(TONG_PHI_VAN_CHUYEN,0) + ISNULL(TONG_PHI_BAO_HIEM,0) + 
			ISNULL(TONG_THUE_NHA_THAU,0) + ISNULL(TONG_PHI6,0) + ISNULL(TONG_PHI7,0) + ISNULL(TONG_PHI8,0) + 
			ISNULL(TONG_PHI9,0) + ISNULL(TONG_CP_KHAC_VT,0) AS TONG_CP,NVT.DON_GIA_GOC * ISNULL(NVT.TY_GIA,0) AS DON_GIA_GOC_VND 
	FROM         dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT INNER JOIN
		  dbo.IC_PHU_TUNG AS PT ON NVT.MS_PT = PT.MS_PT INNER JOIN
		  dbo.DON_VI_TINH AS DVT ON PT.DVT = DVT.DVT
	WHERE MS_DH_NHAP_PT = @MsDHN 
	ORDER BY NVT.MS_PT,PT.TEN_PT, PT.QUY_CACH
end

