
ALTER PROC [dbo].[H_UPDATE_IC_PHU_TUNG]
	@MS_PT nvarchar(25),
	@MS_PT_NCC nvarchar(25),
	@MS_PT_CTY nvarchar(25),
	@MS_KH varchar(20),
	@TEN_PT nvarchar(100),
	@TEN_PT_VIET nvarchar(250),
	@TON_TOI_THIEU SMALLINT,
	@DVT NVARCHAR(10),
	@SL_DA_DAT_CHUA_MUA SMALLINT,
	@MS_CACH_DAT_HANG INT,
	@SO_NGAY_DAT_MUA_HANG INT,
	@DUNG_CU_DO BIT,
	@HANG_NGOAI BIT,
	@QUY_CACH NVARCHAR(255),
	@ANH_PT NVARCHAR(100),
	@MS_LOAI_VT NVARCHAR(100),
	@MS_PT_tmp nvarchar(25),
	@MS_HSX INT,
	@MS_VI_TRI INT , 
	@MS_CLASS INT ,
	@TON_KHO_MAX float, 
	@SERVICE_ID INT,
	@THEO_KHO BIT,
	@USER_UPDATE_PT NVARCHAR(50),
	@KY_PB	[int],
	@VAT_TU_PT	BIT,
	@TAI_SD	BIT
AS

DECLARE @NgayUpdate Datetime
set @NgayUpdate = GETDATE()

if @MS_CLASS = -1 set @MS_CLASS = NULL
if @SERVICE_ID = -1 set @SERVICE_ID = NULL
if @MS_HSX = -1 set @MS_HSX = NULL
if @MS_KH = '-1' set @MS_KH = NULL
if @MS_CLASS = -1 set @MS_CLASS = NULL
if @MS_VI_TRI = -1 set @MS_VI_TRI = NULL    

if NOT EXISTS (SELECT * FROM VI_TRI_KHO WHERE MS_VI_TRI = @MS_VI_TRI) SET @MS_VI_TRI = NULL

UPDATE [IC_PHU_TUNG] SET  
	MS_PT = @MS_PT,[MS_PT_NCC] = @MS_PT_NCC, [MS_PT_CTY] = @MS_PT_CTY, [MS_KH] = @MS_KH, [TEN_PT] =@TEN_PT, 
	[TEN_PT_VIET] =@TEN_PT_VIET, [TON_TOI_THIEU] = @TON_TOI_THIEU, [DVT] = @DVT, [SL_DA_DAT_CHUA_MUA] = @SL_DA_DAT_CHUA_MUA, 
	[MS_CACH_DAT_HANG]=@MS_CACH_DAT_HANG, [SO_NGAY_DAT_MUA_HANG] = @SO_NGAY_DAT_MUA_HANG,[DUNG_CU_DO] =@DUNG_CU_DO, 
	[HANG_NGOAI] =@HANG_NGOAI,[QUY_CACH] = @QUY_CACH, [ANH_PT] =@ANH_PT, MS_LOAI_VT=@MS_LOAI_VT,[MS_HSX]=@MS_HSX,
	MS_VI_TRI=@MS_VI_TRI, 	MS_CLASS = @MS_CLASS,	TON_KHO_MAX = @TON_KHO_MAX,
	SERVICE_ID = @SERVICE_ID, [THEO_KHO] = @THEO_KHO,
	USER_UPDATE_PT	= @USER_UPDATE_PT, NGAY_UPDATE_PT = @NgayUpdate,
	KY_PB = @KY_PB,VAT_TU_PT = @VAT_TU_PT,TAI_SD =@TAI_SD
WHERE MS_PT = @MS_PT_tmp

if @THEO_KHO = 1 
begin
	UPDATE [IC_PHU_TUNG] SET MS_VI_TRI = NULL WHERE MS_PT = @MS_PT_tmp
end
ELSE
BEGIN
	DELETE FROM IC_PHU_TUNG_KHO WHERE MS_PT = @MS_PT_tmp
END