ALTER procedure [dbo].[SP_Y_INSERT_DON_HANG_NHAP_VAT_TU]
	@MS_DH_NHAP_PT nvarchar(14),     @MS_PT nvarchar(25),
	@SO_LUONG_CTU float,     @SL_THUC_NHAP float,
	@DON_GIA float,     @NGOAI_TE nvarchar(6),
	@TY_GIA float,     @TY_GIA_USD float,
	@MS_VT_NCC nvarchar(20),     @BAO_HANH_DEN_NGAY datetime,
	@SL_DA_SD float,     @XUAT_XU nvarchar(50),
	@THANH_TIEN float,     @GHI_CHU nvarchar(255),
	@MS_PT_CT NVARCHAR(50),     @TEN_PT_CT NVARCHAR(255),
	@Tax float,	 @ID float,
	@MS_CHI_TIET_DH NVARCHAR(50),     @MS_DH_NHAP_PT_GOC nvarchar(14),
	@ID_GOC float,	 @TT_TAX float,
	@DON_GIA_GOC FLOAT,	 @TONG_CP_NHAP_KHAU_VT FLOAT, 
	@TONG_THUE_NK FLOAT, 	 @TONG_PHI_VAN_CHUYEN  FLOAT, 
	@TONG_PHI_BAO_HIEM  FLOAT, 	 @TONG_THUE_NHA_THAU  FLOAT, 
	@TONG_PHI6 FLOAT, @TONG_PHI7  FLOAT, 
	@TONG_PHI8  FLOAT, @TONG_PHI9  FLOAT, 
	@TONG_CP_KHAC_VT  FLOAT
as
begin
      insert into IC_DON_HANG_NHAP_VAT_TU(MS_DH_NHAP_PT,MS_PT,SO_LUONG_CTU,SL_THUC_NHAP,
			DON_GIA,NGOAI_TE,TY_GIA,TY_GIA_USD,MS_VT_NCC,BAO_HANH_DEN_NGAY,SL_DA_SD,XUAT_XU,
			THANH_TIEN,GHI_CHU,MS_PT_CT,TEN_PT_CT,Tax,ID,MS_CHI_TIET_DH,MS_DH_NHAP_PT_GOC,ID_GOC,TT_TAX ,DON_GIA_GOC , 
			TONG_CP_NHAP_KHAU_VT,TONG_THUE_NK,TONG_PHI_VAN_CHUYEN ,TONG_PHI_BAO_HIEM ,TONG_THUE_NHA_THAU ,
			TONG_PHI6,TONG_PHI7 ,TONG_PHI8 ,TONG_PHI9 ,TONG_CP_KHAC_VT 
			)
      values (@MS_DH_NHAP_PT,@MS_PT,@SO_LUONG_CTU,@SL_THUC_NHAP,
            @DON_GIA,@NGOAI_TE,@TY_GIA,@TY_GIA_USD,@MS_VT_NCC,@BAO_HANH_DEN_NGAY,@SL_DA_SD,@XUAT_XU,
			@THANH_TIEN,@GHI_CHU,@MS_PT,@TEN_PT_CT,@Tax,@ID,@MS_CHI_TIET_DH,@MS_DH_NHAP_PT_GOC,@ID_GOC,@TT_TAX , @DON_GIA_GOC, 
			@TONG_CP_NHAP_KHAU_VT,@TONG_THUE_NK,@TONG_PHI_VAN_CHUYEN ,@TONG_PHI_BAO_HIEM ,@TONG_THUE_NHA_THAU ,
			@TONG_PHI6,@TONG_PHI7 ,@TONG_PHI8 ,@TONG_PHI9 ,@TONG_CP_KHAC_VT
			)
end
