
--exec UPDATE_CONG_VIEC_LOG 53,'frmDanhmuccongviec','admin',2
ALTER  proc [dbo].[UPDATE_CONG_VIEC_LOG]
	@ID INT,
	@FORM_NAME NVARCHAR(255), 
	@USER_SIGN NVARCHAR(255)	,
	@THAO_TAC INT 
AS
	
	DECLARE @CreateDate DATETIME = GETDATE()
	DECLARE @IDLog BIGINT = -1
	declare @Count INT
    
	set @Count=ISNULL(( SELECT MAX(ID) FROM dbo.W_LOG WHERE TABLE_NAME='CONG_VIEC' AND FORM_NAME=@FORM_NAME AND USER_SIGN=@USER_SIGN AND CONVERT(DATE,NGAY)=CONVERT(DATE,@CreateDate) AND THAOTAC = @THAO_TAC
	),0)

	IF @Count =0 
	BEGIN
	    INSERT INTO W_LOG(FORM_NAME,USER_SIGN,NGAY,TABLE_NAME,THAOTAC)
		SELECT @FORM_NAME,@USER_SIGN,@CreateDate,'CONG_VIEC',@THAO_TAC
			
		SELECT @IDLog = SCOPE_IDENTITY()
	END
	ELSE
	BEGIN
	    SET	@IDLog = @count
		UPDATE dbo.W_LOG SET NGAY = @CreateDate	WHERE  ID = @IDLog 
	END		
	
	
	
	
	INSERT INTO W_CONG_VIEC( MS_CV,MA_CV,KY_HIEU_CV,MS_LOAI_CV,MO_TA_CV,MO_TA_CV_ANH,MO_TA_CV_HOA
      ,PATH_HD,MS_LOAI_MAY,THOI_GIAN_DU_KIEN,THAO_TAC,TIEU_CHUAN_KT,GHI_CHU
      ,MS_CHUYEN_MON,MS_BAC_THO,AN_TOAN,DINH_MUC,NGOAI_TE,FORM_NAME,USER_SIGN,ID,STT_LOG,CREATEDATE,THAOTAC,SO_NGUOI,YEU_CAU_NS,YEU_CAU_DUNG_CU,ID_LOG )
	SELECT  MS_CV,MA_CV,KY_HIEU_CV,MS_LOAI_CV,MO_TA_CV,MO_TA_CV_ANH,MO_TA_CV_HOA
      ,PATH_HD,MS_LOAI_MAY,THOI_GIAN_DU_KIEN,THAO_TAC,TIEU_CHUAN_KT,GHI_CHU
      ,MS_CHUYEN_MON,MS_BAC_THO,AN_TOAN,DINH_MUC,NGOAI_TE,@FORM_NAME,@USER_SIGN,NULL ,( SELECT COUNT(*)+1 FROM W_CONG_VIEC WHERE  MS_CV=@ID),@CreateDate,@THAO_TAC,SO_NGUOI,YEU_CAU_NS,YEU_CAU_DUNG_CU,@IDLog
	FROM CONG_VIEC WHERE  MS_CV=@ID


