
ALTER proc [dbo].[UpdateNHA_XUONG_LOG]
	@ID NVARCHAR(50),
	@FORM_NAME NVARCHAR(50),
	@USER_SIGN NVARCHAR(50)	,
	@THAO_TAC INT 
AS

    DECLARE @CreateDate DATETIME = GETDATE()
	DECLARE @IDLog BIGINT = -1
	declare @Count INT
	set @Count=ISNULL(( SELECT MAX(ID) FROM dbo.W_LOG WHERE TABLE_NAME='NHA_XUONG' AND FORM_NAME=@FORM_NAME AND USER_SIGN=@USER_SIGN AND CONVERT(DATE,NGAY)=CONVERT(DATE,@CreateDate) AND THAOTAC = @THAO_TAC
	),0)

	IF @Count =0 
	BEGIN
		INSERT INTO W_LOG(FORM_NAME,USER_SIGN,NGAY,TABLE_NAME,THAOTAC)
		SELECT @FORM_NAME,@USER_SIGN,@CreateDate,'NHA_XUONG',@THAO_TAC
		SELECT @IDLog = SCOPE_IDENTITY()
	END
	ELSE
	BEGIN
	    SET	@IDLog = @count
		UPDATE dbo.W_LOG SET NGAY = @CreateDate	WHERE  ID = @IDLog 
	END		

	INSERT INTO W_NHA_XUONG(MS_N_XUONG,MS_CHA,Ten_N_XUONG,TEN_N_XUONG_A,TEN_N_XUONG_H,TRU_SO,NGUOI_DAI_DIEN,DIEN_THOAI,				MS_QG,MS_DUONG,DIA_CHI,DIEN_TICH ,KHOANG_CACH,GHI_CHU,MS_DON_VI,HINH_ANH,FORM_NAME,USER_SIGN,ID,STT_LOG,CREATEDATE,THAO_TAC,ID_LOG)
	SELECT MS_N_XUONG,MS_CHA,Ten_N_XUONG,TEN_N_XUONG_A,TEN_N_XUONG_H,TRU_SO,NGUOI_DAI_DIEN,DIEN_THOAI,
			MS_QG,MS_DUONG,DIA_CHI,DIEN_TICH ,KHOANG_CACH,GHI_CHU,MS_DON_VI,HINH_ANH,@FORM_NAME,@USER_SIGN,NULL ,( SELECT COUNT(*)+1 FROM W_NHA_XUONG WHERE MS_N_XUONG=@ID),@CreateDate,@THAO_TAC,@IDLog
	FROM NHA_XUONG WHERE MS_N_XUONG=@ID
