
ALTER proc [dbo].[UPDATE_LOAI_BAO_TRI_QH_LOG]
	@ID NVARCHAR(50),
	@ID1 NVARCHAR(50),
	@FORM_NAME NVARCHAR(50),
	@USER_SIGN NVARCHAR(50)	,
	@THAO_TAC INT 
AS
	declare @Count INT
    DECLARE @CreateDate DATETIME = GETDATE()
	DECLARE @IDLog BIGINT = -1

	set @count=ISNULL(( select count(FORM_NAME) FROM W_LOG WHERE TABLE_NAME='LOAI_BAO_TRI_QH' AND FORM_NAME=@FORM_NAME AND USER_SIGN=@USER_SIGN AND CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,20))=CONVERT(DATETIME,CONVERT(NVARCHAR(10),@CreateDate,20))),0)
	IF @COUNT =0
	BEGIN
		INSERT INTO W_LOG(FORM_NAME,USER_SIGN,NGAY,TABLE_NAME,THAOTAC)
		SELECT @FORM_NAME,@USER_SIGN,@CreateDate,'LOAI_BAO_TRI_QH',@THAO_TAC
		
		SELECT @IDLog = SCOPE_IDENTITY()
	END

	INSERT INTO W_LOAI_BAO_TRI_QH( MS_LOAI_BT_CT,MS_LOAI_BT_CD,FORM_NAME,USER_SIGN,ID,STT_LOG,CREATEDATE,THAO_TAC,ID_LOG)
	SELECT  MS_LOAI_BT_CT,MS_LOAI_BT_CD,@FORM_NAME,@USER_SIGN,NULL ,( SELECT COUNT(*)+1 FROM W_LOAI_BAO_TRI_QH WHERE MS_LOAI_BT_CT=@ID AND MS_LOAI_BT_CD=@ID1 ),@CreateDate,@THAO_TAC,@IDLog
	FROM LOAI_BAO_TRI_QH WHERE MS_LOAI_BT_CT=@ID  AND MS_LOAI_BT_CD=@ID1
