--SELECT * FROM dbo.W_HE_THONG ORDER BY CREATEDATE DESC

ALTER proc [dbo].[UPDATE_HE_THONG_LOG]
	@ID NVARCHAR(50) = '1',
	@FORM_NAME NVARCHAR(50) = 'frmDanhmuchethong',
	@USER_SIGN NVARCHAR(50) = 'ad'	,
	@THAO_TAC INT = 1
AS
    DECLARE @CreateDate DATETIME = GETDATE()
	DECLARE @IDLog BIGINT = -1

	DECLARE @Count BIGINT
	set @count=ISNULL(( select MAX(ID) FROM W_LOG WHERE TABLE_NAME='HE_THONG' AND FORM_NAME=@FORM_NAME AND USER_SIGN=@USER_SIGN AND CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,20))=CONVERT(DATETIME,CONVERT(NVARCHAR(10),@CreateDate,20))),0)

	IF @COUNT =0
	BEGIN
		INSERT INTO W_LOG(FORM_NAME,USER_SIGN,NGAY,TABLE_NAME,THAOTAC)
		SELECT @FORM_NAME,@USER_SIGN,@CreateDate,'HE_THONG',@THAO_TAC
	
		SELECT @IDLog = SCOPE_IDENTITY()		    
	END
	ELSE
	BEGIN
	    SET	@IDLog = @count
		UPDATE dbo.W_LOG SET NGAY = @CreateDate	WHERE  ID = @IDLog 
	END

	INSERT INTO W_HE_THONG(MS_HE_THONG,TEN_HE_THONG,FORM_NAME,USER_SIGN,ID,STT_LOG,CREATEDATE,THAO_TAC, GHI_CHU, NO_LINE, MA_HE_THONG,ID_LOG)
	SELECT MS_HE_THONG,TEN_HE_THONG,@FORM_NAME,@USER_SIGN,NULL ,( SELECT COUNT(*)+1 FROM W_HE_THONG WHERE MS_HE_THONG=@ID ),@CreateDate,@THAO_TAC, GHI_CHU, NO_LINE,MA_HE_THONG,@IDLog
	FROM HE_THONG WHERE MS_HE_THONG=@ID 
