
ALTER proc [dbo].[UPDATE_HIEU_CHUAN_DHD_LOG]
	@MS_MAY NVARCHAR(50),
	@MS_PT NVARCHAR(50),
	@MS_VI_TRI NVARCHAR(50),
	@NGAY_HC DATETIME,
	@FORM_NAME NVARCHAR(50),
	@USER_SIGN NVARCHAR(50)	,
	@THAO_TAC INT 
AS
	declare @Count INT
    DECLARE @CreateDate DATETIME = GETDATE()
	DECLARE @IDLog BIGINT = 0

	set @Count=ISNULL(( SELECT MAX(ID) FROM dbo.W_LOG WHERE TABLE_NAME='HIEU_CHUAN_DHD' AND FORM_NAME=@FORM_NAME AND USER_SIGN=@USER_SIGN AND CONVERT(DATE,NGAY)=CONVERT(DATE,@CreateDate) AND THAOTAC = @THAO_TAC
	),0)

	IF @COUNT =0
	BEGIN
	    INSERT INTO W_LOG(FORM_NAME,USER_SIGN,NGAY,TABLE_NAME,THAOTAC)
		SELECT @FORM_NAME,@USER_SIGN,@CreateDate,'HIEU_CHUAN_DHD',@THAO_TAC

		SELECT @IDLog = SCOPE_IDENTITY()
	END
	ELSE
	BEGIN
	    SET	@IDLog = @count
		UPDATE dbo.W_LOG SET NGAY = @CreateDate	WHERE  ID = @IDLog 
	END		
		
	
	INSERT INTO W_HIEU_CHUAN_DHD( MS_MAY , MS_PT , MS_VI_TRI , NGAY , GIAY_CHUNG_NHAN , CO_QUAN_HIEU_CHUAN , DANH_GIA , NOI , MS_LOAI_HIEU_CHUAN , NGAY_KH 
				, DUONG_DAN , GHI_CHU , MAC_DINH , DD_GOC ,FORM_NAME,USER_SIGN,ID,STT_LOG,CREATEDATE,THAO_TAC,ID_LOG)
	SELECT  MS_MAY , MS_PT , MS_VI_TRI , NGAY , GIAY_CHUNG_NHAN , CO_QUAN_HIEU_CHUAN , DANH_GIA , NOI , MS_LOAI_HIEU_CHUAN , NGAY_KH 
			, DUONG_DAN , GHI_CHU , MAC_DINH , DD_GOC ,@FORM_NAME,@USER_SIGN,NULL ,
	( SELECT COUNT(*)+1 FROM W_HIEU_CHUAN_DHD WHERE MS_MAY=@MS_MAY  AND DAY(NGAY) =DAY(@NGAY_HC) AND MONTH(NGAY)=MONTH(@NGAY_HC) AND YEAR(NGAY)=YEAR(@NGAY_HC) AND  MS_PT =@MS_PT AND MS_VI_TRI=@MS_VI_TRI),@CreateDate,@THAO_TAC,@IDLog
	FROM HIEU_CHUAN_DHD WHERE MS_MAY=@MS_MAY  AND DAY(NGAY) =DAY(@NGAY_HC) AND MONTH(NGAY)=MONTH(@NGAY_HC) AND YEAR(NGAY)=YEAR(@NGAY_HC) AND  MS_PT =@MS_PT AND MS_VI_TRI=@MS_VI_TRI
