
ALTER proc [dbo].[UPDATE_LOAI_BAO_TRI_LOG]
	@ID NVARCHAR(50) = 63,
	@FORM_NAME NVARCHAR(50) = 'frmBaoTri',
	@USER_SIGN NVARCHAR(50)	= 'ADMIN',
	@THAO_TAC INT = 2
AS

	declare @Count INT
    DECLARE @CreateDate DATETIME = GETDATE()
	DECLARE @IDLog BIGINT = -1

	select @Count = ISNULL(MAX(ID),0) FROM W_LOG WHERE TABLE_NAME='LOAI_BAO_TRI' AND FORM_NAME=@FORM_NAME AND USER_SIGN=@USER_SIGN AND CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,20))=CONVERT(DATETIME,CONVERT(NVARCHAR(10),@CreateDate,20))

	IF @COUNT = 0
	BEGIN
		INSERT INTO W_LOG(FORM_NAME,USER_SIGN,NGAY,TABLE_NAME,THAOTAC)
		SELECT @FORM_NAME,@USER_SIGN,@CreateDate,'LOAI_BAO_TRI',@THAO_TAC
		SELECT @IDLog = SCOPE_IDENTITY()
	END
	ELSE	
	BEGIN
		SET	@IDLog = @count
		UPDATE dbo.W_LOG SET NGAY = @CreateDate	WHERE  ID = @IDLog
	END
		

	INSERT INTO W_LOAI_BAO_TRI(MS_LOAI_BT,TEN_LOAI_BT,THU_TU,MS_HT_BT,GHI_CHU,HU_HONG,FORM_NAME,USER_SIGN,ID,STT_LOG,CREATEDATE,THAO_TAC,ID_LOG)
	SELECT MS_LOAI_BT,TEN_LOAI_BT,THU_TU,MS_HT_BT,GHI_CHU,HU_HONG,@FORM_NAME,@USER_SIGN,NULL ,( SELECT COUNT(*)+1 FROM W_LOAI_BAO_TRI WHERE MS_LOAI_BT=@ID ),@CreateDate,@THAO_TAC,@IDLog
	FROM LOAI_BAO_TRI WHERE MS_LOAI_BT=@ID

