
ALTER proc [dbo].[UPDATE_HINH_THUC_BAO_TRI_LOG]
	@ID NVARCHAR(50),
	@FORM_NAME NVARCHAR(50),
	@USER_SIGN NVARCHAR(50)	,
	@THAO_TAC INT 
AS
	declare @Count INT
    DECLARE @CreateDate DATETIME = GETDATE()
	DECLARE @IDLog BIGINT = -1

	set @count=ISNULL(( select count(FORM_NAME) FROM W_LOG WHERE TABLE_NAME='HINH_THUC_BAO_TRI' AND FORM_NAME=@FORM_NAME AND USER_SIGN=@USER_SIGN AND CONVERT(DATETIME,CONVERT(NVARCHAR(10),NGAY,20))=CONVERT(DATETIME,CONVERT(NVARCHAR(10),GETDATE(),20))),0)

	IF @COUNT =0
	BEGIN
		INSERT INTO W_LOG(FORM_NAME,USER_SIGN,NGAY,TABLE_NAME,THAOTAC)
		SELECT @FORM_NAME,@USER_SIGN,@CreateDate,'HINH_THUC_BAO_TRI',@THAO_TAC
		SELECT @IDLog = SCOPE_IDENTITY()
	END

	INSERT INTO W_HINH_THUC_BAO_TRI(MS_HT_BT,TEN_HT_BT,PHONG_NGUA,FORM_NAME,USER_SIGN,ID,STT_LOG,CREATEDATE,THAO_TAC,ID_LOG)
	SELECT MS_HT_BT,TEN_HT_BT,PHONG_NGUA,@FORM_NAME,@USER_SIGN,NULL ,( SELECT COUNT(*)+1 FROM W_HINH_THUC_BAO_TRI WHERE MS_HT_BT=@ID ),@CreateDate,@THAO_TAC,@IDLog
	FROM HINH_THUC_BAO_TRI WHERE MS_HT_BT=@ID
