
ALTER procedure [dbo].[SP_Y_GET_DXMH_PT_RPT]
@MS_DE_XUAT NVARCHAR (50) = 'DX-2012-0001',
@LANGUAGE INT = 0
AS
BEGIN
SELECT     dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT, dbo.DE_XUAT_MUA_HANG_CHI_TIET.TEN_PT, dbo.DE_XUAT_MUA_HANG_CHI_TIET.PART_NO, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.QUY_CACH, dbo.DE_XUAT_MUA_HANG_CHI_TIET.DVT, dbo.DE_XUAT_MUA_HANG_CHI_TIET.NHAN_HIEU, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.HANG_SX, dbo.DE_XUAT_MUA_HANG_CHI_TIET.CONG_DUNG, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.HAN_SU_DUNG, dbo.DE_XUAT_MUA_HANG_CHI_TIET.TON_KHO, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.TON_MIN, dbo.DE_XUAT_MUA_HANG_CHI_TIET.TON_MAX, dbo.DE_XUAT_MUA_HANG_CHI_TIET.DA_DAT_MUA, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.DA_DE_XUAT, dbo.DE_XUAT_MUA_HANG_CHI_TIET.SL_DE_XUAT, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.SL_DA_DUYET, dbo.DE_XUAT_MUA_HANG_CHI_TIET.DON_GIA, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.NGOAI_TE, dbo.DE_XUAT_MUA_HANG_CHI_TIET.TY_GIA, dbo.DE_XUAT_MUA_HANG_CHI_TIET.TY_GIA_USD, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.THANH_TIEN, dbo.DE_XUAT_MUA_HANG_CHI_TIET.THANH_TIEN_VND, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.THANH_TIEN_USD, dbo.DE_XUAT_MUA_HANG_CHI_TIET.SO_HOA_DON, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.NHA_CUNG_CAP, dbo.DE_XUAT_MUA_HANG_CHI_TIET.NGAY_GIAO_HANG, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.NGAY_DE_XUAT_CUOI, dbo.DE_XUAT_MUA_HANG_CHI_TIET.NHA_CUNG_CAP_CUOI, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.DON_GIA_CUOI, dbo.DE_XUAT_MUA_HANG_CHI_TIET.NGOAI_TE_CUOI, 
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET.GHI_CHU, dbo.IC_PHU_TUNG.ANH_PT,MS_PT_CTY
FROM         dbo.DE_XUAT_MUA_HANG_CHI_TIET INNER JOIN
                      dbo.IC_PHU_TUNG ON dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_PT = dbo.IC_PHU_TUNG.MS_PT
WHERE dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT = @MS_DE_XUAT
END
