 --EXEC spBaoCaoBaoTriDinhKyTheoNam '2021', 'admin', '-1', -1,-1, '-1',-1,-1,0
 IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spBaoCaoBaoTriDinhKyTheoNam')
   exec('CREATE PROCEDURE spBaoCaoBaoTriDinhKyTheoNam AS BEGIN SET NOCOUNT ON; END')
 GO
ALTER PROCEDURE [dbo].[spBaoCaoBaoTriDinhKyTheoNam]
    @NAM NVARCHAR(5) ,
    @USERNAME NVARCHAR(50) ,
    @MS_NHA_XUONG NVARCHAR(50) ,
    @MS_HE_THONG INT ,
	@MsBPCP INT =-1,
    @MS_LOAI_MAY NVARCHAR(20),
	@MsNhomMay NVARCHAR(30) ='-1',
    @MsLoaiCV INT =-1,
    @LANGUAGE INT

AS
    BEGIN
--LOAIBT -1: TẤT CẢ	
--LOAIBT 1: Định Tính
--LOAIBT 0: định lượng  
        DECLARE @tNgay AS NVARCHAR(15) = '01/01/' + @NAM
        DECLARE @dNgay AS NVARCHAR(15) = '12/31/' + @NAM
        SELECT  A.*
        INTO    #MAY
        FROM    dbo.MGetMayUserNgay(GETDATE(), @USERNAME, @MS_NHA_XUONG, @MS_HE_THONG,
                                    @MsBPCP, @MS_LOAI_MAY,@MsNhomMay,'-1', @LANGUAGE) A


SELECT     TOP (100) PERCENT A.MS_MAY, A.MS_LOAI_BT, A.NGAY_HC_CUOI , A.CHU_KY, A.MS_DV_TG, A.NGAY_KE, CONVERT(INT,1) AS CO_BT INTO #HIEU_CHUAN_KE
FROM         dbo.MGetNgayHieuChuanKeBaoTri(@tNgay,@dNgay,@USERNAME, @MS_NHA_XUONG,@MS_HE_THONG,@MS_LOAI_MAY,@MsNhomMay,1) AS A  INNER JOIN #MAY T1 ON T1.MS_MAY = A.MS_MAY
ORDER BY A.MS_MAY, A.MS_LOAI_BT, A.NGAY_HC_CUOI, A.CHU_KY, A.MS_DV_TG, A.NGAY_KE


--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con

UPDATE T1
SET	T1.CO_BT = -1
 FROM        dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      #HIEU_CHUAN_KE AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_KE) >= T2.NGAY_KE 
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_KE) <= T2.NGAY_KE 
 
--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con trong PBT
UPDATE T1
SET	T1.CO_BT = -1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      PHIEU_BAO_TRI AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_KE) >= T2.NGAY_BD_KH 
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_KE) <= T2.NGAY_BD_KH


--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con trong KHTT 
UPDATE T1
SET	T1.CO_BT = -1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      KE_HOACH_TONG_THE AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_KE) >= T2.NGAY
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_KE) <= T2.NGAY


	UPDATE #HIEU_CHUAN_KE SET CO_BT = -1
	FROM #HIEU_CHUAN_KE T INNER JOIN
	dbo.KE_HOACH_TONG_THE T1 ON T.MS_MAY = T1.MS_MAY AND 	T.MS_LOAI_BT = T1.MS_LOAI_BT 
	WHERE DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_KE) >= T1.NGAY 
		AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_KE) <= T1.NGAY 
	
	UPDATE #HIEU_CHUAN_KE SET CO_BT = -1
	FROM #HIEU_CHUAN_KE T INNER JOIN dbo.PHIEU_BAO_TRI T1 ON T.MS_MAY = T1.MS_MAY AND T.MS_LOAI_BT = T1.MS_LOAI_BT 
	WHERE DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_KE) >= T1.NGAY_BD_KH 
	AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_KE) <= T1.NGAY_BD_KH 




INSERT INTO #HIEU_CHUAN_KE
(
    MS_MAY,
    MS_LOAI_BT,
    NGAY_HC_CUOI,
    CHU_KY,
    MS_DV_TG,
    NGAY_KE,
	CO_BT
)
SELECT DISTINCT A.MS_MAY,A.MS_LOAI_BT,B.NGAY_HC_CUOI,B.CHU_KY,B.MS_DV_TG,A.NGAY_BD_KH,-1 AS CO_BT FROM dbo.PHIEU_BAO_TRI A
INNER JOIN #HIEU_CHUAN_KE B ON A.MS_MAY = B.MS_MAY AND B.MS_LOAI_BT = A.MS_LOAI_BT 
WHERE NOT EXISTS (SELECT * FROM (
SELECT DISTINCT A.MS_MAY,A.MS_LOAI_BT,B.NGAY_HC_CUOI,B.CHU_KY,B.MS_DV_TG,A.NGAY_BD_KH,-1 AS CO_BT FROM dbo.PHIEU_BAO_TRI A
INNER JOIN #HIEU_CHUAN_KE B ON A.MS_MAY = B.MS_MAY AND B.MS_LOAI_BT = A.MS_LOAI_BT 
WHERE  DATEADD(DAY, CASE MS_DV_TG WHEN 2 THEN CHU_KY * 7 WHEN 3 THEN CHU_KY * 30 WHEN 4 THEN CHU_KY * 365 ELSE CHU_KY END / 4, NGAY_KE) >= NGAY_BD_KH 
AND DATEADD(DAY, - (CASE MS_DV_TG WHEN 2 THEN CHU_KY * 7 WHEN 3 THEN CHU_KY * 30 WHEN 4 THEN CHU_KY * 365 ELSE CHU_KY END / 4), NGAY_KE) <= NGAY_BD_KH) C WHERE A.MS_MAY = C.MS_MAY AND A.MS_LOAI_BT = B.MS_LOAI_BT AND A.NGAY_BD_KH = C.NGAY_BD_KH )


--------INSERT KẾ HOẠCH TỔNG THỂ
INSERT INTO #HIEU_CHUAN_KE
(
    MS_MAY,
    MS_LOAI_BT,
    NGAY_HC_CUOI,
    CHU_KY,
    MS_DV_TG,
    NGAY_KE,
	CO_BT
)
SELECT DISTINCT A.MS_MAY,A.MS_LOAI_BT,B.NGAY_HC_CUOI,B.CHU_KY,B.MS_DV_TG,A.NGAY, -1 AS CO_BT FROM dbo.KE_HOACH_TONG_THE A
INNER JOIN #HIEU_CHUAN_KE B ON A.MS_MAY = B.MS_MAY AND B.MS_LOAI_BT = A.MS_LOAI_BT 
WHERE NOT EXISTS (SELECT * FROM (
SELECT DISTINCT A.MS_MAY,A.MS_LOAI_BT,B.NGAY_HC_CUOI,B.CHU_KY,B.MS_DV_TG,A.NGAY,-1 AS CO_BT FROM dbo.KE_HOACH_TONG_THE A
INNER JOIN #HIEU_CHUAN_KE B ON A.MS_MAY = B.MS_MAY AND B.MS_LOAI_BT = A.MS_LOAI_BT
INNER JOIN dbo.KE_HOACH_TONG_CONG_VIEC C ON c.HANG_MUC_ID = A.HANG_MUC_ID AND ISNULL(C.MS_PHIEU_BAO_TRI,'') != '' 
WHERE  DATEADD(DAY, CASE MS_DV_TG WHEN 2 THEN CHU_KY * 7 WHEN 3 THEN CHU_KY * 30 WHEN 4 THEN CHU_KY * 365 ELSE CHU_KY END / 4, NGAY_KE) >= NGAY 
AND DATEADD(DAY, - (CASE MS_DV_TG WHEN 2 THEN CHU_KY * 7 WHEN 3 THEN CHU_KY * 30 WHEN 4 THEN CHU_KY * 365 ELSE CHU_KY END / 4), NGAY_KE) <= NGAY) C WHERE A.MS_MAY = C.MS_MAY AND A.MS_LOAI_BT = B.MS_LOAI_BT AND A.NGAY = C.NGAY )


SELECT  IDENTITY( INT, 1,1 ) AS STT,
                        pvt.*
INTO	#TMP
FROM (
        SELECT  DISTINCT
                T1.MS_MAY ,
				T2.TEN_MAY,
				T4.TEN_LOAI_BT,
				T4.MS_LOAI_BT,
				T2.Ten_N_XUONG,
				T2.TEN_HE_THONG,
				T2.TEN_LOAI_MAY,
				CONVERT(NVARCHAR(10),T1.CHU_KY) +' '+  T3.TEN_DV_TG AS CHU_KY,
				T1.NGAY_HC_CUOI +'' AS NGAY_HC_CUOI,
				T1.CO_BT,
				CONVERT(NVARCHAR(5), MONTH(T1.NGAY_KE)) AS THANG
        FROM     #HIEU_CHUAN_KE T1 
				 INNER JOIN #MAY T2 ON T2.MS_MAY = T1.MS_MAY
				 INNER JOIN dbo.DON_VI_THOI_GIAN T3 ON T3.MS_DV_TG = T1.MS_DV_TG
				 INNER JOIN dbo.LOAI_BAO_TRI T4 ON T4.MS_LOAI_BT = T1.MS_LOAI_BT
				 WHERE  CONVERT(DATE, T1.NGAY_KE) BETWEEN CONVERT(DATE, @tNgay)
                                              AND     CONVERT(DATE, @dNgay)
)A PIVOT
( SUM(CO_BT) FOR A.THANG IN ( [1], [2], [3], [4], [5], [6],
                                               [7], [8], [9], [10], [11], [12] ))AS pvt
    UPDATE  #TMP
                SET     [1] = NULL
                WHERE   [1] = 0
                UPDATE  #TMP
                SET     [2] = NULL
                WHERE   [2] = 0
                UPDATE  #TMP
                SET     [3] = NULL
                WHERE   [3] = 0
                UPDATE  #TMP
                SET     [4] = NULL
                WHERE   [4] = 0
                UPDATE  #TMP
                SET     [5] = NULL
                WHERE   [5] = 0
                UPDATE  #TMP
                SET     [6] = NULL
                WHERE   [6] = 0
                UPDATE  #TMP
                SET     [7] = NULL
                WHERE   [7] = 0
                UPDATE  #TMP
                SET     [8] = NULL
                WHERE   [8] = 0
                UPDATE  #TMP
                SET     [9] = NULL
                WHERE   [9] = 0
                UPDATE  #TMP
                SET     [10] = NULL
                WHERE   [10] = 0
                UPDATE  #TMP
                SET     [11] = NULL
                WHERE   [11] = 0
                UPDATE  #TMP
                SET     [12] = NULL
                WHERE   [12] = 0

                SELECT  * FROM  #TMP ORDER BY MS_MAY
				SELECT * FROM #HIEU_CHUAN_KE ORDER BY MS_MAY 
    END






