
--exec spGetDieuDoGSTT

ALTER PROC [dbo].[spGetDieuDoGSTT]
	@IdDD bigint = 4,  
	@UName NVARCHAR(50) = 'admin',
	@TNgay DATE = '01/01/2018',
	@DNgay DATE = '01/01/2021',
	@NNgu INT = 0,
	@MsNhomDD bigint = -1,
	@Action INT = 1
AS
--Nha xuong
;with cte(MS_N_XUONG, MS_CHA,[ALL_CHA])
AS 
(
select MS_N_XUONG, MS_CHA , CAST('' AS NVARCHAR(MAX))  AS ALL_CHA from 
dbo.NHA_XUONG
where MS_CHA is null 
UNION ALL
select A.MS_N_XUONG, A.MS_CHA,
cast ((B.ALL_CHA + cast(A.MS_CHA as nvarchar(50)) +', ') as NVARCHAR(MAX)) 
from 
dbo.NHA_XUONG A 
inner join cte B
ON A.MS_CHA=B.MS_N_XUONG
) 
select MS_N_XUONG, CASE substring(ALL_CHA,0,LEN(ALL_CHA)) WHEN '' THEN MS_N_XUONG ELSE substring(ALL_CHA,0,LEN(ALL_CHA)) END  AS MS_NX_CHA  INTO #NX_CHA from cte 
ORDER BY MS_N_XUONG

--He Thong
;with cte(MS_HE_THONG, MS_CHA,[ALL_CHA])
AS 
(
select MS_HE_THONG, MS_CHA , CAST('' AS NVARCHAR(MAX))  AS ALL_CHA from 
dbo.HE_THONG
where MS_CHA is null 
UNION ALL
select A.MS_HE_THONG, A.MS_CHA,cast ((B.ALL_CHA + cast(A.MS_CHA as nvarchar(50)) +', ') as NVARCHAR(MAX))from 
dbo.HE_THONG A 
inner join cte B
ON A.MS_CHA=B.MS_HE_THONG
) 

select MS_HE_THONG, 
CONVERT(NVARCHAR(MAX),CASE substring(ALL_CHA,0,LEN(ALL_CHA)) WHEN '' THEN MS_HE_THONG ELSE substring(ALL_CHA,0,LEN(ALL_CHA)) END)  AS MS_HT_CHA  INTO #HT_CHA from cte 
ORDER BY MS_HE_THONG


--@Action = 0 View; 1 Dieu Do
SELECT DISTINCT ID_NHOM_DD, T1.MS_MAY,T1.MS_N_XUONG,T1.MS_HE_THONG,MS_LOAI_MAY,MS_NHOM_MAY,TEN_LOAI_MAY,TEN_NHOM_MAY,MUC_UU_TIEN,Ten_N_XUONG,TEN_HE_THONG,TEN_BP_CHIU_PHI,ISNULL(T3.MS_NX_CHA,T1.MS_N_XUONG) AS MS_NX_CHA ,ISNULL(T4.MS_HT_CHA,T1.MS_HE_THONG) AS MS_HT_CHA INTO #MAY_USER FROM dbo.MGetMayUserNgay(@DNgay, @UName, '-1', -1,-1, '-1', '-1', '-1', @NNgu) T1 INNER JOIN DIEU_DO_NHOM_MAY T2 ON T1.MS_MAY = T2.MS_MAY LEFT JOIN #NX_CHA T3 ON T1.MS_N_XUONG = T3.MS_N_XUONG LEFT JOIN #HT_CHA T4 ON T1.MS_HE_THONG = T4.MS_HE_THONG
WHERE ID_NHOM_DD = @MsNhomDD OR @MsNhomDD  = -1


IF @Action = 0
BEGIN 
SELECT CHON, SO_PHIEU, TEN_UU_TIEN, MS_MAY,MS_BO_PHAN, TEN_BO_PHAN, TEN_TS_GSTT, SO_GIO_KH AS THOI_GIAN, NGAY_KT,MS_DIEU_DO,SO_NGUOI_DD, NGAY_DD,  MS_TS_GSTT, MS_N_XUONG, MS_HE_THONG, MS_LOAI_MAY, 
                         MS_NHOM_MAY, STT, MS_TT, MUC_UU_TIEN, K1, K2, K3, K4, @MsNhomDD AS K5,
						 CONVERT(INT,ROW_NUMBER() OVER (ORDER BY NGAY_KT,STT,SO_PHIEU, TEN_UU_TIEN,MS_MAY, TEN_BO_PHAN, TEN_TS_GSTT)) AS TK,TEN_LOAI_MAY,TEN_NHOM_MAY,Ten_N_XUONG,TEN_HE_THONG,TEN_BP_CHIU_PHI,MS_NX_CHA,MS_HT_CHA
FROM 
(
	SELECT   CONVERT(BIT,1) AS CHON,T6.SO_PHIEU,CASE @NNgu WHEN 0 THEN T5.TEN_UU_TIEN ELSE T5.TEN_TA END AS TEN_UU_TIEN,	
	T1.MS_MAY, 	
	CASE @NNgu WHEN 0 THEN T2.TEN_BO_PHAN WHEN 1 THEN  ISNULL(NULLIF(T2.TEN_BO_PHAN_ANH, ''), T2.TEN_BO_PHAN)   ELSE ISNULL(NULLIF(T2.TEN_BO_PHAN_HOA, ''), T2.TEN_BO_PHAN) END AS TEN_BO_PHAN, 
	CASE @NNgu WHEN 0 THEN T3.TEN_TS_GSTT WHEN 1 THEN  ISNULL(NULLIF(T3.TEN_TS_GSTT_ANH, ''), T3.TEN_TS_GSTT)   ELSE ISNULL(NULLIF(T3.TEN_TS_GSTT_HOA, ''), T3.TEN_TS_GSTT) END AS TEN_TS_GSTT,
	T1.SO_GIO_KH,T6.NGAY_KT , T8.MS_DIEU_DO, T1.SO_NGUOI_DD,T1.NGAY_DD, 
	T1.MS_BO_PHAN, T1.MS_TS_GSTT,MS_N_XUONG,MS_HE_THONG, MS_LOAI_MAY, MS_NHOM_MAY, T1.STT, T1.MS_TT,T4.MUC_UU_TIEN,
	@IdDD AS K1,@UName AS K2, @TNgay AS K3, @DNgay AS K4 ,TEN_LOAI_MAY,TEN_NHOM_MAY,Ten_N_XUONG,TEN_HE_THONG,TEN_BP_CHIU_PHI,MS_NX_CHA,MS_HT_CHA
	FROM            dbo.DIEU_DO_GSTT AS T1 INNER JOIN
				GIAM_SAT_TINH_TRANG T6 ON T6.STT = T1.STT INNER JOIN
							 dbo.CAU_TRUC_THIET_BI AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_BO_PHAN = T2.MS_BO_PHAN INNER JOIN
							 dbo.THONG_SO_GSTT AS T3 ON T1.MS_TS_GSTT = T3.MS_TS_GSTT INNER JOIN
							 #MAY_USER AS T4 ON T2.MS_MAY = T4.MS_MAY LEFT JOIN
							 dbo.MUC_UU_TIEN AS T5 ON T4.MUC_UU_TIEN = T5.MS_UU_TIEN  INNER JOIN 
							 DIEU_DO T8 ON T1.ID_DD = T8.ID_DD
	WHERE T1.ID_DD = @IdDD) A
	ORDER BY NGAY_KT,STT,SO_PHIEU, TEN_UU_TIEN,MS_MAY,MS_BO_PHAN, TEN_BO_PHAN, TEN_TS_GSTT
END

IF @Action = 1
BEGIN 
SELECT CHON, SO_PHIEU, TEN_UU_TIEN, MS_MAY,MS_BO_PHAN, TEN_BO_PHAN, TEN_TS_GSTT, THOI_GIAN, NGAY_KT,MS_DIEU_DO,SO_NGUOI_DD, NGAY_DD,  MS_TS_GSTT, MS_N_XUONG, MS_HE_THONG, MS_LOAI_MAY, 
                         MS_NHOM_MAY, STT, MS_TT, MUC_UU_TIEN, K1, K2, K3, K4, @MsNhomDD AS K5,
						 CONVERT(INT,ROW_NUMBER() OVER (ORDER BY NGAY_KT,STT,SO_PHIEU, TEN_UU_TIEN,MS_MAY, TEN_BO_PHAN, TEN_TS_GSTT)) AS TK,TEN_LOAI_MAY,TEN_NHOM_MAY,Ten_N_XUONG,TEN_HE_THONG,TEN_BP_CHIU_PHI,MS_NX_CHA,MS_HT_CHA
FROM 
( 
	SELECT CONVERT(BIT,0) AS CHON,T1.SO_PHIEU, T2.MS_MAY, T3.TEN_BO_PHAN, T4.TEN_TS_GSTT, T1.NGAY_KT, T2.THOI_GIAN,T7.MS_DIEU_DO,
	CONVERT(INT, DD_SN) AS SO_NGUOI_DD,CONVERT(DATE,DD_NGAY) AS NGAY_DD, T6.TEN_UU_TIEN, T2.MS_BO_PHAN, T2.MS_TS_GSTT, T5.MS_N_XUONG, T5.MS_HE_THONG, T5.MS_LOAI_MAY, T5.MS_NHOM_MAY, T1.STT, T2.MS_TT, T5.MUC_UU_TIEN, @IdDD AS K1,@UName AS K2, @TNgay AS K3, @DNgay AS K4, TEN_LOAI_MAY,TEN_NHOM_MAY,Ten_N_XUONG,TEN_HE_THONG,TEN_BP_CHIU_PHI,MS_NX_CHA,MS_HT_CHA
	FROM            dbo.GIAM_SAT_TINH_TRANG AS T1 INNER JOIN
							 dbo.GIAM_SAT_TINH_TRANG_TS AS T2 ON T1.STT = T2.STT INNER JOIN
							 dbo.CAU_TRUC_THIET_BI AS T3 ON T2.MS_MAY = T3.MS_MAY AND T2.MS_BO_PHAN = T3.MS_BO_PHAN INNER JOIN
							 dbo.THONG_SO_GSTT AS T4 ON T2.MS_TS_GSTT = T4.MS_TS_GSTT INNER JOIN
							 #MAY_USER AS T5 ON T3.MS_MAY = T5.MS_MAY INNER JOIN
							 dbo.MUC_UU_TIEN AS T6 ON T5.MUC_UU_TIEN = T6.MS_UU_TIEN   LEFT JOIN 
							 DIEU_DO T7 ON T2.ID_DD = T7.ID_DD
	WHERE (ISNULL(NGAY_KT_GOC,NGAY_KT) BETWEEN @TNgay AND @DNgay) 
	AND ISNULL(T1.HOAN_THANH,0) = 0
	) A
	ORDER BY NGAY_KT,STT,SO_PHIEU, TEN_UU_TIEN,MS_MAY,MS_BO_PHAN, TEN_BO_PHAN, TEN_TS_GSTT
END
