

--EXEC Get_Danhsachbaocao '',1,0,0
ALTER proc [dbo].[Get_Danhsachbaocao]
	@USERLOG NVARCHAR(50),
	@GROUP_ID INT,
	@LOAI_REPORT INT,
	@NGON_NGU INT
AS
			SELECT T1.REPORT_NAME, 
			CASE @NGON_NGU WHEN 0 THEN T1.TEN_REPORT_VIET 
			WHEN 1 THEN ISNULL(NULLIF(T1.TEN_REPORT_ANH,''),T1.TEN_REPORT_VIET) ELSE	
			ISNULL(NULLIF(T1.TEN_REPORT_ANH,''),T1.TEN_REPORT_VIET) END AS TEN_REPORT , T2.QUYEN, 
			CASE T2.GROUP_ID WHEN ISNULL(T2.GROUP_ID,0) THEN CONVERT(BIT,1) ELSE CONVERT(BIT,0) END AS CHON, 
			CONVERT(BIT,'False') IS_UPDATE, @GROUP_ID GROUP_ID,T3.TEN_L_REPORT,T3.REPORT_MAIL,T3.STT
			INTO #TMP
			FROM dbo.DS_REPORT T1 
			LEFT JOIN dbo.NHOM_REPORT T2 ON T1.REPORT_NAME=T2.REPORT_NAME  
			INNER JOIN dbo.LOAI_REPORT T3 ON T1.LOAI_REPORT = T3.MS_LOAI
			WHERE (T1.LOAI_REPORT=0  OR  0 = 0) AND (T1.STT <100) AND (T2.GROUP_ID= @GROUP_ID) 
SELECT		T1.REPORT_NAME,CASE @NGON_NGU WHEN 0 THEN T1.TEN_REPORT_VIET 
			WHEN 1 THEN ISNULL(NULLIF(T1.TEN_REPORT_ANH,''),T1.TEN_REPORT_VIET) ELSE	
			ISNULL(NULLIF(TEN_REPORT_VIET,''),T1.TEN_REPORT_VIET) END AS TEN_REPORT , 'No access' as QUYEN, 
			 CONVERT(BIT,1)  AS CHON, 
			CONVERT(BIT,'False') IS_UPDATE, @GROUP_ID AS GROUP_ID,T3.TEN_L_REPORT,T3.REPORT_MAIL,T3.STT
			INTO #TMP1
			FROM DS_REPORT T1 
			INNER JOIN dbo.LOAI_REPORT T3 ON T1.LOAI_REPORT = T3.MS_LOAI
			WHERE NOT EXISTS (SELECT * FROM #TMP B WHERE T1.REPORT_NAME = B.REPORT_NAME) AND  (T1.LOAI_REPORT=0  OR  0 = 0) AND (T1.STT <100) 
			SELECT * FROM #TMP
			UNION
			SELECT * FROM #TMP1
			ORDER BY TEN_L_REPORT,TEN_REPORT,REPORT_NAME
			---No access

