

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetPTHTDX')
   
exec('CREATE PROCEDURE spGetPTHTDX AS BEGIN SET NOCOUNT ON; END')

GO

 
-- EXEC spGetPTHTDX -1,'01/01/2020','05/21/2021',-1,'ADMINISTRATOR',0
ALTER procedure spGetPTHTDX
	@PhongBan INT,
	@TuNgay datetime,
	@DenNgay datetime,
	@IsLock INT,
	@UserName nvarchar(50),
	@NNgu INT
AS
BEGIN
declare @GroupID INT
SELECT @GroupID = GROUP_ID FROM USERS WHERE USERNAME = @UserName

CREATE TABLE #TMP(
	MS_DE_XUAT [nvarchar](250) NULL,
	MS_PT [nvarchar](250) NULL,
	SL_DX FLOAT NOT NULL,
	SL_NH FLOAT NOT NULL
 ) 

DECLARE @DDH_XMH BIT
SELECT TOP 1 @DDH_XMH = DDH_DXMH FROM THONG_TIN_CHUNG

IF @DDH_XMH = 0 
BEGIN
	INSERT INTO #TMP (MS_DE_XUAT, MS_PT, SL_DX, SL_NH )
	SELECT  MS_DE_XUAT, T1.MS_PT, ROUND(T1.SL_DX,2) AS SL_DX, ROUND(T2.SL_NH,2) AS SL_NH
	FROM
	(
			SELECT MS_DE_XUAT, MS_PT, SUM(SL_DA_DUYET) AS SL_DX FROM DE_XUAT_MUA_HANG_CHI_TIET A
			GROUP BY MS_DE_XUAT, MS_PT
	) T1 INNER JOIN 
	(
	SELECT   MS_DDH AS MSDX, MS_PT,  SUM(B.SL_THUC_NHAP) AS SL_NH
	FROM         dbo.IC_DON_HANG_NHAP AS A INNER JOIN
						  dbo.IC_DON_HANG_NHAP_VAT_TU AS B ON A.MS_DH_NHAP_PT = B.MS_DH_NHAP_PT
	WHERE     (A.MS_DANG_NHAP = 3) 
	GROUP BY MS_DDH, MS_PT
	) T2 ON T1.MS_DE_XUAT = T2.MSDX AND T1.MS_PT = T2.MS_PT
END
ELSE
BEGIN
	INSERT INTO #TMP (MS_DE_XUAT, MS_PT, SL_DX, SL_NH )
	SELECT  MS_DE_XUAT, T1.MS_PT, T1.SL_DX, T2.SL_NH 
	FROM
	(
			SELECT MS_DE_XUAT, MS_PT, SUM(SL_DA_DUYET) AS SL_DX FROM DE_XUAT_MUA_HANG_CHI_TIET 
			GROUP BY MS_DE_XUAT, MS_PT
	) T1 INNER JOIN 
	(
	SELECT   MS_DE_XUAT AS MSDX, MS_PT,  SUM(SL_DAT_HANG) AS SL_NH
	FROM  dbo.DON_DAT_HANG_CHI_TIET 
	GROUP BY MS_DE_XUAT , MS_PT
	) T2 ON T1.MS_DE_XUAT = T2.MSDX AND T1.MS_PT = T2.MS_PT
END


SELECT    A.MS_DE_XUAT, A.MS_PT,
                      A.DA_DE_XUAT, A.SL_DE_XUAT, A.SL_DA_DUYET, 
                      A.SL_NH AS SL_DA_NHAP,B.TEN_TT AS TEN_TRANG_THAI, MS_TT AS MS_TTHAI INTO	#AAA_NH
FROM 
(SELECT		CASE ISNULL(SL_DX,0) WHEN 0 THEN 0 
			ELSE
				CASE ISNULL(SL_DX,0) - ISNULL(SL_NH,0) WHEN 0 THEN 2 
				ELSE 1 END 
			END AS TTHAI,SL_NH,
   A.MS_DE_XUAT, A.MS_PT,B.MS_PT_CTY, A.TEN_PT, A.PART_NO, A.QUY_CACH, A.DVT, A.NHAN_HIEU, A.HANG_SX, A.CONG_DUNG, A.HAN_SU_DUNG, A.TON_KHO, A.TON_MIN, A.TON_MAX, A.DA_DAT_MUA, 
                      A.DA_DE_XUAT, A.SL_DE_XUAT, A.SL_DA_DUYET, A.DON_GIA, A.NGOAI_TE, A.TY_GIA, A.TY_GIA_USD, A.THANH_TIEN, A.THANH_TIEN_VND, A.THANH_TIEN_USD, A.THUE_VAT, A.SO_HOA_DON, 
                      A.NHA_CUNG_CAP, A.NGAY_GIAO_HANG, A.NGAY_DE_XUAT_CUOI, A.NHA_CUNG_CAP_CUOI, A.DON_GIA_CUOI, A.NGOAI_TE_CUOI, A.GHI_CHU
FROM         dbo.DE_XUAT_MUA_HANG_CHI_TIET AS A INNER JOIN
                      dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT LEFT JOIN 
			#TMP C ON A.MS_DE_XUAT = C.MS_DE_XUAT AND A.MS_PT = C.MS_PT INNER JOIN dbo.DE_XUAT_MUA_HANG T1 ON T1.MS_DE_XUAT = A.MS_DE_XUAT
			INNER JOIN dbo.NHOM_TO_PHONG_BAN AS T2 ON T2.MS_TO = T1.MS_TO
WHERE (T1.NGAY_LAP BETWEEN @TuNgay AND @DenNgay)
			AND (T1.MS_TO = @PhongBan OR  @PhongBan = -1 )
			AND (T1.TRANG_THAI = @IsLock OR @IsLock = -1) AND (GROUP_ID = @GroupID)
			
) A INNER JOIN TRANG_THAI_DX B ON A.TTHAI = B.MS_TT
ORDER BY A.MS_DE_XUAT, A.MS_PT			

DECLARE @TDX NVARCHAR(250)
DECLARE @THT NVARCHAR(250)
DECLARE @PT NVARCHAR(250)
SELECT @TDX = NULLIF(CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ENGLISH ELSE CHINESE END,'') FROM dbo.LANGUAGES WHERE FORM = 'frmDeXuatMuaHang_New' AND KEYWORD =  'lblTongDeXuat'
SELECT @THT = NULLIF(CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ENGLISH ELSE CHINESE END,'') FROM dbo.LANGUAGES WHERE FORM = 'frmDeXuatMuaHang_New' AND KEYWORD =  'lblTongHoanThanh'
SELECT @PT = NULLIF(CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ENGLISH ELSE CHINESE END,'') FROM dbo.LANGUAGES WHERE FORM = 'frmDeXuatMuaHang_New' AND KEYWORD =  'lblPhanTramHT'

DECLARE @NewLineChar AS CHAR(2) = CHAR(13) + CHAR(10)


SELECT 
ISNULL(CONVERT(NVARCHAR(250),@TDX + CONVERT(NVARCHAR(20),ROUND(T2.TDX,2))),N'Tổng vật tư đề xuất : ') + @NewLineChar +
ISNULL(CONVERT(NVARCHAR(250),@THT + CONVERT(NVARCHAR(20),ROUND(T2.HT,2))),N'Tổng vật tư hoàn thành : ') + @NewLineChar +
ISNULL(CONVERT(NVARCHAR(250),@PT + CONVERT(NVARCHAR(20),T2.PT) + '%' ),N'Phần trăm hoàn thành : ') AS PTHT
FROM (
SELECT CONVERT(FLOAT,ISNULL(SUM(TDX),0)) AS TDX, CONVERT(FLOAT,(ISNULL(SUM(HT),0))) AS HT,CONVERT(FLOAT,ISNULL(SUM(CHT),0)) AS CHT, 


CASE WHEN SUM(TDX) > 0 THEN ROUND( (100 * CONVERT(FLOAT,(ISNULL(SUM(HT),0)))) / SUM(TDX),2) ELSE 0 END AS PT 

FROM (
SELECT COUNT(MS_PT) AS TDX,
CASE WHEN MS_TTHAI = 2 THEN COUNT(MS_TTHAI) ELSE 0 END AS HT,
CASE WHEN MS_TTHAI <> 2 THEN COUNT(MS_TTHAI) ELSE 0 END AS CHT
FROM #AAA_NH GROUP BY MS_TTHAI ) T1) 
T2



END

