

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spNhaXuong')
   
exec('CREATE PROCEDURE spNhaXuong AS BEGIN SET NOCOUNT ON; END')

GO


ALTER PROCEDURE [dbo].[spNhaXuong] 
	@iLoai INT = 1,
	@USERNAME NVARCHAR(50) = NULL,
	@NNgu INT = 0,
	@FORMNAME NVARCHAR(50) = NULL,
	@iID NVARCHAR(50) = NULL,
	@MS_N_XUONG NVARCHAR(50) = NULL,
	@MS_CHA NVARCHAR (50) = NULL,
	@Ten_N_XUONG NVARCHAR(100) = NULL,
	@TEN_N_XUONG_A NVARCHAR(100) = NULL,
	@TEN_N_XUONG_H NVARCHAR(100) = NULL,
	@TRU_SO NVARCHAR(100) = NULL,
	@NGUOI_DAI_DIEN NVARCHAR(100) = NULL,
	@DIEN_THOAI NVARCHAR(20) = NULL,
	@MS_QG NVARCHAR(19) = NULL,
	@MS_DUONG NVARCHAR(30) = NULL,
	@DIA_CHI NVARCHAR(100) = NULL,
	@DIEN_TICH FLOAT = NULL,
	@KHOANG_CACH FLOAT = NULL,
	@GHI_CHU NVARCHAR(20) = NULL,
	@MS_DON_VI NVARCHAR(6) = NULL,
	@HINH_ANH IMAGE = NULL
AS
BEGIN
	IF @iLoai = 0
	BEGIN

	DECLARE @NhaXuong NVARCHAR(50)
	DECLARE @NhaXuong_A NVARCHAR(50)
	DECLARE @NhaXuong_H NVARCHAR(50)

	SELECT @NhaXuong = VIETNAM, @NhaXuong_A = ISNULL(NULLIF(ENGLISH,''), VIETNAM), @NhaXuong_H = ISNULL(NULLIF(CHINESE,''), VIETNAM) FROM LANGUAGES WHERE KEYWORD = 'lblNhaXuong' AND FORM = @FORMNAME

	SELECT * FROM (
		SELECT NX.MS_N_XUONG, ISNULL(NX.MS_CHA,'-1') AS MS_CHA, NX.Ten_N_XUONG, NX.TEN_N_XUONG_A, NX.TEN_N_XUONG_H, NX.TRU_SO, NX.NGUOI_DAI_DIEN, NX.DIEN_THOAI, NX.MS_QG, NX.MS_DUONG, NX.DIA_CHI, NX.DIEN_TICH, NX.KHOANG_CACH, NX.GHI_CHU, NX.MS_DON_VI, CAST(NX.HINH_ANH AS VARBINARY(MAX)) AS HINH_ANH FROM dbo.NHA_XUONG NX
		INNER JOIN dbo.NHOM_NHA_XUONG NNX ON NX.MS_N_XUONG = NNX.MS_N_XUONG INNER JOIN dbo.USERS U ON NNX.GROUP_ID = U.GROUP_ID
		WHERE U.USERNAME = @USERNAME
		UNION 
		SELECT '-1' AS MS_N_XUONG, '' AS MS_CHA, @NhaXuong AS Ten_N_XUONG, @NhaXuong_A AS TEN_N_XUONG_A, @NhaXuong_H AS TEN_N_XUONG_H, NULL AS TRU_SO, NULL AS NGUOI_DAI_DIEN, NULL AS DIEN_THOAI, NULL AS MS_QG, NULL AS MS_DUONG, NULL AS DIA_CHI, NULL AS DIEN_TICH, NULL AS KHOANG_CACH, NULL AS GHI_CHU, NULL AS MS_DON_VI, NULL AS HINH_ANH) TMP
	ORDER BY MS_N_XUONG

		--SELECT NX.MS_N_XUONG, ISNULL(NX.MS_CHA,-1) AS MS_CHA, NX.Ten_N_XUONG, NX.TEN_N_XUONG_A, NX.TEN_N_XUONG_H, NX.TRU_SO, NX.NGUOI_DAI_DIEN, NX.DIEN_THOAI, NX.MS_QG, NX.MS_DUONG, NX.DIA_CHI, NX.DIEN_TICH, NX.KHOANG_CACH, NX.GHI_CHU, NX.MS_DON_VI, CAST(NX.HINH_ANH AS VARBINARY(MAX)) AS HINH_ANH 
		--FROM dbo.NHA_XUONG NX
		--	INNER JOIN dbo.NHOM_NHA_XUONG NNX ON NX.MS_N_XUONG = NNX.MS_N_XUONG 
		--	INNER JOIN dbo.USERS U ON NNX.GROUP_ID = U.GROUP_ID
		--WHERE U.USERNAME = @USERNAME
		--ORDER BY MS_N_XUONG
	END

	--LOAD COMBO
	IF @iLoai = 1
	BEGIN
		SELECT MS_DON_VI, TEN_NGAN, CASE 0 WHEN 0 THEN TEN_DON_VI WHEN 1 THEN ISNULL(NULLIF(TEN_DON_VI_ANH, ''), TEN_DON_VI) ELSE ISNULL(NULLIF(TEN_DON_VI_HOA, ''), TEN_DON_VI) END AS TEN_DON_VI  FROM dbo.DON_VI
		UNION
		SELECT '','',''
		ORDER BY MS_DON_VI
	END

	IF @iLoai = 2
	BEGIN
		IF EXISTS (SELECT TOP 1 * FROM dbo.NHA_XUONG WHERE MS_CHA = @iID) OR EXISTS (SELECT TOP 1 * FROM dbo.NHA_XUONG_EMAIL WHERE MS_N_XUONG = @iID) OR EXISTS (SELECT TOP 1 * FROM dbo.THOI_GIAN_NGUNG_MAY WHERE MS_N_XUONG = @iID)
		BEGIN
			SELECT 1 AS TT		
		END
		ELSE
		BEGIN
			DELETE dbo.NHA_XUONG WHERE(MS_N_XUONG = @iID)
			SELECT 0 AS TT		
		END	
	END

	IF @iLoai = 3
	BEGIN
		IF EXISTS (SELECT TOP 1 * FROM dbo.NHA_XUONG WHERE MS_N_XUONG = @iID)
		BEGIN
			UPDATE dbo.NHA_XUONG 
			SET Ten_N_XUONG = @Ten_N_XUONG,
				TEN_N_XUONG_A = @TEN_N_XUONG_A,
				TEN_N_XUONG_H = @TEN_N_XUONG_H,
				TRU_SO = @TRU_SO,
				NGUOI_DAI_DIEN = @NGUOI_DAI_DIEN,
				DIEN_THOAI = @DIEN_THOAI,
				MS_QG = @MS_QG,
				MS_DUONG = @MS_DUONG,
				DIA_CHI = @DIA_CHI,
				DIEN_TICH = @DIEN_TICH,
				KHOANG_CACH = @KHOANG_CACH,
				GHI_CHU = @GHI_CHU,
				MS_DON_VI = @MS_DON_VI,
				HINH_ANH = @HINH_ANH
			WHERE MS_N_XUONG = @iID
			SELECT @iID
		END
		ELSE
		BEGIN
			INSERT INTO dbo.NHA_XUONG(MS_N_XUONG, MS_CHA, Ten_N_XUONG, TEN_N_XUONG_A, TEN_N_XUONG_H, TRU_SO, NGUOI_DAI_DIEN, DIEN_THOAI, MS_QG, MS_DUONG, DIA_CHI, DIEN_TICH, KHOANG_CACH, GHI_CHU, MS_DON_VI, HINH_ANH)
			VALUES(@MS_N_XUONG, NULLIF(@MS_CHA, '-1'), @Ten_N_XUONG, @TEN_N_XUONG_A, @TEN_N_XUONG_H, @TRU_SO, @NGUOI_DAI_DIEN, @DIEN_THOAI, @MS_QG, @MS_DUONG, @DIA_CHI, @DIEN_TICH, @KHOANG_CACH, @GHI_CHU, @MS_DON_VI, @HINH_ANH)

			IF EXISTS (SELECT GROUP_ID FROM dbo.USERS WHERE USERNAME = @USERNAME)
			BEGIN
			--select * from NHOM_NHA_XUONG
				INSERT INTO dbo.NHOM_NHA_XUONG(GROUP_ID,MS_N_XUONG)
				VALUES ((SELECT GROUP_ID FROM dbo.USERS WHERE USERNAME = @USERNAME), @MS_N_XUONG)
			END

			SELECT @MS_N_XUONG
		END
	END

	IF @iLoai = 4
	BEGIN
		DECLARE @KIEMTRUNG INT = 0

		IF EXISTS (SELECT TOP 1 * FROM dbo.NHA_XUONG WHERE TEN_N_XUONG_H = @TEN_N_XUONG_H AND MS_N_XUONG <> @iID) AND @TEN_N_XUONG_H <> ''
			SET @KIEMTRUNG = 4

		IF EXISTS (SELECT TOP 1 * FROM dbo.NHA_XUONG WHERE TEN_N_XUONG_A = @TEN_N_XUONG_A AND MS_N_XUONG <> @iID) AND @TEN_N_XUONG_A <> ''
			SET @KIEMTRUNG = 3

		IF EXISTS (SELECT TOP 1 * FROM dbo.NHA_XUONG WHERE Ten_N_XUONG = @Ten_N_XUONG AND MS_N_XUONG <> @iID) AND @Ten_N_XUONG <> ''
			SET @KIEMTRUNG = 2

		IF EXISTS (SELECT TOP 1 * FROM dbo.NHA_XUONG WHERE MS_N_XUONG = @MS_N_XUONG AND MS_N_XUONG <> @iID) AND @MS_N_XUONG <> ''
			SET @KIEMTRUNG = 1

		SELECT @KIEMTRUNG
	END
END
