
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spDonViPhongBanTo')
   
exec('CREATE PROCEDURE spDonViPhongBanTo AS BEGIN SET NOCOUNT ON; END')

GO

ALTER PROCEDURE [dbo].[spDonViPhongBanTo] 
	@iID NVARCHAR(1000) = N'',
	@sDMuc NVARCHAR(50) = N'',
	@NNgu INT = 0,
	@iLoai INT = 4,
	@COT1 NVARCHAR(1000) = N'',
	@COT2 NVARCHAR(1000) = N'',
	@COT3 NVARCHAR(1000) = N'',
	@COT4 NVARCHAR(1000) = N'',
	@COT5 NVARCHAR(1000) = N'',
	@COT6 NVARCHAR(1000) = N'',
	@COT7 NVARCHAR(1000) = N'',
	@COT8 NVARCHAR(1000) = N'',
	@COT9 NVARCHAR(1000) = N'',
	@COT10 NVARCHAR(1000) = N'',
	@COT11 INT = NULL,
	@COT12 INT = NULL,
	@COT13 INT = NULL,
	@COT14 INT = NULL,
	@COT15 INT = NULL,
	@COT16 BIT = NULL,
	@COT17 BIT = NULL,
	@COT18 BIT = NULL,
	@COT19 BIT = NULL,
	@COT20 BIT = NULL
AS
BEGIN
	IF UPPER(@sDMuc) = UPPER('mnuDonVi') 
	BEGIN
		IF @iLoai = 1
		BEGIN
			SELECT MS_DON_VI, TEN_DON_VI, TEN_DON_VI_ANH, TEN_DON_VI_HOA, TEN_NGAN, TEN_RUT_GON, DIA_CHI, DIEN_THOAI, FAX, ISNULL(THUE_NGOAI,0) AS THUE_NGOAI, ISNULL(MAC_DINH,0) AS MAC_DINH FROM DON_VI ORDER BY MS_DON_VI
		END

		IF @iLoai = 2
		BEGIN
		IF EXISTS (SELECT TOP 1 * FROM dbo.BO_PHAN_CHIU_PHI WHERE MSDV = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.COSTCENTER WHERE MSDV = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.DON_VI_TO WHERE MS_DV = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.TO_PHONG_BAN WHERE MS_DON_VI = @iID)
				BEGIN
					SELECT 1 AS TT		
				END
				ELSE
				BEGIN
					DELETE dbo.DON_VI WHERE(MS_DON_VI = @iID)
					SELECT 0 AS TT		
				END	
		END

		IF @iLoai = 3
		BEGIN
			IF EXISTS (SELECT TOP 1 * FROM dbo.DON_VI WHERE MS_DON_VI = @iID)
			BEGIN
				UPDATE dbo.DON_VI SET MS_DON_VI = @COT1, TEN_DON_VI = @COT2, TEN_DON_VI_ANH = @COT3, TEN_DON_VI_HOA = @COT4, TEN_NGAN = @COT5, TEN_RUT_GON = @COT6, DIA_CHI = @COT7, DIEN_THOAI = @COT8, FAX = @COT9, THUE_NGOAI = @COT16, MAC_DINH = @COT17 WHERE MS_DON_VI = @iID
				SELECT @iID
			END
			ELSE
			BEGIN
				INSERT INTO dbo.DON_VI(MS_DON_VI, TEN_DON_VI, TEN_DON_VI_ANH, TEN_DON_VI_HOA, TEN_NGAN,TEN_RUT_GON, DIA_CHI, DIEN_THOAI, FAX, THUE_NGOAI, MAC_DINH)
				VALUES (@COT1,@COT2,@COT3,@COT4,@COT5,@COT6,@COT7,@COT8,@COT9,@COT16,@COT17)		
				SELECT @COT1
			END
		END

		IF @iLoai = 4
		BEGIN
			IF @COT1 <> ''
				BEGIN
			    IF EXISTS (SELECT TOP 1 * FROM dbo.DON_VI WHERE MS_DON_VI = @COT1 AND MS_DON_VI <> @iID)
					SELECT 1 AS TT		
				ELSE
					SELECT 0 AS TT	
				END
			IF @COT2 <> ''
				BEGIN
			    IF EXISTS (SELECT TOP 1 * FROM dbo.DON_VI WHERE TEN_DON_VI = @COT2 AND	MS_DON_VI <> @iID)
					SELECT 1 AS TT		
				ELSE
					SELECT 0 AS TT	
				END
			IF @COT3 <> '' 
				BEGIN
			    IF EXISTS (SELECT TOP 1 * FROM dbo.DON_VI WHERE TEN_DON_VI_ANH = @COT3 AND	MS_DON_VI <> @iID)
					SELECT 1 AS TT		
				ELSE
					SELECT 0 AS TT	
				END
			IF @COT4 <> '' 
				BEGIN
			    IF EXISTS (SELECT TOP 1 * FROM dbo.DON_VI WHERE TEN_DON_VI_HOA = @COT4 AND	MS_DON_VI <> @iID)
					SELECT 1 AS TT		
				ELSE
					SELECT 0 AS TT	
				END
		END
	END

	IF UPPER(@sDMuc) = UPPER('mnuToPhongBan') 
	BEGIN
		IF @iLoai = 1
		BEGIN
			SELECT TPB.MS_TO, TPB.TEN_TO, TPB.MS_DON_VI, TPB.STT_TO, TPB.TO_TRUONG, TPB.MS_TO_INT 
			FROM TO_PHONG_BAN TPB 
				INNER JOIN dbo.DON_VI DV ON TPB.MS_DON_VI  = DV.MS_DON_VI 
			ORDER BY STT_TO
		END

		IF @iLoai = 2
		BEGIN
		IF EXISTS (SELECT TOP 1 * FROM dbo.DS_TL WHERE MS_TO = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.NHOM_TO_PHONG_BAN WHERE MS_TO = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.[TO] WHERE MS_TO = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.USERS WHERE MS_TO = @iID)
				BEGIN
					SELECT 1 AS TT		
				END
				ELSE
				BEGIN
					DELETE dbo.TO_PHONG_BAN WHERE(MS_TO = @iID)
					SELECT 0 AS TT		
				END	
		END

		IF @iLoai = 3
		BEGIN
			IF EXISTS (SELECT TOP 1 * FROM dbo.TO_PHONG_BAN WHERE MS_TO = @iID)
			BEGIN
				UPDATE dbo.TO_PHONG_BAN SET TEN_TO = @COT1, MS_DON_VI = @COT2, TO_TRUONG = @COT3, MS_TO_INT = @COT4, STT_TO = @COT11
				WHERE MS_TO = @iID
				SELECT @iID
			END
			ELSE
			BEGIN
				INSERT INTO dbo.TO_PHONG_BAN(TEN_TO, MS_DON_VI, TO_TRUONG, MS_TO_INT, STT_TO)
				VALUES (@COT1,@COT2,@COT3,@COT4,@COT11)		
				SELECT SCOPE_IDENTITY()
			END
		END

		IF @iLoai = 4
		BEGIN
			IF @COT1 <> ''
				BEGIN
			    IF EXISTS (SELECT TOP 1 * FROM dbo.TO_PHONG_BAN WHERE TEN_TO = @COT1 AND MS_TO <> @iID)
					SELECT 1 AS TT		
				ELSE
					SELECT 0 AS TT	
				END
		END

		IF @iLoai = 5
		BEGIN
			SELECT MS_DON_VI, TEN_NGAN, CASE @NNgu WHEN 0 THEN TEN_DON_VI WHEN 1 THEN ISNULL(NULLIF(TEN_DON_VI_ANH,''), TEN_DON_VI) ELSE ISNULL(NULLIF(TEN_DON_VI_HOA,''), TEN_DON_VI) END AS TEN_DON_VI FROM dbo.DON_VI 
			UNION 
			SELECT '-99', '', ''
			ORDER BY TEN_NGAN
		END
	END

	IF UPPER(@sDMuc) = UPPER('mnuTo') 
	BEGIN
		IF @iLoai = 1
		BEGIN
			SELECT T.MS_TO1, T.TEN_TO AS TEN_TO1, TPB.TEN_TO, TPB.MS_DON_VI
			FROM dbo.[TO] T
				INNER JOIN dbo.TO_PHONG_BAN TPB ON T.MS_TO = TPB.MS_TO
				INNER JOIN dbo.DON_VI DV ON TPB.MS_DON_VI = DV.MS_DON_VI
		END

		IF @iLoai = 2
		BEGIN
		IF EXISTS (SELECT TOP 1 * FROM dbo.CONG_NHAN WHERE MS_TO = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.EOR WHERE BAN_TO_LAP = @iID)
				BEGIN
					SELECT 1 AS TT		
				END
				ELSE
				BEGIN
					DELETE dbo.[TO] WHERE(MS_TO1 = @iID)
					SELECT 0 AS TT		
				END	
		END

		IF @iLoai = 3
		BEGIN
			IF EXISTS (SELECT TOP 1 * FROM dbo.[TO] WHERE MS_TO1 = @iID)
			BEGIN
				UPDATE dbo.[TO] SET TEN_TO = @COT1, MS_TO = @COT11
				WHERE MS_TO1 = @iID
				SELECT @iID
			END
			ELSE
			BEGIN
				INSERT INTO dbo.[TO](TEN_TO,MS_TO)
				VALUES (@COT1,@COT11)		
				SELECT SCOPE_IDENTITY()
			END
		END

		IF @iLoai = 4
		BEGIN
			IF @COT1 <> ''
				BEGIN
			    IF EXISTS (SELECT TOP 1 * FROM dbo.[TO] WHERE TEN_TO = @COT1 AND MS_TO1 <> @iID)
					SELECT 1 AS TT		
				ELSE
					SELECT 0 AS TT	
				END
		END

		
		IF @iLoai = 5
		BEGIN
			SELECT MS_DON_VI, TEN_NGAN, CASE @NNgu WHEN 0 THEN TEN_DON_VI WHEN 1 THEN ISNULL(NULLIF(TEN_DON_VI_ANH,''), TEN_DON_VI) ELSE ISNULL(NULLIF(TEN_DON_VI_HOA,''), TEN_DON_VI) END AS TEN_DON_VI FROM dbo.DON_VI 
			UNION 
			SELECT '-99', '', ''
			ORDER BY TEN_NGAN

			SELECT MS_TO, TEN_TO, STT_TO, MS_DON_VI FROM dbo.TO_PHONG_BAN
			UNION 
			SELECT -99, '', -99, '-99'
			ORDER BY STT_TO
		END
	END
END
