
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spQuanLyNhanVien')
   
exec('CREATE PROCEDURE spQuanLyNhanVien AS BEGIN SET NOCOUNT ON; END')

GO



ALTER PROC [dbo].[spQuanLyNhanVien]
	@iLoai INT = 1,
	@USERNAME NVARCHAR(100) = NULL,
	@NNgu INT = 0,
	@iID NVARCHAR(200) = -1,
	@MS_CONG_NHAN NVARCHAR(9) = '123456',
	@HO NVARCHAR(50) = NULL,
	@TEN NVARCHAR (50) = NULL,
	@NGAY_SINH DATETIME = NULL,
	@NOI_SINH NVARCHAR(255) = NULL,
	@PHAI BIT = 0,
	@DIA_CHI_THUONG_TRU NVARCHAR(100) = NULL,
	@SO_CMND NVARCHAR(10) = NULL,
	@NGAY_CAP DATETIME = NULL,
	@NOI_CAP NVARCHAR(50) = NULL,
	@MS_TO INT = NULL,
	@NGAY_VAO_LAM DATETIME = NULL,
	@BO_VIEC BIT = 0,
	@NGAY_NGHI_VIEC DATETIME = NULL,
	@LY_DO_NGHI NVARCHAR(255) = NULL,
	@MS_TRINH_DO SMALLINT = NULL,
	@NGOAI_NGU NVARCHAR(20) = NULL,
	@HINH_CN NVARCHAR(255) = NULL,
	@GHI_CHU NVARCHAR(255) = NULL,
	@MS_THE_CC NVARCHAR(9) = NULL,
	@SO_DT_NHA_RIENG NVARCHAR(15) = NULL,
	@SO_DTDD NVARCHAR(15) = NULL,
	@TEN_NGUOI_THAN NVARCHAR(50) = NULL,
	@QUAN_HE NVARCHAR(50) = NULL,
	@BANG_CAP NVARCHAR(255) = NULL,
	@USER_MAIL NVARCHAR(50) = NULL,
	@TEN_CHUC_VU NVARCHAR(500) = NULL
AS
BEGIN
	
	IF @iLoai = 0
	BEGIN
		SELECT CN.MS_CONG_NHAN, 
		RTRIM(LTRIM(CN.HO + ' ' + CN.TEN)) AS HO_TEN, DV.TEN_NGAN, TPB.TEN_TO, T.TEN_TO AS TEN_TO1, CN.NGAY_SINH, CN.NOI_SINH, ISNULL(CN.PHAI,0) AS PHAI , CN.DIA_CHI_THUONG_TRU, CN.SO_CMND, CN.NGAY_CAP, CN.NOI_CAP, CN.NGAY_VAO_LAM, CV.TEN_CHUC_VU, ISNULL(CN.BO_VIEC,0) AS BO_VIEC, CN.NGAY_NGHI_VIEC, CN.LY_DO_NGHI, CN.MS_TRINH_DO, CN.NGOAI_NGU, CN.HINH_CN, CN.GHI_CHU, CN.MS_THE_CC, CN.SO_DT_NHA_RIENG, CN.SO_DTDD, CN.TEN_NGUOI_THAN, CN.QUAN_HE, CN.BANG_CAP, CN.USER_MAIL
		FROM dbo.CONG_NHAN CN
		LEFT JOIN dbo.[TO] T ON  CN.MS_TO = T.MS_TO1
		LEFT JOIN dbo.TO_PHONG_BAN TPB ON T.MS_TO = TPB.MS_TO
		LEFT JOIN dbo.DON_VI DV ON TPB.MS_DON_VI = DV.MS_DON_VI
		LEFT JOIN dbo.CHUC_VU CV ON CN.MS_CONG_NHAN = CV.MS_CONG_NHAN
		LEFT JOIN dbo.TRINH_DO_VAN_HOA TDVH ON CN.MS_TRINH_DO = TDVH.MS_TRINH_DO
		ORDER BY MS_CONG_NHAN
	END

	IF @iLoai = 1
	BEGIN
		SELECT CN.MS_CONG_NHAN,	CN.HO, CN.TEN, CN.NGAY_SINH, CN.NOI_SINH, ISNULL(CN.PHAI,0) AS PHAI , CN.DIA_CHI_THUONG_TRU, CN.SO_CMND, CN.NGAY_CAP, CN.NOI_CAP, CN.NGAY_VAO_LAM, CV.TEN_CHUC_VU, ISNULL(CN.BO_VIEC,0) AS BO_VIEC, CN.NGAY_NGHI_VIEC, CN.LY_DO_NGHI, CN.MS_TRINH_DO, CN.NGOAI_NGU, CN.HINH_CN, CN.GHI_CHU, CN.MS_THE_CC, CN.SO_DT_NHA_RIENG, CN.SO_DTDD, CN.TEN_NGUOI_THAN, CN.QUAN_HE, CN.BANG_CAP, CN.USER_MAIL, CN.MS_TO AS MS_TO1, TPB.MS_TO, TPB.MS_DON_VI
		FROM dbo.CONG_NHAN CN
			LEFT JOIN dbo.[TO] T ON  CN.MS_TO = T.MS_TO1
			LEFT JOIN dbo.TO_PHONG_BAN TPB ON T.MS_TO = TPB.MS_TO
			LEFT JOIN dbo.CHUC_VU CV ON CN.MS_CONG_NHAN = CV.MS_CONG_NHAN
			LEFT JOIN dbo.TRINH_DO_VAN_HOA TDVH ON CN.MS_TRINH_DO = TDVH.MS_TRINH_DO
		WHERE CN.MS_CONG_NHAN = @iID
	END

	IF @iLoai = 2
	BEGIN
		IF EXISTS (SELECT TOP 1 * FROM dbo.MAY_CONG_NHAN WHERE MS_CONG_NHAN = @iID) 
			OR EXISTS (SELECT TOP 1 * FROM dbo.CONG_NHAN_VAI_TRO WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.CONG_VIEC_HANG_NGAY_NV WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.DIEU_DO_NHOM_CN WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.GIAM_SAT_TINH_TRANG WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.IC_KHO WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.IC_QUOC_GIA_CONG_NHAN WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.KE_HOACH_THUC_HIEN WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.LUONG_CO_BAN WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.PHIEU_BAO_TRI WHERE NGUOI_GIAM_SAT = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.PHIEU_BAO_TRI_GIAM_SAT_NGHIEM_THU WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.PHIEU_BAO_TRI_NHAN_SU WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.TAI_NAN_LD WHERE MS_CONG_NHAN = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.TRUC_CA WHERE TRUONG_CA = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.YEU_CAU_NSD_CHI_TIET WHERE MS_CONG_NHAN = @iID)
		BEGIN
			SELECT 1 AS TT		
		END
		ELSE
		BEGIN

			DELETE dbo.CHUC_VU WHERE(MS_CONG_NHAN = @iID)
			DELETE dbo.CONG_NHAN WHERE(MS_CONG_NHAN = @iID)
			SELECT 0 AS TT		
		END	
	END

	IF @iLoai = 3
	BEGIN
		IF EXISTS (SELECT TOP 1 * FROM dbo.CONG_NHAN WHERE MS_CONG_NHAN = @iID)
		BEGIN
			UPDATE dbo.CONG_NHAN
			SET	HO = @HO,
			TEN = @TEN,
			NGAY_SINH = @NGAY_SINH,
			NOI_SINH = @NOI_SINH,
			PHAI = ISNULL(@PHAI,0),
			DIA_CHI_THUONG_TRU = @DIA_CHI_THUONG_TRU,
			SO_CMND = @SO_CMND,
			NGAY_CAP = @NGAY_CAP,
			NOI_CAP = @NOI_CAP,
			MS_TO = @MS_TO,
			NGAY_VAO_LAM = @NGAY_VAO_LAM,
			BO_VIEC = ISNULL(@BO_VIEC,0),
			NGAY_NGHI_VIEC = @NGAY_NGHI_VIEC,
			LY_DO_NGHI = @LY_DO_NGHI,
			MS_TRINH_DO = @MS_TRINH_DO,
			NGOAI_NGU = @NGOAI_NGU,
			HINH_CN = @HINH_CN,
			GHI_CHU = @GHI_CHU,
			MS_THE_CC = @MS_THE_CC,
			SO_DT_NHA_RIENG = @SO_DT_NHA_RIENG,
			SO_DTDD = @SO_DTDD,
			TEN_NGUOI_THAN = @TEN_NGUOI_THAN,
			QUAN_HE = @QUAN_HE,
			BANG_CAP = @BANG_CAP,
			USER_MAIL = @USER_MAIL
			WHERE MS_CONG_NHAN = @iID

			IF EXISTS(SELECT TOP 1 * FROM dbo.CHUC_VU WHERE MS_CONG_NHAN = @iID)
			BEGIN
				UPDATE dbo.CHUC_VU
				SET NGAY = GETDATE(),
				TEN_CHUC_VU = @TEN_CHUC_VU
				WHERE MS_CONG_NHAN = @iID
			END
			ELSE
			BEGIN
				INSERT INTO dbo.CHUC_VU (MS_CONG_NHAN, NGAY, TEN_CHUC_VU)
				VALUES (@iID, GETDATE(), @TEN_CHUC_VU)
			END

			SELECT @iID
		END
		ELSE
		BEGIN
			INSERT INTO dbo.CONG_NHAN (MS_CONG_NHAN, HO, TEN, NGAY_SINH, NOI_SINH, PHAI, DIA_CHI_THUONG_TRU, SO_CMND, NGAY_CAP, NOI_CAP, MS_TO, NGAY_VAO_LAM, BO_VIEC, NGAY_NGHI_VIEC, LY_DO_NGHI, MS_TRINH_DO, NGOAI_NGU, HINH_CN, GHI_CHU, MS_THE_CC, SO_DT_NHA_RIENG, SO_DTDD, TEN_NGUOI_THAN, QUAN_HE, BANG_CAP, USER_MAIL)
			VALUES (@MS_CONG_NHAN, @HO, @TEN, @NGAY_SINH, @NOI_SINH, @PHAI, @DIA_CHI_THUONG_TRU, @SO_CMND, @NGAY_CAP, @NOI_CAP, @MS_TO, @NGAY_VAO_LAM, @BO_VIEC, @NGAY_NGHI_VIEC, @LY_DO_NGHI, @MS_TRINH_DO, @NGOAI_NGU, @HINH_CN, @GHI_CHU, @MS_THE_CC, @SO_DT_NHA_RIENG, @SO_DTDD, @TEN_NGUOI_THAN, @QUAN_HE, @BANG_CAP, @USER_MAIL)

			INSERT INTO dbo.CHUC_VU (MS_CONG_NHAN, NGAY, TEN_CHUC_VU)
			VALUES (@MS_CONG_NHAN, GETDATE(), @TEN_CHUC_VU)

			SELECT @MS_CONG_NHAN
		END
	END

	IF @iLoai = 4
	BEGIN
		IF EXISTS (SELECT TOP 1 * FROM dbo.CONG_NHAN WHERE MS_CONG_NHAN = @MS_CONG_NHAN AND MS_CONG_NHAN <> @iID)
			SELECT 1
		ELSE
			SELECT 0
	END

	IF @iLoai = 5
	BEGIN
		--cboMS_DON_VI
		SELECT MS_DON_VI, TEN_NGAN, CASE @NNgu WHEN 0 THEN TEN_DON_VI WHEN 1 THEN ISNULL(NULLIF(TEN_DON_VI_ANH,''), TEN_DON_VI) ELSE ISNULL(NULLIF(TEN_DON_VI_HOA,''), TEN_DON_VI) END AS TEN_DON_VI FROM dbo.DON_VI 
		UNION 
		SELECT '-99', '', ''
		ORDER BY MS_DON_VI

		--cboMS_TO
		SELECT MS_TO, TEN_TO, STT_TO, MS_DON_VI FROM dbo.TO_PHONG_BAN
		UNION 
		SELECT -99, '', -99, '-99'
		ORDER BY STT_TO

		--cboMS_TO1
		SELECT MS_TO1, TEN_TO, MS_TO FROM dbo.[TO]
		UNION 
		SELECT -99, '', -99
		ORDER BY TEN_TO

		--cboMS_TRINH_DO
		SELECT MS_TRINH_DO, TEN_GOI FROM dbo.TRINH_DO_VAN_HOA 
		UNION
		SELECT -99, ''
		ORDER BY MS_TRINH_DO
	END
END