
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spHeThong')
   
exec('CREATE PROCEDURE spHeThong AS BEGIN SET NOCOUNT ON; END')

GO

   

ALTER PROCEDURE [dbo].[spHeThong]
	@iLoai INT = 1,
	@USERNAME NVARCHAR(50) = NULL,
	@NNgu INT = 0,
	@iID NVARCHAR(50) = NULL,
	@FORMNAME NVARCHAR(50) = NULL,
	@MS_HE_THONG INT = NULL,
	@MA_HE_THONG NVARCHAR(50) = NULL,
	@TEN_HE_THONG NVARCHAR(250) = NULL,
	@TEN_HE_THONG_ANH NVARCHAR(250) = NULL,
	@TEN_HE_THONG_HOA NVARCHAR(250) = NULL,
	@GHI_CHU NVARCHAR(255) = NULL,
	@NO_LINE BIT = NULL,
	@STT INT = NULL,
	@MS_CHA INT = NULL,
	@TAI_LIEU NVARCHAR(250) = NULL,
	@NHOM_IN INT = NULL,
	@NHOM_LINE INT = NULL
AS
BEGIN
IF @STT = 0 
BEGIN
    SET @STT = NULL
END

	IF @iLoai = 1
	BEGIN
		DECLARE @TENHT NVARCHAR(250)
		DECLARE @TENHT_A NVARCHAR(250)
		DECLARE @TENHT_H NVARCHAR(250)

		SELECT @TENHT = VIETNAM, @TENHT_A = ISNULL(NULLIF(ENGLISH,''), VIETNAM), @TENHT_H = ISNULL(NULLIF(CHINESE,''), VIETNAM) FROM LANGUAGES WHERE KEYWORD = 'lblHeThong' AND FORM = @FORMNAME

		SELECT * FROM (
			SELECT HT.MS_HE_THONG, HT.MA_HE_THONG, HT.TEN_HE_THONG, HT.TEN_HE_THONG_ANH, HT.TEN_HE_THONG_HOA, ISNULL(HT.MS_CHA, -1) AS MS_CHA , HT.STT,  ISNULL(HT.NO_LINE,0) AS NO_LINE, HT.NHOM_IN, HT.NHOM_LINE, HT.TAI_LIEU, HT.GHI_CHU 
			FROM dbo.HE_THONG HT
				INNER JOIN dbo.NHOM_HE_THONG NHT ON HT.MS_HE_THONG = NHT.MS_HE_THONG
				INNER JOIN dbo.USERS U ON NHT.GROUP_ID = U.GROUP_ID
			UNION
			SELECT -1 AS MS_HE_THONG, NULL AS MA_HE_THONG, @TENHT AS TEN_HE_THONG, @TENHT_A AS TEN_HE_THONG_ANH, @TENHT_H AS TEN_HE_THONG_HOA,NULL AS MS_CHA , -1 AS STT, 0 AS NO_LINE, NULL AS NHOM_IN, NULL AS NHOM_LINE, NULL AS TAI_LIEU, NULL AS GHI_CHU) TMP
		ORDER BY ISNULL(STT,9999),TEN_HE_THONG
	END

	IF @iLoai = 2
	BEGIN
		IF EXISTS (SELECT TOP 1 * FROM dbo.KE_HOACH_SX_LINE WHERE MS_HE_THONG = @iID) 
			OR EXISTS (SELECT TOP 1 * FROM dbo.KE_HOACH_SX_MAY WHERE MS_HE_THONG = @iID) 
			OR EXISTS (SELECT TOP 1 * FROM dbo.THOI_GIAN_NGUNG_MAY WHERE MS_HE_THONG = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.THOI_GIAN_NGUNG_MAY_CT WHERE MS_HE_THONG = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.MAY_HE_THONG WHERE MS_HE_THONG = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.THONG_TIN_SP_QTCN_CT WHERE MS_HE_THONG = @iID)
			OR EXISTS (SELECT TOP 1 * FROM dbo.VI_TRI_HE_THONG WHERE MS_HE_THONG = @iID)
		BEGIN
			SELECT 1 AS TT		
		END
		ELSE
		BEGIN
			IF EXISTS (SELECT TOP 1 GROUP_ID FROM USERS WHERE USERNAME = @USERNAME)
			BEGIN
				DELETE dbo.NHOM_HE_THONG WHERE MS_HE_THONG = @iID
			END

			DELETE dbo.HE_THONG WHERE(MS_HE_THONG = @iID)
			SELECT 0 AS TT
		END	
	END

	IF @iLoai = 3
	BEGIN
		IF EXISTS (SELECT TOP 1 * FROM dbo.HE_THONG WHERE MS_HE_THONG = @iID)
		BEGIN
			UPDATE dbo.HE_THONG
			SET MA_HE_THONG = @MA_HE_THONG,
				TEN_HE_THONG = @TEN_HE_THONG,
				TEN_HE_THONG_ANH = @TEN_HE_THONG_ANH,
				TEN_HE_THONG_HOA = @TEN_HE_THONG_HOA,
				NO_LINE = @NO_LINE,
				STT = @STT,
				TAI_LIEU = @TAI_LIEU, 
				NHOM_IN = @NHOM_IN,
				NHOM_LINE = @NHOM_LINE,
				GHI_CHU = @GHI_CHU
			WHERE MS_HE_THONG = @iID
			SELECT @iID
		END
		ELSE
		BEGIN
			INSERT INTO dbo.HE_THONG (MA_HE_THONG,TEN_HE_THONG, TEN_HE_THONG_ANH, TEN_HE_THONG_HOA, STT, MS_CHA, NO_LINE, TAI_LIEU, NHOM_IN, NHOM_LINE, GHI_CHU)
			VALUES (@MA_HE_THONG,@TEN_HE_THONG, @TEN_HE_THONG_ANH, @TEN_HE_THONG_HOA, @STT, ISNULL(@MS_CHA,-1), @NO_LINE, @TAI_LIEU, @NHOM_IN, @NHOM_LINE, @GHI_CHU)

			SELECT TOP 1 @MS_HE_THONG = MS_HE_THONG FROM dbo.HE_THONG WHERE MA_HE_THONG = @MA_HE_THONG

			IF EXISTS (SELECT TOP 1 * FROM USERS WHERE USERNAME = @USERNAME)
			BEGIN
				INSERT INTO dbo.NHOM_HE_THONG (GROUP_ID, MS_HE_THONG)
				VALUES ((SELECT TOP 1 GROUP_ID FROM USERS WHERE USERNAME = @USERNAME), @MS_HE_THONG)
			END

			SELECT @MS_HE_THONG
		END
	END

	IF @iLoai = 4
	BEGIN
		DECLARE @KIEMTRUNG INT = 0

		IF EXISTS (SELECT TOP 1 * FROM dbo.HE_THONG WHERE TEN_HE_THONG_HOA = @TEN_HE_THONG_HOA AND MS_HE_THONG <> @iID) AND @TEN_HE_THONG_HOA <> ''
			SET @KIEMTRUNG = 4

		IF EXISTS (SELECT TOP 1 * FROM dbo.HE_THONG WHERE TEN_HE_THONG_ANH = @TEN_HE_THONG_ANH AND MS_HE_THONG <> @iID) AND @TEN_HE_THONG_ANH <> ''
			SET @KIEMTRUNG = 3

		IF EXISTS (SELECT TOP 1 * FROM dbo.HE_THONG WHERE TEN_HE_THONG = @TEN_HE_THONG AND MS_HE_THONG <> @iID) AND @TEN_HE_THONG <> ''
			SET @KIEMTRUNG = 2

		IF EXISTS (SELECT TOP 1 * FROM dbo.HE_THONG WHERE MA_HE_THONG = @MA_HE_THONG AND MS_HE_THONG <> @iID) AND @MA_HE_THONG <> ''
			SET @KIEMTRUNG = 1

		SELECT @KIEMTRUNG
	END
END
