
--exec dbo.GetSLNhapBangKe 17,25,'12/01/2014','12/31/2014','CT-AM, CO-BT, TH-BH, DI-BI, TH-BO, DI-DC, TH-BL, DI-CB, TH-CS, CO-DA, TH-DD, 1, DO-DI, DO-NH, DO-OX, DO-TS, 3, DI-GN, TH-HC, CO-HN, CT-IN, CO-KN, DI-ND, TH-NL, 2, TH-NC, CO-PT, DI-DK, DI-DN, CT-TH, CO-TD, DI-TU, TH-CD, CO-VB, TH-SX, TH-XD'
ALTER proc [dbo].[GetSLNhapBangKe]
(
	@KHO_COI INT,
	@KHO_WHERE INT,
	@TU_NGAY DATETIME ,
	@DEN_NGAY DATETIME ,
	@MS_LOAI_VT nvarchar(4000) ='CT-AM, CO-BT, TH-BH, DI-BI, TH-BO, DI-DC, TH-BL, DI-CB, TH-CS, CO-DA, TH-DD, 1, DO-DI, DO-NH, DO-OX, DO-TS, 3, DI-GN, TH-HC, CO-HN, CT-IN, CO-KN, DI-ND, TH-NL, 2, TH-NC, CO-PT, DI-DK, DI-DN, CT-TH, CO-TD, DI-TU, TH-CD, CO-VB, TH-SX, TH-XD'
)
AS
SET  @MS_LOAI_VT  = '''' + REPLACE(@MS_LOAI_VT,', ',''''+ ',' + '''') + '''' 



CREATE TABLE #LVT_TMP([MS_LOAI_VT] NVARCHAR(50))
DECLARE @sSql nvarchar(4000)
IF @MS_LOAI_VT = '-1'
	set @sSql = 'INSERT INTO #LVT_TMP SELECT MS_LOAI_VT FROM LOAI_VT '
ELSE
	set @sSql = 'INSERT INTO #LVT_TMP SELECT MS_LOAI_VT FROM LOAI_VT WHERE MS_LOAI_VT IN (' + REPLACE(@MS_LOAI_VT,'*','''')  + ') '
EXEC (@sSql)
PRINT @sSql


SELECT MS_PT,SL,GT FROM (
SELECT A.MS_PT , ISNULL(SL1,0) + ISNULL(SL2,0) + ISNULL(SL3,0) AS SL, 
ISNULL(GT1,0) + ISNULL(GT2,0) + ISNULL(GT3,0) AS GT
FROM IC_PHU_TUNG A LEFT JOIN
(
SELECT     T3.MS_PT, SUM(T3.SL_THUC_NHAP) AS SL1, SUM(T3.SL_THUC_NHAP * T3.DON_GIA * T3.TY_GIA) AS GT1
FROM         dbo.IC_DON_HANG_NHAP AS T1 INNER JOIN
                      dbo.IC_DON_HANG_XUAT AS T2 ON T1.MS_DH_XUAT_PT = T2.MS_DH_XUAT_PT INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT
WHERE (T1.MS_KHO = @KHO_COI) AND (T2.MS_KHO = @KHO_WHERE) AND ( CONVERT(DATETIME,CONVERT(NVARCHAR(10),T1.NGAY,101)) BETWEEN @TU_NGAY AND @DEN_NGAY )
GROUP BY T3.MS_PT, T1.MS_KHO, T2.MS_KHO
) B ON A.MS_PT = B.MS_PT 
LEFT JOIN 
(
SELECT     XCT.MS_PT, SUM(XCT.SL_VT) AS SL2, SUM(XCT.SL_VT * NVT_GIA.DON_GIA * NVT_GIA.TY_GIA) AS GT2	
FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT_GIA INNER JOIN	
                      dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT_GIA ON NCT_GIA.MS_DH_NHAP_PT = NVT_GIA.MS_DH_NHAP_PT AND NCT_GIA.MS_PT = NVT_GIA.MS_PT AND NCT_GIA.ID = NVT_GIA.ID INNER JOIN	
                      dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS XCT INNER JOIN	
                      dbo.IC_DON_HANG_NHAP AS DHN_WHERE ON XCT.MS_DH_NHAP_PT = DHN_WHERE.MS_DH_NHAP_PT INNER JOIN	
                      dbo.IC_DON_HANG_XUAT AS DHX_WHERE ON DHN_WHERE.MS_DH_XUAT_PT = DHX_WHERE.MS_DH_XUAT_PT INNER JOIN	
                      dbo.IC_DON_HANG_XUAT_VAT_TU AS XVT ON XCT.MS_DH_XUAT_PT = XVT.MS_DH_XUAT_PT AND XCT.MS_PT = XVT.MS_PT INNER JOIN	
                      dbo.IC_DON_HANG_NHAP AS NHAP_COI INNER JOIN	
                      dbo.IC_DON_HANG_XUAT AS XUAT_DD ON NHAP_COI.MS_DH_XUAT_PT = XUAT_DD.MS_DH_XUAT_PT ON XVT.MS_DH_XUAT_PT = XUAT_DD.MS_DH_XUAT_PT ON 	
                      NCT_GIA.MS_DH_NHAP_PT = XCT.MS_DH_NHAP_PT AND NCT_GIA.MS_PT = XCT.MS_PT AND NCT_GIA.MS_VI_TRI = XCT.MS_VI_TRI AND NCT_GIA.ID = XCT.ID_XUAT	
WHERE     (DHX_WHERE.MS_KHO = @KHO_WHERE) AND (NHAP_COI.MS_KHO = @KHO_COI) AND ( CONVERT(DATETIME,CONVERT(NVARCHAR(10),NHAP_COI.NGAY,101)) BETWEEN @TU_NGAY AND @DEN_NGAY )
		AND (XUAT_DD.MS_KHO IN (SELECT MS_KHO FROM dbo.IC_KHO WHERE (MS_KHO_CHINH = @KHO_COI)))				
GROUP BY XCT.MS_PT
) C ON A.MS_PT = C.MS_PT 
LEFT JOIN 
(
SELECT     DC.MS_PT, SUM(DC.SL_CHUYEN) AS SL3, SUM(DC.SL_CHUYEN * NVT.DON_GIA * NVT.TY_GIA) AS GT3
FROM         dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS DC INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON DC.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT
WHERE     (DC.MS_KHO_1 = @KHO_COI) AND (DC.MS_KHO = @KHO_WHERE) 
	AND ( CONVERT(DATETIME,CONVERT(NVARCHAR(10),DC.NGAY_CHUYEN,101)) BETWEEN @TU_NGAY AND @DEN_NGAY )
GROUP BY DC.MS_PT
) D ON A.MS_PT = D.MS_PT 
 INNER JOIN #LVT_TMP LVT ON A.MS_LOAI_VT = LVT.MS_LOAI_VT
) T1 
WHERE ISNULL(SL,0) + ISNULL(GT,0) <> 0

