


--	exec GetKHTT '08/01/2020', '08/30/2021', '-1',  -1, '-1', '-1', '-1', 'ADMIN',0,1
-- SELECT * FROM KHBT_NAMAdministrator

ALTER procedure [dbo].[GetKHTT] 
	@NgayBD DATETIME,
	@NgayKT DATETIME,
	@MsNXuong nvarchar(50),
	@HThong NVARCHAR(255),	
	@LoaiMay NVARCHAR(20),
	@NhomMay NVARCHAR(20),
	@MsMay NVARCHAR(30),
	@UserName NVARCHAR(255),
	@NNgu INT,
	@DuGio BIT
AS
begin

--DECLARE @NNgu INT = 0
--DECLARE	@DuGio BIT = 0
	
SELECT     TOP (100) PERCENT A.MS_MAY, A.MS_LOAI_BT, A.NGAY_HC_CUOI AS NGAY_CUOI , A.CHU_KY, A.MS_DV_TG, A.NGAY_KE AS NGAY_BTKT INTO #HIEU_CHUAN_KE
FROM         dbo.MGetNgayHieuChuanKeBaoTri(@NgayBD, @NgayKT, @UserName, @MsNXuong, @HThong, @LoaiMay, @NhomMay, 1) AS A 
WHERE     (A.MS_MAY = @MsMay OR @MsMay = '-1') 
ORDER BY A.MS_MAY, A.MS_LOAI_BT, A.NGAY_HC_CUOI, A.CHU_KY, A.MS_DV_TG, A.NGAY_KE


--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con
DELETE T1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      #HIEU_CHUAN_KE AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_BTKT) >= T2.NGAY_BTKT 
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_BTKT) <= T2.NGAY_BTKT 
 
--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con trong PBT
DELETE T1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      PHIEU_BAO_TRI AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_BTKT) >= T2.NGAY_BD_KH 
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_BTKT) <= T2.NGAY_BD_KH

--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con trong KHTT 
DELETE T1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      KE_HOACH_TONG_THE AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_BTKT) >= T2.NGAY
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_BTKT) <= T2.NGAY
 


 --Xóa bảo trì định kỳ đã lập bên kế hoạch tổng thể và phiếu bảo trì TRONG 1/4 CHU KY
DELETE T
FROM #HIEU_CHUAN_KE T INNER JOIN
dbo.KE_HOACH_TONG_THE T1 ON T.MS_MAY = T1.MS_MAY AND 
T.MS_LOAI_BT = T1.MS_LOAI_BT 
WHERE DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_BTKT) >= T1.NGAY 
	AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_BTKT) <= T1.NGAY 

DELETE T
FROM #HIEU_CHUAN_KE T INNER JOIN dbo.PHIEU_BAO_TRI T1 ON T.MS_MAY = T1.MS_MAY AND T.MS_LOAI_BT = T1.MS_LOAI_BT 
WHERE DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_BTKT) >= T1.NGAY_BD_KH 
AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_BTKT) <= T1.NGAY_BD_KH 
	


SELECT DISTINCT CONVERT(BIT,0) AS chkChon, A.MS_MAY, CASE @NNgu when 0 THEN E.TEN_MAY WHEN 1 THEN ISNULL(E.TEN_MAY_ANH,E.TEN_MAY) ELSE ISNULL(E.TEN_MAY_HOA,E.TEN_MAY) END AS TEN_MAY, B.TEN_LOAI_BT, A.NGAY_CUOI, A.NGAY_BTKT,CONVERT(NVARCHAR(10), C.RUN_TIME) + ' ' + D.TEN_DVT_RT AS TGCM, CAST (dbo.[GetThoiGianHienTaiDHD](A.MS_MAY, C.MS_DV_TG , C.CHU_KY, A.NGAY_BTKT, A.NGAY_CUOI) AS NVARCHAR)  + ' ' + D.TEN_DVT_RT AS TGCM_HIEN_TAI,A.MS_LOAI_BT, B.THU_TU, CASE @NNgu WHEN 0 THEN F.TEN_NHOM_MAY WHEN 1 THEN ISNULL(F.TEN_NHOM_MAY_ANH,F.TEN_NHOM_MAY) ELSE ISNULL(F.TEN_NHOM_MAY_HOA,F.TEN_NHOM_MAY) END AS TEN_NHOM_MAY, CONVERT(FLOAT, ISNULL( dbo.[GetThoiGianHienTaiDHD](A.MS_MAY, C.MS_DV_TG ,C.CHU_KY, A.NGAY_BTKT, A.NGAY_CUOI),0)) AS TG_THUC_HIEN , ISNULL(C.RUN_TIME,0) AS RUN_TIME, CASE @NNgu when 0 THEN T2.Ten_N_XUONG WHEN 1 THEN ISNULL(T2.TEN_N_XUONG_A,T2.Ten_N_XUONG) ELSE ISNULL(T2.TEN_N_XUONG_H,T2.Ten_N_XUONG) END AS Ten_N_XUONG, CASE @NNgu when 0 THEN T1.TEN_HE_THONG WHEN 1 THEN ISNULL(T1.TEN_HT_A,T1.TEN_HE_THONG) ELSE ISNULL(T1.TEN_HT_A,T1.TEN_HE_THONG) END AS	TEN_HE_THONG, CASE @NNgu WHEN 0 THEN T3.TEN_UU_TIEN ELSE ISNULL(T3.TEN_TA,T3.TEN_UU_TIEN) END AS TEN_UU_TIEN
INTO	#BTDK
FROM #HIEU_CHUAN_KE  A INNER JOIN dbo.LOAI_BAO_TRI B ON B.MS_LOAI_BT = A.MS_LOAI_BT INNER JOIN
dbo.V_MAY_LOAI_BTPN_CHU_KY_MAX C ON A.MS_MAY = C.MS_MAY AND C.MS_LOAI_BT = A.MS_LOAI_BT LEFT JOIN  
dbo.DON_VI_TINH_RUN_TIME AS D ON C.MS_DVT_RT = D.MS_DVT_RT INNER JOIN 
dbo.MAY E ON A.MS_MAY = E.MS_MAY INNER JOIN dbo.NHOM_MAY F ON
E.MS_NHOM_MAY = F.MS_NHOM_MAY INNER JOIN dbo.MAY_HE_THONG_NGAY_MAX T1 ON A.MS_MAY = T1.MS_MAY
INNER JOIN dbo.MAY_NHA_XUONG_NGAY_MAX T2 ON A.MS_MAY = T2.MS_MAY LEFT JOIN dbo.MUC_UU_TIEN T3 ON E.MUC_UU_TIEN = T3.MS_UU_TIEN
WHERE A.NGAY_BTKT BETWEEN @NgayBD AND @NgayKT
ORDER BY A.MS_MAY ,A.MS_LOAI_BT, A.NGAY_CUOI, A.NGAY_BTKT


IF @DuGio = 1 
BEGIN
	SELECT DISTINCT CONVERT(BIT,0) AS chkChon,T.MS_MAY,  T.TEN_MAY,T.TEN_LOAI_BT, T.NGAY_CUOI, T.NGAY_BTKT, T.TGCM,  T.TGCM_HIEN_TAI,T. MS_LOAI_BT, T.THU_TU,  T.TEN_NHOM_MAY, T.TEN_UU_TIEN  ,T.Ten_N_XUONG,T.TEN_HE_THONG, M.MUC_UU_TIEN FROM #BTDK T LEFT JOIN dbo.MAY M ON M.MS_MAY = T.MS_MAY WHERE 
	CONVERT(NUMERIC,ISNULL(T.TG_THUC_HIEN,0)) >= ISNULL(T.RUN_TIME,0) ORDER BY T.MS_MAY, T.TEN_LOAI_BT, T.NGAY_CUOI,T.NGAY_BTKT

END
ELSE
BEGIN
	SELECT DISTINCT CONVERT(BIT,0) AS chkChon,T.MS_MAY,  T.TEN_MAY,T.TEN_LOAI_BT, T.NGAY_CUOI, T.NGAY_BTKT, T.TGCM,  T.TGCM_HIEN_TAI,T. MS_LOAI_BT, T.THU_TU,  T.TEN_NHOM_MAY, T.TEN_UU_TIEN  ,T.Ten_N_XUONG,T.TEN_HE_THONG, M.MUC_UU_TIEN FROM #BTDK T LEFT JOIN dbo.MAY M ON M.MS_MAY = T.MS_MAY ORDER BY T.MS_MAY, T.TEN_LOAI_BT, T.NGAY_CUOI,T.NGAY_BTKT

END

--exec GetKHTT '08/01/2020', '08/30/2021', '-1',  -1, '-1', '-1', '-1', 'ADMIN',0,1
END



