
ALTER PROCEDURE [dbo].[MGetMayPhuTungHetTuoiTho]
	@UserName NVARCHAR(50) ='ADMIN',
	@NNgu INT ='0',
	@MSNX NVARCHAR(150) ='-1',
	@MSHT INT =-1,
	@MSLMAY NVARCHAR(50) ='-1',
	@MSNHOMMAY NVARCHAR(50) ='-1'
as

SELECT 	 CONVERT(BIT,1) AS CHON, A.MS_MAY,TEN_MAY,A.Ten_N_XUONG,A.TEN_HE_THONG,A.TEN_LOAI_MAY,A.TEN_NHOM_MAY FROM dbo.MGetMayUserNgay(GETDATE(),@UserName,@MSNX,@MSHT,-1,@MSLMAY,@MSNHOMMAY,'-1',@NNgu) 	A
INNER JOIN (SELECT DISTINCT	MS_MAY FROM  dbo.CAU_TRUC_THIET_BI_PHU_TUNG) B ON B.MS_MAY = A.MS_MAY ORDER BY MS_MAY,TEN_MAY,MODEL

