

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetPSDVPBTAll')
   exec('CREATE PROCEDURE [dbo].[spGetPSDVPBTAll] AS BEGIN SET NOCOUNT ON; END')
GO

--EXEC spGetPSDVPBTAll '-1','ADMIN'

ALTER PROC spGetPSDVPBTAll
	@MsYeuCau NVARCHAR(20),
	@UName NVARCHAR(100)
AS
DECLARE @DNgay DATETIME
SET @DNgay = GETDATE()

SELECT * INTO #MAY_USER FROM [dbo].[MGetMayUserNgay]( @DNgay,@UName,'-1',-1,-1,'-1','-1','-1',0)

SELECT     T1.MS_PHIEU_BAO_TRI,T2.MS_MAY, T3.TEN_MAY, T1.NOI_DUNG, TEN_BP_CHIU_PHI, T1.CHI_PHI_PB, T1.ID_PSDV_PBT, 
		T1.MS_YEU_CAU, T1.SER_GROUP_CODE, CONVERT(BIT,1) AS CU_MOI
FROM         dbo.PSDV_PHIEU_BT AS T1 INNER JOIN
                      dbo.PHIEU_BAO_TRI AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI INNER JOIN
                      #MAY_USER AS T3 ON T2.MS_MAY = T3.MS_MAY 
WHERE     (T1.MS_YEU_CAU = @MsYeuCau)           
