IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spCreatePNXAuto')
   exec('CREATE PROCEDURE [dbo].[spCreatePNXAuto] AS BEGIN SET NOCOUNT ON; END')
GO

ALTER PROC spCreatePNXAuto
	@MsPBT NVARCHAR(50),
	@MsMay NVARCHAR(50)
AS
--SET @MsPBT  = 'WO-201507000001'
--set @MsMay = '10-01-OCO-001'



DECLARE @TBDATA AS TABLE (
		   MS_DH_XUAT_PT nvarchar(50),
           MS_PT nvarchar(100),
           MS_PHIEU_BT nvarchar(50),
           MS_MAY nvarchar(50),
           MS_KHO INT,
           SO_LUONG_PHAN_BO float,
           DON_GIA FLOAT
)

INSERT INTO @TBDATA (MS_DH_XUAT_PT , MS_PT, MS_PHIEU_BT, MS_KHO,SO_LUONG_PHAN_BO,MS_MAY,DON_GIA)
	SELECT MS_DH_XUAT_PT,MS_PT,MS_PHIEU_BT,MS_KHO,SUM(SO_LUONG_PHAN_BO) SL_XUAT, MS_MAY,AVG(DON_GIA)
FROM SYN_TB_ALLOCATION_VTPT_FOR_PBT 
WHERE MS_PHIEU_BT = @MsPBT AND MS_MAY = @MsMay AND ISNULL(DA_TAO_PHIEU,0) = 0
GROUP BY MS_DH_XUAT_PT,MS_PT,MS_PHIEU_BT,MS_KHO,MS_MAY


-- Tinh lai gia 
UPDATE @TBDATA SET DON_GIA = DG 
FROM @TBDATA A INNER JOIN
(SELECT T1.MS_PT,T1.MS_KHO, AVG(DON_GIA) AS DG FROM [TINH_GIA_LAI] T1 INNER JOIN
(SELECT MS_PT,MS_KHO, MAX(NGAY_KHOA_SO) AS NGAY_MAX FROM [TINH_GIA_LAI] 
WHERE NGAY_KHOA_SO <= GETDATE() AND ISNULL(MS_PT ,'') <> '' GROUP BY MS_PT,MS_KHO) T2 ON
T1.MS_PT = T2.MS_PT AND T1.MS_KHO = T2.MS_KHO AND T1.NGAY_KHOA_SO = T2.NGAY_MAX
GROUP BY T1.MS_PT,T1.MS_KHO) AS B ON B.MS_PT = A.MS_PT AND A.MS_KHO = B.MS_KHO



DECLARE @NUM_NHAP INT 
SET @NUM_NHAP = 0

DECLARE @NUM_XUAT INT 
SET @NUM_XUAT = 0

DECLARE @MS_KHO_CMMS INT 
DECLARE @MS_XUAT_INT NVARCHAR(50)
DECLARE KHOLIST CURSOR FOR 
	SELECT DISTINCT MS_KHO,MS_DH_XUAT_PT FROM @TBDATA

OPEN KHOLIST
FETCH NEXT FROM KHOLIST 
INTO @MS_KHO_CMMS,@MS_XUAT_INT
WHILE @@FETCH_STATUS = 0
BEGIN
	-- TAO PHIEU NHAP TU DONG
	DECLARE @MS_PHIEU_NHAP_AUTO NVARCHAR(30)
	DECLARE @MAX_PN_AUTO FLOAT
	SELECT @MAX_PN_AUTO = MAX(ISNULL(CONVERT(FLOAT,RIGHT(MS_DH_NHAP_PT,10)),0)) FROM IC_DON_HANG_NHAP WHERE LEFT(MS_DH_NHAP_PT,4) = 'NSYN'
	SET @MAX_PN_AUTO = ISNULL(@MAX_PN_AUTO,0) + 1 + @NUM_NHAP
	SET @MS_PHIEU_NHAP_AUTO = 'NSYN' + RIGHT('0000000000' + CONVERT(NVARCHAR(10),@MAX_PN_AUTO),10)
	
	--IC_DON_HANG_NHAP
	INSERT INTO dbo.IC_DON_HANG_NHAP ( MS_DH_NHAP_PT, SO_PHIEU_XN, GIO, NGAY, MS_KHO, MS_DANG_NHAP, NGAY_CHUNG_TU, LOCK, GHI_CHU, MS_DHX_SYNC)
	SELECT @MS_PHIEU_NHAP_AUTO  AS MS_DH_NHAP_PT , @MS_PHIEU_NHAP_AUTO AS SO_PHIEU_XN ,GETDATE() AS GIO , GETDATE() AS NGAY ,
	@MS_KHO_CMMS AS MS_KHO , '1' AS MS_DANG_NHAP , GETDATE() AS NGAY_CHUNG_TU , CONVERT(BIT,1) AS LOCK , N'TAO PHIEU NHAP TU DONG' AS GHI_CHU, @MS_XUAT_INT
	
	-- IC_DON_HANG_NHAP_VAT_TU
	DECLARE @IC_DH_NHAP_VAT_TU AS TABLE (
		   MS_DH_NHAP_PT nvarchar(50),
           MS_PT nvarchar(100),
           ID INT,
           SO_LUONG_CTU FLOAT,
           SL_THUC_NHAP FLOAT,
           DON_GIA FLOAT,
           NGOAI_TE NVARCHAR(10),
           TY_GIA FLOAT,
           TY_GIA_USD FLOAT ,
           THANH_TIEN float
		) 

	
	INSERT INTO @IC_DH_NHAP_VAT_TU (MS_DH_NHAP_PT,MS_PT,ID,SO_LUONG_CTU,SL_THUC_NHAP,DON_GIA,NGOAI_TE,TY_GIA,TY_GIA_USD,THANH_TIEN)
	SELECT TMP.MS_DH_NHAP_PT , TMP.MS_PT , ROW_NUMBER() OVER (ORDER BY TMP.MS_PT)  AS ID ,
		TMP.SO_LUONG_CTU, TMP.SL_THUC_NHAP, TMP.DON_GIA, TMP.NGOAI_TE, TMP.TY_GIA, TMP.TY_GIA_USD, TMP.THANH_TIEN 
	FROM (
	SELECT DISTINCT @MS_PHIEU_NHAP_AUTO AS MS_DH_NHAP_PT , TB1.MS_PT , TB1.SO_LUONG_PHAN_BO AS SO_LUONG_CTU , TB1.SO_LUONG_PHAN_BO AS SL_THUC_NHAP , 
		TB1.DON_GIA , 'VND' AS NGOAI_TE , '1' AS TY_GIA , CONVERT(FLOAT,'5.72E-05') AS TY_GIA_USD , 
		TB1.SO_LUONG_PHAN_BO *  TB1.DON_GIA AS THANH_TIEN 
	FROM @TBDATA AS TB1 
	WHERE TB1.MS_KHO = @MS_KHO_CMMS AND MS_DH_XUAT_PT = @MS_XUAT_INT
	) AS TMP 

	
	INSERT INTO IC_DON_HANG_NHAP_VAT_TU (MS_DH_NHAP_PT, MS_PT, ID, SO_LUONG_CTU, SL_THUC_NHAP, DON_GIA, NGOAI_TE, TY_GIA, TY_GIA_USD, THANH_TIEN)
	SELECT MS_DH_NHAP_PT, MS_PT, ID, SO_LUONG_CTU, SL_THUC_NHAP, DON_GIA, NGOAI_TE, TY_GIA, TY_GIA_USD, THANH_TIEN FROM @IC_DH_NHAP_VAT_TU
	
	-- IC_DON_HANG_NHAP_VAT_TU_CHI_TIET SELECT * FROM VI_TRI_KHO
	DECLARE @MS_VI_TRI_CMMS INT 
	IF NOT EXISTS (SELECT MS_VI_TRI FROM VI_TRI_KHO WHERE MS_KHO  = @MS_KHO_CMMS AND TEN_VI_TRI = N'Vị trí mặc định khi sync')
	BEGIN
		INSERT INTO VI_TRI_KHO(MS_KHO, TEN_VI_TRI,GHI_CHU)
		VALUES (@MS_KHO_CMMS , N'Vị trí mặc định khi sync' , N'Vị trí mặc định khi sync' )
	END		
	
	SELECT @MS_VI_TRI_CMMS = MS_VI_TRI FROM VI_TRI_KHO  WHERE MS_KHO  = @MS_KHO_CMMS AND GHI_CHU = N'Vị trí mặc định khi sync' 

	INSERT INTO IC_DON_HANG_NHAP_VAT_TU_CHI_TIET( MS_DH_NHAP_PT,MS_PT,MS_VI_TRI,ID,SL_VT)
	SELECT TB1.MS_DH_NHAP_PT , TB1.MS_PT ,@MS_VI_TRI_CMMS AS MS_VI_TRI, TB1.ID , TB1.SL_THUC_NHAP FROM @IC_DH_NHAP_VAT_TU AS TB1 	
	
	-- TAO PHIEU XUAT TU DONG
	
	DECLARE @MS_PHIEU_XUAT_AUTO NVARCHAR(30)
	DECLARE @MAX_PX_AUTO FLOAT
	SELECT @MAX_PX_AUTO = MAX(ISNULL(CONVERT(FLOAT,RIGHT(MS_DH_XUAT_PT,10)),0)) FROM IC_DON_HANG_XUAT WHERE LEFT(MS_DH_XUAT_PT,4) = 'XSYN'
	SET @MAX_PX_AUTO = ISNULL(@MAX_PX_AUTO,0) + 1 + @NUM_XUAT
	SET @MS_PHIEU_XUAT_AUTO = 'XSYN' + RIGHT('0000000000' + CONVERT(NVARCHAR(10),@MAX_PN_AUTO),10)
	
	DECLARE @NGUOI_NHAN_CMMS NVARCHAR(30)
	
	IF NOT EXISTS (SELECT * FROM KHACH_HANG_CONG_NHAN_XUAT WHERE NGUOI_NHAP = 'SYSN' )
	BEGIN
		IF NOT EXISTS (SELECT * FROM CONG_NHAN WHERE MS_CONG_NHAN = 'SYSN')
			INSERT INTO CONG_NHAN (MS_CONG_NHAN , HO , TEN,MS_TO) VALUES ('SYSN', 'Synchronize','', (SELECT TOP 1 MS_TO FROM [TO] ORDER BY MS_TO ))
		
		SET @NGUOI_NHAN_CMMS = 'SYSN'
	END
	ELSE
		SET @NGUOI_NHAN_CMMS = 'SYSN'
	
	
	INSERT INTO dbo.IC_DON_HANG_XUAT (MS_DH_XUAT_PT, SO_PHIEU_XN, GIO, NGAY, MS_KHO, MS_DANG_XUAT, NGAY_CHUNG_TU, MS_PHIEU_BAO_TRI, GHI_CHU, 
	LOCK, SO_CHUNG_TU,NGUOI_NHAN,MS_DHX_SYNC )
	SELECT @MS_PHIEU_XUAT_AUTO  AS MS_DH_XUAT_PT , @MS_PHIEU_XUAT_AUTO  AS SO_PHIEU_XN , GETDATE() AS GIO ,  GETDATE() AS NGAY ,
	@MS_KHO_CMMS AS MS_KHO , '1' AS MS_DANG_XUAT, GETDATE() AS NGAY_CHUNG_TU , @MsPBT AS MS_PHIEU_BAO_TRI , N'TAO PHIEU XUAT TU DONG' AS GHI_CHU ,
	CONVERT(BIT,1) AS LOCK ,@MS_PHIEU_XUAT_AUTO AS SO_CHUNG_TU , @NGUOI_NHAN_CMMS AS NGUOI_NHAN, @MS_XUAT_INT
	
	

		DECLARE @IC_DH_XUAT_VAT_TU_CHI_TIET AS TABLE (
		   MS_DH_XUAT_PT nvarchar(50),
           MS_PT nvarchar(100),
           STT INT,
           MS_DH_NHAP_PT NVARCHAR(30),
           MS_VI_TRI INT,
           SL_VT FLOAT,
           ID_XUAT INT
		) 
	INSERT INTO @IC_DH_XUAT_VAT_TU_CHI_TIET (MS_DH_XUAT_PT, MS_PT, STT, MS_DH_NHAP_PT, MS_VI_TRI, SL_VT, ID_XUAT)
	SELECT TMP.MS_DH_XUAT_PT , TMP.MS_PT , ROW_NUMBER() OVER (ORDER BY TMP.MS_PT)  AS STT,
		TMP.MS_DH_NHAP_PT , TMP.MS_VI_TRI , TMP.SL_VT , TMP.ID_XUAT 
	FROM (
	SELECT @MS_PHIEU_XUAT_AUTO AS MS_DH_XUAT_PT, DHNVTCT.MS_PT, '1' as STT,  
		DHNVT.MS_DH_NHAP_PT , DHNVTCT.MS_VI_TRI, DHNVTCT.SL_VT, DHNVTCT.ID  AS ID_XUAT 
	FROM   dbo.IC_DON_HANG_NHAP_VAT_TU AS DHNVT INNER JOIN
		dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS DHNVTCT ON DHNVT.MS_DH_NHAP_PT = DHNVTCT.MS_DH_NHAP_PT AND
		DHNVT.MS_PT = DHNVTCT.MS_PT AND DHNVT.ID = DHNVTCT.ID INNER JOIN IC_DON_HANG_NHAP DHN ON
		DHN.MS_DH_NHAP_PT = DHNVT.MS_DH_NHAP_PT
	WHERE DHN.MS_DH_NHAP_PT = @MS_PHIEU_NHAP_AUTO AND DHN.MS_DHX_SYNC = @MS_XUAT_INT
	) AS TMP 
	
	INSERT INTO dbo.IC_DON_HANG_XUAT_VAT_TU (MS_DH_XUAT_PT, MS_PT, SO_LUONG_CTU, SO_LUONG_THUC_XUAT)
	SELECT MS_DH_XUAT_PT, MS_PT, SUM(ISNULL(SL_VT,0)) AS SO_LUONG_CTU ,SUM(ISNULL(SL_VT,0)) AS SO_LUONG_THUC_XUAT
	FROM  @IC_DH_XUAT_VAT_TU_CHI_TIET
	WHERE MS_DH_XUAT_PT = @MS_PHIEU_XUAT_AUTO
	GROUP BY  MS_DH_XUAT_PT, MS_PT
	
	
	
	INSERT INTO IC_DON_HANG_XUAT_VAT_TU_CHI_TIET (MS_DH_XUAT_PT, MS_PT, STT, MS_DH_NHAP_PT, MS_VI_TRI, SL_VT, ID_XUAT)
	SELECT TMP.MS_DH_XUAT_PT , TMP.MS_PT , ROW_NUMBER() OVER (ORDER BY TMP.MS_PT)  AS STT,
		TMP.MS_DH_NHAP_PT , TMP.MS_VI_TRI , TMP.SL_VT , TMP.ID_XUAT 
	FROM @IC_DH_XUAT_VAT_TU_CHI_TIET AS TMP
	WHERE MS_DH_XUAT_PT = @MS_PHIEU_XUAT_AUTO
	
	
	UPDATE VI_TRI_KHO_VAT_TU SET SL_VT = 0 
	WHERE MS_DH_NHAP_PT = @MS_PHIEU_NHAP_AUTO
	
	DELETE @IC_DH_XUAT_VAT_TU_CHI_TIET
	DELETE @IC_DH_NHAP_VAT_TU

	FETCH NEXT FROM KHOLIST 
	INTO @MS_KHO_CMMS,@MS_XUAT_INT
END 
CLOSE KHOLIST;
DEALLOCATE KHOLIST;


UPDATE SYN_TB_ALLOCATION_VTPT_FOR_PBT SET DA_TAO_PHIEU = 1 
WHERE MS_PHIEU_BT = @MsPBT AND MS_MAY = @MsMay
