
<style>
    #tbDetail div.col-lg-4 {
        font-weight: bold;
        color: #346392;
    }
    #tbDetail div.col-lg-8 {
        padding-left: 10px;
        border-left: 1px dashed #d6d6d6;
    }
    #tbDetail .btn {
        padding: 1px 0px;
    }
</style>
<div class="modal fade" id="myModalDetails" role="dialog">
    <div class="modal-dialog">
        <!-- Modals content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-lang="lblChiTiet">Chi tiết</h4>
            </div>
            <div class="modal-body">
                <div id="tbDetail">
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-3 col-md-2 col-xs-3 col-lg-2 pull-right">
                    <button type="button" class="btn-flat flat" data-lang="btnClose" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
