IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetDON_VI_TINH_RUN_TIME')
exec('CREATE PROCEDURE GetDON_VI_TINH_RUN_TIME AS BEGIN SET NOCOUNT ON; END')
GO
ALTER proc [dbo].[GetDON_VI_TINH_RUN_TIME]
@TYPE INT
AS
SELECT MS_DVT_RT,TEN_DVT_RT
 FROM DON_VI_TINH_RUN_TIME
--SELECT * FROM DON_VI_TINH_RUN_TIME