
CREATE PROCEDURE [dbo].[spGetcbUOMShortName]
	@Username NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll BIT=1
AS 
BEGIN
IF @CoAll = 1
BEGIN
SELECT ID,ISNULL(UOMNote,UOMName) AS UOMName FROM dbo.UOM
ORDER BY UOMName
END
ELSE
BEGIN
SELECT ID,ISNULL(UOMNote,UOMName) AS UOMName FROM dbo.UOM WHERE BasedUOM = 1
ORDER BY UOMName
END	
END	


