
--	exec spGetBTDK '11/01/2017', '11/30/2017', '-1',  -1, '-1', '-1', '-1', 'ADMIN',0

--	exec GetKHTT '11/01/2017', '11/30/2017', '-1',  -1, '-1', '-1', '-1', 'ADMIN'

-- SELECT * FROM KHBT_NAMAdministrator

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetBTDK')
   exec('CREATE PROCEDURE spGetBTDK AS BEGIN SET NOCOUNT ON; END')
GO

alter procedure [dbo].[spGetBTDK] 
	@NgayBD DATETIME,
	@NgayKT DATETIME,
	@MsNXuong nvarchar(50),
	@HThong NVARCHAR(255),	
	@LoaiMay NVARCHAR(20),
	@NhomMay NVARCHAR(20),
	@MsMay NVARCHAR(30),
	@UserName NVARCHAR(255),
	@DuGio bit 
AS
begin

	
SELECT     TOP (100) PERCENT A.MS_MAY, A.MS_LOAI_BT, A.NGAY_HC_CUOI AS NGAY_CUOI , A.CHU_KY, A.MS_DV_TG, A.NGAY_KE AS NGAY_BTKT INTO #HIEU_CHUAN_KE
FROM         dbo.MGetNgayHieuChuanKeBaoTri(@NgayBD, @NgayKT, @UserName, @MsNXuong, @HThong, @LoaiMay, @NhomMay, 1) AS A 
WHERE     (A.MS_MAY = @MsMay OR @MsMay = '-1') 
ORDER BY A.MS_MAY, A.MS_LOAI_BT, A.NGAY_HC_CUOI, A.CHU_KY, A.MS_DV_TG, A.NGAY_KE


--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con
DELETE T1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      #HIEU_CHUAN_KE AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_BTKT) >= T2.NGAY_BTKT 
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_BTKT) <= T2.NGAY_BTKT 
 
--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con trong PBT
DELETE T1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      PHIEU_BAO_TRI AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_BTKT) >= T2.NGAY_BD_KH 
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_BTKT) <= T2.NGAY_BD_KH

--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con trong KHTT 
DELETE T1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #HIEU_CHUAN_KE AS T1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = T1.MS_LOAI_BT INNER JOIN
                      KE_HOACH_TONG_THE AS T2 ON T1.MS_MAY = T2.MS_MAY AND dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = T2.MS_LOAI_BT 
WHERE DATEADD(DAY, CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4, T1.NGAY_BTKT) >= T2.NGAY
AND DATEADD(DAY, - (CASE T1.MS_DV_TG WHEN 2 THEN T1.CHU_KY * 7 WHEN 3 THEN T1.CHU_KY * 30 WHEN 4 THEN T1.CHU_KY * 365 ELSE T1.CHU_KY END / 4), T1.NGAY_BTKT) <= T2.NGAY
 


 --Xóa bảo trì định kỳ đã lập bên kế hoạch tổng thể và phiếu bảo trì TRONG 1/4 CHU KY
DELETE T
FROM #HIEU_CHUAN_KE T INNER JOIN
dbo.KE_HOACH_TONG_THE T1 ON T.MS_MAY = T1.MS_MAY AND 
T.MS_LOAI_BT = T1.MS_LOAI_BT 
WHERE DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_BTKT) >= T1.NGAY 
	AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_BTKT) <= T1.NGAY 

DELETE T
FROM #HIEU_CHUAN_KE T INNER JOIN dbo.PHIEU_BAO_TRI T1 ON T.MS_MAY = T1.MS_MAY AND T.MS_LOAI_BT = T1.MS_LOAI_BT 
WHERE DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_BTKT) >= T1.NGAY_BD_KH 
AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_BTKT) <= T1.NGAY_BD_KH 
	


SELECT DISTINCT A.MS_MAY, E.TEN_MAY, TEN_LOAI_BT, NGAY_CUOI, NGAY_BTKT,CONVERT(NVARCHAR(10), C.RUN_TIME) + ' ' + D.TEN_DVT_RT AS TGCM, 
	CAST      (dbo.[GetThoiGianHienTaiDHD](A.MS_MAY, C.MS_DV_TG , C.CHU_KY, A.NGAY_BTKT, A.NGAY_CUOI) AS NVARCHAR)  + ' ' + TEN_DVT_RT AS TGCM_HIEN_TAI,
	A.MS_LOAI_BT, THU_TU, TEN_NHOM_MAY, CONVERT(FLOAT, ISNULL( dbo.[GetThoiGianHienTaiDHD](A.MS_MAY, C.MS_DV_TG , 
	C.CHU_KY, A.NGAY_BTKT, A.NGAY_CUOI),0)) AS TG_THUC_HIEN ,  ISNULL(C.RUN_TIME,0) AS RUN_TIME INTO #TMP
FROM #HIEU_CHUAN_KE  A INNER JOIN LOAI_BAO_TRI B ON B.MS_LOAI_BT = A.MS_LOAI_BT INNER JOIN
V_MAY_LOAI_BTPN_CHU_KY_MAX C ON A.MS_MAY = C.MS_MAY AND C.MS_LOAI_BT = A.MS_LOAI_BT INNER JOIN  
dbo.DON_VI_TINH_RUN_TIME AS D ON C.MS_DVT_RT = D.MS_DVT_RT INNER JOIN 
MAY E ON A.MS_MAY = E.MS_MAY INNER JOIN NHOM_MAY F ON
E.MS_NHOM_MAY = F.MS_NHOM_MAY
WHERE NGAY_BTKT BETWEEN @NgayBD AND @NgayKT
ORDER BY A.MS_MAY ,A.MS_LOAI_BT, NGAY_CUOI, NGAY_BTKT


IF @DuGio = 1
BEGIN
	SELECT T.*, T1.MUC_UU_TIEN FROM #TMP T LEFT JOIN MAY T1 ON T.MS_MAY = T1.MS_MAY 
	WHERE CONVERT(NUMERIC,T.TG_THUC_HIEN) >= T.RUN_TIME ORDER BY T.MS_MAY, T.TEN_LOAI_BT, T.NGAY_CUOI,T.NGAY_BTKT
END
ELSE
BEGIN 
	SELECT T.*, T1.MUC_UU_TIEN FROM #TMP T LEFT JOIN MAY T1 ON T.MS_MAY = T1.MS_MAY 
	ORDER BY T.MS_MAY, T.TEN_LOAI_BT, T.NGAY_CUOI,T.NGAY_BTKT
END

END
