
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetWorkOrder')
   exec('CREATE PROCEDURE GetWorkOrder AS BEGIN SET NOCOUNT ON; END')
GO
ALTER PROC GetWorkOrder
	@Username NVARCHAR(50),
	@tNgay datetime,
	@dNgay datetime,
	@type int,
	@ngonNgu as int
AS

SELECT * INTO #MAY FROM dbo.MGetMayUserNgay(@dNgay, @USERNAME, '-1', '-1', -1, '-1', '-1' ,'-1' , @ngonNgu )


			
SELECT A.* INTO #PBT FROM dbo.PHIEU_BAO_TRI A INNER JOIN #MAY B ON A.MS_MAY = B.MS_MAY
WHERE  CONVERT(DATETIME, CONVERT(NVARCHAR(10),NGAY_BD_KH,101)) BETWEEN CONVERT(DATETIME,CONVERT(NVARCHAR(10),@tNgay ,101)) AND CONVERT(DATETIME,@dNgay ,101)
				and TINH_TRANG_PBT = @type
			
SELECT '' Document, 
	T1.MS_HE_THONG AS FormationID, T1.MS_LOAI_MAY TypeOfDeviceID, T1.MS_NHOM_MAY EquipmentGroupID, T2.MS_PHIEU_BAO_TRI WorkOrderID, T2.SO_PHIEU_BAO_TRI WorkOrderNo, T1.MS_MAY DeviceID,
	TEN_MAY DeviceName, TINH_TRANG_PBT TheStatusOfWorkOrderID, TEN_TINH_TRANG TheStatusOfWorkOrderName,
	CONVERT(NVARCHAR(500),CASE @ngonNgu WHEN 0 THEN T8.TEN_TIENG_VIET WHEN 1 THEN T8.TEN_TIENG_ANH ELSE TEN_TIENG_HOA END) AS TheStatusDetailsOfWorkOrderName	
	, T2.MS_LOAI_BT TypeOfMaintenanceID, TEN_LOAI_BT TypeOfMaintenanceName, LY_DO_BT Reason, NGAY_LAP DateCreated, T1.Ten_N_XUONG AS WorkSiteName , 
	T1.MS_N_XUONG WorkSiteID, Convert(nvarchar(4000),dbo.GetMS_YEU_CAU(T2.MS_PHIEU_BAO_TRI)) AS UserRequestID , GIO_LAP TimeCreated, T2.MS_UU_TIEN PriorityID, TEN_UU_TIEN PriorityName, NGUOI_LAP CreatedBy, USERNAME_NGUOI_LAP UserCreated, HO + ' ' + TEN AS StaffName, 
	NGUOI_GIAM_SAT MonitoredBy, NGAY_BD_KH StartDatePlan, NGAY_KT_KH EndDatePlan, GIO_HONG BreakdownStartTime, NGAY_HONG BreakdownStartDate, T2.MS_NGUYEN_NHAN CauseID, DEN_GIO_HONG BreakdownEndTime,  DEN_NGAY_HONG BreakdownEndDate,DHX IssuedID
FROM #MAY AS T1 INNER JOIN
	#PBT AS T2 ON T1.MS_MAY = T2.MS_MAY INNER JOIN
	TINH_TRANG_PBT T4 ON T2.TINH_TRANG_PBT = T4.STT LEFT JOIN      
	MUC_UU_TIEN T5 ON T2.MS_UU_TIEN = T5.MS_UU_TIEN INNER JOIN  
	LOAI_BAO_TRI T6 ON T2.MS_LOAI_BT = T6.MS_LOAI_BT INNER JOIN  
	CONG_NHAN T7 ON T2.NGUOI_LAP =  T7.MS_CONG_NHAN LEFT JOIN 
	TINH_TRANG_PBT_CT T8 ON T8.MS_TT_CT = T2.MS_TT_CT 
ORDER BY T2.MS_PHIEU_BAO_TRI DESC