

IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetStaffRole')
   exec('CREATE PROCEDURE GetStaffRole AS BEGIN SET NOCOUNT ON; END')
GO
--exec GetStaffRole -1, 'admin'
ALTER proc [dbo].[GetStaffRole]
	@role int,
	@username NVARCHAR(255)
AS	
CREATE TABLE #CNVT (MS_CONG_NHAN NVARCHAR(50))

if @role = -1
	INSERT INTO #CNVT  SELECT DISTINCT MS_CONG_NHAN FROM CONG_NHAN
else
	INSERT INTO #CNVT  SELECT DISTINCT MS_CONG_NHAN FROM CONG_NHAN_VAI_TRO WHERE (MS_VAI_TRO  = @role) or (@role = -1)

	SELECT Distinct MS_TO INTO #TO_USER FROM [dbo].[MGetDonViPhongBanUser](@username)
	
	SELECT A.MS_CONG_NHAN ID, (HO + ' ' +  TEN)  AS [Name] 
	FROM CONG_NHAN A INNER JOIN #CNVT B ON	A.MS_CONG_NHAN  = B.MS_CONG_NHAN
	INNER JOIN [TO] T1 ON T1.MS_TO1 = A.MS_TO 
	INNER JOIN #TO_USER T ON T.MS_TO = T1.MS_TO 
	
	ORDER BY HO  , TEN 




	
	
	

