--SELECT 1 as chon, * INTO MAY_KHCVBT_TMPadmin FROM dbo.MAY

ALTER PROC [dbo].[spKeHoachCongViecBaoTri]
	@MayTmp NVARCHAR(50) = 'MAY_KHCVBT_TMPadmin',
	@MsLBTri INT = -1,
	@TenLBTri NVARCHAR(50) = 'Chung',
	@TNgay DATETIME = '11/01/2019',
	@DNgay DATETIME = '12/31/2019',
	@NNgu INT = 0,
	@MSDV NVARCHAR(50) = '-1',
	@MSTO INT = -1,
	@iLoaiBC INT = 1, 
	@UserName NVARCHAR(50) = 'admin'
AS

-- @iLoaiBC 0 In ALL
-- @iLoaiBC 1 In KHTT
-- @iLoaiBC 2 In PBT
-- @iLoaiBC 3 In Cong Viec VP


DECLARE @sSql NVARCHAR(4000)


CREATE TABLE #MAY_TMP (MS_MAY NVARCHAR(250) NULL, TEN_MAY NVARCHAR(500) NULL)  

SET @sSql = ' INSERT INTO #MAY_TMP SELECT MS_MAY, TEN_MAY FROM ' + @MayTmp + ' WHERE ISNULL(CHON,0) = 1'
EXEC (@sSql)

SET @sSql = ' DROP TABLE ' + @MayTmp
EXEC (@sSql)





SELECT NGAY, MS_MAY, TEN_MAY, TEN_LOAI_BT, TEN_BO_PHAN, TEN_CV, 
CONVERT(FLOAT,CASE ISNULL(THOI_GIAN_DU_KIEN,0) WHEN 0 THEN NULL ELSE THOI_GIAN_DU_KIEN END) AS THOI_GIAN_DU_KIEN  , 
GHI_CHU,T1.GCTONG
 FROM
(

SELECT  Convert(date, NGAY) as NGAY,A.MS_MAY, TEN_MAY, D.TEN_LOAI_BT,(X.MS_BO_PHAN + ' - ' + X.TEN_BO_PHAN) AS TEN_BO_PHAN,
	  CASE @NNgu WHEN 0 THEN E.MO_TA_CV WHEN 1 THEN E.MO_TA_CV_ANH ELSE E.MO_TA_CV_HOA END AS TEN_CV, A.THOI_GIAN_DU_KIEN, A.GHI_CHU,C.GHI_CHU AS GCTONG
	FROM KE_HOACH_TONG_CONG_VIEC A INNER JOIN #MAY_TMP B ON A.MS_MAY = B.MS_MAY INNER JOIN KE_HOACH_TONG_THE C ON A.HANG_MUC_ID = C.HANG_MUC_ID 
	INNER JOIN LOAI_BAO_TRI D ON C.MS_LOAI_BT = D.MS_LOAI_BT 
	INNER JOIN CONG_VIEC E ON A.MS_CV = E.MS_CV 
	INNER JOIN CAU_TRUC_THIET_BI X ON A.MS_MAY = X.MS_MAY AND A.MS_BO_PHAN = X.MS_BO_PHAN
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),C.NGAY,101)) BETWEEN @TNgay AND @DNgay) AND (ISNULL(A.MS_PHIEU_BAO_TRI,'') = '')
AND (C.MS_LOAI_BT = @MsLBTri  OR @MsLBTri = -1)
AND (@iLoaiBC = 0 OR @iLoaiBC = 1  ) 
AND A.THUE_NGOAI=0

UNION
SELECT  Convert(date, A.NGAY_BD_KH) AS NGAY, A.MS_MAY, TEN_MAY,D.TEN_LOAI_BT, (X.MS_BO_PHAN + ' - ' + X.TEN_BO_PHAN) AS TEN_BO_PHAN,
		CASE @NNgu WHEN 0 THEN E.MO_TA_CV WHEN 1 THEN E.MO_TA_CV_ANH ELSE E.MO_TA_CV_HOA END AS TEN_CV,B.SO_GIO_KH, B.GHI_CHU,A.LY_DO_BT 
	FROM PHIEU_BAO_TRI A INNER JOIN PHIEU_BAO_TRI_CONG_VIEC B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI 
	INNER JOIN #MAY_TMP C ON A.MS_MAY = C.MS_MAY INNER JOIN LOAI_BAO_TRI D ON A.MS_LOAI_BT = D.MS_LOAI_BT
	INNER JOIN CONG_VIEC E ON B.MS_CV = E.MS_CV
	INNER JOIN CAU_TRUC_THIET_BI X ON A.MS_MAY = X.MS_MAY AND B.MS_BO_PHAN = X.MS_BO_PHAN
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),A.NGAY_BD_KH,101)) BETWEEN @TNgay AND @DNgay) AND (ISNULL(TINH_TRANG_PBT,0) < 3)
	AND (A.MS_LOAI_BT = @MsLBTri  OR @MsLBTri = -1)	AND (@iLoaiBC = 0 OR @iLoaiBC = 2  ) 

UNION
SELECT  Convert(date, A.NGAY_BD_KH) AS NGAY, A.MS_MAY, TEN_MAY,D.TEN_LOAI_BT, '' AS TEN_BO_PHAN,
		b.TEN_CONG_VIEC AS TEN_CV,B.SO_GIO_KH, '' AS GHI_CHU,''
	FROM PHIEU_BAO_TRI A INNER JOIN PHIEU_BAO_TRI_CV_PHU_TRO B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI 
	INNER JOIN #MAY_TMP C ON A.MS_MAY = C.MS_MAY INNER JOIN LOAI_BAO_TRI D ON A.MS_LOAI_BT = D.MS_LOAI_BT		
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),A.NGAY_BD_KH,101)) BETWEEN @TNgay AND @DNgay) AND (ISNULL(TINH_TRANG_PBT,0) < 3)
	AND (A.MS_LOAI_BT = @MsLBTri  OR @MsLBTri = -1)	AND (@iLoaiBC = 0 OR @iLoaiBC = 2  ) 

UNION
SELECT   Convert(date, A.NGAY) AS NGAY, NULL AS MS_MAY, NULL AS TEN_MAY,@TenLBTri AS TEN_LOAI_BT,NULL AS TEN_BO_PHAN,
		A.TEN_CONG_VIEC,  ISNULL(THOI_GIAN_DK,0) * 60  AS THOI_GIAN_DU_KIEN, A.GHI_CHU,''
FROM            dbo.CONG_NHAN AS B INNER JOIN
                         dbo.KE_HOACH_THUC_HIEN AS A ON B.MS_CONG_NHAN = A.MS_CONG_NHAN INNER JOIN
                         dbo.[TO] AS C ON B.MS_TO = C.MS_TO1 INNER JOIN
                         dbo.TO_PHONG_BAN AS D ON C.MS_TO = D.MS_TO
WHERE (CONVERT(DATETIME,CONVERT(NVARCHAR(10),A.NGAY,101))  BETWEEN @TNgay AND @DNgay) AND (ISNULL(A.DA_XONG,0) = 0)
	AND (@iLoaiBC = 0 OR @iLoaiBC = 3) AND (D.MS_DON_VI = @MSDV OR @MSDV = '-1') 
	AND (D.MS_TO = @MSTO OR @MSTO = -1)
) T1
ORDER BY NGAY, MS_MAY, TEN_MAY, TEN_LOAI_BT,TEN_BO_PHAN,TEN_CV

