
---	EXEC SP_NHU_Y_GET_TON_KHO -1,'12-01-2019','12-31-2019',0,'ADMIN'

ALTER PROCEDURE [dbo].[SP_NHU_Y_GET_TON_KHO]
	@MS_KHO INT ,
	@TU_NGAY DATETIME ,
	@DEN_NGAY DATETIME ,
	@TYPE_LANGUAGE INT ,
	@UserName NVARCHAR(50)
AS
BEGIN

SELECT  DISTINCT T1.MS_KHO, T1.TEN_KHO INTO #KHO_USER
FROM            dbo.IC_KHO AS T1 INNER JOIN
                         dbo.NHOM_KHO AS T2 ON T1.MS_KHO = T2.MS_KHO INNER JOIN
                         dbo.USERS AS T3 ON T2.GROUP_ID = T3.GROUP_ID
WHERE        (T3.USERNAME = @UserName)



-- SUM(SL_VT * DON_GIA) AS GIA_TRI DON_GIA gồm phí là đơn giá cuối cùng đã nhân tỷ giá đổi ra VNĐ nên k cần nhân tỷ giá lại nữa

--Lấy tồn hiện tại
SELECT T1.MS_PT, SUM(ISNULL(T1.SL_VT,0)) AS SL_TON_HT, SUM(ISNULL(T1.SL_VT,0) * ISNULL(T3.DON_GIA,0)) AS GT_TON_HT
INTO #TON_HT
FROM dbo.VI_TRI_KHO_VAT_TU T1 INNER JOIN #KHO_USER T2 ON T1.MS_KHO = T2.MS_KHO 
INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU T3 ON T3.ID = T1.ID AND T3.MS_DH_NHAP_PT = T1.MS_DH_NHAP_PT AND T3.MS_PT = T1.MS_PT
where (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1)
GROUP BY T1.MS_PT

--Lấy số lượng xuất từ đến ngày đến hiện tại
SELECT        T4.MS_PT, 
SUM(ISNULL(T4.SL_VT,0)) AS SL_XUAT_TMP , SUM(ISNULL(T4.SL_VT,0) * ISNULL(T6.DON_GIA,0) ) AS GT_XUAT_TMP
INTO #XUAT_HT
FROM            dbo.IC_DON_HANG_XUAT AS T1 INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU AS T3 ON T1.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T4 ON T3.MS_DH_XUAT_PT = T4.MS_DH_XUAT_PT AND T3.MS_PT = T4.MS_PT INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO = T2.MS_KHO INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T5 ON T4.MS_DH_NHAP_PT = T5.MS_DH_NHAP_PT AND T4.MS_PT = T5.MS_PT AND T4.MS_VI_TRI = T5.MS_VI_TRI  AND T5.ID = T4.ID_XUAT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T6 ON T5.MS_DH_NHAP_PT = T6.MS_DH_NHAP_PT AND T5.MS_PT = T6.MS_PT AND T5.ID = T6.ID
WHERE (T1.NGAY > @DEN_NGAY)  AND (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1) 
GROUP BY T4.MS_PT

--Lấy số lượng xuất trong khoảng từ ngày đến ngày
SELECT        T4.MS_PT,
SUM(ISNULL(T4.SL_VT,0)) AS SL_XUAT, SUM(ISNULL(T4.SL_VT,0) * ISNULL(T6.DON_GIA,0)) AS GT_XUAT
INTO #XUAT_TK
FROM            dbo.IC_DON_HANG_XUAT AS T1 INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU AS T3 ON T1.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT INNER JOIN
                         dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T4 ON T3.MS_DH_XUAT_PT = T4.MS_DH_XUAT_PT AND T3.MS_PT = T4.MS_PT INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO = T2.MS_KHO INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T5 ON T4.MS_DH_NHAP_PT = T5.MS_DH_NHAP_PT AND T4.MS_PT = T5.MS_PT AND T4.MS_VI_TRI = T5.MS_VI_TRI  AND T5.ID = T4.ID_XUAT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T6 ON T5.MS_DH_NHAP_PT = T6.MS_DH_NHAP_PT AND T5.MS_PT = T6.MS_PT AND T5.ID = T6.ID
WHERE        (T1.NGAY >= @TU_NGAY) AND (T1.MS_KHO = @MS_KHO) AND (T1.NGAY <= @DEN_NGAY) OR
                         (@MS_KHO = - 1) AND (T1.NGAY >= @TU_NGAY) AND (T1.NGAY <= @DEN_NGAY)
GROUP BY T4.MS_PT

--Lấy số lượng nhập từ đến ngày đến hiện tại
SELECT        T4.MS_PT,
SUM(ISNULL(T4.SL_VT,0)) AS SL_NHAP_TMP, SUM(ISNULL(T4.SL_VT,0) * ISNULL(T3.DON_GIA,0) ) AS GT_NHAP_TMP
INTO #NHAP_HT
FROM            dbo.IC_DON_HANG_NHAP AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T4 ON T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.ID = T4.ID AND T3.MS_PT = T4.MS_PT INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO = T2.MS_KHO
WHERE (T1.NGAY > @DEN_NGAY  ) AND (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1) AND T1.MS_DANG_NHAP <> 6
GROUP BY T4.MS_PT

--Lấy số lượng nhập từ đến ngày đến hiện tại
SELECT        T4.MS_PT, 
SUM(ISNULL(T4.SL_VT,0)) AS SL_NHAP_TRA_TMP, SUM(ISNULL(T4.SL_VT,0) * ISNULL(T3.DON_GIA,0)) AS GT_NHAP_TRA_TMP
INTO #NHAP_TRA_HT
FROM            dbo.IC_DON_HANG_NHAP AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T4 ON T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.ID = T4.ID AND T3.MS_PT = T4.MS_PT INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO = T2.MS_KHO
WHERE (T1.NGAY > @DEN_NGAY  ) AND (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1)AND T1.MS_DANG_NHAP = 6
GROUP BY T4.MS_PT


--Lấy số lượng nhập từ ngày đến ngày
SELECT        T4.MS_PT,
SUM(ISNULL(T4.SL_VT,0)) AS SL_NHAP, SUM(ISNULL(T4.SL_VT,0) * ISNULL(T3.DON_GIA,0)) AS GT_NHAP
INTO #NHAP_TN_DN
FROM            dbo.IC_DON_HANG_NHAP AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T4 ON T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.MS_PT = T4.MS_PT AND T3.ID = T4.ID INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO = T2.MS_KHO
WHERE        (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1) AND (T1.NGAY >= @TU_NGAY) AND (T1.NGAY <= @DEN_NGAY) AND T1.MS_DANG_NHAP <> 6
GROUP BY T4.MS_PT

----------------------------nHẬP TRẢ
SELECT        T4.MS_PT, 
SUM(ISNULL(T4.SL_VT,0)) AS SL_NHAP_TRA, SUM(ISNULL(T4.SL_VT,0) * ISNULL(T3.DON_GIA,0)) AS GT_NHAP_TRA
INTO #NHAP_TRA
FROM            dbo.IC_DON_HANG_NHAP AS T1 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T4 ON T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.MS_PT = T4.MS_PT AND T3.ID = T4.ID INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO = T2.MS_KHO
WHERE        (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1) AND (T1.NGAY >= @TU_NGAY) AND (T1.NGAY <= @DEN_NGAY) 
AND T1.MS_DANG_NHAP = 6
GROUP BY T4.MS_PT

--Lấy số lượng di chuyển đi từ đến ngày đến hiện tại
SELECT        T1.MS_PT,
SUM(ISNULL(T1.SL_CHUYEN,0) ) AS SL_CHUYEN_DI_TMP, SUM(ISNULL(T1.SL_CHUYEN,0) * ISNULL(T4.DON_GIA,0)) AS GT_CHUYEN_DI_TMP
INTO #DC_DI_HT
FROM            dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS T1 INNER JOIN
    #KHO_USER AS T2 ON T1.MS_KHO = T2.MS_KHO  INNER JOIN
    dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT AND T1.MS_VI_TRI = T3.MS_VI_TRI AND T1.MS_PT = T3.MS_PT AND T1.ID_DC = T3.ID INNER JOIN
    dbo.IC_DON_HANG_NHAP_VAT_TU AS T4 ON T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.MS_PT = T4.MS_PT AND T3.ID = T4.ID
WHERE (T1.NGAY_CHUYEN > @DEN_NGAY)  AND (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1)
GROUP BY T1.MS_PT

--Lấy số lượng di chuyển đi từ ngày đến ngày
SELECT        T1.MS_PT,
SUM(ISNULL(T1.SL_CHUYEN,0)) AS SL_CHUYEN_DI, SUM(ISNULL(T1.SL_CHUYEN,0) * ISNULL(T4.DON_GIA,0)) AS GT_CHUYEN_DI
INTO #DC_DI_TN_DN
FROM            dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS T1 INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO = T2.MS_KHO INNER JOIN
    dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT AND T1.MS_VI_TRI = T3.MS_VI_TRI AND T1.MS_PT = T3.MS_PT AND T1.ID_DC = T3.ID INNER JOIN
    dbo.IC_DON_HANG_NHAP_VAT_TU AS T4 ON T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.MS_PT = T4.MS_PT AND T3.ID = T4.ID
WHERE (T1.NGAY_CHUYEN >= @TU_NGAY) AND (T1.NGAY_CHUYEN <= @DEN_NGAY) AND (T1.MS_KHO  = @MS_KHO OR @MS_KHO = -1)
GROUP BY T1.MS_PT


--Lấy số lượng di chuyển đến từ đến ngày đến hiện tại
SELECT        T1.MS_PT,
 SUM(ISNULL(T1.SL_CHUYEN,0)) AS SL_CHUYEN_DEN_TMP, SUM(ISNULL(T1.SL_CHUYEN,0) * ISNULL(T4.DON_GIA,0)) AS GT_CHUYEN_DEN_TMP
INTO #DC_DEN_HT
FROM            dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS T1 INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO_1 = T2.MS_KHO  INNER JOIN
    dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT AND T1.MS_VI_TRI = T3.MS_VI_TRI AND T1.MS_PT = T3.MS_PT AND T1.ID_DC = T3.ID INNER JOIN
    dbo.IC_DON_HANG_NHAP_VAT_TU AS T4 ON T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.MS_PT = T4.MS_PT AND T3.ID = T4.ID
WHERE (T1.NGAY_CHUYEN > @DEN_NGAY) AND (T1.MS_KHO_1 = @MS_KHO OR @MS_KHO = -1)
GROUP BY T1.MS_PT

--Lấy số lượng di chuyển đến từ ngày đến ngày
SELECT        T1.MS_PT,
SUM(ISNULL(T1.SL_CHUYEN,0)) AS SL_CHUYEN_DEN, SUM(ISNULL(T1.SL_CHUYEN,0) * ISNULL(T4.DON_GIA,0)) AS GT_CHUYEN_DEN
INTO #DC_DEN_TN_DN
FROM            dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS T1 INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO_1 = T2.MS_KHO INNER JOIN
    dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT AND T1.MS_VI_TRI = T3.MS_VI_TRI AND T1.MS_PT = T3.MS_PT AND T1.ID_DC = T3.ID INNER JOIN
    dbo.IC_DON_HANG_NHAP_VAT_TU AS T4 ON T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.MS_PT = T4.MS_PT AND T3.ID = T4.ID
WHERE (T1.NGAY_CHUYEN >= @TU_NGAY) AND (T1.NGAY_CHUYEN <= @DEN_NGAY) AND (T1.MS_KHO_1 = @MS_KHO OR @MS_KHO = -1)
GROUP BY T1.MS_PT

--Tính chênh lệch kiểm kê từ đến ngày đến hiện tại
SELECT        T1.MS_PT, 
 SUM((ISNULL(T1.SL_KK_CT,0) - ISNULL(T1.SL_CHUNG_TU,0))) AS SL_CHENH_LECH_KIEM_KE_TMP, 
 SUM((ISNULL(T1.SL_KK_CT,0) - ISNULL(T1.SL_CHUNG_TU,0)) * ISNULL(T4.DON_GIA,0)) AS GT_CHENH_LECH_KIEM_KE_TMP
INTO #CL_KK_HT
FROM            dbo.KIEM_KE_VAT_TU_CHI_TIET AS T1 INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO = T2.MS_KHO  INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT AND T1.MS_PT = T3.MS_PT AND T1.MS_VI_TRI = T3.MS_VI_TRI AND T1.ID_KK = T3.ID INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T4 ON T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.MS_PT = T4.MS_PT AND T3.ID = T4.ID
WHERE (T1.NGAY > @DEN_NGAY ) AND (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1)
GROUP BY T1.MS_PT--, T1.MS_VI_TRI

--Tính chênh lệch kiểm kê từ ngày đến ngày
SELECT        T1.MS_PT,
 SUM((ISNULL(T1.SL_KK_CT,0) - ISNULL(T1.SL_CHUNG_TU,0))) AS SL_CHENH_LECH_KIEM_KE, 
 SUM((ISNULL(T1.SL_KK_CT,0) - ISNULL(T1.SL_CHUNG_TU,0)) * ISNULL(T4.DON_GIA,0)) AS GT_CHENH_LECH_KIEM_KE
INTO #CL_KK_TN_DN
FROM            dbo.KIEM_KE_VAT_TU_CHI_TIET AS T1 INNER JOIN
                         #KHO_USER AS T2 ON T1.MS_KHO = T2.MS_KHO INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS T3 ON T1.MS_DH_NHAP_PT = T3.MS_DH_NHAP_PT AND T1.MS_PT = T3.MS_PT AND T1.MS_VI_TRI = T3.MS_VI_TRI AND T1.ID_KK = T3.ID INNER JOIN
                         dbo.IC_DON_HANG_NHAP_VAT_TU AS T4 ON T3.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT AND T3.MS_PT = T4.MS_PT AND T3.ID = T4.ID
WHERE (T1.NGAY >= @TU_NGAY) AND (T1.NGAY <= @DEN_NGAY )
	AND (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1)GROUP BY T1.MS_PT--, T1.MS_VI_TRI



SELECT    A.MS_PT, A.TEN_PT,A.QUY_CACH, CASE @TYPE_LANGUAGE WHEN 0 THEN B.TEN_1 ELSE B.TEN_2 END AS TEN_DVT , 
SUM (ISNULL(C.SL_TON_HT,0)) AS SL_TON_HT ,SUM (ISNULL(C.GT_TON_HT,0)) AS GT_TON_HT ,
SUM (ISNULL(D.SL_XUAT_TMP,0)) AS  SL_XUAT_TMP ,SUM (ISNULL(D.GT_XUAT_TMP,0)) AS  GT_XUAT_TMP ,
SUM (ISNULL(E.SL_XUAT,0)) AS  SL_XUAT , SUM (ISNULL(E.GT_XUAT,0)) AS  GT_XUAT , 
SUM (ISNULL(F.SL_NHAP_TMP,0)) AS  SL_NHAP_TMP ,SUM (ISNULL(F.GT_NHAP_TMP,0)) AS  GT_NHAP_TMP ,
SUM (ISNULL(P.SL_NHAP_TRA_TMP,0)) AS  SL_NHAP_TRA_TMP ,SUM (ISNULL(P.GT_NHAP_TRA_TMP,0)) AS  GT_NHAP_TRA_TMP ,
SUM (ISNULL(G.SL_NHAP,0)) AS  SL_NHAP ,SUM (ISNULL(G.GT_NHAP,0)) AS  GT_NHAP ,
SUM (ISNULL(O.SL_NHAP_TRA,0)) AS  SL_NHAP_TRA , SUM (ISNULL(O.GT_NHAP_TRA,0)) AS  GT_NHAP_TRA , 
SUM (ISNULL(H.SL_CHUYEN_DI_TMP,0)) AS  SL_CHUYEN_DI_TMP  ,SUM (ISNULL(H.GT_CHUYEN_DI_TMP,0)) AS  GT_CHUYEN_DI_TMP  ,
SUM (ISNULL(I.SL_CHUYEN_DI,0)) AS  SL_CHUYEN_DI , SUM (ISNULL(I.GT_CHUYEN_DI,0)) AS  GT_CHUYEN_DI , 
SUM (ISNULL(J.SL_CHUYEN_DEN_TMP,0)) AS  SL_CHUYEN_DEN_TMP ,SUM (ISNULL(J.GT_CHUYEN_DEN_TMP,0)) AS  GT_CHUYEN_DEN_TMP ,
SUM (ISNULL(K.SL_CHUYEN_DEN,0)) AS  SL_CHUYEN_DEN ,SUM (ISNULL(K.GT_CHUYEN_DEN,0)) AS  GT_CHUYEN_DEN ,
SUM	(ISNULL(L.SL_CHENH_LECH_KIEM_KE_TMP,0)) AS  SL_CHENH_LECH_KIEM_KE_TMP  ,SUM	(ISNULL(L.GT_CHENH_LECH_KIEM_KE_TMP,0)) AS  GT_CHENH_LECH_KIEM_KE_TMP  ,
SUM (ISNULL(M.SL_CHENH_LECH_KIEM_KE,0)) AS  SL_CHENH_LECH_KIEM_KE, SUM (ISNULL(M.GT_CHENH_LECH_KIEM_KE,0)) AS  GT_CHENH_LECH_KIEM_KE 
INTO #TON_KHO_KHONG_THEO_VI_TRI_TMP_NHU_Y
FROM dbo.IC_PHU_TUNG A INNER JOIN dbo.DON_VI_TINH B ON A.DVT = B.DVT LEFT JOIN 
--Lấy tồn hiện tại
#TON_HT C ON A.MS_PT = C.MS_PT 
LEFT OUTER JOIN 
--Lấy số lượng xuất từ đến ngày đến hiện tại
#XUAT_HT D ON C.MS_PT = D.MS_PT --AND C.MS_VI_TRI = D.MS_VI_TRI 
LEFT OUTER JOIN 
--Lấy số lượng xuất trong khoảng từ ngày đến ngày
#XUAT_TK E ON C.MS_PT = E.MS_PT --AND C.MS_VI_TRI = E.MS_VI_TRI 
LEFT OUTER JOIN 
--Lấy số lượng nhập từ đến ngày đến hiện tại
#NHAP_HT F ON C.MS_PT = F.MS_PT-- AND C.MS_VI_TRI = F.MS_VI_TRI 
LEFT OUTER JOIN 
--Lấy số lượng nhập trả từ đến ngày đến hiện tại
 #NHAP_TRA_HT P ON C.MS_PT = P.MS_PT-- AND C.MS_VI_TRI = F.MS_VI_TRI 
LEFT OUTER JOIN
--Lấy số lượng nhập từ ngày đến ngày
#NHAP_TN_DN G ON C.MS_PT = G.MS_PT --AND C.MS_VI_TRI = G.MS_VI_TRI 
LEFT OUTER JOIN
--Lấy số lượng nhập từ ngày đến ngày
#NHAP_TRA O ON C.MS_PT =O.MS_PT --AND C.MS_VI_TRI = G.MS_VI_TRI 
LEFT OUTER JOIN 
--Lấy số lượng di chuyển đi từ đến ngày đến hiện tại
#DC_DI_HT H ON C.MS_PT = H.MS_PT --AND C.MS_VI_TRI = H.MS_VI_TRI 
LEFT OUTER JOIN 
--Lấy số lượng di chuyển đi từ ngày đến ngày
#DC_DI_TN_DN I ON C.MS_PT = I.MS_PT --AND C.MS_VI_TRI = I.MS_VI_TRI 
LEFT OUTER JOIN 
--Lấy số lượng di chuyển đến từ đến ngày đến hiện tại
#DC_DEN_HT J ON C.MS_PT = J.MS_PT --AND C.MS_VI_TRI = J.MS_VI_TRI 
LEFT OUTER JOIN 
--Lấy số lượng di chuyển đến từ ngày đến ngày
#DC_DEN_TN_DN K ON C.MS_PT = K.MS_PT-- AND C.MS_VI_TRI = K.MS_VI_TRI
LEFT OUTER JOIN
--Tính chênh lệch kiểm kê từ đến ngày đến hiện tại
#CL_KK_HT L ON C.MS_PT = L.MS_PT-- AND C.MS_VI_TRI = L.MS_VI_TRI 
LEFT OUTER JOIN 
--Tính chênh lệch kiểm kê từ ngày đến ngày
#CL_KK_TN_DN M ON C.MS_PT = M.MS_PT --AND C.MS_VI_TRI = M.MS_VI_TRI
GROUP BY  A.MS_PT, A.TEN_PT ,A.QUY_CACH , B.TEN_1 , B.TEN_2  

--NHAP XAC
SELECT T2.MS_DH_NHAP_PT, T2.MS_PT, T2.SO_LUONG_CTU, T2.SL_THUC_NHAP, T2.DON_GIA, T2.NGOAI_TE, T2.TY_GIA, T2.TY_GIA_USD, T2.MS_VT_NCC, T2.BAO_HANH_DEN_NGAY, T2.SL_DA_SD, T2.XUAT_XU, T2.THANH_TIEN, T2.GHI_CHU
INTO #NHAP_XAC
FROM            dbo.IC_DON_HANG_NHAP_X_VAT_TU AS T2 INNER JOIN
                         dbo.IC_DON_HANG_NHAP_X AS T1 ON T1.MS_DH_NHAP_PT = T2.MS_DH_NHAP_PT
WHERE (T1.NGAY >= @TU_NGAY) AND (T1.NGAY < @DEN_NGAY )
	AND (T1.MS_KHO = @MS_KHO OR @MS_KHO = -1)

   select temp.ms_pt,temp.ten_pt,temp.quy_cach,temp.ten_dvt,
          tondauky = temp.SL_TON_HT + temp.SL_XUAT_TMP+ temp.SL_XUAT + temp.SL_CHUYEN_DI_TMP + temp.SL_CHUYEN_DI - temp.SL_NHAP_TMP - temp.SL_NHAP - temp.SL_CHUYEN_DEN_TMP - temp.SL_CHUYEN_DEN -  temp.SL_CHENH_LECH_KIEM_KE_TMP -  temp.SL_CHENH_LECH_KIEM_KE,    		  
          GTtondauky = CONVERT(NVARCHAR, CAST( temp.GT_TON_HT + temp.GT_XUAT_TMP+ temp.GT_XUAT + temp.GT_CHUYEN_DI_TMP + temp.GT_CHUYEN_DI - temp.GT_NHAP_TMP - temp.GT_NHAP - temp.GT_CHUYEN_DEN_TMP - temp.GT_CHUYEN_DEN -  temp.GT_CHENH_LECH_KIEM_KE_TMP -  temp.GT_CHENH_LECH_KIEM_KE AS MONEY), 1),   
---	EXEC SP_NHU_Y_GET_TON_KHO -1,'12-01-2019','12-31-2019',0,'ADMIN'
           temp.sl_nhap,TEMP.SL_NHAP_TRA 
           
           ,temp.sl_xuat
		   --,temp.SL_chenh_lech_kiem_ke  , dichuyen = temp.SL_CHUYEN_DEN - temp.SL_CHUYEN_DI      
		    ,ISNULL(TEMP1.SL_THUC_NHAP,0) AS SL_CU
          ,toncuoiky = temp.SL_TON_HT + temp.SL_XUAT_TMP - temp.SL_NHAP_TMP  - temp.SL_CHUYEN_DEN_TMP + temp.SL_CHUYEN_DI_TMP - temp.SL_CHENH_LECH_KIEM_KE_TMP 
         , GTtoncuoiky = CONVERT(NVARCHAR, CAST(temp.GT_TON_HT + temp.GT_XUAT_TMP - temp.GT_NHAP_TMP  - temp.GT_CHUYEN_DEN_TMP + temp.GT_CHUYEN_DI_TMP - temp.GT_CHENH_LECH_KIEM_KE_TMP AS MONEY), 1) ,  ghi_chu='' 
	from #TON_KHO_KHONG_THEO_VI_TRI_TMP_NHU_Y as temp
	LEFT JOIN 
	(	SELECT TEMP.*,A.MS_PT,ISNULL(A.SL_THUC_NHAP,0) AS SL_THUC_NHAP FROM
		(
			select MS_DH_NHAP_PT,SO_DE_XUAT  from IC_DON_HANG_NHAP_X T1 INNER JOIN #KHO_USER T2 ON T1.MS_KHO = T2.MS_KHO
			WHERE SO_DE_XUAT IS NOT NULL AND SO_DE_XUAT<>'' AND SO_DE_XUAT<>'-1'
		) TEMP INNER JOIN #NHAP_XAC  A ON TEMP.MS_DH_NHAP_PT=A.MS_DH_NHAP_PT
	)TEMP1 ON  TEMP.MS_PT=TEMP1.MS_PT
END
