

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUTO_CREATE_SO_GIAY_PHEP]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[AUTO_CREATE_SO_GIAY_PHEP]
GO
CREATE FUNCTION [dbo].[AUTO_CREATE_SO_GIAY_PHEP] (
	@DATE DATETIME = '01/01/2020' )
	RETURNS NVARCHAR(12)
AS 
BEGIN
DECLARE @STTMAX INT 
SELECT @STTMAX = MAX(CONVERT(INT,RIGHT (MS_GP,4)))  
FROM dbo.GIAY_PHEP
WHERE  LEFT(MS_GP,2) = 'GP' AND SUBSTRING(MS_GP,4,4) = CONVERT(NVARCHAR(4) , @DATE , 12)

DECLARE @STT_NEXT NVARCHAR(10)
SET @STT_NEXT =  '0000' + CONVERT(NVARCHAR(4),ISNULL(@STTMAX,0) +1)
--SELECT @STT_NEXT 
DECLARE @ID NVARCHAR(12)
SET @ID = 'GP-' +  CONVERT(NVARCHAR(4) , @DATE , 12)  + '-' +  RIGHT (@STT_NEXT,4)
RETURN @ID
END

