IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucBaoCaoCongViecBaoTri' AND KEYWORD =N'bcCharTitle1') UPDATE LANGUAGES SET VIETNAM=N'Tỷ lệ công việc định mức có kế hoạch và không kế hoạch ', ENGLISH=N'Planned vs unplanned work quota ratio', VIETNAM_OR=N'Tỷ lệ công việc định mức có kế hoạch và không kế hoạch ', ENGLISH_OR=N'Planned vs unplanned work quota ratio' WHERE FORM=N'ucBaoCaoCongViecBaoTri' AND KEYWORD=N'bcCharTitle1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucBaoCaoCongViecBaoTri',N'bcCharTitle1',N'Tỷ lệ công việc định mức có kế hoạch và không kế hoạch ',N'Planned vs unplanned work quota ratio',N'Tỷ lệ công việc định mức có kế hoạch và không kế hoạch ',N'Planned vs unplanned work quota ratio')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucBaoCaoCongViecBaoTri' AND KEYWORD =N'bcCharTitle2') UPDATE LANGUAGES SET VIETNAM=N'Tỷ lệ số phút công việc thực tế có kế hoạch và không kế hoạch ', ENGLISH=N'Planned vs unplanned actual work ratio (minutes)', VIETNAM_OR=N'Tỷ lệ số phút công việc thực tế có kế hoạch và không kế hoạch ', ENGLISH_OR=N'Planned vs unplanned actual work ratio (minutes)' WHERE FORM=N'ucBaoCaoCongViecBaoTri' AND KEYWORD=N'bcCharTitle2' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucBaoCaoCongViecBaoTri',N'bcCharTitle2',N'Tỷ lệ số phút công việc thực tế có kế hoạch và không kế hoạch ',N'Planned vs unplanned actual work ratio (minutes)',N'Tỷ lệ số phút công việc thực tế có kế hoạch và không kế hoạch ',N'Planned vs unplanned actual work ratio (minutes)')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucBaoCaoCongViecBaoTri' AND KEYWORD =N'bcCharTitle3') UPDATE LANGUAGES SET VIETNAM=N'Tỷ lệ số lượng công việc thực tế có kế hoạch và không kế hoạch ', ENGLISH=N'Planned vs unplanned actual work ratio (quantity)', VIETNAM_OR=N'Tỷ lệ số lượng công việc thực tế có kế hoạch và không kế hoạch ', ENGLISH_OR=N'Planned vs unplanned actual work ratio (quantity)' WHERE FORM=N'ucBaoCaoCongViecBaoTri' AND KEYWORD=N'bcCharTitle3' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucBaoCaoCongViecBaoTri',N'bcCharTitle3',N'Tỷ lệ số lượng công việc thực tế có kế hoạch và không kế hoạch ',N'Planned vs unplanned actual work ratio (quantity)',N'Tỷ lệ số lượng công việc thực tế có kế hoạch và không kế hoạch ',N'Planned vs unplanned actual work ratio (quantity)')
