<div style="font-family: 'Times New Roman';font-size:13pt">
    <p>Số yêu cầu: {0}</p>
    <p>Người yêu cầu: {1}</p>
    <p>Ngày yêu cầu: {2}</p>
    <p>Giờ yêu cầu: {3}</p>
    <p>Ngày hoàng thành: {4}</p>
    <b style="text-align:center">YÊU CẦU BẢO TRÌ</b></br>
    <table border="1" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <th>Ms Máy</th>
            <th>Tên Máy</th>
            <th>Mô tả</th>
            <th>Yêu cầu</th>
            <th>Nguyên nhân</th>
            <th>Ưu tiên</th>
            <th>Loại yêu cầu</th>
        </tr>
        {5}
    </table>

    <a href="http://localhost/EcomaintSite/dashboard">quy về phiếu bảo trì</a>
    <p>Trân trọng và cảm ơn,</p>
    <p>------------------------</p>

