USE [PilmicoIntegration]
GO

ALTER trigger [dbo].[ItemList_trigger]
on [dbo].[ItemList]
after UPDATE, INSERT, DELETE
as
BEGIN
	DECLARE @ItemID BIGINT
	DECLARE @user NVARCHAR(100)

	set xact_abort off
	BEGIN TRY
		INSERT INTO	CMMS_PILMICO.dbo.IC_PHU_TUNG(MS_PT,MS_PT_NCC,MS_PT_CTY,TEN_PT,TEN_PT_ANH,TEN_PT_HOA, ACTIVE_PT,DVT,MS_LOAI_VT, MS_CACH_DAT_HANG,SO_NGAY_DAT_MUA_HANG,HANG_NGOAI,THEO_KHO,USER_INSERT_PT,NGAY_INSERT_PT,MS_KHO,VAT_TU_PT) 
		SELECT CONVERT(NVARCHAR(25),ItemID) AS MS_PT,T1.ItemCode,T1.ItemCode,CONVERT(NVARCHAR(100),ItemName) AS TEN_PT,CONVERT(NVARCHAR(100),ItemName) AS TEN_PT_ANH,CONVERT(NVARCHAR(100),ItemName) AS TEN_PT_HOA, [Active] AS ACTIVE_PT, T3.DVT, '0000' AS MS_LOAI_VT,11 AS MS_CACH_DAT_HANG,0 AS SO_NGAY_DAT_MUA_HANG,0 AS HANG_NGOAI,1 AS THEO_KHO,'Admin' AS USER_INSERT_PT,GETDATE() AS NGAY_INSERT_PT,34 AS MS_KHO, 1 AS VAT_TU_PT FROM ItemList T1 INNER JOIN CMMS_PILMICO.DBO.DON_VI_TINH T3 ON T1.UOMName = T3.TEN_1 WHERE NOT EXISTS (SELECT * FROM CMMS_PILMICO.DBO.IC_PHU_TUNG T2 WHERE CONVERT(NVARCHAR,T1.ItemID) = T2.MS_PT) AND ISNULL(Completed,0) = 0

		UPDATE CMMS_PILMICO.dbo.IC_PHU_TUNG SET TEN_PT = ItemName, MS_PT_NCC = ItemCode, MS_PT_CTY = ItemCode FROM CMMS_PILMICO.dbo.IC_PHU_TUNG T1 INNER JOIN ItemList T2 ON T1.MS_PT = T2.ItemID WHERE ISNULL(Completed,0) = 0

		INSERT INTO CMMS_PILMICO.dbo.IC_PHU_TUNG_KHO(MS_PT,MS_KHO,MS_VI_TRI,TON_TOI_THIEU,TON_KHO_MAX)
		SELECT DISTINCT MS_PT,T1.MS_KHO,T1.MS_VI_TRI,0 AS TON_TOI_THIEU, 0 AS TON_KHO_MAX FROM (SELECT MS_PT,T3.MS_KHO,T3.MS_VI_TRI FROM CMMS_PILMICO.dbo.IC_PHU_TUNG T1  ,CMMS_PILMICO.dbo.VI_TRI_KHO T3 WHERE T3.TEN_VI_TRI = N'Vị trí mặc định khi sync') T1
		WHERE NOT EXISTS (SELECT * FROM CMMS_PILMICO.DBO.IC_PHU_TUNG_KHO T2 WHERE CONVERT(NVARCHAR,T1.MS_PT) = T2.MS_PT AND T1.MS_KHO = T2.MS_KHO  )
		ORDER BY MS_PT,T1.MS_KHO,T1.MS_VI_TRI


		INSERT INTO CMMS_PILMICO.dbo.IC_PHU_TUNG_LOAI_MAY(MS_PT,MS_LOAI_MAY)
		SELECT DISTINCT MS_PT,MS_LOAI_MAY FROM CMMS_PILMICO.dbo.IC_PHU_TUNG T1  ,CMMS_PILMICO.dbo.LOAI_MAY T3 
		WHERE NOT EXISTS (SELECT * FROM CMMS_PILMICO.DBO.IC_PHU_TUNG_LOAI_MAY T2 WHERE CONVERT(NVARCHAR,T1.MS_PT) = T2.MS_PT AND T3.MS_LOAI_MAY = T3.MS_LOAI_MAY ) ORDER BY MS_PT,MS_LOAI_MAY


		INSERT INTO CMMS_PILMICO.dbo.IC_PHU_TUNG_LOAI_PHU_TUNG(MS_PT,MS_LOAI_PT)
		SELECT DISTINCT MS_PT,MS_LOAI_PT FROM CMMS_PILMICO.dbo.IC_PHU_TUNG T1  ,CMMS_PILMICO.dbo.LOAI_PHU_TUNG T3 
		WHERE NOT EXISTS (SELECT * FROM CMMS_PILMICO.DBO.IC_PHU_TUNG_LOAI_PHU_TUNG T2 WHERE CONVERT(NVARCHAR,T1.MS_PT) = T2.MS_PT AND T3.MS_LOAI_PT = T3.MS_LOAI_PT ) ORDER BY MS_PT,MS_LOAI_PT
		
		UPDATE dbo.ItemList SET Completed = 1,CompletionTime = GETDATE() FROM ItemList T1 INNER JOIN inserted T2 ON T1.ID = T2.ID WHERE  ISNULL(T1.Completed,0) = 0
	END TRY

	BEGIN CATCH     
		select ERROR_MESSAGE()
	END CATCH

END
