USE [PilmicoIntegration]
GO


ALTER trigger [dbo].[WarehouseList_trigger]
on [dbo].[WarehouseList]
after UPDATE, INSERT, DELETE
as
BEGIN
	--set xact_abort off
	BEGIN TRY
		
		INSERT INTO CMMS_PILMICO.dbo.IC_KHO (TEN_KHO,MS_KHO_INT)
		SELECT WarehouseName,CONVERT(NVARCHAR,WarehouseID)  AS TEN_KHO FROM WarehouseList T1 WHERE NOT EXISTS (SELECT * FROM CMMS_PILMICO.dbo.IC_KHO T2 WHERE CONVERT(NVARCHAR,T1.WarehouseID) = T2.MS_KHO_INT)

		INSERT INTO CMMS_PILMICO.dbo.VI_TRI_KHO(MS_KHO,TEN_VI_TRI)
		SELECT MS_KHO, N'Vị trí mặc định khi sync' AS TEN_VI_TRI FROM CMMS_PILMICO.dbo.IC_KHO T1 WHERE NOT EXISTS (SELECT * FROM CMMS_PILMICO.dbo.VI_TRI_KHO T2 WHERE T1.MS_KHO = T2.MS_KHO)

		UPDATE WarehouseList SET Completed = 1,CompletionTime = GETDATE() FROM WarehouseList T1 INNER JOIN inserted T2 ON T1.ID = T2.ID WHERE  ISNULL(T1.Completed,0) = 0
		--UPDATE WarehouseList SET WarehouseIDOld = WarehouseID
		INSERT INTO CMMS_PILMICO.dbo.NHOM_KHO(MS_KHO,GROUP_ID)
		SELECT T1.MS_KHO,1 AS GROUP_ID FROM CMMS_PILMICO.dbo.IC_KHO T1 WHERE NOT EXISTS (SELECT * FROM CMMS_PILMICO.dbo.NHOM_KHO T2 WHERE GROUP_ID = 1 AND T1.MS_KHO = T2.MS_KHO)

		UPDATE WarehouseList SET Completed = 1,CompletionTime = GETDATE() FROM WarehouseList T1 INNER JOIN inserted T2 ON T1.ID = T2.ID WHERE  ISNULL(T1.Completed,0) = 0
	END TRY

	BEGIN CATCH     
		select ERROR_MESSAGE()
	END CATCH

END



