USE [CMMS_PILMICO]
GO

ALTER PROC [dbo].[spCreatePN]
	@DocNum NVARCHAR(25),
	@DocNumOld NVARCHAR(25),
	@WorkOrder NVARCHAR(100),
	@WarehouseID BIGINT,
	@MS_KHO_CMMS NVARCHAR(100),
	@MSNhap NVARCHAR(100),
	@NgayXuatNhap DATETIME,
	@MS_VI_TRI_CMMS INT,
	@Currency NVARCHAR(100),
	@TYPE NVARCHAR(10)
	
AS

BEGIN TRY
    BEGIN TRANSACTION	
	-- @TYPE = 1 NHAP KHAC  @MS_DANG_NHAP = 2
	-- @TYPE = 2 NHAP TRA	@MS_DANG_NHAP = 6
	DECLARE @MS_DANG_NHAP INT = 2
	IF @TYPE = '2' SET @MS_DANG_NHAP = 6
	-- Tao nguoi nhan
	DECLARE @NguoiNhapCMMS NVARCHAR(30)
	SET @NguoiNhapCMMS = 'SYSN'	
	
	DECLARE @TYGIA FLOAT
	DECLARE @TYGIAUSD FLOAT
	IF ISNULL(@Currency,'') = '' 
	BEGIN
		SET @Currency = 'VND'
		SET @TYGIA = 1
		SET @TYGIAUSD = CONVERT(FLOAT,'5.72E-05')
	END
	ELSE
	BEGIN
		SELECT @TYGIA = TI_GIA, @TYGIAUSD = TI_GIA_USD FROM TI_GIA_NT T1 INNER JOIN (
		SELECT MAX(NGAY) AS NGAY_MAX,NGOAI_TE FROM TI_GIA_NT WHERE NGOAI_TE = @Currency GROUP BY NGOAI_TE) T2 ON T1.NGAY = T2.NGAY_MAX AND T1.NGOAI_TE = T2.NGOAI_TE

	END
	
	DECLARE @DHX NVARCHAR(50) 
	IF @TYPE = 1 SET @DHX = NULL 
	IF @TYPE = 2
	begin
		SELECT DISTINCT @DHX = MS_DH_XUAT_PT FROM IC_DON_HANG_XUAT WHERE MS_DHX_SYNC = @DocNumOld AND MS_PHIEU_BAO_TRI = @WorkOrder
	end 
----------------------------------------------------------------
-- INSERT vao IC_DON_HANG_NHAP
	INSERT INTO IC_DON_HANG_NHAP ( 
		MS_DH_NHAP_PT, SO_PHIEU_XN, GIO, NGAY,MS_KHO, 
		MS_DANG_NHAP, NGAY_CHUNG_TU, LOCK, GHI_CHU, 
		MS_DHX_SYNC,MS_DHX,NGUOI_NHAP,THU_KHO)
	SELECT 
		@MSNhap  AS MS_DH_NHAP_PT , @DocNum AS SO_PHIEU_XN ,@NgayXuatNhap AS GIO , @NgayXuatNhap AS NGAY ,@MS_KHO_CMMS AS MS_KHO , 
		@MS_DANG_NHAP AS MS_DANG_NHAP ,@NgayXuatNhap AS NGAY_CHUNG_TU , CONVERT(BIT,1) AS LOCK , N'Phiếu nhập tự động' AS GHI_CHU, 
		@DocNum AS MS_DHX_SYNC,@DHX,@NguoiNhapCMMS,'Admin'


-- INSERT vao IC_DON_HANG_NHAP_VAT_TU
	INSERT INTO IC_DON_HANG_NHAP_VAT_TU (
			MS_DH_NHAP_PT, MS_PT, ID, SO_LUONG_CTU, SL_THUC_NHAP, DON_GIA, 
			NGOAI_TE, TY_GIA, TY_GIA_USD, THANH_TIEN, 
			MS_DH_NHAP_PT_GOC,ID_GOC,DON_GIA_GOC)
	SELECT @MSNhap AS MS_DH_NHAP_PT,ItemID AS MS_PT,ID ,Quantity AS SO_LUONG_CTU,Quantity AS SL_THUC_NHAP,ISNULL(ItemPrice,0) AS DON_GIA, 
			@Currency AS NGOAI_TE ,@TYGIA TY_GIA, @TYGIAUSD AS TY_GIA_USD,ISNULL(Quantity,0) * ISNULL(ItemPrice,0) AS THANH_TIEN, 
			@MSNhap AS MS_DH_NHAP_PT_GOC, ID AS ID_GOC,ItemPrice AS DON_GIA_GOC  
	FROM PilmicoIntegration.DBO.InventoryTransaction 
	WHERE (DocNum = @DocNum) AND (WorkOrder = @WorkOrder) AND (WarehouseID = @WarehouseID) AND (ISNULL([Completed],0) = 1) AND ([Type] = @TYPE) AND (DocNumOld = @DocNumOld OR @DocNumOld = '-1')

-- INSERT vao IC_DON_HANG_NHAP_VAT_TU_CHI_TIET	
	INSERT INTO IC_DON_HANG_NHAP_VAT_TU_CHI_TIET(
		MS_DH_NHAP_PT,MS_PT,MS_VI_TRI,ID,SL_VT)
	SELECT @MSNhap AS MS_DH_NHAP_PT,ItemID AS MS_PT,@MS_VI_TRI_CMMS AS MS_VI_TRI, ID,Quantity AS SL_THUC_NHAP 
	FROM PilmicoIntegration.DBO.InventoryTransaction 
	WHERE (DocNum = @DocNum) AND (WorkOrder = @WorkOrder) AND (WarehouseID = @WarehouseID) AND (ISNULL([Completed],0) = 1) AND ([Type] = @TYPE) AND (DocNumOld = @DocNumOld OR @DocNumOld = '-1')

	IF @TYPE = 2 
	BEGIN
		UPDATE IC_DON_HANG_NHAP_VAT_TU SET MS_DH_NHAP_PT_GOC = DHG, ID_GOC = IDGOC FROM IC_DON_HANG_NHAP_VAT_TU X INNER JOIN (
		SELECT DHG,B.MS_DH_NHAP_PT,B.MS_PT,B.ID,C.IDGOC FROM IC_DON_HANG_NHAP A INNER JOIN IC_DON_HANG_NHAP_VAT_TU B ON A.MS_DH_NHAP_PT = B.MS_DH_NHAP_PT INNER JOIN (
		SELECT  DISTINCT      T3.MS_DH_NHAP_PT AS DHG, T3.MS_PT, T1.MS_DH_XUAT_PT,  MAX(dbo.IC_DON_HANG_NHAP_VAT_TU.ID) AS IDGOC
		FROM            IC_DON_HANG_XUAT AS T1 INNER JOIN
								 IC_DON_HANG_XUAT_VAT_TU AS T2 ON T1.MS_DH_XUAT_PT = T2.MS_DH_XUAT_PT INNER JOIN
								 IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS T3 ON T2.MS_DH_XUAT_PT = T3.MS_DH_XUAT_PT AND T2.MS_PT = T3.MS_PT INNER JOIN
								 IC_DON_HANG_NHAP_VAT_TU ON T3.MS_DH_NHAP_PT = IC_DON_HANG_NHAP_VAT_TU.MS_DH_NHAP_PT AND T3.MS_PT = IC_DON_HANG_NHAP_VAT_TU.MS_PT
		GROUP BY T3.MS_DH_NHAP_PT , T3.MS_PT, T1.MS_DH_XUAT_PT

		 ) C ON A.MS_DHX = C.MS_DH_XUAT_PT AND B.MS_PT = C.MS_PT AND A.MS_DANG_NHAP = 6) Y ON X.MS_DH_NHAP_PT = Y.MS_DH_NHAP_PT AND X.MS_PT = Y.MS_PT AND X.ID = Y.ID
		 WHERE  X.MS_DH_NHAP_PT = @MSNhap 
	END


COMMIT TRANSACTION
END TRY
BEGIN CATCH
    
    ROLLBACK TRANSACTION
END CATCH
