IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'BCTonKhoTheoViTriKMADC')
   exec('CREATE PROCEDURE [dbo].[BCTonKhoTheoViTriKMADC] AS BEGIN SET NOCOUNT ON; END')
GO


--exec BCTonKhoTheoViTriKMADC '-1' ,'20010120','20160320',0

ALTER procedure [dbo].[BCTonKhoTheoViTriKMADC]
 @MS_KHO NVARCHAR(30) ,
 @TU_NGAY DATETIME ,
 @DEN_NGAY DATETIME ,
 @TYPE_LANGUAGE INT 
  AS
BEGIN
IF @MS_KHO = '-1'
BEGIN
	SET @MS_KHO = '%%'
END

SELECT   A.MS_PT, A.MS_PT_NCC, A.TEN_PT,TEN_KHO, TEN_VI_TRI, TEN_DVT,
SL_TON_HT + SL_XUAT_TMP + SL_XUAT + SL_CHUYEN_DI_TMP +SL_CHUYEN_DI - SL_NHAP_TMP - 
SL_NHAP - SL_CHUYEN_DEN_TMP - SL_CHUYEN_DEN - CHENH_LECH_KIEM_KE_TMP - CHENH_LECH_KIEM_KE AS SL_TON_HT,
CASE (SL_TON_HT + SL_XUAT_TMP + SL_XUAT + SL_CHUYEN_DI_TMP +SL_CHUYEN_DI - SL_NHAP_TMP - 
SL_NHAP - SL_CHUYEN_DEN_TMP - SL_CHUYEN_DEN - CHENH_LECH_KIEM_KE_TMP - CHENH_LECH_KIEM_KE) 
WHEN 0 THEN 0 ELSE
(TONG_GIA_TRI_HT + GIA_TRI_XUAT_TMP + GIA_TRI_XUAT + GIA_TRI_CHUYEN_DI_TMP +GIA_TRI_CHUYEN_DI - GIA_TRI_NHAP_TMP - 
GIA_TRI_NHAP - GIA_TRI_CHUYEN_DEN_TMP - GIA_TRI_CHUYEN_DEN - GIA_TRI_CHENH_LECH_TMP - GIA_TRI_CHENH_LECH)/
(SL_TON_HT + SL_XUAT_TMP + SL_XUAT + SL_CHUYEN_DI_TMP +SL_CHUYEN_DI - SL_NHAP_TMP - 
SL_NHAP - SL_CHUYEN_DEN_TMP - SL_CHUYEN_DEN - CHENH_LECH_KIEM_KE_TMP - CHENH_LECH_KIEM_KE 
) END AS GIA_1_HT,

TONG_GIA_TRI_HT + GIA_TRI_XUAT_TMP + GIA_TRI_XUAT + GIA_TRI_CHUYEN_DI_TMP +GIA_TRI_CHUYEN_DI - GIA_TRI_NHAP_TMP - 
GIA_TRI_NHAP - GIA_TRI_CHUYEN_DEN_TMP - GIA_TRI_CHUYEN_DEN - GIA_TRI_CHENH_LECH_TMP - GIA_TRI_CHENH_LECH AS GIA_TRI_TON_HT,
SL_NHAP,GIA_TRI_NHAP,SL_XUAT,GIA_TRI_XUAT,
SL_CHUYEN_DEN - SL_CHUYEN_DI AS SL_DI_CHUYEN,
GIA_TRI_CHUYEN_DEN - GIA_TRI_CHUYEN_DI AS GT_DI_CHUYEN,
CHENH_LECH_KIEM_KE,GIA_TRI_CHENH_LECH,
SL_TON_HT + SL_XUAT_TMP + 
SL_CHUYEN_DI_TMP - SL_NHAP_TMP - 
SL_CHUYEN_DEN_TMP - CHENH_LECH_KIEM_KE_TMP  AS TON_CUOI,
CASE (SL_TON_HT + SL_XUAT_TMP + 
SL_CHUYEN_DI_TMP - SL_NHAP_TMP - 
SL_CHUYEN_DEN_TMP - CHENH_LECH_KIEM_KE_TMP) WHEN 0 THEN 0 
ELSE
(TONG_GIA_TRI_HT + GIA_TRI_XUAT_TMP + 
GIA_TRI_CHUYEN_DI_TMP - GIA_TRI_NHAP_TMP - 
GIA_TRI_CHUYEN_DEN_TMP - GIA_TRI_CHENH_LECH_TMP )
/
(SL_TON_HT + SL_XUAT_TMP + 
SL_CHUYEN_DI_TMP - SL_NHAP_TMP - 
SL_CHUYEN_DEN_TMP - CHENH_LECH_KIEM_KE_TMP ) END AS GT_TON_CUOI_1, 
TONG_GIA_TRI_HT + GIA_TRI_XUAT_TMP + 
GIA_TRI_CHUYEN_DI_TMP - GIA_TRI_NHAP_TMP - 
GIA_TRI_CHUYEN_DEN_TMP - GIA_TRI_CHENH_LECH_TMP  AS GT_TON_CUOI,TEN_CLASS,
TON_TOI_THIEU, TON_KHO_MAX, SO_NGAY_DAT_MUA_HANG,
--=V * (T/R)
CASE ISNULL((SL_TON_HT + SL_XUAT_TMP + SL_CHUYEN_DI_TMP - SL_NHAP_TMP - SL_CHUYEN_DEN_TMP - CHENH_LECH_KIEM_KE_TMP ),0) WHEN 0 THEN 0 ELSE
TON_TOI_THIEU * ( (TONG_GIA_TRI_HT + GIA_TRI_XUAT_TMP + GIA_TRI_CHUYEN_DI_TMP - GIA_TRI_NHAP_TMP - GIA_TRI_CHUYEN_DEN_TMP - GIA_TRI_CHENH_LECH_TMP ) / 
(SL_TON_HT + SL_XUAT_TMP + SL_CHUYEN_DI_TMP - SL_NHAP_TMP - SL_CHUYEN_DEN_TMP - CHENH_LECH_KIEM_KE_TMP )) END AS GT_TON_MIN,
--'=W * (T/R)
CASE ISNULL((SL_TON_HT + SL_XUAT_TMP + SL_CHUYEN_DI_TMP - SL_NHAP_TMP - SL_CHUYEN_DEN_TMP - CHENH_LECH_KIEM_KE_TMP ),0) WHEN 0 THEN 0 ELSE
TON_KHO_MAX * ( (TONG_GIA_TRI_HT + GIA_TRI_XUAT_TMP + GIA_TRI_CHUYEN_DI_TMP - GIA_TRI_NHAP_TMP - GIA_TRI_CHUYEN_DEN_TMP - GIA_TRI_CHENH_LECH_TMP ) / 
(SL_TON_HT + SL_XUAT_TMP + SL_CHUYEN_DI_TMP - SL_NHAP_TMP - SL_CHUYEN_DEN_TMP - CHENH_LECH_KIEM_KE_TMP )) END AS GT_TON_MAX


FROM 

(
	SELECT     A.MS_PT, MS_PT_NCC,
	CASE WHEN A.QUY_CACH IS NOT NULL AND A.QUY_CACH <>'' THEN  A.TEN_PT + '('+A.QUY_CACH+')' ELSE A.TEN_PT END AS TEN_PT,
	 C.MS_KHO, C.TEN_VI_TRI , CASE @TYPE_LANGUAGE WHEN 0 THEN B.TEN_1 ELSE B.TEN_2 END AS TEN_DVT , 
	SUM (ISNULL(C.SL_TON_HT,0)) AS SL_TON_HT ,
	SUM (ISNULL(C.GIA_TRI_1 ,0)) AS GIA_TRI_HT_1 ,
	SUM (ISNULL(C.GIA_TRI_HT ,0)) AS TONG_GIA_TRI_HT ,
	SUM (ISNULL(D.SL_XUAT_TMP ,0)) AS SL_XUAT_TMP ,
	SUM (ISNULL(D.GIA_TRI_XUAT_TMP ,0)) AS GIA_TRI_XUAT_TMP ,
	SUM (ISNULL(E.SL_XUAT ,0)) AS SL_XUAT , 
	SUM (ISNULL(E.GIA_TRI_XUAT ,0)) AS GIA_TRI_XUAT , 

	SUM (ISNULL(F.SL_NHAP_TMP ,0)) AS SL_NHAP_TMP ,
	SUM (ISNULL(F.GIA_TRI_NHAP_TMP ,0)) AS GIA_TRI_NHAP_TMP ,
	SUM (ISNULL(G.SL_NHAP ,0)) AS SL_NHAP , 
	SUM (ISNULL(G.GIA_TRI_NHAP ,0)) AS GIA_TRI_NHAP , 

	SUM (ISNULL(H.SL_CHUYEN_DI_TMP ,0)) AS SL_CHUYEN_DI_TMP  ,
	SUM (ISNULL(H.GIA_TRI_CHUYEN_DI_TMP ,0)) AS GIA_TRI_CHUYEN_DI_TMP,
	SUM (ISNULL(I.SL_CHUYEN_DI ,0)) AS SL_CHUYEN_DI , 
	SUM (ISNULL(I.GIA_TRI_CHUYEN_DI ,0)) AS GIA_TRI_CHUYEN_DI, 

	SUM (ISNULL(J.SL_CHUYEN_DEN_TMP ,0)) AS SL_CHUYEN_DEN_TMP ,
	SUM (ISNULL(J.GIA_TRI_CHUYEN_DEN_TMP,0)) AS GIA_TRI_CHUYEN_DEN_TMP,
	SUM (ISNULL(K.SL_CHUYEN_DEN ,0)) AS SL_CHUYEN_DEN ,
	SUM (ISNULL(K.GIA_TRI_CHUYEN_DEN,0)) AS GIA_TRI_CHUYEN_DEN,

	SUM (ISNULL(L.CHENH_LECH_KIEM_KE_TMP ,0)) AS CHENH_LECH_KIEM_KE_TMP  ,
	SUM (ISNULL(L.GIA_TRI_CHENH_LECH_TMP,0)) AS GIA_TRI_CHENH_LECH_TMP,
	SUM (ISNULL(M.CHENH_LECH_KIEM_KE ,0)) AS CHENH_LECH_KIEM_KE , 
	SUM (ISNULL(M.GIA_TRI_CHENH_LECH ,0)) AS GIA_TRI_CHENH_LECH , 
	A.MS_PT_NCC AS PART_NO , A.TON_TOI_THIEU AS TON_MIN ,dbo.CLASS_VT.TEN_CLASS,
	SUM(ISNULL(GIA_TRI_HT,0)  - 
	(ISNULL(GIA_TRI_NHAP_TMP,0)  + 
	ISNULL(GIA_TRI_CHUYEN_DEN_TMP,0)  ) + 
	(ISNULL(GIA_TRI_XUAT_TMP,0) + 
	ISNULL(GIA_TRI_CHUYEN_DI_TMP,0) + 
	ISNULL(GIA_TRI_CHENH_LECH_TMP,0)  )) AS GIA_TRI
	FROM         
	--Lấy tồn hiện tại
	(
		SELECT VI_TRI_KHO_VAT_TU.MS_PT,VI_TRI_KHO_VAT_TU.MS_VI_TRI, VI_TRI_KHO.MS_KHO, VI_TRI_KHO.TEN_VI_TRI, 
		SUM (VI_TRI_KHO_VAT_TU.SL_VT) AS SL_TON_HT , SUM (VI_TRI_KHO_VAT_TU.GIA_TRI_HT) AS GIA_TRI_HT,
		CASE WHEN ISNULL(SUM (VI_TRI_KHO_VAT_TU.SL_VT),0) = 0 THEN 0 ELSE 
		SUM (VI_TRI_KHO_VAT_TU.GIA_TRI_HT) / SUM (VI_TRI_KHO_VAT_TU.SL_VT)  END  AS GIA_TRI_1
		FROM (
				SELECT     VTKVT.MS_KHO, VTKVT.MS_VI_TRI, VTKVT.MS_DH_NHAP_PT, VTKVT.MS_PT, VTKVT.ID, VTKVT.SL_VT, 
						VTKVT.SL_VT * NVT.DON_GIA * NVT.TY_GIA AS GIA_TRI_HT
				FROM         dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NVTCT ON NVT.MS_DH_NHAP_PT = NVTCT.MS_DH_NHAP_PT AND NVT.MS_PT = NVTCT.MS_PT 
							  AND NVT.ID = NVTCT.ID RIGHT OUTER JOIN dbo.VI_TRI_KHO_VAT_TU AS VTKVT ON NVTCT.ID = VTKVT.ID 
							  AND NVTCT.MS_DH_NHAP_PT = VTKVT.MS_DH_NHAP_PT AND NVTCT.MS_PT = VTKVT.MS_PT AND NVTCT.MS_VI_TRI = VTKVT.MS_VI_TRI
			) VI_TRI_KHO_VAT_TU INNER JOIN VI_TRI_KHO ON VI_TRI_KHO_VAT_TU.MS_VI_TRI = VI_TRI_KHO.MS_VI_TRI AND VI_TRI_KHO_VAT_TU.MS_KHO = VI_TRI_KHO.MS_KHO
		WHERE VI_TRI_KHO_VAT_TU.MS_KHO LIKE @MS_KHO
		GROUP BY VI_TRI_KHO_VAT_TU.MS_PT,VI_TRI_KHO_VAT_TU.MS_VI_TRI , VI_TRI_KHO.MS_KHO , VI_TRI_KHO.TEN_VI_TRI 
	) C 
	LEFT OUTER JOIN dbo.IC_PHU_TUNG A ON C.MS_PT = A.MS_PT 
	LEFT OUTER JOIN dbo.CLASS_VT ON A.MS_CLASS = dbo.CLASS_VT.MS_CLASS 
	INNER JOIN  dbo.DON_VI_TINH B ON A.DVT = B.DVT 
	LEFT OUTER JOIN 
	(
	--Lấy số lượng xuất từ đến ngày đến hiện tại
		SELECT     XCT.MS_PT, XCT.MS_VI_TRI, SUM(XCT.SL_VT) AS SL_XUAT_TMP, SUM(XCT.SL_VT * NVT.DON_GIA * NVT.TY_GIA) AS GIA_TRI_XUAT_TMP
		FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NVTCT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON NVTCT.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND NVTCT.MS_PT = NVT.MS_PT AND NVTCT.ID = NVT.ID INNER JOIN
							  dbo.IC_DON_HANG_XUAT AS DHX INNER JOIN
							  dbo.IC_DON_HANG_XUAT_VAT_TU AS XVT ON DHX.MS_DH_XUAT_PT = XVT.MS_DH_XUAT_PT INNER JOIN
							  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS XCT ON XVT.MS_DH_XUAT_PT = XCT.MS_DH_XUAT_PT AND XVT.MS_PT = XCT.MS_PT ON NVTCT.MS_DH_NHAP_PT = XCT.MS_DH_NHAP_PT AND 
							  NVTCT.MS_PT = XCT.MS_PT AND NVTCT.MS_VI_TRI = XCT.MS_VI_TRI AND NVTCT.ID = XCT.ID_XUAT
		WHERE     (DHX.NGAY >= @DEN_NGAY) AND (DHX.MS_KHO LIKE @MS_KHO)
		GROUP BY XCT.MS_PT, XCT.MS_VI_TRI
		) D
		ON C.MS_PT = D.MS_PT AND C.MS_VI_TRI = D.MS_VI_TRI 
		LEFT OUTER JOIN (
		--Lấy số lượng xuất trong khoảng từ ngày đến ngày
		SELECT     XCT.MS_PT, XCT.MS_VI_TRI, SUM(XCT.SL_VT) AS SL_XUAT, SUM(XCT.SL_VT * DHN.DON_GIA * DHN.TY_GIA) AS GIA_TRI_XUAT
		FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS DHN ON NCT.MS_DH_NHAP_PT = DHN.MS_DH_NHAP_PT AND NCT.MS_PT = DHN.MS_PT AND NCT.ID = DHN.ID INNER JOIN
							  dbo.IC_DON_HANG_XUAT AS DHX INNER JOIN
							  dbo.IC_DON_HANG_XUAT_VAT_TU AS XVT ON DHX.MS_DH_XUAT_PT = XVT.MS_DH_XUAT_PT INNER JOIN
							  dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS XCT ON XVT.MS_DH_XUAT_PT = XCT.MS_DH_XUAT_PT AND XVT.MS_PT = XCT.MS_PT ON NCT.MS_DH_NHAP_PT = XCT.MS_DH_NHAP_PT AND 
							  NCT.MS_PT = XCT.MS_PT AND NCT.MS_VI_TRI = XCT.MS_VI_TRI AND NCT.ID = XCT.ID_XUAT
		WHERE     (DHX.NGAY >= @TU_NGAY) AND (DHX.MS_KHO LIKE @MS_KHO) AND (DHX.NGAY < @DEN_NGAY)
		GROUP BY XCT.MS_PT, XCT.MS_VI_TRI
	) E 
	ON C.MS_PT = E.MS_PT AND C.MS_VI_TRI = E.MS_VI_TRI 
	LEFT OUTER JOIN 
	(
	--Lấy số lượng nhập từ đến ngày đến hiện tại
		SELECT     NCT.MS_PT, NCT.MS_VI_TRI, SUM(NCT.SL_VT) AS SL_NHAP_TMP, SUM(NCT.SL_VT * NVT.DON_GIA * NVT.TY_GIA) AS GIA_TRI_NHAP_TMP
		FROM         dbo.IC_DON_HANG_NHAP AS DHN INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON DHN.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT ON NVT.MS_DH_NHAP_PT = NCT.MS_DH_NHAP_PT AND NVT.MS_PT = NCT.MS_PT AND NVT.ID = NCT.ID
		WHERE     (DHN.NGAY >= @DEN_NGAY) AND (DHN.MS_KHO LIKE @MS_KHO)
		GROUP BY NCT.MS_PT, NCT.MS_VI_TRI
		) F ON C.MS_PT = F.MS_PT AND C.MS_VI_TRI = F.MS_VI_TRI 
		LEFT OUTER JOIN (
		--Lấy số lượng nhập từ ngày đến ngày
		SELECT     NCT.MS_PT, NCT.MS_VI_TRI, SUM(NCT.SL_VT) AS SL_NHAP, SUM(NCT.SL_VT * NVT.DON_GIA * NVT.TY_GIA) AS GIA_TRI_NHAP
		FROM         dbo.IC_DON_HANG_NHAP AS DHN INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON DHN.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT ON NVT.MS_DH_NHAP_PT = NCT.MS_DH_NHAP_PT AND NVT.MS_PT = NCT.MS_PT AND NVT.ID = NCT.ID
		WHERE     (DHN.NGAY >= @TU_NGAY) AND (DHN.MS_KHO LIKE @MS_KHO) AND (DHN.NGAY < @DEN_NGAY)
		GROUP BY NCT.MS_PT, NCT.MS_VI_TRI
	) G 
	ON C.MS_PT = G.MS_PT AND C.MS_VI_TRI = G.MS_VI_TRI 
	LEFT OUTER JOIN 
	(
	--Lấy số lượng di chuyển đi từ đến ngày đến hiện tại
		SELECT     DC.MS_PT, DC.MS_VI_TRI, SUM(DC.SL_CHUYEN) AS SL_CHUYEN_DI_TMP, SUM(DC.SL_CHUYEN * NVT.DON_GIA * NVT.TY_GIA) AS GIA_TRI_CHUYEN_DI_TMP
		FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON NCT.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND NCT.MS_PT = NVT.MS_PT AND NCT.ID = NVT.ID INNER JOIN
							  dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS DC ON NCT.MS_PT = DC.MS_PT AND NCT.MS_VI_TRI = DC.MS_VI_TRI AND NCT.MS_DH_NHAP_PT = DC.MS_DH_NHAP_PT AND 
							  NCT.ID = DC.ID_DC
		WHERE     (DC.NGAY_CHUYEN >= @DEN_NGAY) AND (DC.MS_KHO LIKE @MS_KHO)
		GROUP BY DC.MS_PT, DC.MS_VI_TRI
	) H 
	ON C.MS_PT = H.MS_PT AND C.MS_VI_TRI = H.MS_VI_TRI 
	LEFT OUTER JOIN 
	(
	--Lấy số lượng di chuyển đi từ ngày đến ngày

		SELECT     DC.MS_PT, DC.MS_VI_TRI, SUM(DC.SL_CHUYEN) AS SL_CHUYEN_DI, SUM(DC.SL_CHUYEN * NVT.DON_GIA * NVT.TY_GIA) AS GIA_TRI_CHUYEN_DI
		FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON NCT.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND NCT.MS_PT = NVT.MS_PT AND NCT.ID = NVT.ID INNER JOIN
							  dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS DC ON NCT.MS_PT = DC.MS_PT AND NCT.MS_VI_TRI = DC.MS_VI_TRI AND NCT.MS_DH_NHAP_PT = DC.MS_DH_NHAP_PT AND 
							  NCT.ID = DC.ID_DC
		WHERE     (DC.NGAY_CHUYEN >= @TU_NGAY) AND (DC.MS_KHO LIKE @MS_KHO) AND (DC.NGAY_CHUYEN < @DEN_NGAY)
		GROUP BY DC.MS_PT, DC.MS_VI_TRI
	) I 
	ON C.MS_PT = I.MS_PT AND C.MS_VI_TRI = I.MS_VI_TRI 
	LEFT OUTER JOIN 
	(
	--Lấy số lượng di chuyển đến từ đến ngày đến hiện tại
		SELECT     DC.MS_PT, DC.MS_VI_TRI, SUM(DC.SL_CHUYEN) AS SL_CHUYEN_DEN_TMP, SUM(DC.SL_CHUYEN * NVT.DON_GIA * NVT.TY_GIA) AS GIA_TRI_CHUYEN_DEN_TMP
		FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON NCT.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND NCT.MS_PT = NVT.MS_PT AND NCT.ID = NVT.ID INNER JOIN
							  dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS DC ON NCT.MS_PT = DC.MS_PT AND NCT.MS_VI_TRI = DC.MS_VI_TRI AND NCT.MS_DH_NHAP_PT = DC.MS_DH_NHAP_PT AND 
							  NCT.ID = DC.ID_DC
		WHERE     (DC.NGAY_CHUYEN >= @DEN_NGAY) AND (DC.MS_KHO_1 LIKE @MS_KHO)
		GROUP BY DC.MS_PT, DC.MS_VI_TRI
	) J 
	ON C.MS_PT = J.MS_PT AND C.MS_VI_TRI = J.MS_VI_TRI 
	LEFT OUTER JOIN 
	(
	--Lấy số lượng di chuyển đến từ ngày đến ngày
		SELECT     DC.MS_PT, DC.MS_VI_TRI, SUM(DC.SL_CHUYEN) AS SL_CHUYEN_DEN, SUM(DC.SL_CHUYEN * NVT.DON_GIA * NVT.TY_GIA) AS GIA_TRI_CHUYEN_DEN
		FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON NCT.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND NCT.MS_PT = NVT.MS_PT AND NCT.ID = NVT.ID INNER JOIN
							  dbo.DI_CHUYEN_VI_TRI_TRONG_KHO AS DC ON NCT.MS_PT = DC.MS_PT AND NCT.MS_VI_TRI = DC.MS_VI_TRI AND NCT.MS_DH_NHAP_PT = DC.MS_DH_NHAP_PT AND 
							  NCT.ID = DC.ID_DC
		WHERE     (DC.NGAY_CHUYEN >= @TU_NGAY) AND (DC.MS_KHO_1 LIKE @MS_KHO) AND (DC.NGAY_CHUYEN < @DEN_NGAY)
		GROUP BY DC.MS_PT, DC.MS_VI_TRI
	) K 
	ON C.MS_PT = K.MS_PT AND C.MS_VI_TRI = K.MS_VI_TRI
	LEFT OUTER JOIN 
	(
	--Tính chênh lệch kiểm kê từ đến ngày đến hiện tại
		SELECT     KK.MS_PT, KK.MS_VI_TRI, SUM(KK.SL_CHUNG_TU - KK.SL_KK_CT) AS CHENH_LECH_KIEM_KE_TMP, SUM((KK.SL_CHUNG_TU - KK.SL_KK_CT) * NVT.DON_GIA * NVT.TY_GIA) 
							  AS GIA_TRI_CHENH_LECH_TMP
		FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON NCT.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND NCT.MS_PT = NVT.MS_PT AND NCT.ID = NVT.ID INNER JOIN
							  dbo.KIEM_KE_VAT_TU_CHI_TIET AS KK ON NCT.MS_VI_TRI = KK.MS_VI_TRI AND NCT.MS_PT = KK.MS_PT AND NCT.MS_DH_NHAP_PT = KK.MS_DH_NHAP_PT AND NCT.ID = KK.ID_KK
		WHERE     (KK.NGAY >= @DEN_NGAY) AND (KK.MS_KHO LIKE @MS_KHO)
		GROUP BY KK.MS_PT, KK.MS_VI_TRI
	) L 
	ON C.MS_PT = L.MS_PT AND C.MS_VI_TRI = L.MS_VI_TRI 
	LEFT OUTER JOIN 
	(
	--Tính chênh lệch kiểm kê từ ngày đến ngày
		SELECT     KK.MS_PT, KK.MS_VI_TRI, SUM(KK.SL_CHUNG_TU - KK.SL_KK_CT) AS CHENH_LECH_KIEM_KE, SUM((KK.SL_CHUNG_TU - KK.SL_KK_CT) * NVT.DON_GIA * NVT.TY_GIA) 
							  AS GIA_TRI_CHENH_LECH
		FROM         dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS NCT INNER JOIN
							  dbo.IC_DON_HANG_NHAP_VAT_TU AS NVT ON NCT.MS_DH_NHAP_PT = NVT.MS_DH_NHAP_PT AND NCT.MS_PT = NVT.MS_PT AND NCT.ID = NVT.ID INNER JOIN
							  dbo.KIEM_KE_VAT_TU_CHI_TIET AS KK ON NCT.MS_VI_TRI = KK.MS_VI_TRI AND NCT.MS_PT = KK.MS_PT AND NCT.MS_DH_NHAP_PT = KK.MS_DH_NHAP_PT AND NCT.ID = KK.ID_KK
		WHERE     (KK.NGAY >= @TU_NGAY) AND (KK.MS_KHO LIKE @MS_KHO) AND (KK.NGAY < @DEN_NGAY)
		GROUP BY KK.MS_PT, KK.MS_VI_TRI
	) M 
	ON C.MS_PT = M.MS_PT AND C.MS_VI_TRI = M.MS_VI_TRI
	GROUP BY A.MS_PT, A.TEN_PT,A.QUY_CACH , C.TEN_VI_TRI,C.MS_KHO, B.TEN_1 , B.TEN_2 , A.MS_PT_NCC , A.TON_TOI_THIEU,dbo.CLASS_VT.TEN_CLASS
) A INNER JOIN IC_KHO B ON A.MS_KHO = B.MS_KHO INNER JOIN IC_PHU_TUNG C ON A.MS_PT = C.MS_PT
ORDER BY TEN_KHO,TEN_VI_TRI,MS_PT, MS_PT_NCC, TEN_PT, TEN_DVT
END
