IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetBCDDHADC')
   exec('CREATE PROCEDURE [dbo].[GetBCDDHADC] AS BEGIN SET NOCOUNT ON; END')
GO

--EXEC GetBCDDHADC 'DH-1506-0001', 0

ALTER PROC [dbo].GetBCDDHADC
	@MSDDH NVARCHAR(50),
	@NNgu int
AS

SELECT DISTINCT T4.MS_DON_DAT_HANG, T4.SO_DON_DAT_HANG, T4.NGUOI_LAP, T4.NGAY_LAP, T4.NGUOI_SUA, T4.NGAY_SUA, T4.NGUOI_DAT, 
		T4.NGAY_DAT,  T5.TEN_TO AS NGUOI_XAC_NHAN, T4.NGAY_XAC_NHAN, T4.NGUOI_LIEN_HE, T4.NGAY_LIEN_HE, T4.NGUOI_DUYET, T4.NGAY_DUYET, 
		T4.NGUOI_KY_HD, T4.NGAY_KY_HD, T4.NGUOI_GIAO, T4.NGAY_GIAO, T4.DIA_CHI_GIAO, T4.THUE_VAT, T4.NHA_CUNG_CAP, T4.FAX_NCC, 
		T4.DIEN_THOAI_NCC, T4.DIA_CHI_NCC, T4.TRANG_THAI, T4.TEN_TRANG_THAI, T4.GHI_CHU, T4.MS_KHO, T4.MS_LOAI_VT, T2.MS_PT, 
		 ISNULL(T2.TEN_PT,'') + 
                      CASE ISNULL(T2.QUY_CACH,'') WHEN '' THEN '' ELSE ' / ' + ISNULL(T2.QUY_CACH,'') END
                      + 
                      CASE ISNULL(T2.MS_PT_NCC,'') WHEN '' THEN '' ELSE ' / ' + ISNULL(T2.MS_PT_NCC,'') END AS TEN_PT
		, 
		
		T8.MS_KH AS QUY_CACH, T1.SL_DAT_HANG, CASE @NNgu WHEN 0 THEN T3.TEN_1 WHEN 1 THEN T3.TEN_2 ELSE TEN_3 END AS DVT, 
		T1.SL_DAT_HANG AS SL_KHO, T1.SL_DAT_HANG AS SL_CAN, T1.DON_GIA, T1.THANH_TIEN, T1.GHI_CHU AS GCHU
FROM         dbo.KHACH_HANG AS T8 RIGHT OUTER JOIN
                      dbo.DON_DAT_HANG_CHI_TIET AS T1 INNER JOIN
                      dbo.IC_PHU_TUNG AS T2 ON T1.MS_PT = T2.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS T3 ON T2.DVT = T3.DVT INNER JOIN
                      dbo.DON_DAT_HANG AS T4 ON T1.MS_DON_DAT_HANG = T4.MS_DON_DAT_HANG ON T8.TEN_CONG_TY = T4.NHA_CUNG_CAP LEFT OUTER JOIN
                      dbo.TO_PHONG_BAN AS T5 INNER JOIN
                      dbo.USERS AS T6 ON T5.MS_TO = T6.MS_TO INNER JOIN
                      dbo.[TO] AS T7 ON T5.MS_TO = T7.MS_TO ON T4.NGUOI_LAP = T6.USERNAME
WHERE     (T1.MS_DON_DAT_HANG = @MSDDH)
ORDER BY T4.MS_DON_DAT_HANG, T4.SO_DON_DAT_HANG, T4.NGUOI_LAP, T4.NGAY_LAP, T4.NGUOI_SUA, T4.NGAY_SUA, T4.NGUOI_DAT, 
		T4.NGAY_DAT,  T5.TEN_TO , T4.NGAY_XAC_NHAN, T4.NGUOI_LIEN_HE, T4.NGAY_LIEN_HE, T4.NGUOI_DUYET, T4.NGAY_DUYET, 
		T4.NGUOI_KY_HD, T4.NGAY_KY_HD, T4.NGUOI_GIAO, T4.NGAY_GIAO, T4.DIA_CHI_GIAO, T4.THUE_VAT, T4.NHA_CUNG_CAP, T4.FAX_NCC, 
		T4.DIEN_THOAI_NCC, T4.DIA_CHI_NCC, T4.TRANG_THAI, T4.TEN_TRANG_THAI, T4.GHI_CHU, T4.MS_KHO, T4.MS_LOAI_VT, T2.MS_PT