
-- EXEC GetInPhieuNhapADC 'PN-1604-0006', 0
ALTER PROC [dbo].[GetInPhieuNhapADC]
	@MS_DH_NHAP_PT NVARCHAR(14),
	@NNgu int

AS
SELECT  T4.MS_DH_NHAP_PT, T4.SO_PHIEU_XN, T4.NGAY, T5.TEN_KHO, 
		CASE @NNgu WHEN 0 THEN T6.DANG_NHAP_VIET WHEN 1 THEN T6.DANG_NHAP_ANH ELSE T6.DANG_NHAP_HOA END AS DANG_NHAP, 
		T7.TEN AS NGUOI_NHAP, T4.GHI_CHU AS GC_PN, T1.MS_PT, T2.TEN_PT, T2.QUY_CACH, T2.MS_PT_NCC, 
		CASE @NNgu WHEN 0 THEN T3.TEN_1 WHEN 2 THEN T3.TEN_2 ELSE T3.TEN_3 END AS DVT, 
		SUM(T1.SL_THUC_NHAP) AS SL_THUC_NHAP, AVG(ISNULL(T1.DON_GIA_GOC, 0) * ISNULL(T1.TY_GIA, 0)) AS DON_GIA, 
		SUM(ISNULL(T1.SL_THUC_NHAP, 0) * (ISNULL(T1.DON_GIA_GOC, 0) * ISNULL(T1.TY_GIA, 0))) AS TTIEN, T1.GHI_CHU
FROM         dbo.IC_DON_HANG_NHAP_VAT_TU AS T1 INNER JOIN
                      dbo.IC_PHU_TUNG AS T2 ON T1.MS_PT = T2.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS T3 ON T2.DVT = T3.DVT INNER JOIN
                      dbo.IC_DON_HANG_NHAP AS T4 ON T1.MS_DH_NHAP_PT = T4.MS_DH_NHAP_PT INNER JOIN
                      dbo.IC_KHO AS T5 ON T4.MS_KHO = T5.MS_KHO INNER JOIN
                      dbo.DANG_NHAP AS T6 ON T4.MS_DANG_NHAP = T6.MS_DANG_NHAP LEFT OUTER JOIN
                      (SELECT MS_CONG_NHAN AS MA , HO + ' ' + TEN AS TEN FROM dbo.CONG_NHAN 
                      UNION SELECT MS_KH, TEN_CONG_TY FROM KHACH_HANG) AS T7 ON T4.NGUOI_NHAP = T7.MA
WHERE T4.MS_DH_NHAP_PT = @MS_DH_NHAP_PT
GROUP BY T4.MS_DH_NHAP_PT, T4.SO_PHIEU_XN, T4.NGAY, T5.TEN_KHO, 
		CASE @NNgu WHEN 0 THEN T6.DANG_NHAP_VIET WHEN 1 THEN T6.DANG_NHAP_ANH ELSE T6.DANG_NHAP_HOA END , 
		T7.TEN , T4.GHI_CHU , T1.MS_PT, T2.TEN_PT, T2.QUY_CACH, T2.MS_PT_NCC, 
		CASE @NNgu WHEN 0 THEN T3.TEN_1 WHEN 2 THEN T3.TEN_2 ELSE T3.TEN_3 END , T1.GHI_CHU
ORDER BY T4.MS_DH_NHAP_PT, T4.SO_PHIEU_XN, T4.NGAY, T5.TEN_KHO, 
		CASE @NNgu WHEN 0 THEN T6.DANG_NHAP_VIET WHEN 1 THEN T6.DANG_NHAP_ANH ELSE T6.DANG_NHAP_HOA END , 
		T7.TEN , T4.GHI_CHU , T1.MS_PT, T2.TEN_PT, T2.QUY_CACH, T2.MS_PT_NCC, 
		CASE @NNgu WHEN 0 THEN T3.TEN_1 WHEN 2 THEN T3.TEN_2 ELSE T3.TEN_3 END 