--exec [GetBCPBTriVNO] 'admin', 'WO-202004000020', '04/20/2020', 0
--SELECT * FROM dbo.PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI ='WO-202004000020'


ALTER PROC [dbo].[GetBCPBTriVNO]
    @UserName NVARCHAR(50) = 'admin' ,
    @MsPBT NVARCHAR(100) = 'WO-202004000020' ,
    @NgayBDKH DATETIME = '04/20/2020', 
    @NNgu INT = 0
AS
    DECLARE @TTPBT INT
    SELECT  @TTPBT = ISNULL(TINH_TRANG_PBT, 0)
    FROM    PHIEU_BAO_TRI
    WHERE   MS_PHIEU_BAO_TRI = @MsPBT

    SELECT  T4.*
    INTO    #CONG_VIEC
    FROM    dbo.NHOM_LOAI_CONG_VIEC AS T2
            INNER JOIN dbo.USERS AS T3 ON T2.GROUP_ID = T3.GROUP_ID
            INNER JOIN dbo.CONG_VIEC AS T4 ON T2.MS_LOAI_CV = T4.MS_LOAI_CV
    WHERE   ( USERNAME = @UserName ) 

    DECLARE @sNameJOIN NVARCHAR(MAX) = ';'
    SET @sNameJOIN = dbo.MGetListAllCNhanPBT(@MsPBT) 
-- Lay thong tin phieu bao tri
    IF @TTPBT >= 3
        BEGIN
            SELECT  A.MS_PHIEU_BAO_TRI ,
                    CONVERT(DATETIME, CONVERT(NVARCHAR(10), A.NGAY_LAP, 101)
                    + ' ' + CONVERT(NVARCHAR(10), A.GIO_LAP, 108)) AS NGAY_LAP ,
                    D.TEN_LOAI_BT ,
                    dbo.Get_MsYeuCau(A.MS_PHIEU_BAO_TRI) AS PHIEU_YC ,
                    E.TEN_UU_TIEN ,
                    dbo.Get_NoiDungYeuCau(A.MS_PHIEU_BAO_TRI) AS NOI_DUNG_YC ,
                    C.MS_MAY ,
                    C.TEN_MAY ,
                    C.Ten_N_XUONG ,
                    C.TEN_BP_CHIU_PHI ,
                    F.HO + ' ' + F.TEN AS HT_NGUOI_LAP ,
                    A.SO_PHIEU_BAO_TRI ,
                    CASE 0
                      WHEN 0 THEN B.TEN_TINH_TRANG
                      WHEN 1 THEN B.TEN_TINH_TRANG_ANH
                      ELSE B.TEN_TINH_TRANG_HOA
                    END AS TEN_TTRANG ,
                    G.TEN_HT_BT ,
                    A.LY_DO_BT ,
                    ISNULL((A.NGAY_HONG + ' ' + A.GIO_HONG ),A.NGAY_BD_KH) AS NGAY_BD_KH ,
                     ISNULL((A.DEN_NGAY_HONG + ' ' + A.DEN_GIO_HONG ),A.NGAY_KT_KH) AS NGAY_KT_KH ,
                    NGS.HO + ' ' + NGS.TEN AS HT_NGS ,
                    @sNameJOIN AS NT_HIEN
            FROM    dbo.PHIEU_BAO_TRI AS A
                    INNER JOIN dbo.TINH_TRANG_PBT AS B ON A.TINH_TRANG_PBT = B.STT
                    INNER JOIN ( SELECT MS_MAY ,
                                        MS_NHOM_MAY ,
                                        MS_LOAI_MAY ,
                                        MS_HSX ,
                                        MS_HIEN_TRANG ,
                                        MS_KH ,
                                        SO_NAM_KHAU_HAO ,
                                        MO_TA ,
                                        NHIEM_VU_THIET_BI ,
                                        MODEL ,
                                        SERIAL_NUMBER ,
                                        NGAY_SX ,
                                        NUOC_SX ,
                                        NGAY_MUA ,
                                        NGAY_BD_BAO_HANH ,
                                        NGAY_DUA_VAO_SD ,
                                        SO_THE ,
                                        SO_NGAY_LV_TRONG_TUAN ,
                                        SO_GIO_LV_TRONG_NGAY ,
                                        MS_DVT_RT ,
                                        TY_LE_CON_LAI ,
                                        MUC_UU_TIEN ,
                                        SO_THANG_BH ,
                                        GIA_MUA ,
                                        NGOAI_TE ,
                                        LUU_Y_SU_DUNG ,
                                        Anh_TB ,
                                        CHU_KY_HC_TB ,
                                        TEN_MAY ,
                                        AN_TOAN ,
                                        MS_HO_SO ,
                                        TEN_HO_SO ,
                                        NGAY_HIEU_LUC_HO_SO ,
                                        SO_CT ,
                                        TI_GIA_VND ,
                                        TI_GIA_USD ,
                                        CHU_KY_HIEU_CHUAN_TB_NGOAI ,
                                        CHU_KY_KD_TB ,
                                        DON_VI_THOI_GIAN ,
                                        MS_N_XUONG ,
                                        MS_HE_THONG ,
                                        MS_BP_CHIU_PHI ,
                                        USER_INSERT ,
                                        NGAY_INSERT ,
                                        USER_UPDATE ,
                                        NGAY_UPDATE ,
                                        Ten_N_XUONG ,
                                        TEN_HE_THONG ,
                                        TEN_NHOM_MAY ,
                                        TEN_LOAI_MAY ,
                                        TEN_BP_CHIU_PHI
                                 FROM   dbo.MGetMayUserNgay(@NgayBDKH,
                                                            @UserName, '-1',
                                                            -1, -1, '-1', '-1',
                                                            '-1', 0) AS MGetMayUserNgay_1
                               ) AS C ON A.MS_MAY = C.MS_MAY
                    INNER JOIN dbo.LOAI_BAO_TRI AS D ON A.MS_LOAI_BT = D.MS_LOAI_BT
                    INNER JOIN dbo.MUC_UU_TIEN AS E ON A.MS_UU_TIEN = E.MS_UU_TIEN
                    INNER JOIN dbo.HINH_THUC_BAO_TRI AS G ON D.MS_HT_BT = G.MS_HT_BT
                    INNER JOIN dbo.CONG_NHAN AS F ON A.NGUOI_LAP = F.MS_CONG_NHAN
                    LEFT OUTER JOIN dbo.CONG_NHAN AS NGS ON A.NGUOI_GIAM_SAT = NGS.MS_CONG_NHAN
            WHERE   ( A.MS_PHIEU_BAO_TRI = @MsPBT )
        END
    ELSE
        BEGIN
            SELECT  A.MS_PHIEU_BAO_TRI ,
                    CONVERT(DATETIME, CONVERT(NVARCHAR(10), A.NGAY_LAP, 101)
                    + ' ' + CONVERT(NVARCHAR(10), A.GIO_LAP, 108)) AS NGAY_LAP ,
                    D.TEN_LOAI_BT ,
                    dbo.Get_MsYeuCau(A.MS_PHIEU_BAO_TRI) AS PHIEU_YC ,
                    E.TEN_UU_TIEN ,
                    dbo.Get_NoiDungYeuCau(A.MS_PHIEU_BAO_TRI) AS NOI_DUNG_YC ,
                    C.MS_MAY ,
                    C.TEN_MAY ,
                    C.Ten_N_XUONG ,
                    C.TEN_BP_CHIU_PHI ,
                    F.HO + ' ' + F.TEN AS HT_NGUOI_LAP ,
                    A.SO_PHIEU_BAO_TRI ,
                    CASE 0
                      WHEN 0 THEN B.TEN_TINH_TRANG
                      WHEN 1 THEN B.TEN_TINH_TRANG_ANH
                      ELSE B.TEN_TINH_TRANG_HOA
                    END AS TEN_TTRANG ,
                    G.TEN_HT_BT ,
                    A.LY_DO_BT ,
                    A.NGAY_BD_KH ,
                    A.NGAY_KT_KH ,
                    NGS.HO + ' ' + NGS.TEN AS HT_NGS ,
                    @sNameJOIN AS NT_HIEN
            FROM    dbo.PHIEU_BAO_TRI AS A
                    INNER JOIN dbo.TINH_TRANG_PBT AS B ON A.TINH_TRANG_PBT = B.STT
                    INNER JOIN ( SELECT MS_MAY ,
                                        MS_NHOM_MAY ,
                                        MS_LOAI_MAY ,
                                        MS_HSX ,
                                        MS_HIEN_TRANG ,
                                        MS_KH ,
                                        SO_NAM_KHAU_HAO ,
                                        MO_TA ,
                                        NHIEM_VU_THIET_BI ,
                                        MODEL ,
                                        SERIAL_NUMBER ,
                                        NGAY_SX ,
                                        NUOC_SX ,
                                        NGAY_MUA ,
                                        NGAY_BD_BAO_HANH ,
                                        NGAY_DUA_VAO_SD ,
                                        SO_THE ,
                                        SO_NGAY_LV_TRONG_TUAN ,
                                        SO_GIO_LV_TRONG_NGAY ,
                                        MS_DVT_RT ,
                                        TY_LE_CON_LAI ,
                                        MUC_UU_TIEN ,
                                        SO_THANG_BH ,
                                        GIA_MUA ,
                                        NGOAI_TE ,
                                        LUU_Y_SU_DUNG ,
                                        Anh_TB ,
                                        CHU_KY_HC_TB ,
                                        TEN_MAY ,
                                        AN_TOAN ,
                                        MS_HO_SO ,
                                        TEN_HO_SO ,
                                        NGAY_HIEU_LUC_HO_SO ,
                                        SO_CT ,
                                        TI_GIA_VND ,
                                        TI_GIA_USD ,
                                        CHU_KY_HIEU_CHUAN_TB_NGOAI ,
                                        CHU_KY_KD_TB ,
                                        DON_VI_THOI_GIAN ,
                                        MS_N_XUONG ,
                                        MS_HE_THONG ,
                                        MS_BP_CHIU_PHI ,
                                        USER_INSERT ,
                                        NGAY_INSERT ,
                                        USER_UPDATE ,
                                        NGAY_UPDATE ,
                                        Ten_N_XUONG ,
                                        TEN_HE_THONG ,
                                        TEN_NHOM_MAY ,
                                        TEN_LOAI_MAY ,
                                        TEN_BP_CHIU_PHI
                                 FROM   dbo.MGetMayUserNgay(@NgayBDKH,
                                                            @UserName, '-1',
                                                            -1, -1, '-1', '-1',
                                                            '-1', 0) AS MGetMayUserNgay_1
                               ) AS C ON A.MS_MAY = C.MS_MAY
                    INNER JOIN dbo.LOAI_BAO_TRI AS D ON A.MS_LOAI_BT = D.MS_LOAI_BT
                    INNER JOIN dbo.MUC_UU_TIEN AS E ON A.MS_UU_TIEN = E.MS_UU_TIEN
                    INNER JOIN dbo.HINH_THUC_BAO_TRI AS G ON D.MS_HT_BT = G.MS_HT_BT
                    INNER JOIN dbo.CONG_NHAN AS F ON A.NGUOI_LAP = F.MS_CONG_NHAN
                    LEFT OUTER JOIN dbo.CONG_NHAN AS NGS ON A.NGUOI_GIAM_SAT = NGS.MS_CONG_NHAN
            WHERE   ( A.MS_PHIEU_BAO_TRI = @MsPBT )
        END	

-- Lay thong tin phieu bao tri cong viec
    DECLARE @PBT_CV TABLE
        (
          [MS_BO_PHAN] [NVARCHAR](200) NULL ,
          [TEN_BO_PHAN] [NVARCHAR](MAX) NULL ,
          [MO_TA_CV] [NVARCHAR](MAX) NULL ,
          [NHAN_SU] [NVARCHAR](MAX) NULL ,
          [YEU_CAU_DUNG_CU] [NVARCHAR](MAX) NULL ,
          [SO_GIO_KH] [FLOAT] NULL ,
          [TU_NGAY] [DATETIME] NULL ,
          [DEN_NGAY] [DATETIME] NULL ,
          [CVPT] [INT] NULL ,
          [STT] [INT]
	--[STT] [int] IDENTITY(1,1) NOT NULL
        ) 

    INSERT  INTO @PBT_CV
            ( STT ,
              MS_BO_PHAN ,
              [TEN_BO_PHAN] ,
              [MO_TA_CV] ,
              [NHAN_SU] ,
              [YEU_CAU_DUNG_CU] ,
              [SO_GIO_KH] ,
              [TU_NGAY] ,
              [DEN_NGAY] ,
              [CVPT]
            )
            SELECT  ROW_NUMBER() OVER ( ORDER BY CVPT, TT_CCTB, TEN_BO_PHAN, MO_TA_CV ) AS STT ,
					MS_BO_PHAN ,
                    [TEN_BO_PHAN] ,
                    [MO_TA_CV] ,
                    [NHAN_SU] ,
                    [YEU_CAU_DUNG_CU] ,
                    [SO_GIO_KH] ,
                    [TU_NGAY] ,
                    [DEN_NGAY] ,
                    [CVPT]
            FROM    ( SELECT DISTINCT
                                CASE @NNgu
                                  WHEN 0 THEN T2.TEN_BO_PHAN
                                  WHEN 1
                                  THEN ISNULL(T2.TEN_BO_PHAN_ANH,
                                              T2.TEN_BO_PHAN)
                                  ELSE T2.TEN_BO_PHAN_HOA
                                END AS TEN_BO_PHAN ,
                                CASE @NNgu
                                  WHEN 0
                                  THEN ( CASE ISNULL(T3.THAO_TAC, '')
                                           WHEN '' THEN T4.MO_TA_CV
                                           ELSE T4.MO_TA_CV + ': ' + CHAR(13)
                                                + T3.THAO_TAC
                                         END )
                                  WHEN 1
                                  THEN ( CASE ISNULL(T3.THAO_TAC, '')
                                           WHEN '' THEN T4.MO_TA_CV_ANH
                                           ELSE T4.MO_TA_CV_ANH + ': '
                                                + CHAR(13) + T3.THAO_TAC
                                         END )
                                  ELSE ( CASE ISNULL(T3.THAO_TAC, '')
                                           WHEN '' THEN T4.MO_TA_CV_HOA
                                           ELSE T4.MO_TA_CV_HOA + ': '
                                                + CHAR(13) + T3.THAO_TAC
                                         END )
                                END AS MO_TA_CV ,
                                HO + ' ' + TEN AS NHAN_SU ,
                                T3.YEU_CAU_DUNG_CU ,
                                T3.SO_GIO_KH , 
								CONVERT(DATETIME, CONVERT(NVARCHAR(10), NGAY, 101) + ' ' + CONVERT(NVARCHAR(10), TU_GIO, 108)) AS TU_NGAY,
                                CONVERT(DATETIME,CONVERT(NVARCHAR(10), DEN_NGAY, 101) + ' '  + CONVERT(NVARCHAR(10), DEN_GIO, 108)) AS DEN_NGAY,
                                0 AS CVPT,
                                T2.STT AS TT_CCTB,
								T3.GHI_CHU AS MS_BO_PHAN

                      FROM      dbo.PHIEU_BAO_TRI AS T1
                                INNER JOIN dbo.CAU_TRUC_THIET_BI AS T2 ON T1.MS_MAY = T2.MS_MAY
                                INNER JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC AS T3 ON T1.MS_PHIEU_BAO_TRI = T3.MS_PHIEU_BAO_TRI
                                                              AND T2.MS_BO_PHAN = T3.MS_BO_PHAN
                                INNER JOIN #CONG_VIEC AS T4 ON T3.MS_CV = T4.MS_CV
								LEFT JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU AS T5 ON T3.MS_PHIEU_BAO_TRI = T5.MS_PHIEU_BAO_TRI AND T3.MS_CV = T5.MS_CV AND T3.MS_BO_PHAN = T5.MS_BO_PHAN 
								LEFT JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET AS T6 ON T5.MS_PHIEU_BAO_TRI = T6.MS_PHIEU_BAO_TRI AND T5.MS_CV = T6.MS_CV AND T5.MS_BO_PHAN = T6.MS_BO_PHAN AND T5.MS_CONG_NHAN = T6.MS_CONG_NHAN 
								LEFT JOIN dbo.CONG_NHAN T7 ON T7.MS_CONG_NHAN = T5.MS_CONG_NHAN

                      WHERE     ( T1.MS_PHIEU_BAO_TRI = @MsPBT )
                                AND ( T3.STT_SERVICE IS NULL )
                      UNION
                      SELECT    
                                NULL AS BO_PHAN ,
                                TEN_CONG_VIEC ,
                                HO + ' ' + TEN AS NHAN_SU ,
                                NULL AS YEU_CAU_DUNG_CU ,
                                SO_GIO_KH ,
                                CONVERT(DATETIME, CONVERT(NVARCHAR(10), (NGAY), 101)
                                            + ' '
                                            + CONVERT(NVARCHAR(10), (TU_GIO), 108)) AS TU_NGAY,
                                    CONVERT(DATETIME, CONVERT(NVARCHAR(10), (DEN_NGAY), 101)
                                            + ' '
                                            + CONVERT(NVARCHAR(10), (DEN_GIO), 108)) AS DEN_NGAY,
                                1 AS CVPT ,
                                9999 AS TT_CCTB,
								'' AS MS_BO_PHAN
                      FROM      dbo.PHIEU_BAO_TRI_CV_PHU_TRO T1  LEFT JOIN PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO T2 ON T2.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI AND T2.STT = T1.STT LEFT JOIN dbo.CONG_NHAN T3 ON T3.MS_CONG_NHAN = T2.MS_CONG_NHAN
                      WHERE     ( T1.MS_PHIEU_BAO_TRI = @MsPBT )
                    ) A
            ORDER BY CVPT ,
                    STT ,
                    TEN_BO_PHAN ,
                    MO_TA_CV

    SELECT  *
    FROM    @PBT_CV
    ORDER BY CVPT ,
            STT ,
            TEN_BO_PHAN ,
            MO_TA_CV


--INSERT INTO @PBT_CV (STT,[TEN_BO_PHAN],CVPT)
    SELECT DISTINCT
            STT ,
            NULL AS [TEN_BO_PHAN] ,
            3 AS CVPT
    FROM    @PBT_CV
    ORDER BY STT



-- Lay thong tin phieu bao tri phu tung + vat tu
    DECLARE @PBT_PT TABLE
        (
          [MS_PT] [NVARCHAR](25) NULL ,
          [TEN_PT] [NVARCHAR](500) NULL ,
          [MS_PT_NCC] [NVARCHAR](25) NULL ,
          [TEN_DVT] [NVARCHAR](20) NULL ,
          [SL_KH] [FLOAT] NULL ,
          [SL_TT] [FLOAT] NULL ,
          [QUY_CACH] [NVARCHAR](500) NULL
        )


-- GET PHU TUNG
    IF @TTPBT >= 3
        BEGIN
            INSERT  INTO @PBT_PT
                    ( [MS_PT] ,
                      [TEN_PT] ,
                      [MS_PT_NCC] ,
                      [TEN_DVT] ,
                      [SL_KH] ,
                      [SL_TT] ,
                      QUY_CACH
                    )
                    SELECT  A.MS_PT ,
                            CASE @NNgu
                              WHEN 0 THEN A.TEN_PT
                              WHEN 1 THEN A.TEN_PT_ANH
                              ELSE A.TEN_PT_HOA
                            END AS TEN_PT ,
                            A.MS_PT_NCC ,
                            CASE @NNgu
                              WHEN 0 THEN B.TEN_1
                              WHEN 1 THEN B.TEN_2
                              ELSE B.TEN_3
                            END AS TEN_DVT ,
                            SUM(D.SL_KH) AS SL_KH ,
                            CASE ISNULL(SUM(C.SL_TT), 0)
                              WHEN 0 THEN SUM(D.SL_TT)
                              ELSE SUM(C.SL_TT)
                            END AS SL_TT ,
                            D.MS_VI_TRI_PT
                    FROM    dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO
                            AS C
                            RIGHT OUTER JOIN ( SELECT   T2.MS_PHIEU_BAO_TRI ,
                                                        T2.MS_BO_PHAN ,
                                                        T2.MS_CV ,
                                                        T1.MS_PT ,
                                                        T3.SL_KH ,
                                                        T3.SL_TT,
														T3.MS_VI_TRI_PT
                                               FROM     dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG
                                                        AS T1
                                                        INNER JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC
                                                        AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
                                                              AND T1.MS_CV = T2.MS_CV
                                                              AND T1.MS_BO_PHAN = T2.MS_BO_PHAN
															  LEFT JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET T3 ON T3.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI AND T3.MS_CV = T1.MS_CV AND T3.MS_PT = T1.MS_PT AND T3.MS_BO_PHAN = T1.MS_BO_PHAN
                                               WHERE    ( T2.MS_PHIEU_BAO_TRI = @MsPBT )
                                                        AND ( T2.STT_SERVICE IS NULL )
                                               UNION
                                               SELECT   T1.MS_PHIEU_BAO_TRI ,
                                                        CONVERT(NVARCHAR(250), T1.STT) AS Expr1 ,
                                                        T1.STT ,
                                                        T1.MS_PT ,
                                                        T1.SL_KH ,
                                                        T1.SL_TT,
														NULL AS MS_VI_TRI_PT
                                               FROM     dbo.PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG T1
                                               WHERE    ( T1.MS_PHIEU_BAO_TRI = @MsPBT )
                                             ) AS D
                            INNER JOIN dbo.LOAI_VT AS E
                            INNER JOIN dbo.IC_PHU_TUNG AS A
                            INNER JOIN dbo.DON_VI_TINH AS B ON A.DVT = B.DVT ON E.MS_LOAI_VT = A.MS_LOAI_VT ON D.MS_PT = A.MS_PT ON C.MS_PHIEU_BAO_TRI = D.MS_PHIEU_BAO_TRI
                                                              AND C.MS_CV = D.MS_CV
                                                              AND C.MS_BO_PHAN = D.MS_BO_PHAN
                                                              AND C.MS_PT = D.MS_PT
                    WHERE   ( D.MS_PHIEU_BAO_TRI = @MsPBT )
                            AND ( E.VAT_TU = 0 )
                    GROUP BY A.MS_PT ,
                            A.TEN_PT ,
                            A.TEN_PT_HOA ,
                            A.TEN_PT_ANH ,
                            A.QUY_CACH ,
                            A.MS_PT_NCC ,
                            B.TEN_1 ,
                            B.TEN_2 ,
                            B.TEN_3,
							D.MS_VI_TRI_PT

        END 
    ELSE
        BEGIN
            INSERT  INTO @PBT_PT
                    ( [MS_PT] ,
                      [TEN_PT] ,
                      [MS_PT_NCC] ,
                      [TEN_DVT] ,
                      [SL_KH] ,
                      [SL_TT] ,
                      QUY_CACH
                    )
                    SELECT  A.MS_PT ,
                            CASE @NNgu
                              WHEN 0 THEN B.TEN_PT
                              WHEN 1 THEN B.TEN_PT_ANH
                              ELSE B.TEN_PT_HOA
                            END AS TEN_PT ,
	--CASE ISNULL(B.TEN_PT_VIET,'') WHEN '' THEN B.TEN_PT ELSE B.TEN_PT_VIET END AS TEN_PT,
                            B.MS_PT_NCC ,
                            CASE @NNgu
                              WHEN 0 THEN C.TEN_1
                              WHEN 1 THEN C.TEN_2
                              ELSE C.TEN_3
                            END AS TEN_DVT ,
                            SUM(A.SL_KH) AS SL_KH ,
                            SUM(A.SL_TT) AS SL_TT ,
                            MS_VI_TRI_PT AS QUY_CACH
                    FROM    ( SELECT    T2.MS_PHIEU_BAO_TRI ,
                                        T2.MS_BO_PHAN ,
                                        T2.MS_CV ,
                                        T1.MS_PT ,
                                        T3.SL_KH ,
                                        T3.SL_TT,
										T3.MS_VI_TRI_PT
                              FROM      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG T1
                                        INNER JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC
                                        AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
                                                 AND T1.MS_CV = T2.MS_CV
                                                 AND T1.MS_BO_PHAN = T2.MS_BO_PHAN
										LEFT JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET T3 ON T3.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI AND T3.MS_CV = T1.MS_CV AND T3.MS_PT = T1.MS_PT AND T3.MS_BO_PHAN = T1.MS_BO_PHAN
                              WHERE     T2.MS_PHIEU_BAO_TRI = @MsPBT
                                        AND ( T2.STT_SERVICE IS NULL )
                              UNION
                              SELECT  DISTINCT  T1.MS_PHIEU_BAO_TRI ,
                                        CONVERT(NVARCHAR(250), T1.STT) ,
                                        T1.STT ,
                                        T1.MS_PT ,
                                        T1.SL_KH ,
                                        T1.SL_TT,
										NULL MS_VI_TRI_PT

                              FROM      PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG T1
                              WHERE     T1.MS_PHIEU_BAO_TRI = @MsPBT
                            ) AS A
                            INNER JOIN dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT
                            INNER JOIN dbo.DON_VI_TINH AS C ON B.DVT = C.DVT
                            INNER JOIN dbo.LOAI_VT AS E ON B.MS_LOAI_VT = E.MS_LOAI_VT
                    WHERE   ( E.VAT_TU = 0 )
                            AND ( A.MS_PHIEU_BAO_TRI = @MsPBT )
                    GROUP BY A.MS_PT ,
                            B.TEN_PT ,
                            B.TEN_PT_HOA ,
                            B.TEN_PT_ANH ,
                            B.QUY_CACH ,
                            B.MS_PT_NCC ,
                            C.TEN_1 ,
                            C.TEN_2 ,
                            C.TEN_3,
							A.MS_VI_TRI_PT

        END


-- GET VAT TU
    IF @TTPBT >= 3
        BEGIN
            INSERT  INTO @PBT_PT
                    ( [MS_PT] ,
                      [TEN_PT] ,
                      [MS_PT_NCC] ,
                      [TEN_DVT] ,
                      [SL_KH] ,
                      [SL_TT] ,
                      QUY_CACH
                    )
                    SELECT  A.MS_PT ,
                            CASE @NNgu
                              WHEN 0 THEN A.TEN_PT
                              WHEN 1 THEN A.TEN_PT_ANH
                              ELSE A.TEN_PT_HOA
                            END AS TEN_PT ,--CASE ISNULL(A.TEN_PT_VIET,'') WHEN '' THEN A.TEN_PT ELSE A.TEN_PT_VIET END AS TEN_PT, 
                            A.MS_PT_NCC ,
                            CASE @NNgu
                              WHEN 0 THEN E.TEN_1
                              WHEN 1 THEN E.TEN_2
                              ELSE E.TEN_3
                            END AS TEN_DVT ,
                            SUM(F.SL_KH) AS SL_KH ,
                            SUM(G.SL_VT) AS SL_TT ,
                            A.QUY_CACH
                    FROM    ( SELECT    T2.MS_PHIEU_BAO_TRI ,
                                        T2.MS_BO_PHAN ,
                                        T2.MS_CV ,
                                        MS_PT ,
                                        SL_KH ,
                                        SL_TT
                              FROM      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG T1
                                        INNER JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC
                                        AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
                                                 AND T1.MS_CV = T2.MS_CV
                                                 AND T1.MS_BO_PHAN = T2.MS_BO_PHAN
                              WHERE     T2.MS_PHIEU_BAO_TRI = @MsPBT
                                        AND ( T2.STT_SERVICE IS NULL )
                              UNION
                              SELECT    MS_PHIEU_BAO_TRI ,
                                        CONVERT(NVARCHAR(250), STT) ,
                                        STT ,
                                        MS_PT ,
                                        SL_KH ,
                                        SL_TT
                              FROM      PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG
                              WHERE     MS_PHIEU_BAO_TRI = @MsPBT
                            ) AS F
                            RIGHT OUTER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET
                            AS H
                            INNER JOIN dbo.IC_DON_HANG_NHAP_VAT_TU AS K ON H.MS_DH_NHAP_PT = K.MS_DH_NHAP_PT
                                                              AND H.MS_PT = K.MS_PT
                                                              AND H.ID = K.ID
                            INNER JOIN dbo.IC_PHU_TUNG AS A
                            INNER JOIN dbo.IC_DON_HANG_XUAT AS B
                            INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU AS C ON B.MS_DH_XUAT_PT = C.MS_DH_XUAT_PT ON A.MS_PT = C.MS_PT
                            INNER JOIN dbo.LOAI_VT AS D ON A.MS_LOAI_VT = D.MS_LOAI_VT
                            INNER JOIN dbo.DON_VI_TINH AS E ON A.DVT = E.DVT
                            INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS G ON C.MS_DH_XUAT_PT = G.MS_DH_XUAT_PT
                                                              AND C.MS_PT = G.MS_PT ON H.MS_DH_NHAP_PT = G.MS_DH_NHAP_PT
                                                              AND H.MS_PT = G.MS_PT
                                                              AND H.MS_VI_TRI = G.MS_VI_TRI
                                                              AND H.ID = G.ID_XUAT ON F.MS_PT = C.MS_PT
                                                              AND F.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI
                            LEFT OUTER JOIN dbo.HANG_SAN_XUAT AS X ON A.MS_HSX = X.MS_HSX
                    WHERE   ( B.MS_PHIEU_BAO_TRI = @MsPBT )
                            AND ( D.VAT_TU = 1 )
                    GROUP BY A.MS_PT ,
                            A.TEN_PT ,
                            A.TEN_PT_HOA ,
                            A.TEN_PT_ANH ,
                            A.QUY_CACH ,
                            A.MS_PT_NCC ,
                            E.TEN_1 ,
                            E.TEN_2 ,
                            E.TEN_3

        END
    ELSE
        BEGIN
	
            INSERT  INTO @PBT_PT
                    ( [MS_PT] ,
                      [TEN_PT] ,
                      [MS_PT_NCC] ,
                      [TEN_DVT] ,
                      [SL_KH] ,
                      [SL_TT] ,
                      QUY_CACH
                    )
                    SELECT  A.MS_PT ,
                            CASE @NNgu
                              WHEN 0 THEN A.TEN_PT
                              WHEN 1 THEN A.TEN_PT_ANH
                              ELSE A.TEN_PT_HOA
                            END AS TEN_PT ,
	
	--CASE ISNULL(A.TEN_PT_VIET,'') WHEN '' THEN A.TEN_PT ELSE A.TEN_PT_VIET END AS TEN_PT,
                            A.MS_PT_NCC ,
                            CASE @NNgu
                              WHEN 0 THEN E.TEN_1
                              WHEN 1 THEN E.TEN_2
                              ELSE E.TEN_3
                            END AS TEN_DVT ,
                            SUM(F.SL_KH) AS SL_KH ,
                            SUM(C.SO_LUONG_THUC_XUAT) AS SL_TT ,
                            A.QUY_CACH
                    FROM    --dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG 
                            ( SELECT    T2.MS_PHIEU_BAO_TRI ,
                                        T2.MS_BO_PHAN ,
                                        T2.MS_CV ,
                                        MS_PT ,
                                        SL_KH ,
                                        SL_TT
                              FROM      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG T1
                                        INNER JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC
                                        AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
                                                 AND T1.MS_CV = T2.MS_CV
                                                 AND T1.MS_BO_PHAN = T2.MS_BO_PHAN
                              WHERE     T2.MS_PHIEU_BAO_TRI = @MsPBT
                                        AND ( T2.STT_SERVICE IS NULL )
                              UNION
                              SELECT    MS_PHIEU_BAO_TRI ,
                                        CONVERT(NVARCHAR(250), STT) ,
                                        STT ,
                                        MS_PT ,
                                        SL_KH ,
                                        SL_TT
                              FROM      PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG
                              WHERE     MS_PHIEU_BAO_TRI = @MsPBT
                            ) AS F
                            RIGHT OUTER JOIN dbo.IC_PHU_TUNG AS A
                            INNER JOIN dbo.IC_DON_HANG_XUAT AS B
                            INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU AS C ON B.MS_DH_XUAT_PT = C.MS_DH_XUAT_PT ON A.MS_PT = C.MS_PT
                            INNER JOIN dbo.LOAI_VT AS D ON A.MS_LOAI_VT = D.MS_LOAI_VT
                            INNER JOIN dbo.DON_VI_TINH AS E ON A.DVT = E.DVT ON F.MS_PT = C.MS_PT
                                                              AND F.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI
                            LEFT OUTER JOIN dbo.HANG_SAN_XUAT AS X ON A.MS_HSX = X.MS_HSX
                    WHERE   ( D.VAT_TU = 1 )
                            AND ( B.MS_PHIEU_BAO_TRI = @MsPBT )
                    GROUP BY A.MS_PT ,
                            A.TEN_PT ,
                            A.TEN_PT_HOA ,
                            A.TEN_PT_ANH ,
                            A.QUY_CACH ,
                            A.MS_PT_NCC ,
                            E.TEN_1 ,
                            E.TEN_2 ,
                            E.TEN_3
                    UNION
                    SELECT  A.MS_PT ,
                            CASE @NNgu
                              WHEN 0 THEN A.TEN_PT
                              WHEN 1 THEN A.TEN_PT_ANH
                              ELSE A.TEN_PT_HOA
                            END AS TEN_PT ,
	--CASE ISNULL(A.TEN_PT_VIET,'') WHEN '' THEN A.TEN_PT ELSE A.TEN_PT_VIET END AS TEN_PT,
                            A.MS_PT_NCC ,
                            CASE @NNgu
                              WHEN 0 THEN D.TEN_1
                              WHEN 1 THEN D.TEN_2
                              ELSE D.TEN_3
                            END AS TEN_DVT ,
                            SUM(B.SL_KH) AS SL_KH ,
                            SUM(B.SL_TT) AS SL_TT ,
                            A.QUY_CACH
                    FROM    dbo.IC_PHU_TUNG AS A
                            INNER JOIN --dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG 
                            ( SELECT    T2.MS_PHIEU_BAO_TRI ,
                                        T2.MS_BO_PHAN ,
                                        T2.MS_CV ,
                                        MS_PT ,
                                        SL_KH ,
                                        SL_TT
                              FROM      PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG T1
                                        INNER JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC
                                        AS T2 ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI
                                                 AND T1.MS_CV = T2.MS_CV
                                                 AND T1.MS_BO_PHAN = T2.MS_BO_PHAN
                              WHERE     T2.MS_PHIEU_BAO_TRI = @MsPBT
                                        AND ( T2.STT_SERVICE IS NULL )
                              UNION
                              SELECT    MS_PHIEU_BAO_TRI ,
                                        CONVERT(NVARCHAR(250), STT) ,
                                        STT ,
                                        MS_PT ,
                                        SL_KH ,
                                        SL_TT
                              FROM      PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG
                              WHERE     MS_PHIEU_BAO_TRI = @MsPBT
                            ) AS B ON A.MS_PT = B.MS_PT
                            INNER JOIN dbo.LOAI_VT AS C ON C.MS_LOAI_VT = A.MS_LOAI_VT
                            INNER JOIN dbo.DON_VI_TINH AS D ON A.DVT = D.DVT
                            LEFT OUTER JOIN dbo.HANG_SAN_XUAT AS X ON A.MS_HSX = X.MS_HSX
                    WHERE   ( C.VAT_TU = 1 )
                            AND ( B.MS_PHIEU_BAO_TRI = @MsPBT )
                            AND ( B.MS_PT NOT IN (
                                  SELECT    Y.MS_PT
                                  FROM      dbo.IC_DON_HANG_XUAT AS X
                                            INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU
                                            AS Y ON X.MS_DH_XUAT_PT = Y.MS_DH_XUAT_PT
                                  WHERE     ( X.MS_PHIEU_BAO_TRI = @MsPBT ) ) )
                    GROUP BY A.MS_PT ,
                            A.TEN_PT ,
                            A.TEN_PT_HOA ,
                            A.TEN_PT_ANH ,
                            A.QUY_CACH ,
                            A.MS_PT_NCC ,
                            D.TEN_1 ,
                            D.TEN_2 ,
                            D.TEN_3	

        END

    SELECT  MS_PT ,
            TEN_PT ,
            MS_PT_NCC ,
            QUY_CACH ,
            TEN_DVT ,
            SL_KH ,
            SL_TT
    FROM    @PBT_PT
    ORDER BY [MS_PT] ,
            [TEN_PT]

---- Lay thong tin phieu bao tri dich vu
    SELECT  CONVERT(NVARCHAR, NULL) AS LOAI_DV ,
            T1.NOI_DUNG_SERVICE ,
            T2.TEN_CONG_TY ,
            T1.SO_LUONG ,
            T1.DON_GIA ,
            ( T1.SO_LUONG * T1.DON_GIA ) * T1.TY_GIA AS TT
    FROM    dbo.PHIEU_BAO_TRI_SERVICE AS T1
            INNER JOIN dbo.KHACH_HANG AS T2 ON T1.MS_KH = T2.MS_KH
    WHERE   ( T1.MS_PHIEU_BAO_TRI = @MsPBT )

