IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBCaoHCKD' AND KEYWORD =N'NGAY_DH_HC') UPDATE LANGUAGES SET VIETNAM=N'Ngày hiệu chuẩn kế', ENGLISH=N'Next Calibration Date', VIETNAM_OR=N'Ngày hiệu chuẩn kế', ENGLISH_OR=N'Next Calibration Date' WHERE FORM=N'frmBCaoHCKD' AND KEYWORD=N'NGAY_DH_HC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBCaoHCKD',N'NGAY_DH_HC',N'Ngày hiệu chuẩn kế',N'Next Calibration Date',N'Ngày hiệu chuẩn kế',N'Next Calibration Date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBCaoHCKD' AND KEYWORD =N'frmBCaoHCKD') UPDATE LANGUAGES SET VIETNAM=N'Kế hoạch hiệu chuẩn kiểm định theo loại hiệu chuẩn kiểm định', ENGLISH=N'Verification, calibration plan by type', VIETNAM_OR=N'Kế hoạch hiệu chuẩn kiểm định theo loại hiệu chuẩn kiểm định', ENGLISH_OR=N'Verification, calibration plan by type' WHERE FORM=N'frmBCaoHCKD' AND KEYWORD=N'frmBCaoHCKD' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBCaoHCKD',N'frmBCaoHCKD',N'Kế hoạch hiệu chuẩn kiểm định theo loại hiệu chuẩn kiểm định',N'Verification, calibration plan by type',N'Kế hoạch hiệu chuẩn kiểm định theo loại hiệu chuẩn kiểm định',N'Verification, calibration plan by type')
