IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'DON_GIA_GOC') UPDATE LANGUAGES SET VIETNAM=N'Đơn giá mua', ENGLISH=N'Purchase Price ', VIETNAM_OR=N'Đơn giá mua', ENGLISH_OR=N'Purchase Price ' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'DON_GIA_GOC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'DON_GIA_GOC',N'Đơn giá mua',N'Purchase Price ',N'Đơn giá mua',N'Purchase Price ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'THANH_TIEN_ST') UPDATE LANGUAGES SET VIETNAM=N'Thành tiền (+VAT)', ENGLISH=N'Amount (+ VAT)', VIETNAM_OR=N'Thành tiền (+VAT)', ENGLISH_OR=N'Amount (+ VAT)' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'THANH_TIEN_ST' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'THANH_TIEN_ST',N'Thành tiền (+VAT)',N'Amount (+ VAT)',N'Thành tiền (+VAT)',N'Amount (+ VAT)')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'DON_GIA') UPDATE LANGUAGES SET VIETNAM=N'Đơn giá (+VAT+ phí)', ENGLISH=N'Unit Price (+VAT+ fee)', VIETNAM_OR=N'Đơn giá (+VAT+ phí)', ENGLISH_OR=N'Unit Price (+VAT+ fee)' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'DON_GIA' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'DON_GIA',N'Đơn giá (+VAT+ phí)',N'Unit Price (+VAT+ fee)',N'Đơn giá (+VAT+ phí)',N'Unit Price (+VAT+ fee)')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'TONG_CP') UPDATE LANGUAGES SET VIETNAM=N'Tổng phí', ENGLISH=N'Total fee ', VIETNAM_OR=N'Tổng phí', ENGLISH_OR=N'Total fee ' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'TONG_CP' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'TONG_CP',N'Tổng phí',N'Total fee ',N'Tổng phí',N'Total fee ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'THANH_TIEN') UPDATE LANGUAGES SET VIETNAM=N'Tổng thành tiền ', ENGLISH=N'Total Amount ', VIETNAM_OR=N'Tổng thành tiền ', ENGLISH_OR=N'Total Amount ' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'THANH_TIEN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'THANH_TIEN',N'Tổng thành tiền ',N'Total Amount ',N'Tổng thành tiền ',N'Total Amount ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'MS_DH_NHAP_PT_GOC') UPDATE LANGUAGES SET VIETNAM=N'Đơn hàng gốc', ENGLISH=N'Form PO', VIETNAM_OR=N'Đơn hàng gốc', ENGLISH_OR=N'Form PO' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'MS_DH_NHAP_PT_GOC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'MS_DH_NHAP_PT_GOC',N'Đơn hàng gốc',N'Form PO',N'Đơn hàng gốc',N'Form PO')
