
Update Languages set VIETNAM = N'Hiệu chuẩn thiết bị' where FORM = 'ucBaoCaoHieuChuanKiemDinh' and KEYWORD ='optHCM'

Update Languages set VIETNAM = N'Hiệu chuẩn thiết bị' where FORM = 'ucHCKD' and KEYWORD ='optHCM'

Update Languages set VIETNAM = N'Loại thiết bị' where VIETNAM =N'Loại máy' 

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmHieuchuan' AND KEYWORD =N'lblHC') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'frmHieuchuan' AND KEYWORD=N'lblHC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmHieuchuan',N'lblHC',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmHieuchuan' AND KEYWORD =N'MS_LOAI_HIEU_CHUAN') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'frmHieuchuan' AND KEYWORD=N'MS_LOAI_HIEU_CHUAN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmHieuchuan',N'MS_LOAI_HIEU_CHUAN',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmHieuchuan' AND KEYWORD =N'TEN_LOAI_HIEU_CHUAN') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'frmHieuchuan' AND KEYWORD=N'TEN_LOAI_HIEU_CHUAN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmHieuchuan',N'TEN_LOAI_HIEU_CHUAN',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmReminder' AND KEYWORD =N'LabLHC1') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'frmReminder' AND KEYWORD=N'LabLHC1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmReminder',N'LabLHC1',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmReminder_new' AND KEYWORD =N'LabLHC1') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'frmReminder_new' AND KEYWORD=N'LabLHC1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmReminder_new',N'LabLHC1',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptTieuDeDanhSachDHDDaHC' AND KEYWORD =N'LOAI_HC_') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'rptTieuDeDanhSachDHDDaHC' AND KEYWORD=N'LOAI_HC_' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptTieuDeDanhSachDHDDaHC',N'LOAI_HC_',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptHIEU_CHUAN_DHD' AND KEYWORD =N'TEN_LOAI_HIEU_CHUAN') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'rptHIEU_CHUAN_DHD' AND KEYWORD=N'TEN_LOAI_HIEU_CHUAN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptHIEU_CHUAN_DHD',N'TEN_LOAI_HIEU_CHUAN',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucBCHieuChuanKiemDinh' AND KEYWORD =N'TEN_LOAI_HIEU_CHUAN') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'ucBCHieuChuanKiemDinh' AND KEYWORD=N'TEN_LOAI_HIEU_CHUAN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucBCHieuChuanKiemDinh',N'TEN_LOAI_HIEU_CHUAN',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucBCHieuChuanKiemDinh' AND KEYWORD =N'MS_LOAI_HIEU_CHUAN') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'ucBCHieuChuanKiemDinh' AND KEYWORD=N'MS_LOAI_HIEU_CHUAN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucBCHieuChuanKiemDinh',N'MS_LOAI_HIEU_CHUAN',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucHCKD' AND KEYWORD =N'lblLoaiHC') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'ucHCKD' AND KEYWORD=N'lblLoaiHC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucHCKD',N'lblLoaiHC',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBCaoHCKD' AND KEYWORD =N'TEN_LOAI_HIEU_CHUAN') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'frmBCaoHCKD' AND KEYWORD=N'TEN_LOAI_HIEU_CHUAN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBCaoHCKD',N'TEN_LOAI_HIEU_CHUAN',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmReminder_new' AND KEYWORD =N'TEN_LOAI_HIEU_CHUAN') UPDATE LANGUAGES SET VIETNAM=N'Loại HC - KĐ', ENGLISH=N'Type', VIETNAM_OR=N'Loại HC - KĐ', ENGLISH_OR=N'Type' WHERE FORM=N'frmReminder_new' AND KEYWORD=N'TEN_LOAI_HIEU_CHUAN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmReminder_new',N'TEN_LOAI_HIEU_CHUAN',N'Loại HC - KĐ',N'Type',N'Loại HC - KĐ',N'Type')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBCaoHCKD' AND KEYWORD =N'ucHCKDTieuDeMay') UPDATE LANGUAGES SET VIETNAM=N'KẾ HOẠCH KIỂM ĐỊNH VÀ HIỆU CHUẨN ', ENGLISH=N'CALIBRATION AND VERIFICATION PLAN ', VIETNAM_OR=N'KẾ HOẠCH KIỂM ĐỊNH VÀ HIỆU CHUẨN ', ENGLISH_OR=N'CALIBRATION AND VERIFICATION PLAN ' WHERE FORM=N'frmBCaoHCKD' AND KEYWORD=N'ucHCKDTieuDeMay' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBCaoHCKD',N'ucHCKDTieuDeMay',N'KẾ HOẠCH KIỂM ĐỊNH VÀ HIỆU CHUẨN ',N'CALIBRATION AND VERIFICATION PLAN ',N'KẾ HOẠCH KIỂM ĐỊNH VÀ HIỆU CHUẨN ',N'CALIBRATION AND VERIFICATION PLAN ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBCaoHCKD' AND KEYWORD =N'NGAY_DH_HC') UPDATE LANGUAGES SET VIETNAM=N'Ngày đến hạn HC-KĐ', ENGLISH=N'Dead line ', VIETNAM_OR=N'Ngày đến hạn HC-KĐ', ENGLISH_OR=N'Dead line ' WHERE FORM=N'frmBCaoHCKD' AND KEYWORD=N'NGAY_DH_HC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBCaoHCKD',N'NGAY_DH_HC',N'Ngày đến hạn HC-KĐ',N'Dead line ',N'Ngày đến hạn HC-KĐ',N'Dead line ')
