IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'lblTongTTST') UPDATE LANGUAGES SET VIETNAM=N'Tổng tiền(+VAT)', ENGLISH=N'Total amount (+VAT)', VIETNAM_OR=N'Tổng tiền (+VAT)', ENGLISH_OR=N'Total amount (+VAT)' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'lblTongTTST' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'lblTongTTST',N'Tổng tiền (+VAT)',N'Total amount (+VAT)',N'Tổng tiền (+VAT)',N'Total amount (+VAT)')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'lblTongTTST') UPDATE LANGUAGES SET VIETNAM=N'Tổng tiền (+VAT)', ENGLISH=N'Total amount (+VAT)', VIETNAM_OR=N'Tổng tiền (+VAT)', ENGLISH_OR=N'Total amount (+VAT)' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'lblTongTTST' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'lblTongTTST',N'Tổng tiền (+VAT)',N'Total amount (+VAT)',N'Tổng tiền (+VAT)',N'Total amount (+VAT)')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'lblTongThue') UPDATE LANGUAGES SET VIETNAM=N'Tổng tiền VAT        ', ENGLISH=N'VAT amounts', VIETNAM_OR=N'Tổng tiền VAT        ', ENGLISH_OR=N'VAT amounts' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'lblTongThue' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'lblTongThue',N'Tổng tiền VAT        ',N'VAT amounts',N'Tổng tiền VAT        ',N'VAT amounts')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'msgLoiChiaSoKhong') UPDATE LANGUAGES SET VIETNAM=N'Vui long nhập đầy đủ số lượng trước khi phân bổ', ENGLISH=N'Please enter item quantity before allocation', VIETNAM_OR=N'Vui long nhập đầy đủ số lượng trước khi phân bổ', ENGLISH_OR=N'Please enter item quantity before allocation' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'msgLoiChiaSoKhong' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'msgLoiChiaSoKhong',N'Vui long nhập đầy đủ số lượng trước khi phân bổ',N'Please enter item quantity before allocation',N'Vui long nhập đầy đủ số lượng trước khi phân bổ',N'Please enter item quantity before allocation')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'tabChiPhi') UPDATE LANGUAGES SET VIETNAM=N'Phí mua hàng ', ENGLISH=N'Landed costs', VIETNAM_OR=N'Phí mua hàng ', ENGLISH_OR=N'Landed costs' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'tabChiPhi' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'tabChiPhi',N'Phí mua hàng ',N'Landed costs',N'Phí mua hàng ',N'Landed costs')
