IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmChonPTchoBTPN' AND KEYWORD =N'LblChonPT') UPDATE LANGUAGES SET VIETNAM=N'Đối tượng SD', ENGLISH=N'Item user', VIETNAM_OR=N'Đối tượng SD', ENGLISH_OR=N'Item user' WHERE FORM=N'FrmChonPTchoBTPN' AND KEYWORD=N'LblChonPT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmChonPTchoBTPN',N'LblChonPT',N'Đối tượng SD',N'Item user',N'Đối tượng SD',N'Item user')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmChonPTchoBTPN' AND KEYWORD =N'LblTieudechukyBTPN') UPDATE LANGUAGES SET VIETNAM=N'-1', ENGLISH=N'', VIETNAM_OR=N'-1', ENGLISH_OR=N'' WHERE FORM=N'FrmChonPTchoBTPN' AND KEYWORD=N'LblTieudechukyBTPN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmChonPTchoBTPN',N'LblTieudechukyBTPN',N'-1',N'',N'-1',N'')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmChonPTchoBTPN' AND KEYWORD =N'lblTimVT') UPDATE LANGUAGES SET VIETNAM=N'-1', ENGLISH=N'@lblTimVT@', VIETNAM_OR=N'-1', ENGLISH_OR=N'@lblTimVT@' WHERE FORM=N'FrmChonPTchoBTPN' AND KEYWORD=N'lblTimVT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmChonPTchoBTPN',N'lblTimVT',N'-1',N'@lblTimVT@',N'-1',N'@lblTimVT@')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmChonPTchoBTPN' AND KEYWORD =N'BtnBoChonTatCa') UPDATE LANGUAGES SET VIETNAM=N'-1', ENGLISH=N'Unselect ', VIETNAM_OR=N'-1', ENGLISH_OR=N'Unselect ' WHERE FORM=N'FrmChonPTchoBTPN' AND KEYWORD=N'BtnBoChonTatCa' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmChonPTchoBTPN',N'BtnBoChonTatCa',N'-1',N'Unselect ',N'-1',N'Unselect ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmChonPTchoBTPN' AND KEYWORD =N'BtnChonTatCa') UPDATE LANGUAGES SET VIETNAM=N'-1', ENGLISH=N'Select All', VIETNAM_OR=N'-1', ENGLISH_OR=N'Select All' WHERE FORM=N'FrmChonPTchoBTPN' AND KEYWORD=N'BtnChonTatCa' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmChonPTchoBTPN',N'BtnChonTatCa',N'-1',N'Select All',N'-1',N'Select All')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmChonCongViec' AND KEYWORD =N'LblTieudechukyBTPN') UPDATE LANGUAGES SET VIETNAM=N'-1', ENGLISH=N'SELECT WORKS FOR PERIODIC MAINTENANCE', VIETNAM_OR=N'-1', ENGLISH_OR=N'SELECT WORKS FOR PERIODIC MAINTENANCE' WHERE FORM=N'FrmChonCongViec' AND KEYWORD=N'LblTieudechukyBTPN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmChonCongViec',N'LblTieudechukyBTPN',N'-1',N'SELECT WORKS FOR PERIODIC MAINTENANCE',N'-1',N'SELECT WORKS FOR PERIODIC MAINTENANCE')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'msgDichVu_ThongBao2') UPDATE LANGUAGES SET VIETNAM=N'Chuyển thành công.', ENGLISH=N'Transfer is successful.', VIETNAM_OR=N'Chuyển thành công.', ENGLISH_OR=N'Transfer is successful.' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'msgDichVu_ThongBao2' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuBaoTri_New',N'msgDichVu_ThongBao2',N'Chuyển thành công.',N'Transfer is successful.',N'Chuyển thành công.',N'Transfer is successful.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuXuatKhoVatTu_CS' AND KEYWORD =N'lbaCostCenter') UPDATE LANGUAGES SET VIETNAM=N'Bộ phận CP', ENGLISH=N'Cost Center', VIETNAM_OR=N'Bộ phận CP', ENGLISH_OR=N'Cost Center' WHERE FORM=N'FrmPhieuXuatKhoVatTu_CS' AND KEYWORD=N'lbaCostCenter' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuXuatKhoVatTu_CS',N'lbaCostCenter',N'Bộ phận CP',N'Cost Center',N'Bộ phận CP',N'Cost Center')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'MsgSL_LONHON_PX') UPDATE LANGUAGES SET VIETNAM=N'Số lượng trả lại nhiều hơn số lượng đã xuất.', ENGLISH=N'Returned quantity is more than issued quantity.', VIETNAM_OR=N'Số lượng trả lại nhiều hơn số lượng đã xuất.', ENGLISH_OR=N'Returned quantity is more than issued quantity.' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'MsgSL_LONHON_PX' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'MsgSL_LONHON_PX',N'Số lượng trả lại nhiều hơn số lượng đã xuất.',N'Returned quantity is more than issued quantity.',N'Số lượng trả lại nhiều hơn số lượng đã xuất.',N'Returned quantity is more than issued quantity.')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'MsgDonDatHang') UPDATE LANGUAGES SET VIETNAM=N'Bạn phải chọn đề xuất/đơn đặt hàng/phiếu xuất.', ENGLISH=N'Please select purchase request/purchase order/goods issue.', VIETNAM_OR=N'Bạn phải chọn đề xuất/đơn đặt hàng/phiếu xuất.', ENGLISH_OR=N'Please select purchase request/purchase order/goods issue.' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'MsgDonDatHang' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'MsgDonDatHang',N'Bạn phải chọn đề xuất/đơn đặt hàng/phiếu xuất.',N'Please select purchase request/purchase order/goods issue.',N'Bạn phải chọn đề xuất/đơn đặt hàng/phiếu xuất.',N'Please select purchase request/purchase order/goods issue.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'GrbChiTietPhieuNhap') UPDATE LANGUAGES SET VIETNAM=N'Danh sách vật tư, phụ tùng nhập kho ', ENGLISH=N'List of received items ', VIETNAM_OR=N'Danh sách vật tư, phụ tùng nhập kho ', ENGLISH_OR=N'List of received items ' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'GrbChiTietPhieuNhap' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'GrbChiTietPhieuNhap',N'Danh sách vật tư, phụ tùng nhập kho ',N'List of received items ',N'Danh sách vật tư, phụ tùng nhập kho ',N'List of received items ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'TabPT') UPDATE LANGUAGES SET VIETNAM=N'Danh sách vật tư, phụ tùng nhập kho ', ENGLISH=N'List of received items ', VIETNAM_OR=N'Danh sách vật tư, phụ tùng nhập kho ', ENGLISH_OR=N'List of received items ' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'TabPT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'TabPT',N'Danh sách vật tư, phụ tùng nhập kho ',N'List of received items ',N'Danh sách vật tư, phụ tùng nhập kho ',N'List of received items ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD =N'LabTitle') UPDATE LANGUAGES SET VIETNAM=N'-1', ENGLISH=N'GOODS RECEIPT', VIETNAM_OR=N'-1', ENGLISH_OR=N'GOODS RECEIPT' WHERE FORM=N'frmPhieuNhapKho_New' AND KEYWORD=N'LabTitle' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuNhapKho_New',N'LabTitle',N'-1',N'GOODS RECEIPT',N'-1',N'GOODS RECEIPT')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ListStockReport' AND KEYWORD =N'SL_NHAP_TRA') UPDATE LANGUAGES SET VIETNAM=N'SL BT trả lại ', ENGLISH=N'Returned from Maint.', VIETNAM_OR=N'SL BT trả lại ', ENGLISH_OR=N'Returned from Maint.' WHERE FORM=N'ListStockReport' AND KEYWORD=N'SL_NHAP_TRA' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ListStockReport',N'SL_NHAP_TRA',N'SL BT trả lại ',N'Returned from Maint.',N'SL BT trả lại ',N'Returned from Maint.')

Update MENU set MENU_TEXT = N'5.6. Kiểm định và hiệu chuẩn' where MENU_ID = N'mnuHieuchuan' 
Update MENU set MENU_ENGLISH = N'5.6. Verification and Calibration' where MENU_ID = N'mnuHieuchuan' 
	
Update MENU set MENU_TEXT = N' 5.5. Giám sát tình trạng' where MENU_ID = N'mnuGiamsattinhtrang' 
Update MENU set MENU_ENGLISH = N'Condition Monitoring' where MENU_ID = N'mnuGiamsattinhtrang' 
