IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmGiamsattinhtrang' AND KEYWORD =N'lblLoaiCongViec') UPDATE LANGUAGES SET VIETNAM=N'Loại công việc', ENGLISH=N'Work Type ', VIETNAM_OR=N'Loại công việc', ENGLISH_OR=N'Work Type ' WHERE FORM=N'frmGiamsattinhtrang' AND KEYWORD=N'lblLoaiCongViec' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmGiamsattinhtrang',N'lblLoaiCongViec',N'Loại công việc',N'Work Type ',N'Loại công việc',N'Work Type ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmChonThongSoGSTTDinhLuong' AND KEYWORD =N'lblTieuDe') UPDATE LANGUAGES SET VIETNAM=N'', ENGLISH=N'', VIETNAM_OR=N'', ENGLISH_OR=N'' WHERE FORM=N'frmChonThongSoGSTTDinhLuong' AND KEYWORD=N'lblTieuDe' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmChonThongSoGSTTDinhLuong',N'lblTieuDe',N'',N'',N'',N'')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmChonThongSoGSTTDinhLuong' AND KEYWORD =N'frmChonThongSoGSTTDinhLuong') UPDATE LANGUAGES SET VIETNAM=N'Chọn TS GSTT định lượng ', ENGLISH=N'Select quantitative CM parameter', VIETNAM_OR=N'Chọn TS GSTT định lượng ', ENGLISH_OR=N'Select quantitative CM parameter' WHERE FORM=N'frmChonThongSoGSTTDinhLuong' AND KEYWORD=N'frmChonThongSoGSTTDinhLuong' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmChonThongSoGSTTDinhLuong',N'frmChonThongSoGSTTDinhLuong',N'Chọn TS GSTT định lượng ',N'Select quantitative CM parameter',N'Chọn TS GSTT định lượng ',N'Select quantitative CM parameter')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmChonThongSoGSTTDinhTinh' AND KEYWORD =N'frmChonThongSoGSTTDinhTinh') UPDATE LANGUAGES SET VIETNAM=N'Chọn TS GSTT định tính  ', ENGLISH=N'Select qualitative CM parameter', VIETNAM_OR=N'Chọn TS GSTT định tính  ', ENGLISH_OR=N'Select qualitative CM parameter' WHERE FORM=N'frmChonThongSoGSTTDinhTinh' AND KEYWORD=N'frmChonThongSoGSTTDinhTinh' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmChonThongSoGSTTDinhTinh',N'frmChonThongSoGSTTDinhTinh',N'Chọn TS GSTT định tính  ',N'Select qualitative CM parameter',N'Chọn TS GSTT định tính  ',N'Select qualitative CM parameter')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmGiamsattinhtrang' AND KEYWORD =N'BtnChonTSDT') UPDATE LANGUAGES SET VIETNAM=N'Chọn giá trị TS ĐT', ENGLISH=N'Select value for parameter', VIETNAM_OR=N'Chọn giá trị TS ĐT', ENGLISH_OR=N'Select value for parameter' WHERE FORM=N'frmGiamsattinhtrang' AND KEYWORD=N'BtnChonTSDT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmGiamsattinhtrang',N'BtnChonTSDT',N'Chọn giá trị TS ĐT',N'Select value for parameter',N'Chọn giá trị TS ĐT',N'Select value for parameter')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmGiamsattinhtrang' AND KEYWORD =N'BtnChonTSDL') UPDATE LANGUAGES SET VIETNAM=N'Chọn giá trị TS ĐL', ENGLISH=N'Select value for parameter', VIETNAM_OR=N'Chọn giá trị TS ĐL', ENGLISH_OR=N'Select value for parameter' WHERE FORM=N'frmGiamsattinhtrang' AND KEYWORD=N'BtnChonTSDL' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmGiamsattinhtrang',N'BtnChonTSDL',N'Chọn giá trị TS ĐL',N'Select value for parameter',N'Chọn giá trị TS ĐL',N'Select value for parameter')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmChonCongViecBoPhan' AND KEYWORD =N'KhongCoLoaiMay') UPDATE LANGUAGES SET VIETNAM=N'Không có loại máy', ENGLISH=N'No equipment type', VIETNAM_OR=N'Không có loại máy', ENGLISH_OR=N'No equipment type' WHERE FORM=N'FrmChonCongViecBoPhan' AND KEYWORD=N'KhongCoLoaiMay' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR,MS_MODULE) VALUES(N'FrmChonCongViecBoPhan',N'KhongCoLoaiMay',N'Không có loại máy',N'No equipment type',N'Không có loại máy',N'No equipment type','ECOMAIN')
