IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKiemKeKho' AND KEYWORD =N'lblNgayKK') UPDATE LANGUAGES SET VIETNAM=N'Ngày kiểm kê', ENGLISH=N'Counting date', VIETNAM_OR=N'Ngày kiểm kê', ENGLISH_OR=N'Counting date' WHERE FORM=N'frmKiemKeKho' AND KEYWORD=N'lblNgayKK' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKiemKeKho',N'lblNgayKK',N'Ngày kiểm kê',N'Counting date',N'Ngày kiểm kê',N'Counting date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKiemKeKho' AND KEYWORD =N'btnCapNhatSL') UPDATE LANGUAGES SET VIETNAM=N'SL tồn CT->SL tồn TT', ENGLISH=N'Stock qty->count qty', VIETNAM_OR=N'SL tồn CT->SL tồn TT', ENGLISH_OR=N'Stock qty->count qty' WHERE FORM=N'frmKiemKeKho' AND KEYWORD=N'btnCapNhatSL' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKiemKeKho',N'btnCapNhatSL',N'SL tồn CT->SL tồn TT',N'Stock qty->count qty',N'SL tồn CT->SL tồn TT',N'Stock qty->count qty')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKiemKeKho' AND KEYWORD =N'btnTinhTon') UPDATE LANGUAGES SET VIETNAM=N'Tính tồn kho', ENGLISH=N'Calculate stock', VIETNAM_OR=N'Tính tồn kho', ENGLISH_OR=N'Calculate stock' WHERE FORM=N'frmKiemKeKho' AND KEYWORD=N'btnTinhTon' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKiemKeKho',N'btnTinhTon',N'Tính tồn kho',N'Calculate stock',N'Tính tồn kho',N'Calculate stock')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKiemKeKho' AND KEYWORD =N'msgChuaCoNgayKK') UPDATE LANGUAGES SET VIETNAM=N'Chưa có ngày kiểm kê', ENGLISH=N'There is no counting date', VIETNAM_OR=N'Chưa có ngày kiểm kê', ENGLISH_OR=N'There is no counting date' WHERE FORM=N'frmKiemKeKho' AND KEYWORD=N'msgChuaCoNgayKK' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKiemKeKho',N'msgChuaCoNgayKK',N'Chưa có ngày kiểm kê',N'There is no counting date',N'Chưa có ngày kiểm kê',N'There is no counting date')
