IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKeHoachCongViec' AND KEYWORD =N'grpDSNhanVien') UPDATE LANGUAGES SET VIETNAM=N'Danh sách nhân viên', ENGLISH=N'List of employees', VIETNAM_OR=N'Danh sách nhân viên', ENGLISH_OR=N'List of employees' WHERE FORM=N'frmKeHoachCongViec' AND KEYWORD=N'grpDSNhanVien' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKeHoachCongViec',N'grpDSNhanVien',N'Danh sách nhân viên',N'List of employees',N'Danh sách nhân viên',N'List of employees')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKeHoachCongViec' AND KEYWORD =N'grpKeHoachCongViec') UPDATE LANGUAGES SET VIETNAM=N'Danh sách công việc', ENGLISH=N'List of works', VIETNAM_OR=N'Danh sách công việc', ENGLISH_OR=N'List of works' WHERE FORM=N'frmKeHoachCongViec' AND KEYWORD=N'grpKeHoachCongViec' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKeHoachCongViec',N'grpKeHoachCongViec',N'Danh sách công việc',N'List of works',N'Danh sách công việc',N'List of works')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKeHoachCongViec' AND KEYWORD =N'optAll') UPDATE LANGUAGES SET VIETNAM=N'Tất cả', ENGLISH=N'All', VIETNAM_OR=N'Tất cả', ENGLISH_OR=N'All' WHERE FORM=N'frmKeHoachCongViec' AND KEYWORD=N'optAll' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKeHoachCongViec',N'optAll',N'Tất cả',N'All',N'Tất cả',N'All')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKeHoachCongViec' AND KEYWORD =N'optChuaHoanThanh') UPDATE LANGUAGES SET VIETNAM=N'Chưa hoàn thành', ENGLISH=N'Not completed', VIETNAM_OR=N'Chưa hoàn thành', ENGLISH_OR=N'Not completed' WHERE FORM=N'frmKeHoachCongViec' AND KEYWORD=N'optChuaHoanThanh' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKeHoachCongViec',N'optChuaHoanThanh',N'Chưa hoàn thành',N'Not completed',N'Chưa hoàn thành',N'Not completed')
