IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD =N'tabCongViecChinh') UPDATE LANGUAGES SET VIETNAM=N'Công việc chính', ENGLISH=N'Main work', VIETNAM_OR=N'Công việc chính', ENGLISH_OR=N'Main work' WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD=N'tabCongViecChinh' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_NEW',N'tabCongViecChinh',N'Công việc chính',N'Main work',N'Công việc chính',N'Main work')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD =N'tabCongViecPhu') UPDATE LANGUAGES SET VIETNAM=N'Công việc phụ', ENGLISH=N'Supp. works', VIETNAM_OR=N'Công việc phụ', ENGLISH_OR=N'Supp. works' WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD=N'tabCongViecPhu' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_NEW',N'tabCongViecPhu',N'Công việc phụ',N'Supp. works',N'Công việc phụ',N'Supp. works')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD =N'FROM_HOUR') UPDATE LANGUAGES SET VIETNAM=N'Từ giờ', ENGLISH=N'From hour', VIETNAM_OR=N'Từ giờ', ENGLISH_OR=N'From hour' WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD=N'FROM_HOUR' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_NEW',N'FROM_HOUR',N'Từ giờ',N'From hour',N'Từ giờ',N'From hour')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD =N'TO_HOUR') UPDATE LANGUAGES SET VIETNAM=N'Đến giờ', ENGLISH=N'To hour', VIETNAM_OR=N'Đến giờ', ENGLISH_OR=N'To hour' WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD=N'TO_HOUR' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_NEW',N'TO_HOUR',N'Đến giờ',N'To hour',N'Đến giờ',N'To hour')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmMain' AND KEYWORD =N'mnuThemTatCaThoiGian') UPDATE LANGUAGES SET VIETNAM=N'Thêm thời gian cho tất cả nhân sự', ENGLISH=N'Thêm thời gian cho tất cả nhân sự', VIETNAM_OR=N'Thêm thời gian cho tất cả nhân sự', ENGLISH_OR=N'Thêm thời gian cho tất cả nhân sự' WHERE FORM=N'frmMain' AND KEYWORD=N'mnuThemTatCaThoiGian' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmMain',N'mnuThemTatCaThoiGian',N'Thêm thời gian cho tất cả nhân sự',N'Thêm thời gian cho tất cả nhân sự',N'Thêm thời gian cho tất cả nhân sự',N'Thêm thời gian cho tất cả nhân sự')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmMain' AND KEYWORD =N'mnuBoTatCaThoiGian') UPDATE LANGUAGES SET VIETNAM=N'Bỏ thời gian của tất cả nhân sự', ENGLISH=N'Bỏ thời gian của tất cả nhân sự', VIETNAM_OR=N'Bỏ thời gian của tất cả nhân sự', ENGLISH_OR=N'Bỏ thời gian của tất cả nhân sự' WHERE FORM=N'frmMain' AND KEYWORD=N'mnuBoTatCaThoiGian' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmMain',N'mnuBoTatCaThoiGian',N'Bỏ thời gian của tất cả nhân sự',N'Bỏ thời gian của tất cả nhân sự',N'Bỏ thời gian của tất cả nhân sự',N'Bỏ thời gian của tất cả nhân sự')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmMain' AND KEYWORD =N'mnuThemDongDangChon') UPDATE LANGUAGES SET VIETNAM=N'Thêm thời gian cho nhân sự đang chọn', ENGLISH=N'Thêm thời gian cho nhân sự đang chọn', VIETNAM_OR=N'Thêm thời gian cho nhân sự đang chọn', ENGLISH_OR=N'Thêm thời gian cho nhân sự đang chọn' WHERE FORM=N'frmMain' AND KEYWORD=N'mnuThemDongDangChon' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmMain',N'mnuThemDongDangChon',N'Thêm thời gian cho nhân sự đang chọn',N'Thêm thời gian cho nhân sự đang chọn',N'Thêm thời gian cho nhân sự đang chọn',N'Thêm thời gian cho nhân sự đang chọn')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmMain' AND KEYWORD =N'mnuBoDongDangChon') UPDATE LANGUAGES SET VIETNAM=N'Bỏ thời gian của nhân sự đang chọn', ENGLISH=N'Bỏ thời gian của nhân sự đang chọn', VIETNAM_OR=N'Bỏ thời gian của nhân sự đang chọn', ENGLISH_OR=N'Bỏ thời gian của nhân sự đang chọn' WHERE FORM=N'frmMain' AND KEYWORD=N'mnuBoDongDangChon' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmMain',N'mnuBoDongDangChon',N'Bỏ thời gian của nhân sự đang chọn',N'Bỏ thời gian của nhân sự đang chọn',N'Bỏ thời gian của nhân sự đang chọn',N'Bỏ thời gian của nhân sự đang chọn')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmMain' AND KEYWORD =N'mnuSaoChep') UPDATE LANGUAGES SET VIETNAM=N'Sao chép ngày giờ cho các nhân viên của CV này', ENGLISH=N'Copy time for involved personnels', VIETNAM_OR=N'Sao chép ngày giờ cho các nhân viên của CV này', ENGLISH_OR=N'Copy time for involved personnels' WHERE FORM=N'frmMain' AND KEYWORD=N'mnuSaoChep' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmMain',N'mnuSaoChep',N'Sao chép ngày giờ cho các nhân viên của CV này',N'Copy time for involved personnels',N'Sao chép ngày giờ cho các nhân viên của CV này',N'Copy time for involved personnels')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD =N'msgChacChanThemAllThoiGianNhanSu') UPDATE LANGUAGES SET VIETNAM=N'Có chắc thêm tất cả thời gian cho nhân sự', ENGLISH=N'Có chắc thêm tất cả thời gian cho nhân sự', VIETNAM_OR=N'Có chắc thêm tất cả thời gian cho nhân sự', ENGLISH_OR=N'Có chắc thêm tất cả thời gian cho nhân sự' WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD=N'msgChacChanThemAllThoiGianNhanSu' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_NEW',N'msgChacChanThemAllThoiGianNhanSu',N'Có chắc thêm tất cả thời gian cho nhân sự',N'Có chắc thêm tất cả thời gian cho nhân sự',N'Có chắc thêm tất cả thời gian cho nhân sự',N'Có chắc thêm tất cả thời gian cho nhân sự')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD =N'msgChacChanBoAllThoiGianNhanSu') UPDATE LANGUAGES SET VIETNAM=N'Có chắc bỏ tất cả thời gian cho nhân sự', ENGLISH=N'Có chắc bỏ tất cả thời gian cho nhân sự', VIETNAM_OR=N'Có chắc bỏ tất cả thời gian cho nhân sự', ENGLISH_OR=N'Có chắc bỏ tất cả thời gian cho nhân sự' WHERE FORM=N'frmPhieuBaoTri_NEW' AND KEYWORD=N'msgChacChanBoAllThoiGianNhanSu' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_NEW',N'msgChacChanBoAllThoiGianNhanSu',N'Có chắc bỏ tất cả thời gian cho nhân sự',N'Có chắc bỏ tất cả thời gian cho nhân sự',N'Có chắc bỏ tất cả thời gian cho nhân sự',N'Có chắc bỏ tất cả thời gian cho nhân sự')
