IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD =N'MsgXoaVTPT') UPDATE LANGUAGES SET VIETNAM=N'Chọn YES nếu bạn muốn xóa tất cả phụ tùng của công việc này, chọn NO nếu bạn muốn xóa phụ tùng đang chọn, chọn CANCEL nếu bạn muốn quay lại màn hình chính !', ENGLISH=N'Chọn YES nếu bạn muốn xóa tất cả phụ tùng của công việc này, chọn NO nếu bạn muốn xóa phụ tùng đang chọn, chọn CANCEL nếu bạn muốn quay lại màn hình chính !', VIETNAM_OR=N'Chọn YES nếu bạn muốn xóa tất cả phụ tùng của công việc này, chọn NO nếu bạn muốn xóa phụ tùng đang chọn, chọn CANCEL nếu bạn muốn quay lại màn hình chính !', ENGLISH_OR=N'Chọn YES nếu bạn muốn xóa tất cả phụ tùng của công việc này, chọn NO nếu bạn muốn xóa phụ tùng đang chọn, chọn CANCEL nếu bạn muốn quay lại màn hình chính !' WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD=N'MsgXoaVTPT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_New',N'MsgXoaVTPT',N'Chọn YES nếu bạn muốn xóa tất cả phụ tùng của công việc này, chọn NO nếu bạn muốn xóa phụ tùng đang chọn, chọn CANCEL nếu bạn muốn quay lại màn hình chính !',N'Chọn YES nếu bạn muốn xóa tất cả phụ tùng của công việc này, chọn NO nếu bạn muốn xóa phụ tùng đang chọn, chọn CANCEL nếu bạn muốn quay lại màn hình chính !',N'Chọn YES nếu bạn muốn xóa tất cả phụ tùng của công việc này, chọn NO nếu bạn muốn xóa phụ tùng đang chọn, chọn CANCEL nếu bạn muốn quay lại màn hình chính !',N'Chọn YES nếu bạn muốn xóa tất cả phụ tùng của công việc này, chọn NO nếu bạn muốn xóa phụ tùng đang chọn, chọn CANCEL nếu bạn muốn quay lại màn hình chính !')
