IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'txtMoTa') UPDATE LANGUAGES SET VIETNAM=N'Mô tả', ENGLISH=N'Description', VIETNAM_OR=N'Mô tả', ENGLISH_OR=N'Description' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'txtMoTa' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'txtMoTa',N'Mô tả',N'Description',N'Mô tả',N'Description')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBaoTri' AND KEYWORD =N'MS_LOAI_CV') UPDATE LANGUAGES SET VIETNAM=N'Tên loại công việc', ENGLISH=N'Work type', VIETNAM_OR=N'Tên loại công việc', ENGLISH_OR=N'Work type' WHERE FORM=N'frmBaoTri' AND KEYWORD=N'MS_LOAI_CV' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBaoTri',N'MS_LOAI_CV',N'Tên loại công việc',N'Work type',N'Tên loại công việc',N'Work type')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDanhmuchethong' AND KEYWORD =N'lblTHTAnh') UPDATE LANGUAGES SET VIETNAM=N'Tên tiếng Anh ', ENGLISH=N'English name', VIETNAM_OR=N'Tên tiếng Anh ', ENGLISH_OR=N'English name' WHERE FORM=N'frmDanhmuchethong' AND KEYWORD=N'lblTHTAnh' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDanhmuchethong',N'lblTHTAnh',N'Tên tiếng Anh ',N'English name',N'Tên tiếng Anh ',N'English name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDanhmuchethong' AND KEYWORD =N'lblTHTHoa') UPDATE LANGUAGES SET VIETNAM=N'Tên tiếng Hoa', ENGLISH=N'Chinese name', VIETNAM_OR=N'Tên tiếng Hoa', ENGLISH_OR=N'Chinese name' WHERE FORM=N'frmDanhmuchethong' AND KEYWORD=N'lblTHTHoa' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDanhmuchethong',N'lblTHTHoa',N'Tên tiếng Hoa',N'Chinese name',N'Tên tiếng Hoa',N'Chinese name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDanhmuchethong' AND KEYWORD =N'TEN_HE_THONG_ANH') UPDATE LANGUAGES SET VIETNAM=N'Tên tiếng Anh ', ENGLISH=N'English name', VIETNAM_OR=N'Tên tiếng Anh ', ENGLISH_OR=N'English name' WHERE FORM=N'frmDanhmuchethong' AND KEYWORD=N'TEN_HE_THONG_ANH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDanhmuchethong',N'TEN_HE_THONG_ANH',N'Tên tiếng Anh ',N'English name',N'Tên tiếng Anh ',N'English name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDanhmuchethong' AND KEYWORD =N'TEN_HE_THONG_HOA') UPDATE LANGUAGES SET VIETNAM=N'Tên tiếng Hoa', ENGLISH=N'Chinese name', VIETNAM_OR=N'Tên tiếng Hoa', ENGLISH_OR=N'Chinese name' WHERE FORM=N'frmDanhmuchethong' AND KEYWORD=N'TEN_HE_THONG_HOA' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDanhmuchethong',N'TEN_HE_THONG_HOA',N'Tên tiếng Hoa',N'Chinese name',N'Tên tiếng Hoa',N'Chinese name')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBophanchiuphi' AND KEYWORD =N'grpThongTin') UPDATE LANGUAGES SET VIETNAM=N'Nhập thông tin ', ENGLISH=N'Input info', VIETNAM_OR=N'Nhập thông tin ', ENGLISH_OR=N'Input info' WHERE FORM=N'frmBophanchiuphi' AND KEYWORD=N'grpThongTin' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBophanchiuphi',N'grpThongTin',N'Nhập thông tin ',N'Input info',N'Nhập thông tin ',N'Input info')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBophanchiuphi' AND KEYWORD =N'MA_BP_CHIU_PHI') UPDATE LANGUAGES SET VIETNAM=N'Mã BPCP', ENGLISH=N'Cost Center ID', VIETNAM_OR=N'Mã BPCP', ENGLISH_OR=N'Cost Center ID' WHERE FORM=N'frmBophanchiuphi' AND KEYWORD=N'MA_BP_CHIU_PHI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBophanchiuphi',N'MA_BP_CHIU_PHI',N'Mã BPCP',N'Cost Center ID',N'Mã BPCP',N'Cost Center ID')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBophanchiuphi' AND KEYWORD =N'lblMSCPhi') UPDATE LANGUAGES SET VIETNAM=N'Mã BPCP', ENGLISH=N'Cost Center ID', VIETNAM_OR=N'Mã BPCP', ENGLISH_OR=N'Cost Center ID' WHERE FORM=N'frmBophanchiuphi' AND KEYWORD=N'lblMSCPhi' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBophanchiuphi',N'lblMSCPhi',N'Mã BPCP',N'Cost Center ID',N'Mã BPCP',N'Cost Center ID')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBophanchiuphi' AND KEYWORD =N'lblTEN_BP_CHIU_PHI') UPDATE LANGUAGES SET VIETNAM=N'Tên BPCP', ENGLISH=N'Cost Center name', VIETNAM_OR=N'Tên BPCP', ENGLISH_OR=N'Cost Center name' WHERE FORM=N'frmBophanchiuphi' AND KEYWORD=N'lblTEN_BP_CHIU_PHI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBophanchiuphi',N'lblTEN_BP_CHIU_PHI',N'Tên BPCP',N'Cost Center name',N'Tên BPCP',N'Cost Center name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBophanchiuphi' AND KEYWORD =N'TEN_BP_CHIU_PHI') UPDATE LANGUAGES SET VIETNAM=N'Tên BPCP', ENGLISH=N'Cost Center name', VIETNAM_OR=N'Tên BPCP', ENGLISH_OR=N'Cost Center name' WHERE FORM=N'frmBophanchiuphi' AND KEYWORD=N'TEN_BP_CHIU_PHI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBophanchiuphi',N'TEN_BP_CHIU_PHI',N'Tên BPCP',N'Cost Center name',N'Tên BPCP',N'Cost Center name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'' AND KEYWORD =N'') UPDATE LANGUAGES SET VIETNAM=N'', ENGLISH=N'', VIETNAM_OR=N'', ENGLISH_OR=N'' WHERE FORM=N'' AND KEYWORD=N'' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'',N'',N'',N'',N'',N'')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhacungcap' AND KEYWORD =N'gbKhachhang') UPDATE LANGUAGES SET VIETNAM=N'Danh sách nhà cung cấp', ENGLISH=N'List of suppliers', VIETNAM_OR=N'Danh sách nhà cung cấp', ENGLISH_OR=N'List of suppliers' WHERE FORM=N'frmNhacungcap' AND KEYWORD=N'gbKhachhang' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhacungcap',N'gbKhachhang',N'Danh sách nhà cung cấp',N'List of suppliers',N'Danh sách nhà cung cấp',N'List of suppliers')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhacungcap' AND KEYWORD =N'lblMakh') UPDATE LANGUAGES SET VIETNAM=N'Mã NCC', ENGLISH=N'Supplier ID', VIETNAM_OR=N'Mã NCC', ENGLISH_OR=N'Supplier ID' WHERE FORM=N'frmNhacungcap' AND KEYWORD=N'lblMakh' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhacungcap',N'lblMakh',N'Mã NCC',N'Supplier ID',N'Mã NCC',N'Supplier ID')


IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhacungcap' AND KEYWORD =N'lblTenviettat') UPDATE LANGUAGES SET VIETNAM=N'Tên ngắn', ENGLISH=N'Short name', VIETNAM_OR=N'Tên ngắn', ENGLISH_OR=N'Short name' WHERE FORM=N'frmNhacungcap' AND KEYWORD=N'lblTenviettat' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhacungcap',N'lblTenviettat',N'Tên ngắn',N'Short name',N'Tên ngắn',N'Short name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhacungcap' AND KEYWORD =N'TEN_RUT_GON') UPDATE LANGUAGES SET VIETNAM=N'Tên ngắn', ENGLISH=N'Short name', VIETNAM_OR=N'Tên ngắn', ENGLISH_OR=N'Short name' WHERE FORM=N'frmNhacungcap' AND KEYWORD=N'TEN_RUT_GON' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhacungcap',N'TEN_RUT_GON',N'Tên ngắn',N'Short name',N'Tên ngắn',N'Short name')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmTimNCTy' AND KEYWORD =N'TEN_RUT_GON') UPDATE LANGUAGES SET VIETNAM=N'Tên ngắn', ENGLISH=N'Short name', VIETNAM_OR=N'Tên ngắn', ENGLISH_OR=N'Short name' WHERE FORM=N'frmTimNCTy' AND KEYWORD=N'TEN_RUT_GON' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmTimNCTy',N'TEN_RUT_GON',N'Tên ngắn',N'Short name',N'Tên ngắn',N'Short name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThongKeNhapTheoKH' AND KEYWORD =N'TEN_RUT_GON') UPDATE LANGUAGES SET VIETNAM=N'Tên ngắn', ENGLISH=N'Short name', VIETNAM_OR=N'Tên ngắn', ENGLISH_OR=N'Short name' WHERE FORM=N'frmThongKeNhapTheoKH' AND KEYWORD=N'TEN_RUT_GON' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThongKeNhapTheoKH',N'TEN_RUT_GON',N'Tên ngắn',N'Short name',N'Tên ngắn',N'Short name')

Update MENU set  MENU_TEXT = N'2.13. Đơn vị đo lường' where MENU_ID = 'mnuMeasuringUnit'	
Update MENU set  MENU_ENGLISH = N'2.13. Measuring Unit' where MENU_ID = 'mnuMeasuringUnit'	