IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'btnGhiDanhGia') UPDATE LANGUAGES SET VIETNAM=N'Lưu', ENGLISH=N'Save', VIETNAM_OR=N'Lưu', ENGLISH_OR=N'Save' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'btnGhiDanhGia' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuBaoTri_New',N'btnGhiDanhGia',N'Lưu',N'Save',N'Lưu',N'Save')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'btnKGhiDanhGia') UPDATE LANGUAGES SET VIETNAM=N'Hủy', ENGLISH=N'Cancel', VIETNAM_OR=N'Hủy', ENGLISH_OR=N'Cancel' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'btnKGhiDanhGia' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuBaoTri_New',N'btnKGhiDanhGia',N'Hủy',N'Cancel',N'Hủy',N'Cancel')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'btnThemSuaDV') UPDATE LANGUAGES SET VIETNAM=N'Thêm/Sửa DV', ENGLISH=N'Add/Edit Service', VIETNAM_OR=N'Thêm/Sửa DV', ENGLISH_OR=N'Add/Edit Service' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'btnThemSuaDV' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuBaoTri_New',N'btnThemSuaDV',N'Thêm/Sửa DV',N'Add/Edit Service',N'Thêm/Sửa DV',N'Add/Edit Service')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'btnThemSuaCV') UPDATE LANGUAGES SET VIETNAM=N'Thêm/Sửa CV', ENGLISH=N'Add/Edit Work', VIETNAM_OR=N'Thêm/Sửa CV', ENGLISH_OR=N'Add/Edit Work' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'btnThemSuaCV' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuBaoTri_New',N'btnThemSuaCV',N'Thêm/Sửa CV',N'Add/Edit Work',N'Thêm/Sửa CV',N'Add/Edit Work')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'btnXoaDichVu') UPDATE LANGUAGES SET VIETNAM=N'Xóa dịch vụ', ENGLISH=N'Delete this service?', VIETNAM_OR=N'Xóa dịch vụ', ENGLISH_OR=N'Delete this service?' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'btnXoaDichVu' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuBaoTri_New',N'btnXoaDichVu',N'Xóa dịch vụ',N'Delete this service?',N'Xóa dịch vụ',N'Delete this service?')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'btnXoaCongViec') UPDATE LANGUAGES SET VIETNAM=N'Xóa công việc', ENGLISH=N'Delete this work?', VIETNAM_OR=N'Xóa công việc', ENGLISH_OR=N'Delete this work?' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'btnXoaCongViec' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuBaoTri_New',N'btnXoaCongViec',N'Xóa công việc',N'Delete this work?',N'Xóa công việc',N'Delete this work?')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'btnXoaPhuTung') UPDATE LANGUAGES SET VIETNAM=N'Xóa phụ tùng', ENGLISH=N'Delete this spare?', VIETNAM_OR=N'Xóa phụ tùng', ENGLISH_OR=N'Delete this spare?' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'btnXoaPhuTung' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuBaoTri_New',N'btnXoaPhuTung',N'Xóa phụ tùng',N'Delete this spare?',N'Xóa phụ tùng',N'Delete this spare?')
