IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD =N'mnThemViTri') UPDATE LANGUAGES SET VIETNAM=N'Thêm vị trí', ENGLISH=N'Add location', VIETNAM_OR=N'Thêm vị trí', ENGLISH_OR=N'Add location' WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD=N'mnThemViTri' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_New',N'mnThemViTri',N'Thêm vị trí',N'Add location',N'Thêm vị trí',N'Add location')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD =N'btnXoaCongViecChinh') UPDATE LANGUAGES SET VIETNAM=N'Xóa CV chính', ENGLISH=N'Delete main &work', VIETNAM_OR=N'Xóa CV chính', ENGLISH_OR=N'Delete main &work' WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD=N'btnXoaCongViecChinh' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_New',N'btnXoaCongViecChinh',N'Xóa CV chính',N'Delete main &work',N'Xóa CV chính',N'Delete main &work')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD =N'btnXoaVatTuPT') UPDATE LANGUAGES SET VIETNAM=N'Xóa VT PT', ENGLISH=N'Delete Item', VIETNAM_OR=N'Xóa VT PT', ENGLISH_OR=N'Delete Item' WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD=N'btnXoaVatTuPT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_New',N'btnXoaVatTuPT',N'Xóa VT PT',N'Delete Item',N'Xóa VT PT',N'Delete Item')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD =N'btnXoaViTriPT') UPDATE LANGUAGES SET VIETNAM=N'Xóa vị trí PT', ENGLISH=N'Delete Item', VIETNAM_OR=N'Xóa vị trí PT', ENGLISH_OR=N'Delete Item' WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD=N'btnXoaViTriPT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_New',N'btnXoaViTriPT',N'Xóa vị trí PT',N'Delete Item',N'Xóa vị trí PT',N'Delete Item')

