IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucBaoCaoHieuChuanKiemDinh' AND KEYWORD =N'bcThucTeDaLam') UPDATE LANGUAGES SET VIETNAM=N'Đã làm', ENGLISH=N'Comlete', VIETNAM_OR=N'Đã làm', ENGLISH_OR=N'Comlete' WHERE FORM=N'ucBaoCaoHieuChuanKiemDinh' AND KEYWORD=N'bcThucTeDaLam' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucBaoCaoHieuChuanKiemDinh',N'bcThucTeDaLam',N'Đã làm',N'Comlete',N'Đã làm',N'Comlete')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucBaoCaoHieuChuanKiemDinh' AND KEYWORD =N'bcThucTeChuaLam') UPDATE LANGUAGES SET VIETNAM=N'Chưa làm', ENGLISH=N'Incomplete', VIETNAM_OR=N'Chưa làm', ENGLISH_OR=N'Incomplete' WHERE FORM=N'ucBaoCaoHieuChuanKiemDinh' AND KEYWORD=N'bcThucTeChuaLam' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucBaoCaoHieuChuanKiemDinh',N'bcThucTeChuaLam',N'Chưa làm',N'Incomplete',N'Chưa làm',N'Incomplete')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucBaoCaoHieuChuanKiemDinh' AND KEYWORD =N'bcKeHoach') UPDATE LANGUAGES SET VIETNAM=N'Kế hoạch', ENGLISH=N'Planned', VIETNAM_OR=N'Kế hoạch', ENGLISH_OR=N'Planned' WHERE FORM=N'ucBaoCaoHieuChuanKiemDinh' AND KEYWORD=N'bcKeHoach' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucBaoCaoHieuChuanKiemDinh',N'bcKeHoach',N'Kế hoạch',N'Planned',N'Kế hoạch',N'Planned')
