update LANGUAGES set vietnam = N'Lead time (ngày)' , english = N'Lead time (day)', vietnam_or = N'Lead time (ngày)' , english_or = N'Lead time (day)'  where form = 'frmDanhmucphutung_CS' and keyword = 'lblSO_NGAY_DAT_MUA_HANG'


IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'ShutDownUser') UPDATE LANGUAGES SET VIETNAM=N'Thoát User', ENGLISH=N'ShutDown user', VIETNAM_OR=N'Thoát User', ENGLISH_OR=N'ShutDown user' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'ShutDownUser' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'ShutDownUser',N'Thoát User',N'ShutDown user',N'Thoát User',N'ShutDown user')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'ResetPass') UPDATE LANGUAGES SET VIETNAM=N'Reset Password', ENGLISH=N'Reset Password', VIETNAM_OR=N'Reset Password', ENGLISH_OR=N'Reset Password' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'ResetPass' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'ResetPass',N'Reset Password',N'Reset Password',N'Reset Password',N'Reset Password')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'MsgKiemtraTenUserNULL') UPDATE LANGUAGES SET VIETNAM=N'Tên user không được để trống', ENGLISH=N'Username is empty', VIETNAM_OR=N'Tên user không được để trống', ENGLISH_OR=N'Username is empty' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'MsgKiemtraTenUserNULL' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'MsgKiemtraTenUserNULL',N'Tên user không được để trống',N'Username is empty',N'Tên user không được để trống',N'Username is empty')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'Tatca') UPDATE LANGUAGES SET VIETNAM=N'Tất cả', ENGLISH=N'All', VIETNAM_OR=N'Tất cả', ENGLISH_OR=N'All' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'Tatca' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'Tatca',N'Tất cả',N'All',N'Tất cả',N'All')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'Sudung') UPDATE LANGUAGES SET VIETNAM=N'Sử dụng', ENGLISH=N'Use', VIETNAM_OR=N'Sử dụng', ENGLISH_OR=N'Use' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'Sudung' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'Sudung',N'Sử dụng',N'Use',N'Sử dụng',N'Use')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'MsgXacNhanThoatUser') UPDATE LANGUAGES SET VIETNAM=N'Thoát User', ENGLISH=N'Do you want to shut down user?', VIETNAM_OR=N'Thoát User', ENGLISH_OR=N'Do you want to shut down user?' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'MsgXacNhanThoatUser' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'MsgXacNhanThoatUser',N'Thoát User',N'Do you want to shut down user?',N'Thoát User',N'Do you want to shut down user?')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'MsgKiemtraFullNameNULL') UPDATE LANGUAGES SET VIETNAM=N'Fullname không được để trống', ENGLISH=N'Fullname is empty', VIETNAM_OR=N'Fullname không được để trống', ENGLISH_OR=N'Fullname is empty' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'MsgKiemtraFullNameNULL' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'MsgKiemtraFullNameNULL',N'Fullname không được để trống',N'Fullname is empty',N'Fullname không được để trống',N'Fullname is empty')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'MsgKiemtraPasswordNULL') UPDATE LANGUAGES SET VIETNAM=N'Password không được để trống', ENGLISH=N'Password is empty', VIETNAM_OR=N'Password không được để trống', ENGLISH_OR=N'Password is empty' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'MsgKiemtraPasswordNULL' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'MsgKiemtraPasswordNULL',N'Password không được để trống',N'Password is empty',N'Password không được để trống',N'Password is empty')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'MsgKiemtraConfirmPasswordNULL') UPDATE LANGUAGES SET VIETNAM=N'Confirm password không được để trống', ENGLISH=N'Confirm password is empty', VIETNAM_OR=N'Confirm password không được để trống', ENGLISH_OR=N'Confirm password is empty' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'MsgKiemtraConfirmPasswordNULL' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'MsgKiemtraConfirmPasswordNULL',N'Confirm password không được để trống',N'Confirm password is empty',N'Confirm password không được để trống',N'Confirm password is empty')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'MsgKiemtraXacNhanPassword') UPDATE LANGUAGES SET VIETNAM=N'Password không trùng khớp', ENGLISH=N'Passwords do not match', VIETNAM_OR=N'Password không trùng khớp', ENGLISH_OR=N'Passwords do not match' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'MsgKiemtraXacNhanPassword' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'MsgKiemtraXacNhanPassword',N'Password không trùng khớp',N'Passwords do not match',N'Password không trùng khớp',N'Passwords do not match')
