IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD =N'optTuNgayDenNgay') UPDATE LANGUAGES SET VIETNAM=N'Xem trong khoảng TG', ENGLISH=N'View in period of time', VIETNAM_OR=N'Xem trong khoảng TG', ENGLISH_OR=N'View in period of time' WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD=N'optTuNgayDenNgay' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTongHopTinhHinhBaoTri',N'optTuNgayDenNgay',N'Xem trong khoảng TG',N'View in period of time',N'Xem trong khoảng TG',N'View in period of time')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD =N'optDenNgay') UPDATE LANGUAGES SET VIETNAM=N'Xem tất cả đến ngày ', ENGLISH=N'View all until date ', VIETNAM_OR=N'Xem tất cả đến ngày ', ENGLISH_OR=N'View all until date ' WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD=N'optDenNgay' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTongHopTinhHinhBaoTri',N'optDenNgay',N'Xem tất cả đến ngày ',N'View all until date ',N'Xem tất cả đến ngày ',N'View all until date ')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD =N'chkTreHan') UPDATE LANGUAGES SET VIETNAM=N'Trễ hạn ', ENGLISH=N'Late', VIETNAM_OR=N'Trễ hạn ', ENGLISH_OR=N'Late' WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD=N'chkTreHan' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTongHopTinhHinhBaoTri',N'chkTreHan',N'Trễ hạn ',N'Late',N'Trễ hạn ',N'Late')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD =N'chkDungHan') UPDATE LANGUAGES SET VIETNAM=N'Đúng hạn', ENGLISH=N'On time', VIETNAM_OR=N'Đúng hạn', ENGLISH_OR=N'On time' WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD=N'chkDungHan' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTongHopTinhHinhBaoTri',N'chkDungHan',N'Đúng hạn',N'On time',N'Đúng hạn',N'On time')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD =N'chkTruochan') UPDATE LANGUAGES SET VIETNAM=N'Trước hạn ', ENGLISH=N'Before dead line', VIETNAM_OR=N'Trước hạn ', ENGLISH_OR=N'Before dead line' WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD=N'chkTruochan' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTongHopTinhHinhBaoTri',N'chkTruochan',N'Trước hạn ',N'Before dead line',N'Trước hạn ',N'Before dead line')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD =N'chkChuaLam') UPDATE LANGUAGES SET VIETNAM=N'Chưa bao giờ làm ', ENGLISH=N'Never done', VIETNAM_OR=N'Chưa bao giờ làm ', ENGLISH_OR=N'Never done' WHERE FORM=N'ucTongHopTinhHinhBaoTri' AND KEYWORD=N'chkChuaLam' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTongHopTinhHinhBaoTri',N'chkChuaLam',N'Chưa bao giờ làm ',N'Never done',N'Chưa bao giờ làm ',N'Never done')
