IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptXUAT_KHO_VAT_TU' AND KEYWORD =N'TieudeReport') UPDATE LANGUAGES SET VIETNAM=N'PHIẾU ĐỀ NGHỊ KIÊM XUẤT KHO', ENGLISH=N'PHIẾU ĐỀ NGHỊ KIÊM XUẤT KHO', VIETNAM_OR=N'PHIẾU ĐỀ NGHỊ KIÊM XUẤT KHO', ENGLISH_OR=N'PHIẾU ĐỀ NGHỊ KIÊM XUẤT KHO' WHERE FORM=N'rptXUAT_KHO_VAT_TU' AND KEYWORD=N'TieudeReport' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptXUAT_KHO_VAT_TU',N'TieudeReport',N'PHIẾU ĐỀ NGHỊ KIÊM XUẤT KHO',N'PHIẾU ĐỀ NGHỊ KIÊM XUẤT KHO',N'PHIẾU ĐỀ NGHỊ KIÊM XUẤT KHO',N'PHIẾU ĐỀ NGHỊ KIÊM XUẤT KHO')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptXUAT_KHO_VAT_TU' AND KEYWORD =N'NguoiGiao') UPDATE LANGUAGES SET VIETNAM=N'Người đề nghị', ENGLISH=N'Người đề nghị', VIETNAM_OR=N'Người đề nghị', ENGLISH_OR=N'Người đề nghị' WHERE FORM=N'rptXUAT_KHO_VAT_TU' AND KEYWORD=N'NguoiGiao' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptXUAT_KHO_VAT_TU',N'NguoiGiao',N'Người đề nghị',N'Người đề nghị',N'Người đề nghị',N'Người đề nghị')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptXUAT_KHO_VAT_TU' AND KEYWORD =N'ThuKho') UPDATE LANGUAGES SET VIETNAM=N'Trưởng BP đề nghị', ENGLISH=N'Trưởng BP đề nghị', VIETNAM_OR=N'Trưởng BP đề nghị', ENGLISH_OR=N'Trưởng BP đề nghị' WHERE FORM=N'rptXUAT_KHO_VAT_TU' AND KEYWORD=N'ThuKho' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptXUAT_KHO_VAT_TU',N'ThuKho',N'Trưởng BP đề nghị',N'Trưởng BP đề nghị',N'Trưởng BP đề nghị',N'Trưởng BP đề nghị')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptXUAT_KHO_VAT_TU' AND KEYWORD =N'PhuTrachBoPhanSD') UPDATE LANGUAGES SET VIETNAM=N'Thủ kho', ENGLISH=N'Thủ kho', VIETNAM_OR=N'Thủ kho', ENGLISH_OR=N'Thủ kho' WHERE FORM=N'rptXUAT_KHO_VAT_TU' AND KEYWORD=N'PhuTrachBoPhanSD' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptXUAT_KHO_VAT_TU',N'PhuTrachBoPhanSD',N'Thủ kho',N'Thủ kho',N'Thủ kho',N'Thủ kho')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptXUAT_KHO_VAT_TU' AND KEYWORD =N'NgoaiTe') UPDATE LANGUAGES SET VIETNAM=N'(Ký và ghi rõ họ tên)', ENGLISH=N'(Ký và ghi rõ họ tên)', VIETNAM_OR=N'(Ký và ghi rõ họ tên)', ENGLISH_OR=N'(Ký và ghi rõ họ tên)' WHERE FORM=N'rptXUAT_KHO_VAT_TU' AND KEYWORD=N'NgoaiTe' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'rptXUAT_KHO_VAT_TU',N'NgoaiTe',N'(Ký và ghi rõ họ tên)',N'(Ký và ghi rõ họ tên)',N'(Ký và ghi rõ họ tên)',N'(Ký và ghi rõ họ tên)')
