IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD =N'TieuDeBC1') UPDATE LANGUAGES SET VIETNAM=N'DANH SÁCH VẬT TƯ PHỤ TÙNG ĐÃ SỬ DỤNG CHO BẢO TRÌ ', ENGLISH=N'LIST OF ITEM USED FOR MAINTENANCE ', VIETNAM_OR=N'DANH SÁCH VẬT TƯ PHỤ TÙNG ĐÃ SỬ DỤNG CHO BẢO TRÌ ', ENGLISH_OR=N'LIST OF ITEM USED FOR MAINTENANCE ' WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD=N'TieuDeBC1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucDanhSachVTPT',N'TieuDeBC1',N'DANH SÁCH VẬT TƯ PHỤ TÙNG ĐÃ SỬ DỤNG CHO BẢO TRÌ ',N'LIST OF ITEM USED FOR MAINTENANCE ',N'DANH SÁCH VẬT TƯ PHỤ TÙNG ĐÃ SỬ DỤNG CHO BẢO TRÌ ',N'LIST OF ITEM USED FOR MAINTENANCE ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD =N'TieuDeBC2') UPDATE LANGUAGES SET VIETNAM=N'DANH SÁCH VẬT TƯ PHỤ TÙNG CHƯA SỬ DỤNG CHO BẢO TRÌ ', ENGLISH=N'LIST OF ITEM NOT USED FOR MAINTENANCE ', VIETNAM_OR=N'DANH SÁCH VẬT TƯ PHỤ TÙNG CHƯA SỬ DỤNG CHO BẢO TRÌ ', ENGLISH_OR=N'LIST OF ITEM NOT USED FOR MAINTENANCE ' WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD=N'TieuDeBC2' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucDanhSachVTPT',N'TieuDeBC2',N'DANH SÁCH VẬT TƯ PHỤ TÙNG CHƯA SỬ DỤNG CHO BẢO TRÌ ',N'LIST OF ITEM NOT USED FOR MAINTENANCE ',N'DANH SÁCH VẬT TƯ PHỤ TÙNG CHƯA SỬ DỤNG CHO BẢO TRÌ ',N'LIST OF ITEM NOT USED FOR MAINTENANCE ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD =N'optDaSudung') UPDATE LANGUAGES SET VIETNAM=N'Đã sử dụng', ENGLISH=N'Used', VIETNAM_OR=N'Đã sử dụng', ENGLISH_OR=N'Used' WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD=N'optDaSudung' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucDanhSachVTPT',N'optDaSudung',N'Đã sử dụng',N'Used',N'Đã sử dụng',N'Used')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD =N'optSeCanSuDung') UPDATE LANGUAGES SET VIETNAM=N'Chưa sử dụng', ENGLISH=N'Not used', VIETNAM_OR=N'Chưa sử dụng', ENGLISH_OR=N'Not used' WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD=N'optSeCanSuDung' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucDanhSachVTPT',N'optSeCanSuDung',N'Chưa sử dụng',N'Not used',N'Chưa sử dụng',N'Not used')
