IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'MsgKTNhomDaSuDung') UPDATE LANGUAGES SET VIETNAM=N'Nhóm đang có dữ liệu user, không thể xóa', ENGLISH=N'Cannot delete group because use already exists', VIETNAM_OR=N'Nhóm đang có dữ liệu user, không thể xóa', ENGLISH_OR=N'Cannot delete group because use already exists' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'MsgKTNhomDaSuDung' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'MsgKTNhomDaSuDung',N'Nhóm đang có dữ liệu user, không thể xóa',N'Cannot delete group because use already exists',N'Nhóm đang có dữ liệu user, không thể xóa',N'Cannot delete group because use already exists')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'MsgKTUserDaSuDung') UPDATE LANGUAGES SET VIETNAM=N'User đang có dữ liệu chức năng, không thể xóa', ENGLISH=N'Cannot delete current user because this fucntion already exists', VIETNAM_OR=N'User đang có dữ liệu chức năng, không thể xóa', ENGLISH_OR=N'Cannot delete current user because this fucntion already exists' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'MsgKTUserDaSuDung' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'MsgKTUserDaSuDung',N'User đang có dữ liệu chức năng, không thể xóa',N'Cannot delete current user because this fucntion already exists',N'User đang có dữ liệu chức năng, không thể xóa',N'Cannot delete current user because this fucntion already exists')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'MsgXoaNhom') UPDATE LANGUAGES SET VIETNAM=N'Xóa nhóm', ENGLISH=N'Delete this group?', VIETNAM_OR=N'Xóa nhóm', ENGLISH_OR=N'Delete this group?' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'MsgXoaNhom' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'MsgXoaNhom',N'Xóa nhóm',N'Delete this group?',N'Xóa nhóm',N'Delete this group?')
