IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD =N'optSeCanSuDung') UPDATE LANGUAGES SET VIETNAM=N'Sẽ cần sử dụng ', ENGLISH=N'Needed for use ', VIETNAM_OR=N'Sẽ cần sử dụng ', ENGLISH_OR=N'Needed for use ' WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD=N'optSeCanSuDung' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucDanhSachVTPT',N'optSeCanSuDung',N'Sẽ cần sử dụng ',N'Needed for use ',N'Sẽ cần sử dụng ',N'Needed for use ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD =N'TieuDeBC2') UPDATE LANGUAGES SET VIETNAM=N'DANH SÁCH VẬT TƯ PHỤ TÙNG SẼ CẦN SỬ DỤNG CHO BẢO TRÌ ', ENGLISH=N'LIST OF ITEMS NEEDED FOR MAINTENANCE ', VIETNAM_OR=N'DANH SÁCH VẬT TƯ PHỤ TÙNG SẼ CẦN SỬ DỤNG CHO BẢO TRÌ ', ENGLISH_OR=N'LIST OF ITEMS NEEDED FOR MAINTENANCE ' WHERE FORM=N'ucDanhSachVTPT' AND KEYWORD=N'TieuDeBC2' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucDanhSachVTPT',N'TieuDeBC2',N'DANH SÁCH VẬT TƯ PHỤ TÙNG SẼ CẦN SỬ DỤNG CHO BẢO TRÌ ',N'LIST OF ITEMS NEEDED FOR MAINTENANCE ',N'DANH SÁCH VẬT TƯ PHỤ TÙNG SẼ CẦN SỬ DỤNG CHO BẢO TRÌ ',N'LIST OF ITEMS NEEDED FOR MAINTENANCE ')


Update DS_REPORT set NOTE =N'Nếu chọn option "Đã sử dụng", phền mềm sẽ thống kê vật tư phụ tùng đã sử dụng cho bảo trì trên các PBT đã nghiệm thu và Đã khóa; chọn option "Sẽ cần sử dụng" phần mềm sẽ tính tổng số lượng vật tư phụ tùng yêu cầu trên các PBT có tình trạng Đã hoàn thành, Đang thực hiện và Đang soạn, sau đó trừ đi những vật tư phụ tùng đã xuất cho các PBT này'
