IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmBCaoHCKD' AND KEYWORD =N'SO_NGAY_CL') UPDATE LANGUAGES SET VIETNAM=N'Số ngày còn lại', ENGLISH=N'X day remains', VIETNAM_OR=N'Số ngày còn lại', ENGLISH_OR=N'X day remains' WHERE FORM=N'frmBCaoHCKD' AND KEYWORD=N'SO_NGAY_CL' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmBCaoHCKD',N'SO_NGAY_CL',N'Số ngày còn lại',N'X day remains',N'Số ngày còn lại',N'X day remains')
