IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoigianchaymay' AND KEYWORD =N'msgDungCauTruc') UPDATE LANGUAGES SET VIETNAM=N'Cấu trúc file excel: NGAY - CHI_SO_DONG_HO - SO_GIO_LUY_KE', ENGLISH=N'Structure of excel:  NGAY - CHI_SO_DONG_HO - SO_GIO_LUY_KE', VIETNAM_OR=N'Cấu trúc file excel: NGAY - CHI_SO_DONG_HO - SO_GIO_LUY_KE', ENGLISH_OR=N'Structure of excel:  NGAY - CHI_SO_DONG_HO - SO_GIO_LUY_KE' WHERE FORM=N'frmThoigianchaymay' AND KEYWORD=N'msgDungCauTruc' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoigianchaymay',N'msgDungCauTruc',N'Cấu trúc file excel: NGAY - CHI_SO_DONG_HO - SO_GIO_LUY_KE',N'Structure of excel:  NGAY - CHI_SO_DONG_HO - SO_GIO_LUY_KE',N'Cấu trúc file excel: NGAY - CHI_SO_DONG_HO - SO_GIO_LUY_KE',N'Structure of excel:  NGAY - CHI_SO_DONG_HO - SO_GIO_LUY_KE')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoigianchaymay' AND KEYWORD =N'msgSaiDinhDang') UPDATE LANGUAGES SET VIETNAM=N'1 số ngày sai định dạng', ENGLISH=N'Some format wrong? (Date)', VIETNAM_OR=N'1 số ngày sai định dạng', ENGLISH_OR=N'Some format wrong? (Date)' WHERE FORM=N'frmThoigianchaymay' AND KEYWORD=N'msgSaiDinhDang' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoigianchaymay',N'msgSaiDinhDang',N'1 số ngày sai định dạng',N'Some format wrong? (Date)',N'1 số ngày sai định dạng',N'Some format wrong? (Date)')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoigianchaymay' AND KEYWORD =N'lblThongBao') UPDATE LANGUAGES SET VIETNAM=N'Đang trong trạng thái import, vui lòng sao chép dữ liệu từ excel dán vào khung.', ENGLISH=N'Currently in import mode. Please copy data from excel to interface.', VIETNAM_OR=N'Đang trong trạng thái import, vui lòng sao chép dữ liệu từ excel dán vào khung.', ENGLISH_OR=N'Currently in import mode. Please copy data from excel to interface.' WHERE FORM=N'frmThoigianchaymay' AND KEYWORD=N'lblThongBao' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoigianchaymay',N'lblThongBao',N'Đang trong trạng thái import, vui lòng sao chép dữ liệu từ excel dán vào khung.',N'Currently in import mode. Please copy data from excel to interface.',N'Đang trong trạng thái import, vui lòng sao chép dữ liệu từ excel dán vào khung.',N'Currently in import mode. Please copy data from excel to interface.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoigianchaymay' AND KEYWORD =N'blChiSoDenNgay') UPDATE LANGUAGES SET VIETNAM=N' Tổng chỉ số đến ngày', ENGLISH=N' Tổng chỉ số đến ngày', VIETNAM_OR=N' Tổng chỉ số đến ngày', ENGLISH_OR=N' Tổng chỉ số đến ngày' WHERE FORM=N'frmThoigianchaymay' AND KEYWORD=N'blChiSoDenNgay' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoigianchaymay',N'blChiSoDenNgay',N' Tổng chỉ số đến ngày',N' Tổng chỉ số đến ngày',N' Tổng chỉ số đến ngày',N' Tổng chỉ số đến ngày')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoigianchaymay' AND KEYWORD =N'btnImport') UPDATE LANGUAGES SET VIETNAM=N'Import', ENGLISH=N'Import', VIETNAM_OR=N'Import', ENGLISH_OR=N'Import' WHERE FORM=N'frmThoigianchaymay' AND KEYWORD=N'btnImport' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoigianchaymay',N'btnImport',N'Import',N'Import',N'Import',N'Import')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoigianchaymay' AND KEYWORD =N'msgChiSoAm') UPDATE LANGUAGES SET VIETNAM=N'Chỉ số âm, OK để tiếp tục hoặc Cancel', ENGLISH=N'Negative index. Press Ok to continue or cancel
', VIETNAM_OR=N'Chỉ số âm, OK để tiếp tục hoặc Cancel', ENGLISH_OR=N'Negative index. Press Ok to continue or cancel
' WHERE FORM=N'frmThoigianchaymay' AND KEYWORD=N'msgChiSoAm' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoigianchaymay',N'msgChiSoAm',N'Chỉ số âm, OK để tiếp tục hoặc Cancel',N'Negative index. Press Ok to continue or cancel
',N'Chỉ số âm, OK để tiếp tục hoặc Cancel',N'Negative index. Press Ok to continue or cancel
')
