IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoiGianChayMay' AND KEYWORD =N'SO_GIO_LUY_KE') UPDATE LANGUAGES SET VIETNAM=N'Số giờ lũy kế', ENGLISH=N'Metter values', VIETNAM_OR=N'Số giờ lũy kế', ENGLISH_OR=N'Metter values' WHERE FORM=N'frmThoiGianChayMay' AND KEYWORD=N'SO_GIO_LUY_KE' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoiGianChayMay',N'SO_GIO_LUY_KE',N'Số giờ lũy kế',N'Metter values',N'Số giờ lũy kế',N'Metter values')
