IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThongtinthietbi' AND KEYWORD =N'msgTrungDuLieu') UPDATE LANGUAGES SET VIETNAM=N'Trùng dữ liệu thông số', ENGLISH=N'Duplicate data', VIETNAM_OR=N'Trùng dữ liệu thông số', ENGLISH_OR=N'Duplicate data' WHERE FORM=N'frmThongtinthietbi' AND KEYWORD=N'msgTrungDuLieu' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThongtinthietbi',N'msgTrungDuLieu',N'Trùng dữ liệu thông số',N'Duplicate data',N'Trùng dữ liệu thông số',N'Duplicate data')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhapThietBiMoi' AND KEYWORD =N'MsgThietBi_Rong') UPDATE LANGUAGES SET VIETNAM=N'Nhập mã thiết bị', ENGLISH=N'Equipment code empty', VIETNAM_OR=N'Nhập mã thiết bị', ENGLISH_OR=N'Equipment code empty' WHERE FORM=N'frmNhapThietBiMoi' AND KEYWORD=N'MsgThietBi_Rong' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhapThietBiMoi',N'MsgThietBi_Rong',N'Nhập mã thiết bị',N'Equipment code empty',N'Nhập mã thiết bị',N'Equipment code empty')
