IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoiGianChayMay' AND KEYWORD =N'SO_GIO_LUY_KE') UPDATE LANGUAGES SET VIETNAM=N'Số giờ lũy kế', ENGLISH=N'Metter values', VIETNAM_OR=N'Số giờ lũy kế', ENGLISH_OR=N'Metter values' WHERE FORM=N'frmThoiGianChayMay' AND KEYWORD=N'SO_GIO_LUY_KE' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoiGianChayMay',N'SO_GIO_LUY_KE',N'Số giờ lũy kế',N'Metter values',N'Số giờ lũy kế',N'Metter values')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoiGianChayMay' AND KEYWORD =N'msgXoaDongHienTai') UPDATE LANGUAGES SET VIETNAM=N'Xóa thời gian chọn', ENGLISH=N'Delete selected row', VIETNAM_OR=N'Xóa thời gian chọn', ENGLISH_OR=N'Delete selected row' WHERE FORM=N'frmThoiGianChayMay' AND KEYWORD=N'msgXoaDongHienTai' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoiGianChayMay',N'msgXoaDongHienTai',N'Xóa thời gian chọn',N'Delete selected row',N'Xóa thời gian chọn',N'Delete selected row')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoiGianChayMay' AND KEYWORD =N'msgSoGioLuyKeNotValid') UPDATE LANGUAGES SET VIETNAM=N'Số giờ lũy kế không hợp lệ', ENGLISH=N'Metter values not valid', VIETNAM_OR=N'Số giờ lũy kế không hợp lệ', ENGLISH_OR=N'Metter values not valid' WHERE FORM=N'frmThoiGianChayMay' AND KEYWORD=N'msgSoGioLuyKeNotValid' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoiGianChayMay',N'msgSoGioLuyKeNotValid',N'Số giờ lũy kế không hợp lệ',N'Metter values not valid',N'Số giờ lũy kế không hợp lệ',N'Metter values not valid')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThoiGianChayMay' AND KEYWORD =N'msgBigData') UPDATE LANGUAGES SET VIETNAM=N'Vui lòng lọc danh sách máy theo địa điểm và dây chuyền.', ENGLISH=N'Please filter equipment list by work site and line', VIETNAM_OR=N'Vui lòng lọc danh sách máy theo địa điểm và dây chuyền.', ENGLISH_OR=N'Please filter equipment list by work site and line' WHERE FORM=N'frmThoiGianChayMay' AND KEYWORD=N'msgBigData' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThoiGianChayMay',N'msgBigData',N'Vui lòng lọc danh sách máy theo địa điểm và dây chuyền.',N'Please filter equipment list by work site and line',N'Vui lòng lọc danh sách máy theo địa điểm và dây chuyền.',N'Please filter equipment list by work site and line')
