IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmGiamsattinhtrang' AND KEYWORD =N'lblTongThoiGian') UPDATE LANGUAGES SET VIETNAM=N'Tổng thời gian', ENGLISH=N'Total times', VIETNAM_OR=N'Tổng thời gian', ENGLISH_OR=N'Total times' WHERE FORM=N'frmGiamsattinhtrang' AND KEYWORD=N'lblTongThoiGian' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmGiamsattinhtrang',N'lblTongThoiGian',N'Tổng thời gian',N'Total times',N'Tổng thời gian',N'Total times')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD =N'lblSLTon') UPDATE LANGUAGES SET VIETNAM=N'SL tồn', ENGLISH=N'Stock Qty',CHINESE=N'Stock Qty', VIETNAM_OR=N'SL tồn', ENGLISH_OR=N'Stock Qty' , CHINESE_OR=N'Stock Qty' WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD=N'lblSLTon' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'frmDanhmucphutung_CS',N'lblSLTon',N'SL tồn',N'Stock Qty',N'Stock Qty',N'SL tồn',N'Stock Qty',N'Stock Qty','ECOMAIN')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD =N'chkVT') UPDATE LANGUAGES SET VIETNAM=N'Vật tư', ENGLISH=N'Material',CHINESE=N'Material', VIETNAM_OR=N'Vật tư', ENGLISH_OR=N'Material' , CHINESE_OR=N'Material' WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD=N'chkVT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'frmDanhmucphutung_CS',N'chkVT',N'Vật tư',N'Material',N'Material',N'Vật tư',N'Material',N'Material','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD =N'optActive') UPDATE LANGUAGES SET VIETNAM=N'Active', ENGLISH=N'Active', VIETNAM_OR=N'Active', ENGLISH_OR=N'Active' WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD=N'optActive' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR,MS_MODULE) VALUES(N'frmDanhmucphutung_CS',N'optActive',N'Active',N'Active',N'Active',N'Active','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD =N'optDeactivate') UPDATE LANGUAGES SET VIETNAM=N'Deactivate', ENGLISH=N'Deactivate', VIETNAM_OR=N'Deactivate', ENGLISH_OR=N'Deactivate' WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD=N'optDeactivate' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR,MS_MODULE) VALUES(N'frmDanhmucphutung_CS',N'optDeactivate',N'Deactivate',N'Deactivate',N'Deactivate',N'Deactivate','ECOMAIN')
