IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'msgThoatChucNangGhi') UPDATE LANGUAGES SET VIETNAM=N'Không thể link tới PBT do đang thực hiện Thêm/Sửa', ENGLISH=N'Cannot link Work Order in Add/Edit mode', VIETNAM_OR=N'Không thể link tới PBT do đang thực hiện Thêm/Sửa', ENGLISH_OR=N'Cannot link Work Order in Add/Edit mode' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'msgThoatChucNangGhi' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmPhieuBaoTri_New',N'msgThoatChucNangGhi',N'Không thể link tới PBT do đang thực hiện Thêm/Sửa',N'Cannot link Work Order in Add/Edit mode',N'Không thể link tới PBT do đang thực hiện Thêm/Sửa',N'Cannot link Work Order in Add/Edit mode')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKehoachtongthe_odd' AND KEYWORD =N'msgChuaChonGiamSatCanThucHien') UPDATE LANGUAGES SET VIETNAM=N'Vui lòng chọn giám sát', ENGLISH=N'Select parameter', VIETNAM_OR=N'Vui lòng chọn giám sát', ENGLISH_OR=N'Select parameter' WHERE FORM=N'frmKehoachtongthe_odd' AND KEYWORD=N'msgChuaChonGiamSatCanThucHien' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKehoachtongthe_odd',N'msgChuaChonGiamSatCanThucHien',N'Vui lòng chọn giám sát',N'Select parameter',N'Vui lòng chọn giám sát',N'Select parameter')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKehoachtongthe_odd' AND KEYWORD =N'btnHuy') UPDATE LANGUAGES SET VIETNAM=N'Hủy', ENGLISH=N'Cancel', VIETNAM_OR=N'Hủy', ENGLISH_OR=N'Cancel' WHERE FORM=N'frmKehoachtongthe_odd' AND KEYWORD=N'btnHuy' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKehoachtongthe_odd',N'btnHuy',N'Hủy',N'Cancel',N'Hủy',N'Cancel')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmKehoachtongthe_odd' AND KEYWORD =N'msgHuyVeChuaGiaQuyet') UPDATE LANGUAGES SET VIETNAM=N'Chuyển về trạng thái chưa giải quyết.', ENGLISH=N'Switch to not solve.', VIETNAM_OR=N'Chuyển về trạng thái chưa giải quyết.', ENGLISH_OR=N'Switch to not solve.' WHERE FORM=N'frmKehoachtongthe_odd' AND KEYWORD=N'msgHuyVeChuaGiaQuyet' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmKehoachtongthe_odd',N'msgHuyVeChuaGiaQuyet',N'Chuyển về trạng thái chưa giải quyết.',N'Switch to not solve.',N'Chuyển về trạng thái chưa giải quyết.',N'Switch to not solve.')
