
update DS_FORM_VISIBILE 
set TEN_CONTROL = N'Lưới thiết bị'
WHERE ID_FORM = 'frmLichTau'

update DS_FORM_VISIBILE 
set TEN_CONTROL = N'Lưới danh sách vật tư nhập kho'
WHERE ID_FORM = 'frmPhieuNhapKho_New'

update DS_FORM_VISIBILE 
set TEN_CONTROL = N'Lưới danh sách phiếu xuất kho'
WHERE ID_FORM = 'FrmPhieuXuatKhoVatTu_CS'

