IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmGoodreceive' AND KEYWORD =N'donvitinh') UPDATE LANGUAGES SET VIETNAM=N'ĐVT', ENGLISH=N'UoM', VIETNAM_OR=N'ĐVT', ENGLISH_OR=N'UoM' WHERE FORM=N'frmGoodreceive' AND KEYWORD=N'donvitinh' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmGoodreceive',N'donvitinh',N'ĐVT',N'UoM',N'ĐVT',N'UoM')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmGoodreturn' AND KEYWORD =N'donvitinhb') UPDATE LANGUAGES SET VIETNAM=N'ĐVT', ENGLISH=N'UoM', VIETNAM_OR=N'ĐVT', ENGLISH_OR=N'UoM' WHERE FORM=N'frmGoodreturn' AND KEYWORD=N'donvitinhb' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmGoodreturn',N'donvitinhb',N'ĐVT',N'UoM',N'ĐVT',N'UoM')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmThongtinthietbi' AND KEYWORD =N'MS_DV_TG') UPDATE LANGUAGES SET VIETNAM=N'ĐVT TG', ENGLISH=N'Unit', VIETNAM_OR=N'ĐVT TG', ENGLISH_OR=N'Unit' WHERE FORM=N'frmThongtinthietbi' AND KEYWORD=N'MS_DV_TG' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmThongtinthietbi',N'MS_DV_TG',N'ĐVT TG',N'Unit',N'ĐVT TG',N'Unit')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDonvitinh' AND KEYWORD =N'TEN_3') UPDATE LANGUAGES SET VIETNAM=N'DVT', ENGLISH=N'Counting Unit', VIETNAM_OR=N'DVT', ENGLISH_OR=N'Counting Unit' WHERE FORM=N'frmDonvitinh' AND KEYWORD=N'TEN_3' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDonvitinh',N'TEN_3',N'DVT',N'Counting Unit',N'DVT',N'Counting Unit')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucBCHieuChuanKiemDinh' AND KEYWORD =N'MS_DV_TG') UPDATE LANGUAGES SET VIETNAM=N'ĐVT TG', ENGLISH=N'Unit', VIETNAM_OR=N'ĐVT TG', ENGLISH_OR=N'Unit' WHERE FORM=N'ucBCHieuChuanKiemDinh' AND KEYWORD=N'MS_DV_TG' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucBCHieuChuanKiemDinh',N'MS_DV_TG',N'ĐVT TG',N'Unit',N'ĐVT TG',N'Unit')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmThongtinthietbi' AND KEYWORD =N'tabTSGSTT') UPDATE LANGUAGES SET VIETNAM=N'Thông số GSTT định tính', ENGLISH=N'Qualitative CM Parameter', VIETNAM_OR=N'Thông số GSTT định tính', ENGLISH_OR=N'Qualitative CM Parameter' WHERE FORM=N'FrmThongtinthietbi' AND KEYWORD=N'tabTSGSTT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmThongtinthietbi',N'tabTSGSTT',N'Thông số GSTT định tính',N'Qualitative CM Parameter',N'Thông số GSTT định tính',N'Qualitative CM Parameter')
