IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'GroupControl1') UPDATE LANGUAGES SET VIETNAM=N'Danh sách nhóm users ', ENGLISH=N'List of user groups', VIETNAM_OR=N'Danh sách nhóm users ', ENGLISH_OR=N'List of user groups' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'GroupControl1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'GroupControl1',N'Danh sách nhóm users ',N'List of user groups',N'Danh sách nhóm users ',N'List of user groups')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmNhomquyen' AND KEYWORD =N'GroupControl2') UPDATE LANGUAGES SET VIETNAM=N'Danh sách users của nhóm ', ENGLISH=N'List of users of group', VIETNAM_OR=N'Danh sách users của nhóm ', ENGLISH_OR=N'List of users of group' WHERE FORM=N'frmNhomquyen' AND KEYWORD=N'GroupControl2' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmNhomquyen',N'GroupControl2',N'Danh sách users của nhóm ',N'List of users of group',N'Danh sách users của nhóm ',N'List of users of group')
