IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD =N'msgNgayBDThucTeLonHonNgayHienTai') UPDATE LANGUAGES SET VIETNAM=N'Ngày BĐ thực tế lớn hơn ngày hiện tại.', ENGLISH=N'Start date be later than current date!', VIETNAM_OR=N'Ngày BĐ thực tế lớn hơn ngày hiện tại.', ENGLISH_OR=N'Start date be later than current date!' WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD=N'msgNgayBDThucTeLonHonNgayHienTai' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_New',N'msgNgayBDThucTeLonHonNgayHienTai',N'Ngày BĐ thực tế lớn hơn ngày hiện tại.',N'Start date be later than current date!',N'Ngày BĐ thực tế lớn hơn ngày hiện tại.',N'Start date be later than current date!')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD =N'msgDenNgayThucTeLonHonNgayHienTai') UPDATE LANGUAGES SET VIETNAM=N'Đến ngày thực tế lớn hơn hiện tại.', ENGLISH=N'From date be later than current date.', VIETNAM_OR=N'Đến ngày thực tế lớn hơn hiện tại.', ENGLISH_OR=N'From date be later than current date.' WHERE FORM=N'frmPhieuBaoTri_New' AND KEYWORD=N'msgDenNgayThucTeLonHonNgayHienTai' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmPhieuBaoTri_New',N'msgDenNgayThucTeLonHonNgayHienTai',N'Đến ngày thực tế lớn hơn hiện tại.',N'From date be later than current date.',N'Đến ngày thực tế lớn hơn hiện tại.',N'From date be later than current date.')
