IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD =N'lblNguoiTN') UPDATE LANGUAGES SET VIETNAM=N'Người mua', ENGLISH=N'Requested by', VIETNAM_OR=N'Người mua', ENGLISH_OR=N'Requested by' WHERE FORM=N'frmDeXuatMuaHang_New' AND KEYWORD=N'lblNguoiTN' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDeXuatMuaHang_New',N'lblNguoiTN',N'Người mua',N'Requested by',N'Người mua',N'Requested by')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD =N'chkTheoKho') UPDATE LANGUAGES SET VIETNAM=N'Quản lý tồn theo từng kho', ENGLISH=N'Manage Inventory by warehouse', VIETNAM_OR=N'Quản lý tồn theo từng kho', ENGLISH_OR=N'Manage Inventory by warehouse' WHERE FORM=N'frmDanhmucphutung_CS' AND KEYWORD=N'chkTheoKho' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDanhmucphutung_CS',N'chkTheoKho',N'Quản lý tồn theo từng kho',N'Manage Inventory by warehouse',N'Quản lý tồn theo từng kho',N'Manage Inventory by warehouse')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmYeuCauCuaNSD' AND KEYWORD =N'menuViewTiepNhanThongTin') UPDATE LANGUAGES SET VIETNAM=N'Tình hình xử lý yêu cầu', ENGLISH=N'Request Status',CHINESE=N'Request Status', VIETNAM_OR=N'Tình hình xử lý yêu cầu', ENGLISH_OR=N'Request Status' , CHINESE_OR=N'Request Status' WHERE FORM=N'frmYeuCauCuaNSD' AND KEYWORD=N'menuViewTiepNhanThongTin' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'frmYeuCauCuaNSD',N'menuViewTiepNhanThongTin',N'Tình hình xử lý yêu cầu',N'Request Status',N'Request Status',N'Tình hình xử lý yêu cầu',N'Request Status',N'Request Status','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmYeuCauCuaNSD' AND KEYWORD =N'MenuLinkTaiLieu') UPDATE LANGUAGES SET VIETNAM=N'Xem tài liệu', ENGLISH=N'View Document',CHINESE=N'View Document', VIETNAM_OR=N'Xem tài liệu', ENGLISH_OR=N'View Document' , CHINESE_OR=N'View Document' WHERE FORM=N'frmYeuCauCuaNSD' AND KEYWORD=N'MenuLinkTaiLieu' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'frmYeuCauCuaNSD',N'MenuLinkTaiLieu',N'Xem tài liệu',N'View Document',N'View Document',N'Xem tài liệu',N'View Document',N'View Document','ECOMAIN')
