IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD =N'TGNM') UPDATE LANGUAGES SET VIETNAM=N'TGNM', ENGLISH=N'TGNM',CHINESE=N'TGNM', VIETNAM_OR=N'TGNM', ENGLISH_OR=N'TGNM' , CHINESE_OR=N'TGNM' WHERE FORM=N'FrmPhieuBaoTri_New' AND KEYWORD=N'TGNM' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'FrmPhieuBaoTri_New',N'TGNM',N'TGNM',N'TGNM',N'TGNM',N'TGNM',N'TGNM',N'TGNM','ECOMAIN')
