IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblDevice') UPDATE LANGUAGES SET VIETNAM=N'Máy', ENGLISH=N'Device',CHINESE=N'Device', VIETNAM_OR=N'Máy', ENGLISH_OR=N'Device' , CHINESE_OR=N'Device' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblDevice' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblDevice',N'Máy',N'Device',N'Device',N'Máy',N'Device',N'Device','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblStartDate') UPDATE LANGUAGES SET VIETNAM=N'Ngày BĐ', ENGLISH=N'Start date',CHINESE=N'Start date', VIETNAM_OR=N'Ngày BĐ', ENGLISH_OR=N'Start date' , CHINESE_OR=N'Start date' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblStartDate' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblStartDate',N'Ngày BĐ',N'Start date',N'Start date',N'Ngày BĐ',N'Start date',N'Start date','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblLoaiBT') UPDATE LANGUAGES SET VIETNAM=N'Loại BT', ENGLISH=N'Maintenance type',CHINESE=N'Maintenance type', VIETNAM_OR=N'Loại BT', ENGLISH_OR=N'Maintenance type' , CHINESE_OR=N'Maintenance type' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblLoaiBT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblLoaiBT',N'Loại BT',N'Maintenance type',N'Maintenance type',N'Loại BT',N'Maintenance type',N'Maintenance type','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblNguoiLap') UPDATE LANGUAGES SET VIETNAM=N'Người lập', ENGLISH=N'Form by',CHINESE=N'Form by', VIETNAM_OR=N'Người lập', ENGLISH_OR=N'Form by' , CHINESE_OR=N'Form by' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblNguoiLap' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblNguoiLap',N'Người lập',N'Form by',N'Form by',N'Người lập',N'Form by',N'Form by','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblDateCreated') UPDATE LANGUAGES SET VIETNAM=N'Ngày lập', ENGLISH=N'Forming date',CHINESE=N'Forming date', VIETNAM_OR=N'Ngày lập', ENGLISH_OR=N'Forming date' , CHINESE_OR=N'Forming date' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblDateCreated' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblDateCreated',N'Ngày lập',N'Forming date',N'Forming date',N'Ngày lập',N'Forming date',N'Forming date','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblStartDate') UPDATE LANGUAGES SET VIETNAM=N'Ngày BĐ', ENGLISH=N'Beginning date',CHINESE=N'Beginning date', VIETNAM_OR=N'Ngày BĐ', ENGLISH_OR=N'Beginning date' , CHINESE_OR=N'Beginning date' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblStartDate' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblStartDate',N'Ngày BĐ',N'Beginning date',N'Beginning date',N'Ngày BĐ',N'Beginning date',N'Beginning date','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblEndDate') UPDATE LANGUAGES SET VIETNAM=N'Ngày KT', ENGLISH=N'Complete date',CHINESE=N'Complete date', VIETNAM_OR=N'Ngày KT', ENGLISH_OR=N'Complete date' , CHINESE_OR=N'Complete date' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblEndDate' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblEndDate',N'Ngày KT',N'Complete date',N'Complete date',N'Ngày KT',N'Complete date',N'Complete date','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblPriority') UPDATE LANGUAGES SET VIETNAM=N'Mức ưu tiên', ENGLISH=N'Priority level',CHINESE=N'Priority level', VIETNAM_OR=N'Mức ưu tiên', ENGLISH_OR=N'Priority level' , CHINESE_OR=N'Priority level' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblPriority' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblPriority',N'Mức ưu tiên',N'Priority level',N'Priority level',N'Mức ưu tiên',N'Priority level',N'Priority level','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblLastDate') UPDATE LANGUAGES SET VIETNAM=N'Ngày CN cuối', ENGLISH=N'PM last date',CHINESE=N'PM last date', VIETNAM_OR=N'Ngày CN cuối', ENGLISH_OR=N'PM last date' , CHINESE_OR=N'PM last date' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblLastDate' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblLastDate',N'Ngày CN cuối',N'PM last date',N'PM last date',N'Ngày CN cuối',N'PM last date',N'PM last date','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblBreakdownDate') UPDATE LANGUAGES SET VIETNAM=N'Ngày hỏng', ENGLISH=N'Failure date',CHINESE=N'Failure date', VIETNAM_OR=N'Ngày hỏng', ENGLISH_OR=N'Failure date' , CHINESE_OR=N'Failure date' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblBreakdownDate' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblBreakdownDate',N'Ngày hỏng',N'Failure date',N'Failure date',N'Ngày hỏng',N'Failure date',N'Failure date','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblToBreakdownDate') UPDATE LANGUAGES SET VIETNAM=N'Đến ngày hỏng', ENGLISH=N'End Break',CHINESE=N'End Break', VIETNAM_OR=N'Đến ngày hỏng', ENGLISH_OR=N'End Break' , CHINESE_OR=N'End Break' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblToBreakdownDate' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblToBreakdownDate',N'Đến ngày hỏng',N'End Break',N'End Break',N'Đến ngày hỏng',N'End Break',N'End Break','ECOMAIN')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'WorkOrderWeb' AND KEYWORD =N'lblReason') UPDATE LANGUAGES SET VIETNAM=N'Lý do', ENGLISH=N'Reason',CHINESE=N'Reason', VIETNAM_OR=N'Lý do', ENGLISH_OR=N'Reason' , CHINESE_OR=N'Reason' WHERE FORM=N'WorkOrderWeb' AND KEYWORD=N'lblReason' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'WorkOrderWeb',N'lblReason',N'Lý do',N'Reason',N'Reason',N'Lý do',N'Reason',N'Reason','ECOMAIN')
