IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'rptPHIEU_BAO_TRI_VH' AND KEYWORD =N'DV_SD') UPDATE LANGUAGES SET VIETNAM=N'Thẩm tra ', ENGLISH=N'Verification (unit used equipment)',CHINESE=N'Verification (unit used equipment)', VIETNAM_OR=N'Thẩm tra ', ENGLISH_OR=N'Verification (unit used equipment)' , CHINESE_OR=N'Verification (unit used equipment)' WHERE FORM=N'rptPHIEU_BAO_TRI_VH' AND KEYWORD=N'DV_SD' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,CHINESE,VIETNAM_OR,ENGLISH_OR,CHINESE_OR,MS_MODULE)  VALUES(N'rptPHIEU_BAO_TRI_VH',N'DV_SD',N'Thẩm tra ',N'Verification (unit used equipment)',N'Verification (unit used equipment)',N'Thẩm tra ',N'Verification (unit used equipment)',N'Verification (unit used equipment)','ECOMAIN')
