
ALTER procedure [dbo].[GetPHIEU_BAO_TRI_CV_PHU_TROs]
@MS_PHIEU_BAO_TRI NVARCHAR(20)
 AS

SELECT     TEN_CONG_VIEC,SO_GIO_KH,MS_PHIEU_BAO_TRI, CONVERT(INT,STT) AS STT ,NGAY_HOAN_THANH,NGAY_BDCV,NGAY_KTCV,CONVERT(INT,STT) AS  STT_CV
FROM         PHIEU_BAO_TRI_CV_PHU_TRO
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
