
--exec DeletePHIEU_BAO_TRI_CV_PHU_TRO 'WO-201702000773', 1088

ALTER procedure [dbo].[DeletePHIEU_BAO_TRI_CV_PHU_TRO]
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@STT int
AS

DELETE FROM PHIEU_BAO_TRI_CV_PHU_TRO_PHU_TUNG WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND STT=@STT

DELETE FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND STT=@STT

DELETE FROM PHIEU_BAO_TRI_CV_PHU_TRO WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI AND STT=@STT

