
IF NOT  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRANG_THAI_PSDV]') AND type in (N'U'))
BEGIN
	CREATE TABLE [dbo].[TRANG_THAI_PSDV](
		[MS_TRANG_THAI] [int] NOT NULL,
		[TEN_TRANG_THAI] [nvarchar](250) NULL,
		[GHI_CHU] [nvarchar](250) NULL,
	 CONSTRAINT [PK_TRANG_THAI_PSDV] PRIMARY KEY CLUSTERED 
	(
		[MS_TRANG_THAI] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	) ON [PRIMARY]
END




IF NOT  EXISTS (SELECT * FROM [TRANG_THAI_PSDV] WHERE MS_TRANG_THAI = 1)
BEGIN
	INSERT [dbo].[TRANG_THAI_PSDV] ([MS_TRANG_THAI], [TEN_TRANG_THAI], [GHI_CHU]) VALUES (1, N'Đang soạn', NULL)
END

GO
IF NOT  EXISTS (SELECT * FROM [TRANG_THAI_PSDV] WHERE MS_TRANG_THAI = 2)	
BEGIN
	INSERT [dbo].[TRANG_THAI_PSDV] ([MS_TRANG_THAI], [TEN_TRANG_THAI], [GHI_CHU]) VALUES (2, N'Đã gửi Mua hàng', NULL)
END

GO
IF NOT  EXISTS (SELECT * FROM [TRANG_THAI_PSDV] WHERE MS_TRANG_THAI = 3)	
BEGIN
	INSERT [dbo].[TRANG_THAI_PSDV] ([MS_TRANG_THAI], [TEN_TRANG_THAI], [GHI_CHU]) VALUES (3, N'Đã gửi NAV', NULL)
END

GO
IF NOT  EXISTS (SELECT * FROM [TRANG_THAI_PSDV] WHERE MS_TRANG_THAI = 4)	
BEGIN
	INSERT [dbo].[TRANG_THAI_PSDV] ([MS_TRANG_THAI], [TEN_TRANG_THAI], [GHI_CHU]) VALUES (4, N'Đang thực hiện', NULL)
END

GO
IF NOT  EXISTS (SELECT * FROM [TRANG_THAI_PSDV] WHERE MS_TRANG_THAI = 5)	
BEGIN
	INSERT [dbo].[TRANG_THAI_PSDV] ([MS_TRANG_THAI], [TEN_TRANG_THAI], [GHI_CHU]) VALUES (5, N'Hoàn thành', NULL)
END

GO
IF NOT  EXISTS (SELECT * FROM [TRANG_THAI_PSDV] WHERE MS_TRANG_THAI = 6)	
BEGIN
	INSERT [dbo].[TRANG_THAI_PSDV] ([MS_TRANG_THAI], [TEN_TRANG_THAI], [GHI_CHU]) VALUES (6, N'Cancel', NULL)
END
