
ALTER PROC [dbo].[INTEGRATION_KHACH_HANG_UPDATE]
	@STT int ,
	@MS_KH nvarchar(20),
	@MS_KH_CU nvarchar(20),
	@TEN_CONG_TY nvarchar(255) ,
	@TEN_RUT_GON nvarchar(255) ,
	@DIA_CHI nvarchar(100) ,
	@TEL NVARCHAR(30) ,
	@FAX NVARCHAR(30) ,
	@TEN_NDD NVARCHAR(100) ,
	@EMAIL NVARCHAR(100) ,
	@QUOCGIA NVARCHAR(255) ,
	@MS_THUE NVARCHAR(255) ,
	@STATUS NVARCHAR(1)
AS

IF (ISNULL(@TEN_RUT_GON,'') = '')
BEGIN
	SET @TEN_RUT_GON = @TEN_CONG_TY
END

Declare @MA_QG nvarchar(30)
SELECT @MA_QG = MA_QG FROM IC_QUOC_GIA WHERE MA_QG = @QUOCGIA

IF @STATUS = 'N'
BEGIN
	IF EXISTS ( SELECT MS_KH FROM KHACH_HANG WHERE MS_KH = @MS_KH)
	BEGIN
		UPDATE KHACH_HANG SET TEN_CONG_TY = @TEN_CONG_TY, TEN_RUT_GON = @TEN_RUT_GON, DIA_CHI = @DIA_CHI,
			TEL = @TEL, FAX = @FAX, TEN_NDD = @TEN_NDD, EMAIL = @EMAIL, QUOCGIA = @MA_QG,
			MS_THUE = @MS_THUE
		WHERE MS_KH = @MS_KH 
	
	END
	ELSE
	BEGIN
		INSERT INTO KHACH_HANG(MS_KH, TEN_CONG_TY, TEN_RUT_GON, DIA_CHI, TEL, FAX, TEN_NDD, EMAIL, QUOCGIA, MS_THUE)
		VALUES( @MS_KH, @TEN_CONG_TY, @TEN_RUT_GON, @DIA_CHI, @TEL, @FAX, @TEN_NDD, @EMAIL, @MA_QG,  @MS_THUE)
	END	
END
	
IF @STATUS = 'E'
BEGIN
	IF @MS_KH = @MS_KH_CU 
	BEGIN
		UPDATE KHACH_HANG SET TEN_CONG_TY = @TEN_CONG_TY, TEN_RUT_GON = @TEN_RUT_GON, DIA_CHI = @DIA_CHI,TEL = @TEL, 
			FAX = @FAX, TEN_NDD = @TEN_NDD, EMAIL = @EMAIL, QUOCGIA = @MA_QG,MS_THUE = @MS_THUE
		WHERE MS_KH = @MS_KH 
	END
	ELSE
	BEGIN
		EXEC spCapNhapMaKhachHang @MS_KH_CU,@MS_KH
		
		UPDATE KHACH_HANG SET TEN_CONG_TY = @TEN_CONG_TY, TEN_RUT_GON = @TEN_RUT_GON, DIA_CHI = @DIA_CHI,TEL = @TEL, 
			FAX = @FAX, TEN_NDD = @TEN_NDD, EMAIL = @EMAIL, QUOCGIA = @MA_QG,MS_THUE = @MS_THUE
		WHERE MS_KH = @MS_KH 
	END
	
END	

IF @STATUS = 'D'
BEGIN
	DELETE KHACH_HANG WHERE MS_KH = @MS_KH 
END