

ALTER PROC [dbo].[INTEGRATION_LOAI_VT_UPDATE]
	@MS_LOAI_VT nvarchar(10),	
	@MS_LOAI_VT_CHA nvarchar(10),
	@TEN_LOAI_VT_TV nvarchar(255),
	@STATUS nvarchar(1)
AS

--	LOAI_DICH_VU 06

IF @STATUS = 'N'
BEGIN
	IF @MS_LOAI_VT LIKE '06%'
--LOAI_DICH_VU 06	
		IF EXISTS (SELECT SER_GROUP_CODE FROM LOAI_DICH_VU WHERE SER_GROUP_CODE = @MS_LOAI_VT)
		BEGIN
			UPDATE LOAI_DICH_VU SET SER_GROUP_NAME = @TEN_LOAI_VT_TV,SER_GROUP_PARENT = @MS_LOAI_VT_CHA
			WHERE SER_GROUP_CODE = @MS_LOAI_VT
		END
		ELSE
		BEGIN
			INSERT INTO LOAI_DICH_VU(SER_GROUP_CODE,SER_GROUP_NAME,SER_GROUP_PARENT)
			VALUES( @MS_LOAI_VT, @TEN_LOAI_VT_TV,@MS_LOAI_VT_CHA)
		END	
	ELSE
	BEGIN		
--LOAI_VAT TU KHAC 06		
		IF EXISTS (SELECT MS_LOAI_VT FROM LOAI_VT WHERE MS_LOAI_VT = @MS_LOAI_VT)
		BEGIN
			UPDATE LOAI_VT SET [TEN_LOAI_VT_TV] = @TEN_LOAI_VT_TV,	[TEN_LOAI_VT_TA] = @TEN_LOAI_VT_TV,
				[TEN_LOAI_VT_TH] = @TEN_LOAI_VT_TV,MS_LOAI_VT_CHA = @MS_LOAI_VT_CHA
			WHERE MS_LOAI_VT = @MS_LOAI_VT
		END
		ELSE
		BEGIN
			INSERT INTO [LOAI_VT]([MS_LOAI_VT],[TEN_LOAI_VT_TV],[TEN_LOAI_VT_TA],[TEN_LOAI_VT_TH],[VAT_TU],[MS_LOAI_VT_CHA])
			VALUES( @MS_LOAI_VT, @TEN_LOAI_VT_TV, @TEN_LOAI_VT_TV, @TEN_LOAI_VT_TV,0,@MS_LOAI_VT_CHA)
		END	
	END
END
	
IF @STATUS = 'E'
BEGIN
--LOAI_DICH_VU 06	
	IF @MS_LOAI_VT LIKE '06%'
	BEGIN
		UPDATE LOAI_DICH_VU SET SER_GROUP_NAME = @TEN_LOAI_VT_TV,SER_GROUP_PARENT = @MS_LOAI_VT_CHA
				WHERE SER_GROUP_CODE = @MS_LOAI_VT
	END
	ELSE
	BEGIN
		UPDATE LOAI_VT SET [TEN_LOAI_VT_TV] = @TEN_LOAI_VT_TV,	[TEN_LOAI_VT_TA] = @TEN_LOAI_VT_TV,
			[TEN_LOAI_VT_TH] = @TEN_LOAI_VT_TV,MS_LOAI_VT_CHA = @MS_LOAI_VT_CHA
		WHERE MS_LOAI_VT = @MS_LOAI_VT
	END		
END	

IF @STATUS = 'D'
BEGIN
	IF @MS_LOAI_VT LIKE '06%'
	BEGIN
		DELETE LOAI_DICH_VU WHERE SER_GROUP_CODE = @MS_LOAI_VT
	END
	ELSE
	BEGIN
		DELETE LOAI_VT WHERE MS_LOAI_VT = @MS_LOAI_VT
	END
END