
ALTER PROC [dbo].[INTEGRATION_XUAT_KHO_SYN_UPDATE_TO_CMMS]

AS


DECLARE @MS_DH_XUAT_PT_FOR NVARCHAR(50)
DECLARE @NGAY_FOR DATETIME 
DECLARE @MS_KHO_FOR NVARCHAR(50)
DECLARE @UPDATE_DATE_FOR DATETIME


DECLARE PXK_SYN CURSOR FOR 
	SELECT DISTINCT MS_DH_XUAT_PT, NGAY, MS_KHO, UPDATE_DATE
	FROM dbo.SYN_TB_IC_DON_HANG_XUAT_VAT_TU_INTEGRATION 
	WHERE ISNULL(DA_CHUYEN,CONVERT(BIT,0)) = CONVERT(BIT, 0)
	AND UPDATE_DATE IS NOT NULL
	ORDER BY UPDATE_DATE , MS_DH_XUAT_PT ,NGAY  
	
OPEN PXK_SYN
FETCH NEXT FROM PXK_SYN 
INTO @MS_DH_XUAT_PT_FOR, @NGAY_FOR,@MS_KHO_FOR,@UPDATE_DATE_FOR
WHILE @@FETCH_STATUS = 0
BEGIN

	DECLARE @MS_KHO_CMMS INT
	SELECT @MS_KHO_CMMS = MS_KHO  FROM IC_KHO WHERE MS_KHO_INT = ISNULL(@MS_KHO_FOR,0)
	
	-- XOA PHIEU XUAT CU DI
	DELETE dbo.SYN_TB_IC_DON_HANG_XUAT_VAT_TU_CMMS 
	WHERE 	MS_DH_XUAT_PT = @MS_DH_XUAT_PT_FOR AND NGAY = @NGAY_FOR AND MS_KHO= @MS_KHO_CMMS --AND UPDATE_DATE = @UPDATE_DATE_FOR
	
	-- CAP NHAT PHIEU XUAT MOI
	INSERT INTO SYN_TB_IC_DON_HANG_XUAT_VAT_TU_CMMS([MS_DH_XUAT_PT],[NGAY],[MS_PHIEU_BAO_TRI],[MS_MAY],[MS_KHO],[MS_PT],[MS_BP_CHIU_PHI],
		[SO_LUONG],[DON_GIA],[TYPE],[INSERT_DATE],[UPDATE_DATE],[STATUS],[DA_CHUYEN],[NGAY_CHUYEN],[STT_SYN],[NAV Entry No])
	SELECT [MS_DH_XUAT_PT],[NGAY],[MS_PHIEU_BAO_TRI],[MS_MAY],[MS_KHO],[MS_PT],[MS_BP_CHIU_PHI],
		[SO_LUONG],[DON_GIA],[TYPE],[INSERT_DATE],[UPDATE_DATE],[STATUS],[DA_CHUYEN],[NGAY_CHUYEN],[STT],[NAV Entry No]
	FROM dbo.SYN_TB_IC_DON_HANG_XUAT_VAT_TU_INTEGRATION  
	WHERE 	MS_DH_XUAT_PT = @MS_DH_XUAT_PT_FOR AND NGAY = @NGAY_FOR AND MS_KHO= @MS_KHO_FOR AND UPDATE_DATE = @UPDATE_DATE_FOR

	-- UPDATE TRANG THAI DA CHUYEN
	
	UPDATE dbo.SYN_TB_IC_DON_HANG_XUAT_VAT_TU_INTEGRATION SET DA_CHUYEN = CONVERT(BIT,1)
	WHERE 	MS_DH_XUAT_PT = @MS_DH_XUAT_PT_FOR AND NGAY = @NGAY_FOR AND MS_KHO= @MS_KHO_FOR AND UPDATE_DATE = @UPDATE_DATE_FOR
	

	FETCH NEXT FROM PXK_SYN 
	INTO @MS_DH_XUAT_PT_FOR, @NGAY_FOR,@MS_KHO_FOR,@UPDATE_DATE_FOR
END 
CLOSE PXK_SYN;
DEALLOCATE PXK_SYN;