
ALTER PROC [dbo].[INTEGRATION_XUAT_KHO_UPDATE]	
	@STT bigint,
	@MS_DH_XUAT_PT nvarchar(14),
	@NGAY nvarchar(30),
	@MS_PHIEU_BAO_TRI nvarchar(20),
	@MS_MAY nvarchar(30),
	@MS_KHO int,
	@MS_PT nvarchar(25),
	@MS_BP_CHIU_PHI int,
	@SO_LUONG float,
	@DON_GIA float,
	@TYPE	nvarchar(1),
	@INSERT_DATE nvarchar(30),
	@UPDATE_DATE nvarchar(30),
	@STATUS	nvarchar(1),
	@DA_CHUYEN bit,
	@NGAY_CHUYEN nvarchar(30),
	@NAVEntryNo INT
AS

       
       DECLARE @NGAY_CV DATETIME  
       DECLARE @INSERT_DATE_CV DATETIME
       DECLARE @UPDATE_DATE_CV DATETIME
       DECLARE @NGAY_CHUYEN_CV DATETIME
       
		IF ISNULL(@NGAY,'') <> '' 
		SET @NGAY_CV = CONVERT(DATETIME,@NGAY,121)
		IF ISNULL(@INSERT_DATE,'') <> '' 
		SET @INSERT_DATE_CV = CONVERT(DATETIME,@INSERT_DATE,121)
		IF ISNULL(@UPDATE_DATE,'') <> '' 
		SET @UPDATE_DATE_CV = CONVERT(DATETIME,@UPDATE_DATE,121)
		IF ISNULL(@NGAY_CHUYEN,'') <> '' 
		SET @NGAY_CHUYEN_CV = CONVERT(DATETIME,@NGAY_CHUYEN,121)
IF NOT EXISTS (SELECT STT_SYN FROM SYN_TB_IC_DON_HANG_XUAT_VAT_TU_INTEGRATION WHERE STT_SYN = @STT)
BEGIN		
		INSERT INTO SYN_TB_IC_DON_HANG_XUAT_VAT_TU_INTEGRATION (MS_DH_XUAT_PT,NGAY ,MS_PHIEU_BAO_TRI ,MS_MAY ,MS_KHO ,MS_PT ,MS_BP_CHIU_PHI ,SO_LUONG 
			,DON_GIA ,[TYPE]	,INSERT_DATE ,UPDATE_DATE ,[STATUS]	,DA_CHUYEN ,NGAY_CHUYEN,STT_SYN ,[NAV Entry No])
		VALUES( @MS_DH_XUAT_PT,@NGAY ,@MS_PHIEU_BAO_TRI ,@MS_MAY ,@MS_KHO ,@MS_PT ,@MS_BP_CHIU_PHI ,@SO_LUONG 
					,@DON_GIA ,@TYPE	,@INSERT_DATE ,@UPDATE_DATE ,@STATUS	,@DA_CHUYEN ,@NGAY_CHUYEN,@STT,@NAVEntryNo )
END					
       
--IF @STATUS = 'N'
--BEGIN
--	IF EXISTS (SELECT STT_SYN FROM SYN_TB_IC_DON_HANG_XUAT_VAT_TU_INTEGRATION WHERE STT_SYN = @STT)
--	BEGIN
--		UPDATE SYN_TB_IC_DON_HANG_XUAT_VAT_TU_INTEGRATION SET 
--			MS_DH_XUAT_PT = @MS_DH_XUAT_PT,
--			NGAY = @NGAY_CV, 
--			MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI ,
--			MS_MAY = @MS_MAY ,
--			MS_KHO = @MS_KHO ,
--			MS_PT= @MS_PT ,
--			MS_BP_CHIU_PHI = @MS_BP_CHIU_PHI ,
--			SO_LUONG = @SO_LUONG ,
--			DON_GIA= @DON_GIA ,
--			INSERT_DATE = @INSERT_DATE_CV ,
--			UPDATE_DATE = @UPDATE_DATE_CV ,
--			DA_CHUYEN = @DA_CHUYEN ,
--			NGAY_CHUYEN = @NGAY_CHUYEN_CV 
--		WHERE STT_SYN = @STT
--	END
--	ELSE
--	BEGIN
--		INSERT INTO SYN_TB_IC_DON_HANG_XUAT_VAT_TU_INTEGRATION (MS_DH_XUAT_PT,NGAY ,MS_PHIEU_BAO_TRI ,MS_MAY ,MS_KHO ,MS_PT ,MS_BP_CHIU_PHI ,SO_LUONG 
--			,DON_GIA ,[TYPE]	,INSERT_DATE ,UPDATE_DATE ,[STATUS]	,DA_CHUYEN ,NGAY_CHUYEN,STT_SYN )
--		VALUES( @MS_DH_XUAT_PT,@NGAY ,@MS_PHIEU_BAO_TRI ,@MS_MAY ,@MS_KHO ,@MS_PT ,@MS_BP_CHIU_PHI ,@SO_LUONG 
--					,@DON_GIA ,@TYPE	,@INSERT_DATE ,@UPDATE_DATE ,@STATUS	,@DA_CHUYEN ,@NGAY_CHUYEN,@STT )
--	END	
--END

--IF @STATUS = 'E'
--BEGIN
--		UPDATE SYN_TB_IC_DON_HANG_XUAT_VAT_TU_INTEGRATION SET 
--			MS_DH_XUAT_PT = @MS_DH_XUAT_PT,
--			NGAY = @NGAY_CV, 
--			MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI ,
--			MS_MAY = @MS_MAY ,
--			MS_KHO = @MS_KHO ,
--			MS_PT= @MS_PT ,
--			MS_BP_CHIU_PHI = @MS_BP_CHIU_PHI ,
--			SO_LUONG = @SO_LUONG ,
--			DON_GIA= @DON_GIA ,
--			INSERT_DATE = @INSERT_DATE_CV ,
--			UPDATE_DATE = @UPDATE_DATE_CV ,
--			DA_CHUYEN = @DA_CHUYEN ,
--			NGAY_CHUYEN = @NGAY_CHUYEN_CV 
--		WHERE STT_SYN = @STT
--END	

--IF @STATUS = 'D'
--BEGIN
--	DELETE SYN_TB_IC_DON_HANG_XUAT_VAT_TU_INTEGRATION WHERE STT_SYN = @STT
--END	
                        