GO
/****** Object:  StoredProcedure [dbo].[WEB_INSERT_GIAM_SAT_TINH_TRANG_TS_ONLINE]    Script Date: 10/29/2015 13:34:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROC [dbo].[WEB_INSERT_GIAM_SAT_TINH_TRANG_TS_ONLINE]
@STT INT, 
@MS_MAY NVARCHAR(30), 
@MS_TS_GSTT NVARCHAR(10), 
@MS_BO_PHAN NVARCHAR(50), 
@GIA_TRI_DO FLOAT,
@GHI_CHU NVARCHAR(255),
@YES BIT,
@NO BIT,
@LOAI_TS BIT ,
@NGAY_GS DATETIME,
@GIO_GS DATETIME,
@MS_CONG_NHAN NVARCHAR(100),
@USERLOG NVARCHAR(100),
@NHAN_XET NVARCHAR(255)
AS

DECLARE @KHONG_DAT INT
SET @KHONG_DAT = 1

DECLARE @MS_TT_VD INT 
DECLARE @STT_GT_UD INT 

IF @LOAI_TS = CONVERT(bit,1) -- TRUONG HOP DINH TINH
BEGIN

	DECLARE @MS_TT INT
	SET @MS_TT = (SELECT TOP 1 MS_TT FROM CAU_TRUC_THIET_BI_TS_GSTT 
			  WHERE MS_MAY = @MS_MAY AND MS_BO_PHAN = @MS_BO_PHAN AND MS_TS_GSTT = @MS_TS_GSTT)

	
	DECLARE @DAT BIT 
	
	IF (@YES = CONVERT(BIT,1))
		SET @DAT = CONVERT(BIT,1)
	ELSE
	 BEGIN
	 	SET @DAT = CONVERT(BIT,0)
	 	SET @KHONG_DAT = 0
	 END
	
	DECLARE @STT_GT INT 
	SET @STT_GT = (SELECT TOP 1 STT FROM GIA_TRI_TS_GSTT WHERE MS_TS_GSTT = @MS_TS_GSTT AND DAT = @DAT )

	INSERT INTO  dbo.GIAM_SAT_TINH_TRANG_TS (STT,MS_MAY, MS_TS_GSTT, MS_BO_PHAN, MS_TT, GIA_TRI_DO,GHI_CHU)
	VALUES (@STT,@MS_MAY, @MS_TS_GSTT, @MS_BO_PHAN, @MS_TT, @GIA_TRI_DO,@GHI_CHU)

	INSERT INTO GIAM_SAT_TINH_TRANG_TS_DT(STT,MS_MAY, MS_TS_GSTT, MS_BO_PHAN, MS_TT,STT_GT , GHI_CHU)
	VALUES(@STT,@MS_MAY, @MS_TS_GSTT, @MS_BO_PHAN, @MS_TT,@STT_GT,@GHI_CHU)
	
	SET @MS_TT_VD = @MS_TT
	SET @STT_GT_UD = @STT_GT 

END
ELSE -- TRUONG HOP DINH LUONG
BEGIN

	DECLARE @MS_TT_DL INT
	SET @MS_TT_DL = (SELECT TOP 1 MS_TT FROM CAU_TRUC_THIET_BI_TS_GSTT WHERE MS_MAY = @MS_MAY AND MS_BO_PHAN = @MS_BO_PHAN AND MS_TS_GSTT = @MS_TS_GSTT AND GIA_TRI_TREN >= @GIA_TRI_DO  AND GIA_TRI_DUOI <= @GIA_TRI_DO)

	IF @MS_TT_DL IS NULL -- TRUONG HOP NAM NGOAI VUNG ĐI LAY CAN DUOI
	BEGIN 
		SET @MS_TT_DL = (SELECT TOP 1 MS_TT FROM CAU_TRUC_THIET_BI_TS_GSTT WHERE MS_MAY = @MS_MAY AND MS_BO_PHAN = @MS_BO_PHAN AND MS_TS_GSTT = @MS_TS_GSTT AND @GIA_TRI_DO < GIA_TRI_DUOI ORDER BY GIA_TRI_DUOI ASC )
		SET @KHONG_DAT = 0
	END
	
	IF @MS_TT_DL IS NULL -- TRUONG HOP NAM NGOAI VUNG ĐI LAY CAN DUOI
	BEGIN 
		SET @MS_TT_DL = (SELECT TOP 1 MS_TT FROM CAU_TRUC_THIET_BI_TS_GSTT WHERE MS_MAY = @MS_MAY AND MS_BO_PHAN = @MS_BO_PHAN AND MS_TS_GSTT = @MS_TS_GSTT AND @GIA_TRI_DO > GIA_TRI_DUOI ORDER BY  GIA_TRI_DUOI DESC)
		SET @KHONG_DAT = 0
	END
	
	IF @MS_TT_DL IS NULL  -- TRUONG HOP KO NAM O DAU HET
	BEGIN 
	SET @MS_TT_DL = (SELECT TOP 1 MS_TT FROM CAU_TRUC_THIET_BI_TS_GSTT 
			  WHERE MS_MAY = @MS_MAY AND MS_BO_PHAN = @MS_BO_PHAN AND MS_TS_GSTT = @MS_TS_GSTT)
			  
			  SET @KHONG_DAT = 0
			  
	END

	INSERT INTO  dbo.GIAM_SAT_TINH_TRANG_TS (STT,MS_MAY, MS_TS_GSTT, MS_BO_PHAN, MS_TT, GIA_TRI_DO,GHI_CHU)
	VALUES (@STT,@MS_MAY, @MS_TS_GSTT, @MS_BO_PHAN, @MS_TT_DL, @GIA_TRI_DO,@GHI_CHU)

	SET @MS_TT_VD = @MS_TT_DL
END


-- TU DONG TAO YEU CAU NGUOI SU DUNG

-- dbo.YEU_CAU_NSD

IF @KHONG_DAT = 0
BEGIN 
 
 DECLARE @MS_YEU_CAU NVARCHAR(100)
 DECLARE @MS_NX_MAY NVARCHAR(100)

 DECLARE @NGUOI_YEU_CAU NVARCHAR(255)
 SET @NGUOI_YEU_CAU  = (SELECT TOP 1 HO + ' ' + TEN FROM CONG_NHAN WHERE MS_CONG_NHAN = @MS_CONG_NHAN)


 DECLARE @TEN_TS NVARCHAR(255)
SELECT TOP 1 @TEN_TS = TEN_TS_GSTT FROM THONG_SO_GSTT WHERE MS_TS_GSTT = @MS_TS_GSTT

 DECLARE @ID_H NVARCHAR (6)
 DECLARE @ID_D DATETIME
 
 SET @ID_H = 'WR'
 SET @ID_D = @NGAY_GS
 
DECLARE @COUNT INT 
SET @COUNT = (SELECT COUNT (*) FROM TB_S_ID T WHERE T.ID_H = @ID_H AND YEAR(ID_D) = YEAR(@ID_D) AND MONTH(ID_D) = MONTH(@ID_D)  )

DECLARE @ID_I INT 
SET @ID_I = (SELECT CASE WHEN MAX (T.ID_I) IS NULL THEN 0 ELSE  MAX (T.ID_I) END  + 1
FROM TB_S_ID T WHERE T.ID_H = @ID_H AND YEAR(ID_D) = YEAR(@ID_D) AND MONTH(ID_D) = MONTH(@ID_D) )

DELETE FROM TB_S_ID WHERE ID_H = @ID_H 

if @COUNT = 0 
 INSERT INTO TB_S_ID (ID_H,ID_I,ID_D) VALUES (@ID_H,@ID_I,@ID_D)   
else
 UPDATE TB_S_ID SET ID_I = @ID_I  WHERE ID_H = @ID_H AND YEAR(ID_D) = YEAR(@ID_D) AND MONTH(ID_D) = MONTH(@ID_D) 
 
SET @MS_YEU_CAU = 'WR-' + CONVERT(NVARCHAR(4),YEAR(@NGAY_GS)) + RIGHT('00' + CONVERT(NVARCHAR(4),MONTH(@NGAY_GS)),2) + RIGHT('000000'+ CONVERT(NVARCHAR(20),@ID_I),6)
  
SELECT TOP 1 @MS_NX_MAY = MS_N_XUONG FROM MAY_NHA_XUONG_NGAY_MAX WHERE NGAY_MAX < (@NGAY_GS + @GIO_GS) ORDER BY NGAY_MAX DESC
  
 INSERT INTO dbo.YEU_CAU_NSD (NGAY, GIO_YEU_CAU, NGUOI_YEU_CAU, USER_COMMENT, NGAY_HOAN_THANH, DA_KIEM_TRA, USERNAME, REVIEWER_COMMENT, 
 USER_LAP, EMAIL_NSD, SO_YEU_CAU, MS_YEU_CAU, MS_N_XUONG)
                      VALUES (@NGAY_GS , @GIO_GS , @NGUOI_YEU_CAU,(N'TD: ' + ' '  + @TEN_TS + '-' + @GHI_CHU),@NGAY_GS,CONVERT(BIT,1),@USERLOG,'',@USERLOG,'',@MS_YEU_CAU,@MS_YEU_CAU,@MS_NX_MAY)

DECLARE @MAX_STT_YC INT
SELECT TOP 1 @MAX_STT_YC = MAX(STT) FROM dbo.YEU_CAU_NSD
DECLARE @TEN_BO_PHAN NVARCHAR (250)
SELECT @TEN_BO_PHAN= TEN_BO_PHAN FROM CAU_TRUC_THIET_BI WHERE MS_MAY=@MS_MAY AND MS_BO_PHAN=@MS_BO_PHAN

INSERT INTO  dbo.YEU_CAU_NSD_CHI_TIET  (STT, MS_MAY, MO_TA_TINH_TRANG, YEU_CAU, USERNAME_DSX, THUC_HIEN_DSX,THOI_GIAN_DSX,MS_LOAI_YEU_CAU_BT,MS_NGUYEN_NHAN)
VALUES(@MAX_STT_YC , @MS_MAY,(N'TD:(' +@TEN_BO_PHAN+ ') '  + @TEN_TS + '-' + @GHI_CHU),@GHI_CHU,@USERLOG,CONVERT(BIT,1), GETDATE(),3,100  )

DECLARE @MAX_STT_VAN_DE INT
SELECT TOP 1 @MAX_STT_VAN_DE = MAX(STT_VAN_DE) FROM  dbo.YEU_CAU_NSD_CHI_TIET 

UPDATE GIAM_SAT_TINH_TRANG_TS SET STT_VAN_DE = ISNULL(@MAX_STT_VAN_DE,-1)
WHERE  dbo.GIAM_SAT_TINH_TRANG_TS.STT = @STT AND
 dbo.GIAM_SAT_TINH_TRANG_TS.MS_MAY = @MS_MAY AND
 dbo.GIAM_SAT_TINH_TRANG_TS.MS_TS_GSTT = @MS_TS_GSTT AND 
 dbo.GIAM_SAT_TINH_TRANG_TS.MS_BO_PHAN = @MS_BO_PHAN AND
 dbo.GIAM_SAT_TINH_TRANG_TS.MS_TT = @MS_TT_VD


UPDATE GIAM_SAT_TINH_TRANG_TS_DT SET STT_VAN_DE = ISNULL(@MAX_STT_VAN_DE,-1)
WHERE  dbo.GIAM_SAT_TINH_TRANG_TS_DT.STT = @STT AND
 dbo.GIAM_SAT_TINH_TRANG_TS_DT.MS_MAY = @MS_MAY AND
 dbo.GIAM_SAT_TINH_TRANG_TS_DT.MS_TS_GSTT = @MS_TS_GSTT AND 
 dbo.GIAM_SAT_TINH_TRANG_TS_DT.MS_BO_PHAN = @MS_BO_PHAN AND
 dbo.GIAM_SAT_TINH_TRANG_TS_DT.MS_TT = @MS_TT_VD and 
  dbo.GIAM_SAT_TINH_TRANG_TS_DT.STT_GT = @STT_GT_UD

END

