

ALTER PROC [dbo].[INTEGRATION_IC_PHU_TUNG_UPDATE]
	@MS_PT nvarchar(25),
	@MS_PT_CU nvarchar(25),
	@TEN_PT nvarchar(100),
	@MS_PT_CTY nvarchar(25),
	@TEN_PT_VIET nvarchar(250),
	@QUY_CACH nvarchar(255),
	@DVT nvarchar(10),
	@SO_NGAY_DAT_MUA_HANG int,
	@TON_TOI_THIEU float,
	@TON_KHO_MAX float,
	@MS_HSX int,
	@MS_LOAI_VT_3 nvarchar(10),
	@STATUS nvarchar(1)
AS
DECLARE @UserInsert NVARCHAR(100)
SELECT @UserInsert = USERNAME FROM USERS WHERE USERNAME = 'Admin'
IF @UserInsert = ''
BEGIN
	SET @UserInsert = 'Admin'
END

-- Them DVT moi neu khong ton tai trong CSDL
IF NOT EXISTS (SELECT DVT FROM DON_VI_TINH WHERE DVT = @DVT)
BEGIN
	INSERT INTO DON_VI_TINH (DVT,TEN_1,TEN_2,TEN_3,GHI_CHU)
	VALUES(@DVT,@DVT,@DVT,@DVT,N'INTEGRATION IC_PHU_TUNG')
END

-- Them HSX moi neu khong ton tai trong CSDL
IF @MS_HSX = ''
BEGIN
	SELECT TOP 1 @MS_HSX = MS_HSX FROM HANG_SAN_XUAT WHERE TEN_HSX = 'GENERAL'
END
ELSE
BEGIN
	IF NOT EXISTS (SELECT MS_HSX FROM HANG_SAN_XUAT WHERE MS_HSX = @MS_HSX)
	BEGIN
		Set IDENTITY_INSERT HANG_SAN_XUAT ON
			INSERT INTO HANG_SAN_XUAT (MS_HSX,TEN_HSX,DIA_CHI)
			VALUES(@MS_HSX,@MS_HSX,N'INTEGRATION IC_PHU_TUNG')
		Set IDENTITY_INSERT HANG_SAN_XUAT OFF
	END
END

-- Them Loai vat tu moi voi ma cha la chinh no neu khong ton tai trong CSDL
IF NOT EXISTS (SELECT MS_LOAI_VT FROM LOAI_VT WHERE MS_LOAI_VT = @MS_LOAI_VT_3)
BEGIN
		INSERT INTO LOAI_VT (MS_LOAI_VT,MS_LOAI_VT_CHA,TEN_LOAI_VT_TV,TEN_LOAI_VT_TH,VAT_TU)
		VALUES(@MS_LOAI_VT_3,@MS_LOAI_VT_3,@MS_LOAI_VT_3,N'INTEGRATION IC_PHU_TUNG',0)
END


IF @STATUS = 'N'
BEGIN
	IF EXISTS ( SELECT MS_PT FROM IC_PHU_TUNG WHERE MS_PT = @MS_PT)
	BEGIN
		UPDATE IC_PHU_TUNG SET TEN_PT = @TEN_PT ,MS_PT_CTY = @MS_PT_CTY,TEN_PT_VIET = @TEN_PT_VIET,QUY_CACH = @QUY_CACH,DVT = @DVT,
			SO_NGAY_DAT_MUA_HANG = @SO_NGAY_DAT_MUA_HANG,TON_TOI_THIEU = @TON_TOI_THIEU,TON_KHO_MAX = @TON_KHO_MAX,MS_HSX = @MS_HSX,MS_LOAI_VT = @MS_LOAI_VT_3
		WHERE MS_PT = @MS_PT 
	END
	ELSE
	BEGIN
		INSERT INTO IC_PHU_TUNG(MS_PT,TEN_PT,MS_PT_CTY,TEN_PT_VIET,QUY_CACH,DVT,SO_NGAY_DAT_MUA_HANG,TON_TOI_THIEU,TON_KHO_MAX,MS_HSX,MS_LOAI_VT,
			ACTIVE_PT, USER_INSERT_PT,NGAY_INSERT_PT)
		VALUES(@MS_PT,@TEN_PT,@MS_PT_CTY,@TEN_PT_VIET,@QUY_CACH,@DVT,@SO_NGAY_DAT_MUA_HANG,@TON_TOI_THIEU,@TON_KHO_MAX,@MS_HSX,@MS_LOAI_VT_3,
			1,@UserInsert, GETDATE())		
	END	
END
	
IF @STATUS = 'E'
BEGIN
	IF @MS_PT_CU = @MS_PT
	BEGIN
		UPDATE IC_PHU_TUNG SET TEN_PT = @TEN_PT ,MS_PT_CTY = @MS_PT_CTY,TEN_PT_VIET = @TEN_PT_VIET,QUY_CACH = @QUY_CACH,DVT = @DVT,
			SO_NGAY_DAT_MUA_HANG = @SO_NGAY_DAT_MUA_HANG,TON_TOI_THIEU = @TON_TOI_THIEU,TON_KHO_MAX = @TON_KHO_MAX,MS_HSX = @MS_HSX,MS_LOAI_VT = @MS_LOAI_VT_3
		WHERE MS_PT = @MS_PT 
	END
	ELSE
	BEGIN
		EXEC spCapNhapPhuTung @MS_PT_CU, @MS_PT
		
		UPDATE IC_PHU_TUNG SET TEN_PT = @TEN_PT ,MS_PT_CTY = @MS_PT_CTY,TEN_PT_VIET = @TEN_PT_VIET,QUY_CACH = @QUY_CACH,DVT = @DVT,
			SO_NGAY_DAT_MUA_HANG = @SO_NGAY_DAT_MUA_HANG,TON_TOI_THIEU = @TON_TOI_THIEU,TON_KHO_MAX = @TON_KHO_MAX,MS_HSX = @MS_HSX,MS_LOAI_VT = @MS_LOAI_VT_3
		WHERE MS_PT = @MS_PT 
	END
	
END	

IF @STATUS = 'D'
BEGIN
	DELETE IC_PHU_TUNG_LOAI_MAY WHERE MS_PT = @MS_PT

	DELETE IC_PHU_TUNG_LOAI_PHU_TUNG WHERE MS_PT = @MS_PT

	DELETE IC_PHU_TUNG WHERE MS_PT = @MS_PT
END
ELSE
BEGIN
	IF NOT EXISTS (SELECT * FROM IC_PHU_TUNG_LOAI_MAY WHERE MS_PT =  @MS_PT)
	BEGIN
		INSERT INTO IC_PHU_TUNG_LOAI_MAY (MS_LOAI_MAY,MS_PT)
		VALUES(N'LM_CXD',@MS_PT)
	END

	IF NOT EXISTS (SELECT * FROM IC_PHU_TUNG_LOAI_PHU_TUNG WHERE MS_PT =  @MS_PT)
	BEGIN
		INSERT INTO IC_PHU_TUNG_LOAI_PHU_TUNG (MS_LOAI_PT,MS_PT)
		VALUES(9,@MS_PT)
	END
END