

-- EXEC GetBCPhieuCongViec '11/01/2015','11/30/2015','-1',-1,'334','ADMIN',1,1, N'Làm phần việc liên quan đến QLCL'
ALTER PROC [dbo].[GetBCPhieuCongViec]
	@TNgay datetime,
	@DNgay datetime,
	@MSNX NVARCHAR(150),
	@MSHT INT,
	@MsNV NVARCHAR(50),
	@USERNAME NVARCHAR(50),
	@NNgu int, 
	@NVIEN BIT, --Công việc văn phòng
	@CVHN NVARCHAR(500)
AS

SET	@NNgu = 0
DECLARE @DTNGAY TABLE (NGAY DATETIME)
DECLARE @NgayTam datetime
set @NgayTam = @TNgay
-- Them ngay vao bang tam
WHILE @NgayTam <= @DNgay
BEGIN
	INSERT  @DTNGAY  (NGAY) VALUES (@NgayTam)
    SET @NgayTam = DATEADD (DAY,1,@NgayTam)  
END
Set @TNgay = CONVERT(DATETIME, @TNgay +  ' 00:00:00' )
Set @DNgay = CONVERT(DATETIME, @DNgay + ' 23:59:59')


IF @NVIEN = 1 -- Xoa cac ngay da ton tai trong PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET+KE_HOACH_THUC_HIEN	khi co check Công việc văn phòng
	BEGIN
		DELETE FROM @DTNGAY  WHERE NGAY IN ( 
						SELECT DISTINCT MIN(NGAY) AS NGAY_MIN FROM dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET
						GROUP BY MS_PHIEU_BAO_TRI, MS_CV, MS_BO_PHAN, MS_CONG_NHAN
						HAVING      (MIN(NGAY) BETWEEN @TNgay AND @DNgay) AND (MS_CONG_NHAN = @MsNV)
						UNION 
						SELECT DISTINCT NGAY FROM dbo.KE_HOACH_THUC_HIEN WHERE (NGAY BETWEEN @TNgay AND @DNgay) AND   (MS_CONG_NHAN = @MsNV))	
	END
ELSE -- Xoa cac ngay da ton tai PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET
	BEGIN
		DELETE FROM @DTNGAY  WHERE NGAY IN ( 
						SELECT DISTINCT MIN(NGAY) AS NGAY_MIN
						FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET
						GROUP BY MS_PHIEU_BAO_TRI, MS_CV, MS_BO_PHAN, MS_CONG_NHAN
						HAVING      (MIN(NGAY) BETWEEN @TNgay AND @DNgay) AND (MS_CONG_NHAN = @MsNV))	
	
	END 
	
SELECT * INTO #MAY_TB FROM [dbo].[MGetMayUserNgay]( @DNgay,@USERNAME,@MSNX,@MSHT,-1,'-1','-1','-1',@NNgu)

SELECT MIN(PBTNSCT.NGAY) AS NGAY_WHERE, MUT.TEN_UU_TIEN, 
			CASE @NNgu WHEN 0 THEN  CV.MO_TA_CV WHEN 1 THEN CV.MO_TA_CV_ANH ELSE MO_TA_CV_HOA END AS MO_TA_CV, 
			
			SUM(PBTCV.SO_GIO_KH) AS SO_GIO_KH,
			SUM(PBTNSCT.SO_GIO) AS SO_GIO_TT,
			
			dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN, PBT.MS_MAY, M.TEN_MAY, TT_SAU_BT AS DANH_GIA, PBTNSCT.MS_PHIEU_BAO_TRI 
INTO #PBT_TMP
FROM          #MAY_TB AS M INNER JOIN
                        dbo.PHIEU_BAO_TRI AS PBT ON M.MS_MAY = PBT.MS_MAY INNER JOIN
                        dbo.PHIEU_BAO_TRI_CONG_VIEC AS PBTCV ON PBT.MS_PHIEU_BAO_TRI = PBTCV.MS_PHIEU_BAO_TRI INNER JOIN
                        (SELECT T1.* FROM dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET T1 INNER JOIN PHIEU_BAO_TRI T2 
							ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI WHERE T2.TINH_TRANG_PBT >3) AS PBTNSCT INNER JOIN
                        dbo.CONG_VIEC AS CV ON PBTNSCT.MS_CV = CV.MS_CV  ON 
                        PBTCV.MS_PHIEU_BAO_TRI = PBTNSCT.MS_PHIEU_BAO_TRI AND PBTCV.MS_CV = PBTNSCT.MS_CV AND PBTCV.MS_BO_PHAN = PBTNSCT.MS_BO_PHAN INNER JOIN
                        dbo.CAU_TRUC_THIET_BI ON M.MS_MAY = dbo.CAU_TRUC_THIET_BI.MS_MAY AND PBTCV.MS_BO_PHAN = dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN INNER JOIN 
						LOAI_BAO_TRI LBT ON PBT.MS_LOAI_BT = LBT.MS_LOAI_BT INNER JOIN MUC_UU_TIEN MUT ON PBT.MS_UU_TIEN = MUT.MS_UU_TIEN
WHERE      (PBTNSCT.MS_CONG_NHAN = @MsNV)

GROUP BY PBTNSCT.MS_PHIEU_BAO_TRI, CASE @NNgu WHEN 0 THEN  CV.MO_TA_CV WHEN 1 THEN CV.MO_TA_CV_ANH ELSE MO_TA_CV_HOA END, 
		PBT.MS_MAY, M.TEN_MAY, TT_SAU_BT, dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN,HU_HONG, MUT.TEN_UU_TIEN
HAVING (MIN(PBTNSCT.NGAY) BETWEEN @TNgay AND @DNgay)
UNION 

SELECT MIN(PBTNSCT.NGAY) AS NGAY_WHERE, MUT.TEN_UU_TIEN, 
			PBTCV.TEN_CONG_VIEC AS MO_TA_CV, 
			
			SUM(PBTCV.SO_GIO_KH) AS SO_GIO_KH,
			SUM(PBTNSCT.SO_GIO) AS SO_GIO_TT,
			
			NULL AS TEN_BO_PHAN, PBT.MS_MAY, M.TEN_MAY, TT_SAU_BT AS DANH_GIA, PBTNSCT.MS_PHIEU_BAO_TRI 

FROM          #MAY_TB AS M INNER JOIN
                        dbo.PHIEU_BAO_TRI AS PBT ON M.MS_MAY = PBT.MS_MAY INNER JOIN
                        dbo.PHIEU_BAO_TRI_CV_PHU_TRO AS PBTCV ON PBT.MS_PHIEU_BAO_TRI = PBTCV.MS_PHIEU_BAO_TRI INNER JOIN
					(SELECT T1.* FROM dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_PHU_TRO T1 INNER JOIN PHIEU_BAO_TRI T2 
							ON T1.MS_PHIEU_BAO_TRI = T2.MS_PHIEU_BAO_TRI WHERE T2.TINH_TRANG_PBT >3) AS PBTNSCT ON 
                        PBTCV.MS_PHIEU_BAO_TRI = PBTNSCT.MS_PHIEU_BAO_TRI INNER JOIN MUC_UU_TIEN MUT ON PBT.MS_UU_TIEN = MUT.MS_UU_TIEN
WHERE      (PBTNSCT.MS_CONG_NHAN = @MsNV)

GROUP BY PBTNSCT.MS_PHIEU_BAO_TRI, PBTCV.TEN_CONG_VIEC, 
		PBT.MS_MAY, M.TEN_MAY, TT_SAU_BT, MUT.TEN_UU_TIEN
HAVING (MIN(PBTNSCT.NGAY) BETWEEN @TNgay AND @DNgay)






SELECT     NGAY_WHERE, TEN_UU_TIEN , MO_TA_CV, SO_GIO_KH,SO_GIO_TT, TEN_BO_PHAN, MS_MAY + ' - ' + TEN_MAY AS MS_TEN_MAY, DANH_GIA, MS_PHIEU_BAO_TRI INTO #DT_DL
FROM         #PBT_TMP AS A
WHERE     (NGAY_WHERE BETWEEN @TNgay AND @DNgay)
ORDER BY NGAY_WHERE , MS_PHIEU_BAO_TRI, MO_TA_CV,TEN_BO_PHAN


	
IF @NVIEN = 0
	BEGIN  
		SELECT NGAY_WHERE, TEN_UU_TIEN,
		MO_TA_CV, SO_GIO_KH,SO_GIO_TT, TEN_BO_PHAN, MS_TEN_MAY, DANH_GIA, MS_PHIEU_BAO_TRI FROM 
		(SELECT  NGAY_WHERE,  MO_TA_CV, SO_GIO_KH,SO_GIO_TT, TEN_BO_PHAN, MS_TEN_MAY, DANH_GIA, MS_PHIEU_BAO_TRI,TEN_UU_TIEN FROM #DT_DL	
		UNION SELECT NGAY ,  NULL , NULL, NULL , NULL , NULL ,  NULL , NULL,NULL  FROM @DTNGAY ) A
		ORDER BY NGAY_WHERE , MS_PHIEU_BAO_TRI, MO_TA_CV,TEN_BO_PHAN
	END
ELSE
	BEGIN
		SELECT NGAY_WHERE, TEN_UU_TIEN, 
		MO_TA_CV, SO_GIO_KH,SO_GIO_TT, TEN_BO_PHAN, MS_TEN_MAY, DANH_GIA, CONVERT(NVARCHAR(1000) ,MS_PHIEU_BAO_TRI) AS MS_PHIEU_BAO_TRI FROM 
		(
		SELECT  NGAY_WHERE,  MO_TA_CV, SO_GIO_KH,SO_GIO_TT, TEN_BO_PHAN, MS_TEN_MAY, DANH_GIA, MS_PHIEU_BAO_TRI,TEN_UU_TIEN FROM #DT_DL	
		UNION SELECT NGAY ,  NULL , NULL , NULL ,NULL , NULL ,  NULL , NULL,NULL  FROM @DTNGAY 
		UNION SELECT     NGAY, TEN_CONG_VIEC, THOI_GIAN_DK,
		CASE ISNULL(DA_XONG,0) WHEN 1 THEN THOI_GIAN_DK ELSE NULL END AS THOI_GIAN_TT,
		
		 NULL, NULL , GHI_CHU, @CVHN AS CV,TEN_UU_TIEN
		FROM         dbo.KE_HOACH_THUC_HIEN T1 INNER JOIN MUC_UU_TIEN MUT ON T1.MS_UU_TIEN = MUT.MS_UU_TIEN
		WHERE (NGAY BETWEEN @TNgay AND @DNgay) AND   (MS_CONG_NHAN = @MsNV) ) A
		ORDER BY NGAY_WHERE , MS_PHIEU_BAO_TRI, MO_TA_CV,TEN_BO_PHAN
		
	END
