--	SELECT DISTINCT * INTO TTBT FROM TINH_TRANG_PBT WHERE STT = 4 

--	EXEC MGetDSBaoTri '01/01/2010','11/11/2016','-1','-1','-1','-1','-1','-1',-1,'ADMINISTRATOR',1
ALTER proc [dbo].[MGetDSBaoTri]
		@TNGAY DATETIME,
		@DNGAY DATETIME,
		@MS_TINH NVARCHAR(50),
		@MS_QUAN NVARCHAR(50),
		@MS_DUONG NVARCHAR(50),
		@MSNX NVARCHAR(150),
		@MSHT NVARCHAR(150),
		@MSLMAY NVARCHAR(50),
		@MSLBT INT,
		@USERNAME NVARCHAR(50),@NGON_NGU INT
		
		
AS	

SELECT * INTO #PBT FROM PHIEU_BAO_TRI WHERE TINH_TRANG_PBT IN (SELECT DISTINCT STT FROM TTBT)
DROP TABLE TTBT

SELECT A.MS_MAY,M.TEN_MAY, A.MS_PHIEU_BAO_TRI, XX.TEN_LOAI_BT LY_DO_BT
	,ISNULL((SELECT SUM(SO_GIO_KH) SO_GIO_KH 
			FROM PHIEU_BAO_TRI_CONG_VIEC 
			WHERE MS_PHIEU_BAO_TRI=A.MS_PHIEU_BAO_TRI),0)   SO_GIO_KH, 
	ISNULL((SELECT SUM(SO_GIO) SO_GIO 
			FROM PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET
			WHERE MS_PHIEU_BAO_TRI=A.MS_PHIEU_BAO_TRI),0)  SO_GIO_TT, B.NGAY_BD,C.NGAY_KT,
	NOI_DUNG_CV,NGUOI_THUC_HIEN,VTPT,
	ISNULL(YYY.HO,'') + ' ' + ISNULL(YYY.TEN,'') AS NGUOI_LAP,  ISNULL(CN.HO,'') + ' ' + ISNULL(CN.TEN,'') AS NGUOI_NT
FROM         #PBT AS A INNER JOIN LOAI_BAO_TRI XX ON A.MS_LOAI_BT=XX.MS_LOAI_BT
LEFT JOIN dbo.CONG_NHAN YYY ON YYY.MS_CONG_NHAN=A.NGUOI_LAP
LEFT OUTER JOIN
                      dbo.CONG_NHAN AS CN ON A.NGUOI_NGHIEM_THU = CN.MS_CONG_NHAN  INNER JOIN
                      dbo.MAY M ON A.MS_MAY = M.MS_MAY 
LEFT OUTER JOIN (
	SELECT     MS_PHIEU_BAO_TRI, MAX(CONVERT(DATETIME, NGAY + TU_GIO)) AS NGAY_KT
			FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET AS PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET_1
			GROUP BY MS_PHIEU_BAO_TRI) AS C ON A.MS_PHIEU_BAO_TRI = C.MS_PHIEU_BAO_TRI 
LEFT OUTER JOIN (
	SELECT     MS_PHIEU_BAO_TRI, MIN(CONVERT(DATETIME, NGAY + TU_GIO)) AS NGAY_BD
			FROM          dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET
			GROUP BY MS_PHIEU_BAO_TRI) AS B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI
--NOI_DUNG_CV
LEFT JOIN (
	Select X.MS_PHIEU_BAO_TRI, Left(X.MO_TA_CV,Len(X.MO_TA_CV)-1) As NOI_DUNG_CV
		From(Select distinct ST2.MS_PHIEU_BAO_TRI, 
			   ( SELECT B.MO_TA_CV + '; ' AS [text()]
					FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC AS ST1 INNER JOIN dbo.CONG_VIEC AS B ON ST1.MS_CV = B.MS_CV 
							INNER JOIN #PBT AS A ON ST1.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
					WHERE     (ST1.MS_PHIEU_BAO_TRI = ST2.MS_PHIEU_BAO_TRI) AND 
							((A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY)))					
					ORDER BY ST1.MS_PHIEU_BAO_TRI   
				For XML PATH ('')) MO_TA_CV
		 From dbo.PHIEU_BAO_TRI_CONG_VIEC ST2) X
) D ON D.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI 
LEFT JOIN 
(
	Select X.MS_PHIEU_BAO_TRI,Left(X.HO_TEN,Len(X.HO_TEN)-1) As NGUOI_THUC_HIEN
		From(Select distinct ST2.MS_PHIEU_BAO_TRI, 
           ( SELECT ISNULL(HO_TEN,'') + '; ' AS [text()] FROM (
				SELECT DISTINCT A.MS_PHIEU_BAO_TRI, ISNULL(C.HO,'') + ' ' + ISNULL(C.TEN,'') AS HO_TEN
				FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU AS B INNER JOIN dbo.CONG_NHAN AS C ON B.MS_CONG_NHAN = C.MS_CONG_NHAN 
					RIGHT OUTER JOIN #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
				WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY)) ) ST1
				WHERE     (ST1.MS_PHIEU_BAO_TRI = ST2.MS_PHIEU_BAO_TRI)
				
            For XML PATH ('')) HO_TEN
     From 
     ( SELECT DISTINCT A.MS_PHIEU_BAO_TRI, ISNULL(C.HO,'') + ' ' + ISNULL(C.TEN,'') AS HO_TEN
		FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU AS B INNER JOIN
							  dbo.CONG_NHAN AS C ON B.MS_CONG_NHAN = C.MS_CONG_NHAN RIGHT OUTER JOIN
							  #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
		WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY))     
     ) ST2) X

) E ON E.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI 
LEFT JOIN 
(	
	Select X.MS_PHIEU_BAO_TRI,Left(X.VTPT,Len(X.VTPT)-1) As VTPT
		From(Select distinct ST2.MS_PHIEU_BAO_TRI, 
           ( 
           
           SELECT ISNULL(VTPT,'') + '; ' AS [text()] FROM (
				SELECT MS_PHIEU_BAO_TRI, ISNULL(TEN_PT ,'') + ' ' + 
					CONVERT(NVARCHAR, ISNULL(SL_TT,0)) + ' ' + ISNULL(DVT,'') AS VTPT
				FROM 		
				(SELECT DISTINCT A.MS_PHIEU_BAO_TRI, C.TEN_PT, SUM(B.SL_TT) AS SL_TT, 
					CASE @NGON_NGU WHEN 0 THEN D.TEN_1 WHEN 1 THEN D.TEN_2 ELSE D.TEN_3 END AS DVT				
				FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS B INNER JOIN
					  #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI INNER JOIN
					  dbo.IC_PHU_TUNG AS C ON B.MS_PT = C.MS_PT INNER JOIN
					  dbo.DON_VI_TINH AS D ON C.DVT = D.DVT
				WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY))
				GROUP BY A.MS_PHIEU_BAO_TRI, C.TEN_PT, CASE @NGON_NGU WHEN 0 THEN D.TEN_1 WHEN 1 THEN D.TEN_2 ELSE D.TEN_3 END) A	
				) ST1
				WHERE     (ST1.MS_PHIEU_BAO_TRI = ST2.MS_PHIEU_BAO_TRI)
				
            For XML PATH ('')) VTPT
     From 
     ( SELECT MS_PHIEU_BAO_TRI, TEN_PT + ' ' + CONVERT(NVARCHAR, ISNULL(SL_TT,0)) + ' ' + DVT AS VTPT1
		FROM 		
		(SELECT DISTINCT A.MS_PHIEU_BAO_TRI, C.TEN_PT, SUM(B.SL_TT) AS SL_TT, D.TEN_1 AS DVT
				FROM         dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS B INNER JOIN
                      #PBT AS A ON B.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI INNER JOIN
                      dbo.IC_PHU_TUNG AS C ON B.MS_PT = C.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS D ON C.DVT = D.DVT
				WHERE     (A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY))
				GROUP BY A.MS_PHIEU_BAO_TRI, C.TEN_PT, D.TEN_1) A		
     ) ST2) X

) F ON  F.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI 
	INNER JOIN  MAY_HE_THONG_NGAY_MAX MHT ON A.MS_MAY = MHT.MS_MAY 
	INNER JOIN  MAY_NHA_XUONG_NGAY_MAX MNX ON A.MS_MAY = MNX.MS_MAY      
	INNER JOIN dbo.NHOM_MAY AS N ON M.MS_NHOM_MAY = N.MS_NHOM_MAY

WHERE     ((A.NGAY_LAP >= @TNGAY) AND (A.NGAY_LAP < DATEADD(d, 1, @DNGAY)))
AND (A.MS_MAY IN (SELECT DISTINCT MS_MAY FROM MAY_NHA_XUONG_NGAY_MAX WHERE MS_N_XUONG IN (SELECT MS_N_XUONG 
		FROM [dbo].[MGetNhaXuongDiaDiem](@MS_TINH,@MS_QUAN,@MS_DUONG ,@USERNAME) )))
AND (MS_N_XUONG IN (SELECT DISTINCT MS_N_XUONG FROM [dbo].[MashjGetNXUser](@USERNAME,@MSNX)) )
AND (MS_HE_THONG = @MSHT OR @MSHT = '-1' )
AND (N.MS_LOAI_MAY = @MSLMAY OR @MSLMAY = '-1' )
AND (A.MS_LOAI_BT = @MSLBT OR @MSLBT = -1 )

ORDER BY A.MS_MAY 

