
--	EXEC SP_Y_GET_VTPT_SLNH_SLTTT_BARIA 0,-1,'KHONG THEO KHO','-1','TON_TT_TMPadmin'

ALTER procedure [dbo].[SP_Y_GET_VTPT_SLNH_SLTTT_BARIA] 
	@LANGUAGE INT ,
	@VAT_TU INT, 
	@KTKho NVARCHAR(4000),
	@MsKho int,
	@UName NVARCHAR(250)
AS
BEGIN


CREATE TABLE #TB_TON_TMP(
	[MS_PT] [nvarchar](25) NOT NULL,
	[SL_VTPT] [numeric](38, 3) NULL,
	[MS_KHO] [int] NOT NULL,
	[TEN_KHO] [nvarchar](50) NULL,
	[TON_TOI_THIEU] [float] NULL
)

	DECLARE @sSql NVARCHAR(4000)
	SET @sSql = 'INSERT INTO #TB_TON_TMP([MS_PT],[SL_VTPT],[MS_KHO],[TEN_KHO],[TON_TOI_THIEU]) 
		SELECT T1.MS_PT, ISNULL(SUM(SL_VT),0) AS SLTON, T2.MS_KHO,T4.TEN_KHO, T2.TON_TOI_THIEU
		FROM ' + @UName + ' T1 INNER JOIN IC_PHU_TUNG_KHO T2 ON T1.MS_PT = T2.MS_PT AND T1.MS_KHO = T2.MS_KHO
		INNER JOIN IC_PHU_TUNG T3 ON T1.MS_PT = T3.MS_PT INNER JOIN IC_KHO T4 ON T1.MS_KHO = T4.MS_KHO
		WHERE ISNULL(THEO_KHO,0) = 1
		GROUP BY T1.MS_PT, T2.MS_KHO , T2.TON_TOI_THIEU,T4.TEN_KHO
		UNION
		SELECT T1.MS_PT, ISNULL(SUM(SL_VT),0) AS SLTON ,0 AS MS_KHO , N''' + @KTKho + ''' AS TEN_KHO , T3.TON_TOI_THIEU
		FROM ' + @UName + ' T1 INNER JOIN IC_PHU_TUNG T3 ON T1.MS_PT = T3.MS_PT 
		WHERE ISNULL(THEO_KHO,0) = 0
		GROUP BY T1.MS_PT, T3.TON_TOI_THIEU
		ORDER BY T1.MS_PT'
	EXEC (@sSql)
	
SELECT DISTINCT dbo.IC_PHU_TUNG.MS_PT,dbo.IC_PHU_TUNG.TEN_PT, MS_PT_NCC,QUY_CACH,
CASE @LANGUAGE WHEN 1 THEN dbo.LOAI_VT.TEN_LOAI_VT_TA WHEN 2 THEN dbo.LOAI_VT.TEN_LOAI_VT_TH
ELSE dbo.LOAI_VT.TEN_LOAI_VT_TV END AS TEN_LOAI_VT, TEN_KHO,
VI_TRI_KHO_VAT_TU_TMP.TON_TOI_THIEU, VI_TRI_KHO_VAT_TU_TMP.SL_VTPT AS TON_TT , dbo.LOAI_VT.VAT_TU , MS_KHO
FROM         dbo.IC_PHU_TUNG INNER JOIN
#TB_TON_TMP AS VI_TRI_KHO_VAT_TU_TMP ON dbo.IC_PHU_TUNG.MS_PT = VI_TRI_KHO_VAT_TU_TMP.MS_PT INNER JOIN
dbo.LOAI_VT ON dbo.IC_PHU_TUNG.MS_LOAI_VT = dbo.LOAI_VT.MS_LOAI_VT
WHERE 
--(VI_TRI_KHO_VAT_TU_TMP.TON_TOI_THIEU > VI_TRI_KHO_VAT_TU_TMP.SL_VTPT) AND 
(dbo.LOAI_VT.VAT_TU = @VAT_TU OR @VAT_TU = -1)
AND (VI_TRI_KHO_VAT_TU_TMP.MS_KHO = @MsKho OR @MsKho = -1)

END


