
ALTER proc [dbo].[UpdatePhieuBaoTriNghiemThu]
	@MS_PHIEU_BAO_TRI NVARCHAR(20),
	@TT_SAU_BT NVARCHAR(200),
	@NGUOI_NGHIEM_THU NVARCHAR(50),
	@NGAY_NGHIEM_THU DATETIME,
	@USERNAME_NGUOI_NT NVARCHAR(50),
	@SO_GIO_LUY_KE FLOAT
AS
UPDATE  PHIEU_BAO_TRI SET
	TT_SAU_BT=@TT_SAU_BT,
	NGUOI_NGHIEM_THU=@NGUOI_NGHIEM_THU ,
	NGAY_NGHIEM_THU=@NGAY_NGHIEM_THU,
	USERNAME_NGUOI_NT=@USERNAME_NGUOI_NT,
	SO_GIO_LUY_KE = @SO_GIO_LUY_KE
WHERE MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
