

--DROP TABLE A_HT 
--	SELECT * INTO A_HT FROM HE_THONG WHERE TEN_HE_THONG = N'F-INT(Cụm Nạp liệu)'
--	EXEC getBCTyLePhanTichHuHong 'ADMIN','01/01/2012','01/01/2016','-1','-1','A_HT',0
ALTER PROC [dbo].[getBCTyLePhanTichHuHong]
	@UserName NVARCHAR(50),
	@TNgay DATETIME,
	@DNgay DATETIME,
	@MsNXuong nvarchar(50),
	@MsLoaiMay NVARCHAR (20),
	@HeThong nvarchar(50),
	@NNgu int
AS

DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()	


DECLARE @sSql NVARCHAR(4000)
CREATE TABLE #HT (MS_HE_THONG INT )

SET @sSql = 'INSERT INTO #HT SELECT DISTINCT [MS_HE_THONG] FROM ' + @HeThong
EXEC (@sSql)

SET @sSql = 'DROP TABLE ' + @HeThong
EXEC (@sSql)


SELECT * INTO #MAY FROM dbo.MGetMayUserNgay( @NgayHT,@UserName,@MsNXuong,-1,-1,@MsLoaiMay,'-1','-1',@NNgu) 


SELECT ROW_NUMBER() OVER (ORDER BY  T1.MS_MAY, T4.TEN_MAY,T4.TEN_HE_THONG,T4.Ten_N_XUONG,T4.TEN_LOAI_MAY) AS STT,
T1.MS_MAY, T4.TEN_MAY,T4.TEN_HE_THONG,T4.Ten_N_XUONG,T4.TEN_LOAI_MAY,
ROUND(T2.WO_DX,2) AS WO_DX, ROUND(T3.WO_DX_PT,2) AS WO_DX_PT,

CASE ISNULL(WO_DX,0) WHEN 0 THEN NULL ELSE 
ROUND((ISNULL( CONVERT(FLOAT,T3.WO_DX_PT),0) / (ISNULL(CONVERT(FLOAT,T2.WO_DX),0)) ) * 100,2) END AS TY_LE
FROM 
(SELECT DISTINCT MS_MAY FROM dbo.PHIEU_BAO_TRI WHERE TINH_TRANG_PBT > 2 AND CONVERT(DATETIME,CONVERT(NVARCHAR(10),  NGAY_BD_KH,101)) BETWEEN @TNgay AND @DNgay ) T1 INNER JOIN 
	#MAY  AS T4 ON T1.MS_MAY = T4.MS_MAY  INNER JOIN 
#HT T5 ON T4.MS_HE_THONG = T5.MS_HE_THONG 
LEFT JOIN                       
(
	SELECT  A.MS_MAY, COUNT(DISTINCT A.MS_PHIEU_BAO_TRI) AS WO_DX
	FROM	dbo.PHIEU_BAO_TRI AS A INNER JOIN
		  dbo.LOAI_BAO_TRI AS B ON A.MS_LOAI_BT = B.MS_LOAI_BT INNER JOIN		  
		  dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET AS D ON A.MS_PHIEU_BAO_TRI = D.MS_PHIEU_BAO_TRI
	WHERE TINH_TRANG_PBT > 2 AND (B.HU_HONG = 1) AND ( CONVERT(DATETIME,CONVERT(NVARCHAR(10),  NGAY_BD_KH,101)) BETWEEN @TNgay AND @DNgay)
	GROUP BY A.MS_MAY
) T2 ON T1.MS_MAY = T2.MS_MAY LEFT JOIN
(
	SELECT  A.MS_MAY, COUNT(DISTINCT A.MS_PHIEU_BAO_TRI) AS WO_DX_PT
	FROM	dbo.PHIEU_BAO_TRI AS A INNER JOIN
		  dbo.LOAI_BAO_TRI AS B ON A.MS_LOAI_BT = B.MS_LOAI_BT INNER JOIN		  
		  dbo.PHIEU_BAO_TRI_CONG_VIEC_NHAN_SU_CHI_TIET AS D ON A.MS_PHIEU_BAO_TRI = D.MS_PHIEU_BAO_TRI INNER JOIN 
          PHIEU_BAO_TRI_CLASS E ON A.MS_PHIEU_BAO_TRI = E.MS_PHIEU_BAO_TRI
	WHERE TINH_TRANG_PBT > 2 AND (B.HU_HONG = 1) AND ( CONVERT(DATETIME,CONVERT(NVARCHAR(10),  NGAY_BD_KH,101)) BETWEEN @TNgay AND @DNgay)
	GROUP BY A.MS_MAY


) T3 ON T1.MS_MAY = T3.MS_MAY 

ORDER BY T1.MS_MAY, T4.TEN_MAY,T4.TEN_HE_THONG,T4.Ten_N_XUONG,T4.TEN_LOAI_MAY