
--SELECT * FROM [dbo].GetNgayKeGiamSatTinhTrang('01/01/2016','12/31/2016','ADMINISTRATOR','-1',-1,'-1','-1','-1',0,1) ORDER BY  MS_MAY,TEN_MAY, TEN_BO_PHAN,  TEN_TS_GSTT,MS_BO_PHAN, MS_TS_GSTT, NGAY_CUOI, NGAY_KE

ALTER FUNCTION [dbo].[GetNgayKeGiamSatTinhTrang]
(
	@TuNgay DATETIME,
	@DenNgay DATETIME,
	@UserName NVARCHAR(50),
	@MsNX NVARCHAR(5),
	@MSHT INT,
	@MsLMay NVARCHAR(20),
	@MsNMay NVARCHAR(20),
	@MSMay NVARCHAR(30),
	@NNgu int,
	@MLoai int
)

  

returns  @GSTT_NK TABLE (
	[MS_MAY] [nvarchar](30)  NULL,
	[TEN_MAY] [nvarchar](255)  NULL,
	[TEN_BO_PHAN] [nvarchar](250)  NULL,
	[TEN_TS_GSTT] [nvarchar](255)  NULL,
	[MS_BO_PHAN] [nvarchar](50)  NULL,
	[MS_TS_GSTT] [nvarchar](10)  NULL,
	[NGAY_CUOI] [datetime] NULL,
	[CHU_KY_DO] [float] NULL,
	[MS_DV_TG] [int] NULL,
	[SO_NGAY] [int] NULL,
	[SO_NGAY_CK] [float] NULL,
	[NGAY_KE] [datetime] NULL)
as
begin

DECLARE @MAY_USER TABLE (
	[MS_MAY] [nvarchar](30)  NULL,
	[TEN_MAY] [nvarchar](255)  NULL,
	NGAY_DUA_VAO_SD [datetime] NULL
)  
INSERT INTO @MAY_USER
SELECT DISTINCT MS_MAY,TEN_MAY,NGAY_DUA_VAO_SD 
	FROM dbo.MGetMayUserNgay(@DenNgay,@UserName,@MsNX,@MSHT,-1,@MsLMay,@MsNMay,@MSMay,@NNgu) A



DECLARE @MAY_NGAY_MAX TABLE (
	[MS_MAY] [nvarchar](30)  NULL,	
	[MS_BO_PHAN] [nvarchar](50)  NULL,
	[MS_TS_GSTT] [nvarchar](10)  NULL,
	[NGAY_CUOI] [datetime] NULL
)

INSERT INTO @MAY_NGAY_MAX
SELECT  T1.MS_MAY, MS_BO_PHAN, MS_TS_GSTT,MAX(T2.NGAY_KT) AS NGAY_CUOI
FROM         dbo.GIAM_SAT_TINH_TRANG_TS T1 INNER JOIN
                      dbo.GIAM_SAT_TINH_TRANG T2 ON T1.STT = T2.STT INNER JOIN @MAY_USER T3 ON T1.MS_MAY = T3.MS_MAY
WHERE NGAY_KT BETWEEN DATEADD(DAY, -1,@TuNgay) AND DATEADD(DAY, 1,@DenNgay)
GROUP BY T1.MS_MAY, MS_BO_PHAN, MS_TS_GSTT


DECLARE @MAY_NGAY_CUOI TABLE (
	[MS_MAY] [nvarchar](30) NULL,
	[TEN_MAY] [nvarchar](255) NULL,
	[TEN_BO_PHAN] [nvarchar](250)  NULL,
	[TEN_TS_GSTT] [nvarchar](255)  NULL,
	[MS_BO_PHAN] [nvarchar](50)  NULL,
	[MS_TS_GSTT] [nvarchar](10)  NULL,
	[NGAY_CUOI] [datetime] NULL,
	[NGAY_DUA_VAO_SD] [datetime] NULL,
	[CHU_KY_DO] [float] NULL,
	[MS_DV_TG] [int] NULL
)
INSERT INTO @MAY_NGAY_CUOI
SELECT     T1.MS_MAY,T4.TEN_MAY, T2.TEN_BO_PHAN, T3.TEN_TS_GSTT,T1.MS_BO_PHAN, T1.MS_TS_GSTT,
				--DBO.GetNgayCuoiGSTTTheoNgay (T1.MS_MAY, T1.MS_BO_PHAN,  T1.MS_TS_GSTT) AS NGAY_CUOI, 
				T5.NGAY_CUOI,
				NGAY_DUA_VAO_SD, T1.CHU_KY_DO, T1.MS_DV_TG
FROM         dbo.CAU_TRUC_THIET_BI_TS_GSTT AS T1 INNER JOIN
						dbo.CAU_TRUC_THIET_BI AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_BO_PHAN = T2.MS_BO_PHAN INNER JOIN
						dbo.THONG_SO_GSTT AS T3 ON T1.MS_TS_GSTT = T3.MS_TS_GSTT INNER JOIN
						@MAY_USER AS T4 ON T2.MS_MAY = T4.MS_MAY INNER JOIN @MAY_NGAY_MAX T5 ON 
						T1.MS_MAY = T5.MS_MAY AND T1.MS_BO_PHAN = T5.MS_BO_PHAN AND T1.MS_TS_GSTT = T5.MS_TS_GSTT
WHERE     (T1.MS_MAY = @MSMay OR @MSMay = '-1') 


DECLARE @MAY_SO_NGAY TABLE (
	[MS_MAY] [nvarchar](30) NULL,
	[TEN_MAY] [nvarchar](255) NULL,
	[TEN_BO_PHAN] [nvarchar](250)  NULL,
	[TEN_TS_GSTT] [nvarchar](255)  NULL,
	[MS_BO_PHAN] [nvarchar](50)  NULL,
	[MS_TS_GSTT] [nvarchar](10)  NULL,
	[NGAY_CUOI] [datetime] NULL,
	[NGAY_DUA_VAO_SD] [datetime] NULL,
	[CHU_KY_DO] [float] NULL,
	[MS_DV_TG] [int] NULL,
	SO_NGAY INT
)

INSERT INTO @MAY_SO_NGAY
SELECT * ,
			CASE MS_DV_TG WHEN 1 THEN DATEDIFF (DAY, ISNULL(NGAY_CUOI,NGAY_DUA_VAO_SD) ,@TuNgay) 
									WHEN 2 THEN DATEDIFF (DAY,ISNULL(NGAY_CUOI,NGAY_DUA_VAO_SD),@TuNgay)
									WHEN 3 THEN dbo.MGetSoThang(ISNULL(NGAY_CUOI,NGAY_DUA_VAO_SD),@TuNgay)
									ELSE  dbo.MGetSoThang(ISNULL(NGAY_CUOI,NGAY_DUA_VAO_SD),@TuNgay) END 
			AS SO_NGAY	
		FROM @MAY_NGAY_CUOI A


INSERT INTO @GSTT_NK
SELECT * ,
CASE MS_DV_TG WHEN 1 THEN CASE WHEN NGAY_CUOI <= @TuNgay THEN DATEADD (DAY,CHU_KY_DO,NGAY_CUOI) 
						ELSE DATEADD (DAY,SO_NGAY_CK,NGAY_CUOI)	END 
					WHEN 2 THEN CASE WHEN NGAY_CUOI <= @TuNgay THEN DATEADD (WEEK,CHU_KY_DO,NGAY_CUOI)
						ELSE DATEADD (WEEK,SO_NGAY_CK,NGAY_CUOI) END 							
					WHEN 3 THEN CASE WHEN NGAY_CUOI <= @TuNgay THEN DATEADD (MONTH,CHU_KY_DO,NGAY_CUOI)
							ELSE DATEADD (MONTH,SO_NGAY_CK,NGAY_CUOI) END 
					WHEN 4 THEN CASE WHEN NGAY_CUOI <= @TuNgay THEN DATEADD (YEAR,CHU_KY_DO,NGAY_CUOI)
							ELSE DATEADD (YEAR,SO_NGAY_CK,NGAY_CUOI) END END AS NGAY_KE
FROM 
(
	SELECT MS_MAY,TEN_MAY, TEN_BO_PHAN,  TEN_TS_GSTT,MS_BO_PHAN, MS_TS_GSTT, ISNULL(NGAY_CUOI,NGAY_DUA_VAO_SD) AS NGAY_CUOI, CHU_KY_DO, MS_DV_TG, SO_NGAY ,
		CASE MS_DV_TG WHEN 1 THEN CONVERT(int,SO_NGAY / CHU_KY_DO ) * CHU_KY_DO 
							WHEN 2 THEN CONVERT(int,(SO_NGAY / 7 ) / CHU_KY_DO ) * CHU_KY_DO
							WHEN 3 THEN CONVERT(int,dbo.MGetSoThang(NGAY_CUOI,@TuNgay) / CHU_KY_DO ) * CHU_KY_DO 				
							WHEN 4 THEN CONVERT(int,(SO_NGAY / 12 ) / CHU_KY_DO ) * CHU_KY_DO END AS SO_NGAY_CK
	FROM @MAY_SO_NGAY A
) A

--Lay All Ngay Ke
IF @MLoai = 1
BEGIN	
	DECLARE @MS_MAY NVARCHAR(30),@MS_BO_PHAN nvarchar (25),@MS_TS_GSTT nvarchar(50) ,
		@NGAY_CUOI DATETIME ,@NGAY_KE DATETIME, @CHU_KY_DO INT, @MS_DV_TG INT ,
		@TEN_MAY nvarchar(255), @TEN_BO_PHAN nvarchar(50), @TEN_TS_GSTT nvarchar (255)  
	
		DECLARE BTDK_CURSOR CURSOR FOR
			SELECT DISTINCT MS_MAY,MS_BO_PHAN,MS_TS_GSTT,MS_DV_TG, CHU_KY_DO,NGAY_CUOI AS NGAY_CUOI,NGAY_KE, TEN_MAY, TEN_BO_PHAN, TEN_TS_GSTT  FROM @GSTT_NK 	
			WHERE MS_DV_TG IN (1,2,3,4) AND ISNULL(CHU_KY_DO,0)  > 0


		OPEN BTDK_CURSOR
		FETCH NEXT FROM BTDK_CURSOR 
		INTO @MS_MAY, @MS_BO_PHAN,@MS_TS_GSTT,@MS_DV_TG,@CHU_KY_DO,@NGAY_CUOI,@NGAY_KE , @TEN_MAY, @TEN_BO_PHAN, @TEN_TS_GSTT 
		WHILE @@FETCH_STATUS = 0  
		BEGIN	
			SET @NGAY_KE = (SELECT CASE @MS_DV_TG
						WHEN 1 THEN  DATEADD(DAY,@CHU_KY_DO,@NGAY_KE)
						WHEN 2 THEN DATEADD(DAY,7 * @CHU_KY_DO ,@NGAY_KE)
						WHEN 3 THEN DATEADD(MONTH,@CHU_KY_DO,@NGAY_KE) 
						WHEN 4 THEN DATEADD(YEAR,@CHU_KY_DO,@NGAY_KE)												
						ELSE 
							DATEADD(YEAR,1,@DenNgay)												
						END )
			
			WHILE @NGAY_KE <= @DenNgay	
				BEGIN	
					INSERT INTO @GSTT_NK (MS_MAY,MS_BO_PHAN,MS_TS_GSTT,NGAY_CUOI,CHU_KY_DO,MS_DV_TG,NGAY_KE, TEN_MAY, TEN_BO_PHAN, TEN_TS_GSTT ) 
					VALUES (@MS_MAY,@MS_BO_PHAN,@MS_TS_GSTT,@NGAY_CUOI,@CHU_KY_DO,@MS_DV_TG,@NGAY_KE , @TEN_MAY, @TEN_BO_PHAN, @TEN_TS_GSTT ) 

					SET @NGAY_KE = (SELECT CASE @MS_DV_TG
						WHEN 1 THEN  DATEADD(DAY,@CHU_KY_DO,@NGAY_KE)
						WHEN 2 THEN DATEADD(DAY,7 * @CHU_KY_DO ,@NGAY_KE)
						WHEN 3 THEN DATEADD(MONTH,@CHU_KY_DO,@NGAY_KE) 
						WHEN 4 THEN DATEADD(YEAR,@CHU_KY_DO,@NGAY_KE)												
						ELSE 
							DATEADD(YEAR,1,@DenNgay)												
						END )
							
				 END	
			FETCH NEXT FROM BTDK_CURSOR 
			INTO @MS_MAY,@MS_BO_PHAN,@MS_TS_GSTT, @MS_DV_TG,@CHU_KY_DO,@NGAY_CUOI,@NGAY_KE, @TEN_MAY, @TEN_BO_PHAN, @TEN_TS_GSTT 
		END	
		CLOSE BTDK_CURSOR 
		DEALLOCATE  BTDK_CURSOR 	
		
END

DELETE FROM @GSTT_NK WHERE NGAY_KE NOT BETWEEN @TuNgay AND @DenNgay

return  
end

