update DS_REPORT set STT = 101 where REPORT_NAME =N'rptThongKeXuatVatTu'
update DS_REPORT set STT = 101 where REPORT_NAME =N'ucVatTuDeXuatChuaNhapKho'

update DS_REPORT set STT = 101 where REPORT_NAME =N'rptThongKeXuatVatTu'
update DS_REPORT set STT = 101 where REPORT_NAME =N'rptucVTChuaXuatKho'
update DS_REPORT set STT = 101 where REPORT_NAME =N'rptTON_KHO_KHONG_THEO_VI_TRI'

update DS_REPORT set STT = 101 where REPORT_NAME =N'rptTON_KHO_THEO_VI_TRI'
update DS_REPORT set STT = 101 where REPORT_NAME =N'ucDeXuatVatTu'
update DS_REPORT set STT = 101 where REPORT_NAME =N'ucDuToanTheoDonVi'



