IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucDSBaoTri' AND KEYWORD =N'NGAY_BD_KH') UPDATE LANGUAGES SET VIETNAM=N'Ngày bắt đầu KH', ENGLISH=N'Start date', VIETNAM_OR=N'Ngày bắt đầu KH', ENGLISH_OR=N'Start date' WHERE FORM=N'ucDSBaoTri' AND KEYWORD=N'NGAY_BD_KH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucDSBaoTri',N'NGAY_BD_KH',N'Ngày bắt đầu KH',N'Start date',N'Ngày bắt đầu KH',N'Start date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucDSBaoTri' AND KEYWORD =N'NGAY_KT_KH') UPDATE LANGUAGES SET VIETNAM=N'Ngày kết thúc KH', ENGLISH=N'Plan end', VIETNAM_OR=N'Ngày kết thúc KH', ENGLISH_OR=N'Plan end' WHERE FORM=N'ucDSBaoTri' AND KEYWORD=N'NGAY_KT_KH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucDSBaoTri',N'NGAY_KT_KH',N'Ngày kết thúc KH',N'Plan end',N'Ngày kết thúc KH',N'Plan end')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucDSBaoTri' AND KEYWORD =N'NGAY_BD') UPDATE LANGUAGES SET VIETNAM=N'Ngày bắt đầu TT', ENGLISH=N'Start date ', VIETNAM_OR=N'Ngày bắt đầu TT', ENGLISH_OR=N'Start date ' WHERE FORM=N'ucDSBaoTri' AND KEYWORD=N'NGAY_BD' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucDSBaoTri',N'NGAY_BD',N'Ngày bắt đầu TT',N'Start date ',N'Ngày bắt đầu TT',N'Start date ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucDSBaoTri' AND KEYWORD =N'NGAY_KT') UPDATE LANGUAGES SET VIETNAM=N'Ngày kết thúc TT', ENGLISH=N'Completion date', VIETNAM_OR=N'Ngày kết thúc TT', ENGLISH_OR=N'Completion date' WHERE FORM=N'ucDSBaoTri' AND KEYWORD=N'NGAY_KT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucDSBaoTri',N'NGAY_KT',N'Ngày kết thúc TT',N'Completion date',N'Ngày kết thúc TT',N'Completion date')
