IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetBCPBTVinhHoan')
   exec('CREATE PROCEDURE [dbo].[GetBCPBTVinhHoan] AS BEGIN SET NOCOUNT ON; END')
GO

--	EXEC GetBCPBTVinhHoan 'ADMIN','WO-201509000006','2014-04-24 00:00:00.000',0

ALTER PROC [dbo].[GetBCPBTVinhHoan]
	@UserName NVARCHAR(50),
	@MsPBT NVARCHAR(100),
	@NgayBDKH DATETIME,
	@NNgu INT
AS	


-- Lay thong tin phieu bao tri

SELECT     A.MS_PHIEU_BAO_TRI, K.MS_YEU_CAU, CONVERT(DATETIME, CONVERT(NVARCHAR(10), A.NGAY_LAP, 101) + ' ' + CONVERT(NVARCHAR(10), A.GIO_LAP, 108)) AS NGAY_LAP,
C.MS_MAY, C.TEN_MAY, SERIAL_NUMBER,CASE 0 WHEN 0 THEN B.TEN_TINH_TRANG WHEN 1 THEN B.TEN_TINH_TRANG_ANH ELSE B.TEN_TINH_TRANG_HOA END AS TEN_TTRANG,C.TEN_BP_CHIU_PHI,
D.TEN_LOAI_BT, A.LY_DO_BT, A.NGAY_BD_KH,A.NGAY_KT_KH,
C.Ten_N_XUONG,G.CHI_PHI_PHU_TUNG ,  G.CHI_PHI_VAT_TU, G.CHI_PHI_NHAN_CONG, G.CHI_PHI_DV , G.CHI_PHI_KHAC , A.TINH_TRANG_PBT
FROM dbo.PHIEU_BAO_TRI AS A INNER JOIN
	dbo.TINH_TRANG_PBT AS B ON A.TINH_TRANG_PBT = B.STT INNER JOIN
	(SELECT * FROM          dbo.MGetMayUserNgay(GETDATE(), 'ADMIN', '-1', - 1, - 1, '-1', '-1', '-1', 0) AS MGetMayUserNgay_1) AS C ON A.MS_MAY = C.MS_MAY INNER JOIN
	dbo.LOAI_BAO_TRI AS D ON A.MS_LOAI_BT = D.MS_LOAI_BT LEFT OUTER JOIN
	dbo.YEU_CAU_NSD_CHI_TIET AS H ON A.MS_PHIEU_BAO_TRI = H.MS_PBT LEFT OUTER JOIN
	dbo.YEU_CAU_NSD AS K ON H.STT = K.STT LEFT OUTER JOIN
    PHIEU_BAO_TRI_CHI_PHI G ON A.MS_PHIEU_BAO_TRI = G.MS_PHIEU_BAO_TRI
WHERE     (A.MS_PHIEU_BAO_TRI = @MsPBT)


-- Lay thong tin phieu bao tri cong viec
SELECT ROW_NUMBER() OVER (ORDER BY A.MO_TA_CV,A.TEN_BO_PHAN) AS STT,
* 
FROM (SELECT DISTINCT CASE @NNgu WHEN 0 THEN MO_TA_CV WHEN 1 THEN MO_TA_CV_ANH ELSE MO_TA_CV_HOA END AS MO_TA_CV, T2.TEN_BO_PHAN, 
dbo.GetNhanSuPBT(T3.MS_PHIEU_BAO_TRI, T3.MS_BO_PHAN, T3.MS_CV,0) AS NGUOI_THUC_HIEN, T4.YEU_CAU_DUNG_CU,T3.SO_GIO_KH,T3.DINH_MUC_PB, 0 AS CVPT

FROM         dbo.PHIEU_BAO_TRI AS T1 INNER JOIN
                      dbo.CAU_TRUC_THIET_BI AS T2 ON T1.MS_MAY = T2.MS_MAY INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC AS T3 ON T1.MS_PHIEU_BAO_TRI = T3.MS_PHIEU_BAO_TRI AND T2.MS_BO_PHAN = T3.MS_BO_PHAN INNER JOIN
                      dbo.CONG_VIEC AS T4 ON T3.MS_CV = T4.MS_CV
WHERE     (T1.MS_PHIEU_BAO_TRI = @MsPBT)  AND (T3.STT_SERVICE IS NULL)


UNION

-- Lay thong tin phieu bao tri cong viec phu tru
SELECT    TEN_CONG_VIEC,NULL AS BO_PHAN,  dbo.GetNhanSuPBT(MS_PHIEU_BAO_TRI, '-1', STT,1) AS NGUOI_THUC_HIEN,NULL AS YEU_CAU_DUNG_CU, SO_GIO_KH , NULL, 1

		FROM         dbo.PHIEU_BAO_TRI_CV_PHU_TRO T1
	WHERE     (MS_PHIEU_BAO_TRI = @MsPBT)
) A ORDER BY CVPT, A.MO_TA_CV,A.TEN_BO_PHAN




-- Lay thong tin phieu bao tri phu tung + vat tu
DECLARE @PBT_PT TABLE (
	[MS_PT] [nvarchar](25) NULL,
	[TEN_PT] [nvarchar](500) NULL,
	[MS_PT_NCC] [nvarchar](25) NULL,
	[TEN_DVT] [nvarchar](20) NULL,
	[SL_KH] [float] NULL,
	[SL_TT] [float] NULL,
	[QUY_CACH] [nvarchar](500) NULL
)
DECLARE @TTPBT INT
SELECT @TTPBT = ISNULL(TINH_TRANG_PBT,0) FROM PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = @MsPBT

-- GET PHU TUNG
IF @TTPBT = 3
BEGIN
		INSERT INTO @PBT_PT ([MS_PT],[TEN_PT],[MS_PT_NCC],[TEN_DVT],[SL_KH],[SL_TT],QUY_CACH)
		SELECT     A.MS_PT, A.TEN_PT, A.MS_PT_NCC, 
			CASE @NNgu WHEN 0 THEN B.TEN_1 WHEN 1 THEN B.TEN_2 ELSE B.TEN_3 END AS TEN_DVT, 
			SUM(D.SL_KH) AS SL_KH, SUM(C.SL_TT) AS SL_TT, A.QUY_CACH
		FROM         dbo.IC_PHU_TUNG AS A INNER JOIN
                      dbo.DON_VI_TINH AS B ON A.DVT = B.DVT INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO AS C ON A.MS_PT = C.MS_PTTT INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS D ON C.MS_PHIEU_BAO_TRI = D.MS_PHIEU_BAO_TRI AND C.MS_CV = D.MS_CV AND C.MS_BO_PHAN = D.MS_BO_PHAN AND 
                      C.MS_PT = D.MS_PT INNER JOIN
                      dbo.LOAI_VT AS E ON A.MS_LOAI_VT = E.MS_LOAI_VT INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC AS F ON D.MS_PHIEU_BAO_TRI = F.MS_PHIEU_BAO_TRI AND D.MS_CV = F.MS_CV AND D.MS_BO_PHAN = F.MS_BO_PHAN
		WHERE     (C.MS_PHIEU_BAO_TRI = @MsPBT) AND (E.VAT_TU = 0) AND (F.STT_SERVICE IS NULL)
		GROUP BY A.MS_PT, A.TEN_PT, A.QUY_CACH, A.MS_PT_NCC, B.TEN_1,B.TEN_2, B.TEN_3
END
ELSE
BEGIN
	IF @TTPBT > 3
	BEGIN
		INSERT INTO @PBT_PT ([MS_PT],[TEN_PT],[MS_PT_NCC],[TEN_DVT],[SL_KH],[SL_TT],QUY_CACH)
		SELECT     A.MS_PT, A.TEN_PT,A.MS_PT_NCC, 
			CASE @NNgu WHEN 0 THEN B.TEN_1 WHEN 1 THEN B.TEN_2 ELSE B.TEN_3 END AS TEN_DVT, 
			SUM(D.SL_KH) AS SL_KH, SUM(C.SL_TT) AS SL_TT,A.QUY_CACH
		FROM dbo.IC_PHU_TUNG AS A INNER JOIN
                      dbo.DON_VI_TINH AS B ON A.DVT = B.DVT INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO AS C ON A.MS_PT = C.MS_PTTT INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS D ON C.MS_PHIEU_BAO_TRI = D.MS_PHIEU_BAO_TRI AND C.MS_CV = D.MS_CV AND C.MS_BO_PHAN = D.MS_BO_PHAN AND 
                      C.MS_PT = D.MS_PT INNER JOIN
                      dbo.LOAI_VT AS E ON A.MS_LOAI_VT = E.MS_LOAI_VT INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC AS F ON D.MS_PHIEU_BAO_TRI = F.MS_PHIEU_BAO_TRI AND D.MS_CV = F.MS_CV AND D.MS_BO_PHAN = F.MS_BO_PHAN
		WHERE    (C.MS_PHIEU_BAO_TRI = @MsPBT) AND (E.VAT_TU = 0)  AND (F.STT_SERVICE IS NULL)
		GROUP BY A.MS_PT, A.TEN_PT, A.QUY_CACH, A.MS_PT_NCC, B.TEN_1,B.TEN_2, B.TEN_3
	END 
	ELSE
	BEGIN
		INSERT INTO @PBT_PT ([MS_PT],[TEN_PT],[MS_PT_NCC],[TEN_DVT],[SL_KH],[SL_TT],QUY_CACH)
		SELECT     A.MS_PT, B.TEN_PT,B.MS_PT_NCC, 
			CASE @NNgu WHEN 0 THEN C.TEN_1 WHEN 1 THEN C.TEN_2 ELSE C.TEN_3 END AS TEN_DVT, 
			SUM(A.SL_KH) AS SL_KH, SUM(A.SL_TT) AS SL_TT,B.QUY_CACH
		FROM dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A INNER JOIN
                      dbo.IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS C ON B.DVT = C.DVT INNER JOIN
                      dbo.LOAI_VT AS E ON B.MS_LOAI_VT = E.MS_LOAI_VT INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC AS F ON A.MS_PHIEU_BAO_TRI = F.MS_PHIEU_BAO_TRI AND A.MS_CV = F.MS_CV AND A.MS_BO_PHAN = F.MS_BO_PHAN
		WHERE     (E.VAT_TU = 0) AND (A.MS_PHIEU_BAO_TRI = @MsPBT) AND (F.STT_SERVICE IS NULL)
		GROUP BY A.MS_PT, B.TEN_PT, B.QUY_CACH, B.MS_PT_NCC,C.TEN_1, C.TEN_2, C.TEN_3
END
END

-- GET VAT TU
IF @TTPBT >=3 
BEGIN
		INSERT INTO @PBT_PT ([MS_PT],[TEN_PT],[MS_PT_NCC],[TEN_DVT],[SL_KH],[SL_TT],QUY_CACH)
		SELECT     A.MS_PT, A.TEN_PT, A.MS_PT_NCC, 
			CASE @NNgu WHEN 0 THEN E.TEN_1 WHEN 1 THEN E.TEN_2 ELSE E.TEN_3 END AS TEN_DVT, 
			SUM(F.SL_KH) AS SL_KH, SUM(G.SL_VT) AS SL_TT	, A.QUY_CACH
		FROM dbo.PHIEU_BAO_TRI_CONG_VIEC AS T1 INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS F ON T1.MS_PHIEU_BAO_TRI = F.MS_PHIEU_BAO_TRI AND T1.MS_CV = F.MS_CV AND T1.MS_BO_PHAN = F.MS_BO_PHAN RIGHT OUTER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU_CHI_TIET AS H INNER JOIN
                      dbo.IC_DON_HANG_NHAP_VAT_TU AS K ON H.MS_DH_NHAP_PT = K.MS_DH_NHAP_PT AND H.MS_PT = K.MS_PT AND H.ID = K.ID INNER JOIN
                      dbo.IC_PHU_TUNG AS A INNER JOIN
                      dbo.IC_DON_HANG_XUAT AS B INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU AS C ON B.MS_DH_XUAT_PT = C.MS_DH_XUAT_PT ON A.MS_PT = C.MS_PT INNER JOIN
                      dbo.LOAI_VT AS D ON A.MS_LOAI_VT = D.MS_LOAI_VT INNER JOIN
                      dbo.DON_VI_TINH AS E ON A.DVT = E.DVT INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU_CHI_TIET AS G ON C.MS_DH_XUAT_PT = G.MS_DH_XUAT_PT AND C.MS_PT = G.MS_PT ON H.MS_DH_NHAP_PT = G.MS_DH_NHAP_PT AND 
                      H.MS_PT = G.MS_PT AND H.MS_VI_TRI = G.MS_VI_TRI AND H.ID = G.ID_XUAT ON F.MS_PT = C.MS_PT AND F.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI LEFT OUTER JOIN
                      dbo.HANG_SAN_XUAT AS X ON A.MS_HSX = X.MS_HSX
		WHERE     (B.MS_PHIEU_BAO_TRI = @MsPBT) AND (D.VAT_TU = 1)  AND (T1.STT_SERVICE IS NULL)
		GROUP BY A.MS_PT, A.TEN_PT, A.QUY_CACH, A.MS_PT_NCC, E.TEN_1,E.TEN_2, E.TEN_3
	
END
ELSE 
BEGIN
	
	INSERT INTO @PBT_PT ([MS_PT],[TEN_PT],[MS_PT_NCC],[TEN_DVT],[SL_KH],[SL_TT],QUY_CACH)
	SELECT     A.MS_PT, A.TEN_PT,A.MS_PT_NCC, 
			CASE @NNgu WHEN 0 THEN E.TEN_1 WHEN 1 THEN E.TEN_2 ELSE E.TEN_3 END AS TEN_DVT, 
			SUM(F.SL_KH) AS SL_KH, SUM(C.SO_LUONG_THUC_XUAT) AS SL_TT, A.QUY_CACH
	FROM dbo.PHIEU_BAO_TRI_CONG_VIEC AS T1 INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS F ON T1.MS_PHIEU_BAO_TRI = F.MS_PHIEU_BAO_TRI AND T1.MS_CV = F.MS_CV AND T1.MS_BO_PHAN = F.MS_BO_PHAN RIGHT OUTER JOIN
                      dbo.IC_PHU_TUNG AS A INNER JOIN
                      dbo.IC_DON_HANG_XUAT AS B INNER JOIN
                      dbo.IC_DON_HANG_XUAT_VAT_TU AS C ON B.MS_DH_XUAT_PT = C.MS_DH_XUAT_PT ON A.MS_PT = C.MS_PT INNER JOIN
                      dbo.LOAI_VT AS D ON A.MS_LOAI_VT = D.MS_LOAI_VT INNER JOIN
                      dbo.DON_VI_TINH AS E ON A.DVT = E.DVT ON F.MS_PT = C.MS_PT AND F.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI LEFT OUTER JOIN
                      dbo.HANG_SAN_XUAT AS X ON A.MS_HSX = X.MS_HSX
	WHERE     (D.VAT_TU = 1) AND (B.MS_PHIEU_BAO_TRI = @MsPBT) AND (T1.STT_SERVICE IS NULL)
	GROUP BY A.MS_PT, A.TEN_PT, A.QUY_CACH, A.MS_PT_NCC, E.TEN_1,E.TEN_2, E.TEN_3
	UNION
	SELECT     A.MS_PT, A.TEN_PT,A.MS_PT_NCC, 
			CASE @NNgu WHEN 0 THEN D.TEN_1 WHEN 1 THEN D.TEN_2 ELSE D.TEN_3 END AS TEN_DVT, 
			SUM(B.SL_KH) AS SL_KH, SUM(B.SL_TT) AS SL_TT,A.QUY_CACH
	FROM dbo.IC_PHU_TUNG AS A INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT INNER JOIN
                      dbo.LOAI_VT AS C ON C.MS_LOAI_VT = A.MS_LOAI_VT INNER JOIN
                      dbo.DON_VI_TINH AS D ON A.DVT = D.DVT INNER JOIN
                      dbo.PHIEU_BAO_TRI_CONG_VIEC AS T1 ON B.MS_PHIEU_BAO_TRI = T1.MS_PHIEU_BAO_TRI AND B.MS_CV = T1.MS_CV AND B.MS_BO_PHAN = T1.MS_BO_PHAN LEFT OUTER JOIN
                      dbo.HANG_SAN_XUAT AS X ON A.MS_HSX = X.MS_HSX
	WHERE     (C.VAT_TU = 1) AND (B.MS_PHIEU_BAO_TRI = @MsPBT) AND (T1.STT_SERVICE IS NULL) AND (B.MS_PT NOT IN
							  (SELECT Y.MS_PT FROM dbo.IC_DON_HANG_XUAT AS X INNER JOIN dbo.IC_DON_HANG_XUAT_VAT_TU AS Y ON 
								X.MS_DH_XUAT_PT = Y.MS_DH_XUAT_PT WHERE (X.MS_PHIEU_BAO_TRI = @MsPBT)))
	GROUP BY A.MS_PT, A.TEN_PT, A.QUY_CACH, A.MS_PT_NCC, D.TEN_1,D.TEN_2,D.TEN_3	
END

SELECT TEN_PT,MS_PT,QUY_CACH,TEN_DVT,SL_KH,SL_TT FROM @PBT_PT ORDER BY [TEN_PT],[MS_PT]

-- Lay thong tin phieu bao tri dich vu
SELECT   CONVERT(nvarchar,NULL) AS LOAI_DV, T1.NOI_DUNG_SERVICE, T2.TEN_CONG_TY, T1.SO_LUONG, T1.DON_GIA,
(T1.SO_LUONG * T1.DON_GIA ) * T1.TY_GIA AS TT
FROM         dbo.PHIEU_BAO_TRI_SERVICE AS T1 INNER JOIN
                      dbo.KHACH_HANG AS T2 ON T1.MS_KH = T2.MS_KH
WHERE     (T1.MS_PHIEU_BAO_TRI = @MsPBT)