IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_DONDATHANG')
   exec('CREATE PROCEDURE [dbo].[SP_DONDATHANG] AS BEGIN SET NOCOUNT ON; END')
GO


ALTER   PROC  [dbo].[SP_DONDATHANG] 
@MS_DON_DAT_HANG NVARCHAR(50)
AS

SELECT     dbo.DON_DAT_HANG.NHA_CUNG_CAP, dbo.DON_DAT_HANG.DIA_CHI_NCC, dbo.DON_DAT_HANG.DIEN_THOAI_NCC, dbo.DON_DAT_HANG.FAX_NCC, dbo.KHACH_HANG.MS_THUE, 						
                      dbo.KHACH_HANG.TAI_KHOAN_ANH						
FROM         dbo.DON_DAT_HANG LEFT OUTER JOIN						
                      dbo.KHACH_HANG ON dbo.DON_DAT_HANG.NHA_CUNG_CAP = dbo.KHACH_HANG.TEN_CONG_TY
WHERE dbo.DON_DAT_HANG.MS_DON_DAT_HANG=@MS_DON_DAT_HANG

SELECT     dbo.IC_PHU_TUNG.TEN_PT, dbo.IC_PHU_TUNG.MS_PT, dbo.IC_PHU_TUNG.QUY_CACH, 						
                      CASE 0 WHEN 0 THEN dbo.DON_VI_TINH.TEN_1 WHEN 1 THEN dbo.DON_VI_TINH.TEN_2 ELSE dbo.DON_VI_TINH.TEN_3 END AS TEN_DVT, dbo.DON_DAT_HANG_CHI_TIET.SL_DAT_HANG, 						
                      dbo.DON_DAT_HANG_CHI_TIET.DON_GIA, dbo.DON_DAT_HANG_CHI_TIET.THANH_TIEN, dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG						
FROM         dbo.DON_DAT_HANG INNER JOIN						
                      dbo.DON_DAT_HANG_CHI_TIET ON dbo.DON_DAT_HANG.MS_DON_DAT_HANG = dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG INNER JOIN						
                      dbo.IC_PHU_TUNG ON dbo.DON_DAT_HANG_CHI_TIET.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN						
                      dbo.DON_VI_TINH ON dbo.IC_PHU_TUNG.DVT = dbo.DON_VI_TINH.DVT						
WHERE     (dbo.DON_DAT_HANG_CHI_TIET.MS_DON_DAT_HANG = @MS_DON_DAT_HANG)						

