IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_YEUCAUNGUOISUDUNG')
   exec('CREATE PROCEDURE [dbo].[SP_YEUCAUNGUOISUDUNG] AS BEGIN SET NOCOUNT ON; END')
GO


ALTER PROC [dbo].[SP_YEUCAUNGUOISUDUNG]
@MS_YEU_CAU NVARCHAR(50)
AS

SELECT     dbo.YEU_CAU_NSD.NGUOI_YEU_CAU, dbo.TO_PHONG_BAN.TEN_TO AS PHONG, dbo.YEU_CAU_NSD_CHI_TIET.Y_KIEN_DSX AS DUYET, dbo.YEU_CAU_NSD.NGAY AS NGAY_LAP_PHIEU							
FROM         dbo.YEU_CAU_NSD INNER JOIN							
                      dbo.USERS ON dbo.YEU_CAU_NSD.USER_LAP = dbo.USERS.USERNAME INNER JOIN							
                      dbo.TO_PHONG_BAN ON dbo.USERS.MS_TO = dbo.TO_PHONG_BAN.MS_TO INNER JOIN							
                      dbo.YEU_CAU_NSD_CHI_TIET ON dbo.YEU_CAU_NSD.STT = dbo.YEU_CAU_NSD_CHI_TIET.STT
WHERE dbo.YEU_CAU_NSD.MS_YEU_CAU=@MS_YEU_CAU


SELECT     dbo.CONG_NHAN.HO + ' ' + dbo.CONG_NHAN.TEN AS NGUOI_THUC_HIEN, dbo.TO_PHONG_BAN.TEN_TO AS PHONG, 						
                      dbo.YEU_CAU_NSD_CHI_TIET.Y_KIEN_DSX AS DUYET, dbo.YEU_CAU_NSD.NGAY_HOAN_THANH						
FROM         dbo.YEU_CAU_NSD_CHI_TIET INNER JOIN						
                      dbo.CONG_NHAN ON dbo.YEU_CAU_NSD_CHI_TIET.MS_CONG_NHAN = dbo.CONG_NHAN.MS_CONG_NHAN INNER JOIN						
                      dbo.TO_PHONG_BAN ON dbo.CONG_NHAN.MS_TO = dbo.TO_PHONG_BAN.MS_TO INNER JOIN						
                      dbo.YEU_CAU_NSD ON dbo.YEU_CAU_NSD_CHI_TIET.STT = dbo.YEU_CAU_NSD.STT						
WHERE dbo.YEU_CAU_NSD.MS_YEU_CAU=@MS_YEU_CAU	


SELECT     dbo.MAY.TEN_MAY, dbo.YEU_CAU_NSD_CHI_TIET.MS_MAY, dbo.YEU_CAU_NSD_CHI_TIET.YEU_CAU, dbo.MUC_UU_TIEN.TEN_UU_TIEN ,							
                      dbo.YEU_CAU_NSD_CHI_TIET.MO_TA_TINH_TRANG, dbo.YEU_CAU_NSD.NGAY_HOAN_THANH, 							
                      dbo.YEU_CAU_NSD_CHI_TIET.Y_KIEN_DBT							
FROM         dbo.YEU_CAU_NSD_CHI_TIET INNER JOIN							
                      dbo.MAY ON dbo.YEU_CAU_NSD_CHI_TIET.MS_MAY = dbo.MAY.MS_MAY INNER JOIN							
                      dbo.YEU_CAU_NSD ON dbo.YEU_CAU_NSD_CHI_TIET.STT = dbo.YEU_CAU_NSD.STT INNER JOIN							
                      dbo.MUC_UU_TIEN ON dbo.YEU_CAU_NSD_CHI_TIET.MS_UU_TIEN = dbo.MUC_UU_TIEN.MS_UU_TIEN							
WHERE dbo.YEU_CAU_NSD.MS_YEU_CAU=@MS_YEU_CAU					
