IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_DENGHIMUAHANG')
   exec('CREATE PROCEDURE [dbo].[SP_DENGHIMUAHANG] AS BEGIN SET NOCOUNT ON; END')
GO
ALTER   PROC [dbo].[SP_DENGHIMUAHANG]
@MS_DE_XUAT NVARCHAR(50)
AS
SELECT     SO_DE_XUAT, MS_DE_XUAT, PHONG_BAN					
FROM         dbo.DE_XUAT_MUA_HANG
WHERE 			dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT	=@MS_DE_XUAT	

SELECT     TEN_PT, MS_PT, DVT, TON_KHO, TON_MIN, SL_DE_XUAT, DON_GIA, NGAY_GIAO_HANG, CONG_DUNG, dbo.DE_XUAT_MUA_HANG.GHI_CHU										
FROM         dbo.DE_XUAT_MUA_HANG INNER JOIN
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET ON dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT = dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT										
WHERE 			dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT=@MS_DE_XUAT
