--exec SP_DENGHIMUAHANG 'DX-1404-0010'

ALTER   PROC [dbo].[SP_DENGHIMUAHANG]
@MS_DE_XUAT NVARCHAR(50)
AS

DECLARE @TEN1 NVARCHAR(500)
DECLARE @TEN2 NVARCHAR(500)
DECLARE @TEN3 NVARCHAR(500)

DECLARE @NGAY1 DATETIME
DECLARE @NGAY2 DATETIME
DECLARE @NGAY3 DATETIME


SELECT @TEN1 = HO + ' ' + TEN , @NGAY1 = NGAY_LAP
FROM DE_XUAT_MUA_HANG T1 INNER JOIN USERS T2 ON T1.NGUOI_LAP = T2.USERNAME LEFT JOIN CONG_NHAN T3 ON T2.MS_CONG_NHAN = T3.MS_CONG_NHAN
WHERE T1.MS_DE_XUAT = @MS_DE_XUAT

SELECT @TEN2 = HO + ' ' + TEN, @NGAY2 =  T1.NGAY_DUYET
FROM DE_XUAT_MUA_HANG_DUYET T1 INNER JOIN USERS T2 ON T1.NGUOI_DUYET = T2.USERNAME LEFT JOIN CONG_NHAN T3 ON T2.MS_CONG_NHAN = T3.MS_CONG_NHAN
WHERE T1.TT_DUYET = 0 AND T1.MS_DE_XUAT = @MS_DE_XUAT

SELECT @TEN3 = HO + ' ' + TEN, @NGAY3 =  T1.NGAY_DUYET 
FROM DE_XUAT_MUA_HANG_DUYET T1 INNER JOIN USERS T2 ON T1.NGUOI_DUYET = T2.USERNAME LEFT JOIN CONG_NHAN T3 ON T2.MS_CONG_NHAN = T3.MS_CONG_NHAN
WHERE T1.TT_DUYET = 1 AND T1.MS_DE_XUAT = @MS_DE_XUAT




SELECT     SO_DE_XUAT, MS_DE_XUAT, PHONG_BAN, @TEN1 AS TEN1, @TEN2 AS TEN2, @TEN3 AS TEN3, 
	@NGAY1 AS NGAY1, @NGAY2 AS NGAY2, @NGAY3 AS NGAY3
FROM         dbo.DE_XUAT_MUA_HANG
WHERE 			dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT	=@MS_DE_XUAT	

SELECT     TEN_PT, MS_PT, DVT, TON_KHO, TON_MIN, SL_DE_XUAT, DON_GIA, NGAY_GIAO_HANG, 
	CONG_DUNG, dbo.DE_XUAT_MUA_HANG.GHI_CHU,NGAY_GIAO,NGAY_NHAN											
FROM         dbo.DE_XUAT_MUA_HANG INNER JOIN
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET ON dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT = dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT										
WHERE 			dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT=@MS_DE_XUAT


