--SELECT * FROM LANGUAGES WHERE FORM = 'rptPHIEU_BAO_TRI_VH' AND KEYWORD = 'MAU_SO' --Mã số: FOR-6038   Mã số: FOR-6038

UPDATE LANGUAGES SET VIETNAM = N'Mã số:' , ENGLISH = N'Mã số:',CHINESE= N'Mã số:' ,VIETNAM_OR = N'Mã số:' , ENGLISH_OR = N'Mã số:' ,CHINESE_OR= N'Mã số:'
 WHERE FORM = 'rptPHIEU_BAO_TRI_VH' AND KEYWORD = 'MAU_SO'
 
UPDATE LANGUAGES SET VIETNAM = N'FOR-6038' , ENGLISH = N'FOR-6038',CHINESE= N'FOR-6038' ,VIETNAM_OR = N'FOR-6038' , ENGLISH_OR = N'FOR-6038' ,CHINESE_OR= N'FOR-6038'
 WHERE FORM = 'rptPHIEU_BAO_TRI_VH' AND KEYWORD = 'TMP5'
