IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetKHBaoTriThangNamVH')
   exec('CREATE PROCEDURE [dbo].[GetKHBaoTriThangNamVH] AS BEGIN SET NOCOUNT ON; END')
GO


-- DROP TABLE AAAAA
---SELECT MS_HE_THONG INTO AAAAA FROM HE_THONG WHERE TEN_HE_THONG = N'G-RM2(Kho nguyên liệu - kho xá)'
--	SELECT MS_HE_THONG INTO AAAAA FROM HE_THONG GO exec [GetKHBaoTriThangNamVH] '01/01/2015', '12/31/2015', '-1','KHBT_NAM_SSDAdmin','-1','administrator',0
-- SELECT * FROM KHBT_NAMAdministrator

ALTER procedure [dbo].[GetKHBaoTriThangNamVH] 
	@NgayBD DATETIME,
	@NgayKT DATETIME,
	@MsNXuong nvarchar(50),
	@MayIN NVARCHAR(255),	
	@MsLoaiMay NVARCHAR (20),
	@UserName NVARCHAR(255),
	@NNgu int
AS
begin
--@LoaiBC = 0 Nam
--@LoaiBC = 1 Thang

CREATE TABLE #MAY_IN (MS_MAY NVARCHAR(50))

DECLARE @sSql nvarchar(4000)
SET @sSql = 'INSERT INTO #MAY_IN SELECT DISTINCT MS_MAY FROM ' + @MayIN + ' WHERE CHON = 1'
EXEC (@sSql)

SET @sSql = 'DROP TABLE ' + @MayIN
EXEC (@sSql)



--Lấy dữ liệu theo nha xuong, he thong và tính ngày bảo trì định kỳ cuoi
DECLARE @NgayHT DATETIME
SET @NgayHT = GETDATE()

SELECT A.MS_MAY,A.MS_N_XUONG,A.Ten_N_XUONG,A.MS_BP_CHIU_PHI,A.TEN_BP_CHIU_PHI, A.TEN_MAY,A.MODEL INTO #MAY_USER 
	FROM [dbo].[MGetMayUserNgay](@NgayHT,@UserName,@MsNXuong,-1,-1,@MsLoaiMay,'-1','-1',@NNgu) A 
	INNER JOIN 	#MAY_IN B ON A.MS_MAY = B.MS_MAY


SELECT B.* INTO #TB_BTDK_TMP FROM #MAY_USER AS A
INNER JOIN
(SELECT     dbo.MAY_LOAI_BTPN.MS_MAY, dbo.MAY_LOAI_BTPN.MS_LOAI_BT, T_1.MS_DV_TG, T_1.CHU_KY, MAX(dbo.MAY_LOAI_BTPN.NGAY_CUOI) 
                      AS NGAY_CUOI, CONVERT(DATETIME, NULL) AS NGAY_KE
FROM         dbo.MAY_LOAI_BTPN INNER JOIN
                          (SELECT     T2.MS_MAY, T2.MS_LOAI_BT, T2.CHU_KY, T2.MS_DV_TG
                            FROM          (SELECT     MS_MAY, MS_LOAI_BT, MAX(NGAY_AD) AS NGAY_AD
                                                    FROM          dbo.MAY_LOAI_BTPN_CHU_KY AS T
                                                    GROUP BY MS_MAY, MS_LOAI_BT) AS T1 INNER JOIN
                                                   dbo.MAY_LOAI_BTPN_CHU_KY AS T2 ON T1.MS_MAY = T2.MS_MAY AND T1.MS_LOAI_BT = T2.MS_LOAI_BT AND 
                                                   T1.NGAY_AD = T2.NGAY_AD) AS T_1 ON dbo.MAY_LOAI_BTPN.MS_MAY = T_1.MS_MAY AND 
                      dbo.MAY_LOAI_BTPN.MS_LOAI_BT = T_1.MS_LOAI_BT
                      
WHERE     (T_1.CHU_KY IS NOT NULL)
GROUP BY dbo.MAY_LOAI_BTPN.MS_MAY, dbo.MAY_LOAI_BTPN.MS_LOAI_BT, T_1.MS_DV_TG, T_1.CHU_KY) AS B  
ON A.MS_MAY = B.MS_MAY   

--Tính thời gian chạy máy 
-- Nếu ngày kế > Now thì tính thời gian chạy máy từ lần bảo trì trước đến ngày kế
-- Nếu ngày kế là Max so với Now thì tính thời gian chạy mấy từ ngày cuối đến Now 
-- Nếu ngày kế nhỏ hơn Max so với Now thì tính thời gian chạy máy từ ngày cuối đến ngày kế

CREATE TABLE #TB_BTDK_TMP_1
(MS_MAY NVARCHAR (30), MS_LOAI_BT INT, MS_DV_TG INT , CHU_KY INT ,NGAY_CUOI DATETIME , NGAY_KE DATETIME ,THOI_GIAN_CHAY_MAY INT )

DECLARE @MS_MAY_TMP NVARCHAR(30) ,@MS_LOAI_BT_TMP INT,@NGAY_CUOI_TMP DATETIME ,
	@NGAY_KE_TMP DATETIME, @CHU_KY_TMP INT, @MS_DV_TG_TMP INT
SET @NgayBD = CONVERT (NVARCHAR (10),@NgayBD,102) 
SET @NgayKT = CONVERT (NVARCHAR (10),@NgayKT,102) 

DECLARE BTDK_CURSOR CURSOR FOR
SELECT * FROM #TB_BTDK_TMP WHERE MS_DV_TG IN (1,2,3,4) AND CHU_KY IS NOT NULL AND CHU_KY > 0

OPEN BTDK_CURSOR
FETCH NEXT FROM BTDK_CURSOR 
INTO @MS_MAY_TMP, @MS_LOAI_BT_TMP ,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_KE_TMP
WHILE @@FETCH_STATUS = 0  
BEGIN	
	DECLARE @NGAY_NEXT DATETIME
	DECLARE @NGAY_NEXT_FIST DATETIME 
	DECLARE @NGAY_NEXT_LAST DATETIME 	
	DECLARE @SNgay INT
	DECLARE @SNgayCK INT


	SET @NGAY_NEXT =  @NGAY_CUOI_TMP		
	SET @NGAY_NEXT_FIST =  @NGAY_CUOI_TMP
	SET @NGAY_NEXT_LAST =  @NGAY_CUOI_TMP
	
	
	WHILE @NGAY_NEXT <= @NgayKT	
		BEGIN	
			INSERT INTO #TB_BTDK_TMP_1 (MS_MAY,MS_LOAI_BT,MS_DV_TG,CHU_KY,NGAY_CUOI,NGAY_KE) 
			VALUES (@MS_MAY_TMP,@MS_LOAI_BT_TMP,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_NEXT ) 

			SET @NGAY_NEXT = (SELECT CASE @MS_DV_TG_TMP
				WHEN 1 THEN  DATEADD(DAY,@CHU_KY_TMP,@NGAY_NEXT)
				WHEN 2 THEN DATEADD(DAY,7 * @CHU_KY_TMP ,@NGAY_NEXT)
				WHEN 3 THEN DATEADD(MONTH,@CHU_KY_TMP,@NGAY_NEXT) 
				WHEN 4 THEN DATEADD(YEAR,@CHU_KY_TMP,@NGAY_NEXT)												
				ELSE 
					DATEADD(YEAR,1,@NgayKT)												
				END )
					
		 END	
	FETCH NEXT FROM BTDK_CURSOR 
	INTO @MS_MAY_TMP, @MS_LOAI_BT_TMP ,@MS_DV_TG_TMP,@CHU_KY_TMP,@NGAY_CUOI_TMP,@NGAY_KE_TMP
END	
CLOSE BTDK_CURSOR 
DEALLOCATE  BTDK_CURSOR 

--Xoa du lieu ngoai giai doan xem
DELETE FROM #TB_BTDK_TMP_1
	WHERE NGAY_KE NOT IN (SELECT NGAY_KE FROM #TB_BTDK_TMP_1 WHERE NGAY_KE  BETWEEN @NgayBD AND @NgayKT)

--Xoa du lieu ton tai trong may loai BTPN
DELETE A FROM #TB_BTDK_TMP_1 A INNER JOIN MAY_LOAI_BTPN B ON A.MS_MAY=B.MS_MAY AND A.MS_LOAI_BT =B.MS_LOAI_BT 
	WHERE A.NGAY_KE <= B.NGAY_CUOI OR ( A.NGAY_KE<@NgayBD AND A.NGAY_KE>@NgayKT)


--Xóa dữ liệu quan hệ trong khoảng 1/4 chu kỳ của bảo trì con
--DELETE TB_BTDK_TMP_1_1
--FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
--                      #TB_BTDK_TMP_1 AS TB_BTDK_TMP_1_1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = TB_BTDK_TMP_1_1.MS_LOAI_BT INNER JOIN
--                      #TB_BTDK_TMP_1 AS TB_BTDK_TMP_1 ON TB_BTDK_TMP_1_1.MS_MAY = TB_BTDK_TMP_1.MS_MAY AND 
--                      dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = TB_BTDK_TMP_1.MS_LOAI_BT 
--WHERE DATEADD(DAY,CASE TB_BTDK_TMP_1_1.MS_DV_TG 
--	WHEN 2 THEN TB_BTDK_TMP_1_1.CHU_KY * 7 
--	WHEN 3 THEN TB_BTDK_TMP_1_1.CHU_KY * 30 
--	WHEN 4 THEN TB_BTDK_TMP_1_1.CHU_KY * 365 
--	ELSE TB_BTDK_TMP_1_1.CHU_KY END / 4, TB_BTDK_TMP_1_1.NGAY_KE) 
	
--                      >= TB_BTDK_TMP_1.NGAY_KE AND DATEADD(DAY, 
--                      - (CASE TB_BTDK_TMP_1_1.MS_DV_TG WHEN 2 THEN TB_BTDK_TMP_1_1.CHU_KY * 7 WHEN 3 THEN TB_BTDK_TMP_1_1.CHU_KY * 30 WHEN 4 THEN
--                       TB_BTDK_TMP_1_1.CHU_KY * 365 ELSE TB_BTDK_TMP_1_1.CHU_KY END / 4), TB_BTDK_TMP_1_1.NGAY_KE) <= TB_BTDK_TMP_1.NGAY_KE 
DELETE TB_BTDK_TMP_1_1
FROM         dbo.LOAI_BAO_TRI_QH INNER JOIN
                      #TB_BTDK_TMP_1 AS TB_BTDK_TMP_1_1 ON dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CD = TB_BTDK_TMP_1_1.MS_LOAI_BT INNER JOIN
                      #TB_BTDK_TMP_1 AS TB_BTDK_TMP_1 ON TB_BTDK_TMP_1_1.MS_MAY = TB_BTDK_TMP_1.MS_MAY AND 
                      dbo.LOAI_BAO_TRI_QH.MS_LOAI_BT_CT = TB_BTDK_TMP_1.MS_LOAI_BT 
WHERE 
	CASE TB_BTDK_TMP_1_1.MS_DV_TG 
		WHEN 1 THEN DATEADD(DAY,TB_BTDK_TMP_1_1.CHU_KY/4,TB_BTDK_TMP_1_1.NGAY_KE)
		WHEN 2 THEN DATEADD(DAY,(7 * TB_BTDK_TMP_1_1.CHU_KY) / 4 ,TB_BTDK_TMP_1_1.NGAY_KE)
		WHEN 3 THEN DATEADD(MONTH,TB_BTDK_TMP_1_1.CHU_KY/4,TB_BTDK_TMP_1_1.NGAY_KE) 
		WHEN 4 THEN DATEADD(YEAR,TB_BTDK_TMP_1_1.CHU_KY/4,TB_BTDK_TMP_1_1.NGAY_KE)
	ELSE DATEADD(YEAR,1,@NgayKT) END   	
                      >= TB_BTDK_TMP_1.NGAY_KE AND 
CASE TB_BTDK_TMP_1_1.MS_DV_TG WHEN 1 THEN  DATEADD(DAY,-TB_BTDK_TMP_1.CHU_KY/4,TB_BTDK_TMP_1_1.NGAY_KE)
						WHEN 2 THEN DATEADD(DAY, -(7 * TB_BTDK_TMP_1.CHU_KY) / 4 ,TB_BTDK_TMP_1_1.NGAY_KE)
						WHEN 3 THEN DATEADD(MONTH,-TB_BTDK_TMP_1.CHU_KY / 4,TB_BTDK_TMP_1_1.NGAY_KE) 
						WHEN 4 THEN DATEADD(YEAR,-TB_BTDK_TMP_1.CHU_KY / 4,TB_BTDK_TMP_1_1.NGAY_KE)												
						ELSE 
							DATEADD(YEAR,-1,@NgayKT)												
						END   
   
   <= TB_BTDK_TMP_1.NGAY_KE 

                       
                       
--Xóa bảo trì định kỳ đã lập bên kế hoạch tổng thể và phiếu bảo trì
DELETE T
FROM #TB_BTDK_TMP_1 T INNER JOIN
dbo.KE_HOACH_TONG_THE T1 ON T.MS_MAY = T1.MS_MAY AND 
T.MS_LOAI_BT = T1.MS_LOAI_BT AND DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_KE) >= T1.NGAY AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_KE) <= T1.NGAY 


DELETE T
FROM #TB_BTDK_TMP_1 T INNER JOIN
dbo.PHIEU_BAO_TRI T1 ON T.MS_MAY = T1.MS_MAY AND 
T.MS_LOAI_BT = T1.MS_LOAI_BT AND DATEADD(DAY,  CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4, T.NGAY_KE) >= T1.NGAY_BD_KH AND DATEADD(DAY, - (CASE T.MS_DV_TG WHEN 2 THEN T.CHU_KY * 7 WHEN 3 THEN T.CHU_KY * 30 WHEN 4 THEN 
T.CHU_KY * 365 ELSE T.CHU_KY END / 4), T.NGAY_KE) <= T1.NGAY_BD_KH 


	SELECT A.MS_MAY,B.Ten_N_XUONG,MS_N_XUONG,A.MS_LOAI_BT, 
	NGAY_KE,MONTH(NGAY_KE) AS THANG,DAY(NGAY_KE) AS NGAY,CONVERT(INT,NGAY_KE) AS THANG_NAM, CHU_KY,MS_DV_TG, B.TEN_MAY,B.MODEL,B.MS_BP_CHIU_PHI,B.TEN_BP_CHIU_PHI
	FROM #TB_BTDK_TMP_1 A INNER JOIN #MAY_USER B ON A.MS_MAY = B.MS_MAY 
	UNION 
	SELECT     T1.MS_MAY, Ten_N_XUONG, MS_N_XUONG,T1.MS_LOAI_BT,
	T1.NGAY, MONTH(T1.NGAY) AS THANG,DAY(T1.NGAY) AS NGAY,CONVERT(INT,NGAY) AS THANG_NAM, CHU_KY, MS_DV_TG,
	 T2.TEN_MAY,T2.MODEL,T2.MS_BP_CHIU_PHI,T2.TEN_BP_CHIU_PHI
	FROM         dbo.KE_HOACH_TONG_THE AS T1 INNER JOIN
	(SELECT     T2.MS_MAY, T2.MS_LOAI_BT, T2.CHU_KY, T2.MS_DV_TG FROM (SELECT MS_MAY, MS_LOAI_BT, MAX(NGAY_AD) AS NGAY_AD 
	FROM MAY_LOAI_BTPN_CHU_KY AS T GROUP BY MS_MAY, MS_LOAI_BT) AS T1 INNER JOIN MAY_LOAI_BTPN_CHU_KY AS T2 ON 
		T1.MS_MAY = T2.MS_MAY AND T1.MS_LOAI_BT = T2.MS_LOAI_BT AND T1.NGAY_AD = T2.NGAY_AD) AS T_1 ON 
		T1.MS_MAY = T_1.MS_MAY AND T1.MS_LOAI_BT = T_1.MS_LOAI_BT INNER JOIN  #MAY_USER T2 ON T1.MS_MAY = T2.MS_MAY 
	WHERE NGAY BETWEEN @NgayBD AND @NgayKT
END

