

-- GetLANGUAGEs 0,1
ALTER procedure [dbo].[GetLANGUAGEs] 
@TYPE INT,
@FORM BIT
AS
SELECT DISTINCT FORM, ISNULL(HANG_MUC,' ')+(CASE @TYPE WHEN 0 THEN VIETNAM WHEN 1 THEN ENGLISH ELSE CHINESE END)AS VIETNAM,HANG_MUC AS MENU, 
C.TEN_L_REPORT AS LOAI_REPORT ,TEN_REPORT_VIET AS TEN_REPORT
FROM         dbo.LANGUAGES A LEFT JOIN DS_REPORT B ON A.FORM = B.REPORT_NAME LEFT JOIN LOAI_REPORT C ON B.LOAI_REPORT = C.MS_LOAI
WHERE     FORM_HAY_REPORT=@FORM
ORDER BY FORM
