

--exec SP_DENGHIMUAHANG 'DX-1512-0030'

ALTER   PROC [dbo].[SP_DENGHIMUAHANG]
@MS_DE_XUAT NVARCHAR(50)
AS

DECLARE @TEN1 NVARCHAR(500)
DECLARE @TEN2 NVARCHAR(500)
DECLARE @TEN3 NVARCHAR(500)

DECLARE @NGAY1 DATETIME
DECLARE @NGAY2 DATETIME
DECLARE @NGAY3 DATETIME


SELECT @TEN1 = HO + ' ' + TEN , @NGAY1 = NGAY_LAP
FROM DE_XUAT_MUA_HANG T1 INNER JOIN USERS T2 ON T1.NGUOI_LAP = T2.USERNAME LEFT JOIN CONG_NHAN T3 ON T2.MS_CONG_NHAN = T3.MS_CONG_NHAN
WHERE T1.MS_DE_XUAT = @MS_DE_XUAT

SELECT @TEN2 = HO + ' ' + TEN, @NGAY2 =  T1.NGAY_DUYET
FROM DE_XUAT_MUA_HANG_DUYET T1 INNER JOIN USERS T2 ON T1.NGUOI_DUYET = T2.USERNAME 
LEFT JOIN CONG_NHAN T3 ON T2.MS_CONG_NHAN = T3.MS_CONG_NHAN
WHERE T1.TT_DUYET = 1 AND T1.MS_DE_XUAT = @MS_DE_XUAT AND DUYET = 1

SELECT @TEN3 = HO + ' ' + TEN, @NGAY3 =  T1.NGAY_DUYET 
FROM DE_XUAT_MUA_HANG_DUYET T1 INNER JOIN USERS T2 ON T1.NGUOI_DUYET = T2.USERNAME LEFT JOIN CONG_NHAN T3 ON T2.MS_CONG_NHAN = T3.MS_CONG_NHAN
WHERE T1.TT_DUYET = 2 AND T1.MS_DE_XUAT = @MS_DE_XUAT  AND DUYET = 1

SELECT SO_DE_XUAT, MS_DE_XUAT, PHONG_BAN, @TEN1 AS TEN1, @TEN2 AS TEN2, @TEN3 AS TEN3, 
	@NGAY1 AS NGAY1, @NGAY2 AS NGAY2, @NGAY3 AS NGAY3,	
	(SELECT CASE COUNT(*) WHEN NULL THEN 0 ELSE COUNT(*) END FROM DE_XUAT_MUA_HANG_CHI_TIET WHERE MS_DE_XUAT = @MS_DE_XUAT) AS CT,
	(SELECT CASE COUNT(*) WHEN NULL THEN 0 ELSE COUNT(*) END FROM DE_XUAT_MUA_HANG_DICH_VU WHERE MS_DE_XUAT = @MS_DE_XUAT) AS DV, 
	ISNULL(KEY_DUYET,'') AS KEY_DUYET
FROM         dbo.DE_XUAT_MUA_HANG
WHERE 			dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT	=@MS_DE_XUAT	

SELECT TEN_PT, MS_PT, DVT, TON_KHO, TON_MIN, SL_DE_XUAT, DON_GIA, NGAY_GIAO_HANG, 
	CONG_DUNG, dbo.DE_XUAT_MUA_HANG_CHI_TIET.GHI_CHU AS  GHI_CHU,NGAY_GIAO,NGAY_NHAN											
FROM         dbo.DE_XUAT_MUA_HANG INNER JOIN
                      dbo.DE_XUAT_MUA_HANG_CHI_TIET ON dbo.DE_XUAT_MUA_HANG.MS_DE_XUAT = dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT										
WHERE 			dbo.DE_XUAT_MUA_HANG_CHI_TIET.MS_DE_XUAT=@MS_DE_XUAT
ORDER BY TEN_PT, MS_PT, DVT



SELECT A.TEN_DICH_VU, A.DVT, A.SL_DE_XUAT, A.DON_GIA, A.THANH_TIEN, A.LY_DO,NGAY_DX,NGAY_GIAO,NGAY_NHAN,A.GHI_CHU
FROM         dbo.DE_XUAT_MUA_HANG_DICH_VU AS A INNER JOIN
                      dbo.DE_XUAT_MUA_HANG AS B ON A.MS_DE_XUAT = B.MS_DE_XUAT
WHERE     (A.MS_DE_XUAT = @MS_DE_XUAT)
ORDER BY A.MS_DE_XUAT