
--SELECT * FROM CHUC_NANG ORDER BY STT DESC
IF NOT EXISTS(SELECT * FROM CHUC_NANG WHERE STT = 62)
BEGIN
	INSERT INTO CHUC_NANG(STT,TEN_CHUC_NANG,TEN_CHUC_NANG_ANH)
	VALUES(62,N'Cập nhập duyệt Đề nghị mua hàng',N'Cập nhập duyệt Đề nghị mua hàng')
END