
IF  NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[TINH_TRANG_YCSD]') AND type in (N'U'))
BEGIN
	CREATE TABLE [TINH_TRANG_YCSD](
		[MS_TTRANG] [int] NOT NULL,
		[TEN_TTRANG] [nvarchar](250) NULL,
		[TEN_TTRANG_ANH] [nvarchar](250) NULL,
		[TEN_TTRANG_HOA] [nvarchar](250) NULL,
	 CONSTRAINT [PK_TINH_TRANG_YCSD] PRIMARY KEY CLUSTERED 
	(
		[MS_TTRANG] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	) ON [PRIMARY]
END

GO

IF NOT EXISTS (SELECT * FROM TINH_TRANG_YCSD WHERE MS_TTRANG = 0)
BEGIN
INSERT [TINH_TRANG_YCSD] ([MS_TTRANG], [TEN_TTRANG], [TEN_TTRANG_ANH], [TEN_TTRANG_HOA]) VALUES (0, N'Bỏ qua', N'Cancel', NULL)
INSERT [TINH_TRANG_YCSD] ([MS_TTRANG], [TEN_TTRANG], [TEN_TTRANG_ANH], [TEN_TTRANG_HOA]) VALUES (1, N'Chưa duyệt', N'Waiting approval', NULL)
INSERT [TINH_TRANG_YCSD] ([MS_TTRANG], [TEN_TTRANG], [TEN_TTRANG_ANH], [TEN_TTRANG_HOA]) VALUES (2, N'Chưa giải quyết', N'Not Solve', NULL)
INSERT [TINH_TRANG_YCSD] ([MS_TTRANG], [TEN_TTRANG], [TEN_TTRANG_ANH], [TEN_TTRANG_HOA]) VALUES (3, N'Chờ thực hiện', N'Pending', NULL)

END


