
IF NOT EXISTS (SELECT * FROM CHUC_NANG WHERE STT = 63)
BEGIN 
	INSERT INTO CHUC_NANG (STT,TEN_CHUC_NANG,TEN_CHUC_NANG_ANH)
	VALUES (63, N'Lock phiếu nhập' , 'Lock receipt')
END 

IF NOT EXISTS (SELECT * FROM CHUC_NANG WHERE STT = 64)
BEGIN 
	INSERT INTO CHUC_NANG (STT,TEN_CHUC_NANG,TEN_CHUC_NANG_ANH)
	VALUES (64, N'Lock phiếu xuất' , 'Lock issue')
END

