


IF NOT EXISTS(SELECT * FROM DS_REPORT WHERE REPORT_NAME = 'rptPhanTichChiPhi_DUYTAN')
BEGIN
INSERT [dbo].[DS_REPORT] ([REPORT_NAME], [TEN_REPORT_VIET], [TEN_REPORT_ANH], [TEN_REPORT_HOA], [LOAI_REPORT], [STT], [CUSTUMER], [NOTE], [SCRIPT], [TAB], [NAMES], [TYPE], [REPORT_MAIL]) 
	VALUES (N'rptPhanTichChiPhi_DUYTAN', N'Phân tích chi phí', N'Analysizing maintenance cost', NULL, 9, 5, N'Duy Tân', N'Phân tích đánh giá chi phí bảo trì theo từng phân xưởng, dây chuyền, thiết bị,.(Cho khách hàng Duy Tân)', N'H_GET_DATA_PHAN_TICH_CHI_PHI, H_GET_TINH_TRANG_AND_HINH_THUC_PHIEU_BAO_TRI, H_GET_RPT_PHIEU_BAO_TRI, H_GET_RPT_CONG_VIEC_BAO_TRI, H_GET_RPT_CONG_NHAN_BAO_TRI, H_GET_RPT_DICH_VU_THUE_NGOAI, H_GET_VAT_TU_PHIEU_BAO_TRI, H_GET_PHU_TUNG_PHIEU_BAO_TRI, ', N'Thống kê chi phí', 'frmrptPhanTichChiPhi_DUYTAN', 2, 1)
END
else
begin
	UPDATE [DS_REPORT] SET NAMES ='frmrptPhanTichChiPhi_DUYTAN' WHERE REPORT_NAME = N'rptPhanTichChiPhi_DUYTAN'
end 
go
IF NOT EXISTS(SELECT * FROM [NHOM_REPORT] WHERE REPORT_NAME = 'rptPhanTichChiPhi_DUYTAN' AND GROUP_ID = 1)
BEGIN
INSERT [dbo].[NHOM_REPORT] (GROUP_ID, [REPORT_NAME], [QUYEN]) VALUES (1, N'rptPhanTichChiPhi_DUYTAN', N'Access')
END
GO
IF NOT EXISTS(SELECT * FROM LIC_REPORT WHERE TYPE_LIC =  N'̦' AND REPORT_NAME = N'ΨΤάͤΔΆΠͬΖΊΔ͊ΔΖͤΔΖ΂͌ͮͶͬ͆͠')
BEGIN
INSERT INTO LIC_REPORT (TYPE_LIC,REPORT_NAME)
VALUES(N'̦',N'ΨΤάͤΔΆΠͬΖΊΔ͊ΔΖͤΔΖ΂͌ͮͶͬ͆͠')
END