IF NOT EXISTS(SELECT TOP(1) 1 FROM sys.columns WHERE Name = N'MS_IMPORT_CHA' AND Object_ID = Object_ID(N'DS_IMPORT'))
BEGIN
    ALTER TABLE DS_IMPORT ADD MS_IMPORT_CHA INT NULL
END
go
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 71) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (71, N'Đơn vị tính', N'Đơn vị tính', N'Đơn vị tính', 1, 1, 101)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 72) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (72, N'Danh sách Nhà cung cấp', N'Danh sách Nhà cung cấp', N'Danh sách Nhà cung cấp', 1, 1, 100)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 73) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (73, N'Người liên hệ', N'Người liên hệ', N'Người liên hệ', 1, 1, 100)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 74) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (74, N'Hãng sản xuất', N'Hãng sản xuất', N'Hãng sản xuất', 1, 1, 100)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 75) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (75, N'Danh mục Quốc gia', N'Danh mục Quốc gia', NULL, 1, 1, NULL)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 76) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (76, N'Danh mục Vật tư phụ tùng', N'Danh mục Vật tư phụ tùng', NULL, 1, 1, 102)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 77) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (77, N'GSTT Định tính', N'Danh mục GSTT Định tính', NULL, 1, 1, 103)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 78) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (78, N'GSTT Định lượng', N'Danh mục GSTT Định lượng', NULL, 1, 1, 103)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 79) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (79, N'Danh sách Thiết bị', N'Danh sách Thiết bị', N'Danh sách Thiết bị', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 80) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (80, N'Cấu trúc Thiết bị', N'Cấu trúc Thiết bị', N'Cấu trúc Thiết bị', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 81) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (81, N'Cấu trúc Thiết bị - Phụ tùng', N'Cấu trúc Thiết bị - Phụ tùng', N'Cấu trúc Thiết bị - Phụ tùng', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 82) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (82, N'Cấu trúc Thiết bị - Công việc', N'Cấu trúc Thiết bị - Công việc', N'Cấu trúc Thiết bị - Công việc', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 83) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (83, N'Cấu trúc Thiết bị - GSTT Định tính', N'Cấu trúc Thiết bị - GSTT Định tính', N'Cấu trúc Thiết bị - GSTT Định tính', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 84) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (84, N'Cấu trúc Thiết bị - GSTT Định lượng', N'Cấu trúc Thiết bị - GSTT Định lượng', N'Cấu trúc Thiết bị - GSTT Định lượng', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 85) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (85, N'Thiết bị - Loại Bảo trì', N'Thiết bị - Loại Bảo trì', N'Thiết bị - Loại Bảo trì', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 86) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (86, N'Loại bảo trì Công việc', N'Loại bảo trì Công việc', N'Loại bảo trì Công việc', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 87) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (87, N'Loại bảo trì Công việc Phụ Tùng', N'Loại bảo trì Công việc Phụ Tùng', N'Loại bảo trì Công việc Phụ Tùng', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 88) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (88, N'Quy định HC ĐHĐ', N'Quy định HC ĐHĐ', N'Quy định HC ĐHĐ', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 89) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (89, N'Cấu trúc TB - TS Bộ phận', N'Cấu trúc TB - TS Bộ phận', N'Cấu trúc TB - TS Bộ phận', 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 100) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (100, N'01 - Thông tin Nhà cung cấp', N'01 - Thông tin Nhà cung cấp', NULL, 1, 1, 100)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 101) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (101, N'02 - Đơn vị tính, Đơn vị đo', N'02 - Đơn vị tính, Đơn vị đo', NULL, 1, 1, 101)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 102) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (102, N'03 - Danh sách Vật tư Phụ tùng', N'03 - Danh sách Vật tư Phụ tùng', NULL, 1, 1, 102)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 103) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (103, N'04 - Công việc bảo trì giám sát', N'04 - Công việc bảo trì giám sát', NULL, 1, 1, 103)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 104) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (104, N'05 - Thông tin Thiết bị', N'05 - Thông tin Thiết bị', NULL, 1, 1, 104)
IF NOT EXISTS (SELECT * FROM DS_IMPORT WHERE MS_IMPORT = 999) INSERT [dbo].[DS_IMPORT] ([MS_IMPORT], [TEN_IMPORT], [TEN_IMPORT_A], [TEN_IMPORT_H], [SU_DUNG], [IMPORT], [MS_IMPORT_CHA]) VALUES (999, N'Công việc bảo trì', N'Danh mục Công việc bảo trì', NULL, 1, 1, 103)
