

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET](
	[MS_PHIEU_BAO_TRI] [nvarchar](20) NOT NULL,
	[STT] [int] NOT NULL,
	[MS_TT_CT] [int] NULL,
	[GHI_CHU] [nvarchar](500) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[THOI_GIAN] [datetime] NULL,
 CONSTRAINT [PK_PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[MS_PHIEU_BAO_TRI] ASC,
	[STT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET_PHIEU_BAO_TRI] FOREIGN KEY([MS_PHIEU_BAO_TRI])
REFERENCES [dbo].[PHIEU_BAO_TRI] ([MS_PHIEU_BAO_TRI])


ALTER TABLE [dbo].[PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET] CHECK CONSTRAINT [FK_PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET_PHIEU_BAO_TRI]


ALTER TABLE [dbo].[PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET_TINH_TRANG_PBT_CT] FOREIGN KEY([MS_TT_CT])
REFERENCES [dbo].[TINH_TRANG_PBT_CT] ([MS_TT_CT])


ALTER TABLE [dbo].[PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET] CHECK CONSTRAINT [FK_PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET_TINH_TRANG_PBT_CT]



END