IF NOT EXISTS (SELECT * FROM LIC_FORM WHERE FORM_NAME = N'ΐΨΞ͊Ά')
BEGIN 
	INSERT INTO LIC_FORM (TYPE_LIC, FORM_NAME) VALUES ( N'̦', N'ΐΨΞ͊Ά')
END

IF NOT EXISTS (SELECT * FROM CHI_TIET_FORMS WHERE FORM_NAME = N'frmCa')
BEGIN 
	INSERT INTO CHI_TIET_FORMS (FORM_NAME, TEN_FORMS_VIET, TEN_FORMS_ANH) VALUES ( N'frmCa', 'Ca' ,N'Shift')
END

IF NOT EXISTS (SELECT * FROM NHOM_FORM WHERE FORM_NAME = 'frmCa')
BEGIN
	INSERT INTO NHOM_FORM (GROUP_ID, FORM_NAME, QUYEN) 
	SELECT GROUP_ID, 'frmCa', 'Read only' FROM NHOM 
	
END
