
IF NOT EXISTS (SELECT * FROM TRANG_THAI_DX WHERE MS_TT = 0)
	INSERT [dbo].[TRANG_THAI_DX] ([MS_TT], [TEN_TT]) VALUES (0, N'Chưa nhập')
GO
IF NOT EXISTS (SELECT * FROM TRANG_THAI_DX WHERE MS_TT = 1)
	INSERT [dbo].[TRANG_THAI_DX] ([MS_TT], [TEN_TT]) VALUES (1, N'Nhập chưa đủ')
GO
IF NOT EXISTS (SELECT * FROM TRANG_THAI_DX WHERE MS_TT = 2)
	INSERT [dbo].[TRANG_THAI_DX] ([MS_TT], [TEN_TT]) VALUES (2, N'Đã nhập đủ')

