

--IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO]') AND type in (N'U'))
--BEGIN
--CREATE TABLE [dbo].[DIEU_DO](
--	[ID_DD] [bigint] IDENTITY(1,1) NOT NULL,
--	[MS_DIEU_DO] [nvarchar](50) NULL,
--	[NGAY_DD] [date] NULL,
--	[USER_DD] [nvarchar](50) NULL,
--	[DD_TN] [date] NULL,
--	[DD_DN] [date] NULL,
--	[CV_TN] [date] NULL,
--	[CV_DN] [date] NULL,
--	[SO_NV_DD] [float] NULL,
--	[SO_GIO_DD] [float] NULL,
--	[HIEU_SUAT_DD] [float] NULL,
--	[SO_PHUT_KHONG_DD] [float] NULL,
--	[GHI_CHU] [nvarchar](500) NULL,
--	[ID_NHOM_DD] [bigint] NULL,
-- CONSTRAINT [PK_DIEU_DO] PRIMARY KEY CLUSTERED 
--(
--	[ID_DD] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]
--END
--GO
--/****** Object:  Table [dbo].[DIEU_DO_BD]    Script Date: 27/08/2019 16:09:52 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_BD]') AND type in (N'U'))
--BEGIN
--CREATE TABLE [dbo].[DIEU_DO_BD](
--	[ID_DD] [bigint] NOT NULL,
--	[MA_SO] [bigint] NOT NULL,
--	[NGAY_KH] [datetime] NULL,
--	[TG_KH] [float] NULL,
--	[NGAY_DD] [datetime] NULL,
-- CONSTRAINT [PK_DIEU_DO_BD] PRIMARY KEY CLUSTERED 
--(
--	[ID_DD] ASC,
--	[MA_SO] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]
--END
--GO
--/****** Object:  Table [dbo].[DIEU_DO_CVVP]    Script Date: 27/08/2019 16:09:52 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_CVVP]') AND type in (N'U'))
--BEGIN
--CREATE TABLE [dbo].[DIEU_DO_CVVP](
--	[ID_DD_CVVP] [bigint] IDENTITY(1,1) NOT NULL,
--	[ID_DD] [bigint] NULL,
--	[MS_CONG_NHAN] [nvarchar](9) NULL,
--	[NGAY] [datetime] NULL,
--	[STT] [int] NULL,
--	[SO_GIO_KH] [float] NULL,
--	[SO_NGUOI_DD] [int] NULL,
--	[NGAY_DD] [date] NULL,
-- CONSTRAINT [PK_DIEU_DO_CVVP] PRIMARY KEY CLUSTERED 
--(
--	[ID_DD_CVVP] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]
--END
--GO
--/****** Object:  Table [dbo].[DIEU_DO_GSTT]    Script Date: 27/08/2019 16:09:52 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_GSTT]') AND type in (N'U'))
--BEGIN
--CREATE TABLE [dbo].[DIEU_DO_GSTT](
--	[ID_DD_GSTT] [bigint] IDENTITY(1,1) NOT NULL,
--	[ID_DD] [bigint] NULL,
--	[STT] [int] NULL,
--	[MS_MAY] [nvarchar](30) NULL,
--	[MS_TS_GSTT] [nvarchar](10) NULL,
--	[MS_BO_PHAN] [nvarchar](50) NULL,
--	[MS_TT] [int] NULL,
--	[SO_GIO_KH] [float] NULL,
--	[SO_NGUOI_DD] [int] NULL,
--	[NGAY_DD] [date] NULL,
--	[NGAY_KT_KE] [date] NULL,
-- CONSTRAINT [PK_DIEU_DO_GSTT] PRIMARY KEY CLUSTERED 
--(
--	[ID_DD_GSTT] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]
--END
--GO
--/****** Object:  Table [dbo].[DIEU_DO_KHTT]    Script Date: 27/08/2019 16:09:52 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_KHTT]') AND type in (N'U'))
--BEGIN
--CREATE TABLE [dbo].[DIEU_DO_KHTT](
--	[ID_DD_KHTT] [bigint] IDENTITY(1,1) NOT NULL,
--	[ID_DD] [bigint] NULL,
--	[HANG_MUC_ID] [int] NULL,
--	[MS_MAY] [nvarchar](50) NULL,
--	[MS_CV] [int] NULL,
--	[MS_BO_PHAN] [nvarchar](50) NULL,
--	[SO_GIO_KH] [float] NULL,
--	[SO_NGUOI_DD] [int] NULL,
--	[NGAY_DD] [date] NULL,
-- CONSTRAINT [PK_DIEU_DO_KHTT] PRIMARY KEY CLUSTERED 
--(
--	[ID_DD_KHTT] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]
--END
--GO
--/****** Object:  Table [dbo].[DIEU_DO_NHOM]    Script Date: 27/08/2019 16:09:52 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM]') AND type in (N'U'))
--BEGIN
--CREATE TABLE [dbo].[DIEU_DO_NHOM](
--	[ID_NHOM_DD] [bigint] IDENTITY(1,1) NOT NULL,
--	[TEN_NHOM] [nvarchar](250) NULL,
--	[TEN_NHOM_ANH] [nvarchar](250) NULL,
--	[TEN_NHOM_HOA] [nvarchar](250) NULL,
--	[GHI_CHU] [nvarchar](500) NULL,
-- CONSTRAINT [PK_DIEU_DO_NHOM] PRIMARY KEY CLUSTERED 
--(
--	[ID_NHOM_DD] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]
--END
--GO
--/****** Object:  Table [dbo].[DIEU_DO_NHOM_CN]    Script Date: 27/08/2019 16:09:52 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_CN]') AND type in (N'U'))
--BEGIN
--CREATE TABLE [dbo].[DIEU_DO_NHOM_CN](
--	[ID_NHOM_DD] [bigint] NOT NULL,
--	[MS_CONG_NHAN] [nvarchar](9) NOT NULL,
--	[GHI_CHU] [nvarchar](500) NULL,
-- CONSTRAINT [PK_DIEU_DO_NHOM_CN] PRIMARY KEY CLUSTERED 
--(
--	[ID_NHOM_DD] ASC,
--	[MS_CONG_NHAN] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]
--END
--GO
--/****** Object:  Table [dbo].[DIEU_DO_NHOM_MAY]    Script Date: 27/08/2019 16:09:52 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_MAY]') AND type in (N'U'))
--BEGIN
--CREATE TABLE [dbo].[DIEU_DO_NHOM_MAY](
--	[ID_NHOM_DD] [bigint] NOT NULL,
--	[MS_MAY] [nvarchar](30) NOT NULL,
--	[GHI_CHU] [nvarchar](500) NULL,
-- CONSTRAINT [PK_DIEU_DO_NHOM_MAY] PRIMARY KEY CLUSTERED 
--(
--	[ID_NHOM_DD] ASC,
--	[MS_MAY] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]
--END
--GO
--/****** Object:  Table [dbo].[DIEU_DO_PBT]    Script Date: 27/08/2019 16:09:52 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_PBT]') AND type in (N'U'))
--BEGIN
--CREATE TABLE [dbo].[DIEU_DO_PBT](
--	[ID_DD_PBT] [bigint] IDENTITY(1,1) NOT NULL,
--	[ID_DD] [bigint] NULL,
--	[MS_PHIEU_BAO_TRI] [nvarchar](20) NULL,
--	[MS_MAY] [nvarchar](50) NULL,
--	[MS_CV] [int] NULL,
--	[MS_BO_PHAN] [nvarchar](50) NULL,
--	[SO_GIO_KH] [float] NULL,
--	[SO_NGUOI_DD] [int] NULL,
--	[NGAY_DD] [date] NULL,
-- CONSTRAINT [PK_DIEU_DO_PBT] PRIMARY KEY CLUSTERED 
--(
--	[ID_DD_PBT] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
--) ON [PRIMARY]
--END
--GO
--IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_DIEU_DO_NHOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO]'))
--ALTER TABLE [dbo].[DIEU_DO]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_DIEU_DO_NHOM] FOREIGN KEY([ID_NHOM_DD])
--REFERENCES [dbo].[DIEU_DO_NHOM] ([ID_NHOM_DD])
--ON UPDATE CASCADE
--ON DELETE CASCADE
--GO
--IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_DIEU_DO_NHOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO]'))
--ALTER TABLE [dbo].[DIEU_DO] CHECK CONSTRAINT [FK_DIEU_DO_DIEU_DO_NHOM]
--GO
--IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_BD_DIEU_DO]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_BD]'))
--ALTER TABLE [dbo].[DIEU_DO_BD]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_BD_DIEU_DO] FOREIGN KEY([ID_DD])
--REFERENCES [dbo].[DIEU_DO] ([ID_DD])
--ON UPDATE CASCADE
--ON DELETE CASCADE
--GO
--IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_BD_DIEU_DO]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_BD]'))
--ALTER TABLE [dbo].[DIEU_DO_BD] CHECK CONSTRAINT [FK_DIEU_DO_BD_DIEU_DO]
--GO
--IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_CN_CONG_NHAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_CN]'))
--ALTER TABLE [dbo].[DIEU_DO_NHOM_CN]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_NHOM_CN_CONG_NHAN] FOREIGN KEY([MS_CONG_NHAN])
--REFERENCES [dbo].[CONG_NHAN] ([MS_CONG_NHAN])
--ON UPDATE CASCADE
--ON DELETE CASCADE
--GO
--IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_CN_CONG_NHAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_CN]'))
--ALTER TABLE [dbo].[DIEU_DO_NHOM_CN] CHECK CONSTRAINT [FK_DIEU_DO_NHOM_CN_CONG_NHAN]
--GO
--IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_CN_DIEU_DO_NHOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_CN]'))
--ALTER TABLE [dbo].[DIEU_DO_NHOM_CN]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_NHOM_CN_DIEU_DO_NHOM] FOREIGN KEY([ID_NHOM_DD])
--REFERENCES [dbo].[DIEU_DO_NHOM] ([ID_NHOM_DD])
--ON UPDATE CASCADE
--ON DELETE CASCADE
--GO
--IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_CN_DIEU_DO_NHOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_CN]'))
--ALTER TABLE [dbo].[DIEU_DO_NHOM_CN] CHECK CONSTRAINT [FK_DIEU_DO_NHOM_CN_DIEU_DO_NHOM]
--GO
--IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_MAY_DIEU_DO_NHOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_MAY]'))
--ALTER TABLE [dbo].[DIEU_DO_NHOM_MAY]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_NHOM_MAY_DIEU_DO_NHOM] FOREIGN KEY([ID_NHOM_DD])
--REFERENCES [dbo].[DIEU_DO_NHOM] ([ID_NHOM_DD])
--ON UPDATE CASCADE
--ON DELETE CASCADE
--GO
--IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_MAY_DIEU_DO_NHOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_MAY]'))
--ALTER TABLE [dbo].[DIEU_DO_NHOM_MAY] CHECK CONSTRAINT [FK_DIEU_DO_NHOM_MAY_DIEU_DO_NHOM]
--GO
--IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_MAY_MAY]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_MAY]'))
--ALTER TABLE [dbo].[DIEU_DO_NHOM_MAY]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_NHOM_MAY_MAY] FOREIGN KEY([MS_MAY])
--REFERENCES [dbo].[MAY] ([MS_MAY])
--ON UPDATE CASCADE
--ON DELETE CASCADE
--GO
--IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_MAY_MAY]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_MAY]'))
--ALTER TABLE [dbo].[DIEU_DO_NHOM_MAY] CHECK CONSTRAINT [FK_DIEU_DO_NHOM_MAY_MAY]
--GO
--IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_PBT_DIEU_DO]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_PBT]'))
--ALTER TABLE [dbo].[DIEU_DO_PBT]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_PBT_DIEU_DO] FOREIGN KEY([ID_DD])
--REFERENCES [dbo].[DIEU_DO] ([ID_DD])
--ON UPDATE CASCADE
--ON DELETE CASCADE
--GO
--IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_PBT_DIEU_DO]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_PBT]'))
--ALTER TABLE [dbo].[DIEU_DO_PBT] CHECK CONSTRAINT [FK_DIEU_DO_PBT_DIEU_DO]
--GO
--IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'DIEU_DO_CVVP', N'COLUMN',N'MS_CONG_NHAN'))
--	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dùng ghi nhận kế hoạch nhân viên văn phòng ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DIEU_DO_CVVP', @level2type=N'COLUMN',@level2name=N'MS_CONG_NHAN'
--GO
--IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'DIEU_DO_CVVP', N'COLUMN',N'NGAY'))
--	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DIEU_DO_CVVP', @level2type=N'COLUMN',@level2name=N'NGAY'
--GO
--IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'DIEU_DO_CVVP', N'COLUMN',N'STT'))
--	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã dùngghi nhiều dòng ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DIEU_DO_CVVP', @level2type=N'COLUMN',@level2name=N'STT'
--GO
--IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'DIEU_DO_GSTT', N'COLUMN',N'STT'))
--	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'STT - ghi nhận kết quả kiểm tra thông số định lượng ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DIEU_DO_GSTT', @level2type=N'COLUMN',@level2name=N'STT'
--GO
--IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'DIEU_DO_GSTT', N'COLUMN',N'MS_MAY'))
--	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thiết bị ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DIEU_DO_GSTT', @level2type=N'COLUMN',@level2name=N'MS_MAY'
--GO
--IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'DIEU_DO_GSTT', N'COLUMN',N'MS_TS_GSTT'))
--	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thông số kiểm tra - một lần kiểm tra nhiều thông số  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DIEU_DO_GSTT', @level2type=N'COLUMN',@level2name=N'MS_TS_GSTT'
--GO
--IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'DIEU_DO_GSTT', N'COLUMN',N'MS_BO_PHAN'))
--	EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bộ phận ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DIEU_DO_GSTT', @level2type=N'COLUMN',@level2name=N'MS_BO_PHAN'
--GO


