
--  EXEC CheckHE_THONG_MA 13,14
ALTER proc [dbo].[CheckHE_THONG_MA]
	@MS_HE_THONG INT,
	@MA_HE_THONG NVARCHAR(50)
AS
SELECT * FROM HE_THONG WHERE MS_HE_THONG <> @MS_HE_THONG AND MA_HE_THONG = @MA_HE_THONG  
