
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DIEU_DO_NHOM](
	[ID_NHOM_DD] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN_NHOM] [nvarchar](250) NULL,
	[TEN_NHOM_ANH] [nvarchar](250) NULL,
	[TEN_NHOM_HOA] [nvarchar](250) NULL,
	[GHI_CHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_DIEU_DO_NHOM] PRIMARY KEY CLUSTERED 
(
	[ID_NHOM_DD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_CN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DIEU_DO_NHOM_CN](
	[ID_NHOM_DD] [bigint] NOT NULL,
	[MS_CONG_NHAN] [nvarchar](9) NOT NULL,
	[GHI_CHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_DIEU_DO_NHOM_CN] PRIMARY KEY CLUSTERED 
(
	[ID_NHOM_DD] ASC,
	[MS_CONG_NHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_MAY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DIEU_DO_NHOM_MAY](
	[ID_NHOM_DD] [bigint] NOT NULL,
	[MS_MAY] [nvarchar](30) NOT NULL,
	[GHI_CHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_DIEU_DO_NHOM_MAY] PRIMARY KEY CLUSTERED 
(
	[ID_NHOM_DD] ASC,
	[MS_MAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_CN_CONG_NHAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_CN]'))
ALTER TABLE [dbo].[DIEU_DO_NHOM_CN]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_NHOM_CN_CONG_NHAN] FOREIGN KEY([MS_CONG_NHAN])
REFERENCES [dbo].[CONG_NHAN] ([MS_CONG_NHAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_CN_CONG_NHAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_CN]'))
ALTER TABLE [dbo].[DIEU_DO_NHOM_CN] CHECK CONSTRAINT [FK_DIEU_DO_NHOM_CN_CONG_NHAN]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_CN_DIEU_DO_NHOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_CN]'))
ALTER TABLE [dbo].[DIEU_DO_NHOM_CN]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_NHOM_CN_DIEU_DO_NHOM] FOREIGN KEY([ID_NHOM_DD])
REFERENCES [dbo].[DIEU_DO_NHOM] ([ID_NHOM_DD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_CN_DIEU_DO_NHOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_CN]'))
ALTER TABLE [dbo].[DIEU_DO_NHOM_CN] CHECK CONSTRAINT [FK_DIEU_DO_NHOM_CN_DIEU_DO_NHOM]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_MAY_DIEU_DO_NHOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_MAY]'))
ALTER TABLE [dbo].[DIEU_DO_NHOM_MAY]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_NHOM_MAY_DIEU_DO_NHOM] FOREIGN KEY([ID_NHOM_DD])
REFERENCES [dbo].[DIEU_DO_NHOM] ([ID_NHOM_DD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_MAY_DIEU_DO_NHOM]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_MAY]'))
ALTER TABLE [dbo].[DIEU_DO_NHOM_MAY] CHECK CONSTRAINT [FK_DIEU_DO_NHOM_MAY_DIEU_DO_NHOM]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_MAY_MAY]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_MAY]'))
ALTER TABLE [dbo].[DIEU_DO_NHOM_MAY]  WITH CHECK ADD  CONSTRAINT [FK_DIEU_DO_NHOM_MAY_MAY] FOREIGN KEY([MS_MAY])
REFERENCES [dbo].[MAY] ([MS_MAY])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DIEU_DO_NHOM_MAY_MAY]') AND parent_object_id = OBJECT_ID(N'[dbo].[DIEU_DO_NHOM_MAY]'))
ALTER TABLE [dbo].[DIEU_DO_NHOM_MAY] CHECK CONSTRAINT [FK_DIEU_DO_NHOM_MAY_MAY]
GO
