IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GSTT_CV]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MenuWebWin](
	[MenuWEB_ID] [NVARCHAR](100) NOT NULL,
	[MENU_ID] [NVARCHAR](255) NOT NULL
) ON [PRIMARY]
END
DELETE dbo.MenuWebWin
GO
INSERT [dbo].[MenuWebWin] ([MenuWEB_ID], [MENU_ID]) VALUES (N'mnEXWarehouse', N'mnuXuatkhoVTPT')
GO
INSERT [dbo].[MenuWebWin] ([MenuWEB_ID], [MENU_ID]) VALUES (N'mnIPWarehouse', N'mnuNhapkhoVTPT')
GO
INSERT [dbo].[MenuWebWin] ([MenuWEB_ID], [MENU_ID]) VALUES (N'mnuApproveRequest', N'mnuYeucauNSD_DSX')
GO
