
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'TR' AND name = 'UPDATE_TON_KHO_X')
   exec('CREATE TRIGGER UPDATE_TON_KHO_X ON  [dbo].[IC_DON_HANG_NHAP_X_VAT_TU_CHI_TIET] AFTER INSERT AS BEGIN SET NOCOUNT ON; SELECT 1  END')
GO
go


ALTER TRIGGER [dbo].[UPDATE_TON_KHO_X]
   ON  [dbo].[IC_DON_HANG_NHAP_X_VAT_TU_CHI_TIET]
   FOR UPDATE
AS 
BEGIN	
	DELETE dbo.VI_TRI_KHO_VAT_TU_X
	FROM dbo.VI_TRI_KHO_VAT_TU_X INNER JOIN dbo.IC_DON_HANG_NHAP_X ON dbo.VI_TRI_KHO_VAT_TU_X.MS_KHO = dbo.IC_DON_HANG_NHAP_X.MS_KHO AND 
	dbo.VI_TRI_KHO_VAT_TU_X.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_X.MS_DH_NHAP_PT INNER JOIN INSERTED	ON 
	dbo.IC_DON_HANG_NHAP_X.MS_DH_NHAP_PT = INSERTED.MS_DH_NHAP_PT 
	AND dbo.VI_TRI_KHO_VAT_TU_X.MS_VI_TRI = INSERTED.MS_VI_TRI 
	AND dbo.VI_TRI_KHO_VAT_TU_X.MS_PT = INSERTED.MS_PT 
	

	INSERT INTO [VI_TRI_KHO_VAT_TU_X]([MS_KHO],[MS_VI_TRI],[MS_DH_NHAP_PT],[MS_PT],[SL_VT])
	SELECT dbo.IC_DON_HANG_NHAP_X.MS_KHO,INSERTED.MS_VI_TRI,dbo.IC_DON_HANG_NHAP_X.MS_DH_NHAP_PT,
	INSERTED.MS_PT , 	ISNULL(INSERTED.SL_VT,0) AS SL_VT
	FROM dbo.IC_DON_HANG_NHAP_X INNER JOIN INSERTED ON 
	dbo.IC_DON_HANG_NHAP_X.MS_DH_NHAP_PT = INSERTED.MS_DH_NHAP_PT
	------


END

