

ALTER procedure [dbo].[sp_get_id]
@ID_H NVARCHAR (6) = 'NTL', 
@ID_D DATETIME  = '07/01/2020'
AS
BEGIN
	DECLARE @COUNT INT 
	SET @COUNT = (SELECT COUNT (*)
	FROM TB_S_ID T
	WHERE T.ID_H = @ID_H AND T.ID_D = @ID_D)
	
	DECLARE @ID_I INT 
	SET @ID_I = (SELECT CASE WHEN MAX (T.ID_I) IS NULL THEN 0 ELSE  MAX (T.ID_I) END  + 1
	FROM TB_S_ID T
		WHERE T.ID_H = @ID_H AND(MONTH ( T.ID_D) =  MONTH(@ID_D)  and YEAR ( T.ID_D) =  YEAR (@ID_D) ))
	
	IF (@COUNT > 0 )
		BEGIN 
			UPDATE TB_S_ID SET ID_I = @ID_I 
			WHERE ID_H = @ID_H AND ID_D = @ID_D 
		END 
	ELSE 
		BEGIN 
			INSERT INTO TB_S_ID (ID_H,ID_D,ID_I)
			VALUES (@ID_H,@ID_D,@ID_I)			
		END 
	DECLARE @H_TMP NVARCHAR (12) 
	SET @H_TMP = '000000' + @ID_H 
	DECLARE @I_TMP NVARCHAR (12)
	SET @I_TMP = '000000' + CONVERT (NVARCHAR (6),@ID_I)
	DECLARE @D_TMP NVARCHAR (8)
	SET @D_TMP = '0000' + Left( CONVERT (NVARCHAR (6) , @ID_D,12),4)
	
	DECLARE @ID NVARCHAR (12) = '-1'
	DECLARE @IDTL NVARCHAR (13) = '-1'

	SET @ID = RIGHT (@H_TMP,2) + '-' + RIGHT (@D_TMP,4) + '-' + RIGHT (@I_TMP,4)
	
	IF UPPER(@ID_H) = 'PX' 
	BEGIN
			SELECT @ID = [dbo].[AUTO_CREATE_SO_PHIEU_XUAT](@ID_D) 
	END
	
	IF UPPER(@ID_H) = 'PN' 
	BEGIN
			SELECT @ID = [dbo].[AUTO_CREATE_SO_PHIEU_NHAP](@ID_D) 
	END
	
	IF UPPER(@ID_H) = 'DX' 
	BEGIN

			SELECT @ID = [dbo].[AUTO_CREATE_SO_DHX](@ID_D) 
	END

	IF UPPER(@ID_H) = 'XTL' 
	BEGIN
			SELECT @ID = [dbo].[AUTO_CREATE_SO_PHIEU_XUAT_THANH_LY](@ID_D) 
	END
	IF UPPER(@ID_H) = 'NTL' 
	BEGIN
			SELECT @ID = [dbo].[AUTO_CREATE_SO_PHIEU_NHAP_THANH_LY](@ID_D) 
	END

	SELECT @ID AS ID 
	
	
	
END
