IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Taxcode') UPDATE LANGUAGES SET VIETNAM=N'Tax code: ', ENGLISH=N'Tax code: ', VIETNAM_OR=N'Tax code: ', ENGLISH_OR=N'Tax code: ' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Taxcode' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Taxcode',N'Tax code: ',N'Tax code: ',N'Tax code: ',N'Tax code: ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Tel') UPDATE LANGUAGES SET VIETNAM=N'Tel: ', ENGLISH=N'Tel: ', VIETNAM_OR=N'Tel: ', ENGLISH_OR=N'Tel: ' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Tel' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Tel',N'Tel: ',N'Tel: ',N'Tel: ',N'Tel: ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'ContactPerson') UPDATE LANGUAGES SET VIETNAM=N'Contact person/ Người liên lạc:', ENGLISH=N'Contact person/ Người liên lạc:', VIETNAM_OR=N'Contact person/ Người liên lạc:', ENGLISH_OR=N'Contact person/ Người liên lạc:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'ContactPerson' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'ContactPerson',N'Contact person/ Người liên lạc:',N'Contact person/ Người liên lạc:',N'Contact person/ Người liên lạc:',N'Contact person/ Người liên lạc:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Buyer') UPDATE LANGUAGES SET VIETNAM=N'Buyer/ Người mua', ENGLISH=N'Buyer/ Người mua', VIETNAM_OR=N'Buyer/ Người mua', ENGLISH_OR=N'Buyer/ Người mua' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Buyer' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Buyer',N'Buyer/ Người mua',N'Buyer/ Người mua',N'Buyer/ Người mua',N'Buyer/ Người mua')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Infomation') UPDATE LANGUAGES SET VIETNAM=N'Information/ Thông tin khác', ENGLISH=N'Information/ Thông tin khác', VIETNAM_OR=N'Information/ Thông tin khác', ENGLISH_OR=N'Information/ Thông tin khác' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Infomation' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Infomation',N'Information/ Thông tin khác',N'Information/ Thông tin khác',N'Information/ Thông tin khác',N'Information/ Thông tin khác')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Purchase') UPDATE LANGUAGES SET VIETNAM=N'Purchase Order No/ Số ĐĐH:', ENGLISH=N'Purchase Order No/ Số ĐĐH:', VIETNAM_OR=N'Purchase Order No/ Số ĐĐH:', ENGLISH_OR=N'Purchase Order No/ Số ĐĐH:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Purchase' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Purchase',N'Purchase Order No/ Số ĐĐH:',N'Purchase Order No/ Số ĐĐH:',N'Purchase Order No/ Số ĐĐH:',N'Purchase Order No/ Số ĐĐH:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'DateddMMyyyy') UPDATE LANGUAGES SET VIETNAM=N'Date  [DD.MM.YYYY]/ Ngày', ENGLISH=N'Date  [DD.MM.YYYY]/ Ngày', VIETNAM_OR=N'Date  [DD.MM.YYYY]/ Ngày', ENGLISH_OR=N'Date  [DD.MM.YYYY]/ Ngày' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'DateddMMyyyy' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'DateddMMyyyy',N'Date  [DD.MM.YYYY]/ Ngày',N'Date  [DD.MM.YYYY]/ Ngày',N'Date  [DD.MM.YYYY]/ Ngày',N'Date  [DD.MM.YYYY]/ Ngày')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'VendorNo') UPDATE LANGUAGES SET VIETNAM=N'Vendor No/ Mã NCC:', ENGLISH=N'Vendor No/ Mã NCC:', VIETNAM_OR=N'Vendor No/ Mã NCC:', ENGLISH_OR=N'Vendor No/ Mã NCC:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'VendorNo' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'VendorNo',N'Vendor No/ Mã NCC:',N'Vendor No/ Mã NCC:',N'Vendor No/ Mã NCC:',N'Vendor No/ Mã NCC:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'VendorNguoiBan') UPDATE LANGUAGES SET VIETNAM=N'Vendor/ Người bán hàng', ENGLISH=N'Vendor/ Người bán hàng', VIETNAM_OR=N'Vendor/ Người bán hàng', ENGLISH_OR=N'Vendor/ Người bán hàng' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'VendorNguoiBan' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'VendorNguoiBan',N'Vendor/ Người bán hàng',N'Vendor/ Người bán hàng',N'Vendor/ Người bán hàng',N'Vendor/ Người bán hàng')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Beneficiary') UPDATE LANGUAGES SET VIETNAM=N'Beneficiary/ Người hưởng', ENGLISH=N'Beneficiary/ Người hưởng', VIETNAM_OR=N'Beneficiary/ Người hưởng', ENGLISH_OR=N'Beneficiary/ Người hưởng' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Beneficiary' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Beneficiary',N'Beneficiary/ Người hưởng',N'Beneficiary/ Người hưởng',N'Beneficiary/ Người hưởng',N'Beneficiary/ Người hưởng')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Name') UPDATE LANGUAGES SET VIETNAM=N'Name/ Tên:', ENGLISH=N'Name/ Tên:', VIETNAM_OR=N'Name/ Tên:', ENGLISH_OR=N'Name/ Tên:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Name' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Name',N'Name/ Tên:',N'Name/ Tên:',N'Name/ Tên:',N'Name/ Tên:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'AccountNo') UPDATE LANGUAGES SET VIETNAM=N'Account No/ Số TKNH:', ENGLISH=N'Account No/ Số TKNH:', VIETNAM_OR=N'Account No/ Số TKNH:', ENGLISH_OR=N'Account No/ Số TKNH:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'AccountNo' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'AccountNo',N'Account No/ Số TKNH:',N'Account No/ Số TKNH:',N'Account No/ Số TKNH:',N'Account No/ Số TKNH:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'BankName') UPDATE LANGUAGES SET VIETNAM=N'Bank Name/ Tên NH:', ENGLISH=N'Bank Name/ Tên NH:', VIETNAM_OR=N'Bank Name/ Tên NH:', ENGLISH_OR=N'Bank Name/ Tên NH:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'BankName' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'BankName',N'Bank Name/ Tên NH:',N'Bank Name/ Tên NH:',N'Bank Name/ Tên NH:',N'Bank Name/ Tên NH:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'ShipTo') UPDATE LANGUAGES SET VIETNAM=N'Ship to/ Địa chỉ giao hàng:', ENGLISH=N'Ship to/ Địa chỉ giao hàng:', VIETNAM_OR=N'Ship to/ Địa chỉ giao hàng:', ENGLISH_OR=N'Ship to/ Địa chỉ giao hàng:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'ShipTo' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'ShipTo',N'Ship to/ Địa chỉ giao hàng:',N'Ship to/ Địa chỉ giao hàng:',N'Ship to/ Địa chỉ giao hàng:',N'Ship to/ Địa chỉ giao hàng:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Delivery time') UPDATE LANGUAGES SET VIETNAM=N' Delivery time', ENGLISH=N' Delivery time', VIETNAM_OR=N' Delivery time', ENGLISH_OR=N' Delivery time' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Delivery time' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Delivery time',N' Delivery time',N' Delivery time',N' Delivery time',N' Delivery time')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'ThoiGianTH') UPDATE LANGUAGES SET VIETNAM=N'Thời gian thực hiện:', ENGLISH=N'Thời gian thực hiện:', VIETNAM_OR=N'Thời gian thực hiện:', ENGLISH_OR=N'Thời gian thực hiện:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'ThoiGianTH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'ThoiGianTH',N'Thời gian thực hiện:',N'Thời gian thực hiện:',N'Thời gian thực hiện:',N'Thời gian thực hiện:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'DKVay') UPDATE LANGUAGES SET VIETNAM=N' Terms of Payment:', ENGLISH=N' Terms of Payment:', VIETNAM_OR=N' Terms of Payment:', ENGLISH_OR=N' Terms of Payment:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'DKVay' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'DKVay',N' Terms of Payment:',N' Terms of Payment:',N' Terms of Payment:',N' Terms of Payment:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'DKThanhToan') UPDATE LANGUAGES SET VIETNAM=N'Điều kiện thanh toán', ENGLISH=N'Điều kiện thanh toán', VIETNAM_OR=N'Điều kiện thanh toán', ENGLISH_OR=N'Điều kiện thanh toán' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'DKThanhToan' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'DKThanhToan',N'Điều kiện thanh toán',N'Điều kiện thanh toán',N'Điều kiện thanh toán',N'Điều kiện thanh toán')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'TermsofDelivery') UPDATE LANGUAGES SET VIETNAM=N' Terms of Payment:', ENGLISH=N' Terms of Payment:', VIETNAM_OR=N' Terms of Payment:', ENGLISH_OR=N' Terms of Payment:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'TermsofDelivery' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'TermsofDelivery',N' Terms of Payment:',N' Terms of Payment:',N' Terms of Payment:',N' Terms of Payment:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'DieuKienGiao') UPDATE LANGUAGES SET VIETNAM=N'Điều kiện thanh toán', ENGLISH=N'Điều kiện thanh toán', VIETNAM_OR=N'Điều kiện thanh toán', ENGLISH_OR=N'Điều kiện thanh toán' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'DieuKienGiao' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'DieuKienGiao',N'Điều kiện thanh toán',N'Điều kiện thanh toán',N'Điều kiện thanh toán',N'Điều kiện thanh toán')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Currency') UPDATE LANGUAGES SET VIETNAM=N'Currency/ Đơn vị tiền:', ENGLISH=N'Currency/ Đơn vị tiền:', VIETNAM_OR=N'Currency/ Đơn vị tiền:', ENGLISH_OR=N'Currency/ Đơn vị tiền:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Currency' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Currency',N'Currency/ Đơn vị tiền:',N'Currency/ Đơn vị tiền:',N'Currency/ Đơn vị tiền:',N'Currency/ Đơn vị tiền:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Info1') UPDATE LANGUAGES SET VIETNAM=N'Important to all vendors: This PO is subject to the Terms & conditions on the face & reverse side thereof duty endorsed. Acknowledgement copy must be returned by Email or fax (all vendors). For local vendor only, to mail original acknowledgement within 7 days', ENGLISH=N'Important to all vendors: This PO is subject to the Terms & conditions on the face & reverse side thereof duty endorsed. Acknowledgement copy must be returned by Email or fax (all vendors). For local vendor only, to mail original acknowledgement within 7 days', VIETNAM_OR=N'Important to all vendors: This PO is subject to the Terms & conditions on the face & reverse side thereof duty endorsed. Acknowledgement copy must be returned by Email or fax (all vendors). For local vendor only, to mail original acknowledgement within 7 days', ENGLISH_OR=N'Important to all vendors: This PO is subject to the Terms & conditions on the face & reverse side thereof duty endorsed. Acknowledgement copy must be returned by Email or fax (all vendors). For local vendor only, to mail original acknowledgement within 7 days' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Info1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Info1',N'Important to all vendors: This PO is subject to the Terms & conditions on the face & reverse side thereof duty endorsed. Acknowledgement copy must be returned by Email or fax (all vendors). For local vendor only, to mail original acknowledgement within 7 days',N'Important to all vendors: This PO is subject to the Terms & conditions on the face & reverse side thereof duty endorsed. Acknowledgement copy must be returned by Email or fax (all vendors). For local vendor only, to mail original acknowledgement within 7 days',N'Important to all vendors: This PO is subject to the Terms & conditions on the face & reverse side thereof duty endorsed. Acknowledgement copy must be returned by Email or fax (all vendors). For local vendor only, to mail original acknowledgement within 7 days',N'Important to all vendors: This PO is subject to the Terms & conditions on the face & reverse side thereof duty endorsed. Acknowledgement copy must be returned by Email or fax (all vendors). For local vendor only, to mail original acknowledgement within 7 days')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Info2') UPDATE LANGUAGES SET VIETNAM=N'Quan trọng đối với các nhà cung cấp: Đơn đặt hàng này được chi phối bởi các điều khoản & điều kiện quy định ở mặt trước & mặt sau. 1 đơn hàng sau khi được ký & xác nhận phải được gửi lại bằng email hoặc fax (đối với tất cà các NCC). Đối với các NCC nội địa, bản gốc đơn đặt hàng sẽ được gửi lại trong vòng 7 ngày sau khi nhận.', ENGLISH=N'Quan trọng đối với các nhà cung cấp: Đơn đặt hàng này được chi phối bởi các điều khoản & điều kiện quy định ở mặt trước & mặt sau. 1 đơn hàng sau khi được ký & xác nhận phải được gửi lại bằng email hoặc fax (đối với tất cà các NCC). Đối với các NCC nội địa, bản gốc đơn đặt hàng sẽ được gửi lại trong vòng 7 ngày sau khi nhận.', VIETNAM_OR=N'Quan trọng đối với các nhà cung cấp: Đơn đặt hàng này được chi phối bởi các điều khoản & điều kiện quy định ở mặt trước & mặt sau. 1 đơn hàng sau khi được ký & xác nhận phải được gửi lại bằng email hoặc fax (đối với tất cà các NCC). Đối với các NCC nội địa, bản gốc đơn đặt hàng sẽ được gửi lại trong vòng 7 ngày sau khi nhận.', ENGLISH_OR=N'Quan trọng đối với các nhà cung cấp: Đơn đặt hàng này được chi phối bởi các điều khoản & điều kiện quy định ở mặt trước & mặt sau. 1 đơn hàng sau khi được ký & xác nhận phải được gửi lại bằng email hoặc fax (đối với tất cà các NCC). Đối với các NCC nội địa, bản gốc đơn đặt hàng sẽ được gửi lại trong vòng 7 ngày sau khi nhận.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Info2' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Info2',N'Quan trọng đối với các nhà cung cấp: Đơn đặt hàng này được chi phối bởi các điều khoản & điều kiện quy định ở mặt trước & mặt sau. 1 đơn hàng sau khi được ký & xác nhận phải được gửi lại bằng email hoặc fax (đối với tất cà các NCC). Đối với các NCC nội địa, bản gốc đơn đặt hàng sẽ được gửi lại trong vòng 7 ngày sau khi nhận.',N'Quan trọng đối với các nhà cung cấp: Đơn đặt hàng này được chi phối bởi các điều khoản & điều kiện quy định ở mặt trước & mặt sau. 1 đơn hàng sau khi được ký & xác nhận phải được gửi lại bằng email hoặc fax (đối với tất cà các NCC). Đối với các NCC nội địa, bản gốc đơn đặt hàng sẽ được gửi lại trong vòng 7 ngày sau khi nhận.',N'Quan trọng đối với các nhà cung cấp: Đơn đặt hàng này được chi phối bởi các điều khoản & điều kiện quy định ở mặt trước & mặt sau. 1 đơn hàng sau khi được ký & xác nhận phải được gửi lại bằng email hoặc fax (đối với tất cà các NCC). Đối với các NCC nội địa, bản gốc đơn đặt hàng sẽ được gửi lại trong vòng 7 ngày sau khi nhận.',N'Quan trọng đối với các nhà cung cấp: Đơn đặt hàng này được chi phối bởi các điều khoản & điều kiện quy định ở mặt trước & mặt sau. 1 đơn hàng sau khi được ký & xác nhận phải được gửi lại bằng email hoặc fax (đối với tất cà các NCC). Đối với các NCC nội địa, bản gốc đơn đặt hàng sẽ được gửi lại trong vòng 7 ngày sau khi nhận.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Item') UPDATE LANGUAGES SET VIETNAM=N'Item', ENGLISH=N'Item', VIETNAM_OR=N'Item', ENGLISH_OR=N'Item' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Item' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Item',N'Item',N'Item',N'Item',N'Item')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Material') UPDATE LANGUAGES SET VIETNAM=N'Material / Description', ENGLISH=N'Material / Description', VIETNAM_OR=N'Material / Description', ENGLISH_OR=N'Material / Description' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Material' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Material',N'Material / Description',N'Material / Description',N'Material / Description',N'Material / Description')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'OrderQty') UPDATE LANGUAGES SET VIETNAM=N'Order Qty', ENGLISH=N'Order Qty', VIETNAM_OR=N'Order Qty', ENGLISH_OR=N'Order Qty' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'OrderQty' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'OrderQty',N'Order Qty',N'Order Qty',N'Order Qty',N'Order Qty')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'UnitPrice') UPDATE LANGUAGES SET VIETNAM=N'Unit Price', ENGLISH=N'Unit Price', VIETNAM_OR=N'Unit Price', ENGLISH_OR=N'Unit Price' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'UnitPrice' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'UnitPrice',N'Unit Price',N'Unit Price',N'Unit Price',N'Unit Price')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'AmountIn') UPDATE LANGUAGES SET VIETNAM=N'Amount In ', ENGLISH=N'Amount In ', VIETNAM_OR=N'Amount In ', ENGLISH_OR=N'Amount In ' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'AmountIn' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'AmountIn',N'Amount In ',N'Amount In ',N'Amount In ',N'Amount In ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Muc') UPDATE LANGUAGES SET VIETNAM=N'Mục', ENGLISH=N'Mục', VIETNAM_OR=N'Mục', ENGLISH_OR=N'Mục' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Muc' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Muc',N'Mục',N'Mục',N'Mục',N'Mục')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'TenHang') UPDATE LANGUAGES SET VIETNAM=N'Tên hàng', ENGLISH=N'Tên hàng', VIETNAM_OR=N'Tên hàng', ENGLISH_OR=N'Tên hàng' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'TenHang' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'TenHang',N'Tên hàng',N'Tên hàng',N'Tên hàng',N'Tên hàng')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'SoLuong') UPDATE LANGUAGES SET VIETNAM=N'Số lượng đặt hàng', ENGLISH=N'Số lượng đặt hàng', VIETNAM_OR=N'Số lượng đặt hàng', ENGLISH_OR=N'Số lượng đặt hàng' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'SoLuong' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'SoLuong',N'Số lượng đặt hàng',N'Số lượng đặt hàng',N'Số lượng đặt hàng',N'Số lượng đặt hàng')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'DonGia') UPDATE LANGUAGES SET VIETNAM=N'Đơn giá', ENGLISH=N'Đơn giá', VIETNAM_OR=N'Đơn giá', ENGLISH_OR=N'Đơn giá' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'DonGia' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'DonGia',N'Đơn giá',N'Đơn giá',N'Đơn giá',N'Đơn giá')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'VAT') UPDATE LANGUAGES SET VIETNAM=N'% VAT', ENGLISH=N'% VAT', VIETNAM_OR=N'% VAT', ENGLISH_OR=N'% VAT' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'VAT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'VAT',N'% VAT',N'% VAT',N'% VAT',N'% VAT')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'TienThue') UPDATE LANGUAGES SET VIETNAM=N'Tiền thuế VAT', ENGLISH=N'Tiền thuế VAT', VIETNAM_OR=N'Tiền thuế VAT', ENGLISH_OR=N'Tiền thuế VAT' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'TienThue' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'TienThue',N'Tiền thuế VAT',N'Tiền thuế VAT',N'Tiền thuế VAT',N'Tiền thuế VAT')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'ThanhTien') UPDATE LANGUAGES SET VIETNAM=N'Thành tiền', ENGLISH=N'Thành tiền', VIETNAM_OR=N'Thành tiền', ENGLISH_OR=N'Thành tiền' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'ThanhTien' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'ThanhTien',N'Thành tiền',N'Thành tiền',N'Thành tiền',N'Thành tiền')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'ValueOfGoods') UPDATE LANGUAGES SET VIETNAM=N'Value of goods/ Cộng tiền hàng', ENGLISH=N'Value of goods/ Cộng tiền hàng', VIETNAM_OR=N'Value of goods/ Cộng tiền hàng', ENGLISH_OR=N'Value of goods/ Cộng tiền hàng' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'ValueOfGoods' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'ValueOfGoods',N'Value of goods/ Cộng tiền hàng',N'Value of goods/ Cộng tiền hàng',N'Value of goods/ Cộng tiền hàng',N'Value of goods/ Cộng tiền hàng')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'ThueGTGT') UPDATE LANGUAGES SET VIETNAM=N'VAT /Thuế GTGT:', ENGLISH=N'VAT /Thuế GTGT:', VIETNAM_OR=N'VAT /Thuế GTGT:', ENGLISH_OR=N'VAT /Thuế GTGT:' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'ThueGTGT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'ThueGTGT',N'VAT /Thuế GTGT:',N'VAT /Thuế GTGT:',N'VAT /Thuế GTGT:',N'VAT /Thuế GTGT:')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'TotalInclude') UPDATE LANGUAGES SET VIETNAM=N'Total including tax/Tổng gồm thuế', ENGLISH=N'Total including tax/Tổng gồm thuế', VIETNAM_OR=N'Total including tax/Tổng gồm thuế', ENGLISH_OR=N'Total including tax/Tổng gồm thuế' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'TotalInclude' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'TotalInclude',N'Total including tax/Tổng gồm thuế',N'Total including tax/Tổng gồm thuế',N'Total including tax/Tổng gồm thuế',N'Total including tax/Tổng gồm thuế')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Terms') UPDATE LANGUAGES SET VIETNAM=N'Other terms and conditions/ Những điều khoản khác: ', ENGLISH=N'Other terms and conditions/ Những điều khoản khác: ', VIETNAM_OR=N'Other terms and conditions/ Những điều khoản khác: ', ENGLISH_OR=N'Other terms and conditions/ Những điều khoản khác: ' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Terms' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Terms',N'Other terms and conditions/ Những điều khoản khác: ',N'Other terms and conditions/ Những điều khoản khác: ',N'Other terms and conditions/ Những điều khoản khác: ',N'Other terms and conditions/ Những điều khoản khác: ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Boss') UPDATE LANGUAGES SET VIETNAM=N'KENICHI SAITO', ENGLISH=N'KENICHI SAITO', VIETNAM_OR=N'KENICHI SAITO', ENGLISH_OR=N'KENICHI SAITO' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Boss' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Boss',N'KENICHI SAITO',N'KENICHI SAITO',N'KENICHI SAITO',N'KENICHI SAITO')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'AuthorizedSignature') UPDATE LANGUAGES SET VIETNAM=N'Authorized signature/Chữ ký của người được ủy quyền', ENGLISH=N'Authorized signature/Chữ ký của người được ủy quyền', VIETNAM_OR=N'Authorized signature/Chữ ký của người được ủy quyền', ENGLISH_OR=N'Authorized signature/Chữ ký của người được ủy quyền' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'AuthorizedSignature' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'AuthorizedSignature',N'Authorized signature/Chữ ký của người được ủy quyền',N'Authorized signature/Chữ ký của người được ủy quyền',N'Authorized signature/Chữ ký của người được ủy quyền',N'Authorized signature/Chữ ký của người được ủy quyền')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'OnBehalfOf') UPDATE LANGUAGES SET VIETNAM=N'On behalf of ', ENGLISH=N'On behalf of ', VIETNAM_OR=N'On behalf of ', ENGLISH_OR=N'On behalf of ' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'OnBehalfOf' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'OnBehalfOf',N'On behalf of ',N'On behalf of ',N'On behalf of ',N'On behalf of ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'DaiDien') UPDATE LANGUAGES SET VIETNAM=N'Đại diện ', ENGLISH=N'Đại diện ', VIETNAM_OR=N'Đại diện ', ENGLISH_OR=N'Đại diện ' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'DaiDien' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'DaiDien',N'Đại diện ',N'Đại diện ',N'Đại diện ',N'Đại diện ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions') UPDATE LANGUAGES SET VIETNAM=N'CÁC ĐIỀU KIỆN VÀ ĐIỀU KHOẢN CHUẨN ĐÍNH KÈM ĐƠN ĐẶT HÀNG ', ENGLISH=N'PURCHASE ORDER - STANDARD TERMS AND CONDITIONS', VIETNAM_OR=N'CÁC ĐIỀU KIỆN VÀ ĐIỀU KHOẢN CHUẨN ĐÍNH KÈM ĐƠN ĐẶT HÀNG ', ENGLISH_OR=N'PURCHASE ORDER - STANDARD TERMS AND CONDITIONS' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions',N'CÁC ĐIỀU KIỆN VÀ ĐIỀU KHOẢN CHUẨN ĐÍNH KÈM ĐƠN ĐẶT HÀNG ',N'PURCHASE ORDER - STANDARD TERMS AND CONDITIONS',N'CÁC ĐIỀU KIỆN VÀ ĐIỀU KHOẢN CHUẨN ĐÍNH KÈM ĐƠN ĐẶT HÀNG ',N'PURCHASE ORDER - STANDARD TERMS AND CONDITIONS')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions_1') UPDATE LANGUAGES SET VIETNAM=N'1. Chấp thuận đơn hàng', ENGLISH=N'1. Acceptance', VIETNAM_OR=N'1. Chấp thuận đơn hàng', ENGLISH_OR=N'1. Acceptance' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions_1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions_1',N'1. Chấp thuận đơn hàng',N'1. Acceptance',N'1. Chấp thuận đơn hàng',N'1. Acceptance')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions_2') UPDATE LANGUAGES SET VIETNAM=N'2. Toàn bộ thỏa thuận', ENGLISH=N'2. Entire Agreement', VIETNAM_OR=N'2. Toàn bộ thỏa thuận', ENGLISH_OR=N'2. Entire Agreement' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions_2' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions_2',N'2. Toàn bộ thỏa thuận',N'2. Entire Agreement',N'2. Toàn bộ thỏa thuận',N'2. Entire Agreement')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions_3') UPDATE LANGUAGES SET VIETNAM=N'3. Giá cả và thanh toán', ENGLISH=N'3. Price and payment', VIETNAM_OR=N'3. Giá cả và thanh toán', ENGLISH_OR=N'3. Price and payment' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions_3' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions_3',N'3. Giá cả và thanh toán',N'3. Price and payment',N'3. Giá cả và thanh toán',N'3. Price and payment')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions_4') UPDATE LANGUAGES SET VIETNAM=N'4. Giao hàng và rủi ro', ENGLISH=N'4. Delivery and risk', VIETNAM_OR=N'4. Giao hàng và rủi ro', ENGLISH_OR=N'4. Delivery and risk' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions_4' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions_4',N'4. Giao hàng và rủi ro',N'4. Delivery and risk',N'4. Giao hàng và rủi ro',N'4. Delivery and risk')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions_5') UPDATE LANGUAGES SET VIETNAM=N'5. Giao hàng trễ', ENGLISH=N'5. Late delivery', VIETNAM_OR=N'5. Giao hàng trễ', ENGLISH_OR=N'5. Late delivery' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions_5' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions_5',N'5. Giao hàng trễ',N'5. Late delivery',N'5. Giao hàng trễ',N'5. Late delivery')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions_6') UPDATE LANGUAGES SET VIETNAM=N'6. Cam kết của Người bán', ENGLISH=N'6. Commitment of Seller', VIETNAM_OR=N'6. Cam kết của Người bán', ENGLISH_OR=N'6. Commitment of Seller' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions_6' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions_6',N'6. Cam kết của Người bán',N'6. Commitment of Seller',N'6. Cam kết của Người bán',N'6. Commitment of Seller')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions_7') UPDATE LANGUAGES SET VIETNAM=N'7. Sự không chuyển nhượng', ENGLISH=N'7. Non-Assignment', VIETNAM_OR=N'7. Sự không chuyển nhượng', ENGLISH_OR=N'7. Non-Assignment' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions_7' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions_7',N'7. Sự không chuyển nhượng',N'7. Non-Assignment',N'7. Sự không chuyển nhượng',N'7. Non-Assignment')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions_8') UPDATE LANGUAGES SET VIETNAM=N'8. Sự bồi thường', ENGLISH=N'8. Indemnity', VIETNAM_OR=N'8. Sự bồi thường', ENGLISH_OR=N'8. Indemnity' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions_8' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions_8',N'8. Sự bồi thường',N'8. Indemnity',N'8. Sự bồi thường',N'8. Indemnity')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions_9') UPDATE LANGUAGES SET VIETNAM=N'9. Tính bảo mật', ENGLISH=N'9. Confidentiality', VIETNAM_OR=N'9. Tính bảo mật', ENGLISH_OR=N'9. Confidentiality' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions_9' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions_9',N'9. Tính bảo mật',N'9. Confidentiality',N'9. Tính bảo mật',N'9. Confidentiality')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Conditions_10') UPDATE LANGUAGES SET VIETNAM=N'10. Luật lệ chi phối', ENGLISH=N'10. Governing Law', VIETNAM_OR=N'10. Luật lệ chi phối', ENGLISH_OR=N'10. Governing Law' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Conditions_10' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Conditions_10',N'10. Luật lệ chi phối',N'10. Governing Law',N'10. Luật lệ chi phối',N'10. Governing Law')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Content_1') UPDATE LANGUAGES SET VIETNAM=N'Đơn đặt hàng này có hiệu lực khi người Bán và người Mua ký xác nhận, và người Bán gửi lại một bản cho người Mua trong thời hạn người Mua yêu cầu. Trong trường hợp Hợp đồng mua bán nguyên tắc để mua bán hàng hóa nêu tại Đơn đặt hàng này giữa hai bên vẫn còn hiệu lực (“Hợp Đồng”), đơn đặt hàng này sẽ là một phần không tách rời của Hợp đồng. Nếu có sự khác biệt và không nhất quán giữa các điều khoản thể hiện trên Đơn đặt hàng và trên Hợp đồng thì các điều khoản thể hiện trên Hợp đồng sẽ chi phối.', ENGLISH=N'This Purchase Order shall be effective after Buyer after Seller both sign, and Seller returns a copy of this Purchase Order within schedule as Sellers request. In case the Principle Purchasing Contract to buy the Goods under Purchase Order is still valid Contract, this Purchase Order shall be a part of Contract. Any provision which is difference between Purchase Order and Contract, the terms of Contract shall govern.', VIETNAM_OR=N'Đơn đặt hàng này có hiệu lực khi người Bán và người Mua ký xác nhận, và người Bán gửi lại một bản cho người Mua trong thời hạn người Mua yêu cầu. Trong trường hợp Hợp đồng mua bán nguyên tắc để mua bán hàng hóa nêu tại Đơn đặt hàng này giữa hai bên vẫn còn hiệu lực (“Hợp Đồng”), đơn đặt hàng này sẽ là một phần không tách rời của Hợp đồng. Nếu có sự khác biệt và không nhất quán giữa các điều khoản thể hiện trên Đơn đặt hàng và trên Hợp đồng thì các điều khoản thể hiện trên Hợp đồng sẽ chi phối.', ENGLISH_OR=N'This Purchase Order shall be effective after Buyer after Seller both sign, and Seller returns a copy of this Purchase Order within schedule as Sellers request. In case the Principle Purchasing Contract to buy the Goods under Purchase Order is still valid Contract, this Purchase Order shall be a part of Contract. Any provision which is difference between Purchase Order and Contract, the terms of Contract shall govern.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Content_1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Content_1',N'Đơn đặt hàng này có hiệu lực khi người Bán và người Mua ký xác nhận, và người Bán gửi lại một bản cho người Mua trong thời hạn người Mua yêu cầu. Trong trường hợp Hợp đồng mua bán nguyên tắc để mua bán hàng hóa nêu tại Đơn đặt hàng này giữa hai bên vẫn còn hiệu lực (“Hợp Đồng”), đơn đặt hàng này sẽ là một phần không tách rời của Hợp đồng. Nếu có sự khác biệt và không nhất quán giữa các điều khoản thể hiện trên Đơn đặt hàng và trên Hợp đồng thì các điều khoản thể hiện trên Hợp đồng sẽ chi phối.',N'This Purchase Order shall be effective after Buyer after Seller both sign, and Seller returns a copy of this Purchase Order within schedule as Sellers request. In case the Principle Purchasing Contract to buy the Goods under Purchase Order is still valid Contract, this Purchase Order shall be a part of Contract. Any provision which is difference between Purchase Order and Contract, the terms of Contract shall govern.',N'Đơn đặt hàng này có hiệu lực khi người Bán và người Mua ký xác nhận, và người Bán gửi lại một bản cho người Mua trong thời hạn người Mua yêu cầu. Trong trường hợp Hợp đồng mua bán nguyên tắc để mua bán hàng hóa nêu tại Đơn đặt hàng này giữa hai bên vẫn còn hiệu lực (“Hợp Đồng”), đơn đặt hàng này sẽ là một phần không tách rời của Hợp đồng. Nếu có sự khác biệt và không nhất quán giữa các điều khoản thể hiện trên Đơn đặt hàng và trên Hợp đồng thì các điều khoản thể hiện trên Hợp đồng sẽ chi phối.',N'This Purchase Order shall be effective after Buyer after Seller both sign, and Seller returns a copy of this Purchase Order within schedule as Sellers request. In case the Principle Purchasing Contract to buy the Goods under Purchase Order is still valid Contract, this Purchase Order shall be a part of Contract. Any provision which is difference between Purchase Order and Contract, the terms of Contract shall govern.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Content_2') UPDATE LANGUAGES SET VIETNAM=N'Trong trường hợp hai bên không bị ràng buộc bởi Hợp Đồng, các Điều kiện và Điều khoản Chuẩn này và các thỏa thuận thương mại tại Đơn đặt hàng (mặt trước) sẽ được xem như là toàn bộ thỏa thuận giữa hai bên liên quan đến việc mua bán hàng hóa và thay thế mọi dàn xếp, tuyên bố có liên quan trước đây. Không có sửa đổi nào đối với Đơn đặt hàng này có hiệu lực trừ khi nó được xác nhận bằng văn bản và được tất cả các Bên ký tên đồng ý.', ENGLISH=N'In case, both parties are not governed by Contract, this terms and conditions and the commercial terms in Purchase Order (overleaf) shall be deemed to constitute the entire agreement between the Buyer and the Seller with respect to the subject matter hereof and shall replace the agreement or other understanding. In any way modifying the same will be binding unless made in writing and signed by duly authorized representatives of both parties.', VIETNAM_OR=N'Trong trường hợp hai bên không bị ràng buộc bởi Hợp Đồng, các Điều kiện và Điều khoản Chuẩn này và các thỏa thuận thương mại tại Đơn đặt hàng (mặt trước) sẽ được xem như là toàn bộ thỏa thuận giữa hai bên liên quan đến việc mua bán hàng hóa và thay thế mọi dàn xếp, tuyên bố có liên quan trước đây. Không có sửa đổi nào đối với Đơn đặt hàng này có hiệu lực trừ khi nó được xác nhận bằng văn bản và được tất cả các Bên ký tên đồng ý.', ENGLISH_OR=N'In case, both parties are not governed by Contract, this terms and conditions and the commercial terms in Purchase Order (overleaf) shall be deemed to constitute the entire agreement between the Buyer and the Seller with respect to the subject matter hereof and shall replace the agreement or other understanding. In any way modifying the same will be binding unless made in writing and signed by duly authorized representatives of both parties.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Content_2' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Content_2',N'Trong trường hợp hai bên không bị ràng buộc bởi Hợp Đồng, các Điều kiện và Điều khoản Chuẩn này và các thỏa thuận thương mại tại Đơn đặt hàng (mặt trước) sẽ được xem như là toàn bộ thỏa thuận giữa hai bên liên quan đến việc mua bán hàng hóa và thay thế mọi dàn xếp, tuyên bố có liên quan trước đây. Không có sửa đổi nào đối với Đơn đặt hàng này có hiệu lực trừ khi nó được xác nhận bằng văn bản và được tất cả các Bên ký tên đồng ý.',N'In case, both parties are not governed by Contract, this terms and conditions and the commercial terms in Purchase Order (overleaf) shall be deemed to constitute the entire agreement between the Buyer and the Seller with respect to the subject matter hereof and shall replace the agreement or other understanding. In any way modifying the same will be binding unless made in writing and signed by duly authorized representatives of both parties.',N'Trong trường hợp hai bên không bị ràng buộc bởi Hợp Đồng, các Điều kiện và Điều khoản Chuẩn này và các thỏa thuận thương mại tại Đơn đặt hàng (mặt trước) sẽ được xem như là toàn bộ thỏa thuận giữa hai bên liên quan đến việc mua bán hàng hóa và thay thế mọi dàn xếp, tuyên bố có liên quan trước đây. Không có sửa đổi nào đối với Đơn đặt hàng này có hiệu lực trừ khi nó được xác nhận bằng văn bản và được tất cả các Bên ký tên đồng ý.',N'In case, both parties are not governed by Contract, this terms and conditions and the commercial terms in Purchase Order (overleaf) shall be deemed to constitute the entire agreement between the Buyer and the Seller with respect to the subject matter hereof and shall replace the agreement or other understanding. In any way modifying the same will be binding unless made in writing and signed by duly authorized representatives of both parties.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Content_3') UPDATE LANGUAGES SET VIETNAM=N'Giá cả ghi ở mặt trước là toàn bộ số tiền người Mua phải trả cho những hàng hóa được cung cấp theo đơn hàng này. Trong trường hợp hàng nhập khẩu, phí và thuế được đánh vào hàng hóa (bởi các cơ quan chức năng hay các đơn vị khác) tại nước xuất xứ hoặc là các nước mà hàng hóa quá cảnh qua sẽ do người Bán chịu, trừ khi có những thỏa thuận khác.Trừ khi được quy định khác đi tại Hợp Đồng mua bán nguyên tắc đã ký và / hoặc mặt trước của Đơn đặt hàng, toàn bộ khoản tiền mà người Mua phải trả theo Đơn đặt hàng này sẽ được thanh toán 1 lần bằng tiền Việt Nam đồng, trong vòng 30 ngày sau khi người Mua nhận được toàn bộ hàng hóa với chất lượng và số lượng theo đúng yêu cầu của người Mua và hóa đơn hợp lệ.', ENGLISH=N'The price stated overleaf is the total amount due from the Buyer for the goods to be supplied pursuant to this Purchase Order. Unless otherwise agreed, charges, duties or taxes imposed on the goods (whether by governmental agency or otherwise) by the country of origin or any country through which the goods pass shall be for the Sellers account. Unless otherwise stipulated in Contract and/or the overleaf  Purchase Order, the total amount will be paid one time in Vietnam dong by the Buyer, 30 days after the Buyer receives all the goods with the quality and quantity as the Buyers requirement and proper invoice.', VIETNAM_OR=N'Giá cả ghi ở mặt trước là toàn bộ số tiền người Mua phải trả cho những hàng hóa được cung cấp theo đơn hàng này. Trong trường hợp hàng nhập khẩu, phí và thuế được đánh vào hàng hóa (bởi các cơ quan chức năng hay các đơn vị khác) tại nước xuất xứ hoặc là các nước mà hàng hóa quá cảnh qua sẽ do người Bán chịu, trừ khi có những thỏa thuận khác.Trừ khi được quy định khác đi tại Hợp Đồng mua bán nguyên tắc đã ký và / hoặc mặt trước của Đơn đặt hàng, toàn bộ khoản tiền mà người Mua phải trả theo Đơn đặt hàng này sẽ được thanh toán 1 lần bằng tiền Việt Nam đồng, trong vòng 30 ngày sau khi người Mua nhận được toàn bộ hàng hóa với chất lượng và số lượng theo đúng yêu cầu của người Mua và hóa đơn hợp lệ.', ENGLISH_OR=N'The price stated overleaf is the total amount due from the Buyer for the goods to be supplied pursuant to this Purchase Order. Unless otherwise agreed, charges, duties or taxes imposed on the goods (whether by governmental agency or otherwise) by the country of origin or any country through which the goods pass shall be for the Sellers account. Unless otherwise stipulated in Contract and/or the overleaf  Purchase Order, the total amount will be paid one time in Vietnam dong by the Buyer, 30 days after the Buyer receives all the goods with the quality and quantity as the Buyers requirement and proper invoice.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Content_3' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Content_3',N'Giá cả ghi ở mặt trước là toàn bộ số tiền người Mua phải trả cho những hàng hóa được cung cấp theo đơn hàng này. Trong trường hợp hàng nhập khẩu, phí và thuế được đánh vào hàng hóa (bởi các cơ quan chức năng hay các đơn vị khác) tại nước xuất xứ hoặc là các nước mà hàng hóa quá cảnh qua sẽ do người Bán chịu, trừ khi có những thỏa thuận khác.Trừ khi được quy định khác đi tại Hợp Đồng mua bán nguyên tắc đã ký và / hoặc mặt trước của Đơn đặt hàng, toàn bộ khoản tiền mà người Mua phải trả theo Đơn đặt hàng này sẽ được thanh toán 1 lần bằng tiền Việt Nam đồng, trong vòng 30 ngày sau khi người Mua nhận được toàn bộ hàng hóa với chất lượng và số lượng theo đúng yêu cầu của người Mua và hóa đơn hợp lệ.',N'The price stated overleaf is the total amount due from the Buyer for the goods to be supplied pursuant to this Purchase Order. Unless otherwise agreed, charges, duties or taxes imposed on the goods (whether by governmental agency or otherwise) by the country of origin or any country through which the goods pass shall be for the Sellers account. Unless otherwise stipulated in Contract and/or the overleaf  Purchase Order, the total amount will be paid one time in Vietnam dong by the Buyer, 30 days after the Buyer receives all the goods with the quality and quantity as the Buyers requirement and proper invoice.',N'Giá cả ghi ở mặt trước là toàn bộ số tiền người Mua phải trả cho những hàng hóa được cung cấp theo đơn hàng này. Trong trường hợp hàng nhập khẩu, phí và thuế được đánh vào hàng hóa (bởi các cơ quan chức năng hay các đơn vị khác) tại nước xuất xứ hoặc là các nước mà hàng hóa quá cảnh qua sẽ do người Bán chịu, trừ khi có những thỏa thuận khác.Trừ khi được quy định khác đi tại Hợp Đồng mua bán nguyên tắc đã ký và / hoặc mặt trước của Đơn đặt hàng, toàn bộ khoản tiền mà người Mua phải trả theo Đơn đặt hàng này sẽ được thanh toán 1 lần bằng tiền Việt Nam đồng, trong vòng 30 ngày sau khi người Mua nhận được toàn bộ hàng hóa với chất lượng và số lượng theo đúng yêu cầu của người Mua và hóa đơn hợp lệ.',N'The price stated overleaf is the total amount due from the Buyer for the goods to be supplied pursuant to this Purchase Order. Unless otherwise agreed, charges, duties or taxes imposed on the goods (whether by governmental agency or otherwise) by the country of origin or any country through which the goods pass shall be for the Sellers account. Unless otherwise stipulated in Contract and/or the overleaf  Purchase Order, the total amount will be paid one time in Vietnam dong by the Buyer, 30 days after the Buyer receives all the goods with the quality and quantity as the Buyers requirement and proper invoice.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Content_4') UPDATE LANGUAGES SET VIETNAM=N'Khi người Bán thông báo cho người Mua rằng hàng hóa đã sẵn sàng cho việc giao hàng, ngoại trừ những thỏa thuận khác với người Mua, thì người Bán chịu trách nhiệm chuẩn bị hàng tại cảng hoặc tại địa điểm nhận hàng do người Mua yêu cầu, kê khai hàng hóa, và trả các chi phí đóng gói, dịch vụ vận chuyển, nâng hạ liên quan đến việc giao hàng nói trên.Bất kể bên nào trả phí vận chuyển và bảo hiểm, quyền sở hữu và những rủi ro, mất mát sẽ chuyển sang người Mua khi người Mua/ đại diện của người Mua hoàn tất việc nhận hàng và ký tên trên biên bản nhận hàng.', ENGLISH=N'Upon notification by the Seller to the Buyer that the goods are ready for delivery and unless otherwise agreed with the Buyer, the Seller undertakes to make available at the port of loading the good answering in all respects the description in this Purchase Order and to pay all packing, boxing, handling, transport and loading charges in connection with the foregoing.Regardless of which party pays the cost of shipment and insurance, title and risk of loss for the Goods will pass to Buyer when the Buyer/ representative of Buyer completely receives the goods and signs on the shipment minutes.', VIETNAM_OR=N'Khi người Bán thông báo cho người Mua rằng hàng hóa đã sẵn sàng cho việc giao hàng, ngoại trừ những thỏa thuận khác với người Mua, thì người Bán chịu trách nhiệm chuẩn bị hàng tại cảng hoặc tại địa điểm nhận hàng do người Mua yêu cầu, kê khai hàng hóa, và trả các chi phí đóng gói, dịch vụ vận chuyển, nâng hạ liên quan đến việc giao hàng nói trên.Bất kể bên nào trả phí vận chuyển và bảo hiểm, quyền sở hữu và những rủi ro, mất mát sẽ chuyển sang người Mua khi người Mua/ đại diện của người Mua hoàn tất việc nhận hàng và ký tên trên biên bản nhận hàng.', ENGLISH_OR=N'Upon notification by the Seller to the Buyer that the goods are ready for delivery and unless otherwise agreed with the Buyer, the Seller undertakes to make available at the port of loading the good answering in all respects the description in this Purchase Order and to pay all packing, boxing, handling, transport and loading charges in connection with the foregoing.Regardless of which party pays the cost of shipment and insurance, title and risk of loss for the Goods will pass to Buyer when the Buyer/ representative of Buyer completely receives the goods and signs on the shipment minutes.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Content_4' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Content_4',N'Khi người Bán thông báo cho người Mua rằng hàng hóa đã sẵn sàng cho việc giao hàng, ngoại trừ những thỏa thuận khác với người Mua, thì người Bán chịu trách nhiệm chuẩn bị hàng tại cảng hoặc tại địa điểm nhận hàng do người Mua yêu cầu, kê khai hàng hóa, và trả các chi phí đóng gói, dịch vụ vận chuyển, nâng hạ liên quan đến việc giao hàng nói trên.Bất kể bên nào trả phí vận chuyển và bảo hiểm, quyền sở hữu và những rủi ro, mất mát sẽ chuyển sang người Mua khi người Mua/ đại diện của người Mua hoàn tất việc nhận hàng và ký tên trên biên bản nhận hàng.',N'Upon notification by the Seller to the Buyer that the goods are ready for delivery and unless otherwise agreed with the Buyer, the Seller undertakes to make available at the port of loading the good answering in all respects the description in this Purchase Order and to pay all packing, boxing, handling, transport and loading charges in connection with the foregoing.Regardless of which party pays the cost of shipment and insurance, title and risk of loss for the Goods will pass to Buyer when the Buyer/ representative of Buyer completely receives the goods and signs on the shipment minutes.',N'Khi người Bán thông báo cho người Mua rằng hàng hóa đã sẵn sàng cho việc giao hàng, ngoại trừ những thỏa thuận khác với người Mua, thì người Bán chịu trách nhiệm chuẩn bị hàng tại cảng hoặc tại địa điểm nhận hàng do người Mua yêu cầu, kê khai hàng hóa, và trả các chi phí đóng gói, dịch vụ vận chuyển, nâng hạ liên quan đến việc giao hàng nói trên.Bất kể bên nào trả phí vận chuyển và bảo hiểm, quyền sở hữu và những rủi ro, mất mát sẽ chuyển sang người Mua khi người Mua/ đại diện của người Mua hoàn tất việc nhận hàng và ký tên trên biên bản nhận hàng.',N'Upon notification by the Seller to the Buyer that the goods are ready for delivery and unless otherwise agreed with the Buyer, the Seller undertakes to make available at the port of loading the good answering in all respects the description in this Purchase Order and to pay all packing, boxing, handling, transport and loading charges in connection with the foregoing.Regardless of which party pays the cost of shipment and insurance, title and risk of loss for the Goods will pass to Buyer when the Buyer/ representative of Buyer completely receives the goods and signs on the shipment minutes.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Content_5') UPDATE LANGUAGES SET VIETNAM=N'Thời gian giao hàng rất quan trọng đối với đơn đặt hàng này nên thời điểm giao hàng được nêu ra ở mặt trước (lịch giao hàng) phải được tuân thủ một cách nghiêm chỉnh. Trong trường hợp người Bán không giao hàng theo đúng lịch với chất lượng theo đúng yêu cẩu của người Mua thì họ phải trả cho người Mua một số tiền bằng 0.05% giá trị lô hàng cho mỗi ngày giao trễ, nhưng không quá 8% tổng giá trị lô hàng. Nếu việc giao hàng chậm so với lịch giao hàng thì người Mua có quyền từ chối nhận hàng', ENGLISH=N'Time is of the essence of this Purchase Order. All delivery dates specified overleaf (the Delivery schedule) must be strictly complied by the Seller. In the event of the Sellers failure to deliver the goods according to the Delivery schedule, the Seller shall be liable to pay the Buyer and amount equal to 0.05% of the total amount of the Price for each day of delay, up to a maximum amount of 8% of the total amount of the Price. If delivery is late according to the Delivery schedule, the Buyer shall have the right to reject the goods.', VIETNAM_OR=N'Thời gian giao hàng rất quan trọng đối với đơn đặt hàng này nên thời điểm giao hàng được nêu ra ở mặt trước (lịch giao hàng) phải được tuân thủ một cách nghiêm chỉnh. Trong trường hợp người Bán không giao hàng theo đúng lịch với chất lượng theo đúng yêu cẩu của người Mua thì họ phải trả cho người Mua một số tiền bằng 0.05% giá trị lô hàng cho mỗi ngày giao trễ, nhưng không quá 8% tổng giá trị lô hàng. Nếu việc giao hàng chậm so với lịch giao hàng thì người Mua có quyền từ chối nhận hàng', ENGLISH_OR=N'Time is of the essence of this Purchase Order. All delivery dates specified overleaf (the Delivery schedule) must be strictly complied by the Seller. In the event of the Sellers failure to deliver the goods according to the Delivery schedule, the Seller shall be liable to pay the Buyer and amount equal to 0.05% of the total amount of the Price for each day of delay, up to a maximum amount of 8% of the total amount of the Price. If delivery is late according to the Delivery schedule, the Buyer shall have the right to reject the goods.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Content_5' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Content_5',N'Thời gian giao hàng rất quan trọng đối với đơn đặt hàng này nên thời điểm giao hàng được nêu ra ở mặt trước (lịch giao hàng) phải được tuân thủ một cách nghiêm chỉnh. Trong trường hợp người Bán không giao hàng theo đúng lịch với chất lượng theo đúng yêu cẩu của người Mua thì họ phải trả cho người Mua một số tiền bằng 0.05% giá trị lô hàng cho mỗi ngày giao trễ, nhưng không quá 8% tổng giá trị lô hàng. Nếu việc giao hàng chậm so với lịch giao hàng thì người Mua có quyền từ chối nhận hàng',N'Time is of the essence of this Purchase Order. All delivery dates specified overleaf (the Delivery schedule) must be strictly complied by the Seller. In the event of the Sellers failure to deliver the goods according to the Delivery schedule, the Seller shall be liable to pay the Buyer and amount equal to 0.05% of the total amount of the Price for each day of delay, up to a maximum amount of 8% of the total amount of the Price. If delivery is late according to the Delivery schedule, the Buyer shall have the right to reject the goods.',N'Thời gian giao hàng rất quan trọng đối với đơn đặt hàng này nên thời điểm giao hàng được nêu ra ở mặt trước (lịch giao hàng) phải được tuân thủ một cách nghiêm chỉnh. Trong trường hợp người Bán không giao hàng theo đúng lịch với chất lượng theo đúng yêu cẩu của người Mua thì họ phải trả cho người Mua một số tiền bằng 0.05% giá trị lô hàng cho mỗi ngày giao trễ, nhưng không quá 8% tổng giá trị lô hàng. Nếu việc giao hàng chậm so với lịch giao hàng thì người Mua có quyền từ chối nhận hàng',N'Time is of the essence of this Purchase Order. All delivery dates specified overleaf (the Delivery schedule) must be strictly complied by the Seller. In the event of the Sellers failure to deliver the goods according to the Delivery schedule, the Seller shall be liable to pay the Buyer and amount equal to 0.05% of the total amount of the Price for each day of delay, up to a maximum amount of 8% of the total amount of the Price. If delivery is late according to the Delivery schedule, the Buyer shall have the right to reject the goods.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Content_6') UPDATE LANGUAGES SET VIETNAM=N'a- Người bán đảm bảo quyền sở hữu hợp pháp đối với hàng hóa; Người Bán bảo đảm việc sản xuất và chất lượng của hàng hóa tuân thủ các luật lệ, quy định, thủ tục hay các văn bản pháp quy; Người Bán cam kết có được mọi giấy phép, cho phép, chấp thuận (kể cả giấy phép tạm) được yêu cầu theo pháp luật, quy tắc và quy định hiện hành để bán hàng cho người Mua; Người Bán bảo đảm rằng mình có giấy phép hay được sự chấp thuận của người chủ sở hữu về bản quyền, mẫu mã, giấy đăng ký, bằng sáng chế, thương hiệu hay bất cứ quyền sở hữu công nghiệp nào khác để sản xuất, kinh doanh hay phân phối hàng hóa, và người Bán không biết là hàng hóa vi phạm hay sẽ vi phạm các quyền sở hữu đó. Người Bán sẽ bồi thường thiệt hại cho người Mua về các mất mát tổn thất có thể xảy ra cho người Mua , và bồi thường cho các hành động, kiện tụng, khiếu nại, hình phạt, phí tổn liên quan, nếu việc thực hiện bổn phận của người Bán theo Đơn đặt hàng này vi phạm các quyền nêu tại mục 6.a này 
b - Người Bán bảo đảm hàng hóa sẽ đúng theo mô tả, bảo đảm chất lượng, kích thước và các điều kiện khác được quy định trong Đơn đặt hàng, và hàng hóa phải đúng với mẫu đã sản xuất cho người Mua. Trong vòng 30 ngày kể từ ngày hàng đến, người Mua sẽ kiểm tra hàng hóa và sẽ thông báo cho người Bán để họ tiến hành sửa chữa hay thay thế ngay những hàng hóa không phù hợp với những đảm bảo trên của người Bán, và người Bán phải chịu các chi phí.
c - Nếu toàn bộ hay một phần hàng hóa không đúng với sự mô tả hàng hóa, với mẫu, số lượng hay chất lượng như đã đề cập ở đây, hay nếu người Bán không thực hiện đúng các tiêu chuẩn kỹ thuật, điều kiện, điều khoản, hay việc bảo hành(dù nêu ra hay ngụ ý) đối với toàn bộ hay một phần hàng hóa cung cấp ở đây thì người Mua có thể từ chối toàn bộ hay một phần hàng hóa đó bất kỳ lúc nào, và người Mua có quyền yêu cầu người Bán thay thế ngay những hàng hóa đó.Hàng hóa bị từ chối sẽ được giữ lại để chuyển trả với rủi ro và chi phí do người Bán chịu.Nếu người Mua không hài lòng với các hàng hóa được thay thế, người Mua có quyền yêu cầu người Bán trả lại số tiền trả trước(nếu có), hay từ chối thanh toán tiền hàng, và thu lại các chi phí về kiểm định, lưu kho và các chi phí khác, cũng như các mất mát về lợi nhuận và các tổn thất sau đó.', ENGLISH=N'(a) The Seller warrants the legal ownership to the Goods;  The Seller warrants that the manufacture and quality of Goods shall comply in all respects with the requirements of legislation, rules, orders or legal instruments;  the Seller warrants to obtain any certificate, licence or permit required for the export of the Goods to the Buyers country of destination ; The Seller warrants to have the licence or approval of the owner of any copyright, design, registration, patent, trademark or other applicable industrial property right to manufacture, sell or otherwise deal in the Goods, and furthermore that the Seller has no knowledge that the Goods are or will be infringements of any such rights. The Seller shall fully indemnity the Buyer from and against all loss and damages for which the Buyer may become liable and against all actions, suits, claims, penalties, costs and expenses associated therewith, if performance of Sellers obligations under this Purchase Order invoices an infringement of any such rights indicated in this item 6.a.
(b) The Seller warrants that the Goods shall conform with the descriptions, quality, measurement and any other condition stipulated in this Purchase Order, and that the Goods shall correspond with any sample produced to the Buyer. Within 30 days of the arrival of the Goods, at the Buyer designated place of accepting delivery, the Buyer shall inspect the Goods, and notify the Seller to repair or replace forthwith any Goods which fail to comply with the Sellers warranties as set out above, at the sole cost and expense of the Seller.
(c)  If the Goods or any installment thereof are not in strict conformity with description, sample, quantity or quality as stated herein, or if the Seller fails to comply with any specification, term, condition or warranty (whether express or implied) in respect of any goods or any installment thereof to be supplied hereunder, the Buyer may reject such Goods or any installment thereof at any time and shall have the right to demand the Seller to replace forthwith such Goods or installment. If any of the Goods are rejected they will be held for disposition at risk and expense of the Seller. If the Seller fails to replace such Goods to the satisfaction of the Buyer, the Buyer shall have the right to claim from the Seller all amounts prepaid (if any) or to withhold payment for such Goods, costs of inspection, storage and other expenses, loss or profit and consequential loss.', VIETNAM_OR=N'a- Người bán đảm bảo quyền sở hữu hợp pháp đối với hàng hóa; Người Bán bảo đảm việc sản xuất và chất lượng của hàng hóa tuân thủ các luật lệ, quy định, thủ tục hay các văn bản pháp quy; Người Bán cam kết có được mọi giấy phép, cho phép, chấp thuận (kể cả giấy phép tạm) được yêu cầu theo pháp luật, quy tắc và quy định hiện hành để bán hàng cho người Mua; Người Bán bảo đảm rằng mình có giấy phép hay được sự chấp thuận của người chủ sở hữu về bản quyền, mẫu mã, giấy đăng ký, bằng sáng chế, thương hiệu hay bất cứ quyền sở hữu công nghiệp nào khác để sản xuất, kinh doanh hay phân phối hàng hóa, và người Bán không biết là hàng hóa vi phạm hay sẽ vi phạm các quyền sở hữu đó. Người Bán sẽ bồi thường thiệt hại cho người Mua về các mất mát tổn thất có thể xảy ra cho người Mua , và bồi thường cho các hành động, kiện tụng, khiếu nại, hình phạt, phí tổn liên quan, nếu việc thực hiện bổn phận của người Bán theo Đơn đặt hàng này vi phạm các quyền nêu tại mục 6.a này 
b - Người Bán bảo đảm hàng hóa sẽ đúng theo mô tả, bảo đảm chất lượng, kích thước và các điều kiện khác được quy định trong Đơn đặt hàng, và hàng hóa phải đúng với mẫu đã sản xuất cho người Mua. Trong vòng 30 ngày kể từ ngày hàng đến, người Mua sẽ kiểm tra hàng hóa và sẽ thông báo cho người Bán để họ tiến hành sửa chữa hay thay thế ngay những hàng hóa không phù hợp với những đảm bảo trên của người Bán, và người Bán phải chịu các chi phí.
c - Nếu toàn bộ hay một phần hàng hóa không đúng với sự mô tả hàng hóa, với mẫu, số lượng hay chất lượng như đã đề cập ở đây, hay nếu người Bán không thực hiện đúng các tiêu chuẩn kỹ thuật, điều kiện, điều khoản, hay việc bảo hành(dù nêu ra hay ngụ ý) đối với toàn bộ hay một phần hàng hóa cung cấp ở đây thì người Mua có thể từ chối toàn bộ hay một phần hàng hóa đó bất kỳ lúc nào, và người Mua có quyền yêu cầu người Bán thay thế ngay những hàng hóa đó.Hàng hóa bị từ chối sẽ được giữ lại để chuyển trả với rủi ro và chi phí do người Bán chịu.Nếu người Mua không hài lòng với các hàng hóa được thay thế, người Mua có quyền yêu cầu người Bán trả lại số tiền trả trước(nếu có), hay từ chối thanh toán tiền hàng, và thu lại các chi phí về kiểm định, lưu kho và các chi phí khác, cũng như các mất mát về lợi nhuận và các tổn thất sau đó.', ENGLISH_OR=N'(a) The Seller warrants the legal ownership to the Goods;  The Seller warrants that the manufacture and quality of Goods shall comply in all respects with the requirements of legislation, rules, orders or legal instruments;  the Seller warrants to obtain any certificate, licence or permit required for the export of the Goods to the Buyers country of destination ; The Seller warrants to have the licence or approval of the owner of any copyright, design, registration, patent, trademark or other applicable industrial property right to manufacture, sell or otherwise deal in the Goods, and furthermore that the Seller has no knowledge that the Goods are or will be infringements of any such rights. The Seller shall fully indemnity the Buyer from and against all loss and damages for which the Buyer may become liable and against all actions, suits, claims, penalties, costs and expenses associated therewith, if performance of Sellers obligations under this Purchase Order invoices an infringement of any such rights indicated in this item 6.a.
(b) The Seller warrants that the Goods shall conform with the descriptions, quality, measurement and any other condition stipulated in this Purchase Order, and that the Goods shall correspond with any sample produced to the Buyer. Within 30 days of the arrival of the Goods, at the Buyer designated place of accepting delivery, the Buyer shall inspect the Goods, and notify the Seller to repair or replace forthwith any Goods which fail to comply with the Sellers warranties as set out above, at the sole cost and expense of the Seller.
(c)  If the Goods or any installment thereof are not in strict conformity with description, sample, quantity or quality as stated herein, or if the Seller fails to comply with any specification, term, condition or warranty (whether express or implied) in respect of any goods or any installment thereof to be supplied hereunder, the Buyer may reject such Goods or any installment thereof at any time and shall have the right to demand the Seller to replace forthwith such Goods or installment. If any of the Goods are rejected they will be held for disposition at risk and expense of the Seller. If the Seller fails to replace such Goods to the satisfaction of the Buyer, the Buyer shall have the right to claim from the Seller all amounts prepaid (if any) or to withhold payment for such Goods, costs of inspection, storage and other expenses, loss or profit and consequential loss.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Content_6' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Content_6',N'a- Người bán đảm bảo quyền sở hữu hợp pháp đối với hàng hóa; Người Bán bảo đảm việc sản xuất và chất lượng của hàng hóa tuân thủ các luật lệ, quy định, thủ tục hay các văn bản pháp quy; Người Bán cam kết có được mọi giấy phép, cho phép, chấp thuận (kể cả giấy phép tạm) được yêu cầu theo pháp luật, quy tắc và quy định hiện hành để bán hàng cho người Mua; Người Bán bảo đảm rằng mình có giấy phép hay được sự chấp thuận của người chủ sở hữu về bản quyền, mẫu mã, giấy đăng ký, bằng sáng chế, thương hiệu hay bất cứ quyền sở hữu công nghiệp nào khác để sản xuất, kinh doanh hay phân phối hàng hóa, và người Bán không biết là hàng hóa vi phạm hay sẽ vi phạm các quyền sở hữu đó. Người Bán sẽ bồi thường thiệt hại cho người Mua về các mất mát tổn thất có thể xảy ra cho người Mua , và bồi thường cho các hành động, kiện tụng, khiếu nại, hình phạt, phí tổn liên quan, nếu việc thực hiện bổn phận của người Bán theo Đơn đặt hàng này vi phạm các quyền nêu tại mục 6.a này 
b - Người Bán bảo đảm hàng hóa sẽ đúng theo mô tả, bảo đảm chất lượng, kích thước và các điều kiện khác được quy định trong Đơn đặt hàng, và hàng hóa phải đúng với mẫu đã sản xuất cho người Mua. Trong vòng 30 ngày kể từ ngày hàng đến, người Mua sẽ kiểm tra hàng hóa và sẽ thông báo cho người Bán để họ tiến hành sửa chữa hay thay thế ngay những hàng hóa không phù hợp với những đảm bảo trên của người Bán, và người Bán phải chịu các chi phí.
c - Nếu toàn bộ hay một phần hàng hóa không đúng với sự mô tả hàng hóa, với mẫu, số lượng hay chất lượng như đã đề cập ở đây, hay nếu người Bán không thực hiện đúng các tiêu chuẩn kỹ thuật, điều kiện, điều khoản, hay việc bảo hành(dù nêu ra hay ngụ ý) đối với toàn bộ hay một phần hàng hóa cung cấp ở đây thì người Mua có thể từ chối toàn bộ hay một phần hàng hóa đó bất kỳ lúc nào, và người Mua có quyền yêu cầu người Bán thay thế ngay những hàng hóa đó.Hàng hóa bị từ chối sẽ được giữ lại để chuyển trả với rủi ro và chi phí do người Bán chịu.Nếu người Mua không hài lòng với các hàng hóa được thay thế, người Mua có quyền yêu cầu người Bán trả lại số tiền trả trước(nếu có), hay từ chối thanh toán tiền hàng, và thu lại các chi phí về kiểm định, lưu kho và các chi phí khác, cũng như các mất mát về lợi nhuận và các tổn thất sau đó.',N'(a) The Seller warrants the legal ownership to the Goods;  The Seller warrants that the manufacture and quality of Goods shall comply in all respects with the requirements of legislation, rules, orders or legal instruments;  the Seller warrants to obtain any certificate, licence or permit required for the export of the Goods to the Buyers country of destination ; The Seller warrants to have the licence or approval of the owner of any copyright, design, registration, patent, trademark or other applicable industrial property right to manufacture, sell or otherwise deal in the Goods, and furthermore that the Seller has no knowledge that the Goods are or will be infringements of any such rights. The Seller shall fully indemnity the Buyer from and against all loss and damages for which the Buyer may become liable and against all actions, suits, claims, penalties, costs and expenses associated therewith, if performance of Sellers obligations under this Purchase Order invoices an infringement of any such rights indicated in this item 6.a.
(b) The Seller warrants that the Goods shall conform with the descriptions, quality, measurement and any other condition stipulated in this Purchase Order, and that the Goods shall correspond with any sample produced to the Buyer. Within 30 days of the arrival of the Goods, at the Buyer designated place of accepting delivery, the Buyer shall inspect the Goods, and notify the Seller to repair or replace forthwith any Goods which fail to comply with the Sellers warranties as set out above, at the sole cost and expense of the Seller.
(c)  If the Goods or any installment thereof are not in strict conformity with description, sample, quantity or quality as stated herein, or if the Seller fails to comply with any specification, term, condition or warranty (whether express or implied) in respect of any goods or any installment thereof to be supplied hereunder, the Buyer may reject such Goods or any installment thereof at any time and shall have the right to demand the Seller to replace forthwith such Goods or installment. If any of the Goods are rejected they will be held for disposition at risk and expense of the Seller. If the Seller fails to replace such Goods to the satisfaction of the Buyer, the Buyer shall have the right to claim from the Seller all amounts prepaid (if any) or to withhold payment for such Goods, costs of inspection, storage and other expenses, loss or profit and consequential loss.',N'a- Người bán đảm bảo quyền sở hữu hợp pháp đối với hàng hóa; Người Bán bảo đảm việc sản xuất và chất lượng của hàng hóa tuân thủ các luật lệ, quy định, thủ tục hay các văn bản pháp quy; Người Bán cam kết có được mọi giấy phép, cho phép, chấp thuận (kể cả giấy phép tạm) được yêu cầu theo pháp luật, quy tắc và quy định hiện hành để bán hàng cho người Mua; Người Bán bảo đảm rằng mình có giấy phép hay được sự chấp thuận của người chủ sở hữu về bản quyền, mẫu mã, giấy đăng ký, bằng sáng chế, thương hiệu hay bất cứ quyền sở hữu công nghiệp nào khác để sản xuất, kinh doanh hay phân phối hàng hóa, và người Bán không biết là hàng hóa vi phạm hay sẽ vi phạm các quyền sở hữu đó. Người Bán sẽ bồi thường thiệt hại cho người Mua về các mất mát tổn thất có thể xảy ra cho người Mua , và bồi thường cho các hành động, kiện tụng, khiếu nại, hình phạt, phí tổn liên quan, nếu việc thực hiện bổn phận của người Bán theo Đơn đặt hàng này vi phạm các quyền nêu tại mục 6.a này 
b - Người Bán bảo đảm hàng hóa sẽ đúng theo mô tả, bảo đảm chất lượng, kích thước và các điều kiện khác được quy định trong Đơn đặt hàng, và hàng hóa phải đúng với mẫu đã sản xuất cho người Mua. Trong vòng 30 ngày kể từ ngày hàng đến, người Mua sẽ kiểm tra hàng hóa và sẽ thông báo cho người Bán để họ tiến hành sửa chữa hay thay thế ngay những hàng hóa không phù hợp với những đảm bảo trên của người Bán, và người Bán phải chịu các chi phí.
c - Nếu toàn bộ hay một phần hàng hóa không đúng với sự mô tả hàng hóa, với mẫu, số lượng hay chất lượng như đã đề cập ở đây, hay nếu người Bán không thực hiện đúng các tiêu chuẩn kỹ thuật, điều kiện, điều khoản, hay việc bảo hành(dù nêu ra hay ngụ ý) đối với toàn bộ hay một phần hàng hóa cung cấp ở đây thì người Mua có thể từ chối toàn bộ hay một phần hàng hóa đó bất kỳ lúc nào, và người Mua có quyền yêu cầu người Bán thay thế ngay những hàng hóa đó.Hàng hóa bị từ chối sẽ được giữ lại để chuyển trả với rủi ro và chi phí do người Bán chịu.Nếu người Mua không hài lòng với các hàng hóa được thay thế, người Mua có quyền yêu cầu người Bán trả lại số tiền trả trước(nếu có), hay từ chối thanh toán tiền hàng, và thu lại các chi phí về kiểm định, lưu kho và các chi phí khác, cũng như các mất mát về lợi nhuận và các tổn thất sau đó.',N'(a) The Seller warrants the legal ownership to the Goods;  The Seller warrants that the manufacture and quality of Goods shall comply in all respects with the requirements of legislation, rules, orders or legal instruments;  the Seller warrants to obtain any certificate, licence or permit required for the export of the Goods to the Buyers country of destination ; The Seller warrants to have the licence or approval of the owner of any copyright, design, registration, patent, trademark or other applicable industrial property right to manufacture, sell or otherwise deal in the Goods, and furthermore that the Seller has no knowledge that the Goods are or will be infringements of any such rights. The Seller shall fully indemnity the Buyer from and against all loss and damages for which the Buyer may become liable and against all actions, suits, claims, penalties, costs and expenses associated therewith, if performance of Sellers obligations under this Purchase Order invoices an infringement of any such rights indicated in this item 6.a.
(b) The Seller warrants that the Goods shall conform with the descriptions, quality, measurement and any other condition stipulated in this Purchase Order, and that the Goods shall correspond with any sample produced to the Buyer. Within 30 days of the arrival of the Goods, at the Buyer designated place of accepting delivery, the Buyer shall inspect the Goods, and notify the Seller to repair or replace forthwith any Goods which fail to comply with the Sellers warranties as set out above, at the sole cost and expense of the Seller.
(c)  If the Goods or any installment thereof are not in strict conformity with description, sample, quantity or quality as stated herein, or if the Seller fails to comply with any specification, term, condition or warranty (whether express or implied) in respect of any goods or any installment thereof to be supplied hereunder, the Buyer may reject such Goods or any installment thereof at any time and shall have the right to demand the Seller to replace forthwith such Goods or installment. If any of the Goods are rejected they will be held for disposition at risk and expense of the Seller. If the Seller fails to replace such Goods to the satisfaction of the Buyer, the Buyer shall have the right to claim from the Seller all amounts prepaid (if any) or to withhold payment for such Goods, costs of inspection, storage and other expenses, loss or profit and consequential loss.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Content_7') UPDATE LANGUAGES SET VIETNAM=N'Quyền và nghĩa vụ của người Bán quy  định trong Đơn đặt hàng này là chỉ dành cho người Bán và sẽ không được chuyển nhượng lại cho bất kỳ bên thứ ba nào nếu không có sự chấp thuận bằng văn bản của người Mua.', ENGLISH=N'The rights and obligations of the Seller under this Purchase Order are personal to the Seller and may not be subcontracted or assigned without the Buyers prior written consent.', VIETNAM_OR=N'Quyền và nghĩa vụ của người Bán quy  định trong Đơn đặt hàng này là chỉ dành cho người Bán và sẽ không được chuyển nhượng lại cho bất kỳ bên thứ ba nào nếu không có sự chấp thuận bằng văn bản của người Mua.', ENGLISH_OR=N'The rights and obligations of the Seller under this Purchase Order are personal to the Seller and may not be subcontracted or assigned without the Buyers prior written consent.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Content_7' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Content_7',N'Quyền và nghĩa vụ của người Bán quy  định trong Đơn đặt hàng này là chỉ dành cho người Bán và sẽ không được chuyển nhượng lại cho bất kỳ bên thứ ba nào nếu không có sự chấp thuận bằng văn bản của người Mua.',N'The rights and obligations of the Seller under this Purchase Order are personal to the Seller and may not be subcontracted or assigned without the Buyers prior written consent.',N'Quyền và nghĩa vụ của người Bán quy  định trong Đơn đặt hàng này là chỉ dành cho người Bán và sẽ không được chuyển nhượng lại cho bất kỳ bên thứ ba nào nếu không có sự chấp thuận bằng văn bản của người Mua.',N'The rights and obligations of the Seller under this Purchase Order are personal to the Seller and may not be subcontracted or assigned without the Buyers prior written consent.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Content_8') UPDATE LANGUAGES SET VIETNAM=N'Người Bán sẽ bảo vệ, bảo đảm cho người Mua không bị thiệt thòi do các khiếu nại, tổn thất, các khoản nợ và chi phí (bao gồm cả chi phí hợp lý cho luật sư) phát sinh từ sự vi phạm những bảo đảm hay từ bất cứ hành động sai sót, không làm tròn trách nhiệm nào của người Bán, của đại lý của người Bán, nhân viên hay người thầu phụ.', ENGLISH=N'The Seller will defend, indemnify and hold the Buyer harmless from and against all claims, damages, liabilities and expenses (including reasonable attorneys fees) arising out of or resulting from any breach of warranty hereunder or any tortious act or omission of the Seller, its agents, employees or subcontractors.', VIETNAM_OR=N'Người Bán sẽ bảo vệ, bảo đảm cho người Mua không bị thiệt thòi do các khiếu nại, tổn thất, các khoản nợ và chi phí (bao gồm cả chi phí hợp lý cho luật sư) phát sinh từ sự vi phạm những bảo đảm hay từ bất cứ hành động sai sót, không làm tròn trách nhiệm nào của người Bán, của đại lý của người Bán, nhân viên hay người thầu phụ.', ENGLISH_OR=N'The Seller will defend, indemnify and hold the Buyer harmless from and against all claims, damages, liabilities and expenses (including reasonable attorneys fees) arising out of or resulting from any breach of warranty hereunder or any tortious act or omission of the Seller, its agents, employees or subcontractors.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Content_8' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Content_8',N'Người Bán sẽ bảo vệ, bảo đảm cho người Mua không bị thiệt thòi do các khiếu nại, tổn thất, các khoản nợ và chi phí (bao gồm cả chi phí hợp lý cho luật sư) phát sinh từ sự vi phạm những bảo đảm hay từ bất cứ hành động sai sót, không làm tròn trách nhiệm nào của người Bán, của đại lý của người Bán, nhân viên hay người thầu phụ.',N'The Seller will defend, indemnify and hold the Buyer harmless from and against all claims, damages, liabilities and expenses (including reasonable attorneys fees) arising out of or resulting from any breach of warranty hereunder or any tortious act or omission of the Seller, its agents, employees or subcontractors.',N'Người Bán sẽ bảo vệ, bảo đảm cho người Mua không bị thiệt thòi do các khiếu nại, tổn thất, các khoản nợ và chi phí (bao gồm cả chi phí hợp lý cho luật sư) phát sinh từ sự vi phạm những bảo đảm hay từ bất cứ hành động sai sót, không làm tròn trách nhiệm nào của người Bán, của đại lý của người Bán, nhân viên hay người thầu phụ.',N'The Seller will defend, indemnify and hold the Buyer harmless from and against all claims, damages, liabilities and expenses (including reasonable attorneys fees) arising out of or resulting from any breach of warranty hereunder or any tortious act or omission of the Seller, its agents, employees or subcontractors.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Content_9') UPDATE LANGUAGES SET VIETNAM=N'Người Bán cam kết giữ bí mật và không tiết lộ cho bất cứ ai các thông tin liên quan đến Đơn đặt hàng, đến người Mua, những thông tin mà người Bán có thể nhận được trong thời hạn của Đơn đặt hàng này.', ENGLISH=N'The Seller hereby undertakes to keep confidential and not disclose any party any information regarding this Purchase Order and information regarding the Buyer which it may have received during the term of this Purchase Order.', VIETNAM_OR=N'Người Bán cam kết giữ bí mật và không tiết lộ cho bất cứ ai các thông tin liên quan đến Đơn đặt hàng, đến người Mua, những thông tin mà người Bán có thể nhận được trong thời hạn của Đơn đặt hàng này.', ENGLISH_OR=N'The Seller hereby undertakes to keep confidential and not disclose any party any information regarding this Purchase Order and information regarding the Buyer which it may have received during the term of this Purchase Order.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Content_9' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Content_9',N'Người Bán cam kết giữ bí mật và không tiết lộ cho bất cứ ai các thông tin liên quan đến Đơn đặt hàng, đến người Mua, những thông tin mà người Bán có thể nhận được trong thời hạn của Đơn đặt hàng này.',N'The Seller hereby undertakes to keep confidential and not disclose any party any information regarding this Purchase Order and information regarding the Buyer which it may have received during the term of this Purchase Order.',N'Người Bán cam kết giữ bí mật và không tiết lộ cho bất cứ ai các thông tin liên quan đến Đơn đặt hàng, đến người Mua, những thông tin mà người Bán có thể nhận được trong thời hạn của Đơn đặt hàng này.',N'The Seller hereby undertakes to keep confidential and not disclose any party any information regarding this Purchase Order and information regarding the Buyer which it may have received during the term of this Purchase Order.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'Content_10') UPDATE LANGUAGES SET VIETNAM=N'Đơn đặt hàng này được chi phối và được hiểu là tuân thủ theo luật pháp của Việt Nam. Trong trường hợp Đơn đặt hàng được gửi bằng cả tiếng Anh và tiếng Việt, tiếng Việt sẽ được lấy làm căn cứ. Tất cả tranh chấp có liên quan đến việc thực hiện Đơn đặt hàng này sẽ được giải quyết bởi Trọng Tài Kinh Tế Thành Phố Hồ Chí Minh.', ENGLISH=N'This Purchase Order shall be governed by construed in accordance with the laws of Vietnam. In case Purchase Order shall be made in Vietnamese and English, Vietnamese shall prevail. All disputes related to this Purchase Order will be settled by the arbitrator of economy in Ho Minh City, Vietnam.', VIETNAM_OR=N'Đơn đặt hàng này được chi phối và được hiểu là tuân thủ theo luật pháp của Việt Nam. Trong trường hợp Đơn đặt hàng được gửi bằng cả tiếng Anh và tiếng Việt, tiếng Việt sẽ được lấy làm căn cứ. Tất cả tranh chấp có liên quan đến việc thực hiện Đơn đặt hàng này sẽ được giải quyết bởi Trọng Tài Kinh Tế Thành Phố Hồ Chí Minh.', ENGLISH_OR=N'This Purchase Order shall be governed by construed in accordance with the laws of Vietnam. In case Purchase Order shall be made in Vietnamese and English, Vietnamese shall prevail. All disputes related to this Purchase Order will be settled by the arbitrator of economy in Ho Minh City, Vietnam.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'Content_10' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'Content_10',N'Đơn đặt hàng này được chi phối và được hiểu là tuân thủ theo luật pháp của Việt Nam. Trong trường hợp Đơn đặt hàng được gửi bằng cả tiếng Anh và tiếng Việt, tiếng Việt sẽ được lấy làm căn cứ. Tất cả tranh chấp có liên quan đến việc thực hiện Đơn đặt hàng này sẽ được giải quyết bởi Trọng Tài Kinh Tế Thành Phố Hồ Chí Minh.',N'This Purchase Order shall be governed by construed in accordance with the laws of Vietnam. In case Purchase Order shall be made in Vietnamese and English, Vietnamese shall prevail. All disputes related to this Purchase Order will be settled by the arbitrator of economy in Ho Minh City, Vietnam.',N'Đơn đặt hàng này được chi phối và được hiểu là tuân thủ theo luật pháp của Việt Nam. Trong trường hợp Đơn đặt hàng được gửi bằng cả tiếng Anh và tiếng Việt, tiếng Việt sẽ được lấy làm căn cứ. Tất cả tranh chấp có liên quan đến việc thực hiện Đơn đặt hàng này sẽ được giải quyết bởi Trọng Tài Kinh Tế Thành Phố Hồ Chí Minh.',N'This Purchase Order shall be governed by construed in accordance with the laws of Vietnam. In case Purchase Order shall be made in Vietnamese and English, Vietnamese shall prevail. All disputes related to this Purchase Order will be settled by the arbitrator of economy in Ho Minh City, Vietnam.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'sheetPurchaseOrder') UPDATE LANGUAGES SET VIETNAM=N'PO', ENGLISH=N'PO', VIETNAM_OR=N'PO', ENGLISH_OR=N'PO' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'sheetPurchaseOrder' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'sheetPurchaseOrder',N'PO',N'PO',N'PO',N'PO')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'TenCongTy') UPDATE LANGUAGES SET VIETNAM=N'SHISEIDO VIETNAM INC.', ENGLISH=N'SHISEIDO VIETNAM INC.', VIETNAM_OR=N'SHISEIDO VIETNAM INC.', ENGLISH_OR=N'SHISEIDO VIETNAM INC.' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'TenCongTy' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'TenCongTy',N'SHISEIDO VIETNAM INC.',N'SHISEIDO VIETNAM INC.',N'SHISEIDO VIETNAM INC.',N'SHISEIDO VIETNAM INC.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'DiaChi1') UPDATE LANGUAGES SET VIETNAM=N'Lot 231-233-235- 237 AMATA Industrial Park,', ENGLISH=N'Lot 231-233-235- 237 AMATA Industrial Park,', VIETNAM_OR=N'Lot 231-233-235- 237 AMATA Industrial Park,', ENGLISH_OR=N'Lot 231-233-235- 237 AMATA Industrial Park,' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'DiaChi1' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'DiaChi1',N'Lot 231-233-235- 237 AMATA Industrial Park,',N'Lot 231-233-235- 237 AMATA Industrial Park,',N'Lot 231-233-235- 237 AMATA Industrial Park,',N'Lot 231-233-235- 237 AMATA Industrial Park,')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'DiaChi2') UPDATE LANGUAGES SET VIETNAM=N'Long Binh Ward, Bien Hoa City, Dong Nai Province', ENGLISH=N'Long Binh Ward, Bien Hoa City, Dong Nai Province', VIETNAM_OR=N'Long Binh Ward, Bien Hoa City, Dong Nai Province', ENGLISH_OR=N'Long Binh Ward, Bien Hoa City, Dong Nai Province' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'DiaChi2' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'DiaChi2',N'Long Binh Ward, Bien Hoa City, Dong Nai Province',N'Long Binh Ward, Bien Hoa City, Dong Nai Province',N'Long Binh Ward, Bien Hoa City, Dong Nai Province',N'Long Binh Ward, Bien Hoa City, Dong Nai Province')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'dienthoai') UPDATE LANGUAGES SET VIETNAM=N'Tel: ', ENGLISH=N'Tel: ', VIETNAM_OR=N'Tel: ', ENGLISH_OR=N'Tel: ' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'dienthoai' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'dienthoai',N'Tel: ',N'Tel: ',N'Tel: ',N'Tel: ')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'frmDDH_SSD' AND KEYWORD =N'titlePurchaseOrder') UPDATE LANGUAGES SET VIETNAM=N'Purchase Order / Đơn đặt hàng', ENGLISH=N'Purchase Order / Đơn đặt hàng', VIETNAM_OR=N'Purchase Order / Đơn đặt hàng', ENGLISH_OR=N'Purchase Order / Đơn đặt hàng' WHERE FORM=N'frmDDH_SSD' AND KEYWORD=N'titlePurchaseOrder' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'frmDDH_SSD',N'titlePurchaseOrder',N'Purchase Order / Đơn đặt hàng',N'Purchase Order / Đơn đặt hàng',N'Purchase Order / Đơn đặt hàng',N'Purchase Order / Đơn đặt hàng')
