IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'BAO_HANH_DEN_NGAY') UPDATE LANGUAGES SET VIETNAM=N'Bảo hành đến ngày', ENGLISH=N'Warranty to', VIETNAM_OR=N'Bảo hành đến ngày', ENGLISH_OR=N'Warranty to' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'BAO_HANH_DEN_NGAY' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'BAO_HANH_DEN_NGAY',N'Bảo hành đến ngày',N'Warranty to',N'Bảo hành đến ngày',N'Warranty to')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'FrmTimThongTinPT') UPDATE LANGUAGES SET VIETNAM=N'Tìm thông tin phụ tùng trong kho', ENGLISH=N'Search for material', VIETNAM_OR=N'Tìm thông tin phụ tùng trong kho', ENGLISH_OR=N'Search for material' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'FrmTimThongTinPT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'FrmTimThongTinPT',N'Tìm thông tin phụ tùng trong kho',N'Search for material',N'Tìm thông tin phụ tùng trong kho',N'Search for material')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'lblVattu') UPDATE LANGUAGES SET VIETNAM=N'Vật tư', ENGLISH=N'Material', VIETNAM_OR=N'Vật tư', ENGLISH_OR=N'Material' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'lblVattu' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'lblVattu',N'Vật tư',N'Material',N'Vật tư',N'Material')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'MS_DH_NHAP_PT') UPDATE LANGUAGES SET VIETNAM=N'ĐH nhập PT', ENGLISH=N'Receipt No.', VIETNAM_OR=N'ĐH nhập PT', ENGLISH_OR=N'Receipt No.' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'MS_DH_NHAP_PT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'MS_DH_NHAP_PT',N'ĐH nhập PT',N'Receipt No.',N'ĐH nhập PT',N'Receipt No.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'MS_PT') UPDATE LANGUAGES SET VIETNAM=N'Mã VT PT', ENGLISH=N'Item ID', VIETNAM_OR=N'Mã VT PT', ENGLISH_OR=N'Item ID' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'MS_PT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'MS_PT',N'Mã VT PT',N'Item ID',N'Mã VT PT',N'Item ID')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'MS_PT_CTY') UPDATE LANGUAGES SET VIETNAM=N'Item code', ENGLISH=N'Item code', VIETNAM_OR=N'Item code', ENGLISH_OR=N'Item code' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'MS_PT_CTY' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'MS_PT_CTY',N'Item code',N'Item code',N'Item code',N'Item code')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'MS_PT_NCC') UPDATE LANGUAGES SET VIETNAM=N'Part No.', ENGLISH=N'Part No.', VIETNAM_OR=N'Part No.', ENGLISH_OR=N'Part No.' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'MS_PT_NCC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'MS_PT_NCC',N'Part No.',N'Part No.',N'Part No.',N'Part No.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'SL_VT') UPDATE LANGUAGES SET VIETNAM=N'Số lượng', ENGLISH=N'Qty', VIETNAM_OR=N'Số lượng', ENGLISH_OR=N'Qty' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'SL_VT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'SL_VT',N'Số lượng',N'Qty',N'Số lượng',N'Qty')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'TEN_KHO') UPDATE LANGUAGES SET VIETNAM=N'Kho', ENGLISH=N'Warehouse', VIETNAM_OR=N'Kho', ENGLISH_OR=N'Warehouse' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'TEN_KHO' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'TEN_KHO',N'Kho',N'Warehouse',N'Kho',N'Warehouse')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'TEN_PT') UPDATE LANGUAGES SET VIETNAM=N'Tên vật tư, phụ tùng', ENGLISH=N'Material name', VIETNAM_OR=N'Tên vật tư, phụ tùng', ENGLISH_OR=N'Material name' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'TEN_PT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'TEN_PT',N'Tên vật tư, phụ tùng',N'Material name',N'Tên vật tư, phụ tùng',N'Material name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'TEN_VI_TRI') UPDATE LANGUAGES SET VIETNAM=N'Vị trí kho', ENGLISH=N'Position', VIETNAM_OR=N'Vị trí kho', ENGLISH_OR=N'Position' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'TEN_VI_TRI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'TEN_VI_TRI',N'Vị trí kho',N'Position',N'Vị trí kho',N'Position')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'QUY_CACH') UPDATE LANGUAGES SET VIETNAM=N'Quy cách', ENGLISH=N'Specification', VIETNAM_OR=N'Quy cách', ENGLISH_OR=N'Specification' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'QUY_CACH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'QUY_CACH',N'Quy cách',N'Specification',N'Quy cách',N'Specification')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'DON_GIA') UPDATE LANGUAGES SET VIETNAM=N'Đơn giá', ENGLISH=N'Unit price', VIETNAM_OR=N'Đơn giá', ENGLISH_OR=N'Unit price' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'DON_GIA' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'DON_GIA',N'Đơn giá',N'Unit price',N'Đơn giá',N'Unit price')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'TEN_NGOAI_TE') UPDATE LANGUAGES SET VIETNAM=N'Tên tiền tệ', ENGLISH=N'Currency name', VIETNAM_OR=N'Tên tiền tệ', ENGLISH_OR=N'Currency name' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'TEN_NGOAI_TE' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'TEN_NGOAI_TE',N'Tên tiền tệ',N'Currency name',N'Tên tiền tệ',N'Currency name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'XUAT_XU') UPDATE LANGUAGES SET VIETNAM=N'Xuất xứ', ENGLISH=N'Country of Origin', VIETNAM_OR=N'Xuất xứ', ENGLISH_OR=N'Country of Origin' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'XUAT_XU' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'XUAT_XU',N'Xuất xứ',N'Country of Origin',N'Xuất xứ',N'Country of Origin')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'TEN_HSX') UPDATE LANGUAGES SET VIETNAM=N'Tên hãng SX', ENGLISH=N'Manufacturer', VIETNAM_OR=N'Tên hãng SX', ENGLISH_OR=N'Manufacturer' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'TEN_HSX' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'TEN_HSX',N'Tên hãng SX',N'Manufacturer',N'Tên hãng SX',N'Manufacturer')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'lblTongSo') UPDATE LANGUAGES SET VIETNAM=N'Tổng', ENGLISH=N'Total', VIETNAM_OR=N'Tổng', ENGLISH_OR=N'Total' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'lblTongSo' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'lblTongSo',N'Tổng',N'Total',N'Tổng',N'Total')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'NGAY') UPDATE LANGUAGES SET VIETNAM=N'Từ ngày', ENGLISH=N'From', VIETNAM_OR=N'Từ ngày', ENGLISH_OR=N'From' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'NGAY' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'NGAY',N'Từ ngày',N'From',N'Từ ngày',N'From')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'MS_VI_TRI') UPDATE LANGUAGES SET VIETNAM=N'Vị trí', ENGLISH=N'Position', VIETNAM_OR=N'Vị trí', ENGLISH_OR=N'Position' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'MS_VI_TRI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'MS_VI_TRI',N'Vị trí',N'Position',N'Vị trí',N'Position')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'NGAY_NHAP') UPDATE LANGUAGES SET VIETNAM=N'Ngày nhập', ENGLISH=N'Receipt date', VIETNAM_OR=N'Ngày nhập', ENGLISH_OR=N'Receipt date' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'NGAY_NHAP' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'NGAY_NHAP',N'Ngày nhập',N'Receipt date',N'Ngày nhập',N'Receipt date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'ucTimThongTinPTTieuDe') UPDATE LANGUAGES SET VIETNAM=N'THÔNG TIN PHỤ TÙNG', ENGLISH=N'MATERIAL INFOMATION', VIETNAM_OR=N'THÔNG TIN PHỤ TÙNG', ENGLISH_OR=N'MATERIAL INFOMATION' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'ucTimThongTinPTTieuDe' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'ucTimThongTinPTTieuDe',N'THÔNG TIN PHỤ TÙNG',N'MATERIAL INFOMATION',N'THÔNG TIN PHỤ TÙNG',N'MATERIAL INFOMATION')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'NGAY') UPDATE LANGUAGES SET VIETNAM=N'Ngày', ENGLISH=N'Date', VIETNAM_OR=N'Ngày', ENGLISH_OR=N'Date' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'NGAY' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'NGAY',N'Ngày',N'Date',N'Ngày',N'Date')

IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD =N'GHI_CHU') UPDATE LANGUAGES SET VIETNAM=N'Ghi chú', ENGLISH=N'Note', VIETNAM_OR=N'Ghi chú', ENGLISH_OR=N'Note' WHERE FORM=N'FrmTimThongTinPT' AND KEYWORD=N'GHI_CHU' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'FrmTimThongTinPT',N'GHI_CHU',N'Ghi chú',N'Note',N'Ghi chú',N'Note')


IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'BAO_HANH_DEN_NGAY') UPDATE LANGUAGES SET VIETNAM=N'Bảo hành đến ngày', ENGLISH=N'Warranty to', VIETNAM_OR=N'Bảo hành đến ngày', ENGLISH_OR=N'Warranty to' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'BAO_HANH_DEN_NGAY' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'BAO_HANH_DEN_NGAY',N'Bảo hành đến ngày',N'Warranty to',N'Bảo hành đến ngày',N'Warranty to')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'ucTimThongTinPT') UPDATE LANGUAGES SET VIETNAM=N'Tìm thông tin phụ tùng trong kho', ENGLISH=N'Search for material', VIETNAM_OR=N'Tìm thông tin phụ tùng trong kho', ENGLISH_OR=N'Search for material' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'ucTimThongTinPT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'ucTimThongTinPT',N'Tìm thông tin phụ tùng trong kho',N'Search for material',N'Tìm thông tin phụ tùng trong kho',N'Search for material')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'lblVattu') UPDATE LANGUAGES SET VIETNAM=N'Vật tư', ENGLISH=N'Material', VIETNAM_OR=N'Vật tư', ENGLISH_OR=N'Material' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'lblVattu' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'lblVattu',N'Vật tư',N'Material',N'Vật tư',N'Material')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'MS_DH_NHAP_PT') UPDATE LANGUAGES SET VIETNAM=N'ĐH nhập PT', ENGLISH=N'Receipt No.', VIETNAM_OR=N'ĐH nhập PT', ENGLISH_OR=N'Receipt No.' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'MS_DH_NHAP_PT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'MS_DH_NHAP_PT',N'ĐH nhập PT',N'Receipt No.',N'ĐH nhập PT',N'Receipt No.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'MS_PT') UPDATE LANGUAGES SET VIETNAM=N'Mã VT PT', ENGLISH=N'Item ID', VIETNAM_OR=N'Mã VT PT', ENGLISH_OR=N'Item ID' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'MS_PT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'MS_PT',N'Mã VT PT',N'Item ID',N'Mã VT PT',N'Item ID')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'MS_PT_CTY') UPDATE LANGUAGES SET VIETNAM=N'Item code', ENGLISH=N'Item code', VIETNAM_OR=N'Item code', ENGLISH_OR=N'Item code' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'MS_PT_CTY' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'MS_PT_CTY',N'Item code',N'Item code',N'Item code',N'Item code')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'MS_PT_NCC') UPDATE LANGUAGES SET VIETNAM=N'Part No.', ENGLISH=N'Part No.', VIETNAM_OR=N'Part No.', ENGLISH_OR=N'Part No.' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'MS_PT_NCC' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'MS_PT_NCC',N'Part No.',N'Part No.',N'Part No.',N'Part No.')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'SL_VT') UPDATE LANGUAGES SET VIETNAM=N'Số lượng', ENGLISH=N'Qty', VIETNAM_OR=N'Số lượng', ENGLISH_OR=N'Qty' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'SL_VT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'SL_VT',N'Số lượng',N'Qty',N'Số lượng',N'Qty')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'TEN_KHO') UPDATE LANGUAGES SET VIETNAM=N'Kho', ENGLISH=N'Warehouse', VIETNAM_OR=N'Kho', ENGLISH_OR=N'Warehouse' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'TEN_KHO' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'TEN_KHO',N'Kho',N'Warehouse',N'Kho',N'Warehouse')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'TEN_PT') UPDATE LANGUAGES SET VIETNAM=N'Tên vật tư, phụ tùng', ENGLISH=N'Material name', VIETNAM_OR=N'Tên vật tư, phụ tùng', ENGLISH_OR=N'Material name' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'TEN_PT' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'TEN_PT',N'Tên vật tư, phụ tùng',N'Material name',N'Tên vật tư, phụ tùng',N'Material name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'TEN_VI_TRI') UPDATE LANGUAGES SET VIETNAM=N'Vị trí kho', ENGLISH=N'Position', VIETNAM_OR=N'Vị trí kho', ENGLISH_OR=N'Position' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'TEN_VI_TRI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'TEN_VI_TRI',N'Vị trí kho',N'Position',N'Vị trí kho',N'Position')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'QUY_CACH') UPDATE LANGUAGES SET VIETNAM=N'Quy cách', ENGLISH=N'Specification', VIETNAM_OR=N'Quy cách', ENGLISH_OR=N'Specification' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'QUY_CACH' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'QUY_CACH',N'Quy cách',N'Specification',N'Quy cách',N'Specification')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'DON_GIA') UPDATE LANGUAGES SET VIETNAM=N'Đơn giá', ENGLISH=N'Unit price', VIETNAM_OR=N'Đơn giá', ENGLISH_OR=N'Unit price' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'DON_GIA' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'DON_GIA',N'Đơn giá',N'Unit price',N'Đơn giá',N'Unit price')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'TEN_NGOAI_TE') UPDATE LANGUAGES SET VIETNAM=N'Tên tiền tệ', ENGLISH=N'Currency name', VIETNAM_OR=N'Tên tiền tệ', ENGLISH_OR=N'Currency name' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'TEN_NGOAI_TE' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'TEN_NGOAI_TE',N'Tên tiền tệ',N'Currency name',N'Tên tiền tệ',N'Currency name')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'XUAT_XU') UPDATE LANGUAGES SET VIETNAM=N'Xuất xứ', ENGLISH=N'Country of Origin', VIETNAM_OR=N'Xuất xứ', ENGLISH_OR=N'Country of Origin' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'XUAT_XU' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'XUAT_XU',N'Xuất xứ',N'Country of Origin',N'Xuất xứ',N'Country of Origin')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'TEN_HSX') UPDATE LANGUAGES SET VIETNAM=N'Tên hãng SX', ENGLISH=N'Manufacturer', VIETNAM_OR=N'Tên hãng SX', ENGLISH_OR=N'Manufacturer' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'TEN_HSX' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'TEN_HSX',N'Tên hãng SX',N'Manufacturer',N'Tên hãng SX',N'Manufacturer')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'lblTongSo') UPDATE LANGUAGES SET VIETNAM=N'Tổng', ENGLISH=N'Total', VIETNAM_OR=N'Tổng', ENGLISH_OR=N'Total' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'lblTongSo' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'lblTongSo',N'Tổng',N'Total',N'Tổng',N'Total')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'NGAY') UPDATE LANGUAGES SET VIETNAM=N'Từ ngày', ENGLISH=N'From', VIETNAM_OR=N'Từ ngày', ENGLISH_OR=N'From' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'NGAY' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'NGAY',N'Từ ngày',N'From',N'Từ ngày',N'From')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'MS_VI_TRI') UPDATE LANGUAGES SET VIETNAM=N'Vị trí', ENGLISH=N'Position', VIETNAM_OR=N'Vị trí', ENGLISH_OR=N'Position' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'MS_VI_TRI' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'MS_VI_TRI',N'Vị trí',N'Position',N'Vị trí',N'Position')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'NGAY_NHAP') UPDATE LANGUAGES SET VIETNAM=N'Ngày nhập', ENGLISH=N'Receipt date', VIETNAM_OR=N'Ngày nhập', ENGLISH_OR=N'Receipt date' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'NGAY_NHAP' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'NGAY_NHAP',N'Ngày nhập',N'Receipt date',N'Ngày nhập',N'Receipt date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'ucTimThongTinPTTieuDe') UPDATE LANGUAGES SET VIETNAM=N'THÔNG TIN PHỤ TÙNG', ENGLISH=N'MATERIAL INFOMATION', VIETNAM_OR=N'THÔNG TIN PHỤ TÙNG', ENGLISH_OR=N'MATERIAL INFOMATION' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'ucTimThongTinPTTieuDe' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'ucTimThongTinPTTieuDe',N'THÔNG TIN PHỤ TÙNG',N'MATERIAL INFOMATION',N'THÔNG TIN PHỤ TÙNG',N'MATERIAL INFOMATION')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'NGAY') UPDATE LANGUAGES SET VIETNAM=N'Ngày', ENGLISH=N'Date', VIETNAM_OR=N'Ngày', ENGLISH_OR=N'Date' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'NGAY' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'NGAY',N'Ngày',N'Date',N'Ngày',N'Date')
IF EXISTS (SELECT * FROM LANGUAGES WHERE FORM=N'ucTimThongTinPT' AND KEYWORD =N'GHI_CHU') UPDATE LANGUAGES SET VIETNAM=N'Ghi chú', ENGLISH=N'Note', VIETNAM_OR=N'Ghi chú', ENGLISH_OR=N'Note' WHERE FORM=N'ucTimThongTinPT' AND KEYWORD=N'GHI_CHU' ELSE INSERT INTO LANGUAGES(FORM,KEYWORD,VIETNAM,ENGLISH,VIETNAM_OR,ENGLISH_OR) VALUES(N'ucTimThongTinPT',N'GHI_CHU',N'Ghi chú',N'Note',N'Ghi chú',N'Note')