
DECLARE @Report nvarchar(500)
set @Report = N'ήΊͬΖΞͬΔ΢ΠΒͬΖΠͤͬ'

IF NOT EXISTS (SELECT * FROM LIC_REPORT WHERE REPORT_NAME = @Report)
INSERT INTO LIC_REPORT (REPORT_NAME,TYPE_LIC) VALUES ( @Report,N'̦')
	
GO

IF NOT EXISTS (SELECT * FROM DS_REPORT WHERE REPORT_NAME = N'ucTimThongTinPT')
INSERT INTO DS_REPORT(REPORT_NAME,TEN_REPORT_VIET,TEN_REPORT_ANH, LOAI_REPORT,STT,NOTE,NAMES,[TYPE],REPORT_MAIL)
VALUES(N'ucTimThongTinPT', N'Tìm vật tư phụ tùng trong kho',N'Inventory item search',10,6, N'Tìm vật tư phụ tùng trong kho','ucTimThongTinPT',2,1)

go
IF NOT EXISTS (SELECT * FROM NHOM_REPORT WHERE REPORT_NAME = N'ucTimThongTinPT')
INSERT INTO NHOM_REPORT(REPORT_NAME,GROUP_ID,QUYEN)
VALUES(N'ucTimThongTinPT', 1,N'Access')


	