


IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetSoDonHangSSD')
   exec('CREATE PROCEDURE GetSoDonHangSSD AS BEGIN SET NOCOUNT ON; END')
GO
--EXEC GetSoDonHangSSD 'PO', 'ADMIN'
ALTER PROC GetSoDonHangSSD
	@Key nvarchar(100) ,
	@User nvarchar(100) 
AS
BEGIN


DECLARE @PhongBan NVARCHAR(10) = ''
SELECT @PhongBan = ISNULL(T1.MS_CHUOI, '') FROM USERS T INNER JOIN [TO] T1 ON T.MS_TO = T1.MS_TO WHERE T.USERNAME = @User

DECLARE @DATE DATETIME 
SET @DATE  = CONVERT(DATETIME, GETDATE(),112)

DECLARE @STTMAX INT 
if(@PhongBan = '')
begin
		SELECT @STTMAX = MAX(CONVERT(INT,RIGHT (SO_DON_DAT_HANG,4)))  
		FROM DON_DAT_HANG WHERE  SUBSTRING(RIGHT(SO_DON_DAT_HANG, 10),1,6) = CONVERT(NVARCHAR(6) , @DATE , 112) and LEN(SO_DON_DAT_HANG) = 10
end
else
begin
		SELECT @STTMAX = MAX(CONVERT(INT,RIGHT (SO_DON_DAT_HANG,4)))  
		FROM DON_DAT_HANG WHERE (ISNULL(LEFT(SO_DON_DAT_HANG, 2), '') + SUBSTRING(RIGHT(SO_DON_DAT_HANG, 10),1,6)) = (@PhongBan + CONVERT(NVARCHAR(6) , @DATE , 112)) and LEN(SO_DON_DAT_HANG) = 12
end 
DECLARE @STT_NEXT NVARCHAR(10)
SET @STT_NEXT =  '0000' + CONVERT(NVARCHAR(4), ISNULL(@STTMAX, 0) + 1)
print(@PhongBan)

DECLARE @ID NVARCHAR(13)
SET @ID = @PhongBan +  CONVERT(NVARCHAR(6) , @DATE , 112) +  RIGHT (@STT_NEXT,4)

SELECT @ID

END


