IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'FN' AND name = 'WEB_GET_NGAY_KE_GSTT_ONLINE')
   exec('CREATE FUNCTION  dbo.WEB_GET_NGAY_KE_GSTT_ONLINE () RETURNS  DATETIME as Begin return null end')
GO
alter function [dbo].[WEB_GET_NGAY_KE_GSTT_ONLINE]
(
 @MS_MAY nvarchar(30),
 @MS_BO_PHAN NVARCHAR(30),
 @MS_TS_GSTT INT 
)
returns DATETIME
as 
begin
DECLARE @NGAY_BAO_TRI DATETIME
SET @NGAY_BAO_TRI = (SELECT TOP 1 MAX(CASE WHEN MS_DV_TG = 1 THEN DATEADD(DAY,T3.CHU_KY_DO,T1.NGAY_KT + T1.GIO_KT) 
WHEN MS_DV_TG = 2 THEN DATEADD(WEEK,T3.CHU_KY_DO,T1.NGAY_KT + T1.GIO_KT) 
WHEN MS_DV_TG = 3 THEN DATEADD(MONTH,T3.CHU_KY_DO,T1.NGAY_KT + T1.GIO_KT) 
WHEN MS_DV_TG = 4 THEN DATEADD(YEAR,T3.CHU_KY_DO,T1.NGAY_KT + T1.GIO_KT) 
ELSE T1.NGAY_KT + T1.GIO_KT END) AS NGAY_KE
FROM dbo.GIAM_SAT_TINH_TRANG AS T1 INNER JOIN
                      dbo.GIAM_SAT_TINH_TRANG_TS AS T2 ON T1.STT = T2.STT INNER JOIN
                      dbo.CAU_TRUC_THIET_BI_TS_GSTT AS T3 ON T2.MS_MAY = T3.MS_MAY AND T2.MS_BO_PHAN = T3.MS_BO_PHAN AND T2.MS_TS_GSTT = T3.MS_TS_GSTT
WHERE T2.MS_MAY = @MS_MAY AND  T2.MS_BO_PHAN = @MS_BO_PHAN AND T2.MS_TS_GSTT = @MS_TS_GSTT)
return @NGAY_BAO_TRI
end
