--CheckTheParametersDue
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spCheckTheParametersDue')
   exec('CREATE PROCEDURE spCheckTheParametersDue AS BEGIN SET NOCOUNT ON; END')
GO

ALTER PROC spCheckTheParametersDue
AS
BEGIN

SELECT MAX(CASE WHEN MS_DV_TG = 1 THEN DATEADD(DAY,T3.CHU_KY_DO,T1.NGAY_KT + T1.GIO_KT) 
WHEN MS_DV_TG = 2 THEN DATEADD(WEEK,T3.CHU_KY_DO,T1.NGAY_KT + T1.GIO_KT) 
WHEN MS_DV_TG = 3 THEN DATEADD(MONTH,T3.CHU_KY_DO,T1.NGAY_KT + T1.GIO_KT) 
WHEN MS_DV_TG = 4 THEN DATEADD(YEAR,T3.CHU_KY_DO,T1.NGAY_KT + T1.GIO_KT) 
ELSE T1.NGAY_KT + T1.GIO_KT END) AS NGAY_KE, T2.MS_MAY INTO #TMP
FROM dbo.GIAM_SAT_TINH_TRANG AS T1 
INNER JOIN dbo.GIAM_SAT_TINH_TRANG_TS AS T2 ON T1.STT = T2.STT
INNER JOIN dbo.CAU_TRUC_THIET_BI_TS_GSTT AS T3 ON 
						T2.MS_MAY = T3.MS_MAY 
						AND T2.MS_BO_PHAN = T3.MS_BO_PHAN 
						AND T2.MS_TS_GSTT = T3.MS_TS_GSTT
GROUP BY T2.MS_MAY

SELECT DISTINCT T.MS_MAY, T1.TEN_MAY FROM #TMP T INNER JOIN MAY T1 ON T.MS_MAY = T1.MS_MAY WHERE T.NGAY_KE <= GETDATE()
END
