IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetDeviceInfo')
exec('CREATE PROCEDURE spGetDeviceInfo AS BEGIN SET NOCOUNT ON; END')
GO
ALTER PROCEDURE [dbo].[spGetDeviceInfo]	
	@NNgu int = 0,
	@username NVARCHAR(100) ='admin'
AS
BEGIN
SELECT * INTO #MAY FROM dbo.MGetMayUserNgay(GETDATE(),	@username,'-1',-1,-1,'-1','-1','-1',@NNgu) 
DECLARE @DangSuDung NVARCHAR (MAX) = N'Đang sử dụng'
DECLARE @ThanhLy NVARCHAR (MAX) = N'Không sử dụng/thanh lý'
DECLARE @ThieuDL NVARCHAR (MAX) = N'Thiếu dữ liệu'
SELECT TOP 1 @DangSuDung = CASE @NNgu WHEN 0 THEN TEN_HIEN_TRANG WHEN 1 THEN TEN_HIEN_TRANG_ANH  END FROM HIEN_TRANG_SU_DUNG_MAY WHERE MS_HIEN_TRANG = 2
SELECT TOP 1 @ThanhLy = CASE @NNgu WHEN 0 THEN TEN_HIEN_TRANG WHEN 1 THEN TEN_HIEN_TRANG_ANH  END FROM HIEN_TRANG_SU_DUNG_MAY WHERE MS_HIEN_TRANG = 3
DECLARE @TDangSuDung INT
DECLARE @TThanhLy INT
DECLARE @TThieuDL INT
DECLARE @TongMay INT
SELECT DISTINCT MS_HE_THONG AS MS_HT, MS_MAY, A.MS_HIEN_TRANG
INTO #TMP FROM #MAY A 
UNION
SELECT DISTINCT NULL AS MS_HT,MS_MAY,MS_HIEN_TRANG
FROM dbo.MAY A
WHERE
A.MS_MAY NOT IN (SELECT MS_MAY FROM MAY_BO_PHAN_CHIU_PHI) OR 
A.MS_MAY NOT IN (SELECT MS_MAY FROM MAY_HE_THONG) OR 
A.MS_MAY NOT IN (SELECT MS_MAY FROM MAY_NHA_XUONG) OR A.MS_NHOM_MAY IS NULL 
OR A.MS_HIEN_TRANG IS NULL
OR A.MS_MAY  IN (SELECT MS_MAY FROM MAY_BO_PHAN_CHIU_PHI WHERE MS_BP_CHIU_PHI IS NULL) OR 
A.MS_MAY  IN (SELECT MS_MAY FROM MAY_HE_THONG  WHERE MS_HE_THONG IS NULL) OR 
A.MS_MAY  IN (SELECT MS_MAY FROM MAY_NHA_XUONG  WHERE MS_N_XUONG IS NULL)
SELECT @TDangSuDung = ISNULL(COUNT(*), 0) FROM #TMP WHERE MS_HIEN_TRANG = 2 AND MS_HT IS NOT NULL
SELECT @TThieuDL =  ISNULL(COUNT(*), 0) FROM #TMP  WHERE	 MS_HT IS  NULL
SELECT @TDangSuDung =  ISNULL(COUNT(*), 0) FROM #TMP WHERE MS_HIEN_TRANG = 2 AND MS_HT IS NOT NULL
SELECT @TThanhLy =  ISNULL(COUNT(*), 0) FROM #TMP WHERE (MS_HIEN_TRANG = 3 OR MS_HIEN_TRANG = 4) AND MS_HT IS NOT NULL
 SET FMTONLY OFF
 DECLARE @tblResults TABLE(
 name NVARCHAR(100),
 y FLOAT,
 color NVARCHAR(100)
 )

INSERT INTO @tblResults (name, y, color)
VALUES ( @DangSuDung ,case @TongMay when 0 then 0 else (@TDangSuDung) end, N'#20b2aa'),
( @ThanhLy ,case @TongMay when 0 then 0 else (@TThanhLy ) end,N'#003366'),
( @ThieuDL ,case @TongMay when 0 then 0 else (@TThieuDL) end, N'#b2c831')
SELECT  * FROM @tblResults
END
