IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetPhuTungTheoMayWeb') 
exec('CREATE PROCEDURE GetPhuTungTheoMayWeb AS BEGIN SET NOCOUNT ON; END')
GO
ALTER PROCEDURE [dbo].[GetPhuTungTheoMayWeb]
	@MS_MAY NVARCHAR(30) ='BOM-02-01',
	@STT INT =160,
	@STT_VAN_DE INT =242
AS
BEGIN
SELECT CAU_TRUC_THIET_BI.MS_MAY, dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN,dbo.CAU_TRUC_THIET_BI.TEN_BO_PHAN, dbo.IC_PHU_TUNG.MS_PT,
CAU_TRUC_THIET_BI_PHU_TUNG.MS_VI_TRI_PT,TEN_PT,@STT_VAN_DE AS STT_VAN_DE
FROM         dbo.CAU_TRUC_THIET_BI  
						INNER JOIN dbo.CAU_TRUC_THIET_BI_PHU_TUNG ON CAU_TRUC_THIET_BI_PHU_TUNG.MS_MAY = CAU_TRUC_THIET_BI.MS_MAY AND CAU_TRUC_THIET_BI_PHU_TUNG.MS_BO_PHAN = CAU_TRUC_THIET_BI.MS_BO_PHAN
					  INNER JOIN dbo.IC_PHU_TUNG ON IC_PHU_TUNG.MS_PT = CAU_TRUC_THIET_BI_PHU_TUNG.MS_PT
WHERE dbo.CAU_TRUC_THIET_BI.MS_MAY = @MS_MAY 
AND NOT EXISTS (SELECT * FROM dbo.YEU_CAU_NSD_CHI_TIET_BO_PHAN t1 WHERE STT = @STT AND  dbo.CAU_TRUC_THIET_BI.MS_MAY= t1.MS_MAY AND dbo.CAU_TRUC_THIET_BI.MS_BO_PHAN = t1.MS_BO_PHAN AND IC_PHU_TUNG.MS_PT = t1.MS_PT)
END





