IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'SP_PHIEU_BAO_TRI_XOA')
exec('CREATE PROCEDURE SP_PHIEU_BAO_TRI_XOA AS BEGIN SET NOCOUNT ON; END')
GO
ALTER PROCEDURE [dbo].[SP_PHIEU_BAO_TRI_XOA]
	@workOrderID NVARCHAR(20) ='WO-201901000009'
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @res_code INT = 0
	BEGIN
		DELETE dbo.PHIEU_BAO_TRI_TINH_TRANG_CHI_TIET WHERE  MS_PHIEU_BAO_TRI = @workOrderID
		DELETE dbo.PHIEU_BAO_TRI_TINH_TRANG WHERE  MS_PHIEU_BAO_TRI = @workOrderID
		DELETE dbo.PHIEU_BAO_TRI_CONG_VIEC WHERE MS_PHIEU_BAO_TRI = @workOrderID
		DELETE dbo.PHIEU_BAO_TRI WHERE MS_PHIEU_BAO_TRI = @workOrderID
		SET @res_code = 1
	END
	SELECT  @res_code ResponseCode
END