

--exec [H_GET_RPT_CONG_VIEC_BAO_TRI] 'WO-201006006'
ALTER procedure [dbo].[H_GET_RPT_CONG_VIEC_BAO_TRI]
@MS_PHIEU_BAO_TRI AS NVARCHAR(50) ='WO-202002000652'
AS
IF EXISTS (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES  WHERE TABLE_NAME = 'rptCONG_VIEC_BAO_TRI')
	begin
   	DROP TABLE rptCONG_VIEC_BAO_TRI
	end
	
SELECT * 
FROM(
SELECT TEN_BAC_THO,MO_TA_CV,TEN_BP,SO_GIO_KH,NGAY_HOAN_THANH,NOI_NGOAI,THAO_TAC, TIEU_CHUAN_KT
FROM 
(
SELECT   B.BAC_THO AS MS_BAC_THO,MO_TA_CV,TEN_BO_PHAN as TEN_BP,SO_GIO_KH,NGAY_HOAN_THANH,
CASE ISNULL(STT_SERVICE,0) WHEN 0 THEN 'Y' ELSE 'TN' END AS NOI_NGOAI,
CASE ISNULL(B.THAO_TAC,'') WHEN '' THEN C.THAO_TAC ELSE  ISNULL(B.THAO_TAC,'') END AS THAO_TAC,
CASE ISNULL(B.TIEU_CHUAN_KT,'') WHEN '' THEN C.TIEU_CHUAN_KT ELSE  ISNULL(B.TIEU_CHUAN_KT,'') END AS TIEU_CHUAN_KT
FROM PHIEU_BAO_TRI A INNER JOIN PHIEU_BAO_TRI_CONG_VIEC B ON A.MS_PHIEU_BAO_TRI = B.MS_PHIEU_BAO_TRI INNER JOIN
CONG_VIEC C ON B.MS_CV = C.MS_CV INNER JOIN CAU_TRUC_THIET_BI D ON A.MS_MAY = D.MS_MAY AND B.MS_BO_PHAN=D.MS_BO_PHAN
WHERE A.MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI
) TEMP LEFT JOIN BAC_THO ON TEMP.MS_BAC_THO =BAC_THO.MS_BAC_THO 
UNION
SELECT   NULL,TEN_CONG_VIEC,NULL,SO_GIO_KH,NGAY_HOAN_THANH,'N' , NULL,NULL
FROM         PHIEU_BAO_TRI INNER JOIN PHIEU_BAO_TRI_CV_PHU_TRO ON PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI = PHIEU_BAO_TRI_CV_PHU_TRO.MS_PHIEU_BAO_TRI
WHERE PHIEU_BAO_TRI.MS_PHIEU_BAO_TRI=@MS_PHIEU_BAO_TRI) AS P1

