IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetTinhHinhTonKhoCS')
   exec('CREATE PROCEDURE GetTinhHinhTonKhoCS AS BEGIN SET NOCOUNT ON; END')
GO

--SELECT * FROM IC_KHO
--EXEC GetTinhHinhTonKhoCS 6,'-1',-1,0,N'Hết kho', N'Thiếu',N'Đủ',N'Dư',N'ALL0', '-1'
ALTER PROCEDURE [dbo].[GetTinhHinhTonKhoCS]
		@MsKho int, 
		@MsLVTu nvarchar(10),
		@MsClass int,
		@NNgu int,
		@Het nvarchar(500),
		@Thieu nvarchar(500),
		@VuaDu nvarchar(500),
		@Du nvarchar(500),
		@All0 nvarchar(500),
		@UserName nvarchar(50)
as
--=0			Hết kho 0
--0<TT<min			Thiếu 1
--min<=TT<=max			Đủ 2
--Max<TT			Dư 3
--min = 0 max = 0 tt = 0 TON MIN = 0 TON = 0 TON MAX = 0

SELECT A.MS_KHO , TEN_KHO INTO #KHO_USER FROM IC_KHO A INNER JOIN NHOM_KHO B ON A.MS_KHO = B.MS_KHO INNER JOIN USERS C ON B.GROUP_ID = C.GROUP_ID
		WHERE (USERNAME = @UserName OR @UserName = '-1')

SELECT     PT.MS_PT, 
PT.MS_PT_CTY, PT.TEN_PT, PT.TEN_PT_VIET, PT.MS_PT_NCC, PT.QUY_CACH, T2.TEN_HSX, T4.TEN_CLASS, 
		ISNULL(T1.TTT, 0) AS TON_TOI_THIEU, ISNULL(T1.TTD, 0) AS TON_KHO_MAX, ISNULL(A.TON_TT, 0) AS TON_TT,
		PT.SO_NGAY_DAT_MUA_HANG, 
      CASE @NNgu WHEN 0 THEN TEN_1 WHEN 1 THEN TEN_2 ELSE TEN_3 END AS DVT, 
      CONVERT(nvarchar(500), 
      CASE WHEN ISNULL(TON_TT, 0) <= 0 THEN 
		CASE WHEN ISNULL(TTT, 0) = 0 AND ISNULL(TTD, 0) = 0 AND ISNULL(TON_TT, 0) = 0 THEN @All0 ELSE @Het END
		  WHEN 0 < ISNULL(TON_TT, 0) AND ISNULL(TON_TT, 0) < ISNULL(TTT, 0) THEN @Thieu 
		  WHEN ISNULL(TTT, 0) <= ISNULL(TON_TT, 0) AND ISNULL(TON_TT, 0) <= ISNULL(TTD, 0) THEN @VuaDu 
		  WHEN ISNULL(TTD, 0) < ISNULL(TON_TT,0) THEN @Du 		  
		  END
      ) AS TINH_TRANG, 
      CONVERT(INT, 
      CASE 
		WHEN ISNULL(TON_TT, 0) <= 0 THEN 
			CASE WHEN ISNULL(TTT, 0) = 0 AND ISNULL(TTD, 0) = 0 AND ISNULL(TON_TT, 0) = 0 THEN 4 ELSE 0 END 
		WHEN 0 < ISNULL(TON_TT, 0) AND ISNULL(TON_TT, 0) < ISNULL(TTT, 0) THEN 1 
		WHEN ISNULL(TTT, 0) <= ISNULL(TON_TT, 0) AND ISNULL(TON_TT, 0) <= ISNULL(TTD, 0) THEN 2 
		WHEN ISNULL(TTD, 0) < ISNULL(TON_TT, 0) THEN 3 
		END) AS TT
FROM IC_PHU_TUNG PT INNER JOIN 
(
	SELECT A.MS_PT, 
	CASE THEO_KHO WHEN 1 THEN ISNULL(TTT,0) ELSE ISNULL(TON_TOI_THIEU,0) END AS TTT, 
	CASE THEO_KHO WHEN 1 THEN ISNULL(TTD,0) ELSE ISNULL(TON_KHO_MAX,0) END AS TTD  
	FROM IC_PHU_TUNG A LEFT JOIN 
	(SELECT MS_PT, SUM(TON_TOI_THIEU) AS TTT, SUM(TON_KHO_MAX) AS TTD FROM IC_PHU_TUNG_KHO A INNER JOIN #KHO_USER B ON A.MS_KHO = B.MS_KHO
		WHERE (@MsKho = - 1 OR A.MS_KHO = @MsKho) GROUP BY MS_PT) B ON A.MS_PT = B.MS_PT
			
) AS T1  ON PT.MS_PT = T1.MS_PT INNER JOIN
(SELECT     C.MS_PT, SUM(SL_VT) AS TON_TT
	FROM          dbo.VI_TRI_KHO_VAT_TU A INNER JOIN #KHO_USER B ON A.MS_KHO = B.MS_KHO INNER JOIN IC_PHU_TUNG C ON A.MS_PT = C.MS_PT
	WHERE      (@MsKho = - 1 OR A.MS_KHO = @MsKho) GROUP BY C.MS_PT                           
) AS A ON A.MS_PT = PT.MS_PT 

LEFT JOIN
                      dbo.HANG_SAN_XUAT AS T2 ON PT.MS_HSX = T2.MS_HSX LEFT OUTER JOIN
                      dbo.DON_VI_TINH AS T3 ON PT.DVT = T3.DVT LEFT OUTER JOIN
                      dbo.CLASS_VT AS T4 ON PT.MS_CLASS = T4.MS_CLASS 
WHERE ('-1' = @MsLVTu OR PT.MS_LOAI_VT = @MsLVTu) AND (-1 = @MsClass OR PT.MS_CLASS = @MsClass)

